<template>
  <div class="main">
    <div class="email_box">
      <router-link :to="{ name: 'Index'}" class="email-logo">
        <img :src="this.LogoPath" class="l_logo" />
      </router-link>
      <!--course-->
      <div class="email_tip">
        <div v-if="IsSuccess == true">
          <h2>{{$t('message.verify_email_address')}}</h2>
          <p>{{$t('message.verify_membership_account')}}：{{Acct}}</p>
          <p>{{$t('message.verify_mail_box')}}：{{Email}}</p>
          <p class="tip">({{$t('message.verify_mailbox_retrieval')}})</p>
          <router-link :to="{ name: 'Index'}" class="btn">{{$t('message.top_login')}}</router-link>
        </div>
        <div v-if="IsSuccess == false">
          <h2>{{$t('message.verify_expired')}}</h2>
          <p>{{$t('message.verify_revalidation')}}</p>
          <router-link :to="{ name: 'Index'}" class="btn">{{$t('message.verify_home_page')}}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';

export default {
  data () {
    return {
      // 驗證成功與否的旗標
      IsSuccess: undefined,

      // 帳號
      Acct: undefined,
      // Email
      Email: undefined,
      LogoPath: localStorage.getItem('LogoImgPath')
    };
  },

  mounted: function () {
    this.Init();
  },

  methods: {
    // 初始化
    Init: async function () {
      const dataObj = {
        VerifyEmailCode: this.$route.params.VerifyEmailCode
      };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await PersonalCenterService.EmailVerify_Verify(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (retData.Ret == 0) {
        // 成功
        this.IsSuccess = true;
        this.Acct = retData.Data.Acct;
        this.Email = retData.Data.Email;
      } else {
        // 失敗
        this.IsSuccess = false;
      }
    } // end Init
  }
};
</script>
