<template>
  <div>
    <!--优惠活动-->
    <div
      class="activity-content"
      :class="'activity_' + $MessageLang"
      :style="{
        background: $BannerPath.Images.ActivityBgImages
          ? 'url(' +
            $ResourceCDN +
            '/EditionImg/LamborFormal/images/' +
            $MessageLang +
            $BannerPath.Images.ActivityBgImages +
            ')no-repeat'
          : ''
      }"
    >
      <div
        class="activity-content-banner ng-scope"
        :style="{
          background: $BannerPath.Images.ActivityImages
            ? 'url(' +
              $ResourceCDN +
              '/EditionImg/LamborFormal/images' +
              $BannerPath.Images.ActivityImages +
              ')no-repeat'
            : ''
        }"
      >
        <!-- <video
          :class="'sy'+$VersionNumber+'-activity-video'"
          :src="$ResourceCDN+$BannerPath.Video.ActivityVideo"
          class="activity-banner-video"
          autoplay="autoplay"
          width="1900"
          loop="loop"
          muted
        ></video>-->
        <!-- <video
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/activityList.mp4'"
          class="sy15-activity-video activity-banner-video"
          autoplay="autoplay"
          width="100%"
          loop="loop"
          muted
        ></video>
        <video
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/activity.mp4'"
          class="activity-banner-video sy28-activity-video"
          autoplay="autoplay"
          width="100%"
          height="1200"
          loop="loop"
          muted
        ></video>-->
        <div class="index-content">
          <img src alt class="figure-img" />
          <img src alt class="text-img" />
          <div class="enter-btn">
            <a class="txt">{{ $t("message.understanding_details") }}</a>
          </div>
        </div>
      </div>
      <div class="activity-change-animation">
        <div class="activity-change-index">
          <div class="activity-page-transition">
            <div class="activity-page">
              <div class="activity-main-bg">
                <div class="activity-page-cont">
                  <activity-list-banner :GetCurrentPageData="CurrentPageData"></activity-list-banner>
                  <!--優惠活動內容-->
                  <activity-list-content :ActivityList="this.ActivityList"></activity-list-content>
                  <!--分頁-->
                  <activity-list-paging
                    :PageCount="PageInfo.PageCount"
                    v-show="this.ActivityList != ''"
                  ></activity-list-paging>
                </div>
              </div>
            </div>
            <div class="activity-popup-main" style="display: none;" id="a-p-main">
              <div class="activity-popup-bg"></div>
              <div class="activity-popup-content">
                <span class="activity-close"></span>
                <a href="javascript:void(0);" class="activity-popup-back">{{ $t("message.activity_return") }}</a>
                <div class="activity-popup-page" id="activity-scroll-box">
                  <div v-if="showID === 0">
                    <h3 class="activity-popup-title">{{ PromotionDetail.Name }}</h3>
                    <p class="activity-popup-time">
                      {{ $t("message.activity_activity_time") }}：
                      {{ PromotionDetail.StartTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }} -
                      {{ PromotionDetail.EndTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }} (GMT+8)
                    </p>
                    <div class="activity-popup-detail">
                      <section class="detail-img">
                        <img v-if="ActLogoFlag == true" :src="Resource + PromotionDetail.ActLogo" />
                      </section>
                      <section class="detail-text">
                        <p id="a-p-main-detail"></p>
                      </section>
                    </div>
                  </div>
                  <div v-if="showID === 1">
                    <h3 class="activity-popup-title">{{ $t("message.activity_new_reports") }}</h3>
                    <div class="activity-popup-detail">
                      <section class="detail-img">
                        <img
                          :src="
                            $ResourceCDN +
                            '/EditionImg/LamborFormal/images/web60/activity/first_activity.jpg?VersionCode'
                          "
                        />
                      </section>
                      <section class="detail-text">
                        <p>{{ $t("message.activity_cash_rebate") }}</p>
                        <p>{{ $t("message.activity_notice") }}。</p>
                      </section>
                    </div>
                  </div>
                  <div v-if="showID === 2">
                    <h3 class="activity-popup-title">{{ $t("message.activity_waking_ned") }}</h3>
                    <div class="activity-popup-detail">
                      <section class="detail-img">
                        <img
                          :src="
                            $ResourceCDN +
                            '/EditionImg/LamborFormal/images/web60/activity/orther_activity.jpg?VersionCode'
                          "
                        />
                      </section>
                      <section class="detail-text">
                        <p>{{ $t("message.pound_ceremony") }}</p>
                        <p>{{ $t("message.activity_notice") }}。</p>
                      </section>
                    </div>
                  </div>
                  <!--news-neirong-text-->
                  <!--登陆后进入充值页面 2018.09.21 SeyoChen -->
                  <section class="activity-btn-Popup">
                    <a class="activity-btn" v-show="OtherActivityData" v-on:click="ToRechargePage(1)">{{
                      $t("message.activity_enter_deposits")
                    }}</a>
                    <a class="activity-btn" v-show="!OtherActivityData" @click="ToRechargePage(1)">{{
                      $t("message.activity_enter_deposits")
                    }}</a>
                  </section>
                  <section class="activity-btn-ShowHide">
                    <a class="activity-btn" v-show="OtherActivityData" v-on:click="ToRechargePage(1)">{{
                      $t("message.activity_enter_deposits")
                    }}</a>
                    <a class="activity-btn" v-show="!OtherActivityData" @click="ToRechargePage(1)">{{
                      $t("message.activity_enter_deposits")
                    }}</a>
                  </section>
                  <!--news-neirong-text-->
                </div>
                <!--popup-news-content-->
              </div>
              <!--popup-content-->
            </div>
          </div>
        </div>
      </div>
      <!--弹窗选择支付方式 2018.09.21-->
      <div id="informationForm" class="pub_alert_box tel_alert_box re_h" style="display: none; width: 350px;">
        <span class="cover"></span>
        <form name="InformationForm" novalidate="novalidate">
          <div class="descr_title no_line">
            <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
          </div>
          <div class="descr_p">
            <p class="p_blue">{{ $t("message.activity_deposit_method") }}</p>
            <p>{{ $t("message.activity_optimal") }}</p>
          </div>
          <div class="alert_btn_both">
            <a class="btn1" style="margin: 10px auto;" href="javascript:void(0);" @click="ToRechargePage(1)">{{
              $t("message.member_deposit_now")
            }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ActivityList } from "@/mod/k19/assets/scripts/comTest/main/activity/activityList.js"
import { ActivityListOwn } from "@/assets/scripts/comTest/main/activity/activityListOwn.js"
import { ActivityDetails } from "@/mod/k19/assets/scripts/comTest/main/activity/activityListDetails.js"
export default {
  mixins: [ActivityList, ActivityListOwn, ActivityDetails]
}
</script>
