<template>
  <div class="rightCommon-content wcpa-right-content">
    <div class="wcpa-right-contMain">
      <h2 class="wcpa-contMain-title">
        {{ $t("message.tutorial_common_problem") }}
        <p v-if="$MessageLang != 'en'">COMMON PROBLEM</p>
      </h2>
      <div class="wcpa-contMain-nav">
        <span class="wcpa-contMain-navLi navActive">{{ $t("message.tutorial_common_problem") }}</span>
      </div>
      <div class="wcpa-contMain-navCon">
        <!-- 常见问题 -->
        <div class="wcpa-navCon-matter">
          <div class="wcpa-navCon-tab">
            <span
              class="wcpa-navCon-tabLi"
              v-for="(li, index) in matterNavs"
              :class="{ navActive: matterIndex == index }"
              @click="matterTab(index)"
            >
              <span class="tabLi-name">{{ li }}</span>
              <span class="wcpa-navCon-tabLine">
                <img :src="$ResourceCDN + '/EditionImg/lambor34.0/images/web/w_69.png'" />
              </span>
            </span>
          </div>
          <div class="wcpa-matter-content">
            <!--注册问题-->
            <ul v-if="matterIndex == 0">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.tutorial_register_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.tutorial_register_Description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.tutorial_register_pay_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.tutorial_register_descriptions") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.tutorial_points_attention") }}？</h2>
                <p class="wcpa-matter-listText">{{ $t("message.tutorial_register_attention") }}</p>
              </li>
            </ul>
            <!--修改个人信息-->
            <ul v-if="matterIndex == 1">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.information_data_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.information_data_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.information_password_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.information_password_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.information_Withdrawal_password_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.information_Withdrawal_password_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.information_name_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.information_name_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.information_forget_password_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.information_forget_password_description") }}</p>
              </li>
            </ul>
            <!--充值相关-->
            <ul v-if="matterIndex == 2">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.recharge_way_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.recharge_way_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.recharge_handlingfee_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.recharge_handlingfee_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.recharge_amount_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.recharge_amount_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.recharge_attention_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.recharge_attention_description1") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.recharge_attention_description2") }}</p>
              </li>
            </ul>
            <!--钱包相关问题-->
            <ul v-if="matterIndex == 3">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.wallet_balance_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.wallet_balance_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.wallet_conversion_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.wallet_conversion_description") }}</p>
              </li>
            </ul>
            <!--取款相关问题-->
            <ul v-if="matterIndex == 4">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.withdrawal_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.withdrawal_fail_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description1") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description2") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description3") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description4") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_fail_description5") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.withdrawal_attention_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_attention_description") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_attention_description1") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_attention_description2") }}</p>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_attention_description3") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.withdrawal_handlingfee_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_handlingfee_description") }}。</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.withdrawal_arrivaltime_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.withdrawal_arrivaltime_description") }}</p>
              </li>
            </ul>
            <!--查询相关问题-->
            <ul v-if="matterIndex == 5">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.inquire_transaction_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.inquire_transaction_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.inquire_financial_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.inquire_financial_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.inquire_bet_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.inquire_bet_description") }}</p>
              </li>
            </ul>
            <!--优惠相关问题-->
            <ul v-if="matterIndex == 6">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.activity_update_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.activity_update_description") }}</p>
              </li>
            </ul>
            <!--游戏问题-->
            <ul v-if="matterIndex == 7">
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.play_start_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.play_start_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.play_dropped_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.play_dropped_description") }}</p>
              </li>
              <li class="wcpa-matter-list">
                <h2 class="wcpa-matter-listTitle">{{ $t("message.play_loadflash_problem") }}</h2>
                <p class="wcpa-matter-listText">{{ $t("message.play_loadflash_description") }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { tutorial } from "@/mod/k19/assets/scripts/comTest/main/tutorial/tutorial"

export default {
  mixins: [tutorial]
}
</script>
