<template>
  <div
    class="poker-content"
    :class="'sy'+$VersionNumber+'-poker-wrap'+ ' poker_' +$MessageLang "
    :style="{background:$BannerPath.Images.PokerBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/'+ $MessageLang + $BannerPath.Images.PokerBgImages + ')no-repeat':'' }"
  >
    <div
      class="poker-content-banner"
      style="margin-top:84px"
      :style="{background:$BannerPath.Images.PokerImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images' + $BannerPath.Images.PokerImages + ')no-repeat':'' }"
    >
      <video
        v-if="$BannerPath.Video.PokerVideo"
        :class="'sy'+$VersionNumber+'-poker-video'"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+$MessageLang+$BannerPath.Video.PokerVideo"
        class="poker-content-video"
        autoplay="autoplay"
        width="1920"
        loop="loop"
        muted
      ></video>
      <!-- <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/lottery.mp4'"
        class="poker-content-video sy28-poker-video"
        autoplay="autoplay"
        width="100%"
        height="1000"
        loop="loop"
        muted
      ></video>-->
    </div>
    <div class="poker-logo-page">
      <div class="poker-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <div class="poker-main-content">
        <div class="poker-logo-top">
          <h2>{{$t('message.nav_poker')}}</h2>
          <p>POKER GAMES</p>
        </div>
        <poker-content
          ref="pokerContent"
          :pageSize="pageSize"
          :PageCount="PageCount"
          @PlayGame="PlayGame"
        ></poker-content>
        <!-- <footer class="poker-logo-footer"></footer> -->
      </div>
    </div>
  </div>
</template>

<script>
import { poker } from '@/assets/scripts/comTest/main/poker/poker.js';
import { PokerKingLong } from '@/assets/scripts/comTest/main/poker/pokerKingLong.js';
export default {
  mixins: [poker, PokerKingLong]
};
</script>
