<template>
  <!--修改手機號碼彈出窗-->
  <div id="TemplateDataForm" class="alert_box_content TemplateData_alert_box re_h">
    <span class="alert_close" @click="HideTemplateData()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_reminder')}}
      </h2>
      <div class="TemplateData-content">
        <p v-if="this.radioOne">
          您已选择占成+佣金方案模板，
          <br />是否确定重新选择代理待遇？
        </p>
        <p v-if="this.radioTwo">
          您已选择佣金方案模板，
          <br />是否确定重新选择代理待遇？
        </p>
      </div>
      <div class="scheme-cont-btn">
        <a
          href="javascript:;"
          class="confirmBtn"
          @click="TemplateSumbit()"
        >{{$t('message.login_confirm')}}</a>
        <a
          href="javascript:;"
          class="cancelBtn"
          @click="HideTemplateData()"
        >{{$t('message.member_cancel')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {};
  },
  props: {
    radioOne: undefined,
    radioTwo: undefined
  },
  mounted: function () {},
  methods: {
    // 開啟彈窗
    ShowTemplateData: function () {
      CommUtility.WebShowAlertboxForm('TemplateDataForm');
    }, // end ShowEditPhone

    // 關閉彈窗
    HideTemplateData: function () {
      CommUtility.WebClosealertboxForm('TemplateDataForm');
    }, // end HideTemplateData
    TemplateSumbit: function () {
      if (this.radioOne) {
        const obj1 = {
          radioNum: '2',
          TemplateAssignmentFlag: false
        };
        EventBus.$emit('TreatmentChoice', obj1);
      }
      if (this.radioTwo) {
        const obj2 = {
          radioNum: '1',
          TemplateAssignmentFlag: false
        };
        EventBus.$emit('TreatmentChoice', obj2);
      }

      this.HideTemplateData();
    }
  }
};
</script>
