.sport-logo-lists {
    font-size: 0;
    width: 1200px;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;

    li {
        display: block;
        float: left;
        position: relative;
        margin: 0 20px 28px 0;
        width: 380px;
        height: 158px;
    }

    .sport-logo-wrap {
        background: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 158px;

        &:hover {
            .rotate-after1 {
                display: block;
                cursor: pointer;
            }
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }

        a {
            width: 320px;
            height: 130px;
            line-height: 130px;
            display: block;
        }

        img {
            width: 75%;
            height: auto;
            position: relative;
            top: 27px;
            left: -40px;
        }

        .rotate-after1 {
            position: absolute;
            top: 0;
            display: none;
            background: rgba(0, 0, 0, .4);
            text-align: center;
            border-radius: 2px;
            width: 100%;
            height: 100%;

            a {
                font-size: 16px;
                position: relative;
                top: 14%;
                transform: translateY(-50%);
                padding: 8px 22px;
                border-radius: 20px;
                display: inline;
                line-height: normal;
                border:2px solid #fff;
                color:#fff;
            }
        }
    }
}
