<template>
  <div class="athletics-content">
    <div class="athletics-cont-banner">
      <athletics-content
        :athleticList="athleticList"
        @athleticsEnterGame="athleticsEnterGame"
        :WattingGame="WattingGame"
      ></athletics-content>
    </div>
    <!-- <div>
      <athletics-firm :GetCurrentPageData="CurrentPageData" @getGameNum="setGameNum"></athletics-firm>
      <athletics-table :getGameNum="GameNum" :LoadMainPageDataModel="LoadMainPageDataModel"></athletics-table>
    </div>-->
  </div>
</template>

<script>
import athletics from "@/mod/k14/assets/scripts/comTest/main/athletics/athletics.js"
export default {
  mixins: [athletics]
}
</script>
