<template>
  <div class="electronic-mian">
    <game-firm :GetCurrentPageData="CurrentPageData"
               @getGameNum="setGameNum"
               @loadStatus="loadStatus"
               ></game-firm>
    <game-table  ref="gameTable"
                :getGameNum="GameNum"
                :PageInfo="PageInfo"
                :LoadMainPageDataModel="LoadMainPageDataModel"></game-table>
    <!-- <electronic-paginate changePaginateStyle
                         paginateType='element'
                         :PageCount="PageInfo.PageCount"
                         :PageNo="SearchPage"></electronic-paginate> -->
  </div>
</template>
<script>
import electronicContent from "@/assets/scripts/comTest/general/electronic/electronicContent"
export default {
  name: 'electronic-content',
  mixins: [electronicContent]
}
</script>
