<template>
  <div>
    <div id="DeletePlansFrom" class="alert_box_content rake_alert_box re_h agency-alert">
      <span class="alert_close" @click="CloseDeletePlansWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_reminder')}}
        </h2>
        <ul class="input_field bank_input style3 alert-form-area">
          <!-- <p class="tips-word">是否删除""方案？</p> -->
          <span
            class="common-word"
          >{{$t('message.agency_strike_out')}}"{{DeleteTempName}}"{{$t('message.agency_programme')}}？</span>
        </ul>
        <div class="record_query">
          <a
            class="cancle-searchBtn"
            href="javascript:void(0);"
            @click="CloseDeletePlansWindow()"
          >{{$t('message.member_cancel')}}</a>
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="DeletePlans()"
          >{{$t('message.login_confirm')}}</a>
        </div>
      </div>
    </div>
    <div v-show="CallBackWord" class="maxtip" style="z-index:10001">{{Text}}</div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {
      CallBackWord: false,
      Text: ''
    };
  },
  props: {
    DeleteTempName: '',
    DeletePlanID: ''
  },
  methods: {
    DeletePlans: async function () {
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanDel({
        TempID: this.DeletePlanID
      });
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPlanDel');
      console.log(data);
      const notifyData = {
        NotifyMessage: data.Message
      };
      if (data.Ret == 0) {
        EventBus.$emit('UpdatePlanList');
      }
      this.CloseDeletePlansWindow();
      EventBus.$emit('showNotifyAgencyMessage', notifyData);
    },
    // 開啟視窗
    DeletePlansOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('DeletePlansFrom');
    }, // end OpenWindow

    // 關閉彈窗
    CloseDeletePlansWindow: function () {
      CommUtility.WebClosealertboxForm('DeletePlansFrom');
    } // end CloseWindow
  }
};
</script>
