<template>
  <div id="depositIcome-content" class="alert_box_content icome_alert_box re_h">
    <span class="alert_close" @click="HideIcome()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont" id="depositIcome-scroll" style="overflow: hidden;height: 690px;">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_company_income')}}
      </h2>
      <member-deposit-remittance-acct
        :RemittanceBankInfo="this.BankDataList"
        :ActivityDetail="ActivityData"
        :CurSelectedActivity="this.CurSelectedActivity"
      ></member-deposit-remittance-acct>
      <!--玩家轉帳資訊-->
      <member-deposit-remittance-form
        ref="remittance_form"
        :type="0"
        :CurrentPageData="this.CurrentPageData"
        :CurSelectedActivity="this.CurSelectedActivity"
      ></member-deposit-remittance-form>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import MemberDepositRemittanceAcct from "@/mod/k06/components/sub/memberNew/deposit/memberDepositRemittanceAcct"
import MemberDepositRemittanceForm from "@/components/sub/memberNew/deposit/memberDepositRemittanceForm"
import CommUtility from "scripts/common/CommUtility"

export default {
  props: {
    CurSelectedActivity: {
      BonusSerialNo: undefined, // 红利对应的资料序号
      ActivityType: undefined, // 红利活动方式 ==》 -1：未定义; 1：存款(红利设定); 2：红利活动
      ActType: undefined // 红利方式细项分类 ==》 1: 首存 2: 续存
    },
    ActivityData: undefined // 选中的活动详情
  },
  data() {
    return {
      CurrentPageData: {
        BankInfo: {}
      },

      DepositTypeList: [],
      BankTrans: false, // 银行转账
      QRcode: false, // 二维码
      miantainBank: true, // 银行转账维护
      miantainCode: true, // 扫码支付维护

      DefaultData: [], // 2019.02.27 SeyoChen
      judgeComplete: false, // 判断是否开通
      BankDataList: [] // 银行转账
    }
  },
  created: function () {
    this.GetDefaultData()
  },
  mounted: function () {
    $("#depositIcome-scroll").perfectScrollbar()
  },
  methods: {
    // 開啟彈窗
    ShowIncome: function () {
      CommUtility.WebShowAlertboxForm("depositIcome-content")
    }, // end ShowEditPhone

    // 關閉彈窗
    HideIcome: function () {
      CommUtility.WebClosealertboxForm("depositIcome-content")
      EventBus.$emit("RetSet")
    }, // end HideEditPhone
    // 获取默认Data
    GetDefaultData: async function () {
      const dataObj = {
        ActType: this.CurSelectedActivity.ActType,
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
        ActivityType: this.CurSelectedActivity.ActivityType
      }
      this.DefaultData = await PersonalCenterService.CompanyDeposit_LoadMainPage(dataObj)
      this.CurrentPageData = this.DefaultData.Data

      // 分类 BankDataList：银行支付 QRcodeList：扫码支付

      console.log("============================================11111111111111111111111")
      console.log(this.CurrentPageData.BankInfo)
      for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
        // 筛选出二维码支付方式
        if (this.CurrentPageData.BankInfo[i].PaymentWayType === 1) {
          this.BankDataList.push(this.CurrentPageData.BankInfo[i])
        }
        // else {
        //   this.BankDataList.push(this.CurrentPageData.BankInfo[i]);
        // }
      }
      // 分类 BankDataList：银行支付 QRcodeList：扫码支付 end

      this.$emit("CurrentPageData", this.CurrentPageData) // 将此后台返回的活动详情传到父级 deposit
      this.GetPageData(this.DefaultData, 1)
    },

    // 2019.02.12 SeyoChen
    BackLevel: function () {
      this.BankTrans = false
      this.QRcode = false
      this.DepositTypeList = []
      this.$refs.remittance_form.ResetTip() // 2019.02.18 SeyoChen 重置提示语
    },
    // 2019.02.12 SeyoChen end
    GetPageData: async function (DefaultData, mode) {
      // const dataObj = {
      //   ActType: this.CurSelectedActivity.ActType,
      //   BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
      //   ActivityType: this.CurSelectedActivity.ActivityType
      // };
      // const DefaultData = await PersonalCenterService.CompanyDeposit_LoadMainPage(
      //   dataObj
      // );

      if (DefaultData.Ret == 0) {
        // 判断是否开通 1：银行转账 2：扫码支付
        for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
          if (this.CurrentPageData.BankInfo[i].PaymentWayType == 1 && this.miantainBank != false) {
            this.miantainBank = false
          } else if (this.CurrentPageData.BankInfo[i].PaymentWayType == 2 && this.miantainCode != false) {
            this.miantainCode = false
          }
        }
        // 判断是否开通 1：银行转账 2：扫码支付 end

        // 2019.03.12 SeyoChen 弹出维护中图片
        if (this.miantainCode == true || this.miantainBank == true) {
          this.judgeComplete = true
        }
        // 2019.03.12 SeyoChen 弹出维护中图片 end

        if (mode === 2) {
          // 2019.03.01 SeyoChen 判断二维码数量及显示的类型
          let QRcodeNumApli = false
          let QRcodeNumWeChat = false
          for (let i = 0; i < DefaultData.Data.BankInfo.length; i++) {
            if (
              DefaultData.Data.BankInfo[i].PaymentWayType == 2 &&
              DefaultData.Data.BankInfo[i].QRCodePaymentWayType == 1
            ) {
              QRcodeNumApli = true
            } else if (
              DefaultData.Data.BankInfo[i].PaymentWayType == 2 &&
              DefaultData.Data.BankInfo[i].QRCodePaymentWayType == 2
            ) {
              QRcodeNumWeChat = true
            }
          }
          // 2019.03.01 SeyoChen 判断二维码数量及显示的类型 end QRCodePaymentWayType 1:支付宝 2：微信

          for (let i = 0; i < DefaultData.Data.DepositTypeList.length; i++) {
            if (
              (DefaultData.Data.DepositTypeList[i].SettingCode === 8 && QRcodeNumApli == true) ||
              (DefaultData.Data.DepositTypeList[i].SettingCode === 9 && QRcodeNumWeChat == true)
            ) {
              this.DepositTypeList.push(DefaultData.Data.DepositTypeList[i])
            }
          }
        } else {
          for (let i = 0; i < DefaultData.Data.DepositTypeList.length; i++) {
            if (
              DefaultData.Data.DepositTypeList[i].SettingCode !== 8 &&
              DefaultData.Data.DepositTypeList[i].SettingCode !== 9 &&
              DefaultData.Data.DepositTypeList[i].SettingCode !== 4
            ) {
              this.DepositTypeList.push(DefaultData.Data.DepositTypeList[i])
            }
          }
        }

        // 2019.03.01 SeyoChen
        this.CurrentPageData.DepositTypeList = this.DepositTypeList
      }
    }
  },
  components: {
    MemberDepositRemittanceAcct,
    MemberDepositRemittanceForm
  }
  // beforeDestroy() {
  //     EventBus.$off('remittanceDepositSuccess');
  // }
}
</script>
