
<!--個人資料-->
<template>
  <!--個人資料修改-->
  <profile-edit></profile-edit>
</template>

<script>
import ProfileEdit from "@/mod/k06/components/sub/memberNew/profile/profileEdit"

export default {
  components: {
    ProfileEdit
  }
}
</script>
