<template>
  <div class="withdraw_apply">
    <!-- <h2 class="phone_title">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
      {{$t('message.personal_withdrawal_record')}}
    </h2>-->
    <ul class="psl_guide">
      <li data-num="0" class="hasblock">
        <a href="javascript:void(0);">{{$t('message.personal_withdrawal_record')}}</a>
        <i></i>
      </li>
    </ul>
    <div class="record_query">
      <span class="record-query-name">{{$t('message.member_hour')}}：</span>
      <datepicker
        class="common-query-put record-query-put message-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.StartTime"
        format="yyyy/MM/dd"
        calendar-class="startdate_calendar"
        :disabled="CalendarDisabled"
        :placeholder="$t('message.member_start_time')"
      ></datepicker>
      <span class="record-query-name line">—</span>
      <datepicker
        class="common-query-put record-query-put message-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.EndTime"
        format="yyyy/MM/dd"
        calendar-class="enddate_calendar"
        :disabled="CalendarDisabled"
        :placeholder="$t('message.member_ending_time')"
      ></datepicker>
      <span class="record-query-name" style="padding-left:10px;">{{$t('message.member_state')}}：</span>
      <div class="common-query-put down record-drop message-query-put">
        <div class="d_course" @click="ShowDropDown()">{{WithdrawSatusName}}</div>
        <img
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
        />
        <div class="down_box down_box1" style="display: none;max-height:300px;">
          <a
            class="down_list"
            v-for="(status,index) in statusList"
            :key="index"
            @click="changeStatus(status)"
          >{{status.Name}}</a>
        </div>
      </div>
      <a
        class="blue_sm search_a"
        style="cursor: pointer;position: inherit;float: left;"
        @click="searchData"
      >{{$t('message.member_search')}}</a>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="Submitted === true && TimeSequenceInvalid === true"
          style="top: 55px;"
        >{{$t('message.member_greater_than')}}</span>
      </div>
    </div>
    <div class="apply_table table_block purple_cont">
      <div class="table5_h_cont" id="scroll_table5">
        <table cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="w_2">{{$t('message.member_order_number')}}</th>
              <th class="w_2">{{$t('message.member_transaction_time')}}</th>
              <th class="w_2">{{$t('message.member_withdrawal_amount')}}</th>
              <th class="w_2">{{$t('message.member_service_charge')}}</th>
              <th class="w_2">{{$t('message.person_withdrawalMethod')}}</th>
              <th class="w_2">{{$t('message.person_withdrawalAccount')}}</th>
              <th class="w_2">{{$t('message.member_state')}}</th>
              <th class="w_2">{{$t('message.agent_remarks')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(Item,index) in WithdrawPageList" :key="index">
              <td>{{Item.OrderNo}}</td>
              <td>
                <p>{{Item.CreateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}}</p>
              </td>
              <td>{{Item.ApplyWithdrawalAmt}}</td>
              <td>{{Item.CashFee}}</td>
              <td>{{Item.ApplyTypeName}}</td>
              <td>{{Item.BankName}}</td>
              <td>{{Item.OrderStatusName}}</td>
              <el-tooltip :content="Item.RejectRemark" placement="top" v-if="Item.RejectRemark!=''">
                <td>
                  {{Item.RejectRemark | simpleContent(12)}}
                  <!-- <a
                  v-show="Item.IsCancel !== true && Item.OrderStatus === '1201'"
                  class="alert_click1"
                  @click="TriggerCancelForm(Item)"
                  href="javascript:void(0);"
                >{{$t('message.member_withdrawal_application')}}</a>
                <a
                  style="color: #7b7a7b;cursor: default;"
                  v-show="Item.IsCancel == true && Item.Status.Value === '1201'"
                  class="alert_click1 hasblock"
                  href="javascript:void(0);"
                >{{$t('message.member_withdraw')}}</a>
                <a
                  class="remark-content"
                  v-show="Item.Status.Value !== '1201'"
                  :title="Item.RejectRemark"
                  >{{Item.RejectRemark}}</a>-->
                </td>
              </el-tooltip>
              <td v-else>{{Item.RejectRemark | simpleContent(12)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <paginate :PageCount="PageInfo.PageCount" :PageNo="PageInfo.PageNo"></paginate>
    </div>
    <div class="purple_tip">{{$t('message.member_this_page_is_calculated_by_beijing_time')}}</div>
    <div id="withdrawCancelForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_alert_close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" @click="CommUtility.WebCloseUniqueForm('withdrawCancelForm')" href="javascript:void(0);"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_blue" style="margin-bottom: 0;">{{$t('message.member_determine_cancellation')}}</p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          @click="CancelWithdrawApply();"
          href="javascript:void(0);"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
import CommUtility from "scripts/common/CommUtility"
import EventBus from "@/assets/scripts/common/EventBus"
import Paginate from "@/mod/k06/components/sub/paginate"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"

export default {
  data() {
    return {
      CommUtility: CommUtility,
      WithdrawApplyLogList: [],
      ProcessingFlag: false,
      CurrentCancelItem: {},

      //  2018.12.03 SeyoChen 分页
      PageInfo: {
        PageNo: 1,
        PageSize: 10,
        PageCount: 0,
        TotalCount: 0
      },
      WithdrawPageList: [],
      DisplayQueryObj: {
        StartTime: new Date(),
        EndTime: new Date(),
        OrderStatus: -1
      },
      CalendarDisabled: {
        from: new Date(moment().utcOffset(480).add(1, "days").format("YYYY/MM/DD")) // Disable all dates after specific date
      },
      WithdrawSatusName: this.$t("message.agency_whole"),
      statusList: [],
      DropDowning: false,
      Submitted: false,
      TimeSequenceInvalid: false
      //  2018.12.03 SeyoChen 分页 end
    }
  },
  created: function () {
    // 状态 -1全部  1待处理  2已完成  3已取消
    this.statusList = [
      { Name: this.$t("message.agency_whole"), Value: -1 },
      { Name: this.$t("message.personal_pending"), Value: 1 },
      { Name: this.$t("message.personal_completed"), Value: 2 },
      { Name: this.$t("message.personal_Cancelled"), Value: 3 }
    ]
    this.LoadApplyList(1) //  2018.12.03 SeyoChen 分页
    const self = this
    EventBus.$on("SignalR_UpdateWithdrawalList", () => {
      self.LoadApplyList()
    })
  },
  methods: {
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied() {
      let anyInvalid = false
      this.TimeSequenceInvalid = false

      // 開始時間未選
      if (this.DisplayQueryObj.StartTime === undefined) {
        anyInvalid = true
      }
      // 結束時間未選
      if (this.DisplayQueryObj.EndTime === undefined) {
        anyInvalid = true
      }
      // 開始日期大於結束日期

      this.DisplayQueryObj.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"
      )
      this.DisplayQueryObj.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59",
        true
      )
      if (this.DisplayQueryObj.StartTime !== undefined && this.DisplayQueryObj.EndTime !== undefined) {
        if (this.DisplayQueryObj.StartTick > this.DisplayQueryObj.EndTick) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }
      // 類型未選
      return anyInvalid
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this["DropDowning"] === false) {
        $(".down_box").slideDown(300)
        this["DropDowning"] = true
      } else {
        $(".down_box").slideUp(300)
        this["DropDowning"] = false
      }
    },
    // 搜索
    searchData() {
      this.Submitted = true
      const anyFieldInvalid = this.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if
      this.GetCurrentPageData(1)
    },
    // 載入取款申請列表
    LoadApplyList: async function (pageNo) {
      let PageNo = pageNo || 1
      const inputObj = {
        PagingInfo: {
          PageNo: PageNo,
          PageSize: 10
        },
        StartTick: CommUtility.LocalTimeToUtcTicks(this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"), // 必选 - 》默认选择当月
        EndTick: CommUtility.LocalTimeToUtcTicks(this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59", true),
        OrderStatus: this.DisplayQueryObj.OrderStatus
      }
      const data = await PersonalCenterService.WithdrawApply_Record(inputObj)
      console.log("data取款记录")
      console.log(data)
      console.log("data取款记录")
      if (data.Ret === 0) {
        for (let i = 0; i < data.Data.WithdrawApplyList.length; i++) {
          data.Data.WithdrawApplyList[i].IsCancel = false
        }
        this.WithdrawApplyLogList = data.Data.WithdrawApplyList
      }

      //  2018.12.03 SeyoChen 分页
      const start = (pageNo - 1) * this.PageInfo.PageSize
      const end = pageNo * this.PageInfo.PageSize

      this.PageInfo.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.PageInfo.PageSize)
      // this.WithdrawPageList = this.WithdrawApplyLogList.slice(start, end);
      this.WithdrawPageList = this.WithdrawApplyLogList
      console.log("data取款记录12")
      console.log(this.WithdrawPageList)
      console.log(pageNo)
      console.log("data取款记录12")
      EventBus.$emit("Paginate_ResetPageNo", pageNo)
      //  2018.12.03 SeyoChen 分页 end
    },
    // 获取跳页 page  2018.12.03 SeyoChen
    GetCurrentPageData: function (page) {
      this.LoadApplyList(page)
    },
    //  2018.12.03 SeyoChen 分页 end

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm("withdrawCancelForm")
    }, // end CloseWindow

    // 觸發取款彈窗
    TriggerCancelForm: function (Item) {
      this.CurrentCancelItem = Item
      CommUtility.WebShowAlertboxForm("withdrawCancelForm")
    },
    // 取消取款申請
    CancelWithdrawApply: async function () {
      CommUtility.WebClosealertboxForm("withdrawCancelForm")
      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true

      const inputObj = {
        ID: this.CurrentCancelItem.ID,
        Reason: this.$t("message.member_cancellation_oneself")
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.WithdrawApply_Cancel(inputObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      this.ProcessingFlag = false
      if (data.Ret === 0) {
        this.CurrentCancelItem.IsCancel = true
        // EventBus.$emit('memberHeaderUpdateBalance');
      }

      const notifyData = {
        NotifyMessage: data.Message
      }

      EventBus.$emit("showNotifyMemberMessage", notifyData)
    },
    // 修改状态条件
    changeStatus(status) {
      this.WithdrawSatusName = status.Name
      this.DisplayQueryObj.OrderStatus = status.Value
      this.ShowDropDown()
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    }
  },
  beforeDestroy() {
    EventBus.$off("SignalR_UpdateWithdrawalList")
  },
  components: {
    datepicker: Datepicker,
    Paginate
  },
  mounted() {
    // 滚动条
    $("#scroll_table5").perfectScrollbar()
  }
}
</script>
<style lang="less" scoped>
.wrap {
  .withdraw_apply {
    .phone_title {
      font-size: 20px;
      padding-left: 20px;
    }
  }
}
</style>
