<template>
  <div id="scroll_income" style="position: relative;">
    <member-fun-status></member-fun-status>
    <!--取款申請列表-->
    <!-- <member-withdraw-apply-list v-if="DisplayMode == 2"></member-withdraw-apply-list> -->
    <!--新增取款組件-->
    <member-withdraw-add></member-withdraw-add>
  </div>
</template>

<style scoped>
#scroll_income {
  overflow: hidden;
  height: 720px;
}
</style>

<script>
import EventBus from "@/assets/scripts/common/EventBus"
import MemberWithdrawApplyList from "@/mod/k06/components/sub/memberNew/withdrawal/memberWithdrawApplyList"
import MemberWithdrawAdd from "@/mod/k06/components/sub/memberNew/withdrawal/memberWithdrawAdd"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"

import MemberFunStatus from "@/components/sub/memberNew/withdrawal/memberFunStatus"

export default {
  created: function () {
    this.CWalletForWithdraw() // 点击取款，执行金额取回操作 2019.04.09 SeyoChen
  },
  mounted: function () {
    $("#scroll_income").perfectScrollbar()
  },
  methods: {
    // 切換取款顯示功能
    // SwitchMode: function (Mode) {
    //   this.DisplayMode = Mode;
    //   this.CWalletForWithdraw(); // 点击取款，执行金额取回操作 2019.04.09 SeyoChen
    // },

    // 点击取款，执行金额取回操作 2019.04.09 SeyoChen
    CWalletForWithdraw: async function () {
      const inputObj = {}
      const inputData = await PersonalCenterService.MemberCashFlowInfo_CWalletForWithdraw(inputObj)

      if (inputData.Ret === 0) {
        EventBus.$emit("ReflashWithdrawData")
      }
    }
  },
  components: {
    MemberWithdrawApplyList,
    MemberWithdrawAdd,
    MemberFunStatus
  }
}
</script>
