// ==================简体中文====================//
@import './lessSet.less';

#AnnouncementWindow .left-section li {
    &.on {
        .active {
            background: url('@{LessSetCDN}/announcement/left-active.png?VersionCode') no-repeat;
        }
    }
}

// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
    a {
        background: url("@{LessSetCDN}/MemberNew/table_bg_no.png")no-repeat left center;
    }

    a.on {
        background: url("@{LessSetCDN}/MemberNew/table_bg_on.png")no-repeat left center;
    }
}

.classification-cont-table table {
    .explain-lv {
        .explain-lv-icon {
            background: url("@{LessSetCDN}/MemberNew/lv.png") no-repeat left center;
        }

        .explain-lv-ten0 {
            background: url("@{LessSetCDN}/MemberNew/0.png") no-repeat left center;
        }

        .explain-lv-ten1 {
            background: url("@{LessSetCDN}/MemberNew/1.png") no-repeat left center;
        }

        .explain-lv-ten2 {
            background: url("@{LessSetCDN}/MemberNew/2.png") no-repeat left center;
        }

        .explain-lv-ten3 {
            background: url("@{LessSetCDN}/MemberNew/3.png") no-repeat left center;
        }

        .explain-lv-ten4 {
            background: url("@{LessSetCDN}/MemberNew/4.png") no-repeat left center;
        }

        .explain-lv-ten5 {
            background: url("@{LessSetCDN}/MemberNew/5.png") no-repeat left center;
        }

        .explain-lv-ten6 {
            background: url("@{LessSetCDN}/MemberNew/6.png") no-repeat left center;
        }

        .explain-lv-ten7 {
            background: url("@{LessSetCDN}/MemberNew/7.png") no-repeat left center;
        }

        .explain-lv-ten8 {
            background: url("@{LessSetCDN}/MemberNew/8.png") no-repeat left center;
        }

        .explain-lv-ten9 {
            background: url("@{LessSetCDN}/MemberNew/9.png") no-repeat left center;
        }
    }
}

.wrap .pub_alert_box.per_alert_box {
    background: url("@{LessSetCDN}/MemberNew/memberBg.png") no-repeat;
}

.wrap .recent_record_list .table_guide .btn_refresh {
    background: url("@{LessSetCDN}/MemberNew/p_freshen.png") no-repeat;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat center left;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat center left;
}

.wrap .tip1 {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.wrap .online_cont .online-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .online_cont .online-select.on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select.sel-on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .li_pay_set .input_rt .pay_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .li_pay_set .input_rt .pay_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

// 错误提示
.wrap .tip-error {
    background: url("@{LessSetCDN}/MemberNew/error_icon.png") no-repeat center center;
}

//代理中心
.wrap .pub_alert_box.per_alert_box.agency_alert_box {
    background: url("@{LessSetCDN}/agencyCenter/agencyBg.png") no-repeat;
}

.wrap .profitLoss-top-list.item1 {
    background: url("@{LessSetCDN}/agencyCenter/a_item1.png") no-repeat;
}

.wrap .profitLoss-top-list.item2 {
    background: url("@{LessSetCDN}/agencyCenter/a_item2.png") no-repeat;
}

.wrap .profitLoss-top-list.item3 {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

.wrap .profitLoss-top-list.item4 {
    background: url("@{LessSetCDN}/agencyCenter/a_item4.png") no-repeat;
}

/************代理 用户列表***************/
.wrap .agency-balance {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

/*电子竞技*/
.athletics-content {
    .athletics-cont-banner {
        .swiper-container {
            .swiper-wrapper {
                .athletics-1:nth-child(1) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner1.jpg");
                }

                .athletics-2:nth-child(2) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner2.jpg");
                }

                .athletics-3:nth-child(3) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner3.jpg");
                }

                .athletics-4:nth-child(4) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner4.jpg");
                }
            }
        }
    }
}

.wrap .alert_box_content .descr_title a.icon_close {
    background: url("@{LessSetCDN}/MemberNew/icon_close.png?VersionCode") no-repeat;
}

//存款方式
.depositMethod-main {
    background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img26.png?VersionCode")no-repeat left center;
}

//首页热门游戏内容
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
        }
    }
}

//客服
.service-content {
    .service-cont-item {
        .service-cont-list {
            background: url("@{LessSetCDN}/public/index_img36.png?VersionCode") no-repeat top center;

            a {
                &:hover {
                    background: url("@{LessSetCDN}/public/index_img37.png?VersionCode") no-repeat top center;
                }
            }
        }
    }
}

.per_cont_main .purple_cont .card-content {
    .card-cont-list {
        background: url("@{LessSetCDN}/MemberNew/bankInfoCardList.png") no-repeat left;
    }
}


//进入游戏后的playMyGame页面
.playMyGame-content {
    .ele-scroll {
        .ele-logo-lists {
            .ele-logo-li {
                .eg-big-play {
                    background: url('@{LessSetCDN}/web60/electronicGames/maintain_game_play.png?VersionCode') no-repeat top left;
                }

                a {
                    span {
                        background: url('@{LessSetCDN}/web60/electronicGames/game-btn.png') no-repeat;
                    }
                }
            }
        }
    }
}

//公告样式
.marquee-content {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;
}

.header-marquee {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;

    .header-marquee-icon {
        background: url("@{LessSetCDN}/web00/indexNew/marquee.png")no-repeat center;
    }
}

// 个人中心-总览改版  20200109
.memberNew-record-newCon {
    .memberNew-newCon-privilege {
        background: url("@{LessSetCDN}/MemberNew/levelBg.png") no-repeat left;

        .privilege-lfCon {
            .privilege-lfCon-identifying {
                background: url("@{LessSetCDN}/MemberNew/levelIcon.png") no-repeat left;
            }
        }
    }

    .memberNew-newCon-score {
        background: url("@{LessSetCDN}/MemberNew/scoreBG.png") no-repeat left;
    }
}

// web/general/common/public.less

//登录注册充值公共部分样式
.headerChild-content {
    .main-formBox-lg {

        //未登录
        .unlisted-content {
            .lg-boxItem {
                .lg-box-list {
                    .forget-pswText {
                        background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
                        background-size: auto 100%;
                    }
                }

            }

            .lg-boxPut {
                a {
                    &.lg-boxPut-login {
                        background: url('@{LessSetCDN}/navNew/index_new_img4.png');
                    }

                    &.lg-boxPut-register {
                        background: url('@{LessSetCDN}/navNew/index_new_img5.png');
                        background-size: 100% 100%;
                    }
                }
            }
        }

        //已登录
        .login-after {
            a {
                .heMail {
                    // background: url("@{LessSetCDN}/general/common/mailbox-icon.png") no-repeat center center;
                    background: url("@{LessSetCDN}/general/common/Mail.png") no-repeat;

                }
            }

            a.user {
                background: url("@{LessSetCDN}/general/common/user_icon.png") no-repeat left;
            }

            a.deposit {
                background: url("@{LessSetCDN}/general/common/deposit_icon.png") no-repeat left;
            }

            // a.account {
            //   background: url("@{LessSetCDN}/general/common/account-icon.png") no-repeat left;
            // }
            a.refresh-account,
            a.rotateLoop {
                background: url("@{LessSetCDN}/general/common/refresh-icon.png") no-repeat center center;
            }

            .unread {
                // background: url("@{LessSetCDN}/general/common/circle.png") no-repeat center center;
                background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
                background-size: 100%;
            }
        }

        .lg-boxPut-btn {
            .lg-boxPut-recharge {

                a {
                    background: url("@{LessSetCDN}/general/common/ix_new_img4.png?VersionCode") no-repeat top;
                    background-size: 100% 100%;
                }
            }
        }

        .lg-boxPut-recharge {
            a {
                background: url('@{LessSetCDN}/navNew/recharge_bg.png');
            }
        }
    }
}


//导航
.nav {
    background: url("@{LessSetCDN}/general/common/nav-bg.png?VersionCode") no-repeat center;
}

.nav li a i {
    background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
}


// 导航结束

//热门游戏
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
            background-size: 100%;
        }
    }
}

//手机投注 20190916 semi-sugar
.phoneBeting-content {
    background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img56.png")no-repeat center;
    background-size: 100%;

    .phoneBeting-cont-code {
        .code2-img {
            .code2-img-text {
                background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img54.png")no-repeat center;
                background-size: 100%;
            }
        }
    }
}



//u站导航
.uheader {
    background: url('@{LessSetCDN}/navNew/newLogoBg.png') no-repeat center 27px;

    .uheader-top {

        //弃用 semi-sugar 20191031
        .newHeader-content {
            .unread {
                background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
                background-size: 100%;
            }

            .logined-after {
                a {
                    &.deposit {
                        background: url("@{LessSetCDN}/web/frame/deposit_icon.png?VersionCode") no-repeat left;
                    }

                    &.user {
                        background: url("@{LessSetCDN}/web/frame/user_icon.png?VersionCode") no-repeat left;
                    }
                }
            }

            .newHeader-cont-warp {
                .newHeader-cont-login {
                    background: url("@{LessSetCDN}/navNew/index_new_img4.png");
                    background-size: 100% 100%;
                }

                .newHeader-cont-register {
                    background: url("@{LessSetCDN}/navNew/index_new_img5.png");
                    background-size: 100% 100%;
                }
            }

            .newHeader-cont-recharge {
                background: url("@{LessSetCDN}/navNew/index_new_img6.png");
                background-size: 100% 100%;
            }
        }
    }
}

// 个人中心背景图 ===== end

//主版导航
.pg-header {
    .main-navNew {
        // background: url("@{LessSetCDN}/general/common/navNew_bg.png?VersionCode") no-repeat top center;
        background: url("@{LessSetCDN}/web28/common/nav_bg.png?VersionCode") no-repeat top center;
        background-size: cover;

        .navNew-List {
            a {
                i {
                    // background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
                    background: url("@{LessSetCDN}/web28/common/hover_light.png?VersionCode") no-repeat center;

                }
            }
        }
    }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
    background: url("@{LessSetCDN}/navNew/navNew_img1.png")no-repeat center;
    background-size: 100% 100%;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li:hover {
    background: url("@{LessSetCDN}/navNew/navNew_img2.png")no-repeat center;
    background-size: 100% 100%;
}

// web/general/common/public.less end

// 公告信息
#AnnouncementWindow .window-title {
    background: url("@{LessSetCDN}/announcement/head.png") no-repeat;
}

#AnnouncementWindow .ann_icon_close {
    // background: url("@{LessSetCDN}/announcement/close.png") no-repeat;
}

// 总览按钮
.privilege-lfCon-identifying_zh {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_vi {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_tw {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_en {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
    }
}

// 个人中心补漏
.wrap .tip-trans {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat left center;
}

// web08多语言图片
// ==================简体中文====================//
// 个人中心详情按钮
.memberNew-record-item_zh {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技--zh
.athletics_zh {
    .athletics- {
        &1 {
            background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner1.jpg?VersionCode");
        }

        &2 {
            background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner2.jpg");
        }

        &3 {
            background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner3.jpg");
        }

        &4 {
            background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner4.jpg");
        }
    }
}

// 维护中按钮多语言
.maintain_box_zh.game-maintain,
.maintain_box_zh.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/zh/maintain_game_play.png?VersionCode')no-repeat top left;
}

// 代理加盟提交按钮&标题
.join_zh {
    .a-j-submit {
        background: url('@{LessSetCDN}/web28/lang/zh/submit_btn.png?VersionCode') no-repeat top;
    }

    .join-main-title {
        .desc {
            background: url('@{LessSetCDN}/web28/lang/zh/join_desc.png')no-repeat;
            background-size: 100% 100%;
        }
    }

}

.join_zh.contact-content {
    .join-main-cont .a-j-lists {
        background: url('@{LessSetCDN}/web28/lang/zh/contact_join_txt.png')no-repeat 120px 47px;
    }
}

// 厂商介绍
.partner-content.partner_zh {
    background: url('@{LessSetCDN}/web28/lang/zh/partner_bg.png?VersionCode') no-repeat center 32px;
}

// 返回上一页
.activity_zh {
    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/zh/activity_back.png') no-repeat;
    }
}

// 新闻 查看更多&返回上一层按钮
.news_zh {
    .an-news-btn {
        background: url('@{LessSetCDN}/web28/lang/zh/news_more.png?VersionCode')no-repeat center;
    }

    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/zh/news_back_last.png') no-repeat;
    }
}

// 新闻列表标题
.newsList_zh {
    .news-title {
        background: url('@{LessSetCDN}/web28/lang/zh/news_title.png?VersionCode')no-repeat;
    }
}

// 注册提交按钮
.register-btn_zh {
    background: url('@{LessSetCDN}/web28/lang/zh/submit_btn.png?VersionCode') no-repeat top;
}

// 登录按钮
.login_btn_zhh {
    background: url('@{LessSetCDN}/web28/lang/zh/login_btn.png?VersionCode') no-repeat top;
}

// 注册成功按钮
.success-title_zh {
    background: url('@{LessSetCDN}/web28/lang/zh/success_title.png?VersionCode') no-repeat top;
}

// 返回首页按钮
.success-btn_zh {
    background: url('@{LessSetCDN}/web28/lang/zh/success_btn.png?VersionCode') no-repeat top;
}

// ==================简体中文 end====================//


// ==================英文====================//
// 个人中心详情按钮
.memberNew-record-item_en {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_en {
    .athletics- {
        &1 {
            background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner1.jpg?VersionCode");
        }

        &2 {
            background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner2.jpg");
        }

        &3 {
            background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner3.jpg");
        }

        &4 {
            background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner4.jpg");
        }
    }
}

// 维护中按钮多语言
.maintain_box_en.game-maintain,
.maintain_box_en.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/en/maintain_game_play.png?VersionCode')no-repeat top left;
}

// 代理加盟提交按钮
.join_en {
    .a-j-submit {
        background: url('@{LessSetCDN}/web28/lang/en/submit_btn.png?VersionCode') no-repeat top;
    }

    .join-main-title {
        .desc {
            background: url('@{LessSetCDN}/web28/lang/en/join_desc.png')no-repeat;
            background-size: 100% 100%;
        }
    }
}

.join_en.contact-content {
    .join-main-cont .a-j-lists {
        background: url('@{LessSetCDN}/web28/lang/en/contact_join_txt.png')no-repeat 120px 47px;
    }
}

// 厂商介绍
.partner-content.partner_en {
    background: url('@{LessSetCDN}/web28/lang/en/partner_bg.png?VersionCode') no-repeat center 32px;
}

// 返回上一页
.activity_en {
    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/en/activity_back.png') no-repeat;
    }
}

// 新闻 查看更多&返回上一层按钮
.news_en {
    .an-news-btn {
        background: url('@{LessSetCDN}/web28/lang/en/news_more.png?VersionCode')no-repeat center;
    }

    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/en/news_back_last.png') no-repeat;
    }
}

// 新闻列表标题
.newsList_en {
    .news-title {
        background: url('@{LessSetCDN}/web28/lang/en/news_title.png?VersionCode')no-repeat;
    }
}

// 注册提交按钮
.register-btn_en {
    background: url('@{LessSetCDN}/web28/lang/en/submit_btn.png?VersionCode') no-repeat top;
}

// 登录按钮
.login_btn_en {
    background: url('@{LessSetCDN}/web28/lang/en/login_btn.png?VersionCode') no-repeat top;
}

// 注册成功按钮
.success-title_en {
    background: url('@{LessSetCDN}/web28/lang/en/success_title.png?VersionCode') no-repeat top;
}

// 返回首页按钮
.success-btn_en {
    background: url('@{LessSetCDN}/web28/lang/en/success_btn.png?VersionCode') no-repeat top;
}

// ==================英文 end====================//

//====================越南语 start================//
// 个人中心验证提示vi
.email-position .email-explain-box.email-explain-box_vi {
    top: -81px;
    right: -23px;
}

// 个人中心详情按钮
.memberNew-record-item_vi {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_vi {
    .athletics- {
        &1 {
            background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner1.jpg?VersionCode");
        }

        &2 {
            background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner2.jpg");
        }

        &3 {
            background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner3.jpg");
        }

        &4 {
            background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner4.jpg");
        }
    }
}


// 维护中按钮多语言
.maintain_box_vi.game-maintain,
.maintain_box_vi.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/vi/maintain_game_play.png?VersionCode')no-repeat top left;
}

// 代理加盟提交按钮
.join_vi {
    .a-j-submit {
        background: url('@{LessSetCDN}/web28/lang/vi/submit_btn.png?VersionCode') no-repeat top;
    }

    .join-main-title {
        .desc {
            background: url('@{LessSetCDN}/web28/lang/vi/join_desc.png')no-repeat;
            background-size: 100% 100%;
        }
    }
}

.join_vi.contact-content {
    .join-main-cont .a-j-lists {
        background: url('@{LessSetCDN}/web28/lang/vi/contact_join_txt.png')no-repeat 120px 47px;
    }
}

// 厂商介绍
.partner-content.partner_vi {
    background: url('@{LessSetCDN}/web28/lang/vi/partner_bg.png?VersionCode') no-repeat center 32px;
}

// 返回上一页
.activity_vi {
    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/vi/activity_back.png') no-repeat;
    }
}

// 新闻 查看更多&返回上一层按钮
.news_vi {
    .an-news-btn {
        background: url('@{LessSetCDN}/web28/lang/vi/news_more.png?VersionCode')no-repeat center;
    }

    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/vi/news_back_last.png') no-repeat;
    }
}

// 新闻列表标题
.newsList_vi {
    .news-title {
        background: url('@{LessSetCDN}/web28/lang/vi/news_title.png?VersionCode')no-repeat;
    }
}

// 注册提交按钮
.register-btn_vi {
    background: url('@{LessSetCDN}/web28/lang/vi/submit_btn.png?VersionCode') no-repeat top;
}

// 登录按钮
.login_btn_vi {
    background: url('@{LessSetCDN}/web28/lang/vi/login_btn.png?VersionCode') no-repeat top;
}

// 注册成功按钮
.success-title_vi {
    background: url('@{LessSetCDN}/web28/lang/vi/success_title.png?VersionCode') no-repeat top;
}

// 返回首页按钮
.success-btn_vi {
    background: url('@{LessSetCDN}/web28/lang/vi/success_btn.png?VersionCode') no-repeat top;
}

//====================越南语 end==================//

//===================繁体中文 start ===========//
// 个人中心详情按钮
.memberNew-record-item_tw {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_tw {
    .athletics- {
        &1 {
            background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner1.jpg?VersionCode");
        }

        &2 {
            background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner2.jpg");
        }

        &3 {
            background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner3.jpg");
        }

        &4 {
            background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner4.jpg");
        }
    }
}

// 维护中按钮多语言
.maintain_box_tw.game-maintain,
.maintain_box_tw.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/tw/maintain_game_play.png?VersionCode')no-repeat top left;
}

// 代理加盟提交按钮
.join_tw {
    .a-j-submit {
        background: url('@{LessSetCDN}/web28/lang/tw/submit_btn.png?VersionCode') no-repeat top;
    }

    .join-main-title {
        .desc {
            background: url('@{LessSetCDN}/web28/lang/tw/join_desc.png')no-repeat;
            background-size: 100% 100%;
        }
    }
}

.join_tw.contact-content {
    .join-main-cont .a-j-lists {
        background: url('@{LessSetCDN}/web28/lang/tw/contact_join_txt.png')no-repeat 120px 47px;
    }
}

// 厂商介绍
.partner-content.partner_tw {
    background: url('@{LessSetCDN}/web28/lang/tw/partner_bg.png?VersionCode') no-repeat center 32px;
}

// 返回上一页
.activity_tw {
    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/tw/activity_back.png') no-repeat;
    }
}

// 新闻 查看更多&返回上一层按钮
.news_tw {
    .an-news-btn {
        background: url('@{LessSetCDN}/web28/lang/tw/news_more.png?VersionCode')no-repeat center;
    }

    .back-btn {
        background: url('@{LessSetCDN}/web28/lang/tw/news_back_last.png') no-repeat;
    }
}

// 新闻列表标题
.newsList_tw {
    .news-title {
        background: url('@{LessSetCDN}/web28/lang/tw/news_title.png?VersionCode')no-repeat;
    }
}

// 注册提交按钮
.register-btn_tw {
    background: url('@{LessSetCDN}/web28/lang/tw/submit_btn.png?VersionCode') no-repeat top;
}

// 登录按钮
.login_btn_tw {
    background: url('@{LessSetCDN}/web28/lang/tw/login_btn.png?VersionCode') no-repeat top;
}

// 注册成功按钮
.success-title_tw {
    background: url('@{LessSetCDN}/web28/lang/tw/success_title.png?VersionCode') no-repeat top;
}

// 返回首页按钮
.success-btn_tw {
    background: url('@{LessSetCDN}/web28/lang/tw/success_btn.png?VersionCode') no-repeat top;
}

//===================繁体中文 end==============//

//abnormal.less
.system_zh {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/zh/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/zh/staytuned2.png?VersionCode")no-repeat center;
    }
}

.system_en {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/en/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/en/staytuned2.png?VersionCode")no-repeat center;
    }
}

.system_vi {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/vi/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/vi/staytuned2.png?VersionCode")no-repeat center;
    }
}

.system_tw {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/tw/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/tw/staytuned2.png?VersionCode")no-repeat center;
    }
}

.liveAbnormal {
    &.live-expect {
        background: url("@{LessSetCDN}/general/common/liveVideo/15.png?VersionCode")no-repeat center !important;
    }
}

.sportAbnormal {
    &.sport-expect {
        .sport-logo-wrap {
            background: url("@{LessSetCDN}/general/common/sport/11.jpg?VersionCode")no-repeat center !important;
        }
    }
}

.lotteryAbnormal {
    &.lottery-expect {
        background: url("@{LessSetCDN}/general/common/lottery/10.jpg?VersionCode")no-repeat center !important;
    }
}

.pokerAbnormal {
    &.poker-expect {
        background: url("@{LessSetCDN}/general/common/poker/15.jpg?VersionCode")no-repeat center !important;
    }
}

.catchfishAbnormal {
    &.catchfish-expect {
        background: url("@{LessSetCDN}/general/common/catchfish/1.jpg?VersionCode")no-repeat center !important;
    }
}

// bg.less
.service-list-box .qq_list li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq.png") no-repeat;
}

.service-jiao {
    background: url("@{LessSetCDN}/web/frame/icon_rt.png") no-repeat;
}

.service-list-box .qq_list li.last_li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq1.png") no-repeat;
}

.number-page-btn {
    background: url("@{LessSetCDN}/web/public/page-left.png")no-repeat;
}

.number-page-right {
    background: url("@{LessSetCDN}/web/public/page-right.png")no-repeat;
}

.video_con {
    background:url("@{LessSetCDN}/web/liveVideo/bg.png") no-repeat;
}

.computer_con {
    background: url("@{LessSetCDN}/web/electronic/electronic-bg.png")no-repeat;
}

.c-g-content {
    background: url("@{LessSetCDN}/web/electronic/c-g-frame.png")no-repeat;
}

.cg-game-menu a span {
    background: url("@{LessSetCDN}/web/electronic/game-btn.png")no-repeat;
}

.sports_con {
    background: url("@{LessSetCDN}/web/sportsBetting/bg.png");
}

.lottery_con {
    background: url("@{LessSetCDN}/web/lottery/bg.png")no-repeat;
}

.news_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
    height: 1267px;
}

.activity_details_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
}

.a-n-content .anbtn {
    background: url("@{LessSetCDN}/web/public/hover.png")no-repeat;
}

.activity_con .banner .actbtn {
    background: url("@{LessSetCDN}/web/activities/actbtn.png")no-repeat;
}

.mobile-main .wordbtn b {
    background:url("@{LessSetCDN}/web/mobileBetting/right.png")no-repeat;
}

.mobile-main .mobile-text .mt-join a {
    background: url("@{LessSetCDN}/web/mobileBetting/kuang.png")no-repeat;
}

.about_con {
    background: url("@{LessSetCDN}/web/aboutUs/bg.png");
}

.introduct_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent-content>h2 a {
    background: url("@{LessSetCDN}/web/agent/agentbtn.png")no-repeat;
}

.agent_join_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent_join_content .agent_join_main {
    background: url("@{LessSetCDN}/web/agent/frame.png");
}

.a-j-lists .proxy-line i {
    background: url("@{LessSetCDN}/web/agent/xiala.png")no-repeat;
}

.a-j-cont .a-c-submit {
    background: url("@{LessSetCDN}/web/agent/a-surn.png")no-repeat top center;
}

.H5_con {
    background: url("@{LessSetCDN}/web/H5/bg.png")no-repeat top center;
}

.H5-content .H5-main {
    background: url("@{LessSetCDN}/web/public/farme.png")no-repeat;
}

// alert.less
.theme28 {
    .pub_alert_box {
        background:url('@{LessSetCDN}/web28/freeTrial/a_bg.png?VersionCode') no-repeat;
    }

    .pub_alert_box .descr_title a.icon_close {
        background: url('@{LessSetCDN}/web28/freeTrial/close.png?VersionCode') no-repeat;
    }

    .alert_btn_both a.btn1 {
        background: url('@{LessSetCDN}/web28/freeTrial/com_btn.png?VersionCode') no-repeat;
    }

    .alert_btn_both a.btn2 {
        background: url('@{LessSetCDN}/web28/freeTrial/com_btn.png?VersionCode') no-repeat !important;

    }

    .input_field.style2 .input_rt input {
        background: url('@{LessSetCDN}/web28/common/m_input.png?VersionCode') no-repeat;
    }

    /*忘记密码弹窗*/
    .login-popup {
        .input_field .input_rt {
            input {
                background: url('@{LessSetCDN}/web28/common/m_input.png?VersionCode') no-repeat !important;
                background-size:100% 100% !important;
            }
        }
    }

    //用户协议
    .user-agreement-box {
        background: url('@{LessSetCDN}/web28/register/agreement_bg.png?VersionCode') no-repeat;

        .back-register {
            background: url('@{LessSetCDN}/web28/freeTrial/com_btn.png?VersionCode') no-repeat;
        }
    }

    .sum_alert_box .icon_download {
        background: url('@{LessSetCDN}/web28/member/down_icon.png?VersionCode') no-repeat;
    }
}

// feeeTrail.less
.theme28 {
    .free_con {
        background: url("@{LessSetCDN}/web28/freeTrial/free_bg.png") no-repeat 100% 100%;
    }

    .logoPage {
        background: url("@{LessSetCDN}/web28/freeTrial/free_text.png") no-repeat 100% 100%;
    }

    .f-t-btn {
        background: url("@{LessSetCDN}/web28/freeTrial/kaihu.png") no-repeat 100% 100%;
    }
}

// loginRegister.less
.theme28 {

    /*登录&注册&注册成功&用户协议*/
    .login-register-content {
        background: url("@{LessSetCDN}/web28/register/login-bg.png")no-repeat;

        .login-register-main {
            .login-register-box {
                .login-register-from {
                    .login-register-com {
                        .login-regcom-putBox {
                            input {
                                background: url("@{LessSetCDN}/web28/common/m_input.png")no-repeat;
                            }
                        }
                    }
                }
            }

            // 注册成功
            .success-box {
                .regsiter-success-logo {
                    a {
                        background: url("@{LessSetCDN}/web28/register/login-logo.png")no-repeat;
                    }
                }
            }
        }
    }
}

// index.less
.indexNew-wrapContent {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;

        }
    }
}

// commom.less
.theme28 {
// 维护中小角标
    .game-maintain,
    .eg-big-play {
        background: url('@{LessSetCDN}/web28/electronicGames/maintain_game_play.png?VersionCode')no-repeat top left;
    }
    .eg-big-play_zh {
        background: url('@{LessSetCDN}/public/lang/zh/maintain_game_play.png?VersionCode')no-repeat top left;
    }
    .eg-big-play_en {
        background: url('@{LessSetCDN}/public/lang/en/maintain_game_play.png?VersionCode')no-repeat top left;
    } 
    .eg-big-play_vi {
        background: url('@{LessSetCDN}/public/lang/vi/maintain_game_play.png?VersionCode')no-repeat top left;
    } 
    .eg-big-play_tw {
        background: url('@{LessSetCDN}/public/lang/tw/maintain_game_play.png?VersionCode')no-repeat top left;
    }

    .eg-big-maintain {
        background: url('@{LessSetCDN}/web28/electronicGames/maintain_game_logo.png?VersionCode')no-repeat center left;
    }

    /* 游戏维护中 end */

    /*代理加盟，联系我们公共样式*/
    .a-j-lists {
        .proxy-com {
            textarea {
                background: url('@{LessSetCDN}/web28/common/m_input.png?VersionCode') no-repeat;
            }

            .proxy-line {

                input[type=text],
                .a-j-input input {
                    background: url('@{LessSetCDN}/web28/common/m_input.png?VersionCode') no-repeat;
                }
            }

            .a-j-input {
                .down {
                    .d_course {
                        background: url('@{LessSetCDN}/web28/common/m_input.png?VersionCode') no-repeat;
                    }

                    i.a-j-downimg {
                        background: url('@{LessSetCDN}/web28/member/icon_down.png?VersionCode') no-repeat;
                    }
                }
            }
        }
    }

    .poker-logo-lists li>div {
        background: url("@{LessSetCDN}/web28/poker_bg.png") no-repeat;
    }

    .poker-logo-lists li div.rotate-after a.rotate-play {
        background: url("@{LessSetCDN}/web28/poker_btn.png") no-repeat;
    }
}

//sy28/index.less
.theme28 {

    // 首页
    .index-link li>a {
        background: url("@{LessSetCDN}/web28/index/link.png") no-repeat;
    }

    .index-link li>a i {
        background: url("@{LessSetCDN}/web28/index/link-icon.png") no-repeat;
    }

    .index-btn {
        background: url("@{LessSetCDN}/web28/index/btn.png") no-repeat;
    }
}

// sy28/style.less
.theme28 {
    .live-content {
        .live-left-bg {
            background: url('@{LessSetCDN}/web28/liveVideo/live_middle_bg.png?VersionCode')no-repeat;
        }

        .live-logo-page {
            .live-logo-lists {
                li {
                    background: url('@{LessSetCDN}/web28/common/logo_common.png?VersionCode')no-repeat;

                    &:hover {
                        background: url("@{LessSetCDN}/web28/common/logo_active.png") no-repeat;
                    }
                }
            }
        }
    }

    /*真人视讯 end*/

    /*电子游戏*/
    .ele-content {
        .ele-logo-page {
            .ele-logo-main {
                .ele-search {
                    .ele-search-btn {
                        background: url('@{LessSetCDN}/web33/PT_H5/search.png?VersionCode')no-repeat left center;
                    }
                }
            }

        }
    }

    /*电子游戏 end*/

    /*体育博彩*/
    .sport-content {
        .sport-logo-page {
            .sport-logo-lists {
                li {
                    background: url('@{LessSetCDN}/web28/common/logo_common.png?VersionCode')no-repeat;

                    &:hover {
                        background: url("@{LessSetCDN}/web28/common/logo_active.png") no-repeat;
                    }
                }
            }
        }
    }

    /*体育博彩 end*/

    /*彩票投注*/
    .lottery-content {
        .lottery-logo-page {
            .lottery-logo-lists {
                li {
                    background: url('@{LessSetCDN}/web28/common/logo_common.png?VersionCode')no-repeat;

                    &:hover {
                        background: url("@{LessSetCDN}/web28/common/logo_active.png") no-repeat;
                    }
                }
            }
        }
    }

    /*棋牌游戏 end*/

    /*新闻详情*/
    .news-detail-content {
        background: url('@{LessSetCDN}/web28/newsList/news_bg.jpg') no-repeat;
    }

    /*新闻详情 end*/

    /*优惠活动详情*/
    .activity-detail-content {
        .activity-detail-page {
            background: url('@{LessSetCDN}/web28/activity/a_bg.png')no-repeat;

            .activity-btn {
                background: url('@{LessSetCDN}/web28/member/m_l_bg.png')no-repeat;
            }
        }
    }

    /*优惠活动详情 end*/

    /*代理加盟*/
    .agent-content {
        height: 1267px;
        background: url('@{LessSetCDN}/web28/bg.png')no-repeat center left;

        .agent-page {
            background: url('@{LessSetCDN}/web28/farme.png')no-repeat;

            .agent-title-box {
                .agent-title {
                    background: url('@{LessSetCDN}/web28/title.png')no-repeat center left;
                }

                .btn {
                    background: url("@{LessSetCDN}/web28/agentbtn.png")no-repeat center left;
                }
            }
        }
    }

    /*代理加盟表格*/
    .join-content {
        background: url('@{LessSetCDN}/web28/agent/join-bg.jpg')no-repeat center top;

        .join-page {
            .join-main {
                background: url('@{LessSetCDN}/web28/agent/a_j_text.png')no-repeat;

                .webmaster-main-title {
                    .desc {
                        background: url('@{LessSetCDN}/web28/agent/webmaster-main-desc.png')no-repeat;
                    }
                }
            }
        }
    }

    /*代理加盟表格 end*/
    /*代理加盟 end*/

    /*联系我们*/
    .contact-content {
        background: url('@{LessSetCDN}/web28/agent/contact-content-bg.jpg')no-repeat center top;

        .join-page {
            .join-main {
                background: url('@{LessSetCDN}/web28/agent/contact-join-main.png') no-repeat;

                .join-main-title {
                    .desc {
                        background: url('@{LessSetCDN}/web28/agent/join-desc.png') no-repeat;
                    }
                }

                .webmaster-main-title {
                    .desc {
                        background: url('@{LessSetCDN}/web28/agent/webmaster-main-desc.png') no-repeat;
                    }
                }
            }
        }
    }


    /*关于我们*/
    .about-content {
        background: url('@{LessSetCDN}/web28/aboutUs/about_bg.png?VersionCode') no-repeat;
    }

    .about-content .about-main {
        background: url('@{LessSetCDN}/web28/aboutUs/about_text.png?VersionCode') no-repeat;
    }

    .no-activity-img {
        background: url('@{LessSetCDN}/public/no_activity_404.png?VersionCode') no-repeat center;
    }

    .ps-container .ps-scrollbar-y {
        background: url("@{LessSetCDN}/web28/common/gun.png")no-repeat top center;
    }

    //棋牌游戏进入游戏弹出的游戏列表
    .playMyGame-content {
        .ele-logo-lists {
            .ele-logo-li {
                a {
                    span {
                        background: url('@{LessSetCDN}/web28/layout/pic_129.png')no-repeat;
                    }
                }
            }
        }
    }
}

// tutorial.less
.theme28 {
    .tutorial_cont {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/tutorial-content.jpg') no-repeat;
    }

    .tutorial-main {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/tutorial-main.png') no-repeat;
    }

    .tutorial-navs li.on,
    .tutorial-navs li:hover {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/tutorial-navs-li-on.png') no-repeat;
    }

    .tutorial-navs>li {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/tutorial-navs-li.png') no-repeat;
    }

    .GameRules_center_img {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/pic_1_03.png') no-repeat;
    }

    .tutorialPic_2 {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/pic_2_03.png') no-repeat !important;
    }

    .tutorialPic_3 {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/pic_3_03.png') no-repeat !important;
    }

    .tutorialPic_4 {
        background: url('@{LessSetCDN}/web28/beginnerTutorial/pic_4_03.png') no-repeat !important;
    }

}

// public/public.less
.popup-content .close-the-window {
    background: url("@{LessSetCDN}/web/public/close.png")no-repeat;
}

.public-bombox {
    background: url("@{LessSetCDN}/public/frame-box1.png")no-repeat top center;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
    background: url("@{LessSetCDN}/public/bomsurebtn.png")no-repeat center;
}

.public-navs li.on,
.public-navs li:hover {
    background: url("@{LessSetCDN}/public/hover.png")no-repeat;
}

/*内容框*/
.public-content {
    background: url("@{LessSetCDN}/public/farme.png")no-repeat;
}

.public-page-left {
    background: url("@{LessSetCDN}/public/previous.png")no-repeat;
}

.public-page-right {
    background: url("@{LessSetCDN}/public/naxt.png")no-repeat;
}

.tip1 {
    background: url("@{LessSetCDN}/public/tip.png?VersionCode") no-repeat;
}

.LoadBox .LoadIcon {
    background: url("@{LessSetCDN}/public/loading3.png") no-repeat center center;
}

// public/style.less
.list-tip {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.eye-btn {
    background: url("@{LessSetCDN}/public/eye_close.png?VersionCode") no-repeat center center;
}

.eye-btn.on {
    background: url("@{LessSetCDN}/public/eye_open.png?VersionCode") no-repeat center center;
}

// sy28/public.less
.theme28 {

    //marquee
    .header-marquee {
        .header-marquee-icon {
            background: url('@{LessSetCDN}/web28/common/horn.png')no-repeat;
        }
    }

    .header {
        .header-cont {
            .header-cont-nav {
                li {
                    a {
                        .heMail {
                            background: url("@{LessSetCDN}/web28/public/Mail.png") no-repeat;
                        }
                    }

                    a.user {
                        background: url("@{LessSetCDN}/web28/public/user_icon.png") no-repeat left;
                    }

                    a.deposit {
                        background: url("@{LessSetCDN}/web28/public/deposit_icon.png") no-repeat left;
                    }

                    a.refresh-account,
                    a.rotateLoop {
                        background: url("@{LessSetCDN}/web28/public/refresh_personal.png") no-repeat;
                    }

                    .unread {
                        background: url("@{LessSetCDN}/web28/public/circle.png") no-repeat center center;
                    }
                }
            }
        }
    }

    /*----------start--下拉框----------*/
    .language .down i.flagDown {
        background: url('@{LessSetCDN}/web28/public/flag_1.png')no-repeat;
    }

    .language .down i.iconDown {
        background: url('@{LessSetCDN}/web28/member/icon_down.png')no-repeat;
    }

    /*客服*/
    .service {
        .service-box {
            li {
                &.SbtnService a {
                    background: url("@{LessSetCDN}/web28/index/right_fix-service.png") no-repeat;
                }

                &.SbtnActivity a {
                    background: url("@{LessSetCDN}/web28/index/right_fixed.png") no-repeat;
                }

                &.SbtnFree a {
                    background: url("@{LessSetCDN}/web28/index/right_fix-free.png") no-repeat;
                }
            }
        }
    }


}
// web08 
// 登录按钮
.login-btn.login_btn_zh{
    background: url("@{LessSetCDN}/web28/lang/zh/login_btn.png") no-repeat;
}
.login-btn.login_btn_en{
    background: url("@{LessSetCDN}/web28/lang/en/login_btn.png") no-repeat;
}
.login-btn.login_btn_tw{
    background: url("@{LessSetCDN}/web28/lang/tw/login_btn.png") no-repeat;
}
.login-btn.login_btn_vi{
    background: url("@{LessSetCDN}/web28/lang/vi/login_btn.png") no-repeat;
}