#general_theme {
  .lottery-logo-page,
  .live-logo-page,
  .poker-logo-page,
  .ele-logo-page,
  .sport-logo-page,
  .activity-page {
    width: 1200px;
  }
  @import "./livevideo/index.less";
  @import "./electronic/index.less";
  @import "./poker/index.less";
  @import "./lottery/index.less";
  @import "./sport/index.less";
  @import "./activity/index.less";
  @import "./athletics/index.less";
}
