<template>
  <div>
    <!-- <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+ $MessageLang +'/MemberNew/personal_wait.png?VersionCode'"
    />-->
    <div class="dinancial-noAvailable" v-if="this.ShowPage === false">
      <p class="pic">
        <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/MemberNew/pic-blank.png'" />
      </p>
      <p class="text1">{{$t('message.member_NoPaymentChannelsTips')}}</p>
      <p class="text2">
        {{$t('message.member_haveQuestion')}}
        <span
          @click="OpenNewBox($ServeLink)"
        >{{$t('message.member_contact_service')}}</span>
      </p>
    </div>
    <div class="dinancial-box" v-if="this.ShowPage === true">
      <ul class="dinancial-select-type clearfix">
        <li
          v-for="(item, index) in OnlineCompDepositAccntList"
          v-bind:key="index"
          :class="DinancialType==(item.DType + '-' + item.PaymentWayType)?'hasblock':''"
        >
          <a
            @click="SelectPayStype(item.CompDepositConfigList, (item.DType + '-' + item.PaymentWayType), item.PaymentWayTypeName)"
          >
            <img
              :onerror="defaultImg"
              v-bind:src="$ResourceCDN + '/EditionImg/LamborFormal/images/MemberNew/icon/icon-' + item.DType + item.PaymentWayType + '.png'"
            />
            <p>{{item.PaymentWayTypeName}}</p>
          </a>
        </li>
        <li
          v-for="(item, index) in OnlinePaymentDepositAcctList"
          v-bind:key="index + 20"
          :class="DinancialType==(item.DType + '-' + item.BankTypeId)?'hasblock':''"
          v-if="item.BankTypeId != 4"
        >
          <a
            @click="SelectPayStype(item.CashFlowConfigList, (item.DType + '-' + item.BankTypeId), item.BankTypeName)"
          >
            <img
              :onerror="defaultImg"
              v-bind:src="$ResourceCDN + '/EditionImg/LamborFormal/images/MemberNew/icon/icon-' + item.DType + item.BankTypeId + '.png'"
            />
            <p>{{item.BankTypeName}}</p>
          </a>
        </li>
      </ul>

      <div>
        <!--填写订单信息-->
        <div class="dinancial-from">
          <ul class="input_field deposit_input li_top">
            <li class="li_pay_set clearfix">
              <div
                class="input_lf"
                v-if="DinancialType !== '2-1'"
              >{{$t('message.member_choose_channel')}}：</div>
              <div class="input_lf" v-else>{{$t('message.member_choose_bank')}}：</div>
              <div class="input_rt">
                <div class="pay_set set1 clearfix" style="width:600px">
                  <span
                    v-for="(item, index) in DinancialChannelList"
                    :class="DinancialNum==index?'hasblock':''"
                    @click="SelectRemittanceType(item, index)"
                  >
                    <a>
                      <i v-if="item.DType === 1">{{item.VDisplayName}}</i>
                      <i v-if="item.DType === 2">{{item.AccountName}}</i>
                    </a>
                  </span>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="input_lf">{{$t('message.member_service_charge')}}：</div>
              <div class="input_rt input_rt_input">
                <p
                  v-if="DinancialChannelData.DepositFeeStatus === 0"
                >{{parseFloat((DinancialChannelData.DepositFeeRate * 100).toString().match(/^\d+(?:\.\d{0,2})?/))}}%</p>
                <p v-else>{{DinancialChannelData.DepositFeeAmt}}</p>
              </div>
            </li>
          </ul>
          <member-company-form
            ref="companyForm"
            v-if="this.DType === 2"
            :DinancialChannelData="DinancialChannelData"
            :DinancialLimit="DinancialLimit"
          ></member-company-form>
          <member-online-form
            ref="onlineForm"
            v-else
            :DinancialChannelData="DinancialChannelData"
            :DinancialLimit="DinancialLimit"
            :BankCodeList="BankCodeList"
          ></member-online-form>
        </div>

        <!--选择活动-->
        <div
          id="DinancialSelectActivity"
          class="alert_box_content tel_alert_box re_h"
          style="position: fixed;"
        >
          <span class="alert_close" @click="WebCloseMessageWindow()">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
          </span>
          <div class="descr_p pay_set_activity">
            <p class="p_blue">{{$t('message.member_optimal_activities')}}</p>
            <div class="li_pay_set ps-container" id="FinancialActivity">
              <div class="input_rt">
                <div class="pay_set set1" style="width:400px">
                  <span
                    v-for="(item, index) in DinancialActivityList"
                    :class="DinancialActivityNum==index?'hasblock':''"
                    @click="SelectDepositActivity(item, index)"
                  >
                    <a :class="item.ActivityType === 2?'hasunderline':''">
                      <i @click="JumpActivityDetails(item)">{{item.Name}}</i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
            <a
              style="float: none;"
              class="btn1 hasblock enter_deposit"
              @click="JudgeLimit()"
            >{{$t('message.member_ascertain')}}</a>
          </div>
        </div>
      </div>

      <!--存款返回成功时显示各种成功提示-->
      <!--1: 公司入款订单确认弹窗-->
      <member-financial-confirm
        :DinancialData="DinancialData"
        :DinancialType="DinancialType"
        id="DinancialConfirm"
        v-if="this.DType === 2"
        :SuccessData="DinancialChannelData"
        :OrderNoOrder="OrderNoOrder"
        :DTypeName="DTypeName"
      ></member-financial-confirm>
      <!--1: 公司入款银行卡类型-->
      <member-financial-bank
        id="DinancialBank"
        v-if="this.DinancialType === '2-1' && this.DType === 2"
        :RemarkCode="RemarkCode"
        :SuccessData="DinancialChannelData"
        :DinancialData="DinancialData"
        :OrderNoOrder="OrderNoOrder"
        :DTypeName="DTypeName"
      ></member-financial-bank>
      <!--1: 公司入款二维码类型-->
      <member-financial-code
        id="DinancialCode"
        v-if="this.DinancialType !== '2-1' && this.DType === 2"
        class="alert_box_content tel_alert_box re_h"
        :SuccessData="DinancialChannelData"
        :OrderNoOrder="OrderNoOrder"
        :DTypeName="DTypeName"
      ></member-financial-code>
      <!--1: 在线支付订单窗口弹出-->
      <div
        id="DinancialOrder"
        class="alert_box_content tel_alert_box re_h"
        style="position: fixed;"
      >
        <span class="alert_close" @click="WebCloseMessageOrder()">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
        </span>
        <div class="descr_p pay_set_activity">
          <p class="p_blue">{{$t('message.member_operation_hint')}}</p>
          <p>{{$t('message.member_order_submitted_successfully')}}</p>
          <p style="margin-bottom: 20px;">
            {{this.DTypeName}}{{$t('message.member_order_number')}} :
            <span>{{this.SysOrder}}</span>
          </p>

          <p class="reciprocal" v-if="IsShow">
            {{$t('message.member_the_valid_time_of_recharge1')}} {{this.DinancialChannelData.RangeMin}} {{$t('message.member_the_valid_time_of_recharge2')}}
            <br />
            {{$t('message.member_please_recharge1')}}{{this.DinancialChannelData.RangeMin}}{{$t('message.member_please_recharge2')}}
            <span
              v-if="this.reciprocal!==0"
            >{{this.reciprocal | UtcTicksTime('HH:mm:ss')}}</span>
            <span v-else>00:00:00</span>
          </p>
        </div>
        <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
          <a
            style="float: none;"
            class="btn1 hasblock enter_deposit"
            @click="WebCloseMessageOrder()"
          >{{$t('message.member_ascertain')}}</a>
        </div>
      </div>

      <!--提示当前金额达不到最低参与活动金额，是否继续-->
      <member-deposit-amount-limit></member-deposit-amount-limit>
    </div>
  </div>
</template>

<style lang="less" scoped>
.dinancial-noAvailable {
  text-align: center;
  margin-top: 109px;
  margin-bottom: 98px;
  .pic {
    img {
      width: 280px;
      height: auto;
    }
  }
  .text1 {
    font-size: 24px;
    color: #ff0000;
    margin-top: 33px;
  }
  .text2 {
    font-size: 16px;
    color: #bdbdbd;
    margin-top: 20px;
    span {
      color: #007eff;
      cursor: pointer;
    }
  }
}
.dinancial-box {
  .dinancial-select-type {
    padding: 30px 0 20px 20px;
    li {
      margin: 0 20px 20px 0;
      float: left;
      width: 148px;
      height: 90px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      text-align: center;

      &:hover,
      &.hasblock {
        border: 1px solid #7854ff;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;

        img {
          margin: 20px 0 2px 0;
          max-height: 30px;
        }
        p {
          max-width: 96%;
          line-height: 20px;
          font-size: 14px;
          color: #666666;
          word-break: break-all;
        }
      }
    }
  }
}

/deep/ .dinancial-limit {
  span {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 10px;
    min-width: 58px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    &:hover,
    &.hasblock {
      color: #7d54ff;
      border: 1px solid #7d54ff;
    }
  }
}

// 表单输入
/deep/ .deposit_input {
  width: 780px !important;

  li {
    margin-bottom: 15px;
    .input_lf {
      min-width: 100px;
      text-align: right;
      height: 30px;
      line-height: 30px;
    }
    .input_rt {
      margin-top: 0 !important;
      line-height: 33px !important;

      .pay_set {
        margin-top: 0 !important;
        span {
          height: auto !important;
          min-height: 33px;
          background-position: 0 11px !important;

          &.hasblock {
            background-position: 0 11px !important;
          }
          i {
            line-height: 33px;
            word-break: break-all;
          }
        }
      }
    }

    // 下拉选单样式
    .deposit-drop {
      width: 250px;

      .d_course {
        padding: 4px 10px;
        width: 230px;
      }
      .down_box {
        top: 34px;
        width: 250px;

        .down_list {
          padding: 8px 08px 12px;
        }
      }
    }

    p,
    span {
      height: 33px;
      line-height: 33px;
      color: #666666;
    }
    .dinancial-user-limit {
      display: inline-block;
      width: 350px;
      font-size: 14px;
      word-break: break-all;
      i {
        font-style: normal;
        color: #ff2323 !important;
      }
    }
    input[type="text"] {
      margin-right: 8px;
      width: 230px;
      height: 31px !important;
      line-height: 31px !important;
    }
  }
}

// 优惠活动选择
#DinancialSelectActivity {
  .pay_set_activity {
    .li_pay_set {
      position: relative;
      width: 380px;
      max-height: 520px;
      overflow: hidden;
    }
    .p_blue {
      margin-bottom: 15px;
    }
    .pay_set {
      span {
        display: block;
        float: none;

        a {
          color: #7d54ff;
        }

        a.hasunderline {
          text-decoration: underline;
        }
        &:hover,
        &:first-child {
          a {
            color: #7b7a7b;
            text-decoration: none;
          }
        }
        &:first-child {
          a {
            cursor: default !important;
          }
        }
      }
    }
  }
  .enter_deposit {
    margin-top: 20px;
  }
}

// 渐变色的按钮
/deep/ .gradual-color-btn {
  margin: 20px 0 0 200px;
  padding: 0 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  background: -moz-linear-gradient(to right, #7d54ff, #e154ff);
  background: -ms-linear-gradient(to right, #7d54ff, #e154ff);
  background: -webkit-linear-gradient(to right, #7d54ff, #e154ff);
  background: linear-gradient(to right, #7d54ff, #e154ff);
  border-radius: 20px;
  overflow: hidden;
}

.reciprocal {
  margin: 20px;
  text-align: center;

  span {
    color: #ff0000;
  }
}
</style>

<script>
import Vue from "vue"
import EventBus from "scripts/common/EventBus"
import BLDef from "@/assets/scripts/common/BLDef"
import URLService from "scripts/common/URLService"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import CommUtility from "@/assets/scripts/common/CommUtility"
import memberFinancialConfirm from "@/components/sub/memberNew/depositPayment/memberFinancialConfirm"
import MemberFinancialBank from "@/components/sub/memberNew/depositPayment/memberFinancialBank"
import MemberFinancialCode from "@/components/sub/memberNew/depositPayment/memberFinancialCode"
import MemberFinancialOrder from "@/components/sub/memberNew/depositPayment/memberFinancialOrder"
import MemberDepositAmountLimit from "@/components/sub/memberNew/deposit/memberDepositAmountLimit"
import MemberCompanyForm from "@/components/sub/memberNew/deposit/memberCompanyForm"
import MemberOnlineForm from "@/components/sub/memberNew/deposit/memberOnlineForm"

export default {
  data() {
    return {
      defaultImg: 'this.src="' + this.$ResourceCDN + "/EditionImg/LamborFormal/images/MemberNew/icon/icon-default.png",
      DinancialTypeList: [], // 总数据
      DinancialActivityList: [], // 优惠活动展示
      OnlinePaymentDepositAcctList: [], // 公司入款存款方式
      OnlineCompDepositAccntList: [], // 在线支付存款方式
      DinancialChannelList: [], // 选中的支付方式渠道资料List
      DinancialChannelData: [],
      DinancialNum: undefined,
      DinancialActivityNum: undefined, // 优惠活动选中状态
      DinancialActivity: undefined, // 选择优惠活动
      DinancialType: undefined, // 默认选中的支付方式
      DinancialLimit: [], // 可支持的快速填入金额
      DType: undefined, // 当前选中的存款方式 1：在线支付 2：公司入款
      // From表单数据
      DinancialData: {
        Amount: undefined, // 金额
        DepositorName: undefined, // 匯款人姓名 (存款人姓名)
        BankCode: "", // 银行名称（目前越南站需要使用，如：ABC）
        BankCard: "" // 用户银行卡卡号
      },
      PostOnlineDepositData: {
        // 在线支付存款传递的数据
        Amount: "", // 金额
        PType: "", // 存款类型
        BonusSerialNo: "", // 红利对应的资料序号
        Device: BLDef.Paltform.Web_PC, // 平台类型
        BonusWay: "", // 红利方式
        TagUrl: "", // 请求路径
        WebType: "", // 网络类型
        PhoneOS: "", // 手机操作系统类型
        MerchantSerialNo: "", // 金流商id
        BankCard: "", // 用户银行卡卡号
        Id: "", // 主键id
        BankCode: "" // 银行名称（目前越南站需要使用，如：ABC）
      },
      PostCompDepositData: {
        // 公司入款传递的数据
        DepositAmt: "", // 存款金额
        DepositWithdrawSerialNo: "", // 對應的公司帳戶序號
        DepositorName: "", // 匯款人姓名 (存款人姓名)
        BonusWay: "", // 紅利方式
        BonusSerialNo: "", // 紅利對應的資料序號
        Remark: "" // 备注
      },

      HideFromData: false,
      SuccessData: undefined, // 订单成功后显示对应的页面
      SysOrder: undefined,
      DTypeName: undefined, // 存款方式名称--在线支付弹窗需要显示支付方式名称
      OrderNoOrder: undefined, // 公司入款-订单号
      BankCodeList: [], // 当前语言为其他语言时需要获取银行编码
      reciprocal: 0, // 30分钟
      setValOrder: undefined,
      ShowPage: undefined,
      RemarkCode: "",
      setValBank: "",
      RangSecondTick: undefined,
      IsShow: false
    }
  },
  created: function () {
    this.LoadMainPage()
  },
  mounted: function () {
    $("#FinancialActivity").perfectScrollbar()
  },
  methods: {
    // 页面初始化
    LoadMainPage: async function () {
      const inputData = {
        Platform: BLDef.Paltform.Web_PC
      }
      const retData = await PersonalCenterService.Deposit_LoadMainPage(inputData)
      console.log(retData)
      console.log("0000000000000000000000")
      if (retData.Ret === 0) {
        this.DinancialTypeList = retData.Data
        this.OnlinePaymentDepositAcctList = retData.Data.OnlinePaymentDepositAcctList
        this.OnlineCompDepositAccntList = retData.Data.OnlineCompDepositAccntList
        if (this.OnlineCompDepositAccntList.length > 0) {
          if (retData.Data.OnlineCompDepositAccntList[0].PaymentWayType == 1) {
            this.DTypeName = this.$t("message.agency_bank_card")
          } else {
            this.DTypeName = retData.Data.OnlineCompDepositAccntList[0].PaymentWayTypeName
          }
        }

        console.log("000000000022222222")
        if (this.OnlineCompDepositAccntList.length === 0 && this.OnlinePaymentDepositAcctList.length === 0) {
          this.ShowPage = false
          return
        }
        this.ShowPage = true
        if (this.OnlineCompDepositAccntList.length !== 0) {
          this.DType = this.OnlineCompDepositAccntList[0].DType // 存款类型
          const typeNum =
            this.OnlineCompDepositAccntList[0].DType + "-" + this.OnlineCompDepositAccntList[0].PaymentWayType
          this.SelectPayStype(
            this.OnlineCompDepositAccntList[0].CompDepositConfigList,
            typeNum,
            this.OnlineCompDepositAccntList[0].PaymentWayTypeName
          )
        } else if (this.OnlinePaymentDepositAcctList.length !== 0) {
          this.DType = this.OnlinePaymentDepositAcctList[0].DType // 存款类型
          const typeNum =
            this.OnlinePaymentDepositAcctList[0].DType + "-" + this.OnlinePaymentDepositAcctList[0].BankTypeId
          this.SelectPayStype(
            this.OnlinePaymentDepositAcctList[0].CashFlowConfigList,
            typeNum,
            this.OnlinePaymentDepositAcctList[0].BankTypeName
          )
        }
      }
    },
    // 选择支付方式，传送相关的资料
    SelectPayStype: function (data, typeNum, typeName) {
      console.log(data)
      console.log(typeName)
      console.log(typeNum)
      this.IsShow = data[0].IsShow
      console.log(this.IsShow)
      console.log("是否显示倒计时")
      if (typeNum == "2-1") {
        this.DTypeName = this.$t("message.agency_bank_card")
      } else {
        this.DTypeName = typeName
      }
      this.DinancialChannelList = data
      this.DinancialNum = 0
      this.SelectRemittanceType(data[0], 0) // 默认选中第一个渠道
      this.DinancialType = typeNum // 选中状态

      // 切换在线支付和公司入款的优惠活动
      this.DType = data[0].DType
      this.DepositActivity()
      this.HideFromData = false
      this.SuccessData = undefined // 重置订单输入

      switch (this.DType) {
        case 1:
          EventBus.$emit("onlineForm")
          // this.$refs.onlineForm.ClearFromData(); // 清空输入
          break
        case 2:
          EventBus.$emit("companyForm")
          // this.$refs.companyForm.ClearFromData(); // 清空输入
          break
        default:
          break
      }
    },
    // 切換轉帳存款方式-存款渠道
    SelectRemittanceType: function (item, index) {
      console.log(item)
      switch (this.DType) {
        case 1:
          this.IsShow = item.IsShow
          EventBus.$emit("onlineForm")
          // this.$refs.onlineForm.ClearFromData(); // 清空输入
          break
        case 2:
          EventBus.$emit("companyForm")
          // this.$refs.companyForm.ClearFromData(); // 清空输入
          break
        default:
          break
      }
      // 判断当前支付方式是否需要请求金流商的银行列表 简体中文和繁体中文的情况下不需要请求
      if (item.DType === 1 && item.BankTypeId === 1) {
        this.OnlineDepositQueyrCashFlowBankInfo(item.MerchantOwnerID)
      } else {
        this.BankCodeList = []
      }

      if (item.QuickSelAmts !== "") {
        this.DinancialLimit = item.QuickSelAmts.split(",")
      } else {
        this.DinancialLimit = undefined
      }
      this.DinancialChannelData = item
      this.DinancialNum = index

      console.log("54415616165165")
      console.log(this.DinancialChannelData)
    },
    // 优惠活动列表获取--在线支付：DType=1 公司入款：DType=2
    DepositActivity: function () {
      this.DinancialActivityList = []
      // 不参与红利活动
      if (this.DinancialTypeList.PartakeBonusModel !== "" && this.DinancialTypeList.PartakeBonusModel !== undefined) {
        this.DinancialActivityList.push(this.DinancialTypeList.PartakeBonusModel)
      }
      // 系统设置的优惠活动列表
      if (this.DType === 1) {
        this.DinancialActivityList.push(this.DinancialTypeList.DefaultOnlineDepositActivity)
        for (let i = 0; i < this.DinancialTypeList.OnlineDepositActivityList.length; i++) {
          this.DinancialActivityList.push(this.DinancialTypeList.OnlineDepositActivityList[i])
        }
      } else if (this.DType === 2) {
        this.DinancialActivityList.push(this.DinancialTypeList.DefaultRemittanceDepositActivity)
        for (let i = 0; i < this.DinancialTypeList.RemittanceDepositActivityList.length; i++) {
          this.DinancialActivityList.push(this.DinancialTypeList.RemittanceDepositActivityList[i])
        }
      }
    },
    // 获取金流商银行列表 当前语言为除简体，繁体之外的语言都需要获取
    OnlineDepositQueyrCashFlowBankInfo: async function (data) {
      const inputData = {
        MerchantId: data
      }
      const retData = await PersonalCenterService.OnlineDepositQueyrCashFlowBankInfo(inputData)
      console.log("++++++++++++++++++++++")
      console.log(retData)
      if (retData.Ret === 0) {
        this.BankCodeList = retData.Data
        this.DinancialData.BankCode = retData.Data.BankList[0].BankName
      }
    },
    // 选择存款的活动
    SelectDepositActivity: function (item, index) {
      this.DinancialActivityNum = index
      this.DinancialActivity = item
      console.log("465156161361319648984968468469469")
      console.log(this.DinancialActivity)
      localStorage.setItem("ActivityDatas", JSON.stringify(item))
    },
    // 校验存款次数
    async validateDepositNumber() {
      let params = { DepositOpertionType: this.DType }
      const retData = await PersonalCenterService.DepositNumber(params)
      console.log("--------")
      console.log(retData)
      if (retData.Ret) {
        // 校验未通过弹出提示信息
        CommUtility.WebShowAlertboxForm("depositNumber")
        return false
      }
      return true
    },
    // 点击优惠活动时，跳转到活动详情
    JumpActivityDetails: function (data) {
      if (data.ActivityType === 2) {
        // this.WebCloseMessageWindow(); // 关闭优惠活动选取弹窗
        // 跳转至优惠活动详情
        // const routeData = this.$router.resolve({ name: 'ActivityListDetails', params: { ID: data.BonusSerialNo } });
        const routeData = this.$router.resolve({
          name: "ActivityList"
          // params: { ID: data.BonusSerialNo }
        })
        localStorage.setItem("MemberActivityDetail", data.BonusSerialNo)
        window.open(routeData.href, "_blank")
        // CommUtility.WebCloseUniqueForm('memberMainFrom');
      }
    },

    JudgeLimit: function () {
      // 判断当前输入金额是否达到活动的最低标准
      if (this.DinancialActivity.MinDepositAmt > this.DinancialData.Amount) {
        EventBus.$emit("showDepositAmtLimitTip", this.JudgeLimitNumber)
      } else {
        this.JudgeLimitNumber()
      }
    },

    JudgeLimitNumber: async function (params) {
      if (this.DType === 1) {
        const HashKey = new Date().getTime()
        CommUtility.OpenDepositWindow("webDepositPayment", "DepositPaymentPopUpWindow", HashKey.toString())
      }
      this.WebCloseMessageWindow()
      let validateDepositNumber = await this.validateDepositNumber()
      console.log(validateDepositNumber)
      console.log("-------------")
      if (!validateDepositNumber) {
        Vue.prototype.$DepositWindow.close()
        return
      }
      this.SubmitDepositData()
    },

    // 存款订单提交
    SubmitDepositData: async function () {
      console.log("===================" + this.DType)
      console.log(this.DinancialChannelData)
      // 在线支付提交
      if (this.DType === 1) {
        console.log(this.DType)
        localStorage.removeItem("IdentificationNO")
        let protocol = 1
        if (document.location.protocol !== "http:") {
          protocol = 2
        }

        const inputData = {
          Amount: this.DinancialData.Amount,
          BankCode: this.DinancialData.BankCode, // 银行名称（目前越南站需要使用，如：ABC）
          BankCard: this.DinancialData.BankCard, // 用户银行卡卡号

          PType: this.DinancialChannelData.BankTypeId, // 存款类型

          BonusSerialNo: this.DinancialActivity.BonusSerialNo, // 红利对应的资料序号
          BonusWay: this.DinancialActivity.ActivityType, // 红利方式
          Device: BLDef.Paltform.Web_PC, // 平台类型
          WebType: protocol, // 网络类型
          PhoneOS: 0, // 手机操作系统类型
          MerchantSerialNo: this.DinancialChannelData.SerialNo, // 金流商id
          Id: this.DinancialChannelData.ID, // 主键id
          TagUrl: document.location.host // 请求路径
        }

        setTimeout(async () => {
          EventBus.$emit("GlobalLoadingTrigger", true)
          const data = await PersonalCenterService.OnlineDeposit_Add(inputData)
          EventBus.$emit("GlobalLoadingTrigger", false)
          console.log(inputData)
          console.log(data)
          console.log("在线支付111111111")
          const notifyData = {
            NotifyMessage: data.Message
          }
          if (data.Ret === 0) {
            // 判断是否存款次数已经达到上限了IsLimit：true=达到上限 false=未达到
            if (data.Data.IsLimit !== true) {
              this.SysOrder = data.Data.SysOrder // 订单提交成功将成功的信息展示
              CommUtility.WebShowAlertboxForm("DinancialOrder")

              this.ReciprocalOrder() // 开始倒数

              const paymentData = URLService.GetUrlParameterFromObj(data)
              // const HashKey = new Date().getTime();
              // localStorage.setItem(HashKey.toString(), paymentData);
              localStorage.setItem("IdentificationNO", paymentData)
              console.log(paymentData)
              // CommUtility.OpenPlayGameWindow(
              //   'webDepositPayment',
              //   'DepositPaymentPopUpWindow',
              //   HashKey.toString()
              // );
              // let timer = setTimeout(() => {
              //   // 查询弹窗是否加载完成
              //   if (Vue.prototype.$DepositWindow) {
              //     // 将数据传递于新开支付页面
              //     Vue.prototype.$DepositWindow.postMessage(
              //       {
              //         Deposit: true,
              //         DepositObj: paymentData
              //       },
              //       '/'
              //     );
              //     clearTimeout(timer);
              //   }
              // }, 100);
            } else {
              Vue.prototype.$DepositWindow.close()
              notifyData.NotifyMessage = ""
              notifyData.NotifySubMessage = this.$t("message.member_deposit_activity_limit")
              EventBus.$emit("showNotifyMemberMessage", notifyData)
            }
          } else {
            Vue.prototype.$DepositWindow.close()
            EventBus.$emit("showNotifyMemberMessage", notifyData)
          }
        }, 300)
      } else {
        console.log("11111")
        const inputData = {
          DepositAmt: this.DinancialData.Amount, // 存款金额
          DepositWithdrawSerialNo: this.DinancialChannelData.SerialNo, // 對應的公司帳戶序號
          DepositorName: this.DinancialData.DepositorName, // 匯款人姓名 (存款人姓名)
          BonusWay: this.DinancialActivity.ActivityType, // 紅利方式
          BonusSerialNo: this.DinancialActivity.BonusSerialNo, // 紅利對應的資料序號
          Remark: "" // 备注
        }

        EventBus.$emit("GlobalLoadingTrigger", true)
        const data = await PersonalCenterService.CompanyRemittance_Add(inputData)
        console.log(data)
        console.log(inputData)
        console.log("data公司入款1111111111111")
        EventBus.$emit("GlobalLoadingTrigger", false)

        const notifyData = {
          NotifyMessage: data.Message
        }

        if (data.Ret === 0) {
          // 判断是否存款次数已经达到上限了IsLimit：true=达到上限 false=未达到
          if (data.Data.IsLimit !== true) {
            this.SuccessData = data.Data // 订单提交成功将成功的信息展示
            this.RemarkCode = data.Data.RemarkCode
            this.HideFromData = true
            this.OrderNoOrder = data.Data.OrderNo
            this.RangSecondTick = data.Data.RangSecond

            console.log(this.RangSecondTick)
            console.log("12")
            // EventBus.$emit('DinancialConfirmBox');
            // EventBus.$emit('DinancialBankReciprocal');
            // console.log(this.poorTimeTick);

            if (this.DinancialType === "2-1") {
              EventBus.$emit("DinancialBankReciprocal", this.RangSecondTick)
              // CommUtility.WebShowAlertboxForm('DinancialBank');
            } else {
              EventBus.$emit("DinancialCodeReciprocal", this.RangSecondTick)
              // CommUtility.WebShowAlertboxForm('DinancialCode');
            }
            CommUtility.WebShowAlertboxForm("DinancialConfirm")
          } else {
            notifyData.NotifyMessage = ""
            notifyData.NotifySubMessage = this.$t("message.member_deposit_activity_limit")
            EventBus.$emit("showNotifyMemberMessage", notifyData)
          }
          // notifyData.NotifySubMessage = this.$t('message.member_wait_patiently');
          // EventBus.$emit('remittanceDepositSuccess');
        } else {
          EventBus.$emit("showNotifyMemberMessage", notifyData)
        }

        console.log("===============+++++++++++")
        console.log(data)
      }
    },
    // 倒计时30分钟
    ReciprocalOrder: function () {
      this.reciprocal = this.DinancialChannelData.RangeMin * 60000
      this.setValOrder = setInterval(() => {
        if (this.reciprocal < 1000) {
          clearInterval(this.setValOrder)
          this.reciprocal = 0
          return
        }
        this.reciprocal -= 1000
      }, 1000)
    },
    WebCloseMessageWindow: function () {
      this.DinancialActivityNum = undefined // 关闭弹窗时活动列表恢复默认状态
      CommUtility.WebClosealertboxForm("DinancialSelectActivity")
    },
    WebOpenMessageWindow: function (data) {
      this.DinancialData = data // 表单数据传递
      // 默认选中第一个活动
      this.SelectDepositActivity(this.DinancialActivityList[0], 0)
      CommUtility.WebShowAlertboxForm("DinancialSelectActivity")
    },
    WebCloseMessageOrder: function () {
      clearInterval(this.setValOrder)
      EventBus.$emit("onlineForm") // 清空输入
      // this.$refs.onlineForm.ClearFromData();
      CommUtility.WebClosealertboxForm("DinancialOrder")
    },
    // 弹出客服窗口
    OpenNewBox: function (serveLink) {
      window.open(serveLink, "客服", "scrollbars=1,width=365,height=565,left=10,top=150")
    }
  },
  components: {
    MemberFinancialBank,
    MemberFinancialCode,
    MemberFinancialOrder,
    MemberCompanyForm,
    MemberOnlineForm,
    MemberDepositAmountLimit,
    memberFinancialConfirm
  },
  beforeDestroy: function () {
    this.WebCloseMessageWindow()
    this.WebCloseMessageOrder()
  }
}
</script>
