<template>
  <div>
    <div
      id="AddAccountedForAsFrom"
      class="alert_box_content spread_alert_box AddAccountedForAs re_h"
      style="width: 950px;padding: 0px 0px 0px;"
    >
      <span class="alert_close" @click="CloseAddAccountedForAsWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont AddAccountedForContent" id="AddAccountedForContent">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_additional_scheme')}}
        </h2>
        <div class="addSpread-content">
          <h2 class="addSpread-cont-title">
            <p class="p1-name">{{$t('message.agency_scenario_name')}}</p>
            <p class="p1-put">
              <input
                type="text"
                name="TempName"
                v-model.trim="SavePlanObj.TempName"
                v-validate="{ rules: { regex:Reg.PlanName, required: true }}"
              />
            </p>
            <p
              class="tip1"
              style="display:inline-block;"
              v-show="errors.has('TempName') && fields.TempName.touched"
            >{{$t('message.agency_english_letter')}}</p>
          </h2>
          <div class="createAccount-cont-bottom">
            <div class="createAccount-cont-treatment">
              <h5>{{$t('message.agency_superior_occupancy')}}：</h5>
              <div class="treatment-item" :style="{'height':vTreatment,'margin-left':0}">
                <ul class="treatment-item-ul">
                  <li class="treatment-ulLi" v-for="(value,index) in ValueListItem" :key="index">
                    <span
                      class="treatment-ulLi-tabName"
                      v-bind:class="{ 'on': superiorName == value.GroupName}"
                      @click="superior(value.GroupName)"
                    >{{value.GroupName}}</span>
                    <ul
                      class="treatment-ulLi-tabCon"
                      :style="{'height':HulHeight}"
                      v-show="superiorName == value.GroupName"
                    >
                      <li class="tabCon-list" v-for="(valueLi,key) in value.GroupList" :key="key">
                        <span
                          class="tabCon-list-name"
                          :title="valueLi.GameApiName"
                        >{{valueLi.GameApiName}}</span>
                        <div class="tabCon-list-put">{{valueLi.RevenueRate}}</div>
                        <span class="tabCon-list-percentage">%</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <h5>{{$t('message.agency_modify_data')}}：</h5>
              <div class="treatment-item" :style="{'height':vTreatment,'margin-left':0}">
                <ul class="treatment-item-ul">
                  <li class="treatment-ulLi" v-for="(li,index) in ValueListItem" :key="index">
                    <span
                      class="treatment-ulLi-tabName"
                      v-bind:class="{ 'on': divideName == li.GroupName,'treaAthletics':li.GroupName=='电子竞技'}"
                      @click="divideInto(li.GroupName)"
                    >
                      <i
                        class="tabName-putName"
                        :class="{'tabName-putNameLen':li.GroupName.length>4}"
                      >{{li.GroupName}}</i>
                      <input
                        class="tabName-putBox"
                        v-model="li.tabValueName"
                        @input="tabValueKey(li.tabValueName,index,$event)"
                        type="number"
                      />
                      <i class="tabName-percentage">%</i>
                    </span>
                    <ul
                      class="treatment-ulLi-tabCon"
                      :style="{'height':HulHeight}"
                      v-show="divideName == li.GroupName"
                    >
                      <li class="tabCon-list" v-for="(liList,key) in li.GroupList" :key="key">
                        <span
                          class="tabCon-list-name"
                          :title="liList.GameApiName"
                        >{{liList.GameApiName}}</span>
                        <div class="tabCon-list-put">
                          <input
                            v-model="liList.BasicRevenueRate"
                            @blur="Treatmentvailable(liList)"
                            type="number"
                            :placeholder="$t('message.agency_highest_proportion')+liList.RevenueRate+'%'"
                            @input="oninputBasicRevenueRate(index,key,$event)"
                          />
                        </div>
                        <span class="tabCon-list-percentage">%</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="createAccount-cont-bonus">
              <div class="bonus-list">
                <span class="bonus-list-name">{{$t('message.agency_bear_dividends')}}</span>
                <input
                  class="bonus-list-put"
                  type="number"
                  @blur="IBBonusvailable()"
                  v-model="SavePlanObj.BonusRevenueOwn"
                  @input="oninputIBBonusvailable"
                />
                <span class="bonus-list-percentage">%</span>
                <span
                  class="bonus-list-tip"
                >{{$t('message.agency_extra_dividend')}}{{MaxIBBonusRevenueRate}}%</span>
              </div>
              <div class="bonus-list">
                <span class="bonus-list-name">{{$t('message.agency_code_commission')}}</span>
                <div
                  v-show="AutoUpgradeFlag==1"
                  class="bonus-list-promotion"
                >：{{$t('message.agency_promotion_system')}}</div>
                <div v-show="AutoUpgradeFlag!=1" style="float: left;">
                  <input
                    class="bonus-list-put"
                    @blur="Revrsevailable()"
                    v-model="SavePlanObj.RakeRateOwn"
                    type="number"
                    @input="oninputRevrsevailable"
                  />
                  <span class="bonus-list-percentage">%</span>
                  <span
                    class="bonus-list-tip"
                  >{{$t('message.agency_code_commissioner')}}{{VMaxRevrseWater}}%</span>
                </div>
              </div>
              <span
                class="bonus-settlement"
              >{{$t('message.agency_settlement_method')}}：{{CycleName}}</span>
            </div>
          </div>
        </div>
        <div class="record_query">
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="SaveSettings()"
          >{{$t('message.member_preservation')}}</a>
          <a
            class="cancle-searchBtn"
            href="javascript:void(0);"
            @click="ResetAddAccountedForAsFrom()"
          >{{$t('message.agency_reset')}}</a>
        </div>
      </div>
    </div>
    <div
      v-show="IsMaxFlag"
      class="maxtip"
      style="z-index:10001"
    >{{$t('message.agency_reasonable_numerical')}}：0~{{MaxRevenueRateNum}}</div>
    <div
      v-show="IsIBBonusFlag"
      class="maxtip"
      style="z-index:10001"
    >{{$t('message.agency_extra_dividend')}}{{MaxIBBonusRevenueRate}},{{$t('message.agency_numerial_number')}}!</div>
    <div
      v-show="RevrseFlag"
      class="maxtip"
      style="z-index:10001"
    >{{$t('message.agency_code_commissioner')}}{{VMaxRevrseWater}},{{$t('message.agency_numerial_number')}}!</div>
    <div v-show="resigerWord" class="maxtip" style="z-index:10001">{{succeededText}}</div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import AgencyCenterService from "@/mod/k14/assets/scripts/businessLogic/agencyCenterService.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      HulHeight: "89px",
      vTreatment: "142px",
      RevrseFlag: false,
      IsIBBonusFlag: false,
      IsMaxFlag: false,
      MaxRevenueRateNum: "",
      inputSecondText: null,
      SavePlanObj: {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        TempName: "",
        TempType: 1401,
        TempCommissionRevenueGameSetting: [],
        BonusRevenue: "",
        RakeRate: "",
        BonusRevenueOwn: "",
        RakeRateOwn: ""
      },
      resigerWord: false,
      succeededText: ""
    }
  },
  props: {
    VMaxRevrseWater: "",
    MaxIBBonusRevenueRate: "",
    AutoUpgradeFlag: undefined,
    divideName: {
      type: String,
      default: function () {
        return ""
      }
    },
    superiorName: {
      type: String,
      default: function () {
        return ""
      }
    },
    ValueListItem: {
      type: Array,
      default: function () {
        return []
      }
    },
    CycleName: {
      type: String,
      default: function () {
        return ""
      }
    }
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("AddAccountedForAsFrom", this.SaveSettings)
    $("#AddAccountedForContent").perfectScrollbar()
  },
  methods: {
    SaveSettings: async function () {
      const self = this
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }

      for (let index = 0; index < self.ValueListItem.length; index++) {
        for (let i = 0; i < self.ValueListItem[index].GroupList.length; i++) {
          if (
            self.ValueListItem[index].GroupList[i].BasicRevenueRate === "" ||
            self.ValueListItem[index].GroupList[i].BasicRevenueRate === null ||
            self.ValueListItem[index].GroupList[i].BasicRevenueRate * 1 >
              self.ValueListItem[index].GroupList[i].RevenueRate * 1
          ) {
            self.MaxRevenueRateNum = self.ValueListItem[index].GroupList[i].RevenueRate
            self.IsMaxFlag = true
            self.ValueListItem[index].GroupList[i].BasicRevenueRate = ""
            setTimeout(() => {
              this.IsMaxFlag = false
            }, 2000)
            return
          }
        }
      }
      if (this.SavePlanObj.BonusRevenueOwn === "") {
        this.IsIBBonusFlag = true
        setTimeout(() => {
          this.IsIBBonusFlag = false
        }, 2000)
        return
      }
      if (this.SavePlanObj.BonusRevenueOwn * 1 > this.MaxIBBonusRevenueRate) {
        this.IsIBBonusFlag = true
        this.SavePlanObj.BonusRevenueOwn = ""
        setTimeout(() => {
          this.IsIBBonusFlag = false
        }, 2000)
        return
      }
      if (this.AutoUpgradeFlag != 1) {
        if (this.SavePlanObj.RakeRateOwn === "") {
          this.RevrseFlag = true
          setTimeout(() => {
            this.RevrseFlag = false
          }, 2000)
          return
        }
      }
      if (this.SavePlanObj.RakeRateOwn * 1 > this.VMaxRevrseWater) {
        this.RevrseFlag = true
        this.SavePlanObj.RakeRateOwn = ""
        setTimeout(() => {
          this.RevrseFlag = false
        }, 2000)
        return
      }
      if (this.inputSecondText === "") {
        this.IsMaxFlag = true
        setTimeout(() => {
          this.IsMaxFlag = false
        }, 2000)
        return
      }
      this.SavePlanObj.TempCommissionRevenueGameSetting = []
      for (let index = 0; index < self.ValueListItem.length; index++) {
        for (let i = 0; i < self.ValueListItem[index].GroupList.length; i++) {
          const NewGroupListItem = {}
          NewGroupListItem.GameApiNo = self.ValueListItem[index].GroupList[i].GameApiNo
          NewGroupListItem.GameTypeNo = self.ValueListItem[index].GroupList[i].GameTypeNo
          NewGroupListItem.RevenueRate = this.numCalFix(
            (self.ValueListItem[index].GroupList[i].BasicRevenueRate * 1) / 100
          )
          self.SavePlanObj.TempCommissionRevenueGameSetting.push(NewGroupListItem)
        }
      }
      this.SavePlanObj.BonusRevenue = this.numCalFix((this.SavePlanObj.BonusRevenueOwn * 1) / 100)
      this.SavePlanObj.RakeRate = this.numCalFix((this.SavePlanObj.RakeRateOwn * 1) / 100)
      console.log("新增的占成数据+++++++++++++++++++this.SavePlanObj")
      console.log(this.SavePlanObj)
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.IBExtensionPlanAdd(this.SavePlanObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("-------------------------IBExtensionPlanAdd")
      console.log(data)
      if (data.Ret == 100021) {
        this.SavePlanObj.TempCommissionRevenueGameSetting = []
        this.succeededText = this.$t("message.agency_duplicated")
        this.resigerWord = true
        setTimeout(() => {
          this.resigerWord = false
        }, 2000)
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        }
        if (data.Ret == 0) {
          EventBus.$emit("UpdatePlanList")
        }

        this.SavePlanObj.TempName = ""
        this.SavePlanObj.BonusRevenueOwn = ""
        this.SavePlanObj.RakeRateOwn = ""
        this.SavePlanObj.TempCommissionRevenueGameSetting = []
        this.$validator.reset()
        this.CloseAddAccountedForAsWindow()
        EventBus.$emit("showNotifyAgencyMessage", notifyData)
      }
    },
    // 重置表单数据
    ResetAddAccountedForAsFrom: function () {
      this.SavePlanObj.TempName = ""
      this.SavePlanObj.BonusRevenueOwn = ""
      this.SavePlanObj.RakeRateOwn = ""
      const self = this
      for (let index = 0; index < self.ValueListItem.length; index++) {
        self.ValueListItem[index].tabValueName = ""
        for (let i = 0; i < self.ValueListItem[index].GroupList.length; i++) {
          self.ValueListItem[index].GroupList[i].BasicRevenueRate = ""
        }
      }
      this.$validator.reset()
    },
    // 校验用户输入的游戏厂商占成比是否超过最大值
    Treatmentvailable: function (list) {
      this.MaxRevenueRateNum = list.RevenueRate
      this.inputSecondText = list.BasicRevenueRate
      console.log(list)
      console.log(list.RevenueRate)
      if (list.BasicRevenueRate > list.RevenueRate) {
        this.IsMaxFlag = true
        list.BasicRevenueRate = ""
        setTimeout(() => {
          this.IsMaxFlag = false
        }, 2000)
      }
    },
    tabValueKey: function (data, j, e) {
      // data = data.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      const index = String(e.target.value).indexOf(".")
      const val = e.target.value
      const len = e.target.value.length
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != ".") {
        this.ValueListItem[j].tabValueName = val.charAt(1)
        return
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == ".") {
        this.ValueListItem[j].tabValueName = ""
        return
      }
      if (index != -1) {
        let arrStr = []
        arrStr = String(e.target.value).split(".")
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[j].tabValueName = String(e.target.value).substring(0, index + 3)
          return
        } else {
          this.ValueListItem[j].tabValueName = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
        }
      } else {
        this.ValueListItem[j].tabValueName = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      }
      const self = this
      const itemLists = self.ValueListItem[j].GroupList
      for (let k = 0; k < itemLists.length; k++) {
        if (data) {
          itemLists[k].BasicRevenueRate = data
          // if (itemLists[k].BasicRevenueRate > itemLists[k].RevenueRate) {
          //   itemLists[k].BasicRevenueRate = '';
          // }
        } else {
          itemLists[k].BasicRevenueRate = ""
        }
      }
    },
    IBBonusvailable: function () {
      if (this.SavePlanObj.BonusRevenueOwn * 1 > this.MaxIBBonusRevenueRate) {
        this.IsIBBonusFlag = true
        this.SavePlanObj.BonusRevenueOwn = ""
        setTimeout(() => {
          this.IsIBBonusFlag = false
        }, 2000)
      }
    },
    Revrsevailable: function () {
      if (this.SavePlanObj.RakeRateOwn * 1 > this.VMaxRevrseWater) {
        this.RevrseFlag = true
        this.SavePlanObj.RakeRateOwn = ""
        setTimeout(() => {
          this.RevrseFlag = false
        }, 2000)
      }
    },
    oninput(e) {
      // 通过正则过滤小数点后两位
      e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      console.log("e", e.target.value)
    },
    oninputBasicRevenueRate(findex, key, e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf(".")
      const val = e.target.value
      const len = e.target.value.length
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != ".") {
        this.ValueListItem[findex].GroupList[key].BasicRevenueRate = val.charAt(1)
        return
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == ".") {
        this.ValueListItem[findex].GroupList[key].BasicRevenueRate = ""
        return
      }
      if (index != -1) {
        let arrStr = []
        arrStr = String(e.target.value).split(".")
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[findex].GroupList[key].BasicRevenueRate = String(e.target.value).substring(0, index + 3)
        } else {
          this.ValueListItem[findex].GroupList[key].BasicRevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
        }
      } else {
        this.ValueListItem[findex].GroupList[key].BasicRevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      }
    },
    oninputIBBonusvailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf(".")
      const val = e.target.value
      const len = e.target.value.length
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != ".") {
        this.SavePlanObj.BonusRevenueOwn = val.charAt(1)
        return
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == ".") {
        this.SavePlanObj.BonusRevenueOwn = ""
        return
      }
      if (index != -1) {
        let arrStr = []
        arrStr = String(e.target.value).split(".")
        if (arrStr[1] && arrStr[1].length > 2) {
          this.SavePlanObj.BonusRevenueOwn = String(e.target.value).substring(0, index + 3)
        } else {
          this.SavePlanObj.BonusRevenueOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
        }
      } else {
        this.SavePlanObj.BonusRevenueOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      }
    },
    oninputRevrsevailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf(".")
      const val = e.target.value
      const len = e.target.value.length
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != ".") {
        this.SavePlanObj.RakeRateOwn = val.charAt(1)
        return
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == ".") {
        this.SavePlanObj.RakeRateOwn = ""
        return
      }
      if (index != -1) {
        let arrStr = []
        arrStr = String(e.target.value).split(".")
        if (arrStr[1] && arrStr[1].length > 2) {
          this.SavePlanObj.RakeRateOwn = String(e.target.value).substring(0, index + 3)
        } else {
          this.SavePlanObj.RakeRateOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
        }
      } else {
        this.SavePlanObj.RakeRateOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      }
    },
    divideInto: function (name) {
      console.log(name)
      EventBus.$emit("ChangeDivideName", name)
    },
    superior: function (name) {
      console.log(name)
      EventBus.$emit("ChangeSuperiorName", name)
    },
    // 格式化数字
    numCalFix: function (input) {
      let isZheng = 1
      if (input * 1 >= 0) {
        isZheng = 1
      } else {
        isZheng = -1
      }
      input = Math.abs(input * 1)
      const toFixedNum = function (num, s) {
        const times = 10 ** s
        let des = num * times + 0.5
        des = parseInt(des, 10) / times
        return des * isZheng + ""
      }
      let rtn = toFixedNum(input, 5)
      rtn *= 1
      return rtn
    },
    // 開啟視窗
    AddAccountedForAsOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("AddAccountedForAsFrom")
    }, // end OpenWindow

    // 關閉彈窗
    CloseAddAccountedForAsWindow: function () {
      this.SavePlanObj.TempName = ""
      this.SavePlanObj.BonusRevenueOwn = ""
      this.SavePlanObj.RakeRateOwn = ""
      this.SavePlanObj.TempCommissionRevenueGameSetting = []
      this.$validator.reset()
      CommUtility.WebClosealertboxForm("AddAccountedForAsFrom")
    } // end CloseWindow
  }
}
</script>
