<template>
  <div id="CodeAlterWindow" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="closeBankSelectWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_title">
      <p style="color:#666">{{$t('message.agency_dimensional_barcode')}}</p>
    </div>
    <div class="descr_codeWindImg">
      <img :src="imgUrl" />
    </div>
    <div class="pub_btn_both style3" style="padding-left: 98px;">
      <a class="btn1 alert_click1 hasblock" style="cursor: pointer" @click="codeSumbitSure()">下载</a>
      <a class="btn2" @click="closeBankSelectWindow()">取消</a>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
export default {
  data() {
    return {
      imgUrl: undefined,
      imgName: undefined
    }
  },
  created: function () {},
  methods: {
    TriggerBankSelectWindow: function (url, name) {
      this.imgUrl = url
      this.imgName = name
      CommUtility.WebShowAlertboxForm("CodeAlterWindow")
    },
    codeSumbitSure: function () {
      const imgUrl = this.imgUrl
      const name = this.imgName
      console.log(name)
      console.log(imgUrl)
      if (this.browserIsIe()) {
        if (window.navigator.msSaveOrOpenBlob) {
          const bstr = atob(imgUrl.split(",")[1])
          let n = bstr.length
          const u8arr = new Uint8Array(n)
          while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
          }
          const blob = new Blob([u8arr])
          window.navigator.msSaveOrOpenBlob(blob, name + ".png")
        } else {
          EventBus.$emit("showNotifyMemberMessage", {
            NotifySubMessage: this.$t("message.agency_browser")
          })
        }
      } else {
        const imgData = this.imgUrl
        this.downloadFile(name + ".png", imgData)
      }

      CommUtility.WebClosealertboxForm("CodeAlterWindow")
    },
    downloadFile(fileName, content) {
      const aLink = document.createElement("a")
      const blob = this.base64ToBlob(content) // new Blob([content]);

      const evt = document.createEvent("HTMLEvents")
      evt.initEvent("click", true, true) // initEvent 不加后两个参数在FF下会报错  事件类型，是否冒泡，是否阻止浏览器的默认行为
      aLink.download = fileName
      aLink.href = URL.createObjectURL(blob)
      aLink.dispatchEvent(
        new MouseEvent("click", {
          bubbles: true,
          cancelable: true,
          view: window
        })
      ) // 兼容火狐
    },
    base64ToBlob(code) {
      const parts = code.split(";base64,")
      const contentType = parts[0].split(":")[1]
      const raw = window.atob(parts[1])
      const rawLength = raw.length

      const uInt8Array = new Uint8Array(rawLength)

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i)
      }
      return new Blob([uInt8Array], { type: contentType })
    },
    browserIsIe() {
      if (!!window.ActiveXObject || "ActiveXObject" in window) {
        return true
      } else {
        return false
      }
    },
    closeBankSelectWindow: function () {
      CommUtility.WebClosealertboxForm("CodeAlterWindow")
    }
  }
}
</script>
