<template>
  <div>
    <div id="EditAccountedForAsFrom" class="alert_box_content spread_alert_box EditAccountedForAs re_h" style="width: 950px;padding: 0px 0px;">
      <span class="alert_close" @click="CloseEditAccountedForAsWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'">
      </span>
      <div class="purple_cont EditAccountedContent" id="EditAccountedContent">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'">{{$t('message.agency_program_editor')}}
        </h2>
        <div class="addSpread-content">
          <h2 class="addSpread-cont-title">
            <p class="p1-name">{{$t('message.agency_scenario_name')}}</p>
            <p class="p1-put">
              <input type="text"
            name="TempName"
            v-model.trim="EditPlanObj.TempName"
            v-validate="{ rules: { regex:Reg.PlanName, required: true }}">
              <p
                class="tip1"
                style="display:inline-block;"
                v-show="errors.has('TempName') && fields.TempName.touched"
              >{{$t('message.agency_english_letter')}}</p>
            </p>
          </h2>
          <div class="createAccount-cont-bottom">
            <div class="createAccount-cont-treatment">
                <h5>{{$t('message.agency_primitive_occupation')}}：</h5>
              <div class="treatment-item" :style="{'height':vTreatment,'margin-left':0}">
                <ul class="treatment-item-ul">
                  <li class="treatment-ulLi" v-for="(value,index) in OwnEditValueListItem" :key="index">
                    <span
                      class="treatment-ulLi-tabName"
                      v-bind:class="{ 'on': EditSuperiorName == value.GroupName}"
                      @click="Editsuperior(value.GroupName)"
                    >{{value.GroupName}}</span>
                    <ul
                      class="treatment-ulLi-tabCon"
                      :style="{'height':HulHeight}"
                      v-show="EditSuperiorName == value.GroupName"
                    >
                      <li class="tabCon-list" v-for="(valueLi,key) in value.GroupList" :key="key">
                        <span class="tabCon-list-name" :title="valueLi.GameApiName">{{valueLi.GameApiName}}</span>
                        <div class="tabCon-list-put">{{valueLi.RevenueRate}}</div>
                        <span class="tabCon-list-percentage">%</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
                <h5>{{$t('message.agency_occupancy_settings')}}：</h5>
              <div class="treatment-item" :style="{'height':vTreatment,'margin-left':0}">
                <ul class="treatment-item-ul">
                  <li class="treatment-ulLi" v-for="(li,index) in OwnOriginalValueListItem" :key="index">
                    <span
                      class="treatment-ulLi-tabName"
                      v-bind:class="{ 'on': EditDivideName == li.GroupName,'treaAthletics':li.GroupName=='电子竞技'}"
                      @click="EditdivideInto(li.GroupName)"
                    >
                      <i class="tabName-putName" :class="{'tabName-putNameLen':li.GroupName.length>4}">{{li.GroupName}}</i>
                      <input
                        class="tabName-putBox"
                        v-model="li.tabValueName"
                        @input="tabValueKey(li.tabValueName,index,$event)"

                        type="number"
                      >
                      <i class="tabName-percentage">%</i>
                    </span>
                    <ul
                      class="treatment-ulLi-tabCon"
                      :style="{'height':HulHeight}"
                      v-show="EditDivideName == li.GroupName"
                    >
                      <li class="tabCon-list" v-for="(liList,key) in li.GroupList" :key="key">
                        <span class="tabCon-list-name" :title="liList.GameApiName">{{liList.GameApiName}}</span>
                        <div class="tabCon-list-put">
                          <input
                            v-model="liList.RevenueRate"
                            @blur="Treatmentvailable(liList,index,key)"
                            type="number"
                            :placeholder="$t('message.agency_highest_proportion')+OwnEditValueListItem[index].GroupList[key].RevenueRate+'%'"
                            @input="oninputRevenueRate(index,key,$event)"
                          >
                        </div>
                        <span class="tabCon-list-percentage">%</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="createAccount-cont-bonus">
              <div class="bonus-list">
                <span class="bonus-list-name">{{$t('message.agency_bear_dividends')}}</span>
                <input
                  class="bonus-list-put"
                  type="number"
                  @blur="IBBonusvailable()"
                  v-model="EditPlanObj.BonusRevenueOwn"
                  @input="oninputIBBonusvailable"
                >
                <span class="bonus-list-percentage">%</span>
                <span class="bonus-list-tip">{{$t('message.agency_extra_dividend')}}{{EditMaxIBBonusRevenueRate}}%</span>
              </div>
              <div class="bonus-list">
                <span class="bonus-list-name">{{$t('message.agency_code_commission')}}</span>
                <div v-show="AutoUpgradeFlag==1" class="bonus-list-promotion">：{{$t('message.agency_promotion_system')}}</div>
                <div v-show="AutoUpgradeFlag!=1" style="float: left;">
                  <input
                    class="bonus-list-put"
                    @blur="Revrsevailable()"
                    v-model="EditPlanObj.RakeRateOwn"
                    type="number"
                    @input="oninputRevrsevailable"
                  >
                  <span class="bonus-list-percentage">%</span>
                  <span class="bonus-list-tip">{{$t('message.agency_code_commissioner')}}{{EditVMaxRevrseWater}}%</span>
                </div>
              </div>
              <span class="bonus-settlement">{{$t('message.agency_settlement_method')}}：{{EditCycleName}}</span>
            </div>
          </div>
        </div>
        <div class="record_query">
              <a  class="common-searchBtn" href="javascript:void(0);"  @click="SaveEditSettings()">{{$t('message.member_preservation')}}</a>
              <a class="cancle-searchBtn" href="javascript:void(0);" @click="ResetEditAccountedForAsFrom()">{{$t('message.agency_reset')}}</a>
            </div>
      </div>
    </div>
    <div v-show="IsMaxFlag" class="maxtip" style="z-index:10001">{{$t('message.agency_reasonable_numerical')}}：0~{{MaxRevenueRateNum}}</div>
    <div v-show="IsIBBonusFlag" class="maxtip" style="z-index:10001">{{$t('message.agency_extra_dividend')}}{{EditMaxIBBonusRevenueRate}}{{$t('message.agency_reasonable_value')}}</div>
    <div v-show="RevrseFlag" class="maxtip" style="z-index:10001">{{$t('message.agency_code_commissioner')}}{{EditVMaxRevrseWater}}{{$t('message.agency_reasonable_value')}}</div>
    <div v-show="resigerWord" class="maxtip" style="z-index:10001">{{succeededText}}</div>
  </div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import AgencyCenterService from '@/mod/k14/assets/scripts/businessLogic/agencyCenterService.js';
import Regex from '@/assets/scripts/common/CommDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
// import BLDef from '@/assets/scripts/common/BLDef.js';

export default {
  data () {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      HulHeight: '89px',
      vTreatment: '142px',
      RevrseFlag: false,
      IsIBBonusFlag: false,
      IsMaxFlag: false,
      MaxRevenueRateNum: '',
      EditInputSecondText: null,
      EditPlanObj: {
        MemberID: localStorage.getItem('CorrelationIBMemberId'),
        TempName: '',
        TempType: 1401,
        TempCommissionRevenueGameSetting: [],
        BonusRevenue: 0,
        BonusRevenueOwn: 0,
        RakeRate: 0,
        RakeRateOwn: 0,
        TempID: '',
        GroupID: ''
      },
      OwnEditValueListItem: [],
      OwnOriginalValueListItem: [],
      resigerWord: false,
      succeededText: '',
    };
  },
  props: {
    AutoUpgradeFlag: undefined,
    GroupID: '',
    PlanId: '',
    EditVMaxRevrseWater: '',
    EditMaxIBBonusRevenueRate: '',
    PlanBonusRevenue: 0,
    PlanRakeRate: 0,
    PlanName: '',
    EditDivideName: {
      type: String,
      default: function () {
        return '';
      }
    },
    EditSuperiorName: {
      type: String,
      default: function () {
        return '';
      }
    },
    EditValueListItem: {
      type: Array,
      default: function () {
        return [];
      }
    },
    OriginalValueListItem: {
      type: Array,
      default: function () {
        return [];
      }
    },
    EditCycleName: {
      type: String,
      default: function () {
        return '';
      }
    }
  },
  mounted: function () {
    CommUtility.BindEnterTrigger('EditAccountedForAsFrom', this.SaveEditSettings);
    $('#EditAccountedContent').perfectScrollbar();
    const self = this;
    this.$nextTick(function () {
      self.EditPlanObj.TempName = self.PlanName;
      self.EditPlanObj.TempID = self.PlanId;
      self.EditPlanObj.GroupID = self.PlanId;
      self.EditPlanObj.BonusRevenueOwn = self.PlanBonusRevenue;
      self.EditPlanObj.RakeRateOwn = self.PlanRakeRate;
      self.OwnEditValueListItem = self.EditValueListItem;
      self.OwnOriginalValueListItem = self.OriginalValueListItem;
      console.log('编辑方案111111111111')
      console.log(self.OwnEditValueListItem)
      console.log(self.OwnOriginalValueListItem)
      console.log('编辑方案111111111111')
    });
  },
  methods: {
    SaveEditSettings: async function () {
      const self = this;
      console.log(self.EditPlanObj.BonusRevenueOwn);
      console.log(self.EditPlanObj.BonusRevenueOwn === '');
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      if (this.EditPlanObj.BonusRevenueOwn === '') {
        this.IsIBBonusFlag = true;
        setTimeout(() => {
          this.IsIBBonusFlag = false;
        }, 2000);
        return;
      }
      if (this.EditPlanObj.BonusRevenueOwn * 1 > this.EditMaxIBBonusRevenueRate) {
        this.IsIBBonusFlag = true;
        this.EditPlanObj.BonusRevenueOwn = '';
        setTimeout(() => {
          this.IsIBBonusFlag = false;
        }, 2000);
        return;
      }
      if ((this.AutoUpgradeFlag * 1) != 1) {
        if (this.EditPlanObj.RakeRateOwn === '') {
          this.RevrseFlag = true;
          setTimeout(() => {
            this.RevrseFlag = false;
          }, 2000);
          return;
        }
      }
      if (this.EditPlanObj.RakeRateOwn * 1 > this.EditVMaxRevrseWater) {
        this.RevrseFlag = true;
        this.EditPlanObj.RakeRateOwn = '';
        setTimeout(() => {
          this.RevrseFlag = false;
        }, 2000);
        return;
      }
      if (this.EditInputSecondText === '') {
        this.IsMaxFlag = true;
        setTimeout(() => {
          this.IsMaxFlag = false;
        }, 2000);
        return;
      }
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        for (let i = 0; i < self.OriginalValueListItem[index].GroupList.length; i++) {
          if (self.OriginalValueListItem[index].GroupList[i].RevenueRate === '' || self.OriginalValueListItem[index].GroupList[i].RevenueRate === null || (self.OriginalValueListItem[index].GroupList[i].RevenueRate * 1 > self.OwnEditValueListItem[index].GroupList[i].RevenueRate * 1)) {
            self.MaxRevenueRateNum = self.OwnEditValueListItem[index].GroupList[i].RevenueRate;
            self.IsMaxFlag = true;
            self.OriginalValueListItem[index].GroupList[i].RevenueRate = '';
            setTimeout(() => {
              this.IsMaxFlag = false;
            }, 2000);
            return;
          }
        }
      }
      this.EditPlanObj.TempCommissionRevenueGameSetting = [];
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        for (let i = 0; i < self.OriginalValueListItem[index].GroupList.length; i++) {
          const NewGroupListItem = {};
          NewGroupListItem.GameApiNo = self.OriginalValueListItem[index].GroupList[i].GameApiNo;
          NewGroupListItem.GameTypeNo = self.OriginalValueListItem[index].GroupList[i].GameTypeNo;
          NewGroupListItem.RevenueRate = this.numCalFix(self.OriginalValueListItem[index].GroupList[i].RevenueRate * 1 / 100);
          self.EditPlanObj.TempCommissionRevenueGameSetting.push(NewGroupListItem);
        }
      }
      console.log(this.EditPlanObj.TempCommissionRevenueGameSetting);
      self.EditPlanObj.BonusRevenue = this.numCalFix((self.EditPlanObj.BonusRevenueOwn * 1) / 100);
      self.EditPlanObj.RakeRate = this.numCalFix(
        (self.EditPlanObj.RakeRateOwn * 1) / 100
      );
      self.EditPlanObj.TempID = this.PlanId;
      self.EditPlanObj.GroupID = this.GroupID;
      console.log('--------------EditPlanObj');
      console.log(self.EditPlanObj);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanMod(this.EditPlanObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPlanMod');
      console.log(data);
      this.EditPlanObj.TempCommissionRevenueGameSetting = [];
      if (data.Ret == 100021) {
        this.succeededText =
            '方案名称不能重复';
          this.resigerWord = true;
          setTimeout(() => {
            this.resigerWord = false;
          }, 2000);
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        };
        this.$validator.reset();
        if (data.Ret == 0) {
          EventBus.$emit('UpdatePlanList');
        }
        this.EditPlanObj.TempName = '';
        this.EditPlanObj.BonusRevenueOwn = 0;
        this.EditPlanObj.RakeRateOwn = 0;
        this.$validator.reset();
        this.CloseEditAccountedForAsWindow();
        EventBus.$emit('showNotifyAgencyMessage', notifyData);
      }
    },
    // 重置表单
    ResetEditAccountedForAsFrom: function () {
      this.EditPlanObj.TempName = '';
      this.EditPlanObj.BonusRevenueOwn = '';
      this.EditPlanObj.RakeRateOwn = '';
      const self = this;
      for (let index = 0; index < self.OriginalValueListItem.length; index++) {
        self.OriginalValueListItem[index].tabValueName = '';
        for (let i = 0; i < self.OriginalValueListItem[index].GroupList.length; i++) {
          self.OriginalValueListItem[index].GroupList[i].RevenueRate = 0;
        }
      }
      this.$validator.reset();
    },
    // 校验用户输入的游戏厂商占成比是否超过最大值
    Treatmentvailable: function (list, index, key) {
      this.MaxRevenueRateNum = this.OwnEditValueListItem[index].GroupList[key].RevenueRate;
      this.EditInputSecondText = list.RevenueRate;
      console.log(list);
      console.log(list.RevenueRate);
      if (list.RevenueRate > this.MaxRevenueRateNum) {
        this.IsMaxFlag = true;
        list.RevenueRate = '';
        setTimeout(() => {
          this.IsMaxFlag = false;
        }, 2000);
      }
    },
    tabValueKey: function (data, j, e) {
      // data = data.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.OwnOriginalValueListItem[j].tabValueName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.OwnOriginalValueListItem[j].tabValueName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.OwnOriginalValueListItem[j].tabValueName = String(e.target.value).substring(
            0,
            index + 3
          );
          return;
        } else {
          this.OwnOriginalValueListItem[j].tabValueName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.OwnOriginalValueListItem[j].tabValueName =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      const self = this;
      const referenceItemLists = self.OwnEditValueListItem[j].GroupList;
      const itemLists = self.OwnOriginalValueListItem[j].GroupList;
      for (let k = 0; k < itemLists.length; k++) {
        if (data) {
          console.log(referenceItemLists[k].RevenueRate);
          // if (data <= referenceItemLists[k].RevenueRate) {
            itemLists[k].RevenueRate = data;
          // }
        } else {
          itemLists[k].RevenueRate = '';
        }
      }
    },
    IBBonusvailable: function () {
      if (this.EditPlanObj.BonusRevenueOwn * 1 > this.EditMaxIBBonusRevenueRate) {
        this.IsIBBonusFlag = true;
        this.EditPlanObj.BonusRevenueOwn = '';
        setTimeout(() => {
          this.IsIBBonusFlag = false;
        }, 2000);
      }
    },
    Revrsevailable: function () {
      if (this.EditPlanObj.RakeRateOwn * 1 > this.EditVMaxRevrseWater) {
        this.RevrseFlag = true;
        this.EditPlanObj.RakeRateOwn = '';
        setTimeout(() => {
          this.RevrseFlag = false;
        }, 2000);
      }
    },
    oninput (e) {
      // 通过正则过滤小数点后两位
      e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      console.log('e', e.target.value);
    },
    oninputRevenueRate (findex, key, e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate = val.charAt(
          1
        );
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate = String(
            e.target.value
          ).substring(0, index + 3);
        } else {
          this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.OwnOriginalValueListItem[findex].GroupList[key].RevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    oninputIBBonusvailable (e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.EditPlanObj.BonusRevenueOwn = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.EditPlanObj.BonusRevenueOwn = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.EditPlanObj.BonusRevenueOwn = String(e.target.value).substring(
            0,
            index + 3
          );
        } else {
          this.EditPlanObj.BonusRevenueOwn =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.EditPlanObj.BonusRevenueOwn =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    oninputRevrsevailable (e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.EditPlanObj.RakeRateOwn = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.EditPlanObj.RakeRateOwn = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.EditPlanObj.RakeRateOwn = String(e.target.value).substring(
            0,
            index + 3
          );
        } else {
          this.EditPlanObj.RakeRateOwn =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.EditPlanObj.RakeRateOwn =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
    },
    // 格式化数字
    numCalFix: function (input) {
        let isZheng = 1;
        if (input * 1 >= 0) {
            isZheng = 1;
        } else {
            isZheng = -1;
        }
        input = Math.abs(input * 1);
        const toFixedNum = function (num, s) {
            const times = 10 ** s;
            let des = num * times + 0.5;
            des = parseInt(des, 10) / times;
            return des * isZheng + '';
        };
        let rtn = toFixedNum(input, 5);
        rtn *= 1;
        return rtn;
    },
    EditdivideInto: function (name) {
      EventBus.$emit('ChangeEditDivideName', name);
    },
    Editsuperior: function (name) {
      EventBus.$emit('ChangeEditSuperiorName', name);
    },
    // 開啟視窗
    EditAccountedForOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('EditAccountedForAsFrom');
    }, // end OpenWindow

    // 關閉彈窗
    CloseEditAccountedForAsWindow: function () {
      EventBus.$emit('ChangeEditAccountForFlag');
      CommUtility.WebClosealertboxForm('EditAccountedForAsFrom');
    } // end CloseWindow
  }
};
</script>
