<template>
  <div>
    <div
      id="EditSpreadFrom"
      class="alert_box_content spread_alert_box re_h"
      style="width: 950px;padding: 16px 0px;"
    >
      <span class="alert_close" @click="CloseEditSpreadWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_program_editor')}}
        </h2>
        <div class="addSpread-content">
          <h2 class="addSpread-cont-title">
            <p class="p1-name">{{$t('message.agency_scenario_name')}}</p>
            <p class="p1-put">
              <input
                type="text"
                name="TempName"
                v-model.trim="SavePlanObj.TempName"
                v-validate="{ rules: { regex:Reg.PlanName, required: true }}"
              />
            </p>
            <p
              class="tip1"
              style="display:inline-block;"
              v-show="errors.has('TempName') && fields.TempName.touched"
            >{{$t('message.agency_english_letter')}}</p>
          </h2>
          <div class="createAccount-cont-bottom">
            <div class="createAccount-cont-bonus">
              <div class="bonus-list">
                <span class="bonus-list-name">{{$t('message.agency_code_commission')}}</span>
                <div
                  v-show="AutoUpgradeFlag==1"
                  class="bonus-list-promotion"
                >：{{$t('message.agency_promotion_system')}}</div>
                <div v-show="AutoUpgradeFlag!=1" style="float: left;">
                  <input
                    class="bonus-list-put"
                    type="number"
                    v-model="SavePlanObj.RakeRateOwn"
                    @blur="Revrsevailable()"
                    @input="oninputRevrsevailable"
                  />
                  <span class="bonus-list-percentage">%</span>
                  <span
                    class="bonus-list-tip"
                  >{{$t('message.agency_code_commissioner')}}{{VMaxRevrseWater}}%</span>
                </div>
              </div>
              <span
                class="bonus-settlement"
              >{{$t('message.agency_settlement_method')}}：{{CycleName}}</span>
            </div>
          </div>
        </div>
        <div class="record_query">
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="SaveCodeSettings()"
          >{{$t('message.member_preservation')}}</a>
          <a
            class="cancle-searchBtn"
            href="javascript:void(0);"
            @click="ResetEditSpreadFrom()"
          >{{$t('message.agency_reset')}}</a>
        </div>
      </div>
    </div>
    <div v-show="CallBackWord" class="maxtip" style="z-index:10001">{{Text}}</div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import AgencyCenterService from "@/mod/k14/assets/scripts/businessLogic/agencyCenterService.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      SavePlanObj: {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        TempName: "",
        TempType: 1402,
        RakeRate: 0,
        RakeRateOwn: 0,
        TempID: "",
        GroupID: ""
      },
      CallBackWord: false,
      Text: ""
    }
  },
  props: {
    AutoUpgradeFlag: undefined,
    VMaxRevrseWater: "",
    TempName: "",
    RakeRate: "",
    TempID: "",
    PlanId: "",
    CycleName: {
      type: String,
      default: function () {
        return ""
      }
    }
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("EditSpreadFrom", this.SaveCodeSettings)
    const self = this
    this.$nextTick(function () {
      self.SavePlanObj.TempName = self.TempName
      self.SavePlanObj.RakeRateOwn = self.RakeRate
      self.SavePlanObj.TempID = this.PlanId
      self.SavePlanObj.GroupID = this.PlanId
    })
  },
  methods: {
    SaveCodeSettings: async function () {
      this.SavePlanObj.RakeRateOwn *= 1
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      if (this.AutoUpgradeFlag * 1 != 1) {
        if (this.SavePlanObj.RakeRateOwn === "") {
          this.Text =
            this.$t("message.agency_code_commissioner") +
            this.VMaxRevrseWater +
            this.$t("message.agency_reasonable_value")
          this.CallBackWord = true
          setTimeout(() => {
            this.CallBackWord = false
          }, 2000)
          return
        }
        this.SavePlanObj.RakeRateOwn *= 1
        if (this.SavePlanObj.RakeRateOwn > this.VMaxRevrseWater * 1) {
          this.Text =
            this.$t("message.agency_code_commissioner") +
            this.VMaxRevrseWater +
            this.$t("message.agency_reasonable_value")
          this.CallBackWord = true
          setTimeout(() => {
            this.CallBackWord = false
          }, 2000)
          return
        }
      }
      this.SavePlanObj.RakeRate = this.numCalFix((this.SavePlanObj.RakeRateOwn * 1) / 100)
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.IBExtensionPlanMod(this.SavePlanObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("-------------------------IBExtensionPlanMod")
      console.log(data)
      if (data.Ret == 100021) {
        this.Text = this.$t("message.agency_duplicated")
        this.CallBackWord = true
        setTimeout(() => {
          this.CallBackWord = false
        }, 2000)
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        }
        if (data.Ret == 0) {
          EventBus.$emit("UpdatePlanList")
        }
        this.SavePlanObj.TempName = ""
        this.SavePlanObj.RakeRateOwn = 0
        this.$validator.reset()
        this.CloseEditSpreadWindow()
        EventBus.$emit("showNotifyAgencyMessage", notifyData)
      }
    },
    Revrsevailable: function () {
      if (this.SavePlanObj.RakeRateOwn * 1 > this.VMaxRevrseWater) {
        this.CallBackWord = true
        this.Text =
          this.$t("message.agency_code_commissioner") +
          this.VMaxRevrseWater +
          this.$t("message.agency_reasonable_value")
        this.SavePlanObj.RakeRateOwn = ""
        setTimeout(() => {
          this.CallBackWord = false
        }, 2000)
      }
    },
    oninputRevrsevailable(e) {
      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf(".")
      const val = e.target.value
      const len = e.target.value.length
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != ".") {
        this.SavePlanObj.RakeRateOwn = val.charAt(1)
        return
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == ".") {
        this.SavePlanObj.RakeRateOwn = ""
        return
      }
      if (index != -1) {
        let arrStr = []
        arrStr = String(e.target.value).split(".")
        if (arrStr[1] && arrStr[1].length > 2) {
          this.SavePlanObj.RakeRateOwn = String(e.target.value).substring(0, index + 3)
        } else {
          this.SavePlanObj.RakeRateOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
        }
      } else {
        this.SavePlanObj.RakeRateOwn = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      }
    },
    // 格式化数字
    numCalFix: function (input) {
      let isZheng = 1
      if (input * 1 >= 0) {
        isZheng = 1
      } else {
        isZheng = -1
      }
      input = Math.abs(input * 1)
      const toFixedNum = function (num, s) {
        const times = 10 ** s
        let des = num * times + 0.5
        des = parseInt(des, 10) / times
        return des * isZheng + ""
      }
      let rtn = toFixedNum(input, 5)
      rtn *= 1
      return rtn
    },
    // 重置表单
    ResetEditSpreadFrom: function () {
      this.SavePlanObj.TempName = ""
      this.SavePlanObj.RakeRateOwn = 0
      this.$validator.reset()
    },
    oninput(e) {
      // 通过正则过滤小数点后两位
      e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null
      console.log("e", e.target.value)
    },
    // 開啟視窗
    EditSpreadOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("EditSpreadFrom")
    }, // end OpenWindow

    // 關閉彈窗
    CloseEditSpreadWindow: function () {
      EventBus.$emit("ChangeEditCodeCommisionFlag")
      CommUtility.WebClosealertboxForm("EditSpreadFrom")
    } // end CloseWindow
  }
}
</script>
