<template>
  <div id="emailVerifyFailForm" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="CloseWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div name="PhoneNoForm" class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.login_quota')}}
      </h2>
      <div class="full_course">
        <p>{{$t('message.login_frequency')}}</p>
        <p>
          {{$t('message.login_unreliable')}}
          <a
            href="javascript:void(0);"
            @click="CustomerWindow();OpenNewBox($ServeLink);"
          >{{$t('message.login_liaison')}}</a>
        </p>
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="CloseWindow()"
        >{{$t('message.login_close')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';

export default {
  methods: {
    // 弹出新窗口
    OpenNewBox: function () {
      window.open(
        'https://ytpfx.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=1062671&configID=46821&jid=8209720587&s=1',
        '客服',
        'scrollbars=1,width=365,height=565,left=10,top=150'
      );
      this.CloseWindow();
      // return window.open(aa, 'newindow', 'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    },
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowAlertboxForm('emailVerifyFailForm');
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm('emailVerifyFailForm');
    }, // end CloseWindow

    // 客服彈窗
    CustomerWindow: function () {
      this.CloseWindow();
      CommUtility.WebClosealertboxForm('CustomerServiceWindow');
    } // end  CustomerWindow
  }
};
</script>
