<template>
  <div
    id="emailVerifySuccessForm"
    class="pub_alert_box success_alert_box f_box"
    style="display: none;"
  >
    <div class="full_course">
      <h2>{{$t('message.member_accreditation_success')}}</h2>
      <p>{{$t('message.member_mailbox_certification')}}</p>
    </div>
    <div class="alert_btn_both">
      <a
        class="btn1 btn-success"
        href="javascript:void(0);"
        @click="CloseWindow()"
      >{{$t('message.login_close')}}</a>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';

export default {
  mounted: function () {
    const self = this;
    EventBus.$on('SignalR_VerifyEmail_Notify', () => {
      self.OpenWindow();
    });
  },

  methods: {
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('emailVerifySuccessForm');
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('emailVerifySuccessForm');
    } // end CloseWindow
  },

  beforeDestroy () {
    EventBus.$off('SignalR_VerifyEmail_Notify');
  }
};
</script>
