<template>
  <div class="memberNew-manage-top">
    <div class="memberNew-manage-amount">
      <div class="memberNew-amount-money">
        <div class="memberNew-amount-moneyNum">
          <img
            class="memberNew-amount-moneyIcon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_2.png'"
          />
          <keep-alive>
            <span class="memberNew-moneyNum-sp1">{{this.Balance}}</span>
          </keep-alive>
          <img
            class="memberNew-amount-refresh"
            @click="ReFreshBalance()"
            :class="this.Balance === undefined ? 'hasSelece': ''"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_100.png'"
          />
        </div>
        <span
          class="memberNew-moneyNum-sp2"
        >{{$t('message.member_refresh_time')}}{{this.NowDataTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
      </div>
    </div>
    <div
      class="memberNew-manage-recharge money-btn-sp1"
      @click="navClick('webMemberDeposit')"
    >{{$t('message.top_recharge')}}</div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {
      Balance: undefined,
      NowDataTime: new Date()
    };
  },
  created: function () {
    EventBus.$on('fundGetBalanceComplete', flag => {
      this.Balance = flag;
    });
  },
  methods: {
    ReFreshBalance: function () {
      this.Balance = undefined;
      this.NowDataTime = new Date();
      this.$parent.GetVendorList();
    },
    navClick: function (name) {
      this.$store.dispatch('setSwitchNameText', name);
    }
  }
};
</script>
