<template>
  <div class="ele-scroll">
    <div class="infinite-list-wrapper">
      <ul
        class="list ele-logo-lists clearfix"
        v-infinite-scroll="load"
        infinite-scroll-disabled="disabled"
      >
        <li
          class="ele-logo-li list-item"
          v-for="Game in LoadMainPageDataModel.GameList"
          :key="Game.GameNameNo"
        >
          <i class="eg-big-play" :class="'eg-big-play_'+$MessageLang" v-show="showGame"></i>
          <a href="javascript:;">
            <p>
              <img :onerror="defaultImg" v-bind:src="Game.ImgUrl + '?VersionCode'" />
            </p>
            <b>{{Game.Name | simpleContent(12)}}</b>
            <!-- <span v-show="!showGame"></span> -->
            <i class="shadow" @click="PlayElectronicGame(Game)"></i>
            <em
              v-show="!showGame"
              @click="PlayElectronicGame(Game);"
            >{{$t('message.live_start_game')}}</em>
          </a>
        </li>
      </ul>
      <p class="loadMore" v-if="loading">{{$t('message.electronic_loading')}}...</p>
      <p class="loadMore" v-if="noMore">{{$t('message.electronic_noMore')}}</p>
    </div>
  </div>
</template>

<script>
import { EGameLobbyContent } from "@/mod/k14/assets/scripts/comTest/general/electronic/EGameLobbyContent.js"
export default {
  mixins: [EGameLobbyContent],
  props: {
    PageInfo: {}
  },
  computed: {
    disabled() {
      return this.loading || this.noMore
    }
  },
  data() {
    return {
      loading: false,
      noMore: false,
      currentPage: 1
    }
  },
  methods: {
    // 加载
    load() {
      if (!this.PageInfo.PageCount) return
      this.loadMore() && this.$parent.GetCurrentPageData(this.currentPage)
    },
    // 加载状态
    loadStatus(status) {
      if (status === "init") {
        this.currentPage = 1
        this.noMore = false
        $(".infinite-list-wrapper")[0].scrollTop = 0
      }
      this.loading = false
      // this.noMore=!this.loading
      setTimeout(() => {
        $(".infinite-list-wrapper").perfectScrollbar()
      }, 300)
    },
    // 是否能加载更多
    loadMore() {
      this.currentPage++
      this.loading = this.currentPage <= this.PageInfo.PageCount
      if (!this.loading) this.noMore = true
      return this.loading
    }
  }
}
</script>
<style lang="less">
.ele-scroll {
  overflow-x: hidden;
  position: relative;
  background: #fff;
  .infinite-list-wrapper {
    width: 1240px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 685px;
    position: relative;
    .ps-scrollbar-y-rail {
      right: 30px !important;
    }
    .loadMore {
      text-align: center;
      color: #666;
      height: 50px;
      line-height: 50px;
    }
  }
  .empty {
    height: 50px;
  }
}
</style>
