// 头部1
.pg-header {
  width: 100%;
  height: 174px;
  background: rgba(255, 255, 255, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  .pg-head-wrapper {
    width: 100%;
    height: 84px;
    background: #0a0123;

    .pg-head-page {
      width: 1200px;
      margin: 0 auto;

      .pg-head-logo {
        float: left;
        margin-top: 1px;

        .logo {
          display: block;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          margin-top: 0;
          width: 198px;
          line-height: 83px;
          float: left;

          img {
            max-width: 94%;
            vertical-align: middle;
            max-height: 80px;
          }
        }

        .online-people {
          float: left;
          color: #999999;
          font-size: 14px;
          margin-top: 29px;
          margin-left: 20px;

          span {
            font-size: 18px;
            color: #5aa6ff;
            margin-right: 8px;
          }
        }
      }

      .pg-head-container {
        float: right;

        .pg-head-top {
          // width: 1200px;
          float: right;
          height: 26px;
          line-height: 26px;
          /* border-bottom: 1px solid rgba(255, 255, 255, 0.09); */
          position: relative;
          z-index: 999;

          .pg-head-topMain {
            // width: 1200px;
            // margin: 0 auto;

            .top-lf {
              float: left;
              color: #999;
              font-size: 12px;

              .header-marquee {
                height: 31px;
              }
            }

            .top-lg {
              float: left;
              margin-left: 50px;

              .top-lgItem {
                float: left;

                .top-lgItem-li {
                  color: #999999;
                  font-size: 12px;
                  cursor: pointer;
                  position: relative;
                  float: left;

                  a {
                    color: #999999;
                    display: inline-block;
                  }

                  &.licenseBox:hover {
                    .license-plate {
                      display: block;
                    }
                  }

                  &:hover {
                    a {
                      opacity: 0.8;
                    }
                  }

                  .top-lgItem-icon {
                    vertical-align: top;
                    margin-top: 6px;
                    margin-right: 2px;
                  }

                  .license-plate {
                    background: #ffffff;
                    position: absolute;
                    width: 414px;
                    border-radius: 3px;
                    padding: 3px 3px;
                    left: -31px;
                    top: 30px;
                    display: none;
                    z-index: 33;

                    .license-plate-title {
                      color: #a4aeb9;
                      border-radius: 3px 3px 0px 0px;
                      height: 34px;
                      line-height: 34px;
                      background: #f6f8fa;
                      font-size: 15px;
                      padding-left: 10px;
                    }

                    .license-plate-content {
                      .license-plate-p1 {
                        float: left;
                        width: 50%;
                        text-align: center;

                        img {
                          width: 100px;
                          height: auto;
                          margin-top: 19px;
                          vertical-align: top;
                          margin-bottom: 18px;
                        }

                        p {
                          min-height: 28px;
                          line-height: 28px;
                          background: #f6f8fa;
                          border-radius: 0px 0px 0px 3px;
                          font-size: 14px;
                          color: #a4aeb9;
                          padding: 0px 10px;
                          text-align: center;
                          word-break: break-all;

                          &.p2 {
                            border-radius: 0px 0px 3px 0px;
                          }
                        }
                      }
                    }
                  }
                }

                .top-lgItem-line {
                  width: 1px;
                  height: 12px;
                  background: #dbd6df;
                  display: inline-block;
                  vertical-align: top;
                  margin: 0px 6px;
                  margin-top: 6px;
                  float: left;
                }
              }

              .top-lgLang {
                float: right;
                margin-left: 22px;
                margin-top: 1px;

                .top-lgLang-li {
                  width: 19px;
                  height: auto;
                  float: left;
                  margin-right: 6px;
                  cursor: pointer;

                  &:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }
        }

        .pg-head-main {
          height: 54px;
          clear: both;

          .main-formBox {
            // overflow: hidden;
            padding: 8px 0 10px;
            height: 37px;

            .main-formBox-lf {
              float: left;
              color: #ffffff;
              font-size: 13px;
              line-height: 37px;
            }
          }
        }
      }
    }
  }
}

//登录注册充值公共部分样式
.headerChild-content {
  .main-formBox-lg {
    // float: right;
    // width: 990px;

    //未登录
    .unlisted-content {
      float: left;

      .lg-boxItem {
        float: left;
        margin-right: 20px;

        .lg-box-list {
          float: left;
          width: 180px;
          height: 35px;
          border: 1px solid #535353;
          position: relative;
          margin-right: 13px;

          &:last-child {
            margin-right: 0px;
          }

          .suspension-window {
            padding: 5px 10px;
            position: absolute;
            top: 46px;
            left: 1px;
            z-index: 9999;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            font-size: 14px;
            border-radius: 5px;

            .sign {
              position: absolute;
              top: -13px;
              left: 11px;

              img {
                width: 10px;
                height: auto;
              }
            }
          }

          .list-icon {
            width: auto;
            height: 18px;
            position: absolute;
            top: 8px;
            left: 9px;
          }

          .remember-icon {
            display: block;
            position: absolute;
            right: 30px;
            top: 7px;
            cursor: pointer;

            img {
              width: 13px;
              height: auto;
            }
          }

          .forget-pswText {
            // font-size: 13px;
            display: block;
            width: 18px;
            height: 18px;
            color: #9e9e9e;
            position: absolute;
            right: 9px;
            top: 8px;
            cursor: pointer;

            // &:hover {
            //     color: #fff;
            // }
          }

          .list-code {
            width: 57px;
            height: auto;
            position: absolute;
            right: 8px;
            top: 7px;

            img {
              width: 100%;
              height: auto;
              cursor: pointer;
            }
          }

          .list-input {
            border: none;
            background: none;
            outline: none;
            font-size: 14px;
            color: #9e9e9e;
            padding-right: 12px;
            height: 35px;
            line-height: 35px;
            padding-left: 36px;
            border-radius: 0px;

            &.user-putBox {
              width: 132px;
            }

            &.psw-putBox {
              width: 84px;
            }

            &.code-putBox {
              padding-left: 30px;
              width: 83px;
            }

            &::-webkit-input-placeholder {
              font-size: 12px !important;
            }

            &:-moz-placeholder {
              font-size: 12px !important;
            }

            &::-moz-placeholder {
              font-size: 12px !important;
            }

            &:-ms-input-placeholder {
              font-size: 12px !important;
            }
          }
        }
      }

      .lg-boxPut {
        float: right;
        font-size: 0;

        a {
          display: inline-block;
          width: 103px;
          height: 34px;
          border-radius: 6px;
          border: 2px solid #2f74c4;
          text-align: center;
          line-height: 34px;
          color: #2f74c4;
          font-size: 16px;
          margin-right: 9px;
          cursor: pointer;

          &:hover {
            background: #2f74c4;
            color: #fff;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    //已登录
    .login-after {
      float: right;
      // margin-left: 420px;

      a {
        vertical-align: top;
        display: inline-block;
        color: #e4e2e2;
        font-size: 14px;
        line-height: 36px;

        .heMail {
          display: inline-block;
          width: 26px;
          height: 19px;
          //   margin-top: 9px;
          vertical-align: middle;
        }

        &.account {
          margin-right: 18px;
          padding-left: 26px;
        }

        &.signout {
          margin-left: 18px;
        }
      }

      a:hover {
        color: #fff;
      }

      a.user {
        padding-left: 20px;
      }

      a.deposit {
        padding-left: 20px;
        margin-right: 4px;
      }

      a.refresh-account,
      a.rotateLoop {
        float: right;
        margin-left: 5px;
        width: 20px;
        height: 36px;
        //   margin-top: 9px;
        margin-right: 0;
        vertical-align: middle;
      }

      .email img {
        width: 25px;
        margin-bottom: 3px;
        vertical-align: middle;
      }

      .unread {
        top: 4px;
        right: -6px;
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        line-height: 14px;
        font-size: 12px;
        font-family: "微软雅黑";
        color: #ffffff;
        text-align: center;
        content: "9";
        background-size: 100%;
      }

      .account em {
        color: #fff;
      }
    }

    .lg-boxPut-btn {
      float: right;
      margin-left: 30px;

      .lg-boxPut-cashAdvance {
        float: left;

        a {
          display: block;
          padding: 0 5px;
          min-width: 110px;
          height: 33px;
          border-radius: 6px;
          border: 2px solid #2f74c4;
          text-align: center;
          line-height: 32px;
          color: #2f74c4;
          font-size: 16px;
          margin-right: 9px;
          cursor: pointer;

          &:hover {
            background: #2f74c4;
            color: #fff;
          }
        }
      }

      .lg-boxPut-recharge {
        float: right;

        a {
          display: inline-block;
          padding: 0 5px;
          min-width: 110px;
          height: 37px;
          border-radius: 6px;
          border: 1px solid #a77cff;
          text-align: center;
          line-height: 36px;
          color: #a77cff;
          font-size: 16px;
          margin-right: 9px;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

//导航
.nav {
  position: absolute;
  top: 93px;
  width: 100%;
  height: 90px;
  z-index: 888;
}

.nav.hasblock {
  position: absolute !important;
  top: 35px !important;
}

.nav ul {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.nav li {
  position: relative;
  float: left;
  width: 100px;
  height: 90px;
  text-align: center;
  margin-left: 12px;
}

.nav li.li-logo {
  width: auto;
  margin-left: 0;
  margin-right: -14px;
}

.nav li.li-logo:hover {
  background: none;
}

.nav li.li-logo a {
  margin-top: 0;
  width: 205px;
  line-height: 90px;
}

.nav li.li-logo a img {
  max-width: 94%;
  vertical-align: middle;
}

.nav li a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 28px;
}

.nav li a span {
  display: block;
  font-size: 8px;
  /*font-family: 'PingFang Medium';*/
  font-weight: normal;
  color: #9a9a9a;
}

.nav li a i {
  display: block;
  width: 160px;
  height: 90px;
  margin-top: -65px;
  margin-left: -30px;
  z-index: -1;
  opacity: 0;
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
}

.nav .hasSelece a i {
  opacity: 1;
}

.nav .hasSelece a,
.nav .hasSelece span,
.nav li:hover a,
.nav li:hover span {
  color: #1792ff;
}

.nav li:hover a,
.nav li:hover i {
  opacity: 1;
}

// 导航结束

//客服
.service-content {
  position: fixed;
  right: 26px;
  top: 113px;
  z-index: 997;

  .service-cont-people {
    position: relative;
    z-index: 3;
  }

  .service-cont-item {
    position: relative;
    z-index: 1;
    margin-top: -12px;
    left: 35px;

    .service-cont-list {
      width: 160px;
      height: 56px;
      color: #cae0ff;
      line-height: 54px;
      cursor: pointer;
      position: relative;
      // overflow: hidden;

      &:hover {
        .service-sixtyFour-code {
          display: block;
        }

        .service-sixtyFour-phoneNo {
          display: block;
        }

        .service-sixtyFour-QQservice {
          display: block;
        }

        .tourRecords-content {
          display: block;
        }
      }

      a {
        display: block;
        color: #cae0ff;
        cursor: pointer;
        outline: none;
      }

      .service-cont-icon {
        width: 48px;
        height: auto;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 17px;
        margin-right: 1px;

        &.serviceDealt {
          width: 30px;
          height: auto;
          margin-top: 18px;
          margin-right: 2px;
        }
      }

      .service-sixtyFour-phoneNo {
        width: 141px;
        position: absolute;
        right: 159px;
        top: 0px;
        background: rgba(20, 7, 52, 0.86);
        border-radius: 0px;
        border: 1px solid #505570;
        padding: 15px 12px;
        text-align: center;
        letter-spacing: 2px;
        display: none;

        .service-phoneNo-p1 {
          display: block;
          font-size: 14px;
          color: #fff;
          // height: 20px;
          line-height: 20px;
        }
      }

      .service-sixtyFour-QQservice {
        position: absolute;
        right: 159px;
        top: 0px;
        width: 141px;
        background: rgba(20, 7, 52, 0.86);
        border-radius: 0px;
        border: 1px solid #505570;
        padding: 15px 12px;
        text-align: center;
        display: none;

        ul {
          li {
            color: #fff;
            font-size: 15px;
            line-height: 33px;
            text-align: left;
          }
        }
      }

      .service-sixtyFour-code {
        width: 89px;
        position: absolute;
        right: 159px;
        top: 0px;
        background: rgba(20, 7, 52, 0.86);
        border-radius: 0px;
        border: 1px solid #505570;
        padding: 15px 12px;
        text-align: center;
        display: none;

        .service-code-p1 {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 8px;
          margin-bottom: 12px;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
          }

          img {
            margin-left: -10px;
            width: 100%;
            height: auto;
            vertical-align: top;
            margin-bottom: 5px;
          }

          span {
            display: block;
            font-size: 14px;
            color: #fff;
            height: auto;
            line-height: 20px;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .tourRecords-content {
        position: absolute;
        background: rgba(20, 7, 52, 0.86);
        border: 1px solid #435972;
        padding: 15px 15px;
        right: 160px;
        top: 1px;
        min-width: 139px;
        display: none;

        .tourRecords-cont-title {
          font-size: 15px;
          color: rgba(255, 255, 255, 0.5);
          cursor: default;
          margin-bottom: 7px;
          line-height: 20px;
        }

        .tourRecords-cont-item {
          overflow: hidden;

          .tourRecords-cont-list {
            color: #fff;
            font-size: 15px;
            padding: 7px 0px;
            line-height: 20px;
            border-top: 1px solid #3a3247;

            &:hover {
              color: #e6d074;
            }
          }
        }

        .tourRecords-norecord {
          font-size: 15px;
          color: rgba(255, 255, 255, 0.5);
          cursor: default;
          line-height: 20px;
        }
      }
    }
  }
}

// 客服结束

//盈利榜
.suspension-wrap {
  .suspension-cont-profit {
    position: absolute;
    width: 315px;
    height: 394px;
    top: 112px;
    left: 2%;
    z-index: 5555;

    .profit-img1 {
      position: absolute;
      z-index: 1;
      width: 208px;

      img {
        width: 220px;
      }
    }

    .profit-img2 {
      position: absolute;
      z-index: 3;
      width: 237px;
      right: -9px;
      top: 9px;

      img {
        width: 200px;
      }
    }

    .profit-tableCon {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      z-index: 2;
      top: 94px;
      left: 13px;
      width: 302px;
      height: 250px;

      .profit-cont-tab {
        background: #18181a;
        width: 100%;
        height: 45px;
        line-height: 45px;

        span {
          font-size: 15px;
          color: #cbba89;
          float: left;
          // margin: 0px 27px;
          cursor: pointer;

          // &.on {
          //     color: #46fffa;
          //     border-bottom: 2px solid #46fffa;
          // }
        }
      }

      .profit-cont-item {
        overflow: hidden;
        clear: both;
        height: 187px;
        position: relative;

        .profit-cont-title {
          overflow: hidden;
          margin: 0px 20px;
          height: 33px;
          line-height: 33px;
          color: rgba(255, 255, 255, 0.5);
          border-bottom: 1px solid rgba(0, 0, 0, 0.47);

          span {
            float: left;
            padding: 0px 15px;
          }
        }

        .profit-cont-ul {
          padding: 14px 0px;
          overflow: hidden;

          .profit-cont-list {
            overflow: hidden;
            clear: both;
            margin-bottom: 10px;

            .substance-sp {
              color: #fff;
              font-size: 14px;
              line-height: 24px;
              display: block;
              float: left;
              text-align: center;
              width: 96px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

// 盈利榜结束

//热门游戏
.hotGame-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;

  .indexNew-position {
    position: relative;
    cursor: pointer;
  }

  .game-logo {
    position: absolute;
    left: 0;
    bottom: 0;

    .game-GameTypeNo {
      color: #fff;
      text-align: center;
    }
  }

  .game-logo1 {
    width: 310px;

    .game-GameTypeNo {
      width: 310px;
      height: 55px;
      line-height: 55px;
      font-size: 26px;
    }
  }

  .game-logo2 {
    width: 180px;

    .game-GameTypeNo {
      width: 180px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
  }

  .game-logo3 {
    width: 140px;

    .game-GameTypeNo {
      width: 140px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }

  .indexNew-pic-p {
    width: 289px;
    height: 150px;
    float: left;
    overflow: hidden;
  }

  img {
    vertical-align: top;
    max-width: 100%;
  }

  .indexNew-wrap-pic1 {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;

    .indexNew-pic1-lf {
      width: 600px;
      height: 309px;
      float: left;
      margin-right: 10px;
    }

    .indexNew-pic1-lg {
      float: left;
      width: 588px;

      .indexNew-pic1-lgTop {
        overflow: hidden;
        margin-bottom: 10px;

        .indexNew-pic-p {
          float: left;
        }

        .pic1-lgTop-p1 {
          margin-right: 10px;
        }
      }

      .indexNew-pic1-lgBottom {
        .pic1-lgBottom-p1 {
          float: left;
          width: 289px;
          height: 150px;
          margin-right: 10px;

          img {
            max-width: 100%;
          }
        }

        .pic1-lgBottom-p2 {
          float: left;
          width: 289px;
        }

        .pic1-lgBottom-p3 {
          float: left;
          cursor: pointer;
        }
      }
    }
  }

  .indexNew-wrap-pic2 {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;

    .indexNew-pic2-p {
      float: left;
      width: 393px;
      height: 203px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .indexNew-wrap-pic3 {
    clear: both;

    .indexNew-pic3-p {
      float: left;
      width: 291px;
      height: 150px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

//手机投注 20190916 semi-sugar
#phoneBetingForm {
  width: 1108px;
  height: 568px;
  border-radius: 7px;
}

.phoneBeting-content {
  width: 1038px;
  height: 496px;
  padding-top: 72px;
  padding-left: 70px;

  .phoneBeting-cont-close {
    position: absolute;
    right: 38px;
    top: 27px;
    cursor: pointer;

    img {
      width: 24px;
      height: auto;
    }
  }

  .phoneBeting-cont-title {
    margin-bottom: 25px;

    img {
      width: 200px;
      height: auto;
    }
  }

  .phoneBeting-cont-text {
    overflow: hidden;
    clear: both;
    margin-bottom: 16px;

    .text-img {
      float: left;
    }
  }

  .phoneBeting-cont-code {
    overflow: hidden;
    margin-top: 26px;

    .code1-img {
      float: left;
      margin-right: 22px;

      .sp1 {
        display: inline-block;
        border: 1px solid #57545d;
        padding: 13px 13px;
        float: left;

        img {
          width: 88px;
          height: auto;
        }
      }
    }

    .code2-img {
      float: left;
      margin-top: 20px;

      .code2-img-text {
        width: 156px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #e1c66a;
        letter-spacing: 2px;
        margin-bottom: 8px;

        img {
          width: auto;
          height: 24px;
          margin-top: 7px;
          vertical-align: top;
          margin-left: 10px;
          margin-right: 4px;
        }
      }
    }
  }

  .phoneBeting-cont-foot {
    clear: both;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
  }
}

//头部代理加盟弹窗
.agentJoin-content {
  width: 960px;
  background: #fff;
  /* height: 528px; */
  padding: 33px 32px;
  overflow: hidden;

  &.agentJoinSucc-content {
    width: 456px;
  }

  .preferent-cont-close {
    position: absolute;
    right: -33px;
    top: 0px;
    z-index: 22;
    background: #a47dfa;
    width: 33px;
    height: 33px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    img {
      width: 13px;
      height: auto;
      margin-top: 10px;
    }
  }

  .agentJoin-cont-title {
    img {
      width: 110px;
      height: auto;
    }
  }

  .agentJoin-cont-fromBox {
    // overflow: hidden;
    margin-top: 25px;
    // margin-bottom: 30px;

    .agentJoin-cont-main {
      float: left;
      width: 480px;

      .agentJoin-cont-message {
        font-size: 16px;
        background: #f6f8fa;
        border-radius: 3px 0px 0px 3px;
        height: 44px;
        line-height: 45px;
        padding-left: 30px;
        color: #a4aeb9;
      }

      .agentJoin-cont-ul {
        padding: 25px 30px;

        .agentJoin-cont-list {
          // overflow: hidden;

          .agentJoin-cont-listName {
            font-size: 15px;
            color: #a4aeb9;
            float: left;
            text-align: right;
            margin-right: 12px;
            line-height: 36px;
            width: 90px;

            i {
              color: #ed5565;
              margin-right: 2px;
            }
          }

          .agentJoin-cont-listPut {
            float: left;
            margin-bottom: 15px;
            width: 309px;

            .a-j-select-ipt {
              display: none;
            }

            input {
              background: none;
              border-radius: 3px;
              width: 248px;
              padding: 0px 10px;
              height: 34px;
              line-height: 34px;
              font-size: 15px;
              border: 1px solid #e3e4e8;
            }

            textarea {
              background: none;
              border-radius: 3px;
              width: 248px;
              padding: 5px 10px;
              height: 77px;
              line-height: 21px;
              font-size: 15px;
              border: 1px solid #e3e4e8;
            }

            .codePut {
              width: 143px;
              float: left;
            }

            .codeImg {
              height: 36px;
              width: auto;
              margin-left: 9px;
              cursor: pointer;
            }

            .a-j-sexUl {
              .a-j-sexItem {
                float: left;
                line-height: 36px;
                margin-right: 20px;

                input {
                  width: 16px;
                  /* height: auto; */
                  vertical-align: top;
                }

                .a-j-sexText {
                  color: #abadb3;
                  font-size: 14px;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .agentJoin-cont-submission {
    background: #a47dfa;
    color: #fff;
    border-radius: 4px;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    margin-bottom: 36px;
    clear: both;
  }

  .agentJoin-cont-participate {
    box-shadow: 0px 3px 5px #e3e4e8;

    .title {
      background: #f6f8fa;
      color: #ed5565;
      font-size: 16px;
      padding-left: 40px;
      height: 40px;
      line-height: 40px;
    }

    .text {
      font-size: 17px;
      color: #99a3b1;
      padding: 28px 38px;
      line-height: 27px;

      span {
        color: #99a3b1;
        font-weight: bold;
      }
    }
  }

  .agentJoin-cont-text {
    text-align: center;

    .title {
      color: #a4aeb9;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .text {
      font-size: 15px;
      color: #a4aeb9;
      line-height: 26px;
    }

    .backHome {
      width: 105px;
      height: 36px;
      line-height: 36px;
      background: #a47dfa;
      color: #fff;
      font-size: 15px;
      text-align: center;
      display: block;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 22px;
    }
  }
}

//u站导航
.uheader {
  position: fixed;
  top: 0;
  width: 1920px;
  min-width: 1344px;
  max-width: 1920px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  z-index: 9992;
  height: 190px;

  .uheader-top {
    width: 100%;
    height: 86px;

    .uheader_list {
      width: 100%;
      height: 86px;

      .uheader-top-head {
        height: 31px;
        // overflow: hidden;
        background: #000;
        border-bottom: 1px solid rgba(95, 208, 255, 0.25);

        .head-wrapper {
          width: 1570px;
          margin: 0 auto;

          .uheader-top-marquee {
            float: left;

            .header-marquee {
              height: 30px;
              line-height: 30px;

              .header-marquee-icon {
                margin-top: 7px;
              }

              .notice {
                height: 30px;
                line-height: 30px;
                width: auto;

                .slideTxtBox {
                  height: 30px;
                  line-height: 30px;
                  width: auto;

                  .tempWrap {
                    ul {
                      width: auto;

                      li {
                        height: 30px;
                        line-height: 30px;
                      }
                    }
                  }
                }
              }
            }
          }

          .pg-head-top {
            // width: 1200px;
            float: right;
            height: 30px;
            line-height: 30px;
            /* border-bottom: 1px solid rgba(255, 255, 255, 0.09); */
            position: relative;
            z-index: 999;

            .pg-head-topMain {
              // width: 1200px;
              // margin: 0 auto;

              .top-lf {
                float: left;
                color: #999;
                font-size: 12px;

                .header-marquee {
                  height: 31px;
                }
              }

              .top-lg {
                float: left;
                margin-left: 50px;

                .top-lgItem {
                  float: left;

                  .top-lgItem-li {
                    color: #999999;
                    font-size: 12px;
                    cursor: pointer;
                    position: relative;
                    float: left;

                    a {
                      color: #999999;
                      display: inline-block;
                    }

                    &.licenseBox:hover {
                      .license-plate {
                        display: block;
                      }
                    }

                    &:hover {
                      a {
                        opacity: 0.8;
                      }
                    }

                    .top-lgItem-icon {
                      vertical-align: top;
                      margin-top: 7px;
                      margin-right: 2px;
                    }

                    .license-plate {
                      background: #ffffff;
                      position: absolute;
                      width: 414px;
                      border-radius: 3px;
                      padding: 3px 3px;
                      left: -31px;
                      top: 30px;
                      display: none;
                      z-index: 33;

                      .license-plate-title {
                        color: #a4aeb9;
                        border-radius: 3px 3px 0px 0px;
                        height: 34px;
                        line-height: 34px;
                        background: #f6f8fa;
                        font-size: 15px;
                        padding-left: 10px;
                      }

                      .license-plate-content {
                        .license-plate-p1 {
                          float: left;
                          text-align: center;
                          width: 50%;

                          img {
                            width: 100px;
                            height: auto;
                            margin-top: 19px;
                            vertical-align: top;
                            margin-bottom: 18px;
                          }

                          p {
                            height: 28px;
                            line-height: 28px;
                            background: #f6f8fa;
                            border-radius: 0px 0px 0px 3px;
                            font-size: 14px;
                            color: #a4aeb9;
                            padding: 0px 16px;

                            &.p2 {
                              border-radius: 0px 0px 3px 0px;
                            }
                          }
                        }
                      }
                    }
                  }

                  .top-lgItem-line {
                    width: 1px;
                    height: 12px;
                    background: #dbd6df;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0px 6px;
                    margin-top: 9px;
                    float: left;
                  }
                }

                .top-lgLang {
                  float: right;
                  margin-left: 22px;
                  margin-top: 1px;

                  .top-lgLang-li {
                    width: 19px;
                    height: auto;
                    float: left;
                    margin-right: 6px;
                    cursor: pointer;

                    &:last-child {
                      margin-right: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .uheader-top-body {
        height: 55px;

        .body-wrapper {
          width: 1578px;
          margin: 0 auto;

          .uheader-top-time {
            float: left;
            line-height: 56px;

            .top-lf {
              color: #999;
              font-size: 14px;
              float: left;
            }

            .online-people {
              float: left;
              margin-left: 50px;
              color: #999;

              span {
                color: #6fc97e;
                font-size: 18px;
                font-weight: bold;
                margin-right: 4px;
              }
            }
          }

          .pg-head-main {
            // height: 63px;
            float: right;

            .main-formBox {
              // overflow: hidden;
              padding: 8px 0px 10px;
              height: 37px;

              .main-formBox-lf {
                float: left;
                color: #ffffff;
                font-size: 13px;
                line-height: 37px;
              }
            }
          }
        }
      }
    }

    .header-marquee {
      width: auto;
      float: left;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
    }

    //弃用 semi-sugar 20191031
    .newHeader-content {
      // overflow: hidden;
      margin-top: 11px;
      float: right;
      position: relative;
      z-index: 2222;

      .unread {
        top: -10px;
        right: -4px;
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        line-height: 14px;
        font-size: 12px;
        font-family: "微软雅黑";
        color: #ffffff;
        text-align: center;
        content: "9";
      }

      .fl {
        float: left;
      }

      .logined-after {
        float: left;
        margin-top: 4px;

        a {
          margin-left: 6px;

          &.account {
            em {
              color: #edd6b3;
            }
          }

          &.refresh-account {
            img,
            .rotateLoop {
              margin-bottom: 3px;
              vertical-align: middle;
              cursor: pointer;
            }

            .rotateLoop {
              margin-left: 6px;
              transform: rotate(375deg);
              display: none;
            }
          }

          &.deposit {
            padding-left: 20px;
          }

          &.user {
            padding-left: 20px;
          }

          &.email {
            img {
              width: 25px;
              vertical-align: middle;
            }
          }
        }
      }

      .newHeader-cont-warp {
        float: left;

        .newHeader-cont-user {
          position: relative;
          border: 1px solid #535353;
          width: 148px;
          height: 32px;
          line-height: 29px;
          margin-right: 6px;

          .user-icon {
            width: 20px;
            height: auto;
            float: left;
            vertical-align: top;
            margin-top: 6px;
            margin-left: 8px;
          }

          input {
            border: none;
            background: none;
            width: 98px;
            height: 25px;
            float: left;
            border-radius: 0px;
            margin-top: 5px;
            font-size: 14px;
            color: #9e9e9e;
            outline: none;
            padding: 0px 10px;
          }
        }

        .newHeader-cont-paw {
          position: relative;
          border: 1px solid #535353;
          width: 165px;
          height: 32px;
          line-height: 29px;
          margin-right: 10px;

          .paw-icon {
            width: 14px;
            height: auto;
            float: left;
            vertical-align: top;
            margin-top: 6px;
            margin-left: 8px;
          }

          input {
            border: none;
            background: none;
            width: 58px;
            height: 25px;
            float: left;
            border-radius: 0px;
            margin-top: 5px;
            vertical-align: top;
            padding: 0px 10px;
            outline: none;
            color: #9e9e9e;
          }

          .forget-paw {
            font-size: 13px;
            color: #ffcf53;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .newHeader-cont-login {
          width: 110px;
          height: 32px;
          line-height: 31px;
          font-size: 14px;
          color: #222f35;
          text-align: center;
          margin-left: 10px;
          cursor: pointer;

          a {
            color: #222f35;
            display: inline-block;
            width: 110px;
            height: 32px;
          }
        }

        .newHeader-cont-register {
          width: 110px;
          height: 32px;
          line-height: 31px;
          font-size: 14px;
          color: #e1c66a;
          text-align: center;
          margin-left: 10px;
          cursor: pointer;
          width: 110px;
          height: 32px;
          line-height: 31px;
          background-size: 100% 100%;
          font-size: 14px;
          color: #e1c66a;
          text-align: center;
          margin-left: 10px;
          cursor: pointer;

          a {
            color: #e1c66a;
            display: inline-block;
            width: 110px;
            height: 32px;
          }
        }

        .newHeader-cont-code {
          position: relative;
          border: 1px solid #535353;
          width: 178px;
          height: 32px;
          line-height: 29px;
          margin-right: 6px;

          input {
            border: none;
            background: none;
            width: 85px;
            height: 25px;
            float: left;
            border-radius: 0px;
            margin-top: 5px;
            font-size: 14px;
            color: #9e9e9e;
            outline: none;
            padding: 0px 10px;
          }

          a {
            img {
              width: auto;
              height: 26px;
              margin-top: 4px;
            }
          }
        }
      }

      .newHeader-cont-error {
        position: absolute;
        bottom: -15px;
        display: none;
      }

      .newHeader-cont-recharge {
        width: 110px;
        height: 32px;
        line-height: 31px;
        background-size: 100% 100%;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
        float: right;

        a {
          color: #ffffff;
        }
      }
    }
  }

  .main-navNew {
    width: 1644px;
    // width: 1145px;
    position: relative;
    clear: both;
    line-height: 58px;
    margin: 0 auto;

    .navNew-List {
      float: left;
      font-size: 16px;
      color: #cbba89;
      padding: 0px 9px;
      max-height: 54px;

      &.hasSelece {
        border-bottom: 2px solid #46fffa;
      }

      &.hasSelece > a {
        color: #46fffa;
      }

      a.navNew-ListA {
        display: inline-block;
        color: #cbba89;
        width: 112px;
        text-align: center;
        height: 54px;
        line-height: 38px;
        padding-top: 4px;
        // overflow: hidden;

        .englishName {
          display: block;
          vertical-align: top;
          line-height: 0px;
          font-size: 13px;
        }
      }

      .sub {
        top: 146px;
      }
    }

    .navNew-Logo {
      float: left;
      width: 343px;
      position: relative;
      z-index: 200;
      text-align: center;

      a {
        display: inline-block;

        img {
          width: 202px;
          height: auto;
          vertical-align: top;
        }
      }
    }
  }
}

//主版导航
.pg-header {
  .main-navNew {
    min-width: 1200px;
    height: 90px;
    position: relative;
    clear: both;
    margin: 0 auto;

    .navNew-ulCon {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    .navNew-List {
      float: left;
      width: 114px;
      height: 88px;
      text-align: center;
      margin-left: 12px;
      position: relative;

      &.hasSelece {
        border-bottom: 2px solid #46fffa;
      }

      &.hasSelece > a {
        color: #46fffa;
      }

      a.navNew-ListA {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        margin-top: 28px;

        .englishName {
          display: block;
          font-size: 8px;
          font-weight: 400;
          color: #9a9a9a;
        }
      }

      a {
        display: inline-block;
        color: #fff;

        // padding: 0px 25px;
        // padding-bottom: 12px;
        i {
          display: block;
          position: absolute;
          bottom: 1px;
          // position: absolute; // 2018.12.05 SeyoChen 鼠标移动logo变模糊
          width: 160px;
          height: 90px;
          // margin-top: -65px; // 2018.12.05 SeyoChen 鼠标移动logo变模糊
          margin-left: -30px; // 2018.12.05 SeyoChen 鼠标移动logo变模糊
          // bottom: 0; // 2018.12.05 SeyoChen 鼠标移动logo变模糊
          // left: -30px; // 2018.12.05 SeyoChen 鼠标移动logo变模糊
          z-index: 0;
          opacity: 0;
          transition-duration: 200ms;
          -webkit-transition-duration: 200ms;
          -moz-transition-duration: 200ms;
          -ms-transition-duration: 200ms;
          -o-transition-duration: 200ms;
        }

        &:hover {
          i {
            opacity: 1;
          }
        }
      }

      .sub {
        top: 174px;
      }
    }

    .navNew-Logo {
      width: auto;
      margin-left: 0;
      margin-right: -14px;
      float: left;
      height: 90px;
      text-align: center;

      a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        margin-top: 0;
        width: 205px;
        line-height: 90px;

        img {
          max-width: 94%;
          vertical-align: middle;
          max-height: 80px;
        }
      }
    }
  }
}

//导航改版下拉公共样式
.navNew-List .sub {
  display: none;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 174px;
  overflow: hidden;
  text-align: left;
  z-index: 110;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.navNew-List .sub .nav_xiao {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  // padding-bottom: 20px;
}

.navNew-List .sub .nav_xiao .xiao_one {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navNew-List .sub .nav_xiao .xiao_one ul li {
  float: left;
  display: inline;
  height: 184px;
  width: 25%;
  overflow: hidden;
  text-align: center;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a {
  display: block;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  line-height: 56px;
  overflow: hidden;
  color: #000;
  margin-top: 13px;
  font-size: 18px;
  transition: all 0.3s;
}

.navNew-List .sub .nav_xiao .xiao_one ul li:last-child a {
  border-right: 0;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover {
  color: #f67524;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a i {
  display: block;
  width: 101px;
  height: 84px;
  margin: 0 auto;
  margin-bottom: 23px;
  overflow: hidden;
  // background-image: url(../images/top_pic1.png);
  background-repeat: no-repeat;
  transition: all 0.3s;
  margin-top: 20px;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs1 {
  background-position: -720px top;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs2 {
  background-position: left top;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs3 {
  background-position: -360px top;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs4 {
  background-position: -1088px top;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover i {
  // background-image: url(../images/top_pic1.png);
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs1 {
  background-position: -720px bottom;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs2 {
  background-position: left bottom;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs3 {
  background-position: -360px bottom;
}

.navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs4 {
  background-position: -1088px bottom;
}

.navNew-List .sub .nav_xiao .xiao_two {
  // margin-top: 18px;
  // margin-bottom: 21px;
  overflow: hidden;
  position: relative;
  padding-right: 52px;
  min-height: 265px;
  max-height: 580px;
}

.navNew-List .sub .nav_xiao .xiao_two .ps-scrollbar-y-rail {
  // height: 569px !important;
}

.navNew-List .sub .nav_xiao .xiao_two .tip-server {
  position: absolute;
  right: 0px;
  top: 0px;

  img {
    width: 352px;
    height: auto;
  }
}

.navNew-List .sub .nav_xiao .xiao_two ul {
  // width: 1200px;
  overflow: hidden;
}

.navNew-List .sub .nav_xiao .xiao_two ul li {
  float: left;
  display: inline;
  // height: 184px;
  margin-right: 6px;
  overflow: hidden;

  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}

.navNew-List .sub .nav_xiao .xiao_two ul li:hover {
  background: rgba(255, 255, 255, 0.08);
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li {
  position: relative;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li .i_maintenance {
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 345456;
  height: 100%;
  padding: 0px 48px;
  background: rgba(0, 0, 0, 0.1);
  display: block;

  img {
    width: 100px;
    height: auto;
    margin-top: 57px;
  }
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li a {
  display: block;
  height: 100%;
  // border-right: 1px solid #e6e6e6;
  line-height: 56px;
  overflow: hidden;
  color: #000;
  margin-top: 13px;
  font-size: 18px;
  transition: all 0.3s;
  text-align: center;
  padding: 0px 41px;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li a .bgs1-text {
  color: #847a51;
  font-size: 16px;
  display: block;
  height: 22px;
  line-height: 22px;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait {
  display: block;
  position: relative;
  width: 143px;
  height: 151px;
  margin: 0 auto;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_portrait {
  width: 100px;
  height: auto;
  position: absolute;
  left: 23px;
  top: 22px;
  z-index: 1;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame1,
.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame2 {
  width: 143px;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame2 {
  display: none;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li a .bgs1-logo {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navIcon li a .bgs1-logo img {
  width: auto;
  height: 42px;
  vertical-align: top;
}

.navNew-List .sub .nav_xiao .xiao_two ul li:last-child a {
  border-right: 0;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-text {
  color: #d2c489;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-portrait .i_frame1 {
  display: none;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-portrait .i_frame2 {
  display: block;
}

// .nav .sub .nav_xiao .xiao_two img {
//     float: left;
//     margin-right: 25px
// }

.navNew-List .sub .nav_xiao .xiao_two .nav_div {
  float: left;
  width: 380px;
  padding-top: 30px;
  font-size: 12px;
  color: #666;
  line-height: 22px;
}

.navNew-List .sub .nav_xiao .xiao_two .nav_div h2 {
  font-size: 16px;
  color: #f3782a;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 36px;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a i {
  display: block;
  width: 104px;
  height: 104px;
  margin: 0 auto;
  margin-bottom: 13px;
  overflow: hidden;
  // background-image: url(../images/top_pic2.png);
  background-repeat: no-repeat;
  margin-top: 10px;
  background-color: #999;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1 {
  background-position: 30px center;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs2 {
  background-position: -330px center;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs3 {
  background-position: -691px center;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs4 {
  background-position: -1050px center;
}

.navNew-List .sub .nav_xiao .xiao_two ul li a:hover i {
  background-color: #f67524;
  margin-top: 5px;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
  width: 210px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 10px;

  &:nth-child(5n) {
    margin-right: 0px;
  }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li .navMain_ha .bgs1-text {
  float: left;
  margin-left: 21px;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li .navMaintenance_ha {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 12;

  img {
    width: 100%;
    height: auto;
  }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li .navMain_ha .bgs1-logo {
  float: left;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navMain li a {
  display: block;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navMain li a .bgs1-logo {
  // width: 100%;
  text-align: left;
  display: block;
  margin-top: 18px;
}

.navNew-List .sub .nav_xiao .xiao_two ul.xiao_two_navMain li a .bgs1-logo img {
  width: auto;
  height: 29px;
  vertical-align: top;
}

.uheader_list .lang-content {
  float: right;
}

.uheader_list .el-dropdown {
  margin-top: 6px !important;
  margin-left: 8px;

  // .text{
  //     float: left;
  // }
  .flag-img {
    width: 20px !important;
    height: auto;
  }

  .v-mid {
    color: #999999;
    font-size: 14px;
    cursor: pointer;

    img {
      width: 20px;
      height: auto;
      margin-top: 4px;
      vertical-align: top;
    }
  }
}

#langdropdown {
  color: #fff !important;
}

.dropdpwn-list {
  display: block !important;
  color: #818ea6 !important;
  font-size: 14px !important;
}

.dropdpwn-list span {
  display: block !important;
}

.dropdpwn-list img {
  width: 20px !important;
  height: auto !important;
  margin-top: 12px !important;
  vertical-align: top !important;
  float: right;
}
