<template>
  <div
    id="DinancialOrderConfirm"
    class="alert_box_content tel_alert_box re_h"
    style="position: fixed;"
  >
    <span class="alert_close" @click="WebOpenOrderConfirm()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_p pay_set_activity">
      <p class="p_blue">{{$t('message.member_operation_hint')}}</p>

      <p>
        {{$t('message.member_order_deposit_amount')}}
        <span
          style="color:#ff0000;"
        >{{DinancialData.Amount}}</span>
      </p>
      <p>{{$t('message.member_order_submitted_successfully')}}</p>
      <p>
        {{this.DTypeName}}{{$t('message.member_order_number')}} :
        <span>{{this.OrderNoOrder}}</span>
      </p>
    </div>
    <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
      <a
        style="float: none;"
        class="btn1 hasblock enter_deposit"
        @click="WebOpenOrderConfirm()"
      >{{$t('message.member_ascertain')}}</a>
    </div>
  </div>
</template>

<style scoped lang="less">
.financial-bank {
  position: relative;
  padding-right: 20px;
  height: 675px;
  overflow: hidden;

  .bank_card {
    padding: 10px;
    margin: 10px 0 20px 0;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    font-size: 14px;

    p {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      line-height: 20px;
      color: #7b7a7b;
      word-break: break-all;

      &:first-child {
        color: #7d54ff;
      }

      span {
        display: block;
        float: left;
        word-break: break-all;

        &:first-child {
          width: 120px;
          text-align: right;
        }
        &.f-bank-content {
          margin-left: 10px;
          max-width: 220px;
        }
      }
      a {
        display: block;
        padding: 0 6px;
        float: right;
        font-size: 14px;
        color: #7d54ff;
        border: 1px solid #b2b2b2;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        text-align: center;
      }
    }
  }
  .bank_tip {
    margin-left: 20px;
    width: 400px;
    line-height: 20px;
    color: #7b7a7b;
    word-break: break-all;
    font-size: 14px;

    p:first-child {
      margin-bottom: 20px;
      color: #7d54ff;
    }
  }
  .reciprocal {
    margin: 20px;
    margin-top: 30px;
    width: 400px;
    color: #7b7a7b;
    text-align: left;
    font-size: 14px;

    span {
      color: #ff0000;
    }
  }
}
.gradual-btn-box {
  text-align: center;

  .gradual-color-btn {
    display: inline-block;
    padding: 0 10px !important;
    margin: 10px 0 0 0 !important;
    min-width: 30%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: -moz-linear-gradient(to right, #7d54ff, #e154ff);
    background: -ms-linear-gradient(to right, #7d54ff, #e154ff);
    background: -webkit-linear-gradient(to right, #7d54ff, #e154ff);
    background: linear-gradient(to right, #7d54ff, #e154ff);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
  }
}

.financial_bank_content {
  width: 440px !important;
}
</style>

<script>
import EventBus from '@/assets/scripts/common/EventBus.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';

export default {
  props: {
    SuccessData: undefined,
    DinancialData: undefined,
    DTypeName: undefined,
    OrderNoOrder: undefined,
    RemarkCode: {
      type: String,
      default: ''
    },
    DinancialType: undefined
  },
  data() {
    return {
      reciprocal: 0, // 分钟
      setValBank: '',
      Remark: ''
    };
  },
  mounted: function() {
    console.log(this.DinancialData);
    console.log(this.DTypeName);
    console.log('1111111111111111');
    // EventBus.$on('DinancialConfirmBox', () => {
    //   // this.Reciprocal();
    // });

    // 页面滚动，当数据太多时
    $('#FinancialBank').perfectScrollbar();

    // 格式化回车键显示换行
    // this.Remark = CommUtility.enterChange(this.SuccessData.Remark);
  },
  methods: {
    WebOpenOrderConfirm: function() {
      console.log(this.DinancialType);
      CommUtility.WebClosealertboxForm('DinancialConfirm');
      // EventBus.$emit('DinancialBankReciprocal');
      // CommUtility.WebShowAlertboxForm('DinancialBank');
      if (this.DinancialType === '2-1') {
        // EventBus.$emit('DinancialBankReciprocal');
        CommUtility.WebShowAlertboxForm('DinancialBank');
      } else {
        // EventBus.$emit('DinancialCodeReciprocal');
        CommUtility.WebShowAlertboxForm('DinancialCode');
      }
    },
    // WebCloseOrderConfirm: function() {
    //   CommUtility.WebClosealertboxForm('DinancialConfirm');
    // },
    // 倒计时
    Reciprocal: function() {
      console.log(this.SuccessData);
      console.log('12111');
      this.$parent.reciprocal = this.SuccessData.RangeMin * 60000;
      const self = this;
      self.$parent.setValBank = setInterval(() => {
        if (self.$parent.reciprocal < 1000) {
          clearInterval(self.$parent.setValBank);
          self.$parent.reciprocal = 0;
          return;
        }
        console.log(self.$parent.reciprocal);
        self.$parent.reciprocal -= 1000;
      }, 1000);
    }
  },
  watch: {}
};
</script>
