<template>
	<!--手机下注-->
	<div>
		<!-- 03内容部分 -->
		<div class="main mobile_main hides">
			<div class="content">
				<div class="mobile_section">
					<div class="ob_item">
						<div class="ob_title" into_special='left' into_height='0'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_ob_title.png'" />
						</div>
					</div>
					<div class="ag_item">
						<div class="ag_img" into_special='left' into_height='1200'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_ag_img.png'" />
						</div>
						<div class="ag_title" into_special='right' into_height='1200'>
							<p class="logo"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_ag_logo.png'" /></p>
							<p><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_ag_title.png'" /></p>
							<div class="intro">
								<h3>{{$t('message.mobile_era')}}</h3>
								<p>
									<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/ag_code.jpg'" />
									<a class="goplay"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_ag_btn.png'" /></a>
								</p>
								<p>移动平台 - HTML5 游戏点击直接进入 </p>
								<p class="fl">无需下载 </p><i>维护中．．．</i>
							</div>
						</div>
					</div>
					<div class="pt_item">
						<div class="pt_img" into_special='left' into_height='2000'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_pt_img.png'" />
						</div>
						<div class="pt_title" into_special='right' into_height='2000'>
							<p class="logo"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_pt_logo.png'" /></p>
							<p><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_pt_title.png'" /></p>
							<div class="intro" @click="RedirectToPTHtml5Lobby();">
								<p>移动平台 - HTML5 游戏点击直接进入 </p>
								<p>无需下载 <i class="radio_red_icon"></i></p>
						</div>
						</div>
					</div>
					<div class="sb_item">
						<div class="sb_title" into_special='left' into_height='2600'>
							<p><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_sb_logo.png'" /></p>
							<p><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_sb_title.png'" /></p>
							<div class="intro">
								<a :to='{name: "webHtml5Lobby"}'>
									<p>移动平台 - HTML5 游戏点击直接进入 </p>
								</a>
								<a :to='{name: "webHtml5Lobby"}'>
									<p>无需下载 <i class="radio_while_icon"></i><i>维护中．．．</i></p>
								</a>
							</div>
						</div>
						<div class="sb_img" into_special='right' into_height='2600'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/mobile_betting/m_sb_img.png'" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--07版-->
		<div class="main mobile_main hides">
			<div class="content">
				<div class="mobile_section">
					<div class="ob_item">
						<div class="ob_title" into_special='left' into_height='0'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/ag-logo.png'" />
							<h2>亚游尽在您指尖，开拓移动新领域</h2>
							<h3>高清真人荷官视频，犹如置身博彩现场</h3>
							<div class="clearfix mgt20">
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/code.png'" width="99" height="99" class="fl" />
								<div class="fl mb-ag-btns">
									<a href="javascript:;" class="hovers mb-as-btn"></a>
									<a href="javascript:;" class="hovers mb-ad-btn"></a>
								</div>
							</div>
							<a class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
							<p class="weihu-ing">维护中···</p>
						</div>
					</div>
					<div class="ag_item">
						<div class="ag_img" into_special='left' into_height='1200'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/pt_img.png'" />
						</div>
						<div class="ag_title" into_special='right' into_height='1200'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/pt-logo.png'" />
							<h2>百余款丰富电游 ，移动娱乐触手可及</h2>
							<h3>囊括智能手机及平板电脑 ，移动装置全面支援</h3>
							<a  @click="RedirectToPTHtml5Lobby();" class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
						</div>
					</div>
					<div class="pt_item">
						<div class="pt_img" into_special='left' into_height='2000'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/ow-logo.png'" />
							<h2>丰富体育赛事，便捷投注方法</h2>
							<h3>29大类体育赛事  月均5000场赛事支持</h3>
							<a  @click="PlaySBHtml5Game();" class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
						</div>
						<div class="pt_title" into_special='right' into_height='2000'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/mobileBetting/onw_2.png'" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--15版-->
		<div class="main mobile_main hides">
			<div class="content">
				<div class="mobile_section">
					<div class="ag_item">
						<div class="ag_title" into_special='right' into_height='1200'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/mobileBetting/ag-logo.png'" />
							<h2>亚游尽在您指尖，开拓移动新领域</h2>
							<h3>高清真人荷官视频，犹如置身博彩现场</h3>
							<div class="clearfix mgt20">
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/mobileBetting/code.png'" width="99" height="99" class="fl" />
								<div class="fl mb-ag-btns">
									<a href="javascript:;" class="hovers mb-ad-btn"></a>
								</div>
							</div>
							<a class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
							<p class="weihu-ing">维护中···</p>
						</div>
					</div>
					<div class="pt_item">
						<div class="pt_img" into_special='left' into_height='2000'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/mobileBetting/pt-logo.png'" />
							<h2>百余款丰富电游 ，移动娱乐触手可及</h2>
							<h3>囊括智能手机及平板电脑 ，移动装置全面支援</h3>
							<a  @click="RedirectToPTHtml5Lobby();" class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
						</div>
					</div>
					<div class="on_item">
						<div class="on_title" into_special='right' into_height='1200'>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/mobileBetting/ow-logo.png'" />
							<h2>丰富体育赛事，便捷投注方法</h2>
							<h3>29大类体育赛事  月均5000场赛事支持</h3>
							<a  @click="PlaySBHtml5Game();" class="m-b-link">无下载免安装移动平台--HTML5版游戏</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--23版-->	
		<div class="mobile-betting ng-scope">
			<div class="m-b-main">
				<!--星联盟APP-->
				<!--m-b-second-->
				<!--AG移动端-->
				<div class="m-b-third m-b-bg">
					<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/flash/ag.mp4'" autoplay="autoplay" muted width="1900" loop="loop"></video>
					<div class="index-content">
						<div class="l-b-cont" style="right: 25%;">
							<span class="m-b-title m-b-title3"></span>
							<div class="pull-right">
								<div class="m-b-ma pull-left"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/mobileBetting/ma.png'" /></div>
								<div class="pull-left">
									<a href="javascript:;" class="all-into m-b-ios">IOS下载</a>
									<a href="javascript:;" class="all-into all-into1">Android 下载</a>
								</div>
							</div>
						</div>
						<!--l-b-cont-->
					</div>
					<!--index-content-->
				</div>
				<!--m-b-third-->
				<!--PT-H5-->
				<div class="m-b-fourth m-b-bg">
					<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/flash/pt.mp4'" autoplay="autoplay" width="1900" loop="loop"></video>
					<div class="index-content">
						<div class="l-b-cont">
							<span class="m-b-title m-b-title4"></span>
							<div class="pull-right">
								<a @click="RedirectToPTHtml5Lobby();" class="all-into all-into1">进入H5</a>
							</div>
						</div>
					</div>
				</div>
				<!--m-b-fourth-->
				<!--沙巴-H5-->
				<div class="m-b-fifth m-b-bg">
					<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/flash/shaba.mp4'" autoplay="autoplay" width="1900" loop="loop"></video>
					<div class="index-content">
						<div class="l-b-cont">
							<span class="m-b-title m-b-title5"></span>
							<div class="pull-right">
								<a class="all-into all-into1">进入H5  【维护中】</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--m-b-main-->
			<div class="m-b-nav">
				<ul>
					<li class="on">金龙移动端</li>
					<li>PT-H5</li>
					<li>沙巴-H5</li>
				</ul>
			</div>
			<!--m-b-nav-->
		</div>
		<!--25版特有-->
		<div class="main-wrap phone-wrap hides">
	    	<div class="phone-content">
	    		<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
	
		            <!-- Indicators -->
		            <ol class="carousel-indicators">
		                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active">首页</li>
		                <li data-target="#bootstrap-touch-slider" data-slide-to="1">视频</li>
		                <li data-target="#bootstrap-touch-slider" data-slide-to="2">游戏</li>
		            </ol>
	
		            <!-- Wrapper For Slides -->
		            <div class="carousel-inner" role="listbox">
	
		                <!-- Third Slide -->
		                <div class="item active">
	
		                    <!-- Slide Background -->
		                    <div class="bs-slider-overlay" @click="$router.push('Html5Lobby')"><img src="/static/images/layout/app1.png"/></div>
							
		                    
		                </div>
		                <!-- End of Slide -->
	
		                <!-- Second Slide -->
		                <div class="item">
	
		                    <!-- Slide Background -->
		                    <div class="bs-slider-overlay" @click="$router.push('Html5Lobby')"><img src="/static/images/layout/app2.png"/></div>
		                    <!-- Slide Text Layer -->
		                    
		                </div>
		                <!-- End of Slide -->
	
		                <!-- Third Slide -->
		                <div class="item">
	
		                    <!-- Slide Background -->
		                    <div class="bs-slider-overlay app3" @click="$router.push('Html5Lobby')"><img src="/static/images/layout/app3.png"/></div>
		                    <!-- Slide Text Layer -->
		                </div>
		                <!-- End of Slide -->
	
	
		            </div><!-- End of Wrapper For Slides -->
	
		            <!-- Left Control -->
		            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
		                <span aria-hidden="true"><img src="/static/images/layout/h_130.png" /></span>
		                <!--<span class="sr-only">Previous</span>-->
		            </a>
	
		            <!-- Right Control -->
		            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
		                <span class="fa fa-angle-right" aria-hidden="true"><img src="/static/images/layout/h_131.png" /></span>
		                <!--<span class="sr-only">Next</span>-->
		            </a>
	
		        </div> <!-- End  bootstrap-touch-slider Slider -->
	    	</div>
    	</div>
    	
    	<!--33版-->
    	<div class="padding-cont267 mobile-betting ng-scope hides">
			<div class="m-b-content">
				<div class="lb-cont-div">
					<div class="lb-cont-top clearfix">
						<p class="lb-cont-title pull-left"><span class="pull-left" >手机下注</span><i class="pull-left"></i></p>
					</div>
					<!--lb-cont-top-->
					<div class="m-b-cont">
						<i class="cg-cont-btn cg-left-btn"></i>
						<i class="cg-cont-btn cg-right-btn"></i>
						<div class="mb-cont-div">
							<ul style="width: 1288px;">
								<li>
									<p>星联盟平台</p>
									<div class="mb-cont-bg">
										<div>
											<img :src="$ResourceCDN + '/EditionImg/Lambor33.0/images/web/mobile/img1.jpg'" width="294" height="443">
											<div class="mb-cont-absolute">
												<i class="mb-cont-logo mb-xlm-logo"></i>
												<div class="mb-cont-text">
													<p>超级好路多桌随手掌握</p>
													<p>移动时代不错过任何下注良机</p>
												</div>
												<!--mb-cont-text-->
												<div class="mb-cont-btn on clearfix">
													<a class="pull-left"></a>
													<a class="pull-right"></a>
												</div>
												<!--mb-cont-btn-->
											</div>
											<!--mb-cont-absolute-->
										</div>
									</div>
									<!--mb-cont-bg-->
								</li>
								<li>
									<p>AG平台</p>
									<div class="mb-cont-bg">
										<div>
											<img :src="$ResourceCDN + '/EditionImg/Lambor33.0/images/web/mobile/img2.jpg'" width="294" height="443">
											<div class="mb-cont-absolute">
												<i class="mb-cont-logo mb-ag-logo"></i>
												<div class="mb-cont-text">
													<p>亚游尽在您指尖</p>
													<p>开拓移动新领域</p>
												</div>
												<!--mb-cont-text-->
												<div class="mb-ag-ma"></div>
												<div class="mb-cont-btn clearfix">
													<a class="pull-left"></a>
													<a class="pull-right"></a>
												</div>
												<!--mb-cont-btn-->
												<div class="mb-cont-link clearfix">
													<p class="pull-left">无下载免安装移动平台-</p>
													<router-link to="/Html5Lobby" class="pull-left">HTML5游戏</router-link>
												</div>
											</div>
											<!--mb-cont-absolute-->
										</div>
									</div>
									<!--mb-cont-bg-->
								</li>
								<li>
									<p>PT平台</p>
									<div class="mb-cont-bg">
										<div>
											<img :src="$ResourceCDN + '/EditionImg/Lambor33.0/images/web/mobile/img3.jpg'" width="294" height="443">
											<div class="mb-cont-absolute">
												<i class="mb-cont-logo mb-pt-logo"></i>
												<div class="mb-cont-text">
													<p>百余款丰富电游</p>
													<p>移动娱乐触手可及</p>
												</div>
												<!--mb-cont-text-->
												<div class="mb-cont-link on clearfix">
													<p class="pull-left">无下载免安装移动平台-</p>
													<router-link to="/Html5Lobby" class="pull-left">HTML5游戏</router-link>
												</div>
											</div>
											<!--mb-cont-absolute-->
										</div>
									</div>
									<!--mb-cont-bg-->
								</li>
								<li>
									<p>沙巴平台</p>
									<div class="mb-cont-bg">
										<div>
											<img :src="$ResourceCDN + '/EditionImg/Lambor33.0/images/web/mobile/img4.jpg'" width="294" height="443">
											<div class="mb-cont-absolute">
												<i class="mb-cont-logo mb-ow-logo"></i>
												<div class="mb-cont-text">
													<p>丰富体育赛事</p>
													<p>便捷投注方法</p>
												</div>
												<!--mb-cont-text-->
												<div class="mb-cont-link on clearfix">
													<p class="pull-left">无下载免安装移动平台-</p>
													<router-link to="/Html5Lobby" class="pull-left">HTML5游戏</router-link>
												</div>
											</div>
											<!--mb-cont-absolute-->
										</div>
									</div>
									<!--mb-cont-bg-->
								</li>
							</ul>
						</div>
						<!--mb-cont-div-->
					</div>
					<!--m-b-cont-->
				</div>
				<!--lb-cont-div-->
				<div class="lb-btm-cont">
					<p>
						<span>还不是我们的会员？</span>
						<router-link to="/Register">立即注册!</router-link>
					</p>
				</div>
			</div>
			<!--m-b-content-->
		</div>
		
		<!--02版-->
		<div class="mobile_con hides">
			<div class="animation2 mobile_am">
				<!--right order-->
				<div class="order_right">
					<ul>
						<li class="order0 hasSelect" data-num="0"><i class="point"></i></li>
						<li class="order1" data-num="1"><i class="point"></i></li>
						<li class="order2" data-num="2"><i class="point"></i></li>
						<li class="order3" data-num="3"><i class="point"></i></li>
					</ul>
				</div>
	
				<div class="Introduction_list Introduction_list1">
					<!--id="particles-js" style="background:#000000;"-->
					<div class="banner mobile_banner">
						<div class="mobile_title">
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/mobile_title.png'" />
						</div>
	
						<div class="mobile_ipad">
							<div class="mobile_ipad_1">
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_ipad.png'" />
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_man.png'" class="m_man" />
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_ipad_bg.png'" class="m_ipad_bg" />
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_shield.png'" class="m_shield" />
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/down_1.png'" class="m_down" />
							</div>
	
						</div>
	
						<!--掉落的圈圈-->
						<div class="circle_box">
							<div class="circle_box_l">
								<div class="down_circle down_circle1"></div>
								<div class="down_circle down_circle2"></div>
								<div class="down_circle down_circle3"></div>
							</div>
						</div>
	
					</div>
				</div>
	
				<!--主要内容-->
				<div class="content">
					<!--AG-->
					<div class="Introduction_list Introduction_list2">
						<h1>AG电游客户端下载</h1>
						<span></span>
						<p>亚游尽在您指尖，开拓移动新领域高清真人荷官视频，犹如置身博彩现场</p>
	
						<div class="mobile_img">
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/AG_code.png'" class="fl" />
							<div class="mobile_img_r fr">
								<a href="javascript:void(0);" class="store"></a>
								<!--<a href="javascript:void(0);" class="android">系统维护中...</a>-->
								<p>系统维护中...</p>
							</div>
							<div class="clearfix"></div>
						</div>
	
						<div class="mobile_img2">
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_girl_1.png'" class="mobile_girl" />
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/m_phone_1.png'" class="mobile_phone" />
							<div class="card_box1 card"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/card_3.png'" class=" card_3" /></div>
							<div class="card_box2 card"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/card_4.png'" class=" card_4" /></div>
						</div>
	
						<!--card-->
						<div class="card card_1 ">
							<!--<div class="feather0">
									<div class="feather_box">-->
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/card_1.png'" />
							<!--</div>
								</div>-->
						</div>
						<div class="card card_2">
							<!--<div class="feather2">
									<div class="feather_box">-->
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/card_2.png'" />
							<!--</div>	
								</div>-->
						</div>
	
						<!--prompt-->
						<div class="card prompt"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/AG_prompt.png'" /></div>
					</div>
	
					<!--PT-->
					<div class="Introduction_list Introduction_list3">
						<h1>PT电游客户端下载</h1>
						<span></span>
						<p>百余款丰富电游，移动娱乐触手可及</p>
	
						<div class="mobile_img mobile_PT_img">
							<!--<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/PT_code.png'" />-->
							<a href="javascript:void(0);" class="android"></a>
						</div>
	
						<div class="mobile_eagle">
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/mobile_PT_bg.png'" class="mobile_PT" />
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/mobile_PT_man.png'" class="mobile_PT_man" />
							<div class="eagle"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web02/mobile/mobile_eagle.png'" /></div>
						</div>
					</div>
				</div>
	
				<!--H5-->
				<div class="Introduction_list Introduction_list4">
					<h1>移动平台-HTML5</h1>
					<span></span>
					<p>MOBILE PLATFORM -HTML5 TEN MINUTES A DAY TO PLAY EASILY</p>
	
					<div class="mobile_list4_box">
						<div class="mobile_change">
							<div class="change change_1">
								<a href="javascript:void(0);" class="change-btn"></a>
							</div>
							<div class="change change_2">
								<a href="javascript:void(0);" class="change-btn"></a>
							</div>
							<div class="change change_3">
								<a href="javascript:void(0);" @click="RedirectToPTHtml5Lobby();" target="_blank" class="change-btn"></a>
							</div>
						</div>
	
						<!--点击选择-->
						<div class="mobile_select">
							<div class="mobile_select_list hasSelect" data-num="1">沙巴</div>
							<div class="mobile_select_list" data-num="2">AG</div>
							<div class="mobile_select_list" data-num="3">PT</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
			
		<!--08-->
		<div class="mobile_wrap8 hides">
	        <div class="banner_box banner_video">
	            <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/mobile_banner.jpg'"/>
	        </div>
	
	        <div class="content content_mobile clearfix">
	            <!--选项卡-->
	            <div class="select_list">
	                <a :key="item" v-for="(item, index) in items" v-bind:class="{on: actived == index}" @click="CurrentTab(index)">{{item.tab}}</a>
	            </div>
	            <div id="tab_content">
	                <div class="mobile_list AG_list" v-if="selectList === 0">
	                    <div class="mobile_course_list">
	                        <img class="logo" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/AG_logo.png'"/>
	                        <h2>亚游尽在您指尖,开拓移动新领域</h2>
	                        <h2>高清真人荷官视频,犹如置身博彩现场</h2>
	                        <div class="mobile_btn_box clearfix">
	                            <img class="mobile_code fl" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/AG_code.png'"/>
	                            <div class="fl">
	                                <img class="mobile_btn" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/android_btn.png'"/>
	                                <img class="mobile_btn" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/ios_btn.png'"/>
	                            </div>
	                        </div>
	
	                        <a class="h5_btn">无下载免安装移动平台--HTML5版游戏</a>
	                    </div>
	                </div>
	
	                <div class="mobile_list PT_list" v-if="selectList === 1">
	                    <div class="mobile_course_list fr">
	                        <h2>百余款丰富电游 ，移动娱乐触手可及</h2>
	                        <h2>囊括智能手机及平板电脑,</h2>
	                        <h2>移动装置全面支援。</h2>
	
	                        <a class="h5_btn" style="margin-top: 180px;margin-left: 10px;" @click="RedirectToPTHtml5Lobby()">无下载免安装移动平台--HTML5版游戏</a>
	                    </div>
	                </div>
	
	                <div class="mobile_list SB_list" v-if="selectList === 2">
	                    <div class="mobile_course_list fr">
	                        <img class="logo" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web08/Mobile/oneworks_logo.png'"/>
	                        <h2>丰富体育赛事，便捷投注方法</h2>
	
	                        <a class="h5_btn" style="margin-top: 20px;">无下载免安装移动平台--HTML5版游戏</a>
	                        <span>Rich sports events, convenient betting methods, No download, </span>
	                        <span>free installation, mobile platform, --HTML5 version of the game</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>
</template>

<script>
	import {mobileApp02} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp02.js';
	import {mobileApp03} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp03.js';
	import {mobileApp07} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp07.js';
	import {mobileApp08} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp08.js';
	import {mobileApp15} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp15.js';
	import {mobileApp23} from '@/mod/k04/assets/scripts/comTest/main/mobileAPP/mobileApp23.js';
	export default{
		mixins:[mobileApp02,mobileApp03,mobileApp07,mobileApp08,mobileApp15,mobileApp23]
	}
</script>

