.theme08 {
    .pub_alert_box {
        min-width: 270px;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 9999;
        background: #fff;
        color: #4b4b4b;



    }

    // .main-navList-logo a{
    //     background:url('/static/images/Customer/nav_logo.png') no-repeat;
    // }

    .pub_alert_box .descr_title {
        // width: 100%;
        // /*height: 50px;*/
        // height: 45px;
        // line-height: 41px;
        // //  margin-bottom: 20px;
        // border-bottom: 1px solid #b7b7b7;
        // text-align: left;
    }

    .pub_alert_box.re_h .descr_title {
        height: 41px;
    }

    .pub_alert_box .descr_title.no_line {
        border-bottom: 0;
        margin-bottom: 0;
    }

    .pub_alert_box .descr_title p {
        font-size: 15px;
        color: #000000;
        float: left;
        margin-left: 20px;
    }

    .pub_alert_box .descr_title a.icon_close {
        width: 13px;
        height: 13px;
        display: block;
        background-size: 100% 100%;
        float: right;
        margin-top: 16px;
        margin-right: 20px;
        background: url('@{ResourceCDNUrl}/web08/frame/close_btn.png?VersionCode') no-repeat;
    }


    .descr_p {
        padding: 0 30px;
        margin-top: 16px;
    }

    .descr_p p {
        font-size: 14px;
        color: #000;
        line-height: 28px;
        word-break: break-all;
        text-align: center;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p p.p_blue {
        text-align: center;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
    }

    .descr_p p em {
        display: inline-block;
        font-size: 14px;
        color: #000;
        margin-right: 20px;
    }

    .five_fonts.descr_p p em {
        width: 90px;
        text-align: right;
    }

    .alert_btn_both {
        width: 100%;
        height: 30px;
        text-align: center;
        margin: 32px auto 22px;
        font-size: 0;
    }

    .pub_alert_box.re_h .alert_btn_both {
        margin: 30px auto;
        clear: both;
    }

    .alert_btn_both a {
        display: inline-block;
        width: 100px;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        text-align: center;
    }

    .alert_btn_both a.btn1 {
        // background: url('@{ResourceCDNUrl}/web08/Register/btn_bg.png?VersionCode') no-repeat;
        // color: #ffe39f;
        // background-size: 100% 100%;

    }

    .alert_btn_both a.btn2 {
        // background: url('@{ResourceCDNUrl}/web08/member/p_15.png?VersionCode') no-repeat !important;
        // background-size: 100% 100% !important;
        // color: transparent !important;
        // margin-left: 10px;
    }


    .input_field.style2 {
        display: inline-block;
        margin: 0 40px;
        padding-top: 10px;
    }

    .input_field .input_lf {
        font-size: 14px;
        color: #000000;
        float: left;
        height: 30px;
        line-height: 30px;
    }

    .input_field .input_rt input {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #636b89;
        border-radius: 2px;
        font-size: 14px;
        color: #000 !important;
        word-break: break-all;
        background: none;
    }

    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field.style2 li {
        margin-top: 15px;
        min-height: 30px;
        height: auto;
        overflow: hidden;
    }

    .input_field.style2 .input_lf {
        width: 85px;
    }

    .input_field.style2 .input_rt {
        min-height: 30px;
        height: auto;
    }

    .input_field.style2 .input_rt input {
        width: 194px;
        display: inline-block;
        vertical-align: top;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #323232;
        background: none;
        font-size: 14px;
        color: #e6e6e6;
        word-break: break-all;
    }

    #forgetPasswordForm .input_field.style2 .input_rt input {
        width: 300px;
    }

    .input_field.style2 .input_rt input::-webkit-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input::-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-ms-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:focus {
        color: #ddd;
        /*border: solid 1px #c9d0f6;*/
        border: 1px solid #646775;
        background: none;
    }

    .input_field li.hasblock .input_rt i.tip1 {
        display: block;
    }

    /*忘记密码弹窗*/

    .login-popup {
        width: auto;

        input::-webkit-input-placeholder {
            font-size: 16px;
            color: #000;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #000;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #000;
        }

        .icon_close {
            width: 18px !important;
            height: 17px !important;
            margin: 13px 15px 0 0 !important;
        }

        .descr_p p.p_blue {
            text-align: center;
            font-size: 18px;
            color: #000;
            margin-bottom: 10px;
        }

        .input_field .input_lf {
            font-size: 15px;
            color: #000;
            float: left;
            height: 30px;
            line-height: 30px;
        }

        .input_field .input_rt {
            display: inline-block;
            vertical-align: top;
            position: relative;

            input {
                width: 296px;
                height: 34px;
                line-height: 34px;
                padding: 0 10px;
                font-size: 14px;
                outline: none;
                background: none;
                color: #000;
                border: solid 1px #323232;
            }

            .tip1 {
                width: 296px;
            }
        }

        .login_descr_p {
            margin-top: 20px;

            p a {
                color: #000;
            }
        }
    }

    //用户协议

    .user-agreement-box {
        position: absolute;
        left: 50%;
        top: 44%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 9999;
        background: #faf8f7;
        height: 880px;
        width: 780px;
        margin: auto;

        .login-cont-title {
            display: none;

            img {
                display: none;
            }
        }

        h4 {
            height: 20px;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;

            span {
                display: inline-block;
                height: 20px;
                width: 20px;
                float: right;
                cursor: pointer;
                background: url('@{ResourceCDNUrl}/web08/frame/close_btn.png?VersionCode') no-repeat center center;
            }
        }

        .agreement-title {
            font-size: 18px;
            color: #000;
            padding: 20px 65px 20px;
            text-align: center;

            span {
                display: none;
            }
        }

        p {
            font-size: 16px;
            color: #000;
            line-height: 30px;
            margin: 15px 65px;

            i {
                width: 20px;
            }

            span,
            i {
                vertical-align: top;
                font-style: normal;
            }

            span {
                width: 950px;
            }
        }

        .back-register {
            display: inline-block;
            width: 150px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            font-size: 18px;
            color: transparent;
            background: url('@{ResourceCDNUrl}/web08/Register/reg_sure_btn.png?VersionCode') no-repeat;
            margin: 40px auto 0;
            border-radius: 5px;
            margin-left: 40%;
        }
    }


    .descr_p div {
        font-size: 13px;
        color: #e6e6e6;
        /* padding: 0 30px; */
        line-height: 32px;
        word-break: break-all;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p .record_detail_title {
        display: inline-block;
        font-size: 13px;
        color: #323232;
        margin-right: 10px;
        width: 90px;
        text-align: right;
    }

    .five_fonts.descr_p .record_detail_title {
        width: 72px;
    }

    .alert_pb_list {
        overflow: hidden;
        // border-bottom: 1px solid #2c2f3d;
        // padding-bottom: 20px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li.first_li div {
        font-size: 13px;
        color: #333;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 120px;
        text-align: center;
    }

    .alert_pb_list li div {
        width: 63px;
        float: left;
        font-size: 12px;
        color: #333;
        text-align: left;
        line-height: 25px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #333;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 120px;
        font-size: 14px;
        color: #333;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    #failForm .login-popup {
        width: 330px;
    }

    #forgetPasswordForm .login-popup {
        width: 520px;
    }

    .psw_forget {
        margin-bottom: 20px;
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: #787878;
    }

    .f_box .full_course {
        text-align: center;
    }

    .f_box .full_course h2 {
        margin: 20px 0 26px 0;
        font-size: 23px;
        font-weight: normal;
        color: #000;
        text-align: center;
    }

    .f_box .full_course p {
        line-height: 28px;
        font-size: 15px;
        color: #000;
    }

    .f_box .full_course p a {
        color: #950000;
    }

    .sum_alert_box .icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        background-size: 100% 100%;
        margin-top: 12px;
        margin-left: 10px;
        background: url('@{ResourceCDNUrl}/web08/member/icon_download.png?VersionCode') no-repeat;
    }

    .f_box .full_course p a:hover {
        color: red;
    }

    /*网银*/
    .deposit-bom03 {
        width: 850px;
    }

    .bank_list {
        overflow: hidden;
        width: 760px;
        margin: auto;
        text-align: left;
        font-size: 0;
        margin-bottom: 29px;
    }

    .bank_list li {
        display: inline-block;
        width: 182px;
        height: 37px;
        border: solid 1px #ffffff;
        margin: 3px;
    }

    .bank_list li:hover,
    .bank_list li.on {
        border: solid 1px #65451e;
    }
}
