<template>
	<!--首页-->
	<div class="index-content clearfix" style="padding-top:100px;" :class="'index_'+$MessageLang">
		<!-- 盈利榜 -->
    <main-suspension></main-suspension>
		<phone-beting></phone-beting>
		<div class="banner">
			<video v-if="$BannerPath.Video.IndexVideo" :class="'video'+$VersionNumber" :src="$ResourceCDN +'/EditionImg/LamborFormal/images/web28/lang/'+$MessageLang+ $BannerPath.Video.IndexVideo" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<!-- <video class="video60 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/flash/index1.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video23 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/flash/index2.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video34 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/flash/index.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video7 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/flash/index-banner.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video15 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/index.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video28 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/index1.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video> -->
		</div>
		<!--7版、15版-->
		<div class="index_lower index_lower2 hides clearfix">
			<div class="index_lower_banner">
				<div class="index-inside rows clearfix">
					<!--优惠活动-->
					<activity></activity>
					<fast-entrance></fast-entrance>
				</div>
				<!--热门游戏-->
				<div class="hot_box rows clearfix">
					<div class="index-game-txt"><span>{{$t('message.game_boutique')}}</span></div>
					<ul class="hot_lists">
						<li class="h_list h_list1">
							<router-link to="LiveVideo"></router-link>
							<i></i>
						</li>
						<li class="h_list h_list2">
							<router-link to="Electronic"></router-link>
							<i></i>
						</li>
						<li class="h_list h_list3">
							<router-link to="Sport"></router-link>
							<i></i>
						</li>
						<li class="h_list h_list4">
							<router-link to="Lottery"></router-link>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--60版-->
		<div class="index-roughly index-roughly-t60"  style="display: none">
			<div class="index-roughly-main">
				<router-link :to="{ name: 'LiveVideo'}" class="first-pic"></router-link>
				<router-link :to="{ name: 'Electronic'}" class="second-pic"></router-link>
				<router-link :to="{ name: 'Sport'}" class="third-pic"></router-link>
				<router-link :to="{ name: 'Lottery'}" class="last-pic"></router-link>
			</div>
		</div>
		<!--23版-->
		<div class="index-link index-link-k23" style="display: none;">
			<router-link :to="{ name: 'Poker'}" class="l-v-link">
				<div><i><span></span></i></div>
				<p>{{$t('message.golden_dragon_poker')}}</p>
			</router-link>
			<!-- <router-link :to="{ name: 'LiveVideo'}" class="l-v-link">
				<div><i><span></span></i></div>
				<p>真人视讯</p>
			</router-link> -->
			<a class="v-g-link">
				<div><i><span></span></i></div>
				<p>{{$t('message.live_expect')}}</p>
			</a>
			<a class="s-b-link">
				<div><i><span></span></i></div>
				<p>{{$t('message.live_expect')}}</p>
			</a>
			<a class="l-b-link">
				<div><i><span></span></i></div>
				<p>{{$t('message.live_expect')}}</p>
			</a>
		</div>
		<!--34版-->
		<div class="rightCommon-content whome-right-content whome-right-content-34" style="display: none;">
		    <div class="whome-right-contMain">
						<div class="right-contMain-layout">
							<div class="right-contMain-news carousel slide"  id="myCarousel" v-if="LoadCompleted === true">
								<!-- 轮播（Carousel）指标 -->
								<ol class="carousel-indicators">
										<li class="active"></li>
										<li></li>
										<li v-if="indexActivityObjList.length>0"></li>
								</ol>
								<!-- 轮播（Carousel）项目 -->
								<div class="newsPic carousel-inner">
										<div class="item active">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[0].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
										<div class="item">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[1].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
										<div class="item" v-if="indexActivityObjList.length>0">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[2].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
								</div>
								<!--文字部分-->
								<div class="newsText active_news" v-if="LoadCompleted === true">
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]">
												<div class="newsText-list" v-on:mouseenter="SildeTo(0)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[0].Name}}</h2>
														<p class="p_2">{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]">
												<div class="newsText-list" v-on:mouseenter="SildeTo(1)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[1].Name}}</h2>
														<p class="p_2">{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
																	v-if="indexActivityObjList.length>0">
												<div class="newsText-list" v-on:mouseenter="SildeTo(2)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[2].Name}}</h2>
														<p class="p_2">{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
								</div>
								<div class="newsWhole" @click="$router.push('ActivityList')">{{$t('message.view_all')}}</div>
							</div>
							<div class="right-contMain-swiper">
									<ul id="demo">
											<li @click="$router.push('LiveVideo')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_0.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_0a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Electronic')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_1.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_1a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Sport')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_2.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_2a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Lottery')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_3.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/b_3a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
									</ul>
							</div>
							<div class="right-contMain-noviciate">
									<div class="noviciate-title"><span class="noviciate-titleLine"></span>{{$t('message.foot_novice_course')}}</div>
									<div class="noviciate-boxCont">
											<div class="noviciate-boxCont-rule" style="height: 160px;" @click="$router.push({path:'Tutorial',query:{navIndex: 1}})">
													<div class="noviciate-boxCont-rulePic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_14.png'" />
													</div>
													<div class="noviciate-boxCont-ruleGame">
															<div class="ruleGame-title" style="width:20px;">{{$t('message.tutorial_game_rules')}}</div>
															<div class="ruleGame-item">
																	<ul>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 0}})">{{$t('message.index_baccarat_rules')}}  ></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 1}})">{{$t('message.index_illustrating_rules')}}  ></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 2}})">{{$t('message.index_roulette_rules')}}     ></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 3}})">{{$t('message.index_cussec_rules')}}     ></li>
																			<li class="ruleGame-more">{{$t('message.index_see_more')}}+</li>
																	</ul>
															</div>
													</div>
											</div>
											<div class="noviciate-boxCont-skill" @click="$router.push({path:'Tutorial',query:{navIndex: 2}})">
													<div class="noviciate-boxCont-skillPic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_15.png'" />
													</div>
													<div class="noviciate-boxCont-skillText">{{$t('message.tutorial_common_problem')}}</div>
											</div>
											<div class="noviciate-boxCont-skill" @click="$router.push('Tutorial')">
													<div class="noviciate-boxCont-skillPic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_16.png'" />
													</div>
													<div class="noviciate-boxCont-skillText">{{$t('message.tutorial_betting_skills')}}</div>
											</div>
									</div>
							</div>
						</div>
	      </div>
		</div>
		<!--2版-->
		<div class="mian-index hides">
			<div class="index_banner">
				<div id="banner_tabs" class="flexslider">
					<ul class="slides">
						<li class="slides_list1 hasSelect">
							<!--飘动的卡牌-->
							<div class="i_card i_card1 feather1">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card1.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card2 feather1">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card2.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card3 feather0">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card3.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card4 feather0">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card4.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card5 feather0">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card5.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card6 feather0">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card6.png'" class="card_img" />
								</div>
							</div>
							<div class="i_card i_card7 feather1">
								<div class="feather_box">
									<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/i_card7.png'" class="card_img" />
								</div>
							</div>

							<!--文字-->
							<div class="banner_title_layout banner_list1">
								<div class="i_title jumbotron">
									<p class="tlt" data-in-effect="bounceInDown">{{$t('message.ultimate_experience')}}</p>
									<h1 class="glow in tlt">CASINO LIFE</h1>
								</div>

								<div class="banner_title">
									<router-link to="/LiveVideo"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/join_btn.png'" /></router-link>
								</div>
							</div>
						</li>

						<li class="slides_list2">
							<div class="banner_title_layout">
								<div class="canvas_box">
									<canvas id="myCanvas" width="684" height="684"></canvas>

									<div class="i_title i_title2">
										<div class="tlt_title">
											<span class="tlt_1">极</span>
											<span class="tlt_2">致</span>
											<span class="tlt_3" style="color: #69d1ff;">体</span>
											<span class="tlt_4" style="color: #69d1ff;">验</span>
										</div>
										<p class="tlt">{{$t('message.brilliant')}}</p>

										<div class="banner_title">
											<router-link to="/LiveVideo" ><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/more_btn.png'" /></router-link>
										</div>

										<!--light-->
										<div class="light_bg_box">
											<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/light_bg1.png'" class="light_bg light_bg1" />
											<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/light_bg2.png'" class="light_bg light_bg2" />
											<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/light_bg3.png'" class="light_bg light_bg3" />
										</div>
									</div>
								</div>

							</div>
						</li>
					</ul>

					<ul class="flex-direction-nav">
						<li>
							<a class="flex-prev" href="javascript:void(0);">&nbsp;</a>
						</li>
						<li>
							<a class="flex-next" href="javascript:void(0);">&nbsp;</a>
						</li>
					</ul>
					<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
						<li class="active">
							<a>1</a>
						</li>
						<li>
							<a>2</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="nav_high_bg">
				<!--活动宣传栏-->
				<div class="at_box">
					<div class="at_animate">
						<!--圆-->
						<span class="at_circle"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_circle1.png'"/></span>
						<!--内容标题-->
						<span class="at_course"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_course.png'"/></span>

						<!--漂浮的三角形-->
						<div class="at_triangle">
							<span class="at_come at_triangle1"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle1.png'"></span>
							<span class="at_come at_triangle2"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle2.png'"></span>
							<span class="at_come at_triangle3"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle3.png'"></span>
							<span class="at_come at_triangle5"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle5.png'"></span>
							<div class=" feather_triangle">
								<span class="at_come at_triangle4 feather_box"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle4.png'" class="feather_img"></span>
								<span class="at_come at_triangle6 feather_box"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle6.png'" class="feather_img"></span>
							</div>
							<span class="at_come at_triangle7"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/at_triangle7.png'"></span>
						</div>
						<div class="at_feather feather">
							<div class="feather_box">
								<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/animate/feather.png'" class="feather_img" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav_block">
				<!--左边导航-->
				<div class="four_nav">
					<div class="four_nav_img">
						<img class="four_nav_img_bg_1 block_bg" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/cicle_block_1.png'" />
						<img class="four_nav_img_bg_2 block_bg" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/cicle_block_2.png'" />
						<img class="four_nav_img_bg_3 block_bg" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/cicle_block_3.png'" />
						<img class="four_nav_img_bg_4 block_bg" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/cicle_block_4.png'" />
						<img class="four_nav_img_bg_5 block_bg" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web02/index/cicle_block_5.png?123'" />
					</div>
					<div class="four_nav_list">
						<ul>
							<li class="btn_bg borser_show" data-num="1">{{$t('message.nav_lottery')}}</li>
							<li class="btn_bg" data-num="2">{{$t('message.nav_live')}}</li>
							<li class="btn_bg" data-num="3">{{$t('message.nav_game')}}</li>
							<li class="btn_bg" data-num="4">{{$t('message.nav_betting')}}</li>
							<li class="btn_bg" data-num="5">{{$t('message.nav_poker')}}</li>

						</ul>
					</div>
				</div>
				<!--背景图块-->
				<div class="nav_block_1 nav_block_same " data-num="1">
					<section>
						<div class="sports-index">
							<router-link to="/Sport" class="sports-index-enter"></router-link>
						</div>
					</section>
				</div>
				<div class="nav_block_2 nav_block_same" data-num="2">
					<section>
						<div class="live-index">
							<router-link to="/LiveVideo" class="live-index-enter"></router-link>
						</div>
					</section>
				</div>
				<div class="nav_block_3 nav_block_same" data-num="3">
					<section>
						<div class="ele-index">
							<router-link to="/Electronic" class="ele-index-enter"></router-link>
						</div>
					</section>
				</div>
				<div class="nav_block_4 nav_block_same" data-num="4">
					<section>
						<div class="lottery-index">
							<router-link to="/Lottery" class="lottery-index-enter"></router-link>
						</div>
					</section>
				</div>
				<div class="nav_block_5 nav_block_same" data-num="5">
					<section>
						<div class="poker-index">
							<router-link to="/Poker" class="poker-index-enter"></router-link>
						</div>
					</section>
				</div>
			</div>
			<div class="analysis_block number">
				<ul class="advantage_box">
					<li>
						<div class="analysis_img">
							<div class="move_circle"></div>
						</div>
						<p class="analysis_big"><span id="changeNum1">18</span>S{{$t('message.average_time')}}</p>
						<p class="analysis_small">{{$t('message.index_fast_access')}}</p>
					</li>
					<li>
						<div class="analysis_img">
							<div class="move_circle"></div>
						</div>
						<p class="analysis_big"><span id="changeNum3">0</span>{{$t('message.member_service_charge')}}</p>
						<p class="analysis_small">{{$t('message.index_commission')}}</p>
					</li>
					<li class="analysis_end">
						<div class="analysis_img">
							<div class="move_circle"></div>
						</div>
						<p class="analysis_big"><span id="changeNum4">24</span>{{$t('message.technical_service')}}</p>
						<p class="analysis_small">{{$t('message.excellence_technology')}}</p>
					</li>
				</ul>
			</div>
		</div>
		<!--3版-->
		<div class="index_main index_main_3 hides" id="homeBannerSlider">
			<div class="swiper-container">
		    	<div class="swiper-wrapper">
			      	<div class="swiper-slide secThree-1">
			      		<!--标题框-->
						<div class="i_title_box">
							<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_title_index.png'" class="at"/>

							<div class="i_play"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_play.png'"/></div>
						</div>
			      	</div>
		      		<div class="swiper-slide secThree-2">
		      			<div class="i_title_box">
							<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_title_video.png'"/>
						</div>
		      		</div>
		      		<div class="swiper-slide secThree-3">
		      			<div class="i_title_box">
							<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_title_game.png'"/>
						</div>
		    		</div>
		      		<div class="swiper-slide secThree-4">
		      			<div class="i_title_box">
							<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_title_sport.png'"/>
						</div>
		      		</div>
		      		<div class="swiper-slide secThree-5">
		      			<div class="i_title_box">
							<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_title_lottery.png'"/>
						</div>
		      		</div>
		    	</div>
		    <!-- Add Pagination -->
		    <div class="swiper-pagination"></div>
		    <!--上下指示箭头-->
			<div class="i_arrow" id="i_arrow">
				<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web03/index/i_next.png'"/>
			</div>
		  </div>
		</div>
		<!--第8版-->
		<div class="index-box-eighth hides">
			<div class="banner_box banner_index number">
				<img :src="$ResourceCDN+$BannerPath.Images.IndexImages" />
	            <!-- <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_bg.png'"/> -->
	        </div>
	        <div class="content_layout index_layout">
	            <div class="clearfix">
	                <activity></activity>
					<fast-entrance></fast-entrance>
	            </div>
	            <h2 class="title_public">{{$t('message.hot_game')}}<span class="title_list">HOT GAMES</span> <span class="title_p fr">{{$t('message.game_boutique')}}</span></h2>
	            <ul class="hot_game_box clearfix">
	                <li>
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/hot_livevideo.jpg'"/>
	                    <router-link :to="{name: 'LiveVideo'}"><span>{{$t('message.learn_more')}}</span></router-link>
	                    <p>{{$t('message.nav_live')}}<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_play_icon.png'"/></p>
	                </li>
	                <li>
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/hot_electronic.jpg'"/>
	                    <router-link :to="{name: 'Electronic'}"><span>{{$t('message.learn_more')}}</span></router-link>
	                    <p>{{$t('message.nav_game')}}<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_play_icon.png'"/></p>
	                </li>
	                <li>
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/hot_sport.jpg'"/>
	                    <router-link :to="{name: 'Sport'}"><span>{{$t('message.learn_more')}}</span></router-link>
	                    <p>{{$t('message.nav_lottery')}}<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_play_icon.png'"/></p>
	                </li>
	                <li>
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/hot_lottery.jpg'"/>
	                    <router-link :to="{name: 'Lottery'}"><span>{{$t('message.learn_more')}}</span></router-link>
	                    <p>{{$t('message.nav_betting')}}<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_play_icon.png'"/></p>
	                </li>
	            </ul>

	            <h2 class="title_public">{{$t('message.our_strengths')}}<span class="title_list">OUR ADVANTAGES</span> <span class="title_p fr">{{$t('message.gathering_place')}}</span></h2>
	            <ul class="advantage_box clearfix">
	                <li class="clearfix">
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_advantage_icon1.png'" class="fl"/>
	                    <p><label id="changeNum1">18</label><span>{{$t('message.index_second')}}</span></p>
	                    <span>{{$t('message.index_fast_access')}}</span>
	                </li>
	                <li class="clearfix">
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_advantage_icon2.png'" class="fl"/>
	                    <p><label id="changeNum3">0</label><span>{{$t('message.index_servant')}}</span></p>
	                    <span>{{$t('message.index_commission')}}</span>
	                </li>
	                <li class="clearfix">
	                    <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/index_advantage_icon3.png'" class="fl"/>
	                    <p><label id="changeNum4">24</label><span>{{$t('message.hour')}}</span></p>
	                    <span>{{$t('message.index_technical_support')}}</span>
	                </li>
	            </ul>
	        </div>
		</div>
		<!--25版-->
		<div class="main index-main-twentyFive hides">
			<div class="swiper-container">
		    <div class="swiper-wrapper">
		      	<div class="swiper-slide section-1">
		      		<h2 class="section-heading section-heading-1 bounceInDown">
						<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h-2.png'"/>
					</h2>
			        <div class="section1-table additional-text bounceInDown" v-if="IsLogin">
			        	<div class="section1-table-top">
			        		<div class="section1-table-topPic"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"/></div>
			        		<div class="section1-table-topText">
			        			<p>{{$t('message.index_hello')}}，<i style="color: #de9939;">{{MemberInfo.Acct}}</i><a @click="navClick('webMemberSummary')" style="color: #de9939;">【{{$t('message.index_personal')}}】</a></p>
			        			<!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
			        			<p>{{$t('message.top_balance')}}：<i style="color: #de9939;">{{this.VBalance | moneyFormat}}</i></p>
			        		</div>
			        	</div>
			        	<div class="section1-table-btn">
			        		<span class="section1-table-btnDeposit" @click="navClick('webMemberDeposit')">{{$t('message.index_deposit')}}</span>
			        		<span class="section1-table-btnDraw" @click="navClick('webMemberWithdrawal')">{{$t('message.index_withdraw')}}</span>
			        	</div>
			        </div>
					<div class="section1-table additional-text bounceInDown" v-if="!IsLogin">
			        	<div class="section1-table-top">
			        		<div class="section1-table-topPic"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"/></div>
			        		<div class="section1-table-topText">
			        			<p><router-link :to="{name:'Login'}">{{$t('message.top_login')}}</router-link></p>
			        			<!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
			        			<p><router-link :to="{name:'Register'}">{{$t('message.top_register')}}</router-link></p>
			        		</div>
			        	</div>
			        	<div class="section1-table-btn">
			        		<!--<router-link target="_blank" :to="{name:'FreeTrial'}"><span class="section1-table-btnDeposit">免费试玩</span></router-link>-->
			        		<span class="section1-table-btnDraw" @click="OpenNewBox($ServeLink)"><a>{{$t('message.member_contact_service')}}</a></span>
			        	</div>
			       </div>
		      </div>
		      <div class="swiper-slide section-2">
		      	<h2 class="section-heading slideInRight">
					<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_10.png'"/>
		        	<p class="section-heading-videoBtn" @click="$router.push({name:'LiveVideo'})">
		        		<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_12.png'"/>
		        	</p>
		        </h2>
		      </div>
		      <div class="swiper-slide section-3">
		      	<h2 class="section-heading slideInLeft">
		        	<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_13.png'"/>
		        	<p class="section-heading-gameBtn">
		        		<!--<span class="sp1" @click="$router.push({name:'Electronic'})">
		        			<img :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web25/layout/h_14.png'"/>
		        		</span>
		        		<span class="sp2" @click="$router.push({name:'Electronic'})">-->
		        		<router-link :to="{ name: 'Electronic'}" class="sp1">
		        			<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_14.png'"/>
		        		</router-link>
		        		<router-link :to="{ name: 'Electronic'}" class="sp2">
		        			<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_15.png'"/>
		        		</router-link>
		        	</p>
		        </h2>
		      </div>
		      <div class="swiper-slide section-4">
		      	<h2 class="section-heading slideInRight">
		        	<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_16.png'"/>
		        	<p class="section-heading-lotteryBtn" @click="$router.push({name:'Lottery'})">
		        		<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_17.png'"/>
		        	</p>
		        </h2>
		      </div>
		      <div class="swiper-slide section-5">
		      	<h2 class="section-heading slideInLeft">
		        	<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_18.png'"/>
		        	<p class="section-heading-sportBtn" @click="$router.push({name:'Sport'})">
		        		<img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_19.png'"/>
		        	</p>
		        </h2>
		      </div>
		    </div>
		    <!-- Add Pagination -->
		    <div class="swiper-pagination"></div>
		  </div>
		</div>
		<!--28版-->
		<div class="index-main-twentyEight hides">
			 <i class="index-btn index-btn-left"></i>
		      <div class="pull-left index-link" :class="'index-link_'+$MessageLang">
		        <ul>
		            <li>
		            <div><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/index_d1.png'"></div>
		            <router-link :to="{name:'Electronic'}">
		              <i></i>
		              <span>{{$t('message.nav_game')}}</span>
		           </router-link>
		          	</li>
		            <li>
		            <div><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/index_t1.png'"></div>
		            <router-link :to="{name:'Sport'}">
		              <i></i>
		              <span>{{$t('message.nav_lottery')}}</span>
		            </router-link>
		            </li>
		          <li>
		            <div><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/index_c1.png'"></div>
		            <router-link :to="{name:'Lottery'}">
		              <i></i>
		              <span>{{$t('message.nav_betting')}}</span>
		            </router-link>
		          </li>
		          <li>
		            <div><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/index_z1.png'"></div>
		            <router-link :to="{name:'LiveVideo'}">
		              <i></i>
		              <span>{{$t('message.nav_live')}}</span>
		            </router-link>
		          </li>
		        </ul>
		      </div>
		      <i class="index-btn index-btn-right"></i>
		    </div><!--index-cont-->
		    <!--33版-->
		    <div class="index-main-thirtyThree padding-cont267 hides">
			    <div class="index-login-bg">
					<a class="demo-link" target="_blank"></a>
					<router-link :to="{name: 'MobileAPP'}" class="index-yhhd-link"></router-link>
					<!--未登录状态-->
					<div class="index-login-cont clearfix" v-if="!IsLogin">
						<router-link class="login-btn" :to="{name: 'Login'}"></router-link>
						<router-link :to="{name: 'Register'}" class="register-btn"></router-link>
					</div>
					<div class="index-already-logged">
						<div class="clearfix index-a-l-top">
							<p class="pull-left"><span>{{$t('message.welcome')}}!</span>
							<span @click="TriggerMemberUser('webMemberSummary')">
								<a>{{MemberInfo.Acct}}</a>
								<a>[{{$t('message.index_personal')}}]</a>
							</span>
							</p>
							<!-- <p<span>普通会员</span></p> -->
						</div>
						<div class="index-a-l-link" v-if="IsLogin">
							<a @click="navClick('webMemberDeposit')">
								<i class="icon1"></i>
								<p>{{$t('message.index_deposit')}}</p>
							</a>
							<a @click="navClick('webMemberWithdrawal')">
								<i class="icon2"></i>
								<p>{{$t('message.index_withdraw')}}</p>
							</a>
							<a @click="navClick('webMemberTransactionRecord')">
								<i class="icon3"></i>
								<p>{{$t('message.index_query')}}</p>
							</a>
						</div>
						<!--index-a-l-link-->
					</div>
				</div>
				<!--index-already-logged-->
				<div class="index-btm-content">
					<div class="clearfix">
						<div class="pull-left index-scroll-link index-scroll-dffs">
							<div class="swiper-container1">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<i class="idex-scr-img4"></i>
										<div class="index-scr-cont">
											<h3>{{$t('message.nav_live')}}</h3>
											<i></i>
											<p>{{$t('message.course_voice')}}</p>
											<p>{{$t('message.real_experience')}}！</p>
											<router-link to="/LiveVideo"></router-link>
										</div>
									</div>
									<div class="swiper-slide">
										<i class="idex-scr-img3"></i>
										<div class="index-scr-cont">
											<h3>{{$t('message.nav_game')}}</h3>
											<i></i>
											<p>{{$t('message.prize_pools')}}!</p>
											<p>{{$t('message.electric_platform')}}</p>
											<router-link to="/Electronic"></router-link>
										</div>
									</div>
									<div class="swiper-slide">
										<i class="idex-scr-img1"></i>
										<div class="index-scr-cont">
											<h3>{{$t('message.nav_lottery')}}</h3>
											<i></i>
											<p>{{$t('message.play_game')}}</p>
											<p>{{$t('message.platform_seat')}}!</p>
											<router-link to="/Sport"></router-link>
										</div>
									</div>
									<div class="swiper-slide">
										<i class="idex-scr-img2"></i>
										<div class="index-scr-cont">
											<h3>{{$t('message.nav_betting')}}</h3>
											<i></i>
											<p>{{$t('message.colorful')}}</p>
											<p>{{$t('message.maximum_efficiency')}}</p>
											<p>{{$t('message.beckoning')}}?</p>
											<router-link to="/Lottery"></router-link>
										</div>
									</div>
								</div>
								<!-- Add Pagination -->
		    				<div class="swiper-pagination"></div>
		  				</div>
							<!-- <i class="index-scr-btn btn-left"></i> -->

							<!-- <i class="index-scr-btn btn-right"></i> -->
						</div>
						<!--优惠活动-->
						<activity></activity>
						<div class="clearfix">
							<div class="pull-left index-btm-xsjc">
								<div class="index-btm-title clearfix">
									<p class="pull-left">{{$t('message.foot_novice_course')}}</p>
									<a>more+</a>
								</div>
								<!--index-btm-title-->
								<ul class="index-xsjc-cont clearfix">
									<li>
										<router-link to="/Tutorial"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web33/index/img1.jpg'" width="222" height="132"></router-link>
										<p>{{$t('message.tutorial_game_rules')}}</p>
										<span>game rule</span>
									</li>
									<li>
										<router-link to="/Tutorial"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web33/index/img2.jpg'" width="222" height="132"></router-link>
										<p>{{$t('message.tutorial_common_problem')}}</p>
										<span>Common problems</span>
									</li>
									<li>
										<router-link to="/Tutorial"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web33/index/img3.jpg'" width="222" height="132"></router-link>
										<p>{{$t('message.tutorial_betting_skills')}}</p>
										<span>Betting skills</span>
									</li>
								</ul>
								<!--index-xsjc-cont-->
							</div>
							<div class="pull-right index-btm-advantage">
								<!--index-btm-title-->
								<div class="index-advantage-cont clearfix">
									<a class="clearfix">
										<i class="pull-left">·</i>
										<p class="pull-left">{{$t('message.index_fast_access')}}</p>
									</a>
									<a class="clearfix">
										<i class="pull-left">·</i>
										<p class="pull-left">{{$t('message.banking_services')}}</p>
									</a>
									<a class="clearfix">
										<i class="pull-left">·</i>
										<p class="pull-left">{{$t('message.index_commission')}}</p>
									</a>
									<a class="clearfix">
										<i class="pull-left">·</i>
										<p class="pull-left">{{$t('message.safety_technology')}}</p>
									</a>
								</div>
								<!--index-advantage-cont-->
							</div>
							<!--index-btm-xsjc-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--12版首页-->
		<!-- <div class="main-index-twelve hides">
			<div class="main-cont">
			    <div class="page-right">
			        <h1 class="page-title">
			          <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/title.png'">
	        		</h1>
	        		<div class="page-cont">
			          	<div class="activity-banner">
				            <i class="activity-border"></i>
							<activity></activity>
			          	</div>
			          	<ol class="other-entrance">
				            <li>
				              <h5>
				                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/entrance-live.png'">
				              </h5>
				              <p>高清美女荷官全程语音陪玩，尊享尊贵体验！ </p>
				              <p>HD beauty dealer full voice play, enjoy the distinguished  experience!</p>
				              <router-link :to="{ name: 'LiveVideo'}" class="btn">进入游戏 </router-link>
				            </li>
				            <li>
				              <h5>
				                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/entrance-game.png'">
				              </h5>
				              <p>PT，AG双平台，百余款游戏HIGH到爆！ </p>
				              <p>PT, AG dual platform, more than a hundred games HIGH  to the explosion!</p>
				              <router-link :to="{ name: 'Electronic'}" class="btn">进入游戏 </router-link>
				            </li>
				            <li>
				              <h5>
				                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/entrance-sport.png'">
				              </h5>
				              <p>千万赛事随时引爆，边看边猜，赚钱如此简单！ </p>
				              <p>Thousands of events detonated at any time, while watching  the side,making money so simple!</p>
				              <router-link :to="{ name: 'Sport'}" class="btn">进入游戏 </router-link>
				            </li>
				            <li>
				              <h5>
				                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/entrance-lottery.png'">
				              </h5>
				              <p>高清美女荷官全程语音陪玩，尊享尊贵体验！ </p>
				              <p>HD beauty dealer full voice play, enjoy the distinguished  experience!</p>
				              <router-link :to="{ name: 'Lottery'}" class="btn">进入游戏 </router-link>
				            </li>
				            <li class="advantage-border"></li>
				        </ol>
				        <div class="advantage-li">
				            <h5>
				              <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web12/index/acdvantage-title.png'">
				            </h5>
				            <ul>
					            <li>
					                <p>快速存取款</p>
					                <p>18秒平均时间</p>
					            </li>
					            <li>
					                <p>手续费全免</p>
					                <p>0手续费</p>
					            </li>
					            <li>
					                <p>卓越的技术服务</p>
					                <p>24小时安全服务</p>
					            </li>
					        </ul>
				        </div>
			        </div>
				</div>
			</div>
		</div>
		<!--38版首页-->
		<!-- <div class="index-thirtyEight hides">
			<div class="lbt_box">
                <div class="gt_man"></div>
                <div class="lbt">
                    <swiper :options="swiperOption">
                        <swiper-slide><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/lbt1_02.png'"></swiper-slide>
                        <swiper-slide><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/lbt2_02.png'"></swiper-slide>
                        <swiper-slide><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/lbt3_02.png'"></swiper-slide>
                    </swiper>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="btn_box">
                <div class="login_btn" @click="$router.push({name:'Login'})"></div>
                <div class="register_btn" @click="$router.push({name:'Register'})"></div>
            </div>
            <div class="newsbj"></div>
            <div class="news_box">
                <el-carousel indicator-position="outside"
                    arrow="never"
                    height="35px">
                    <el-carousel-item v-for="item in 4" :key="item">
                    <p>{{ item }}新闻信息</p>
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="base_cont_box clearfix">
	            <div class="activity_box fl">
			        <div class="activity_tit"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/hd1_03.png'">&nbsp;优惠活动</div>
			        <div class="MORE"><p>MORE<i class="el-icon-caret-right"></i></p></div>

					<activity></activity>
				</div>
				<fast-entrance></fast-entrance>
			</div>
			<div class="popularGame_box">
		        <div class="popularGame_tit"><img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/game_03.png'">&nbsp;热门游戏</div>
		        <div class="MORE-2">兰博盛宴，由您开启！</div>
		        <div class="popularGame_cont">
		            <div @click="$router.push({name:'LiveVideo'})">
		                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/sy1_03.png'">
		            </div>
		            <div @click="$router.push({name:'Electronic'})">
		                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/sy1_05.jpg'">
		            </div>
		            <div @click="$router.push({name:'Sport'})">
		                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/sy1_07.jpg'">
		            </div>
		            <div @click="$router.push({name:'Lottery'})">
		                <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/base/sy1_09.jpg'">
		            </div>
		        </div>
		    </div>
		</div> -->

	</div>

</template>

<script>
import MainSuspension from '@/mod/k14/components/general/profitList/mainSuspension.vue';
import PhoneBeting from '@/mod/k14/components/general/phoneBeting/phoneBeting.vue';

	import { initIndex2 } from '@/assets/scripts/comTest/main/index/sy02/index.js'
//	import { initIndex2 } from '@/assets/scripts/comTest/main/index/sy02/index.js'
	import { initIndex3 } from '@/assets/scripts/comTest/main/index/sy03/index.js'
	import { initIndex7 } from '@/mod/k14/assets/scripts/comTest/main/index/sy07/index.js'

	import { initIndex28 } from '@/assets/scripts/comTest/main/index/sy28/index.js'
	import { initIndex33 } from '@/mod/k14/assets/scripts/comTest/main/index/sy33/index.js'
	import { initIndex25 } from '@/mod/k14/assets/scripts/comTest/main/index/sy25/index.js'
	import { initIndex34 } from '@/mod/k14/assets/scripts/comTest/main/index/sy34/index.js'
	export default {
//		mixins: [initIndex2, initIndex3, initIndex7, initIndex25, initIndex28, initIndex33, initIndex34]
			mixins: [initIndex2, initIndex3, initIndex7, initIndex25, initIndex28, initIndex33, initIndex34],
			components: {
				MainSuspension,
				PhoneBeting
			}
 	}
</script>
