<template>
  <div class="extension-content">
    <!-- <h2 class="agency-main-title">
      <span>{{$t('message.agency_extension_scheme')}}</span>
      <a
        href="javascript:;"
        @click="ShowQrCode()"
        class="memberQRcodeBtn"
      >{{$t('message.agency_membership_promotion')}}</a>
    </h2>-->
    <div class="extension-cont-bottom" style="overflow: visible;">
      <div class="extension-cont-nav">
        <p class="p1">
          <span class="p1-name">{{$t('message.agency_programme_name')}}</span>
          <input
            class="p1-put"
            type="text"
            name="TempName"
            v-model.trim="DisplayQueryObj.TempName"
            v-validate="{ rules: { regex:Reg.PlanName}}"
            @keyup="TestAllEmpty()"
          />
          <i
            class="tip1"
            v-show="errors.has('TempName') && fields.TempName.touched"
          >{{$t('message.agency_english_letter')}}</i>
          <i class="tip1" v-show="AllEmpty">{{$t('message.agency_scheme_name')}}</i>
        </p>
        <p class="p1">
          <span class="p1-name">{{$t('message.member_hour')}}</span>
          <datepicker
            class="p1-put p1-put2"
            :language="this.$MessageLang"
            v-model="DisplayQueryObj.StartTime"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            style="width:122px;"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put p1-put2"
            :language="this.$MessageLang"
            v-model="DisplayQueryObj.EndTime"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            style="width:122px;"
            @selected="selectedEnd"
          ></datepicker>
          <i
            class="tip1"
            style="margin-left: 42px;"
            v-show="this.DisplayQueryObj.EndTime !== '' &&
        this.DisplayQueryObj.StartTime === ''"
          >{{$t('message.member_starting_date')}}</i>
          <i
            class="tip1"
            style="margin-left: 192px;"
            v-show="this.DisplayQueryObj.StartTime !== '' &&
        this.DisplayQueryObj.EndTime === ''"
          >{{$t('message.member_end_date')}}</i>
          <i
            class="tip1"
            style="margin-left: 42px;"
            v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          >{{$t('message.member_greater_than')}}</i>
        </p>
        <span class="renovate" @click="ResetPlansList()">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a class="search" href="javascript:;" @click="QueryPlans()">{{$t('message.member_search')}}</a>
        <a
          class="newly-added"
          href="javascript:;"
          @click="AddPlans()"
        >{{$t('message.agency_newly_added')}}</a>
      </div>
      <div class="table-block-common">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td>{{$t('message.agency_order_number')}}</td>
              <td>{{$t('message.agency_programme_name')}}</td>
              <td>{{$t('message.agency_programme_category')}}</td>
              <td>{{$t('message.agency_promotion_links')}}</td>
              <td>{{$t('message.agency_dimensional_barcode')}}</td>
              <td>{{$t('message.agency_preservation_time')}}</td>
              <td>{{$t('message.agency_operation')}}</td>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>1</td>
              <td>{{$t('message.member_promotion_membership')}}</td>
              <td>{{$t('message.index_member')}}</td>
              <td
                @click="copyToClipboard($WebVersionHost + MemberExtensionUrl)"
                class="active"
                style="line-height: normal;width: 300px;"
              >
                <span
                  style="width: 300px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      display: inline-block;"
                >{{$WebVersionHost + MemberExtensionUrl}}</span>
              </td>
              <td class="active">
                <img
                  class="codeImg"
                  @click="downloads(MemberExtensionQRCode,$t('message.member_promotion_membership'))"
                  :src="MemberExtensionQRCode"
                  :title="$t('message.agency_copy_pictures')"
                />
              </td>
              <td class="transfer_list_time w_2 pr">
                <span>
                  <i>{{$t('message.agency_peking')}}</i>
                  {{MemberExtensionCreateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
                <span>
                  <i>{{$t('message.agency_america_east')}}</i>
                  {{MemberExtensionNewTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
              </td>
            <td></td>-->
            <!-- </tr> -->
            <!-- </tr> -->
            <tr v-for="(item,index) in ProgrammeList" :key="index">
              <td>{{PagingInfo.PageNo === 1? (index+1):(index+1) + (PagingInfo.PageNo-1)*PagingInfo.PageSize}}</td>
              <!-- <td>{{item.TempName | simpleContent(10)}}</td> -->
               <el-tooltip :content="item.TempName" placement="top-end" v-if="item.TempName!=''">
                 <td>{{item.TempName | simpleContent(10)}}</td>
               </el-tooltip>
               <td v-else>{{item.TempName | simpleContent(10)}}</td>
              <td>
                <span v-if="item.MemberType==4">{{$t('message.index_member')}}</span>
                <span v-else>{{item.promotionCategory}}</span>
              </td>
              <td
                @click="copyToClipboard($WebVersionHost + item.ExtensionLink)"
                class="active"
                style="line-height: normal;width: 300px;"
              >
                <span
                  style="width: 300px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      display: inline-block;"
                >{{$WebVersionHost + item.ExtensionLink}}</span>
              </td>
              <td class="active" id="CopyImgBox">
                <img
                  class="codeImg"
                  @click="downloads(item.ExtensionQRCode,item.TempName)"
                  :src="item.ExtensionQRCode"
                  :title="$t('message.agency_copy_pictures')"
                />
              </td>
              <td class="transfer_list_time w_2 pr">
                <span>
                  <i>{{$t('message.agency_peking')}}</i>
                  {{item.CreateDateTimeTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
                <span>
                  <i>{{$t('message.agency_america_east')}}</i>
                  {{item.NewTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
              </td>
              <td>
                <span v-if="item.MemberType==3">
                  <span
                    class="editPlanBtn"
                    @click="EditPlans(item)"
                  >{{$t('message.agency_compiler')}}</span> |
                  <span
                    class="deletePlanBtn"
                    style="margin-right: 5px;"
                    @click="DeletePlansMethods(item)"
                  >{{$t('message.member_delete')}}</span>
                </span>
              </td>
            </tr>
            <tr></tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="extension-cont-page"> -->
      <!--分页-->
      <paginate :PageCount="this.PageTotalCount" :PageNo="this.PagingInfo.PageNo" ref="PageNoSet"></paginate>
      <!-- </div> -->
    </div>
    <add-spread
      :CycleName="CycleName"
      :VMaxRevrseWater="VMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></add-spread>
    <edit-code-commision
      v-if="EditCodeCommisionFlag"
      :CycleName="CycleName"
      :VMaxRevrseWater="VMaxRevrseWater"
      :TempName="EditCodeTempName"
      :RakeRate="EditCodeRakeRate"
      :TempType="TempType"
      :PlanId="PlanId"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></edit-code-commision>
    <add-accounted-for-as
      :ValueListItem="ValueListItem"
      :HulHeight="HulHeight"
      :vTreatment="vTreatment"
      :CycleName="CycleName"
      :divideName="divideName"
      :superiorName="superiorName"
      :MaxIBBonusRevenueRate="MaxIBBonusRevenueRate"
      :VMaxRevrseWater="VMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></add-accounted-for-as>
    <edit-accounted-for-as
      v-if="EditAccountForFlag"
      :GroupID="GroupID"
      :PlanId="PlanId"
      :PlanBonusRevenue="PlanBonusRevenue"
      :PlanName="PlanName"
      :PlanRakeRate="PlanRakeRate"
      :OriginalValueListItem="OriginalValueListItem"
      :EditValueListItem="EditValueListItem"
      :EditCycleName="EditCycleName"
      :EditDivideName="EditDivideName"
      :EditSuperiorName="EditSuperiorName"
      :EditMaxIBBonusRevenueRate="EditMaxIBBonusRevenueRate"
      :EditVMaxRevrseWater="EditVMaxRevrseWater"
      :AutoUpgradeFlag="AutoUpgradeFlag"
    ></edit-accounted-for-as>
    <delete-plans :DeletePlanID="DeletePlanID" :DeleteTempName="DeleteTempName"></delete-plans>
    <members-qr-code
      :MemberExtensionQRCode="MemberExtensionQRCode"
      :MemberExtensionUrl="MemberExtensionUrl"
    ></members-qr-code>
    <code-alter-window ref="codeAterWindFun"></code-alter-window>
    <div v-show="IsCopyCompleted" class="maxtip">{{$t('message.member_successful_replication')}}</div>
  </div>
</template>

<script>
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import AddSpread from '@/components/sub/agency/supervise/extension/addSpread';
import EditCodeCommision from '@/components/sub/agency/supervise/extension/editCodeCommision';
import AddAccountedForAs from '@/components/sub/agency/supervise/extension/addAccountedForAs';
import EditAccountedForAs from '@/components/sub/agency/supervise/extension/editAccountedForAs';
import DeletePlans from '@/components/sub/agency/supervise/extension/deletePlans';
import MembersQrCode from '@/components/sub/agency/supervise/extension/membersQrCode';
import codeAlterWindow from '@/components/sub/agency/supervise/extension/codeAlterWindow';
import Datepicker from '@/components/main/common/datePicker';
// import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import Paginate from '@/components/sub/paginate';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
// import Clipboard from 'clipboard';

export default {
  data() {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      Submitted: false,
      TimeSequenceInvalid: false,
      DisplayQueryObj: {
        TempName: '',
        StartTime: '',
        EndTime: ''
      },
      CalendarDisabled: {
        from: new Date(
          moment()
            .set('hour', 0)
            .set('minute', 0)
            .set('second', 0)
            .add(1, 'days')
            .add(-1, 'seconds')
        ) // Disable all dates after specific date
      },
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      PageTotalCount: 0,
      ProgrammeList: [],
      PlanType: undefined,
      CycleName: '',
      RevenueList: [],
      ValueList: [],
      ValueListItem: [],
      Vlists: [],
      divideName: '',
      VMaxRevrseWater: '',
      superiorName: '',
      MaxIBBonusRevenueRate: '',
      EditDivideName: '',
      EditSuperiorName: '',
      EditVlists: [],
      EditOriginalVlists: [],
      EditValueList: [],
      OriginalValueList: [],
      EditRevenueList: [],
      OriginalRevenueList: [],
      EditValueListItem: [],
      OriginalValueListItem: [],
      EditCycleName: '',
      EditVMaxRevrseWater: '',
      EditMaxIBBonusRevenueRate: '',
      IsCopyCompleted: false,
      TempType: undefined,
      GroupID: undefined,
      PlanId: undefined,
      DeletePlanID: undefined,
      DeleteTempName: undefined,
      EditCodeTempName: undefined,
      EditCodeRakeRate: undefined,
      EditCodeCommisionFlag: false,
      EditAccountForFlag: false,
      MemberExtensionQRCode: '',
      MemberExtensionUrl: '',
      AutoUpgradeFlag: -1,
      AllEmpty: false,
      MemberExtensionNewTick: undefined,
      MemberExtensionCreateTime: undefined,
      HulHeight: '89px',
      vTreatment: '142px'
    };
  },
  mounted: function() {
    this.LoadPlans(1);
  },
  created: function() {
    // this.LoadPlanAdd();
    const self = this;
    EventBus.$on('ChangeDivideName', function(data) {
      self.divideName = data;
    });
    EventBus.$on('ChangeSuperiorName', function(data) {
      self.superiorName = data;
    });
    EventBus.$on('ChangeEditDivideName', function(data) {
      self.EditDivideName = data;
    });
    EventBus.$on('ChangeEditSuperiorName', function(data) {
      self.EditSuperiorName = data;
    });
    EventBus.$on('ChangeEditCodeCommisionFlag', function() {
      self.EditCodeCommisionFlag = false;
    });
    EventBus.$on('ChangeEditAccountForFlag', function() {
      self.EditAccountForFlag = false;
    });
    EventBus.$on('UpdatePlanList', function() {
      self.PagingInfo.PageNo = 1;
      self.$refs.PageNoSet.RetSetPageNo();
      self.LoadPlans(self.PagingInfo.PageNo);
    });
  },
  // mounted: function () {
  //   const clipboard = new Clipboard('.codeImg', {
  //     target: function () {
  //       return document.querySelector('#CopyImgBox');
  //     }
  //   });
  //   // 成功回调
  //   clipboard.on('success', function (e) {
  //     console.info('Action:', e.action);
  //     console.info('Text:', e.text);
  //     console.info('Trigger:', e.trigger);
  //     e.clearSelection();
  //   });
  //   // 失败回调
  //   clipboard.on('error', function (e) {
  //     console.error('Action:', e.action);
  //     console.error('Trigger:', e.trigger);
  //   });
  // },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true;
      let startDate = new Date(this.dateFormat(date) + ' 00:00:00');
      this.DisplayQueryObj.StartTime = startDate;
      this.CheckFied();
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true;
      let endDate = new Date(this.dateFormat(date) + ' 23:59:59');
      this.DisplayQueryObj.EndTime = endDate;
      this.CheckFied();
    },
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    // 新增页面载入数据
    LoadPlanAdd: async function() {
      const self = this;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const GameData = await AgencyCenterService.LoadPageIBExtensionPlanAdd();
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------LoadPageIBExtensionPlanAdd');
      console.log(GameData);
      if (GameData.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (GameData.Ret === 0) {
          this.PlanType = GameData.Data.PlanType;
          this.AutoUpgradeFlag = GameData.Data.AutoUpgradeFlag;
          if (this.PlanType == 1401) {
            this.CycleName = GameData.Data.CycleName;
            this.VMaxRevrseWater = this.numCalFix(
              GameData.Data.IBTempData.RakeRate * 100
            );
            this.MaxIBBonusRevenueRate = this.numCalFix(
              GameData.Data.IBTempData.BonusRevenue * 100
            );
            const list = GameData.Data.IBTempData.TempCommissionRevenueList;
            let isValueList;
            for (let i = 0; i < list.length; i++) {
              isValueList = false;
              for (let z = 0; z < self.ValueList.length; z++) {
                if (list[i].GameTypeName == self.ValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.ValueList.push(list[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < self.ValueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == self.ValueList[h]) {
                  names = {
                    GroupName: self.ValueList[h],
                    GameTypeNo: list[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.RevenueList.push(names);
            }
            for (let h = 0; h < self.RevenueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == self.RevenueList[h].GroupName) {
                  list[p].RevenueRate = this.numCalFix(
                    list[p].RevenueRate * 100
                  );
                  list[p].BasicRevenueRate = '';
                  self.RevenueList[h].GroupList.push(list[p]);
                }
              }
            }

            self.RevenueList.sort(function(a, b) {
              return a.GameTypeNo - b.GameTypeNo;
            });
            self.ValueListItem = self.RevenueList;
            console.log('创建账号初始化数据11');
            // console.log(self.IBCommissionRevenueGameSettingList);
            console.log(self.ValueListItem);
            console.log(self.ValueList);
            console.log(self.RevenueList);
            console.log('创建账号初始化数据11');
            self.divideName = self.RevenueList[0].GroupName;
            self.superiorName = self.RevenueList[0].GroupName;
            for (let d = 0; d < self.ValueListItem.length; d++) {
              self.Vlists.push(self.ValueListItem[d].GroupList.length);
              self.Vlists.sort(function(a, b) {
                return a - b;
              });
            }
            console.log(self.Vlists);
            const max = self.Vlists[self.Vlists.length - 1];
            console.log(max);
            console.log(Math.ceil(max / 5));
            self.HulHeight = 46 * Math.ceil(max / 5) + 'px';
            self.vTreatment = 45 + 46 * Math.ceil(max / 5) + 'px';
            console.log(self.HulHeight);
            console.log(self.vTreatment);
            console.log('HulHeight================================');
            AddAccountedForAs.methods.AddAccountedForAsOpenWindow();
          } else if (this.PlanType == 1402) {
            this.CycleName = GameData.Data.CycleName;
            this.VMaxRevrseWater = this.numCalFix(
              GameData.Data.IBTempData.RakeRate * 100
            );
            AddSpread.methods.AddSpreadOpenWindow();
          } else {
          }
        }
      }
    },
    AddPlans: function() {
      this.RevenueList = [];
      this.ValueList = [];
      this.ValueListItem = [];
      this.Vlists = [];
      this.LoadPlanAdd();
    },
    ShowQrCode: function() {
      MembersQrCode.methods.MembersQrCodeOpenWindow();
    },
    // 首次加载列表数据
    LoadPlans: async function(PageNo) {
      const PlansObj = {
        TempName: this.DisplayQueryObj.TempName,
        CreateStartDateTick: CommUtility.LocalTimeToUtcTicks(
          this.DisplayQueryObj.StartTime
        ),
        CreateEndDateTick:
          CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) +
          24 * 60 * 60 * 1000,
        PagingInfo: {
          PageSize: this.PagingInfo.PageSize,
          PageNo: PageNo || this.PagingInfo.PageNo
        }
      };
      const self = this;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPageLoad(PlansObj);
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('-------------------------IBExtensionPageLoad');
      console.log(PlansObj);
      console.log(data);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.MemberExtensionQRCode = data.Data.MemberExtensionQRCode;
        this.MemberExtensionUrl = data.Data.MemberExtensionUrl;
        this.ProgrammeList = data.Data.ProgrammeList;
        this.MemberExtensionNewTick =
          data.Data.MemberExtensionCreateTick - 43200000;
        this.MemberExtensionCreateTime = data.Data.MemberExtensionCreateTick;
        for (let i = 0; this.ProgrammeList.length > i; i++) {
          this.ProgrammeList[i].promotionCategory = this.$t(
            'message.agency_agent'
          );
          this.ProgrammeList[i].NewTime =
            this.ProgrammeList[i].CreateDateTimeTick - 43200000;
        }
        this.PageTotalCount = Math.ceil(
          (data.Data.PageInfo.TotalCount * 1) / self.PagingInfo.PageSize
        );
      }
      console.log(
        '-----------------------PagingInfo.PageNo' + self.PagingInfo.PageNo
      );
    },
    // 加载方案原始设置数据
    LoadOriginalPlanData: async function(EditPlansListObj) {
      const self = this;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await AgencyCenterService.IBExtensionPlanMod_LoadPage(
        EditPlansListObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log(
        '加载编辑方案原始数据-------------------------IBExtensionPlanMod_LoadPage'
      );
      console.log(data);
      console.log(data.Data.IBTempData.TempCommissionRevenueList);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Ret === 0) {
          this.AutoUpgradeFlag = data.Data.AutoUpgradeFlag;
          if (this.TempType == 1401) {
            this.EditCycleName = data.Data.CycleName;
            this.EditMaxIBBonusRevenueRate = this.numCalFix(
              data.Data.IBTempData.BonusRevenue * 1 * 100
            );
            this.EditVMaxRevrseWater = this.numCalFix(
              data.Data.IBTempData.RakeRate * 1 * 100
            );
            this.PlanBonusRevenue = this.numCalFix(
              data.Data.PlanBonusRevenue * 1 * 100
            );
            this.PlanName = data.Data.PlanName;
            this.PlanRakeRate = this.numCalFix(
              data.Data.PlanRakeRate * 1 * 100
            );
            const EditList = data.Data.IBTempData.TempCommissionRevenueList;

            const originalList = data.Data.OldPlanList;
            console.log('EditList=============================');
            console.log(EditList); // 有最大值
            console.log(originalList); // 用户填写的  包含最大值
            console.log('EditList=============================');
            let isValueList;
            for (let i = 0; i < EditList.length; i++) {
              isValueList = false;
              for (let z = 0; z < self.EditValueList.length; z++) {
                if (EditList[i].GameTypeName == self.EditValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.EditValueList.push(EditList[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < self.EditValueList.length; h++) {
              for (let p = 0; p < EditList.length; p++) {
                if (EditList[p].GameTypeName == self.EditValueList[h]) {
                  names = {
                    GroupName: self.EditValueList[h],
                    GameTypeNo: EditList[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.EditRevenueList.push(names);
            }
            for (let h = 0; h < self.EditRevenueList.length; h++) {
              for (let p = 0; p < EditList.length; p++) {
                if (
                  EditList[p].GameTypeName == self.EditRevenueList[h].GroupName
                ) {
                  EditList[p].RevenueRate = self.numCalFix(
                    EditList[p].RevenueRate * 100
                  );
                  self.EditRevenueList[h].GroupList.push(EditList[p]);
                }
              }
            }

            self.EditRevenueList.sort(function(a, b) {
              return a.GameTypeNo - b.GameTypeNo;
            });
            console.log('EditRevenueList111111111111111');
            console.log(self.EditRevenueList);
            console.log('EditRevenueList111111111111111');
            // 处理之前保存的方案里的厂商百分比数据
            let isOriginalValueList;
            for (let i = 0; i < originalList.length; i++) {
              isOriginalValueList = false;
              for (let z = 0; z < self.OriginalValueList.length; z++) {
                if (originalList[i].GameTypeName == self.OriginalValueList[z]) {
                  isOriginalValueList = true;
                }
              }
              if (!isOriginalValueList) {
                self.OriginalValueList.push(originalList[i].GameTypeName);
              }
            }
            let OriginalNames = {};
            for (let h = 0; h < self.OriginalValueList.length; h++) {
              for (let p = 0; p < originalList.length; p++) {
                if (originalList[p].GameTypeName == self.OriginalValueList[h]) {
                  OriginalNames = {
                    GroupName: self.OriginalValueList[h],
                    GameTypeNo: originalList[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.OriginalRevenueList.push(OriginalNames);
            }
            for (let h = 0; h < self.OriginalRevenueList.length; h++) {
              for (let p = 0; p < originalList.length; p++) {
                if (
                  originalList[p].GameTypeName ==
                  self.OriginalRevenueList[h].GroupName
                ) {
                  originalList[p].RevenueRate = this.numCalFix(
                    originalList[p].RevenueRate * 1 * 100
                  );
                  self.OriginalRevenueList[h].GroupList.push(originalList[p]);
                }
              }
            }
            console.log('编辑账号初始化数据');
            console.log(self.OriginalRevenueList); // RevenueRate: 10  用户写的值
            console.log(self.EditRevenueList); // RevenueRate: 60 最大值
            console.log('编辑账号初始化数据');

            // for (var i in self.EditRevenueList) {
            //   for (var prototype in self.EditRevenueList[i].GroupList) {
            //     console.log(self.EditRevenueList[i].GroupList[prototype]);
            //     for (var n in self.EditRevenueList[i].GroupList[prototype]) {
            //       if (
            //         self.OriginalRevenueList[i].GroupList[prototype][n] !=
            //         undefined
            //       ) {
            //         self.EditRevenueList[i].GroupList[prototype][n] =
            //           self.OriginalRevenueList[i].GroupList[prototype][n];
            //       }
            //     }
            //   }
            // }
            // console.log('编辑账号初始化数据123');
            // console.log(self.OriginalRevenueList); // RevenueRate: 10  用户写的值
            // console.log(self.EditRevenueList); // RevenueRate: 60 最大值
            // console.log('编辑账号初始化数据123');
            self.EditValueListItem = self.EditRevenueList;
            self.OriginalValueListItem = self.OriginalRevenueList;

            self.EditDivideName = self.EditRevenueList[0].GroupName;
            self.EditSuperiorName = self.EditRevenueList[0].GroupName;
            for (let d = 0; d < self.EditValueListItem.length; d++) {
              self.EditVlists.push(self.EditValueListItem[d].GroupList.length);
              self.EditVlists.sort(function(a, b) {
                return a - b;
              });
            }
            console.log(self.EditVlists);
            const max = self.EditVlists[self.EditVlists.length - 1];
            console.log(max);
            console.log(Math.ceil(max / 5));
            self.HulHeight = 46 * Math.ceil(max / 5) + 'px';
            self.vTreatment = 45 + 46 * Math.ceil(max / 5) + 'px';
            this.EditAccountForFlag = true;
            this.$nextTick(function() {
              EditAccountedForAs.methods.EditAccountedForOpenWindow();
            });
          } else if (this.TempType == 1402) {
            this.EditCodeTempName = data.Data.PlanName;
            this.CycleName = data.Data.CycleName;
            this.EditCodeRakeRate = this.numCalFix(
              data.Data.PlanRakeRate * 1 * 100
            );
            this.VMaxRevrseWater = this.numCalFix(
              data.Data.IBTempData.RakeRate * 100
            );
            this.EditCodeCommisionFlag = true;
            this.$nextTick(function() {
              EditCodeCommision.methods.EditSpreadOpenWindow();
            });
          } else {
          }
        }
      }
    },
    // 搜索列表
    QueryPlans: async function() {
      this.Submitted = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      const anyFieldInvalid = this.CheckFied();

      if (anyFieldInvalid === true || result === false) {
        return;
      }
      if (
        this.DisplayQueryObj.TempName.length > 0 &&
        /^[\s]*$/.test(this.DisplayQueryObj.TempName)
      ) {
        return;
      }
      this.PagingInfo.PageNo = 1;
      this.$refs.PageNoSet.RetSetPageNo();
      this.LoadPlans(this.PagingInfo.PageNo);
    },
    // 编辑方案内容
    EditPlans: async function(item) {
      this.TempType = item.TempType;
      this.GroupID = item.GroupID;
      this.PlanId = item.ID;
      const EditPlansListObj = {
        CommisionIncomeMode: item.TempType,
        PlanID: item.ID
      };
      this.EditVlists = [];
      this.EditOriginalVlists = [];
      this.EditValueList = [];
      this.OriginalValueList = [];
      this.EditRevenueList = [];
      this.OriginalRevenueList = [];
      this.EditValueListItem = [];
      this.OriginalValueListItem = [];
      this.LoadOriginalPlanData(EditPlansListObj);
    },
    DeletePlansMethods: function(item) {
      this.DeletePlanID = item.ID;
      this.DeleteTempName = item.TempName;
      DeletePlans.methods.DeletePlansOpenWindow();
    },
    // 格式化数字
    numCalFix: function(input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function(num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    // 复制链接到剪贴板
    copyToClipboard: function(s) {
      if (window.clipboardData) {
        window.clipboardData.setData('text', s);
      } else {
        console.log('------------oncopy');
        (function() {
          document.oncopy = function(e) {
            e.clipboardData.setData('text', s);
            e.preventDefault();
            document.oncopy = null;
          };
        })(s);
        document.execCommand('Copy');
      }
      this.IsCopyCompleted = true;
      setTimeout(() => {
        this.IsCopyCompleted = false;
      }, 2000);
    },
    downloads(url, name) {
      this.$refs.codeAterWindFun.TriggerBankSelectWindow(url, name);
      // if (this.browserIsIe()) {
      //   if (window.navigator.msSaveOrOpenBlob) {
      //     const imgUrl = url;
      //     const bstr = atob(imgUrl.split(',')[1]);
      //     let n = bstr.length;
      //     const u8arr = new Uint8Array(n);
      //     while (n--) {
      //       u8arr[n] = bstr.charCodeAt(n);
      //     }
      //     const blob = new Blob([u8arr]);
      //     window.navigator.msSaveOrOpenBlob(blob, name + '.png');
      //   } else {
      //     EventBus.$emit('showNotifyMemberMessage', {
      //       NotifySubMessage: this.$t('message.agency_browser')
      //     });
      //   }
      // } else {
      //   const imgData = url;
      //   this.downloadFile(name + '.png', imgData);
      // }
    },

    // 重置搜索内容
    ResetPlansList: function() {
      this.DisplayQueryObj.StartTime = '';
      this.DisplayQueryObj.TempName = '';
      this.DisplayQueryObj.EndTime = '';
      // 重置验证条件
      this.$validator.reset();
      this.Submitted = false;
      this.TimeSequenceInvalid = false;
      this.AllEmpty = false;
    },
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // 開始時間未選
      if (
        this.DisplayQueryObj.EndTime !== '' &&
        this.DisplayQueryObj.StartTime === ''
      ) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (
        this.DisplayQueryObj.StartTime !== '' &&
        this.DisplayQueryObj.EndTime === ''
      ) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        new Date(this.DisplayQueryObj.StartTime) >
        new Date(this.DisplayQueryObj.EndTime)
      ) {
        this.TimeSequenceInvalid = true;
        anyInvalid = true;
      }
      return anyInvalid;
    },
    TestAllEmpty: function() {
      if (
        this.DisplayQueryObj.TempName.length > 0 &&
        /^[\s]*$/.test(this.DisplayQueryObj.TempName)
      ) {
        this.AllEmpty = true;
      } else {
        this.AllEmpty = false;
      }
    },
    GetCurrentPageData: async function(pageNo) {
      this.PagingInfo.PageNo = pageNo;
      this.LoadPlans(pageNo);
    } // end GetCurrentPageData
    // 复制链接到剪贴板
  },
  components: {
    AddSpread,
    AddAccountedForAs,
    EditAccountedForAs,
    EditCodeCommision,
    Datepicker,
    MembersQrCode,
    DeletePlans,
    Paginate,
    codeAlterWindow
  },
  beforeDestroy() {
    EventBus.$off('ChangeDivideName');
    EventBus.$off('ChangeSuperiorName');
    EventBus.$off('UpdatePlanList');
    EventBus.$off('ChangeEditDivideName');
    EventBus.$off('ChangeEditSuperiorName');
    EventBus.$off('ChangeEditAccountForFlag');
    EventBus.$off('UpdatePlanList');
  }
};
</script>
