/*header*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 888;
  background: rgba(27, 27, 27, 0.8);
}

.header_list {
  height: 40px;
  line-height: 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header_list .header-news {
}

.header_list marquee {
  width: 500px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #7b7a7b;
  vertical-align: top;
}

.header_list ul {
  float: right;
  /*max-width:512px;*/
}

.header_list li {
  float: left;
  padding-left: 10px;
  font-size: 14px;
  margin-right: 5px;
}

.header_list li a {
  margin-right: 5px;
}

.header_list li .account em {
  color: #fff;
}

.header_list li a:hover {
  color: #fff;
}

.header_list li.language .l_down {
  width: 113px;
  padding-right: 20px;
  z-index: 999;
  height: auto;
  position: relative;
  float: left;
  margin-top: 6px;
}

.l_down .l_d_course {
  width: 100%;
  height: 18px;
  line-height: 18px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  color: #7b7a7b;
  border: solid 1px #463d3c;
}

.header_list li.language .l_down img.flag {
  top: 3px;
  right: 15px;
  position: relative;
  float: right;
  width: 20px;
  height: 13px;
}

.header_list li.language .l_down_box img.flag {
  top: 7px;
  right: 25px;
}

.l_down img {
  width: 12px;
  height: 7px;
  display: block;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 12px;
}

.header_list li.language .l_down .l_down_box {
  width: 100%;
  background: rgba(27, 27, 27, 0.8);
  height: auto;
  position: absolute;
  display: none;
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
  border: solid 1px #463d3c;
  top: 30px;
  border-top: 0;
}

.header_list li.language .l_down_list {
  line-height: 26px;
  padding-left: 5px;
  display: block;
  cursor: pointer;
  text-align: left;
  padding: 5px 0 5px 10px;
}
