<template>
  <div
    class="rct_table table_block table_block2"
    id="scroll_table2"
    style="height: 450px; position: relative; overflow: hidden;"
  >
    <table>
      <thead>
        <tr>
          <th class="w_1">{{ $t("message.agency_betting_number") }}</th>
          <th class="w_1">{{ $t("message.member_betting_time") }}</th>
          <th class="w_2">{{ $t("message.agency_game_category") }}</th>
          <th class="w_2">{{ $t("message.agency_game_maker") }}</th>
          <th class="w_2">{{ $t("message.member_game_name") }}</th>
          <th class="w_3">{{ $t("message.agency_betting_amount") }}</th>
          <th class="w_4">{{ $t("message.member_effective_betting") }}</th>
          <th class="w_5">{{ $t("message.agency_lottery_amount") }}</th>
          <th class="w_5">{{ $t("message.member_profit_loss") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(Log, index) in this.RecordList" :key="index">
          <td>{{ Log.BetOrderNo }}</td>
          <td>
            <p>{{ Log.BetTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm:ss") }}</p>
          </td>
          <td>{{ Log.GameTypeName }}</td>
          <td>{{ Log.GameApiName }}</td>
          <td>{{ Log.GameName }}</td>
          <td :style="SetAmtStyle(Log.BetAmount)">{{ Log.VBetAmount }}</td>
          <td :style="SetAmtStyle(Log.BetAvailableAmount)">{{ Log.VBetAvailableAmount }}</td>
          <td :style="SetAmtStyle(Log.SettleAmount)">{{ Log.VSettleAmount }}</td>
          <td :style="SetAmtStyle(Log.WinLoss)">{{ Log.VWinLoss }}</td>
          <!-- <td>
            <a class="alert_click1" href="javascript:void(0);" @click="ShowDetail(Log)">详细</a>
          </td>-->
        </tr>
      </tbody>
      <thead>
        <tr>
          <th class="w_1">{{ $t("message.agency_subtotal") }}：</th>
          <th colspan="4"></th>
          <th class="w_3">{{ sumSet.SubBetAmount }}</th>
          <th class="w_4">{{ sumSet.SubBetAvailableAmount }}</th>
          <th class="w_5">{{ sumSet.SubSettleAmount }}</th>
          <th class="w_5">{{ sumSet.SubWinLoss }}</th>
        </tr>
        <tr>
          <th class="w_1">{{ $t("message.member_totalize") }}：</th>
          <th colspan="4"></th>
          <th class="w_3">{{ sumSet.SumBetAmount }}</th>
          <th class="w_4">{{ sumSet.SumBetAvailableAmount }}</th>
          <th class="w_5">{{ sumSet.SumSettleAmount }}</th>
          <th class="w_5">{{ sumSet.SumWinLoss }}</th>
        </tr>
      </thead>
    </table>

    <!-- <table width="100%" cellpadding="0" cellspacing="0" class="table-total">
      <thead>
        <tr>
          <th class="w_1">{{$t('message.member_totalize')}}：</th>
          <th colspan="4"></th>
          <th class="w_3">{{sumSet.Sub.SubBetAmount}}</th>
          <th class="w_4">{{sumSet.Sub.SubBetAvailableAmount}}</th>
          <th class="w_5">{{sumSet.Sub.SubSettleAmount}}</th>
          <th class="w_5">{{sumSet.Sub.SubWinLoss}}</th>
        </tr>
        <tr>
          <th class="w_1">{{$t('message.agency_subtotal')}}：</th>
          <th colspan="4"></th>
          <th class="w_3">{{sumSet.Sum.SubBetAmount}}</th>
          <th class="w_4">{{sumSet.Sum.SubBetAvailableAmount}}</th>
          <th class="w_5">{{sumSet.Sum.SubSettleAmount}}</th>
          <th class="w_5">{{sumSet.Sum.SubWinLoss}}</th>
        </tr>
      </thead>
    </table>-->
    <div class="purple_tip">
      <span style="float: left;">{{ $t("message.member_update_time") }}</span>
      {{ $t("message.member_beijing_time") }}
    </div>
    <member-betting-record-detail
      :BettingRecord="BettingRecord"
      :BettingMoreDetials="BettingMoreDetials"
      :ValueList="this.ValueList"
      :QueryType="this.QueryType"
    ></member-betting-record-detail>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import MemberBettingRecordDetail from "@/components/sub/memberNew/transactionRecord/memberBettingRecordDetail"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import EventBus from "scripts/common/EventBus"

export default {
  props: {
    RecordList: {
      type: Array,
      default: function () {
        return []
      }
    },
    RecordTime: {
      default: function () {
        return "YYYY-mm-dd HH:mm:ss"
      }
    },
    QueryType: {
      default: function () {
        return ""
      }
    },
    sumSet: {
      type: Object,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      BettingRecord: undefined,
      ValueList: [],
      BettingMoreDetials: []
    }
  },
  methods: {
    // 判別數字正負並改變顏色
    SetAmtStyle: function (Amount) {
      if (Amount < 0) {
        return { color: "rgb(255, 0, 0)" }
      }
      return {}
    }, // end SetAmtStyle
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      //          const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      //          const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      //          const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // 顯示詳細
    ShowDetail: async function (log) {
      const self = this
      console.log(self.QueryType)
      const dataObj = {
        ID: log.ID,
        BetDateTime: log.BetDateTime,
        BetStartDateTime: self.dateFormat(self.RecordTime.StartTime) + " 00:00:00",
        BetEndDateTime: self.dateFormat(self.RecordTime.EndTime) + " 23:59:59"
      }
      console.log(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await PersonalCenterService.BetLog_LoadDetailPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      if (retData.Ret === BLDef.ErrorRetType.SUCCESS) {
        self.BettingRecord = retData.Data.Detail
        self.BettingMoreDetials = retData.Data.MoreDetials
        const list = retData.Data.MoreDetials
        let isValueList
        console.log(list)
        for (let i = 0; i < list.length; i++) {
          if (list[i].Name == self.$t("message.member_detailed_betting")) {
            list[i].Value = JSON.parse(list[i].Value)
            for (let j = 0; j < list[i].Value.length; j++) {
              isValueList = false
              for (let z = 0; z < self.ValueList.length; z++) {
                if (list[i].Value[j].Key == self.ValueList[z]) {
                  isValueList = true
                }
              }
              if (!isValueList) {
                self.ValueList.push(list[i].Value[j].Key)
              }
            }
          }
        }

        MemberBettingRecordDetail.methods.OpenWindow()
      } else {
        const notifyData = {
          NotifyMessage: retData.Message
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } // end if
    } // end ShowDetail
  },

  components: {
    MemberBettingRecordDetail
  },
  mounted() {
    // 滚动条
    $("#scroll_table2").perfectScrollbar()
  }
}
</script>
