<template>
  <div class="rct_table table_block table_block2">
    <div class="table2_h_cont" id="scroll_table3">
      <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="w_2">{{$t('message.member_type')}}</th>
            <th class="w_3">{{$t('message.member_game_name')}}</th>
            <th class="w_4">{{$t('message.member_amount_bets')}}</th>
            <th class="w_1">{{$t('message.member_betting_time')}}</th>
            <!-- <th class="w_5">损益</th>
            <th class="w_5">有效投注</th>-->
            <!-- <th class="w_6"></th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="Log in this.RecordList">
            <td>{{Log.GameMainType}}</td>
            <td>{{Log.GameName}}</td>
            <td :style="SetAmtStyle(Log.BetAmount)">{{Log.VBetAmount}}</td>
            <td>
              <p>{{Log.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
            </td>
            <!-- <td :style="SetAmtStyle(Log.WinLoss)">{{Log.VWinLoss}}</td>
            <td :style="SetAmtStyle(Log.BetAvailableAmount)">{{Log.VBetAvailableAmount}}</td>-->
            <!-- <td><a class="alert_click1" href="javascript:void(0);" @click="ShowDetail(Log)">详细</a></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="purple_tip">
      <span style="float: left;">{{$t('message.member_update_time')}}</span>
      {{$t('message.member_beijing_time')}}
    </div>
    <member-betting-record-detail :BettingRecord="BettingRecord" :BettingType="true"></member-betting-record-detail>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import MemberBettingRecordDetail from "@/components/sub/memberNew/transactionRecord/memberBettingRecordDetail"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import EventBus from "scripts/common/EventBus"

export default {
  props: {
    RecordList: {
      type: Array,
      default: function () {
        return []
      }
    }
  },

  data() {
    return {
      BettingRecord: undefined
    }
  },
  methods: {
    // 判別數字正負並改變顏色
    SetAmtStyle: function (Amount) {
      if (Amount < 0) {
        return { color: "rgb(255, 0, 0)" }
      }
      return {}
    }, // end SetAmtStyle

    // 顯示詳細
    ShowDetail: async function (log) {
      const dataObj = {
        ID: log.ID,
        BetDateTime: log.BetDateTime,
        NoSettled: true
      }
      const retData = await PersonalCenterService.BetLog_LoadDetailPage(dataObj)
      if (retData.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.BettingRecord = retData.Data.Detail
        MemberBettingRecordDetail.methods.OpenWindow()
      } else {
        const notifyData = {
          NotifyMessage: retData.Message
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } // end if
    } // end ShowDetail
  },

  components: {
    MemberBettingRecordDetail
  },
  mounted() {
    // 滚动条
    $("#scroll_table3").perfectScrollbar()
  }
}
</script>
