.theme28 {
    .paginate {
        display: inline-block;
        padding-left: 0;
        margin-top: 0px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .paginate>li {
        display: inline-block;
        margin: 3px;
    }

    .paginate>li>a {
        position: relative;
        padding: 6px 11px;
        margin-left: -1px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        outline: none;
        background: #333;
        border: 1px solid #808080;
    }

    .paginate>li>a:hover {
        z-index: 3;
        color: #333;
        background-color: #fff;
        border-color: #808080;
    }

    .paginate>.active>a,
    .paginate>.active>a:hover,
    .paginate>.active>a:focus {
        z-index: 2;
        color: #333;
        cursor: default;
        background-color: #fff;
        border-color: #808080;
    }

    .paginate>.disabled>a,
    .paginate>.disabled>a:hover,
    .paginate>.disabled>a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: transparent;
        border-color: transparent;
    }
}
