<template>
  <!--注册-->
  <div>
    <!-- 主站 -->
    <div class="main main_login">
      <div id="AddMemberForm" name="AddMemberForm" :class="'AddMemberForm_' + $MessageLang">
        <div class="welcome_box" style="width: 812px">
          <router-link :to="{name:'Index'}" class="welcome_logo" title="">
            <img onerror="" :src="this.LogoImgPath" alt="logo" />
          </router-link>

          <div class="registered">
            <h2 class="reg_title">
              <p>{{$t('message.reg_registration_materials')}}</p>
              <span class="title_list">REGISTRATION INFORMATION</span>
            </h2>

            <div class="reg_order clearfix">
              <div class="list_item clearfix">
                <p class="fl">{{$t('message.reg_registered_account')}}:</p>
                <input
                  type="text"
                  name="Acct"
                  v-model="RegistObj.Acct"
                  v-validate="{ rules: { regex:Reg.Account, required: true }}"
                  @blur="CheckAcctAvailable()"
                  :placeholder="$t('message.reg_enter_account')"
                />
              </div>
              <h2 class="tip" v-show="errors.has('Acct') && fields.Acct.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.reg_english_letters')}}
              </h2>
              <h2 class="tip" v-show="!errors.has('Acct') && !AcctAvailable">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.reg_hasBeen_used')}}
              </h2>
              <div class="list_item clearfix">
                <p class="fl">{{$t('message.reg_mobile_number')}}:</p>
                <input
                  type="text"
                  name="PhoneNo"
                  v-model="RegistObj.PhoneNo"
                  v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                  :placeholder="$t('message.reg_input_phone')"
                />
              </div>
              <h2 class="tip" v-show="errors.has('PhoneNo') && fields.PhoneNo.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.agent_legal_mobilePhone')}}
              </h2>
              <div class="list_item clearfix">
                <p class="fl">{{$t('message.reg_cipher')}}:</p>
                <input
                  :type="IfPwd.Password == false? 'password' : 'text'"
                  id="Pwd"
                  name="Pwd"
                  v-model="RegistObj.Pwd"
                  v-validate="{ rules: { regex:Reg.Password, required: true }}"
                  :placeholder="$t('message.reg_character')"
                />
                <i
                  :class="IfPwd.Password == false? 'eye-btn' : 'eye-btn on'"
                  @click="ClickShowPwd(0)"
                ></i>
              </div>
              <h2 class="tip" v-show="errors.has('Pwd') && fields.Pwd.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.login_notations')}}
              </h2>
              <div class="list_item clearfix">
                <p class="fl">{{$t('message.reg_withdrawal_password')}}:</p>
                <input
                  :type="IfPwd.WithdrawPwd == false? 'password' : 'text'"
                  name="WithdrawPwd"
                  v-model="RegistObj.WithdrawPwd"
                  v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                  :placeholder="$t('message.reg_six_pinCode')"
                />
                <i
                  :class="IfPwd.WithdrawPwd == false? 'eye-btn' : 'eye-btn on'"
                  @click="ClickShowPwd(1)"
                ></i>
              </div>
              <h2 class="tip" v-show="errors.has('WithdrawPwd') && fields.WithdrawPwd.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.reg_use_numbers')}}
              </h2>
              <div class="list_item list_code clearfix">
                <p class="fl">{{$t('message.reg_identifying_code')}}:</p>
                <div class="list_code_box fr">
                  <input
                    type="text"
                    :placeholder="$t('message.agent_caps_look')"
                    name="AuthCode"
                    v-model="RegistObj.AuthCode"
                    v-validate="{ rules: { regex:Reg.VCode, required: true }}"
                  />
                  <div class="l_code" v-on:click="GetAuthCode()">
                    <img v-bind:src="AuthImg" />
                  </div>
                </div>
              </div>
              <h2 class="tip" v-show="errors.has('AuthCode') && fields.AuthCode.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.agent_code_error')}}
              </h2>
            </div>

            <div class="reg_btn_box">
              <a
                href="javascript:void(0);"
                class="l_btn reg_btn"
                v-on:click="SumbitRegist()"
              >{{$t('message.agent_submission')}}</a>
            </div>
          </div>
        </div>
      </div>
      <!--用戶協議-->
      <!-- <user-agreement></user-agreement> -->
    </div>
  </div>
</template>

<style scoped lang="less">
  .AddMemberForm_vi,.AddMemberForm_en{
    .registered{
      width: 580px!important;

      .reg_order .tip{
          margin-left: 190px!important;
      }
    }
    .registered .reg_order .list_item p{
      width: 170px!important;
      text-align: right!important;
    }
  }

  .l_code{
    height: 42px;
    img{
      max-height: 100%;
    }
  }
</style>

<script>
import { initRegister } from "../../../assets/scripts/comTest/main/register/register.js";
export default {
  mixins: [initRegister]
};
</script>
