<template>
  <div>
    <div class="welcome_box welcome_success_box">
      <router-link :to="{name:'Index'}" class="welcome_logo" title>
        <img :src="this.LogoImgPath" alt="logo" />
      </router-link>

      <div class="registered_s">
        <h2 class="reg_s">
          <p>{{$t('message.reg_login_successful')}}</p>
          <span v-if="$MessageLang !== 'en'">registered successfully</span>
        </h2>

        <p class="reg_c">
          {{$t('message.reg_remember_well')}}
          <span>{{this.MemberInfo.Acct}}</span>
        </p>
        <a href="/" class="reg_back_btn">{{$t('message.agent_home_page')}}</a>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.welcome_box {
  margin: auto;
  width: 525px;
  position: relative;
  text-align: center;
}
.welcome_success_box .welcome_logo {
  position: relative;
  display: block;
  width: 220px;
  height: 80px;
  margin: 0 auto;
  margin-top: 150px !important;
  text-align: center;
}

.welcome_success_box .welcome_logo img {
  width: 220px !important;
  height: 80px !important;
}
/*registered success*/
.registered_s {
  margin: 0 auto;
  width: 545px;
}

.reg_s {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.reg_s p {
  font-size: 48px;
  font-weight: normal;
  color: #f4c874;
}

.reg_s span {
  font-size: 12px;
  font-weight: normal;
  color: #f4c874;
}

.reg_c {
  line-height: 40px;
  font-size: 18px;
  color: #796b88;
  text-align: center;
}

.reg_c span {
  font-weight: bold;
  color: #aea2c2;
}

.reg_game {
  margin-top: 60px;
  text-align: center;
}

.reg_game a {
  display: inline-block;
  margin-left: 15px;
}

.reg_game img {
  max-width: 100%;
}

.reg_back_btn {
  display: block;
  margin: 60px auto;
  max-width: 202px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #5b4e6d;
  text-align: center;
  border: 2px solid #5b4e6d;
  border-radius: 22px;
}

.reg_back_btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}
</style>

<script>
import { registerSuccess } from '../../../assets/scripts/comTest/main/register/registerSuccess.js';
export default {
  mixins: [registerSuccess]
};
</script>
