.theme28 {
    .pub_alert_box {
        width: auto;
        min-width: 270px;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-size: 100% 100%;
        z-index: 9999;
        border-radius: 5px;
        padding: 19px 20px;
    }

    // .main-navList-logo a{
    //     background:url('/static/images/Customer/i_logo28.png') no-repeat;
    // }

    .pub_alert_box .descr_title {
        // width: 100%;
        // /* height: 50px; */
        // height: 40px;
        // line-height: 40px;
        // margin-bottom: 20px;
        // text-align: left;
        // color: #787878;
        // border-bottom: 1px solid #6b84a4;
    }

    .pub_alert_box.re_h .descr_title {
        height: 41px;
    }

    .pub_alert_box .descr_title.no_line {
        border-bottom: 0;
    }

    .pub_alert_box .descr_title p {
        font-size: 15px;
        color: #022a3f;
        float: left;
        margin-left: 20px;
    }

    .pub_alert_box .descr_title a.icon_close {
        width: 15px;
        height: 15px;
        display: block;
        background-size: 100% 100%;
        float: right;
        margin-top: 13px;
        margin-right: 19px;
    }


    .descr_p {
        padding: 0 30px;
    }

    .descr_p p {
        font-size: 14px;
        color: #536073;
        line-height: 28px;
        word-break: break-all;
        text-align: center;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p p.p_blue {
        text-align: center;
        font-size: 18px;
        color: #536073;
        margin-bottom: 10px;
    }

    .descr_p p em {
        display: inline-block;
        font-size: 13px;
        color: #536073;
        margin-right: 20px;
        text-align: right;
    }

    .five_fonts.descr_p p em {
        width: 82px;
    }

    .alert_btn_both {
        width: 100%;
        height: 40px;
        text-align: center;
        margin: 32px auto 22px;
        font-size: 0;
    }

    .pub_alert_box.re_h .alert_btn_both {
        margin: 20px auto;
        clear: both;
    }

    .alert_btn_both a {
        display: inline-block;
        width: 94px;
        height: 40px;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
    }

    // 在线支付,公司入款
    .alert_btn_both_vi {
        a {
            padding-top: 10px !important;
            line-height: 14px !important;
        }
    }

    .alert_btn_both_en {
        padding-top: 10px !important;
        line-height: 12px !important;
        width: 83px;
    }

    .alert_btn_both a.btn1 {
        color: #fff;
        background-size: 100% 100%;
    }

    .alert_btn_both a.btn2 {
        background-size: 100% 100%;
        color: #fff;
        margin-left: 10px;
    }


    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field .input_lf {
        font-size: 14px;
        color: #666;
        float: left;
        height: 30px;
        line-height: 30px;
    }

    #BettingRecordDetailForm.pub_alert_box {
        padding: 30px 20px !important;
    }

    .input_field .input_rt input {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        font-size: 14px;
        color: #536073 !important;
        word-break: break-all;
        background: none;
    }

    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field.style2 li {
        margin-top: 15px;
        min-height: 30px;
        height: auto;
        overflow: hidden;
    }

    .input_field.style2 .input_lf {
        width: 85px;
    }

    .input_field.style2 .input_rt {
        min-height: 30px;
        height: auto;

    }

    .input_field.style2 .input_rt input {
        width: 240px;
        display: inline-block;
        vertical-align: top;
        height: 36px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: none;
        background: none;
        font-size: 14px;
        color: #666;
        word-break: break-all;
        background-size: 100% 100%;
    }

    #forgetPasswordForm .input_field.style2 .input_rt input {
        width: 300px;
    }

    .input_field.style2 .input_rt input::-webkit-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input::-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-ms-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:focus {
        color: #ddd;
    }

    .input_field li.hasblock .input_rt i.tip1 {
        display: block;
    }

    /*忘记密码弹窗*/

    .login-popup {
        width: auto;

        input::-webkit-input-placeholder {
            font-size: 16px;
            color: #536073;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #536073;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #536073;
        }

        .icon_close {
            width: 18px !important;
            height: 17px !important;
            margin: 13px 15px 0 0 !important;
        }

        .descr_p p.p_blue {
            text-align: center;
            font-size: 18px;
            color: #536073;
            margin-bottom: 10px;
        }

        .input_field .input_lf {
            font-size: 14px;
            color: #536073;
            float: left;
            height: 30px;
            line-height: 30px;
        }

        .input_field .input_rt {
            display: inline-block;
            vertical-align: top;
            position: relative;

            input {
                width: 296px;
                height: 34px;
                line-height: 34px;
                padding: 0 10px;
                font-size: 14px;
                outline: none;
                border: none;
                background: none;
                color: #536073;
                background-size: 100% 100%;
            }

            .tip1 {
                width: 296px;
            }
        }

        .login_descr_p {
            margin-top: 20px;

            p a {
                color: #536073;
            }
        }
    }

    //用户协议

    .user-agreement-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 9999;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        margin: auto;

        .agreement-content {
            width: 50%;
            height: 610px;
            margin: 0 auto;
            margin-top: 200px;
        }

        .login-cont-title {
            display: none;

            img {
                display: none;
            }
        }

        h4 {
            display: none;
        }

        .agreement-title {
            font-size: 24px;
            color: #495682;
            padding: 20px 65px 5px;
            text-align: center;

            span {
                display: none;
            }
        }

        p {
            font-size: 15px;
            color: #4d5059;
            line-height: 30px;
            margin: 5px 10px;

            i {
                width: 20px;
            }

            span,
            i {
                vertical-align: top;
                font-style: normal;
            }

            span {
                width: 950px;
            }
        }

        .back-register {
            margin: auto;
            margin-top: 20px;
            width: 120px;
            height: 44px;
            cursor: pointer;
            font-size: 18px;
            font-family: 'PingFang Medium';
            display: block;
            line-height: 50px;
            text-align: center;
            border-radius: 5px;
            border: none;
            color: #fff;
            background-size: 100% 100%;

            i {
                letter-spacing: 5px;
            }
        }
    }


    .descr_p div {
        font-size: 13px;
        color: #e6e6e6;
        /* padding: 0 30px; */
        line-height: 32px;
        word-break: break-all;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p .record_detail_title {
        display: inline-block;
        font-size: 14px;
        color: #20232c;
        margin-right: 10px;
        width: 90px;
        text-align: right;
    }

    .five_fonts.descr_p .record_detail_title {
        width: 72px;
    }

    .alert_pb_list {
        overflow: hidden;
        // border-bottom: 1px solid #6b84a4;
        // padding-bottom: 20px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li.first_li div {
        font-size: 14px;
        color: #526073;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 120px;
        text-align: center;
    }

    .alert_pb_list li div {
        width: 63px;
        float: left;
        font-size: 12px;
        color: #425166;
        text-align: left;
        line-height: 25px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #526073;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 120px;
        font-size: 14px;
        color: #526073;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    #failForm .login-popup {
        width: 330px;
    }

    #forgetPasswordForm .login-popup {
        width: 520px;
    }

    .psw_forget {
        margin-bottom: 20px;
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: #787878;
    }

    .f_box .full_course {
        text-align: center;
    }

    .f_box .full_course h2 {
        margin: 20px 0 26px 0;
        font-size: 24px;
        font-weight: normal;
        color: #787878;
        text-align: center;
    }

    .f_box .full_course p {
        line-height: 28px;
        font-size: 15px;
        color: #787878;
    }

    .f_box .full_course p a {
        color: #950000;
    }

    .sum_alert_box .icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        background-size: 100% 100%;
        margin-top: 14px;
        margin-left: 10px;
    }

    .f_box .full_course p a:hover {
        color: red;
    }

    /*网银*/
    .deposit-bom03 {
        width: 850px;
    }

    .bank_list {
        overflow: hidden;
        width: 760px;
        margin: auto;
        text-align: left;
        font-size: 0;
        margin-bottom: 29px;
    }

    .bank_list li {
        display: inline-block;
        width: 182px;
        height: 37px;
        border: solid 1px #ffffff;
        margin: 3px;
    }

    .bank_list li:hover,
    .bank_list li.on {
        border: solid 1px #65451e;
    }
}
