<template>
  <div
    class="ele-content"
    :style="{background:$BannerPath.Images.ElectronicBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images'+ $BannerPath.Images.ElectronicBgImages + ')no-repeat':'' }"
  >
    <div
      class="ele-content-banner"
      :style="{background:$BannerPath.Images.ElectronicImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/'+this.$MessageLang + $BannerPath.Images.ElectronicImages + ')no-repeat':'' }"
    >
      <video
        v-if="$BannerPath.Video.ElectronicVideo"
        :class="'sy'+$VersionNumber+'-ele-video'"
        :src="$ResourceCDN+$BannerPath.Video.ElectronicVideo"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
        class="ele-banner-video"
      ></video>
      <!-- <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/flash/ele_game.mp4'" autoplay="autoplay" width="1920" loop="loop" muted class="sy03-ele-video ele-banner-video"></video>
			<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/flash/electronic.mp4'" autoplay="autoplay" width="1920" loop="loop" muted class="sy34-ele-video ele-banner-video"></video>
			<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/electronic.mp4'" autoplay="autoplay" width="100%" loop="loop" muted class="sy15-ele-video ele-banner-video"></video>
      <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/electronic.mp4'" class="ele-banner-video sy28-ele-video" autoplay="autoplay" width="100%" height="1350" loop="loop" muted></video>-->
    </div>
    <div class="ele-logo-page">
      <div class="ele-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <!-- <game-firm :GetCurrentPageData="CurrentPageData" @getGameNum="setGameNum"></game-firm>
      <game-table :getGameNum="GameNum" :LoadMainPageDataModel="LoadMainPageDataModel"></game-table>
      <page :PageCount="PageInfo.PageCount" :PageNo="SearchPage"></page>
      <footer class="ele-logo-footer"></footer>-->
      <electronic-content></electronic-content>
    </div>
  </div>
</template>

<script>
import { electronic } from "@/mod/k06/assets/scripts/comTest/main/electronic/electronic.js"
export default {
  mixins: [electronic]
}
</script>
