.lottery-logo-lists {
  font-size: 0;
  overflow: hidden;

  li {
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 225px;
    height: 320px;
    line-height: 320px;
    margin: 0 16px 22px 0;
    &:hover {
      .lottery-logo-mask {
        display: flex;
      }
    }

    &:nth-child(5n + 5) {
      margin-right: 0;
    }

    a {
      text-align: center;
      display: block;
      cursor: default;
      width: 225px;
      height: 320px;
      line-height: 320px;
    }

    img {
      transform: scale(0.8) translateX(-59px);
      position: absolute;
      bottom: 5px;
      left: 0px;
    }
    .lottery-logo-mask {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      display: none;
      cursor: pointer;
      a {
        cursor: pointer;
        font-size: 16px;
        height: 30px;
        width: 140px;
        line-height: 30px;
        border-radius: 30px;
        border: 2px solid #fff;
        color: #fff;
      }
    }
  }
}
