<template>
  <!--新闻中心详情-->
  <div>
    <!--優惠活動-->
    <activity-detail-content></activity-detail-content>
  </div>
</template>

<script>
import { ActivityDetails } from "@/mod/k14/assets/scripts/comTest/main/activity/activityListDetails.js"
export default {
  mixins: [ActivityDetails]
}
</script>