<template>
  <div style="background:#FFFFFF; color:#FFFFFF;position:relative;">
    <member-payment-ali-pay v-if="PaymentType == 3" :PaymentData="this.ServerRspData"></member-payment-ali-pay>
    <member-payment-we-chat v-if="PaymentType == 2" :PaymentData="this.ServerRspData"></member-payment-we-chat>
    <member-payment-web-bank v-if="PaymentType == 1" :PaymentData="this.ServerRspData"></member-payment-web-bank>
    <member-payment-Qrcode v-if="PaymentType == 4" :PaymentData="this.ServerRspData"></member-payment-Qrcode>
    <iframe
      v-if="!IsBankPay"
      id="Iframe_Game"
      :srcdoc="Vhtml"
      frameborder="0"
      border="0"
      cellspacing="0"
      style="width:100%;height:896px;background:#fff;"
    ></iframe>
    <p class="pay_message">{{Vhtml}}</p>

    <!-- 网络银行-弹出窗口-确认关闭当前窗口 2019.02.20 SeyoChen -->
    <div v-if="IsBankPay" class="bank_pay_box">
      <div class="alert_btn_both">
        <p>{{$t('message.deposit_payment_completed_before')}}</p>
        <p>{{$t('message.deposit_payment_completed_after')}}</p>
        <div class="alert_btn_both">
          <a class="btn1 pub_btn_both" @click="OpenNewBox($ServeLink)">{{$t('message.member_contact_service')}}</a>
          <a class="btn1" @click="CloseWindow()">{{$t('message.deposit_payment_completed')}}</a>
        </div>
      </div>
    </div>

    <!-- 红利存款次数和活动参与次数错误提示 -->
    <div class="deposit-limit-box" id="DepositLimitBox">
      <p>{{this.TipMessage}}</p>
      <a id="submit_btn" type="submit" @click="CloseCurrentWindow()">{{$t('message.member_ascertain')}}</a>
    </div>
  </div>
</template>

<style scoped lang="less">
  .deposit-limit-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 100px auto;
    padding: 30px 40px;
    min-width: 400px;
    min-height: 400px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);
    text-align: center;

    p{
      margin-top: 50px;
      max-width: 400px;
      font-size: 22px;
      color: #fff;
      word-break: break-all;
      text-align: center;
    }
  }
  #submit_btn{
    display:block;
    cursor: pointer;
     -webkit-appearance: none;
     border: none;
     margin: 30px auto;
     background: #d0a05d;
     width: 86%;
     max-width: 400px;
     height: 60px;
     line-height: 60px;
     font-weight: bold;
     border-radius: 10px;
     color: #fff;
     font-size: 20px;
  }
</style>

<script>
import { initDsPy } from '@/mod/k04/assets/scripts/comTest/main/member/depositPayment.js';
export default {
  mixins: [initDsPy]
};
</script>
