<template>
  <div id="scroll_income" style="position:relative;">
    <member-fun-status></member-fun-status>
    <member-financial-deposit></member-financial-deposit>
    <member-deposit-number></member-deposit-number>
  </div>
</template>

<style scoped>
#scroll_income {
  overflow: hidden;
  height: 720px;
}
</style>

<script>
import MemberFunStatus from '@/mod/k04/components/sub/memberNew/withdrawal/memberFunStatus.vue';
import MemberFinancialDeposit from '@/mod/k04/components/sub/memberNew/deposit/memberFinancialDeposit.vue';
import MemberDepositNumber from '@/mod/k04/components/sub/memberNew/deposit/memberDepositNumber.vue';

export default {
  mounted: function () {
    $('#scroll_income').perfectScrollbar();
  },
  components: {
    MemberFunStatus,
    MemberFinancialDeposit,
    MemberDepositNumber
  }
}
</script>
