<!--個人中心左侧导航条-->
<template>
  <div class>
    <ul>
     <li class="listHead">
        <a :title="$t('message.index_personal')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t1.png'" />
         {{$t('message.index_personal') | simpleContent(8)}}
        </a>
      </li>
      <li
        class="list"
        v-bind:class="{ 'hasblock': switchName === 'webMemberSummary'}"
        @click="navClick('webMemberSummary')"
      >
        <a :title="$t('message.member_overview')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t1_c1.png'" />
          {{$t('message.member_overview') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberProfile'}">
        <a @click="navClick('webMemberProfile')" :title="$t('message.member_personal_data')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t1_c2.png'" />
          {{$t('message.member_personal_data') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberPrivateMessage'}">
        <a
          @click="navClick('webMemberPrivateMessage')"
          :title="$t('message.member_BBS_informations')"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t1_c3.png'" />
          {{$t('message.member_BBS_informations') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webBetRecord'}">
        <a
          @click="navClick('webBetRecord')"
          :title="$t('message.personal_betting_record')"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t1_c4.png'" />
          {{$t('message.personal_betting_record') | simpleContent(12)}}
        </a>
      </li>
      <li class="listHead">
        <a :title="$t('message.financial_center')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2.png'" />
         {{$t('message.financial_center') | simpleContent(8)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberBankData'}">
        <a @click="navClick('webMemberBankData')" :title="$t('message.member_bank_information')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c1.png'" />
          {{$t('message.member_bank_information') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberModifyPassword'}">
        <a
          @click="navClick('webMemberModifyPassword');"
          :title="$t('message.member_change_password')"
        >
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_m5.png'" />
          {{$t('message.member_change_password') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberFundManage'}">
        <a @click="navClick('webMemberFundManage')" :title="$t('message.member_capital_status')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c3.png'" />
          {{$t('message.member_capital_status') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberDeposit'}">
        <a @click="navClick('webMemberDeposit')" :title="$t('message.index_deposit')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c4.png'" />
          {{$t('message.index_deposit') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberWithdrawal'}">
        <a @click="navClick('webMemberWithdrawal')" :title="$t('message.index_withdraw')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c5.png'" />
          {{$t('message.index_withdraw') | simpleContent(12)}}
        </a>
      </li>
      <!-- <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberTransactionRecord'}">
        <a @click="navClick('webMemberTransactionRecord')" :title="$t('message.index_query')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_m9.png'" />
          {{$t('message.index_query') | simpleContent(12)}}
        </a>
      </li> -->
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberDepositRecords'}">
        <a @click="navClick('webMemberDepositRecords')" :title="$t('message.personal_deposit_record')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c6.png'" />
          {{$t('message.personal_deposit_record') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberWithdrawalRecords'}">
        <a @click="navClick('webMemberWithdrawalRecords')" :title="$t('message.personal_withdrawal_record')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c7.png'" />
          {{$t('message.personal_withdrawal_record') | simpleContent(12)}}
        </a>
      </li>
      <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberAccountChangeRecords'}">
        <a @click="navClick('webMemberAccountChangeRecords')" :title="$t('message.personal_accountChange_record')">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t2_c8.png'" />
          {{$t('message.personal_accountChange_record') | simpleContent(12)}}
        </a>
      </li>
      <!-- <li class="list" v-bind:class="{ 'hasblock': switchName === 'webMemberTransactionRecord'}">
        <a @click="navClick('webMemberTransactionRecord')" :title="$t('message.personal_transaction_record')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_m9.png'" />
          {{$t('message.personal_transaction_record') | simpleContent(12)}}
        </a>
      </li> -->
    </ul>

    <!--<ul>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberSummary'}">
                <router-link :to="{ name: 'webMemberSummary'}">
                    <i class="personal_icon_1"></i>
                    <span><em>总览</em></span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberProfile'}">
                <router-link :to="{ name: 'webMemberProfile'}">
                    <i class="personal_icon_2"></i>
                    <span>个人资料</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberPrivateMessage'}">
                <router-link :to="{ name: 'webMemberPrivateMessage'}">
                    <i class="personal_icon_3"></i>
                    <span>站內信息</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberBankData'}">
                <router-link :to="{ name: 'webMemberBankData'}">
                    <i class="personal_icon_4"></i>
                    <span>账户资料</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberModifyPassword'}">
                <router-link :to="{ name: 'webMemberModifyPassword'}">
                    <i class="personal_icon_5"></i>
                    <span>修改密码</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberFundManage'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberFundManage')">
                    <i class="personal_icon_6"></i>
                    <span>资金状态</span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberDeposit'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberDeposit')">
                    <i class="personal_icon_7"></i>
                    <span><em>存款</em></span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberWithdrawal'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberWithdrawal')">
                    <i class="personal_icon_8"></i>
                    <span><em>取款</em></span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberTransactionRecord'}">
                <router-link :to="{ name: 'webMemberTransactionRecord'}">
                    <i class="personal_icon_9"></i>
                    <span>记录查询</span>
                </router-link>
            </li>
    </ul>-->
  </div>
</template>

<script>
import BLDef from '@/assets/scripts/common/BLDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';

export default {
  data () {
    return {};
  },
  computed: {
    switchName () {
      return this.$store.state.switchName;
    }
  },
  methods: {
    navClick: async function (name) {
      console.log('++++++++++++');
      console.log('++++++++++++');
      console.log('++++++++++++');
      EventBus.$emit('StopFun');
      // 判断用户是否有权限：账户冻结，账户锁定等状态
      const notifyData = {};
      if (
        name !== this.switchName &&
        this.switchName == 'webMemberFundManage'
      ) {
        CommonService.ClearRequestQueue();
      }
      const data = await CommonService.Comm_CheckPermission();
      if (
        data.Status === BLDef.SysAccountStatus.LOGINED_FROZEN &&
        (name === 'webMemberFundManage' ||
          name === 'webMemberDeposit' ||
          name === 'webMemberWithdrawal')
      ) {
        notifyData.NotifyMessage = this.$t('message.top_account_freezing');
        EventBus.$emit('showNotifyMemberMessage', notifyData);
        return;
      }

      this.$store.dispatch('setSwitchNameText', name);
      CommUtility.WebClosealertboxForm('MessageMemberWindow');
      EventBus.$emit('closeNotifyMemberMessage');
    },
    // 檢查帳號狀態
    CheckLoginStatusBeforeRoute: async function (routeName) {
      const notifyData = {};
      const data = await CommonService.Comm_CheckPermission();
      switch (data.Status) {
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
          this.$router.push({ name: routeName });
          break;
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          notifyData.NotifyMessage = this.$t('message.top_account_freezing');
          EventBus.$emit('showNotifyMemberMessage', notifyData);
          break;
        default:
          break;
      }
    }
  }
};
</script>
