<template>
  <div class="purple_cont">
    <ul class="psl_guide">
      <li v-bind:class="{ 'hasblock': ModifyType === 2}" @click="SwitchMode(2)">
        <a>{{$t('message.member_password_modification')}}</a>
        <i></i>
      </li>
      <li v-bind:class="{ 'hasblock': ModifyType === 4}" @click="SwitchMode(4)">
        <a>{{$t('message.member_withdrawal_password')}}</a>
        <i></i>
      </li>
    </ul>
    <modify-password :ModifyType="this.ModifyType"></modify-password>
  </div>
</template>

<script>
import ModifyPassword from '@/mod/k04/components/sub/memberNew/modifyPassword/memberModifyPassword.vue';

export default {
  data () {
    return {
      ModifyType: 2,
      BasicData: {}
    };
  },
  methods: {
    SwitchMode: function (mode) {
      this.ModifyType = mode;
    }
  },
  components: {
    ModifyPassword
  }
};
</script>
