
<!--個人資料-->
<template>
    <!--個人資料修改-->
    <profile-edit></profile-edit>
</template>

<script>
    import ProfileEdit from '@/mod/k04/components/sub/memberNew/profile/profileEdit.vue'; 

    export default {
        components: {
            ProfileEdit
        }
    };
</script>
