<template>
  <div>
    <div class="createAccount-content" id="createAccount-scroll">
      <div class="record_guide purple_cont">
        <ul class="psl_guide">
          <li
            :class="SuperviseType == 'CreateAccount'? 'hasblock':''"
            @click="ChangeSuperviseType('CreateAccount')"
          >
            <a>{{$t('message.agency_account_management')}}</a>
          </li>
          <li
            :class="SuperviseType == 'Extension'? 'hasblock':''"
            @click="ChangeSuperviseType('Extension')"
          >
            <a>{{$t('message.agency_promotion_link_management')}}</a>
          </li>
        </ul>
      </div>
      <agency-create-account v-if="SuperviseType == 'CreateAccount'"></agency-create-account>
      <agency-extension v-if="SuperviseType == 'Extension'"></agency-extension>
    </div>
  </div>
</template>

<script>
import AgencyCreateAccount from "@/mod/k14/components/sub/agency/supervise/createAccount/agencyCreateAccount.vue"
import AgencyExtension from "@/mod/k14/components/sub/agency/supervise/extension/agencyExtension.vue"

export default {
  data() {
    return {
      SuperviseType: "CreateAccount"
    }
  },
  created: function () {},
  mounted: function () {},
  computed: {},
  methods: {
    ChangeSuperviseType: function (data) {
      this.SuperviseType = data
    }
  },
  components: {
    AgencyCreateAccount,
    AgencyExtension
  }
}
</script>
