<template>
  <div class="poker-main">
    <ul class="poker-logo-lists clearfix" id="poker-logo-lists">
      <li style="width: 100%; text-align: center;" class="nopoker-logo-li" v-if="PoKerList.length == 0">
        <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/public/lang/' + $MessageLang + '/nopoker.png'" />
      </li>
      <li class="poker-logo-li pokerAbnormal" v-for="(list, index) in PoKerList" :key="list.GameApiNo">
        <p v-if="list.GameTypeState == 703" class="maintenanceBG">
          <i class="abnormalDefault maintenance"></i>
        </p>
        <div
          class="rotate-before1"
          v-if="!list.photoUrl"
          :class="{ maintenanceWrap: list.GameTypeState == 703 }"
          :style="{
            background:
              'url(' +
              $ResourceCDN +
              '/EditionImg/LamborFormal/images/general/common/poker/' +
              ((index % 15) + (pageNum % 4 ? pageNum % 4 : 1)) +
              '.jpg)no-repeat'
          }"
        >
          <i class="icon-flower flower1"></i>
          <img :src="$ResourceCDN + '/PartnerLogo/bgdeep/v-logo' + list.GameApiNo + '.png'" />
          <div class="rotate-word">
            <p>{{ list.Introduction }}</p>
            <span>{{ list.Eng_Introduction }}</span>
          </div>
          <i class="icon-flower flower2"></i>
        </div>
        <div
          class="rotate-before1"
          v-else
          :class="{ maintenanceWrap: list.GameTypeState == 703 }"
          :style="{ background: 'url(' + list.photoUrl + ')no-repeat' }"
        >
          >
        </div>
        <div class="rotate-after1">
          <a
            class="rotate-play"
            href="javascript:void(0);"
            v-if="list.GameTypeState != 703"
            @click="$emit('PlayGame', list)"
            >{{ $t("message.live_start_game") }}</a
          >
        </div>
        <div class="video_cover" style="display: none;">
          <div>
            <p>{{ $t("message.live_expect") }}</p>
            <span>IN MAINTENANCE</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import pokerContent from "@/mod/k06/assets/scripts/comTest/general/poker/pokerContent"
export default {
  name: "poker-content",
  mixins: [pokerContent]
}
</script>
