<template>
  <div class="lottery-main">
    <ul class="lottery-logo-lists clearfix">
      <li
        class="lottery-logo-li lotteryAbnormal"
        v-for="(list,index) in this.LotteryList"
        :key="list.GameApiNo"
      >
        <!-- <i class="game-maintain" v-if="list.ApiStatus == 703"></i> -->
        <p v-if="list.GameTypeState == 703" class="maintenanceBG">
          <i class="abnormalDefault maintenance"></i>
        </p>
        <a
          :class="{'maintenanceWrap':list.GameTypeState == 703}"
          :style="{background:'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/general/common/lottery/'+((index + pageNum) % 11===0?1:(index + pageNum) % 11)+'.jpg)no-repeat'}"
        >
          <img :src="$ResourceCDN+'/PartnerLogo/whitelogo/v-logo'+list.GameApiNo+'.png'" />
        </a>
        <div
          v-if="list.GameTypeState != 703"
          class="lottery-logo-mask"
          @click="$emit('PlayKGGame',list)"
        >
          <a href="javascript:;">{{$t('message.live_start_game')}}</a>
        </div>
      </li>
    </ul>
    <lottery-paginate
      changePaginateStyle
      :pageSize="pageSize"
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></lottery-paginate>
  </div>
</template>
<script>
import lotteryContent from "@/mod/k14/assets/scripts/comTest/general/lottery/lotteryContent.js"
export default {
  name: "lottery-content",
  mixins: [lotteryContent]
}
</script>
