<template>
  <div class="withDrawalRecord">
    <h2 class="agency-main-title">
      <span>{{$t('message.member_discount_record')}}</span>
    </h2>
    <div>
      <div class="agencyDetailed-cont-nav">
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.member_hour')}}</span>
          <!--<input class="p1-put" type="text" />-->
          <datepicker
            class="p1-put"
            :class="'recordPut'+$MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.StartTick"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put"
            :class="'recordPut'+$MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.EndTick"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            @selected="selectedEnd"
          ></datepicker>
        </div>
        <div class="nav-p1">
          <!-- <el-checkbox
            @change="DisplayRechargeObj.IsNextLayer=Number(checkedSubordinate)"
            v-model="checkedSubordinate"
          >{{$t('message.agency_subordinate')}}</el-checkbox>-->
          <span class="p1-name">{{$t('message.agency_consumer')}}</span>
          <input
            class="p1-userPut"
            :class="'recorduserPut'+$MessageLang"
            v-model="DisplayRechargeObj.AgencyUser"
            v-validate="{ rules: { regex:Reg.LoginAccount }}"
            name="AgencyAcct"
            type="text"
          />
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsNextLayer=Number(checkedSubordinate)"
            v-model="checkedSubordinate"
          >{{$t('message.agency_subordinate')}}</el-checkbox>
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsDatalessUsers=Number(checkedDatalessUsers)"
            v-model="checkedDatalessUsers"
          >{{$t('message.dataless_users')}}</el-checkbox>
        </div>
        <span class="renovate" @click="ResetClick('true')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="search"
          :class="'search'+$MessageLang"
          href="javascript:;"
          @click="UpdateDetailCondition()"
        >{{$t('message.member_search')}}</a>
      </div>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          style="top: 2px;left: 322px;"
        >{{$t('message.login_english_letters')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="left: 28px;top: 2px;"
        >{{$t('message.member_greater_than')}}</span>
      </div>
    </div>
    <div>
      <div class="table-block-common" v-if="IsShowSubordinate">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td width="20%">{{$t('message.agency_consumer')}}</td>
              <td width="20%">{{$t('message.agency_identity')}}</td>
              <td width="25%">{{$t('message.agency_time_interval')}}</td>
              <td width="15%">{{$t('message.agency_teams_number')}}</td>
              <td width="20%">{{$t('message.agency_total_withdrawal')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(Wlist,index) in WIBUserWithdrawalList" :key="index">
              <td>
                <span>
                  <span class="prefix-text" v-if="Wlist.Hierarchy != 0">{{Wlist.Prefix}}</span>
                  {{Wlist.LoginID}}
                </span>
              </td>
              <td
                v-text="Wlist.MemberType===3?$t('message.agency_agent'):$t('message.index_member')"
              ></td>
              <td>{{Wlist.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{Wlist.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
              <td v-text="Wlist.MemberType===4?'-':Wlist.TeamCount"></td>
              <!-- <td>{{Wlist.IBUserWithdrawal.NextLayerAllCount}}</td> 团队人数???-->
              <td>{{Wlist.WithdrawaSum}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td width="20%">{{$t('message.agency_subtotal')}}：</td>
              <td width="60%" colspan="4"></td>
              <!-- <td width="15%">{{TeamCount_SubTotal}}</td> -->
              <td width="20%">{{VWithdrawaSum_Total}}</td>
            </tr>
            <tr>
              <td width="20%">{{$t('message.member_totalize')}}：</td>
              <td width="60%" colspan="4"></td>
              <!-- <td width="15%">{{TeamCount_Total}}</td> -->
              <td width="20%">{{VWithdrawaSum_Total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <agency-withdrawal-member v-else :MnameIBUserWithdrawalList="MnameIBUserWithdrawalList"></agency-withdrawal-member>
    </div>
    <!--分页-->
    <paginate :PageCount="this.PageCount" :PageNo="this.PagingInfo.PageNo"></paginate>
    <div class="maxtip" v-if="IsShowTip">{{$t('message.agency_operation_failed')}}</div>
    <div v-show="resigerWord" class="maxtip">{{$t('message.agency_successful_reset')}}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
import moment from 'moment';
import Datepicker from '@/components/main/common/datePicker.vue';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import AgencyCenterService from '@/mod/k04/assets/scripts/businessLogic/agencyCenterService.js';
import AgencyWithdrawalMember from '@/components/sub/agency/withdrawalsRecord/agencyWithdrawalMember.vue';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import Paginate from '@/mod/k04/components/sub/paginate.vue';

export default {
  data() {
    return {
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      PageCount: 0,
      WIBUserWithdrawalList: [],
      VWithdrawaSum_SubTotal: '',
      VWithdrawaSum_Total: '',
      TeamCount_SubTotal: '',
      TeamCount_Total: '',
      AnameIBUserWithdrawalList: [],
      MnameIBUserWithdrawalList: [],
      AnameVAmountSumSubTotal: undefined,
      AnameVAmountSumTotal: undefined,
      AnameNextLayerAllCountSubTotal: undefined,
      IsShowSubordinate: true,
      HistoricalPathFirst: undefined,
      textSucc: undefined,
      IsShowTip: false,
      // 正則表達式類別
      Reg: Regex.Regex,
      Submitted: false,
      TimeSequenceInvalid: false,
      DisplayRechargeObj: {
        AgencyUser: '',
        StartTick: new Date(),
        EndTick: new Date(),
        IsNextLayer: 0,
        IsDatalessUsers: 0
      },
      CalendarDisabled: {
        to: new Date(
          moment()
            .add(-90, 'days')
            .format('YYYY/MM/DD')
        ), // Disable all dates after specific date
        from: new Date(
          moment()
            .set('hour', 0)
            .set('minute', 0)
            .set('second', 0)
            .add(1, 'days')
            .add(-1, 'seconds')
        )
      },
      checkedSubordinate: false,
      checkedDatalessUsers: false,
      resigerWord: false,
      IsShowErrorFlag: false
    };
  },
  created() {
    this.ResetClick();
    this.UpdateDetailCondition();
  },
  mounted() {
    EventBus.$on('withDraw_IsShowAgencyPage', data => {
      this.IsShowSubordinate = data;
    });
    // 监听账变明细-提现列表数据改变
    EventBus.$on('AccountCW_ResetReadStatusWithdrawalList', data => {
      this.AnameIBUserWithdrawalList = data;
    });
    // 滚动条
    $('.withDrawalRecord').perfectScrollbar();
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true;
      let startDate = new Date(this.dateFormat(date) + ' 00:00:00');
      this.DisplayRechargeObj.StartTick = startDate;
      this.CheckFied();
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true;
      let endDate = new Date(this.dateFormat(date) + ' 23:59:59');
      this.DisplayRechargeObj.EndTick = endDate;
      this.CheckFied();
    },
    // 分页 20190517 LMX
    GetCurrentPageData: async function(pageNo) {
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo;
      }
      this.AgencyWithdrawal(pageNo, 'false');
    }, // end GetCurrentPageData
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayRechargeObj.StartTick === undefined) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (this.DisplayRechargeObj.EndTick === undefined) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.DisplayRechargeObj.StartTick !== undefined &&
        this.DisplayRechargeObj.EndTick !== undefined
      ) {
        if (
          new Date(this.DisplayRechargeObj.StartTick) >
          new Date(this.DisplayRechargeObj.EndTick)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }
      // 類型未選
      return anyInvalid;
    },
    UpdateDetailCondition: async function() {
      this.PagingInfo.PageNo = 1;
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      // 时间限制
      this.Submitted = true;
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true) {
        return;
      } // end if
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      this.AgencyWithdrawal(1, 'false');
    },
    // 提现
    AgencyWithdrawal: async function(pageNo) {
      // this.IsShowWithdrawpage = flag;
      this.PagingInfo.PageNo = pageNo;
      // 切换到充值或者点击搜索时   如果是会员的话就隐藏  显示全部
      this.IsShowAgencyPage = true;
      EventBus.$emit('withDraw_IsShowAgencyPage', this.IsShowAgencyPage);

      const inputObj = {
        ParentID: localStorage.getItem('CorrelationIBMemberId'),
        QueryType: 1, // 查代下级代理会员
        LoginID: this.DisplayRechargeObj.AgencyUser,
        StartTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.StartTick) + ' 00:00:00'
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          this.DisplayRechargeObj.EndTick,
          false,
          true
        ),
        PagingInfo: {
          PageNo: this.PagingInfo.PageNo,
          PageSize: this.PagingInfo.PageSize
        },
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer,
        IsContainsZero: this.DisplayRechargeObj.IsDatalessUsers // 是否包含0数据（0：否，1：是，前端请默认初始传0参数来请求）
      };
      const data = await AgencyCenterService.LoadWithdrawalList(inputObj);
      if (data.Ret === 0) {
        this.WIBUserWithdrawalList = data.Data.IBWithdrawaList; // 数据列表
        this.VWithdrawaSum_SubTotal = data.Data.VWithdrawaSum_SubTotal; // 提款金额小计
        this.VWithdrawaSum_Total = data.Data.VWithdrawaSum_Total; // 提款金额总计
        this.TeamCount_SubTotal = data.Data.TeamCount_SubTotal; // 团队人数小计
        this.TeamCount_Total = data.Data.TeamCount_Total; // 团队人数总计
        this.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize
        );
      } else {
        this.IsShowErrorFlag = true;
        setTimeout(() => {
          this.IsShowErrorFlag = false;
        }, 1000);
      }
    },
    ResetClick: async function(val) {
      console.log(val);
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      this.DisplayRechargeObj.StartTick = startDate;
      this.DisplayRechargeObj.EndTick = new Date();
      this.DisplayRechargeObj.AgencyUser = '';
      this.DisplayRechargeObj.IsNextLayer = 0;
      this.DisplayRechargeObj.IsDatalessUsers = 0;
      this.checkedSubordinate = false;
      this.checkedDatalessUsers = false;
      this.PagingInfo.PageNo = 1;
      this.CheckFied();
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      if (val == 'true') {
        // this.succeededText = data.Message;
        this.resigerWord = true;
        setTimeout(() => {
          this.resigerWord = false;
        }, 1000);
      }
    },
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    }
  },

  components: {
    AgencyWithdrawalMember,
    Datepicker,
    Paginate
  }
};
</script>
