<template>
  <div>
    <!--优惠活动-->
    <!--63版-->
    <!-- <div class="active_show hides">
      <div id="active_slide" class="active_slide">
        <div
          id="myCarousel"
          class="carousel slide"
          style="float:left;border-bottom:3px solid #154e94"
          v-if="LoadCompleted === true"
        >
          <ol class="carousel-indicators">
            <li class="active"></li>
            <li></li>
            <li v-if="indexActivityObjList.length>0"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[0].ActLogo" style="width:350px;height:234px;">
              </router-link>
            </div>
            <div class="item">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[1].ActLogo" style="width:350px;height:234px;">
              </router-link>
            </div>
            <div class="item" v-if="indexActivityObjList.length>0">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[2].ActLogo" style="width:350px;height:234px;">
              </router-link>
            </div>
          </div>
        </div>
        <div class="active_news" v-if="LoadCompleted === true">
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]"
          >
            <div v-on:mouseenter="SildeTo(0)" v-on:mouseleave="AutoPlay()">
              <p class="p_1">{{ActivityList[0].Name}}</p>
              <p class="p_2">{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
            </div>
          </router-link>
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]"
          >
            <div v-on:mouseenter="SildeTo(1)" v-on:mouseleave="AutoPlay()">
              <p class="p_1">{{ActivityList[1].Name}}</p>
              <p class="p_2">{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
            </div>
          </router-link>
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
            v-if="indexActivityObjList.length>0"
          >
            <div v-on:mouseenter="SildeTo(2)" v-on:mouseleave="AutoPlay()">
              <p class="p_1">{{ActivityList[2].Name}}</p>
              <p class="p_2">{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
            </div>
          </router-link>
        </div>
      </div>
    </div>-->
    <!--7版 、15版-->
    <div class="active_show index-activity hides fl">
      <div class="clearfix index-activity-top">
        <p class="index-btm-title fl">
          <b>优惠活动</b> / Preferential activities
        </p>
        <router-link to="/ActivityList" class="fr">more</router-link>
      </div>
      <div class="index-activity-box clearfix active_slide" id="active_slide">
        <div class="carousel-inner" v-if="LoadCompleted == false">
          <div class="item active">
            <a>
              <img
                v-bind:src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/index/activity-nomal.png'"
                style="width:350px;height:180px;"
              >
            </a>
          </div>
        </div>
        <div
          class="index-act-imgs fl carousel slide"
          id="myCarousel"
          style="float:left;"
          v-if="LoadCompleted == true"
        >
          <ul class="imgs-scroll-main carousel-inner">
            <li class="item active">
              <router-link :to="{name: 'ActivityList'}" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[0].ActLogo" width="348" height="178">
              </router-link>
            </li>
            <li class="item" v-if="ActivityList.length>1">
              <router-link :to="{name: 'ActivityList'}" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[1].ActLogo" width="348" height="178">
              </router-link>
            </li>
            <li v-if="ActivityList.length>2">
              <router-link :to="{name: 'ActivityList'}" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[2].ActLogo" width="348" height="178">
              </router-link>
            </li>
          </ul>
          <ol class="imgs-scroll-dots carousel-indicators">
            <li class="active"></li>
            <li v-if="ActivityList.length>1"></li>
            <li v-if="ActivityList.length>2"></li>
          </ol>
        </div>
        <ul class="index-act-links fr active_news" v-if="LoadCompleted == true">
          <li
            v-on:mouseenter="SildeTo(0)"
            v-on:mouseleave="AutoPlay()"
            class="index-yhhd-text clearfix"
          >
            <router-link
              :to="{name: 'ActivityList'}"
              class="clearfix"
              :class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]"
            >
              <p class="fl">{{ActivityList[0].Name}}</p>
              <b class="fr">{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</b>
            </router-link>
          </li>
          <li
            class="index-yhhd-text clearfix"
            v-on:mouseenter="SildeTo(1)"
            v-on:mouseleave="AutoPlay()"
            v-if="ActivityList.length>1"
          >
            <router-link
              :to="{name: 'ActivityList'}"
              class="clearfix"
              :class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]"
            >
              <p class="fl">{{ActivityList[1].Name}}</p>
              <b class="fr">{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</b>
            </router-link>
          </li>
          <li
            class="index-yhhd-text clearfix"
            v-on:mouseenter="SildeTo(2)"
            v-on:mouseleave="AutoPlay()"
            v-if="ActivityList.length>2"
          >
            <router-link
              :to="{name: 'ActivityList'}"
              class="clearfix"
              :class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
            >
              <p class="fl">{{ActivityList[2].Name}}</p>
              <b class="fr">{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</b>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <!--第8版-->
    <div class="index_activity_eighth hides fl">
      <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web08/Index/car_1.png'">
    </div>
    <!--第33版-->
    <!-- <div class="active_show pull-right index-btm-yhhd hides">
      <div class="index-btm-title clearfix">
        <p class="pulll-left">优惠活动</p>
        <router-link to="/ActivityList">more+</router-link>
      </div>
      <div id="active_slide" class="active_slide">
        <div class="carousel-inner" v-if="LoadCompleted == false">
          <div class="item active">
            <a>
              <img
                v-bind:src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/index/activity-nomal.png'"
                style="width:350px;height:180px;"
              >
            </a>
          </div>
        </div>
        <div class="youhui_ul carousel slide" id="myCarousel" v-if="LoadCompleted === true">
          <ul class="carousel-inner">
            <li class="item active">
              <router-link to="/ActivityList" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[0].ActLogo" style="width:350px;height:185px;">
                <div class="index-yhhd-text clearfix">
                  <div v-show="currentSlideIndex === 0">
                    <i>{{ActivityList[0].Name}}</i>
                    <span>{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</span>
                  </div>
                </div>
              </router-link>
            </li>
            <li class="item">
              <router-link to="/ActivityList" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[1].ActLogo" style="width:350px;height:185px;">
                <div class="index-yhhd-text clearfix">
                  <div v-show="currentSlideIndex === 1">
                    <i>{{ActivityList[1].Name}}</i>
                    <span>{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</span>
                  </div>
                </div>
              </router-link>
            </li>
            <li class="item">
              <router-link to="/ActivityList" class="pull-left index-yhhd-img">
                <img v-bind:src="ActivityList[2].ActLogo" style="width:350px;height:185px;">
                <div class="index-yhhd-text clearfix">
                  <div v-show="currentSlideIndex === 2">
                    <i>{{ActivityList[2].Name}}</i>
                    <span>{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</span>
                  </div>
                </div>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>-->
    <!--12版-->
    <!-- <div class="active_show active_show-twelve hides">
      <div id="active_slide" class="active_slide">
        <div id="myCarousel" class="carousel slide fl" v-if="LoadCompleted === true">
          <div class="carousel-inner">
            <div class="item active">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[0].ActLogo">
              </router-link>
            </div>
            <div class="item">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[1].ActLogo">
              </router-link>
            </div>
            <div class="item" v-if="indexActivityObjList.length>0">
              <router-link :to="{ name: 'ActivityList'}">
                <img v-bind:src="ActivityList[2].ActLogo">
              </router-link>
            </div>
          </div>
        </div>
        <div class="active_news" v-if="LoadCompleted === true">
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]"
          >
            <div v-on:mouseenter="SildeTo(0)" v-on:mouseleave="AutoPlay()" class="p_box">
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/left-mark.png'"
              >
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/right-mark.png'"
              >
              <p class="p_1">{{ActivityList[0].Name}}</p>
            </div>
          </router-link>
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]"
          >
            <div v-on:mouseenter="SildeTo(1)" v-on:mouseleave="AutoPlay()" class="p_box">
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/left-mark.png'"
              >
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/right-mark.png'"
              >
              <p class="p_1">{{ActivityList[1].Name}}</p>
            </div>
          </router-link>
          <router-link
            :to="{ name: 'ActivityList'}"
            :class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
            v-if="indexActivityObjList.length>0"
          >
            <div v-on:mouseenter="SildeTo(2)" v-on:mouseleave="AutoPlay()" class="p_box">
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/left-mark.png'"
              >
              <img
                :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web12/index/right-mark.png'"
              >
              <p class="p_1">{{ActivityList[2].Name}}</p>
            </div>
          </router-link>
          <router-link :to="{ name: 'ActivityList'}" class="enter-activity-btn">
            <p>Participation activities</p>
            <p>优惠活动</p>
          </router-link>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
// import { indexActivity7 } from '@/assets/scripts/comTest/main/index/sy07/activity.js';
// import { indexActivity12 } from '@/assets/scripts/comTest/main/index/sy12/activity.js';
import { indexActivity } from '@/assets/scripts/comTest/main/index/activity.js';
export default {
  mixins: [
    // indexActivity7,
    // indexActivity12,
    indexActivity
  ]
};
</script>
