<!--熱門遊戲-->
<template>
  <div class="hotGameNew-conent">
    <div class="hotGameNew-con-one">
      <!-- 真人视讯 -->
      <div class="hotGameNew-one-video">
        <router-link :to="{ name: 'LiveVideo'}">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/videoImg.png'" />
        </router-link>
      </div>
      <!-- 捕鱼 -->
      <div class="hotGameNew-one-fishing">
        <router-link :to="{ name: ''}">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/fishImg.png'" />
        </router-link>
      </div>
      <div class="hotGameNew-one-right">
        <!-- 电子游戏 -->
        <p class="hotGameNew-one-rightP1">
          <router-link :to="{ name: 'Electronic'}">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/elementImg.png'"
            />
          </router-link>
        </p>
        <!-- 电子竞技 -->
        <p class="hotGameNew-one-rightP2">
          <router-link :to="{ name: 'Athletics'}">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/athleticsImg.png'"
            />
          </router-link>
        </p>
      </div>
    </div>
    <div class="hotGameNew-con-two">
      <!-- 体育博彩 -->
      <p class="hotGameNew-two-p1">
        <router-link :to="{ name: 'Sport'}">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/sportImg.png'" />
        </router-link>
      </p>
      <!-- 彩票投注 -->
      <p class="hotGameNew-two-p1">
        <router-link :to="{ name: 'Lottery'}">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/lotteryImg.png'" />
        </router-link>
      </p>
      <!-- 棋牌游戏 -->
      <p class="hotGameNew-two-p1">
        <router-link :to="{ name: 'Poker'}">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/hotGame/pokerImg.png'" />
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import BLDef from '@/assets/scripts/common/BLDef.js';
import URLService from '@/assets/scripts/common/URLService.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
// import EventBus from '@/assets/scripts/common/EventBus.js';
import Swiper from 'swiper';

export default {
  data () {
    return {};
  },
  created: function () {},
  mounted: function () {
    this.pageLoadGameModules();
  },
  methods: {
    // 滑鼠移入熱門遊戲
    mouseEnter: function (thisObj) {
      $('.hot_box_list .h_list').stop();
      $('#' + thisObj)
        .siblings('.h_list')
        .animate({ 'margin-top': '20px' }, 300);
      $('#' + thisObj).animate({ 'margin-top': '0' }, 300);
    },
    // 滑鼠移出熱門遊戲
    mouseLeave: function (thisObj) {
      $('#' + thisObj).animate({ 'margin-top': '20px' }, 300);
    },
    pageLoadGameModules: async function () {
      const inputObj = {
        WGUID: BLDef.WGUID
      };
      const data = await CommonService.HomePageLoadGameModules(inputObj);
      console.log('data热门游戏');
      console.log(data.Data.GameModulesList);
      console.log('data热门游戏');
      if (data.Ret === 0) {
        this.GameModulesListData = data.Data.GameModulesList;
        this.$nextTick(() => {
          /* eslint-disable no-new */
          new Swiper('.swiper-container', {
            mousewheelControl: true,
            direction: 'horizontal', //
            mousewheelForceToAxis: true,
            pagination: '.swiper-pagination',
            autoplay: 5000, // 可选选项，自动滑动
            paginationClickable: true,
            observer: true, // 修改swiper自己或子元素时，自动初始化swiper
            observeParents: true // 修改swiper的父元素时，自动初始化swiper
          });

          $('.indexNew-wrap-pic3').append('222');
        });
        for (let i = 0; i < 3; i++) {
          this.GameModulesListSide.push(data.Data.GameModulesList[i]);
          // this.GameModulesListSide = [];
        }
        for (let i = 10; i < this.GameModulesListData.length; i++) {
          this.GameModulesListFoot.push(data.Data.GameModulesList[i]);
          // this.GameModulesListFoot = [];
        }
        console.log(this.GameModulesListFoot.length % 4);
        console.log(4 - (this.GameModulesListFoot.length % 4));
        if (this.GameModulesListFoot.length % 4 != 0) {
          for (let d = 0; d < 4 - (this.GameModulesListFoot.length % 4); d++) {
            this.$nextTick(() => {
              $('.indexNew-wrap-pic3').append(
                '<div class="indexNew-position indexNew-pic3-p"><a><img src="' +
                  this.$ResourceCDN +
                  '/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode"/><span class="pic3-anticipate">敬请期待</span></a></div>'
              );
            });
          }
        }

        console.log(this.GameModulesListFoot.length);
        console.log(this.GameModulesListData[3].ImageUrl == '');
      }
    },
    // 动态进入游戏
    enterHotGame: function (status, typeNo, apiNo, code, num) {
      if (status == 1) {
        this.GameData.GameAPIVendor = apiNo;
        this.GameData.GameCode = code;
        switch (typeNo) {
          case 1:
            this.GameData.GameCatlog = BLDef.GameCatlogType.LiveVideo;
            break;
          case 2:
            this.GameData.GameCatlog = BLDef.GameCatlogType.Sport;
            break;
          case 3:
            this.GameData.GameCatlog = BLDef.GameCatlogType.Lottery;
            break;
          case 4:
            this.GameData.GameCatlog = BLDef.GameCatlogType.ElectronicGame;
            break;
          case 5:
            this.GameData.GameCatlog = BLDef.GameCatlogType.Poker;
            break;
          case 8:
            this.GameData.GameCatlog = BLDef.GameCatlogType.ElectronicSports;
            break;
          default:
            break;
        } // end switch

        localStorage.setItem(
          'PlayGamePostData',
          URLService.GetUrlParameterFromObj(this.GameData)
        );
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      } else {
        switch (num) {
          case 1:
            this.$router.push({ name: 'LiveVideo' });
            break;
          case 2:
            this.$router.push({ name: 'Electronic' });
            break;
          case 3:
            this.$router.push({ name: 'Sport' });
            break;
          case 4:
            this.$router.push({ name: 'Athletics' });
            break;
          case 5:
            this.$router.push({ name: 'Lottery' });
            break;
          case 6:
            this.$router.push({ name: 'Poker' });
            break;
          case 7:
            this.$router.push({ name: 'Catchfish' });
            break;
          default:
            break;
        } // end switch
      }
    }
  }
};
</script>
