<template>
  <div
    class="sport-content"
    :class="'sport-content-' + $MessageLang"
    :style="{
      background: $BannerPath.Images.SportBgImages
        ? 'url(' +
          $ResourceCDN +
          '/EditionImg/LamborFormal/images/' +
          $MessageLang +
          $BannerPath.Images.SportBgImages +
          ')no-repeat'
        : ''
    }"
  >
    <div
      class="sport-content-banner"
      :style="{
        background: $BannerPath.Images.SportImages
          ? 'url(' +
            $ResourceCDN +
            '/EditionImg/LamborFormal/images/' +
            $MessageLang +
            $BannerPath.Images.SportImages +
            ')no-repeat'
          : ''
      }"
    >
      <video
        v-if="$BannerPath.Video.SportVideo"
        :class="'sy' + $VersionNumber + '-sport-video'"
        :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + $BannerPath.Video.SportVideo"
        class="sport-content-video"
        autoplay="autoplay"
        width="1920"
        style="margin-left: -284px; margin-top: -567px;"
        loop="loop"
        muted
      ></video>
      <!-- <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/flash/sports.mp4'" class="sport-content-video sy34-sport-video" autoplay="autoplay" width="1920" loop="loop" muted></video>
      <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/sport.mp4'" class="sport-content-video sy28-sport-video" autoplay="autoplay" width="100%" height="1000" loop="loop" muted></video>-->
    </div>
    <div class="sport-logo-page" :class="'sport-logo-' + $MessageLang">
      <div class="sport-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <div class="sport-logo-top">
        <h2>{{ $t("message.nav_lottery") }}</h2>
        <p v-if="$MessageLang != 'en'">SPORTS BETTING</p>
      </div>
      <sport-content ref="sportContent" :PageCount="PageCount" :pageSize="pageSize"></sport-content>
      <footer class="sport-logo-footer"></footer>
    </div>
  </div>
</template>

<script>
import { sport } from "@/mod/k19/assets/scripts/comTest/main/sport/sport.js"
export default {
  mixins: [sport]
}
</script>
