<template>
  <div id="RecordDetailRakeForm1" class="alert_box_content rake_alert_box re_h">
    <!--<div class="descr_title">
            <p>反水派送（{{RakeSettleDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{RakeSettleDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}）</p>
            <a class="icon_download" href="javascript:void(0);" @click="ExportDetail()"></a>
            <a class="icon_close" href="javascript:void(0);" @click="CloseDetail()"></a>
    </div>-->
    <span class="alert_close" @click="CloseDetail()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_defect_delivery')}}（{{RakeSettleDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{RakeSettleDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}）
        <a
          class="icon_download"
          href="javascript:void(0);"
          @click="ExportDetail()"
        ></a>
      </h2>

      <div
        class="descr_p"
        id="record-scroll"
        style="overflow:hidden;position:relative;height: 630px;"
      >
        <ul class="alert_pb_list" style="display:table;margin-bottom: 20px;">
          <li class="first_li">
            <div>{{$t('message.member_date')}}</div>
            <div v-for="Detail in this.ColumnNameList" :title="Detail.VGameAPIName">{{Detail.VGameAPIName}}</div>
          </li>
        </ul>
        <ul class="alert_pb_list panel-body" style="display:table;margin-bottom: 20px;">
          <li v-for="RakeDetail in this.RakeSettleDetail.RakeList">
            <div>{{RakeDetail.SummaryTick | utcTicksToLocalTime('MM/DD')}}</div>
            <div v-for="ApiDetail in RakeDetail.DetailList">{{ApiDetail.VAmt}}</div>
            <div>{{RakeDetail.TotalRake}}</div>
          </li>
        </ul>
        <ul class="alert_pb_list" style="display:table;">
          <li class="last_li">
            <div>{{$t('message.member_totalize')}}</div>
            <div
              v-for="SummaryDetail in this.RakeSettleDetail.Summary.DetailList"
            >{{SummaryDetail.VAmt}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';

export default {
  data () {
    return {
      TransType: {
        TransType_Deposit: 1,
        TransType_EWallet: 2,
        TransType_BonusActivity: 3,
        TransType_RakeSettled: 4,
        TransType_Withdraw: 5
      },
      ColumnNameList: []
    };
  },
  props: {
    RakeSettleDetail: {
      type: Object,
      default: function () {
        return {};
      }
    },
    RecordCondition: {
      type: Object,
      default: function () {
        return {};
      }
    }
  },
  mounted: function () {
    $('#record-scroll').perfectScrollbar();
  },
  methods: {
    // 開啟視窗
    RakeOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('RecordDetailRakeForm1');
    }, // end OpenWindow

    // 關閉彈窗
    CloseDetail: function () {
      CommUtility.WebClosealertboxForm('RecordDetailRakeForm1');
    }, // end CloseWindow
    ExportDetail: async function () {
      const DLDate = new Date();
      const TimeZone = DLDate.getTimezoneOffset() / -60;
      const inputObj = this.RecordCondition;
      inputObj.TimeDiff = TimeZone;
      await PersonalCenterService.CashFlowLog_ExportDetail(
        this.$t('message.member_provide'),
        inputObj
      );
    }
  },
  watch: {
    RakeSettleDetail: function () {
      this.ColumnNameList = this.RakeSettleDetail.RakeList[0].DetailList;
      //              CommUtility.WebShowAlertboxForm('RecordDetailRakeForm');
    }
  }
};
</script>
