<template>
  <div>
    <!-- 主站 -->
    <div class="main main_login">
      <div class="login_box">
        <router-link :to="{ name: 'Index'}">
          <img :src="this.LogoImgPath" onerror class="l_logo" />
        </router-link>
        <div class="login_c">
          <div id="LoginForm" name="LoginForm">
            <div class="l_item l_item_name">
              <i></i>
              <input
                class="form-control"
                type="text"
                :placeholder="$t('message.agency_account_number')"
                name="Acct"
                v-model="LoginObj.Acct"
                v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
              />
            </div>
            <h2 class="tip" v-show="errors.has('Acct') && fields.Acct.touched">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.login_english_letters')}}
            </h2>

            <div class="l_item l_item_pwd">
              <i></i>
              <input
                type="password"
                :placeholder="$t('message.login_input_password')"
                name="Pwd"
                v-model="LoginObj.Pwd"
                v-validate="{ rules: { regex:Reg.Password, required: true }}"
              />
            </div>
            <h2 class="tip" v-show="errors.has('Pwd') && fields.Pwd.touched">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.login_notations')}}
            </h2>

            <div class="l_item l_item_code">
              <i></i>
              <input
                type="text"
                :placeholder="$t('message.agent_caps_look')"
                name="VCodeImg"
                v-model="LoginObj.VCodeImg"
                v-validate="{ rules: { regex:Reg.VCode , required: true }}"
              />
              <a style="cursor: pointer" class="code" v-on:click="GetAuthCode()">
                <img v-bind:src="AuthImg" />
              </a>
            </div>
            <h2 class="tip" v-show="errors.has('VCodeImg') && fields.VCodeImg.touched">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_code_error')}}
            </h2>
            <a
              style="cursor: pointer;"
              class="btn btn-primary"
              id="login_btn"
              v-on:click="LoginSubmit()"
            >{{$t('message.top_login')}}</a>
            <p class="forgetText">
              <!-- <input type="checkbox" />忘记密码 -->
              <el-checkbox
                v-model="LoginObj.remember"
                @change="forgetClick()"
              >{{$t('message.login_forgetText')}}</el-checkbox>
            </p>
            <div class="login_link clearfix">
              <router-link
                :to="{name:'Register'}"
                class="reg fl"
              >{{$t('message.login_new_account')}}</router-link>
              <a
                style="cursor:pointer"
                class="psw_forget fr"
                @click="TriggerForgetPassword()"
              >{{$t('message.login_forget_password')}}</a>
            </div>
          </div>
          <forget-password></forget-password>
          <forget-password-success></forget-password-success>
          <forget-password-fail></forget-password-fail>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { initLogin } from '@/assets/scripts/comTest/main/login/login.js';
export default {
  mixins: [initLogin]
};
</script>
