<template>
	<!--欧博-->
	<div class="clearfix hides">
		<h2><img src="/static/images/web/partner/ob-title.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl">
				<h3><span>欧博简介</span></h3>
				<p>欧博集团（ALLBET GAMING）是亚洲最新兴的博彩娱乐集团，扎根于菲律宾首都马尼拉，致力研发网上博弈游戏平台并且提供整合服务。由于近十年网络赌场的不断兴起与流行，欧博集团数十位百家乐专家的经验及心血，结合网络技术的优势打造出一个以百家乐游戏为主的超级游戏平台，卓越的功能全由玩家使用点出发，使玩家在网络世界的任何角落都能掌控全域，致胜千里！</p>
				<p>欧博集团获得菲律宾政府认可的发牌及监管单位First Cagayan Leisure&Resort Corporation授权，经营网络博彩游戏，拥有符合国际标准的真人摄影场，以顶尖开发技术把实地完美地呈现在互联网上，提供丰富多样的 真人荷官现场视讯直播及电子游戏，是专业为玩家打造的人性化游戏平台。欧博集团势必将成为网络博彩业界最强的顶尖武器供应商。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates6.png" />
			</div>
		</div>
		<div class="introduct-text clearfix" style="border-bottom: none;">
			<h3><span>我们的产品</span></h3>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>1、聚龙厅</h4>
					<p>集合当下最受欢迎的真人视讯类游戏，分别设有10台普通百家乐、2台免佣百家乐、1台骰宝、1台龙虎、1台轮盘。其中，百家乐游戏采用6张牌先发的派牌方式，游戏结果在玩家下注前已经定局，最大程度地保证游戏的公平性。聚龙厅游戏提供限红和座位选择功能，玩家可以根据个人需求调整自己的投注限额，科学投注以享受博彩娱乐。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ob-img1.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>2、超级多台</h4>
					<p>超级多台允许玩家多台观战，玩家可根据喜好设置聚龙厅四桌/八桌/十六桌/三十六桌现场游戏与一个画面。玩家可在不同游戏种类间自由跳转，各台游戏路纸即时翻滚更新，各桌游戏视频可流畅切换，玩家可同时投注多局游戏，还可以直接入座，超级多台是玩家纵观全场，把握致胜先机的最佳选择。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ob-img2.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>3、VIP包桌</h4>
					<p>欧博VIP包桌游戏视频均来自欧博现场VIP厅，由欧博精英荷官派牌，桌上筹码和下注限额均为VIP级别，专门为大额投注的贵宾客户提供特优服务。在欧博VIP厅，玩家可享受到现场赌场提供的所有贵宾特权，包括独享桌台、控制开牌时间、无限次飞牌、智慧手动咪牌、更换荷官和牌靴等。包桌投注的贵宾，还可以设置桌台密码，邀请朋友共同参与游戏，彰显尊贵气派。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ob-img3.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>4、竞咪厅</h4>
					<p>“竞咪”是当前网上博彩最具革命性的创新设计，欧博竞咪厅将现场百家乐最刺激的咪牌瞬间以最智慧的方式呈现给玩家，使线上玩家能体验到现场摸牌的刺激感。玩家以竞投的方式争取咪牌权，下注成功后仍然有机会加注竞争，单方面投注金额最高的玩家获得咪牌权。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ob-img4.png" />
				</div>
			</div>
		</div>
	</div>
</template>