<template>
	<!--PT-->
	<div class="clearfix hides">
		<h2><img src="/static/images/web/partner/pt-title.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl" style="width: 600px;">
				<h3><span>PT简介</span></h3>
				<p>PlayTech 是在线博彩软件行业的领先厂商之一。公司位于塞浦路斯，在世界上除了美国之外的其他各地不断扩展，主要面向欧洲公司提供博彩软件平台。PlayTech 在在线博彩业的合法化和信用建立方面发挥了重要作用，这得益于其一流的客户支持和独立测试的公平游戏。遗憾的是，06年颁布了Unlawful Internet Gambling Enforcement Act (UIGEA)，PlayTech 被迫放弃了其在美国的服务。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates3.png" />
			</div>
		</div>
		<div class="introduct-text clearfix" style="border-bottom: none;">
			<div class="introduct-text-left fl" style="width: 100%;">
				<h3><span>游戏种类</span></h3>
				<p>游戏种类的多少取决于您在哪个在线赌场进行博彩，但是他们都有经典的博彩游戏的，如二十一点、双骰博彩、多重变化轮盘赌。而 PlayTech 游戏组合拥有一百多种不同的游戏，所有赌场都使用了其中的大部分--换言之，如果你不能在 PlayTech 赌场找到您所喜欢的赌场游戏，这说明这种游戏的在线游戏很可能尚未发明。</p>
				<p>日渐流行的一种游戏是带有累积赌注的老虎机。PlayTech 已经研发出几种最受欢迎的累积赌注，如 Gold Rally，它能将所有 PlayTech 赌场赌注集中成一个奖池，形成一个大型赌注。</p>
				<div class="pt-img">
					<span><img src="/static/images/web/partner/pt-img1.png"/><i>Penguin vacation</i></span>
					<span><img src="/static/images/web/partner/pt-img2.png"/><i>Dr Love More</i></span>
					<span><img src="/static/images/web/partner/pt-img3.png"/><i>PerfectPlanet</i></span>
					<span><img src="/static/images/web/partner/pt-img4.png"/><i>TresAmigos</i></span>
				</div>
			</div>
		</div>
	</div>
</template>