<template>
	<!--沙巴-->
	<div class="clearfix hides">
		<h2><img src="/static/images/web/partner/sb-title.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl">
				<h3><span>沙巴简介</span></h3>
				<p>成立于2003年，为全球顶尖的综合娱乐平台开发商，提供全年216000场体坛信息以及在线游戏娱乐租赁服务。沙巴平台拥有千人以上技术团队、随时支持在线赛事信息、24小时在线客服，提供合作伙伴最信赖、稳定安全的服务；专业负责的技术咨询团队，每月提供5000场以上在线赛事讯息，拥有卓越的分析技术团队，是沙巴平台成为亚洲领头羊的核心竞争力，也是合作伙伴最强大的后盾</p>
				<p>沙巴的正式公司名称为凌阳科技 SUNPLUS，后又改成ONEworks。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates5.png" />
			</div>
		</div>
		<div class="introduct-text introduct-text-shaba clearfix" style="border-bottom: none;">
			<div class="introduct-text-left fl" style="width: 100%;">
				<h3><span>我们的产品</span></h3>
				<p>1、游戏种类的多少取决于您在哪个在线赌场进行博彩，但是他们都有经典的博彩游戏的，如二十一点、双骰博彩、多重变化轮盘赌。而 PlayTech 游戏组合拥有一百多种不同的游戏，所有赌场都使用了其中的大部分--换言之，如果你不能在 PlayTech 赌场找到您所喜欢的赌场游戏，这说明这种游戏的在线游戏很可能尚未发明。</p>
				<p>2、我们的核心体育投注平台在过去10年来不断精益求精，因此兼具高度健全性、弹性及安全性，除此之外，帷幄集团也提供市面上顶尖的统包解决方案。业者实质上可以得到一套完善自行管理的体育投注平台，并提供给客户一套完整的体育赛事选项，以及市场上数量最多的现场赛事和投注类型(5,000 场足球赛事和 18,000 个投注类型)。</p>
				<p>3、我们的核心投注平台涵盖完整的投注领域，这套经过证实的健全系统提供广泛的赛事、投注类型及多种赔率选项和语言。赛事与赔率解决方案:帷幄集团透过其解决方案供货商提供最广泛的现场赛事产品，或在此方面与其他产品并驾齐驱。</p>
				<p>4、本地化平台专为欲快速打进亚洲市场的西方业者所打造的平台，以作为进军国际市场并提供点对点的解决方案。 </p>
			</div>
			<div class="sb-img">
				<img src="/static/images/web/partner/sb-img1.png" />
				<img src="/static/images/web/partner/sb-img2.png" />
				<img src="/static/images/web/partner/sb-img3.png" />
				<img src="/static/images/web/partner/sb-img4.png" />
			</div>
		</div>
	</div>
</template>