<template>
	<!--KG-->
	<div class="clearfix hides">
		<h2><img src="/static/images/web/partner/kg-title.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl">
				<h3><span>PT简介</span></h3>
				<p>KG平台是世界上一流彩票游戏平台，KG平台目前提供的各个地区快乐彩包括：北京、澳大利亚、加拿大、加拿大西部、斯洛伐克等，KG的口号是“做好每一天”,也是团队的服务精神, 专业的团队, 完善的设备, 稳扎的技术, 为广大玩家提供公平公正的娱乐游戏。 尊重每一位用户, 同时更尊重每一位员工的付出, 坚信要有更高效益就必保持诚信第一, 服务第一, 顾客第一的宗旨。 7/24的客户服务, 随时随地为用户提供优质到位的支持, 关注每位用家的需要, 为客户创造更优越的品牌价值, 提供一个无忧平台, 与用户一同成长。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates4.png" />
			</div>
		</div>
		<div class="introduct-text clearfix" style="border-bottom: none;">
			<h3><span>四大彩票游戏</span></h3>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>1、KENO 快乐彩</h4>
					<p>KENO(基诺)，一般称之为“快乐彩”，玩法起源于中国，起初，人们用80个汉字来玩基诺游戏，而在美国这些汉字则由80个阿拉伯数字所代替。KENO名字源于拉丁文和法语的词根，大意是选中5个就有可以获奖，现在世界多个国家和地区发行KENO游戏，已经成为一种流行的大众数字游戏，普通的官方玩法通常从01-80个数字中随机摇出20个数字作为开奖号码，根据选中号码的个数获得不同等级的奖金。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/kg-img1.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>2、 Every Color 时时彩</h4>
					<p>一时彩 (新时时彩) 外文为 Every Color,由福利彩票中心管理, 数字型的时时彩是以一组自然数为中奖号码的彩票。是属于高频彩系列的彩种,每组号码由0-99999组成, 分为一星,二星,三星,四星,五星,大小单双等多种玩法 , 每天定时定期开奖. 玩法简单,开奖快,中奖率高都是时时彩的特点。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/kg-img1.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>3、PK10</h4>
					<p>PK10是由1至10号码中随机摇出次序作为开奖结果，用冠军及三甲组合成不同玩法，根据玩法可获不同奖金。此游戏采用北京地区官方机构结果进行开奖，另设超级PK10，开彩结果由电脑随机开出，为玩家带来一个公平、公正、公开的全新娱乐平台。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/kg-img1.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>香港乐透</h4>
					<p>香港乐透是以香港赛马会的官方开奖号码为准的游戏，共有15 种玩法,分别为：特码号,特码大小,特码单双,特码合单合双,特码色波,特码生肖,半波,正码,正码大小,正码单双,正码色波,总和大小,总和单双,一肖,尾数。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/kg-img1.png" />
				</div>
			</div>
		</div>
	</div>
</template>