<template>
	<!--AG-->
	<div class="clearfix hides">
		<h2><img src="/static/images/web/partner/ag-title.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl">
				<h3><span>AG简介</span></h3>
				<p>星联盟集团创立至今，凭借其源源不断的创新力以超高的发展速度成为了线上最热门的游戏供应商和游戏门户网站，我们不断征服挑战并迈步向前，研发出更多独一无二的游戏新体验，冲破网上娱乐平台的传统束缚，引领业界不断向前。 并且成为业内数一数二的领导品牌，应得了大量在线游戏经营者与游戏玩家的认可与信任。</p>
				<p>星联盟集团已经从 First Cagayan （First Cagayan是第一个拥有博彩管辖权的机构，同时监控着40多个不同级别的经营者。该机构是依据菲律宾共和国法律正式组织而存在的。）获得合法化的博彩经营执照，并且在游戏公平，法律和服务项目方面都是非常完善安全性的。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates2.png" />
			</div>
		</div>
		<div class="introduct-text clearfix" style="border-bottom: none;">
			<h3><span>AG真人Studio</span></h3>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>1、 专业的软、硬件设备</h4>
					<p>符合国际标准之硬体设备，恒湿恒温空调机房、N+2备援建置UPS不断电系统及专业消防设施。采用CNS500型铝合金地板、磁卡辨识门禁及CCTV闭路监视系统保全设备，透过无线触控屏24小时持续监控作业环境，提供最优良的伺服器及系统平台环境，为客户的娱乐保驾护航。 所有赌具品牌和供应商都和澳门赌场相同，确保专业和精良.</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ag-img1.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>2、 严格的运营管理流程</h4>
					<p>全程监控的洗牌房，能全方位监督整个洗牌流程，从清点牌、人工洗牌、专业洗牌机洗牌到荷官主管切牌都是随机的，完全公开、透明。运牌流程也如此，从洗牌房，再到赌桌、牌靴，全程多人监控，采用唯一识别封条密封运送，确保安全、放心。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ag-img2.png" />
				</div>
			</div>
			<div class="introduct-text-con clearfix">
				<div class="introduct-text-left introduct-other-left fl">
					<h4>3、 严格的荷官考试和培训</h4>
					<p>形象好、气质佳且有经验的专业荷官成为我们的首选。每个荷官上岗前都要经过严格的技能培训和考核。所有荷官的形象、仪态和仪表都由顶级的化妆师和培训师精心打造，确保每个为客人服务的荷官都拥有最专业的技能和最佳的精神面貌。</p>
				</div>
				<div class="introduct-text-right fr">
					<img src="/static/images/web/partner/ag-img3.png" />
				</div>
			</div>
		</div>
	</div>
</template>