<template>
	<!--星联盟-->
	<div class="clearfix">
		<h2><img src="/static/images/web/partner/xlm-tilte.png"/></h2>
		<div class="introduct-text clearfix">
			<div class="introduct-text-left fl">
				<h3><span>星联盟简介</span></h3>
				<p>星联盟集团创立至今，凭借其源源不断的创新力以超高的发展速度成为了线上最热门的游戏供应商和游戏门户网站，我们不断征服挑战并迈步向前，研发出更多独一无二的游戏新体验，冲破网上娱乐平台的传统束缚，引领业界不断向前。 并且成为业内数一数二的领导品牌，应得了大量在线游戏经营者与游戏玩家的认可与信任。</p>
				<p>星联盟集团已经从 First Cagayan （First Cagayan是第一个拥有博彩管辖权的机构，同时监控着40多个不同级别的经营者。该机构是依据菲律宾共和国法律正式组织而存在的。）获得合法化的博彩经营执照，并且在游戏公平，法律和服务项目方面都是非常完善安全性的。</p>
			</div>
			<div class="introduct-text-right fr">
				<img src="/static/images/web/partner/Certificates1.png" />
			</div>
		</div>
		<ul class="introduct-lists">
			<li>
				<h3><img src="/static/images/web/partner/xlm-icon1.png"/><span>铂金厅</span></h3>
				<p>有VIP百家乐和传统百家乐，享受到至尊无上的博彩娱乐体验。</p>
				<img src="/static/images/web/partner/xlm-img1.png" style="margin-top: 10px;" />
			</li>
			<li>
				<h3><img src="/static/images/web/partner/xlm-icon2.png"/><span>钻石厅</span></h3>
				<p>有竞咪百家乐、传统百家乐等等是整个星联盟游戏最丰富的。</p>
				<img src="/static/images/web/partner/xlm-img2.png" style="margin-top: 10px;" />
			</li>
			<li>
				<h3><img src="/static/images/web/partner/xlm-icon3.png"/><span>金臂厅</span></h3>
				<p>全智能化的发牌开牌模式绝对让您耳目一新。</p>
				<img src="/static/images/web/partner/xlm-img3.png" style="margin-top: 10px;" />
			</li>
		</ul>
	</div>
</template>