<template>
  <div class="poker-main">
    <ul class="poker-logo-lists clearfix" id="poker-logo-lists">
      <li
        style="width:100%;text-align:center;"
        class="nopoker-logo-li"
        v-if="PoKerList.length == 0"
      >
        <img
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/nopoker.png'"
        />
      </li>
      <!-- 翻转棋牌游戏 -->
      <li
        class="poker-logo-li pokerAbnormal"
        v-for="(list,index) in PoKerList"
        :key="list.GameApiNo"
      >
        <p v-if="list.GameTypeState == 703" class="maintenanceBG">
          <i class="abnormalDefault maintenance"></i>
        </p>
        <!--棋牌改版样式 rotate-before rotate-before1 -->
        <!--"" ——》 :style="
              {background:'url('
              +
        $ResourceCDN+'/EditionImg/LamborFormal/images/web33/pokerNew/v-logo'+list.GameApiNo+'.png)no-repeat'}"-->
        <div
          class="rotate-before1"
          :class="{'maintenanceWrap':list.GameTypeState == 703}"
          :style="{background:'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/general/common/poker/'+((index%15)+(pageNum%4?pageNum%4:1))+'.jpg)no-repeat'}"
        >
          <i class="icon-flower flower1"></i>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
          <div class="rotate-word">
            <p>{{list.Introduction}}</p>
            <span>{{list.Eng_Introduction}}</span>
          </div>
          <i class="icon-flower flower2"></i>
        </div>
        <!--棋牌改版样式 rotate-after ——》rotate-after1 -->
        <div class="rotate-after1">
          <a
            class="rotate-play"
            href="javascript:void(0);"
            v-if="list.GameTypeState != 703"
            @click="$emit('PlayGame', list)"
          >{{$t('message.live_start_game')}}</a>
          <!-- <a class="rotate-play-no"
          v-else>线路维护中</a>-->
        </div>
        <div class="video_cover" style="display: none;">
          <div>
            <p>{{$t('message.live_expect')}}</p>
            <span>IN MAINTENANCE</span>
          </div>
        </div>
      </li>
    </ul>
    <!--分页-->
    <poker-paginate
      :pageSize="pageSize"
      changePaginateStyle
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></poker-paginate>
  </div>
</template>
<script>
import pokerContent from "@/mod/k14/assets/scripts/comTest/general/poker/pokerContent.js"
export default {
  name: "poker-content",
  mixins: [pokerContent]
}
</script>
