<template>
  <div>
    <!--登录-->
    <div class="start_nav start_nav2 hides">
      <div class="start_nav_box">
        <div class="nav_logo fl">
          <h1>
            <a href="/" class="router-link-active">{{this.LogoName}}</a>
          </h1>
        </div>
      </div>
    </div>
    <!--2版有的-->
    <div class="login-register-content login-content">
      <div class="login-register-main" :class="'login-register-main_'+$MessageLang">
        <i class="lr-bg-top hides"></i>
        <!--7版特有-->
        <p class="Login_logo_thirtyEight hides">
          <img
            v-if="$VersionNumber == '15'"
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/Login/DL1_03.png'"
          />
          <span class="shu">|</span>
          <span>{{$t('message.login_interface')}}</span>
        </p>
        <!--38版标题-->
        <div class="login-register-box login-box" id="LoginForm" name="LoginForm">
          <h2 class="login-title" :class="'login-title-'+$MessageLang">
            <!-- :class="'theme'+$VersionNumber" -->
            <a></a>
            <!-- <a :style="{background:url(@{ResourceCDNUrl}+'/'+this.$MessageLang+'/web60/loginRegister/login-title.png');}"></a> -->
            <!-- <a:style="{background:`url(' +@{ResourceCDNUrl}+'/'+this.$MessageLang+'/web60/loginRegister/login-title.png') ')`}" ></a> -->
          </h2>
          <div class="login-logo">
            <router-link to="/">
              <img :src="this.LogoImgPath" />
            </router-link>
          </div>
          <h2 class="login-titleText login-titleText-34 hides">
            {{$t('message.login_user')}}
            <span>User login</span>
          </h2>
          <!--34版。25版等标题-->
          <div class="shaizi hides"></div>
          <!--23版特有-->
          <div class="login-register-from">
            <div class="login-register-cont">
              <div class="login-register-com">
                <span class="login-regcom-name">{{$t('message.login_account')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="text"
                    :placeholder="$t('message.agency_enter_account')"
                    name="Acct"
                    v-model="LoginObj.Acct"
                    v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('Acct') && fields.Acct.touched"
                  >{{$t('message.login_english_letters')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('Acct') && fields.Acct.touched"
              >{{$t('message.login_english_letters')}}</p>
            </div>
            <div class="login-register-cont">
              <div class="login-register-com">
                <span class="login-regcom-name">{{$t('message.login_pwd')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="password"
                    :placeholder="$t('message.login_enter_pwd')"
                    name="Pwd"
                    v-model="LoginObj.Pwd"
                    v-validate="{ rules: { regex:Reg.Password, required: true }}"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('Pwd') && fields.Pwd.touched"
                  >{{$t('message.member_number_range')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('Pwd') && fields.Pwd.touched"
              >{{$t('message.member_number_range')}}</p>
            </div>
            <div class="login-register-cont">
              <div class="login-register-com login-regcom-special">
                <span class="login-regcom-name">{{$t('message.agent_identifying_code')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="text"
                    :placeholder="$t('message.agent_caps_look')"
                    class="putBox-special-input"
                    autocomplete="off"
                    name="VCodeImg"
                    v-model="LoginObj.VCodeImg"
                    v-validate="{ rules: { regex:Reg.VCode , required: true }}"
                  />
                  <a class="putBox-code" v-on:click="GetAuthCode()">
                    <img
                      v-if="AuthImg == ''"
                      style="height: 30px;"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/ajax-loader.gif?VersionCode'"
                    />
                    <img v-else v-bind:src="AuthImg" :onerror="defaultImg" />
                  </a>
                  <a
                    v-on:click="GetAuthCode()"
                    class="putBox-change"
                  >{{$t('message.login_another_one')}}</a>
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('VCodeImg') && fields.VCodeImg.touched"
                  >{{$t('message.agent_code_error')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('VCodeImg') && fields.VCodeImg.touched"
              >{{$t('message.agent_code_error')}}</p>
            </div>
          </div>
          <p class="forgetText" style="padding-left: 177px;">
            <!-- <input type="checkbox" />忘记密码 -->
            <el-checkbox
              v-model="LoginObj.remember"
              @change="forgetClick()"
            >{{$t('message.login_forgetText')}}</el-checkbox>
          </p>
          <a class="login-btn loghide" v-on:click="LoginSubmit()" id="login_btn"></a>
          <a class="login-btn" v-on:click="LoginSubmit()" id="login_btn">{{$t('message.top_login')}}</a>
          <h3 class="logSter-entrance clearfix">
            <router-link to="/Register" class="fl">{{$t('message.login_new_account')}}</router-link>
            <a
              class="fr"
              id="forget-pwd-btn"
              @click="TriggerForgetPassword()"
            >{{$t('message.login_forget_password')}}?</a>
          </h3>

          <!--34版按钮-->
          <div class="login-listBtn login-listBtn-34 hides">
            <div class="login-cont-listFastener">
              <span
                class="login-cont-listRefer"
                v-on:click="LoginSubmit()"
                id="login_btn"
              >{{$t('message.agent_submission')}}</span>
              <span
                class="login-cont-listNew"
                @click="$router.push('Register')"
              >{{$t('message.login_new_account')}}</span>
            </div>
            <div
              class="forget-password"
              @click="TriggerForgetPassword()"
              id="forget_pwd_btn"
            >{{$t('message.login_forget_password')}}?</div>
          </div>
        </div>
        <i class="lr-bg-btm"></i>
        <!--7版特有-->
      </div>
    </div>
    <div class="footer login-footer hides"></div>
    <!--2版特有-->
    <forget-password></forget-password>
    <forget-password-success></forget-password-success>
    <forget-password-fail></forget-password-fail>
  </div>
</template>

<script>
import { initLogin } from "@/mod/k03/assets/scripts/comTest/main/login/login.js"
export default {
  mixins: [initLogin]
}
</script>
