<template>
  <div class="news-detail-content">
    <div class="news-detail-banner">
      <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15//flash/news.mp4'"
        class="sy15-news-video news-banner-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
    </div>
    <div class="news-detail-page">
      <div class="news-detail-cont">
        <section class="news-detail-top">
          <h2 class="news-detail-title">
            <p class="txt">新闻详情</p>
            <span class="desc">News Details</span>
          </h2>
          <h2 class="news-detail-crosswiseTitle">
            最新消息
            <i>></i> 消息详情
          </h2>
          <a href="javascript:void(0);" class="back-btn" @click="ReturnBack();">返回</a>
        </section>
        <div class="news-detail-main">
          <dl class="news-detail-main-top clearfix">
            <dt class="news-detail-title">{{this.NewsDetail.Title}}</dt>
            <dd
              class="news-detail-time"
            >活动时间：{{NewsDetail.MessageTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</dd>
          </dl>
          <div class="news-detail-main-cont">
            <img v-if="ResourceFlag" :src="Resource + NewsDetail.TitlePic" class="news-detail-img" />
            <p v-html="MessageCotentData" class="news-detail-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { NewsDetailContent } from "@/mod/k03/assets/scripts/comTest/main/newsList/newsDetailContent.js"
export default {
  mixins: [NewsDetailContent]
}
</script>