.theme28 {

    // 公共
    .wrap {
        height: auto;
        width: 100%;
        overflow: hidden;
        background: #fff;
    }

    /*header*/

    //marquee

    .header-marquee {
        width: 500px;
        float: left;
        height: 30px;
        line-height: 30px;
        overflow: hidden;

        .header-marquee-icon {
            display: inline-block;
            vertical-align: top;
            width: 13px;
            height: 11px;
            margin-top: 9px;
            float: left;
        }

        .notice {
            width: 440px;
            float: left;
            margin-left: 7px;
            overflow: hidden;

            .slideTxtBox {
                float: left;
                width: 440px;
                overflow: hidden;

                ul {
                    width: 440px;

                    a {
                        color: #878787;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .header {
        height: 30px;
        line-height: 30px;
        position: relative;

        .header-top {
            width: 100%;
        }

        .header-cont {
            height: 30px;
            width: 1200px;
            margin: 0 auto;

            .header-cont-nav {
                float: right;

                li {
                    float: left;

                    &.login-before i {
                        font-size: 12px;
                        vertical-align: top;
                        color: #77706e;
                    }

                    a {
                        vertical-align: top;
                        display: inline-block;
                        color: #77706e;
                        font-size: 12px;

                        .heMail {
                            display: inline-block;
                            width: 26px;
                            height: 19px;
                            margin-top: 6px;
                            vertical-align: top;
                        }
                    }

                    a:hover {
                        color: #000;
                    }

                    a.user {
                        padding-left: 20px;
                    }

                    a.deposit {
                        padding-left: 20px;
                    }

                    a.refresh-account,
                    a.rotateLoop {
                        width: 20px;
                        height: 18px;
                        margin-top: 6px;
                        margin-right: 0;
                    }

                    .email img {
                        width: 25px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                    }

                    .unread {
                        top: 0;
                        right: -6px;
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        line-height: 14px;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        color: #ffffff;
                        text-align: center;
                        content: '9';
                        background-size: 100%;
                    }

                    .account em {
                        color: #77706e;
                    }
                }
            }
        }
    }


    /*language*/

    /*----------start--下拉框----------*/
    .language .down {
        height: auto;
        position: relative;
        float: left;
        padding-right: 20px;
        z-index: 999;
        width: 91px;
    }

    .language .down .d_course {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        text-align: left;
        color: #77706e;
        width: 100%;
        border: 0;
        background: none;
        font-size: 12px;
    }

    .language .down .lang_down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 30px;
        border-top: 0;
        width: 100%;
        background: #fff;
        border: 0;
    }

    .language .down .lang_down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        color: #77706e;
        font-size: 12px;
        padding: 5px 0 5px 10px;
    }

    .language .down .lang_down_box .down_list:hover {
        color: #000;
    }

    .language .lang_down_box a {
        line-height: 26px;
    }

    .language .down i.flagDown {
        background-size: 100% 100%;
        width: 20px;
        height: 13px;
        display: block;
        position: absolute;
    }

    .language .down i.iconDown {
        background-size: 100% 100%;
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 12px;
        top: 12px;
    }

    .language .d_course i.flagDown {
        top: 9px;
        right: 25px;
    }

    .language .lang_down_box i.flagDown {
        top: 12px;
        right: 25px;
    }

    /*----------end--下拉框----------*/

    /*header_nav*/
    .mainNav-nav-second {
        display: block;
    }

    .main-cont-nav {
        background: #2c3043;
        height: 65px;

        ul {
            width: 66%;
            min-width: 1200px;
            height: 65px;
            margin: 0 auto;
            text-align: center;
            position: relative;

            li {
                float: left;
            }

            .main-navList {
                a {
                    display: inline-block;
                    height: 62px;
                    line-height: 62px;
                    margin-left: 1px;
                    width: 130px;
                    font-size: 16px;
                    text-align: center;
                    color: #d2d0cd;
                    cursor: pointer;
                    border: 1px solid #4b4e5e;

                    span,
                    i {
                        display: none;
                    }
                }

                a:hover,
                a.hasSelece {
                    border: 1px solid #424964;
                    background: #424964;
                    color: #fff;
                }
            }

            .main-navList1 {
                margin-left: 40px;
            }

            .main-navList8 a {
                background: none;
            }

            .main-navList-logo {
                width: 110px;

                a {
                    // background: url('/static/images/Customer/i_logo28.png')no-repeat;
                    // background:url('/static/images/Customer/logo07.png')no-repeat;
                    width: 110px;
                    height: 61px;
                    line-height: 61px;

                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }
        }

    }

    /*nav end*/


    /*footer*/
    .footer {
        height: 90px;
        line-height: 30px;
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #4a5d77;
        z-index: 111111111111;

        .footer-cont {
            border-top: 1px solid #496777;
            display: block;
            width: 736px;
            margin: 0 auto;
            height: 90px;

            .footer-cont-logo {
                width: 122px;
                height: 60px;
                line-height: 60px;
                display: block;
                margin-top: 10px;
                text-align: center;

                img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }

            .footer-cont-nav {
                margin-left: 26px;
                padding-top: 20px;

                ul {
                    .footer-navList {
                        float: left;

                        &.footer-navList1 a {
                            border: none;
                            padding-left: 0;
                        }

                        a {
                            display: inline-block;
                            color: #2f455d;
                            padding: 0 22px;
                            font-size: 15px;
                            line-height: 14px;
                            border-left: 1px solid #2f455d;
                            font-weight: bold;
                        }

                        .f-n-int {
                            display: none;
                        }

                        a:hover {
                            color: #fff;
                        }

                        i {
                            display: none;
                        }

                        span {
                            display: none;
                        }
                    }

                    .footer-navList4 {
                        i {
                            display: none;
                        }
                    }

                    .footer-navList5 {
                        display: none;
                    }
                }

                p.fooPtext-28 {
                    display: block;
                    color: #2f455d;
                    font-size: 15px;
                    line-height: 30px;
                }
            }
        }
        .footer-cont_en,.footer-cont_vi{
            width:850px !important;
        }
    }


    /*客服*/
    .service {
        height: 400px;
        position: fixed;
        right: 0;
        top: 70%;
        z-index: 10;

        .service-box {
            display: block;
            float: right;
            width: 80px;
            font-size: 0;
            position: relative;

            li {
                display: inline-block;
                cursor: pointer;
                width: 10px;

                a {
                    width: 80px;
                    display: inline-block;
                }

                span {
                    display: none;
                }

                &.SbtnService a {
                    height: 53px;
                }

                &.SbtnActivity a {
                    position: absolute;
                    top: -280px;
                    right: 0;
                    height: 268px;
                }

                &.SbtnFree a {
                    height: 53px;
                }
            }
        }
    }

    //弹出
    .in_twentyEight {
        display: block;
    }

    .in_s_carousel {
        position: absolute;
        top: -280px;
        right: 80px;
        float: right;
        height: 268px;
        width: 440px;
        background: #222533;
    }

    .i_s_c_left {
        display: inline-block;
        float: left;
        height: 250px;
        width: 75px;
    }

    .i_s_c_left img {
        width: 100%;
        height: 268px;
    }

    .i_s_c_rig {
        display: inline-block;
        height: 210px;
        padding: 20px;
        width: 315px;
        float: right;

    }

    .in_s_carousel:hover {
        width: 440px;
    }

    .el-carousel__container img {
        width: 100%;
    }

    .el-carousel__container {
        height: 165px;
    }

    .el-carousel__button {
        height: 12px;
        width: 12px;
        border-radius: 12px;
    }

    .i_s_c_r_title {
        line-height: 30px;
        color: #7d7e85;
        margin-bottom: 7px;
    }

    .in_s_fixed .in_s_f_item:last-child {
        position: relative;
    }

    .i_s_c_tel {
        position: absolute;
        right: 78px;
        bottom: 0;
        display: inline-block;
        padding: 10px 30px 10px 10px;
        height: 140px;
        width: 100px;
        display: none;
    }

    .i_s_c_tel p {
        font-size: 14px;
        color: #53565c;
        line-height: 28px;
    }

    .i_s_c_tel p img {
        margin-bottom: -7px;
        margin-right: 3px;
    }
    // 头部导航hover样式
    .pg-header .main-navNew .navNew-List a i{
        margin-left: -46px !important;
    }
}
