<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title id="title"></title>
    <link rel="icon" id="logoicon" href="/static/images/logo/logo.png" type="image/icon" />
    
    <link rel="stylesheet/less" href="/static/less/lessSet.less">
    <link rel="stylesheet/less" href="/static/less/bgLess.less">
    <script src="/static/js/less.js"></script>

    <% if ( htmlWebpackPlugin.options.isDefaultBuild === false ) { %>
        <% for (let js in htmlWebpackPlugin.files.js) { %>
          <link href="//<%= htmlWebpackPlugin.options.cdnUrl+htmlWebpackPlugin.files.js[js] %>" as="script" rel="preload" />
        <% } %>
        <% for (let css in htmlWebpackPlugin.files.css) { %>
          <link href="//<%= htmlWebpackPlugin.options.cdnUrl+htmlWebpackPlugin.files.css[css] %>" as="style" rel="preload" />
          <link rel="stylesheet" href="//<%= htmlWebpackPlugin.options.cdnUrl+htmlWebpackPlugin.files.css[css] %>" />
        <% } %>
      <% } %>
      <% if ( htmlWebpackPlugin.options.isDefaultBuild === true ) { %>
        <% for (let js in htmlWebpackPlugin.files.js) { %>
          <link href="<%= htmlWebpackPlugin.files.js[js] %>" as="script" rel="preload" />
        <% } %>
        <% for (let css in htmlWebpackPlugin.files.css) { %>
          <link href="<%= htmlWebpackPlugin.files.css[css] %>" as="style" rel="preload" />
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
        <% } %>
    <% } %>
</head>

<body>
    <div id="app"></div>
    <% if ( htmlWebpackPlugin.options.isDefaultBuild === false ) { %>
        <% for (let js in htmlWebpackPlugin.files.js) { %>
          <script src="//<%= htmlWebpackPlugin.options.cdnUrl+htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>
      <% } %>
      <% if ( htmlWebpackPlugin.options.isDefaultBuild === true ) { %>
        <% for (let js in htmlWebpackPlugin.files.js) { %>
          <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>
    <% } %>
       
    <script>
        var LogoName = localStorage.getItem('LogoName');
        var LogoPath = localStorage.getItem('IconLogoUrl');
        document.getElementById('title').innerHTML = LogoName;
        document.getElementById('logoicon').setAttribute('href', LogoPath);
    </script>
</body>
</html>
