<template>
  <!--首页顶部-->
  <div class="header" :class="{ header2: this.$route.name !== 'Index' }">
    <div class="header-top">
      <div class="header-cont clearfix">
        <lambor-marquee></lambor-marquee>
        <ul class="header-cont-nav" :class="{ 'header-cont-athletics': this.$route.name === 'Athletics' }">
          <li
            v-if="this.IsLogin === true"
            class="login-after"
            v-bind:class="{ 'sy34-login-bar': this.$route.name === 'Athletics' }"
          >
            <router-link v-if="false" :to="{ name: 'webMemberLevel' }" class="level_link">{{
              this.MemberInfo.VMemberLv
            }}</router-link>
            <a class="account">
              {{ $t("message.top_balance") }}：
              <em>{{ this.VBalance | moneyFormat }}</em>
              <a v-show="IsGetBalanceIng === false" class="refresh-account" @click="GetBalance()"></a>
              <a v-show="IsGetBalanceIng === true" class="rotateLoop"></a>
            </a>
            <a @click="CheckLogin()" class="deposit">{{ $t("message.top_recharge") }}</a>
            <a @click="TriggerMemberUser('webMemberSummary')" id="user-name" class="user">{{ MemberInfo.Acct }}</a>
            <a @click="TriggerMemberUser('webMemberPrivateMessage')" class="email" style="position: relative;">
              <i class="heMail"></i>
              <p class="unread" v-show="this.MemberInfo.UnreadCount !== 0">
                {{ MemberInfo.UnreadCount | upperLimitDisplay(99) }}
              </p>
            </a>
            <a class="signout" @click="Logout()">[ {{ $t("message.top_quit") }} ]</a>
          </li>
          <li v-if="this.IsLogin === false" class="login-before">
            <router-link :to="{ name: 'Login' }">{{ $t("message.top_login") }}</router-link>
            <span class="hides">|</span>
            <i>/</i>
            <router-link :to="{ name: 'Register' }">{{ $t("message.top_register") }}</router-link>
            <a class="collSite" @click="AddFavorite()">{{ $t("message.top_favorite") }}</a>
          </li>
          <!-- <li class="language">
            <div class="down">
              <div class="d_course" @click="ShowDropDown('lang_down_box')">
                {{LangSelected.Name}}
                <i class="flagDown"></i>
                <i class="iconDown"></i>
              </div>
              <div class="lang_down_box">
                <a class="down_list" v-for="Lang in this.LangList" @click="ChangeLang(Lang)">
                  {{Lang.Name}}
                  <i class="flagDown"></i>
                </a>
              </div>
            </div>
          </li>-->
          <div style="position: relative !important; float: right;">
            <el-dropdown class="elDropdownMain" @command="handleLanguage">
              <span class="el-dropdown-link">
                <span v-if="language == 'en'" class="v-mid">
                  English
                  <img
                    class="flag-img"
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_2.png?VersionCode'"
                  />
                </span>
                <span v-if="language == 'zh'" class="v-mid">
                  简体中文
                  <img
                    class="flag-img"
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_1.png?VersionCode'"
                  />
                </span>

                <span v-if="language == 'tw'" class="v-mid">
                  繁體中文
                  <img
                    class="flag-img"
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_4.png?VersionCode'"
                  />
                </span>
                <span v-if="language == 'vi'" class="v-mid">
                  Tiếng Việt
                  <img
                    class="flag-img"
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_3.png?VersionCode'"
                  />
                </span>
                <!-- <i class="el-icon-caret-bottom el-icon--right"></i> -->
              </span>
              <el-dropdown-menu class="elDropdownMenu" slot="dropdown" id="langdropdown">
                <el-dropdown-item :command="{ langNum: '2' }" class="dropdpwn-list clearfix">
                  <span v-if="language != 'en'">
                    English
                    <img
                      class="flag-img"
                      :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_2.png?VersionCode'"
                    />
                  </span>
                </el-dropdown-item>
                <el-dropdown-item :command="{ langNum: '0' }" class="dropdpwn-list clearfix">
                  <span v-if="language != 'zh'">
                    简体中文
                    <img
                      class="flag-img"
                      :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_1.png?VersionCode'"
                    />
                  </span>
                </el-dropdown-item>
                <el-dropdown-item :command="{ langNum: '3' }" class="dropdpwn-list clearfix">
                  <span v-if="language != 'vi'">
                    Tiếng Việt
                    <img
                      class="flag-img"
                      :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_3.png?VersionCode'"
                    />
                  </span>
                </el-dropdown-item>
                <el-dropdown-item :command="{ langNum: '1' }">
                  <span v-if="language != 'tw'" class="dropdpwn-list clearfix">
                    繁體中文
                    <img
                      class="flag-img"
                      :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/flag_4.png?VersionCode'"
                    />
                  </span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <!-- <li>
            <el-dropdown>
              <span class="el-dropdown-link">
                切换皮肤({{this.themecolor}}版)
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  class="skin-list"
                  v-for="item in skinData"
                  @click.native="changeColor(item.num)"
                  :key="item.id"
                >{{item.num}}版</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { initHeader } from "../../assets/scripts/comTest/public/frameHeader.js"
export default {
  mixins: [initHeader]
}
</script>
<style>
.elDropdownMain {
  position: relative !important;
}
.elDropdownMenu {
  width: 130px !important;
  position: absolute !important;
  top: 35px !important;
  left: 91% !important;
}
</style>
