<template>
  <!--导航-->
  <div class="main-cont-nav" :class="{ 'main-cont-nav2': this.$route.name !== 'Index' }">
    <!--公共-->
    <div class="main-cont-box">
      <ul class="main-nav-ul mainNav-nav-second hides clearfix">
        <li class="main-navList-logo">
          <router-link to="/" class="diinline">
            <img :src="this.LogoImgPath" />
          </router-link>
        </li>
        <li class="main-navList main-navList1 main-navList-special">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'LiveVideo' }"
            :to="{ name: 'LiveVideo' }"
          >
            <i></i>
            <p>{{ $t("message.nav_live") }}</p>
            <span>LIVEVIDEO</span>
          </router-link>
        </li>
        <li class="main-navList main-navList2">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'Electronic' }"
            :to="{ name: 'Electronic' }"
          >
            <i></i>
            <p>{{ $t("message.nav_game") }}</p>
            <span>GAMES</span>
          </router-link>
        </li>
        <li class="main-navList main-navList2">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'Athletics' }"
            :to="{ name: 'Athletics' }"
          >
            <i></i>
            <p>{{ $t("message.nav_sport") }}</p>
            <span>ATHLETICS</span>
          </router-link>
        </li>

        <li class="main-navList main-navList3">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'Sport' }"
            :to="{ name: 'Sport' }"
          >
            <i></i>
            <p>{{ $t("message.nav_lottery") }}</p>
            <span>SPORTS</span>
          </router-link>
        </li>

        <li class="main-navList main-navList5 main-navList-inside">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'Poker' }"
            :to="{ name: 'Poker' }"
          >
            <i></i>
            <p>{{ $t("message.nav_poker") }}</p>
            <span>POKER</span>
          </router-link>
        </li>
        <li class="main-navList main-navList4">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'Lottery' }"
            :to="{ name: 'Lottery' }"
          >
            <i></i>
            <p>{{ $t("message.nav_betting") }}</p>
            <span>LOTTERY</span>
          </router-link>
        </li>
        <li class="main-navList main-navList6">
          <router-link
            v-bind:class="{ hasSelece: this.$route.name === 'NewsList' || this.$route.name === 'NewsListDetails' }"
            :to="{ name: 'NewsList' }"
          >
            <i></i>
            <p>{{ $t("message.nav_news") }}</p>
            <span>NEWS</span>
          </router-link>
        </li>
        <li class="main-navList main-navList7">
          <router-link
            v-bind:class="{
              hasSelece: this.$route.name === 'ActivityList' || this.$route.name === 'ActivityListDetails'
            }"
            :to="{ name: 'ActivityList' }"
          >
            <i></i>
            <p>{{ $t("message.nav_promotions") }}</p>
            <span>PROMOTIONS</span>
          </router-link>
        </li>
        <!-- <li class="main-navList main-navList8">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Tutorial'}"
            :to="{ name: 'Tutorial'}"
          >
            <i></i>
            <p>新手教程</p>
            <span>TUTORIAL</span>
          </router-link>
        </li>-->
      </ul>
      <div class="nav_btn hides">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </div>
    <!--34版-->
    <div class="mainNav-m34" style="display: none;">
      <router-link :to="{ name: 'Index' }">
        <div class="left-cont-logo">
          <img :src="this.LogoImgPath" />
        </div>
      </router-link>
      <div class="left-cont-menu">
        <ul>
          <!-- <li
            class="menu-list"
            v-for="(li,index) in navBars"
            :class="{'barActive': $route.name === li.link}"
            @click="barTab(index)"
          >
            <img class="uncheck-pic" :src="li.url1" />
            <img class="check-pic" :src="li.url2" />
          </li>-->
          <li
            class="menu-list"
            v-for="(li, index) in navBars"
            :key="index"
            :class="{ barActive: $route.name === li.link }"
            @click="barTab(index)"
          >
            <img class="uncheck-pic" :src="li.url1" />

            <div class="check-pic">
              <img class="img" :src="li.url2" />
            </div>
          </li>
          <li
            class="menu-list"
            v-bind:class="{ hasSelece: announcementOpen }"
            @click="OpenAnnouncement()"
          >
            <img
              class="uncheck-pic"
              :src="this.$ResourceCDN + '/EditionImg/LamborFormal/images/' + this.$MessageLang + '/web34/nav_w_34b.png'"
            />

            <div class="check-pic">
              <img
                class="img"
                :src="
                  this.$ResourceCDN + '/EditionImg/LamborFormal/images/' + this.$MessageLang + '/web34/nav_w_34c.png'
                "
              />
            </div>
            <!-- <a @click="OpenAnnouncement()" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_announcement')}}</p>
          <span class="englishName" v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'">Official news</span>
            </a>-->
          </li>
        </ul>
      </div>
      <div class="left-cont-picture">
        <!--<router-link :to="{ name: 'MobileAPP'}">
	                <p class="left-cont-pic1" :class="{'phoneAct': $route.name === 'MobileAPP'}" >
	                    <img class="uncheck-phone" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_1.png'" />
	                    <img class="check-phone" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_1a.png'" />
	                </p>
        </router-link>-->
        <router-link :to="{ name: 'ActivityList' }">
          <p
            class="left-cont-pic1"
            :class="{ phoneAct: $route.name === 'ActivityList' || $route.name === 'ActivityListDetails' }"
            style="margin-top: -25px;"
          >
            <img
              class="uncheck-phone"
              :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav-active.png'"
            />
            <img
              class="check-phone"
              :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav-active_a.png'"
            />
          </p>
        </router-link>
        <div class="left-cont-pic2">
          <!-- <router-link :to="{ name: 'Tutorial'}">
            <div class="pic2-left" :class="{'phoneAct': $route.name === 'Tutorial'}">
              <img
                class="pic2-unMinecraft"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/nav_w_3b.png'"
              />
              <img
                class="pic2-minecraft"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/nav_w_3c.png'"
              />
            </div>
          </router-link>-->
          <router-link :to="{ name: 'JoinUs' }">
            <div class="pic2-left" :class="{ phoneAct: $route.name === 'JoinUs' }">
              <img
                class="pic2-unMinecraft"
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav_join_us_0a.png'"
              />
              <img
                class="pic2-minecraft"
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav_join_us_1a.png'"
              />
            </div>
          </router-link>
          <router-link :to="{ name: 'NewsList' }">
            <div
              class="pic2-right"
              :class="{ phoneAct: $route.name === 'NewsList' || $route.name === 'NewsListDetails' }"
            >
              <img
                class="pic2-unFavourable"
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav_w_4b.png'"
              />
              <img
                class="pic2-favourable"
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/web34/nav_w_4c.png'"
              />
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import LoginService from "scripts/businessLogic/loginService"
import CommonService from "scripts/businessLogic/commonService"
import { initNav34 } from "@/mod/k19/assets/scripts/comTest/public/sy34/frameNav.js"
import EventBus from "scripts/common/EventBus"
export default {
  data() {
    return {
      LogoImgPath: ""
    }
  },
  created: function () {
    this.GetLogoData()
  },
  methods: {
    GetLogoData: async function () {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_PC
      }
      const retData = await CommonService.HomePage_LoadMainPage(DataObj)
      if (retData.Ret === 0) {
        this.LogoImgPath = this.$ResourceCDN + retData.Data.MasterLogo
      } else {
        this.LogoImgPath = localStorage.getItem("LogoImgPath")
      }
    },
    // 点击弹出公告信息弹窗 20191018 ququ
    OpenAnnouncement: function () {
      EventBus.$emit("showAnnouncementWindow")
    }
  },
  computed: {
    announcementOpen() {
      return this.$store.state.announcementOpen
    }
  },
  watch: {
    $route(to, from) {
      if (this.$route.name !== "Index") {
        // 3版导航出现
        $(".main-navList").stop()
        $(".main-navList").animate(
          {
            left: "0"
          },
          500
        )
      }
    }
  },
  mixins: [initNav34]
}
</script>
