<template>
  <!--footer-->
  <div class="footer">
    <!--34版-->
    <div class="footer-wrap-34" style="display: block;">
      <div>
        <router-link
          :to="{ name: 'Index' }"
          style="position: absolute; bottom: 95px; left: 50%; margin-left: 20px;"
        >
          <div class="left-cont-logo">
            <img
              style="max-height: 100px;"
              :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web34/logo.png'"
            />
          </div>
        </router-link>
      </div>
      <div class="footer-leftMain" style="position: relative;">
        <!-- <router-link
          :to="{ name: 'Index'}"
          style="position: absolute;bottom: 95px;left: 50%;margin-left:-120px;"
        >
          <div class="left-cont-logo">
            <img style="max-height: 100px;" :src="this.LogoImgPath" />
              <img style="max-height: 100px;" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/logo.png'" />
          </div>
        </router-link>-->
        <ul>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN + '/PartnerLogo/bglight/v-logo1.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN + '/PartnerLogo/bglight/v-logo4.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN + '/PartnerLogo/bglight/v-logo5.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN + '/PartnerLogo/bglight/v-logo2.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN + '/PartnerLogo/bglight/v-logo3.png'" />
          </li>
        </ul>

        <!--分割线-->
        <span
          style="
            display: block;
            width: 1px;
            height: 40px;
            background: #cfbe9f;
            position: absolute;
            bottom: 0;
            right: -90px;
          "
        ></span>
      </div>
      <div class="footer-rightMain" :class="{ 'footer-rightf': this.$route.name === 'Athletics' }">
        <div class="footer-rightMain-menu">
          <router-link tag="i" :to="{ name: 'AboutUs' }" style="display: none;">
            {{
            $t("message.foot_about_us")
            }}
          </router-link>
          <span class="menu-line" style="display: none;">|</span>
          <router-link tag="i" :to="{ name: 'JoinUs' }">{{ $t("message.foot_agency_cooperation") }}</router-link>
          <span class="menu-line">|</span>
          <router-link tag="i" :to="{ name: 'AboutUs' }">{{ $t("message.foot_about_us") }}</router-link>
          <!-- <span class="menu-line">|</span>
          <a
            tag="i"
            @click="$router.push({path:'Tutorial',query:{navIndex: 2}})"
          >{{$t('message.tutorial_common_problem')}}</a>-->
          <span class="menu-line">|</span>
          <router-link tag="i" :to="{ name: 'Partner' }">
            {{
            $t("message.foot_manufacturer_introduction")
            }}
          </router-link>
          <span class="menu-line">|</span>
          <!-- <router-link tag="i" :to="{name:'ContactUs'}">{{$t('message.foot_contact_us')}}</router-link> -->
          <router-link tag="i" :to="{ name: 'ContactUs' }">{{ $t("message.foot_contact_us") }}</router-link>
          <span class="menu-line">|</span>
          <a tag="i" @click="$router.push({ path: 'Tutorial', query: { navIndex: 2 } })">
            {{
            $t("message.tutorial_common_problem")
            }}
          </a>
        </div>
        <p
          class="footer-rightMain-text"
        >Copyright ©2016 [{{ this.LogoName }}] Powered By [] Version 1.0.0</p>
        <p
          class="footer-rightMain-text"
        >Porhon o1 this sonwate are included under hcense 2016-2216 Urytek, all right reserved.</p>
      </div>
    </div>
  </div>
  <!--footer-->
</template>

<script>
import BKBLDef from "scripts/common/BLDef"
import Vue from "vue"
import CommonService from "scripts/businessLogic/commonService"

export default {
  data() {
    return {
      LogoImgPath: "",
      LogoName: ""
    }
  },
  created: function () {
    this.GetLogoData()
  },
  methods: {
    GetLogoData: async function () {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BKBLDef.PlatformType.Web_PC
      }
      const retData = await CommonService.HomePage_LoadMainPage(DataObj)
      console.log("next")
      if (retData.Ret === 0) {
        this.LogoImgPath = retData.Data.MasterLogo
        this.LogoName = retData.Data.Name
      } else {
        this.LogoImgPath = localStorage.getItem("LogoImgPath")
        this.LogoName = localStorage.getItem("LogoName")
      }
    }
  }
}
</script>
