<!--個人中心左侧导航条-->
<template>
  <div>
    <ul>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webProfitLoss' }]"
        @click="navClick('webProfitLoss')"
      >
        <a :title="$t('message.agency_nav_profitLoss')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m1.png'" />
          <span>{{ $t("message.agency_nav_profitLoss") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webSupervise' }]"
      >
        <a @click="navClick('webSupervise')" :title="$t('message.promotion_management')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m2.png'" />
          <span>{{ $t("message.agency_create_account") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webUserList' }]"
      >
        <a @click="navClick('webUserList')" :title="$t('message.agency_user_list')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m3.png'" />
          <span>{{ $t("message.agency_user_list") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webDetailed' }]"
      >
        <a @click="navClick('webDetailed')" :title="$t('message.agency_accounting_details')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m4.png'" />
          <span>{{ $t("message.agency_accounting_details") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webBettingRecord' }]"
      >
        <a @click="navClick('webBettingRecord')" :title="$t('message.agency_accounting_details')">
          <img
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t3_c5.png'"
          />
          <span>{{ $t("message.member_betting_record") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webRechargeRecord' }]"
      >
        <a @click="navClick('webRechargeRecord')" :title="$t('message.agency_accounting_details')">
          <img
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t3_c6.png'"
          />
          <span>{{ $t("message.agency_recharge_record") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webWithdrawal' }]"
      >
        <a @click="navClick('webWithdrawal')" :title="$t('message.agency_accounting_details')">
          <img
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t3_c7.png'"
          />
          <span>{{ $t("message.member_discount_record") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webCommission' }]"
      >
        <a @click="navClick('webCommission')" :title="$t('message.agency_accounting_details')">
          <img
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t3_c8.png'"
          />
          <span>{{ $t("message.agency_commission_record") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webTransferAccounts' }]"
      >
        <a
          @click="navClick('webTransferAccounts')"
          :title="$t('message.agency_transfer_operation')"
        >
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m5.png'" />
          <span>{{ $t("message.agency_transfer_operation") }}</span>
        </a>
      </li>
      <!-- <li class="list" v-bind:class="{ 'hasblock': agencyName === 'webExtension'}">
        <a @click="navClick('webExtension')" :title="$t('message.agency_extension_scheme')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_m6.png'" />
          <span>{{$t('message.agency_extension_scheme')}}</span>
        </a>
      </li>-->
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webExamine' }]"
      >
        <a @click="navClick('webExamine')" :title="$t('message.agency_audit')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_m7.png'" />
          <span>{{ $t("message.agency_audit") }}</span>
        </a>
      </li>
      <li
        class="list"
        v-bind:class="['list' + $MessageLang, { hasblock: agencyName === 'webTreatment' }]"
      >
        <a @click="navClick('webTreatment')" :title="$t('message.agency_self_treatment')">
          <img
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/general/common/nav_icon/nl_t3_c12.png'"
          />
          <span>{{ $t("message.agency_self_treatment") }}</span>
        </a>
      </li>
    </ul>

    <!--<ul>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberSummary'}">
                <router-link :to="{ name: 'webMemberSummary'}">
                    <i class="personal_icon_1"></i>
                    <span><em>总览</em></span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberProfile'}">
                <router-link :to="{ name: 'webMemberProfile'}">
                    <i class="personal_icon_2"></i>
                    <span>个人资料</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberPrivateMessage'}">
                <router-link :to="{ name: 'webMemberPrivateMessage'}">
                    <i class="personal_icon_3"></i>
                    <span>站內信息</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberBankData'}">
                <router-link :to="{ name: 'webMemberBankData'}">
                    <i class="personal_icon_4"></i>
                    <span>账户资料</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberModifyPassword'}">
                <router-link :to="{ name: 'webMemberModifyPassword'}">
                    <i class="personal_icon_5"></i>
                    <span>修改密码</span>
                </router-link>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberFundManage'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberFundManage')">
                    <i class="personal_icon_6"></i>
                    <span>资金状态</span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberDeposit'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberDeposit')">
                    <i class="personal_icon_7"></i>
                    <span><em>存款</em></span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberWithdrawal'}">
                <a href="javascript:void(0)" @click="CheckLoginStatusBeforeRoute('webMemberWithdrawal')">
                    <i class="personal_icon_8"></i>
                    <span><em>取款</em></span>
                </a>
            </li>
            <li v-bind:class="{ 'hasblock': this.$route.name === 'webMemberTransactionRecord'}">
                <router-link :to="{ name: 'webMemberTransactionRecord'}">
                    <i class="personal_icon_9"></i>
                    <span>记录查询</span>
                </router-link>
            </li>
    </ul>-->
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import EventBus from "scripts/common/EventBus"
import CommonService from "scripts/businessLogic/commonService"
import CommUtility from "scripts/common/CommUtility"

export default {
  data() {
    return {}
  },
  computed: {
    agencyName() {
      return this.$store.state.agencyName
    }
  },
  methods: {
    navClick: function (name) {
      this.$store.dispatch("setAgencyNameText", name)
      CommUtility.WebClosealertboxForm("MessageMemberWindow")
      EventBus.$emit("closeNotifyMemberMessage")
      //   CommUtility.WebCloseALLAlertBoxForm('alert_box_content');
      localStorage.removeItem("CreatedAgencyData")
      localStorage.removeItem("CreatedIBExamineDetailsData")
      localStorage.removeItem("loginIDName")
      localStorage.removeItem("typeLevelName")
      localStorage.removeItem("typeLevelID")
    },
    // 檢查帳號狀態
    CheckLoginStatusBeforeRoute: async function (routeName) {
      const notifyData = {}
      const data = await CommonService.Comm_CheckPermission()
      switch (data.Status) {
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
          this.$router.push({ name: routeName })
          break
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          notifyData.NotifyMessage = this.$t("message.top_account_freezing")
          EventBus.$emit("showNotifyMessage", notifyData)
          break
        default:
          break
      }
    }
  }
}
</script>
