<template>
  <div id="memberMainFrom" class="pub_alert_box per_alert_box" style="display: none;">
    <div class="bg loading_Bg" v-show="ShowLoading === true" style="display: block;"></div>

    <!--操作提示语-->
    <message-member-window></message-member-window>
    <div class="per_content">
      <div class="per_cont_nav">
        <h2 class="per_logo">
          <img
            :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/' + $MessageLang + '/MemberNew/p_title.png'"
          />
        </h2>
        <!--代理中心-->
        <a
          class="agent_btn"
          @click="OpenUserIBRegister()"
          v-if="this.IfAgency === false && this.UserIBStatus !== 2"
        >
          {{
          $t("message.index_agency_application")
          }}
        </a>
        <a class="agent_btn" @click="agencyCenter('webProfitLoss')" v-if="this.IfAgency === true">
          {{
          $t("message.index_agency_center")
          }}
        </a>
        <!--左側導航條-->
        <member-navigator></member-navigator>
      </div>
      <div class="per_cont_main">
        <div class="bg alert_Bg" style="display: none;"></div>
        <span class="per_cont_close" @click="HideEditPhone">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/p_close.png'" />
        </span>
        <div>
          <summary-content v-if="switchName == 'webMemberSummary'"></summary-content>
          <Bank-info v-if="switchName == 'webMemberBankData'"></Bank-info>
          <deposit v-if="switchName == 'webMemberDeposit'"></deposit>
          <!--<deposit-payment v-show="switchName==3"></deposit-payment>-->
          <fundManage v-if="switchName == 'webMemberFundManage'"></fundManage>
          <modify-password v-if="switchName == 'webMemberModifyPassword'"></modify-password>
          <private-message v-if="switchName == 'webMemberPrivateMessage'"></private-message>
          <profile v-if="switchName == 'webMemberProfile'"></profile>
          <transaction-record v-if="switchName == 'webMemberTransactionRecord'"></transaction-record>
          <withdrawal v-if="switchName == 'webMemberWithdrawal'"></withdrawal>
        </div>
      </div>
    </div>

    <!--提示是否成为代理-->
    <div id="AddAgency" class="alert_box_content tel_alert_box re_h" v-if="this.IfAgency === false">
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p class="p_blue">{{ $t("message.index_become_agent") }}？</p>
      </div>
      <div class="pub_btn_both" style="padding-left: 84px;">
        <a
          class="btn2 pre_apply"
          href="javascript:void(0);"
          style="margin-right: 20px;"
          @click="CloseWindow()"
        >
          {{
          $t("message.member_cancel")
          }}
        </a>
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="UserIBRegister()"
        >{{ $t("message.member_ascertain") }}</a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus"
import CommUtility from "scripts/common/CommUtility"
import RegisterService from "scripts/businessLogic/registerService"
import BankInfo from "@/mod/k19/components/main/memberNew/bankInfo"
import Deposit from "@/mod/k19/components/main/memberNew/deposit"
import DepositPayment from "@/components/main/memberNew/depositPayment"
import FundManage from "@/mod/k19/components/main/memberNew/fundManage"
import ModifyPassword from "@/components/main/memberNew/modifyPassword"
import PrivateMessage from "@/mod/k19/components/main/memberNew/privateMessage"
import Profile from "@/components/main/memberNew/profile"
import SummaryContent from "@/components/main/memberNew/summary"
import TransactionRecord from "@/mod/k19/components/main/memberNew/transactionRecord"
import Withdrawal from "@/mod/k19/components/main/memberNew/withdrawal"
import MessageMemberWindow from "@/components/main/memberNew/messageMemberWindow"
//  import BLDef from 'scripts/common/BLDef';
//  import CommonService from 'scripts/businessLogic/commonService';

export default {
  data() {
    return {
      ShowLoading: false,
      IfAgency: false,
      UserIBStatus: localStorage.getItem("IBStatus")
    }
  },
  mounted: function () {
    const self = this
    EventBus.$on("GlobalLoadingTrigger", (flag) => {
      self.ShowLoading = flag
    })
    const CorrelationIBMemberId = localStorage.getItem("CorrelationIBMemberId")
    // -1，表示没有申请过，0: 待審核 1: 待補全 2: 已通過 3: 已拒絕
    console.log("________________________________________in")
    console.log(CorrelationIBMemberId)
    if (CorrelationIBMemberId !== "-1") {
      self.IfAgency = true
    } else {
      self.IfAgency = false
    }
  },
  computed: {
    switchName() {
      return this.$store.state.switchName
    }
  },
  created: function () {},
  methods: {
    // 代理申请 关闭弹窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm("AddAgency")
    },
    OpenUserIBRegister: function () {
      const IBStatus = localStorage.getItem("IBStatus")
      const notifyData = {}
      if (IBStatus === "-1") {
        CommUtility.WebShowAlertboxForm("AddAgency")
      } else {
        notifyData.NotifyMessage = this.$t("message.index_application_submission")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
    },
    // 会员申请成为代理
    UserIBRegister: async function () {
      CommUtility.WebShowAlertboxForm("AddAgency")
      const notifyData = {}
      // 判断用户状态，是否已申请代理或者没有权限成为代理或者允许申请
      // 申请成为代理
      const retData = await RegisterService.UserIBRegister_Add()
      console.log("==========================================2222222")
      console.log(retData)
      if (retData.Ret === 0) {
        localStorage.setItem("IBStatus", 0)
        this.CloseWindow()
        notifyData.NotifyMessage = this.$t("message.index_application_submission")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } else {
        this.CloseWindow()
        notifyData.NotifyMessage = this.$t("message.index_failure_application")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
    },
    agencyCenter: function (data) {
      CommUtility.WebCloseUniqueForm("memberMainFrom") // 页面切换时隐藏弹窗
      this.$store.dispatch("setAgencyNameText", "webProfitLoss")
      EventBus.$emit("personalAgency", data)
    },
    // 開啟彈窗
    ShowEditPhone: function (data) {
      this.switchName = data
      CommUtility.WebShowUniqueForm("memberMainFrom")
    }, // end ShowEditPhone
    // 關閉彈窗
    HideEditPhone: function () {
      CommUtility.WebCloseUniqueForm("memberMainFrom") // 页面切换时隐藏弹窗
    } // end HideEditPhone

    // 檢查登入狀態
    //          CheckIsLogin: async function () {
    //              const data = await CommonService.Comm_CheckPermission();
    //              switch (data.Status) {
    //                  case BLDef.SysAccountStatus.NOT_LOGIN:
    //                      this.IsLogin = false;
    //                      this.$store.dispatch('setLoginFlag', this.IsLogin);
    //                      break;
    //                  case BLDef.SysAccountStatus.LOGINED_ENABLED:
    //                  case BLDef.SysAccountStatus.LOGINED_FROZEN:
    //                      this.IsLogin = true;
    //                      this.$store.dispatch('setLoginFlag', this.IsLogin);
    //                      break;
    //                  default:
    //                      break;
    //              }
    //          },
  },
  components: {
    BankInfo,
    Deposit,
    DepositPayment,
    FundManage,
    ModifyPassword,
    PrivateMessage,
    Profile,
    SummaryContent,
    TransactionRecord,
    Withdrawal,
    MessageMemberWindow
  }
}
</script>
