<template>
  <div class="deposit-content" id="deRemittance-scrollBox">
    <!--选择公司入款形式 2019.02.12 SeyoChen-->
    <div class="select_pay" v-show="BankTrans == false && QRcode == false">
      <h2 class="mr_t10 mr_l20 pre-title">
        <span>选择公司入款方式</span>
      </h2>
      <div class="purple_cont payWay-cont-tab">
        <a @click="SelectTransFun(1)">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/p_bank_card.png?VersionCode'"
          >
          <span class="purple-select" :class="{'sel-on':selectON == 1}"></span>
        </a>
        <a @click="SelectTransFun(2)">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/p_scan_card.png?VersionCode'"
          >
          <span class="purple-select" :class="{'sel-on':selectON == 2}"></span>
        </a>
      </div>
    </div>
    <p class="select_text">请点击以上两种入款方式进行选择，完成入款！</p>
    <!--选择公司入款形式 2019.02.12 SeyoChen end-->

    <div>
                <!-- <p @click="BackLevel()" class="blue_sm blue_sm_mode">返回</p> -->
                <!--公司帳戶資訊-->
                <member-deposit-remittance-income :CurSelectedActivity="this.CurSelectedActivity"></member-deposit-remittance-income>
                <!--<member-deposit-remittance-acct v-show="BankTrans == true && miantainBank == false" :RemittanceBankInfo="this.CurrentPageData.BankInfo"></member-deposit-remittance-acct>-->
                <!--支付宝&微信二维码支付 2019.01.31 SeyoChen-->
                <!--<member-deposit-pay-q-rcode v-show="QRcode == true && miantainCode == false" :RemittanceBankInfo="this.CurrentPageData.BankInfo"></member-deposit-pay-q-rcode>-->
                <member-deposit-pay-q-rcode :RemittanceBankInfo="this.CurrentPageData.BankInfo" :CurSelectedActivity="this.CurSelectedActivity"></member-deposit-pay-q-rcode>
                <!--玩家轉帳資訊-->
                <!--<member-deposit-remittance-form ref="remittance_form" v-show="(miantainBank == false && BankTrans == true) || (miantainCode == false && QRcode == true)" :CurrentPageData="this.CurrentPageData" :CurSelectedActivity="this.CurSelectedActivity"></member-deposit-remittance-form>-->

                <div class="maintain_box" v-show="(miantainBank == true && BankTrans == true && judgeComplete == true) || (miantainCode == true && QRcode == true && judgeComplete == true)">
                    <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/maintain.png?VersionCode'"/>
                </div>
            </div>
    </div>
  </div>
</template>

<script>
import { initDeRt } from '@/mod/k04/assets/scripts/comTest/sub/member/deposit/DepositRemittance.js';
export default {
  mixins: [initDeRt]
};
</script>
