<template>
  <div class="purple_cont mr_t20" id="CompanyDepositAddForm" name="CompanyDepositAddForm">
    <h2 class="mr_t10 mr_l20 pre-title depositRem-title">
      <span>请填写您的转账资料</span>
    </h2>
    <div class="deposit-list personal-list mr_l30">
      <!-- <div class="member-personal-com">
				<span class="member-percom-name">存款限额：</span>
				<div class="member-percom-putBox">
					<i>$1以上</i>
				</div>
      </div>-->
      <div class="member-personal-com">
        <span class="member-percom-name">存入金额：</span>
        <div class="member-percom-putBox">
          <input
            type="text"
            name="DepositAmt"
            v-model="PostDepositData.DepositAmt"
            v-validate="{ rules: { regex:Reg.MoneyAmount, between:[CurrentPageData.MinLimitAmt, CurrentPageData.MaxLimitAmt], required: true }}"
            :placeholder="'每笔金额最低' + CurrentPageData.VMinLimitAmt + ',最高' + CurrentPageData.VMaxLimitAmt"
          />
          <p
            class="tip1 qc-tip"
            v-show="errors.has('DepositAmt') && fields.DepositAmt.touched"
            style="display: block;"
          >仅可以使用数字, 数字范围{{CurrentPageData.VMinLimitAmt}}-{{CurrentPageData.VMaxLimitAmt}}</p>
        </div>
      </div>
      <div class="member-personal-com">
        <span class="member-percom-name">存入时间：</span>
        <!--<input type="text" placeholder="请输入您的存入时间" style="width: 173px;" class="fl">-->
        <div class="member-percom-putBox">
          <datepicker
            class="depositTime"
           :language="$MessageLang"
            v-model="PostDepositData.DepositDate"
            format="yyyy/MM/dd"
            input-class="depositDateInput"
            :disabled="this.CalendarDisabled"
          ></datepicker>
          <span class="time_font">时</span>
          <div class="down deposit-drop">
            <div class="d_course" @click="ShowDropDown('hourBox')">{{PostDepositData.Hours}}</div>
            <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
            <i class="record_iconImg"></i>
            <div class="down_box hourBox">
              <a
                class="down_list"
                v-for="(Item, index) in 24"
                :key="index"
                @click="PostDepositData.Hours=index"
              >{{index}}</a>
            </div>
          </div>
          <span class="time_font">分</span>
          <div class="down deposit-drop">
            <div class="d_course" @click="ShowDropDown('minuteBox')">{{PostDepositData.Minutes}}</div>
            <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
            <i class="record_iconImg"></i>
            <div class="down_box minuteBox">
              <a
                class="down_list"
                v-for="(Item, index) in 60"
                :key="index"
                @click="PostDepositData.Minutes=index"
              >{{index}}</a>
            </div>
          </div>
          <p
            class="tip1 qc-tip"
            v-show="this.Submitted === true && this.PostDepositData.DepositDate === undefined"
            style="clear: both;"
          >请选择存入时间</p>
        </div>
      </div>
      <div class="member-personal-com">
        <span class="member-percom-name">存款人姓名：</span>
        <div class="member-percom-putBox">
          <input
            type="text"
            name="DepositorName"
            v-model="PostDepositData.DepositorName"
            v-validate="{ rules: { regex:Reg.NickName, required: true }}"
          />
          <p
            class="tip1 qc-tip"
            v-show="errors.has('DepositorName') && fields.DepositorName.touched"
            style="display: block;"
          >仅可以使用中英文字母,空白, 字数范围2-50</p>
        </div>
      </div>
      <div class="member-personal-com">
        <span class="member-percom-name">备注：</span>
        <div class="member-percom-putBox">
          <input
            type="text"
            name="Remark"
            v-model="PostDepositData.Remark"
            v-validate="{ rules: { regex:Reg.Remark }}"
          />
          <p
            class="tip1 qc-tip"
            v-show="errors.has('Remark') && fields.Remark.touched"
            style="display: block;"
          >仅可以使用中英文字母,空白, 字数范围2-50</p>
        </div>
      </div>
      <div class="member-personal-com">
        <span class="member-percom-name">存款方式：</span>
        <div class="member-percom-putBox">
          <div class="pay_set set1" style="width:566px">
            <span
              class="atm_s"
              v-for="(item, index) in CurrentPageData.DepositTypeList"
              :id="'deposit-mode'+index"
              :key="index"
              :class="PostDepositData.RemittanceDepositType==item.SettingCode?'on':''"
              @click="SelectRemittanceType(item)"
            >{{item.SettingName}}</span>
          </div>
          <p
            class="tip1 qc-tip"
            v-show="this.Submitted === true && this.PostDepositData.RemittanceDepositType === undefined"
            style="display: block;clear: both;"
          >提示: 选择项不能为空</p>
        </div>
      </div>
      <div
        class="member-personal-com"
        v-if="PostDepositData.RemittanceDepositType==1||PostDepositData.RemittanceDepositType==2||PostDepositData.RemittanceDepositType==3"
      >
        <span
          class="member-percom-name"
          v-show="PostDepositData.RemittanceDepositType==1||PostDepositData.RemittanceDepositType==2"
        >ATM所属分行：</span>
        <span class="member-percom-name" v-show="PostDepositData.RemittanceDepositType==3">银行柜台分行：</span>
        <div class="member-percom-putBox">
          <div class="down remittance-drop first_down">
            <div
              class="d_course"
              @click="ShowDropDown('provinceBox')"
            >{{PostDepositData.BankProvinceModel.Name}}</div>
            <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
            <i class="record_iconImg"></i>
            <div class="down_box provinceBox">
              <a
                class="down_list"
                v-for="(Province, index) in CurrentPageData.ProvinceSelectList"
                :key="index"
                @click="ChangeProvince(Province);"
              >{{Province.Name}}</a>
            </div>
          </div>
          <div class="down remittance-drop">
            <div
              class="d_course"
              @click="ShowDropDown('townBox')"
            >{{PostDepositData.BankCityModel.Name}}</div>
            <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
            <i class="record_iconImg"></i>
            <div class="down_box townBox">
              <a
                class="down_list"
                v-for="(Town, index) in CurrentPageData.TownSelectList"
                :key="index"
                @click="ChangeTown(Town);"
              >{{Town.Name}}</a>
            </div>
          </div>
          <div
            class="down remittance-drop"
            v-show="!(PostDepositData.BankCityModel.Value !== '-1' && CurrentPageData.DistSelectList.length == 1)"
          >
            <div
              class="d_course"
              @click="ShowDropDown('distBox')"
            >{{PostDepositData.BankDistrictModel.Name}}</div>
            <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
            <i class="record_iconImg"></i>
            <div class="down_box distBox">
              <a
                class="down_list"
                v-for="(Dist, index) in CurrentPageData.DistSelectList"
                :key="index"
                @click="ChangeDist(Dist);"
              >{{Dist.Name}}</a>
            </div>
          </div>
          <p class="tip1 qc-tip remittanTip" v-show="DropDownInvalid === true">提示: 选择项不能为空</p>
          <input
            type="text"
            name="BankBranchName"
            v-model="PostDepositData.BankBranchName"
            v-validate="{ rules: { regex:Reg.BankBranchName, required: true }}"
          />
          <p
            class="tip1 qc-tip"
            v-show="errors.has('BankBranchName') && fields.BankBranchName.touched"
            style="display: block;"
          >仅可以使用中英文字母,空白, 字数范围2-50</p>
        </div>
      </div>
      <h4 class="member-btn" style="padding-bottom: 30px;">
        <a class="member-submitBtn" id="company-sure-btn" @click="CheckFormData();">
          <i class="deposit-textBtn">{{$t('message.member_ascertain')}}</i>
        </a>
        <a class="member-cancelBtn" @click="ResetDeposit();">
          <i class="deposit-textBtn">取消</i>
        </a>
      </h4>
    </div>
  </div>
</template>

<script>
import { initDeRf } from '@/assets/scripts/comTest/sub/member/deposit/DepositRemittanceForm.js';
export default {
  mixins: [initDeRf]
};
</script>

<style>
.depositDateInput {
  margin-left: 0 !important;
  float: left !important;
}
.depositDate .vdp-datepicker__calendar {
  top: 34px;
  left: 130px;
}
</style>
