<template>
  <!--新闻中心详情-->
  <div class="content-news_details">
    <!--優惠活動標頭-->
    <activity-detail-header></activity-detail-header>
    <!--優惠活動-->
    <activity-detail-content></activity-detail-content>
  </div>
</template>

<script>
import { ActivityDetails } from '@/assets/scripts/comTest/main/activity/activityListDetails.js';
export default {
  mixins: [ActivityDetails]
};
</script>
