// "VersionNumber": "202005221648"

// ==================简体中文====================//
@import './lessSet.less';

html {
    background: url('@{LessSetCDN}/web25/bg-customized.jpg') top !important;
    background-size: cover !important;
}

// ==================简体中文====================//
// 个人中心详情按钮
.memberNew-record-item_zh {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_zh {
    .swiper-container {
        .swiper-wrapper {
            .athletics- {
                &1 {
                    background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner1.jpg?VersionCode") !important;
                }

                &2 {
                    background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner2.jpg");
                }

                &3 {
                    background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner3.jpg");
                }

                &4 {
                    background: url("@{LessSetCDN}/public/lang/zh/web64_athletics_banner4.jpg");
                }
            }
        }
    }

}

// 厂商介绍
.partner_zh.partner-content {
    background: url('@{LessSetCDN}/web25/lang/zh/partner_bg.png?VersionCode') no-repeat top center;
}

// 维护中按钮多语言
.maintain_box_zh.game-maintain,
.maintain_box_zh.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/zh/maintain_game_play.png?VersionCode')no-repeat top left;
}

//注册成功，返回首页
.success-btn-return_zh {
    background: url("@{LessSetCDN}/web25/lang/zh/layout_h_84.png")no-repeat;

    &:hover {
        background: url("@{LessSetCDN}/web25/lang/zh/layout_h_86.png")no-repeat;
    }
}

.system_zh {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/zh/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/zh/staytuned2.png?VersionCode")no-repeat center;
    }
}

// ==================简体中文 end====================//


// ==================英文====================//
// 个人中心验证提示vi
.email-position .email-explain-box.email-explain-box_en {
    top: -81px;
    right: -23px;
}

// 个人中心详情按钮
.memberNew-record-item_en {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_en {
    .swiper-container {
        .swiper-wrapper {
            .athletics- {
                &1 {
                    background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner1.jpg?VersionCode");
                }

                &2 {
                    background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner2.jpg");
                }

                &3 {
                    background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner3.jpg");
                }

                &4 {
                    background: url("@{LessSetCDN}/public/lang/en/web64_athletics_banner4.jpg");
                }
            }
        }
    }

}

// 厂商介绍
.partner_en.partner-content {
    background: url('@{LessSetCDN}/web25/lang/en/partner_bg.png?VersionCode') no-repeat top center;
}

// 维护中按钮多语言
.maintain_box_en.game-maintain,
.maintain_box_en.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/en/maintain_game_play.png?VersionCode')no-repeat top left;
}

//注册成功，返回首页
.success-btn-return_en {
    background: url("@{LessSetCDN}/web25/lang/en/layout_h_84.png")no-repeat;

    &:hover {
        background: url("@{LessSetCDN}/web25/lang/en/layout_h_86.png")no-repeat;
    }
}

.system_en {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/en/maintenance3.png?VersionCode")no-repeat center;

    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/en/staytuned2.png?VersionCode")no-repeat center;

    }
}

// ==================英文 end====================//

//====================越南语 start================//

// 个人中心验证提示vi
.email-position .email-explain-box.email-explain-box_vi {
    top: -81px;
    right: -23px;
}

// 个人中心详情按钮
.memberNew-record-item_vi {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_vi {
    .swiper-container {
        .swiper-wrapper {
            .athletics- {
                &1 {
                    background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner1.jpg?VersionCode");
                }

                &2 {
                    background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner2.jpg");
                }

                &3 {
                    background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner3.jpg");
                }

                &4 {
                    background: url("@{LessSetCDN}/public/lang/vi/web64_athletics_banner4.jpg");
                }
            }
        }
    }

}

// 厂商介绍
.partner_vi.partner-content {
    background: url('@{LessSetCDN}/web25/lang/vi/partner_bg.png?VersionCode') no-repeat top center;
}

// 维护中按钮多语言
.maintain_box_vi.game-maintain,
.maintain_box_vi.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/vi/maintain_game_play.png?VersionCode')no-repeat top left;
}

//注册成功，返回首页
.success-btn-return_vi {
    background: url("@{LessSetCDN}/web25/lang/vi/layout_h_84.png")no-repeat;

    &:hover {
        background: url("@{LessSetCDN}/web25/lang/vi/layout_h_86.png")no-repeat;
    }
}

.system_vi {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/vi/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/vi/staytuned2.png?VersionCode")no-repeat center;
    }
}

//====================越南语 end==================//

//===================繁体中文 start ===========//


// 个人中心详情按钮
.memberNew-record-item_tw {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

// 电子竞技
.athletics_tw {
    .swiper-container {
        .swiper-wrapper {
            .athletics- {
                &1 {
                    background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner1.jpg?VersionCode");
                }

                &2 {
                    background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner2.jpg");
                }

                &3 {
                    background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner3.jpg");
                }

                &4 {
                    background: url("@{LessSetCDN}/public/lang/tw/web64_athletics_banner4.jpg");
                }
            }
        }
    }
}

// 厂商介绍
.partner_tw.partner-content {
    background: url('@{LessSetCDN}/web25/lang/tw/partner_bg.png?VersionCode') no-repeat top center;
}

// 维护中按钮多语言
.maintain_box_tw.game-maintain,
.maintain_box_tw.eg-big-play {
    background: url('@{LessSetCDN}/public/lang/tw/maintain_game_play.png?VersionCode')no-repeat top left;
}

//注册成功，返回首页
.success-btn-return_tw {
    background: url("@{LessSetCDN}/web25/lang/tw/layout_h_84.png")no-repeat;

    &:hover {
        background: url("@{LessSetCDN}/web25/lang/tw/layout_h_86.png")no-repeat;
    }
}

.system_tw {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/tw/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/tw/staytuned2.png?VersionCode")no-repeat center;
    }
}

//===================繁体中文 end==============//
/*非多语言部分  --start----*/

.theme25 {

    /*首页轮播背景*/
    .swiper-slide:nth-child(1) {
        background-image: url("@{LessSetCDN}/web25/layout/homeBg1.jpg");
    }

    .swiper-slide:nth-child(2) {
        background-image: url("@{LessSetCDN}/web25/layout/homeBg2.jpg");

    }

    .swiper-slide:nth-child(3) {
        background-image: url("@{LessSetCDN}/web25/layout/homeBg3.jpg");
    }

    .swiper-slide:nth-child(4) {
        background-image: url("@{LessSetCDN}/web25/layout/homeBg4.jpg");
    }

    .swiper-slide:nth-child(5) {
        background-image: url("@{LessSetCDN}/web25/layout/homeBg5.jpg");
    }

    /*关于我们*/
    .general-about-content {

        background:url('@{LessSetCDN}/web25/layout/aboutBg.jpg?VersionCode') no-repeat;
    }

    /*代理加盟表格*/
    .join-content {
        background:url('@{LessSetCDN}/web25/join/join-bg.png?VersionCode') no-repeat;
    }

    /*联系我们*/
    .contact-content {
        background:url('@{LessSetCDN}/web25/contact/contact-bg.png?VersionCode') no-repeat;
    }

    /*新手教程*/
    .tutorial_cont {
        background: url('@{LessSetCDN}/web25/layout/aboutBg.jpg')no-repeat;
    }

    .pub_alert_box .descr_title a.icon_close {
        background: url('@{LessSetCDN}/web25/web/icon_close.png?VersionCode') no-repeat;
    }

    .sum_alert_box .icon_download {
        background: url('@{LessSetCDN}/web25/icon_download.png?VersionCode') no-repeat;
    }

    .free_con {
        background: url("@{LessSetCDN}/web25/freeTrial_bg.png") no-repeat 100% 100%;
    }

    /*登录&注册&注册成功&用户协议*/
    .login-register-content {
        background: url("@{LessSetCDN}/web25/layout/loginBg.jpg")no-repeat top center;
    }

    .a-j-lists .proxy-com .proxy-line i.a-j-downimg {
        background: url('@{LessSetCDN}/web25/join/down.png?VersionCode') no-repeat right center;
    }

    .join-content .join-page .join-main-content .join-cont-title .join-return {
        background:url('@{LessSetCDN}/web25/layout/h_80.png?VersionCode') no-repeat;
    }

    .popup-content .close-the-window {
        background: url("@{LessSetCDN}/web25/close.png")no-repeat;
    }

    .public-bombox {
        background: url("@{LessSetCDN}/web25/frame-box1.png")no-repeat top center;
    }

    .per_bombox .bomsurebtn,
    .per_bombox .bomsurebtn01,
    .per_bombox .bomsurebtn02 {
        background: url("@{LessSetCDN}/web25/bomsurebtn.png")no-repeat center;
    }

    .public-navs li.on,
    .public-navs li:hover {
        background: url("@{LessSetCDN}/web25/hover.png")no-repeat;
    }

    .public-content {
        background: url("@{LessSetCDN}/web25/farme.png")no-repeat;
    }

    .tip1 {
        background: url("@{LessSetCDN}/web25/tip.png") no-repeat;
    }

    .ele-search .ele-search-btn {
        background: url('@{LessSetCDN}/web33/PT_H5/search.png?VersionCode')no-repeat left center;
    }

    .news-close {
        background: url('@{LessSetCDN}/web25/layout/h_30.png?VersionCode') no-repeat;
    }

    .tutorial_left_navs li a i {
        background: url('@{LessSetCDN}/web25/tutorial/slash.png')no-repeat;
    }

    .news-lists .news-li {
        .news-img {
            &:after {
                background:url('@{LessSetCDN}/web25/layout/h_111.png?VersionCode') no-repeat center;
            }
        }
    }

    //暂无优惠活动
    .activity-content .no-activity-img {
        background: url('@{LessSetCDN}/public/no_activity_404.png?VersionCode') no-repeat center;
    }

    .activity-popup-content {
        .activity-close {
            background: url('@{LessSetCDN}/web25/layout/h_30.png?VersionCode') no-repeat;
        }
    }

    //代理加盟
    .general-about-content {
        background:url('@{LessSetCDN}/web25/layout/aboutBg.jpg?VersionCode') no-repeat;
    }

    .join-content {
        background:url('@{LessSetCDN}/web25/join/join-bg.png?VersionCode') no-repeat;
    }

    .contact-content {
        background:url('@{LessSetCDN}/web25/contact/contact-bg.png?VersionCode') no-repeat;
    }

    //关于我们 选择我们十大放心理由图标
    .general-about-content .about-list-block .about-list {
        li:nth-child(1) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason1.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(2) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason2.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(3) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason3.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(4) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason4.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(5) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason5.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(6) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason6.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(7) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason7.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(8) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason8.png?VersionCode') no-repeat center;
            }
        }

        li:nth-child(9) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason9.png?VersionCode') no-repeat center;

            }
        }

        li:nth-child(10) {
            .about-list-img {
                background: url('@{LessSetCDN}/web25/about/icon_reason10.png?VersionCode') no-repeat center;
            }
        }
    }

    /*新手教程游戏规则*/
    .tutorial_cont {
        background: url('@{LessSetCDN}/web25/layout/aboutBg.jpg')no-repeat;
    }

    // 背景替换img
    .tutorialPic_1 {
        background: url('@{LessSetCDN}/web25/pic_1.jpg');
    }

    .tutorialPic_2 {
        background: url('@{LessSetCDN}/web25/pic_2.jpg');
    }

    .tutorialPic_3 {
        background: url('@{LessSetCDN}/web25/pic_3.jpg');
    }

    .tutorialPic_4 {
        background: url('@{LessSetCDN}/web25/pic_4.jpg');
    }

    .tutorialPuke_1 {
        background: url('@{LessSetCDN}/web25/puke_1.png');
    }

    .tutorialPuke_2 {
        background: url('@{LessSetCDN}/web25/puke_2.png');
    }

    .tutorialPuke_3 {
        background: url('@{LessSetCDN}/web25/puke_3.png');
    }

    .tutorialPuke_4 {
        background: url('@{LessSetCDN}/web25/puke_4.png');
    }

    .tutorialRule_img_1 {
        background: url('@{LessSetCDN}/web25/rule_img_1.jpg');
    }

    .tutorialRule_img_2 {
        background: url('@{LessSetCDN}/web25/rule_img_2.jpg');
    }

    .tutorialRule_img_3 {
        width: 740px;
        height: 268px;
        background: url('@{LessSetCDN}/web25/rule_img_3.jpg');
    }

    .tutorialRule_img_4 {
        background: url('@{LessSetCDN}/web25/rule_img_4.jpg');
    }

    .tutorialRule_img_5 {
        background: url('@{LessSetCDN}/web25/rule_img_5.jpg');
    }

    .tutorialRule_img_6 {
        background: url('@{LessSetCDN}/web25/rule_img_6.jpg');
    }
}

#AnnouncementWindow .left-section li {
    &.on {
        .active {
            background: url('@{LessSetCDN}/announcement/left_active02.png?VersionCode') no-repeat;
        }
    }
}

// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
    a {
        background: url("@{LessSetCDN}/MemberNew/table_bg_no.png")no-repeat left center;
    }

    a.on {
        background: url("@{LessSetCDN}/MemberNew/table_bg_on.png")no-repeat left center;
    }
}

.classification-cont-table table {
    .explain-lv {
        .explain-lv-icon {
            background: url("@{LessSetCDN}/MemberNew/lv.png") no-repeat left center;
        }

        .explain-lv-ten0 {
            background: url("@{LessSetCDN}/MemberNew/0.png") no-repeat left center;
        }

        .explain-lv-ten1 {
            background: url("@{LessSetCDN}/MemberNew/1.png") no-repeat left center;
        }

        .explain-lv-ten2 {
            background: url("@{LessSetCDN}/MemberNew/2.png") no-repeat left center;
        }

        .explain-lv-ten3 {
            background: url("@{LessSetCDN}/MemberNew/3.png") no-repeat left center;
        }

        .explain-lv-ten4 {
            background: url("@{LessSetCDN}/MemberNew/4.png") no-repeat left center;
        }

        .explain-lv-ten5 {
            background: url("@{LessSetCDN}/MemberNew/5.png") no-repeat left center;
        }

        .explain-lv-ten6 {
            background: url("@{LessSetCDN}/MemberNew/6.png") no-repeat left center;
        }

        .explain-lv-ten7 {
            background: url("@{LessSetCDN}/MemberNew/7.png") no-repeat left center;
        }

        .explain-lv-ten8 {
            background: url("@{LessSetCDN}/MemberNew/8.png") no-repeat left center;
        }

        .explain-lv-ten9 {
            background: url("@{LessSetCDN}/MemberNew/9.png") no-repeat left center;
        }
    }
}

.a-j-lists .proxy-line i {
    background: url('@{LessSetCDN}/web/agent/xiala.png') no-repeat;
}

.service-list-box .qq_list li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq.png") no-repeat;
}

.service-jiao {
    background: url("@{LessSetCDN}/web/frame/icon_rt.png") no-repeat;
}

.service-list-box .qq_list li.last_li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq1.png") no-repeat;
}

.number-page-btn {
    background: url("@{LessSetCDN}/web/public/page-left.png")no-repeat;
}

.number-page-right {
    background: url("@{LessSetCDN}/web/public/page-right.png")no-repeat;
}

.video_con {
    background:url("@{LessSetCDN}/web/liveVideo/bg.png") no-repeat;
}

.computer_con {
    background: url("@{LessSetCDN}/web/electronic/electronic-bg.png")no-repeat;
}

.c-g-content {
    background: url("@{LessSetCDN}/web/electronic/c-g-frame.png")no-repeat;
}

.cg-game-menu a span {
    background: url("@{LessSetCDN}/web/electronic/game-btn.png")no-repeat;
}

// electronic end

// sport

.sports_con {
    background: url("@{LessSetCDN}/web/sportsBetting/bg.png");
}

// sport end

// lottery

.lottery_con {
    background: url("@{LessSetCDN}/web/lottery/bg.png")no-repeat;
}

// lottery end

// news

.news_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
    height: 1267px;
}

// news end

// activity

.activity_details_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
}

.a-n-content .anbtn {
    background: url("@{LessSetCDN}/web/public/hover.png")no-repeat;
}

.activity_con .banner .actbtn {
    background: url("@{LessSetCDN}/web/activities/actbtn.png")no-repeat;
}

// activity end

// mobileApp

.mobile-main .wordbtn b {
    background:url("@{LessSetCDN}/web/mobileBetting/right.png")no-repeat;
}

.mobile-main .mobile-text .mt-join a {
    background: url("@{LessSetCDN}/web/mobileBetting/kuang.png")no-repeat;
}

// mobileApp end

// aboutUs

.about_con {
    background: url("@{LessSetCDN}/web/aboutUs/bg.png");
}

// aboutUs end

// partner

.introduct_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

// partner end

// agent

.agent_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent-content>h2 a {
    background: url("@{LessSetCDN}/web/agent/agentbtn.png")no-repeat;
}

// agent end

// Join

.agent_join_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent_join_content .agent_join_main {
    background: url("@{LessSetCDN}/web/agent/frame.png");
}

.a-j-lists .proxy-line i {
    background: url("@{LessSetCDN}/web/agent/xiala.png")no-repeat;
}

.a-j-cont .a-c-submit {
    background: url("@{LessSetCDN}/web/agent/a-surn.png")no-repeat top center;
}

/*公告*/
#AnnouncementWindow {
    .window-title {
        background: url('@{LessSetCDN}/announcement/head.png?VersionCode') no-repeat;
    }

    .icon_close {
        background: url('@{LessSetCDN}/announcement/close.png?VersionCode') no-repeat;
    }

    .content-area {
        .left-section {
            ul {
                li {
                    &.on {
                        .active {
                            background: url('@{LessSetCDN}/announcement/left_active02.png?VersionCode') no-repeat;
                        }
                    }
                }
            }
        }
    }
}

/*客服*/
.service-content {
    .service-cont-item {
        .service-cont-list {
            background: url("@{LessSetCDN}/general/common/index_img36.png?VersionCode") no-repeat top center;

            a {
                &:hover {
                    background: url("@{LessSetCDN}/general/common/index_img37.png?VersionCode") no-repeat top center;
                }
            }

        }
    }

}

/*登录后头部*/
.headerChild-content .main-formBox-lg .login-after {
    a .heMail {
        background: url("@{LessSetCDN}/general/common/Mail.png") no-repeat;
    }

    a.refresh-account,
    a.rotateLoop {
        background: url("@{LessSetCDN}/general/common/refresh_personal.png") no-repeat;
    }

    a.user {
        background: url("@{LessSetCDN}/web25/public/user_icon.png") no-repeat left;
    }

    a.deposit {
        background: url("@{LessSetCDN}/web25/public/deposit_icon.png") no-repeat left;
    }
}

// 忘记密码
.headerChild-content .main-formBox-lg .unlisted-content .lg-boxItem .lg-box-list .forget-pswText {
    background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
}

.liveAbnormal {
    &.live-expect {
        background: url("@{LessSetCDN}/general/common/liveVideo/15.png?VersionCode")no-repeat center !important;
    }
}

.sportAbnormal {
    &.sport-expect {
        .sport-logo-wrap {
            background: url("@{LessSetCDN}/general/common/sport/11.jpg?VersionCode")no-repeat center !important;
        }
    }
}

.lotteryAbnormal {
    &.lottery-expect {
        background: url("@{LessSetCDN}/general/common/lottery/10.jpg?VersionCode")no-repeat center !important;
    }
}

.pokerAbnormal {
    &.poker-expect {
        background: url("@{LessSetCDN}/general/common/poker/15.jpg?VersionCode")no-repeat center !important;
    }
}

.catchfishAbnormal {
    &.catchfish-expect {
        background: url("@{LessSetCDN}/general/common/catchfish/1.jpg?VersionCode")no-repeat center !important;
    }
}

.language .down i.flagDown {
    background: url('@{LessSetCDN}/web25/public/flag_1.png')no-repeat;
}

.language .down i.iconDown {
    background: url('@{LessSetCDN}/web25/member/icon_down.png')no-repeat;
}

.indexNew-wrapContent {
    .game-GameTypeNo {
        background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
    }
}

.list-tip {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.classification-tab {
    a {
        background: url("@{LessSetCDN}/MemberNew/table_bg_no.png")no-repeat left center;
    }

    a.on {
        background: url("@{LessSetCDN}/MemberNew/table_bg_on.png")no-repeat left center;
    }
}

.eye-btn {
    background: url("@{LessSetCDN}/public/eye_close.png?VersionCode") no-repeat center center;
}

.eye-btn.on {
    background: url("@{LessSetCDN}/public/eye_open.png?VersionCode") no-repeat center center;

}

.popup-content .close-the-window {
    background: url("@{LessSetCDN}/web/public/close.png")no-repeat;
}

.public-bombox {
    background: url("@{LessSetCDN}/public/frame-box1.png")no-repeat top center;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
    background: url("@{LessSetCDN}/public/bomsurebtn.png")no-repeat center;
}

.public-navs li.on,
.public-navs li:hover {
    background: url("@{LessSetCDN}/public/hover.png")no-repeat;
}

/*内容框*/
.public-content {
    background: url("@{LessSetCDN}/public/farme.png")no-repeat;
}

.public-page-left {
    background: url("@{LessSetCDN}/public/previous.png")no-repeat;
}

.public-page-right {
    background: url("@{LessSetCDN}/public/naxt.png")no-repeat;
}

.tip1 {
    background: url("@{LessSetCDN}/public/tip.png?VersionCode") no-repeat;
}

.LoadBox .LoadIcon {
    background: url("@{LessSetCDN}/public/loading3.png") no-repeat center center;

}

/*非多语言部分  --end----*/
.wrap .pub_alert_box.per_alert_box {
    background: url("@{LessSetCDN}/MemberNew/memberBg.png") no-repeat;
}

.wrap .recent_record_list .table_guide .btn_refresh {
    background: url("@{LessSetCDN}/MemberNew/p_freshen.png") no-repeat;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat center left;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat center left;
}

.wrap .tip1 {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.wrap .online_cont .online-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .online_cont .online-select.on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select.sel-on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .li_pay_set .input_rt .pay_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .li_pay_set .input_rt .pay_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

// 错误提示
.wrap .tip-error {
    background: url("@{LessSetCDN}/MemberNew/error_icon.png") no-repeat center center;
}

//代理中心
.wrap .pub_alert_box.per_alert_box.agency_alert_box {
    background: url("@{LessSetCDN}/agencyCenter/agencyBg.png") no-repeat;
}

.wrap .profitLoss-top-list.item1 {
    background: url("@{LessSetCDN}/agencyCenter/a_item1.png") no-repeat;
}

.wrap .profitLoss-top-list.item2 {
    background: url("@{LessSetCDN}/agencyCenter/a_item2.png") no-repeat;
}

.wrap .profitLoss-top-list.item3 {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

.wrap .profitLoss-top-list.item4 {
    background: url("@{LessSetCDN}/agencyCenter/a_item4.png") no-repeat;
}

/************代理 用户列表***************/
.wrap .agency-balance {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

/*电子竞技*/
.athletics-content {
    .athletics-cont-banner {
        .swiper-container {
            .swiper-wrapper {
                .athletics-1:nth-child(1) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner1.jpg");
                }

                .athletics-2:nth-child(2) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner2.jpg");
                }

                .athletics-3:nth-child(3) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner3.jpg");
                }

                .athletics-4:nth-child(4) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner4.jpg");
                }
            }
        }
    }
}

.wrap .alert_box_content .descr_title a.icon_close {
    background: url("@{LessSetCDN}/MemberNew/icon_close.png?VersionCode") no-repeat;
}

//存款方式
.depositMethod-main {
    background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img26.png?VersionCode")no-repeat left center;
}

//首页热门游戏内容
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
        }
    }
}

//客服
.service-content {
    .service-cont-item {
        .service-cont-list {
            background: url("@{LessSetCDN}/public/index_img36.png?VersionCode") no-repeat top center;

            a {
                &:hover {
                    background: url("@{LessSetCDN}/public/index_img37.png?VersionCode") no-repeat top center;
                }
            }
        }
    }
}

.per_cont_main .purple_cont .card-content {
    .card-cont-list {
        background: url("@{LessSetCDN}/MemberNew/bankInfoCardList.png") no-repeat left;
    }
}


//进入游戏后的playMyGame页面
.playMyGame-content {
    .ele-scroll {
        .ele-logo-lists {
            .ele-logo-li {
                .eg-big-play {
                    background: url('@{LessSetCDN}/web60/electronicGames/maintain_game_play.png?VersionCode') no-repeat top left;
                }

                a {
                    span {
                        background: url('@{LessSetCDN}/web60/electronicGames/game-btn.png') no-repeat;
                    }
                }
            }
        }
    }
}

//公告样式
.marquee-content {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;
}

.header-marquee {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;

    .header-marquee-icon {
        background: url("@{LessSetCDN}/web00/indexNew/marquee.png")no-repeat center;
    }
}

// 个人中心-总览改版  20200109
.memberNew-record-newCon {
    .memberNew-newCon-privilege {
        background: url("@{LessSetCDN}/MemberNew/levelBg.png") no-repeat left;

        .privilege-lfCon {
            .privilege-lfCon-identifying {
                background: url("@{LessSetCDN}/MemberNew/levelIcon.png") no-repeat left;
            }
        }
    }

    .memberNew-newCon-score {
        background: url("@{LessSetCDN}/MemberNew/scoreBG.png") no-repeat left;
    }
}

// web/general/common/public.less

//登录注册充值公共部分样式
.headerChild-content {
    .main-formBox-lg {

        //未登录
        .unlisted-content {
            .lg-boxItem {
                .lg-box-list {
                    .forget-pswText {
                        background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
                        background-size: auto 100%;
                    }
                }

            }
        }

        //已登录
        .login-after {
            a {
                .heMail {
                    background: url("@{LessSetCDN}/general/common/mailbox-icon.png") no-repeat center center;
                }
            }

            a.user {
                background: url("@{LessSetCDN}/general/common/user_icon.png") no-repeat left;
            }

            a.deposit {
                background: url("@{LessSetCDN}/general/common/deposit_icon.png") no-repeat left;
            }

            // a.account {
            //   background: url("@{LessSetCDN}/general/common/account-icon.png") no-repeat left;
            // }
            a.refresh-account,
            a.rotateLoop {
                background: url("@{LessSetCDN}/general/common/refresh-icon.png") no-repeat center center;
            }

            .unread {
                background: url("@{LessSetCDN}/general/common/circle.png") no-repeat center center;
                background-size: 100%;
            }
        }

        .lg-boxPut-btn {
            .lg-boxPut-recharge {

                a {
                    background: url("@{LessSetCDN}/general/common/ix_new_img4.png?VersionCode") no-repeat top;
                    background-size: 100% 100%;
                }
            }
        }

    }
}


//导航
.nav {
    background: url("@{LessSetCDN}/general/common/nav-bg.png?VersionCode") no-repeat center;
}

.nav li a i {
    background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
}


// 导航结束

//热门游戏
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
            background-size: 100%;
        }
    }
}

//手机投注 20190916 semi-sugar
.phoneBeting-content {
    background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img56.png")no-repeat center;
    background-size: 100%;

    .phoneBeting-cont-code {
        .code2-img {
            .code2-img-text {
                background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img54.png")no-repeat center;
                background-size: 100%;
            }
        }
    }
}



//u站导航
.uheader {
    background: url('@{LessSetCDN}/navNew/newLogoBg.png') no-repeat center 27px;

    .uheader-top {

        //弃用 semi-sugar 20191031
        .newHeader-content {
            .unread {
                background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
                background-size: 100%;
            }

            .logined-after {
                a {
                    &.deposit {
                        background: url("@{LessSetCDN}/web/frame/deposit_icon.png?VersionCode") no-repeat left;
                    }

                    &.user {
                        background: url("@{LessSetCDN}/web/frame/user_icon.png?VersionCode") no-repeat left;
                    }
                }
            }

            .newHeader-cont-warp {
                .newHeader-cont-login {
                    background: url("@{LessSetCDN}/navNew/index_new_img4.png");
                    background-size: 100% 100%;
                }

                .newHeader-cont-register {
                    background: url("@{LessSetCDN}/navNew/index_new_img5.png");
                    background-size: 100% 100%;
                }
            }

            .newHeader-cont-recharge {
                background: url("@{LessSetCDN}/navNew/index_new_img6.png");
                background-size: 100% 100%;
            }
        }
    }
}

// 个人中心背景图 ===== end

//主版导航
.pg-header {
    .main-navNew {
        background: url("@{LessSetCDN}/general/common/navNew_bg.png?VersionCode") no-repeat top center;

        .navNew-List {
            a {
                i {
                    background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
                }
            }
        }
    }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
    background: url("@{LessSetCDN}/navNew/navNew_img1.png")no-repeat center;
    background-size: 100% 100%;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li:hover {
    background: url("@{LessSetCDN}/navNew/navNew_img2.png")no-repeat center;
    background-size: 100% 100%;
}

// web/general/common/public.less end

// 公告信息
#AnnouncementWindow .window-title {
    background: url("@{LessSetCDN}/announcement/header_bg07.png") no-repeat;
}

#AnnouncementWindow .ann_icon_close {
    // background: url("@{LessSetCDN}/announcement/close.png") no-repeat;
}

// 总览按钮
.privilege-lfCon-identifying_zh {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_vi {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_tw {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_en {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
    }
}

// 个人中心补漏
.wrap .tip-trans {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat left center;
}

// VVN 客制版本
// .server_list {
//     background: url("@{LessCustomized}/Customized/VVN/images/serve/server_bg.png") no-repeat left center;
// }

// .server_list_hover {
//     &:hover {
//         background: url("@{LessCustomized}/Customized/VVN/images/serve/server_bg_on.png") no-repeat left center;
//     }
// }
