.theme25{
    .tutorial_cont {
        height: 960px;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top:100px;
    }

    .tutorial-content {
        overflow: hidden;
        width: 1100px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.63);
        margin-top: 170px;
        height: 700px;
    }

    .tutorial_cont .banner video {
        display: none;
    }

    .banner_ul {
        display: none;
    }

    .tutorial-main {}

    .tutorial-main>div {
        overflow: hidden;
    }

    .tutorial-navs {
        width: 100%;
        height: 64px;
        line-height: 64px;
        font-size: 16px;
        color: #ffffff;
        border-bottom: 1px solid #373838;
        cursor: pointer;
    }

    .tutorial-navs li.on,
    .tutorial-navs li:hover {
        border-bottom: 2px solid #c89124 !important;
    }

    .tutorial-navs>li {
        display: inline-block;
        height: 63px;
        min-width: 100px;
        margin: 0 15px;
        text-align: center;
        border-bottom: 2px solid transparent;
    }

    .tutorial_left_navs {
        margin-left: 32px;
        position: relative;
        margin-top: 50px;
    }

    .tutorial_left_navs li {
        float: left;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

    .tutorial_left_navs li:hover,
    .tutorial_left_navs li.on {
        color: #cbc7d9;
    }

    .tutorial_left_navs li a {
        display: block;
        color: #fff;
    }

    .tutorial_left_navs li:hover a,
    .tutorial_left_navs li.on a {
        color: #b28122;
    }

    .tutorial_left_navs li a i {
        width: 7px;
        height: 15px;
        display: block;
        float: left;
        margin: 4px 3px 0 3px;
    }

    .tutorial_left_navs li:nth-child(1) a i {
//      background: none;
    }
    .skill_icon_1,.problem_icon_1{
        background: none!important;
    }
    .sp_down,.cp_down{
        float: left;
    }
    .tutorial-conBox {
        margin-left: 46px;
    }

    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }

    .tutorial-inside {
        float: left;
        width: 1030px;
        height: 500px;
        // padding: 0 50px;
        margin-top: 30px;
    }

    .tutorial-inside .tutorial-box {
        width: 96%;
    }

    .tutorial-inside .tutorial-box h2 {
        width: 100%;
        height: 38px;
    }

    .tutorial-inside .tutorial-box h2 span {
        color: #a6acff;
        font-size: 18px;
        padding-left: 18px;
        font-style: italic;
    }

    .tutorial-inside .tutorial-text h3 {
        font-size: 16px;
        color: #bb9e65;
        margin-bottom: 20px;
    }

    .tutorial-inside .tutorial-text p {
        padding-left: 5px;
        font-size: 14px;
        line-height: 27px;
        color: #b8b8b8;
    }

    .tutorial-inside .tutorial-text {
        margin-bottom: 18px;
        padding-bottom: 17px;
        border-bottom: 1px dotted #aea286;
    }

    .tutorial-text span {
        display: none;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text {
        border-bottom: none;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text p,
    .tutorial-gamerule .gamerule-box .gamerule-text h3 {
        color: #77779b;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text img {
        margin: 30px 0;
    }

    .tutorial_tit_el {
        display: none;
    }

    .tutorial-navs .tutorial_tit a {
        color: #fff;
    }

    // 遮罩
    .tutorialShade {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }

    // 游戏规则
    .GameRules_title {
        text-align: center;
        color: #b28122;
    }

    .GameRules_title_el {
        text-align: center;
        color: #b28122;
        margin-top: 15px;
        font-size: 14px;
    }

    .GameRules_center_p {
        font-size: 16px;
        color: #604822;
        line-height: 29px;
        text-indent: 30px;
        margin-top: 20px !important;
        text-align: center;
    }

    .GameRules_mt25 {
        margin-top: 25px;
    }

    .GameRules_guide {
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: #fdf9e9;
        overflow: hidden;
    }

    .GameRules_guide>span {
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: #232a3a;
        border-right: 1px dashed #2b3154;
    }

    .GameRules_guide_cont {
        font-size: 14px;
        color: #232a3a;
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center
    }

    .GameRules_smoll_p {
        color: #b28122;
        margin-left: 158px;
        margin-top: 20px;
    }

    .GameRules_ty_p {
        color: #604822;
        line-height: 30px;
        font-size: 13px;
        font-weight: bold;
    }

    .GameRules_center_img {
        display: block;
        margin: 20px auto 0;
    }

    .GameRules_table {
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
    }

    .GameRules_table li {
        height: 70px;
        line-height: 70px;
        border-bottom: 1px solid #604822;
        border-right: 1px solid #604822;
        font-size: 14px;
        color: #604822;
        text-align: center;
        overflow: hidden;
    }

    .GameRules_table_faseli {
        height: 48px !important;
        line-height: 48px !important;
        background: #a7985e !important;
    }

    .GameRules_table_faseli p {
        line-height: 23px !important;
    }

    .GameRules_table_ul1 {
        float: left;
        width: 120px;
    }

    .bigwidth {
        width: 350px !important;
    }

    .GameRules_li_p {
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }

    .width358 {
        width: 358px;
    }

    .GameRules_no_center {
        text-align: left;
        margin-left: 150px;
        margin-top: 0;
    }

    .GameRules_ml200 {
        margin-left: 200px;
    }

    .GameRules_nomt {
        margin-top: 0 !important;
    }

    .tutorial_abslut_ul {
        position: absolute;
        z-index: 9;
    }

    .tutorial_abslut_ul>li {
        float: none;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 16px;
        border: none;
        width: 80px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        vertical-align: top;
//      background: #de9939;
    }

    .tutorial_abslut_ul>li a {
        color: #000;
    }

    .tutorial_abslut_ul>li:hover a,
    .tutorial_abslut_ul>li.on a {
//      color: #fff !important;
    }

    .tutorial_abslut_ul>li i {
        display: none !important;
    }

    .tutorial_abslut_1 {
        top: 25px;
        left: 231px;
    }

    .tutorial_abslut_2 {
        top: 25px;
        left: 154px;
    }

    .BettingSkills_no {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }

    .BettingSkills_on {
        transition: 0.3s;
        height: auto;
    }

    .bettingSkill_box {
        overflow: hidden;
    }

    .bettingSkill_box img {
        margin-top: 20px;
    }

    .bettingSkill_box p {
        overflow: hidden;
    }

    .bettingSkill_box p>span:nth-child(1) {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
    }

    .bettingSkill_box p>span:nth-child(2) {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
    }

    .bettingSkill_cp {
        line-height: 26px;
        font-size: 14px;
        color: #b28122;
    }

    .sportsSkill_chren {
        margin-left: 1px;
    }

    .sportsSkill_chren>li {
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #ff8400;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
//      background: #de9939;
    }

    .sportsSkill_chren>li a {
        color: #000;
    }

    .sportsSkill_chren>li:hover a {
//      color: #fff;
    }

    .sportsSkill_chren_01>p {
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .sonname,
    .grandsonname {
        display: none
    }

    .sonname>li,
    .grandsonname>li {
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
//      background: #de9939;
    }

    .sonname>li:hover,
    .grandsonname>li:hover {
//      background: #bd6d40;
    }

    .sportsSkill_jsonp {
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
    }

    // 背景替换img
    .tutorialPic_1 {
        width: 690px;
        height: 354px;
    }

    .tutorialPic_2 {
        width: 690px;
        height: 352px;
    }

    .tutorialPic_3 {
        width: 690px;
        height: 360px;
    }

    .tutorialPic_4 {
        width: 673px;
        height: 360px;
    }

    .tutorialPuke_1 {
        width: 428px;
        height: 69px;
    }

    .tutorialPuke_2 {
        width: 211px;
        height: 69px;
    }

    .tutorialPuke_3 {
        width: 211px;
        height: 69px;
    }

    .tutorialPuke_4 {
        width: 351px;
        height: 257px;
    }

    .tutorialRule_img_1 {
        width: 602px;
        height: 914px;
    }

    .tutorialRule_img_2 {
        width: 602px;
        height: 410px;
    }

    .tutorialRule_img_3 {
        width: 740px;
        height: 268px;
    }

    .tutorialRule_img_4 {
        width: 740px;
        height: 415px;
    }

    .tutorialRule_img_5 {
        width: 740px;
        height: 491px;
    }

    .tutorialRule_img_6 {
        width: 740px;
        height: 195px;
    }

}
