.theme25 {
    .pub_alert_box {
        width: auto;
        min-width: 270px;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 9999;
        border-radius: 5px;
        /* padding: 0 20px; */
    }

    // .main-navList-logo a {
    //     background: url('/static/images/Customer/nav_logo.png') no-repeat;
    // }

    .pub_alert_box .descr_title {
        // width: 100%;
        // /* height: 50px; */
        // height: 40px;
        // line-height: 40px;
        // margin-bottom: 20px;
        // text-align: left;
        // background: #eee;
        // color: #787878;
    }

    .pub_alert_box.re_h .descr_title {
        height: 42px;
    }

    .tel_alert_box.re_h .descr_title,
    .withdraw_alert_box .descr_title {
        height: 41px !important;
    }

    .pub_alert_box .descr_title.no_line {
        border-bottom: 0;
        // margin-bottom: 20px;
    }

    .pub_alert_box .descr_title p {
        font-size: 14px;
        color: #787878;
        float: left;
        margin-left: 20px;
    }

    .pub_alert_box .descr_title a.icon_close {
        width: 13px;
        height: 13px;
        display: block;
        background-size: 100% 100%;
        float: right;
        margin-top: 16px;
        margin-right: 20px;
    }


    .descr_p {
        padding: 0 30px;
    }

    .descr_p p {
        font-size: 14px;
        color: #787878;
        line-height: 28px;
        word-break: break-all;
        text-align: center;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p p.p_blue {
        text-align: center;
        font-size: 18px;
        color: #787878;
        margin-bottom: 10px;
    }

    .descr_p p em {
        display: inline-block;
        font-size: 12px;
        color: #787878;
        margin-right: 20px;
        text-align: right;
    }

    .five_fonts.descr_p p em {
        width: 72px;
    }

    .alert_btn_both {
        width: 100%;
        height: 30px;
        text-align: center;
        margin: 32px auto 22px;
        font-size: 0;
    }

    .pub_alert_box.re_h .alert_btn_both {
        margin: 30px auto;
        clear: both;
    }

    .alert_btn_both a {
        display: inline-block;
        width: 100px;
        height: 33px;
        line-height: 33px;
        font-size: 14px;
        text-align: center;
        border-radius: 15px;
        vertical-align: top;
    }

    .alert_btn_both_vi a {
        width: 157px !important;
    }

    .alert_btn_both a.btn1 {
        background: #cca150;
        color: #fff;
    }

    .alert_btn_both a.btn2 {
        background: #afb0b8 !important;
        color: #736f6a;
        margin-left: 10px;
    }


    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field .input_lf {
        font-size: 14px;
        color: #787878;
        float: left;
        height: 30px;
        line-height: 30px;
    }

    .input_field .input_rt input {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        //  border: 1px solid #636b89;
        //  border-radius: 2px;
        font-size: 14px;
        color: #666 !important;
        word-break: break-all;
        background: none;
    }

    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field.style2 li {
        margin-top: 15px;
        min-height: 30px;
        height: auto;
        overflow: hidden;
    }

    .input_field.style2 .input_lf {
        width: 85px;
    }

    .login-popup_en .input_field.style2 .input_lf,
    .login-popup_vi .input_field.style2 .input_lf {
        width: 130px !important
    }

    .input_field.style2 .input_rt {
        min-height: 30px;
        height: auto;
    }

    .input_field.style2 .input_rt input {
        width: 194px;
        display: inline-block;
        vertical-align: top;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: none;
        border-bottom: 1px solid #c9c9c9;
        background: none;
        font-size: 14px;
        color: #666;
        word-break: break-all;
    }

    #forgetPasswordForm .input_field.style2 .input_rt input {
        width: 300px;
    }

    .input_field.style2 .input_rt input::-webkit-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input::-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-ms-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:focus {
        color: #ddd;
        /*border: solid 1px #c9d0f6;*/
        //  border: 1px solid #646775;
        background: none;
    }

    .input_field li.hasblock .input_rt i.tip1 {
        display: block;
    }

    /*忘记密码弹窗*/

    .login-popup {
        width: auto;

        input::-webkit-input-placeholder {
            font-size: 16px;
            color: #666;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #666;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #666;
        }

        .icon_close {
            width: 18px !important;
            height: 17px !important;
            margin: 13px 15px 0 0 !important;
        }

        .descr_p p.p_blue {
            text-align: center;
            font-size: 18px;
            color: #666;
            margin-bottom: 10px;
        }

        .input_field .input_lf {
            font-size: 14px;
            color: #666;
            float: left;
            height: 30px;
            line-height: 30px;
        }

        .input_field .input_rt {
            display: inline-block;
            vertical-align: top;
            position: relative;

            input {
                width: 296px;
                height: 34px;
                line-height: 34px;
                padding: 0 10px;
                font-size: 14px;
                outline: none;
                border: none;
                background: none;
                color: #666;
                border-bottom: 1px solid #c9c9c9;
                //          border: solid 1px #646775;
            }

            .tip1 {
                width: 296px;
            }
        }

        .login_descr_p {
            margin-top: 20px;

            p a {
                color: #787878;
            }
        }
    }

    //用户协议

    .user-agreement-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 9999;
        background: rgba(0, 0, 0, .5);
        height: 880px;
        width: 780px;
        margin: auto;

        .login-cont-title {
            display: none;

            img {
                display: none;
            }
        }

        h4 {
            display: none;
        }

        .agreement-title {
            font-size: 18px;
            color: #616161;
            padding: 70px 65px 5px;

            span {
                display: none;
            }
        }

        p {
            font-size: 16px;
            color: #616161;
            line-height: 30px;
            margin: 10px 65px;

            i {
                width: 20px;
            }

            span,
            i {
                vertical-align: top;
                font-style: normal;
            }

            span {
                width: 950px;
            }
        }

        .back-register {
            margin: auto;
            margin-top: 60px;
            width: 120px;
            height: 40px;
            cursor: pointer;
            font-size: 18px;
            font-family: 'PingFang Medium';
            color: #646464;
            display: block;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            border: none;
            background: #f2f2f2;

            i {
                letter-spacing: 5px;
            }
        }
    }


    .descr_p div {
        font-size: 13px;
        color: #e6e6e6;
        /* padding: 0 30px; */
        line-height: 32px;
        word-break: break-all;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p .record_detail_title {
        display: inline-block;
        font-size: 13px;
        color: #787878;
        margin-right: 10px;
        width: 90px;
        text-align: right;
    }

    .five_fonts.descr_p .record_detail_title {
        width: 72px;
    }

    .alert_pb_list {
        overflow: hidden;
        // border-bottom: 1px solid #787878;
        // padding-bottom: 20px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li.first_li div {
        font-size: 13px;
        color: #787878;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 120px;
        text-align: center;
    }

    .alert_pb_list li div {
        width: 63px;
        float: left;
        font-size: 12px;
        color: #787878;
        text-align: left;
        line-height: 25px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #787878;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 120px;
        font-size: 14px;
        color: #787878;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    #failForm .login-popup {
        width: 330px;
    }

    #forgetPasswordForm .login-popup {
        width: 520px;
    }

    #forgetPasswordForm .login-popup_en,
    #forgetPasswordForm .login-popup_vi {
        width: 540px !important;
    }

    .psw_forget {
        margin-bottom: 20px;
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: #787878;
    }

    .f_box .full_course {
        text-align: center;
    }

    .f_box .full_course h2 {
        margin: 20px 0 26px 0;
        font-size: 24px;
        font-weight: normal;
        color: #787878;
        text-align: center;
    }

    .f_box .full_course p {
        line-height: 28px;
        font-size: 15px;
        color: #787878;
    }

    .f_box .full_course p a {
        color: #950000;
    }

    .sum_alert_box .icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        background-size: 100% 100%;
        margin-top: 12px;
        margin-left: 10px;
    }

    .f_box .full_course p a:hover {
        color: red;
    }

    /*网银*/
    .deposit-bom03 {
        width: 850px;
    }

    .bank_list {
        overflow: hidden;
        width: 760px;
        margin: auto;
        text-align: left;
        font-size: 0;
        margin-bottom: 29px;
    }

    .bank_list li {
        display: inline-block;
        width: 182px;
        height: 37px;
        border: solid 1px #ffffff;
        margin: 3px;
    }

    .bank_list li:hover,
    .bank_list li.on {
        border: solid 1px #65451e;
    }

}
