<template>
  <div>
    <div id="DeleteAgentForm" class="alert_box_content rake_alert_box re_h agency-alert">
      <span class="alert_close" @click="CloseDeleteAgentWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_recycling_agent')}}
        </h2>
        <ul class="input_field bank_input style3 alert-form-area">
          <li class="hasblock">
            <div class="input_lf deleteAgent-name">{{$t('message.agency_agent_name')}}</div>
            <div class="input_rt last-input">
              <input
                type="text"
                name="CardName"
                v-model="DisplayDeleteObj.CardName"
                :placeholder="$t('message.member_please_enter')"
                v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
                @blur="CheckCardName()"
              />
              <p
                class="tip1"
                v-show="errors.has('CardName') && fields.CardName.touched && fieldsCommon"
              >{{$t('message.login_english_letters')}}</p>
              <p
                class="tip1"
                v-show="!errors.has('CardName') && MemberID==-1 && LoginStatus==-1"
              >{{$t('message.agency_name_disabled')}}</p>
            </div>
          </li>
        </ul>
        <div class="record_query">
          <a
            class="cancle-searchBtn"
            href="javascript:void(0);"
            @click="CancleDeleteAgentWindow()"
          >{{$t('message.member_cancel')}}</a>
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="OpenTipsWindow()"
          >{{$t('message.agency_continue')}}</a>
        </div>
      </div>
    </div>
    <delete-tips :MemberID="MemberID" :LoginStatus="LoginStatus" :LoginID="LoginID"></delete-tips>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import DeleteTips from '@/components/sub/agency/userList/deleteTips';
import Regex from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      DisplayDeleteObj: {
        CardName: ''
      },
      Flag: {
        AcctFocus: undefined,
        AcctErrorIsShow: undefined,
        PhoneNoFocus: undefined,
        PhoneNoErrorIsShow: undefined,
        PwdFocus: undefined,
        PwdValidateIsShow: undefined,
        CheckPwdErrorIsShow: false,
        WithdrawPwdFocus: undefined,
        WithdrawPwdValidateIsShow: undefined,
        CheckWithdrawPwdErrorIsShow: false,
        Focus: undefined,
        ErrorIsShow: undefined
      },
      LoginStatus: undefined,
      MemberID: undefined,
      LoginID: undefined,
      // 正則表達式類別
      Reg: Regex.Regex,
      fieldsCommon: false
    };
  },
  components: {
    DeleteTips
  },
  methods: {
    // 開啟視窗
    DeleteAgentOpenWindow: function() {
      this.fieldsCommon = false;
      CommUtility.WebShowAlertboxForm('DeleteAgentForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseDeleteAgentWindow: function() {
      this.fieldsCommon = false;
      this.DisplayDeleteObj.CardName = '';
      CommUtility.WebClosealertboxForm('DeleteAgentForm');
    }, // end CloseWindow
    CheckCardName: async function() {
      this.fieldsCommon = true;
      this.flag = !this.$validator.errors.has('CardName');
      if (this.flag && this.DisplayDeleteObj.CardName.length > 0) {
        const inputObj = {
          LoginID: this.DisplayDeleteObj.CardName
        };
        const data = await AgencyCenterService.LoadVerificationLoginID(
          inputObj
        );
        if (data.Ret == 0) {
          this.LoginStatus = data.Data.LoginStatus;
          this.MemberID = data.Data.MemberID;
          this.LoginID = data.Data.LoginID;
        } else {
          EventBus.$emit('UserIsShowError');
          this.CancleDeleteAgentWindow();
        }
      } else {
        // this.AcctAvailable = true;
      } // end if
    },
    // 继续
    OpenTipsWindow: async function() {
      this.fieldsCommon = true;
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      await this.CheckCardName();
      if (this.MemberID == -1 && this.LoginStatus == -1) {
        return;
      }
      this.CloseDeleteAgentWindow();
      DeleteTips.methods.DeleteTipsOpenWindow();
    },
    // 取消
    CancleDeleteAgentWindow: function() {
      this.fieldsCommon = false;
      this.CloseDeleteAgentWindow();
    }
  }
};
</script>
