<template>
  <div id="DeleteTipsForm" class="alert_box_content rake_alert_box re_h agency-alert">
    <span class="alert_close" @click="CloseDeleteTipsWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_tips')}}
      </h2>
      <ul class="input_field bank_input style3 alert-form-area">
        <p class="tips-word">{{$t('message.agency_treatment_conditions')}}，</p>
        <span class="common-word">{{$t('message.agency_go_continue')}}？</span>
      </ul>
      <div class="record_query">
        <a
          class="cancle-searchBtn"
          href="javascript:void(0);"
          @click="CloseDeleteTipsWindow()"
        >{{$t('message.member_cancel')}}</a>
        <a
          class="common-searchBtn"
          href="javascript:void(0);"
          @click="EmptyAgents()"
        >{{$t('message.agency_continue')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {};
  },
  props: {
    // 模板数据
    MemberID: '',
    LoginStatus: '',
    LoginID: ''
  },
  methods: {
    // 開啟視窗
    DeleteTipsOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('DeleteTipsForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseDeleteTipsWindow: function () {
      CommUtility.WebClosealertboxForm('DeleteTipsForm');
    }, // end CloseWindow
    // 打开提示窗口
    EmptyAgents: async function () {
      const inputObj = {
        OrgData: {
          ID: this.MemberID,
          Name: this.LoginID,
          Status: this.LoginStatus
        },
        ModData: {
          ID: this.MemberID,
          Name: this.LoginID,
          Status: 703
        }
      };
      const data = await AgencyCenterService.LoadIBUserListRecycle(inputObj);
      if (data.Ret == 0) {
        this.$parent.$parent.GetMessageType(1);
        this.CloseDeleteTipsWindow();
      } else {
        EventBus.$emit('UserIsShowError');
        this.CloseDeleteTipsWindow();
      }
      console.log(inputObj);
      console.log(data);
    }
  }
};
</script>
