<template>
  <div id="RefuseTipsForm" class="alert_box_content rake_alert_box re_h agency-alert">
    <span class="alert_close" @click="CloseDeleteTipsWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_tips')}}
      </h2>
      <ul class="input_field bank_input style3 alert-form-area">
        <p
          class="tips-word"
          style="color:#7f7f7f"
        >{{$t('message.agency_confirmation_rejection')}}{{requestAgencyData.LoginID}}{{$t('message.agency_proxy_request')}}</p>
        <!-- <span class="common-word">是否继续？</span> -->
      </ul>
      <div class="record_query">
        <a
          class="cancle-searchBtn"
          :class="'cancle-searchBtn'+$MessageLang"
          href="javascript:void(0);"
          @click="CloseRefuseTipsWindow()"
        >{{$t('message.member_cancel')}}</a>
        <a
          class="common-searchBtn"
          href="javascript:void(0);"
          @click="defineClick()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {};
  },
  props: {
    requestAgencyData: {}
  },
  methods: {
    // 開啟視窗
    RefuseTipsOpenWindow: function() {
      CommUtility.WebShowAlertboxForm('RefuseTipsForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseRefuseTipsWindow: function() {
      CommUtility.WebClosealertboxForm('RefuseTipsForm');
    }, // end CloseWindow
    defineClick: async function() {
      const inputObj = {
        LoginID: this.requestAgencyData.LoginID
      };
      const data = await AgencyCenterService.LoadIBUserListNoRequest(inputObj);
      console.log(data);
      console.log(inputObj);
      if (data.Ret == 0) {
        this.$parent.$parent.$parent.GetMessageType(1);
        this.CloseRefuseTipsWindow();
      } else {
        EventBus.$emit('UserIsShowError');
        this.CloseRefuseTipsWindow();
      }
    }
  }
};
</script>
