<template>
  <div>
    <div id="StopUsingForm" class="alert_box_content rake_alert_box re_h agency-alert">
      <span class="alert_close" @click="CloseStopUsingWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_information_tips')}}
        </h2>
        <p class="stopUse-tip">{{$t('message.agency_membership_discontinuation')}}</p>
        <div class="record_query">
          <a
            class="cancle-searchBtn"
            href="javascript:void(0);"
            @click="CloseStopUsingWindow()"
          >{{$t('message.member_cancel')}}</a>
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="StopUsingMethod()"
          >{{$t('message.member_ascertain')}}</a>
        </div>
      </div>
    </div>
    <!-- <stop-using-tip></stop-using-tip> -->
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  props: {
    MemberDetailID: undefined
  },
  data () {
    return {};
  },
  mounted () {},
  methods: {
    StopUsingMethod: async function () {
      const stopObj = {
        MemberID: this.MemberDetailID,
        IsOpen: 0
      };
      const data = await AgencyCenterService.LoadGetUserListIBUserOpen(stopObj);
      console.log(data);
      console.log(stopObj);
      if (data.Ret == 0) {
        this.$parent.$parent.$parent.GetMessageType(1);
        this.CloseStopUsingWindow();
      } else {
        this.CloseStopUsingWindow();
        EventBus.$emit('alertErrorText');
      }

      // StopUsingTip.methods.StopUsingTipOpenWindow();
    },
    // 開啟視窗
    StopUsingOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('StopUsingForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseStopUsingWindow: function () {
      CommUtility.WebClosealertboxForm('StopUsingForm');
    } // end CloseWindow
    // filedsCommon: function () {
    //   this.fieldsCommon = true;
    // }
  },
  components: {}
};
</script>
