<template>
  <div class="user-list-table">
    <div class="historical-path">
      <span class="title">{{$t('message.agency_historical_path')}}</span>
      <span class="name">
        <span @click="Trajectory(true)">{{HistoricalPathName}}</span>
        <!-- <i>></i> -->
      </span>
    </div>
    <div class="record_table table_block table_information">
      <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="w_1">{{$t('message.agency_order_number')}}</th>
            <th class="w_2">{{$t('message.agency_account_number')}}</th>
            <th class="w_2">{{$t('message.agency_identity')}}</th>
            <th class="w_3">{{$t('message.agency_agent_hierarchy')}}</th>
            <th class="w_1">{{$t('message.agency_subordinates_number')}}</th>
            <th class="w_2">{{$t('message.top_balance')}}</th>
            <th class="w_2">{{$t('message.agency_registration_time')}}</th>
            <th class="w_3">{{$t('message.userList_operation')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(MessageData,index) in ReadStatusListAccount" :key="index">
            <td>{{index +1}}</td>
            <td
              @click="SearchIBUserList(MessageData.V_IBUserList.MemberID,MessageData.V_IBUserList.Hierarchy)"
            >{{MessageData.V_IBUserList.LoginID}}</td>
            <td>{{MessageData.V_IBUserList.MemberType}}</td>
            <td>
              <span v-if="MessageData.V_IBUserList.MemberType == '会员'">--</span>
              <span v-else>{{MessageData.V_IBUserList.Hierarchy}}</span>
            </td>
            <td>
              <span v-if="MessageData.V_IBUserList.MemberType == '会员'">--</span>
              <span v-else>{{MessageData.V_IBUserList.NextLayerCount}}</span>
            </td>
            <td>{{MessageData.V_IBUserList.Balance}}</td>
            <td class="IBUserList_time">
              <span>
                <i>{{$t('message.agency_peking')}}</i>
                {{MessageData.V_IBUserList.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
              </span>
              <span>
                <i>{{$t('message.agency_america_east')}}</i>
                {{MessageData.NewTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
              </span>
            </td>
            <td>
              <span
                v-if="MessageData.V_IBUserList.ApplyStatus== -1"
                style="color: #a03ae8;cursor: pointer;"
              >{{$t('message.agency_procurator')}}</span>
              <span
                v-else-if="MessageData.V_IBUserList.ApplyStatus== 0"
                style="color: #a03ae8;cursor: pointer;"
              >{{$t('message.agency_become_agent')}}</span>
              <span v-else>--</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="purple_tip">{{$t('message.member_beijing_time')}}</div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    HistoricalPathName: '',
    ReadStatusListAccount: {
      type: Array,
      default: function () {
        return [];
      }
    }
  },
  data () {
    return {};
  },
  created: function () {},
  methods: {
    Trajectory: function (data) {
      EventBus.$emit('showUserListPage', data);
    }
  }
};
</script>
