<template>
  <div>
    <div id="UserListMembersForm" class="alert_box_content re_h userListMembers-alertBox">
      <span class="alert_close" @click="CloseUserListMembersWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_membership_details')}}
        </h2>
        <div class="userListMembers-basic-content">
          <div class="userListMembers-basic-contLf">
            <h3 class="basic-title">{{$t('message.agency_information_details')}}</h3>
            <ul class="basic-ul">
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.login_account_number')}}：</span>
                {{memberIBUserDetaill.LoginID}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agent_handset')}}：</span>
                {{memberIBUserDetaill.PhoneNo}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agent_sexuality')}}：</span>

                <span v-if="memberIBUserDetaill.Gender==1">{{$t('message.agency_male')}}</span>
                <span v-if="memberIBUserDetaill.Gender==2">{{$t('message.agency_female')}}</span>
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.member_pet_name')}}</span>
                {{memberIBUserDetaill.Name}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agent_Wechat_number')}}：</span>
                {{memberIBUserDetaill.WeChat}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">Email：</span>
                {{memberIBUserDetaill.Email}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agent_birthday')}}：</span>
                {{memberIBUserDetaill.Birthday}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">QQ：</span>
                {{memberIBUserDetaill.QQ}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_registration_time')}}：</span>
                {{memberIBUserDetaill.CreateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_last_logon')}}：</span>
                <span v-if="memberIBUserDetaill.LastLoginDateTick==-1">-</span>
                <span
                  v-if="memberIBUserDetaill.LastLoginDateTick!=-1"
                >{{memberIBUserDetaill.LastLoginDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_current_status')}}：</span>
                <span>
                  <span class="firing">
                    <span
                      v-if="memberIBUserDetaill.LoginStatus==702"
                    >{{$t('message.agency_enabling')}}</span>
                    <span
                      v-if="memberIBUserDetaill.LoginStatus==703"
                      style="color:red"
                    >{{$t('message.agency_deactivated')}}</span>
                  </span>
                  <span
                    class="Discontinue"
                    v-if="memberIBUserDetaill.LoginStatus==702"
                    @click="stopUser()"
                  >{{$t('message.agency_discontinue_use')}}</span>
                  <span
                    class="Discontinue"
                    v-if="memberIBUserDetaill.LoginStatus==703"
                    @click="startUser()"
                  >{{$t('message.agency_Enable')}}</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="userListMembers-basic-contLg">
            <h3 class="basic-title">{{$t('message.agency_account_details')}}</h3>
            <ul class="basic-ul">
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_total_account')}}：</span>
                {{memberIBUserDetaill.VBalance}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_accumulative_recharge')}}：</span>
                {{memberIBUserDetaill.VReceipts}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_accumulated_withdrawals')}}：</span>
                {{memberIBUserDetaill.VWithdrawMoney}}
              </li>
              <li class="basic-list">
                <span class="basic-list-name">{{$t('message.agency_profit_amount')}}：</span>
                {{memberIBUserDetaill.VProfitMoney}}
              </li>
              <!-- <li class="basic-list">
                <span class="basic-list-name">游戏中心总金额：</span>10000
              </li>-->
            </ul>
          </div>
        </div>
        <!-- <div class="record_query">
        <a class="cancle-searchBtn" href="javascript:void(0);" @click="CloseAddMembersWindow()">取消</a>
        <a class="common-searchBtn" href="javascript:void(0);" @click="AddMembersMethod()">继续</a>
        </div>-->
      </div>
    </div>
    <user-list-start-using :MemberDetailID="MemberDetailID"></user-list-start-using>
    <user-list-stop-using :MemberDetailID="MemberDetailID"></user-list-stop-using>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import UserListStartUsing from '@/components/sub/agency/userList/startUsing';
import UserListStopUsing from '@/components/sub/agency/userList/stopUsing';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  props: {
    memberIBUserDetaill: {
      type: Object,
      default: function () {
        return {};
      }
    },
    MemberDetailID: undefined
  },
  data () {
    return {};
  },
  mounted () {},
  methods: {
    stopUser: function () {
      this.CloseUserListMembersWindow();
      UserListStopUsing.methods.StopUsingOpenWindow();
    },
    startUser: async function () {
      const startObj = {
        MemberID: this.MemberDetailID,
        IsOpen: 1
      };
      const data = await AgencyCenterService.LoadGetUserListIBUserOpen(
        startObj
      );
      if (data.Ret == 0) {
        this.CloseUserListMembersWindow();
        UserListStartUsing.methods.StartUsingOpenWindow();
      } else {
        this.CloseUserListMembersWindow();
        EventBus.$emit('alertErrorText');
      }
      console.log(data);
      console.log(startObj);
    },
    // 開啟視窗
    UserListMembersOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('UserListMembersForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseUserListMembersWindow: function () {
      CommUtility.WebClosealertboxForm('UserListMembersForm');
    } // end CloseWindow
    // filedsCommon: function () {
    //   this.fieldsCommon = true;
    // }
  },
  components: {
    UserListStartUsing,
    UserListStopUsing
  }
};
</script>
