<template>
  <div class="user-list-table">
    <!-- <div class="historical-path">
      <span class="title">历史路径</span>
      <span
        class="name"
        v-for="(item,index) in HistoricalPath"
        :key="index"
        :class="{'active': (index+1) === HistoricalPath.length}"
      >
        <i v-if="index > 0">></i>
        <span @click="SearchIBUserList(item,index)">{{item.LoginID}}</span>
      </span>
    </div>-->
    <!-- <div class="extension-cont-barNav">
      <div class="bar2">
        <span class="sp1">
          {{$t('message.agency_historical_path')}}
          <span
            class="sp1-text3"
            :class="{'active':(index+1) === HistoricalPath.length}"
            v-for="(histLi,index) in HistoricalPath"
            :key="index"
          >
            <i v-if="index > 0">></i>
            <span @click="SearchIBUserList(histLi,index)">{{histLi.LoginID}}</span>
          </span>
        </span>
      </div>
    </div>-->
    <div>
      <div class="record_table table_block table_information">
        <table cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="w_1">{{$t('message.agency_consumer')}}</th>
              <th class="w_2">{{$t('message.agency_teams_number')}}</th>
              <th class="w_2">{{$t('message.agency_identity')}}</th>
              <th>{{$t('message.member_state')}}</th>
              <th class="w_3">{{$t('message.top_balance')}}</th>
              <th class="w_1">{{$t('message.agency_registration_time')}}</th>
              <th class="w_2">{{$t('message.agency_look_plan')}}</th>
              <th class="w_3">{{$t('message.agency_operation')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(MessageData,index) in ReadStatusList" :key="index">
              <td class="cursor-pointer">{{MessageData.V_IBUserList.LoginID}}</td>
              <td>
                <span v-if="MessageData.V_IBUserList.MemberType == 4">-</span>
                <span v-else>{{MessageData.V_IBUserList.TeamCount}}</span>
              </td>
              <td>
                <span v-if="MessageData.V_IBUserList.MemberType == 3">{{$t('message.agency_agent')}}</span>
                <span v-if="MessageData.V_IBUserList.MemberType == 4">{{$t('message.index_member')}}</span>
              </td>
              <td>
                <span
                  v-if="MessageData.V_IBUserList.LoginStatus == '701'"
                  style
                >{{$t('message.agency_whole')}}</span>
                <span
                  v-if="MessageData.V_IBUserList.LoginStatus == '702'"
                  style="color:#70c27b;"
                >{{$t('message.agency_starting')}}</span>
                <span
                  v-if="MessageData.V_IBUserList.LoginStatus == '703'"
                  style="color:red"
                >{{$t('message.agency_outage')}}</span>
                <span
                  v-if="MessageData.V_IBUserList.LoginStatus == '704'"
                >{{$t('message.agency_frozen')}}</span>
                <span
                  v-if="MessageData.V_IBUserList.LoginStatus == '706'"
                >{{$t('message.top_under_maintenance')}}</span>
              </td>
              <td>{{MessageData.V_IBUserList.Balance}}</td>

              <td class="IBUserList_time">
                <span>
                  <i>{{$t('message.agency_peking')}}</i>
                  {{MessageData.CreateDateTimeTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
                <span>
                  <i>{{$t('message.agency_america_east')}}</i>
                  {{MessageData.NewTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
                </span>
              </td>
              <td>
                <span
                  v-if="MessageData.V_IBUserList.MemberType == 4"
                >{{$t('message.agency_membership_scheme')}}</span>
                <span
                  v-else
                  class="lookOver"
                  @click="lookOverClick(MessageData.V_IBUserList)"
                >{{$t('message.agency_look_over')}}</span>
              </td>
              <td>
                <span
                  v-if="MessageData.V_IBUserList.ApplyStatus== -1 && MessageData.V_IBUserList.MemberType == 4"
                  @click="becomeAgentClick(MessageData.V_IBUserList)"
                  style="color: #a03ae8;cursor: pointer;"
                >{{$t('message.agency_procurator')}}</span>
                <span
                  v-else-if="MessageData.V_IBUserList.ApplyStatus== 0 && MessageData.V_IBUserList.MemberType == 4"
                  style="color: #a03ae8;cursor: pointer;"
                  @click="requestAgentClick(MessageData.V_IBUserList)"
                >{{$t('message.agency_become_agent')}}</span>
                <span v-else>--</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="purple_tip">{{$t('message.member_beijing_time')}}</div>
    </div>
    <!-- <user-list-table-details
      v-else
      :HistoricalPathName="HistoricalPathName"
      :ReadStatusListAccount="ReadStatusListAccount"
    ></user-list-table-details>-->
    <request-agent :requestAgencyData="requestAgencyData"></request-agent>
    <user-list-members :memberIBUserDetaill="memberIBUserDetaill" :MemberDetailID="MemberDetailID"></user-list-members>
    <!-- <div class="maxtip" v-if="IsShowTip">{{textSucc}}</div> -->
    <div class="maxtip" v-if="IsShowErrorFlag">{{errorText}}</div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Vue from 'vue';
// import BLDef from 'scripts/common/BLDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import userListTableDetails from '@/components/sub/agency/userList/userListTableDetails';
import RequestAgent from '@/components/sub/agency/userList/requestAgent';
import CommUtility from 'scripts/common/CommUtility';
import UserListMembers from '@/components/sub/agency/userList/userListMembers';
// import moment from 'moment';

export default {
  props: {
    HistoricalPath: {
      type: Array,
      default: function () {
        return [];
      }
    },
    ReadStatusList: {
      type: Array,
      default: function () {
        return [];
      }
    },
    PagingInfo: {
      type: Object,
      default: function () {
        return {};
      }
    },
    UserDisplayQueryObj: {
      type: Object,
      default: function () {
        return {};
      }
    }
    // typeId: undefined
  },
  data () {
    return {
      FilterStatus: -1,
      MessageList: [],
      DisplayList: [],
      requestAgencyData: {},
      CurrentPage: undefined,
      CurrentReadingIndex: undefined,
      CurrentReadingItem: undefined,
      SubIBUserList: [],
      AgentName: '',
      SubName: '',
      ReadStatusListAccount: [],
      HistoricalPathName: '',
      IsShowUserListAccount: true,
      typeHierarchy: undefined,
      IsShowErrorFlag: false,
      errorText: undefined,
      memberIBUserDetaill: {},
      MemberDetailID: undefined,
      requireingStatus: null // 请求状态
    };
  },
  mounted: function () {
    EventBus.$on('showUserListPage', data => {
      this.IsShowUserListAccount = data;
    });
    // this.typeHierarchy = this.typeId;
  },
  created: function () {
    const self = this;
    // 監聽更新列表 (2017/12/21 修改過)
    this.AgentName = localStorage.getItem('Acct');
    EventBus.$on('PrivateMessage_UpdateList', data => {
      self.FilterStatus = -1;
      self.CurrentPage = 1;
      self.MessageList = data;
      this.DisplayList = [];
      // *************************************************************************
      self.DisplayList = Vue.util.extend({}, self.MessageList.slice(0, 10));
      EventBus.$emit('Paginate_ResetPageNo');
    });

    // 監聽更新頁數 (2017/12/21新增)
    EventBus.$on('PrivateMessage_UpdatePageNo', data => {
      const pageNo = data;
      self.CurrentPage = data;
      self.DisplayList = [];
      const tempList = this.UpdateDisplayList();
      self.DisplayList = Vue.util.extend(
        {},
        tempList.slice(0 + (pageNo - 1) * 10, 10 + (pageNo - 1) * 10)
      );
    });
    // 刪除特定項目
    EventBus.$on('PrivateMessage_DeleteItem', () => {
      // 刪除總列表項目
      const ListIndex = self.MessageList.indexOf(self.CurrentReadingItem);
      self.MessageList.splice(ListIndex, 1);

      // 刪除顯示列表項目
      self.DisplayList = $.map(self.DisplayList, function (value) {
        return [value];
      });
      self.DisplayList.splice(self.CurrentReadingIndex, 1);

      // 刪除項目為本頁最後一筆, 則跳回前一頁
      if (self.DisplayList.length == 0 && self.CurrentPage > 1) {
        const tempList = self.UpdateDisplayList();
        EventBus.$emit('Paginate_ResetPageNo', self.CurrentPage - 1);
        self.$parent.PageCount = Math.ceil(
          tempList.length / self.$parent.PageSize
        );
        self.DisplayList = Vue.util.extend({}, tempList.slice(0, 10));
      }
    });
  },
  methods: {
    dateFormat: function (time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    UpdateDisplayList: function () {
      const tempList = [];
      for (let i = 0; i < this.MessageList.length; i++) {
        if (
          this.MessageList[i].ReadStatus.Value == this.FilterStatus ||
          this.FilterStatus == -1
        ) {
          tempList.push(this.MessageList[i]);
        } // end if
      }
      return tempList;
    },
    SearchIBUserList: async function (item, index) {
      // 当请求状态不是null时，证明在请求中，直接跳出，防止重复点击
      if (this.requireingStatus) return;
      this.requireingStatus = item.LoginID;
      if (item.MemberType != this.$t('message.index_member')) {
        this.PagingInfo.PageNo = 1;
        EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
        // this.IsShowUserListAccount = false;
        // this.HistoricalPathName = name;
        // debugger;
        let ID;
        let QueryTypeNum;
        QueryTypeNum = 2;
        if (index !== undefined) {
          if (index + 1 !== this.HistoricalPath.length) {
            this.HistoricalPath.splice(
              index + 1,
              this.HistoricalPath.length - (index + 1)
            );
            ID = item.MemberID;
          }
          if (index == this.HistoricalPath.length - 1) {
            console.log('wwwwwwwww222');
            ID = item.MemberID;
            // this.PagingInfo.PageNo = 1;
            // EventBus.$emit('Paginate_ResetPageNo');
          }
          if (index === 0) {
            QueryTypeNum = 1;
            ID = item.MemberID;
            localStorage.setItem(
              'typeLevelName',
              this.$t('message.agency_selection_agent')
            );
            localStorage.setItem('typeLevelID', -1);
            // this.typeHierarchy = -1;
            // this.$parent.AgencyBetting();
            // return;
          }
        } else {
          ID = item.MemberID;
        }
        const inputObj = {
          ParentID: ID,
          // Hierarchy: this.typeHierarchy,
          QueryType: QueryTypeNum,
          StartTick: CommUtility.LocalTimeToUtcTicks(
            this.dateFormat(this.UserDisplayQueryObj.StartTime) + ' 00:00:00'
          ),
          EndTick: CommUtility.LocalTimeToUtcTicks(
            this.dateFormat(this.UserDisplayQueryObj.EndTime) + ' 23:59:59',
            true
          ),
          PagingInfo: {
            PageSize: this.PagingInfo.PageSize,
            PageNo: this.PagingInfo.PageNo
          }
        };
        const data = await AgencyCenterService.IBUserList_Query(inputObj);
        console.log(data);
        console.log(inputObj);

        if (data.Ret === 0) {
          EventBus.$emit('UseList_ResetReadStatusList', data.Data);

          if (index === undefined) {
            this.HistoricalPath.push(item);
          }
        } else {
          this.errorText = this.$t('message.agency_operation_failed');
          this.IsShowErrorFlag = true;
          setTimeout(() => {
            this.IsShowErrorFlag = false;
          }, 1000);
          // this.CloseDeleteTipsWindow();
        }
      } else {
        this.MemberDetailID = item.MemberID;
        const MemberObj = {
          MemberID: item.MemberID,
          LoginID: item.LoginID
        };
        const data = await AgencyCenterService.LoadGetUserListMemberDetail(
          MemberObj
        );
        if (data.Ret == 0) {
          this.memberIBUserDetaill = data.Data.IBUserDetaill;
          console.log('memberIBUserDetaill');
          console.log(this.memberIBUserDetaill);
          console.log('memberIBUserDetaill');
          UserListMembers.methods.UserListMembersOpenWindow();
        } else {
          this.errorText = this.$t('message.agency_operation_failed');
          this.IsShowErrorFlag = true;
          setTimeout(() => {
            this.IsShowErrorFlag = false;
          }, 1000);
        }
        console.log(data);
        console.log(MemberObj);
      }
      // 函数执行完，将请求状态重置为null,可以执行下个函数
      this.requireingStatus = null;
    },
    // 请求成为代理
    requestAgentClick: function (data) {
      this.requestAgencyData = data;
      RequestAgent.methods.RequestAgentOpenWindow();
    },
    // 成为代理
    becomeAgentClick: function (data) {
      // EventBus.$emit('loginIDName', data);
      const myDate = JSON.stringify(data);
      localStorage.setItem('loginIDName', myDate);
      this.$store.dispatch('setAgencyNameText', 'webSupervise');
    },
    lookOverClick: function (data) {
      EventBus.$emit('lookOverDetail', data);
    }
  },
  // WATCH 部分於 2017/12/21新增
  watch: {
    FilterStatus: function () {
      self.CurrentPage = 1;
      const tempList = this.UpdateDisplayList();
      // ***********************************************************************************************
      // 更新頁數
      EventBus.$emit('Paginate_ResetPageNo');
      this.$parent.PageCount = Math.ceil(
        tempList.length / this.$parent.PageSize
      );
      this.DisplayList = Vue.util.extend({}, tempList.slice(0, 10));
    }
  },
  beforeDestroy () {
    EventBus.$off('PrivateMessage_UpdateList');
    EventBus.$off('PrivateMessage_UpdatePageNo');
    EventBus.$off('PrivateMessage_DeleteItem');
  },
  filters: {
    // 保留2位小数点过滤器 不四舍五入
    number (value) {
      const toFixedNum = Number(value).toFixed(3);
      const realVal = toFixedNum.substring(0, toFixedNum.toString().length - 1);
      return realVal;
    }
  },
  components: {
    userListTableDetails,
    RequestAgent,
    UserListMembers
  }
};
</script>
