<template>
  <div class="active_block purple_cont" v-if="(OnlinePaymentAcctCnt != 0) || (CompAcctCnt != 0)">
    <ul class="psl_guide deposit_guide">
      <li
        @click="SwitchDepositType(1)"
        v-if="OnlinePaymentAcctCnt != 0"
        :class="DepositType == 1 ? 'hasblock' : ''"
      >
        <a href="javascript:void(0);">{{ TitleFonts1 }}</a>
        <i></i>
      </li>
      <li
        @click="SwitchDepositType(2)"
        v-if="CompAcctCnt != 0"
        :class="DepositType == 2 ? 'hasblock' : ''"
      >
        <a href="javascript:void(0);">{{ TitleFonts2 }}</a>
        <i></i>
      </li>
    </ul>

    <a
      class="deposit_order blue_sm"
      :class="'deposit_order_'+$MessageLang"
      @click="ShowDepositRecord()"
    >{{$t('message.member_deposit_orders')}}</a>

    <member-deposit-activity-list
      v-if="HasActivity===false"
      :DepositType="this.DepositType"
      :ActivityList="this.TargetActivityList"
      :DepositAccountCount="this.TargetAcctCount"
      :HaveNoSelectedBonus="this.HaveNoSelectedBonus"
      :showDepositNumberMessage="showDepositNumberMessage"
    ></member-deposit-activity-list>
    <!--没有符合会员分级的优惠活动-->
    <member-deposit-no-activity-list v-else :DepositType="this.DepositType"></member-deposit-no-activity-list>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import CommUtility from "scripts/common/CommUtility"
import MemberDepositActivityList from "@/mod/k06/components/sub/memberNew/deposit/memberDepositActivityList"
import MemberDepositNoActivityList from "@/components/sub/memberNew/deposit/memberDepositNoActivityList"

export default {
  props: {
    HaveNoSelectedBonus: undefined, // 是否显示不参与活动按钮 2019.03.28
    RecordShow: undefined,
    HasActivity: undefined,
    validateDepositNumber: {
      type: Function
    },
    showDepositNumberMessage: {
      type: Function
    }
  },
  data() {
    return {
      OnlinePaymentAcctCnt: undefined, // 在线支付号标
      CompAcctCnt: undefined, // 公司入款号标
      DepositType: 1, // 选择的存款类型，默认在线支付
      TargetAcctCount: undefined, // 切换选项卡后所在的存款类型
      TargetActivityList: [], // 活动列表
      OnlineActivityList: [], // 在线支付活动列表
      RemittanceActivityList: [], // 公司入款活动列表
      TitleFonts: undefined, // 选项卡标题（在线支付/公司入款)
      TitleFonts1: this.$t("message.activity_online_payment"),
      TitleFonts2: this.$t("message.activity_company_income")
    }
  },
  created: function () {
    this.GetDepositData()
  },
  methods: {
    // 開啟彈窗
    ShowDepositRecord: function () {
      // 通知顶部金额进行刷新 20190918 SeyoChen
      EventBus.$emit("memberHeaderUpdateBalance")
      CommUtility.WebShowAlertboxForm("depositRecord")
    }, // end

    // 切换存款方式
    SwitchDepositType: function (type) {
      // 切换时校验存储次数
      this.validateDepositNumber(type)
      this.$parent.CloseDepositRecord() // 切换成其他栏位 2019.04.22 SeyoChen
      this.DepositType = type
      this.TargetAcctCount = this.DepositType == 1 ? this.OnlinePaymentAcctCnt : this.CompAcctCnt
      this.TargetActivityList = this.DepositType == 1 ? this.OnlineActivityList : this.RemittanceActivityList
      // 从优惠活动进入存款 判断是否需要清空重置 2019.03.26 SeyoChen
      if (this.$route.params.ActivityData != undefined) {
        this.TitleFonts =
          this.DepositType == 1
            ? this.$t("message.activity_online_payment")
            : this.$t("message.activity_company_income")
        this.ShowTitleFonts()
        return
      }
      // 从优惠活动进入存款 判断是否需要清空重置 2019.03.26 SeyoChen end

      EventBus.$emit("resetDepositForm") // 清空输入框
      this.TitleFonts =
        this.DepositType == 1 ? this.$t("message.activity_online_payment") : this.$t("message.activity_company_income")
      this.ShowTitleFonts()
      // console.log(this.TargetAcctCount);
    },

    // 进入不同存款方式显示不同的选项卡标题
    ShowTitleFonts: function () {
      EventBus.$emit("ShowTitleFonts", this.TitleFonts)
    },

    // 取得最佳存款优惠
    GetDepositData: async function () {
      const data = await PersonalCenterService.Deposit_LoadMainPage()
      // console.log(data.Data);
      if (data.Data.OnlinePaymentAcctCnt === 0 && this.validateDepositNumber) {
        // 校验存款次数
        this.validateDepositNumber(1)
      } else {
        this.validateDepositNumber(2)
      }
      if (data.Ret !== 0) {
        return
      }

      this.OnlinePaymentAcctCnt = data.Data.OnlinePaymentAcctCnt

      this.CompAcctCnt = data.Data.CompAcctCnt

      this.OnlineActivityList = data.Data.OnlineDepositActivityList
      this.RemittanceActivityList = data.Data.RemittanceDepositActivityList

      if (this.OnlinePaymentAcctCnt != 0) {
        this.SwitchDepositType(1) // 初始设置切换选项卡后所在的存款类型为在线支付
      } else if (this.CompAcctCnt != 0) {
        this.SwitchDepositType(2) // 初始设置切换选项卡后所在的存款类型为公司入款
      }

      // this.TargetAcctCount = this.OnlinePaymentAcctCnt;   // 初始设置切换选项卡后所在的存款类型为在线支付
      // this.TargetActivityList = this.OnlineActivityList;  // 初始获得在线支付的优惠活动
    }
  },
  components: {
    MemberDepositActivityList,
    MemberDepositNoActivityList
  }
}
</script>
