<template>
  <div class="psl_tab_cont d_tab_cont2">
    <div class="pay_income">
      <!--选择公司入款形式 2019.02.12 SeyoChen-->
      <div class="select_pay" v-show="BankTrans == false && QRcode == false">
        <!--<div class="table_guide">
                    <p>选择公司入款方式</p>
        </div>-->
        <div class="purple_cont">
          <a @click="SelectTransFun(1)" v-show="miantainBank == false">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/p_bank_card.png?VersionCode'"
            />
            <span class="purple-select" :class="{'sel-on':selectON == 1}"></span>
          </a>
          <a @click="SelectTransFun(2)" v-show="miantainCode == false">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/p_scan_card.png?VersionCode'"
            />
            <span class="purple-select" :class="{'sel-on':selectON == 2}"></span>
          </a>
        </div>
      </div>
      <p
        class="select_text"
        v-show="miantainCode == false && miantainBank == false"
      >{{$t('message.member_completion_income')}}</p>
      <!--选择公司入款形式 2019.02.12 SeyoChen end-->
      <div>
        <!-- <p @click="BackLevel()" class="blue_sm blue_sm_mode">返回</p> -->
        <!--公司帳戶資訊-->
        <member-deposit-remittance-income
          :CurSelectedActivity="this.CurSelectedActivity"
          :ActivityData="ActivityData"
        ></member-deposit-remittance-income>
        <!--<member-deposit-remittance-acct v-show="BankTrans == true && miantainBank == false" :RemittanceBankInfo="this.CurrentPageData.BankInfo"></member-deposit-remittance-acct>-->
        <!--支付宝&微信二维码支付 2019.01.31 SeyoChen-->
        <!--<member-deposit-pay-q-rcode v-show="QRcode == true && miantainCode == false" :RemittanceBankInfo="this.CurrentPageData.BankInfo"></member-deposit-pay-q-rcode>-->
        <member-deposit-pay-q-rcode
          ref="Pay_QRcode"
          :RemittanceBankInfo="this.QRcodeShowList"
          :CurrentData="this.CurrentPageData"
          :CurSelectedActivity="this.CurSelectedActivity"
        ></member-deposit-pay-q-rcode>
        <!--玩家轉帳資訊-->
        <!--<member-deposit-remittance-form ref="remittance_form" v-show="(miantainBank == false && BankTrans == true) || (miantainCode == false && QRcode == true)" :CurrentPageData="this.CurrentPageData" :CurSelectedActivity="this.CurSelectedActivity"></member-deposit-remittance-form>-->

        <div
          class="maintain_box"
          v-show="(miantainBank == true && BankTrans == true && judgeComplete == true) || (miantainCode == true && QRcode == true && judgeComplete == true)"
        >
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/maintain.png?VersionCode'"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import memberDepositRemittanceIncome from "@/mod/k06/components/main/memberNew/memberDepositRemittanceIncome"
//  import MemberDepositRemittanceAcct from '@/components/web/sub/member/deposit/memberDepositRemittanceAcct';
//  import MemberDepositRemittanceForm from '@/components/web/sub/member/deposit/memberDepositRemittanceForm';
import MemberDepositPayQRcode from "@/components/sub/memberNew/deposit/memberDepositPayQRcode"

export default {
  props: {
    CurSelectedActivity: {
      BonusSerialNo: undefined, // 红利对应的资料序号
      ActivityType: undefined, // 红利活动方式 ==》 -1：未定义; 1：存款(红利设定); 2：红利活动
      ActType: undefined // 红利方式细项分类 ==》 1: 首存 2: 续存
    }
  },
  data() {
    return {
      CurrentPageData: {
        BankInfo: {}
      },

      DepositTypeList: [],
      BankTrans: false, // 银行转账
      QRcode: false, // 二维码
      miantainBank: true, // 银行转账维护
      miantainCode: true, // 扫码支付维护

      DefaultData: [], // 2019.02.27 SeyoChen
      judgeComplete: false, // 判断是否开通
      selectON: "",

      QRcodeList: [], // 扫码支付类型 20190905 SeyoChen
      QRcodeShowList: [], // 扫码支付类型 最终选择 20190905 SeyoChen
      // BankDataList: [] // 银行转账 20190905 SeyoChen

      ActivityData: [] // 活动详情
    }
  },
  created: function () {
    this.GetDefaultData()
  },
  methods: {
    // 筛选支付渠道信息 20190905 SeyoChen
    SelectPayData: function () {
      // 分类 BankDataList：银行支付 QRcodeList：扫码支付
      for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
        // 筛选出二维码支付方式
        if (this.CurrentPageData.BankInfo[i].PaymentWayType === 2) {
          this.QRcodeList.push(this.CurrentPageData.BankInfo[i])
        }
      }
      // 分类 BankDataList：银行支付 QRcodeList：扫码支付 end

      this.QRcodeShowList = this.QRcodeList
    },
    // 筛选支付渠道信息 20190905 SeyoChen end

    // 获取默认Data
    GetDefaultData: async function () {
      const dataObj = {
        ActType: this.CurSelectedActivity.ActType,
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
        ActivityType: this.CurSelectedActivity.ActivityType
      }
      this.DefaultData = await PersonalCenterService.CompanyDeposit_LoadMainPage(dataObj)

      this.CurrentPageData = this.DefaultData.Data
      this.$emit("CurrentPageData", this.CurrentPageData) // 将此后台返回的活动详情传到父级 deposit
      // 判断是否开通 1：银行转账 2：扫码支付
      for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
        if (this.CurrentPageData.BankInfo[i].PaymentWayType == 1 && this.miantainBank != false) {
          this.miantainBank = false
        } else if (this.CurrentPageData.BankInfo[i].PaymentWayType == 2 && this.miantainCode != false) {
          this.miantainCode = false
        }
      }
      // 判断是否开通 1：银行转账 2：扫码支付 end

      // 区分 银行转账账户信息 扫码支付类型 20190905 SeyoChen
      this.SelectPayData()
    },

    // 2019.02.12 SeyoChen
    BackLevel: function () {
      this.BankTrans = false
      this.QRcode = false
      this.DepositTypeList = []
      this.$refs.remittance_form.ResetTip() // 2019.02.18 SeyoChen 重置提示语
    },
    SelectTransFun: function (mode) {
      this.selectON = mode
      this.GetPageData(mode)
      switch (mode) {
        case 1:
          memberDepositRemittanceIncome.methods.ShowIncome()
          //                      this.BankTrans = true;
          //                      this.QRcode = false;
          break
        case 2:
          MemberDepositPayQRcode.methods.ShowQRcode()
          this.$refs.Pay_QRcode.JudgeQRcodeNum()
          break
        default:
          //                      this.BankTrans = false;
          //                      this.QRcode = false;
          break
      }
    },
    // 2019.02.12 SeyoChen end
    GetPageData: async function (mode) {
      this.DepositTypeList = []
      const dataObj = {
        ActType: this.CurSelectedActivity.ActType,
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
        ActivityType: this.CurSelectedActivity.ActivityType
      }
      const DefaultData = await PersonalCenterService.CompanyDeposit_LoadMainPage(dataObj)

      console.log("----------------------------------2222222222222222222222")
      console.log(DefaultData.Data)
      this.ActivityData = DefaultData.Data.ActivityDetail // 获取活动详情 20200109 SC

      this.CurrentPageData = DefaultData.Data
      if (DefaultData.Ret == 0) {
        // 判断是否开通 1：银行转账 2：扫码支付
        for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
          if (this.CurrentPageData.BankInfo[i].PaymentWayType == 1 && this.miantainBank != false) {
            this.miantainBank = false
          } else if (this.CurrentPageData.BankInfo[i].PaymentWayType == 2 && this.miantainCode != false) {
            this.miantainCode = false
          }
        }
        // 判断是否开通 1：银行转账 2：扫码支付 end

        // 2019.03.12 SeyoChen 弹出维护中图片
        if (this.miantainCode == true || this.miantainBank == true) {
          this.judgeComplete = true
        }
        // 2019.03.12 SeyoChen 弹出维护中图片 end

        if (mode === 2) {
          // 2019.03.01 SeyoChen 判断二维码数量及显示的类型
          let QRcodeNumApli = false
          let QRcodeNumWeChat = false
          let QRcodeNumOther = false
          for (let i = 0; i < DefaultData.Data.BankInfo.length; i++) {
            if (
              DefaultData.Data.BankInfo[i].PaymentWayType == 2 &&
              DefaultData.Data.BankInfo[i].QRCodePaymentWayType == 1
            ) {
              QRcodeNumApli = true
            } else if (
              DefaultData.Data.BankInfo[i].PaymentWayType == 2 &&
              DefaultData.Data.BankInfo[i].QRCodePaymentWayType == 2
            ) {
              QRcodeNumWeChat = true
            } else if (
              DefaultData.Data.BankInfo[i].PaymentWayType == 2 &&
              DefaultData.Data.BankInfo[i].QRCodePaymentWayType == 3
            ) {
              QRcodeNumOther = true
            }
          }
          // 2019.03.01 SeyoChen 判断二维码数量及显示的类型 end QRCodePaymentWayType 1:支付宝 2：微信

          for (let i = 0; i < DefaultData.Data.DepositTypeList.length; i++) {
            if (
              (DefaultData.Data.DepositTypeList[i].SettingCode === 8 && QRcodeNumApli == true) ||
              (DefaultData.Data.DepositTypeList[i].SettingCode === 9 && QRcodeNumWeChat == true) ||
              (DefaultData.Data.DepositTypeList[i].SettingCode === 7 && QRcodeNumOther == true)
            ) {
              this.DepositTypeList.push(DefaultData.Data.DepositTypeList[i])
            }
          }
        }

        // 2019.03.01 SeyoChen
        console.log("0000000000000000000000000000")
        console.log(this.DepositTypeList)
        this.CurrentPageData.DepositTypeList = this.DepositTypeList.reverse()
      }

      // 根据选择类型选择 DepositTypeList 存款方式 mode 1:银行账户入款 2:扫码入款
      // if (mode === 1) {
      //   for (let j = 0; j < DefaultData.Data.DepositTypeList.length; j++) {
      //     const element = array[j];
      //   }
      // }
    }
  },
  components: {
    memberDepositRemittanceIncome,
    MemberDepositPayQRcode
  }
}
</script>
