<template>
  <div class="alert_box_content tel_alert_box re_h" id="depositRecord">
    <span class="alert_close" @click="HideEditPhone()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div name="PhoneNoForm" class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_deposit_orders')}}
      </h2>
      <table>
        <thead>
          <tr>
            <th class="w_2">{{$t('message.member_application_time')}}</th>
            <th class="w_2">{{$t('message.member_deposit_amount')}}</th>
            <th class="w_3">{{$t('message.member_order_number')}}</th>
            <th class="w_4">{{$t('message.member_state')}}</th>
            <th class="w_5">{{$t('message.agent_remarks')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="Log in this.QueryDepositRecord.DepositOrderList">
            <td>
              <p
                style="display: inline;"
              >{{Log.CreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
            </td>
            <td style="color: #45bd25;">+{{Log.DepositAmt}}</td>
            <td>{{Log.OrderNo}}</td>
            <td v-if="Log.OrderStatus == 1203">{{$t('message.member_successful_deposit')}}</td>
            <td
              v-else-if="Log.OrderStatus == 1206 || Log.OrderStatus == 1205"
            >{{$t('message.member_refuse')}}</td>
            <td v-else>{{$t('message.member_processing')}}</td>
            <td :title="Log.RejectRemark">{{Log.RejectRemark | simpleContent(12)}}</td>
          </tr>
        </tbody>
      </table>
      <!--分页-->
      <paginate :PageCount="this.PageCount" :PageNo="this.QueryDepositRecord.PagingInfo.PageNo"></paginate>
    </div>
  </div>
</template>

<script>
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import Paginate from "@/mod/k06/components/sub/paginate"
import CommUtility from "scripts/common/CommUtility"

export default {
  data() {
    return {
      QueryDepositRecord: {
        PagingInfo: {
          PageNo: 1
        }
      },
      // 请求存款记录所需要的字段名称 2019.04.22 SeyoChen
      QueryConditions: {
        PagingInfo: {
          PageSize: 10,
          PageNo: 1
        }
      },
      RecordShow: true,
      PageCount: undefined
    }
  },
  created: function () {
    this.GetCurrentPageData(1)
  },
  methods: {
    // 關閉彈窗
    HideEditPhone: function () {
      CommUtility.WebClosealertboxForm("depositRecord")
    }, // end HideEditPhone

    // 查詢紀錄
    GetCurrentPageData: async function (pageNo) {
      // 获取存款记录 2019.04.18 SeyoChen
      this.QueryConditions.AcctList = localStorage.getItem("Acct")
      this.QueryConditions.PagingInfo.PageNo = pageNo
      const retData = await PersonalCenterService.DepositApplyVerify_Query(this.QueryConditions)
      this.QueryDepositRecord = retData.Data
      console.log(retData.Data)
      if (retData.Ret === 0) {
        this.QueryDepositRecord = retData.Data
        this.RecordShow = false
        this.PageCount = Math.ceil(
          this.QueryDepositRecord.PagingInfo.TotalCount / this.QueryDepositRecord.PagingInfo.PageSize
        )
      }
    } // end GetCurrentPageData
  },
  components: {
    Paginate
  }
}
</script>
