.theme34 {
    /*header*/

    //marquee

    .header-marquee {
        margin-left: 345px;
        // width: 500px;
        float: left;
        overflow: hidden;

        .header-marquee-icon {
            display: none;
        }

        .notice {
            .slideTxtBox {
                // width: 500px;
                height: 40px;
                line-height: 40px;

                ul {
                    a {
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        position: absolute;
        top: 0;
        z-index: 999;

        .header-top {
            width: 100%;
        }

        .header-cont {
            position: relative;

            .header-cont-nav {
                float: right;
                margin: 10px 25px 0 0;

                li {
                    height: 40px;
                    line-height: 40px;
                    color: #000;
                    float: left;
                    vertical-align: top;

                    a {
                        font-size: 14px;
                        line-height: 22px;
                        color: #000;

                        .heMail {
                            display: inline-block;
                            width: 26px;
                            height: 19px;
                            vertical-align: -4px;
                        }

                        &.user {
                            padding-left: 20px;
                        }

                        &.deposit {
                            padding-left: 20px;
                        }

                        &.refresh-account,
                        &.rotateLoop {
                            display: inline-block;
                            width: 20px;
                            height: 18px;
                            margin-right: 0;
                            vertical-align: -3px;
                        }

                        &.email img {
                            width: 25px;
                            margin-bottom: 3px;
                            vertical-align: middle;
                        }

                    }

                    &.login-before a {
                        margin-right: 20px;
                    }

                    &.login-after a {
                        margin-right: 3px;
                    }

                    &.sy34-login-bar {
                        a {
                            color: #000;

                            &.account em {
                                color: #000 !important;
                            }
                        }
                    }

                    .unread {
                        top: -6px;
                        right: -1px;
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        line-height: 14px;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        color: #ffffff;
                        text-align: center;
                        content: '9';
                    }

                    .account em {
                        color: #fff;
                    }
                }

                .login-before i {
                    display: none;
                }
            }
        }
    }


    /*language*/

    /*----------start--下拉框----------*/
    .language .down {
        margin-bottom: 0;
        width: 100px;
        padding-right: 20px;
        z-index: 999;
        font-size: 14px;
        margin-top: 9px;
    }

    .language .down .d_course {
        padding: 0 10px;
        cursor: pointer;
        text-align: left;
        color: #000;
        width: 100%;
        border: 0;
        background: none;
        font-size: 14px;
    }


    .language .down .lang_down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 35px;
        border-top: 0;
        width: 100%;
        background: #fff;
        border: 0;
    }

    .language.sy34-login-bar .down .d_course {
        color: #fff;
    }

    .language.sy34-login-bar .down .lang_down_box .down_list {
        color: #000;
    }

    .language .down .lang_down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        color: #000;
        font-size: 14px;
        padding: 5px 0 5px 10px;
    }

    .language .down .lang_down_box .down_list:hover {
        color: #b7b7b7;
    }

    .language .lang_down_box a {
        line-height: 26px;
    }

    .language .down i.flagDown {
        width: 20px;
        height: 13px;
        display: block;
        position: absolute;
    }

    .language .down i.iconDown {
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 14px;
        top: 9px;
    }

    .language .d_course i.flagDown {
        top: 5px;
        right: 28px;
    }

    .language .lang_down_box i.flagDown {
        top: 10px;
        right: 28px;
    }

    /*----------end--下拉框----------*/

    /*header_nav*/
    .main-cont-nav {
        // overflow: hidden;
        // width: 305px;
        width: 324px;
        height: 100%;
        float: left;
        padding-top: 30px;
        position: fixed;
        left: -2px;
        top: 0px;
        max-height: 1381px;
        z-index: 58;
        // padding-bottom: 9999px;
        // margin-bottom: -9999px;
        // background: #202029;
        box-shadow: 5px 0px 5px rgba(35, 37, 49, 0.9);

        .mainNav-m34 {
            display: block !important;
        }

        .left-cont-logo {
            width: 98%;
            text-align: center;
            padding-bottom: 16px;
            cursor: pointer;

            img {
                width: auto;
                max-height: 110px;
            }
        }

        .left-cont-menu {
            .menu-list {
                // width: 100%;

                // padding: 28px 0px;
                height: 88px;
                // text-align: center;
                padding-left: 50px;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid #051c13;

                &.hasSelece {
                    .check-pic {
                        display: inline-block;
                    }
                }

                &.barActive {
                    .check-pic {
                        display: inline-block;
                    }
                }

                .uncheck-pic {
                    width: auto;
                    // height: auto;
                    height: 35px;
                    margin-top: 28px;
                }

                .check-pic {
                    width: 390px;
                    height: 95px;
                    position: absolute;
                    left: 0px;
                    top: -5px;
                    display: none;

                    .img {
                        display: inline-block;
                        margin-left: 50px;
                        margin-top: 35px;
                        height: 35px;

                    }

                }

                &:hover {
                    .check-pic {
                        display: inline-block;
                    }
                }
            }

            // .menu-list {
            //     // width: 98%;
            //     // text-align: center;
            //     // position: relative;
            //     // overflow: hidden;
            //     // color: #ffcc66;
            //     .nav-number{
            //         float: left;
            //         width:40%;
            //         font-size: 44px;
            //         text-align: right;
            //     }
            //     .nav-txt{
            //         float: left;
            //         width:60%;
            //         font-size: 22px;
            //         .title{
            //             font-size: 14px;
            //         }
            //     }
            // }
            // .menu-list:hover{
            // }
        }

        .left-cont-picture {
            .left-cont-pic1 {
                text-align: center;
                // width: 93%;
                width: 96%;
                position: relative;
                cursor: pointer;

                img {
                    width: 290px;
                    height: auto;
                    height: 117px;
                }

                &.phoneAct,
                &:hover {
                    .check-phone {
                        display: inline-block;
                    }

                    .uncheck-phone {
                        display: none;
                    }
                }

                .check-phone {
                    display: none;

                }
            }

            .left-cont-pic2 {
                text-align: center;
                // width: 88%;
                width: 84%;
                margin-top: 13px;
                overflow: hidden;
                margin: 0 auto;

                .pic2-left {
                    float: left;
                    cursor: pointer;

                    &.phoneAct,
                    &:hover {
                        .pic2-unMinecraft {
                            display: none;
                        }

                        .pic2-minecraft {
                            display: inline-block;
                        }
                    }

                    .pic2-minecraft {
                        display: none;
                    }

                }

                .pic2-right {
                    float: right;
                    cursor: pointer;

                    &.phoneAct,
                    &:hover {
                        .pic2-unFavourable {
                            display: none;
                        }

                        .pic2-favourable {
                            display: inline-block;
                        }
                    }

                    .pic2-favourable {
                        display: none;
                    }
                }

                img {
                    width: 130px;
                    // height: auto;
                    height: 43px;
                    display: inline-block;
                }

                //          .pic2-favourable{
                //              margin-left: 10px;
                //          }
            }
        }

        .mainNav-u60,
        .all-left-nav {
            display: none;
        }
    }

    /*nav end*/

    /*footer*/

    .footer {
        // overflow: hidden;
        clear: both;
        position: absolute;
        bottom: 0;
        z-index: 55;
        width: 100%;
        margin-top: 60px;

        .footer-cont {
            display: none;
        }

        .footer-wrap-34 {
            display: block !important;

            .footer-leftMain {
                float: left;
                margin-top: 42px;
                margin-right: 40px;
                margin-left: 20%;
                margin-bottom: 15px;

                .footer-leftMain-list {
                    float: left;
                    // margin-right: 20px;

                    img {
                        width: auto;
                        height: 40px;
                    }
                }
            }

            .footer-rightMain {
                float: right;
                margin-top: 20px;
                margin-right: 5%;

                .footer-rightMain-menu {
                    font-size: 14px;
                    color: #000000;
                    text-align: right;
                    margin-bottom: 9px;

                    i {
                        cursor: pointer;
                        color: #000000;
                    }

                    a {
                        color: #000000;
                    }

                    a:hover {
                        color: red;
                    }

                    .menu-line {
                        display: inline-block;
                        color: #000000;
                        margin: 0px 25px;
                    }

                    i:hover {
                        color: red;
                    }
                }

                .footer-rightMain-text {
                    font-size: 14px;
                    color: #000000;
                    text-align: right;
                    line-height: 22px;
                }
            }
        }
    }


    /*客服*/
    .service {
        position: fixed;
        right: 0;
        top: 20%;
        z-index: 22;

        .customService-wrap {
            display: block !important;

            .service-freeTrial {
                width: 54px;
                float: right;
                cursor: pointer;

                .service-freeTrial-text {
                    background: linear-gradient(to bottom right, #e08125, #55331f);
                    padding: 10px 17px;
                    font-size: 18px;
                    color: #bc9248;

                    &:hover {
                        color: #fff;
                    }

                    img {
                        width: 20px;
                        height: auto;
                        // margin-bottom: 10px;
                    }
                }

                .service-freeTrial-online {
                    background: #965822;
                    // height: 87px;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    padding: 14px 15px;
                    position: relative;
                    display: block;
                    word-wrap: break-word
                }
            }
        }
    }

    //弹出
    .service-cont,
    .service-cont {
        display: none;
    }
}
