.theme15{
    .wrapper-content{
        overflow: inherit;
    }
    .tutorial_cont{
        // height: 1700px;
    }
    .tutorial-content{
        overflow:inherit;  
        position:relative;
    }
    .tutorial_cont .banner{
        position: relative;
        width: 100%;
        height: 540px;
        min-width: 1200px;
        font-size: 0;
        text-align: center;
    }
    .tutorial_cont .banner video{
        // display: none;
    }
    .banner_ul{
        display: none;
    }
    .sp_down>li{
        width: 510px!important;
        text-align: left!important;
        padding-left: 76px!important;
        border: none;
    }
    .cp_down>li{
        width: 200px!important;
        text-align: left!important;
        padding-left: 76px!important;
        border: none;
    }
    .el-dropdown-menu{
        color: #8a8a8a;
        background: #2a2a2a;
        border: 1px solid #2a2a2a;
    }
    .tutorial-main {
        position: relative;
        width: 1098px;
        min-height: 930px;
        padding: 60px 50px;
        margin: 34px auto 0;
        background: #191913;
        border: 1px solid #242830;
        // overflow: hidden;
    }
    .tutorial-main>div{
        overflow: hidden;
    }
    
    .tutorial-navs{
        width: 640px;
        margin: 180px auto 0;
        display: flex;
        justify-content: space-between;
    }
    
    .tutorial-navs li.on, .tutorial-navs li:hover {
    }
    .tutorial-navs>li {
        width: 251px;
        height: 78px;
        display: inline-block;
        text-align: center;
        line-height: 78px;
        font-size: 18px;
        color: #fff;
        // background: #000;
        cursor: pointer;
    }
    .tutorial_left_navs{
        width: 216px;
        min-height: 495px;
        float: left;
    }
    .tutorial_left_navs i{
        display: none !important;
    }
    .tutorial_left_navs li {
        font-size: 16px;
        color: #cbc7d9;
        width: 172px;
        height: 54px;
        line-height: 54px;
        padding: 0 22px;
        text-align: center;
        vertical-align: top;
        border: none;
        margin: 0;
    }
    .tutorial_left_navs li.on{
        color: #fff;
        border: none;
        background:#bc3217;
        background-size: 100% 100%;
    }
    .tutorial_left_navs li a{
        display: block;
        color: #868686;
//      border-bottom: 1px solid #36312b;
        font: normal 16px/54px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    .tutorial_left_navs li.on a{
        color: #fff;
    }
    .tutorial_left_navs li:hover a{
        color: #fff;
    }
    .tutorial_left_navs li a i {
        width: 40px;
        height: 39px;
        display: block;
        float: left;
        margin: 8px 18px 0 50px;
    }
    .tutorial_left_navs li:hover{
        border: none;
        color: #5f5f55;
    }
    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .tutorial-inside {
        float: left;
        width: 810px;
        height: 570px;
        margin: 0 0 0 70px !important;
    }
    .tutorial-inside .tutorial-box{
        width: 770px;
        padding-right: 15px;
    }
    .tutorial-inside .tutorial-box h2{
        width:100% ;
        height: 38px;
        display:block;
        text-align: center;
    }
    .tutorial-inside .tutorial-box .GameRules_mt25{
        text-align: left;
        font: normal 20px/38px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #c4a56d;
    }
    .tutorial-inside .tutorial-box h2 span{
        color: #a6acff;
        padding-left: 18px;
        font: normal 24px/38px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #c4a56d;
    }
    .tutorial-inside .tutorial-text h3{
        margin-bottom: 7px;
        font: normal 18px/38px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #b38e54;
    }
    .tutorial-inside .tutorial-text p{
        line-height: 22px;
        font: normal 16px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #868686;
    }
    .tutorial-inside .tutorial-text{
        padding-bottom: 15px;
        border-bottom: 1px solid #262626;
    }
    .tutorial-text span{
        display: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text{
        border-bottom: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
        color: #77779b;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text img{
        margin: 30px 0;
    }
    .tutorial-problem .tutorial_left_navs li a i {
        width: 42px;
        height: 41px;
    }
    .tutorial_tit_el{
        display: none;
    }
    .tutorial-navs .tutorial_tit a{
        color: #fff;
    }
    .tutorial-navs .tutorial_tit,.tutorial-navs .tutorial_tit i{
        color: #fff;
        font: normal 24px/78px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    // 遮罩
    .tutorialShade{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }
    
    // 游戏规则
    .GameRules_title{
        text-align: center;
        font: normal 24px/38px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #868686;
    }
    .GameRules_title_el{
        text-align: center;
        margin-top: 10px 0 15px !important;
        font: normal 14px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #868686;
    }
    .GameRules_center_p{
        font-size: 14px;
        color: #868686;
        margin: auto;
        line-height: 28px;
        margin-top:20px;
        text-align: left;
        font: normal 16px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    .GameRules_mt25{
        margin-top: 25px;
    }
    .GameRules_guide{
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: #26261c;
        overflow: hidden;
    }
    .GameRules_guide>span{
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: #686868;
        border-right: 1px dashed #3a3a3a;
        font: normal 36px/102px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    .GameRules_guide_cont{
        font-size: 14px;
        color: #ccc;
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center;
        p{
            color: #686868;
            font: normal 16px/30px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        }
    }
    .GameRules_smoll_p{
        margin-left: 158px;
        margin-top: 20px;
        color: #686868;
        font: normal 16px/30px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    .GameRules_ty_p{
        color: #ccc;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #26261c;
        text-align: center;
        font: bold 13px/30px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #686868;
    }
   .GameRules_center_img{
        width:683px;
        height:326px;
        display: block;
        margin: 20px auto 0;
    }
    .tutorialPic_2{
    }
    .tutorialPic_3{
    }
    .tutorialPic_4{
    }
    .GameRules_table{
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
    }
    .GameRules_table li{
        height: 70px;
        background: #26261c;
        border-bottom: 1px dashed #3a3a3a;
        border-right: 1px dashed #3a3a3a;
        color: #fff;
        text-align: center;
        overflow: hidden;
        font: normal 14px/70px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #686868;
    }
    .GameRules_table_faseli{
        height: 48px !important;
        line-height: 48px !important;
        background: #282818 !important;
    }
    .GameRules_table_faseli p{
        line-height: 23px !important;
    }
    .GameRules_table_ul1{
        float: left;
        width: 120px;
    }
    .bigwidth{
        width: 350px !important;
    }
    .GameRules_li_p{
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }
    .width358{
        width: 358px;
    }
    .GameRules_no_center{
        text-align:left;
        margin-left: 150px;
        margin-top: 0;
    }
    .GameRules_ml200{
        margin-left: 200px;
    }
    .GameRules_nomt{
        margin-top: 0;
    }
    
    .tutorial-maxWadth{
        width: 216px;
        min-height: 495px;
        float:left;
    }
    
    .tutorial_abslut_ul{
        position: absolute;
        z-index: 9;
    }
    .tutorial_abslut_ul>li {
        float: none;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 16px;
        border: none;
        color: #cbc7d9;
        width: 140px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        vertical-align: top;
        background:#333;
    }
    .tutorial_abslut_1{
        top: 276px;
        left: 266px;
    }
    .tutorial_abslut_2{
        top: 222px;
        left: 266px;
    }
    .BettingSkills_no{
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .BettingSkills_on{
        transition: 0.3s;
        height: auto;
    }
    .tutorial_abslut_ul li a{
        font: normal 16px/45px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        border: none;
    }
    .bettingSkill_box{
        overflow: hidden;
    }
    .bettingSkill_box img{
        margin-top: 20px;
    }
    .bettingSkill_box p{
        overflow: hidden;
        font: normal 16px/45px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
        color: #686868;
    }
    .bettingSkill_box p>span:nth-child(1){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #777;
    }
    .bettingSkill_box p>span:nth-child(2){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #777;
    }
    .bettingSkill_cp{
        line-height: 26px;
        font-size: 14px;
        color: #777;
    }
    .sportsSkill_chren{
        margin-left: 1px;
        position: absolute;
        top:45px;
        left: 186px;
    }
    .sportsSkill_chren>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background:#333;
    }
    .sportsSkill_chren>li a{
        font: normal 12px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    }
    .sportsSkill_chren>li:hover a{
        color: #cbc7d9;
    }
    .sportsSkillChren1on{
        color: yellow !important;
    }
    .sportsSkill_chren_01>p{
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }
    .sonname,.grandsonname{
        display: none
    }
    .sonname{
        position: absolute;
        top: 0;
        left: 236px;
    }
    .sonname>li,.grandsonname>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background:#333;
    }
    .grandsonname{
        position: absolute;
        top: 0;
        left: 236px;
    }
    .sonname>li:hover>a{
        color: #cbc7d9;
    }
    .sportsSkill_jsonp{
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #777;
    }
    
    
}

