<template>
  <div>
    <div class="profitLoss-content" id="profitLoss-scroll">
      <h5 style="padding-left:20px;color:#000">{{$t('message.agency_full_refresh')}}</h5>
      <div class="profitLoss-cont-top">
        <div class="profitLoss-top-list item1">
          <p class="p1">{{TeamPlayerTotal}}</p>
          <p class="p2">{{$t('message.agency_team_player')}}</p>
        </div>
        <div class="profitLoss-top-list item2">
          <p class="p1">{{DirectPlayerTotal}}</p>
          <p class="p2">{{$t('message.agency_direct_player')}}</p>
        </div>
        <div class="profitLoss-top-list item3">
          <p class="p1">{{TeamAgentTotal}}</p>
          <p class="p2">{{$t('message.agency_team_agent')}}</p>
        </div>
        <div class="profitLoss-top-list item4">
          <p class="p1">{{DirectAgentTotal}}</p>
          <p class="p2">{{$t('message.agency_directly_under')}}</p>
        </div>
      </div>
      <div class="record_query record_query2">
        <span class="record-query-name">{{$t('message.member_hour')}}：</span>
        <datepicker
          class="common-query-put message-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.StartTime"
          format="yyyy/MM/dd"
          calendar-class="startdate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_start_time')"
          @selected="selectedStart"
        ></datepicker>
        <span class="record-query-name line">—</span>
        <datepicker
          class="common-query-put message-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.EndTime"
          format="yyyy/MM/dd"
          calendar-class="enddate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_ending_time')"
          @selected="selectedEnd"
        ></datepicker>
        <span class="renovate" @click="ResetProfitLossTime()">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="common-searchBtn"
          href="javascript:void(0);"
          @click="UpdateQueryCondition()"
        >{{$t('message.member_search')}}</a>
      </div>
      <div class="record_query_error">
        <i
          class="tip1"
          style="margin-left: 72px;"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
        >{{$t('message.member_greater_than')}}</i>
      </div>
      <div class="profitLoss-cont-bottom">
        <!-- 个人总计 -->
        <div class="profitLoss-bt-item">
          <h2 class="profitLoss-item-title">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
            {{$t('message.agency_total_individuals')}}
          </h2>
          <div class="profitLoss-item-report">
            <ul class="report-ul agent-wallet-ul">
              <!-- <li class="report-ulLi">
                <h5>{{this.AgentWallet}}</h5>
                <p>
                  代理钱包
                  <span class="withdrawals-btn" @click="AgencyWithdrawal()">提款</span>
                </p>
              </li>-->
              <li class="report-ulLi" style="width: 244px;">
                <h5>
                  <span>
                    {{PersonalProfitAndLoss}}
                    <i
                      class="symbol"
                      v-if="PersonalProfitAndLoss > 999999"
                    >+</i>
                  </span>
                </h5>
                <p>{{$t('message.agency_individual_profits')}}</p>
              </li>
              <li class="report-ulLi" style="width: 244px;">
                <h5>{{PersonalDigitalCommissionAmount === null? '-':PersonalDigitalCommissionAmount}}</h5>
                <p>{{$t('message.agency_commission_income')}}</p>
              </li>
              <li class="report-ulLi" style="width: 244px;">
                <h5>{{PersonalOccupation === null? '-':PersonalOccupation}}</h5>
                <p>{{$t('message.agency_income_share')}}</p>
              </li>
            </ul>
            <!-- <div class="agent-wallet-section" id="agent-wallet-section">
              <h3 class="report-title">
                <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'">代理钱包明细
              </h3>
              <div class="report-table agent-wallet-table">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <td>转入方</td>
                      <td>转出方</td>
                      <td>金额</td>
                      <td>时间</td>
                      <td>类型</td>
                      <td>备注</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in AgencyWallet.List" :key="index">
                      <td>{{item.ToMemberName}}</td>
                      <td>{{item.MemberName}}</td>
                      <td
                        :class="[item.Money > 0?'positive-number': item.Money < 0 ?'negative-number':'']"
                      >{{item.Money > 0 ? '+' + item.Money : item.Money}}</td>
                      <td>{{item.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
                      <td>{{item.Type}}</td>
                      <td>{{item.Remark}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="report-loading">
                <span
                  class="more"
                  @click="AgencyWalletPageIndex+=1;GetBrokerWalletCheckDetailsData(AgencyWalletPageIndex)"
                  v-if="AgencyWalletPageIndex < AgencyWallet.PageTotalCount"
                >加载更多</span>
                <span class="more" v-else>已全部加载</span>
                <span
                  class="retract"
                  v-if="AgencyWalletPageIndex > 1"
                  @click="HideAgencyWalletSection = !HideAgencyWalletSection;AgencyWalletRactClick();"
                >
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_retract.png'"
                  > 收起列表
                </span>
              </div>
            </div>-->

            <div class="report-divider">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_lineBg.png'" />
            </div>
            <div class="personal-profitloss-section" id="personal-profitloss-section">
              <h3 class="report-title">
                <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
                {{$t('message.agency_breakEven_details')}}
              </h3>
              <div class="report-table personal-profitloss-table">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <td>{{$t('message.agency_order_number')}}</td>
                      <td>{{$t('message.member_hour')}}</td>
                      <td>{{$t('message.agency_zhan_cheng')}}</td>
                      <td>{{$t('message.agency_code_commission')}}</td>
                      <td>{{$t('message.agency_profitLoss')}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in PersonalProfitAndLossTable.List" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{item.SetDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
                      <td>{{item.TotalWinLoss === null ? '-' : item.TotalWinLoss}}</td>
                      <td>{{item.RakeIncome === null ? '-' : item.RakeIncome}}</td>
                      <td
                        :class="[item.WinLoss > 0?'positive-number':item.WinLoss < 0?'negative-number':'']"
                      >{{item.WinLoss === null ? '-' :item.WinLoss > 0 ? '+' + item.WinLoss : item.WinLoss}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="report-loading">
                <span
                  class="more"
                  @click="PersonalProfitAndLossTablePageIndex+=1;GetPersonalProfitAndLossData(PersonalProfitAndLossTablePageIndex)"
                  v-if="PersonalProfitAndLossTablePageIndex < PersonalProfitAndLossTable.PageTotalCount"
                >{{$t('message.agency_load_more')}}</span>
                <span class="more" v-else>{{$t('message.agency_all_loaded')}}</span>
                <span
                  class="retract"
                  v-if="PersonalProfitAndLossTablePageIndex > 1"
                  @click="HidePersonalProfitlossSection = !HidePersonalProfitlossSection;ProfitLossretRactClick();"
                >
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_retract.png'"
                  />
                  {{HidePersonalProfitlossSection?this.$t('message.agency_expansion_list'):this.$t('message.agency_pick_up')}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- 人数统计 -->
        <div class="profitLoss-bt-item">
          <h2 class="profitLoss-item-title">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
            {{$t('message.agency_number_statistics')}}
          </h2>
          <div class="profitLoss-item-report">
            <ul class="report-ul">
              <li class="report-ulLi">
                <h5>{{RegisterTotalNumber}}</h5>
                <p>{{$t('message.agency_registered_persons')}}</p>
              </li>
              <li class="report-ulLi">
                <h5>{{LandingTotalNumber}}</h5>
                <p>{{$t('message.agency_register_number')}}</p>
              </li>
              <li class="report-ulLi">
                <h5>{{RechargeTotalNumber}}</h5>
                <p>{{$t('message.agency_deposit_number')}}</p>
              </li>
              <li class="report-ulLi">
                <h5>{{FirstRechargeNumber}}</h5>
                <p>{{$t('message.agency_charge_number')}}</p>
              </li>
            </ul>
            <h3 class="report-title charts-report-title">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
              {{$t('message.agency_number_chart')}}
              <ul class="date-cotrol">
                <li
                  @click="TeamVariousTotalSearchTime = 'Week';TeamVariousTotalSearch('Week')"
                  :class="{'active' : TeamVariousTotalSearchTime == 'Week'}"
                >{{$t('message.agency_this_week')}}</li>
                <li
                  @click="TeamVariousTotalSearchTime = 'LastWeek';TeamVariousTotalSearch('LastWeek')"
                  :class="{'active' : TeamVariousTotalSearchTime == 'LastWeek'}"
                >{{$t('message.agency_last_week')}}</li>
                <li
                  @click="TeamVariousTotalSearchTime = 'ThisMonth';TeamVariousTotalSearch('ThisMonth')"
                  :class="{'active' : TeamVariousTotalSearchTime == 'ThisMonth'}"
                >{{$t('message.agency_this_month')}}</li>
                <li
                  @click="TeamVariousTotalSearchTime = 'AMonth';TeamVariousTotalSearch('AMonth')"
                  :class="{'active' : TeamVariousTotalSearchTime == 'AMonth'}"
                >{{$t('message.agency_within_month')}}</li>
                <li
                  @click="TeamVariousTotalSearchTime = 'ThreeMonth';TeamVariousTotalSearch('ThreeMonth')"
                  :class="{'active' : TeamVariousTotalSearchTime == 'ThreeMonth'}"
                >{{$t('message.agency_three_months')}}</li>
              </ul>
            </h3>
            <div
              class="report-currentMap"
              id="currentMain1"
              ref="TeamVariousTotalChart"
              :style="{width: '939px', height: '300px'}"
            ></div>
          </div>
        </div>
        <!-- 团队统计 -->
        <div class="profitLoss-bt-item">
          <h2 class="profitLoss-item-title">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
            {{$t('message.agency_team_statistics')}}
          </h2>
          <div class="profitLoss-item-report">
            <ul class="report-account">
              <li class="report-account-li">
                <el-tooltip :content="$t('message.agency_total_recharge_team')" placement="top">
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon1.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>{{TotalRecharge}}</h3>
                      <p>{{$t('message.agency_recharge_amount')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li">
                <el-tooltip :content="$t('message.agency_withdrawal_team')" placement="top">
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon2.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>{{CashWithdrawalAmount}}</h3>
                      <p>{{$t('message.agency_withdrawal_money')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li">
                <el-tooltip :content="$t('message.agency_amount_recharge')" placement="top">
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon3.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>{{RechargeDifference}}</h3>
                      <p>{{$t('message.agency_filling_lifting')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li">
                <el-tooltip :content="$t('message.agency_amount_total_team')" placement="top">
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon4.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>{{TotalWinLoss ===null ? '-': TotalWinLoss}}</h3>
                      <p>{{$t('message.agency_zhan_cheng')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li">
                <el-tooltip :content="$t('message.agency_amount_total_commission')" placement="top">
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon5.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>{{Commission===null ? '-': Commission}}</h3>
                      <p>{{$t('message.agency_commission_amount')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li">
                <el-tooltip
                  :content="$t('message.agency_total_rewards_activities')"
                  placement="top"
                >
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon8.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>
                        <span>
                          {{ActivityAward}}
                          <!-- <i class="symbol" v-if="TeamProfitAndLoss > 0">-</i> -->
                        </span>
                      </h3>
                      <p>{{$t('message.agency_activity_award')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
              <li class="report-account-li" style="border-bottom: none;">
                <el-tooltip placement="top">
                  <div slot="content">
                    {{$t('message.agency_winning_percentage')}}
                    <br />
                    {{$t('message.agency_dividend_betting')}}
                  </div>
                  <div>
                    <div class="report-liIcon">
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon6.png'"
                      />
                    </div>
                    <div class="report-liMoney">
                      <h3>
                        <span>
                          {{TeamProfitAndLoss === null ? '-': TeamProfitAndLoss}}
                          <!-- <i class="symbol" v-if="TeamProfitAndLoss > 0">-</i> -->
                        </span>
                      </h3>
                      <p>{{$t('message.agency_profitLoss')}}</p>
                    </div>
                  </div>
                </el-tooltip>
              </li>
            </ul>
            <div class="team-total-section" id="team-total-section">
              <h3 class="report-title">
                <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
                {{$t('message.agency_total_teamList')}}
              </h3>
              <div class="report-table team-total-table">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <td>{{$t('message.agency_order_number')}}</td>
                      <td>{{$t('message.agency_user_name')}}</td>
                      <td>{{$t('message.agency_recharge_amount')}}</td>
                      <td>{{$t('message.agency_withdrawal_money')}}</td>
                      <td>{{$t('message.agency_transfer_amount')}}</td>
                      <td>{{$t('message.agency_zhan_cheng')}}</td>
                      <td>{{$t('message.agency_code_commission')}}</td>
                      <td>{{$t('message.agency_activity_award')}}</td>
                      <td>{{$t('message.agency_profitLoss')}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in AgentTeam.List" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{item.LoginID}}</td>
                      <td>{{item.TotalRecharge}}</td>
                      <td>{{item.DepositAmt}}</td>
                      <td>{{item.TransferAmount}}</td>
                      <td>{{item.TotalWinLoss === null ? '-' : item.TotalWinLoss}}</td>
                      <td>{{item.Commission === null ? '-' : item.Commission}}</td>
                      <td>{{item.ActivityAward}}</td>
                      <td
                        :class="[item.TeamProfitAndLoss === null ? '' :item.TeamProfitAndLoss > 0? 'positive-number':'negative-number']"
                      >{{item.TeamProfitAndLoss ===null ? '-' :item.TeamProfitAndLoss > 0 ? '+' + item.TeamProfitAndLoss : item.TeamProfitAndLoss}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="report-loading">
                <span
                  class="more"
                  @click="AgentTeamPageIndex += 1;GetAgentTeamTotalData(AgentTeamPageIndex)"
                  v-if="AgentTeamPageIndex < AgentTeam.PageTotalCount"
                >{{$t('message.agency_load_more')}}</span>
                <span class="more" v-else>{{$t('message.agency_all_loaded')}}</span>
                <span
                  class="retract"
                  v-if="AgentTeamPageIndex > 1"
                  @click="HideTeamTotalSection = !HideTeamTotalSection;TeamTotalRactClick();"
                >
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_retract.png'"
                  />
                  {{$t('message.agency_pick_up')}}
                </span>
              </div>
            </div>

            <h3 class="report-title charts-report-title">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
              {{$t('message.agency_total_teamChart')}}
              <ul class="date-cotrol">
                <li
                  @click="AgentTeamTotalSearchTime = 'Week';AgentTeamTotalSearch('Week')"
                  :class="{'active' : AgentTeamTotalSearchTime == 'Week'}"
                >{{$t('message.agency_this_week')}}</li>
                <li
                  @click="AgentTeamTotalSearchTime = 'LastWeek';AgentTeamTotalSearch('LastWeek')"
                  :class="{'active' : AgentTeamTotalSearchTime == 'LastWeek'}"
                >{{$t('message.agency_last_week')}}</li>
                <li
                  @click="AgentTeamTotalSearchTime = 'ThisMonth';AgentTeamTotalSearch('ThisMonth')"
                  :class="{'active' : AgentTeamTotalSearchTime == 'ThisMonth'}"
                >{{$t('message.agency_this_month')}}</li>
                <li
                  @click="AgentTeamTotalSearchTime = 'AMonth';AgentTeamTotalSearch('AMonth')"
                  :class="{'active' : AgentTeamTotalSearchTime == 'AMonth'}"
                >{{$t('message.agency_within_month')}}</li>
                <li
                  @click="AgentTeamTotalSearchTime = 'ThreeMonth';AgentTeamTotalSearch('ThreeMonth')"
                  :class="{'active' : AgentTeamTotalSearchTime == 'ThreeMonth'}"
                >{{$t('message.agency_three_months')}}</li>
              </ul>
            </h3>
            <div
              class="report-currentMap"
              id="currentMain2"
              ref="AgentTeamTotalChart"
              :style="{width: '939px', height: '300px'}"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <agency-transfer-withdrawal
      ref="mychild"
      :IsProfitLoss="true"
      :MemberBalance="this.AgentWallet"
    ></agency-transfer-withdrawal>
  </div>
</template>

<script>
// 重点：此位置引入的是你单独配置的echarts
import EventBus from "@/assets/scripts/common/EventBus"
import echarts from "@/assets/scripts/common/myCharts"
import moment from "moment"
import CommUtility from "scripts/common/CommUtility"
import Datepicker from "@/components/main/common/datePicker"
// import Datepicker from 'vuejs-datepicker';
import BLDef from "scripts/common/BLDef"
import AgencyCenterService from "@/assets/scripts/businessLogic/agencyCenterService"
import AgencyTransferWithdrawal from "@/mod/k06/components/sub/agency/transferAccounts/agencyTransferWithdrawal"

export default {
  data() {
    return {
      HidePersonalProfitlossSection: false, // 是否隐藏个人盈亏列表
      DefPersonalProfitlossSectionHeight: "", // 展开时个人盈亏列表高度
      HideAgencyWalletSection: false,
      DefAgencyWalletSectionHeight: "",
      HideTeamTotalSection: false,
      DefTeamTotalSectionHeight: "",
      AgentTeamTotalSearchTime: "Week", // 团队总计图表搜索字段
      TeamVariousTotalSearchTime: "Week", // 人数统计图表搜索字段
      Submitted: false,
      TimeSequenceInvalid: false,
      TeamPlayerTotal: 0,
      DirectPlayerTotal: 0,
      DirectAgentTotal: 0,
      TeamAgentTotal: 0,
      AgentWallet: 0,
      PersonalProfitAndLoss: 0,
      PersonalDigitalCommissionAmount: 0,
      PersonalOccupation: 0,
      LandingTotalNumber: 0,
      RechargeTotalNumber: 0,
      FirstRechargeNumber: 0,
      TotalRecharge: 0,
      CashWithdrawalAmount: 0,
      RechargeDifference: 0,
      TotalWinLoss: 0,
      Commission: 0,
      TeamProfitAndLoss: 0,
      ActivityAward: 0,
      RegisterTotalNumber: 0,
      AgencyWallet: {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      },
      AgentTeam: {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      },
      PersonalProfitAndLossTable: {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      },
      AgencyWalletPageIndex: 1,
      AgentTeamPageIndex: 1,
      PersonalProfitAndLossTablePageIndex: 1,
      DisplayQueryObj: {
        StartTime: moment(new Date()).isoWeekday(1).utcOffset(480).format("YYYY-MM-DD"),
        EndTime: moment(new Date()).utcOffset(480).format("YYYY-MM-DD")
      },
      CalendarDisabled: {
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds")) // Disable all dates after specific date
      }
    }
  },
  mounted() {
    this.GetTeamProfitAndLossData()
    this.GetTeamVariousTotalData()
    this.GetBrokerWalletCheckDetailsData(1)
    this.GetAgentTeamTotalData(1)
    this.GetPersonalProfitAndLossData(1)
    // 调用绘制图表的方法
    this.initTeamVariousTotalChart()
    this.initAgentTeamTotalChart()
    $("#profitLoss-scroll").perfectScrollbar()
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      let startDate = new Date(this.dateFormat(date) + " 00:00:00")
      this.DisplayQueryObj.StartTime = startDate
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      let endDate = new Date(this.dateFormat(date) + " 23:59:59")
      this.DisplayQueryObj.EndTime = endDate
      this.CheckFied()
    },
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // 提款
    AgencyWithdrawal: function () {
      this.$refs.mychild.LoadAuthorizeUserList()
      CommUtility.WebShowAlertboxForm("agency_transfer_widthdrawal")
    },

    // 初始化人数统计图表
    initTeamVariousTotalChart: async function (StartTick, EndTick) {
      // 实例化echarts对象
      const TeamVariousTotalChart = echarts.init(this.$refs.TeamVariousTotalChart, "macarons")
      const dataObj = {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: StartTick || CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: EndTick || CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      TeamVariousTotalChart.showLoading()
      const data = await AgencyCenterService.TeamVariousTotalStatistical_LoadMainPage(dataObj)
      TeamVariousTotalChart.hideLoading()
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------TeamVariousTotalStatistical_LoadMainPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data.List && data.Data.List.length && data.Data.List.length > 0) {
          const TeamVariousTotalList = data.Data.List
          const NewxTeamVariousAxisData = []
          const NewRegisterData = []
          const LoginData = []
          const RechargeTotalData = []
          const FirstRechargeData = []
          for (let i = 0; i < TeamVariousTotalList.length; i++) {
            NewxTeamVariousAxisData.push(
              CommUtility.UtcTicksToLocalTime(TeamVariousTotalList[i].StatisticalDateTick, "YYYY/MM/DD")
            )
            NewRegisterData.push(TeamVariousTotalList[i].RegisterTotalNumber * 1)
            LoginData.push(TeamVariousTotalList[i].LandingTotalNumber * 1)
            RechargeTotalData.push(TeamVariousTotalList[i].RechargeTotalNumber * 1)
            FirstRechargeData.push(TeamVariousTotalList[i].FirstRechargeNumber * 1)
          }
          this.$nextTick(() => {
            // 绘制条形图
            TeamVariousTotalChart.setOption({
              title: {
                text: ""
              },
              tooltip: {
                trigger: "axis"
              },
              legend: {
                data: [
                  this.$t("message.agency_new_registration"),
                  this.$t("message.top_login"),
                  this.$t("message.total_recharge"),
                  this.$t("message.agency_first_charge")
                ],
                right: 30
              },
              grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
              },
              xAxis: {
                type: "category",
                boundaryGap: false,
                axisLabel: {
                  showMaxLabel: true
                },
                data: NewxTeamVariousAxisData
              },
              yAxis: {
                type: "value"
              },
              series: [
                {
                  name: this.$t("message.agency_new_registration"),
                  type: "line",
                  data: NewRegisterData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.top_login"),
                  type: "line",
                  data: LoginData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.total_recharge"),
                  type: "line",
                  data: RechargeTotalData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_first_charge"),
                  type: "line",
                  data: FirstRechargeData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                }
              ]
            })
          })
        }
      }
    },
    // 初始化团队统计图表
    initAgentTeamTotalChart: async function (StartTick, EndTick) {
      // 实例化echarts对象
      const AgentTeamTotalChart = echarts.init(this.$refs.AgentTeamTotalChart, "macarons")
      const dataObj = {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: StartTick || CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: EndTick || CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      AgentTeamTotalChart.showLoading()
      const data = await AgencyCenterService.AgentTeamTotalStatistical_LoadDetailPage(dataObj)
      AgentTeamTotalChart.hideLoading()
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------AgentTeamTotalStatistical_LoadDetailPage")
      console.log(data)
      console.log("------------------AgentTeamTotalStatistical_LoadDetailPage")
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data.List && data.Data.List.length && data.Data.List.length > 0) {
          const AgentTeamTotalList = data.Data.List
          const NewxAxisData = []
          const RechargeData = []
          const WithdrawalData = []
          const RechargeDifferenceData = []
          const AccountedForData = []
          const CodeCommissionData = []
          const ActivityAwardData = []
          const TeamProfitLossData = []
          for (let i = 0; i < AgentTeamTotalList.length; i++) {
            NewxAxisData.push(CommUtility.UtcTicksToLocalTime(AgentTeamTotalList[i].StatisticalDateTick, "YYYY/MM/DD"))
            RechargeData.push(AgentTeamTotalList[i].TotalRecharge * 1)
            WithdrawalData.push(AgentTeamTotalList[i].DepositAmt * 1)
            RechargeDifferenceData.push(AgentTeamTotalList[i].RechargeDifference * 1)
            AccountedForData.push(AgentTeamTotalList[i].TotalWinLoss * 1)
            CodeCommissionData.push(AgentTeamTotalList[i].Commission * 1)
            ActivityAwardData.push(AgentTeamTotalList[i].ActivityAward * 1)
            TeamProfitLossData.push(AgentTeamTotalList[i].TeamProfitAndLoss * 1)
          }
          this.$nextTick(() => {
            // 绘制条形图
            AgentTeamTotalChart.setOption({
              title: {
                text: ""
              },
              tooltip: {
                trigger: "axis"
              },
              legend: {
                data: [
                  this.$t("message.top_recharge"),
                  this.$t("message.agency_cash_withdrawal"),
                  this.$t("message.agency_filling_lifting"),
                  this.$t("message.agency_zhan_cheng"),
                  this.$t("message.agency_code_commission"),
                  this.$t("message.agency_activity_award"),
                  this.$t("message.agency_profitLoss")
                ],
                right: 30
              },
              grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
              },
              xAxis: {
                type: "category",
                boundaryGap: false,
                axisLabel: {
                  showMaxLabel: true
                },
                data: NewxAxisData
              },
              yAxis: {
                type: "value"
              },
              series: [
                {
                  name: this.$t("message.top_recharge"),
                  type: "line",
                  data: RechargeData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_cash_withdrawal"),
                  type: "line",
                  data: WithdrawalData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_filling_lifting"),
                  type: "line",
                  data: RechargeDifferenceData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_zhan_cheng"),
                  type: "line",
                  data: AccountedForData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_code_commission"),
                  type: "line",
                  data: CodeCommissionData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_activity_award"),
                  type: "line",
                  data: ActivityAwardData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                },
                {
                  name: this.$t("message.agency_profitLoss"),
                  type: "line",
                  data: TeamProfitLossData,
                  markPoint: {
                    data: [{ type: "max", name: this.$t("message.agency_max_num") }]
                  }
                }
              ]
            })
          })
        }
      }
    },
    // 载入团队盈亏主页面资料
    GetTeamProfitAndLossData: async function () {
      const dataObj = {
        MemberID: localStorage.getItem("CorrelationIBMemberId")
        // StartTick: CommUtility.LocalTimeToUtcTicks(
        //   this.DisplayQueryObj.StartTime + ' 00:00:00'
        // ),
        // EndTick: CommUtility.LocalTimeToUtcTicks(
        //   this.DisplayQueryObj.EndTime + ' 23:59:59'
        // )
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.TeamProfitAndLoss_LoadMainPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------TeamProfitAndLoss_LoadMainPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TeamAgentTotal = data.Data.TeamAgentTotal
        this.DirectAgentTotal = data.Data.DirectAgentTotal
        this.DirectPlayerTotal = data.Data.DirectPlayerTotal
        this.TeamPlayerTotal = data.Data.TeamPlayerTotal
      }
    },
    //  载入个人总计-人数统计-团队盈亏总数量
    GetTeamVariousTotalData: async function () {
      const dataObj = {
        MemberID: 1,
        Agent: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.TeamVariousTotal_LoadMainPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------TeamVariousTotal_LoadMainPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        console.log("AgentWallet")
        console.log(data.Data)
        console.log("AgentWallet")
        this.AgentWallet = data.Data.AgentWallet
        this.PersonalProfitAndLoss = data.Data.PersonalProfitAndLoss
        this.PersonalDigitalCommissionAmount = data.Data.PersonalDigitalCommissionAmount
        this.PersonalOccupation = data.Data.PersonalOccupation
        this.LandingTotalNumber = data.Data.LandingTotalNumber
        this.RechargeTotalNumber = data.Data.RechargeTotalNumber
        this.FirstRechargeNumber = data.Data.FirstRechargeNumber
        this.TotalRecharge = data.Data.TotalRecharge
        this.CashWithdrawalAmount = data.Data.CashWithdrawalAmount
        this.RechargeDifference = data.Data.RechargeDifference
        this.TotalWinLoss = data.Data.TotalWinLoss
        this.Commission = data.Data.Commission
        this.TeamProfitAndLoss = data.Data.TeamProfitAndLoss
        this.ActivityAward = data.Data.ActivityAward
        this.RegisterTotalNumber = data.Data.RegisterTotalNumber
      }
    },
    //  代理钱包--查看明细
    GetBrokerWalletCheckDetailsData: async function (PageIndex) {
      const dataObj = {
        Type: 3,
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000,
        PageIndex: PageIndex,
        PageSize: 5
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.BrokerWalletCheckDetails_LoadDetailPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------BrokerWalletCheckDetails_LoadDetailPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        const self = this
        if (data.Data.List && data.Data.List.length && data.Data.List.length > 0) {
          $("#agent-wallet-section").css("height", "auto")
          data.Data.List.forEach(function (item) {
            self.AgencyWallet.List.push(item)
          })
        }
        this.AgencyWallet.TotalCount = data.Data.TotalCount
        this.AgencyWallet.PageTotalCount = Math.ceil((this.AgencyWallet.TotalCount * 1) / 5)
      }
    },
    // 团队总计-下级报表
    GetAgentTeamTotalData: async function (PageIndex) {
      // debugger;
      const dataObj = {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000,
        PageIndex: PageIndex,
        PageSize: 5
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.AgentTeamTotal_LoadDetailPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------AgentTeamTotal_LoadDetailPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        const self = this
        if (data.Data.List && data.Data.List.length && data.Data.List.length > 0) {
          $("#team-total-section").css("height", "auto")
          data.Data.List.forEach(function (item) {
            self.AgentTeam.List.push(item)
          })
        }
        this.AgentTeam.TotalCount = data.Data.TotalCount
        this.AgentTeam.PageTotalCount = Math.ceil((this.AgentTeam.TotalCount * 1) / 5)
        console.log("this.AgentTeam1111111111111")
        console.log(this.AgentTeam)
        console.log("this.AgentTeam1111111111111")
      }
    },
    // 个人盈亏报表
    GetPersonalProfitAndLossData: async function (PageIndex) {
      const dataObj = {
        MemberID: localStorage.getItem("CorrelationIBMemberId"),
        StartTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime),
        EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime) + (24 * 60 * 60 - 1) * 1000,
        PageIndex: PageIndex,
        PageSize: 5
      }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await AgencyCenterService.PersonalProfitAndLoss_LoadDetailPage(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("------------------PersonalProfitAndLoss_LoadDetailPage")
      console.log(data)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        const self = this
        if (data.Data.List && data.Data.List.length && data.Data.List.length > 0) {
          $("#personal-profitloss-section").css("height", "auto")
          data.Data.List.forEach(function (item) {
            self.PersonalProfitAndLossTable.List.push(item)
          })
        }

        console.log(self.PersonalProfitAndLossTable)
        // debugger;
        this.PersonalProfitAndLossTable.TotalCount = data.Data.TotalCount
        this.PersonalProfitAndLossTable.PageTotalCount = Math.ceil((this.PersonalProfitAndLossTable.TotalCount * 1) / 5)
      }
    },
    // 收起列表
    // 个人盈亏列表伸缩
    ProfitLossretRactClick() {
      const slideHeight = "265px" // px 定义折叠的最小高度
      if (this.HidePersonalProfitlossSection) {
        this.DefPersonalProfitlossSectionHeight = $("#personal-profitloss-section").height()
        $("#personal-profitloss-section").animate(
          {
            height: slideHeight
          },
          300
        )
      } else {
        $("#personal-profitloss-section").animate(
          {
            height: this.DefPersonalProfitlossSectionHeight
          },
          300
        )
      }
    },
    // 团队统计列表伸缩
    TeamTotalRactClick() {
      const slideHeight = "265px" // px 定义折叠的最小高度
      if (this.HideTeamTotalSection) {
        this.DefTeamTotalSectionHeight = $("#team-total-section").height()
        $("#team-total-section").animate(
          {
            height: slideHeight
          },
          300
        )
      } else {
        $("#team-total-section").animate(
          {
            height: this.DefTeamTotalSectionHeight
          },
          300
        )
      }
    },
    // 代理钱包明细列表伸缩
    AgencyWalletRactClick() {
      const slideHeight = "265px" // px 定义折叠的最小高度
      if (this.HideAgencyWalletSection) {
        this.DefAgencyWalletSectionHeight = $("#agent-wallet-section").height()
        $("#agent-wallet-section").animate(
          {
            height: slideHeight
          },
          300
        )
      } else {
        $("#agent-wallet-section").animate(
          {
            height: this.DefAgencyWalletSectionHeight
          },
          300
        )
      }
    },
    // 取款按钮点击
    GoTowWithdrawal() {
      this.$store.dispatch("setAgencyNameText", "webTransferAccounts")
    },
    // 顶部选择时间搜索按钮
    UpdateQueryCondition: async function () {
      this.Submitted = true
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      const anyFieldInvalid = this.CheckFied()

      if (anyFieldInvalid === true || result === false) {
        return
      }
      // 格式化时间
      this.DisplayQueryObj.StartTime = moment(this.DisplayQueryObj.StartTime).format("YYYY-MM-DD")
      this.DisplayQueryObj.EndTime = moment(this.DisplayQueryObj.EndTime).format("YYYY-MM-DD")

      this.AgentTeamTotalSearchTime = ""
      this.TeamVariousTotalSearchTime = ""
      // 重置列表
      this.AgencyWallet = {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      }
      this.AgentTeam = {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      }
      this.PersonalProfitAndLossTable = {
        List: [],
        TotalCount: 0,
        PageTotalCount: 0
      }
      this.AgencyWalletPageIndex = 1
      this.AgentTeamPageIndex = 1
      this.PersonalProfitAndLossTablePageIndex = 1

      this.GetTeamProfitAndLossData()
      this.GetTeamVariousTotalData()
      this.GetBrokerWalletCheckDetailsData(1)
      this.GetAgentTeamTotalData(1)
      this.GetPersonalProfitAndLossData(1)
      this.initTeamVariousTotalChart()
      this.initAgentTeamTotalChart()
    },
    // 团队统计图表按本周、上周等时间段进行搜索
    AgentTeamTotalSearch: async function (time) {
      if (time === "Week") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment().isoWeekday(1).format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        console.log("--------------moment")
        console.log(endDate)
        this.initAgentTeamTotalChart(startDate, endDate)
      } else if (time === "LastWeek") {
        const weekOfDay = parseInt(moment().format("E")) // 计算今天是这周第几天
        const startDate = CommUtility.LocalTimeToUtcTicks(
          moment()
            .subtract(weekOfDay + 7 - 1, "days")
            .format("YYYY-MM-DD")
        ) // 周一日期
        const endDate =
          CommUtility.LocalTimeToUtcTicks(moment().subtract(weekOfDay, "days").format("YYYY-MM-DD")) +
          (24 * 60 * 60 - 1) * 1000 // 周日日期
        this.initAgentTeamTotalChart(startDate, endDate)
      } else if (time === "ThisMonth") {
        const startDate = moment().month(moment().month()).startOf("month").valueOf()
        const endDate = moment(new Date()).valueOf()
        this.initAgentTeamTotalChart(startDate, endDate)
      } else if (time === "AMonth") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment(new Date()).subtract(1, "months").format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        this.initAgentTeamTotalChart(startDate, endDate)
      } else if (time === "ThreeMonth") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment(new Date()).subtract(3, "months").format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        this.initAgentTeamTotalChart(startDate, endDate)
      }
    },
    // 人数统计图表按本周、上周等时间段进行搜索
    TeamVariousTotalSearch: async function (time) {
      if (time === "Week") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment().isoWeekday(1).format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        this.initTeamVariousTotalChart(startDate, endDate)
      } else if (time === "LastWeek") {
        const weekOfDay = parseInt(moment().format("E")) // 计算今天是这周第几天
        const startDate = CommUtility.LocalTimeToUtcTicks(
          moment()
            .subtract(weekOfDay + 7 - 1, "days")
            .format("YYYY-MM-DD")
        ) // 周一日期
        const endDate =
          CommUtility.LocalTimeToUtcTicks(moment().subtract(weekOfDay, "days").format("YYYY-MM-DD")) +
          (24 * 60 * 60 - 1) * 1000 // 周日日期
        this.initTeamVariousTotalChart(startDate, endDate)
      } else if (time === "ThisMonth") {
        const startDate = moment().month(moment().month()).startOf("month").valueOf()
        const endDate = moment(new Date()).valueOf()
        this.initTeamVariousTotalChart(startDate, endDate)
      } else if (time === "AMonth") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment(new Date()).subtract(1, "months").format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        this.initTeamVariousTotalChart(startDate, endDate)
      } else if (time === "ThreeMonth") {
        const startDate = CommUtility.LocalTimeToUtcTicks(moment(new Date()).subtract(3, "months").format("YYYY-MM-DD"))
        const endDate = moment(new Date()).valueOf()
        this.initTeamVariousTotalChart(startDate, endDate)
      }
    },
    // 重置查询条件
    ResetProfitLossTime: function () {
      this.TimeSequenceInvalid = false
      this.DisplayQueryObj.StartTime = moment(new Date()).isoWeekday(1).utcOffset(480).format("YYYY-MM-DD")
      this.DisplayQueryObj.EndTime = moment(new Date()).utcOffset(480).format("YYYY-MM-DD")
    },
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      // 開始日期大於結束日期
      if (new Date(this.DisplayQueryObj.StartTime) > new Date(this.DisplayQueryObj.EndTime)) {
        this.TimeSequenceInvalid = true
        anyInvalid = true
      }
      return anyInvalid
    }
  },
  components: {
    Datepicker,
    AgencyTransferWithdrawal
  }
}
</script>
