<template>
  <div class="activity-detail-content">
    <div>
      <div class="more_news" v-if="this.$route.params.ID >= 0">
        <div class="more_course">
          <p class="details_title">{{PromotionDetail.Name}}</p>
          <span class="details_date">
            <span>{{$t('message.activity_activity_time')}}：</span>
            <span>{{PromotionDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{PromotionDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</span>
          </span>
          <img v-if="ActLogoFlag == true" :src="Resource + PromotionDetail.ActLogo" />
          <div class="news-course-p activity-detail-text"></div>
        </div>
      </div>

      <!--登陆后进入充值页面 2018.09.21 SeyoChen -->
      <a
        class="activity-btn mar-auto"
        v-show="OtherActivityData"
        v-on:click="TriggerMemberUser('webMemberDeposit')"
      >{{$t('message.activity_enter_deposits')}}</a>
      <a
        class="activity-btn mar-auto"
        v-show="!OtherActivityData"
        @click="TriggerMemberUser('webMemberDeposit')"
      >{{$t('message.activity_enter_deposits')}}</a>

      <!--弹窗选择支付方式 2018.09.21-->
      <div
        id="informationForm"
        class="pub_alert_box tel_alert_box re_h"
        style="display: none;width: 350px;"
      >
        <span class="cover"></span>
        <form name="InformationForm" novalidate="novalidate">
          <div class="descr_title no_line">
            <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
          </div>
          <div class="descr_p">
            <p class="p_blue">{{$t('message.activity_deposit_method')}}</p>
            <p>{{$t('message.activity_optimal')}}</p>
          </div>
          <div class="alert_btn_both">
            <a
              class="btn1"
              v-if="this.OnlinePaymentAcctCnt != 0"
              style="margin-right: 10px;"
              href="javascript:void(0);"
              @click="ToRechargePage(1)"
            >{{$t('message.activity_online_payment')}}</a>
            <a
              class="btn1"
              v-if="this.CompAcctCnt != 0"
              href="javascript:void(0);"
              @click="ToRechargePage(2)"
            >{{$t('message.activity_company_income')}}</a>
            <a
              class="btn1"
              v-if="this.CompAcctCnt == 0 && this.OnlinePaymentAcctCnt == 0"
            >{{$t('message.activity_open_function')}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ActivityDetailContent } from '@/mod/k05/assets/scripts/comTest/main/activity/activityDetailContent.js'
export default {
  mixins: [ActivityDetailContent]
}
</script>
