.theme60 {

    /* 游戏维护中 */
    .game-maintain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .eg-big-play {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 20;
    }

    .eg-big-maintain {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 45px;
    }

    .game-maintain,
    .eg-big-play {
    }

    .eg-big-maintain {
    }

    /* 游戏维护中 end */

    /*代理加盟，联系我们公共样式*/
    .a-j-lists {
        .a-j-putBox-title {
            display: none;
        }

        .proxy-com {
            margin-bottom: 10px;
            clear: both;

            &.member-name {
                .name {
                    color: #fff;
                }
            }

            textarea {
                border: none;
                outline: none;
                padding: 0 15px;
                height: 109px;
                line-height: 34px;
                width: 320px;
                border: 1px solid #646775;
                background-color: transparent;
                color: #ccc;
                font-size: 14px;
                // margin-left: -4px;
            }

            .proxy-line {
                width: 100%;
                position: relative;

                .vdp-datepicker {
                    display: inline-block;
                    vertical-align: top;
                    // margin-left: -4px;

                    /deep/ input {
                        box-sizing: content-box;
                    }
                }

                i {
                    width: 9px;
                    height: 8px;
                    position: absolute;
                    right: 24px;
                    top: 15px;
                }

                .title {
                    display: inline-block;
                    color: #ccc;
                    font-size: 16px;
                    line-height: 36px;
                    width: 137px;
                    text-align: right;
                    margin-right: 15px;
                    float: left;

                    .txt,
                    .colon,
                    .asterisk {
                        font-weight: normal;
                    }
                }

                input[type=text],
                .a-j-input input {
                    display: inline-block;
                    vertical-align: top;
                    height: auto;
                    width: 350px;
                    height: 34px;
                    border: 1px solid #646775;
                    outline: none;
                    padding: 0 15px;
                    height: 34px;
                    line-height: 34px;
                    width: 320px;
                    background-color: transparent;
                    color: #ccc;
                    font-size: 14px;
                }

                &.code {
                    input {
                        width: 170px;
                        // margin-left: -4px;
                    }

                    img {
                        height: 40px;
                        vertical-align: top;
                    }
                }
            }

            .a-j-input {
                width: 352px;
                position: relative;
                display: inline-block;
                vertical-align: top;
                // margin-left: -5px;

                .down {
                    width: 352px;
                    height: auto;

                    .d_course {
                        height: 24px;
                        line-height: 24px;
                        padding: 5px 10px;
                        cursor: pointer;
                        text-align: left;
                        outline: none;
                        border: 1px solid #646775;
                        font-size: 14px;
                        color: #e6e6e6;
                        border-radius: 0;
                        background: none;
                    }

                    .down_box {
                        height: auto;
                        position: absolute;
                        display: none;
                        z-index: 10;
                        overflow-y: auto;
                        border: 1px solid #e4e4e4;
                        top: 36px;
                        width: 100%;
                        border-top: 0;
                        max-height: 165px;
                        background: #eaeaea;
                        border-radius: 0 0 3px 3px;
                        padding-top: 5px;
                    }

                    i.a-j-downimg {
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 16px;
                        width: 10px;
                        height: 6px;
                    }
                }

                .a-j-sexUl {
                    overflow: hidden;
                    font-size: 16px;
                    color: #888992;
                    line-height: 36px;
                    margin-left: 10px;

                    .a-j-sexItem {
                        float: left;
                        margin-right: 35px;
                        cursor: pointer;
                        position: relative;
                        padding-left: 20px;

                        input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }

                        &.on,
                        &:hover {
                        }
                    }
                }
            }

            .a-j-input.sex {
                img {
                    display: none;
                }

                input.a-j-select-ipt {
                    display: none;
                }
            }

            .a-j-input1 {
                margin-right: 10px;
                float: left;

                input {
                    width: 80px;
                }
            }

            .tip1 {
                font-size: 12px;
                color: #e50000;
                margin: 3px 0 0 110px;
                clear: both;
            }

            textarea,
            input {

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    font-size: 16px;
                    color: #646476;
                }
            }
        }
    }

    .a-j-submit {
        width: 295px;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        font-size: 20px;
        color: #f2f4f9;
        margin: 30px auto 0;
    }

    /*代理加盟，联系我们公共样式 end*/
}
