.theme60 {
    /*首页*/

    .index-content {}

    .index-roughly-t60,
    .video60 {
        display: block !important;
    }

    .index-content .index-roughly {
        width: 100%;
        margin-top: -5px;
        background-position: center top !important;
        position: relative;
        height: 960px;
    }

    .index-roughly-main {
        position: absolute;
        right: 10%;
        top: 0;
        z-index: 100;
        width: 90%;
        text-align: right;
    }

    .index-roughly .index-roughly-main a {
        width: 25%;
        height: 960px;
        display: inline-block;
        margin-left: -158px;
    }

    .index-roughly .index-roughly-main a:hover {
        width: 606px;
    }

    .index-roughly .index-roughly-main .first-pic {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .first-pic:hover {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .second-pic {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .second-pic:hover {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .third-pic {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .third-pic:hover {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .last-pic {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .last-pic:hover {
        background-size: 100% 100%;
    }

    .index-roughly .index-roughly-main .last-pic {
        background-size: 100% 100%;
    }
}


/*首页 end*/
