.theme60 {

    /*真人视讯*/
    .live-content {
        // height: 1890px;


        .live-content-banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            font-size: 0;
            text-align: center;
            height: 540px;

            video {
                display: none;
            }
        }

        .live-logo-page {
            position: relative;
            margin: auto;
            margin-top: -50px;
            z-index: 10;
            width: 1000px;

            .live-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .live-logo-top {
                height: 53px;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }


            .live-logo-lists {
                width: 100%;
                min-height: 590px;
                overflow: hidden;
                padding-top: 20px;

                li {
                    width: 320px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    display: block;
                    background: rgba(112, 216, 255, .2);
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: #70d8ff;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 130px;
                        line-height: 130px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .live-logo-footer {
                display: none;
            }
        }
    }

    /*真人视讯 end*/

    /*电子游戏*/
    .ele-content {

        .ele-content-banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 540px;
            font-size: 0;
            text-align: center;

            video {
                display: none;
            }
        }

        .ele-logo-page {
            margin: auto;
            position: relative;
            margin-top: -50px;
            z-index: 10;
            width: 1200px;
            min-height: 600px;

            .ele-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .ele-logo-top {
                overflow: hidden;

                h2 {
                    float: left;
                    width: 100%;
                    border-bottom: 1px solid #626262;
                    padding-bottom: 10px;
                    font-size: 18px;
                    color: #70d8ff;
                    margin: 20px 0;
                }
            }

            .ele-logo-main {
                .ele-vendor-lists {
                    overflow: hidden;

                    .ele-vendor-li {
                        width: 110px;
                        height: 45px;
                        float: left;
                        display: block;
                        line-height: 45px;
                        text-align: center;
                        background: rgba(112, 216, 255, .2);
                        margin-right: 5px;
                        margin-bottom: 5px;
                        font-size: 0;
                        position: relative;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            max-width: 100%;
                        }

                        &:hover,
                        .on {
                            background: #70d8ff;
                        }
                    }
                }

                .ele-search-section {
                    // position: absolute;
                    top: 0;
                    right: 0;
                }

                .ele-search {
                    width: 190px;
                    height: 38px;
                    margin-right: 10px;
                    font-size: 14px;
                    position: relative;
                    float: right;

                    .ele-search-btn {
                        font-size: 0;
                        width: 18px;
                        height: 20px;
                        position: absolute;
                        right: 5px;
                        top: 8px;
                        line-height: normal;
                        font-size: 0;
                    }

                    input {
                        padding-right: 30px;
                        width: 160px;
                        height: 38px;
                        border: 0;
                        outline: none;
                        color: #fff;
                        background: #362245;
                        border-radius: 4px;
                        padding-left: 10px;

                        &::-webkit-input-placeholder,
                        &::-moz-placeholder,
                        &:-ms-input-placeholder {
                            font-size: 16px;
                            color: #585357;
                        }
                    }
                }

                .ele-type-lists {
                    font-size: 16px;
                    color: #fff;

                    dt {
                        float: left;
                        line-height: 16px;
                        margin-top: 40px;
                    }

                    dd {
                        float: left;
                        padding-bottom: 10px;
                        border-right: 1px solid #495076;
                        padding: 0 15px;
                        height: 16px;
                        line-height: 16px;
                        margin-top: 40px;

                        a {
                            font-size: 16px;
                            display: block;
                            color: #fff;
                            margin-top: -5px;
                            padding: 5px 10px;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        &.on,
                        &:hover {
                            a {
                                padding: 5px 10px;
                                background: #e95730;
                                border-radius: 3px;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }

            .ele-logo-lists {
                .ele-logo-li {
                    a {
                        em {
                            color: #fff;
                            border: 2px solid rgba(255, 255, 255, 1);
                        }
                    }
                }
            }

            .ele-logo-footer {
                display: none;
            }
        }

        .number-page {
            margin: 10px auto 0;
        }
    }

    /*电子游戏 end*/

    /*体育博彩*/
    .sport-content {

        .sport-content-banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 540px;
            font-size: 0;
            text-align: center;

            video {
                display: none;
            }
        }

        .sport-logo-page {
            position: relative;
            margin: auto;
            margin-top: -50px;
            z-index: 10;
            width: 1200px;

            .sport-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .sport-logo-top {
                height: 53px;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .sport-logo-lists {
                width: 100%;
                // min-height: 590px;
                overflow: hidden;
                padding-top: 20px;

                li {
                    width: 320px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    display: block;
                    background: rgba(112, 216, 255, .2);
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    .sport-logo-wrap {
                        .rotate-after1 {
                            a {
                                color: rgba(255, 255, 255, 1);
                                border: 2px solid rgba(255, 255, 255, 1);
                            }
                        }
                    }

                    &:hover {
                        background: #70d8ff;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 130px;
                        line-height: 130px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .sport-logo-footer {
                display: none;
            }
        }
    }

    /*体育博彩 end*/

    /*彩票投注*/
    .lottery-content {

        .lottery-content-banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 540px;
            font-size: 0;
            text-align: center;

            video {
                display: none;
            }
        }

        .lottery-logo-page {
            position: relative;
            margin: auto;
            margin-top: -50px;
            z-index: 10;
            width: 1200px;

            .lottery-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .lottery-logo-top {
                height: 53px;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .lottery-logo-lists {
                width: 100%;
                min-height: 590px;
                overflow: hidden;
                padding-top: 20px;

                li {
                    width: 320px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    display: block;
                    background: rgba(112, 216, 255, .2);
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: #70d8ff;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 130px;
                        line-height: 130px;
                        text-align: center;
                        display: block;
                    }

                    .lottery-logo-mask {
                        a {
                            color: #fff;
                            border: 2px solid #fff;
                        }
                    }

                    // img {
                    //     width: 100%;
                    //     height: auto;
                    //     vertical-align: middle;
                    // }
                }
            }

            .lottery-logo-footer {
                display: none;
            }
        }
    }

    /*彩票投注 end*/

    /*棋牌游戏*/
    .poker-content {
        // height:1594px ;
        text-align: center;

        .poker-content-banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            font-size: 0;
            text-align: center;
            height: 540px;

            video {
                display: none;
            }
        }

        .poker-logo-page {
            position: relative;
            margin: auto;
            margin-top: 180px;
            z-index: 10;
            width: 1200px;
            display: inline-block;

            .poker-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .poker-logo-top {
                height: 53px;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }


            .poker-logo-lists li>div {
                &.rotate-after1 {
                    a {
                        color: rgba(255, 255, 255, 1);
                        border: 2px solid rgba(255, 255, 255, 1);
                    }
                }
            }


            .poker-KingLong,
            .poker-common {
                display: none;
            }

            .poker-logo-footer {
                display: none;
            }

            .poker-dynamic {
                display: none;
            }
        }
    }

    /*棋牌游戏 end*/

    /*新闻中心*/
    .news-content {

        .news-content-banner {
            width: 100%;
            height: 960px;
            margin: auto;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .news-page {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            margin-top: -400px;
            height: 960px;
            z-index: 10;

            .news-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .news-main {
                .news-title-box {
                    .news-title {
                        height: 78px;

                        .txt {
                            display: none;
                        }

                        .desc {
                            display: none;
                        }
                    }
                }

                .news-main-cont {
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 33px;
                }

                .news-lists {
                    .news-li {
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        border-bottom: 1px dashed #99a2b2;
                        padding: 30px 0;
                        cursor: pointer;

                        .news-img {
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            float: left;

                            img {
                                height: 100%;
                                width: auto;
                                max-width: 100%;
                            }
                        }

                        &:hover {
                            background: #222;
                        }

                        .an-news {
                            width: 700px;
                            margin-left: 27px;
                            float: left;

                            .an-news-title {
                                color: #bfc9da;
                                font-size: 22px;
                            }

                            .an-news-text {
                                color: #99a2b2;
                                font-size: 16px;
                                margin-top: 15px;
                                line-height: 26px;
                                word-break: break-all;
                            }

                            .an-news-bottom {
                                margin-top: 40px;
                            }

                            .an-news-date {
                                color: #6c7383;
                                margin-left: 6px;
                                font-size: 14px;
                                vertical-align: top;
                                line-height: 20px;
                                padding-left: 26px;
                                background-size: contain;
                                margin-top: 0;
                                float: left;
                            }

                            .an-news-btn {
                                font-size: 14px;
                                color: #1d6cb4;
                                float: left;
                                margin-left: 30px;
                            }
                        }
                    }

                    .news-li.news-li-JumpPage {
                        display: none;
                    }

                    .news-li.news-li-PopUp {
                        // display: none;
                    }

                    .news-li-ShowHide {
                        display: none;
                    }
                }
            }
        }
    }

    /*新闻弹窗*/
    .news-popup-main {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10002;

        .ps-container .ps-scrollbar-y-rail {
            background: rgba(30, 38, 67, .5);
        }

        .ps-container .ps-scrollbar-y {
            background-color: #00a0e9;
        }

        .news-popup-bg {
            position: absolute;
            background: #000;
            filter: alpha(opacity=80);
            -moz-opacity: .8;
            -khtml-opacity: .8;
            opacity: .7;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .news-popup-content {
            width: 1148px;
            height: 744px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);

            .news-close {
                width: 38px;
                height: 38px;
                display: block;
                position: absolute;
                right: -60px;
                top: 0;
                cursor: pointer;
            }

            .news-popup-back {
                display: none;
            }

            .news-popup-page {
                position: relative;
                height: 608px;
                overflow: hidden;
                margin: 0 auto;
                text-align: left;
                padding: 20px;
                margin-top: 30px;
                font-size: 16px;

                .news-popup-back {
                    display: none;
                }

                .news-popup-title {
                    color: #63abff;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    word-break: break-all;
                }

                .news-popup-time {
                    color: #7b849e;
                    font-size: 16px;
                    text-align: center;
                    margin: 20px 0;
                }

                .news-popup-detail {
                    .detail-img {
                        display: none;
                    }

                    .detail-text {
                        p {
                            font-size: 14px;
                            color: #a3b4ee;
                            line-height: 26px;
                            margin-top: 12px;
                            text-indent: 28px;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }

    /*新闻弹窗 end*/
    /*新闻中心 end*/

    /*新闻详情*/
    /*新闻详情 end*/

    /*优惠活动*/
    .activity-content {
        position: relative;
        width: 100%;
        min-width: 1200px;
        font-size: 0;
        text-align: center;
        min-height: 900px;

        .ps-container .ps-scrollbar-y-rail {
            background: rgba(30, 38, 67, .5);
        }

        .ps-container .ps-scrollbar-y {
            background-color: #00a0e9;
        }

        .activity-content-banner {
            display: none;

            video {
                display: none;
            }

            .index-content {
                .figure-img {
                    display: none;
                }

                .text-img {
                    display: none;
                }

                .enter-btn {
                    display: none;
                }
            }
        }

        .activity-page {
            width: 1100px;
            margin: 0 auto;
            padding-top: 350px;

            .activity-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .activity-title-box {
                display: none;

                .activity-title {
                    .txt {
                        display: none;
                    }

                    .desc {
                        display: none;
                    }
                }
            }

            .activity-main {
                .activity-lists {
                    // overflow: hidden;
                    margin-bottom: 33px;

                    .activity-li {
                        display: block;
                        float: left;
                        margin: 0 0 13px 13px;

                        img {
                            width: 350px;
                            height: 180px;
                        }

                        .an-activity {
                            display: none;
                        }
                    }

                    .activity-li.activity-li-PopUp {
                        // display: none;
                    }

                    .activity-li.activity-li-JumpPage {
                        display: none;
                    }

                    .activity-li.activity-li-ShowHide {
                        display: none;
                    }
                }
            }
        }
    }

    /*优惠活动弹窗*/
    .activity-popup-main {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10002;

        .activity-popup-bg {
            position: absolute;
            background: #000;
            filter: alpha(opacity=80);
            -moz-opacity: .8;
            -khtml-opacity: .8;
            opacity: .7;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .activity-popup-content {
            width: 1148px;
            height: 744px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);

            .activity-close {
                width: 38px;
                height: 38px;
                display: block;
                position: absolute;
                right: -60px;
                top: 0;
                cursor: pointer;
            }

            .activity-popup-back {
                display: none;
            }

            .activity-popup-page {
                position: relative;
                height: 608px;
                overflow: hidden;
                margin: 0 auto;
                text-align: left;
                padding: 20px;
                margin-top: 30px;
                font-size: 16px;

                .activity-popup-title {
                    color: #63abff;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    word-break: break-all;
                }

                .activity-popup-time {
                    color: #7b849e;
                    font-size: 16px;
                    text-align: center;
                    margin: 20px 0;
                }

                .activity-popup-detail {
                    .detail-img {
                        display: none;
                    }

                    .detail-text {
                        p {
                            font-size: 14px;
                            color: #a3b4ee;
                            line-height: 26px;
                            margin-top: 12px;
                            text-indent: 28px;
                            word-break: break-all;
                        }
                    }
                }
            }
        }

        .activity-btn-ShowHide {
            display: none;
        }

        .activity-btn {
            width: 100px;
            line-height: 50px;
            color: #fff;
            background: rgba(55, 170, 204, .5);
            text-align: center;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }
    }

    /*优惠活动弹窗 end*/
    /*优惠活动 end*/

    /*优惠活动详情*/
    /*优惠活动详情 end*/
    /*代理加盟*/
    /*代理加盟表格*/
    .join-content {
        min-height: 840px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 150px;

        .join-content-banner {
            display: none;

            video {
                display: none;
            }

            .index-content {
                width: 1200px;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                -moz-transform: translate(-50%);
                -ms-transform: translate(-50%);
                -o-transform: translate(-50%);
                -webkit-transform: translate(-50%);

                .figure-img {
                    display: none;
                }

                .text-img {
                    display: none;
                }

                .enter-btn {
                    position: absolute;
                    right: 0;
                    transition: bottom 2s, opacity 5s;
                    opacity: 1;
                    bottom: 55%;

                    .txt {
                        display: block;
                        min-width: 132px;
                        height: 40px;
                        line-height: 40px;
                        color: #cbc9c9;
                        font-size: 18px;
                        border: 1px solid #8d8c8f;
                        text-align: center;
                        margin-top: 20px;
                        float: right;
                        text-decoration: none;
                        margin-right: 30px;

                        &:hover {
                            border: 1px solid #9f3d26;
                            background: rgba(53, 26, 27, .8);
                            color: #9f3d26;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .join-steps {
            display: none;
        }

        .join-page {
            width: 1080px;
            margin: auto;
            padding: 650px 0 100px 0;

            .join-cont-title {
                display: none;

                h2 {
                    display: none;
                }

                .detail {
                    display: none;
                }
            }

            .join-main {
                width: 1080px;
                min-height: 600px;

                .join-main-title {
                    width: 132px;
                    height: 70px;
                    margin-left: 50px;
                    background-size: contain;

                    h3 {
                        display: none;
                    }

                    .desc {
                        display: none;
                    }

                    .detail {
                        display: none;
                    }
                }

                .join-main-cont {
                    width: 525px;
                    margin: auto;
                    padding-top: 60px;
                }

                .webmaster-main-title {
                    h3 {
                        width: 132px;
                        height: 70px;
                        font-size: 0;
                        margin-left: 50px;
                    }

                    .desc {
                        display: none;
                    }

                    .detail {
                        font-size: 16px;
                        color: #ccc;
                        margin-left: 70px;

                        b {
                            color: #93d7f2;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    /*代理加盟表格 end*/
    /*代理加盟 end*/

    /*联系我们*/
    .contact-content {

        .a-j-lists .proxy-com .a-j-input1,
        .a-j-lists .proxy-com textarea,
        .a-j-lists .proxy-com .proxy-line.code input {
            margin-left: -4px;
        }
    }

    /*联系我们 end*/

    /*厂商介绍*/
    .partner-content-banner {
        display: none;
    }

    .partner-content {
        min-height: 1400px;
    }

    /*厂商介绍 end*/

    /*关于我们*/
    .about-content {
        display: none;
    }

    .about-content-60 {
        display: block;
    }

    .about-content .about-main {
        width: 1080px;
        height: 640px;
        margin: 0 auto;
    }

    .about-content .about-main {
        width: 1080px;
        height: 640px;
        margin: 0 auto;
    }

    .about-content .about-main>div {
        padding: 0 40px;
    }

    .about-content .about-main .main-center {
        width: 580px;
    }

    .about-content .about-main .about-img {
        padding-top: 80px;
    }

    .about-content .about-main h2 {
        text-align: center;
        padding-top: 20px;
    }

    .about-content .about-main h3 {
        font-size: 22px;
        color: #63abff;
        line-height: 22px;
        margin: 30px 0 20px;
    }

    .about-content .about-main p {
        font-size: 14px;
        color: #c8cede;
        line-height: 24px;
    }

    .about-content .about-main .mian-list li {
        display: inline-block;
        font-size: 14px;
        color: #c8cede;
        line-height: 30px;
        margin-right: 60px;
        width: 130px;
    }

    .about-content .about-main .mian-list li i {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: #c8cede;
        background: #23497a;
        border-radius: 2px;
    }

    /*关于我们 end*/
    .contact-content {
        min-height: 840px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 150px;
    }

    .contact-content .join-page {
        width: 1080px;
        margin: auto;
        padding: 150px 0 250px 0 !important;
    }

    .no-activity {
        text-align: center;
    }

    .no-activity-img {
        width: 423px;
        height: 316px;
        margin: 20px auto;
    }

    .no-activity span {
        display: block;
        width: 100%;
        font-size: 18px;
        color: #5aa8de;
        text-align: center;
        letter-spacing: 6px;
    }

    //棋牌游戏进入游戏弹出的游戏列表
    .playMyGame-content {
        width: 1259px;
        margin: 0 auto;
        padding-top: 10px;

        .ele-logo-lists {
            margin-top: 30px;
            font-size: 14px;
            line-height: 26px;
            text-indent: 30px;
            vertical-align: top;
            overflow: hidden;

            .ele-logo-li {
                position: relative;
                display: block;
                width: 250px;
                overflow: hidden;
                float: left;
                margin-right: 30px;
                margin-bottom: 30px;
                height: 173px;

                a {
                    display: block;
                    text-align: center;
                    text-align: -webkit-center;
                    // background:rgba(217,223,227, .1);

                    b,
                    img {
                        transition: all 1s;
                        -moz-transition: all 1s;
                        -ms-transition: all 1s;
                        -webkit-transition: all 1s;
                        display: block;
                        height: 135px;
                    }

                    img {
                        width: auto;
                        height: 135px;
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    b {
                        font-weight: 400;
                        width: 100%;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        color: #8aa7b7;
                        font-size: 16px;
                        background: #3e4b52;
                        text-indent: 0;
                    }

                    i.shadow {
                        width: 100%;
                        height: 135px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        background: #000;
                        z-index: 9;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: 93px;
                        top: 30px;
                        width: 69px;
                        height: 46px;
                        opacity: 0;
                        z-index: 10;
                    }

                    em {
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        position: absolute;
                        left: 65px;
                        top: 80px;
                        opacity: 0;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        z-index: 9;
                    }

                    &:hover {
                        i {
                            opacity: .7;
                        }

                        span {
                            opacity: 1;
                        }

                        em {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    i.shadow {
                        opacity: .7;
                    }
                }
            }

            li:nth-of-type(5n) {
                margin-right: 0;
            }
        }
    }
}
