<template>
  <!--首页-->
  <div class="index-content clearfix" :class="'index_'+$MessageLang">
    <!-- 盈利榜 -->
    <!--<main-suspension></main-suspension>-->
    <phone-beting></phone-beting>
    <div class="banner">
      <video
        v-if="$BannerPath.Video.IndexVideo"
        :class="'video'+$VersionNumber"
        :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + $BannerPath.Video.IndexVideo"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
    </div>
    <!--25版-->
    <div class="main index-main-twentyFive hides">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide section-1">
            <h2 class="section-heading section-heading-1 bounceInDown">
              <img :src="$ResourceCDN + '/Customized/XYG/images/index/index_xyg.png'" />
            </h2>
            <!-- 跑马灯 start -->
            <div class="marquee" style="margin-top:20px;margin-left:-20px">
              <lambor-marquee></lambor-marquee>
            </div>
            <!-- 跑马灯 end -->
            <div class="section1-table additional-text bounceInDown" v-if="IsLogin">
              <div class="section1-table-top">
                <div class="section1-table-topPic">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"
                  />
                </div>
                <div class="section1-table-topText" :class="'topText'+$MessageLang">
                  <p>
                    {{$t('message.index_hello')}}，
                    <i style="color: #de9939;">{{MemberInfo.Acct}}</i>
                    <a
                      @click="navClick('webMemberSummary')"
                      style="color: #de9939;"
                    >【{{$t('message.index_personal')}}】</a>
                  </p>
                  <!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
                  <p>
                    {{$t('message.top_balance')}}：
                    <i
                      style="color: #de9939;"
                    >{{this.VBalance | moneyFormat}}</i>
                  </p>
                </div>
              </div>
              <div class="section1-table-btn">
                <span
                  class="section1-table-btnDeposit"
                  @click="navClick('webMemberDeposit')"
                >{{$t('message.index_deposit')}}</span>
                <span
                  class="section1-table-btnDraw"
                  @click="navClick('webMemberWithdrawal')"
                >{{$t('message.index_withdraw')}}</span>
              </div>
            </div>
            <div class="section1-table additional-text bounceInDown" v-if="!IsLogin">
              <div class="section1-table-top">
                <div class="section1-table-topPic">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"
                  />
                </div>
                <div class="section1-table-topText">
                  <p>
                    <router-link :to="{name:'Login'}">{{$t('message.top_login')}}</router-link>
                  </p>
                  <!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
                  <p>
                    <router-link :to="{name:'Register'}">{{$t('message.top_register')}}</router-link>
                  </p>
                </div>
              </div>
              <div class="section1-table-btn">
                <!--<router-link target="_blank" :to="{name:'FreeTrial'}"><span class="section1-table-btnDeposit">免费试玩</span></router-link>-->
                <span class="section1-table-btnDraw" @click="OpenNewBox($ServeLink)">
                  <a>{{$t('message.member_contact_service')}}</a>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide section-2">
            <h2 class="section-heading slideInRight">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_10.png'"
              />
              <p class="section-heading-videoBtn" @click="$router.push({name:'LiveVideo'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_12.png'"
                />
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-3" v-if="false">
            <h2 class="section-heading slideInLeft">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_13.png'"
              />
              <p class="section-heading-gameBtn">
                <!--<span class="sp1" @click="$router.push({name:'Electronic'})">
		        			<img :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web25/layout/h_14.png'"/>
		        		</span>
                <span class="sp2" @click="$router.push({name:'Electronic'})">-->
                <router-link :to="{ name: 'Electronic'}" class="sp1">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_14.png'"
                  />
                </router-link>
                <router-link :to="{ name: 'Electronic'}" class="sp2">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_15.png'"
                  />
                </router-link>
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-4">
            <h2 class="section-heading slideInRight">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_16.png'"
              />
              <p class="section-heading-lotteryBtn" @click="$router.push({name:'Lottery'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_17.png'"
                />
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-5">
            <h2 class="section-heading slideInLeft">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_18.png'"
              />
              <p class="section-heading-sportBtn" @click="$router.push({name:'Sport'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_19.png'"
                />
              </p>
            </h2>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</template>

<script>
// import MainSuspension from "@/components/general/profitList/mainSuspension"
import PhoneBeting from "@/components/general/phoneBeting/phoneBeting"
import { initIndex25 } from "@/mod/k06/assets/scripts/comTest/main/index/sy25/index.js"
import LamborMarquee from "@/mod/k06/components/public/marquee"
export default {
  //		mixins: [initIndex2, initIndex3, initIndex7, initIndex25, initIndex28, initIndex33, initIndex34]
  mixins: [initIndex25],
  components: {
    // MainSuspension,
    PhoneBeting,
    LamborMarquee
  }
}
</script>
