<!--頭部連結-->
<template>
  <div class="suspension-wrap">
    <div class="suspension-cont-profit" v-show="profitSwitchFlag">
      <img
        class="profit-img1"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/web60_index_img4.png'"
      />
      <img
        class="profit-img2"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/web60_index_img5.png'"
      />
      <div class="profit-tableCon">
        <div class="profit-cont-tab">
          <span>{{$t('message.customer_id')}}</span>
          <span>{{$t('message.member_sum_money')}}</span>
          <span>{{$t('message.member_game_name')}}</span>
        </div>
        <div class="profit-cont-item" id="profit-scroll">
          <ul class="profit-cont-ul" id="ul1">
            <li class="profit-cont-list" v-for="(list,index) in LampLists" :key="index">
              <span class="substance-sp">{{list.LoginID}}</span>
              <span class="substance-sp">{{list.Amount}}</span>
              <span class="substance-sp" :title="list.GameName">{{list.GameName}}</span>
            </li>
          </ul>
          <ul class="profit-cont-ul" id="ul2">
            <li class="profit-cont-list" v-for="(list,index) in LampLists" :key="index">
              <span class="substance-sp">{{list.LoginID}}</span>
              <span class="substance-sp">{{list.Amount}}</span>
              <span class="substance-sp" :title="list.GameName">{{list.GameName}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import EventBus from 'scripts/common/EventBus';
import NewIndexService from '@/mod/k04/assets/scripts/businessLogic/newIndexService';
import BLDef from 'scripts/common/BLDef';
import CommonService from 'scripts/businessLogic/commonService';
// import CommUtility from 'scripts/common/CommUtility';
// import URLService from 'scripts/common/URLService';

export default {
  data () {
    return {
      LampLists: [],
      OnlinePeople: undefined,
      RecordList: [],
      IsLogin: undefined,
      tourRecordsFlag: false,
      GameCatlogKind: undefined,
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: '',
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      },
      profitSwitchFlag: false
    };
  },
  mounted: function () {
    const self = this;
    self.CheckIsLogin();
    self.onlineNumPage();

    EventBus.$on('profitSwitch', data => {
      this.profitSwitchFlag = data;
    });

    // 文字无缝轮播
    const ul1 = document.getElementById('ul1');
    const ul2 = document.getElementById('ul2');
    const box = document.getElementById('profit-scroll');
    function rollStart () {
      if (box.scrollTop >= ul1.scrollHeight) {
        box.scrollTop = 0;
      } else {
        box.scrollTop++;
      }

      if (ul2.offsetHeight - box.scrollTop <= 0) {
        // 当滚动至demo1与demo2交界时
        box.scrollTop -= ul1.offsetHeight;
      } else {
        box.scrollTop++; // 如果是横向的 将 所有的 height top 改成 width left
      }
    }
    function roll (t) {
      ul2.innerHTML = ul1.innerHTML;
      console.log(document.getElementById('ul1').innerHTML);
      console.log('innerHTML');
      box.scrollTop = 0;
      let timer = setInterval(rollStart, t);
      box.onmouseover = function () {
        clearInterval(timer);
      };
      box.onmouseout = function () {
        timer = setInterval(rollStart, t);
      };
    }

    window.onload = roll(80);
  },
  methods: {
    // 檢查登入狀態
    CheckIsLogin: async function () {
      const data = await CommonService.Comm_CheckPermission();
      switch (data.Status) {
        case BLDef.SysAccountStatus.NOT_LOGIN:
          this.IsLogin = false;
          break;
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.IsLogin = true;
          break;
        default:
          break;
      }
    },
    onlineNumPage: async function () {
      console.log('#333');
      const DataObj = {
        WGUID: Vue.prototype.$WGUID
      };
      const retData = await NewIndexService.HomePageLoadRankAndOnlineNumPage(
        DataObj
      );
      console.log('#332');
      console.log('榜单');
      console.log(DataObj);
      console.log(retData);
      console.log('榜单');
      if (retData.Ret === 0) {
        this.LampLists = retData.Data.RankList;
      }
    }
  }
};
</script>
