<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import { baseWeLa } from "@/assets/scripts/comTest/main/base/baseWebLayout.js"
export default {
  mixins: [baseWeLa]
}
</script>
