<template>
  <div>
    <rss-header :IsLogin="this.IsLogin" :OnlinePeople="OnlinePeople"></rss-header>
    <div class="wrapper-content" id="general_theme" :class="'system_'+$MessageLang">
      <router-view></router-view>
    </div>
    <float-service :IsLogin="this.IsLogin"></float-service>
    <!-- 不展示app下载 -->
    <!-- <lambor-side></lambor-side> -->
    <!-- 不展示app下载 -->
    <frame-footer></frame-footer>
  </div>
</template>
<script>
import { baseMnLt } from "../../assets/scripts/comTest/main/base/baseMainLayout.js"
export default {
  mixins: [baseMnLt]
}
</script>
