<template>
  <div id="ElectronicGameForm" name="ElectronicGameForm">
    <section class="ele-logo-top">
      <h2>{{ $t("message.nav_game") }}</h2>
    </section>
    <div class="ele-logo-main">
      <ul class="ele-vendor-lists">
        <li
          class="ele-vendor-li"
          v-for="(list, index) in this.EgameList"
          @click="BindGameTypeEvt(list.GameApiNo)"
          :id="'game-list' + list.GameApiNo"
          v-bind:class="index === 0 ? 'on gameNo' + list.GameApiNo : 'gameNo' + list.GameApiNo"
        >
          <!-- <i class="eg-big-maintain" v-if="list.ApiStatus == '703'"></i> -->
          <i class="eg-big-maintain" v-if="list.GameTypeState == '703'"></i>
          <img :src="$ResourceCDN + '/PartnerLogo/bgdeep/v-logo' + list.GameApiNo + '.png'" />
        </li>
      </ul>
      <section class="clearfix ele-search-section">
        <div class="ele-search">
          <a href="javascript:void(0);" class="ele-search-btn" v-on:click="Search()">{{
            $t("message.member_search")
          }}</a>
          <input
            type="text"
            v-model="PostDataModel.Keyword"
            v-validate="{ rules: { regex: Reg.GameKeyword } }"
            name="Keyword"
            :placeholder="$t('message.electronic_search')"
          />
        </div>
        <p class="tip1 qc-tip" v-show="errors.has('Keyword') && fields.Keyword.touched">
          {{ $t("message.electronic_tip") }}
        </p>
      </section>
      <div class="clearfix">
        <dl class="ele-type-lists clearfix">
          <dt>{{ $t("message.electronic_game_type") }}：</dt>
          <dd
            v-for="GameTypeFilter in LoadMainPageDataModel.GameTypeFilterList"
            :class="PostDataModel.GameTypeFilter.Value == GameTypeFilter.Value ? 'on' : ''"
            v-on:click="
              PostDataModel.GameTypeFilter = GameTypeFilter
              clearLoading()
              GetElectronicGameList(1)
            "
          >
            <a href="javascript:void(0);">{{ GameTypeFilter.Name }}</a>
            <span class="gameUl-list-line"></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
import { EGameLobbyHeader } from "@/mod/k19/assets/scripts/comTest/sub/electronic/EGameLobbyHeader.js"
export default {
  mixins: [EGameLobbyHeader]
}
</script>
