<template>
  <div class="ele-scroll" :class="'ele-' + $MessageLang">
    <ul class="ele-logo-lists clearfix">
      <li class="ele-logo-li" v-for="Game in LoadMainPageDataModel.GameList">
        <i class="eg-big-play" v-show="showGame"></i>
        <a href="javascript:;" v-on:click="PlayElectronicGame(Game)">
          <img :onerror="defaultImg" v-bind:src="Game.ImgUrl + '?VersionCode'" />
          <b>{{ Game.Name | simpleContent(12) }}</b>
          <span v-show="!showGame"></span>
          <i class="shadow"></i>
          <em v-show="!showGame">{{ $t("message.live_start_game") }}</em>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { EGameLobbyContent } from "@/mod/k19/assets/scripts/comTest/sub/electronic/EGameLobbyContent.js"
export default {
  mixins: [EGameLobbyContent]
}
</script>
