<template>
  <div id="BettingRecordDetailForm" class>
    <h2 class="agency-main-title">
      <span>{{$t('message.member_betting_record')}}</span>
    </h2>
    <div>
      <div class="agencyDetailed-cont-nav">
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.member_hour')}}</span>
          <!--<input class="p1-put" type="text" />-->
          <datepicker
            class="p1-put"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.StartTick"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.EndTick"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            @selected="selectedEnd"
          ></datepicker>
        </div>
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.agency_consumer')}}</span>
          <input
            class="p1-userPut"
            v-model="DisplayRechargeObj.AgencyUser"
            v-validate="{ rules: { regex:Reg.LoginAccount }}"
            name="AgencyAcct"
            type="text"
          />
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="changeNextLayer"
            v-model="checkedSubordinate"
          >{{$t('message.agency_subordinate')}}</el-checkbox>
        </div>
        <div class="nav-p1" :class="$MessageLang==='en'?'game-type-nav':''">
          <span class="p1-name">{{$t('message.agency_betting_number')}}</span>
          <input
            class="p1-userPut"
            v-model="DisplayRechargeObj.betNo"
            v-validate="{ rules: { regex:Reg.betNo }}"
            name="AgencyBetNo"
            type="text"
          />
        </div>
        <div class="nav-p1 game-type-nav">
          <span class="p1-name">{{$t('message.agency_game_category')}}</span>
          <div class="down record-drop" style="width: 128px;float: left;">
            <div class="d_course" @click="ShowDropDown(1)">
              <span :class="'betting'+$MessageLang" :title="GameTypeName_Desc">{{GameTypeName_Desc}}</span>
              <img
                style="cursor: pointer;"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
            </div>
            <div class="down_box down_box1">
              <a
                class="down_list"
                v-for="(item,index) in gameCategoryList"
                :key="index"
                @click="changeGameType(item)"
              >{{item.GameTypeName}}</a>
            </div>
          </div>
        </div>
        <div class="nav-p1 game-type-nav">
          <span class="p1-name">{{$t('message.agency_game_maker')}}</span>
          <div class="down record-drop" style="width: 128px;float: left;">
            <div class="d_course" @click="ShowDropDown(2)">
              <span :class="'betting'+$MessageLang" :title="GameApiName">{{GameApiName}}</span>
              <img
                style="cursor: pointer;"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
            </div>
            <div class="down_box down_box2">
              <a
                class="down_list"
                v-for="(item,index) in gameMakerList"
                :key="index"
                @click="changeGameVendor(item)"
              >{{item.GameApiName}}</a>
            </div>
          </div>
        </div>
        <span class="renovate game-type-nav" @click="ResetClick('true')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="search game-type-nav"
          href="javascript:;"
          @click="UpdateDetailCondition()"
        >{{$t('message.member_search')}}</a>
      </div>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          style="left: 322px;top: 4px;"
        >{{$t('message.login_english_letters')}}</span>
        <span
          class="tip1"
          v-if="$MessageLang == 'zh'"
          v-show="errors.has('AgencyBetNo') && fields.AgencyBetNo.touched"
          style="left: 640px;top: 4px;width: 253px"
        >{{$t('message.agency_betNo_tip')}}</span>
        <span
          class="tip1"
          v-else
          v-show="errors.has('AgencyBetNo') && fields.AgencyBetNo.touched"
          style="right: 0;top: 6px;width: 300px"
        >{{$t('message.agency_betNo_tip')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="left: 30px;top: 4px;"
        >{{$t('message.member_greater_than')}}</span>
      </div>
    </div>
    <div class="table-block-common">
      <div
        id="BettingRecordBody"
        style="overflow:hidden;max-height: 440px;position: relative;width: 996px;"
      >
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td width="10%">{{$t('message.agency_consumer')}}</td>
              <td width="9%">{{$t('message.agency_teams_number')}}</td>
              <td width="9%">{{$t('message.agency_betting_number')}}</td>
              <td width="9%">{{$t('message.member_betting_time')}}</td>
              <td width="9%">{{$t('message.agency_game_category')}}</td>
              <td width="9%">{{$t('message.agency_game_maker')}}</td>
              <td width="9%">{{$t('message.member_game_name')}}</td>
              <td width="9%">{{$t('message.agency_betting_amount')}}</td>
              <td width="9%">{{$t('message.member_effective_betting')}}</td>
              <td width="9%">{{$t('message.agency_lottery_amount')}}</td>
              <td width="9%">{{$t('message.member_profit_loss')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(bList,index) in BettingIBBetList" :key="index">
              <td>
                <!-- @click="BetloginName(bList)"-->
                <span class="prefix-text" v-if="bList.Hierarchy!=-1">{{bList.Prefix}}</span>
                {{bList.LoginID}}
              </td>
              <td>{{bList.TeamCount}}</td>
              <td>{{bList.BetOrderNo}}</td>
              <td class="dateTd">{{bList.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
              <td>{{bList.GameTypeName}}</td>
              <td>{{bList.GameApiName }}</td>
              <td>{{bList.GameName}}</td>
              <td>{{bList.VBetAmount}}</td>
              <td>{{bList.VBetAvailableAmount}}</td>
              <td>{{bList.VSettleAmount}}</td>
              <td>{{bList.VWinLoss}}</td>
              <!-- <td>{{bList.VTotalBet}}</td>
                <td>{{bList.VTotalValidBet}}</td>
              <td>{{bList.VTotalWinLosst}}</td>-->
              <!-- <td>{{bList.BetStartDateTime | utcTicksToLocalTime('YYYY/MM/DD h:mm:ss')}}-{{bList.BetEndDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="19%" style="text-align:left">{{$t('message.agency_subtotal')}}：</td>
            <td width="45%" colspan="5"></td>
            <td width="9%">{{BettingBetSubtotal.SubBetAmount}}</td>
            <td width="9%">{{BettingBetSubtotal.SubBetAvailableAmount}}</td>
            <td width="9%">{{BettingBetSubtotal.SubSettleAmount}}</td>
            <td width="9%">{{BettingBetSubtotal.SubWinLoss}}</td>
          </tr>
          <tr>
            <td width="19%" style="text-align:left">{{$t('message.member_totalize')}}：</td>
            <td width="45%" colspan="5"></td>
            <td width="9%">{{BettingBetTotal.SumBetAmount}}</td>
            <td width="9%">{{BettingBetTotal.SumBetAvailableAmount}}</td>
            <td width="9%">{{BettingBetTotal.SumSettleAmount}}</td>
            <td width="9%">{{BettingBetTotal.SumWinLoss}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--分页-->
    <paginate :PageCount="this.PageCount" :PageNo="this.PagingInfo.PageNo"></paginate>
    <div v-show="resigerWord" class="maxtip">{{$t('message.agency_successful_reset')}}</div>
    <div class="maxtip" v-if="IsShowTip">{{textSucc}}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
import moment from 'moment';
import Datepicker from '@/components/main/common/datePicker.vue';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import AgencyCenterService from '@/mod/k04/assets/scripts/businessLogic/agencyCenterService.js';
import Paginate from '@/mod/k04/components/sub/paginate.vue';
import EventBus from '@/assets/scripts/common/EventBus.js';

export default {
  data() {
    return {
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      textSucc: undefined,
      IsShowTip: false,
      IsShowErrorFlag: false,
      // 正則表達式類別
      Reg: Regex.Regex,
      Submitted: false,
      TimeSequenceInvalid: false,
      DisplayRechargeObj: {
        AgencyUser: '',
        StartTick: new Date(),
        EndTick: new Date(),
        betNo: '',
        GameApiNo: -1,
        GameTypeNo: -1,
        IsNextLayer: 0
      },
      CalendarDisabled: {
        to: new Date(
          moment()
            .add(-90, 'days')
            .format('YYYY/MM/DD')
        ), // Disable all dates after specific date
        from: new Date(
          moment()
            .set('hour', 0)
            .set('minute', 0)
            .set('second', 0)
            .add(1, 'days')
            .add(-1, 'seconds')
        )
      },
      PageCount: 0,
      DropDowning1: false,
      DropDowning2: false,
      checkedSubordinate: false, // 是否选中包含下级
      gameCategoryList: [], // 游戏类型列表
      GameTypeName_Desc: '', // 游戏类型
      gameMakerList: [], // 游戏厂商列表
      GameApiName: '', // 游戏厂商
      resigerWord: false,
      BettingIBBetList: [],
      BettingBetTotal: {},
      BettingBetSubtotal: {}
      // HistoricalPath: [],
    };
  },
  created() {
    this.BindingEvent();
  },
  mounted: function() {
    // 初始化游戏类型和游戏厂商列表数据
    this.initSelectList().then(() => {
      // 初始化加载页面
      this.LoadPage();
      // 初始化参数
      this.initArgument();
    });
    $('#BettingRecordBody').perfectScrollbar();
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true;
      let startDate = new Date(this.dateFormat(date) + ' 00:00:00');
      this.DisplayRechargeObj.StartTick = startDate;
      this.CheckFied();
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true;
      let endDate = new Date(this.dateFormat(date) + ' 23:59:59');
      this.DisplayRechargeObj.EndTick = endDate;
      this.CheckFied();
    },
    // 初始化下拉列表数据
    async initSelectList() {
      const data = await AgencyCenterService.LoadGameTypeAndVendor();
      if (data.Ret === 0) {
        // 游戏类型
        this.gameCategoryList = data.Data.GameApiTypeList;
        this.GameTypeName_Desc = this.gameCategoryList[0].GameTypeName;
        this.DisplayRechargeObj.GameTypeNo = this.gameCategoryList[0].GameTypeNo;
        // 游戏厂商
        this.gameMakerList = data.Data.GameApiNameList;
        this.GameApiName = this.gameMakerList[0].GameApiName;
        this.DisplayRechargeObj.GameApiNo = this.gameMakerList[0].GameApiNo;
      }
    },
    // 載入投注初始化
    async LoadPage() {
      const self = this;
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      self.DisplayRechargeObj.StartTick = startDate;
      const inputObj = {
        Name: self.DisplayRechargeObj.AgencyUser,
        StartTime: '',
        EndTime: '',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          self.dateFormat(self.DisplayRechargeObj.StartTick) + ' 00:00:00'
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          self.dateFormat(self.DisplayRechargeObj.EndTick) + ' 23:59:59',
          true
        ),
        IsNextLayer: self.DisplayRechargeObj.IsNextLayer,
        GameTypeNo: self.DisplayRechargeObj.GameTypeNo,
        GameApiNo: self.DisplayRechargeObj.GameApiNo,
        betNo: self.DisplayRechargeObj.betNo,
        PagingInfo: {
          PageSize: self.PagingInfo.PageSize,
          PageNo: self.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadGetIBBetReportQuery(inputObj);
      if (data.Ret == 0) {
        self.BettingIBBetList = data.Data.ListGameRecord;
        self.BettingBetTotal =
          (data.Data.ListSumAmount && data.Data.ListSumAmount[0]) || {};
        let BettingBetSubtotal = {
          SubBetAmount: data.Data.SubBetAmount,
          SubBetAvailableAmount: data.Data.SubBetAvailableAmount,
          SubSettleAmount: data.Data.SubSettleAmount,
          SubWinLoss: data.Data.SubWinLoss
        };
        self.$set(self, 'BettingBetSubtotal', BettingBetSubtotal);
        self.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount / self.PagingInfo.PageSize
        );
      } else {
        self.IsShowErrorFlag = true;
        setTimeout(() => {
          self.IsShowErrorFlag = false;
        }, 1000);
      }
    },
    // 初始化参数
    initArgument() {
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;

      this.DisplayRechargeObj.StartTick = startDate;
      // CommUtility.BindEnterTrigger('recordQueryForm', this.UpdateDetailCondition);
      EventBus.$on('Paginate_PageCount', data => {
        this.PageCount = data;
      });
    },
    // 分页 20190517 LMX
    GetCurrentPageData: async function(pageNo) {
      console.log(pageNo);
      console.log(this.QueryType);
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo;
      }
      this.AgencyBetting(pageNo, 'false');
    }, // end GetCurrentPageData
    // 请求数据
    async UpdateDetailCondition() {
      this.PagingInfo.PageNo = 1;
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      // 时间限制
      this.Submitted = true;
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true) {
        return;
      } // end if
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      this.AgencyBetting(1, 'false');
    },
    // 投注
    async AgencyBetting(pageNo) {
      this.PagingInfo.PageNo = pageNo;
      const inputObj = {
        Name: this.DisplayRechargeObj.AgencyUser,
        StartTime: '',
        EndTime: '',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.StartTick) + ' 00:00:00'
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.EndTick) + ' 23:59:59',
          true
        ),
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer,
        GameTypeNo: this.DisplayRechargeObj.GameTypeNo,
        GameApiNo: this.DisplayRechargeObj.GameApiNo,
        betNo: this.DisplayRechargeObj.betNo,
        PagingInfo: {
          PageSize: this.PagingInfo.PageSize,
          PageNo: this.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadGetIBBetReportQuery(inputObj);
      if (data.Ret == 0) {
        this.BettingIBBetList = data.Data.ListGameRecord;
        this.BettingBetTotal =
          (data.Data.ListSumAmount && data.Data.ListSumAmount[0]) || {};
        let BettingBetSubtotal = {
          SubBetAmount: data.Data.SubBetAmount,
          SubBetAvailableAmount: data.Data.SubBetAvailableAmount,
          SubSettleAmount: data.Data.SubSettleAmount,
          SubWinLoss: data.Data.SubWinLoss
        };
        this.$set(this, 'BettingBetSubtotal', BettingBetSubtotal);
        this.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize
        );
      } else {
        this.IsShowErrorFlag = true;
        setTimeout(() => {
          this.IsShowErrorFlag = false;
        }, 1000);
      }
    },
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayRechargeObj.StartTick === undefined) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (this.DisplayRechargeObj.EndTick === undefined) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.DisplayRechargeObj.StartTick !== undefined &&
        this.DisplayRechargeObj.EndTick !== undefined
      ) {
        if (
          new Date(this.DisplayRechargeObj.StartTick) >
          new Date(this.DisplayRechargeObj.EndTick)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }

      // 類型未選
      return anyInvalid;
    },
    // 改变包含下级选中状态
    changeNextLayer() {
      this.DisplayRechargeObj.IsNextLayer = Number(this.checkedSubordinate);
    },
    // 顯示紀錄類型選單
    ShowDropDown: function(num) {
      $(`.down_box${num === 1 ? 2 : 1}`).slideUp(300);
      this[`DropDowning${num === 1 ? 2 : 1}`] = false;

      if (this[`DropDowning${num}`] === false) {
        $(`.down_box${num}`).slideDown(300);
        this[`DropDowning${num}`] = true;
      } else {
        $(`.down_box${num}`).slideUp(300);
        this[`DropDowning${num}`] = false;
      }
    },
    // 游戏类型
    changeGameType(item) {
      this.DisplayRechargeObj.GameTypeNo = item.GameTypeNo;
      this.GameTypeName_Desc = item.GameTypeName;
      $('.down_box1').slideUp(300);
      this.DropDowning1 = false;
    },
    // 游戏厂商
    changeGameVendor(item) {
      this.DisplayRechargeObj.GameApiNo = item.GameApiNo;
      this.GameApiName = item.GameApiName;
      $('.down_box2').slideUp(300);
      this.DropDowning2 = false;
    },
    // 改变下拉列表值
    ChangeSelect(value, name, num) {
      name = value;
      $(`.down_box${num}`).slideUp(300);
      this[`DropDowning${num}`] = false;
    },
    ResetClick(val) {
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      this.DisplayRechargeObj.StartTick = startDate;
      this.DisplayRechargeObj.EndTick = new Date();
      this.DisplayRechargeObj.AgencyUser = '';
      this.DisplayRechargeObj.betNo = '';

      this.GameTypeName_Desc = this.gameCategoryList[0].GameTypeName;
      this.DisplayRechargeObj.GameTypeNo = this.gameCategoryList[0].GameTypeNo;
      this.GameApiName = this.gameMakerList[0].GameApiName;
      this.DisplayRechargeObj.GameApiNo = this.gameCategoryList[0].GameApiNo;

      this.DisplayRechargeObj.IsNextLayer = 0;
      this.checkedSubordinate = false;
      this.PagingInfo.PageNo = 1;
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
      console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
      this.CheckFied();
      if (val == 'true') {
        // this.succeededText = data.Message;
        this.resigerWord = true;
        setTimeout(() => {
          this.resigerWord = false;
        }, 1000);
      }
    },

    // 綁定隨機點擊事件(讓下拉選單恢復)
    BindingEvent: function() {
      document.addEventListener('click', this.HideDropDown);
    }, // end BindingEvent
    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(300);
        this.DropDowning1 = false;
        this.DropDowning2 = false;
      }
    },
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    // 開啟視窗
    OpenWindow: function() {
      CommUtility.WebShowAlertboxForm('BettingRecordDetailForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseWindow: function() {
      CommUtility.WebClosealertboxForm('BettingRecordDetailForm');
    } // end CloseWindow
  },
  components: {
    Datepicker,
    Paginate
  },

  watch: {}
};
</script>

<style lang="less" scoped>
.down_box1,
.down_box2 {
  height: auto;
  position: absolute;
  display: none;
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
  top: 36px;
  width: 100%;
  border-top: 0;
  max-height: 120px;
  border: 1px solid #eaeaea;
  background: #eaeaea;
  padding-top: 5px;

  .down_list {
    white-space: nowrap;
  }
}
.table-block-common {
  tr {
    padding: 0 10px;
    td {
      word-break: break-all;
      padding: 0 2px;
    }
  }
  thead {
    td {
      word-break: break-word;
    }
  }
}
</style>
