.theme00 {
    .pg-header {
        .pg-head-top {
            background: #0a0123;
            // border-bottom: 1px solid rgba(255, 255, 255, 0.09);
        }

        .pg-head-main {
            background: #0a0123;
        }

        .main-navNew {
            width: 100%;
        }
    }

    // 尾部
    .footer {
        position: absolute;
        bottom: 0;
        padding: 28px 0;
        width: 100%;
        height: 90px;
        border-top: 1px solid #3f2253;
        z-index: 2;

        .footer-c {
            margin: 0 auto;
            width: 1200px;

            .router-link-active {
                .footer-logo {
                    margin-top: 15px;
                    width: auto;
                    max-height: 60px;
                    float: left;
                }


            }

            .footer-l {
                margin-left: 20px;

                ul {
                    position: relative;
                    margin-bottom: 8px;
                    max-width: 500px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.14);

                    li {
                        float: left;
                        // min-width: 78px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;

                        a {
                            padding: 0 2px;
                            font-size: 12px;
                            font-family: "\5FAE\8F6F\96C5\9ED1";
                            color: rgba(255, 255, 255, 0.3);
                            float: left;
                        }

                        i {
                            float: left;
                            /* margin-top: 40px; */
                            height: 12px;
                            width: 1px;
                            margin: 0px 9px;
                            background: rgba(255, 255, 255, 0.3);
                            border-left: 1px solid #201628;
                            display: inline-block;
                            margin-top: 15px;
                        }
                    }
                }

                p {
                    line-height: 20px;
                    font-size: 10px;
                    /* font-family: 'PingFang Regular'; */
                    color: #636569;
                }
            }

            .footer-firm {
                display: block;
                margin-top: 10px;
                width: 500px;

                a {
                    height: 40px;
                    float: left;
                    margin-left: 20px;
                    cursor: default;

                    img {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}
