<template>
  <div class="alert_box_content tel_alert_box re_h" style="position: fixed;">
    <span class="alert_close" @click="CloseFinancialCode()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="financial-code clearfix" style="display: block;" id="FinancialCode">
      <div class="financial-code-img">
        <img :src="SuccessData.QRCodeUrl" />
      </div>
      <div class="bank_tip">
        <p>{{$t('message.member_important_reminder')}}</p>
        <!--
        <p>{{$t('message.member_next_time_you_deposit')}}</p>
        <p>{{$t('message.member_if_there_is_any_doubt')}}</p>
        <p>{{$t('message.member_this_QR_code_is_only')}}</p>
        <p>{{$t('message.member_do_not_use')}}{{this.wordTip}}{{$t('message.member_transfer_to_company_account')}}</p>
        -->
        <p v-html="this.Remark"></p>
      </div>
      <p class="orderNoName">
        {{this.DTypeName}}{{$t('message.member_order_number')}} :
        <span>{{this.OrderNoOrder}}</span>
      </p>
      <p class="reciprocal">
        {{$t('message.member_the_valid_time_of_recharge1')}} {{SuccessData.RangeMin}} {{$t('message.member_the_valid_time_of_recharge2')}}
        {{$t('message.member_please_recharge1')}}{{SuccessData.RangeMin}}{{$t('message.member_please_recharge2')}}
        <span
          v-if="this.reciprocal!==0"
        >{{this.reciprocal | UtcTicksTime('HH:mm:ss')}}</span>
        <span v-else>00:00:00</span>
      </p>

      <a class="gradual-color-btn" @click="CloseFinancialCode()">{{this.$t('message.login_close')}}</a>
    </div>
  </div>
</template>

<style scoped lang="less">
.financial-code {
  position: relative;
  padding-right: 20px;
  height: 675px;
  overflow: hidden;

  .financial-code-img {
    margin: 20px auto;
    width: 200px;
    text-align: center;

    img {
      max-width: 170px;
    }
  }
  .bank_tip {
    margin-left: 20px;
    width: 350px;
    line-height: 20px;
    color: #7b7a7b;
    word-break: break-all;
    font-size: 14px;

    p:first-child {
      margin-bottom: 20px;
      color: #7d54ff;
    }
  }
  .orderNoName {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 1px;
    width: 400px;
    color: #7b7a7b;
    text-align: left;
    font-size: 14px;

    span {
      color: #ff0000;
    }
  }
  .reciprocal {
    margin: 20px;
    margin-top: 5px;
    width: 350px;
    color: #7b7a7b;
    text-align: left;
    font-size: 14px;

    span {
      color: #ff0000;
    }
  }
}

.gradual-color-btn {
  margin: 20px auto !important;
  padding: 0 !important;
  display: block;
  min-width: 40%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  background: -moz-linear-gradient(to right, #7d54ff, #e154ff);
  background: -ms-linear-gradient(to right, #7d54ff, #e154ff);
  background: -webkit-linear-gradient(to right, #7d54ff, #e154ff);
  background: linear-gradient(to right, #7d54ff, #e154ff);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
</style>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  props: {
    SuccessData: undefined,
    DTypeName: undefined,
    OrderNoOrder: undefined
  },
  data() {
    return {
      Remark: "",
      reciprocal: 0, // 分钟
      setValBank: "",
      RangSecondTick: undefined
    }
  },
  mounted: function () {
    EventBus.$on("DinancialCodeReciprocal", (data) => {
      this.RangSecondTick = data
      clearInterval(this.setVal)
      this.Reciprocal()
    })
    // 页面滚动，当数据太多时
    $("#FinancialCode").perfectScrollbar()

    // 格式化回车键显示换行
    this.Remark = CommUtility.enterChange(this.SuccessData.Remark)
  },
  methods: {
    CloseFinancialCode: function () {
      clearInterval(this.setVal)
      this.$parent.LoadMainPage()
      CommUtility.WebClosealertboxForm("DinancialCode")
    },
    // 倒计时30分钟
    Reciprocal: function () {
      // this.reciprocal = this.SuccessData.RangeMin * 60000 - this.poorTimeTick;
      this.reciprocal = this.RangSecondTick * 1000
      console.log(this.reciprocal)
      console.log("1qqqqqqqqqqq")
      const self = this
      self.setVal = setInterval(() => {
        if (self.reciprocal < 1000) {
          clearInterval(self.setVal)
          self.reciprocal = 0
          return
        }
        console.log(self.reciprocal)
        self.reciprocal -= 1000
      }, 1000)
    }
  },
  watch: {
    SuccessData: function () {
      this.Remark = CommUtility.enterChange(this.SuccessData.Remark)
    }
  }
}
</script>
