<template>
  <div id="DinancialOrder" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="WebCloseMessageWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_p pay_set_activity">
      <p class="p_blue">操作提示</p>
      <p>訂單提交成功，請盡快付款。</p>
      <p>
        微信訂單號 :
        <span>{{this.SuccessData.SysOrder}}</span>
      </p>
    </div>
    <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
      <a
        style="float: none;"
        class="btn1 hasblock enter_deposit"
        @click="WebCloseMessageWindow()"
      >{{$t('message.member_ascertain')}}</a>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  props: {
    SuccessData: undefined // 提交成功后的订单号
  },
  mounted: function () {
    EventBus.$on(
      "DinancialOrder",
      () =>
        function () {
          alert("1111111")
          this.WebOpenMessageWindow()
        }
    )
  },
  methods: {
    WebCloseMessageWindow: function () {
      CommUtility.WebClosealertboxForm("DinancialOrder")
    },
    WebOpenMessageWindow: function () {
      CommUtility.WebShowAlertboxForm("DinancialOrder")
    }
  }
}
</script>
