@import "../../../../../assets/cdn.less";

.theme34 {
  /*登录&注册&注册成功&用户协议*/
  .login-register-content {
    height: 1030px;
    padding-top: 50px;

    .login-register-main {
      width: 800px;
      margin: 0 auto;

      .login-register-box {
        .login-title {
          display: none;
        }

        .login-logo {
          a {
            display: block;
            // background: url("/static/images/Customer/l_21.png")no-repeat;
            background-size: 100% 100%;
            width: 220px;
            // height: 68px;
            margin: auto;

            img {
              width: 220px;
              height: auto;
            }
          }
        }

        .login-titleText {
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          display: block !important;
          font-size: 28px;
          color: #35383e;

          span {
            font-size: 14px;
            display: block;
            vertical-align: top;
            margin-top: 6px;
          }
        }

        .login-register-from {
          margin-top: 36px;
          padding: 0 0 0 98px;

          .login-register-com {
            height: 60px;
            clear: both;
            overflow: hidden;

            .login-regcom-name {
              float: left;
              color: #20232c;
              font-size: 16px;
              line-height: 38px;
              width: 160px;
              text-align: right;
            }

            .login-regcom-putBox {
              float: left;
              margin-left: 13px;

              input {
                width: 340px;
                background: #f7f4ed;
                height: 36px;
                box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.13);
                border: 1px solid #ccc;
                padding-left: 10px;
                outline: none;

                &:focus {
                  box-shadow: 0 0 3px #da1a29;
                  border: 1px solid #da1a29;
                }
              }

              .putBox-special-input {
                width: 240px;
              }

              input::-webkit-input-placeholder {
                color: #999;
                font-size: 14px;
              }

              input::-moz-placeholder {
                color: #999;
                font-size: 14px;
              }

              input:-ms-input-placeholder {
                color: #999;
                font-size: 14px;
              }

              .putBox-code {
                height: 38px;
                background: rgba(0, 0, 0, 0.8);
                display: inline-block;
                vertical-align: bottom;

                img {
                  max-height: 100%;
                }
              }

              .putBox-change {
                display: none;
              }
            }
          }

          .visibleTip {
            display: none;
          }
        }

        .login-btn {
          display: none;
        }

        .logSter-entrance {
          display: none;
        }

        .login-listBtn-34 {
          display: block !important;

          .login-cont-listFastener {
            clear: both;
            overflow: hidden;
            margin-left: 268px;

            span {
              display: inline-block;
              width: 156px;
              height: 45px;
              line-height: 45px;
              font-size: 18px;
              text-align: center;
              // float: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .login-cont-listRefer {
              letter-spacing: 1px;
              cursor: pointer;
              margin-top: 30px;
              color: #630;
              border-radius: 3px;
              margin-right: 16px;
            }

            .login-cont-listNew {
              color: #4d4d5f;
              cursor: pointer;
            }
          }

          .forget-password {
            display: inline;
            float: right;
            text-align: right;
            color: #5f6e79;
            font-size: 14px;
            text-decoration: underline;
            margin-right: 200px;
            cursor: pointer;
          }
        }
      }

      // 注册

      .register-logo {
        .router-link-active {
          display: block;

          text-align: center;

          img {
            width: 220px;
            height: auto;
          }
        }
      }

      .register-box {
        .register-title {
          a {
            display: block;
            background: url("/static/images/Customer/l_21.png") no-repeat;
            background-size: 100% 100%;
            width: 68px;
            height: 68px;
            margin: auto;
          }
        }

        .register-titleText {
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          display: block !important;
          font-size: 28px;
          color: #35383e;

          span {
            font-size: 14px;
            display: block;
            vertical-align: top;
            margin-top: 6px;
          }
        }

        .login-register-from {
          .register-hook {
            margin-left: 173px;

            input {
              display: inline-block !important;
              margin: 4px 0 0 3px;
              outline: none;
            }

            i,
            span,
            a,
            input {
              display: inline-block;
              vertical-align: top;
            }

            i {
              display: none;
            }

            span {
              font-size: 14px;
              color: #20232c;
            }

            a {
              font-size: 14px;
              color: #d7242d;
            }
          }
        }

        .register-btn {
          display: none;
        }

        .register-listBtn {
          display: block !important;
          width: 373px;
          height: 52px;
          line-height: 52px;
          font-size: 20px;
          color: #630;
          margin-top: 20px;
          margin-left: 230px;
          text-align: center;
          letter-spacing: 1px;
          cursor: pointer;
        }
      }

      // 注册成功
      .success-box {
        padding-top: 50px;

        .regsiter-success-logo {
          margin: 50px 0;
          display: block !important;

          a {
            display: block;
            // background: url("/static/images/Customer/reg-logo.png")no-repeat;
            background-size: 100% 100%;
            width: 220px;
            height: 80px;
            margin: auto;

            img {
              width: 220px;
              height: auto;
            }
          }
        }

        .success-title {
          width: 528px;
          height: 47px;
          margin: 20px auto 0;
          text-align: center;

          a {
            font-size: 47px;
            color: #d7242d;
          }
        }

        .success-text {
          padding-top: 20px;
          text-align: center;
          color: #20232c;
          font-size: 20px;
          line-height: 24px;

          i {
            color: #20232c;
            font-weight: 700;
            margin-left: 8px;
            font-size: 16px;
          }
        }

        .success-btn-return {
          display: block !important;
          height: 45px;
          width: 135px;
          margin-left: 333px;
          margin-top: 40px;
          cursor: pointer;
          color: #663300;
          background: #daa870;
          font-size: 16px;
          line-height: 45px;
          text-align: center;
          border-radius: 2px;
          border: 1px solid #663300;
          font-weight: bold;
        }

        .success-pic {
          display: none;
        }

        .success-btn {
          display: none;
        }
      }
    }
  }
  // 记住密码
  .forgetText {
    margin-left: 173px;
    .el-checkbox__input.is-checked + .el-checkbox__label {
      color: #20232c;
    }
  }
}
