* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /*-webkit-appearance: none;*/
}

ol,
ul,
li {
  list-style: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #7b7a7b;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fl,
.pull-left {
  float: left;
}

.fr,
.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

img {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i,
em {
  font-style: normal;
}

.hides {
  display: none;
}

.diinline {
  display: inline-block;
}

.wrap {
  max-width: 1920px;
  margin: auto;
  height: auto;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.rows {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

// .header,
.footer,
.section {
  width: 100%;
  min-width: 1400px;
  position: relative;
}

/*遮罩层*/
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  opacity: 0.6;
  background-color: #000;
  z-index: 9998;
  display: none;
}

/*弹窗*/
.popup-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1008611;
}

.popup-main .popup-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  z-index: 0;
}

.popup-content {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.popup-content .close-the-window {
  width: 37px;
  height: 36px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

/*自定义滚动条*/

/*个人中心弹窗*/
.shadow_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10086110000000000000;
}

.shadow_wrap .public_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  z-index: 0;
}

.per_bombox {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.public-bombox {
  min-width: 380px;
  min-height: 258px;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
  display: block;
  width: 130px;
  height: 40px;
  margin: auto;
}

.per_bombox > h2 {
  height: 40px;
  line-height: 40px;
}

.per_bombox > h2 span {
  vertical-align: top;
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
}

.per_bombox .bomclose {
  margin: 10px 10px 0 0;
  cursor: pointer;
}

/*内容导航*/
.public-navs {
  font-size: 0;
  padding: 12px 0 0 20px;
}

.public-navs li {
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  width: 108px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.public-navs li.on,
.public-navs li:hover {
  width: 108px;
  height: 35px;
  color: #f8d647;
}

/*内容框*/
.public-content {
  width: 1150px;
  height: 809px;
  position: absolute;
  top: 150px;
  left: 20%;
  z-index: 100;
}

/*页码*/
.public-page {
  margin: 40px 0 0 20%;
}

.public-page-btn,
.public-page-number > a,
.public-page-number > span {
  display: block;
  float: left;
  line-height: 26px;
  color: #f2f2f2;
  font-size: 14px;
  margin-left: 15px;
}

.public-page-btn {
  display: block;
  width: 90px;
  height: 36px;
  cursor: pointer;
}

.public-page-number > a {
  padding: 0 5px 2px 5px;
}

.public-page-number > a.on,
.public-page-number > a:hover {
  color: #8570c8;
  border-bottom: 1px solid #8570c8;
}

/*logo*/
//.logoPage{
//	width: 1087px;
//	height: 820px;
//	position: absolute;
//	top: 37%;
//	left: 22%;
//}
//.logoPage >h2{
//	font-size: 40px;
//	color: #60aaf3;
//	text-align: center;
//	letter-spacing: 2px;
//}
//.logo-lists{
//	font-size: 0;
//	width: 1000px;
//	height: 600px;
//	margin:50px auto 0;
//	overflow: hidden;
//
//}
//.logo-lists li{
//	width:320px;
//	height:130px;
//	line-height: 130px;
//	text-align: center;
//	display: block;
//	background: #333333;
//	margin-left: 20px;
//	float: left;
//	margin-bottom: 20px;
//}
//.logo-lists li:hover,.logo-lists li.on{
//	background: #55578c;
//}
//.logo-lists li:nth-child(3n+1){
//	margin-left:0 ;
//}
//
//.logo-lists li img{
//	width: 100%;
//	height: 100%;
//	vertical-align: middle;
//}

/*logo=====end*/

/*logo-page*/
.number-page {
  width: 230px;
  margin: 40px auto 0;
}

.number-page-btn {
  display: block;
  width: 10px;
  height: 13px;
  cursor: pointer;
  margin-top: 3px;
  float: left;
}

.number-page-right {
  margin-left: 20px;
}

.number-page-number > a {
  display: block;
  float: left;
  color: #8aa7b7;
  font-size: 14px;
  margin-left: 25px;
}

.number-page-number > a.on,
.number-page-number > a:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  color: #000;
  background: #5aa8de;
  border-radius: 50%;
}

.tip1 {
  font-size: 12px;
  color: #be0000;
  margin-top: 4px;
  padding-left: 16px;
  line-height: 16px;
}

/* 2019.01.14 lodaing SeyoChen */
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 99999 !important;
}

/* 2019.01.14 lodaing SeyoChen end */

.LoadBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}

.LoadBox .Lp {
  position: relative;
  top: 45%;
  left: 47%;
  width: 93px;
  height: 93px;
  line-height: 93px;
  z-index: 9999;
}

.LoadBox .Lp p {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.LoadBox .LoadIcon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 93px;
  -webkit-animation: RotaA 1.5s linear infinite;
  animation: RotaA 1.5s linear infinite;
}

@keyframes RotaA {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes RotaA {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes RotaA {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes RotaA {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//

.vdp-datepicker {
  font-size: 15px;
}

//公共导航修改  semi_sugar 2019/07/24
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
}

.header-top {
  width: 100%;
  height: 60px;
}

.header_list {
  margin: 0 auto;
  width: 1322px;
  height: 60px;
}

// .main-navNew {
//     width: 1644px;
//     // width: 1145px;
//     position: relative;
//     clear: both;
//     line-height: 58px;
//     margin: 0 auto;

//     .navNew-List {
//         float: left;
//         font-size: 16px;
//         color: #cbba89;
//         padding: 0px 9px;

//         &.hasSelece>a {
//             color: #46fffa;
//             border-bottom: 2px solid #46fffa;

//         }

//         a {
//             display: inline-block;
//             color: #cbba89;
//             // padding: 0px 25px;
//             // padding-bottom: 12px;
//         }
//     }

//     .navNew-Logo {
//         float: left;
//         width: 343px;
//         position: relative;
//         z-index: 200;
//         text-align: center;

//         a {
//             display: inline-block;

//             img {
//                 width: 202px;
//                 height: auto;
//                 vertical-align: top;
//                 margin-top: 0;
//                 margin-left: 0;
//             }
//         }

//     }
// }

//导航下拉样式
// .navNew-List .sub {
//     display: none;
//     width: 100%;
//     padding: 0;
//     position: fixed;
//     top: 119px;
//     overflow: hidden;
//     text-align: left;
//     z-index: 110;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.8);
// }

// .navNew-List .sub .nav_xiao {
//     width: 1200px;
//     overflow: hidden;
//     margin: 0 auto
// }

// .navNew-List .sub .nav_xiao .xiao_one {
//     overflow: hidden;
//     padding-top: 40px;
//     padding-bottom: 40px;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li {
//     float: left;
//     display: inline;
//     height: 184px;
//     width: 25%;
//     overflow: hidden;
//     text-align: center;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a {
//     display: block;
//     height: 100%;
//     border-right: 1px solid #e6e6e6;
//     line-height: 56px;
//     overflow: hidden;
//     color: #000;
//     margin-top: 13px;
//     font-size: 18px;
//     transition: all .3s;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li:last-child a {
//     border-right: 0;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover {
//     color: #f67524;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a i {
//     display: block;
//     width: 101px;
//     height: 84px;
//     margin: 0 auto;
//     margin-bottom: 23px;
//     overflow: hidden;
//     // background-image: url(../images/top_pic1.png);
//     background-repeat: no-repeat;
//     transition: all .3s;
//     margin-top: 20px;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs1 {
//     background-position: -720px top;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs2 {
//     background-position: left top;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs3 {
//     background-position: -360px top;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a i.bgs4 {
//     background-position: -1088px top;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover i {
//     // background-image: url(../images/top_pic1.png);
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs1 {
//     background-position: -720px bottom;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs2 {
//     background-position: left bottom;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs3 {
//     background-position: -360px bottom;
// }

// .navNew-List .sub .nav_xiao .xiao_one ul li a:hover i.bgs4 {
//     background-position: -1088px bottom;
// }

// .navNew-List .sub .nav_xiao .xiao_two {
//     // margin-top: 18px;
//     // margin-bottom: 21px;
//     overflow: hidden;
//     position: relative;
// }

// .navNew-List .sub .nav_xiao .xiao_two .tip-server {
//     position: absolute;
//     right: 0px;
//     top: 0px;

//     img {
//         width: 352px;
//         height: auto;
//     }
// }

// .navNew-List .sub .nav_xiao .xiao_two ul {
//     width: 817px;
//     overflow: hidden;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li {
//     float: left;
//     display: inline;
//     // height: 184px;
//     margin-right: 6px;
//     overflow: hidden;

//     text-align: center;

//     &:last-child {
//         margin-right: 0px;
//     }
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a {
//     display: block;
//     height: 100%;
//     // border-right: 1px solid #e6e6e6;
//     line-height: 56px;
//     overflow: hidden;
//     color: #000;
//     margin-top: 13px;
//     font-size: 18px;
//     transition: all .3s;
//     text-align: center;
//     padding: 0px 25px;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-text {
//     color: #847a51;
//     font-size: 16px;
//     display: block;
//     height: 22px;
//     line-height: 22px;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait {
//     display: block;
//     position: relative;
//     width: 143px;
//     height: 151px;
//     margin: 0 auto;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_portrait {
//     width: 100px;
//     height: auto;
//     position: absolute;
//     left: 23px;
//     top: 22px;
//     z-index: 1;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame1,
// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame2 {
//     width: 143px;
//     height: auto;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     z-index: 3;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-portrait .i_frame2 {
//     display: none;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-logo {
//     width: 100%;
//     text-align: center;
//     display: block;
//     margin-top: 15px;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1-logo img {
//     width: auto;
//     height: 42px;
//     vertical-align: top;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li:last-child a {
//     border-right: 0
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-text {
//     color: #d2c489;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-portrait .i_frame1 {
//     display: none;
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a:hover .bgs1-portrait .i_frame2 {
//     display: block;
// }

// // .nav .sub .nav_xiao .xiao_two img {
// //     float: left;
// //     margin-right: 25px
// // }

// .navNew-List .sub .nav_xiao .xiao_two .nav_div {
//     float: left;
//     width: 380px;
//     padding-top: 30px;
//     font-size: 12px;
//     color: #666;
//     line-height: 22px
// }

// .navNew-List .sub .nav_xiao .xiao_two .nav_div h2 {
//     font-size: 16px;
//     color: #f3782a;
//     font-weight: 400;
//     letter-spacing: 1px;
//     line-height: 36px
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a i {
//     display: block;
//     width: 104px;
//     height: 104px;
//     margin: 0 auto;
//     margin-bottom: 13px;
//     overflow: hidden;
//     // background-image: url(../images/top_pic2.png);
//     background-repeat: no-repeat;
//     margin-top: 10px;
//     background-color: #999;
//     border-radius: 50%;
//     position: relative;
//     transition: all .3s
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a .bgs1 {
//     background-position: 30px center
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs2 {
//     background-position: -330px center
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs3 {
//     background-position: -691px center
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a i.bgs4 {
//     background-position: -1050px center
// }

// .navNew-List .sub .nav_xiao .xiao_two ul li a:hover i {
//     background-color: #f67524;
//     margin-top: 5px
// }

//头部
@media screen and (max-height: 930px) {
  .main-cont-nav {
    position: absolute !important;
    max-height: none !important;
  }
}

@media screen and (max-height: 900px) {
  body {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }

  // 个人中心，代理中心
  #memberMainFrom,
  #memberAgencyFrom {
    position: absolute !important;
  }
}

@media screen and(min-width:1261px) and (max-width: 1300px) {
  // 可以进行滚动
  body {
    overflow-y: scroll !important;
  }

  // 个人中心，代理中心
  #memberMainFrom,
  #memberAgencyFrom {
    position: absolute !important;
  }

  .main-body {
    zoom: 0.75 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 50px !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 120px !important;
  }

  .live-content .live-logo-page {
    margin-left: 120px !important;
  }

  .ele-content {
    padding-left: 190px !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}

@media screen and (min-width: 1600px) and(max-width:1860px) {
  .main-body {
    zoom: 0.9 !important;
  }

  .live-content {
    margin-left: -20px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 50px !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 120px !important;
  }

  .live-content .live-logo-page {
    margin-left: 120px !important;
  }

  .ele-content {
    padding-left: 190px !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1366px) {
  .main-body {
    zoom: 0.75 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 10% !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 10% !important;
  }

  .live-content .live-logo-page {
    margin-left: 10% !important;
  }

  .ele-content {
    padding-left: 14% !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .main-body {
    zoom: 0.75 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 10% !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 10% !important;
  }

  .live-content .live-logo-page {
    margin-left: 10% !important;
  }

  .ele-content {
    padding-left: 14% !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1599px) {
  .main-body {
    zoom: 0.8 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 10% !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 10% !important;
  }

  .live-content .live-logo-page {
    margin-left: 10% !important;
  }

  .ele-content {
    padding-left: 14% !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1260px) {
  .main-body {
    zoom: 0.65 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 50px !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 120px !important;
  }

  .live-content .live-logo-page {
    margin-left: 120px !important;
  }

  .ele-content {
    padding-left: 190px !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -3% !important;
  }

  .footer-leftMain {
    margin-right: -6px !important;
    margin-left: 19% !important;
    margin-bottom: -48px !important;
  }

  .footer-rightMain {
    margin-right: 1% !important;
  }
}

@media screen and (max-width: 1000px) {
  .main-body {
    zoom: 0.53 !important;
  }

  .index-content {
    height: 1140px !important;
  }

  .lottery-content .lottery-logo-page {
    margin-left: 50px !important;
  }

  .sport-content .sport-logo-page {
    margin-left: 120px !important;
  }

  .live-content .live-logo-page {
    margin-left: 120px !important;
  }

  .ele-content {
    padding-left: 190px !important;
  }

  .footer-leftMain > span {
    width: 2px !important;
    right: -5% !important;
  }

  .footer-rightMain {
    margin-right: 2% !important;
  }
}
