<template>
  <div>
    <div class="createAccount-cont-main">
      <!-- <h2 class="agency-main-title">
        <span>{{$t('message.agency_create_account')}}</span>
      </h2>-->
      <h5
        style="padding:0 29px;margin-top: 14px;color:#000"
      >{{$t('message.agency_membership_password')}}</h5>
      <div class="createAccount-cont-user">
        <div class="user-content">
          <p class="p1 p1-user">
            <span>
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_user.png'" />
            </span>
            <i class="Prefix">{{NamePrefix}}</i>
            <input
              type="text"
              name="Acct"
              v-model="RegistObj.Acct"
              v-validate="{ rules: { regex:Reg.agencyUser, required: true }}"
              @blur="CheckAcctAvailable()"
              :placeholder="$t('message.reg_enter_account')"
              :disabled="disabledFlag"
            />
          </p>
          <p
            class="tip1"
            v-show="errors.has('Acct') && fields.Acct.touched && fieldsAcctName"
          >{{$t('message.reg_english_letters')}}</p>
          <p
            class="tip1"
            v-show="!errors.has('Acct') && !AcctAvailable"
          >{{$t('message.reg_hasBeen_used')}}</p>
        </div>
        <!-- <div class="user-content">
          <p class="p1 p1-password">
            <span>
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_lock.png'">
            </span>
            <input
              v-model="RegistObj.pwd"
              name="pwd"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              type="password"
              style="width:328px;"
            >
          </p>
          <p
            class="tip1"
            v-show="errors.has('pwd') && fields.pwd.touched"
          >仅可以使用英文字母,数字与一般常用符号, 字数范围6-20</p>
        </div>-->
      </div>
      <div class="createAccount-cont-bottom">
        <div class="createAccount-cont-treatment">
          <div class="agency-treatment common-treatment">
            <!-- 代理待遇 -->
            <h3 class="treatment-title">
              <img
                class="line"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'"
              />
              <span class="treatment-title-sp">
                <span class="sp1">
                  {{$t('message.agency_treatment')}}
                  <span
                    v-if="IncomeMode == 1401"
                  >{{$t('message.agency_treatmentZC')}}</span>
                  <span v-if="IncomeMode == 1402">{{$t('message.agency_treatmentYJ')}}</span>
                </span>
                <!-- <span class="sp1">
                  <el-radio
                    v-model="radio"
                    label="1"
                    @change="changRadio('1')"
                    :disabled="disabledWhether"
                  >{{$t('message.agency_treatmentZC')}}</el-radio>
                  <el-radio
                    v-model="radio"
                    label="2"
                    @change="changRadio('2')"
                  >{{$t('message.agency_treatmentYJ')}}</el-radio>
                </span>-->
              </span>
              <span class="mould" v-if="IsShowMouldBtn==22" @click="TriggerMould()">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon7.png'"
                />
                {{$t('message.agency_scheme_template')}}
              </span>
            </h3>
            <div
              class="treatment-item"
              v-if="radio==1 && radioOneFlag"
              :style="{'height':vTreatment}"
            >
              <span class="treatment-item-sp">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/agencyCenter/a_title1.png'"
                />
              </span>
              <ul class="treatment-item-ul">
                <li class="treatment-ulLi" v-for="(li,index) in ValueListItem" :key="index">
                  <span
                    class="treatment-ulLi-tabName"
                    v-bind:class="{ 'on': divideName == li.GroupName,'treaAthletics':li.GroupName=='电子竞技'}"
                    @click="divideInto(li.GroupName)"
                  >
                    <i
                      class="tabName-putName"
                      :class="{'tabName-putNameLen':li.GroupName.length>4}"
                    >{{li.GroupName}}</i>
                    <input
                      class="tabName-putBox"
                      v-model="li.tabValueName"
                      @input="tabValueKey(li.tabValueName,index,$event)"
                      type="number"
                    />
                    <i class="tabName-percentage">%</i>
                  </span>
                  <ul
                    class="treatment-ulLi-tabCon"
                    :style="{'height':HulHeight}"
                    v-show="divideName == li.GroupName"
                  >
                    <li class="tabCon-list" v-for="(liList,key) in li.GroupList" :key="key">
                      <span
                        class="tabCon-list-name"
                        :title="liList.GameApiName"
                      >{{liList.GameApiName}}</span>
                      <div class="tabCon-list-put">
                        <input
                          v-model="liList.RevenueRate"
                          @input="Treatmentvailable(liList,index,key,$event);"
                          type="number"
                          :placeholder="$t('message.agency_highest_proportion')+liList.MaxRevenueRate+'%'"
                        />
                      </div>
                      <span class="tabCon-list-percentage">%</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <!-- 备用--下一个需求 -->
          <!-- 佣金基本信息 -->
          <!-- <div class="commission-info common-treatment">
            <h3 class="treatment-title">
              <img
                class="line"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'"
              />
              <span class="treatment-title-sp">
                <span class="sp1">{{$t('message.agency_commission_information')}}</span>
              </span>
            </h3>
            <div class="commission-info-main">
              <p class="commission-info-p1">
                <span class="p1-name">佣金名称：</span>
                <input class="p1-putBox" type="text" />
              </p>
              <p class="commission-info-p1">
                <span class="p1-name">佣金类型：</span>
                <span class="p1-radioBox">
                  <input type="radio" />消费
                </span>
                <span class="p1-radioBox">
                  <input type="radio" />充值
                </span>
              </p>
              <p class="commission-info-p1">
                <span class="p1-name">有效人数定义</span>
                <span class="p1-textBox">
                  <input class="radio" type="radio" />
                  <sapn class="txt">有效投注>=</sapn>
                  <input class="putText" type="text" />
                </span>
                <span class="p1-textBox">
                  <input class="radio" type="radio" />
                  <span class="txt">充值>=</span>
                  <input class="putText" type="text" />
                </span>
              </p>
            </div>
          </div>-->

          <!-- 佣金奖励配置 -->
          <!-- <div class="commission-award common-treatment">
            <h3 class="treatment-title">
              <img
                class="line"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'"
              />
              <span class="treatment-title-sp">
                <span class="sp1">{{$t('message.agency_bonus_allocation')}}</span>
              </span>
            </h3>
            <div class="commission-award-main">
              <span class="award-name">团队有效投注达</span>
              <input class="award-putBox" type="text" />
              <span class="award-name">团队有效人数达</span>
              <input class="award-putBox" type="text" />
              <span class="award-name">以上，可获得佣金</span>
              <input class="award-putBox" type="text" />
              <input class="award-checkBox" type="checkbox" />
              <span class="award-name">%</span>
              <a class="award-add">增加</a>
            </div>
          </div>-->
          <!-- 备用--下一个需求 -->
        </div>
        <div class="createAccount-cont-bonus">
          <div class="bonus-list" v-if="radio==1 && radioOneFlag">
            <span class="bonus-list-name">{{$t('message.agency_bear_dividends')}}</span>
            <input
              class="bonus-list-put"
              type="number"
              @blur="IBBonusvailable(IBBonusName)"
              v-model="IBBonusName"
              @keydown="oninput"
            />
            <span class="bonus-list-percentage">%</span>
            <span
              class="bonus-list-tip"
            >{{$t('message.agency_residual_dividend')}}{{MaxIBBonusRevenueRate}}%</span>
          </div>
          <div class="bonus-list">
            <span class="bonus-list-name">{{$t('message.agency_code_commission')}}</span>
            <div
              v-show="AutoUpgradeFlag==1"
              class="bonus-list-promotion"
            >：{{$t('message.agency_promotion_system')}}</div>
            <div v-show="AutoUpgradeFlag!=1" style="float: left;">
              <input
                class="bonus-list-put"
                @blur="Revrsevailable(RevrseName)"
                v-model="RevrseName"
                type="number"
                @keydown="oninput"
              />
              <span class="bonus-list-percentage">%</span>
              <span
                class="bonus-list-tip"
              >{{$t('message.agency_residual_commissioner')}}{{VMaxRevrseWater}}</span>
            </div>
          </div>
          <span class="bonus-settlement">{{$t('message.agency_settlement_method')}}：{{CycleName}}</span>
        </div>
        <div class="createAccount-cont-btn">
          <a
            class="register"
            href="javascript:;"
            @click="submission(IncomeMode)"
          >{{$t('message.top_register')}}</a>
          <a
            class="preserve"
            v-if="(IsShowMouldBtn==22)||(AutoUpgradeFlag!=1 && IsShowMouldBtn==22)"
            href="javascript:;"
            @click="preserveBtn(IncomeMode)"
          >{{$t('message.agency_preservation_scheme')}}</a>
        </div>
      </div>
      <!-- <div class="createAccount-cont-commission" v-else>
        <h3 class="treatment-title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
          {{$t('message.agency_code_servant')}}
          <span
            class="mould"
            v-if="AutoUpgradeFlag!=1 && IsShowMouldBtn==22"
            @click="TriggerMould()"
          >
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_icon7.png'" />
            {{$t('message.agency_scheme_template')}}
          </span>
        </h3>
        <div class="agencyCreate-itemCom">
          <ul>
            <li class="agencyCreate-itemCom-list">
              <span class="agencyCreate-itemCom-listName">Email:</span>
              <div
                class="agencyCreate-itemCom-listPut"
                :class="{'listPut-inputBg2':IncomeMode=='1402'}"
              >
                <input
                  type="text"
                  name="agencyEmail"
                  v-model="RegistObj.agencyEmail"
                  :disabled="disabledExamineFlag"
                  @focus="IBEmailRangeErrorIsShow = false;IBEmailFormatErrorIsShow = false;"
                  @blur="Check_Email(RegistObj.agencyEmail)"
                />
                <p class="tip1" v-show="IBEmailRangeErrorIsShow">{{$t('message.agent_underline')}}</p>
                <p
                  class="tip1"
                  v-show="!IBEmailRangeErrorIsShow&&IBEmailFormatErrorIsShow"
                >{{$t('message.agency_format_error')}}</p>
              </div>
            </li>
            <li class="agencyCreate-itemCom-list">
              <span class="agencyCreate-itemCom-listName">{{$t('message.agent_full_name')}}:</span>
              <div
                class="agencyCreate-itemCom-listPut"
                :class="{'listPut-inputBg2':IncomeMode=='1402'}"
              >
                <input
                  type="text"
                  name="RealName"
                  v-model="RegistObj.RealName"
                  v-validate="{ rules: { regex:Reg.NickName, required: true }}"
                  :disabled="disabledExamineFlag"
                  @blur="filedsCommon()"
                />
                <p
                  class="tip1"
                  v-show="errors.has('RealName') && fields.RealName.touched && fieldsAcctName"
                >{{$t('message.agent_blank_space')}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="createAccount-cont-bonus">
          <div class="bonus-list commission-bonus-list">
            <span class="bonus-list-name">{{$t('message.agency_code_commission')}}</span>
            <div
              v-show="AutoUpgradeFlag==1"
              class="bonus-list-promotion"
            >：{{$t('message.agency_promotion_system')}}</div>
            <div v-show="AutoUpgradeFlag!=1" style="float: left;">
              <input
                class="bonus-list-put"
                @blur="Revrsevailable(RevrseName)"
                v-model="RevrseName"
                type="number"
                @keydown="oninput"
              />
              <span class="bonus-list-percentage">%</span>
              <span
                class="bonus-list-tip"
              >{{$t('message.agency_residual_commissioner')}}{{VMaxRevrseWater}}</span>
            </div>
          </div>
          <span class="bonus-settlement">{{$t('message.agency_settlement_method')}}：{{CycleName}}</span>
        </div>
        <div class="createAccount-cont-btn">
          <a
            class="register"
            href="javascript:;"
            @click="submission(IncomeMode)"
          >{{$t('message.top_register')}}</a>
          <a
            class="preserve"
            href="javascript:;"
            id="ShowMouldBtn"
            v-if="AutoUpgradeFlag!=1 && IsShowMouldBtn==22"
            @click="preserveBtn(IncomeMode)"
          >{{$t('message.agency_preservation_scheme')}}</a>
        </div>
      </div>-->
      <div
        v-show="IsMaxFlag"
        class="maxtip"
      >{{$t('message.agency_reasonable_numerical')}}：0~{{MaxRevenueRateNum}}</div>
      <div
        v-show="IsIBBonusFlag"
        class="maxtip"
      >{{$t('message.agency_residual_dividend')}}{{MaxIBBonusRevenueRate}},{{$t('message.agency_numerial_number')}}!</div>
      <div
        v-show="RevrseFlag"
        class="maxtip"
      >{{$t('message.agency_residual_commissioner')}}{{VMaxRevrseWater}},{{$t('message.agency_numerial_number')}}!</div>
      <div v-show="tipWord" class="maxtip">{{$t('message.agency_positive_integer')}}</div>
      <div v-show="resigerWord" class="maxtip">{{succeededText}}</div>
      <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
    </div>
    <agency-mould :TemplateListData="TemplateListData"></agency-mould>
    <agency-scheme
      :NamePrefix="NamePrefix"
      :ReverseWater="ReverseWater"
      :VMaxRevrseWater="VMaxRevrseWater"
      :IncomeMode="IncomeMode"
      :IBCommissionRevenueGameSettingList="IBCommissionRevenueGameSettingList"
      :MaxIBBonusRevenueRate="MaxIBBonusRevenueRate"
      :RegistObj="RegistObj"
      :RevrseName="RevrseName"
      :IBBonusName="IBBonusName"
      :Flag="Flag"
      :UserlistMemberID="UserlistMemberID"
      :IsMember="IsMember"
      :RelationMemberID="RelationMemberID"
    ></agency-scheme>
    <template-data ref="templateDataFun" :radioOne="radioOneFlag" :radioTwo="radioTwoFlag"></template-data>
    <switch-treatment ref="switchDataFun" :radioOne="radioOneFlag" :radioTwo="radioTwoFlag"></switch-treatment>
  </div>
</template>

<script>
import Vue from 'vue';
import AgencyMould from '@/mod/k04/components/sub/agency/supervise/createAccount/agencyMould.vue';
import AgencyScheme from '@/mod/k04/components/sub/agency/supervise/createAccount/agencyScheme.vue';
import TemplateData from '@/mod/k04/components/sub/agency/supervise/createAccount/templateData.vue';
import SwitchTreatment from '@/mod/k04/components/sub/agency/supervise/createAccount/switchTreatment.vue';
import AgencyCenterService from '@/mod/k04/assets/scripts/businessLogic/agencyCenterService.js';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import BKBLDef from '@/assets/scripts/common/BLDef.js';
import CommService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';

export default {
  data () {
    return {
      radio: '1',
      radioOneFlag: true,
      radioTwoFlag: true,
      disabledWhether: false,
      divideName: '',
      superiorName: '',
      IncomeMode: '',
      RevenueGameSettingList: [],
      ValueList: [],
      TempleteValueList: [],
      ValueListItem: [],
      RegistObj: {
        WGUID: '',
        Acct: '',
        // pwd: '',
        IsAvailable: ''
        // agencyEmail: '',
        // RealName: ''
      },
      tabValueName: '',
      // 正則表達式類別
      Reg: Regex.Regex,
      Flag: {
        AcctFocus: undefined,
        AcctErrorIsShow: undefined,
        PhoneNoFocus: undefined,
        PhoneNoErrorIsShow: undefined,
        PwdFocus: undefined,
        PwdValidateIsShow: undefined,
        CheckPwdErrorIsShow: false,
        WithdrawPwdFocus: undefined,
        WithdrawPwdValidateIsShow: undefined,
        CheckWithdrawPwdErrorIsShow: false,
        Focus: undefined,
        ErrorIsShow: undefined
      },
      AcctAvailable: true,
      MouldObj: {
        TempName: null,
        CreateStartDateTime: null,
        CreateEndDateTime: null
      },
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      treatmentObj: {
        AcctItemValue: {}
      },
      TempCommissionRevenueLists: [],
      MaxIBBonusRevenueRate: '',
      VMaxRevrseWater: '',
      ReverseWater: '',
      MaxRevenueRateNum: '',
      IsMaxFlag: false,
      IBBonusName: '',
      RevrseName: '',
      IsIBBonusFlag: false,
      RevrseFlag: false,
      NamePrefix: '',
      AutoUpgradeFlag: -1,
      IBCommissionRevenueGameSettingList: [],
      RevenueList: [],
      SuperiorRevenueList: [],
      TempleteRevenueList: [],
      tipWord: false,
      CycleName: '',
      resigerWord: false,
      succeededText: '',
      HulHeight: '89px',
      vTreatment: '142px',
      // 信箱欄位驗證旗標
      EmailValidFlag: undefined,
      Vlists: [],
      inputSecondText: null,
      MouldIBTempList: [],
      UserlistMemberID: undefined,
      IsShowMouldBtn: 22,
      ISCreatedAgency: false,
      disabledFlag: false,
      disabledExamineFlag: false,
      SerialNo: undefined,
      IsMember: true,
      RelationMemberID: -1,
      fieldsAcctName: true,
      agencyObjLists: [], // 注册带的数组参数
      IsSucc: false,
      IsShowErrorFlag: false,
      errorText: undefined,
      TemplateListData: [],
      IBEmailRangeErrorIsShow: false, // 邮箱验证字段
      IBEmailFormatErrorIsShow: false,
      agencyAgreeState: undefined,
      TemplateZhanCheng: false,
      TemplateCodeCommission: false,
      PhoneNo: ''
    };
  },
  created: function () {
    this.loadHome();
    // 代理审核同意

    if (localStorage.getItem('CreatedAgencyData')) {
      console.log('222222222222222221111111111111111111111111111111111');
      this.IsShowMouldBtn = 11;
      const Data = JSON.parse(localStorage.getItem('CreatedAgencyData'));
      this.PlanId = Data.PlanId;
      this.SerialNo = Data.SerialNo;
      this.PhoneNo = Data.PhoneNo;
      console.log(this.agencyAgreeState);
      // setTimeout(() => {
      //   this.$nextTick(function () {
      //     this.templateList();
      //   });
      // }, 200);
    }
    if (localStorage.getItem('CreatedIBExamineDetailsData')) {
      this.disabledExamineFlag = true;
      const Data = JSON.parse(
        localStorage.getItem('CreatedIBExamineDetailsData')
      );
      // this.RegistObj.agencyEmail = Data.Email;
      // this.RegistObj.RealName = Data.Name;
    }
    console.log(this.IsShowMouldBtn == 11);
    console.log('IsShowMouldBtn');
    console.log(this.IsShowMouldBtn);
    console.log('IsShowMouldBtn');

    if (localStorage.getItem('loginIDName')) {
      this.disabledFlag = true;
      const data = JSON.parse(localStorage.getItem('loginIDName'));
      this.RegistObj.Acct = data.LoginID;
      this.UserlistMemberID = data.MemberID;
      this.SerialNo = data.SerialNo;
      this.IsMember = true; // (会员 创建账号只注册为代理)
      this.RelationMemberID = data.MemberID;
      console.log('data88888888888888888888888888888888888888888888');
      console.log(data);
      console.log(this.RegistObj.Acct);
      console.log('data88888888888888888888888888888888888888888888');
    }
  },
  mounted: function () {
    const self = this;

    EventBus.$on('showNotifyScheme', data => {
      // debugger;
      self.TempCommissionRevenueLists = data;
      console.log(self.TempCommissionRevenueLists);
      self.ValueListItem.forEach((item, index) => {
        const GroupListData = self.ValueListItem[index].GroupList;
        GroupListData.forEach((value, key) => {
          self.treatmentObj.tabAcct =
            self.TempCommissionRevenueLists[index].GroupList[key].RevenueRate2;
        });
      });
    });
    // 操作失败
    EventBus.$on('agencyMouldError', () => {
      this.IsShowErrorFlag = true;
      setTimeout(() => {
        this.IsShowErrorFlag = false;
      }, 1000);
    });
    // 注册并保存模板成功
    EventBus.$on('agencyMouldSucc', data => {
      console.log('9999999999999999999999999999999999999999999');
      console.log('dfdg');
      this.resigerWord = true;
      this.succeededText = data;
      setTimeout(() => {
        this.resigerWord = false;
      }, 1000);
      this.fieldsAcctName = false;
      this.disabledFlag = false;
      this.disabledExamineFlag = false;
      this.IsMember = true;
      this.RegistObj.Acct = '';
      // this.RegistObj.agencyEmail = '';
      // this.RegistObj.RealName = '';
      this.IBBonusName = '';
      this.RevrseName = '';
      this.inputSecondText = null;
      this.TemplateZhanCheng = false;
      this.TemplateCodeCommission = false;
      for (let i = 0; i < this.ValueListItem.length; i++) {
        this.ValueListItem[i].tabValueName = '';
        const list = this.ValueListItem[i].GroupList;
        for (let r = 0; r < list.length; r++) {
          this.ValueListItem[i].GroupList[r].RevenueRate = '';
          // this.ValueListItem[i].GroupList[r].VRevenueRate = 0;
        }
      }
      // this.RegistObj.pwd = '';
    });
    // EventBus.$on('loginIDName', data => {
    //   this.RegistObj.Acct = data.LoginID;
    //   this.UserlistMemberID = data.MemberID;
    //   console.log('data88888888888888888888888888888888888888888888');
    //   console.log(data);
    //   console.log(this.RegistObj.Acct);
    //   console.log('data88888888888888888888888888888888888888888888');
    // });

    // 监听是否使用了模板并赋值
    EventBus.$on('MouldTempCommissionRevenueDatas', data => {
      console.log('TempCommissionRevenueList111111111111');
      console.log(data);
      console.log(this.ValueListItem);
      console.log('TempCommissionRevenueList1111111111111111');
      // this.ValueListItem = [];
      this.RevenueList = [];
      this.TempleteRevenueList = [];
      this.disabledFlag = false;
      this.disabledExamineFlag = false;
      this.IsMember = true;
      this.IBBonusName = this.numCalFix(data.BonusRevenue * 100);
      this.RevrseName = this.numCalFix(data.RakeRate * 100);
      this.IncomeMode = data.TempType;
      if (data.TempType == 1401) {
        this.TemplateZhanCheng = true;
        this.TemplateCodeCommission = false;
        this.radioOneFlag = true;
        this.radio = '1';
        this.IBCommissionRevenueGameSettingList =
          data.TempCommissionRevenueList;
        const list = data.TempCommissionRevenueList;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < this.TempleteValueList.length; z++) {
            if (list[i].GameTypeName == this.TempleteValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            this.TempleteValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < this.TempleteValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.TempleteValueList[h]) {
              names = {
                GroupName: this.TempleteValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          this.TempleteRevenueList.push(names);
        }
        for (let h = 0; h < this.TempleteRevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == this.TempleteRevenueList[h].GroupName) {
              this.TempleteRevenueList[h].GroupList.push(list[p]);
              // this.TempleteRevenueList[h].GroupList.push({
              //   GameApiName: list[p].GameApiName,
              //   GameApiNo: list[p].GameApiNo,
              //   GameTypeName: list[p].GameTypeName,
              //   RevenueRate: this.numCalFix(list[p].RevenueRate * 100),
              //   GroupID: list[p].GroupID
              // });
            }
          }
        }
        console.log('点击模板赋值数据-----------------------------');
        // console.log(self.IBCommissionRevenueGameSettingList);
        console.log(list);
        console.log(this.TempleteValueList);
        console.log(this.TempleteRevenueList);
        const mouldList = this.TempleteRevenueList;
        console.log(mouldList);
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            mouldList[a].GroupList[b].RevenueRate = this.numCalFix(
              groudList[b].RevenueRate * 100
            );
          }
        }
        // this.ValueListItem = mouldList;
        // const listA = mouldList;
        // for (var i in this.ValueListItem) {

        //   for (var prototype in this.ValueListItem[i].GroupList) {
        //     console.log(this.ValueListItem[i].GroupList[prototype]);
        //     for (var n in this.ValueListItem[i].GroupList[prototype]) {
        //       if (mouldList[i].GroupList[prototype][n] != undefined) {
        //         this.ValueListItem[i].GroupList[prototype][n] =
        //           mouldList[i].GroupList[prototype][n];
        //       }
        //     }
        //   }
        // }

        this.ValueListItem.sort(function (a, b) {
          return a.GameTypeNo - b.GameTypeNo;
        });
        mouldList.sort(function (a, b) {
          return a.GameTypeNo - b.GameTypeNo;
        });

        for (var i in mouldList) {
          console.log(this.ValueListItem[i].GameTypeNo);
          if (mouldList[i].GameTypeNo == this.ValueListItem[i].GameTypeNo) {
            for (var prototype in mouldList[i].GroupList) {
              for (var y in this.ValueListItem[i].GroupList) {
                if (
                  mouldList[i].GroupList[prototype].GameApiNo ==
                  this.ValueListItem[i].GroupList[y].GameApiNo
                ) {
                  for (var n in mouldList[i].GroupList[prototype]) {
                    if (mouldList[i].GroupList[prototype][n] != undefined) {
                      this.ValueListItem[i].GroupList[y][n] =
                        mouldList[i].GroupList[prototype][n];
                    }
                  }
                }
              }
            }
          }
        }

        console.log('this.ValueListItem模板赋值222222222222');
        console.log(mouldList);
        console.log(this.ValueListItem);
        console.log('this.ValueListItem模板赋值222222222222');
        for (let d = 0; d < this.ValueListItem.length; d++) {
          this.Vlists.push(this.ValueListItem[d].GroupList.length);
          this.Vlists.sort(function (a, b) {
            return a - b;
          });
        }
        console.log(this.Vlists);
        const max = this.Vlists[this.Vlists.length - 1];
        console.log(max);
        console.log(Math.ceil(max / 5));
        this.HulHeight = 46 * Math.ceil(max / 5) + 'px';
        this.vTreatment = 45 + 46 * Math.ceil(max / 5) + 'px';
        console.log('点击模板赋值数据-----------------------------');
      } else {
        this.TemplateCodeCommission = true;
        this.TemplateZhanCheng = false;
        this.radioTwoFlag = true;
        this.radio = '2';
      }
    });

    // 码佣模板下，监听用户是否点击了占成+码佣
    EventBus.$on('TreatmentChoice', data => {
      console.log(data);
      this.ValueListItem = [];
      this.radio = data.radioNum;
      this.TemplateZhanCheng = this.TemplateCodeCommission =
        data.TemplateAssignmentFlag;
      this.radioOneFlag = true;
      this.radioTwoFlag = true;
      this.loadHome();
    });

    // 填入了占成+码佣栏位任意值后 切换弹窗赋值
    EventBus.$on('switchTreatFrom', data => {
      this.ValueListItem = [];
      this.RevenueList = [];
      this.TempleteRevenueList = [];
      this.radio = data.radioNum;
      this.radioOneFlag = false;
      this.radioTwoFlag = true;
      this.loadHome();
    });
    // 带入的用户名校验
    // if (this.RegistObj.Acct) {
    //   console.log('有值');
    //   this.CheckAcctAvailable();
    // }
    // 循环分成设置文本框的值是否大于它的上级
    // for (let w = 0; w < this.ValueListItem.length; w++) {
    //   const listItem = this.ValueListItem[w].GroupList;
    //   for (let h = 0; h < listItem.length; h++) {
    //     console.log(listItem[h].VRevenueRate);
    //     if (listItem[h].VRevenueRate > listItem[h].MaxRevenueRate) {
    //       listItem[h].VRevenueRate = '';
    //       this.IsMaxFlag = true;
    //       setTimeout(() => {
    //         this.IsMaxFlag = false;
    //       }, 1000);
    //     }
    //   }
    // }
    $('#createAccount-scroll').perfectScrollbar();
  },
  computed: {},
  methods: {
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function (num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },

    tabValueKey: function (data, j, e) {
      console.log(data);
      console.log(j);
      // data = data.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.ValueListItem[j].tabValueName = val.charAt(1);
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.ValueListItem[j].tabValueName = '';
        return;
      }
      if (index != -1) {
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[j].tabValueName = String(e.target.value).substring(
            0,
            index + 3
          );
          return;
        } else {
          this.ValueListItem[j].tabValueName =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        this.ValueListItem[j].tabValueName =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      const self = this;
      const itemLists = self.ValueListItem[j].GroupList;
      for (let k = 0; k < itemLists.length; k++) {
        if (data) {
          console.log('data');
          console.log(data);
          console.log('data');
          itemLists[k].RevenueRate = data;
          // itemLists[k].VRevenueRate = itemLists[k].RevenueRate;
        } else {
          itemLists[k].RevenueRate = '';
        }
      }
    },
    loadHome: async function () {
      const self = this;
      const inputObj = {
        AcctID: localStorage.getItem('CorrelationIBMemberId')
      };
      //
      const UpperData = await AgencyCenterService.LoadAddIBSettingUpperIBSetting(
        inputObj
      );
      const GameData = await AgencyCenterService.LoadMaxReverseGameListSetting(
        inputObj
      );
      const InitData = await AgencyCenterService.AddIB_LoadMainPage_Mgr(
        inputObj
      );
      console.log('UpperData');
      console.log(UpperData);
      console.log(GameData);
      console.log('UpperData');
      if (UpperData.Ret === 0) {
        self.VMaxRevrseWater = UpperData.Data.VReverseWater;
        self.ReverseWater = UpperData.Data.ReverseWater;
        self.NamePrefix = UpperData.Data.Prefix;
      }
      // const RevenueList = [];
      if (GameData.Ret === 0) {
        self.IncomeMode = GameData.Data.CommisionIncomeMode;
        if (self.IncomeMode === 1402) {
          self.disabledWhether = true;
          self.radio = '2';
        }
        console.log(self.disabledWhether);
        // self.IncomeMode = 1402;
        self.MaxIBBonusRevenueRate = GameData.Data.MaxIBBonusRevenueRate;
        self.AutoUpgradeFlag = GameData.Data.AutoUpgradeFlag;
        // self.AutoUpgradeFlag = 1;
        self.IBCommissionRevenueGameSettingList =
          GameData.Data.IBCommissionRevenueGameSettingList;
        // const list = GameData.Data.IBCommissionRevenueGameSettingList;
        const list = self.IBCommissionRevenueGameSettingList;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < self.ValueList.length; z++) {
            if (list[i].GameTypeName == self.ValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            self.ValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < self.ValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.ValueList[h]) {
              names = {
                GroupName: self.ValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          self.RevenueList.push(names);
        }
        for (let h = 0; h < self.RevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.RevenueList[h].GroupName) {
              self.RevenueList[h].GroupList.push(list[p]);
            }
          }
        }
        console.log('创建账号初始化数据');
        // console.log(self.IBCommissionRevenueGameSettingList);
        console.log(list);
        console.log(self.ValueList);
        console.log(self.RevenueList);
        // console.log(self.SuperiorRevenueList);
        console.log('创建账号初始化数据');
        // self.ValueListItem = self.RevenueList;

        // 分成设置
        const mouldList = self.RevenueList;
        console.log(mouldList);
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            // mouldList[a].GroupList[b].RevenueRate = this.numCalFix(
            //   groudList[b].RevenueRate * 100
            // );
            mouldList[a].GroupList[b].RevenueRate = '';

            mouldList[a].GroupList[b].MaxRevenueRate = this.numCalFix(
              groudList[b].MaxRevenueRate * 100
            );
          }
        }
        mouldList.sort(function (a, b) {
          return a.GameTypeNo - b.GameTypeNo;
        });
        self.ValueListItem = mouldList; // 分成%数
        console.log('处理后的列表数据11111111111111111111111111');
        console.log(self.ValueListItem);
        console.log('处理后的列表数据111111111111');

        self.SuperiorRevenueList = mouldList; // 上级%数

        self.divideName = self.RevenueList[0].GroupName;
        self.superiorName = self.RevenueList[0].GroupName;
        for (let d = 0; d < self.ValueListItem.length; d++) {
          self.Vlists.push(self.ValueListItem[d].GroupList.length);
          self.Vlists.sort(function (a, b) {
            return a - b;
          });
        }
        console.log(self.Vlists);
        const max = self.Vlists[self.Vlists.length - 1];
        console.log(max);
        console.log(Math.ceil(max / 5));
        self.HulHeight = 46 * Math.ceil(max / 5) + 'px';
        self.vTreatment = 45 + 46 * Math.ceil(max / 5) + 'px';
        self.agencyAgreeState = 1;
        console.log(self.agencyAgreeState);
        if (
          localStorage.getItem('CreatedAgencyData') &&
          self.agencyAgreeState == 1
        ) {
          self.templateList();
        }

        // 初始化 红利和码佣为空
        self.IBBonusName = '';
        self.RevrseName = '';
      }
      if (InitData.Ret === 0) {
        self.CycleName = InitData.Data.CycleName;
      }
      console.log('lasssssssssssssssssssssssssssssssssssssssssssssssssssss');

      // if (localStorage.getItem('CreatedAgencyData')) {
      //   self.ValueListItem = [];
      //   self.RevenueList = [];
      //   self.TempleteRevenueList = [];
      //   self.templateList();
      // }
    },
    templateList: async function () {
      const self = this;
      // self.ValueListItem = [];
      self.RevenueList = [];
      self.TempleteRevenueList = [];
      console.log(self.ValueListItem);
      const inputObj = {
        IsDetail: 1, // 代理ID 必填
        PagingInfo: {
          // 分页 必填
          PageSize: 10000, // 这个尽量给最大值
          PageNo: this.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadTempCommissionRevenueGameSettingPage(
        inputObj
      );
      console.log('代理同意模板查询数据');
      console.log(data);
      console.log('代理同意模板查询数据');
      if (data.Ret === 0) {
        this.MouldIBTempList = data.Data.IBTempList;
        for (let d = 0; d < this.MouldIBTempList.length; d++) {
          if (this.MouldIBTempList[d].ID == this.PlanId) {
            self.IBCommissionRevenueGameSettingList = this.MouldIBTempList[
              d
            ].TempCommissionRevenueList;
            self.IBBonusName = this.numCalFix(
              this.MouldIBTempList[d].BonusRevenue * 100
            );
            self.RevrseName = this.numCalFix(
              this.MouldIBTempList[d].RakeRate * 100
            );
            self.IncomeMode = this.MouldIBTempList[d].TempType;
            const list = this.MouldIBTempList[d].TempCommissionRevenueList;
            let isValueList;
            for (let i = 0; i < list.length; i++) {
              isValueList = false;
              for (let z = 0; z < self.TempleteValueList.length; z++) {
                if (list[i].GameTypeName == self.TempleteValueList[z]) {
                  isValueList = true;
                }
              }
              if (!isValueList) {
                self.TempleteValueList.push(list[i].GameTypeName);
              }
            }
            let names = {};
            for (let h = 0; h < self.TempleteValueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (list[p].GameTypeName == self.TempleteValueList[h]) {
                  names = {
                    GroupName: self.TempleteValueList[h],
                    GameTypeNo: list[p].GameTypeNo,
                    GroupList: []
                  };
                }
              }
              self.TempleteRevenueList.push(names);
            }
            for (let h = 0; h < self.TempleteRevenueList.length; h++) {
              for (let p = 0; p < list.length; p++) {
                if (
                  list[p].GameTypeName == self.TempleteRevenueList[h].GroupName
                ) {
                  self.TempleteRevenueList[h].GroupList.push(list[p]);
                  // self.TempleteRevenueList[h].GroupList.push({
                  //   GameApiName: list[p].GameApiName,
                  //   GameApiNo: list[p].GameApiNo,
                  //   GameTypeName: list[p].GameTypeName,
                  //   RevenueRate: this.numCalFix(list[p].RevenueRate * 100),
                  //   GroupID: list[p].GroupID
                  // });
                }
              }
            }
            console.log('代理同意后模板赋值数据-----------------------------');
            // console.log(self.IBCommissionRevenueGameSettingList);
            console.log(list);
            console.log(self.TempleteValueList);
            console.log(self.TempleteRevenueList);
            console.log('代理同意后模板赋值数据-----------------------------');
            const mouldList = self.TempleteRevenueList;
            console.log(mouldList);
            for (let a = 0; a < mouldList.length; a++) {
              const groudList = mouldList[a].GroupList;
              for (let b = 0; b < groudList.length; b++) {
                mouldList[a].GroupList[b].RevenueRate = this.numCalFix(
                  groudList[b].RevenueRate * 100
                );
              }
            }

            // for (var i in self.ValueListItem) {

            //   for (var prototype in self.ValueListItem[i].GroupList) {
            //     console.log(self.ValueListItem[i].GroupList[prototype]);
            //     for (var n in self.ValueListItem[i].GroupList[prototype]) {
            //       if (mouldList[i].GroupList[prototype][n] != undefined) {
            //         self.ValueListItem[i].GroupList[prototype][n] =
            //           mouldList[i].GroupList[prototype][n];
            //       }
            //     }
            //   }
            // }

            self.ValueListItem.sort(function (a, b) {
              return a.GameTypeNo - b.GameTypeNo;
            });
            mouldList.sort(function (a, b) {
              return a.GameTypeNo - b.GameTypeNo;
            });

            for (var i in mouldList) {
              console.log(self.ValueListItem[i].GameTypeNo);
              if (mouldList[i].GameTypeNo == self.ValueListItem[i].GameTypeNo) {
                for (var prototype in mouldList[i].GroupList) {
                  for (var y in self.ValueListItem[i].GroupList) {
                    if (
                      mouldList[i].GroupList[prototype].GameApiNo ==
                      self.ValueListItem[i].GroupList[y].GameApiNo
                    ) {
                      for (var n in mouldList[i].GroupList[prototype]) {
                        if (mouldList[i].GroupList[prototype][n] != undefined) {
                          self.ValueListItem[i].GroupList[y][n] =
                            mouldList[i].GroupList[prototype][n];
                        }
                      }
                    }
                  }
                }
              }
            }

            // self.ValueListItem = mouldList;
            for (let w = 0; w < self.ValueListItem.length; w++) {
              self.Vlists.push(self.ValueListItem[w].GroupList.length);
              self.Vlists.sort(function (a, b) {
                return a - b;
              });
            }
            console.log(self.Vlists);
            const max = self.Vlists[self.Vlists.length - 1];
            console.log(max);
            console.log(Math.ceil(max / 5));
            self.HulHeight = 46 * Math.ceil(max / 5) + 'px';
            self.vTreatment = 45 + 46 * Math.ceil(max / 5) + 'px';

            console.log('代理同意后模板赋值数据-----------------------------');
            // self.ValueListItem = self.TempleteRevenueList;
            console.log(self.ValueListItem);
          }
        }
      }
    },
    divideInto: function (name) {
      console.log(name);
      this.divideName = name;
    },
    superior: function (name) {
      console.log(name);
      this.superiorName = name;
    },
    TriggerMould: async function () {
      const inputObj = {
        IsDetail: 1, // 必填
        PagingInfo: {
          // 分页 必填
          PageSize: 10000, // 这个尽量给最大值
          PageNo: this.PagingInfo.PageNo
        }
      };
      const data = await AgencyCenterService.LoadTempCommissionRevenueGameSettingPage(
        inputObj
      );
      console.log('模板查询数据');
      console.log(data);
      console.log(data.Data.IBTempList);
      console.log('模板查询数据');
      if (data.Ret === 0) {
        this.TemplateListData = data.Data.IBTempList;
        AgencyMould.methods.ShowMould();
      }
    },
    Treatmentvailable: function (list, findex, key, e) {
      console.log(list.RevenueRate);
      console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
      // debugger;
      // 通过正则过滤小数点后两位
      console.log(list);
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      console.log(this.ValueListItem);
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = val.charAt(1);

        console.log('1');
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = '';

        console.log('2');
        return;
      }
      if (index != -1) {
        console.log('3');
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[findex].GroupList[key].RevenueRate = String(
            e.target.value
          ).substring(0, index + 3);

          console.log('4');
          // console.log(this.ValueListItem[findex].GroupList[key].VRevenueRate);
          console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
          return;
        } else {
          console.log('5');
          this.ValueListItem[findex].GroupList[key].RevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        console.log('6');
        this.ValueListItem[findex].GroupList[key].RevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      // console.log(this.ValueListItem[findex].GroupList[key].VRevenueRate);
      console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);

      // console.log(list);
      this.MaxRevenueRateNum = list.MaxRevenueRate;
      this.inputSecondText = list.RevenueRate;
      // console.log(list.VRevenueRate > list.MaxRevenueRate);
      // console.log(list.VRevenueRate);
      if (
        list.RevenueRate > list.MaxRevenueRate ||
        this.ValueListItem[findex].GroupList[key].RevenueRate === null
      ) {
        this.IsMaxFlag = true;
        list.RevenueRate = '';
        setTimeout(() => {
          this.IsMaxFlag = false;
        }, 1000);
      }
    },
    IBBonusvailable: function (val) {
      this.IBBonusName = val;
      if (val > this.MaxIBBonusRevenueRate) {
        this.IsIBBonusFlag = true;
        this.IBBonusName = '';
        setTimeout(() => {
          this.IsIBBonusFlag = false;
        }, 1000);
      }
    },
    Revrsevailable: function (val) {
      this.RevrseName = val;
      if (val > this.ReverseWater) {
        this.RevrseFlag = true;
        this.RevrseName = '';
        setTimeout(() => {
          this.RevrseFlag = false;
        }, 1000);
      }
    },
    submission: async function (IncomeModeVal) {
      this.agencyObjLists = [];
      console.log(IncomeModeVal);

      this.fieldsAcctName = true;
      if (IncomeModeVal == '1401') {
        console.log('11111111111111111111');
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });

        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.radio == 1) {
          this.IncomeMode = '1401';
          // 循环分成设置文本框的值是否大于它的上级(模板赋值this.ValueListItem没有最大值)
          for (let w = 0; w < this.ValueListItem.length; w++) {
            const SuperlistItem = this.SuperiorRevenueList[w].GroupList;
            const ValuelistItem = this.ValueListItem[w].GroupList;
            for (let h = 0; h < ValuelistItem.length; h++) {
              console.log(ValuelistItem[h].RevenueRate);
              // debugger;
              if (
                ValuelistItem[h].RevenueRate >
                  SuperlistItem[h].MaxRevenueRate ||
                ValuelistItem[h].RevenueRate === '' ||
                ValuelistItem[h].RevenueRate === null ||
                ValuelistItem[h].RevenueRate === undefined
              ) {
                this.MaxRevenueRateNum = SuperlistItem[h].MaxRevenueRate;
                // ValuelistItem[h].RevenueRate = '';
                console.log('21231231234');
                this.IsMaxFlag = true;
                setTimeout(() => {
                  this.IsMaxFlag = false;
                }, 1000);
                return;
              }
            }
          }
          console.log(this.IBBonusName);
          console.log(0 == '');
          console.log(undefined == '');
          if (this.IBBonusName === '') {
            this.IsIBBonusFlag = true;
            setTimeout(() => {
              this.IsIBBonusFlag = false;
            }, 1000);
            return;
          }
        } else {
          this.IBBonusName = 0; // 当为码佣的时候 承担红利百分比为0
          this.IncomeMode = '1402';
        }

        if (this.AutoUpgradeFlag != 1) {
          if (this.RevrseName === '') {
            this.RevrseFlag = true;
            setTimeout(() => {
              this.RevrseFlag = false;
            }, 1000);
            return;
          }
        }

        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }

        if (this.inputSecondText == '') {
          console.log(null == '');
          console.log(this.inputSecondText);
          this.IsMaxFlag = true;
          setTimeout(() => {
            this.IsMaxFlag = false;
          }, 1000);
          return;
        }
      } else {
        console.log('222222222222222222222');
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        console.log(this.RevrseName);
        if (this.AutoUpgradeFlag != 1) {
          console.log(this.RevrseName);
          if (this.RevrseName === '') {
            this.RevrseFlag = true;
            setTimeout(() => {
              this.RevrseFlag = false;
            }, 1000);
            return;
          }
        }
        this.MaxIBBonusRevenueRate = 0;
        this.IBBonusName = 0;
      }

      for (
        let index = 0;
        index < this.IBCommissionRevenueGameSettingList.length;
        index++
      ) {
        const NewGroupListItem = {};
        NewGroupListItem.GameApiName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiName;
        NewGroupListItem.GameApiNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameApiNo;
        NewGroupListItem.GameTypeName = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeName;
        NewGroupListItem.GameTypeNo = this.IBCommissionRevenueGameSettingList[
          index
        ].GameTypeNo;
        NewGroupListItem.GroupID = this.IBCommissionRevenueGameSettingList[
          index
        ].GroupID;
        NewGroupListItem.MaxRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MaxRevenueRate;
        NewGroupListItem.MemberID = this.IBCommissionRevenueGameSettingList[
          index
        ].MemberID;
        NewGroupListItem.MinRevenueRate = this.IBCommissionRevenueGameSettingList[
          index
        ].MinRevenueRate;
        NewGroupListItem.RevenueRate = this.numCalFix(
          (this.IBCommissionRevenueGameSettingList[index].RevenueRate * 1) / 100
        );
        this.agencyObjLists.push(NewGroupListItem);
      }
      // this.agencyObjLists = this.IBCommissionRevenueGameSettingList;
      // for (let e = 0; e < this.agencyObjLists.length; e++) {
      //   this.agencyObjLists[e].RevenueRate = this.numCalFix(
      //     this.agencyObjLists[e].RevenueRate / 100
      //   );
      // }
      // this.agencyObjLists = IBCommissionList;
      console.log(this.agencyObjLists);
      console.log(this.IBCommissionRevenueGameSettingList);
      const inputObj = {
        IsMember: this.IsMember,
        RelationMemberID: this.RelationMemberID,
        PhoneNo: this.PhoneNo,
        Prefix: this.NamePrefix,
        Acct: this.RegistObj.Acct,
        UpperIBInfo: {
          AcctID: localStorage.getItem('CorrelationIBMemberId'),
          Acct: localStorage.getItem('Acct'),
          Prefix: this.NamePrefix
        },
        MaxReverseGameListSetting: this.agencyObjLists,
        CommisionIncomeMode: {
          Value: this.IncomeMode
        },
        IBBonusRevenueRate: this.numCalFix(this.IBBonusName / 100),
        ReverseWater: this.numCalFix(this.RevrseName / 100) || 0,
        SaveIbTempSetting: false
      };
      console.log(inputObj);
      const data = await AgencyCenterService.LoadAddIB_Add(inputObj);
      console.log('创建账号的注册数据');

      console.log(data);
      console.log(this.inputSecondText);
      console.log('创建账号的注册数据');
      this.resigerWord = true;
      this.succeededText = data.Message;
      setTimeout(() => {
        this.resigerWord = false;
      }, 1000);
      if (data.Ret === 0) {
        // this.IsSucc = true;

        this.fieldsAcctName = false;

        this.disabledFlag = false;
        this.disabledExamineFlag = false;
        this.IsMember = true;
        // this.RegistObj.agencyEmail = '';
        // this.RegistObj.RealName = '';
        this.IBBonusName = '';
        this.RevrseName = '';
        this.inputSecondText = null;
        this.TemplateZhanCheng = false;
        this.TemplateCodeCommission = false;
        // this.RegistObj.pwd = '';
        this.$validator.reset();
        for (let i = 0; i < this.ValueListItem.length; i++) {
          this.ValueListItem[i].tabValueName = '';
          const list = this.ValueListItem[i].GroupList;
          for (let r = 0; r < list.length; r++) {
            this.ValueListItem[i].GroupList[r].RevenueRate = '';
            // this.ValueListItem[i].GroupList[r].VRevenueRate = 0;
          }
        }
        // this.ValueListItem = [];
        // this.SuperiorRevenueList = [];
        // this.loadHome();
        console.log(this.SerialNo);
        // 代理审核同意后注册成功
        if (this.IsShowMouldBtn == 11) {
          console.log('代理审核同意进来了');
          const inputData = {
            Acct: this.RegistObj.Acct,
            SerialNo: this.SerialNo,
            ApplyStatus: 2,
            RejectRemark: this.$t('message.member_catenation')
          };
          console.log(inputData);
          const MouldData = await AgencyCenterService.IBExamineRefuse(
            inputData
          );
          console.log(MouldData);
          console.log('代理审核同意进来了');
        }
        // 用户列表成为代理和请求成为代理
        if (localStorage.getItem('loginIDName')) {
          const inputData = {
            SerialNo: this.SerialNo,
            ApplyStatus: 2
          };
          console.log(inputData);
          const MouldData = await AgencyCenterService.IBExamineRefuse(
            inputData
          );
          console.log(MouldData);
          console.log('用户列表成为代理进来了');
        }
        this.RegistObj.Acct = '';
        // 注册成功跳转到用户列表
        setTimeout(() => {
          this.$store.dispatch('setAgencyNameText', 'webUserList');
        }, 1000);

        // alert('注册成功!');
      } else {
        // this.IsShowErrorFlag = true;
        // setTimeout(() => {
        //   this.IsShowErrorFlag = false;
        // }, 1000);
      }
    },
    // 驗證帳號是否重複
    CheckAcctAvailable: async function () {
      console.log('ddd');
      this.fieldsAcctName = true;
      if (localStorage.getItem('loginIDName')) {
        return;
      }
      console.log('dddwww');
      this.flag = !this.$validator.errors.has('Acct');
      if (this.flag && this.RegistObj.Acct.length > 0) {
        const obj = {
          Acct: this.RegistObj.Acct,
          WGUID: Vue.prototype.$WGUID
        };
        const retData = await CommService.CheckAcctAvailable(obj);
        this.AcctAvailable = retData.IsAvailable;
      } else {
        this.AcctAvailable = true;
      } // end if
    }, // end CheckAcctAvailable
    preserveBtn: async function (IncomeModeVal) {
      console.log(IncomeModeVal);
      this.fieldsAcctName = true;
      if (IncomeModeVal == '1401') {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.radio == 1) {
          this.IncomeMode = '1401';
          // 循环分成设置文本框的值是否大于它的上级(模板赋值this.ValueListItem没有最大值)
          for (let w = 0; w < this.ValueListItem.length; w++) {
            const SuperlistItem = this.SuperiorRevenueList[w].GroupList;
            const ValuelistItem = this.ValueListItem[w].GroupList;
            for (let h = 0; h < ValuelistItem.length; h++) {
              console.log(ValuelistItem[h].RevenueRate);
              if (
                ValuelistItem[h].RevenueRate >
                  SuperlistItem[h].MaxRevenueRate ||
                ValuelistItem[h].RevenueRate === '' ||
                ValuelistItem[h].RevenueRate === null ||
                ValuelistItem[h].RevenueRate === undefined
              ) {
                this.MaxRevenueRateNum = SuperlistItem[h].MaxRevenueRate;
                // ValuelistItem[h].RevenueRate = '';
                this.IsMaxFlag = true;
                setTimeout(() => {
                  this.IsMaxFlag = false;
                }, 1000);
                return;
              }
            }
          }

          if (this.IBBonusName === '') {
            this.IsIBBonusFlag = true;
            setTimeout(() => {
              this.IsIBBonusFlag = false;
            }, 1000);
            return;
          }
        } else {
          this.IBBonusName = 0; // 当为码佣的时候 承担红利百分比为0
          this.IncomeMode = '1402';
        }

        if (this.AutoUpgradeFlag != 1) {
          if (this.RevrseName === '') {
            this.RevrseFlag = true;
            setTimeout(() => {
              this.RevrseFlag = false;
            }, 1000);
            return;
          }
        }
        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }

        if (this.inputSecondText == '') {
          console.log(null == '');
          console.log(this.inputSecondText);
          this.IsMaxFlag = true;
          setTimeout(() => {
            this.IsMaxFlag = false;
          }, 1000);
          return;
        }
      } else {
        Object.keys(this.fields).forEach(key => {
          this.fields[key].touched = true;
        });
        const result = await this.$validator.validateAll();
        if (result === false) {
          return;
        }
        await this.CheckAcctAvailable();
        if (!this.AcctAvailable) {
          return;
        }
        // 邮箱验证
        // if (this.RegistObj.agencyEmail == '') {
        //   this.IBEmailRangeErrorIsShow = true;
        //   return;
        // }
        if (this.AutoUpgradeFlag != 1) {
          console.log(this.RevrseName);
          if (this.RevrseName === '') {
            this.RevrseFlag = true;
            setTimeout(() => {
              this.RevrseFlag = false;
            }, 1000);
            return;
          }
        }
        if (this.AutoUpgradeFlag == 1) {
          this.RevrseName = 0;
        }
        this.MaxIBBonusRevenueRate = 0;
        this.IBBonusName = 0;
      }
      // const inputObj = {
      //   IB: {
      //     DefaultMemberLevel: {
      //       Value: '-1'
      //     },
      //     BankProvince: {
      //       Value: '-1'
      //     },
      //     BankCity: {
      //       Value: '-1'
      //     },
      //     BankDistrict: {
      //       Value: '-1'
      //     },
      //     UpperIBInfo: {
      //       AcctID: localStorage.getItem('CorrelationIBMemberId'),
      //       Acct: localStorage.getItem('Acct'),
      //       Prefix: this.NamePrefix
      //     },
      //     UpperIBCommissionRateList: [],
      //     MaxRevrseWater: this.ReverseWater,
      //     VMaxRevrseWater: this.VMaxRevrseWater,
      //     CommisionIncomeMode: {
      //       Value: this.IncomeMode
      //     },
      //     CommissionCalculationMode: {
      //       Value: -1
      //     },
      //     CommissionRateList: [],
      //     MaxReverseGameListSetting: this.IBCommissionRevenueGameSettingList,
      //     MaxIBBonusRevenueRate: this.MaxIBBonusRevenueRate,
      //     MasterCommisionIncomeMode: this.IncomeMode,
      //     Acct: this.RegistObj.Acct,
      //     Pwd: this.RegistObj.pwd,
      //     IBBonusRevenueRate: this.IBBonusName,
      //     Name: this.RegistObj.RealName,
      //     PhoneNo: '13858585858',
      //     Sex: {
      //       Value: '1'
      //     },
      //     Email: this.RegistObj.agencyEmail,
      //     Birth: '2019/05/23',
      //     Prefix: this.NamePrefix
      //   },
      //   SaveIbTempSetting: true,
      //   IbTempSetting: {
      //     TempName: '测试名称',
      //     TempType: this.IncomeMode,
      //     TempCommissionRevenueGameSetting: this
      //       .IBCommissionRevenueGameSettingList,
      //     BonusRevenue: this.IBBonusName
      //   }
      // };

      // const data = await AgencyCenterService.LoadAddIB_Add(inputObj);
      // console.log('创建账号的注册并保存模板数据');
      // console.log(data);
      // console.log(this.inputObj);
      // console.log('创建账号的注册并保存模板数据');
      // if (data.Ret === 0) {
      //   this.RegistObj.Acct = '';
      //   this.RegistObj.agencyEmail = '';
      //   this.RegistObj.RealName = '';
      //   this.IBBonusName = '';
      //   this.RevrseName = '';
      //   this.inputSecondText = null;
      //   this.RegistObj.pwd = '';
      //   this.succeededText = data.Message;
      //   this.resigerWord = true;
      //   this.$validator.reset();
      //   setTimeout(() => {
      //     this.resigerWord = false;
      //   }, 1000);
      // } else {
      //   // alert(Data.Message);
      // }

      AgencyScheme.methods.ShowScheme();
    },
    oninput (e) {
      // 通过正则过滤小数点后两位
      e.target.value = e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      console.log('e', e.target.value);
    },
    oninputVRevenueRate (findex, key, e) {
      console.log(findex);
      console.log(key);
      console.log(e);

      // debugger;
      // 通过正则过滤小数点后两位
      const index = String(e.target.value).indexOf('.');
      const val = e.target.value;
      const len = e.target.value.length;
      console.log(this.ValueListItem);
      // 解决首位直接输入 '0开头的数字'问题
      if (len == 2 && val.charAt(0) == 0 && val.charAt(1) != '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = val.charAt(1);

        console.log('1');
        return;
      }
      // 解决开始就输入点问题
      if (val.charAt(0) == '.') {
        this.ValueListItem[findex].GroupList[key].RevenueRate = '';

        console.log('2');
        return;
      }
      if (index != -1) {
        console.log('3');
        let arrStr = [];
        arrStr = String(e.target.value).split('.');
        if (arrStr[1] && arrStr[1].length > 2) {
          this.ValueListItem[findex].GroupList[key].RevenueRate = String(
            e.target.value
          ).substring(0, index + 3);

          console.log('4');
          // console.log(this.ValueListItem[findex].GroupList[key].VRevenueRate);
          console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
          return;
        } else {
          console.log('5');
          this.ValueListItem[findex].GroupList[key].RevenueRate =
            e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
      } else {
        console.log('6');
        this.ValueListItem[findex].GroupList[key].RevenueRate =
          e.target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
      }
      // console.log(this.ValueListItem[findex].GroupList[key].VRevenueRate);
      console.log(this.ValueListItem[findex].GroupList[key].RevenueRate);
    },
    filedsCommon: function () {
      this.fieldsAcctName = true;
    },
    // 检查 - 邮箱
    Check_Email: function (Email) {
      this.fieldsAcctName = true;
      if (Email == undefined || Email == '') {
        this.IBEmailRangeErrorIsShow = true;
        return;
      }

      const patteRnrange = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)*.[a-zA-Z0-9]{2,6}$/;

      if (!patteRnrange.test(Email)) {
        this.IBEmailRangeErrorIsShow = true;
        return;
      }

      const emailNameRegex = /^[0-9A-Za-z]([-_.]?[0-9A-Za-z]+)*$/;
      const emailDomainRegex = /^([0-9A-Za-z]*[-_]?[0-9A-Za-z]+)$/;
      const emailBehinddotRegex = /^([A-Za-z]+)$/;

      const EmailArray = Email.split('@');
      if (EmailArray.length != 2) {
        this.IBEmailFormatErrorIsShow = true;
        return;
      }

      if (!emailNameRegex.test(EmailArray[0])) {
        this.IBEmailFormatErrorIsShow = true;
        return;
      }

      const domainArray = EmailArray[1].split('.');
      if (domainArray.length < 2 || domainArray.length > 3) {
        this.IBEmailFormatErrorIsShow = true;
        return;
      }
      for (let i = 0; i < domainArray.length; i++) {
        if (i == 0) {
          if (!emailDomainRegex.test(domainArray[i])) {
            this.IBEmailFormatErrorIsShow = true;
            return;
          }
        } else {
          if (
            !emailBehinddotRegex.test(domainArray[i]) ||
            domainArray[i] == ''
          ) {
            this.IBEmailFormatErrorIsShow = true;
            return;
          }
        }
      }
    },
    changRadio: function (data) {
      const self = this;
      console.log('data1111111111111111');
      console.log(data);
      console.log(self.TemplateZhanCheng);
      console.log(!self.TemplateZhanCheng);
      console.log(!self.TemplateCodeCommission);
      console.log(self.ValueListItem);
      if (self.TemplateZhanCheng) {
        console.log('11111111111');
        self.radioOneFlag = true;
        self.radioTwoFlag = false;
        self.radio = '1';
        self.$refs.templateDataFun.ShowTemplateData();
      } else {
        if (data == '2') {
          for (let d = 0; d < self.ValueListItem.length; d++) {
            for (let f = 0; f < self.ValueListItem[d].GroupList.length; f++) {
              if (self.ValueListItem[d].GroupList[f].RevenueRate !== '') {
                self.radioOneFlag = true;
                self.radioTwoFlag = false;
                self.radio = '1';
                self.$refs.switchDataFun.ShowSwitchData();
                // return;
              }
            }
          }
        } else {
          self.radioOneFlag = true;
        }
      }
      if (self.TemplateCodeCommission) {
        console.log('22222222222');
        self.radioOneFlag = false;
        self.radioTwoFlag = true;
        self.radio = '2';
        self.$refs.templateDataFun.ShowTemplateData();
      }

      // this.radio = data;

      console.log('data1111111111111111');
    }
    // for (const value in domainArray) {
    //   if (value == 0) {
    //     if (!emailDomainRegex.test(domainArray[value])) {
    //       this.IBEmailFormatErrorIsShow = true;
    //       return;
    //     }
    //   } else {
    //     if (
    //       !emailBehinddotRegex.test(domainArray[value]) ||
    //       domainArray[value] == ''
    //     ) {
    //       this.IBEmailFormatErrorIsShow = true;
    //       return;
    //     }
    //   }
    // }
  },
  beforeDestroy: function () {
    // EventBus.$off('CreatedAgency');
    localStorage.removeItem('CreatedAgencyData');
    localStorage.removeItem('CreatedIBExamineDetailsData');
    localStorage.removeItem('loginIDName');

    EventBus.$off('MouldTempCommissionRevenueDatas');
    EventBus.$off('TreatmentChoice');
  },
  components: {
    AgencyMould,
    AgencyScheme,
    TemplateData,
    SwitchTreatment
  },

  watch: {
    // ValueListItem: function (list) {
    //   this.ValueListItem = list;
    // }
    // ValueListItem: function () {
    //   const self = this;
    //   if (localStorage.getItem('CreatedAgencyData')) {
    //     // self.$nextTick(function () {
    //     self.templateList();
    //     // });
    //   }
    // }
  }
};
</script>
