<template>
  <!--修改手機號碼彈出窗-->
  <div id="MouldForm" class="alert_box_content mould_alert_box re_h">
    <span class="alert_close" @click="HideMould()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_registration_scheme')}}
      </h2>
      <div class="mould-content" id="mould-scroll">
        <ul>
          <li
            class="mould-cont-list"
            :class="{'on':TemplateName == list.TempName}"
            v-for="(list,index) in TemplateListData"
            @click="schemeClick(list)"
            :key="index"
          >{{list.TempName}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import EventBus from '@/assets/scripts/common/EventBus.js';

export default {
  data () {
    return {
      TemplateName: '',
      ValueList: [],
      PlanId: undefined,
      SerialNo: undefined
    };
  },
  props: {
    // 模板数据
    TemplateListData: {
      default: function () {
        return [];
      }
    }
  },
  mounted: function () {
    console.log(this.TemplateListData);
    $('#mould-scroll').perfectScrollbar();
  },
  methods: {
    // 開啟彈窗
    ShowMould: function () {
      CommUtility.WebShowAlertboxForm('MouldForm');
    }, // end ShowEditPhone

    // 關閉彈窗
    HideMould: function () {
      CommUtility.WebClosealertboxForm('MouldForm');
    }, // end HideEditPhone
    schemeClick: function (item) {
      console.log(item);
      this.TemplateName = item.TempName;
      EventBus.$emit('MouldTempCommissionRevenueDatas', item);
      this.HideMould();
      // console.log(listData);
      // let isValueList;
      // const TypeList = [];
      // for (let i = 0; i < listData.length; i++) {
      //   isValueList = false;
      //   for (let z = 0; z < self.ValueList.length; z++) {
      //     if (listData[i].GameTypeNo == self.ValueList[z]) {
      //       isValueList = true;
      //     }
      //   }
      //   if (!isValueList) {
      //     self.ValueList.push(listData[i].GameTypeNo);
      //   }
      // }
      // let names = {};
      // for (let h = 0; h < self.ValueList.length; h++) {
      //   for (let p = 0; p < listData.length; p++) {
      //     if (listData[p].GameTypeNo == self.ValueList[h]) {
      //       names = { GameTypeNo: self.ValueList[h], GroupList: [] };
      //     }
      //   }
      //   TypeList.push(names);
      // }
      // for (let h = 0; h < TypeList.length; h++) {
      //   for (let p = 0; p < listData.length; p++) {
      //     if (listData[p].GameTypeNo == TypeList[h].GameTypeNo) {
      //       TypeList[h].GroupList.push({
      //         GameApiNo: listData[p].GameApiNo,
      //         RevenueRate2: listData[p].RevenueRate
      //       });
      //     }
      //   }
      // }
      // console.log(TypeList);
      // EventBus.$emit('showNotifyScheme', TypeList);
    }
  }
};
</script>
