.ele-logo-head {
    display: flex;
    justify-content: space-between;
    // border-bottom: 2px solid rgba(205,204,201,1);
    align-items: center;
    padding: 14px 23px;
    background: #fff;

    .ele-search-section,
    .ele-logo-top {
        display: inline-block;

        h2 {
            font-size: 26px;
        }

    }
}

.ele-vendor-lists {
    overflow: hidden;

    .ele-vendor-li {
        width: 199px;
        height: 67px;
        float: left;
        display: block;
        line-height: 67px;
        text-align: center;
        // background: rgba(40, 40, 40, 0.8);
        box-sizing: border-box;
        margin: 1px 1px 0 0;
        font-size: 0;
        cursor: pointer;
        position: relative;

        .jackpot-icon {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 80px;
            height: auto;
        }

        &.ele-vendor-expect {
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #fff;
        }

        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
            max-width: 100%;
        }

        .ele-vendor-mask {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            // background: rgba(0, 0, 0, .64);
            cursor: default;

            span {
                color: rgba(255, 255, 255, 1);
                font-size: 16px;

                // img {
                //     width: 97%;
                // }
            }

        }

        &.tabAble:hover,
        .on {
            // background: #453f30;
        }
    }
}

.ele-type-lists {
    // width: 1200px;
    padding: 28px 23px 28px 8px;
    background: #fff;

    dt {
        float: left;
        line-height: 16px;
        font-size: 16px;
    }

    dd {
        float: left;
        line-height: 16px;
        padding-bottom: 10px;
        border-right: 1px solid rgba(102, 102, 102, 1);
        padding: 0 15px;
        height: 16px;
        line-height: 16px;
        margin-top: 40px;

        a {
            padding: 5px 10px;
            font-size: 16px;
            display: block;
            margin-top: -5px;
        }

        &:last-child {
            border-right: none;
        }

        &.on,
        &:hover {
            a {
                padding: 5px 10px;
                border-radius: 13px;
                margin-top: -5px;
            }
        }
    }
}

.ele-logo-lists {
    margin: 0 23px;
    width: 1200px;
    text-indent: 0;

    .ele-logo-li {
        position: relative;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        width: 163px;
        // background: #bda280;
        overflow: hidden;
        border: 1px solid rgba(205, 204, 201, 1);
        padding: 10px;
        border-radius: 10px;
        height: 198px;

        a {
            display: block;
            text-align: center;
            text-align: -webkit-center;
            position: relative;
            cursor: default;
            height: 100%;

            p {
                width: 100%;
                height: 160px;
                display: flex;
                align-items: center;
            }

            b,
            img {
                transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -webkit-transition: all 1s;
                display: block;
                border-radius: 5px;

            }

            img {
                width: 160px;
                max-width: 100%;
                margin: 0 auto;
                height: auto;
            }

            b {
                font-weight: normal;
                width: 100%;
                height: 38px;
                line-height: 38px;
                text-align: center;
                font-size: 16px;
                text-align: center;
            }

            i.shadow {
                width: 100%;
                height: calc(100% - 38px);
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                background: #000;
                z-index: 1;
                cursor: pointer;
                border-radius: 5px;
            }

            em {
                text-align: center;
                font-size: 16px;
                position: absolute;
                left: 30px;
                top: 65px;
                opacity: 0;
                border-radius: 36px;
                z-index: 900;
                padding: 5px 18px;
                cursor: pointer;
                width: 68px;
                line-height: normal;
            }
        }

        &:hover {
            i.shadow {
                opacity: .7;
            }

            i {
                opacity: .7;
            }

            span {
                opacity: 1;
            }

            em {
                opacity: 1;
            }
        }
    }

    li:nth-of-type(6n+1) {
        margin-left: 0;
    }
}
