<template>
  <div class="uheader">
    <div class="uheader-top">
      <div class="uheader_list">
        <div class="uheader-top-head">
          <div class="head-wrapper">
            <!-- 跑马灯 -->
            <div class="uheader-top-marquee">
              <lambor-marquee></lambor-marquee>
            </div>
            <div class="pg-head-top">
              <div class="pg-head-topMain">
                <div class="top-lg">
                  <div class="top-lgItem">
                    <div class="top-lgItem-li">
                      <a
                        @click="clearLocalData()"
                        :title="$t('message.top_clearCache')"
                      >{{$t('message.top_clearCache')}}</a>
                    </div>
                    <div class="top-lgItem-line"></div>
                    <div class="top-lgItem-li licenseBox">
                      <a :title="$t('message.top_licensePlateDisplay')">
                        <img
                          class="top-lgItem-icon"
                          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img5.png'"
                        />
                        {{$t('message.top_licensePlateDisplay')}}
                      </a>
                      <div class="license-plate">
                        <h2 class="license-plate-title">{{$t('message.top_licensePlateDisplay')}}</h2>
                        <div class="license-plate-content">
                          <div class="license-plate-p1" :title="$t('message.top_PAGCORLicense')">
                            <img
                              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img9.png'"
                            />
                            <p>{{$t('message.top_PAGCORLicense')}}</p>
                          </div>
                          <div class="license-plate-p1" :title="$t('message.top_CEZALicense')">
                            <img
                              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img10.png'"
                            />
                            <p class="p2">{{$t('message.top_CEZALicense')}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="top-lgItem-line"></div>
                    <div class="top-lgItem-li">
                      <router-link
                        :title="$t('message.top_agentJoin')"
                        :to="{ name: 'JoinUs'}"
                      >{{$t('message.top_agentJoin')}}</router-link>
                    </div>
                    <div class="top-lgItem-line"></div>
                    <div class="top-lgItem-li">
                      <a
                        @click="AddFavorite()"
                        :title="$t('message.top_favorite')"
                      >{{$t('message.top_favorite')}}</a>
                    </div>
                  </div>
                  <div class="top-lgLang">
                    <span class="top-lgLang-li" @click="handleLanguage(0, 1)">
                      <img
                        v-if="defaultImgFlagOne"
                        class="default-iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-Chinese-default.png'"
                      />
                      <img
                        v-else
                        class="iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-Chinese.png'"
                      />
                    </span>
                    <span class="top-lgLang-li" @click="handleLanguage(2, 1)">
                      <img
                        v-if="defaultImgFlagTwo"
                        class="default-iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-English-default.png'"
                      />
                      <img
                        v-else
                        class="iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-English.png'"
                      />
                    </span>
                    <span class="top-lgLang-li" @click="handleLanguage(1, 1)">
                      <img
                        v-if="defaultImgFlagThree"
                        class="default-iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-Traditional-default.png'"
                      />
                      <img
                        v-else
                        class="iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-Traditional.png'"
                      />
                    </span>
                    <span class="top-lgLang-li" @click="handleLanguage(3, 1)">
                      <img
                        v-if="defaultImgFlagFour"
                        class="default-iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-vietnamese-default.png'"
                      />
                      <img
                        v-else
                        class="iconImg"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-vietnamese.png'"
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uheader-top-body">
          <div class="body-wrapper">
            <div class="uheader-top-time">
              <div
                class="top-lf"
                id="curTime"
              >{{$t('message.top_dateTime')}}：{{this.dataTime | utcTicksToLocalTime('YYYY-MM-DD HH:mm:ss')}}</div>
              <p class="online-people">
                <span>{{OnlinePeople}}</span>
                {{$t('message.people_online')}}
              </p>
            </div>
            <div class="pg-head-main" id="LoginForm" name="LoginForm">
              <div class="main-formBox headerChild-content">
                <!-- <div class="main-formBox-lf">美东时间 - 2019/07/30 (二) 03:26:35</div> -->
                <header-child :IsLogin="this.IsLogin"></header-child>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <frame-nav></frame-nav>
  </div>
</template>

<script>
// import 'scripts/customJs/web/showdate'
import moment from "moment"
import FrameNav from "@/mod/k03/components/public/uheaderNavigator"
// import BLDef from "@/assets/scripts/common/BLDef"
// import CommonService from "scripts/businessLogic/commonService"
import LamborMarquee from "@/mod/k03/components/public/marquee"
import HeaderChild from "@/mod/k03/components/general/header/headerChild"
import EventBus from "scripts/common/EventBus"
export default {
  components: {
    FrameNav,
    LamborMarquee,
    HeaderChild
  },
  props: {
    IsLogin: undefined,
    OnlinePeople: undefined
  },
  data() {
    return {
      language: "vi",
      dataTime: undefined,
      defaultImgFlagOne: true,
      defaultImgFlagTwo: true,
      defaultImgFlagThree: true,
      defaultImgFlagFour: false,
      OnlinePeopleNumber: undefined
    }
  },
  mounted: function () {
    const self = this
    // EventBus.$on('OnlinePeopleNum', data => {
    //   self.OnlinePeopleNumber = data;
    // });
    // console.log(self.OnlinePeopleNumber);
    // console.log('在线人事1212122');
    // self.OnlinePeopleNumber = sessionStorage.getItem('OnlinePeopleNum');
    self.dataTime = moment(new Date()).valueOf() - 43200000
    setInterval(() => {
      self.dataTime += 1000
    }, 1000)
    if (self.cookie.getJSON("language")) {
      if (self.cookie.getJSON("language") == 0) {
        console.log("222222222222")
        self.language = "zh"
        self.defaultImgFlagOne = false
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else if (self.cookie.getJSON("language") == 1) {
        self.language = "tw"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = false
        self.defaultImgFlagFour = true
      } else if (self.cookie.getJSON("language") == 2) {
        self.language = "en"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = false
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else {
        self.language = "vi"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = false
      }
    } else {
      self.language = this.$MessageLang
      this.handleLanguage(this.$Lang, 0)
    }
  },
  created: function () {
    // });
  },
  methods: {
    // type 0: 不需要刷新页面 1：刷新页面
    handleLanguage: function (num, type) {
      //  else if (num == 1) {
      //   self.language = 'tw';
      //   self.$i18n.locale = 'tw';
      //   self.defaultImgFlagOne = true;
      //   self.defaultImgFlagTwo = true;
      //   self.defaultImgFlagThree = false;
      // }
      console.log(num)
      const self = this
      if (num == 0) {
        self.language = "zh"
        self.$i18n.locale = "zh"
        self.defaultImgFlagOne = false
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else if (num == 2) {
        self.language = "en"
        self.$i18n.locale = "en"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = false
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else if (num == 1) {
        self.language = "tw"
        self.$i18n.locale = "tw"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = false
        self.defaultImgFlagFour = true
      } else {
        self.language = "vi"
        self.$i18n.locale = "vi"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = false
      }
      if (type === 1) {
        self.cookie.set("language", num)
        EventBus.$emit("GlobalLoadingTrigger", true)
        setTimeout(() => {
          EventBus.$emit("GlobalLoadingTrigger", false)
        }, 1000)
        window.location.reload()
      }
    },
    // 清除数据
    clearLocalData: function () {
      localStorage.clear()
      const notifyData = {
        NotifyMessage: this.$t("message.successful_clearance")
      }
      EventBus.$emit("showNotifyMessage", notifyData)
    }
  }
}
</script>
