<template>
  <div class="pg-header">
    <div class="pg-head-wrapper">
      <div class="pg-head-page">
        <!-- logo -->
        <div class="pg-head-logo">
          <router-link class="logo" :to="{name: 'Index'}">
            <img :src="this.LogoPath" />
            <!-- <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/logo.png?VersionCode'" /> -->
          </router-link>
          <p class="online-people" style="display:none">
            <span>{{OnlinePeople}}</span>
            {{$t('message.people_online')}}
          </p>
        </div>
        <!-- 登录注册 -->
        <div class="pg-head-container">
          <div class="pg-head-top">
            <div class="pg-head-topMain">
              <div
                class="top-lf"
                id="curTime"
                style="display:none"
              >{{$t('message.top_dateTime')}}：{{this.dataTime | utcTicksToLocalTime('YYYY-MM-DD HH:mm:ss')}}</div>
              <div class="top-lg">
                <div class="top-lgItem">
                  <div class="top-lgItem-li">
                    <a
                      @click="clearLocalData()"
                      :title="$t('message.top_clearCache')"
                    >{{$t('message.top_clearCache')}}</a>
                  </div>
                  <div class="top-lgItem-line"></div>
                  <div class="top-lgItem-li licenseBox">
                    <a :title="$t('message.top_licensePlateDisplay')">
                      <img
                        class="top-lgItem-icon"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img5.png'"
                      />
                      {{$t('message.top_licensePlateDisplay')}}
                    </a>
                    <div class="license-plate">
                      <h2 class="license-plate-title">{{$t('message.top_licensePlateDisplay')}}</h2>
                      <div class="license-plate-content">
                        <div class="license-plate-p1" :title="$t('message.top_PAGCORLicense')">
                          <img
                            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img9.png'"
                          />
                          <p>{{$t('message.top_PAGCORLicense')}}</p>
                        </div>
                        <div class="license-plate-p1" :title="$t('message.top_CEZALicense')">
                          <img
                            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/ix_new_img10.png'"
                          />
                          <p class="p2">{{$t('message.top_CEZALicense')}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="top-lgItem-line"></div>
                  <div class="top-lgItem-li">
                    <router-link
                      :title="$t('message.top_agentJoin')"
                      :to="{ name: 'JoinUs'}"
                    >{{$t('message.top_agentJoin')}}</router-link>
                  </div>
                  <div class="top-lgItem-line"></div>
                  <div class="top-lgItem-li">
                    <a
                      @click="AddFavorite()"
                      :title="$t('message.top_favorite')"
                    >{{$t('message.top_favorite')}}</a>
                  </div>
                </div>
                <div class="top-lgLang">
                  <span class="top-lgLang-li" @click="handleLanguage(0, 1)">
                    <img
                      v-if="defaultImgFlagOne"
                      class="default-iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_Chinese_default.png'"
                    />
                    <img
                      v-else
                      class="iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_Chinese.png'"
                    />
                  </span>
                  <span class="top-lgLang-li" @click="handleLanguage(2, 1)">
                    <img
                      v-if="defaultImgFlagTwo"
                      class="default-iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_English_default.png'"
                    />
                    <img
                      v-else
                      class="iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_English.png'"
                    />
                  </span>
                  <span class="top-lgLang-li" @click="handleLanguage(1, 1)">
                    <img
                      v-if="defaultImgFlagThree"
                      class="default-iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_Traditional_default.png'"
                    />
                    <img
                      v-else
                      class="iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_Traditional.png'"
                    />
                  </span>
                  <span class="top-lgLang-li" @click="handleLanguage(3, 1)">
                    <img
                      v-if="defaultImgFlagFour"
                      class="default-iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_vietnamese_default.png'"
                    />
                    <img
                      v-else
                      class="iconImg"
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/icon_vietnamese.png'"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pg-head-main" id="LoginForm" name="LoginForm">
            <div class="main-formBox headerChild-content">
              <!-- <div class="main-formBox-lf">美东时间 - 2019/07/30 (二) 03:26:35</div> -->
              <header-child :IsLogin="this.IsLogin"></header-child>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 导航 -->
    <navigator></navigator>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus"
// import CommUtility from "@/assets/scripts/common/CommUtility"
import moment from "moment"
// import LoginService from "scripts/businessLogic/loginService"
import CommonService from "scripts/businessLogic/commonService"
// import SignalRService from "scripts/common/SignalRService"
// import rotateLoopFun from "scripts/customJs/web/rotateLoop"
import BLDef from "@/assets/scripts/common/BLDef"
// import PersonalCenterService from "scripts/businessLogic/personalCenterService"
// import Regex from "scripts/common/CommDef"
import LamborMarquee from "@/mod/k03/components/public/marquee"
import Navigator from "@/mod/k03/components/general/header/mainNavigatorBar"
import Vue from "vue"
import HeaderChild from "@/mod/k03/components/general/header/headerChild"

export default {
  data() {
    return {
      // 語系選單
      LangList: [],
      // 被選定的語系
      LangSelected: {
        Name: "简体中文",
        Value: 1
      },

      dataTime: undefined,
      defaultImgFlagOne: true,
      defaultImgFlagTwo: true,
      defaultImgFlagThree: true,
      defaultImgFlagFour: false,
      suspensionWindFlag: false,
      OnlinePeopleNumber: undefined,
      LogoPath: localStorage.getItem("LogoImgPath")
    }
  },
  props: {
    IsLogin: undefined,
    OnlinePeople: undefined
  },
  mounted: function () {
    const self = this
    // var date = new Date();
    self.GetLogoData()
    // EventBus.$on('OnlinePeopleNum', data => {
    //   this.OnlinePeopleNumber = data;
    // });
    // console.log(this.OnlinePeopleNumber);
    // console.log('在线人事1212122');
    // if (sessionStorage.getItem('OnlinePeopleNum')) {
    //   this.OnlinePeopleNumber = sessionStorage.getItem('OnlinePeopleNum');
    // }

    this.dataTime = moment(new Date()).valueOf() - 43200000
    setInterval(() => {
      self.dataTime += 1000
    }, 1000)

    if (this.cookie.getJSON("language") || this.cookie.getJSON("language") == 0) {
      if (this.cookie.getJSON("language") == 0) {
        this.language = "zh"
        this.defaultImgFlagOne = false
        this.defaultImgFlagTwo = true
        this.defaultImgFlagThree = true
        this.defaultImgFlagFour = true
      } else if (this.cookie.getJSON("language") == 1) {
        this.language = "tw"
        this.defaultImgFlagOne = true
        this.defaultImgFlagTwo = true
        this.defaultImgFlagThree = false
        this.defaultImgFlagFour = true
      } else if (this.cookie.getJSON("language") == 2) {
        this.language = "en"
        this.defaultImgFlagOne = true
        this.defaultImgFlagTwo = false
        this.defaultImgFlagThree = true
        this.defaultImgFlagFour = true
      } else {
        self.language = "vi"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = false
      }
    } else {
      this.language = this.$MessageLang
      this.handleLanguage(this.$Lang, 0)
    }
  },

  methods: {
    // 获取logo
    GetLogoData: async function () {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_PC
      }
      const retData = await CommonService.HomePage_LoadMainPage(DataObj)
      console.log("next")
      console.log(retData)
      if (retData.Ret === 0) {
        this.LogoPath = this.$ResourceCDN + retData.Data.MasterLogo
      } else {
        this.LogoPath = localStorage.getItem("LogoImgPath")
      }
    },
    // 切換語系
    ChangeLang: function (targetLang) {
      /* *******************************************************切換語系動作( 2017/11/9  -- 未完成 --) */
      this.LangSelected = targetLang
      this.$store.commit("GetLanguageData", targetLang)
    },

    // 收藏本站
    AddFavorite: function () {
      const notifyData = {}
      if (window.sidebar && window.sidebar.addPanel) {
        // Mozilla Firefox Bookmark
        window.sidebar.addPanel(document.title, window.location.href, "")
      } else if (window.external && "AddFavorite" in window.external) {
        // IE Favorite
        window.external.AddFavorite(location.href, document.title)
      } else if (window.opera && window.print) {
        // Opera Hotlist
        this.title = document.title
      } else {
        // webkit - safari/chrome
        if (navigator.userAgent.toLowerCase().indexOf("mac") != -1) {
          notifyData.NotifyMessage = this.$t("message.top_clickBookmark2")
        } else {
          notifyData.NotifyMessage = this.$t("message.top_clickBookmark1")
        }
        EventBus.$emit("showNotifyMessage", notifyData)
      }
    }, // end AddFavorite

    // 獲取PreToken

    // 清除数据
    clearLocalData: function () {
      localStorage.clear()
      const notifyData = {
        NotifyMessage: this.$t("message.successful_clearance")
      }
      EventBus.$emit("showNotifyMessage", notifyData)
    },
    // type 0: 不需要刷新页面 1：刷新页面
    handleLanguage: function (num, type) {
      //  else if (num == 1) {
      //   self.language = 'tw';
      //   self.$i18n.locale = 'tw';
      //   self.defaultImgFlagOne = true;
      //   self.defaultImgFlagTwo = true;
      //   self.defaultImgFlagThree = false;
      // }
      console.log(num)
      const self = this
      if (num == 0) {
        self.language = "zh"
        self.$i18n.locale = "zh"
        self.defaultImgFlagOne = false
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else if (num == 2) {
        self.language = "en"
        self.$i18n.locale = "en"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = false
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = true
      } else if (num == 1) {
        self.language = "tw"
        self.$i18n.locale = "tw"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = false
        self.defaultImgFlagFour = true
      } else {
        self.language = "vi"
        self.$i18n.locale = "vi"
        self.defaultImgFlagOne = true
        self.defaultImgFlagTwo = true
        self.defaultImgFlagThree = true
        self.defaultImgFlagFour = false
      }

      if (type === 1) {
        self.cookie.set("language", num)
        EventBus.$emit("GlobalLoadingTrigger", true)
        setTimeout(() => {
          EventBus.$emit("GlobalLoadingTrigger", false)
        }, 1000)
        window.location.reload()
      }
    }
  },
  components: {
    LamborMarquee,
    Navigator,
    HeaderChild
  }
}
</script>
