<!--資料未填提示-->
<template>
  <div
    class="wordTip-text"
    v-if="this.IsPersonInfoFillInfo === false || this.IsBankInfoFillIn === false"
  >
    <p>
      {{$t('message.agency_fill_information')}}
      <span
        v-if="this.IsPersonInfoFillInfo === false"
      >{{$t('message.member_personal_data')}}</span>
      <span
        v-if="this.IsPersonInfoFillInfo === false && this.IsBankInfoFillIn === false"
      >{{$t('message.member_and')}}</span>
      <span v-if="this.IsBankInfoFillIn === false">{{$t('message.member_bank_information')}}</span>
      {{$t('message.member_improving_data')}}
    </p>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommonService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"

export default {
  data() {
    return {
      IsBankInfoFillIn: undefined,
      IsPersonInfoFillInfo: undefined
    }
  },
  created: function () {
    this.GetDataFillInfo()
    const self = this
    EventBus.$on("fillTipUpdate", () => {
      self.GetDataFillInfo()
    })
  },
  methods: {
    GetDataFillInfo: async function () {
      const data = await CommonService.Comm_GetDataFillInStatus()
      this.IsBankInfoFillIn = data.Data.IsBankInfoFillIn
      this.IsPersonInfoFillInfo = data.Data.IsPersonInfoFillInfo
    }
  },
  beforeDestroy() {
    EventBus.$off("fillTipUpdate")
  }
}
</script>
