<template>
  <div class="memberNew-record-buttom">
    <div class="memberNew-record-item record-grade">
      <div class="record-grade-title">
        <p class="record-grade-p1"></p>
        <p class="record-grade-p2">
          {{$t('message.member_grades')}}
          <span
            class="record-grade-redColor"
          >2{{$t('message.member_stopover')}}</span>
          {{$t('message.member_bank_savings')}}
          <span class="record-grade-redColor">10</span>
          ，{{$t('message.member_contented')}}
        </p>
      </div>
      <div class="record-grade-schedule">
        <div class="grade-schedule">
          <div class="grade-schedule-name">{{$t('message.member_hierarchical_progress')}}</div>
          <div class="grade-schedule-item">
            <p class="p2-text">
              <span class="p2-text-name">{{$t('message.member_frequency')}}</span>
              <span class="p2-text-bar">
                <span
                  class="schedule"
                  :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositCount,this.MemberUpgrade.NextMemberLvTotalDepositCount)}"
                ></span>
                <span class="schedule"></span>
                <span class="schedule-text">{{$t('message.member_current_deposits')}}</span>
              </span>
              <span class="p2-text-num">
                <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositCount}}/</span>
                {{this.NextLvData.VCurrMemberLvTotalDepositCount}}
              </span>
            </p>
            <p class="p2-text">
              <span class="p2-text-name">{{$t('message.member_accumulated_income')}}</span>
              <span class="p2-text-bar">
                <span
                  class="schedule"
                  :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositAmount,this.MemberUpgrade.NextMemberLvTotalDepositAmount)}"
                ></span>
                <span class="schedule"></span>
                <span class="schedule-text">{{$t('message.member_current_income')}}</span>
              </span>
              <span class="p2-text-num">
                <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositAmount}}/</span>
                {{this.NextLvData.VCurrMemberLvTotalDepositAmount}}
              </span>
            </p>
            <p class="p2-text">
              <span class="p2-text-name">{{$t('message.member_cumulative_quantity')}}</span>
              <span class="p2-text-bar">
                <span class="schedule" style="width:100%"></span>
                <span class="schedule"></span>
                <span class="schedule-text">{{$t('message.member_current_cumulative')}}</span>
              </span>
              <span class="p2-text-num">
                <span>{{$t('message.member_hundred')}}/</span>
                {{$t('message.member_hundred')}}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="memberNew-record-item record-score">
      <div class="record-score-title">
        <p class="record-score-p1">
          {{$t('message.member_score')}}
          <span
            class="record-score-p1Num"
          >{{$t('message.member_twenty_five')}}</span>
          {{$t('message.member_branch')}}
        </p>
        <p class="record-score-p2">{{$t('message.member_lower_rank')}}</p>
      </div>
      <div class="record-score-meansInfo">
        <div class="meansInfo-list">
          <div class="meansInfo-list-icon">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_4.png'" />
          </div>
          <div class="meansInfo-list-text">
            <h3 class="meansInfo-list-textTitle">
              {{$t('message.member_personal_data')}}
              <img src />
            </h3>
            <p class="meansInfo-list-textWord">{{$t('message.member_increase_accounts')}}</p>
          </div>
        </div>
        <div class="meansInfo-list">
          <div class="meansInfo-list-icon">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_5.png'" />
          </div>
          <div class="meansInfo-list-text">
            <h3 class="meansInfo-list-textTitle">
              {{$t('message.member_bank_cards')}}
              <img src />
            </h3>
            <p class="meansInfo-list-textWord">{{$t('message.member_platform_interior')}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import MemberRecordTable from "@/mod/k06/components/sub/memberNew/transactionRecord/memberRecordTable"

export default {
  data() {
    return {
      RecordList: []
    }
  },
  created: function () {
    this.UpdateRecord()
  },
  methods: {
    Percentage: function (number1, number2) {
      const realVal = parseFloat((parseInt(number1) / (parseInt(number1) + parseInt(number2))) * 100.0).toFixed(2)
      return realVal + "%" // 小数点后两位百分比
    },
    navClick: function (name) {
      this.$store.dispatch("setSwitchNameText", name)
    },
    UpdateRecord: async function () {
      $(".btn_refresh").addClass("hasblock")
      const inputObj = {
        WGUID: Vue.prototype.$WGUID,
        Type: "-1",
        PagingInfo: {
          PageNo: 1,
          PageSize: 8
        }
      }
      const data = await PersonalCenterService.CashFlowLog_Query(inputObj)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.RecordList = data.Data.LogList
      }
      setTimeout(() => {
        $(".btn_refresh").removeClass("hasblock")
      }, 300)
    }
  },
  components: {
    MemberRecordTable
  }
}
</script>
