<template>
  <div>
    <div class="memberNew-basic-top">
      <h2 class="basic-top-title">{{this.memberData.Acct}}</h2>
      <div class="basic-top-loginText">
        <div class="basic-loginText-mark">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_1.png'" />
        </div>
        <div class="basic-loginText-words">
          <p class="words-p1">
            {{$t('message.member_login_time')}}
            <span>{{this.memberData.LastLoginTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
            <span class="words-sp1">{{$t('message.member_login_IP')}}{{this.memberData.LastLoginIP}}</span>
          </p>
          <p
            class="words-p1"
          >{{$t('message.member_login_address')}}{{this.memberData.LastLoginIPLocation}}</p>
        </div>
      </div>
      <div class="basic-top-money">
        <img
          class="basic-money-gold"
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_2.png'"
        />
        <span class="basic-money-figure">
          {{this.VBalance | moneyFormat}}
          <!-- <span class="money-figure-sp">36</span> -->
        </span>
        <span class="basic-money-btn">
          <span
            class="money-btn-sp1"
            @click="navClick('webMemberDeposit')"
          >{{$t('message.top_recharge')}}</span>
          <span
            class="money-btn-sp2"
            @click="navClick('webMemberWithdrawal')"
          >{{$t('message.index_withdraw')}}</span>
        </span>
        <span class="basic-money-handle">
          <span class="money-handle-text">
            <span class="money-handle-green"></span>
            {{this.memberData.DepositCount}} {{$t('message.member_pen')}}
            <span
              class="money-handle-greenColor"
            >{{$t('message.top_recharge')}}</span>
            {{$t('message.member_in_process')}}
          </span>
          <span class="money-handle-text">
            <span class="money-handle-red"></span>
            {{this.memberData.WithdrawalCount}} {{$t('message.member_pen')}}
            <span
              class="money-handle-greenRed"
            >{{$t('message.agency_cash_withdrawal')}}</span>
            {{$t('message.member_in_process')}}
          </span>
        </span>
      </div>
    </div>
    <div class="memberNew-record-buttom" style="display:none">
      <div
        class="memberNew-record-item record-grade"
        :class="'memberNew-record-item_'+$MessageLang"
      >
        <p
          class="meansInfo-memberLv"
        >LV{{this.Privilege.MemberLvNum + '.' + this.memberData.VMemberLv}}</p>
        <p class="record-grade-p1" @click="gradeDetail()"></p>
        <div class="record-grade-title">
          <p class="meansInfo-memberLv-title">{{$t('message.member_currently_have_privileges')}}</p>
          <div class="meansInfo-memberLv-discount clearfix">
            <p>
              <span
                :title="$t('message.member_reverse_water_can_grow')"
              >{{$t('message.member_reverse_water_can_grow')}}</span>
              <span>
                {{this.Privilege.MaxRakeRate * 100 | numCalFix(Privilege.MaxRakeRate)}}
                <i>%</i>
              </span>
            </p>
            <p>
              <span
                :title="$t('message.member_dividends_available')"
              >{{$t('message.member_dividends_available')}}</span>
              <span>
                {{this.Privilege.MaxBounsRate * 100 | numCalFix(Privilege.MaxBounsRate)}}
                <i>%</i>
              </span>
            </p>
            <p>
              <span
                :title="$t('message.member_fees_can_be_reduced_to')"
              >{{$t('message.member_fees_can_be_reduced_to')}}</span>
              <span>
                {{this.Privilege.MinCashFee * 100 | numCalFix(Privilege.MinCashFee)}}
                <i>%</i>
              </span>
            </p>
          </div>
          <p class="record-grade-p2">
            <span
              class="span1"
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount == -1"
            >{{$t('message.member_upgrade_conditions')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount != -1"
            >{{$t('message.member_deposit_distance')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount != -1"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextMemberLvTotalDepositCount}}{{$t('message.member_stopover')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount == -1"
            >，{{$t('message.member_satisfied')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount != -1"
            >，{{$t('message.member_still_required')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount != -1"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextMemberLvTotalDepositAmount}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff == -1 || this.MemberUpgrade.NextLvRakeAmtDiff == 0"
            >，{{$t('message.member_contented')}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
            >，{{$t('message.member_next_level')}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextLvRakeAmtDiff}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
            >{{$t('message.member_wash')}}</span>
          </p>
        </div>
        <div class="record-grade-schedule">
          <div class="grade-schedule">
            <div
              class="grade-schedule-name"
              style="width:100%"
            >{{$t('message.member_hierarchical_progress')}}</div>
            <div class="grade-schedule-item">
              <p class="p2-text">
                <span
                  class="p2-text-name"
                  :title="$t('message.member_frequency')"
                >{{$t('message.member_frequency')}}：</span>
                <span class="p2-text-bar">
                  <span
                    class="schedule"
                    :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositCount,this.MemberUpgrade.NextMemberLvTotalDepositCount)}"
                  ></span>
                  <span class="schedule"></span>
                  <span class="schedule-text">{{$t('message.member_current_deposits')}}：</span>
                </span>
                <span class="p2-text-num">
                  <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositCount}}/</span>
                  <span>{{this.NextLvData.VCurrMemberLvTotalDepositCount}}</span>
                </span>
              </p>
              <p class="p2-text">
                <span
                  class="p2-text-name"
                  :title="$t('message.member_accumulated_income')"
                >{{$t('message.member_accumulated_income')}}：</span>
                <span class="p2-text-bar">
                  <span
                    class="schedule"
                    :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositAmount,this.MemberUpgrade.NextMemberLvTotalDepositAmount)}"
                  ></span>
                  <span class="schedule"></span>
                  <span class="schedule-text">{{$t('message.member_current_income')}}</span>
                </span>
                <span class="p2-text-num" style="display:block;margin-left: 10px;">
                  <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositAmount}}/</span>
                  <span>{{this.NextLvData.VCurrMemberLvTotalDepositAmount}}</span>
                </span>
              </p>
              <p class="p2-text">
                <span
                  class="p2-text-name"
                  :title="$t('message.member_cumulative_quantity')"
                >{{$t('message.member_cumulative_quantity')}}：</span>
                <span class="p2-text-bar">
                  <span
                    v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 || this.MemberUpgrade.NextLvRakeAmtDiff != 0"
                    class="schedule"
                    :style="{'width':this.Percentage(this.MemberUpgrade.CurrRakeAmt,this.MemberUpgrade.NextLvRakeAmtDiff)}"
                  ></span>
                  <span v-else class="schedule" style="width: 100%;"></span>
                  <span class="schedule"></span>
                  <span class="schedule-text">{{$t('message.member_current_cumulative')}}</span>
                </span>
                <span class="p2-text-num">
                  <span>{{this.MemberUpgrade.VCurrRakeAmt}}/</span>
                  <span>{{this.NextLvData.VCurrRakeAmt}}</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="memberNew-record-item record-score">
        <!-- <div class="record-score-title">
          <div v-if="this.IsBankInfoFillIn !== false && this.IsPersonInfoFillInfo !== false">
            <p class="record-score-Grade">
              <span class="Grade-level height">{{$t('message.member_high')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>
            <p class="record-score-p1">
              {{$t('message.member_score')}}
              <span
                class="record-score-p1Num"
              >{{$t('message.member_hundred')}}</span>
              {{$t('message.member_branch')}}
            </p>
          </div>

          <div
            v-if="(this.IsBankInfoFillIn === false && this.IsPersonInfoFillInfo !== false) || this.IsBankInfoFillIn !== false && this.IsPersonInfoFillInfo === false"
          >
            <p class="record-score-Grade">
              <span class="Grade-level second">{{$t('message.member_middle')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>
            <p class="record-score-p1">
              {{$t('message.member_score')}}
              <span
                class="record-score-p1Num"
              >{{$t('message.member_seventy_five')}}</span>
              {{$t('message.member_branch')}}
            </p>
          </div>

          <div v-if="this.IsBankInfoFillIn === false && this.IsPersonInfoFillInfo === false">
            <p class="record-score-Grade">
              <span class="Grade-level low">{{$t('message.member_low')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>
            <p class="record-score-p1">
              {{$t('message.member_score')}}
              <span
                class="record-score-p1Num"
              >{{$t('message.member_twenty_five')}}</span>
              {{$t('message.member_branch')}}
            </p>
          </div>
        </div>-->
        <div class="record-score-title">
          <div>
            <!--高-->
            <p class="record-score-Grade" v-show="this.SafeScore >= 90">
              <span class="Grade-level height">{{$t('message.member_high')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>
            <!--中-->
            <p class="record-score-Grade" v-show="60 < this.SafeScore && this.SafeScore < 90">
              <span class="Grade-level second">{{$t('message.member_middle')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>
            <!--低-->
            <p class="record-score-Grade" v-show="this.SafeScore <= 60">
              <span class="Grade-level low">{{$t('message.member_low')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
            </p>

            <p class="record-score-p1">
              {{$t('message.member_score')}}：
              <span class="record-score-p1Num">{{this.SafeScore}}</span>
              {{$t('message.member_branch')}}
            </p>
            <!-- <p class="record-score-p2">您的账户安全等级已经最高</p> -->
          </div>
        </div>
        <div class="record-score-meansInfo">
          <div class="meansInfo-list meansInfo-list-basic" @click="navClick('webMemberProfile')">
            <div class="meansInfo-list-icon">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_4.png'" />
            </div>
            <div class="meansInfo-list-text">
              <h3 class="meansInfo-list-textTitle">
                {{$t('message.member_personal_data')}}
                <img
                  v-if="this.IsPersonInfoFillInfo === false"
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_6.png'"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_7.png'"
                />
              </h3>
              <p
                class="meansInfo-list-textWord"
                v-if="this.IsPersonInfoFillInfo === false"
              >{{$t('message.member_increase_accounts')}}</p>
              <p class="meansInfo-list-textWord" v-else>{{$t('message.member_perfecting_personal')}}</p>
            </div>
          </div>
          <div class="meansInfo-list meansInfo-list-basic" @click="navClick('webMemberBankData')">
            <div class="meansInfo-list-icon">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_5.png'" />
            </div>
            <div class="meansInfo-list-text">
              <h3 class="meansInfo-list-textTitle">
                {{$t('message.member_bank_cards')}}
                <img
                  v-if="this.IsBankInfoFillIn === false"
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_6.png'"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_7.png'"
                />
              </h3>
              <p
                class="meansInfo-list-textWord"
                :class="'meansInfo-list-textWord'+$MessageLang"
                v-if="this.IsBankInfoFillIn === false"
              >{{$t('message.member_platform_interior')}}</p>
              <p class="meansInfo-list-textWord" v-else>{{$t('message.member_binded')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="memberNew-record-newCon">
      <div class="memberNew-newCon-privilege">
        <div class="privilege-lfCon">
          <div
            class="privilege-lfCon-identifying"
            :class="'privilege-lfCon-identifying_'+$MessageLang"
          >
            <span
              :title="'LV'+Privilege.MemberLvNum + '.' + memberData.VMemberLv"
            >LV{{(this.Privilege.MemberLvNum + '.' + this.memberData.VMemberLv)| simpleContent(6)}}</span>
            <p class="record-grade-p1" @click="gradeDetail()">{{$t('message.member_details_btn')}}</p>
          </div>
          <p class="privilege-lfCon-Text">{{$t('message.member_currently_have_privileges')}}</p>
          <ul class="privilege-lfCon-item">
            <li class="privilege-lfCon-list">
              <p class="num">
                {{this.Privilege.MaxRakeRate * 100 | numCalFix(Privilege.MaxRakeRate)}}
                <span>%</span>
              </p>
              <p
                class="sp"
                :title="$t('message.member_reverse_water_can_grow')"
              >{{$t('message.member_reverse_water_can_grow')}}</p>
            </li>
            <li class="privilege-lfCon-list">
              <p class="num">
                {{this.Privilege.MaxBounsRate * 100 | numCalFix(Privilege.MaxBounsRate)}}
                <span>%</span>
              </p>
              <p
                class="sp"
                :title="$t('message.member_dividends_available')"
              >{{$t('message.member_dividends_available')}}</p>
            </li>
            <li class="privilege-lfCon-list">
              <p class="num">
                {{this.Privilege.MinCashFee * 100 | numCalFix(Privilege.MinCashFee)}}
                <span>%</span>
              </p>
              <p
                class="sp"
                :title="$t('message.member_fees_can_be_reduced_to')"
              >{{$t('message.member_fees_can_be_reduced_to')}}</p>
            </li>
          </ul>
        </div>
        <div class="privilege-lgCon scaleFontSize">
          <div class="record-grade-schedule">
            <div class="grade-schedule">
              <div
                class="grade-schedule-name"
                style="width:100%"
              >{{$t('message.member_hierarchical_progress')}}</div>
              <div class="grade-schedule-item">
                <p class="p2-text">
                  <span
                    class="p2-text-name"
                    :title="$t('message.member_frequency')"
                  >{{$t('message.member_frequency')}}：</span>
                  <span class="p2-text-bar">
                    <span
                      class="schedule"
                      :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositCount,this.MemberUpgrade.NextMemberLvTotalDepositCount)}"
                    ></span>
                    <span class="schedule"></span>
                    <span class="schedule-text">{{$t('message.member_current_deposits')}}：</span>
                  </span>
                  <span class="p2-text-num">
                    <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositCount}}/</span>
                    <span>{{this.NextLvData.VCurrMemberLvTotalDepositCount}}</span>
                  </span>
                </p>
                <p class="p2-text">
                  <span
                    class="p2-text-name"
                    :title="$t('message.member_accumulated_income')"
                  >{{$t('message.member_accumulated_income')}}：</span>
                  <span class="p2-text-bar">
                    <span
                      class="schedule"
                      :style="{'width':this.Percentage(this.MemberUpgrade.CurrMemberLvTotalDepositAmount,this.MemberUpgrade.NextMemberLvTotalDepositAmount)}"
                    ></span>
                    <span class="schedule"></span>
                    <span class="schedule-text">{{$t('message.member_current_income')}}</span>
                  </span>
                  <span class="p2-text-num" style="display:block;margin-left: 10px;">
                    <span>{{this.MemberUpgrade.VCurrMemberLvTotalDepositAmount}}/</span>
                    <span>{{this.NextLvData.VCurrMemberLvTotalDepositAmount}}</span>
                  </span>
                </p>
                <p class="p2-text">
                  <span
                    class="p2-text-name"
                    :title="$t('message.member_cumulative_quantity')"
                  >{{$t('message.member_cumulative_quantity')}}：</span>
                  <span class="p2-text-bar">
                    <span
                      v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 || this.MemberUpgrade.NextLvRakeAmtDiff != 0"
                      class="schedule"
                      :style="{'width':this.Percentage(this.MemberUpgrade.CurrRakeAmt,this.MemberUpgrade.NextLvRakeAmtDiff)}"
                    ></span>
                    <span v-else class="schedule" style="width: 100%;"></span>
                    <span class="schedule"></span>
                    <span class="schedule-text">{{$t('message.member_current_cumulative')}}</span>
                  </span>
                  <span class="p2-text-num">
                    <span>{{this.MemberUpgrade.VCurrRakeAmt}}/</span>
                    <span>{{this.NextLvData.VCurrRakeAmt}}</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <p class="record-grade-p2">
            <span
              class="span1"
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount == -1"
            >{{$t('message.member_upgrade_conditions')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount != -1"
            >{{$t('message.member_deposit_distance')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositCount != -1"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextMemberLvTotalDepositCount}}{{$t('message.member_stopover')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount == -1"
            >，{{$t('message.member_satisfied')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount != -1"
            >，{{$t('message.member_still_required')}}</span>
            <span
              v-if="this.MemberUpgrade.NextMemberLvTotalDepositAmount != -1"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextMemberLvTotalDepositAmount}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff == -1 || this.MemberUpgrade.NextLvRakeAmtDiff == 0"
            >，{{$t('message.member_contented')}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
            >，{{$t('message.member_next_level')}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
              class="record-grade-redColor"
            >{{this.MemberUpgrade.VNextLvRakeAmtDiff}}</span>
            <span
              v-if="this.MemberUpgrade.NextLvRakeAmtDiff != -1 && this.MemberUpgrade.NextLvRakeAmtDiff != 0"
            >{{$t('message.member_wash')}}</span>
          </p>
        </div>
      </div>
      <div class="memberNew-newCon-score">
        <div class="record-score-title">
          <div>
            <!--高-->
            <p class="record-score-Grade height" v-show="this.SafeScore > 80">
              <span class="Grade-level">{{$t('message.member_high')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
              <span class="record-score-p1Num">{{this.SafeScore}}</span>
            </p>
            <!--中-->
            <p
              class="record-score-Grade second"
              v-show="60 < this.SafeScore && this.SafeScore <= 80"
            >
              <span class="Grade-level">{{$t('message.member_middle')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
              <span class="record-score-p1Num">{{this.SafeScore}}</span>
            </p>
            <!--低-->
            <p class="record-score-Grade low" v-show="this.SafeScore <= 60">
              <span class="Grade-level">{{$t('message.member_low')}}</span>
              <span class="Grade-tip">{{$t('message.member_safety_score')}}</span>
              <span class="record-score-p1Num">{{this.SafeScore}}</span>
            </p>

            <!-- <p class="record-score-p2">您的账户安全等级已经最高</p> -->
          </div>
        </div>
        <div class="meansInfo-list meansInfo-list-basic" @click="navClick('webMemberProfile')">
          <div class="meansInfo-list-icon">
            <img
              class="identification"
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/MemberNew/scoreIcon-info.png'"
            />
            <img
              class="icon"
              v-if="this.IsPersonInfoFillInfo === false"
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_6.png'"
            />
            <img
              class="icon"
              v-else
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_7.png'"
            />
          </div>
          <div class="meansInfo-list-text scaleFontSize">
            <h3 class="meansInfo-list-textTitle">{{$t('message.member_personal_data')}}</h3>
            <p
              class="meansInfo-list-textWord"
              :class="'meansInfo-list-textWord'+$MessageLang"
              v-if="this.IsPersonInfoFillInfo === false"
            >{{$t('message.member_increase_accounts')}}</p>
            <p
              class="meansInfo-list-textWord"
              :class="'meansInfo-list-textWord'+$MessageLang"
              v-else
            >{{$t('message.member_perfecting_personal')}}</p>
          </div>
        </div>
        <div
          class="meansInfo-list meansInfo-list-basic"
          :class="'basic'+$MessageLang"
          @click="navClick('webMemberBankData')"
        >
          <div class="meansInfo-list-icon">
            <img
              class="identification"
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/MemberNew/scoreIcon-card.png'"
            />
            <img
              class="icon"
              v-if="this.IsBankInfoFillIn === false"
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_6.png'"
            />
            <img
              class="icon"
              v-else
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/m_new_7.png'"
            />
          </div>
          <div class="meansInfo-list-text scaleFontSize">
            <h3 class="meansInfo-list-textTitle">{{$t('message.member_bank_cards')}}</h3>
            <p
              class="meansInfo-list-textWord"
              v-if="this.IsBankInfoFillIn === false"
            >{{$t('message.member_platform_interior')}}</p>
            <p class="meansInfo-list-textWord" v-else>{{$t('message.member_binded')}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--分级详情-->
    <div id="LeaveDatails" class="alert_box_content re_h">
      <span class="alert_close" @click="classificationBack()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_classification_details')}}
      </h2>
      <div class="classification-cont-details">
        <!-- <h2 class="classification-cont-title">
          <span @click="classificationBack()">返回</span>
        </h2>-->
        <div class="classification-cont-main">
          <div class="classification-cont-lf">
            <p class="p5-text">
              <span class="p5-text-name">{{$t('message.member_current_membership')}}</span>
              <span class="p5-text-val">{{this.MemberUpgrade.CurrMemberLvName}}</span>
            </p>
            <p class="p5-text">
              <span class="p5-text-name">{{$t('message.member_deposits_number')}}</span>
              <span
                class="p5-text-val"
              >{{this.MemberUpgrade.VCurrMemberLvTotalDepositCount}}{{$t('message.member_stopover')}}</span>
            </p>
            <p class="p5-text">
              <span class="p5-text-name">{{$t('message.member_accumulated_income')}}：</span>
              <span class="p5-text-val">{{this.MemberUpgrade.VCurrMemberLvTotalDepositAmount}}</span>
            </p>
            <p class="p5-text">
              <span class="p5-text-name">{{$t('message.member_cumulative_quantity')}}：</span>
              <span class="p5-text-val">{{this.MemberUpgrade.VCurrRakeAmt}}</span>
            </p>
          </div>
          <div style="position: relative;" class="scroll_wrap">
            <div>
              <div class="classification-tab">
                <a
                  @click="SelectTabFun(1)"
                  :class="SelectTab==1 ? 'on': ''"
                  :title="$t('message.member_membership_benefits')"
                >{{$t('message.member_membership_benefits')}}</a>
                <a
                  @click="SelectTabFun(2)"
                  :class="SelectTab==2 ? 'on': ''"
                  :title="$t('message.member_upgrade_conditions_2')"
                >{{$t('message.member_upgrade_conditions_2')}}</a>
                <i
                  class="explain-box"
                  :class="'explain-box-'+this.$MessageLang"
                >{{$t('message.member_lv_Advantage')}}</i>
              </div>
              <div
                id="classification_scroll"
                style="max-height: 490px;position: relative;overflow: hidden;height:492px !important"
              >
                <!--升级条件-->
                <div class="classification-cont-table" v-show="SelectTab === 2">
                  <table>
                    <thead>
                      <tr>
                        <td>{{$t('message.index_grade')}}</td>
                        <td>{{$t('message.member_number_payments')}}</td>
                        <td>{{$t('message.member_accumulated_income')}}</td>
                        <td>{{$t('message.member_cumulative_quantity')}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(listTd,index) in this.memberLvLimitListData">
                        <td class="explain-lv">
                          <i class="explain-lv-icon"></i>
                          <i
                            v-if="index >= 9"
                            :class="'explain-lv-num explain-lv-ten'+(Math.floor(listTd.MemberLvNum/10))"
                          ></i>
                          <i v-else class="explain-lv-num explain-lv-ten0"></i>
                          <i
                            :class="'explain-lv-num explain-lv-ten'+(listTd.MemberLvNum%10)"
                            style="margin-left: -4px;"
                          ></i>
                          <!-- <span>{{listTd.MemberLvNum}}</span> -->
                          {{listTd.MembetLvName}}
                        </td>
                        <td>{{listTd.VTotalDepositCount}}</td>
                        <td style="color: #45bd25;">{{listTd.VTotalDepositAmount}}</td>
                        <td>{{listTd.VTotalRakeAmount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--会员福利-->
                <div class="classification-cont-table" v-show="SelectTab === 1">
                  <table>
                    <thead>
                      <tr>
                        <td width="50%">{{$t('message.member_membership_classification')}}</td>
                        <td width="16%" :title="$t('message.member_reverse_water_can_grow')">
                          {{$t('message.member_reverse_water_can_grow')}}%
                          <p class="explain-btn">?</p>
                        </td>
                        <td width="17%">{{$t('message.member_bankable')}}%</td>
                        <td
                          width="17%"
                          :title="$t('message.member_fees_can_be_reduced_to')"
                        >{{$t('message.member_fees_can_be_reduced_to')}}%</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(listTd,index) in this.memberLvLimitListData">
                        <td class="explain-lv">
                          <span class="lv-sp1" style="float:left">
                            <i class="explain-lv-icon"></i>
                            <i
                              v-if="index >= 9"
                              :class="'explain-lv-num explain-lv-ten'+(Math.floor(listTd.MemberLvNum/10))"
                            ></i>
                            <i v-else class="explain-lv-num explain-lv-ten0"></i>
                            <i
                              :class="'explain-lv-num explain-lv-ten'+(listTd.MemberLvNum%10)"
                              style="margin-left: -4px;"
                            ></i>
                          </span>

                          <!-- <span>{{listTd.MemberLvNum}}</span> -->
                          <span class="lv-sp2" style="float:left">{{listTd.MembetLvName}}</span>
                        </td>
                        <td>{{listTd.MaxRakeRate * 100 | numCalFix(listTd.MaxRakeRate)}}%</td>
                        <td>{{listTd.MaxBounsRate * 100 | numCalFix(listTd.MaxBounsRate)}}%</td>
                        <td>{{listTd.MinCashFee * 100 | numCalFix(listTd.MinCashFee)}}%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus"
import download from "downloadjs"
import CommonService from "@/assets/scripts/businessLogic/commonService"
import CommUtility from "scripts/common/CommUtility"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import Clipboard from "@/assets/scripts/customJs/web/clipboard.min"

export default {
  data() {
    return {
      gradeDetailFlag: true,
      classificationFlag: false,
      memberData: [],
      VBalance: undefined,
      NextLvData: {
        VCurrMemberLvTotalDepositCount: undefined,
        VCurrMemberLvTotalDepositAmount: undefined,
        VCurrRakeAmt: undefined
      },
      MemberUpgrade: {
        type: Object,
        default: function () {
          return {}
        }
      },
      memberLvLimitListData: {
        type: Array,
        default: function () {
          return []
        }
      },
      IsBankInfoFillIn: undefined,
      IsPersonInfoFillInfo: undefined,
      SelectTab: 1,
      ExplainBox: false,
      Privilege: [], // 获取当前等级特权 20190805 SeyoChen
      SafeScore: 0 // 安全评分
    }
  },
  created: function () {
    this.GetDataFillInfo() // 获取用户资料是否已经完善 20190616 SeyoChen
    this.InitClipboard()
    this.GetMemberInfo()
    this.GetBalance()
    this.GetSafeScore() // 安全评分

    // 通知总览用户存款，刷新页面 20190911 SeyoChen
    EventBus.$on("DepositRefresh", () => {
      this.GetMemberInfo()
    })
    // 通知金额进行刷新 20190918 SeyoChen
    EventBus.$on("memberHeaderUpdateBalance", () => {
      this.GetBalance()
    })
    // 用户资料修改更新后通知刷新
    EventBus.$on("Profile_Update_Success", () => {
      this.GetMemberInfo()
    })
    // 银行资料修改或者新增之后刷新
    EventBus.$on("fillTipUpdate", () => {
      this.GetMemberInfo()
    })
  },
  computed: {
    switchName() {
      return this.$store.state.switchName
    }
  },
  methods: {
    // 安全评分
    GetSafeScore: async function () {
      const data = await PersonalCenterService.MasterSafeScore()

      if (data.Ret === 0) {
        this.SafeScore = data.Data.SafeScore
      }
    },
    // tab选择切换
    SelectTabFun: function (num) {
      this.SelectTab = num
    },

    // 获取用户资料是否已经完善 20190616 SeyoChen
    GetDataFillInfo: async function () {
      const data = await CommonService.Comm_GetDataFillInStatus()
      if (data.Ret == 0) {
        this.IsBankInfoFillIn = data.Data.IsBankInfoFillIn
        this.IsPersonInfoFillInfo = data.Data.IsPersonInfoFillInfo
      }
    },

    // 遍历获取下一级会员等级数据
    GetNextLvData: function () {
      for (let i = 0; i < this.memberLvLimitListData.length; i++) {
        // 搜索当前拥有的特权 20190805 SeyoChen
        this.Privilege = this.memberLvLimitListData[i]
        // 搜索当前拥有的特权 20190805 SeyoChen end
        if (i + 1 == this.memberLvLimitListData.length) {
          this.NextLvData.VCurrMemberLvTotalDepositCount = "--"
          this.NextLvData.VCurrMemberLvTotalDepositAmount = "--"
          this.NextLvData.VCurrRakeAmt = "--"
          return
        }
        if (this.memberLvLimitListData[i].MembetLvName === this.MemberUpgrade.CurrMemberLvName) {
          // 搜索当前拥有的特权 20190805 SeyoChen
          this.Privilege = this.memberLvLimitListData[i]
          console.log("==========================11111111")
          console.log(this.Privilege)
          // 搜索当前拥有的特权 20190805 SeyoChen end

          i++
          this.NextLvData.VCurrMemberLvTotalDepositCount = this.memberLvLimitListData[i].VTotalDepositCount
          this.NextLvData.VCurrMemberLvTotalDepositAmount = this.memberLvLimitListData[i].VTotalDepositAmount
          this.NextLvData.VCurrRakeAmt = this.memberLvLimitListData[i].VTotalRakeAmount
          return
        }
      }
    },

    GetBalance: async function () {
      const inputObj = {}
      const retData = await PersonalCenterService.MemberCashFlowInfo_GetCWalletMoney(inputObj) // 新版获取账户金额 2019.03.28
      if (retData.Ret == 0) {
        this.VBalance = retData.Data.VAmount
      } else {
        this.VBalance = this.$t("message.top_under_maintenance")
      }
    },

    GetMemberInfo: async function () {
      // 取得會員資訊
      const data = await CommonService.Comm_GetMemberInfo()
      if (data.Ret == 0) {
        this.memberData = data.Data.Member
        this.MemberUpgrade = data.Data.MemberUpgradeData
        this.memberLvLimitListData = data.Data.memberLvLimitList
      }

      this.GetNextLvData()
    },
    navClick: function (name) {
      this.$store.dispatch("setSwitchNameText", name)
    },
    InitClipboard: function () {
      new Clipboard(".a_copy")
    },
    ShowNotify: function () {
      const notifyData = {
        NotifyMessage: this.$t("message.member_successful_replication")
      }
      EventBus.$emit("showNotifyMemberMessage", notifyData)
    },
    QRCodeDownload: function () {
      download(this.MemberData.PromotionLinkImg, "QrCodeImg.png", "image/png")
    },
    gradeDetail: function () {
      CommUtility.WebShowAlertboxForm("LeaveDatails")
      // this.gradeDetailFlag = false;
      // this.classificationFlag = true;
      let scrollHeight = $("#LeaveDatails").height() - $(".scroll_wrap").offset().top - 30
      // $('#classification_scroll').height(scrollHeight);
      EventBus.$emit("gradeDetailw", this.gradeDetailFlag)
    },
    classificationBack: function () {
      CommUtility.WebClosealertboxForm("LeaveDatails")
      // this.gradeDetailFlag = true;
      // this.classificationFlag = false;
      EventBus.$emit("gradeDetailw", this.gradeDetailFlag)
    },
    Percentage: function (number1, number2) {
      const realVal = parseFloat((parseInt(number1) / (parseInt(number1) + parseInt(number2))) * 100.0).toFixed(2)
      return realVal + "%" // 小数点后两位百分比
    }
  },
  props: {
    MemberData: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  mounted: function () {
    // 滚动条
    $("#classification_scroll").perfectScrollbar()
    $(".explain-btn").mouseenter(function () {
      $(".explain-box").addClass("on")
    })
    $(".explain-btn").mouseleave(function () {
      $(".explain-box").removeClass("on")
    })
  },
  watch: {
    switchName: function () {
      if (this.switchName === "webMemberSummary") {
        this.GetDataFillInfo() // 获取用户资料是否已经完善 20190616 SeyoChen
        this.InitClipboard()
        this.GetMemberInfo()
        this.GetBalance()
        this.GetSafeScore() // 安全评分

        // 通知顶部金额进行刷新 20190918 SeyoChen
        EventBus.$emit("memberHeaderUpdateBalance")
      } else {
        // this.classificationBack();
        CommUtility.WebClosealertboxForm("LeaveDatails")
      }
    }
  }
}
</script>
