<template>
  <div
    class="lottery-content"
    :class="'lottery_'+$MessageLang"
    :style="{background:$BannerPath.Images.LotteryBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/' + $MessageLang + $BannerPath.Images.LotteryBgImages + ') -324px top no-repeat':'' }"
  >
    <div class="lottery-content-banner">
      <video
        :class="'sy'+$VersionNumber+'-lottery-video'"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+ $MessageLang+$BannerPath.Video.LotteryVideo"
        class="lottery-banner-video"
        autoplay="autoplay"
        width="1920"
        style="margin-left: -320px;margin-top:-142px"
        loop="loop"
        muted
      ></video>
      <!-- <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/flash/lottery.mp4'" class="sy34-lottery-video lottery-banner-video" autoplay="autoplay" width="1920" loop="loop" muted></video>
			<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/lottery.mp4'" class="sy15-lottery-video lottery-banner-video" autoplay="autoplay" width="100%" loop="loop" muted></video>
      <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/lottery.mp4'" class="lottery-banner-video sy28-lottery-video" autoplay="autoplay" width="100%" height="1100" loop="loop" muted></video>-->
    </div>
    <div class="lottery-logo-page">
      <div class="lottery-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <div class="lottery-logo-top">
        <h2>{{$t('message.nav_betting')}}</h2>
        <p v-if="$MessageLang!='en'">LOTTERY BETTING</p>
      </div>
      <lottery-content
        ref="lotteryContent"
        :pageSize="pageSize"
        :PageCount="PageCount"
        @PlayKGGame="PlayKGGame"
      ></lottery-content>
    </div>
  </div>
</template>

<script>
import { lottery } from '@/mod/k04/assets/scripts/comTest/main/lottery/lottery.js';
export default {
  mixins: [lottery]
};
</script>
