<template>
  <div class="details_information">
    <div
      class="details_content"
      id="details_content"
      style="overflow: hidden;height:450px;margin-bottom: 20px;position: relative;"
    >
      <h2>{{MessageData.Title}}</h2>
      <!-- {{MessageData.CreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}} -->
      <!-- {{MessageData.Type.Name}} -->
      <p>{{MessageData.Content}}</p>
    </div>
    <a
      v-if="IfShow === true"
      class="back_btn"
      href="javascript:void(0);"
      @click="TriggerDeleteWindow()"
    >{{$t('message.member_delete')}}</a>
    <!-- <table cellspacing="0" cellpadding="0">
      <tr>
        <td class="w_1">标题</td>
        <td class="w_2">
          {{MessageData.Title}}
          <span>{{MessageData.CreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
        </td>
      </tr>
      <tr>
        <td class="w_1">类型</td>
        <td class="w_2">{{MessageData.Type.Name}}</td>
      </tr>
      <tr>
        <td class="w_1">内容</td>
        <td class="w_2 w_word">{{MessageData.Content}}</td>
      </tr>
    </table>-->
    <!-- <a class="back_btn" @click="ReturnList()">返回上一页</a> -->
    <!--删除信息弹窗-->
    <div id="DeleteMessageForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CommUtility.WebClosealertboxForm('DeleteMessageForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p class="p_blue">{{$t('message.member_this_information')}}</p>
      </div>
      <div class="pub_btn_both alert_btn_both" style="padding-left: 90px;">
        <a
          class="btn1 information_btn"
          href="javascript:void(0);"
          @click="ConfirmDelete()"
        >{{$t('message.member_ascertain')}}</a>
        <a
          class="btn2"
          href="javascript:void(0);"
          @click="CommUtility.WebClosealertboxForm('DeleteMessageForm');"
        >{{$t('message.member_cancel')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"

export default {
  data() {
    return {
      CommUtility: CommUtility,
      MessageData: {
        Type: {}
      },
      IfShow: false
    }
  },
  created: function () {
    const self = this
    EventBus.$on("PrivateMessage_UpdateDetail", (data) => {
      self.IfShow = true
      self.MessageData = data
    })
  },
  mounted: function () {
    // 滚动条
    $("#details_content").perfectScrollbar()
  },
  methods: {
    ReturnList: function () {
      this.MessageData = { Type: {} }
      this.$parent.SwitchMode(1)
    },
    TriggerDeleteWindow: function () {
      CommUtility.WebShowAlertboxForm("DeleteMessageForm")
    },
    ConfirmDelete: async function () {
      CommUtility.WebClosealertboxForm("DeleteMessageForm")
      // delete this message
      const inputObj = {
        PrivateMessageID: this.MessageData.ID
      }

      const data = await PersonalCenterService.PrivateMessage_Del(inputObj)

      if (data.Ret == 0) {
        // 通知列表重新取得資料
        EventBus.$emit("PrivateMessage_DeleteItem")
        this.ReturnList()
        this.IfShow = false
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
    }
  },
  beforeDestroy() {
    EventBus.$off("PrivateMessage_UpdateDetail")
  }
}
</script>
