<template>
  <div>
    <div class="information_radio">
      <label
        v-for="(ReadStatus, index) in ReadStatusList"
        :key="index"
        :class="index === 0 ? 'redionum redio0 on' : 'redionum redio' + index"
        @click="AddBorderState(index)"
      >
        <input
          class="information_radio_point"
          type="radio"
          v-model="FilterStatus"
          v-bind:value="ReadStatus.Value"
          name="read"
        />
        {{ReadStatus.Name}}
      </label>
    </div>
    <div class="record_table table_block table_information">
      <table cellpadding="0" cellspacing="0" width="100%">
        <!-- <thead>
          <tr>
            <th class="w_1">类型</th>
            <th class="w_2">标题</th>
            <th class="w_2">内文</th>
            <th class="w_3">时间</th>
          </tr>
        </thead>-->
        <tbody>
          <tr
            v-bind:class="{ 'hasSelect': MessageData.ReadStatus.Value == 1}"
            @click="ShowDetail(MessageData,index)"
            v-for="(MessageData,index) in DisplayList"
            :key="index"
          >
            <div class="clearfix">
              <p class="table_title">{{MessageData.Title | simpleContent(10)}}</p>
              <p
                class="table_time fr"
              >{{MessageData.CreateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
            </div>
            <p class="table_content">{{MessageData.Content | simpleContent(20)}}</p>
          </tr>
        </tbody>
      </table>
    </div>
    <a
      @click="PrivateMessageRead()"
      class="onkey_read"
      v-if="this.FilterStatus !== '1'"
    >{{$t('message.member_key_read')}}</a>
    <!-- <div class="purple_tip">本页以北京时间（GMT+8）计算</div> -->
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import Vue from "vue"

export default {
  props: {
    ReadStatusList: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data() {
    return {
      FilterStatus: -1,
      MessageList: [],
      DisplayList: [],
      CurrentPage: undefined,
      CurrentReadingIndex: undefined,
      CurrentReadingItem: undefined,
      OneKey: true
    }
  },
  created: function () {
    const self = this
    // 監聽更新列表 (2017/12/21 修改過)
    EventBus.$on("PrivateMessage_UpdateList", (data) => {
      self.FilterStatus = -1
      self.CurrentPage = 1
      self.MessageList = data
      this.DisplayList = []
      // *************************************************************************
      self.DisplayList = Vue.util.extend({}, self.MessageList.slice(0, 5))
      EventBus.$emit("Paginate_ResetPageNo")
    })

    // 監聽更新頁數 (2017/12/21新增)
    EventBus.$on("PrivateMessage_UpdatePageNo", (data) => {
      const pageNo = data
      self.CurrentPage = data
      self.DisplayList = []
      const tempList = this.UpdateDisplayList()
      self.DisplayList = Vue.util.extend({}, tempList.slice(0 + (pageNo - 1) * 5, 5 + (pageNo - 1) * 5))
    })
    // 刪除特定項目
    EventBus.$on("PrivateMessage_DeleteItem", () => {
      // 刪除總列表項目
      const ListIndex = self.MessageList.indexOf(self.CurrentReadingItem)
      self.MessageList.splice(ListIndex, 1)

      // 刪除顯示列表項目
      self.DisplayList = $.map(self.DisplayList, function (value) {
        return [value]
      })
      self.DisplayList.splice(self.CurrentReadingIndex, 1)

      const tempList = self.UpdateDisplayList()
      self.$parent.PageCount = Math.ceil(tempList.length / self.$parent.PageSize)
      self.DisplayList = Vue.util.extend({}, tempList.slice(0, 5))

      // 刪除項目為本頁最後一筆, 則跳回前一頁
      if (self.DisplayList.length == 0 && self.CurrentPage > 1) {
        EventBus.$emit("Paginate_ResetPageNo", self.CurrentPage - 1)
      }
    })
  },
  methods: {
    // 一键已读 20190702 SeyoChen
    PrivateMessageRead: async function () {
      const notifyData = {}
      const retData = await PersonalCenterService.PrivateMessage_Read()
      EventBus.$emit("GlobalLoadingTrigger", true)
      if (retData.Ret === 0) {
        notifyData.NotifyMessage = this.$t("message.member_mark_readed")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } else {
        notifyData.NotifyMessage = this.$t("message.member_read_failure")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
      EventBus.$emit("GlobalLoadingTrigger", false)
      this.DisplayList = []

      // 站内信息 一键已读 201900718 SeyoChen
      if (this.FilterStatus == -1) {
        this.$parent.GetMessageType()
      } else {
        for (let i = 0; i < this.MessageList.length; i++) {
          if (this.MessageList[i].ReadStatus.Value == this.FilterStatus || this.FilterStatus == 2) {
            this.MessageList[i].ReadStatus.Value = 1
          } // end if
        }
      }
      const MemberInfo = {}
      MemberInfo.Data = 0
      EventBus.$emit("SignalR_ReadPrivateMessage", MemberInfo)
      // 站内信息 一键已读 201900718 SeyoChen end

      // 点击搜索时清空信息详情 20190814 seyochen
      EventBus.$emit("PrivateMessage_UpdateDetail", "")
    },

    // 点击切换下划线状态
    AddBorderState(num) {
      $(".redio" + num)
        .addClass("on")
        .siblings(".redionum")
        .removeClass("on")
    },

    ShowDetail: async function (MessageData, index) {
      this.CurrentReadingIndex = index
      this.CurrentReadingItem = MessageData
      if (MessageData.ReadStatus.Value == 2) {
        // update read status
        const inputObj = {
          PrivateMessageID: MessageData.ID
        }
        await PersonalCenterService.PrivateMessage_LoadDetailPage(inputObj)
        MessageData.ReadStatus.Value = 1
        if (this.FilterStatus == 2) {
          this.DisplayList = $.map(this.DisplayList, function (value) {
            return [value]
          })
          this.DisplayList.splice(index, 1)
        }
      }

      EventBus.$emit("PrivateMessage_UpdateDetail", MessageData)
      this.$parent.SwitchMode(2)
    },
    UpdateDisplayList: function () {
      const tempList = []
      for (let i = 0; i < this.MessageList.length; i++) {
        if (this.MessageList[i].ReadStatus.Value == this.FilterStatus || this.FilterStatus == -1) {
          tempList.push(this.MessageList[i])
        } // end if
      }

      // 判断该选项分页数据是否为空 2019.07.06 SeyoChen
      if (tempList.length === 0) {
        this.$parent.ShowPage = false
      } else {
        this.$parent.ShowPage = true
      }
      // 判断该选项分页数据是否为空 2019.07.06 SeyoChen end

      return tempList
    }
  },
  // WATCH 部分於 2017/12/21新增
  watch: {
    FilterStatus: function () {
      self.CurrentPage = 1
      const tempList = this.UpdateDisplayList()
      // ***********************************************************************************************
      // 更新頁數
      EventBus.$emit("Paginate_ResetPageNo")
      this.$parent.PageCount = Math.ceil(tempList.length / this.$parent.PageSize)
      this.$parent.QueryConditions.PagingInfo.PageNo = 1
      this.DisplayList = Vue.util.extend({}, tempList.slice(0, 5))
    }
  },
  beforeDestroy() {
    EventBus.$off("PrivateMessage_UpdateList")
    EventBus.$off("PrivateMessage_UpdatePageNo")
    EventBus.$off("PrivateMessage_DeleteItem")
  }
}
</script>
