<template>
  <div :class="'purple_cont purple_bank_' + $MessageLang">
    <ul class="psl_guide">
      <li data-num="0" v-bind:class="{ 'hasblock': ModifyType === 0}" @click="SelectDataType(0)">
        <a href="javascript:void(0);">{{$t('message.member_bank_account')}}</a>
        <i></i>
      </li>
      <!-- <li data-num="0" v-bind:class="{ 'hasblock': ModifyType === 1}" @click="SelectDataType(1)">
        <a href="javascript:void(0);">{{$t('message.member_virtual_currency')}}</a>
        <i></i>
      </li>-->
    </ul>
    <!--銀行資料修改-->
    <member-bank-info v-show="ModifyType == 0"></member-bank-info>
    <!--虚拟货币账户资料-->
    <member-currency v-show="ModifyType == 1"></member-currency>
  </div>
</template>

<script>
import MemberBankInfo from "@/mod/k14/components/sub/memberNew/bankInfo/memberBankInfo.vue"
import MemberCurrency from "@/mod/k14/components/sub/memberNew/bankInfo/memberCurrency.vue"

export default {
  data() {
    return {
      ModifyType: 0
    }
  },
  components: {
    MemberBankInfo,
    MemberCurrency
  },
  mounted: function () {
    // 判断取款需要完善虚拟账号信息 SeyoChen 2019.04.18
    const BankDataType = localStorage.getItem("MemberBankDataType")
    if (BankDataType === "3") {
      this.ModifyType = 1
    }
  },
  methods: {
    SelectDataType: function (num) {
      this.ModifyType = num
    }
  },
  beforeDestroy: function () {
    localStorage.removeItem("MemberBankDataType")
  }
}
</script>
