<template>
  <div class="record-content">
    <div class="record_guide purple_cont">
      <ul class="psl_guide">
        <!--投注記錄查詢-->
        <li
          :class="QueryType == 'BettingRecord'? 'hasblock':''"
          @click="ChangeQueryType('BettingRecord')"
        >
          <a>{{$t('message.member_record_query')}}</a>
          <i></i>
        </li>
        <!--未派彩投注记录-->
        <li
          :class="QueryType == 'BettingRecordNone'? 'hasblock':''"
          @click="ChangeQueryType('BettingRecordNone')"
        >
          <a>{{$t('message.member_unassigned_color')}}</a>
          <i></i>
        </li>
        <!--活动记录-->
        <li
          :class="QueryType == 'memberActivityRecord'? 'hasblock':''"
          @click="ChangeQueryType('memberActivityRecord')"
        >
          <a>{{$t('message.personal_activity_record')}}</a>
          <i></i>
        </li>
      </ul>
    </div>
    <div class="purple_cont" style="min-height: 376px;">
      <div id="recordQueryForm" class="record_query">
        <span class="record-query-name">{{$t('message.member_hour')}}：</span>
        <datepicker
          class="common-query-put record-query-put"
          :language="this.$MessageLang"
          v-model="DisplayQueryObj.StartTime"
          format="yyyy/MM/dd"
          calendar-class="startdate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_start_time')"
          @selected="selectedStart"
        ></datepicker>
        <span class="record-query-name line" v-show="QueryType!=='memberActivityRecord'">—</span>
        <datepicker
          class="common-query-put record-query-put"
          :language="this.$MessageLang"
          v-model="DisplayQueryObj.EndTime"
          format="yyyy/MM/dd"
          calendar-class="enddate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_ending_time')"
          v-show="QueryType!=='memberActivityRecord'"
          @selected="selectedEnd"
        ></datepicker>
        <span
          class="record-query-name"
          style="margin-left: 20px;"
          v-show="QueryType == 'BettingRecord'"
        >{{$t('message.agency_betting_number')}}：</span>
        <input
          class="common-query-put record-query-put d_course"
          v-model="QueryConditions.betNo"
          v-validate="{ rules: { regex:Reg.betNo }}"
          name="AgencyBetNo"
          type="text"
          v-show="QueryType == 'BettingRecord'"
        />
        <span
          class="record-query-name"
          :class="QueryType"
          v-show="QueryType == 'BettingRecord' || QueryType == 'BettingRecordNone'"
        >{{$t('message.agency_game_category')}}：</span>
        <span
          class="record-query-name"
          style="margin-left: 20px;"
          v-show="QueryType === 'memberActivityRecord'"
        >{{$t('message.member_exercise')}}：</span>
        <input
          class="common-query-put record-query-put d_course"
          v-model=" QueryConditions.Name"
          type="text"
          v-show="QueryType == 'memberActivityRecord'"
        />
        <!--投注記錄下拉式選單-->
        <div class="down record-drop" v-show="QueryType == 'BettingRecord'">
          <div
            class="d_course"
            @click="ShowDropDown(1)"
          >{{DisplayQueryObj.Type.GameTypeName | simpleContent(12)}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box down_box1" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="(BettingType,index) in this.BettingTypeList"
              @click="SelectType(BettingType,'Type')"
              :key="index"
            >{{BettingType.GameTypeName}}</a>
          </div>
        </div>

        <!--未派彩下拉式選單-->
        <div class="down record-drop" v-show="QueryType == 'BettingRecordNone'">
          <div
            class="d_course"
            @click="ShowDropDown(1)"
          >{{DisplayQueryObj.Type.Name | simpleContent(12)}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box down_box1" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="(BettingTypeNo,index) in this.BettingTypeListNo"
              @click="SelectTypeNo(BettingTypeNo)"
              :key="index"
            >{{BettingTypeNo.Name}}</a>
          </div>
        </div>

        <!--游戏厂商下拉式選單-->
        <span
          class="record-query-name"
          style="margin-left: 20px;"
          v-show="QueryType === 'BettingRecord'"
        >{{$t('message.agency_game_maker')}}：</span>
        <div class="down record-drop" v-show="QueryType == 'BettingRecord'">
          <div
            class="d_course"
            @click="ShowDropDown(2)"
          >{{DisplayQueryObj.Type.GameApiName | simpleContent(12)}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box down_box2" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="(TransType,index) in TransTypeSList"
              @click="SelectType(TransType, 'Api')"
              :key="index"
            >{{TransType.GameApiName}}</a>
          </div>
        </div>
        <span class="renovate" @click="ResetClick('true')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="blue_sm search_a"
          :class="{'blue_smB':QueryType == 'BettingRecordNone'}"
          style="cursor: pointer;position: inherit;float: left;margin-top: 10px;"
          @click="UpdateQueryCondition()"
        >{{$t('message.member_search')}}</a>
      </div>

      <div class="record_query_error" style="position: relative;">
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.StartTime === undefined"
          style="top: -30px;left: 86px;position:absolute"
        >{{$t('message.member_starting_date')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="top: 8px;left: 74px;position:absolute"
        >{{$t('message.member_greater_than')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.EndTime === undefined"
          style="top: -30px;left: 320px;position:absolute"
        >{{$t('message.member_end_date')}}</span>
        <span
          class="tip1"
          v-show="errors.has('AgencyBetNo') && fields.AgencyBetNo.touched"
          style="left: 425px;top: 5px;position: absolute; width: 350px;"
        >{{$t('message.agency_betNo_tip')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.Type.Value === '-2'"
          style="top: 8px;left: 492px;position:absolute"
        >{{$t('message.member_options_empty')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.dateTimeInterval === true"
          style="top: 8px;;left: 74px;position:absolute"
        >{{$t('message.member_not_exceed')}}</span>
      </div>
      <!-- 动态加载投注记录组件 -->
      <component
        :is="showComponent"
        :RecordList="RecordList"
        :QueryType="QueryType"
        :SubAmount="SubAmount"
        :SumAmount="SumAmount"
        :RecordTime="DisplayQueryObj"
      ></component>

      <!--分页-->
      <paginate :PageCount="this.PageCount" :PageNo="this.QueryConditions.PagingInfo.PageNo"></paginate>
    </div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{errMsg}}</div>
  </div>
</template>

<style>
.startdate_calendar {
  top: 40px;
}
.enddate_calendar {
  left: 0 !important;
  top: 40px;
}
</style>

<script>
import moment from "moment"
import BLDef from "@/assets/scripts/common/BLDef.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import Datepicker from "@/components/main/common/datePicker.vue"
// import Datepicker from 'vuejs-datepicker';
import Paginate from "@/mod/k14/components/sub/paginate.vue"
import EventBus from "@/assets/scripts/common/EventBus.js"
import AgencyCenterService from "@/mod/k14/assets/scripts/businessLogic/agencyCenterService.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import memberBettingRecordTable from "@/mod/k14/components/sub/memberNew/transactionRecord/memberBettingRecordTable.vue"
import memberBettingRecordTableNone from "@/mod/k14/components/sub/memberNew/transactionRecord/memberBettingRecordTableNone.vue"
import memberActivityRecord from "@/components/sub/memberNew/transactionRecord/memberActivityRecord.vue"

export default {
  data() {
    return {
      Reg: Regex.Regex,
      dateNow: new Date(),
      DropDowning1: false,
      DropDowning2: false,
      // 資金往來查詢下拉式選單
      TransTypeSList: [],

      // 投注記錄查詢下拉式選單
      BettingTypeList: [],

      // 未派彩记录查询
      BettingTypeListNo: [],

      // 设定初始值(当投注记录为空时无法切换--因此设定初始值) 2018.12.26 SeyoChen
      RetsetTypeData: [
        {
          GameTypeNo: "",
          GameTypeName: this.$t("message.member_classification_yet")
        }
      ],
      RetsetApiData: [
        {
          GameApiNo: "",
          GameApiName: this.$t("message.member_classification_yet")
        }
      ],
      Submitted: false,
      TimeSequenceInvalid: false,

      dateTimeInterval: false,
      DisplayQueryObj: {
        StartTime: this.dateNow,
        EndTime: this.dateNow,
        Type: {}
      },

      // 搜尋類型
      QueryType: "BettingRecord",
      // 搜尋條件
      QueryConditions: {
        Type: -1,
        PagingInfo: {
          PageSize: 10
        },
        NoSettled: false,
        Name: "",
        betNo: "",
        GameApiNo: -1,
        GameTypeNo: -1
      },
      CalendarDisabled: {
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds")) // Disable all dates after specific date
      },
      RecordList: [],
      PageCount: 0,
      SubAmount: 0, // 小计金额
      SumAmount: 0, // 总计金额
      errMsg: "",
      IsShowErrorFlag: false
    }
  },
  computed: {
    // 根据QueryType动态加载需要的组件
    showComponent() {
      let { QueryType } = this
      // QueryType对应加载的组件名
      // memberBettingRecordTable:投注记录,memberBettingRecordTableNone:未派彩记录,memberActivityRecord:活动记录
      let nameSet = {
        BettingRecord: "memberBettingRecordTable",
        BettingRecordNone: "memberBettingRecordTableNone",
        memberActivityRecord: "memberActivityRecord"
      }
      // 注入组件
      return () => import(`@/components/sub/memberNew/transactionRecord/${nameSet[QueryType]}.vue`)
    }
  },
  created: function () {
    this.BindingEvent()
    this.LoadPage()
  },

  mounted: function () {
    CommUtility.BindEnterTrigger("recordQueryForm", this.UpdateQueryCondition)
    $(".record-content").perfectScrollbar()
  },

  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      let startDate = new Date(this.dateFormat(date) + " 00:00:00")
      this.DisplayQueryObj.StartTime = startDate
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      let endDate = new Date(this.dateFormat(date) + " 23:59:59")
      this.DisplayQueryObj.EndTime = endDate
      this.CheckFied()
    },
    // 重置条件
    ResetClick() {
      this.QueryConditions = {
        Type: -1,
        PagingInfo: {
          PageSize: 10
        },
        NoSettled: false,
        Name: "",
        betNo: "",
        GameApiNo: -1,
        GameTypeNo: -1
      }
      this.DisplayQueryObj.StartTime = this.dateNow
      this.DisplayQueryObj.EndTime = this.dateNow
      this.TimeSequenceInvalid = false
      this.dateTimeInterval = false
      this.DisplayQueryObj.betNo = ""
      this.DisplayQueryObj.Type = {
        ...this.BettingTypeList[0],
        ...this.TransTypeSList[0],
        ...this.BettingTypeListNo[0]
      }
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    BindingEvent: function () {
      document.addEventListener("click", this.HideDropDown)
    },
    // 顯示紀錄類型選單
    ShowDropDown: function (num) {
      $(".down_box").slideUp(300)
      this["DropDowning" + (num === 1 ? 2 : 1)] = false
      if (this["DropDowning" + num] === false) {
        $(".down_box" + num).slideDown(300)
        this["DropDowning" + num] = true
      } else {
        this["DropDowning" + num] = false
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_box").slideUp(300)
        this.DropDowning1 = false
        this.DropDowning2 = false
      }
    },

    // 切换未派彩的下拉
    SelectTypeNo: function (Type) {
      console.log(Type)
      this.DisplayQueryObj.Type = Type
    },

    // 切換紀錄查詢種類
    ChangeQueryType: function (queryType) {
      this.QueryType = queryType
      this.ResetClick()
      this.RecordList = []
      this.GetCurrentPageData(1)
      console.log(queryType)
      if (this.QueryType === "BettingRecordNone") {
        console.log(this.BettingTypeListNo[0])
        this.DisplayQueryObj.Type = this.BettingTypeListNo[0]
      }
      // end if
    }, // end ChangeQueryType

    // 選取紀錄類型
    SelectType: function (item, name) {
      console.log(item)
      console.log(name)
      this.DisplayQueryObj.Type[`Game${name}No`] = item[`Game${name}No`]
      this.DisplayQueryObj.Type[`Game${name}Name`] = item[`Game${name}Name`]
      this.QueryConditions[`Game${name}No`] = item[`Game${name}No`]
      this.DisplayQueryObj.Type[`Game${name}No`] = item[`Game${name}No`]
    },

    // 載入記錄查詢頁面
    LoadPage: async function () {
      const data = await AgencyCenterService.LoadGameTypeAndVendor()
      // const data = await PersonalCenterService.CashFlowLog_LoadMainPag();
      console.log(data)
      const DaraRet = await PersonalCenterService.BetLog_LoadMainPage()
      // const retData = await PersonalCenterService.BetLog_LoadMainPage();
      console.log("DaraRet未派彩")
      console.log(DaraRet)
      console.log("DaraRet未派彩")
      // if(){

      // }
      if (DaraRet.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.BettingTypeListNo = DaraRet.Data.GameApiTypeList
      }
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeSList = data.Data.GameApiNameList
        this.BettingTypeList = data.Data.GameApiTypeList
      } else {
        // 2018.12.26 SeyoChen 投注记录查询bug
        this.BettingTypeList = this.RetsetTypeData
        this.TransTypeSList = this.RetsetApiData
        this.BettingTypeListNo = this.RetsetData
      } // end if
      // 類型給預設
      this.DisplayQueryObj.Type = {
        ...this.TransTypeSList[0],
        ...this.BettingTypeList[0],
        ...this.BettingTypeListNo[0]
      }
      this.QueryConditions.Type = -1
      this.QueryConditions.Name = ""
      this.DisplayQueryObj.StartTime = this.dateNow
      this.DisplayQueryObj.EndTime = this.dateNow
      this.GetCurrentPageData(1)
    },
    // 點擊搜索，更新搜尋條件
    async UpdateQueryCondition() {
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      this.Submitted = true
      const anyFieldInvalid = this.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if

      this.QueryConditions.PagingInfo.PageNo = 1
      if (this.QueryType == "BettingRecordNone") {
        this.QueryConditions.Type = this.DisplayQueryObj.Type.Value
      } else {
        this.QueryConditions.Type = this.DisplayQueryObj.Type.GameTypeNo
      }

      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"
      )
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59",
        true
      )
      EventBus.$emit("Paginate_ResetPageNo")
      console.log("444444444444444444444")
      console.log(this.QueryConditions)
      this.GetCurrentPageData(1)
    },
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      this.dateTimeInterval = false
      if (this.QueryType === "memberActivityRecord") return false
      // 開始時間未選
      if (this.DisplayQueryObj.StartTime === undefined) {
        anyInvalid = true
      }
      // 結束時間未選
      if (this.DisplayQueryObj.EndTime === undefined) {
        anyInvalid = true
      }
      // 開始日期大於結束日期
      if (this.DisplayQueryObj.StartTime !== undefined && this.DisplayQueryObj.EndTime !== undefined) {
        const st = new Date(this.DisplayQueryObj.StartTime).getTime()
        const dt = new Date(this.DisplayQueryObj.EndTime).getTime()
        const day = dt - st
        if (Math.floor(day / (24 * 3600 * 1000)) > 31) {
          this.dateTimeInterval = true
          anyInvalid = true
        }
        if (new Date(this.DisplayQueryObj.StartTime) > new Date(this.DisplayQueryObj.EndTime)) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }

      // 類型未選
      if (this.DisplayQueryObj.Type.Value === "-2") {
        anyInvalid = true
      }
      return anyInvalid
    },

    // 查詢紀錄
    GetCurrentPageData: async function (pageNo) {
      this.QueryConditions.PagingInfo.PageNo = pageNo
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"
      )
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59",
        true
      )
      let data
      EventBus.$emit("GlobalLoadingTrigger", true)
      if (this.QueryType === "BettingRecord") {
        this.QueryConditions.NoSettled = false
        data = await PersonalCenterService.NewBetLog_Query(this.QueryConditions)
        console.log(data)
        if (data.Ret == BLDef.ErrorRetType.SUCCESS) {
          data.Data.LogList = data.Data.ListGameRecord
        }
      } else if (this.QueryType === "BettingRecordNone") {
        this.QueryConditions.NoSettled = true
        data = await PersonalCenterService.NewBetLog_Query(this.QueryConditions)
        console.log("data未派彩数据")
        console.log(data)
        console.log("data未派彩数据")
        if (data.Ret == BLDef.ErrorRetType.SUCCESS) {
          data.Data.LogList = data.Data.LogList
        }
      } else if (this.QueryType === "memberActivityRecord") {
        this.QueryConditions.EndTick = Number(this.QueryConditions.StartTick) + 86400000 - 1
        data = await PersonalCenterService.Record_Activity(this.QueryConditions)
        console.log(data)
        if (data.Ret == BLDef.ErrorRetType.SUCCESS) {
          data.Data.LogList = data.Data.ListRecordActivity
        }
      }
      // end if
      EventBus.$emit("GlobalLoadingTrigger", false)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.RecordList = data.Data.LogList
        this.SubAmount = data.Data.SubAmount // 小计金额
        this.SumAmount = data.Data.SumAmount // 总计金额
        this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.QueryConditions.PagingInfo.PageSize)
      } else {
        this.errMsg = data.Message
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
        // const notifyData = {
        //   NotifyMessage: data.Message
        // };
        // EventBus.$emit('showNotifyMessage', notifyData);
      } // end if
    } // end GetCurrentPageData
  },
  components: {
    Datepicker,
    Paginate
  },

  watch: {
    QueryType: function () {
      // 搜尋條件和顯示重置
      this.DisplayQueryObj.StartTime = this.dateNow
      this.DisplayQueryObj.EndTime = this.dateNow
      this.DisplayQueryObj.betNo = ""
      this.DisplayQueryObj.Type = {
        ...this.BettingTypeList[0],
        ...this.TransTypeSList[0],
        ...this.BettingTypeListNo[0]
      }
      this.QueryConditions.Type = -1
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime)
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime, true)
      this.GetCurrentPageData(1)
      EventBus.$emit("Paginate_ResetPageNo")
      this.Submitted = false
    }
  }
}
</script>

<style lang="less" scoped>
.wrap {
  .record-content {
    .record_query {
      line-height: normal;
      margin-bottom: 0;
      margin-top: 0;
      .record-query-name {
        padding: 20px 0;
      }
      .record-query-put {
        padding: 10px 0;
      }
      .BettingRecord {
        clear: both;
      }
      .BettingRecordNone {
        margin-left: 20px;
      }
      .d_course {
        margin-top: 10px;
      }
      .record-drop {
        img {
          top: 26px;
        }
      }
    }
    .psl_guide {
      margin-bottom: 0;
    }
    .rct_table {
      clear: both;
    }
    .renovate {
      margin-top: 10px;
      float: left;
      cursor: pointer;
    }
  }
}
</style>
