<template>
  <div>
    <div class="record_guide purple_cont">
      <ul class="psl_guide">
        <li data-num="0" class="hasblock">
          <a href="javascript:void(0);">{{$t('message.member_capital_status')}}</a>
          <i></i>
        </li>
      </ul>
    </div>
    <!--餘額資訊-->
    <a
      class="memberNew-amount-Wallet"
      @click="OpenTransRecord()"
    >{{$t('message.member_transfer_record')}}</a>
    <member-fund-manage-balance :GameVendorList="this.GameVendorList"></member-fund-manage-balance>
    <!--轉帳資訊-->
    <member-fund-manage-transfer
      :GameVendorList="this.TransGameVendorList"
      :GameVendoeListAlls="this.GameVendorList"
      :PageCount="this.PageCount"
    ></member-fund-manage-transfer>
    <member-fund-manage-table ref="WallRecord"></member-fund-manage-table>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import GameService from "@/mod/k14/assets/scripts/businessLogic/gameService.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import MemberFundManageBalance from "@/components/sub/memberNew/fundManage/memberFundManageBalance.vue"
import MemberFundManageTransfer from "@/mod/k14/components/sub/memberNew/fundManage/memberFundManageTransfer.vue"
import MemberFundManageTable from "@/mod/k14/components/sub/memberNew/fundManage/memberFundManageTable.vue"

export default {
  data() {
    return {
      GameVendorList: [],
      TransGameVendorList: [],
      PageCount: 0
    }
  },
  mounted: function () {
    this.GetVendorList()
    const self = this
    EventBus.$on("updateFundBalance", () => {
      self.GetVendorList()
    })
  },
  methods: {
    // 打开电子转账记录
    OpenTransRecord: function () {
      this.$refs.WallRecord.EWalletTransferRecord()
      CommUtility.WebShowAlertboxForm("FundManageTable")
    },
    GetVendorList: async function () {
      const data = await GameService.GetGameMaintainStatus()

      console.log("###################################################")
      console.log(data)

      if (data.Ret == 0) {
        const tmpGameVendorList = data.Data.GameAPIVendorMaintainStatusList
        for (let i = 0; i < tmpGameVendorList.length; i++) {
          tmpGameVendorList[i].VAmount = undefined // 余额默认为undefined
          tmpGameVendorList[i].BalanceCompleted = false // 加载中icon显示
        }
        this.TransGameVendorList = tmpGameVendorList

        // this.PageFun(1);
      }
    }
  },
  components: {
    MemberFundManageBalance,
    MemberFundManageTransfer,
    MemberFundManageTable
  },
  beforeDestroy() {
    EventBus.$off("updateFundBalance")
  }
}
</script>
