<!--個人中心總覽-->
<template>
  <div>
    <!--個人資訊-->
    <member-basic-info
      :MemberData="this.MemberData"
      :memberLvLimitListData="this.memberLvLimitListData"
    ></member-basic-info>
    <!--最近交易紀錄-->
    <!-- <member-recent-trans-record v-show="newlyRecordFlag"></member-recent-trans-record> -->
  </div>
</template>

<script>
import MemberBasicInfo from "@/mod/k14/components/sub/memberNew/summary/memberBasicInfo.vue"
// import MemberRecentTransRecord from '@/components/sub/memberNew/summary/memberRecentTransRecord.vue';
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {
      MemberData: {},
      MemberUpgrade: {},
      memberLvLimitListData: [],
      newlyRecordFlag: true
    }
  },
  mounted: function () {
    EventBus.$on("gradeDetailw", (data) => {
      this.newlyRecordFlag = data
    })
  },
  created: function () {
    // this.GetMemberInfo();
  },
  components: {
    MemberBasicInfo
    // MemberRecentTransRecord
  },
  beforeDestroy() {
    EventBus.$off("gradeDetailw")
  }
}
</script>
