.theme28 {

    /* 游戏维护中 */
    .game-maintain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .eg-big-play {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 20;
    }

    .eg-big-maintain {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 45px;
    }

    .game-maintain,
    .eg-big-play {
    }

    .eg-big-maintain {
    }

    /* 游戏维护中 end */

    /*代理加盟，联系我们公共样式*/
    .a-j-lists {
        .a-j-putBox-title {
            display: none;
        }

        .proxy-com {
            margin-bottom: 10px;

            &.member-name {
                .name {
                    color: #fff;
                }
            }

            textarea {
                border: none;
                outline: none;
                padding: 0 15px;
                height: 109px;
                line-height: 34px;
                width: 277px;
                // border: 1px solid #646775;
                // background-color: transparent;
                border: none;
                background-size: 100% 100%;

                color: #ccc;
                font-size: 14px;
                // margin-left: -4px;
            }

            .proxy-line {
                width: 100%;
                position: relative;

                .vdp-datepicker {
                    display: inline-block;
                    vertical-align: top;

                    // margin-left: -4px;
                    /deep/ input {
                        box-sizing: content-box;
                    }
                }

                i {
                    width: 9px;
                    height: 8px;
                    position: absolute;
                    right: 24px;
                    top: 15px;
                }

                .title {
                    display: inline-block;
                    color: #252c36;
                    font-size: 15px;
                    line-height: 36px;
                    width:104px;
                    text-align: right;
                    margin-right: 15px;

                    .txt,
                    .colon,
                    .asterisk {
                        font-weight: normal;
                    }
                }
                .phone_title_vi{
                    line-height: 20px !important;
                }

                input[type=text],
                .a-j-input input {
                    display: inline-block;
                    vertical-align: top;
                    height: auto;
                    border: none;
                    outline: none;
                    padding: 0 15px;
                    height: 36px;
                    line-height: 36px;
                    width: 277px;
                    // background-color: transparent;
                    background-size: 100% 100%;
                    color: #ccc;
                    font-size: 14px;
                }

                &.code {
                    input {
                        width: 170px;
                        // margin-left: -4px;
                    }

                    img {
                        height: 40px;
                        vertical-align: top;
                    }
                }
            }

            .a-j-input {
                width: 307px;
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-left: -5px;

                .down {
                    width: 307px;
                    height: auto;

                    .d_course {
                        height: 26px;
                        line-height: 26px;
                        padding: 5px 10px;
                        cursor: pointer;
                        text-align: left;
                        outline: none;
                        // border: 1px solid #646775;
                        border: none;
                        background-size: 100% 100%;
                        font-size: 14px;
                        color: #454649;
                    }

                    .down_box {
                        height: auto;
                        position: absolute;
                        display: none;
                        z-index: 10;
                        overflow-y: auto;
                        border: 1px solid #e4e4e4;
                        top: 36px;
                        width: 100%;
                        border-top: 0;
                        max-height: 165px;
                        background: #eaeaea;
                        border-radius: 0 0 3px 3px;
                        padding-top: 5px;
                    }

                    i.a-j-downimg {
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 14px;
                        width: 12px;
                        height: 10px;
                    }
                }

                .a-j-sexUl {
                    overflow: hidden;
                    font-size: 16px;
                    color: #888992;
                    line-height: 36px;
                    margin-left: 10px;

                    .a-j-sexItem {
                        float: left;
                        margin-right: 35px;
                        cursor: pointer;
                        position: relative;
                        padding-left: 20px;

                        &:after {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid #000;
                            position: absolute;
                            left: 2px;
                            top: 12px;
                            border-radius: 50%;
                        }

                        input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }

                        &.on:after {
                            background: #000;
                        }
                    }
                }
            }

            .a-j-input.sex {
                img {
                    display: none;
                }

                input.a-j-select-ipt {
                    display: none;
                }
            }

            .a-j-input1 {
                margin-right: 10px;
                float: left;
                margin-bottom: 10px;
                margin-left: 4px;

                input {
                    width: 80px;
                }
            }

            .tip1 {
                font-size: 12px;
                color: #e50000;
                margin: 3px 0 3px 110px;
                clear: both;
                width: 290px;
            }

            textarea,
            input {

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    font-size: 16px;
                    color: #646476;
                }
            }
        }

        .proxy-Branch {
            margin-bottom: 0;
        }
    }
    .a-j-lists_en,.a-j-lists_vi{
        .proxy-com .proxy-line .title{
            width: 152px !important;
        }
        .tip1{
            margin: 3px 0 3px 175px !important;
        }
    }
    .a-j-submit {
        width: 135px;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        font-size: 0;
        color: #f2f4f9;
        margin: 30px auto 0;
    }

    /*代理加盟，联系我们公共样式 end*/

    /*前台共用的游戏列表*/
    .poker-logo-lists {
        font-size: 0;
        text-align: left;
    }

    .poker-logo-lists li {
        width: 226px;
        height: 300px;
        display: inline-block;
        margin: 5.5px;
        position: relative;

    }

    .poker-logo-lists .poker-logo-li a img {
        display: block;
        max-width: 220px;
        position: absolute;
        left: 4px;
        top: 110px;
    }

    .poker-logo-lists li>div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .poker-logo-lists li div.rotate-before {
        transform: perspective(1000px) rotateY(0);
        -webkit-transform: perspective(1000px) rotateY(0);
        -moz-transform: perspective(1000px) rotateY(0);
        -ms-transform: perspective(1000px) rotateY(0);
        -o-transform: perspective(1000px) rotateY(0);
        transition: all 600ms ease-out;
        -webkit-transition: all 600ms ease-out;
        -moz-transition: all 600ms ease-out;
        -ms-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
        opacity: 1;
        filter: alpha(opacity=100);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li div.rotate-after {
        transform: perspective(1000px) rotateY(-180deg);
        -webkit-transform: perspective(1000px) rotateY(-180deg);
        -moz-transform: perspective(1000px) rotateY(-180deg);
        -ms-transform: perspective(1000px) rotateY(-180deg);
        -o-transform: perspective(1000px) rotateY(-180deg);
        transition: all 600ms ease-out;
        -webkit-transition: all 600ms ease-out;
        -moz-transition: all 600ms ease-out;
        -ms-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        text-align: center;
        opacity: 0;
        filter: alpha(opacity=0);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li.hasblock div.rotate-before {
        transform: perspective(1000px) rotateY(180deg);
        -webkit-transform: perspective(1000px) rotateY(180deg);
        -moz-transform: perspective(1000px) rotateY(180deg);
        -ms-transform: perspective(1000px) rotateY(180deg);
        -o-transform: perspective(1000px) rotateY(180deg);
        opacity: 0;
        filter: alpha(opacity=0);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li.hasblock div.rotate-after {
        transform: perspective(1000px) rotateY(0);
        -webkit-transform: perspective(1000px) rotateY(0);
        -moz-transform: perspective(1000px) rotateY(0);
        -ms-transform: perspective(1000px) rotateY(0);
        -o-transform: perspective(1000px) rotateY(0);
        opacity: 1;
        filter: alpha(opacity=100);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li div.rotate-before i.icon-flower {
        display: block;
        width: 67px;
        height: 23px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    .poker-logo-lists li div.rotate-before i.icon-flower.flower1 {
        display: none;
    }

    .poker-logo-lists li div.rotate-before i.icon-flower.flower2 {
        display: none;
    }

    .poker-logo-lists li div.rotate-before img {
        display: block;
        max-width: 220px;
        position: absolute;
        left: 4px;
        top: 110px;
    }

    .poker-logo-lists li div.rotate-before .rotate-word {
        display: none;
    }

    .poker-logo-lists li div.rotate-after:after {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .poker-logo-lists li div.rotate-after a.rotate-play {
        display: inline-block;
        text-align: center;
        font-size: 0;
        width: 110px;
        height: 37px;
        vertical-align: middle;
    }

    /*维护遮罩*/
    .video_cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        z-index: 10;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        /*visibility:hidden;*/
    }

    .video_cover:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }

    .video_cover div {
        display: inline-block;
        vertical-align: middle;
    }

    .video_cover p {
        line-height: 25px;
        font-size: 24px;
        color: #ffffff;
    }

    .video_cover span {
        line-height: 14px;
        font-size: 12px;
        color: #ffffff;
    }

    /*前台共用的游戏列表 end*/

}
