.theme28{
    width: auto !important;
// 首页
    
    .video28{
        display: block;
    }
    .index-main-twentyEight{
        display: block;
        height: 590px;
        width: 64%;
        min-width: 1220px;
        margin: 0 auto;
        position: absolute;
        top: 550px;
        left: 18%;
    }
    .index-cont {
        width:100%;
        position:relative;
        margin-top:60px;
    }
    
    .index-btn {
        top:140px;
    }
    
    .index-link {
        width:1076px;
        height:642px;
        overflow:hidden;
        margin:0 auto;
        position:relative;
        left:60px;
        top:-220px;
    }
    .index-link ul,.index-link ul li,.index-link ul li > div {
        height:572px;
    }
    
    .index-link ul {
        width:20000px;
        position:absolute;
        left:0;
        top:0;
    }
    
    .index-link li {
        width:255px;
        margin-left:86px;
        float:left;
    }
    
    .index-link li > div {
        height:345px;
        position:relative;
    }
    
    .index-link li > div > img {
        display:block;
        position:absolute;
        bottom:0;
        left:-30px;
        height:400px;
    }
    
    .index-link li > a {
        display:block;
        width:158px;
        height:50px;
        font-size:16px;
        color:#a3bcd0;
        line-height:50px;
        margin-left:50px;
        overflow:hidden;
    }

    .index-link li > a p {
        text-align:center;
    }
    
    .index-link li > a i,.index-link li > a span {
        float:left;
    }
    
    .index-link li > a i {
        width:20px;
        height:20px;
        margin:15px 12px 0 27px;
    }
     // 首页按钮
    .index-link_vi li>a{
        width:200px !important;
        i{
            margin: 15px 2px 0 11px !important;
        }
    }
    
    .index-btn{
        display:block;
        position:absolute;
        width:28px;
        height:68px;
        cursor:pointer;
        opacity:0.8;
    }
    
    .box_sizeing {
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -o-box-sizing:border-box;
    }
    
    .index-btn:hover{
        opacity:1;
    }
    .index-btn-left {
        left:0;
        background-position:-10px 0;
    }
    .index-btn-right{
        right:0;
        background-position:-69px 0;
    }
    
}