.theme28 {
  width: auto !important;
  /*真人视讯*/
  .join-return {
    display: none;
  }

  .SbtnService,
  .SbtnFree {
    display: none !important;
  }

  .live-content {
    min-height: 1000px;
    max-height: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 150px;

    .live-left-bg {
      width: 100%;
      //   height:100%;
      position: absolute;
      top: 238px;
      left: 0;
      height: 937px;
    }

    .live-content-banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      font-size: 0;
      text-align: center;
      height: 0;

      video {
        display: none;
      }

      .sy28-live-video {
        display: block !important;
      }
    }

    .live-logo-page {
      position: relative;
      margin: auto;
      margin-top: 60px;
      z-index: 10;
      width: 1053px;

      .live-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .live-logo-top {
        display: none;
      }

      .live-logo-lists {
        width: 100%;
        min-height: 650px;
        overflow: hidden;

        li {
          width: 340px;
          height: 138px;
          line-height: 138px;
          text-align: center;
          display: block;
          // background: rgba(112,216,255,.2);
          margin-left: 16px;
          float: left;
          margin-bottom: 25px;
          cursor: pointer;
          position: relative;

          &:hover {
            // background: #70d8ff;
          }

          &:nth-child(3n + 1) {
            margin-left: 0;
          }

          a {
            width: 340px;
            height: 138px;
            line-height: 138px;
            text-align: center;
            display: block;
          }

          img {
            width: 100%;
            height: auto;
            vertical-align: middle;
          }
        }
      }

      .live-logo-footer {
        display: none;
      }
    }
  }

  /*真人视讯 end*/

  /*电子游戏*/
  .ele-content {
    padding-top: 730px;
    padding-bottom: 100px;
    margin-top: 100px;

    .ele-content-banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      height: 0;
      font-size: 0;
      text-align: center;

      video {
        display: none;
      }

      .sy28-ele-video {
        display: block !important;
        object-fit: fill;
      }
    }

    .ele-logo-page {
      margin: auto;
      position: relative;
      z-index: 10;
      width: 1200px;

      .ele-bg-theme {
        background: rgba(239, 239, 239, 1);
      }

      .ele-logo-main {
        .qc-tip {
          position: absolute;
          top: 40px;
          right: 0;
        }
      }

      .ele-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .ele-logo-top {
        overflow: hidden;

        h2 {
          float: left;
          width: 100%;
          border-bottom: 1px solid #a9a9a9;
          padding-bottom: 10px;
          font-size: 24px;
          color: #c63e0e;
          margin: 20px 0;
        }
      }

      .ele-logo-main {
        position: relative;

        .ele-logo-head {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid rgba(205, 204, 201, 1);
          align-items: center;
          padding: 14px 23px;
          background: rgba(48, 58, 73, 1);

          .ele-search-section,
          .ele-logo-top {
            display: inline-block;

            h2 {
              font-size: 26px;
              color: #fff;
            }
          }
        }

        .ele-vendor-lists {
          overflow: hidden;

          .ele-vendor-li {
            width: 200px;
            height: 67px;
            float: left;
            display: block;
            line-height: 67px;
            text-align: center;
            background: rgba(40, 40, 40, 0.8);
            box-sizing: border-box;
            border-right: 1px solid rgba(239, 239, 239, 1);
            margin-bottom: 1px;
            font-size: 0;
            cursor: pointer;
            position: relative;

            &.ele-vendor-expect {
              line-height: normal;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
            }

            img {
              width: 100%;
              height: auto;
              vertical-align: middle;
              max-width: 100%;
            }

            .ele-vendor-mask {
              display: flex;
              position: absolute;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.64);
              cursor: default;

              span {
                color: rgba(255, 255, 255, 1);
                font-size: 16px;
              }
            }

            &.tabAble:hover,
            .on {
              background: #d4775c;
            }
          }
        }

        .ele-search-section {
          // position: absolute;
          // top: -88px;
          // right: 0;

          .tip1 {
            clear: both;
          }
        }

        .ele-search {
          //   width: 266px;
          width: 320px;
          height: 46px;
          float: right;
          border-radius: 46px;
          background: #595d6d;

          .ele-search-btn {
            display: block;
            width: 30px;
            height: 46px;
            cursor: pointer;
            float: right;
            font-size: 0;
          }

          input {
            float: left;
            width: 290px;
            height: 46px;
            border: none;
            outline: none;
            background-color: transparent;
            text-indent: 16px;
            color: #919191;
            font-size: 16px;
            font-family: "PingFang Medium";

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
              font-size: 16px;
              color: #fff;
            }
          }
        }

        .ele-type-lists {
          width: 1200px;
          padding: 13px 0 28px 8px !important;

          dt {
            float: left;
            line-height: 16px;
            color: #000;
            font-size: 16px;
          }

          dd {
            float: left;
            line-height: 16px;
            padding-bottom: 10px;
            border-right: 1px solid rgba(102, 102, 102, 1);
            padding: 0 15px;
            height: 16px;
            line-height: 16px;
            margin-top: 15px;

            a {
              padding: 5px 10px;
              font-size: 16px;
              display: block;
              color: rgba(102, 102, 102, 1);
              margin-top: -5px;
            }

            &:last-child {
              border-right: none;
            }

            &.on,
            &:hover {
              a {
                padding: 5px 10px;
                background: #616b91;
                border-radius: 13px;
                color: #fff;
                margin-top: -5px;
              }
            }
          }
        }
      }

      .ele-logo-lists {
        margin: 0 30px;
        width: 1200px;

        .ele-logo-li {
          position: relative;
          float: left;
          margin-left: 10px;
          margin-bottom: 10px;
          width: 160px;
          height: 210px;
          // background: #bda280;
          overflow: hidden;
          border: 1px solid rgba(205, 204, 201, 1);
          padding: 10px;
          border-radius: 10px;

          a {
            display: block;
            text-align: center;
            text-align: -webkit-center;
            position: relative;
            cursor: default;

            p {
              height: 160px;
              width: 160px;
              overflow: hidden;
              display: flex;
              align-items: center;
            }

            b,
            img {
              transition: all 1s;
              -moz-transition: all 1s;
              -ms-transition: all 1s;
              -webkit-transition: all 1s;
              display: block;
              border-radius: 5px;
            }

            img {
              width: 160px;
              // height: 160px;
              max-width: 100%;
              margin: 0 auto;
            }

            b {
              font-weight: normal;
              width: 100%;
              height: 38px;
              line-height: 38px;
              text-align: center;
              font-size: 16px;
              text-align: center;
            }

            i.shadow {
              width: 100%;
              height: calc(100% - 38px);
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              background: #000;
              z-index: 1;
              cursor: pointer;
            }

            // span {
            //     display: block;
            //     position: absolute;
            //     left: 82px;
            //     top: 30px;
            //     opacity: 0;
            //     width: 69px;
            //     height: 46px;
            //     opacity: 0;
            //     z-index: 11;
            // }

            em {
              text-align: center;
              font-size: 16px;
              color: #fff;
              position: absolute;
              left: 30px;
              top: 65px;
              opacity: 0;
              border-radius: 36px;
              z-index: 900;
              border: 2px solid rgba(255, 255, 255, 1);
              padding: 5px 18px;
              cursor: pointer;
            }
          }

          &:hover {
            i.shadow {
              opacity: 0.7;
            }

            i {
              opacity: 0.7;
            }

            span {
              opacity: 1;
            }

            em {
              opacity: 1;
            }
          }
        }

        li:nth-of-type(6n + 1) {
          margin-left: 0;
        }
      }

      .ele-logo-footer {
        display: none;
      }
    }

    .number-page {
      margin: 10px auto 0;
    }
  }

  /*电子游戏 end*/

  /*体育博彩*/
  .sport-content {
    height: 1000px;

    .sport-content-banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      height: 0px;
      font-size: 0;
      text-align: center;

      video {
        display: none;
      }

      .sy28-sport-video {
        display: block !important;
        object-fit: fill;
      }
    }

    .sport-logo-page {
      position: relative;
      margin: auto;
      margin-top: 250px;
      z-index: 10;
      width: 1089px;
      min-height: 645px;

      .sport-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .sport-logo-top {
        display: none;
      }

      .sport-logo-lists {
        width: 1053px;
        min-height: 645px;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 18px;

        li {
          width: 340px;
          height: 138px;
          line-height: 138px;
          text-align: center;
          display: block;
          // background: rgba(112,216,255,.2);
          margin-left: 16px;
          float: left;
          margin-bottom: 25px;
          cursor: pointer;
          position: relative;

          &:hover {
            // background: #70d8ff;
          }

          &:nth-child(3n + 1) {
            margin-left: 0;
          }

          a {
            width: 340px;
            height: 138px;
            line-height: 138px;
            text-align: center;
            display: block;
          }

          img {
            width: 100%;
            height: auto;
            vertical-align: middle;
          }
        }
      }

      .sport-logo-footer {
        display: none;
      }
    }
  }

  /*体育博彩 end*/

  /*彩票投注*/
  .lottery-content {
    height: 814px;
    background-size: cover !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;

    .lottery-content-banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      height: 540px;
      font-size: 0;
      text-align: center;
      display: none;

      video {
        display: none;
      }

      .sy28-lottery-video {
        display: none !important;
        object-fit: fill;
      }
    }

    .lottery-logo-page {
      position: relative;
      padding-top: 150px;
      // float: right;
      // margin-right: 57px;
      z-index: 10;
      width: 1053px;
      // height: 707px;
      display: inline-block;

      .lottery-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .lottery-logo-top {
        display: none;
      }

      .lottery-logo-lists {
        width: 100%;
        overflow: hidden;

        li {
          width: 340px;
          height: 138px;
          line-height: 138px;
          text-align: center;
          display: block;
          float: left;
          margin-left: 16px;
          margin-bottom: 25px;
          cursor: pointer;
          position: relative;

          &:hover {
            // background: #70d8ff;
          }

          &:nth-child(3n + 1) {
            margin-left: 0;
          }

          a {
            width: 340px;
            height: 138px;
            line-height: 138px;
            text-align: center;
            display: block;
          }

          // img {
          //     width: 100%;
          //     height: auto;
          //     vertical-align: middle;
          // }
        }
      }

      .lottery-logo-footer {
        display: none;
      }
    }
  }

  /*彩票投注 end*/

  /*棋牌游戏*/
  //  .poker-content{
  //      height: 1000px;
  //      .poker-content-banner{
  //          position: relative;
  //          width: 100%;
  //          min-width: 1200px;
  //          font-size: 0;
  //          text-align: center;
  //          height: 540px;
  //          video{
  //              display: none;
  //          }
  //          .sy28-poker-video{
  //              display:block !important;
  //              object-fit:fill;
  //          }
  //      }
  //      .poker-logo-page{
  //          position: relative;
  //          margin: auto;
  //          margin-top: -280px;
  //          z-index: 10;
  //          width: 1000px;
  //          .poker-logo-banner{
  //              display: none;
  //              video{
  //                  display: none;
  //              }
  //          }
  //          .poker-logo-top{
  //              display:none;
  //          }
  //          .poker-logo-lists{
  //              width: 100%;
  //              min-height: 590px;
  //              overflow: hidden;
  //              padding-top: 20px;
  //              li{
  //                  width: 320px;
  //                  height: 130px;
  //                  line-height: 130px;
  //                  text-align: center;
  //                  display: block;
  //                  // background: rgba(112,216,255,.2);
  //
  //                  margin-left: 20px;
  //                  float: left;
  //                  margin-bottom: 20px;
  //                  cursor: pointer;
  //                  position: relative;
  //                  &:hover{
  //                      // background: #70d8ff;
  //                  }
  //                  &:nth-child(3n+1){
  //                      margin-left:0 ;
  //                  }
  //                  img{
  //                      width: 100%;
  //                      height: auto;
  //                      vertical-align: middle;
  //                  }
  //              }
  //          }
  //          .poker-KingLong, .poker-reversal{
  //              display: none;
  //          }
  //          .poker-logo-footer{
  //              display: none;
  //          }
  //          .poker-dynamic{
  //              display: none;
  //          }
  //      }
  //  }
  .poker-content {
    padding-top: 695px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 100px;
    // min-height: 900px;
    background-size: cover;
    text-align: center;
    // margin-top: -170px;

    &.sy28-poker-wrap {
      background-size: cover !important;
    }

    .poker-content-banner {
      display: none;

      .sy28-poker-video {
        display: block !important;
        object-fit: fill;
      }
    }

    .poker-logo-page {
      width: 980px;
      margin: 135px auto 0;
      position: relative;
      display: inline-block;

      .poker-logo-banner {
        display: none;
      }

      .poker-main-content {
        .poker-logo-banner {
          display: none;

          video {
            display: none;
          }
        }

        .poker-logo-top {
          display: none;

          h2 {
            display: none;
          }

          p {
            display: none;
          }
        }

        .poker-KingLong,
        .poker-common {
          display: none;
        }

        .poker-logo-footer {
          display: none;
        }
      }
    }
  }

  /*棋牌游戏 end*/

  /*新闻中心*/
  .news-content {
    height: 960px;
    background-size: 100% 100% !important;
    margin-top: 174px;

    .news-content-banner {
      width: 100%;
      height: 960px;
      margin: auto;

      video {
        display: none;
      }

      .index-content {
        display: none;
      }
    }

    .news-page {
      width: 1020px;
      margin: 0 auto;
      position: relative;
      margin-top: -850px;
      height: 780px;
      z-index: 10;

      .news-main-cont {
        height: 360px;
        position: relative;
        overflow: hidden;
        padding-right: 40px;
      }

      .news-page-banner {
        display: none;

        video {
          display: none;
        }
      }

      .news-main {
        .news-title-box {
          .news-title {
            height: 101px;

            .txt {
              display: none;
            }

            .desc {
              display: none;
            }
          }
        }

        .news-lists {
          width: 960px;
          margin: 0 auto;

          .news-li {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 170px;
            margin: 10px 0 0;

            .news-img {
              width: 354px;
              height: 170px;
              overflow: hidden;
              float: left;

              img {
                height: 100%;
                width: auto;
                max-width: 100%;
              }
            }

            &:hover {
              // background: #222;
            }

            .an-news {
              width: 530px;
              margin-left: 27px;
              float: left;

              .an-news-title {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 22px;
                color: #2a2e37;
              }

              .an-news-text {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                color: #2a2e37;
                line-height: 24px;
                font-size: 15px;
                height: 80px;
              }

              .an-news-bottom {
              }

              .an-news-date {
                color: #6c7383;
                font-size: 14px;
                vertical-align: top;
                line-height: 20px;
                background-size: contain;
                margin-top: 12px;
                float: left;
              }

              .an-news-btn {
                font-size: 0;
                margin-left: 30px;
                float: right;
                display: inline-block;
                height: 35px;
                width: 94px;
              }
            }
          }

          .news-li.news-li-JumpPage {
            // display: none;
          }

          .news-li.news-li-PopUp {
            display: none;
          }

          .news-li-ShowHide {
            display: none;
          }
        }
      }
    }
  }

  /*新闻中心 end*/

  /*新闻详情*/
  .news-detail-content {
    max-height: 1120px;
    min-height: 930px;
    background-size: 100% 100%;
    margin-top: 180px;

    .news-detail-banner {
      display: none;

      video {
        display: none;
      }
    }

    .news-detail-page {
      width: 1150px;
      position: absolute;
      top: 190px;
      left: 20%;
      z-index: 100;

      .news-detail-cont {
        position: relative;
      }

      .news-detail-top {
        position: absolute;
        right: 65px;
        top: 7px;

        h2 {
          display: none;
        }

        .back-btn {
          font-size: 0;
          display: inline-block;
          color: #f8d647;
          width: 93px;
          height: 36px;
          line-height: 36px;
          text-align: center;
        }
      }

      .news-detail-main {
        width: 1020px;
        margin: 50px auto 0;

        .news-detail-main-top {
          margin-top: 60px;
          text-align: center;
          border-bottom: 1px solid #dce5ef;

          .news-detail-title {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 24px;
            color: #022a3f;
          }

          .news-detail-time {
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            color: #5f6771;
            text-align: right;
          }
        }

        .news-detail-img {
          display: none;
        }

        .news-detail-main-cont {
          padding-top: 10px;
          padding-right: 40px;
          width: 960px;
          margin: 20px auto 0;
          height: 380px;
          position: relative;
          overflow: hidden;
        }

        .news-detail-text {
          color: #5f6771;
          font-size: 16px;
          line-height: 26px;
          word-break: break-all;
        }
      }
    }
  }

  /*新闻详情 end*/

  /*优惠活动*/
  .activity-content {
    position: relative;
    width: 100%;
    min-width: 1200px;
    font-size: 0;
    text-align: center;
    min-height: 900px;

    .activity-change-animation {
      position: absolute;
      height: 672px;
      width: 1200px;
      top: 215px;
      left: 50%;
      transform: translateX(-50%);
    }

    .activity-content-banner {
      video {
        display: none;
      }

      .index-content {
        .figure-img {
          display: none;
        }

        .text-img {
          display: none;
        }

        .enter-btn {
          display: none;
        }
      }

      .sy28-activity-video {
        display: block !important;
        object-fit: fill;
      }
    }

    .activity-page {
      width: 725px;
      // height: 530px;
      margin: 0 auto;
      position: relative;

      .activity-main-bg {
        // position:absolute;
        // top:-660px;
      }

      .activity-page-banner {
        display: none;

        video {
          display: none;
        }
      }

      .activity-title-box {
        .activity-title {
          width: 206px;
          height: 101px;

          .txt {
            display: none;
          }

          .desc {
            display: none;
          }
        }
      }

      .activity-main {
        .activity-lists {
          overflow: hidden;
          margin-left: -6px;

          .activity-li {
            display: block;
            float: left;
            margin: 0 0 13px 13px;

            img {
              width: 228px;
              height: 180px;
            }
          }

          .activity-li.activity-li-PopUp {
            display: none;
          }

          .activity-li.activity-li-JumpPage {
            // display: none;
          }

          .activity-li.activity-li-ShowHide {
            display: none;
          }
        }
      }
    }
  }

  /*优惠活动 end*/

  /*优惠活动详情*/
  .activity-detail-content {
    height: 1200px;

    .activity-detail-banner {
      video {
        display: none;
      }

      .index-content {
        display: none;
      }

      .sy28-activity-video {
        display: block !important;
        object-fit: fill;
      }
    }

    .activity-detail-page {
      position: absolute;
      height: 700px;
      width: 800px;
      top: 270px;
      left: 44%;

      .activity-detail-top {
        h2 {
          display: none;
        }

        .back-btn {
          font-size: 0;
          display: inline-block;
          color: #f8d647;
          width: 121px;
          height: 45px;
        }

        .details-return {
          display: none;
        }
      }

      .activity-detail-JumpPage {
        // display: none;
      }

      .activity-detail-ShowHide {
        display: none;
      }

      .activity-detail-page-box {
        width: 725px;
        margin: 50px auto 0;

        .activity-detail-JumpPage {
          width: 92%;
          height: auto;
          margin: 0 auto;
          overflow: hidden;
          position: relative;

          .activity-detail-top {
            position: absolute;
            right: 0;
            top: -10px;
          }
        }

        .activity-detail-main {
          .activity-detail-main-top {
            margin-top: 10px;
            text-align: left;

            .activity-detail-title {
              line-height: 45px;
              font-size: 20px;
              color: #022a3f;
              font-weight: bold;
            }

            .activity-detail-time {
              line-height: 20px;
              font-size: 14px;
              color: #6e7174;
            }
          }

          .activity-detail-img {
            display: none;
          }

          .activity-detail-text {
            font-size: 15px;
            color: #2a2e37;
            line-height: 26px;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 10px;
          }

          .activity-detail-main-cont {
            height: 400px;
            width: 97%;
            text-align: center;
            position: relative;
            padding-right: 2%;
            padding-top: 25px;
            overflow: hidden;
          }

          .activity-list-style {
            ol {
              margin-top: 1em;
              margin-bottom: 1em;
              padding-left: 20px;
              li {
                list-style: decimal;
                padding-left: 5px;
              }
            }

            ul {
              margin-top: 1em;
              margin-bottom: 1em;
              padding-left: 20px;
              li {
                list-style: disc;
                padding-left: 5px;
              }
            }

            em {
              font-style: italic;
            }

            blockquote {
              margin: 1em 3em;
              border-left: 4px solid #bbb;
              padding: 1em 0 1em 1.5em;
              font-style: italic;
            }
          }
        }
      }

      .activity-btn {
        display: block;
        margin: 20px auto;
        width: 120px;
        line-height: 30px;
        color: #fff;
        // background: rgba(55, 170, 204, 0.5);
        text-align: center;
        cursor: pointer;
      }
    }
  }

  /*优惠活动详情 end*/

  /*代理加盟*/
  .agent-content {
    height: 1267px;

    .agent-page {
      width: 1150px;
      height: 809px;
      position: absolute;
      top: 150px;
      left: 20%;

      .agent-title-box {
        overflow: hidden;

        .agent-title {
          width: 162px;
          height: 42px;
          margin: 7px 0 0 20px;
          float: left;

          .txt {
            display: none;
          }

          .desc {
            display: none;
          }
        }

        .btn {
          display: block;
          width: 225px;
          height: 59px;
          float: right;
          margin-top: 7px;
        }
      }

      .agent-main {
        width: 1000px;
        margin: 60px auto 0;

        .agent-top {
          margin-bottom: 30px;

          dt {
            font-size: 18px;
            font-weight: 600;
            color: #a5abff;
          }

          dd {
            color: #a5abff;
            font-size: 12px;
          }
        }

        .agent-tabs {
          width: 100%;
          margin-top: 10px;

          th,
          td {
            border: 1px solid #313244;
            font-size: 16px;
            padding: 10px 0;
            color: #c5c5fd;
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }
  }

  /*代理加盟表格*/
  .join-content {
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 110px;
    overflow: hidden;

    .join-content-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        width: 1200px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        -webkit-transform: translate(-50%);

        .figure-img {
          display: none;
        }

        .text-img {
          display: none;
        }

        .enter-btn {
          position: absolute;
          right: 0;
          transition: bottom 2s, opacity 5s;
          opacity: 1;
          bottom: 55%;

          .txt {
            display: block;
            min-width: 132px;
            height: 40px;
            line-height: 40px;
            color: #cbc9c9;
            font-size: 18px;
            border: 1px solid #8d8c8f;
            text-align: center;
            margin-top: 20px;
            float: right;
            text-decoration: none;
            margin-right: 30px;

            &:hover {
              border: 1px solid #9f3d26;
              background: rgba(53, 26, 27, 0.8);
              color: #9f3d26;
              font-weight: 700;
            }
          }
        }
      }
    }

    .join-steps {
      display: none;
    }

    .join-page {
      width: 1200px;
      margin: 17px auto 0;
      overflow: hidden;

      .join-main-content {
        overflow: hidden;
      }

      .join-cont-title {
        display: none;

        h2 {
          display: none;
        }

        .detail {
          display: none;
        }
      }

      .join-main {
        width: 953px;
        min-height: 776px;
        background-size: 100% 100%;
        float: right;
        margin-top: 180px;

        .join-main-title {
          margin: 26px 0 0 48px;

          .desc {
            font-size: 0;
            width: 95px;
            height: 23px;
          }

          h3 {
            display: none;
          }

          .detail {
            display: none;
          }
        }

        .join-main-cont {
          margin-top: 20px;
          position: relative;

          .a-j-lists {
            overflow: hidden;

            &:after {
              content: "";
              display: block;
              clear: both;
            }

            .a-j-left {
              float: left;
              margin-left: 38px;
            }

            .a-j-right {
              float: left;
              margin-left: 30px;
            }
          }
        }

        .webmaster-main-title {
          border-top: 1px solid #bfd1e2;
          width: 868px;
          margin: 30px auto 0;
          overflow: hidden;

          h3 {
            width: 100%;
            height: 1px;
            font-size: 0;
            border-top: 1px solid #fff;
          }

          .desc {
            float: left;
            width: 95px;
            height: 23px;
            font-size: 0;
            margin-top: 25px;
          }

          .detail {
            font-size: 16px;
            color: #333333;
            margin-left: 115px;
            line-height: 24px;
            padding: 15px 0;

            b {
              color: #4687df;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  /*代理加盟表格 end*/
  /*代理加盟 end*/

  /*联系我们*/
  .contact-content {
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 110px;

    .join-content-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        width: 1200px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        -webkit-transform: translate(-50%);

        .figure-img {
          display: none;
        }

        .text-img {
          display: none;
        }

        .enter-btn {
          position: absolute;
          right: 0;
          transition: bottom 2s, opacity 5s;
          opacity: 1;
          bottom: 55%;

          .txt {
            display: block;
            min-width: 132px;
            height: 40px;
            line-height: 40px;
            color: #cbc9c9;
            font-size: 18px;
            border: 1px solid #8d8c8f;
            text-align: center;
            margin-top: 20px;
            float: right;
            text-decoration: none;
            margin-right: 30px;

            &:hover {
              border: 1px solid #9f3d26;
              background: rgba(53, 26, 27, 0.8);
              color: #9f3d26;
              font-weight: 700;
            }
          }
        }
      }
    }

    .join-steps {
      display: none;
    }

    .join-page {
      width: 1200px;
      margin: 17px auto 0;
      overflow: initial;

      .join-main-content {
        margin-left: -90px;
      }

      .join-cont-title {
        display: block;
        position: relative;
        top: 95px;
        left: 250px;

        h2 {
          display: block;

          .txt {
            width: 112px;
            height: 26px;
            font-size: 0;
          }

          .desc {
            display: none;
          }
        }

        .detail {
          display: none;
        }
      }

      .join-main {
        width: 1089px;
        padding-left: 90px;
        min-height: 733px;
        background-size: 100% 100%;
        margin: 0 auto;
        float: none;
        margin-top: 180px;

        .join-main-title {
          margin: 26px 0 0 48px;

          .desc {
            font-size: 0;
            width: 95px;
            height: 23px;
          }

          h3 {
            display: none;
          }

          .detail {
            display: none;
          }
        }

        .join-main-cont {
          margin-top: 20px;
          position: relative;

          .a-j-lists {
            overflow: hidden;
            padding-top: 100px;

            &:after {
              content: "";
              display: block;
              clear: both;
            }

            .a-j-left {
              float: left;
              margin-left: 100px;
            }
          }
        }

        .webmaster-main-title {
          border-top: 1px solid #bfd1e2;
          width: 868px;
          margin: 30px auto 0;
          overflow: hidden;

          h3 {
            width: 100%;
            height: 1px;
            font-size: 0;
            border-top: 1px solid #fff;
          }

          .desc {
            float: left;
            width: 95px;
            height: 23px;
            font-size: 0;
            margin-top: 25px;
          }

          .detail {
            font-size: 16px;
            color: #333333;
            margin-left: 115px;
            line-height: 24px;
            padding: 15px 0;

            b {
              color: #4687df;
              font-weight: normal;
            }
          }
        }
      }
    }

    .a-j-lists .proxy-com textarea,
    .a-j-lists .proxy-com .proxy-line.code input {
      // margin-left: -4px;
    }
  }

  /*联系我们 end*/

  /*厂商介绍*/
  .partner-content-banner {
    display: none;
  }

  .partner-content {
    min-height: 900px;
    // background-size: 100% 100%;
  }

  /*厂商介绍 end*/

  /*关于我们*/
  .about-content {
    display: none;
    background-size: 100% 100%;
  }

  .about-content-60 {
    display: block;
  }

  .about-content .about-main {
    width: 1180px;
    height: 800px;
    margin: 0 auto;
  }

  .about-content .about-main > div {
    height: 580px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .about-content .about-main .main-center {
    width: 580px;
  }

  .about-content .about-main .about-img {
    padding-top: 80px;
  }

  .about-content .about-main h2 {
    text-align: center;
    font-size: 36px !important;
    line-height: 40px !important;
    color: #404a58;
    text-indent: 33px;
  }

  .about-content .about-main h3 {
    font-size: 22px;
    color: #404a58;
    line-height: 22px;
    margin: 30px 0 20px;
  }

  .about-content .about-main p {
    font-size: 14px;
    color: #404a58;
    line-height: 24px;
  }

  .about-content .about-main .mian-list li {
    display: inline-block;
    font-size: 14px;
    color: #404a58;
    line-height: 30px;
    margin-right: 60px;
    width: 130px;
  }

  .about-content .about-main .mian-list li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #c8cede;
    background: #23497a;
    border-radius: 2px;
  }

  // 关于我们十大选择
  .mian-list_en li,
  .mian-list_vi li {
    width: 215px !important;
  }

  /*关于我们 end*/

  .no-activity {
    text-align: center;
  }

  .no-activity-img {
    width: 423px;
    height: 316px;
    margin: 20px auto;
  }

  .no-activity span {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #5aa8de;
    text-align: center;
    letter-spacing: 6px;
  }

  .ps-container .ps-scrollbar-y {
    width: 25px;
  }

  //棋牌游戏进入游戏弹出的游戏列表
  .playMyGame-content {
    width: 1259px;
    margin: 0 auto;
    padding-top: 10px;

    .ele-logo-lists {
      margin-top: 30px;
      font-size: 14px;
      line-height: 26px;
      text-indent: 30px;
      vertical-align: top;
      overflow: hidden;

      .ele-logo-li {
        position: relative;
        display: block;
        width: 250px;
        overflow: hidden;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        height: 173px;

        a {
          display: block;
          text-align: center;
          text-align: -webkit-center;
          // background:rgba(217,223,227, .1);

          b,
          img {
            transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -webkit-transition: all 1s;
            display: block;
            height: 135px;
          }

          img {
            width: auto;
            height: 135px;
            max-width: 100%;
            margin: 0 auto;
          }

          b {
            font-weight: 400;
            width: 100%;
            height: 38px;
            line-height: 38px;
            text-align: center;
            color: #8aa7b7;
            font-size: 16px;
            background: #3e4b52;
            text-indent: 0;
          }

          i.shadow {
            width: 100%;
            height: 135px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            background: #000;
            z-index: 9;
          }

          span {
            display: block;
            position: absolute;
            left: 93px;
            top: 30px;
            width: 69px;
            height: 46px;
            opacity: 0;
            z-index: 10;
          }

          em {
            text-align: center;
            font-size: 16px;
            color: #fff;
            position: absolute;
            left: 65px;
            top: 80px;
            opacity: 0;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            z-index: 9;
          }

          &:hover {
            i {
              opacity: 0.7;
            }

            span {
              opacity: 1;
            }

            em {
              opacity: 1;
            }
          }
        }

        &:hover {
          i.shadow {
            opacity: 0.7;
          }
        }
      }

      li:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}
