<template>
  <div class="tutorial_cont">
    <div class="banner">
      <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/tutorial.mp4'"
        class="sy15-news-video news-banner-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
      <ul class="banner_ul">
        <li>{{$t('message.tutorial_common_problem')}}</li>
        <li>{{$t('message.tutorial_betting_skills')}}</li>
        <li>{{$t('message.tutorial_game_rules')}}</li>
      </ul>
    </div>

    <!-- 第二版banner -->
    <div class="tutorial_banner2 hides">
      <p class="tutorial_banner2_tit">{{$t('message.foot_novice_course')}}</p>
      <div class="tutorial_banner2_ul">
        <div @click="tutorial_banner2(2)">{{$t('message.tutorial_game_rules')}}</div>
        <div @click="tutorial_banner2(3)">{{$t('message.tutorial_common_problem')}}</div>
        <div @click="tutorial_banner2(1)">{{$t('message.tutorial_betting_skills')}}</div>
      </div>
      <!-- 粒子组件容器 -->
      <div class="particlesWrap"></div>
    </div>

    <div class="tutorialbox tutorialboxBanner2">
      <div class="tutorial-content">
        <ul class="tutorial-navs">
          <div class="tralNav-thirtyThree hides">
            <span>{{$t('message.foot_novice_course')}}</span>
            <i></i>
          </div>
          <!--33版部分 -->
          <!-- <li :class="navs==1?'on':''" @click="switchNav(1)">
            <i class="tutorial_navs_icon1"></i>
            <div>
              <span class="tutorial_tit">
                <span>{{$t('message.tutorial_betting_skills')}}</span>

              </span>
              <span class="tutorial_tit_el">BETTING SKILLES</span>
            </div>
          </li>

          <li :class="navs==2?'on':''" @click="switchNav(2)">
            <i class="tutorial_navs_icon2"></i>
            <div>
              <span class="tutorial_tit">
                <span>{{$t('message.tutorial_game_rules')}}</span>

              </span>
              <span class="tutorial_tit_el">RULE OF GAME</span>
            </div>
          </li>-->

          <li class="on">
            <i class="tutorial_navs_icon3"></i>
            <div>
              <span class="tutorial_tit">
                <span>{{$t('message.tutorial_common_problem')}}</span>
              </span>
              <span class="tutorial_tit_el">COMMON PROBLEM</span>
            </div>
          </li>
        </ul>

        <div class="tutorial-main clearfix tutorial_noMT">
          <!--投注技巧-->
          <betting-skills style="display:none"></betting-skills>
          <!--游戏规则-->
          <game-rules style="display:none"></game-rules>
          <!--常见问题-->
          <common-problem></common-problem>
        </div>
      </div>
    </div>
    <!-- 详情弹窗 -->
    <tutorial-detail :title="detailTit" :content="detailCont" v-show="false"></tutorial-detail>
  </div>
</template>

<script>
import { tutorial } from "@/mod/k03/assets/scripts/comTest/main/tutorial/tutorial"

export default {
  mixins: [tutorial]
}
</script>
