<template>
  <div class="details_title_up">
    <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+$MessageLang+'/details_title1.png?VersionCode'"
    />
    <a href="javascript:void(0);" @click="ReturnBack();">
      <img
        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/promotion/details_return.png?VersionCode'"
      />
      <span>{{$t('message.activity_return')}}</span>
    </a>
  </div>
</template>

<script>
export default {
  methods: {
    ReturnBack: function() {
      console.log(this.$route.params.ID);
      if (this.$route.params.ID) {
        this.$router.push({
          name: 'ActivityList'
        });
        return;
      }
      window.history.go(-1);
    }
  }
};
</script>
