<template>
  <div class="active_banner activity-page-banner">
    <!-- <video src="" autoplay="autoplay" width="100%" loop="loop" muted></video> -->
    <a href="javascript:void(0);" class="banner_arrow_btn banner_prev"></a>
    <a href="javascript:void(0);" class="banner_arrow_btn banner_next"></a>
    <div>
      <div class="bd" style="position: relative; width: 1170px; height: 335px;">
        <div class="swiper-container" style="width: 1170px; height: 335px;">
          <!-- <ul class="swiper-wrapper">
            <li class="swiper-slid" v-for="(Item,index) in LoadMainPageDataModel.BannerActivityList" :key="index">
              <a @click="UrlRedirectDetail(Item);">
                <img class="pic" :src="Item.ActLogo" onerror=''/>
              </a>
            </li>
          </ul>-->
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="(Item,index) in LoadMainPageDataModel.BannerActivityList"
              :key="index"
            >
              <a @click="UrlRedirectDetail(Item);">
                <img class="pic" :src="Item.ActLogo" onerror />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_point swiper-pagination">
        <!-- <a href="javascript:void(0);" v-for="Item in LoadMainPageDataModel.BannerActivityList"></a> -->
      </div>
    </div>
  </div>
</template>

<script>
import { ActivityListBanner } from '@/assets/scripts/comTest/main/activity/activityListBanner.js';
export default {
  mixins: [ActivityListBanner]
};
</script>
