<template>
  <div class="activity-page-banner">
    <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
  </div>
</template>

<script>
import { ActivityListBanner } from "@/mod/k14/assets/scripts/comTest/main/activity/activityListBanner.js"
export default {
  mixins: [ActivityListBanner]
}
</script>
