<template>
  <div class="deposit_apply" id="depositRecord" :class="'deposit_apply_'+$MessageLang">
    <div name="PhoneNoForm" class="purple_cont">
      <!-- <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_deposit_orders')}}
      </h2>-->
      <ul class="psl_guide">
        <li data-num="0" class="hasblock">
          <a href="javascript:void(0);">{{$t('message.member_deposit_orders')}}</a>
          <i></i>
        </li>
      </ul>
      <div class="record_query">
        <span class="record-query-name">{{$t('message.member_hour')}}：</span>
        <datepicker
          class="common-query-put record-query-put message-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.StartTime"
          format="yyyy/MM/dd"
          calendar-class="startdate_calendar"
          :disabled="CalendarDisabled"
          :placeholder="$t('message.member_start_time')"
        ></datepicker>
        <span class="record-query-name line">—</span>
        <datepicker
          class="common-query-put record-query-put message-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.EndTime"
          format="yyyy/MM/dd"
          calendar-class="enddate_calendar"
          :disabled="CalendarDisabled"
          :placeholder="$t('message.member_ending_time')"
        ></datepicker>
        <span class="record-query-name" style="padding-left:10px;">{{$t('message.member_state')}}：</span>
        <div class="common-query-put down record-drop message-query-put">
          <div class="d_course" @click="ShowDropDown()">{{statusName}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box down_box1" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="(deposit,index) in TransTypeSList"
              :key="index"
              @click="selectStatus(deposit)"
            >{{deposit.Name}}</a>
          </div>
        </div>
        <a
          class="blue_sm search_a"
          style="cursor: pointer;position: inherit;float: left;"
          @click="searchData"
        >{{$t('message.member_search')}}</a>
        <div class="record_agency_error">
          <span
            class="tip1"
            v-show="Submitted === true && TimeSequenceInvalid === true"
            style="top: 55px;"
          >{{$t('message.member_greater_than')}}</span>
        </div>
      </div>
      <div class="apply_table table_block purple_cont">
        <div class="table5_h_cont" id="scroll_table6">
          <table>
            <thead>
              <tr>
                <th class="w_3">{{$t('message.member_order_number')}}</th>
                <th class="w_2">{{$t('message.member_transaction_time')}}</th>
                <th class="w_2">{{$t('message.member_deposit_amount')}}</th>
                <th class="w_2">{{$t('message.member_deposit_method')}}</th>
                <th class="w_2">{{$t('message.member_service_charge')}}</th>
                <th class="w_2">{{$t('message.person_discountedPrice')}}</th>
                <th class="w_4">{{$t('message.member_state')}}</th>
                <th class="w_5">{{$t('message.agent_remarks')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(Log,index) in DepositOrderList"
                :key="index"
                :class="'DepositOrderRecord'+$MessageLang"
              >
                <td>{{Log.OrderNo}}</td>
                <td>
                  <p
                    style="display: inline;"
                  >{{Log.CreateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
                </td>
                <td style="color: #45bd25;">+{{Log.DepositAmt}}</td>
                <td>{{Log.PaymentMethodName}}</td>
                <td>{{Log.CashFeeAmt}}</td>
                <td>{{Log.BonusAmount}}</td>
                <td>{{Log.OrderStatusName}}</td>
                <el-tooltip :content="Log.Remark" placement="top" v-if="Log.Remark!=''">
                  <td :title="Log.Remark">{{Log.Remark | simpleContent(12)}}</td>
                </el-tooltip>
                <td :title="Log.Remark" v-else>{{Log.Remark | simpleContent(12)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--分页-->
        <paginate :PageCount="PageCount" :PageNo="DisplayQueryObj.PagingInfo.PageNo"></paginate>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import Paginate from '@/components/sub/paginate';
import CommUtility from 'scripts/common/CommUtility';
import Datepicker from '@/components/main/common/datePicker';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
export default {
  data() {
    return {
      QueryDepositRecord: {
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        }
      },
      // 请求存款记录所需要的字段名称 2019.04.22 SeyoChen
      QueryConditions: {
        PagingInfo: {
          PageSize: 10,
          PageNo: 1
        }
      },
      RecordShow: true,
      PageCount: undefined,
      DisplayQueryObj: {
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        },
        StartTime: new Date(),
        EndTime: new Date(),
        OrderStatus: -1
      },
      CalendarDisabled: {
        from: new Date(
          moment()
            .utcOffset(480)
            .add(1, 'days')
            .format('YYYY/MM/DD')
        ) // Disable all dates after specific date
      },
      statusName: this.$t('message.agency_whole'),
      TransTypeSList: [],
      DropDowning: false,
      DepositOrderList: [],
      TimeSequenceInvalid: false,
      Submitted: false
    };
  },
  created: function() {
    this.TransTypeSList = [
      { Name: this.$t('message.agency_whole'), Value: -1 },
      { Name: this.$t('message.personal_pending'), Value: 1 },
      { Name: this.$t('message.personal_completed'), Value: 2 },
      { Name: this.$t('message.personal_Cancelled'), Value: 3 }
    ];
    this.GetCurrentPageData(1);
  },
  mounted() {
    // 滚动条
    $('#scroll_table6').perfectScrollbar();
  },
  methods: {
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;

      // 開始時間未選
      if (this.DisplayQueryObj.StartTime === undefined) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (this.DisplayQueryObj.EndTime === undefined) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期

      this.DisplayQueryObj.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + ' 00:00:00'
      );
      this.DisplayQueryObj.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + ' 23:59:59',
        true
      );
      if (
        this.DisplayQueryObj.StartTime !== undefined &&
        this.DisplayQueryObj.EndTime !== undefined
      ) {
        if (this.DisplayQueryObj.StartTick > this.DisplayQueryObj.EndTick) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }
      // 類型未選
      return anyInvalid;
    },
    // 切换状态值
    selectStatus(BettingType) {
      this.statusName = BettingType.Name;
      this.DisplayQueryObj.OrderStatus = Number(BettingType.Value);
      this.ShowDropDown();
    },
    // 顯示紀錄類型選單
    ShowDropDown: function() {
      if (this['DropDowning'] === false) {
        $('.down_box').slideDown(300);
        this['DropDowning'] = true;
      } else {
        $('.down_box').slideUp(300);
        this['DropDowning'] = false;
      }
    },
    // 搜索
    searchData() {
      this.Submitted = true;
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true) {
        return;
      } // end if
      this.GetCurrentPageData(1);
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    // 關閉彈窗
    HideEditPhone: function() {
      CommUtility.WebClosealertboxForm('depositRecord');
    }, // end HideEditPhone

    // 查詢紀錄
    GetCurrentPageData: async function(pageNo) {
      // 获取存款记录 2019.04.18 SeyoChen
      this.QueryConditions.AcctList = localStorage.getItem('Acct');
      this.DisplayQueryObj.PagingInfo.PageNo = pageNo;
      this.DisplayQueryObj.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + ' 00:00:00'
      );
      this.DisplayQueryObj.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + ' 23:59:59',
        true
      );
      const retData = await PersonalCenterService.Deposit_Record(
        this.DisplayQueryObj
      );
      console.log('retData存款记录');
      console.log(this.DisplayQueryObj);
      console.log(retData);
      console.log('retData存款记录');
      if (retData.Ret === 0) {
        this.DepositOrderList = retData.Data.DepositOrderList;
        this.RecordShow = false;
        this.PageCount = Math.ceil(
          retData.Data.PagingInfo.TotalCount /
            this.DisplayQueryObj.PagingInfo.PageSize
        );
      }
    } // end GetCurrentPageData
  },
  components: {
    datepicker: Datepicker,
    Paginate
  }
};
</script>
<style lang="less" scoped>
.deposit_apply {
  &#depositRecord {
    width: 100% !important;
    table {
      width: 100% !important;
    }
    .phone_title {
      font-size: 20px;
    }
    .record-query-name {
      // float:left;
      // padding:10px;
    }
  }
}
</style>
