<template>
  <div>
    <div class="record_guide purple_cont">
      <ul class="psl_guide">
        <li data-num="0" class="hasblock">
          <a href="javascript:void(0);">{{ $t("message.member_station_information") }}</a>
          <i></i>
        </li>
      </ul>
    </div>
    <div class="purple_cont" style="min-height: 590px;">
      <div class="all_information">
        <div>
          <div id="PrivateMessageQueryForm" class="record_query record_query2" style="padding-left: 10px;">
            <span class="record-query-name">{{ $t("message.member_hour") }}：</span>
            <datepicker
              class="common-query-put message-query-put"
              :language="$MessageLang"
              v-model="DisplayQueryObj.StartTime"
              format="yyyy/MM/dd"
              calendar-class="startdate_calendar"
              :disabled="this.CalendarDisabled"
              :placeholder="$t('message.member_start_time')"
              @selected="selectedStart"
            ></datepicker>
            <span class="record-query-name line">—</span>
            <datepicker
              class="common-query-put message-query-put"
              :language="$MessageLang"
              v-model="DisplayQueryObj.EndTime"
              format="yyyy/MM/dd"
              calendar-class="enddate_calendar"
              :disabled="this.CalendarDisabled"
              :placeholder="$t('message.member_ending_time')"
              @selected="selectedEnd"
            ></datepicker>
            <span class="record-query-name" style="margin-left: 10px;">{{ $t("message.member_type") }}：</span>
            <div class="down record-drop">
              <div class="d_course" @click="ShowDropDown()">
                {{ DisplayQueryObj.MessageType.Name | simpleContent(13) }}
              </div>
              <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'" />
              <div class="down_box">
                <a
                  class="down_list"
                  v-for="(MessageType, index) in this.MessageTypeList"
                  :key="index"
                  @click="SelectType(MessageType)"
                  >{{ MessageType.Name }}</a
                >
              </div>
            </div>
            <span class="record-query-name" style="margin-left: 10px;">{{ $t("message.member_keyword") }}</span>
            <input
              type="text"
              name="PMKeyWord"
              v-model="QueryConditions.TitleKeyWord"
              v-validate="{ rules: { regex: Reg.PMKeyWord } }"
              :placeholder="$t('message.member_title_keywords')"
              class="keyword"
            />
            <a
              class="blue_sm"
              style="float: left; margin-left: 5px; line-height: unset;"
              href="javascript:void(0);"
              @click="UpdateQueryCondition()"
              >{{ $t("message.member_search") }}</a
            >
          </div>
          <div class="record_query_error">
            <span
              v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
              style="margin-left: 70px; font-size: 12px; color: #ed5650;"
              >{{ $t("message.member_greater_than") }}</span
            >
            <span
              v-show="errors.has('PMKeyWord') && fields.PMKeyWord.touched"
              style="top: 115px; left: 560px; font-size: 12px; color: #ed5650; position: absolute;"
              >{{ $t("message.member_number_blank") }}</span
            >
          </div>
        </div>
      </div>
      <div class="information_box clearfix">
        <member-private-message-table
          :ReadStatusList="this.ReadStatusList"
          ref="messageTable"
        ></member-private-message-table>
        <!--分页-->
        <paginate
          v-if="ShowPage"
          :PageCount="this.PageCount"
          :PageNo="QueryConditions.PagingInfo.PageNo"
          style="margin-top: 30px;"
        ></paginate>
      </div>
      <member-private-message-detail></member-private-message-detail>
    </div>
  </div>
</template>

<script>
import moment from "moment"
import EventBus from "scripts/common/EventBus"
import RegEx from "scripts/common/CommDef"
import Datepicker from "@/components/main/common/datePicker"
// import Datepicker from 'vuejs-datepicker';
import BLDef from "scripts/common/BLDef"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import CommUtility from "scripts/common/CommUtility"
import Paginate from "@/components/sub/paginate"
import MemberPrivateMessageTable from "@/components/sub/memberNew/privateMessage/memberPrivateMessageTable"
import MemberPrivateMessageDetail from "@/components/sub/memberNew/privateMessage/memberPrivateMessageDetail"

export default {
  data() {
    return {
      // 正則表達式
      Reg: RegEx.Regex,
      // DisplayMode: 1,
      Submitted: false,
      DropDowning: false,
      TimeSequenceInvalid: false,
      DisplayQueryObj: {
        StartTime: moment(new Date()).add(-1, "month").utcOffset(480).format("YYYY/MM/DD"),
        EndTime: moment(new Date()).utcOffset(480).format("YYYY/MM/DD"),
        MessageType: {}
      },
      QueryConditions: {
        PrivateMessageType: -1,
        TitleKeyWord: "",
        PagingInfo: {
          PageSize: -1,
          PageNo: 1
        }
      },
      MessageTypeList: [],
      ReadStatusList: [],
      CalendarDisabled: {
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds")) // Disable all dates after specific date
      },
      PageCount: 0,
      PageSize: 5,
      ShowPage: false
    }
  },
  mounted: function () {
    this.BindingEvent()
    this.GetMessageType()
    CommUtility.BindEnterTrigger("PrivateMessageQueryForm", this.UpdateQueryCondition)
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      // let startDate = new Date(this.dateFormat(date) + ' 00:00:00')
      this.DisplayQueryObj.StartTime = date
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      // let endDate = new Date(this.dateFormat(date) + ' 15:59:59')
      this.DisplayQueryObj.EndTime = date
      this.CheckFied()
    },
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    BindingEvent: function () {
      document.addEventListener("click", this.HideDropDown)
    },
    GetMessageType: async function () {
      const data = await PersonalCenterService.PrivateMessage_LoadMainPage()

      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.MessageTypeList = data.Data.PrivateMessageTypeList
        this.ReadStatusList = data.Data.PrivateMessageReadStatusList
        this.DisplayQueryObj.MessageType = data.Data.PrivateMessageTypeList[0]
        this.QueryConditions.PrivateMessageType = data.Data.PrivateMessageTypeList[0]
        this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime)
        this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime, true)
        this.GetDataList()
        this.$refs.messageTable.AddBorderState(0)
      }
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this.DropDowning === false) {
        $(".down_box").slideDown(300)
        this.DropDowning = true
      } else {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    // 選取紀錄類型
    SelectType: function (MessageType) {
      this.DisplayQueryObj.MessageType = MessageType
    },
    // 點擊搜索，更新搜尋條件
    UpdateQueryCondition: async function () {
      this.Submitted = true
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      const anyFieldInvalid = this.CheckFied()

      if (anyFieldInvalid === true || result === false) {
        return
      }
      this.QueryConditions.PagingInfo.PageNo = 1
      this.QueryConditions.PrivateMessageType = this.DisplayQueryObj.MessageType
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.StartTime)
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(this.DisplayQueryObj.EndTime, true)
      // this.GetMessageType();
      this.$refs.messageTable.AddBorderState(0)
      this.GetDataList()

      // 点击搜索时清空信息详情 20190814 seyochen
      EventBus.$emit("PrivateMessage_UpdateDetail", "")
    },
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      // 開始日期大於結束日期
      if (new Date(this.DisplayQueryObj.StartTime) > new Date(this.DisplayQueryObj.EndTime)) {
        this.TimeSequenceInvalid = true
        anyInvalid = true
      }
      return anyInvalid
    },
    // 切換頁面時進行原條件搜尋
    // GetCurrentPageData: async function (pageNo) {
    //   if (pageNo !== undefined) {
    //     this.QueryConditions.PagingInfo.PageNo = pageNo;
    //   }
    //   EventBus.$emit('GlobalLoadingTrigger', true);
    //   const data = await PersonalCenterService.PrivateMessage_Query(
    //     this.QueryConditions
    //   );
    //   EventBus.$emit('GlobalLoadingTrigger', false);
    //   EventBus.$emit('PrivateMessage_UpdateList', data.Data.PrivateMessageList);
    //   this.PageCount = Math.ceil(
    //     data.Data.PagingInfo.TotalCount /
    //       this.QueryConditions.PagingInfo.PageSize
    //   );
    // }, // end GetCurrentPageData

    // ********************************************************************************************
    GetCurrentPageData: async function (pageNo) {
      EventBus.$emit("PrivateMessage_UpdatePageNo", pageNo)
    }, // end GetCurrentPageData

    // 獲得清單
    GetDataList: async function () {
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.PrivateMessage_Query(this.QueryConditions)

      // 判断该选项分页数据是否为空 2019.07.06 SeyoChen
      if (data.Data.PrivateMessageList.length !== 0) {
        this.ShowPage = true
      }
      // 判断该选项分页数据是否为空 2019.07.06 SeyoChen end

      EventBus.$emit("GlobalLoadingTrigger", false)
      EventBus.$emit("PrivateMessage_UpdateList", data.Data.PrivateMessageList)
      this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.PageSize)
    }, // end GetDataList
    // ***********************************************************************************************

    SwitchMode: function (Mode) {
      this.DisplayMode = Mode
    }
  },
  components: {
    MemberPrivateMessageTable,
    MemberPrivateMessageDetail,
    Datepicker,
    Paginate
  }
}
</script>
