<template>
  <div class="record-content">
    <div class="record_guide purple_cont">
      <ul class="psl_guide">
        <!--資金往來查詢-->
        <li :class="QueryType == 'CashFlow'? 'hasblock':''" @click="ChangeQueryType('CashFlow')">
          <a>{{$t('message.member_exchange_inquiry')}}</a>
          <i></i>
        </li>
        <!--投注記錄查詢-->
        <!-- <li
          :class="QueryType == 'BettingRecord'? 'hasblock':''"
          @click="ChangeQueryType('BettingRecord')"
        >
          <a>{{$t('message.member_record_query')}}</a>
          <i></i>
        </li>-->
        <!--未派彩投注记录-->
        <!-- <li
          :class="QueryType == 'BettingRecordNone'? 'hasblock':''"
          @click="ChangeQueryType('BettingRecordNone')"
        >
          <a>{{$t('message.member_unassigned_color')}}</a>
          <i></i>
        </li>-->
      </ul>
    </div>
    <div class="purple_cont" style="min-height: 376px;">
      <div id="recordQueryForm" class="record_query">
        <span class="record-query-name">{{$t('message.member_hour')}}：</span>
        <datepicker
          class="common-query-put record-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.StartTime"
          format="yyyy/MM/dd"
          calendar-class="startdate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_start_time')"
          @selected="selectedStart"
        ></datepicker>
        <span class="record-query-name line">—</span>
        <datepicker
          class="common-query-put record-query-put"
          :language="$MessageLang"
          v-model="DisplayQueryObj.EndTime"
          format="yyyy/MM/dd"
          calendar-class="enddate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_ending_time')"
          @selected="selectedEnd"
        ></datepicker>
        <span class="record-query-name" style="margin-left: 20px;">{{$t('message.member_type')}}：</span>

        <!--資金往來下拉式選單-->
        <div class="down record-drop" v-show="QueryType == 'CashFlow'" style="width: 210px;">
          <div
            class="d_course"
            @click="ShowDropDown()"
            :title="DisplayQueryObj.Type.Name"
          >{{DisplayQueryObj.Type.Name | simpleContent(20)}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="TransType in this.TransTypeSList"
              @click="SelectType(TransType)"
            >{{TransType.Name}}</a>
          </div>
        </div>
        <!--投注記錄下拉式選單-->
        <div
          class="down record-drop"
          v-show="QueryType == 'BettingRecord' || QueryType == 'BettingRecordNone'"
          style="width: 210px;"
        >
          <div
            class="d_course"
            @click="ShowDropDown()"
            :title="DisplayQueryObj.Type.Name"
          >{{DisplayQueryObj.Type.Name | simpleContent(20)}}</div>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
          />
          <div class="down_box" style="display: none;max-height:300px;">
            <a
              class="down_list"
              v-for="BettingType in this.BettingTypeList"
              @click="SelectType(BettingType)"
            >{{BettingType.Name}}</a>
          </div>
        </div>
        <a
          class="blue_sm search_a"
          style="cursor: pointer;position: inherit;"
          @click="UpdateQueryCondition()"
        >{{$t('message.member_search')}}</a>
      </div>

      <div class="record_query_error" style="position: relative;font-size: 12px;">
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.StartTime === undefined"
          style="top: -30px;color: #ed5650;left: 66px;position:absolute"
        >{{$t('message.member_starting_date')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="top: -30px;color: #ed5650;left: 66px;position:absolute"
        >{{$t('message.member_greater_than')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.EndTime === undefined"
          style="top: -30px;color: #ed5650;left: 320px;position:absolute"
        >{{$t('message.member_end_date')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.DisplayQueryObj.Type.Value === '-2'"
          style="top: -30px;color: #ed5650;left: 595px;position:absolute"
        >{{$t('message.member_options_empty')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.dateTimeInterval === true"
          style="top: -30px;color: #ed5650;left: 86px;position:absolute"
        >{{$t('message.member_not_exceed')}}</span>
      </div>
      <member-record-table :RecordList="this.RecordList" v-show="QueryType == 'CashFlow'"></member-record-table>
      <member-record-betting-table
        :RecordList="this.RecordList"
        v-if="QueryType == 'BettingRecord'"
        :RecordTime="this.DisplayQueryObj"
        :QueryType="this.QueryType"
      ></member-record-betting-table>
      <member-record-betting-table-none
        :RecordList="this.RecordList"
        v-if="QueryType == 'BettingRecordNone'"
      ></member-record-betting-table-none>

      <!--分页-->
      <paginate :PageCount="this.PageCount" :PageNo="this.QueryConditions.PagingInfo.PageNo"></paginate>
    </div>
  </div>
</template>

<style>
.startdate_calendar {
  top: 40px;
}
.enddate_calendar {
  left: 0 !important;
  top: 40px;
}
</style>

<script>
import moment from 'moment';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import Datepicker from '@/components/main/common/datePicker';
// import Datepicker from 'vuejs-datepicker';
import Paginate from '@/components/sub/paginate';
import MemberRecordTable from '@/components/sub/memberNew/transactionRecord/memberRecordTable';
import MemberRecordBettingTable from '@/components/sub/memberNew/transactionRecord/memberBettingRecordTable';
import MemberRecordBettingTableNone from '@/components/sub/memberNew/transactionRecord/memberBettingRecordTableNone';
import EventBus from 'scripts/common/EventBus';

export default {
  data() {
    return {
      DropDowning: false,
      // 資金往來查詢下拉式選單
      TransTypeSList: [],

      // 投注記錄查詢下拉式選單
      BettingTypeList: [],

      // 设定初始值(当投注记录为空时无法切换--因此设定初始值) 2018.12.26 SeyoChen
      RetsetData: [
        { Key: '', Name: this.$t('message.member_classification_yet') }
      ],

      Submitted: false,
      TimeSequenceInvalid: false,

      dateTimeInterval: false,
      DisplayQueryObj: {
        StartTime: new Date(),
        EndTime: new Date(),
        Type: {}
      },

      // 搜尋類型
      QueryType: 'CashFlow',
      // 搜尋條件
      QueryConditions: {
        Type: -1,
        PagingInfo: {
          PageSize: 10
        },
        NoSettled: false
      },
      CalendarDisabled: {
        from: new Date(
          moment()
            .set('hour', 0)
            .set('minute', 0)
            .set('second', 0)
            .add(1, 'days')
            .add(-1, 'seconds')
        ) // Disable all dates after specific date
      },
      RecordList: [],
      PageCount: 0
    };
  },
  created: function() {
    this.BindingEvent();
    this.LoadPage();
  },

  mounted: function() {
    CommUtility.BindEnterTrigger('recordQueryForm', this.UpdateQueryCondition);
  },

  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true;
      let startDate = new Date(this.dateFormat(date) + ' 00:00:00');
      this.DisplayQueryObj.StartTime = startDate;
      this.CheckFied();
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true;
      let endDate = new Date(this.dateFormat(date) + ' 23:59:59');
      this.DisplayQueryObj.EndTime = endDate;
      this.CheckFied();
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    BindingEvent: function() {
      document.addEventListener('click', this.HideDropDown);
    },
    // 顯示紀錄類型選單
    ShowDropDown: function() {
      if (this.DropDowning === false) {
        $('.down_box').slideDown(300);
        this.DropDowning = true;
      } else {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },

    // 切換紀錄查詢種類
    ChangeQueryType: function(queryType) {
      this.QueryType = queryType;
      this.DisplayQueryObj.StartTime = new Date();
      this.DisplayQueryObj.EndTime = new Date();
      this.QueryConditions.Type = -1;
      if (this.QueryType === 'CashFlow') {
        this.DisplayQueryObj.Type = this.TransTypeSList[0];
      } else if (this.QueryType === 'BettingRecord') {
        this.DisplayQueryObj.Type = this.BettingTypeList[0];
      } else if (this.QueryType === 'BettingRecordNone') {
        this.DisplayQueryObj.Type = this.BettingTypeList[0];
      } // end if
    }, // end ChangeQueryType

    // 選取紀錄類型
    SelectType: function(Type) {
      this.DisplayQueryObj.Type = Type;
    },

    // 載入記錄查詢頁面
    LoadPage: async function() {
      const data = await PersonalCenterService.CashFlowLog_LoadMainPag();
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeSList = data.Data.TransTypeSList;
      } // end if

      const retData = await PersonalCenterService.BetLog_LoadMainPage();
      if (retData.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.BettingTypeList = retData.Data.GameApiTypeList;
      } else {
        // 2018.12.26 SeyoChen 投注记录查询bug
        this.BettingTypeList = this.RetsetData;
      } // end if
      // 類型給預設
      this.DisplayQueryObj.Type = data.Data.TransTypeSList[0];
      this.QueryConditions.Type = -1;
      this.DisplayQueryObj.StartTime = new Date();
      this.DisplayQueryObj.EndTime = new Date();
      this.GetCurrentPageData(1);
    },
    // 點擊搜索，更新搜尋條件
    UpdateQueryCondition: function() {
      this.Submitted = true;
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true) {
        return;
      } // end if
      console.log('444444444444444444444');
      console.log(this.QueryConditions);
      this.QueryConditions.PagingInfo.PageNo = 1;
      this.QueryConditions.Type = this.DisplayQueryObj.Type.Value;
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + ' 00:00:00'
      );
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + ' 23:59:59',
        true
      );
      EventBus.$emit('Paginate_ResetPageNo');
      this.GetCurrentPageData(1);
    },
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayQueryObj.StartTime === undefined) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (this.DisplayQueryObj.EndTime === undefined) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.DisplayQueryObj.StartTime !== undefined &&
        this.DisplayQueryObj.EndTime !== undefined
      ) {
        const st = new Date(this.DisplayQueryObj.StartTime).getTime();
        const dt = new Date(this.DisplayQueryObj.EndTime).getTime();
        const day = dt - st;
        if (Math.floor(day / (24 * 3600 * 1000)) > 31) {
          this.dateTimeInterval = true;
          anyInvalid = true;
        }

        if (
          new Date(this.DisplayQueryObj.StartTime) >
          new Date(this.DisplayQueryObj.EndTime)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }

      // 類型未選
      if (this.DisplayQueryObj.Type.Value === '-2') {
        anyInvalid = true;
      }
      return anyInvalid;
    },

    // 查詢紀錄
    GetCurrentPageData: async function(pageNo) {
      this.QueryConditions.PagingInfo.PageNo = pageNo;
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + ' 00:00:00'
      );
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + ' 23:59:59',
        true
      );

      let data;
      EventBus.$emit('GlobalLoadingTrigger', true);
      if (this.QueryType === 'CashFlow') {
        data = await PersonalCenterService.CashFlowLog_Query(
          this.QueryConditions
        );
      } else if (this.QueryType === 'BettingRecord') {
        this.QueryConditions.NoSettled = false;
        data = await PersonalCenterService.BetLog_Query(this.QueryConditions);
      } else if (this.QueryType === 'BettingRecordNone') {
        this.QueryConditions.NoSettled = true;
        data = await PersonalCenterService.BetLog_Query(this.QueryConditions);
      } // end if
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.RecordList = data.Data.LogList;
        this.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount /
            this.QueryConditions.PagingInfo.PageSize
        );
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } // end if
    } // end GetCurrentPageData
  },
  components: {
    MemberRecordTable,
    MemberRecordBettingTable,
    MemberRecordBettingTableNone,
    Datepicker,
    Paginate
  },

  watch: {
    QueryType: function() {
      // 搜尋條件和顯示重置
      this.DisplayQueryObj.StartTime = new Date();
      this.DisplayQueryObj.EndTime = new Date();
      this.QueryConditions.Type = -1;
      this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.DisplayQueryObj.StartTime
      );
      this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.DisplayQueryObj.EndTime,
        true
      );
      this.GetCurrentPageData(1);
      EventBus.$emit('Paginate_ResetPageNo');
      this.Submitted = false;
    }
  }
};
</script>
