<template>
  <div class="active_banner activity-page-banner">
    <!-- <video src="" autoplay="autoplay" width="100%" loop="loop" muted></video> -->
    <a href="javascript:void(0);" class="banner_prev"></a>
    <a href="javascript:void(0);" class="banner_next"></a>
    <div>
      <div class="bd">
        <ul style="position: relative; width: 1170px; height: 335px;">
          <li v-for="Item in LoadMainPageDataModel.BannerActivityList">
            <a @click="UrlRedirectDetail(Item);">
              <img class="pic" :src="Item.ActLogo" />
            </a>
          </li>
        </ul>
      </div>
      <div class="banner_point">
        <a href="javascript:void(0);" v-for="Item in LoadMainPageDataModel.BannerActivityList"></a>
      </div>
    </div>
  </div>
</template>

<script>
import { ActivityListBanner } from '@/assets/scripts/comTest/main/activity/activityListBanner.js';
export default {
  mixins: [ActivityListBanner]
};
</script>
