<template>
  <div>
    <!--遮罩-->
    <div
      class="transfer_cover alert_box_content mould_alert_box re_h"
      :class="'transfer_cover_' + $MessageLang"
      style="width: 420px;"
      id="agency_transfer"
    >
      <span class="alert_close" @click="HideIcome()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!--步骤一-->
      <div class="t_c_content">
        <h2 class="t_c_title">
          <span>{{$t('message.agency_transfer_operation')}}</span>
        </h2>
        <div class="t_c_main input_field" v-show="Step">
          <div class="t_c_item clearfix" style="position: relative;">
            <span class="input_lf">{{$t('message.agency_transfer_account')}}：</span>
            <div class="input_rt">
              <input
                type="text"
                v-model="TransData.Accont"
                placeholder
                name="Accont"
                @focus="ShowTip = false"
                v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
              />
              <i class="tip-box" v-show="errors.has('Accont') && fields.Accont.touched"></i>
              <i class="tip-error" v-show="errors.has('Accont') && fields.Accont.touched"></i>
              <i
                class="tip1"
                v-show="errors.has('Accont') && fields.Accont.touched"
              >{{$t('message.reg_english_letters')}}</i>
              <i
                class="tip-trans"
                v-show="this.ShowTip === true && !errors.has('Accont')"
              >{{$t('message.agency_no_member')}}</i>
            </div>
            <a class="agency_btn" @click="LoadAuthorizeUserList()">{{$t('message.agency_query')}}</a>
          </div>

          <div v-show="this.MemberList !== undefined && this.ShowTip === false">
            <div class="t_c_item clearfix">
              <span class="input_lf">{{$t('message.agency_convertible_amount')}}：</span>
              <span style="text-align: left;line-height:30px">{{this.MemberBalance}}</span>
            </div>
            <div class="t_c_item clearfix">
              <span class="input_lf">{{$t('message.agency_transfer_amount')}}：</span>
              <div class="input_rt">
                <input
                  type="text"
                  v-model="TransData.VAmount"
                  :placeholder="$t('message.agency_entertransfer_amount')"
                  name="VAmount"
                  v-validate="{ rules: { regex:Reg.MoneyAmount, required: true }}"
                />
                <i class="tip-box" v-show="errors.has('VAmount') && fields.VAmount.touched"></i>
                <i class="tip-error" v-show="errors.has('VAmount') && fields.VAmount.touched"></i>
                <i
                  class="tip1"
                  v-show="errors.has('VAmount') && fields.VAmount.touched && TransData.VAmount!==undefined"
                >{{$t('message.agency_greater_than')}}</i>
                <i
                  class="tip1"
                  v-show="this.TransData.VAmount > this.MemberBalance"
                >{{$t('message.agency_fill_again')}}</i>
              </div>
            </div>
            <div class="t_c_item clearfix">
              <span class="input_lf">{{$t('message.agency_remarks_information')}}：</span>
              <div class="text input_rt">
                <textarea
                  style="width: 100%;"
                  name="Remark"
                  v-model="TransData.Remark"
                  v-validate="{ rules: { regex:Reg.Remark }}"
                  rows="3"
                  cols="28"
                ></textarea>
              </div>
              <i
                class="tip1"
                style="margin-left: 80px;"
                v-show="errors.has('Remark')"
              >{{$t('message.agent_common_symbols')}}</i>
            </div>
          </div>
        </div>
        <div class="t_c_btn">
          <span @click="HideIcome()">{{$t('message.member_cancel')}}</span>
          <span @click="Next()">{{$t('message.agency_next_step')}}</span>
        </div>
      </div>

      <!--步骤二-->
      <div class="t_c_content" v-if="!Step">
        <h2 class="t_c_title">
          <span class="input_lf">{{$t('message.agency_transfer_confirmation')}}</span>
        </h2>
        <div class="t_c_main input_field">
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_transfer_amount')}}：</span>
            <span style="text-align: left;line-height:30px">{{this.TransData.VAmount}}</span>
          </div>
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_transfer_user')}}：</span>
            <span style="text-align: left;line-height:30px">{{this.TransData.Accont}}</span>
          </div>
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_remarks_information')}}：</span>
            <div class="text input_rt" style="margin-bottom: 10px;">
              <textarea
                style="width: 100%;"
                rows="3"
                cols="28"
                readonly
                :value="this.TransData.Remark"
              ></textarea>
            </div>
          </div>
          <div class="t_c_item clearfix">
            <span class="input_lf">{{$t('message.agency_wallet_password')}}：</span>
            <div class="input_rt">
              <input
                type="password"
                v-model="TransData.Password"
                name="MemberPsw"
                v-validate="{ rules: { regex:Reg.WithdrawPwd }}"
                :placeholder="$t('message.agency_capital_code')"
              />
              <i class="tip-box" v-show="errors.has('MemberPsw') && fields.MemberPsw.touched"></i>
              <i class="tip-error" v-show="errors.has('MemberPsw') && fields.MemberPsw.touched"></i>
              <i
                class="tip1"
                v-show="errors.has('MemberPsw') && fields.MemberPsw.touched"
              >{{$t('message.reg_use_numbers')}}</i>
              <i
                class="tip1"
                v-show="CurrentTranferPwdFlag && PwdErrCnt>0"
              >{{$t('message.member_transfer_pwd_tip')}}{{PwdErrCnt}}{{$t('message.member_transfer_lock')}}</i>
            </div>
          </div>
        </div>
        <div class="t_c_btn">
          <span @click="Prev()">{{$t('message.agency_last_step')}}</span>
          <span @click="AuthorizeUserTransactionAdd()">{{$t('message.agency_transfer_forward')}}</span>
        </div>
      </div>
    </div>

    <div id="MessageAccount" class="alert_box_content mould_alert_box re_h">
      <span class="alert_close" @click="HideWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p class="p_blue">{{NotifyMessage}}</p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="HideWindow()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<style lang="less" scope>
.transfer_cover_vi {
  .input_field > .t_c_item {
    .input_lf {
      width: 100px !important;
      line-height: 18px !important;
      text-align: left !important;
    }
  }
  .input_field .t_c_item {
    height: auto;
    min-height: 38px;
    .tip1 {
      width: 300px !important;
    }
  }
}
.transfer_cover_en {
  .input_field .t_c_item {
    height: auto;
    min-height: 38px;
    .tip1 {
      width: 300px !important;
    }
  }
}
</style>

<script>
import Regex from 'scripts/common/CommDef';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
export default {
  props: {
    MemberBalance: undefined
  },
  data () {
    return {
      Reg: Regex.Regex,
      AuthorizeUserTransactionList: [],
      Step: true,
      TransData: {
        Accont: undefined,
        VAmount: undefined,
        Remark: '',
        Password: undefined
      },
      MemberList: undefined,
      TipsShow: {
        Accont: false,
        MemberPsw: false
      },
      NotifyMessage: this.$t('message.agency_successful_operation'),
      ShowTip: undefined,
      ShowTimeError: false,
      Runing: false,
      CurrentTranferPwdErrCnt: undefined,
      CurrentTranferPwdFlag: false,
      PwdErrCnt: undefined
    };
  },
  methods: {
    AuthorizeUserTransactionAdd: async function () {
      this.CurrentTranferPwdErrCnt = localStorage.getItem('PwdErrCntNum');
      console.log(this.CurrentTranferPwdErrCnt);
      if (this.CurrentTranferPwdErrCnt >= 3) {
        this.Step = true;
        CommUtility.WebClosealertboxForm('agency_transfer');
        CommUtility.WebShowAlertboxForm('tranferPwdErrorForm');
        // this.CurrentTranferPwdFlag = true;
        return;
      }
      if (this.Runing === true) {
        return;
      }
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      const inputData = {
        To_MemberID: undefined,
        Amount: this.TransData.VAmount,
        Remark: this.TransData.Remark,
        PassWord: this.TransData.Password
      };
      inputData.To_MemberID = parseInt(this.MemberList[0].MemberID);
      this.Runing = true;
      const retData = await AgencyCenterService.AuthorizeUserTransactionAdd(
        inputData
      );
      console.log('retData111111111111');
      console.log(retData);
      console.log('retData11111111111111');
      this.PwdErrCnt = retData.Data.PwdErrCnt;
      localStorage.setItem('PwdErrCntNum', retData.Data.PwdErrCnt);
      this.NotifyMessage = retData.Message;
      if (retData.Ret === 0) {
        console.log('11111111111');
        CommUtility.WebClosealertboxForm('agency_transfer');
        this.Step = true;
        this.ShowTip = undefined;
        this.MemberList = undefined;
        this.TransData.Accont = '';
        this.TransData.VAmount = undefined;
        this.TransData.Remark = '';
        this.TransData.Password = undefined;
        this.$validator.reset();

        this.$parent.TransferOperationQuery();
        this.$parent.BackToOnePage(); // 转账成功后刷新钱包 20200106 SC
        CommUtility.WebShowAlertboxForm('MessageAccount');
      } else {
        console.log('222222222');
        this.Step = false;
        // this.MemberList = undefined;
        // this.TransData.Accont = '';
        // this.TransData.VAmount = undefined;
        // this.TransData.Remark = '';
        // this.TransData.Password = undefined;
        // this.$validator.reset();
        this.CurrentTranferPwdFlag = true;
        // CommUtility.WebShowAlertboxForm('MessageAccount');
      }
      this.Runing = false;
      // this.HideIcome();
    },
    // 查询用户代理是否存在
    LoadAuthorizeUserList: async function () {
      if (this.TransData.Accont === '' || this.TransData.Accont === undefined) {
        return;
      }
      const MemberLoginID = {
        To_MemberLoginID: this.TransData.Accont
      };
      const retData = await AgencyCenterService.LoadAuthorizeUserList(
        MemberLoginID
      );
      if (retData.Ret === 0) {
        this.MemberList = retData.Data.MemberList;
        if (retData.Data.MemberList.length !== 0) {
          this.ShowTip = false;
        } else {
          this.ShowTip = true;
          this.MemberList = undefined;
        }
        console.log('--------请求成功--------');
      } else {
        this.MemberList = undefined;
        console.log('--------请求失败--------');
      }
      this.$validator.reset();
    },
    // 關閉彈窗
    HideWindow: function () {
      CommUtility.WebClosealertboxForm('MessageAccount');
    }, // end HideEditPhone
    // 關閉彈窗
    HideIcome: function () {
      this.Step = true;
      this.ShowTip = false;
      this.MemberList = undefined;
      this.TransData.Accont = '';
      this.TransData.VAmount = undefined;
      this.TransData.Remark = '';
      this.TransData.Password = undefined;
      this.$validator.reset();
      CommUtility.WebClosealertboxForm('agency_transfer');
    }, // end HideEditPhone
    // 下一步
    Next: async function () {
      this.CurrentTranferPwdFlag = false;
      if (this.TransData.VAmount > this.MemberBalance) {
        return;
      }
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      this.Step = false;
    }, // end ShowIncome
    // 上一步
    Prev: async function () {
      this.Step = true;
    } // end ShowIncome
  }
};
</script>
