<template>
  <div>
    <!-- 取款密码错误后弹出账户锁定 -->
    <div id="tranferPwdErrorForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CommUtility.WebClosealertboxForm('tranferPwdErrorForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebClosealertboxForm('pwdErrorForm');"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_red">{{$t('message.member_account_lockout')}}</p>
        <p>
          {{$t('message.member_your')}}{{transferName}}{{$t('message.member_errorPsw')}}
          <br />
          {{transferName}}{{$t('message.member_withdrawal_functLock')}}
        </p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          @click="CommUtility.WebClosealertboxForm('tranferPwdErrorForm');OpenNewBox($ServeLink)"
        >{{$t('message.member_contact_service')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  props: {
    ApplyAmount: undefined,
    PostWithdrawData: undefined,
    transferName: undefined
  },
  data () {
    return {
      CommUtility: CommUtility,
      Reg: Regex.Regex,
      ProcessingFlag: false,
      InitialFormData: undefined,
      WithdrawData: {
        WithdrawPwd: '',
        WithdrawMode: undefined
      },
      CurrentWithdrawPwdErrCnt: undefined
    };
  },
  created: function () {
    this.InitialFormData = Vue.util.extend({}, this.WithdrawData);
    const self = this;
    EventBus.$on('withdrawalPwdWindowTrigger', function (PwdErrCnt) {
      if (self.CurrentWithdrawPwdErrCnt === undefined) {
        self.CurrentWithdrawPwdErrCnt = PwdErrCnt;
      }
      self.TriggerPwdWindow();
    });
  },
  mounted: function () {
    CommUtility.BindEnterTrigger('withdrawPwdForm', this.SubmitWithdraw);
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
      // return window.open(aa, 'newindow', 'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    },
    // 取款密碼彈窗
    TriggerPwdWindow: function () {
      if (this.CurrentWithdrawPwdErrCnt >= 3) {
        CommUtility.WebShowAlertboxForm('pwdErrorForm');
      } else {
        this.ResetPwdForm();
        CommUtility.WebShowAlertboxForm('withdrawPwdForm');
      }
    },
    // 發送取款申請
    SubmitWithdraw: async function () {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;
      this.WithdrawData.Amt = this.ApplyAmount;
      this.WithdrawData.WithdrawMode = parseInt(this.PostWithdrawData);

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_Add(
        this.WithdrawData
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;

      const notifyData = {
        NotifyMessage: data.Message
      };

      if (data.Ret !== 0) {
        // 取款密碼錯誤
        if (data.Ret == BLDef.ErrorRetType.COMM_PWD_CONFIRM_FAIL) {
          this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt;
          if (data.Data.PwdErrCnt >= 3) {
            this.ResetPwdForm();
            CommUtility.WebClosealertboxForm('withdrawPwdForm');
            CommUtility.WebShowAlertboxForm('pwdErrorForm');
          }
        } else {
          // 其他錯誤
          this.ResetPwdForm();
          CommUtility.WebClosealertboxForm('withdrawPwdForm');
          EventBus.$emit('showNotifyMemberMessage', notifyData);
        }
      } else {
        // 成功
        this.ResetPwdForm();
        CommUtility.WebClosealertboxForm('withdrawPwdForm');
        notifyData.NotifySubMessage = this.$t('message.member_wait_patiently');
        notifyData.CloseFunction = this.WithdrawalReset;
        EventBus.$emit('showNotifyMemberMessage', notifyData);

        // 通知顶部金额进行刷新 20190918 SeyoChen
        EventBus.$emit('memberHeaderUpdateBalance');
      }
    },
    // 重置取款密碼表單
    ResetPwdForm: function () {
      this.WithdrawData = Vue.util.extend({}, this.InitialFormData);
      this.$validator.reset();
    },
    // 取款功能初始
    WithdrawalReset: function () {
      this.$parent.$parent.$parent.SwitchMode(1);
    }
  },
  beforeDestroy () {
    EventBus.$off('withdrawalPwdWindowTrigger');
  }
};
</script>
