.theme34 {
  html {
    background: #f7f4ed;
  }

  .wrap {
    overflow: hidden;
  }

  /* 游戏维护中 */
  .game-maintain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .eg-big-play {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 20;
  }

  .eg-big-maintain {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 45px;
  }

  /* 游戏维护中 end */

  /*代理加盟，联系我们公共样式*/
  .a-j-lists {
    overflow: hidden;

    .a-j-left {
      float: left;
      width: 48%;
    }

    .a-j-right {
      float: right;
      width: 48%;
    }

    .a-j-putBox-title {
      padding-bottom: 10px;
      margin-bottom: 20px;
      color: #000;
      border-bottom: 1px solid rgba(176, 172, 169, 0.55);
      font-size: 18px;
      font-weight: normal;
      text-align: left;
    }

    .proxy-com {
      margin-bottom: 10px;

      &.member-name {
        .name {
          color: #333;
          line-height: 48px;
          margin-left: 10px;
        }
      }

      textarea {
        font-size: 14px;
        resize: none;
        width: 350px;
        height: 130px;
        padding: 10px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13) inset;
        background: #fef1e7;
        border: 1px solid #cccccc;
        outline: none;
        margin-left: 10px;
      }

      .proxy-line {
        clear: both;
        line-height: 42px;
        display: inline-block;
        width: 500px;

        .vdp-datepicker {
          display: inline-block;
          vertical-align: top;
          margin-left: 10px;

          /deep/ input {
            box-sizing: content-box;
            float: inherit;
            margin-left: 0px;
          }
        }

        i {
          width: 9px;
          height: 8px;
          position: absolute;
          right: 24px;
          top: 15px;
        }

        .title {
          float: left;
          font-size: 16px;
          color: #20232c;
          width: 100px;
          line-height: 50px;
          text-align: right;

          .txt {
            font-weight: normal;
          }

          .colon {
            display: none;
          }

          .asterisk {
            color: #da1a29;
            margin-right: 3px;
            font-weight: normal;
          }
        }

        input,
        .a-j-input input {
          display: block;
          float: left;
          padding: 2px;
          margin-left: 10px;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13) inset;
          background: #fef1e7;
          border: 1px solid #cccccc;
          padding-left: 10px;
          height: 32px;
          width: 360px;
          outline: none;
          font-size: 14px;
          margin-top: 6px;
        }

        &.code {
          input {
            width: 250px;
            margin-left: 10px;
          }

          img {
            height: 35px;
            vertical-align: top;
            margin-top: 8px;
          }
        }
      }

      .a-j-input {
        float: left;
        padding: 2px;
        margin-left: 10px;
        width: 380px;

        .down {
          height: 36px;
          -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13) inset;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13) inset;
          background: #fef1e7;
          border: 1px solid #cccccc;
          width: 368px;

          .d_course {
            height: 24px;
            line-height: 24px;
            padding: 5px 10px;
            cursor: pointer;
            text-align: left;
            color: #224963;
            border: 0;
            background: none;
            font-size: 14px;
          }

          .down_box {
            height: auto;
            position: absolute;
            display: none;
            z-index: 10;
            overflow-y: auto;
            border: 1px solid #e4e4e4;
            top: 36px;
            width: 100%;
            border-top: 0;
            max-height: 165px;
            background: #c1a8a2;
            border-radius: 0 0 3px 3px;
            padding-top: 5px;
          }

          i.a-j-downimg {
            display: block;
            position: absolute;
            right: 10px;
            top: 16px;
            width: 10px;
            height: 6px;
          }
        }

        .a-j-sexUl {
          overflow: hidden;
          font-size: 16px;
          color: #888992;
          line-height: 50px;
          margin-left: 18px;

          .a-j-sexItem {
            float: left;
            margin-right: 35px;
            cursor: pointer;
            position: relative;
            padding-left: 20px;

            input {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
            }
          }
        }
      }

      .a-j-input.sex {
        img {
          display: none;
        }

        input.a-j-select-ipt {
          display: none;
        }
      }

      &.proxy-BranchName {
        input {
          margin-left: 110px;
        }
      }

      .a-j-input1 {
        margin-right: 10px;
        float: left;

        input {
          width: 80px;
        }
      }

      textarea,
      input {
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: #999;
        }

        &:focus {
          box-shadow: 0 0 3px #da1a29;
          border: 1px solid #da1a29;
        }
      }

      .tip1 {
        font-size: 12px;
        color: #e50000;
        margin: -3px 0 0 110px;
        clear: both;
      }
    }
  }

  .a-j-submit {
    clear: both;
    width: 295px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #f2f4f9;
    margin: 30px auto 0;
  }

  /*代理加盟，联系我们公共样式 end*/
  /*前台共用的游戏列表*/
  .poker-logo-lists {
    font-size: 0;
    text-align: left;
  }

  .poker-logo-lists li {
    width: 284px;
    height: 424px;
    display: inline-block;
    margin: 5.5px;
    position: relative;

    .rotate-after1 {
      a {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
      }
    }
  }

  .poker-logo-lists .poker-logo-li a img {
    display: block;
    max-width: 280px;
    position: absolute;
    left: 4px;
    top: 160px;
  }

  .poker-logo-lists li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .poker-logo-lists li div.rotate-before {
    transform: perspective(1000px) rotateY(0);
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -ms-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
    opacity: 1;
    filter: alpha(opacity=100);
    /*对透明度做兼容*/
  }

  .poker-logo-lists li div.rotate-after {
    transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    -moz-transform: perspective(1000px) rotateY(-180deg);
    -ms-transform: perspective(1000px) rotateY(-180deg);
    -o-transform: perspective(1000px) rotateY(-180deg);
    transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    /*对透明度做兼容*/
  }

  .poker-logo-lists li.hasblock div.rotate-before {
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    -ms-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    /*对透明度做兼容*/
  }

  .poker-logo-lists li.hasblock div.rotate-after {
    transform: perspective(1000px) rotateY(0);
    -webkit-transform: perspective(1000px) rotateY(0);
    -moz-transform: perspective(1000px) rotateY(0);
    -ms-transform: perspective(1000px) rotateY(0);
    -o-transform: perspective(1000px) rotateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
    /*对透明度做兼容*/
  }

  .poker-logo-lists li div.rotate-before i.icon-flower {
    display: block;
    width: 67px;
    height: 23px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
  }

  .poker-logo-lists li div.rotate-before i.icon-flower.flower1 {
    display: none;
  }

  .poker-logo-lists li div.rotate-before i.icon-flower.flower2 {
    display: none;
  }

  .poker-logo-lists li div.rotate-before img {
    display: block;
    max-width: 280px;
    position: absolute;
    left: 4px;
    top: 160px;
  }

  .poker-logo-lists li div.rotate-before .rotate-word {
    display: none;
  }

  .poker-logo-lists li div.rotate-after:after {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .poker-logo-lists li div.rotate-after a.rotate-play {
    display: inline-block;
    text-align: center;
    font-size: 0;
    width: 106px;
    height: 33px;
    vertical-align: middle;
  }

  /*维护遮罩*/
  .video_cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 10;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    /*visibility:hidden;*/
  }

  .video_cover:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }

  .video_cover div {
    display: inline-block;
    vertical-align: middle;
  }

  .video_cover p {
    line-height: 25px;
    font-size: 24px;
    color: #ffffff;
  }

  .video_cover span {
    line-height: 14px;
    font-size: 12px;
    color: #ffffff;
  }

  /*前台共用的游戏列表 end*/
}
