<!--快速入口連結-->
<template>
  <div>
    <!--63版-->
    <div class="index_user hides fl">
      <!--登录前-->
      <div class="login_before" v-if="IsLogin===false">
        <!-- <router-link :to="{ name: 'FreeTrial'}" target="_blank"></router-link> -->
        <div class="user_btn_box">
          <router-link :to="{ name: 'Login'}" class="login_btn"></router-link>
          <router-link :to="{ name: 'Register'}" class="registered_btn"></router-link>
          <div class="clearfix"></div>
        </div>
      </div>
      <!--登录后-->
      <div class="login_after" v-if="IsLogin===true">
        <div class="user_data">
          <p>
            {{$t('message.index_hello')}}，
            <span>{{MemberInfo.Acct}}</span>
            <a @click="navClick('webMemberSummary')">[{{$t('message.index_personal')}}]</a>
          </p>
          <!-- <p v-if="false">会员等级：<span class="u_number">{{MemberInfo.VMemberLv}}</span></p> -->
        </div>
        <div class="select_btn">
          <a href="javascript:void(0)" @click="navClick('webMemberDeposit')">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/index/deposit_icon.png?VersionCode'"
            />
            {{$t('message.index_deposit')}}
          </a>
          <a href="javascript:void(0)" @click="navClick('webMemberWithdrawal')">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/index/withdraw_icon.png?VersionCode'"
            />
            {{$t('message.index_withdraw')}}
          </a>
          <a @click="navClick('webMemberTransactionRecord')">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/index/dividend_icon.png?VersionCode'"
            />
            {{$t('message.index_query')}}
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!--7版-->
    <div class="index-login hides fr">
      <div class="index-login-before" v-show="!IsLogin">
        <a class="hovers"></a>
        <router-link to="/Login" class="index-login-btn02 hovers"></router-link>
        <router-link to="/Register" class="index-login-btn03 hovers"></router-link>
      </div>
      <div class="index-login-after" v-show="IsLogin">
        <div class="user_data hides clearfix">
          <p>
            {{$t('message.index_hello')}}，
            <span>{{MemberInfo.Acct}}</span>
            <a @click="navClick('webMemberSummary')">[{{$t('message.index_personal')}}]</a>
          </p>
          <p v-if="false">
            {{$t('message.index_grade')}}：
            <span class="u_number">{{MemberInfo.VMemberLv}}</span>
          </p>
          <a
            href="javascript:void(0)"
            @click="navClick('webMemberDeposit')"
          >{{$t('message.index_deposit')}}</a>
          <a
            href="javascript:void(0)"
            @click="navClick('webMemberWithdrawal')"
          >{{$t('message.index_withdraw')}}</a>
          <a @click="navClick('webMemberTransactionRecord')">{{$t('message.index_query')}}</a>
        </div>
        <p class="p-Fifteen hides">
          <a @click="navClick('webMemberDeposit')">{{$t('message.index_deposit')}}</a>
          <a @click="navClick('webMemberWithdrawal')">{{$t('message.index_withdraw')}}</a>
          <a @click="navClick('webMemberTransactionRecord')">{{$t('message.index_query')}}</a>
        </p>
      </div>
    </div>
    <!--8版-->
    <div class="fast_entrance_eighth hides fr">
      <!--登录前-->
      <div class="login_before" v-show="!IsLogin">
        <!-- <a class="btn1_bg"></a> -->
        <router-link :to="{name: 'Login'}" class="btn2_bg">{{$t('message.top_login')}}</router-link>
        <router-link :to="{name: 'Register'}" class="btn2_bg">注册</router-link>
      </div>
      <!--登陆后-->
      <div class="login_after" v-show="IsLogin">
        <div class="user_data clearfix">
          <p>
            {{$t('message.index_hello')}}，
            <span>{{MemberInfo.Acct}}</span>
            <a @click="navClick('webMemberSummary')">[{{$t('message.index_personal')}}]</a>
          </p>
          <p v-if="false">
            {{$t('message.index_grade')}}：
            <span class="u_number">{{MemberInfo.VMemberLv}}</span>
          </p>
          <a
            href="javascript:void(0)"
            @click="navClick('webMemberDeposit')"
          >{{$t('message.index_deposit')}}</a>
          <a
            href="javascript:void(0)"
            @click="navClick('webMemberWithdrawal')"
          >{{$t('message.index_withdraw')}}</a>
          <a @click="navClick('webMemberTransactionRecord')">{{$t('message.index_query')}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { indexFast7 } from "@/assets/scripts/comTest/main/index/sy07/fastEntrance.js"
import { indexFast } from "@/mod/k06/assets/scripts/comTest/main/index/fastEntrance.js"
export default {
  mixins: [indexFast7, indexFast]
}
</script>
