<template>
  <!--游戏规则-->
  <div class="tutorial-gamerule">
    <ul class="tutorial_left_navs gamerule-navs tutorial-pull-down2 tutorialHides">
      <li :class="navs == 1 ? 'on' : ''" @click="switchNav(1)" data-num="0">
        <a>
          <i class="skill_icon_1"></i>
          {{ $t("message.tutorial_baccarat") }}
        </a>
      </li>
      <li :class="navs == 2 ? 'on' : ''" @click="switchNav(2)" data-num="1">
        <a>
          <i class="skill_icon_4"></i>
          {{ $t("message.tutorial_dragon_tiger") }}
        </a>
      </li>
      <li :class="navs == 3 ? 'on' : ''" @click="switchNav(3)" data-num="2">
        <a>
          <i class="skill_icon_2"></i>
          {{ $t("message.tutorial_roulette") }}
        </a>
      </li>
      <li :class="navs == 4 ? 'on' : ''" @click="switchNav(4)" class="no_background" data-num="3">
        <a>
          <i class="skill_icon_3"></i>
          {{ $t("message.tutorial_cussec") }}
        </a>
      </li>
    </ul>

    <ul class="tutorial_left_navs gamerule-navs tutorial-pull-down2 hides tutorialNoHides fiveClone">
      <li :class="navs == 1 ? 'on' : ''" @click="switchNav(1)">
        <a>
          <i class="skill_icon_1"></i>
          {{ $t("message.tutorial_baccarat") }}
        </a>
      </li>
      <li :class="navs == 2 ? 'on' : ''" @click="switchNav(2)">
        <a>
          <i class="skill_icon_4"></i>
          {{ $t("message.tutorial_dragon_tiger") }}
        </a>
      </li>
      <li :class="navs == 3 ? 'on' : ''" @click="switchNav(3)">
        <a>
          <i class="skill_icon_2"></i>
          {{ $t("message.tutorial_roulette") }}
        </a>
      </li>
      <li :class="navs == 4 ? 'on' : ''" @click="switchNav(4)" class="no_background">
        <a>
          <i class="skill_icon_3"></i>
          {{ $t("message.tutorial_cussec") }}
        </a>
      </li>
    </ul>
    <div class="tutorial-conBox">
      <a class="thirtyThreeBtn prebtn hides"></a>
      <!--33版左按钮-->
      <div class="tutorial-inside custom_bar" v-anyNameYouLike id="gameRules-scroll">
        <div class="tutorial-box gamerule-box bar_box">
          <div v-show="navs == 1">
            <h1 class="GameRules_title">{{ $t("message.tutorial_baccarat") }}</h1>
            <p class="GameRules_title_el">BACCARAT</p>

            <p class="GameRules_center_p">
              {{ $t("message.tutorial_traditional_baccarat") }}{{ msg }}{{ $t("message.tutorial_super_baccarat") }}
            </p>

            <div class="GameRules_center_img tutorialPic_1"></div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_howTo_win") }}</h2>

            <p class="GameRules_center_p">{{ $t("message.tutorial_two_cards") }}</p>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_guidelines_notes") }}</h2>

            <div class="GameRules_guide">
              <span>1</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_click_footnote") }}</p>
                  <p>{{ $t("message.tutorial_place_Abet") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>2</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_leisure_farmer") }}</p>
                  <p>{{ $t("message.tutorial_totality") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>3</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_bob_roberts") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>4</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_dispatch_cards") }}</p>
                  <p>{{ $t("message.tutorial_replacement_rule") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>5</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_exceed_threeofakind") }}</p>
                </div>
              </div>
            </div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_gamePlay") }}</h2>

            <p class="GameRules_center_p">
              {{ $t("message.tutorial_game_cards") }}{{ $t("message.tutorial_licensing_case")
              }}{{ $t("message.tutorial_peace_bureau") }}
            </p>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_game_rules") }}</h2>

            <p class="GameRules_smoll_p GameRules_ty_p">{{ $t("message.tutorial_point_counting") }}：</p>

            <p class="GameRules_center_p">{{ $t("message.tutorial_value_display") }}</p>

            <div class="GameRules_center_img tutorialPuke_1"></div>
            <p class="GameRules_center_p">{{ $t("message.tutorial_points") }}</p>

            <div class="GameRules_center_img tutorialPuke_2"></div>
            <p class="GameRules_center_p">{{ $t("message.tutorial_tally_zero") }}</p>

            <div class="GameRules_center_img tutorialPuke_3"></div>

            <p class="GameRules_center_p">* {{ $t("message.tutorial_chamillionaire") }}</p>
            <p class="GameRules_center_p">* {{ $t("message.tutorial_boarding_rules") }}</p>

            <div class="GameRules_center_img tutorialPuke_4"></div>

            <p class="GameRules_smoll_p GameRules_ty_p">{{ $t("message.tutorial_regulation") }}：</p>

            <div class="GameRules_table">
              <ul class="GameRules_table_ul1">
                <li class="GameRules_table_faseli">
                  <p>{{ $t("message.tutorial_cards_leisure") }}</p>
                  <p>{{ $t("message.tutorial_total_points") }}</p>
                </li>
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <ul class="GameRules_table_ul1">
                <li class="GameRules_table_faseli">（{{ $t("message.tutorial_leisure_home") }}）</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_notTo_cards") }}</li>
                <li>{{ $t("message.tutorial_notTo_cards") }}</li>
                <li>{{ $t("message.tutorial_win_lose") }}</li>
                <li>{{ $t("message.tutorial_win_lose") }}</li>
              </ul>
              <ul class="GameRules_table_ul1">
                <li class="GameRules_table_faseli">
                  <p>{{ $t("message.tutorial_zhuangliangpai") }}</p>
                  <p>{{ $t("message.tutorial_total_points") }}</p>
                </li>
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <ul class="GameRules_table_ul1 bigwidth">
                <li class="GameRules_table_faseli">（{{ $t("message.tutorial_banker") }}）</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_necessary_cards") }}</li>
                <li>{{ $t("message.tutorial_casual_family") }}</li>
                <li>
                  <p class="GameRules_li_p">{{ $t("message.tutorial_dealer_shall") }}</p>
                </li>
                <li>
                  <p class="GameRules_li_p">{{ $t("message.tutorial_third_card") }}</p>
                </li>
                <li>{{ $t("message.tutorial_family_wins") }}</li>
                <li>{{ $t("message.tutorial_notTo_cards") }}</li>
                <li>{{ $t("message.tutorial_win_lose") }}</li>
                <li>{{ $t("message.tutorial_win_lose") }}</li>
              </ul>
            </div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_lottery_odds") }}</h2>
            <p class="GameRules_center_p">
              {{ $t("message.tutorial_noServant_baccarat") }}{{ $t("message.tutorial_types_betting")
              }}{{ $t("message.tutorial_payout") }}
            </p>

            <p class="GameRules_smoll_p">{{ $t("message.tutorial_baccarat") }}</p>

            <div class="GameRules_table">
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_gamble_on") }}</li>
                <li>{{ $t("message.tutorial_leisure_home") }}</li>
                <li>{{ $t("message.tutorial_banker") }}</li>
                <li>{{ $t("message.tutorial_drawn_game") }}</li>
                <li>{{ $t("message.tutorial_idle_couples") }}</li>
                <li>{{ $t("message.tutorial_banker_pair") }}</li>
                <li>{{ $t("message.tutorial_large") }}</li>
                <li>{{ $t("message.tutorial_small") }}</li>
              </ul>
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_odds") }}</li>
                <li>1：1{{ $t("message.tutorial_opening_closing") }}</li>
                <li>1：0.95{{ $t("message.tutorial_opening_closing") }}</li>
                <li>1：8</li>
                <li>1：11</li>
                <li>1：11</li>
                <li>1：0.5</li>
                <li>1：1.5</li>
              </ul>
            </div>

            <p class="GameRules_smoll_p">{{ $t("message.tutorial_servant_baccarat") }}</p>

            <div class="GameRules_table">
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_gamble_on") }}</li>
                <li>{{ $t("message.tutorial_leisure_home") }}</li>
                <li>{{ $t("message.tutorial_banker") }}</li>
                <li>{{ $t("message.tutorial_drawn_game") }}</li>
                <li>{{ $t("message.tutorial_idle_couples") }}</li>
                <li>{{ $t("message.tutorial_banker_pair") }}</li>
                <li>{{ $t("message.tutorial_large") }}</li>
                <li>{{ $t("message.tutorial_small") }}</li>
              </ul>
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_odds") }}</li>
                <li>1：1{{ $t("message.tutorial_opening_closing") }}</li>
                <li>
                  <p class="GameRules_li_p">1：1{{ $t("message.tutorial_half_loss") }}</p>
                </li>
                <li>1：8</li>
                <li>1：11</li>
                <li>1：11</li>
                <li>1：0.5</li>
                <li>1：1.5</li>
              </ul>
            </div>

            <p class="GameRules_center_p GameRules_no_center">{{ $t("message.tutorial_antithetical") }}</p>
            <p class="GameRules_center_p GameRules_no_center">
              [{{ $t("message.tutorial_size") }}]{{ $t("message.tutorial_basis") }}
            </p>
            <p class="GameRules_center_p GameRules_no_center">
              [{{ $t("message.tutorial_phrases") }}] {{ $t("message.tutorial_no_fancy") }}
            </p>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_points_attention") }}</h2>

            <p class="GameRules_center_p GameRules_no_center">1. {{ $t("message.tutorial_size_betting") }}</p>
            <p class="GameRules_center_p GameRules_no_center">2. {{ $t("message.tutorial_play_limitRed") }}</p>
            <p class="GameRules_center_p GameRules_no_center">3. {{ $t("message.tutorial_rescan") }}</p>
            <p class="GameRules_center_p GameRules_no_center">4. {{ $t("message.tutorial_settlement_error") }}</p>
          </div>
          <div v-show="navs == 2">
            <h1 class="GameRules_title">{{ $t("message.tutorial_dragon_tiger") }}</h1>
            <p class="GameRules_title_el">DRAGON TIGER</p>

            <p class="GameRules_center_p">{{ $t("message.tutorial_entertainment_platform") }}</p>

            <div class="GameRules_center_img tutorialPic_2"></div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_howTo_win") }}</h2>

            <p class="GameRules_center_p">{{ $t("message.tutorial_count_win") }}</p>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_operational_guidelines") }}</h2>

            <div class="GameRules_guide">
              <span>1</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_click_footnote") }}</p>
                  <p>{{ $t("message.tutorial_place_Abet") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>2</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_number_plate") }}</p>
                  <p>{{ $t("message.tutorial_mutual") }}</p>
                </div>
              </div>
            </div>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_game_rules") }}</h2>

            <p class="GameRules_center_p">{{ $t("message.tutorial_ratio_points") }}</p>
            <p class="GameRules_center_p">{{ $t("message.tutorial_win_decisively") }}</p>

            <div class="GameRules_table">
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_gamble_on") }}</li>
                <li>{{ $t("message.tutorial_dragon") }}</li>
                <li>{{ $t("message.tutorial_tiger") }}</li>
                <li>{{ $t("message.tutorial_drawn_game") }}</li>
              </ul>
              <ul class="GameRules_table_ul1 width358">
                <li class="GameRules_table_faseli">{{ $t("message.tutorial_odds") }}</li>
                <li>1：1（{{ $t("message.tutorial_return_subscriptionAmount") }}）</li>
                <li>1：1（{{ $t("message.tutorial_return_subscriptionAmount") }}）</li>
                <li>1：8</li>
              </ul>
            </div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_points_attention") }}</h2>

            <p class="GameRules_center_p GameRules_no_center">1. {{ $t("message.tutorial_play_limitRed") }}</p>
            <p class="GameRules_center_p GameRules_no_center">2. {{ $t("message.tutorial_rescan") }}</p>
            <p class="GameRules_center_p GameRules_no_center">3. {{ $t("message.tutorial_settlement_error") }}</p>
          </div>
          <div v-show="navs == 3">
            <h1 class="GameRules_title">{{ $t("message.tutorial_roulette") }}</h1>
            <p class="GameRules_title_el">ROULETTE</p>

            <p class="GameRules_center_p">{{ msg }}{{ $t("message.tutorial_human_wheel") }}</p>
            <div class="GameRules_center_img tutorialPic_3"></div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_howTo_win") }}</h2>

            <p class="GameRules_center_p">{{ $t("message.tutorial_Ivory_ball") }}</p>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_guidelines_notes") }}</h2>

            <div class="GameRules_guide">
              <span>1</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_new_bureau") }}</p>
                  <p>{{ $t("message.tutorial_deposit_chips") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>2</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_end_reciprocal") }}</p>
                  <p>{{ $t("message.tutorial_rotating_disc") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>3</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_result_figures") }}</p>
                  <p>{{ $t("message.tutorial_player_screen") }}</p>
                </div>
              </div>
            </div>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_game_rules") }}</h2>

            <p class="GameRules_center_p">{{ $t("message.tutorial_counter") }}</p>
            <p class="GameRules_center_p GameRules_nomt">{{ $t("message.tutorial_stake") }}</p>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_lottery_odds") }}</h2>
            <p class="GameRules_center_p">{{ $t("message.tutorial_type") }}</p>
            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_1"></div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_french_bet") }}</h2>
            <p class="GameRules_center_p GameRules_no_center GameRules_ml200">{{ $t("message.tutorial_ellipse") }}</p>
            <p class="GameRules_center_p GameRules_no_center GameRules_ml200">{{ $t("message.tutorial_corona") }}</p>
            <p class="GameRules_center_p GameRules_no_center GameRules_ml200">
              {{ $t("message.tutorial_french_chips") }}
            </p>
            <p class="GameRules_center_p GameRules_no_center GameRules_ml200">
              {{ $t("message.tutorial_legal_betting") }}
            </p>
            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_2"></div>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_points_attention") }}</h2>

            <p class="GameRules_center_p GameRules_no_center">1. {{ $t("message.tutorial_play_limitRed") }}</p>
            <p class="GameRules_center_p GameRules_no_center">2. {{ $t("message.tutorial_heavy_dice") }}</p>
            <p class="GameRules_center_p GameRules_no_center">3. {{ $t("message.tutorial_settlement_error") }}</p>
          </div>

          <div v-show="navs == 4">
            <h1 class="GameRules_title">{{ $t("message.tutorial_cussec") }}</h1>
            <p class="GameRules_title_el">SICBO</p>

            <p class="GameRules_center_p">{{ $t("message.tutorial_immortal_game") }}</p>
            <p class="GameRules_center_p GameRules_nomt">{{ $t("message.tutorial_new_feelings") }}</p>
            <p class="GameRules_center_p GameRules_nomt">{{ $t("message.tutorial_includes") }}</p>
            <p class="GameRules_center_p GameRules_nomt">{{ $t("message.tutorial_attractive_odds") }}</p>
            <div class="GameRules_center_img tutorialPic_4"></div>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_howTo_win") }}</h2>
            <p class="GameRules_center_p">{{ $t("message.tutorial_player_bet") }}</p>
            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_guidelines_notes") }}</h2>
            <div class="GameRules_guide">
              <span>1</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_reciprocal") }}</p>
                  <p>{{ $t("message.tutorial_predictive_chips") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>2</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_noMore_bet") }}</p>
                  <p>{{ $t("message.tutorial_mechanical_rolling") }}</p>
                </div>
              </div>
            </div>
            <div class="GameRules_guide">
              <span>3</span>
              <div class="GameRules_guide_cont">
                <div>
                  <p>{{ $t("message.tutorial_lighting_up") }}</p>
                  <!-- <p>三点数，同时画面亮起灯光，可清楚看到胜出注码和赔率；是否</p>
                  <p>与玩家押注的内容相同，来判定输赢。</p>-->
                </div>
              </div>
            </div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_game_rules") }}</h2>
            <p class="GameRules_center_p">{{ $t("message.tutorial_counter") }}</p>
            <p class="GameRules_center_p GameRules_nomt">{{ $t("message.tutorial_stake") }}</p>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_type") }}</h2>
            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_3"></div>

            <p class="GameRules_smoll_p">{{ $t("message.tutorial_single_note") }}</p>

            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_4"></div>
            <p class="GameRules_smoll_p">{{ $t("message.tutorial_three_dices") }}</p>

            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_5"></div>
            <p class="GameRules_smoll_p">{{ $t("message.tutorial_three_dices") }}:</p>

            <div class="GameRules_center_img GameRules_mt25 tutorialRule_img_6"></div>

            <h2 class="GameRules_title GameRules_mt25">{{ $t("message.tutorial_points_attention") }}</h2>

            <p class="GameRules_center_p GameRules_no_center">1. {{ $t("message.tutorial_play_limitRed") }}</p>
            <p class="GameRules_center_p GameRules_no_center">2. {{ $t("message.tutorial_heavy_dice") }}</p>
            <p class="GameRules_center_p GameRules_no_center">3. {{ $t("message.tutorial_settlement_error") }}</p>
          </div>
        </div>
      </div>
      <a class="thirtyThreeBtn nextbtn hides"></a>
      <!--33版右按钮-->
    </div>
  </div>
</template>

<script>
import { gameRules } from "@/mod/k19/assets/scripts/comTest/main/tutorial/gameRules"

export default {
  mixins: [gameRules]
}
</script>
