<template>
  <div class="catchfish-page">
    <ul class="catchfish-logo-lists">
      <li
        class="catchfish-logo-li catchfishAbnormal"
        v-for="(list,index) in CatchfishList"
        :key="index"
        @click="PlayGame(list)"
      >
        <p v-if="list.GameTypeState == 703" class="maintenanceBG">
          <i class="abnormalDefault maintenance"></i>
        </p>
        <div
          class="catchfish-logo-content"
          :class="{'maintenanceWrap':list.GameTypeState == 703}"
          :style="{background:'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/general/common/catchfish/'+(index+(pageNum%4?pageNum%4:1))+'.jpg)no-repeat'}"
        >
          <img :src="$ResourceCDN+'/PartnerLogo/whitelogo/v-logo'+list.GameApiNo+'.png'" />
        </div>
        <div class="catchfish-logo-mask" v-if="list.GameTypeState != 703">
          <span>{{$t('message.start_game')}}</span>
        </div>
      </li>
    </ul>
    <!-- 分页 -->
    <catchfish-paginate
      :pageSize="pageSize"
      changePaginateStyle
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></catchfish-paginate>
  </div>
</template>
<script>
import catchfishContent from "@/mod/k06/assets/scripts/comTest/general/catchfish/catchfishContent"
export default {
  name: "catchfish-content",
  mixins: [catchfishContent]
}
</script>
<style lang="less">
// @import '../../../assets/styles/less/catchfish.less';
</style>
