<template>
  <div class="main-formBox-lg">
    <!-- 未登录 -->
    <div class="unlisted-content" v-if="IsLogin===false">
      <div class="lg-boxItem">
        <div class="lg-box-list">
          <img
            class="list-icon"
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/ix_new_img1.png'"
          />
          <input
            class="list-input user-putBox"
            type="text"
            :placeholder="$t('message.member_bankAccount')"
            name="Acct"
            v-model="LoginObj.Acct"
            v-validate="{ rules: { regex:Reg.LoginAccount, required: true }}"
          />
          <span
            class="suspension-window"
            v-show="errors.has('Acct') && fields.Acct.touched && suspensionWindFlag"
          >
            <i class="sign">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/signIcon.png'" />
            </i>
            {{$t('message.login_english_letters')}}
          </span>
        </div>
        <div class="lg-box-list">
          <img
            class="list-icon"
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/ix_new_img2.png'"
          />
          <input
            class="list-input psw-putBox"
            type="password"
            :placeholder="$t('message.login_input_password')"
            name="Pwd"
            v-model="LoginObj.Pwd"
            v-validate="{ rules: { regex:Reg.Password, required: true }}"
          />
          <i class="remember-icon" @click="forgetClick()">
            <img
              v-if="forgetPassWordFlag"
              :title="$t('message.member_record_password')"
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-remember-selected.png'"
            />
            <img
              v-else
              :title="$t('message.member_norecord_password')"
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/icon-remember.png'"
            />
          </i>
          <i
            class="forget-pswText"
            @click="TriggerForgetPassword()"
            :title="$t('message.login_forget_password')"
          ></i>
          <span
            class="suspension-window"
            v-show="errors.has('Pwd') && fields.Pwd.touched && suspensionWindFlag"
          >
            <i class="sign">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/signIcon.png'" />
            </i>
            {{$t('message.agent_beginning_period')}}
          </span>
        </div>
        <div class="lg-box-list">
          <img
            class="list-icon"
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/ix_new_img3.png'"
          />
          <input
            class="list-input code-putBox"
            type="text"
            :placeholder="$t('message.agent_caps_look')"
            name="VCodeImg"
            v-model="LoginObj.VCodeImg"
            v-validate="{ rules: { regex:Reg.VCode , required: true }}"
          />
          <span class="list-code" v-on:click="GetAuthCode()">
            <img :src="AuthImg" />
          </span>
          <span
            class="suspension-window"
            v-show="errors.has('VCodeImg') && fields.VCodeImg.touched && suspensionWindFlag"
          >
            <i class="sign">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/signIcon.png'" />
            </i>
            {{$t('message.agent_code_error')}}
          </span>
        </div>
      </div>
      <div class="lg-boxPut">
        <a
          class="lg-boxPut-login"
          v-on:click="LoginSubmit()"
          :title="$t('message.top_login')"
        >{{$t('message.top_login')}}</a>
        <router-link
          :to="{ name: 'Register'}"
          class="lg-boxPut-register"
          :title="$t('message.top_register')"
        >{{$t('message.top_register')}}</router-link>
      </div>
    </div>
    <!-- 已登录 -->
    <div class="lg-boxPut-btn" v-if="IsLogin===true">
      <div class="lg-boxPut-cashAdvance" :title="$t('message.top_cash_advance')">
        <a @click="CheckLogin('webMemberWithdrawal')">{{$t('message.top_cash_advance')}}</a>
      </div>
      <div class="lg-boxPut-recharge" :title="$t('message.top_immediate_recharge')">
        <a @click="CheckLogin('webMemberDeposit')">{{$t('message.top_immediate_recharge')}}</a>
      </div>
    </div>
    <div v-if="IsLogin===true" class="login-after">
      <router-link
        v-if="false"
        :to="{ name: 'webMemberLevel'}"
        class="level_link"
      >{{this.MemberInfo.VMemberLv}}</router-link>
      <a class="account">
        {{$t('message.top_balance')}}：
        <em>{{this.VBalance | moneyFormat}}</em>
        <a v-show="IsGetBalanceIng===false" class="refresh-account" @click="GetBalance();"></a>
        <a v-show="IsGetBalanceIng===true" class="rotateLoop"></a>
      </a>
      <!-- <a @click="CheckLogin()" class="deposit">{{$t('message.top_recharge')}}</a> -->

      <a
        @click="TriggerMemberUser('webMemberPrivateMessage')"
        class="email"
        style="position:relative"
      >
        <i class="heMail"></i>
        <p
          class="unread"
          v-show="this.MemberInfo.UnreadCount!==0"
        >{{MemberInfo.UnreadCount | upperLimitDisplay(99)}}</p>
      </a>
      <a
        @click="TriggerMemberUser('webMemberSummary')"
        id="user-name"
        class="user"
      >{{MemberInfo.Acct}}</a>
      <a class="signout" @click="Logout()">[ {{$t('message.top_quit')}} ]</a>
    </div>
  </div>
</template>

<script>
import EventBus from '@/assets/scripts/common/EventBus.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import moment from 'moment';
import LoginService from '@/mod/k04/assets/scripts/businessLogic/loginService.js';
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import SignalRService from '@/assets/scripts/common/SignalRService.js';
import rotateLoopFun from '@/assets/scripts/customJs/web/rotateLoop.js';
import BLDef from '@/assets/scripts/common/BLDef.js';
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import Vue from 'vue';
// 引入base64
const Base64 = require('js-base64').Base64;
export default {
  data() {
    return {
      MemberInfo: {
        UnreadCount: 0
      },
      IsGetBalanceIng: false,
      VBalance: '',

      // 語系選單
      LangList: [],
      // 被選定的語系
      LangSelected: {
        Name: '简体中文',
        Value: 1
      },
      loginFlag: false,
      // 登入資料物件
      LoginObj: {
        Acct: '',
        Pwd: '',
        VCodeImg: undefined
      },
      // 正則表達式類別
      Reg: Regex.Regex,

      // 驗證碼
      AuthImg: '',
      // 驗證碼顏色設定
      RGB: {
        R: 255,
        G: 200,
        B: 255
      },
      dataTime: undefined,
      defaultImgFlagOne: false,
      defaultImgFlagTwo: true,
      defaultImgFlagThree: true,
      suspensionWindFlag: false,
      forgetPassWordFlag: true
    };
  },
  props: {
    IsLogin: undefined
  },
  mounted: function() {
    // var date = new Date();

    this.dataTime = moment(new Date()).valueOf() - 43200000;
    setInterval(() => {
      this.dataTime += 1000;
    }, 1000);

    const self = this;
    EventBus.$on('SignalR_AddPrivateMessage', () => {
      self.MemberInfo.UnreadCount += 1;
    });
    EventBus.$on('SignalR_ReadPrivateMessage', data => {
      console.log(data);
      self.MemberInfo.UnreadCount = data.Data;
    });
    EventBus.$on('fundGetBalanceComplete', SummaryAmount => {
      self.VBalance = SummaryAmount;
      self.IsGetBalanceIng = false;
    });
    EventBus.$on('memberHeaderUpdateBalance', () => {
      self.GetBalance();
    });
    CommUtility.BindEnterTrigger('LoginForm', self.LoginSubmit);
    // 修改密码，退出重新登录
    EventBus.$on('Logout_ChangePassword', () => {
      localStorage.setItem('loginFlag', 'false');
      // const reData = await LoginService.LogOut(inputObj);
      // 移除登入相關資料
      localStorage.removeItem('Token');
      localStorage.removeItem('Auth');
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Acct'); // 2018.09.20 SeyoChen
      localStorage.removeItem('CorrelationIBMemberId');
      localStorage.removeItem('IBStatus');
      localStorage.removeItem('loginFlag');

      SignalRService.DisConnectServer();
      // 修改登录密码成功后退出当前用户 20190830 SeyoChen
      const notifyData = {
        NotifyMessage: self.$t('message.main_change_password'),
        CloseFunction: self.SingleLogout
      };
      EventBus.$emit('showNotifyMessage', notifyData);
    });
    // 每10分钟刷新一次钱包 2019.03.28 SeyoChen
    EventBus.$on('GBKBalance', Balance => {
      self.VBalance = Balance;
    });

    if (self.cookie.getJSON('language')) {
      if (self.cookie.getJSON('language') == 0) {
        self.language = 'zh';
        self.defaultImgFlagOne = false;
        self.defaultImgFlagTwo = true;
        self.defaultImgFlagThree = true;
      } else if (self.cookie.getJSON('language') == 1) {
        self.language = 'tw';
        self.defaultImgFlagOne = true;
        self.defaultImgFlagTwo = true;
        self.defaultImgFlagThree = false;
      } else if (self.cookie.getJSON('language') == 2) {
        self.language = 'en';
        self.defaultImgFlagOne = true;
        self.defaultImgFlagTwo = false;
        self.defaultImgFlagThree = true;
      }
    } else {
      self.language = self.$i18n.locale;
    }

    self.LoadLangList();
    self.BindingEvent();
    self.GetPreToken();

    // 在页面加载时从cookie获取登录信息
    let account = self.cookie.getJSON('account');
    let password = Base64.decode(self.cookie.getJSON('password'));
    // 如果存在赋值给表单，并且将记住密码勾选
    console.log('account存储数据');
    console.log(password);
    console.log('account存储数据');
    if (password) {
      self.LoginObj.Acct = account;
      self.LoginObj.Pwd = password;
      self.forgetPassWordFlag = true;
    }
  },
  // created: function () {
  //   if (localStorage.getItem('Acct') != null) {
  //     this.$store.dispatch('setLoginState', true);
  //     this.GetMemberInfo();
  //     this.GetBalance();
  //   } else {
  //     this.$store.dispatch('setLoginState', false);
  //   }
  // },
  methods: {
    CheckAcctStatus: async function() {
      const retData = await CommonService.Comm_CheckPermission();
      return retData;
    },
    TriggerMemberUser: function(data) {
      console.log(data);
      this.$store.dispatch('setSwitchNameText', data);
      EventBus.$emit('personalInfo', data);
    },
    TriggerMemberCenter: function(data) {
      EventBus.$emit('personalAgency', data);
    },
    // 檢查權限:凍結不可進行遊戲
    CheckLogin: async function(url) {
      const permissionData = await this.CheckAcctStatus();
      if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
        const notifyData = {
          NotifyMessage:
            BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
              permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DELETED == permissionData.Status
              ? this.$t('message.top_login_account')
              : this.$t('message.top_account_freezing'),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        // this.$router.push({ name: 'webMemberDeposit' });
        this.$store.dispatch('setSwitchNameText', url);
        EventBus.$emit('personalInfo');
      }
    },

    // 載入下拉式選單
    LoadLangList: async function() {
      const retData = await CommonService.Comm_GetLanguages();
      if (retData.Ret == 0) {
        this.LangList = retData.Data.LangSelectList;
        this.LangSelected = this.LangList[0];
      } // end if
    }, // end LoadLangList

    // 切換語系
    ChangeLang: function(targetLang) {
      /* *******************************************************切換語系動作( 2017/11/9  -- 未完成 --) */
      this.LangSelected = targetLang;
      this.$store.commit('GetLanguageData', targetLang);
    },

    GetBalance: async function() {
      this.IsGetBalanceIng = true;
      rotateLoopFun.rotateLoop(); // 刷新按钮的旋转
      if (this.$route.name === 'webMemberFundManage') {
        // 更新資金管理餘額
        EventBus.$emit('updateFundBalance');
      } else {
        // this.VBalance = await CommUtility.CalculateSummaryAmount(); // 旧版获取账户金额
        const inputObj = {};
        const retData = await PersonalCenterService.MemberCashFlowInfo_GetCWalletMoney(
          inputObj
        ); // 新版获取账户金额 2019.03.28

        if (retData.Ret == 0) {
          this.VBalance = retData.Data.VAmount;
        } else {
          this.VBalance = this.$t('message.top_under_maintenance');
        }
        // this.IsGetBalanceIng = false;
        const self = this;
        setTimeout(() => {
          self.IsGetBalanceIng = false;
        }, 500);
      }
    },

    GetMemberInfo: async function() {
      // 取得會員資訊
      const data = await CommonService.Comm_GetMemberInfo();
      if (data.Ret == 0) {
        this.MemberInfo = data.Data.Member;
        rotateLoopFun.rotateLoop(); // 刷新按钮的旋转
      }
    },

    // 登出
    Logout: async function() {
      const inputObj = {
        LogoutInfo: {}
      };
      EventBus.$emit('loginFlagCheck', false);
      localStorage.setItem('loginFlag', 'false');
      EventBus.$emit('GlobalLoadingTrigger', true);
      const reData = await LoginService.LogOut(inputObj);
      // 移除登入相關資料
      localStorage.removeItem('Token');
      localStorage.removeItem('Acct');
      localStorage.removeItem('Auth');
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Acct'); // 2018.09.20 SeyoChen
      localStorage.removeItem('CorrelationIBMemberId');
      localStorage.removeItem('IBStatus');
      localStorage.removeItem('loginFlag');
      // localStorage.clear();
      if (reData.Ret === 0) {
        // localStorage.clear();
        // this.$store.dispatch('setLoginState', false);
        window.location.href = '/';
        EventBus.$emit('GlobalLoadingTrigger', false);
      } else {
        // localStorage.clear();
        // 若沒接收到signalr斷線訊息，則3秒後自行斷線
        setTimeout(function() {
          // 斷Signalr連線
          SignalRService.DisConnectServer();
          // this.$store.dispatch('setLoginState', false);
          window.location.href = '/';
          EventBus.$emit('GlobalLoadingTrigger', false);
        }, 3000);
      }
    },

    // 綁定隨機點擊事件(讓下拉選單恢復)
    BindingEvent: function() {
      document.addEventListener('click', this.HideDropDown);
    }, // end BindingEvent

    // 顯示紀錄類型選單
    ShowDropDown: function(targetClass) {
      $('.lang_down_box').slideUp(100);
      if (this.DropDowning !== targetClass) {
        $('.' + targetClass).slideDown(300);
        this.DropDowning = targetClass;
      } else {
        $('.' + targetClass).slideUp(100);
        this.DropDowning = '';
      }
    }, // end ShowDropDown

    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.lang_down_box').slideUp(100);
        this.DropDowning = '';
      }
    }, // end HideDropDown
    // 獲取PreToken
    GetPreToken: async function() {
      const retData = await LoginService.LoadPage();
      if (retData !== '') {
        this.PreToken = retData;
        this.GetAuthCode();
      }
    }, // end GetPreToken

    // 取得驗證碼
    GetAuthCode: async function() {
      /* eslint-disable camelcase */
      const VCode_CharacterRGB = this.RGB;
      const RGBData = {
        VCode_CharacterRGB
      };
      const retData = await LoginService.ReGenVCode(this.PreToken);
      this.AuthImg = retData;
    }, // end GetAuthCode
    // 登入
    LoginSubmit: async function() {
      this.suspensionWindFlag = true;
      this.flag = await this.validate();
      setTimeout(() => {
        this.suspensionWindFlag = false;
      }, 2000);

      // 處理中則直接返回
      if (this.tempObj === true) {
        return;
      } // end if
      this.tempObj = true;

      if (this.flag === true) {
        const dataObj = {
          LoginData: {},
          WGUID: ''
        };
        dataObj.LoginData = this.LoginObj;
        dataObj.WGUID = Vue.prototype.$WGUID;
        EventBus.$emit('GlobalLoadingTrigger', true);
        const retData = await LoginService.LoginConfirm(this.PreToken, dataObj);
        EventBus.$emit('GlobalLoadingTrigger', false);

        // 失敗
        if (retData.Ret !== 0) {
          const notifyData = {
            NotifyMessage: retData.Message
          };
          EventBus.$emit('showNotifyMessage', notifyData);

          // 針對錯誤重置欄位
          switch (retData.Ret) {
            // 驗證碼錯誤
            case 30:
              this.LoginObj.VCodeImg = '';
              this.$validator.reset();
              break;
            default:
              this.LoginObj.Acct = '';
              this.LoginObj.Pwd = '';
              this.LoginObj.VCodeImg = '';
              this.$validator.reset();
              break;
          } // end switch

          this.GetAuthCode();
          this.tempObj = false;
        } else {
          // localStorage.clear();
          // 清理缓存 20190808 SeyoChen
          localStorage.setItem('Acct', this.LoginObj.Acct);
          localStorage.removeItem('Token');
          localStorage.removeItem('Auth');
          localStorage.removeItem('logoutTime');
          localStorage.removeItem('CorrelationIBMemberId');
          localStorage.removeItem('IBStatus');
          localStorage.removeItem('loginFlag');
          // 清理缓存 20190808 SeyoChen end

          localStorage.setItem('Token', retData.Data.LoginData.Token);
          localStorage.setItem('Auth', retData.Data.LoginData.Auth);
          localStorage.setItem('Acct', this.LoginObj.Acct); // 2018.09.20 SeyoChen
          localStorage.setItem(
            'CorrelationIBMemberId',
            retData.Data.LoginData.CorrelationIBMemberId
          );
          localStorage.setItem('IBStatus', retData.Data.LoginData.IBStatus);
          localStorage.setItem(
            'logoutTime',
            new Date().getTime() + Vue.prototype.$SurviveMinutes * 60 * 1000
          );
          this.$store.dispatch('setLoginState', true);
          EventBus.$emit('afterLogin');
          // this.$router.push({
          //     name: 'webIndex'
          // });

          // 储存登录信息
          this.setUserInfo();
          window.location.href = '/';
          //              this.loginFlag = true;
          EventBus.$emit('loginFlagCheck', 'true');
          localStorage.setItem('loginFlag', 'true');
          this.tempObj = false;
        }
      } else {
        // console.log('rerttrytyrweertyrtyrtyrty');
        // const dataText = {
        //   NotifyMessage: '请正确输入'
        // };
        // EventBus.$emit('showNotifyMessage', dataText);
        this.tempObj = false;
      } // edn if
    }, // end  LoginSubmit
    // 所有欄位驗證
    validate: function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate
    // 储存表单信息
    setUserInfo: function() {
      // 判断用户是否勾选记住密码，如果勾选，向cookie中储存登录信息，
      // 如果没有勾选，储存的信息为空
      if (this.forgetPassWordFlag) {
        this.cookie.set('account', this.LoginObj.Acct);
        // base64加密密码
        let passWord = Base64.encode(this.LoginObj.Pwd);
        this.cookie.set('password', passWord);
      } else {
        this.cookie.set('account', '');
        this.cookie.set('password', '');
      }
    },
    // 切换语言
    handleLanguage: function(num) {
      //  else if (num == 1) {
      //   self.language = 'tw';
      //   self.$i18n.locale = 'tw';
      //   self.defaultImgFlagOne = true;
      //   self.defaultImgFlagTwo = true;
      //   self.defaultImgFlagThree = false;
      // }
      const self = this;
      if (num == 0) {
        self.language = 'zh';
        self.$i18n.locale = 'zh';
        self.defaultImgFlagOne = false;
        self.defaultImgFlagTwo = true;
        self.defaultImgFlagThree = true;
        self.defaultImgFlagFour = true;
      } else if (num == 2) {
        self.language = 'en';
        self.$i18n.locale = 'en';
        self.defaultImgFlagOne = true;
        self.defaultImgFlagTwo = false;
        self.defaultImgFlagThree = true;
        self.defaultImgFlagFour = true;
      } else if (num == 1) {
        self.language = 'tw';
        self.$i18n.locale = 'tw';
        self.defaultImgFlagOne = true;
        self.defaultImgFlagTwo = true;
        self.defaultImgFlagThree = false;
        self.defaultImgFlagFour = true;
      } else {
        self.language = 'vi';
        self.$i18n.locale = 'vi';
        self.defaultImgFlagOne = true;
        self.defaultImgFlagTwo = true;
        self.defaultImgFlagThree = true;
        self.defaultImgFlagFour = false;
      }
      self.cookie.set('language', num);
      EventBus.$emit('GlobalLoadingTrigger', true);
      setTimeout(() => {
        EventBus.$emit('GlobalLoadingTrigger', false);
      }, 1000);
    },
    TriggerForgetPassword: function() {
      EventBus.$emit('ForgetPasswordAlert');
    },
    forgetClick: function() {
      if (this.forgetPassWordFlag) {
        this.forgetPassWordFlag = false;
      } else {
        this.forgetPassWordFlag = true;
      }
    }
  },
  // computed: {
  //   loginState () {
  //     return this.$store.getters.getLoginState;
  //   }
  // },
  watch: {
    IsLogin: function() {
      if (this.IsLogin === true) {
        this.GetMemberInfo();
        this.GetBalance();
      }
    }
    // loginState: function () {
    //   if (this.$store.state.loginState === true) {
    //     this.GetMemberInfo();
    //     this.GetBalance();
    //   }
    // }
  },
  beforeDestroy() {
    EventBus.$off('SignalR_AddPrivateMessage');
    EventBus.$off('SignalR_ReadPrivateMessage');
    EventBus.$off('fundGetBalanceComplete');
    EventBus.$off('memberHeaderUpdateBalance');
  }
};
</script>
