<!--頭部導航選單-->
<template>
  <div class="nav">
    <ul>
      <li class="li-logo">
        <router-link :to="{ name: 'Index'}">
          <img :src="this.LogoPath" />
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'LiveVideo'}">
        <router-link :to="{ name: 'LiveVideo'}">
          <p>{{$t('message.nav_live')}}</p>
          <span>Live dealer</span>
          <i></i>
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Electronic'}">
        <router-link :to="{ name: 'Electronic'}">
          <p>{{$t('message.nav_game')}}</p>
          <span>Electronic games</span>
          <i></i>
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Athletics'}">
        <router-link :to="{ name: 'Athletics'}">
          <p>{{$t('message.nav_sport')}}</p>
          <span>Electronic sports</span>
          <i></i>
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Sport'}">
        <router-link :to="{ name: 'Sport'}">
          <p>{{$t('message.nav_lottery')}}</p>
          <span>Sports lottery</span>
          <i></i>
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Lottery'}">
        <router-link :to="{ name: 'Lottery'}">
          <p>{{$t('message.nav_betting')}}</p>
          <span>Lottery betting</span>
          <i></i>
        </router-link>
      </li>
      <!--<li class="link_logo">-->
      <!--<router-link :to="{ name: 'webIndex'}">-->
      <!--<img src="/static/images/web/frame/logo.png?VersionCode" />-->
      <!--</router-link>-->
      <!--</li>-->
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Poker'}">
        <router-link :to="{ name: 'Poker'}">
          <p>{{$t('message.nav_poker')}}</p>
          <span>Poker games</span>
          <i></i>
        </router-link>
      </li>
      <li
        v-bind:class="{ 'hasSelece': (this.$route.name === 'ActivityList') || (this.$route.name === 'ActivityListDetails') }"
      >
        <router-link :to="{ name: 'ActivityList'}">
          <p>{{$t('message.nav_promotions')}}</p>
          <span>Promotions</span>
          <i></i>
        </router-link>
      </li>
      <li
        v-bind:class="{ 'hasSelece': (this.$route.name === 'NewsList') || (this.$route.name === 'NewsListDetails')}"
      >
        <router-link :to="{ name: 'NewsList'}">
          <p>{{$t('message.nav_news')}}</p>
          <span>Hot news</span>
          <i></i>
        </router-link>
      </li>
      <li v-bind:class="{ 'hasSelece': this.$route.name === 'Catchfish'}">
        <router-link :to="{ name: 'Catchfish'}">
          <p>{{$t('message.nav_fishing')}}</p>
          <span>Fishing</span>
          <i></i>
        </router-link>
      </li>
      <div class="clearfix"></div>
    </ul>
  </div>
</template>

<script>
import BLDef from '@/assets/scripts/common/BLDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';

export default {
  data () {
    return {
      LogoPath: localStorage.getItem('LogoImgPath'),
      StateLogin: false
    };
  },
  methods: {
    // 新的跳转打开个人中心方式 2019.05.13 SeyoChen
    navClick: async function (name) {
      this.CheckLoginStatusBeforeRoute(name);
      if (this.StateLogin !== false) {
        this.$store.dispatch('setSwitchNameText', name);
        EventBus.$emit('personalInfo');
      } else {
        this.$router.push({ name: 'Login' });
      }
    },
    // 檢查帳號狀態
    CheckLoginStatusBeforeRoute: async function (routeName) {
      const notifyData = {};
      const data = await CommonService.Comm_CheckPermission();

      switch (data.Status) {
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
          this.StateLogin = true;
          this.$store.dispatch('setSwitchNameText', routeName);
          EventBus.$emit('personalInfo');
          break;
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.StateLogin = false;
          notifyData.NotifyMessage = this.$t('message.top_account_freezing');
          EventBus.$emit('showNotifyMessage', notifyData);
          break;
        default:
          break;
      }
    }
  }
};
</script>
