// ==================简体中文====================//
@import "./lessSet.less";

//  厂商介绍--zh
.partner-content.partner_zh {
  .index-content {
    background: url("@{LessSetCDN}/zh/web34/partner_homeBg.jpg?VersionCode") no-repeat;
    background-size: 85%;
    background-position: 303px top;
  }
}
.partner-content.partner_en {
  .index-content {
    background: url("@{LessSetCDN}/en/web34/partner_homeBg.jpg?VersionCode") no-repeat;
    background-size: 85%;
    background-position: 303px top;
  }
}
.partner-content.partner_tw {
  .index-content {
    background: url("@{LessSetCDN}/tw/web34/partner_homeBg.jpg?VersionCode") no-repeat;
    background-size: 85%;
    background-position: 303px top;
  }
}
.partner-content.partner_vi {
  .index-content {
    background: url("@{LessSetCDN}/vi/web34/partner_homeBg.jpg?VersionCode") no-repeat;
    background-size: 85%;
    background-position: 303px top;
  }
}

// 代理合作--zh
.join-content.join_zh {
  background: url("@{LessSetCDN}/web34/cooperateBg.jpg?VersionCode") no-repeat center top;
}

// // 注册成功--zh
// .success-box_zh {
//     .success-title {
//         background: url("@{LessSetCDN}/zh/web34/register-success-title.png")no-repeat;
//     }

//     .success-btn-return {
//         display: block !important;
//         background: url("@{LessSetCDN}/zh/web34/b-index-btn.png")no-repeat;
//     }
// }

// 首页新手教程规则--zh
.novice-tutorial_zh {
  .noviciate-boxCont-rulePic {
    background: url("@{LessSetCDN}/zh/web34/rule-game-img.jpg") no-repeat center center;
  }
}

// 个人中心详情按钮
.privilege-lfCon-identifying_zh {
  .record-grade-p1 {
    background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
  }
}

// ==================简体中文 end====================//

// ==================英文====================//
// 首页登录注册按钮多语言-- en
.user_btn_box a.login_btn_en {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/btn-login.jpg?VersionCode") no-repeat;
}

.user_btn_box a.login_btn_en:hover {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/btn-login-hover.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_en {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/btn-register.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_en:hover {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/btn-register-hover.jpg?VersionCode") no-repeat;
}

// 维护中按钮多语言-- en
.maintain_box_en .game-maintain {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/maintain_game.png?VersionCode") no-repeat left
    center;
}

.maintain_box_en .eg-big-maintain {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/maintain_game_logo.png?VersionCode") no-repeat left
    center;
}

.maintain_box_en .eg-big-play {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/maintain_game_play.png?VersionCode") no-repeat left
    top;
}

// 厂商介绍背景--en
.partner-banner_en {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/en/replace_banner08.jpg?VersionCode") no-repeat top;
}

// 电子竞技--en
.athletics_en {
  .athletics- {
    &1 {
      background: url("@{LessSetCDN}/en/web34/Athletics-game-banner1.jpg?VersionCode");
    }
  }
}

#AnnouncementWindow .left-section li {
  &.on {
    .active {
      background: url("@{LessSetCDN}/announcement/left_active010.png?VersionCode") no-repeat;
    }
  }
}

// 代理合作--zh
.join-content {
  background: url("@{LessSetCDN}/web34/cooperateBg.jpg?VersionCode") no-repeat center top;
}

// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
  a {
    background: url("@{LessSetCDN}/MemberNew/table_bg_no.png") no-repeat left center;
  }

  a.on {
    background: url("@{LessSetCDN}/MemberNew/table_bg_on.png") no-repeat left center;
  }
}

.classification-cont-table table {
  .explain-lv {
    .explain-lv-icon {
      background: url("@{LessSetCDN}/MemberNew/lv.png") no-repeat left center;
    }

    .explain-lv-ten0 {
      background: url("@{LessSetCDN}/MemberNew/0.png") no-repeat left center;
    }

    .explain-lv-ten1 {
      background: url("@{LessSetCDN}/MemberNew/1.png") no-repeat left center;
    }

    .explain-lv-ten2 {
      background: url("@{LessSetCDN}/MemberNew/2.png") no-repeat left center;
    }

    .explain-lv-ten3 {
      background: url("@{LessSetCDN}/MemberNew/3.png") no-repeat left center;
    }

    .explain-lv-ten4 {
      background: url("@{LessSetCDN}/MemberNew/4.png") no-repeat left center;
    }

    .explain-lv-ten5 {
      background: url("@{LessSetCDN}/MemberNew/5.png") no-repeat left center;
    }

    .explain-lv-ten6 {
      background: url("@{LessSetCDN}/MemberNew/6.png") no-repeat left center;
    }

    .explain-lv-ten7 {
      background: url("@{LessSetCDN}/MemberNew/7.png") no-repeat left center;
    }

    .explain-lv-ten8 {
      background: url("@{LessSetCDN}/MemberNew/8.png") no-repeat left center;
    }

    .explain-lv-ten9 {
      background: url("@{LessSetCDN}/MemberNew/9.png") no-repeat left center;
    }
  }
}

.wrap .pub_alert_box.per_alert_box {
  background: url("@{LessSetCDN}/MemberNew/memberBg.png") no-repeat;
}

.wrap .recent_record_list .table_guide .btn_refresh {
  background: url("@{LessSetCDN}/MemberNew/p_freshen.png") no-repeat;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span {
  background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat center left;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span.hasblock {
  background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat center left;
}

.wrap .tip1 {
  background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

// 代理合作--en
.join-content.join_en {
  background: url("@{LessSetCDN}/web34/cooperateBg.jpg?VersionCode") no-repeat center top;
}

.wrap .online_cont .online-select {
  background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .online_cont .online-select.on {
  background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select {
  background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select.sel-on {
  background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .li_pay_set .input_rt .pay_set span {
  background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .li_pay_set .input_rt .pay_set span.hasblock {
  background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span {
  background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span.hasblock {
  background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

// 错误提示
.wrap .tip-error {
  background: url("@{LessSetCDN}/MemberNew/error_icon.png") no-repeat center center;
}

//代理中心
.wrap .pub_alert_box.per_alert_box.agency_alert_box {
  background: url("@{LessSetCDN}/agencyCenter/agencyBg.png") no-repeat;
}

.wrap .profitLoss-top-list.item1 {
  background: url("@{LessSetCDN}/agencyCenter/a_item1.png") no-repeat;
}

.wrap .profitLoss-top-list.item2 {
  background: url("@{LessSetCDN}/agencyCenter/a_item2.png") no-repeat;
}

.wrap .profitLoss-top-list.item3 {
  background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

.wrap .profitLoss-top-list.item4 {
  background: url("@{LessSetCDN}/agencyCenter/a_item4.png") no-repeat;
}

/************代理 用户列表***************/
.wrap .agency-balance {
  background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

/*电子竞技*/
.athletics-content {
  .athletics-cont-banner {
    .swiper-container {
      .swiper-wrapper {
        .athletics-1:nth-child(1) {
          background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner1.jpg");
        }

        .athletics-2:nth-child(2) {
          background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner2.jpg");
        }

        .athletics-3:nth-child(3) {
          background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner3.jpg");
        }

        .athletics-4:nth-child(4) {
          background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner4.jpg");
        }
      }
    }
  }
}

.wrap .alert_box_content .descr_title a.icon_close {
  background: url("@{LessSetCDN}/MemberNew/icon_close.png?VersionCode") no-repeat;
}

//存款方式
.depositMethod-main {
  background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img26.png?VersionCode") no-repeat left
    center;
}

//首页热门游戏内容
.hotGame-wrapper {
  .game-logo {
    .game-GameTypeNo {
      background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png") no-repeat center;
    }
  }
}

//客服
.service-content {
  .service-cont-item {
    .service-cont-list {
      background: url("@{LessSetCDN}/public/index_img36.png?VersionCode") no-repeat top center;

      a {
        &:hover {
          background: url("@{LessSetCDN}/public/index_img37.png?VersionCode") no-repeat top center;
        }
      }
    }
  }
}

.per_cont_main .purple_cont .card-content {
  .card-cont-list {
    background: url("@{LessSetCDN}/MemberNew/bankInfoCardList.png") no-repeat left;
  }
}

//进入游戏后的playMyGame页面
.playMyGame-content {
  .ele-scroll {
    .ele-logo-lists {
      .ele-logo-li {
        .eg-big-play {
          background: url("@{LessSetCDN}/web60/electronicGames/maintain_game_play.png?VersionCode") no-repeat top left;
        }

        a {
          span {
            background: url("@{LessSetCDN}/web60/electronicGames/game-btn.png") no-repeat;
          }
        }
      }
    }
  }
}

// 代理合作--vi
.join-content.join_vi {
  background: url("@{LessSetCDN}/web34/cooperateBg.jpg?VersionCode") no-repeat center top;
}

//公告样式
.marquee-content {
  background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png") no-repeat -84px center;
}

.header-marquee {
  // background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;

  .header-marquee-icon {
    background: url("@{LessSetCDN}/web00/indexNew/marquee.png") no-repeat center;
  }
}

// 个人中心-总览改版  20200109
.memberNew-record-newCon {
  .memberNew-newCon-privilege {
    background: url("@{LessSetCDN}/MemberNew/levelBg.png") no-repeat left;

    .privilege-lfCon {
      .privilege-lfCon-identifying {
        background: url("@{LessSetCDN}/MemberNew/levelIcon.png") no-repeat left;
      }
    }
  }

  .memberNew-newCon-score {
    background: url("@{LessSetCDN}/MemberNew/scoreBG.png") no-repeat left;
  }
}

// web/general/common/public.less

//登录注册充值公共部分样式
.headerChild-content {
  .main-formBox-lg {
    //未登录
    .unlisted-content {
      .lg-boxItem {
        .lg-box-list {
          .forget-pswText {
            background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
            background-size: auto 100%;
          }
        }
      }
    }

    //已登录
    .login-after {
      a {
        .heMail {
          background: url("@{LessSetCDN}/general/common/mailbox-icon.png") no-repeat center center;
        }
      }

      a.user {
        background: url("@{LessSetCDN}/general/common/user_icon.png") no-repeat left;
      }

      a.deposit {
        background: url("@{LessSetCDN}/general/common/deposit_icon.png") no-repeat left;
      }

      // a.account {
      //   background: url("@{LessSetCDN}/general/common/account-icon.png") no-repeat left;
      // }
      a.refresh-account,
      a.rotateLoop {
        background: url("@{LessSetCDN}/general/common/refresh-icon.png") no-repeat center center;
      }

      .unread {
        background: url("@{LessSetCDN}/general/common/circle.png") no-repeat center center;
        background-size: 100%;
      }
    }

    .lg-boxPut-btn {
      .lg-boxPut-recharge {
        a {
          background: url("@{LessSetCDN}/general/common/ix_new_img4.png?VersionCode") no-repeat top;
          background-size: 100% 100%;
        }
      }
    }
  }
}

//导航
.nav {
  background: url("@{LessSetCDN}/general/common/nav-bg.png?VersionCode") no-repeat center;
}

.nav li a i {
  background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
}

// 导航结束

//热门游戏
.hotGame-wrapper {
  .game-logo {
    .game-GameTypeNo {
      background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png") no-repeat center;
      background-size: 100%;
    }
  }
}

// 体育博彩
.sport-logo-tw {
  .sport-logo-page {
    background: url("@{LessSetCDN}/tw/web60/sportsBetting/title.png?VersionCode") no-repeat;
  }
}

// 注册
.register-logo-title-tw {
  a {
    background: url("@{LessSetCDN}/tw/web60/loginRegister/register-title.png") no-repeat center;
  }
}

// 登录
.login-title-tw {
  a {
    background: url("@{LessSetCDN}/tw/web60/loginRegister/login-title.png");
  }
}

// 棋牌--tw
.poker-content.poker_tw {
  .poker-logo-top {
    background: url("@{LessSetCDN}/tw/web60/poker_title.png?VersionCode") no-repeat;
  }
}

// 厂商介绍--tw
.partner-content.partner_tw {
  .index-content {
    background: url("@{LessSetCDN}/tw/web34/partner_homeBg.jpg?VersionCode") no-repeat;
    background-size: 85%;
    background-position: 303px top;
  }
}

// 代理合作--tw
.join-content.join_tw {
  background: url("@{LessSetCDN}/web34/cooperateBg.jpg?VersionCode") no-repeat center top;
}

// 注册成功--zh
// .success-box_tw {
//     .success-title {
//         background: url("@{LessSetCDN}/tw/web34/register-success-title.png")no-repeat;
//     }
// }

//手机投注 20190916 semi-sugar
.phoneBeting-content {
  background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img56.png") no-repeat center;
  background-size: 100%;

  .phoneBeting-cont-code {
    .code2-img {
      .code2-img-text {
        background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img54.png") no-repeat center;
        background-size: 100%;
      }
    }
  }
}

//u站导航
.uheader {
  background: url("@{LessSetCDN}/navNew/newLogoBg.png") no-repeat center 27px;

  .uheader-top {
    //弃用 semi-sugar 20191031
    .newHeader-content {
      .unread {
        background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
        background-size: 100%;
      }

      .logined-after {
        a {
          &.deposit {
            background: url("@{LessSetCDN}/web/frame/deposit_icon.png?VersionCode") no-repeat left;
          }

          &.user {
            background: url("@{LessSetCDN}/web/frame/user_icon.png?VersionCode") no-repeat left;
          }
        }
      }

      .newHeader-cont-warp {
        .newHeader-cont-login {
          background: url("@{LessSetCDN}/navNew/index_new_img4.png");
          background-size: 100% 100%;
        }

        .newHeader-cont-register {
          background: url("@{LessSetCDN}/navNew/index_new_img5.png");
          background-size: 100% 100%;
        }
      }

      .newHeader-cont-recharge {
        background: url("@{LessSetCDN}/navNew/index_new_img6.png");
        background-size: 100% 100%;
      }
    }
  }
}

// 个人中心背景图 ===== end

//主版导航
.pg-header {
  .main-navNew {
    background: url("@{LessSetCDN}/general/common/navNew_bg.png?VersionCode") no-repeat top center;

    .navNew-List {
      a {
        i {
          background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
        }
      }
    }
  }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
  background: url("@{LessSetCDN}/navNew/navNew_img1.png") no-repeat center;
  background-size: 100% 100%;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li:hover {
  background: url("@{LessSetCDN}/navNew/navNew_img2.png") no-repeat center;
  background-size: 100% 100%;
}

// web/general/common/public.less end

//===================简体中文 end==============//

// abnormal.less

.system_zh {
  .maintenance {
    background: url("@{LessSetCDN}/public/lang/zh/maintenance3.png?VersionCode") no-repeat center;
    background-size: 100% auto;
  }

  .staytuned {
    background: url("@{LessSetCDN}/zh/general/staytuned2.png?VersionCode") no-repeat center;
    background-size: 100% auto;
  }
}

.system_en {
  .maintenance {
    background: url("@{LessSetCDN}/public/lang/en/maintenance3.png?VersionCode") no-repeat center;
    background-size: 100% 100%;
  }

  .staytuned {
    background: url("@{LessSetCDN}/en/general/staytuned2.png?VersionCode") no-repeat center;
    background-size: 100% 100%;
  }
}

#AnnouncementWindow .ann_icon_close {
  // background: url("@{LessSetCDN}/announcement/close.png") no-repeat;
}

.system_vi {
  .maintenance {
    background: url("@{LessSetCDN}/public/lang/vi/maintenance3.png?VersionCode") no-repeat center;
  }

  .staytuned {
    background: url("@{LessSetCDN}/vi/general/staytuned2.png?VersionCode") no-repeat center;
  }
}

.system_tw {
  .maintenance {
    background: url("@{LessSetCDN}/public/lang/tw/maintenance3.png?VersionCode") no-repeat center;
  }

  .staytuned {
    background: url("@{LessSetCDN}/tw/general/staytuned2.png?VersionCode") no-repeat center;
  }
}

.liveAbnormal {
  &.live-expect {
    background: url("@{LessSetCDN}/general/common/liveVideo/1.png?VersionCode") no-repeat center !important;
  }
}

.sportAbnormal {
  &.sport-expect {
    .sport-logo-wrap {
      background: url("@{LessSetCDN}/general/common/sport/2.jpg?VersionCode") no-repeat center !important;
    }
  }
}

.lotteryAbnormal {
  &.lottery-expect {
    background: url("@{LessSetCDN}/general/common/lottery/9.jpg?VersionCode") no-repeat center !important;
  }
}

.pokerAbnormal {
  &.poker-expect {
    background: url("@{LessSetCDN}/general/common/poker/2.jpg?VersionCode") no-repeat center !important;
  }
}

.catchfishAbnormal {
  &.catchfish-expect {
    background: url("@{LessSetCDN}/general/common/catchfish/1.jpg?VersionCode") no-repeat center !important;
  }
}

// alert.less

.pub_alert_box .descr_title a.icon_close {
  background: url("@{LessSetCDN}/web34/close.png") no-repeat;
  background-size: 100% 100%;
}

.sum_alert_box .icon_download {
  background-size: 100% 100%;
  background: url("@{LessSetCDN}/web34/member/icon_download.png?VersionCode") no-repeat;
}

.LoadBox .LoadIcon {
  background: url("@{LessSetCDN}/web34/loading3.png") no-repeat center center;
  background-size: 100%;
}

.user-agreement-box .back-register {
  background: url("@{LessSetCDN}/web34/a_3.png") no-repeat center top;
}

// web/general/common/public.less

//登录注册充值公共部分样式
.headerChild-content {
  .main-formBox-lg {
    //未登录
    .unlisted-content {
      .lg-boxItem {
        .lg-box-list {
          .forget-pswText {
            background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
            background-size: auto 100%;
          }
        }
      }
    }

    //已登录
    .login-after {
      a {
        .heMail {
          background: url("@{LessSetCDN}/general/common/Mail.png") no-repeat;
        }
      }

      a.user {
        background: url("@{LessSetCDN}/general/common/user_icon.png") no-repeat left;
      }

      a.deposit {
        background: url("@{LessSetCDN}/general/common/deposit_icon.png") no-repeat left;
      }

      a.refresh-account,
      a.rotateLoop {
        background: url("@{LessSetCDN}/general/common/refresh_personal.png") no-repeat;
      }

      .unread {
        background: url("@{LessSetCDN}/general/common/circle.png") no-repeat center center;
        background-size: 100%;
      }
    }

    .lg-boxPut-btn {
      .lg-boxPut-recharge {
        a {
          background: url("@{LessSetCDN}/general/common/ix_new_img4.png?VersionCode") no-repeat top;
          background-size: 100% 100%;
        }
      }
    }
  }
}

//导航
.nav {
  background: url("@{LessSetCDN}/general/common/nav-bg.png?VersionCode") no-repeat center;
}

.nav li a i {
  background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
}

// 导航结束

//客服
.service-content {
  .service-cont-item {
    .service-cont-list {
      background: url("@{LessSetCDN}/general/common/index_img36.png?VersionCode") no-repeat top center;
      background-size: 100% 100%;

      a {
        &:hover {
          background: url("@{LessSetCDN}/general/common/index_img37.png?VersionCode") no-repeat top center;
          background-size: 100% 100%;
        }
      }
    }
  }
}

//热门游戏
.hotGame-wrapper {
  .game-logo {
    .game-GameTypeNo {
      background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png") no-repeat center;
      background-size: 100%;
    }
  }
}

//手机投注 20190916 semi-sugar
.phoneBeting-content {
  background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img56.png") no-repeat center;
  background-size: 100%;

  .phoneBeting-cont-code {
    .code2-img {
      .code2-img-text {
        background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img54.png") no-repeat center;
        background-size: 100%;
      }
    }
  }
}

//u站导航
.uheader {
  background: url("@{LessSetCDN}/navNew/newLogoBg.png") no-repeat center 27px;

  .uheader-top {
    //弃用 semi-sugar 20191031
    .newHeader-content {
      .unread {
        background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
        background-size: 100%;
      }

      .logined-after {
        a {
          &.deposit {
            background: url("@{LessSetCDN}/web/frame/deposit_icon.png?VersionCode") no-repeat left;
          }

          &.user {
            background: url("@{LessSetCDN}/web/frame/user_icon.png?VersionCode") no-repeat left;
          }
        }
      }

      .newHeader-cont-warp {
        .newHeader-cont-login {
          background: url("@{LessSetCDN}/navNew/index_new_img4.png");
          background-size: 100% 100%;
        }

        .newHeader-cont-register {
          background: url("@{LessSetCDN}/navNew/index_new_img5.png");
          background-size: 100% 100%;
        }
      }

      .newHeader-cont-recharge {
        background: url("@{LessSetCDN}/navNew/index_new_img6.png");
        background-size: 100% 100%;
      }
    }
  }
}

//主版导航
.pg-header {
  .main-navNew {
    background: url("@{LessSetCDN}/general/common/navNew_bg.png?VersionCode") no-repeat top center;

    .navNew-List {
      a {
        i {
          background: url("@{LessSetCDN}/EditionImg/Lambor1.0/images/web/frame/hover_bg2.png?VersionCode") no-repeat
            center;
        }
      }
    }
  }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
  background: url("@{LessSetCDN}/navNew/navNew_img1.png") no-repeat center;
  background-size: 100% 100%;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li:hover {
  background: url("@{LessSetCDN}/navNew/navNew_img2.png") no-repeat center;
  background-size: 100% 100%;
}

// web/loginRegister/sy34/loginRegister.less

.theme34 {
  /*登录&注册&注册成功&用户协议*/
  .login-register-content {
    background: url("@{LessSetCDN}/web34/loginBg.jpg") no-repeat top center;
    background-size: 100% 100%;

    .login-register-main {
      .login-register-box {
        .login-listBtn-34 {
          .login-cont-listFastener {
            .login-cont-listRefer {
              background: url("@{LessSetCDN}/web34/a_3.png") no-repeat top center;
              background-size: 100% 100%;
            }

            .login-cont-listNew {
              background: url("@{LessSetCDN}/web34/e_1.png") no-repeat top center;
              background-size: 100% 100%;
            }
          }
        }
      }

      .register-box {
        .register-title {
          a {
            background: url("/static/images/Customer/l_21.png") no-repeat;
            background-size: 100% 100%;
          }
        }

        .login-register-from {
          .register-hook {
            i.current {
              background: url("@{LessSetCDN}/web34/gougou.png") no-repeat center;
            }
          }
        }

        .register-listBtn {
          background: url("@{LessSetCDN}/web34/a_3.png") no-repeat top center;
          background-size: 100% 100%;
        }
      }
    }
  }
}

// web/main/index.less

.indexNew-wrapContent {
  .game-logo {
    .game-GameTypeNo {
      background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png") no-repeat center;
      background-size: 100%;
    }
  }
}

// web/main/sy34/common.less

.theme34 {
  .game-maintain,
  .eg-big-play {
    background: url("@{LessSetCDN}/web34/maintain/maintain_game_play.png?VersionCode") no-repeat top left;
  }

  .eg-big-maintain {
    background: url("@{LessSetCDN}/web34/maintain/maintain_game_logo.png?VersionCode") no-repeat center left;
  }

  /* 游戏维护中 end */

  /*代理加盟，联系我们公共样式*/
  .a-j-lists {
    .proxy-com {
      .proxy-line {
        i {
          background: url("@{LessSetCDN}/web34/frame/down.png?VersionCode") no-repeat right center;
        }
      }

      .a-j-input {
        .down {
          i.a-j-downimg {
            background: url("@{LessSetCDN}/web34/member/icon_down.png?VersionCode") no-repeat;
          }
        }

        .a-j-sexUl {
          .a-j-sexItem {
            background: url("@{LessSetCDN}/web34/pic_3.png?VersionCode") no-repeat left center;

            &.on {
              background: url("@{LessSetCDN}/web34/pic_3a.png?VersionCode") no-repeat left center;
            }
          }
        }
      }
    }
  }

  .a-j-submit {
    background: url("@{LessSetCDN}/web34/a_3.png?VersionCode") no-repeat top;
  }

  /*代理加盟，联系我们公共样式 end*/
  /*前台共用的游戏列表*/
  .poker-logo-lists li > div {
    background: url("@{LessSetCDN}/web34/poker_item.png") no-repeat;
  }

  .poker-logo-lists li div.rotate-after a.rotate-play {
    background: url("@{LessSetCDN}/web34/game_enter.png") no-repeat;
  }

  /*前台共用的游戏列表 end*/
}

// web/main/sy34/style.less

.ele-content {
  .ele-logo-page {
    .ele-logo-main {
      .ele-search {
        .ele-search-btn {
          background: url("@{LessSetCDN}/web33/PT_H5/search.png?VersionCode") no-repeat left center;
        }
      }
    }
  }
}

.activity-detail-content {
  background: url("@{LessSetCDN}/web34/favourable.jpg") 0;
  background-size: 100% 100%;
}

.wlottery-right-content {
  background: url("@{LessSetCDN}/web34/common/poker_bg.png?VersionCode") no-repeat top;
  background-position-y: 438px;

  .banner {
    background: url("@{LessSetCDN}/web34/common/poker_bg.png?VersionCode") no-repeat top;
    background-position-x: -324px;
  }
}

/*新闻详情*/
.news-detail-content {
  background: url("@{LessSetCDN}/web34/aboutUs.jpg") center top;
  background-size: 100% 100%;

  .news-detail-page {
    .news-detail-top {
      .back-btn {
        background: url("@{LessSetCDN}/web34/activity/details_return.png?VersionCode") no-repeat left center;
      }
    }
  }
}

.wfrim-right-content {
  background: url("@{LessSetCDN}/web34/firmBg.jpg") no-repeat center top;
  background-size: 100% 100%;
}

/*厂商介绍 end*/

/*关于我们*/
.about-content-34 {
  background: url("@{LessSetCDN}/web34/aboutUs.jpg?VersionCode") no-repeat center top;
  background-size: 100% 100%;
}

/*关于我们 end*/

/*无优惠活动占位*/
.no-activity-img {
  background: url("@{LessSetCDN}/web34/activity/404.png?VersionCode") no-repeat center;
}

/*无优惠活动占位 end*/

//棋牌游戏进入游戏弹出的游戏列表
.playMyGame-wrapper {
  background: url("@{LessSetCDN}/web34/contact_bg.png") no-repeat top;

  .playMyGame-content {
    .ele-logo-lists {
      .ele-logo-li {
        a {
          span {
            background: url("@{LessSetCDN}/web34/maintain/game-btn.png") no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}

// 电子竞技
.athletics-content {
  .athletics-btns {
    li {
      background: url("@{LessSetCDN}/web34/btn-select-bg.png") no-repeat center center;
    }
  }
}

// web/main/tutorial/sy34/tutorial.less

.wcpa-right-content {
  background: url("@{LessSetCDN}/web34/contact_bg.png") no-repeat center top;
}

// web/member/sy34/public.less

.popup-content .close-the-window {
  background: url("@{LessSetCDN}/web34/close.png") no-repeat;
}

.public-bombox {
  background: url("@{LessSetCDN}/web34/frame-box1.png") no-repeat top center;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
  background: url("@{LessSetCDN}/web34/bomsurebtn.png") no-repeat center;
}

.public-navs li.on,
.public-navs li:hover {
  background: url("@{LessSetCDN}/web34/hover.png") no-repeat;
}

/*内容框*/
.public-content {
  background: url("@{LessSetCDN}/web34/farme.png") no-repeat;
}

.tip1 {
  background: url("@{LessSetCDN}/web34/tip.png") no-repeat;
  background-size: 12px 12px;
  background-position: 0 3px;
}

// web/paginate/sy34/index.less
.paginate > li {
  &:first-child {
    background: url("@{LessSetCDN}/web34/arrow-right.png?VersionCode1") no-repeat left 2px;
    background-size: contain;
    transform: rotate(180deg);

    &.disabled {
      background: url("@{LessSetCDN}/web34/arrow-left.png?VersionCode1") no-repeat left 2px;
      background-size: contain;
      transform: rotate(0deg);
    }
  }

  &:last-child {
    background: url("@{LessSetCDN}/web34/arrow-right.png?VersionCode1") no-repeat left 2px;
    background-size: contain;
    transform: rotate(0deg);

    &.disabled {
      background: url("@{LessSetCDN}/web34/arrow-left.png?VersionCode1") no-repeat left 2px;
      background-size: contain;
      transform: rotate(180deg);
    }
  }
}

// .paginate>li:first-child {
//     background: url('@{LessSetCDN}/web34/arrow-left.png?VersionCode1') no-repeat left 2px;
//     background-size: contain;
// }

// .paginate>li:last-child {
//     background: url('@{LessSetCDN}/web34/arrow-right.png?VersionCode1') no-repeat left 2px;
//     background-size: contain;
// }

// web/public/public.less

html,
body {
  background: url("@{LessSetCDN}/web34/common/wrap-bg.jpg") !important;
}

.popup-content .close-the-window {
  background: url("@{LessSetCDN}/web/public/close.png") no-repeat;
}

.public-bombox {
  background: url("@{LessSetCDN}/public/frame-box1.png") no-repeat top center;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
  display: block;
  background: url("@{LessSetCDN}/public/bomsurebtn.png") no-repeat center;
}

.public-navs li.on,
.public-navs li:hover {
  background: url("@{LessSetCDN}/public/hover.png") no-repeat;
}

/*内容框*/
.public-content {
  background: url("@{LessSetCDN}/public/farme.png") no-repeat;
}

.public-page-left {
  background: url("@{LessSetCDN}/public/previous.png") no-repeat;
}

.public-page-right {
  background: url("@{LessSetCDN}/public/naxt.png") no-repeat;
}

.tip1 {
  background: url("@{LessSetCDN}/public/tip.png?VersionCode") no-repeat;
  background-size: 13px 13px;
  background-position: 0 2px;
}

.LoadBox .LoadIcon {
  background: url("@{LessSetCDN}/public/loading3.png") no-repeat center center;
  background-size: 100%;
}

// web/public/style.less

.list-tip {
  background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
  background-size: 12px 12px;
  background-position: 0 3px;
}

// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
  a {
    background: url("@{LessSetCDN}/MemberNew/table_bg_no.png") no-repeat left center;
  }

  a.on {
    background: url("@{LessSetCDN}/MemberNew/table_bg_on.png") no-repeat left center;
  }
}

.eye-btn {
  background: url("@{LessSetCDN}/public/eye_close.png?VersionCode") no-repeat center center;
  background-size: 100%;
}

.eye-btn.on {
  background: url("@{LessSetCDN}/public/eye_open.png?VersionCode") no-repeat center center;
  background-size: 100%;
}

// web/public/sy34/public.less

.theme34 {
  /*header*/

  .header {
    .header-cont {
      .header-cont-nav {
        li {
          a {
            .heMail {
              background: url("@{LessSetCDN}/web34/frame/Mail.png") no-repeat;
            }

            &.user {
              background: url("@{LessSetCDN}/web34/frame/user_icon.png") no-repeat left;
            }

            &.deposit {
              background: url("@{LessSetCDN}/web34/frame/deposit_icon.png") no-repeat left;
            }

            &.refresh-account,
            &.rotateLoop {
              background: url("@{LessSetCDN}/web34/frame/refresh_personal.png") no-repeat;
            }
          }

          .unread {
            background: url("@{LessSetCDN}/web34/frame/circle.png") no-repeat center center;
            background-size: 100%;
          }
        }
      }
    }
  }

  /*language*/

  /*----------start--下拉框----------*/
  .language .down i.flagDown {
    background: url("@{LessSetCDN}/web34/flag_1.png") no-repeat;
    background-size: 100% 100%;
  }

  .language .down i.iconDown {
    background: url("@{LessSetCDN}/web34/icon_down.png") no-repeat;
    background-size: 100% 100%;
  }

  /*----------end--下拉框----------*/

  /*header_nav*/
  .main-cont-nav {
    background: url("@{LessSetCDN}/web34/nav-bg.png") no-repeat center top;
    background-size: cover;

    .left-cont-menu {
      .menu-list {
        .check-pic {
          background: url("@{LessSetCDN}/web34/nav-select-bg1.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  /*nav end*/
}

// styles/less/bg.less

//@ResourceURL: "http://wowza211.cdn1.chinacache.woooow/LamborSummary/EditionImg/Lambor7.0/images";

// sever
.service-list-box .qq_list li a {
  background: url("@{LessSetCDN}/web/frame/icon_qq.png") no-repeat;
}

.service-jiao {
  background: url("@{LessSetCDN}/web/frame/icon_rt.png") no-repeat;
}

.service-list-box .qq_list li.last_li a {
  background: url("@{LessSetCDN}/web/frame/icon_qq1.png") no-repeat;
}

// sever end

// logo-page

.number-page-btn {
  background: url("@{LessSetCDN}/web/public/page-left.png") no-repeat;
}

.number-page-right {
  background: url("@{LessSetCDN}/web/public/page-right.png") no-repeat;
}

// logo-page end

// index

// index end

// video
.video_con {
  background: url("@{LessSetCDN}/web/liveVideo/bg.png") no-repeat;
}

// video end

// electronic

.computer_con {
  background: url("@{LessSetCDN}/web/electronic/electronic-bg.png") no-repeat;
}

.c-g-content {
  background: url("@{LessSetCDN}/web/electronic/c-g-frame.png") no-repeat;
}

.cg-game-menu a span {
  background: url("@{LessSetCDN}/web/electronic/game-btn.png") no-repeat;
}

// electronic end

// sport

.sports_con {
  background: url("@{LessSetCDN}/web/sportsBetting/bg.png");
}

// sport end

// lottery

.lottery_con {
  background: url("@{LessSetCDN}/web/lottery/bg.png") no-repeat;
}

// lottery end

// news

.news_con {
  background: url("@{LessSetCDN}/web/activities/bg.png");
  height: 1267px;
}

// news end

// activity

.activity_details_con {
  background: url("@{LessSetCDN}/web/activities/bg.png");
}

.a-n-content .anbtn {
  background: url("@{LessSetCDN}/web/public/hover.png") no-repeat;
}

.activity_con .banner .actbtn {
  background: url("@{LessSetCDN}/web/activities/actbtn.png") no-repeat;
}

// activity end

// mobileApp

.mobile-main .wordbtn b {
  background: url("@{LessSetCDN}/web/mobileBetting/right.png") no-repeat;
}

.mobile-main .mobile-text .mt-join a {
  background: url("@{LessSetCDN}/web/mobileBetting/kuang.png") no-repeat;
}

// mobileApp end

// aboutUs

.about_con {
  background: url("@{LessSetCDN}/web/aboutUs/bg.png");
}

// aboutUs end

// partner

.introduct_con {
  background: url("@{LessSetCDN}/web/public/bg.png");
}

// partner end

// agent

.agent_con {
  background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent-content > h2 a {
  background: url("@{LessSetCDN}/web/agent/agentbtn.png") no-repeat;
}

// agent end

// Join

.agent_join_con {
  background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent_join_content .agent_join_main {
  background: url("@{LessSetCDN}/web/agent/frame.png");
}

.a-j-lists .proxy-line i {
  background: url("@{LessSetCDN}/web/agent/xiala.png") no-repeat;
}

.a-j-cont .a-c-submit {
  background: url("@{LessSetCDN}/web/agent/a-surn.png") no-repeat top center;
}

// Join end

// h5

.H5_con {
  background: url("@{LessSetCDN}/web/H5/bg.png") no-repeat top center;
}

.H5-content .H5-main {
  background: url("@{LessSetCDN}/web/public/farme.png") no-repeat;
}

// web/general/common/public.less end

// 公告信息
#AnnouncementWindow .window-title {
  background: url("@{LessSetCDN}/announcement/header_bg010.png") no-repeat;
}

// 总览按钮
.privilege-lfCon-identifying_zh {
  .record-grade-p1 {
    // background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
  }
}

.privilege-lfCon-identifying_vi {
  .record-grade-p1 {
    // background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
  }
}

.privilege-lfCon-identifying_tw {
  .record-grade-p1 {
    // background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
  }
}

.privilege-lfCon-identifying_en {
  .record-grade-p1 {
    // background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
  }
}

// 客制版客服
.service-code {
  .service-list {
    .service-list-bg {
      margin-left: -15px;
      padding: 0 10px;
      width: 141px;
      height: 162px;
      background: url("@{LessCustomized}/Customized/VND/images/serve/serve_bg.png") no-repeat;

      &:hover {
        background: url("@{LessCustomized}/Customized/VND/images/serve/serve_bg_hover.png") no-repeat;
      }
    }
  }
}

// 个人中心补漏
.wrap .tip-trans {
  background: url("@{LessSetCDN}/web/member/tip.png") no-repeat left center;
}
