<template>
  <!--修改手機號碼彈出窗-->
  <div id="phoneNumberForm" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="HideEditPhone()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div
      name="PhoneNoForm"
      class="purple_cont member_new_tip member_new_bomp"
      :class="'member_new_bomp_'+$MessageLang"
    >
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_modify_mobile')}}
      </h2>
      <div class="descr_title" v-if="DisplayPhoneNo != ''">
        <p>{{$t('message.member_binding_mobile')}}{{ DisplayPhoneNo | phoneNumberFormat}}</p>
        <!--<a class="icon_close" href="javascript:void(0);" @click="HideEditPhone()"></a>-->
      </div>
      <ul class="input_field style2">
        <li class="hasblock" v-if="DisplayPhoneNo != ''">
          <div
            class="input_lf"
            :style="{width:$MessageLang==='en'?'180px':''}"
          >{{$t('message.member_original_telephone')}}</div>
          <div class="input_rt">
            <input
              @focus="TipShow(1)"
              @blur="TipHide(1)"
              type="text"
              name="OrgPhoneNo"
              v-model="OrgPhoneNo"
              v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
              :placeholder="$t('message.member_input_originalTelephone')"
            />
            <i
              class="tip-box"
              v-show="(errors.has('OrgPhoneNo') && fields.OrgPhoneNo.touched) || (this.OrgPhoneNo !== this.DisplayPhoneNo && this.OrgPhoneNo!== undefined)"
            ></i>
            <i
              class="tip-error"
              v-show="errors.has('OrgPhoneNo') && fields.OrgPhoneNo.touched || (this.OrgPhoneNo !== this.DisplayPhoneNo && this.OrgPhoneNo!== undefined)"
            ></i>
            <i
              class="tip1"
              style="line-height: 20px;"
              v-show="errors.has('OrgPhoneNo') && this.TipsShow.OrgPhoneNo == true"
            >{{$t('message.agent_legal_mobilePhone')}}</i>
            <i
              class="tip1"
              v-show="!errors.has('OrgPhoneNo') && this.TipsShow.OrgPhoneNo == true"
              v-if="this.OrgPhoneNo != this.DisplayPhoneNo"
            >{{$t('message.member_input_different')}}</i>
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_new_phone')}}</div>
          <div class="input_rt">
            <input
              type="text"
              name="NewPhoneNo"
              @focus="TipShow(2)"
              @blur="TipHide(2)"
              v-model="NewPhoneNo"
              v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
              :placeholder="$t('message.member_enter_newPhone')"
            />
            <i class="tip-box" v-show="errors.has('NewPhoneNo') && fields.NewPhoneNo.touched"></i>
            <i class="tip-error" v-show="errors.has('NewPhoneNo') && fields.NewPhoneNo.touched"></i>
            <i
              class="tip1"
              style="line-height: 20px;"
              v-show="errors.has('NewPhoneNo') && this.TipsShow.NewPhoneNo == true"
            >{{$t('message.agent_legal_mobilePhone')}}</i>
          </div>
        </li>
      </ul>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="SubmitPhoneEdit()"
        >{{$t('message.agent_submission')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import Regex from "@/assets/scripts/common/CommDef.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"

export default {
  data() {
    return {
      Reg: Regex.Regex,
      OrgPhoneNo: undefined,
      NewPhoneNo: undefined,

      TipsShow: {
        OrgPhoneNo: false,
        NewPhoneNo: false,
        IsAvailable: true // 手机号码重复
      },
      // 检查手机号是否重复
      CheckPhoneNoAvailable: {
        PhoneNo: "",
        WGUID: ""
      }
    }
  },
  props: {
    DisplayPhoneNo: undefined
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("phoneNumberForm", this.SubmitPhoneEdit)
    EventBus.$on("Profile_Update_Success", () => {
      this.ResetForm()
    })
  },
  methods: {
    TipShow: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.OrgPhoneNo = true
          break
        case 2:
          this.TipsShow.NewPhoneNo = true
          break
        default:
          break
      }
    },
    TipHide: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.OrgPhoneNo = false
          break
        case 2:
          this.TipsShow.NewPhoneNo = false
          break
        default:
          break
      }
    },

    // 開啟彈窗
    ShowEditPhone: function () {
      CommUtility.WebShowAlertboxForm("phoneNumberForm")
    }, // end ShowEditPhone

    // 關閉彈窗
    HideEditPhone: function () {
      this.ResetForm() // 2018.12.04 关闭弹窗时清空内容
      this.$validator.reset()
      CommUtility.WebClosealertboxForm("phoneNumberForm")
    }, // end HideEditPhone

    // 暫存要修改後的電話
    SubmitPhoneEdit: async function () {
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })

      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }

      // 2018.11.22 SeyoChen 输入手机是否与原手机相同
      if (this.OrgPhoneNo !== this.DisplayPhoneNo && this.DisplayPhoneNo != "") {
        return
      }
      // 2018.11.22 SeyoChen end

      // 注册手机号进行检测 会员手机号不能重复
      this.CheckPhoneNoAvailable.PhoneNo = this.NewPhoneNo
      this.CheckPhoneNoAvailable.WGUID = Vue.prototype.$WGUID
      const DataInput = { CheckPhoneNo: this.CheckPhoneNoAvailable }
      const CheckPhoneNo = await CommService.Comm_CheckPhoneNoAvailable(DataInput)

      console.log("++++++++++++++++++++++++++++++++++++++++++++++")
      console.log(DataInput)

      if (CheckPhoneNo.Ret === 0 && CheckPhoneNo.Data.CheckPhoneNo.IsAvailable === false) {
        const notifyData = {
          NotifyMessage: this.$t("message.agent_alike_mobilePhone")
        }
        CommUtility.WebClosealertboxForm("phoneNumberForm")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        this.ResetForm() // 2018.12.04 关闭弹窗时清空内容
        this.$validator.reset()
        // this.TipsShow.IsAvailable = false;
        return
      } else if (CheckPhoneNo.Ret === 19) {
        const notifyData = {
          NotifyMessage: this.$t("message.member_phoneNumber_error"),
          NotifySubMessage: this.$t("message.agent_legal_mobilePhone")
        }
        CommUtility.WebClosealertboxForm("phoneNumberForm")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        return
      }
      // 注册手机号进行检测 会员手机号不能重复

      this.$parent.LoadMainPageDataModel.Member.PhoneNo = Vue.util.extend(this.OrgPhoneNo)
      this.$parent.LoadMainPageDataModel.Member.NewPhoneNo = Vue.util.extend(this.NewPhoneNo)
      this.ResetForm() // 2018.12.04 关闭弹窗时清空内容
      this.$validator.reset()
      CommUtility.WebClosealertboxForm("phoneNumberForm")
    }, // end SubmitPhoneEdit

    // 重置欄位
    ResetForm: function () {
      this.OrgPhoneNo = undefined
      this.NewPhoneNo = undefined
    } // end ResetForm
  },
  beforeDestroy() {
    EventBus.$off("Profile_Update_Success")
  }
}
</script>
