<template>
  <div>
    <!--资料可修改页-->
    <div id="UpdPersonalInfoForm" name="UpdPersonalInfoForm">
      <div class="info_block purple_cont purple_cont_new member_new_tip">
        <ul class="psl_guide">
          <li class="hasblock">
            <a href="javascript:void(0);">{{$t('message.member_personal_data')}}</a>
            <i></i>
          </li>
        </ul>
        <ul class="info_list input_field style1">
          <li v-if="false" class="li_level">
            <span>{{$t('message.member_membership_rank')}}</span>
            <div class="level_rt">
              <p>
                <em>{{LoadMainPageDataModel.Member.VMemberLv}}</em>
                <router-link
                  :to="{ name: 'webMemberLevel'}"
                  class="enter_level"
                >{{$t('message.member_hierarchical_rules')}}</router-link>
              </p>
              <p v-if="LoadMainPageDataModel.IsLastMemberLv === false">
                （{{$t('message.member_current_code')}}{{LoadMainPageDataModel.MemberUpgradeData.VCurrRakeAmt}}，
                {{$t('message.member_promotion_membership')}}{{LoadMainPageDataModel.MemberUpgradeData.VPromoteValidMemberCnt}}{{$t('message.member_individual')}}，
                {{$t('message.member_distance')}}{{LoadMainPageDataModel.MemberUpgradeData.NextLvMemberLvName}}{{$t('message.member_still_bad')}}{{LoadMainPageDataModel.MemberUpgradeData.VNextLvRakeAmtDiff}}{{$t('message.member_washing_quantity')}}{{LoadMainPageDataModel.MemberUpgradeData.VNextLvPromoteValidMemberCntDiff}}{{$t('message.member_effective_promotion')}}
              </p>
            </div>
          </li>
          <li class="hasblock">
            <span>{{$t('message.login_account_number')}}：</span>
            <em>{{LoadMainPageDataModel.Member.Acct}}</em>
          </li>
          <li class="hasblock">
            <span>{{$t('message.agent_handset')}}：</span>
            <em>{{LoadMainPageDataModel.Member.NewPhoneNo | phoneNumberFormat}}</em>
            <a
              class="tel_change"
              href="javascript:void(0);"
              @click="TriggerEditPhone()"
            >{{$t('message.member_revise')}}</a>
          </li>
          <li class="li_sex">
            <span>{{$t('message.agent_sexuality')}}：</span>
            <div class="sex_rt">
              <span
                v-for="Sex in SexTypeSelectList"
                @click="LoadMainPageDataModel.Member.SexType = Sex.Value;"
                :class="LoadMainPageDataModel.Member.SexType ==  Sex.Value? 'hasblock' : ''"
              >{{Sex.Name}}</span>
            </div>
          </li>

          <li class="hasblock">
            <span>{{$t('message.member_pet_name')}}：</span>
            <div class="input_rt">
              <input
                @focus="TipShow(1)"
                @blur="TipHide(1)"
                type="text"
                name="MemberRealName"
                v-model.trim="LoadMainPageDataModel.Member.RealName"
                v-validate="{ rules: { regex:Reg.NickName }}"
              />
              <i
                class="tip-box"
                v-show="errors.has('MemberRealName') && fields.MemberRealName.touched"
              ></i>
              <i
                class="tip-error"
                v-show="errors.has('MemberRealName') && fields.MemberRealName.touched"
              ></i>
              <i
                class="tip1"
                v-show="errors.has('MemberRealName') && this.TipsShow.Name == true"
              >{{$t('message.agent_blank_space')}}</i>
            </div>
          </li>
          <li class="hasblock">
            <span>{{$t('message.member_wechat_number')}}：</span>
            <div class="input_rt">
              <input
                @focus="TipShow(2)"
                @blur="TipHide(2)"
                type="text"
                name="WeChatAcct"
                v-model="LoadMainPageDataModel.Member.WeChatAcct"
                v-validate="{ rules: { regex:Reg.WeChatID }}"
              />
              <i class="tip-box" v-show="errors.has('WeChatAcct') && fields.WeChatAcct.touched"></i>
              <i class="tip-error" v-show="errors.has('WeChatAcct') && fields.WeChatAcct.touched"></i>
              <i
                class="tip1 tip1-Acct"
                v-show="errors.has('WeChatAcct') && this.TipsShow.WeChatAcct == true"
              >{{$t('message.agent_beginning_period')}}</i>
            </div>
          </li>
          <li class="hasblock" style="overflow: visible!important;">
            <span>{{$t('message.member_mailbox')}}：</span>
            <div class="input_rt email-position">
              <input
                @focus="TipShow(3)"
                @blur="TipHide(3)"
                type="text"
                name="MemberEmail"
                v-model="Email"
                v-validate="'lamborEmail'"
                v-if="EmailVerifyFlag == false"
              />
              <em
                class="has-verifiy-email"
                v-if="EmailVerifyFlag == true"
              >{{LoadMainPageDataModel.Member.Email}}</em>
              <em
                class="tip-verifiy-false"
                v-if="EmailVerifyFlag == false"
              >{{$t('message.member_notyet_verified')}}</em>
              <em
                class="tip-verifiy-true"
                v-if="EmailVerifyFlag == true"
              >{{$t('message.member_verified')}}</em>
              <div class="email-explain-move fr">
                <em class="email-explain">?</em>
                <p
                  class="email-explain-box"
                  :class="'explain-'+$MessageLang"
                >{{$t('message.member_los_password')}}</p>
              </div>
              <a
                href="javascript:void(0);"
                class="email-verify"
                @click="EmailVerifyInfo()"
                v-if="EmailVerifyFlag == false"
              >{{$t('message.member_validation')}}</a>
              <i
                class="tip-box"
                v-show="(errors.has('MemberEmail') && fields.MemberEmail.touched) || this.EmailUsedFlag === true"
              ></i>
              <i
                class="tip-error"
                v-show="(errors.has('MemberEmail') && fields.MemberEmail.touched) || this.EmailUsedFlag === true"
              ></i>
              <i
                class="tip1"
                v-show="(errors.has('MemberEmail') && this.TipsShow.MemberEmail == true)||(EmailValidFlag && this.TipsShow.MemberEmail == true)"
              >{{$t('message.agent_underline')}}</i>
              <i
                class="tip1"
                v-show="EmailUsedFlag == true && this.TipsShow.MemberEmail == true"
              >{{$t('message.member_employ')}}</i>
            </div>
          </li>
          <li style="overflow:visible">
            <span>{{$t('message.agent_birthday')}}：</span>

            <datepicker
              id="Birth"
              :language="$MessageLang"
              v-model="LoadMainPageDataModel.Member.Birth"
              format="yyyy/MM/dd"
              class="input_rt"
              calendar-class="startdate_calendar"
              :disabled="this.CalendarDisabled"
            ></datepicker>
          </li>
          <li class="hasblock">
            <span>Q Q：</span>
            <div class="input_rt">
              <input
                type="text"
                name="QQAcct"
                @focus="TipShow(4)"
                @blur="TipHide(4)"
                v-model="LoadMainPageDataModel.Member.QQAcct"
                v-validate="{ rules: { regex:Reg.QQID }}"
              />
              <i class="tip-box" v-show="errors.has('QQAcct') && fields.QQAcct.touched"></i>
              <i class="tip-error" v-show="errors.has('QQAcct') && fields.QQAcct.touched"></i>
              <i
                class="tip1"
                v-show="errors.has('QQAcct') && this.TipsShow.QQAcct == true"
              >{{$t('message.agent_digits')}}</i>
            </div>
          </li>
        </ul>
        <div class="pub_btn_both style3" style="margin-bottom:150px">
          <a
            class="btn1 alert_click1 hasblock"
            @click="UpdPersionalInfo();"
            href="javascript:void(0);"
          >{{$t('message.member_preservation')}}</a>
          <a class="btn2" @click="navClick('webMemberSummary')">{{$t('message.member_cancel')}}</a>
        </div>
      </div>
    </div>
    <member-phone-edit :DisplayPhoneNo="this.DisplayPhoneNo"></member-phone-edit>
    <email-verify
      :LoadMainPageDataModel="this.LoadMainPageDataModel"
      :LoadEmailVerifyData="this.LoadEmailVerifyData"
    ></email-verify>
    <email-verify-fail></email-verify-fail>
  </div>
</template>

<script>
import Vue from "vue"
import moment from "moment"
import Regex from "@/assets/scripts/common/CommDef.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import CommonService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"
import Datepicker from "@/components/main/common/datePicker.vue"
// import Datepicker from 'vuejs-datepicker';
import MemberPhoneEdit from "@/mod/k14/components/sub/memberNew/profile/memberPhoneEdit.vue"
import EmailVerify from "@/mod/k14/components/sub/memberNew/profile/emailVerify.vue"
import EmailVerifyFail from "@/mod/k14/components/sub/memberNew/profile/emailVerifyFail.vue"
import BLDef from "@/assets/scripts/common/BLDef.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  data() {
    return {
      ProcessingFlag: false,
      DisplayPhoneNo: undefined,
      SexTypeSelectList: [],
      LoadMainPageDataModel: {
        Member: {},
        OrgMember: {}
      },
      Reg: Regex.Regex,
      CalendarDisabled: {
        from: new Date(moment().format("YYYY/MM/DD"))
      },

      LoadEmailVerifyData: {},

      // 信箱欄位內容
      Email: undefined,
      // 信箱驗證旗標
      EmailVerifyFlag: undefined,
      // 信箱欄位驗證旗標
      EmailValidFlag: undefined,
      // 信箱已被使用旗標
      EmailUsedFlag: undefined,
      // 信箱額度旗標
      IsEmailSendable: undefined,
      // 倒數時間
      CountTime: undefined,

      TipsShow: {
        Name: false,
        WeChatAcct: false,
        MemberEmail: false,
        QQAcct: false
      }
    }
  },
  created: function () {
    this.GetMemberInfo()
    this.GetSexSelectList()
    EventBus.$on("SignalR_VerifyEmail_Success", () => {
      EmailVerify.methods.CloseWindow()
      this.EmailVerifyFlag = true
    })
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("UpdPersonalInfoForm", this.UpdPersionalInfo)
  },
  methods: {
    TipShow: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.Name = true
          break
        case 2:
          this.TipsShow.WeChatAcct = true
          break
        case 3:
          this.TipsShow.MemberEmail = true
          break
        case 4:
          this.TipsShow.QQAcct = true
          break
        default:
          break
      }
    },
    TipHide: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.Name = false
          break
        case 2:
          this.TipsShow.WeChatAcct = false
          break
        case 3:
          this.TipsShow.MemberEmail = false
          break
        case 4:
          this.TipsShow.QQAcct = false
          break
        default:
          break
      }
    },
    navClick: function (name) {
      this.$store.dispatch("setSwitchNameText", name)
      EventBus.$emit("personalInfo")
    },
    // 載入畫面
    GetMemberInfo: async function () {
      const data = await CommonService.Comm_GetMemberInfo()
      if (data.Ret === 0) {
        if (data.Data.Member.Birth === null) {
          data.Data.Member.Birth = undefined
        }
        this.LoadMainPageDataModel = data.Data
        this.Email = data.Data.Member.Email
        this.LoadMainPageDataModel.Member.NewPhoneNo = Vue.util.extend(data.Data.Member.PhoneNo)
        // 修改前的會員資料
        this.LoadMainPageDataModel.OrgMember = Vue.util.extend({}, data.Data.Member)
        this.DisplayPhoneNo = this.LoadMainPageDataModel.Member.NewPhoneNo

        // 取得信箱是否已被驗證
        this.EmailVerifyFlag = this.LoadMainPageDataModel.Member.IsEmailVerify
      } // end if

      const retData = await PersonalCenterService.MemberInfo_GetValidEmailInfo()
      if (retData.Ret === 0) {
        this.IsEmailSendable = retData.Data.IsEmailSendable
        this.LoadEmailVerifyData = retData.Data
      } // end if
    },
    // 取得性別選單
    GetSexSelectList: async function () {
      const data = await CommonService.SexTypeList_Get()
      if (data.Ret === 0) {
        this.SexTypeSelectList = data.Data.SexTypeSelectList
      }
    },
    TriggerEditPhone: function () {
      MemberPhoneEdit.methods.ShowEditPhone()
    },
    UpdPersionalInfo: async function () {
      // 清掉信箱已被使用的錯誤訊息
      this.EmailUsedFlag = false

      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })

      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }

      // 處理中則直接返回
      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true
      if (this.LoadMainPageDataModel.Member.Birth !== undefined) {
        this.LoadMainPageDataModel.Member.Birth = moment(this.LoadMainPageDataModel.Member.Birth).format("YYYY/MM/DD")
      }
      const inputObj = {
        Detail: this.LoadMainPageDataModel.Member,
        OrgDetail: this.LoadMainPageDataModel.OrgMember
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.MemberInfo_Mod(inputObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      const notifyData = {
        NotifyMessage: data.Message
      }

      if (data.Ret != 0) {
        this.LoadMainPageDataModel.Member = Vue.util.extend({}, this.LoadMainPageDataModel.OrgMember)
        this.LoadMainPageDataModel.Member.NewPhoneNo = this.LoadMainPageDataModel.Member.PhoneNo
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } else {
        notifyData.CloseFunction = this.GetMemberInfo
        EventBus.$emit("Profile_Update_Success")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        EventBus.$emit("fillTipUpdate")
        this.$validator.reset()
      }

      this.ProcessingFlag = false
    },

    // 信箱驗證
    EmailVerifyInfo: async function () {
      if (this.EmailUsedFlag == true) {
        return
      } // end if

      // 欄位驗證
      if (this.$validator.errors.has("MemberEmail") || this.LoadMainPageDataModel.Member.Email == "") {
        this.EmailValidFlag = true
        return
      } // end if
      this.EmailValidFlag = false

      // 判斷額度是否已大於上限
      if (this.IsEmailSendable == false) {
        EmailVerifyFail.methods.OpenWindow()
        return
      } // end if

      // 是否已經倒數完
      if (this.CountTime > 0) {
        EventBus.$emit("verifyEmailWindowTrigger")
        return
      } // end if

      // 處理中則直接返回
      if (this.ProcessingFlag === true) {
        return
      } // end if
      this.ProcessingFlag = true

      // 資料物件
      const dataObj = {
        Email: this.LoadMainPageDataModel.Member.Email,
        Domain: document.location.protocol + "//" + location.host,
        OrgEmail: this.LoadMainPageDataModel.OrgMember.Email
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await PersonalCenterService.EmailVerify_SendValidEmail(dataObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      if (retData.Ret == 0) {
        // 成功
        this.IsEmailSendable = retData.Data.IsEmailSendable
        this.LoadMainPageDataModel.OrgMember.Email = this.LoadMainPageDataModel.Member.Email
        EventBus.$emit("verifyEmailWindowTrigger")
      } else if (retData.Ret == BLDef.ErrorRetType.COMM_VERIFICATION_EMAIL_EXIST) {
        // 此信箱已被使用
        this.EmailUsedFlag = true
      } else if (retData.Ret == BLDef.ErrorRetType.COMM_SEND_VERIFICATION_EMAIL_COUNT_LIMIT) {
        // 寄信額度超過
        this.EmailVerifyLimitUp()
      } else {
        const data = await CommonService.Comm_GetMemberInfo()
        if (data.Ret === 0) {
          this.LoadMainPageDataModel = data.Data
          // 修改前的會員資料
          this.LoadMainPageDataModel.OrgMember = Vue.util.extend({}, data.Data.Member)
        } // end if
        // 操作失敗
        const notifyData = {
          NotifyMessage: retData.Message
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } // end if
      this.ProcessingFlag = false
    }, // end EmailVerify

    // 信箱額度已滿彈窗
    EmailVerifyLimitUp: function () {
      EmailVerifyFail.methods.OpenWindow()
    } // end EmailVerifyLimitUp
  },
  components: {
    Datepicker,
    MemberPhoneEdit,
    EmailVerify,
    EmailVerifyFail
  },
  beforeDestroy() {
    EventBus.$off("SignalR_VerifyEmail_Success")
  },

  watch: {
    Email: function () {
      this.EmailUsedFlag = false
      this.LoadMainPageDataModel.Member.Email = this.Email
    }
  }
}
</script>
