@import '../../../../assets/cdn.less';

/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 28px 0;
    width: 100%;
    height: 90px;
    //  z-index: 999;
    padding: 30px 0px;

    .footer-cont {
        position: relative;
        width: 1200px;
        margin: 0 auto;

        .footer-cont-logo {
            width: 76px;
            height: 85px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .footer-cont-nav {
            margin-left: 20px;

            ul {
                position: relative;
                margin-bottom: 8px;
                width: 400px;
                border-bottom: 1px solid#2f263c;

                .footer-navList {
                    float: left;
                    width: 78px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #645a74;

                    a {
                        color: #645a74;
                        font-size: 14px;
                        margin-right: 4px;
                    }

                    a:hover {
                        color: #fff;
                    }

                    i {
                        display: block;
                        float: right;
                    }
                }
            }

            p {
                line-height: 20px;
                font-size: 10px;
                color: #645a74;
            }
        }
    }

    .footer-cont-firm {
        float: right;

        a {
            float: left;
            margin-left: 30px;
            margin-top: 20px;
            cursor: default;
        }
        .qtech-logo {
            display: none;
        }
    }
}
