// ==================简体中文====================//
@import './lessSet.less';

html {
    background: url('@{LessSetCDN}/web00/frame/bg.jpg') top;
}

// ==================简体中文====================//
// 首页登录注册按钮多语言-- zh
.user_btn_box a.login_btn_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/btn_login.jpg?VersionCode") no-repeat;
}

.user_btn_box a.login_btn_zh:hover {
    background: url("@{LessSetCDN}/web00/lang/zh/btn_login_hover.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/btn_register.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_zh:hover {
    background: url("@{LessSetCDN}/web00/lang/zh/btn_register_hover.jpg?VersionCode") no-repeat;
}

// 厂商介绍背景--zh
.partner-banner_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/partner_bg.jpg?VersionCode") no-repeat top;
}

.about-banner_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/about_banner.jpg?VersionCode") no-repeat top;
}

.contact-banner_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/about_banner.jpg?VersionCode") no-repeat top;
}

.tutorial-banner_zh {
    background: url("@{LessSetCDN}/web00/zh/replace_banner7_2.jpg?VersionCode") no-repeat top;
}
.tutorial-banner_zh {
    background: url("@{LessSetCDN}/web00/zh/replace_banner7_2.jpg?VersionCode") no-repeat top;
}
.tutorial-banner_en {
    background: url("@{LessSetCDN}/web00/en/replace_banner7_2.jpg?VersionCode") no-repeat top;
}
.tutorial-banner_vi {
    background: url("@{LessSetCDN}/web00/vi/replace_banner7_2.jpg?VersionCode") no-repeat top;
}
.tutorial-banner_tw {
    background: url("@{LessSetCDN}/web00/tw/replace_banner7_2.jpg?VersionCode") no-repeat top;
}


//  厂商介绍--zh
.partner-content.partner_zh {
    background: url("@{LessSetCDN}/web00/lang/zh/partner_bg.jpg?VersionCode") no-repeat top;
}


// 个人中心详情按钮
.privilege-lfCon-identifying_zh {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

.hotGameNew-one-fishing_zh {
    .watting-icon {
        background: url('@{LessSetCDN}/web00/lang/zh/watting.png') top center;
    }
}

//优惠活动无活动图
// .no-activity-img_zh {
//     background: url('@{LessSetCDN}/public/lang/zh/no_activity_404.png?VersionCode') no-repeat center;
// }

// ==================简体中文 end====================//


// ==================英文====================//
// 首页登录注册按钮多语言-- en
.user_btn_box a.login_btn_en {
    background: url("@{LessSetCDN}/web00/lang/en/btn_login.jpg?VersionCode") no-repeat;
}

.user_btn_box a.login_btn_en:hover {
    background: url("@{LessSetCDN}/web00/lang/en/btn_login_hover.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_en {
    background: url("@{LessSetCDN}/web00/lang/en/btn_register.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_en:hover {
    background: url("@{LessSetCDN}/web00/lang/en/btn_register_hover.jpg?VersionCode") no-repeat;
}

// 厂商介绍背景--en
.partner-banner_en {
    background: url("@{LessSetCDN}/web00/lang/en/partner_bg.jpg?VersionCode") no-repeat top;
}

// bannser--en
.about-banner_en {
    background: url("@{LessSetCDN}/web00/lang/en/about_banner.jpg?VersionCode") no-repeat top;
}

.contact-banner_en {
    background: url("@{LessSetCDN}/web00/lang/en/about_banner.jpg?VersionCode") no-repeat top;
}

// 厂商介绍--en
.partner-content.partner_en {
    background: url("@{LessSetCDN}/web00/lang/en/partner_bg.jpg?VersionCode") no-repeat top;
}

// //优惠活动无活动图
// .no-activity-img_en {
//     background: url('@{LessSetCDN}/public/lang/en/no_activity_404.png?VersionCode') no-repeat center;
// }


#AnnouncementWindow .left-section li {
    &.on {
        .active {
            background: url('@{LessSetCDN}/announcement/left-active.png?VersionCode') no-repeat;
        }
    }
}

// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
    a {
        background: url("@{LessSetCDN}/MemberNew/table_bg_no.png")no-repeat left center;
    }

    a.on {
        background: url("@{LessSetCDN}/MemberNew/table_bg_on.png")no-repeat left center;
    }
}

.classification-cont-table table {
    .explain-lv {
        .explain-lv-icon {
            background: url("@{LessSetCDN}/MemberNew/lv.png") no-repeat left center;
        }

        .explain-lv-ten0 {
            background: url("@{LessSetCDN}/MemberNew/0.png") no-repeat left center;
        }

        .explain-lv-ten1 {
            background: url("@{LessSetCDN}/MemberNew/1.png") no-repeat left center;
        }

        .explain-lv-ten2 {
            background: url("@{LessSetCDN}/MemberNew/2.png") no-repeat left center;
        }

        .explain-lv-ten3 {
            background: url("@{LessSetCDN}/MemberNew/3.png") no-repeat left center;
        }

        .explain-lv-ten4 {
            background: url("@{LessSetCDN}/MemberNew/4.png") no-repeat left center;
        }

        .explain-lv-ten5 {
            background: url("@{LessSetCDN}/MemberNew/5.png") no-repeat left center;
        }

        .explain-lv-ten6 {
            background: url("@{LessSetCDN}/MemberNew/6.png") no-repeat left center;
        }

        .explain-lv-ten7 {
            background: url("@{LessSetCDN}/MemberNew/7.png") no-repeat left center;
        }

        .explain-lv-ten8 {
            background: url("@{LessSetCDN}/MemberNew/8.png") no-repeat left center;
        }

        .explain-lv-ten9 {
            background: url("@{LessSetCDN}/MemberNew/9.png") no-repeat left center;
        }
    }
}

.wrap .pub_alert_box.per_alert_box {
    background: url("@{LessSetCDN}/MemberNew/memberBg.png") no-repeat;
}

.wrap .recent_record_list .table_guide .btn_refresh {
    background: url("@{LessSetCDN}/MemberNew/p_freshen.png") no-repeat;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat center left;
}

.wrap .purple_cont .input_field li.li_sex .sex_rt span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat center left;
}

.wrap .tip1 {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.wrap .online_cont .online-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .online_cont .online-select.on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select {
    background: url("@{LessSetCDN}/MemberNew/p_radio.png") no-repeat top center;
}

.wrap .pay_income .select_pay .purple-select.sel-on {
    background: url("@{LessSetCDN}/MemberNew/p_radio_on.png") no-repeat top center;
}

.wrap .li_pay_set .input_rt .pay_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.hotGameNew-one-fishing_en {
    .watting-icon {
        background: url('@{LessSetCDN}/web00/lang/en/watting.png') top center;
    }
}

// ==================英文 end====================//

//====================越南语 start================//
.user_btn_box a.login_btn_vi {
    background: url("@{LessSetCDN}/web00/lang//vi/btn_login.jpg?VersionCode") no-repeat;
}

.user_btn_box a.login_btn_vi:hover {
    background: url("@{LessSetCDN}/web00/lang/vi/btn_login_hover.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_vi {
    background: url("@{LessSetCDN}/web00/lang/vi/btn_register.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_vi:hover {
    background: url("@{LessSetCDN}/web00/lang/vi/btn_register_hover.jpg?VersionCode") no-repeat;
}

.wrap .li_pay_set .input_rt .pay_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span {
    background: url("@{LessSetCDN}/MemberNew/p_sex.png") no-repeat left center;
}

.wrap .bank_input .input_rt .bank_set span.hasblock {
    background: url("@{LessSetCDN}/MemberNew/p_sex_on.png") no-repeat left center;
}

// 错误提示
.wrap .tip-error {
    background: url("@{LessSetCDN}/MemberNew/error_icon.png") no-repeat center center;
}

//代理中心
.wrap .pub_alert_box.per_alert_box.agency_alert_box {
    background: url("@{LessSetCDN}/agencyCenter/agencyBg.png") no-repeat;
}

.wrap .profitLoss-top-list.item1 {
    background: url("@{LessSetCDN}/agencyCenter/a_item1.png") no-repeat;
}

.wrap .profitLoss-top-list.item2 {
    background: url("@{LessSetCDN}/agencyCenter/a_item2.png") no-repeat;
}

.wrap .profitLoss-top-list.item3 {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

.wrap .profitLoss-top-list.item4 {
    background: url("@{LessSetCDN}/agencyCenter/a_item4.png") no-repeat;
}

// 厂商介绍背景--vi
.partner-banner_vi {
    background: url("@{LessSetCDN}/web00/lang/vi/partner_bg.jpg?VersionCode") no-repeat top;
}

//优惠活动无活动图
.about-banner_vi {
    background: url("@{LessSetCDN}/web00/lang/vi/about_banner.jpg?VersionCode") no-repeat top;
}

.contact-banner_vi {
    background: url("@{LessSetCDN}/web00/lang/vi/about_banner.jpg?VersionCode") no-repeat top;
}

// 厂商介绍--en
.partner-content.partner_vi {
    // background: url('@{LessSetCDN}/en/web00/replace_banner08.jpg?VersionCode') no-repeat
    background: url("@{LessSetCDN}/web00/lang/vi/partner_bg.jpg?VersionCode") no-repeat top;
}

// 个人中心验证提示vi
.email-position .email-explain-box.email-explain-box_vi {
    top: -81px;
    right: -23px;
}

// 个人中心详情按钮
.privilege-lfCon-identifying_vi {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

.hotGameNew-one-fishing_vi {
    .watting-icon {
        background: url('@{LessSetCDN}/web00/lang/vi/watting.png') top center;
    }
}

//====================越南语 end==================//

//===================简体中文 start ===========//

.user_btn_box a.login_btn_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/btn_login.jpg?VersionCode") no-repeat;
}

.user_btn_box a.login_btn_tw:hover {
    background: url("@{LessSetCDN}/web00/lang/tw/btn_login_hover.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/btn_register.jpg?VersionCode") no-repeat;
}

.user_btn_box a.registered_btn_tw:hover {
    background: url("@{LessSetCDN}/web00/lang/tw/btn_register_hover.jpg?VersionCode") no-repeat;
}

// 厂商介绍背景--tw
.partner-banner_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/partner_bg.jpg?VersionCode") no-repeat top;
}


// bannser--vi
.about-banner_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/about_banner.jpg?VersionCode") no-repeat top;
}

.contact-banner_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/about_banner.jpg?VersionCode") no-repeat top;
}

// 厂商介绍--tw
.partner-content.partner_tw {
    background: url("@{LessSetCDN}/web00/lang/tw/partner_bg.jpg?VersionCode") no-repeat top;
}

//优惠活动无活动图
// .no-activity-img_tw {
//     background: url('@{LessSetCDN}/public/lang/tw/no_activity_404.png?VersionCode') no-repeat center;
// }

// 个人中心详情按钮
.memberNew-record-item_tw {
    .record-grade-p1 {
        background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

.hotGameNew-one-fishing_tw {
    .watting-icon {
        background: url('@{LessSetCDN}/web00/lang/tw/watting.png') top center;
    }
}

//===================简体中文 end==============//

// 代理合作banner图
.join-content .agent-banner {
    height: 650px;
    background: url('@{LessSetCDN}/web00/replaceImg/replace_banner6.jpg?VersionCode') no-repeat top;
}

// 维护中图片
.system_zh {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/zh/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/zh/staytuned2.png?VersionCode")no-repeat center;
    }
}

.system_en {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/en/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/en/staytuned2.png?VersionCode")no-repeat center;
    }
}

.system_tw {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/tw/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/tw/staytuned2.png?VersionCode")no-repeat center;
    }
}

/************代理 用户列表***************/
.wrap .agency-balance {
    background: url("@{LessSetCDN}/agencyCenter/a_item3.png") no-repeat;
}

/*电子竞技*/
.athletics-content {
    .athletics-cont-banner {
        .swiper-container {
            .swiper-wrapper {
                .athletics-1:nth-child(1) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner1.jpg");
                }

                .athletics-2:nth-child(2) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner2.jpg");
                }

                .athletics-3:nth-child(3) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner3.jpg");
                }

                .athletics-4:nth-child(4) {
                    background: url("@{LessSetCDN}/web64/athletics/web64_athletics_banner4.jpg");
                }
            }
        }
    }
}

.wrap .alert_box_content .descr_title a.icon_close {
    background: url("@{LessSetCDN}/MemberNew/icon_close.png?VersionCode") no-repeat;
}

//首页热门游戏内容
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
        }
    }
}

//客服
.service-content {
    .service-cont-item {
        .service-cont-list {
            background: url("@{LessSetCDN}/public/index_img36.png?VersionCode") no-repeat top center;

            a {
                &:hover {
                    background: url("@{LessSetCDN}/public/index_img37.png?VersionCode") no-repeat top center;
                }
            }
        }
    }
}

.per_cont_main .purple_cont .card-content {
    .card-cont-list {
        background: url("@{LessSetCDN}/MemberNew/bankInfoCardList.png") no-repeat left;
    }
}


//进入游戏后的playMyGame页面
.playMyGame-content {
    .ele-scroll {
        .ele-logo-lists {
            .ele-logo-li {
                .eg-big-play {
                    background: url('@{LessSetCDN}/web60/electronicGames/maintain_game_play.png?VersionCode') no-repeat top left;
                }

                a {
                    span {
                        background: url('@{LessSetCDN}/web60/electronicGames/game-btn.png') no-repeat;
                    }
                }
            }
        }
    }
}

.system_vi {
    .maintenance {
        background: url("@{LessSetCDN}/public/lang/vi/maintenance3.png?VersionCode")no-repeat center;
    }

    .staytuned {
        background: url("@{LessSetCDN}/public/lang/vi/staytuned2.png?VersionCode")no-repeat center;
    }
}

.liveAbnormal {
    &.live-expect {
        background: url("@{LessSetCDN}/general/common/liveVideo/15.png?VersionCode")no-repeat center !important;
    }
}

.sportAbnormal {
    &.sport-expect {
        .sport-logo-wrap {
            background: url("@{LessSetCDN}/general/common/sport/11.jpg?VersionCode")no-repeat center !important;
        }
    }
}

.lotteryAbnormal {
    &.lottery-expect {
        background: url("@{LessSetCDN}/general/common/lottery/10.jpg?VersionCode")no-repeat center !important;
    }
}

.pokerAbnormal {
    &.poker-expect {
        background: url("@{LessSetCDN}/general/common/poker/15.jpg?VersionCode")no-repeat center !important;
    }
}

.catchfishAbnormal {
    &.catchfish-expect {
        background: url("@{LessSetCDN}/general/common/catchfish/1.jpg?VersionCode")no-repeat center !important;
    }
}

// 维护中图片 end


// bg.less
// sever
.service-list-box .qq_list li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq.png") no-repeat;
}

.service-jiao {
    background: url("@{LessSetCDN}/web/frame/icon_rt.png") no-repeat;
}

.service-list-box .qq_list li.last_li a {
    background: url("@{LessSetCDN}/web/frame/icon_qq1.png") no-repeat;
}

// sever end

// logo-page
.number-page-btn {
    background: url("@{LessSetCDN}/web/public/page-left.png")no-repeat;
}

.number-page-right {
    background: url("@{LessSetCDN}/web/public/page-right.png")no-repeat;
}

// logo-page end
// video
.video_con {
    background:url("@{LessSetCDN}/web/liveVideo/bg.png") no-repeat;
}

// video end

// electronic
.computer_con {
    background: url("@{LessSetCDN}/web/electronic/electronic-bg.png")no-repeat;
}

.c-g-content {
    background: url("@{LessSetCDN}/web/electronic/c-g-frame.png")no-repeat;
}

.cg-game-menu a span {
    background: url("@{LessSetCDN}/web/electronic/game-btn.png")no-repeat;
}

// electronic end

// sport
.sports_con {
    background: url("@{LessSetCDN}/web/sportsBetting/bg.png");
}

// sport end

// lottery
.lottery_con {
    background: url("@{LessSetCDN}/web/lottery/bg.png")no-repeat;
}

// lottery end

// news
.news_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
    height: 1267px;
}

// news end

// activity
.activity_details_con {
    background:url("@{LessSetCDN}/web/activities/bg.png");
}

.a-n-content .anbtn {
    background: url("@{LessSetCDN}/web/public/hover.png")no-repeat;
}

.activity_con .banner .actbtn {
    background: url("@{LessSetCDN}/web/activities/actbtn.png")no-repeat;
}

// activity end

// mobileApp
.mobile-main .wordbtn b {
    background:url("@{LessSetCDN}/web/mobileBetting/right.png")no-repeat;
}

.mobile-main .mobile-text .mt-join a {
    background: url("@{LessSetCDN}/web/mobileBetting/kuang.png")no-repeat;
}

// mobileApp end

// aboutUs
.about_con {
    background: url("@{LessSetCDN}/web/aboutUs/bg.png");
}

// aboutUs end

// partner

.introduct_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

// partner end

// agent
.agent_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent-content>h2 a {
    background: url("@{LessSetCDN}/web/agent/agentbtn.png")no-repeat;
}

// agent end

// Join
.agent_join_con {
    background: url("@{LessSetCDN}/web/public/bg.png");
}

.agent_join_content .agent_join_main {
    background: url("@{LessSetCDN}/web/agent/frame.png");
}

.a-j-lists .proxy-line i {
    background: url("@{LessSetCDN}/web/agent/xiala.png")no-repeat;
}

.a-j-cont .a-c-submit {
    background: url("@{LessSetCDN}/web/agent/a-surn.png")no-repeat top center;
}

// Join end

// h5
.H5_con {
    background: url("@{LessSetCDN}/web/H5/bg.png")no-repeat top center;
}

.H5-content .H5-main {
    background: url("@{LessSetCDN}/web/public/farme.png")no-repeat;
}


.wrapper-content {
    background: url('@{LessSetCDN}/web00/frame/bg.jpg') top center;
}


// alert
.theme00 {
    .pub_alert_box .descr_title a.icon_close {
        background: url("@{LessSetCDN}/web00/Member/icon_close.png?VersionCode") no-repeat;
    }

    .pub_alert_box .descr_title a.icon_download {
        background: url("@{LessSetCDN}/web00/Member/icon_download.png?VersionCode") no-repeat;
    }

    .sum_alert_box .icon_download {
        background: url('@{LessSetCDN}/web00/member/icon_download.png?VersionCode') no-repeat;
    }

    .pg-header {
        .main-navNew {
            background: url('@{LessSetCDN}/web00/frame/nav-bg.png?VersionCode') no-repeat top center;
        }
    }
}

// alert end

.list-tip {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat;
}

.indexNew-wrapContent {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
        }
    }
}

// 优惠活动轮播
.active_slide {
    .carousel {
        .carousel-control {
            &.left {
                background: url('@{LessSetCDN}/indexNew/index_btn-right.png?VersionCode') top center;
            }

            &.right {
                background: url('@{LessSetCDN}/indexNew/index_btn-left.png?VersionCode') top center;
            }
        }
    }
}


.popup-content .close-the-window {
    background: url("@{LessSetCDN}/web/public/close.png")no-repeat; // 自定义滚动条
}

.public-bombox {
    background: url("@{LessSetCDN}/public/frame-box1.png")no-repeat top center;
}

.per_bombox .bomsurebtn,
.per_bombox .bomsurebtn01,
.per_bombox .bomsurebtn02 {
    background: url("@{LessSetCDN}/public/bomsurebtn.png")no-repeat center;
}

.public-navs li.on,
.public-navs li:hover {
    background: url("@{LessSetCDN}/public/hover.png")no-repeat;
}

.public-page-left {
    background: url("@{LessSetCDN}/public/previous.png")no-repeat;
}

.public-page-right {
    background: url("@{LessSetCDN}/public/naxt.png")no-repeat;
}

.tip1 {
    background: url("@{LessSetCDN}/public/tip.png?VersionCode") no-repeat;
}

.LoadBox .LoadIcon {
    background: url("@{LessSetCDN}/public/loading3.png") no-repeat center center;
}


/*内容框*/
.public-content {
    background: url("@{LessSetCDN}/public/farme.png")no-repeat;
}


// 个人中心 公共样式背景图 ===== start
.eye-btn {
    background: url("@{LessSetCDN}/public/eye_close.png?VersionCode") no-repeat center center;
}

.eye-btn.on {
    background: url("@{LessSetCDN}/public/eye_open.png?VersionCode") no-repeat center center;
}


//公告样式
.marquee-content {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;
}

.header-marquee {
    background: url("@{LessSetCDN}/web00/indexNew/marquee_bg.png")no-repeat -84px center;

    .header-marquee-icon {
        background: url("@{LessSetCDN}/web00/indexNew/marquee.png")no-repeat center;
    }
}

// 个人中心-总览改版  20200109
.memberNew-record-newCon {
    .memberNew-newCon-privilege {
        background: url("@{LessSetCDN}/MemberNew/levelBg.png") no-repeat left;

        .privilege-lfCon {
            .privilege-lfCon-identifying {
                background: url("@{LessSetCDN}/MemberNew/levelIcon.png") no-repeat left;
            }
        }
    }

    .memberNew-newCon-score {
        background: url("@{LessSetCDN}/MemberNew/scoreBG.png") no-repeat left;
    }
}

// 个人中心背景图 ===== end



// 主站样式
.theme00 {

    //优惠活动
    .content {
        .content-layout {
            .active_log_reg {
                .active_show {
                    .promotion_title_zh {
                        background: url("@{LessSetCDN}/web00/lang/zh/youhui_title_bg.png?VersionCode") no-repeat;
                    }

                    .promotion_title_en {
                        background: url("@{LessSetCDN}/web00/lang/en/youhui_title_bg.png?VersionCode") no-repeat;
                    }

                    .promotion_title_vi {
                        background: url("@{LessSetCDN}/web00/lang/vi/youhui_title_bg.png?VersionCode") no-repeat;
                    }

                    .promotion_title_tw {
                        background: url("@{LessSetCDN}/web00/lang/tw/youhui_title_bg.png?VersionCode") no-repeat;
                    }

                    .active_slide {
                        .hd {
                            ul {
                                li {
                                    background: url("@{LessSetCDN}/web00/index/icon_point1.png?VersionCode") no-repeat;

                                    &.on {
                                        background: url("@{LessSetCDN}/web00/index/icon_point2.png?VersionCode") no-repeat;
                                    }
                                }
                            }
                        }

                        .active_news {
                            background: url("@{LessSetCDN}/web00/index/show_bg.png?VersionCode") no-repeat;

                            .news_show {
                                background: url("@{LessSetCDN}/web00/index/icon_line.png?VersionCode") no-repeat left bottom;
                            }
                        }
                    }
                }

                .index_user {
                    .login_after {
                        background: url("@{LessSetCDN}/web00/index/login_after_bg.jpg?VersionCode") no-repeat 50%;

                        .user_data {
                            background: url("@{LessSetCDN}/web00/index/user_icon.png?VersionCode") no-repeat 20px;
                        }
                    }
                }
            }

            //热门游戏（旧版）
            .hot_box {
                .hot_box_list {
                    .h_list {
                        &.h_list4 {
                            .come_btn {
                                span {
                                    background: url("@{LessSetCDN}/web00/index/bt4.png?VersionCode") no-repeat;
                                }
                            }
                        }

                        a {
                            &.a1 {
                                span {
                                    background: url("@{LessSetCDN}/web00/index/bt1.png?VersionCode") no-repeat;
                                }
                            }

                            &.a2 {
                                span {
                                    background: url("@{LessSetCDN}/web00/index/bt2.png?VersionCode") no-repeat;
                                }
                            }

                            &.a3 span {
                                background: url("@{LessSetCDN}/web00/index/bt3.png?VersionCode") no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }

    //登录注册
    .main_login {
        .login_box {
            .login_c {
                background: url("@{LessSetCDN}/web00/login/bg.png?VersionCode") no-repeat center center;

                .l_item {
                    &.l_item_name {
                        i {
                            background: url("@{LessSetCDN}/web00/login/User.png?VersionCode") no-repeat center left;
                        }
                    }

                    &.l_item_pwd {
                        i {
                            background: url("@{LessSetCDN}/web00/login/lock.png?VersionCode") no-repeat center left;
                        }
                    }

                    &.l_item_code {
                        i {
                            background: url("@{LessSetCDN}/web00/login/icon_code.png")no-repeat center left;
                        }
                    }
                }
            }
        }

    }

    //优惠活动
    .activity-content {
        .activity-change-animation {
            .activity-change-index {
                .activity-page-transition {
                    .activity-page-banner {
                        a {
                            &.banner_prev {
                                background: url('@{LessSetCDN}/web00/promotion/activity_prev.png?VersionCode') no-repeat;
                            }

                            &.banner_next {
                                background: url('@{LessSetCDN}/web00/promotion/activity_next.png?VersionCode') no-repeat;
                            }
                        }

                        .banner_point {
                            .swiper-pagination-bullet {
                                background: url('@{LessSetCDN}/web00/promotion/icon_point1.png?VersionCode') no-repeat;

                                &.swiper-pagination-bullet-active {
                                    background: url('@{LessSetCDN}/web00/promotion/icon_point2.png?VersionCode') no-repeat;
                                }
                            }
                        }
                    }

                    .activity-page {
                        background: url("@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode") no-repeat top;

                        .activity-main-bg {
                            .activity-page-cont {
                                .activity-main {

                                    .no-activity {
                                        .no-activity-img {
                                            background: url('@{LessSetCDN}/public/no_activity_404.png?VersionCode') no-repeat center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //新闻列表
    .news-content {
        .news-change-animation {
            .news-change-index {
                .news-page {
                    .news-main {
                        background: url('@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode') no-repeat top;
                    }
                }
            }
        }
    }

    //列表详情
    .content-news_details {
        background: url("@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode") no-repeat top;
    }

    // 代理合作
    .join-content {
        .content_position {
            .content {
                background: url('@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode') no-repeat top;

                /* margin-bottom: 100px; */
                .content-layout {
                    .agent_join {
                        .column_block_all {
                            .cln_block {
                                h2 {
                                    background: url('@{LessSetCDN}/web00/agent/light.png?VersionCode') no-repeat left top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //关于我们
    .about-main {
        .content_position {
            .content {
                background: url('@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode') no-repeat top;


            }
        }
    }

    //新手教程
    .tutorial-introduce {
        .content_position {
            .content {
                background: url('@{LessSetCDN}/web00/manufacturersIntroduce/introduce_box1.png?VersionCode') no-repeat top;

                /* margin-bottom: 100px; */
                .content-layout {
                    .search-nav {
                        .search-select {
                            background: url('@{LessSetCDN}/web00/manufacturersIntroduce/nav_list.png?VersionCode') no-repeat;

                            a {
                                &.hasSelect {
                                    background: url('@{LessSetCDN}/web00/manufacturersIntroduce/introduce_nav_bg.png?VersionCode') no-repeat;
                                }
                            }
                        }
                    }

                    .item1 {
                        .novice_left_nav {
                            li {
                                a {
                                    i {
                                        &.novice_icon_1 {
                                            background: url('@{LessSetCDN}/web00/Member/psl-nav-icon1-1.png?VersionCode');
                                        }

                                        &.novice_icon_4 {
                                            background: url('@{LessSetCDN}/web00/Member/psl-nav-icon4.png?VersionCode');
                                        }

                                        &.novice_icon_3 {
                                            background: url('@{LessSetCDN}/web00/Member/psl-nav-icon3.png?VersionCode');
                                        }

                                        .novice_icon_6 {
                                            background: url('@{LessSetCDN}/web00/Member/psl-nav-icon6.png?VersionCode');
                                        }
                                    }
                                }

                                &.hasSelece {
                                    background: url('@{LessSetCDN}/web00/novice/novice_nav_bg.png?VersionCode') no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .novice_list_box .novice_list:hover {
        background: url("@{LessSetCDN}/web00/novice/novice_list_bg.png?VersionCode") no-repeat center center;
    }

    .novice_left_nav>li a i.novice_icon_1 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon1.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_1 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon1-1.png?VersionCode");
    }

    .novice_left_nav>li a i.novice_icon_2 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon2.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_2 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon2-1.png?VersionCode");
    }

    .novice_left_nav>li a i.novice_icon_3 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon3.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_3 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon3-1.png?VersionCode");
    }

    .novice_left_nav>li a i.novice_icon_4 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon4.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_4 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon4-1.png?VersionCode");
    }

    .novice_left_nav>li a i.novice_icon_6 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon6.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_6 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon6-1.png?VersionCode");
    }

    .novice_left_nav>li a i.novice_icon_7 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon7.png?VersionCode");
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_7 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon7-1.png?VersionCode");
    }

    .novice_left_nav>li:hover {
        background: url("@{LessSetCDN}/web00/novice/novice_nav_bg.png?VersionCode") no-repeat;
    }

    .novice_left_nav .hasSelece {
        background: url("@{LessSetCDN}/web00/novice/novice_nav_bg.png?VersionCode") no-repeat;
    }


    /*sport explain*/
    .explain_nav .explain_nav_head.hasSelect {
        background: url("@{LessSetCDN}/web00/sportBetting/selected.png?VersionCode") no-repeat center center;
    }

    .explain_nav .explain_nav_head i.i1 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon1.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head i.i2 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon2.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head i.i3 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon3.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head i.i4 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon4.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head.hasSelect i.i1 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon1-1.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head.hasSelect i.i2 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon2-1.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head.hasSelect i.i3 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon3-1.png?VersionCode") no-repeat left center;
    }

    .explain_nav .explain_nav_head.hasSelect i.i4 {
        background: url("@{LessSetCDN}/web00/Member/psl-nav-icon4-1.png?VersionCode") no-repeat left center;
    }

    .novice_left_nav>li a i.novice_icon_5 {
        background: url("@{LessSetCDN}/web00/novice/icon_other_1.png?VersionCode") no-repeat;
    }

    .novice_left_nav>li.hasSelece a i.novice_icon_5 {
        background: url("@{LessSetCDN}/web00/novice/icon_other_2.png?VersionCode") no-repeat;
    }

    .help_box .help_list .help_title {
        background: url("@{LessSetCDN}/web00/helpCenter/p_point.png?VersionCode") no-repeat left;
    }

    /*news*/
    .news-banner {
        background: url("@{LessSetCDN}/web00/revisionNew/newsBanner.png?VersionCode") no-repeat top;
    }

    /*news ===================================================== end*/
}

// 主站样式 end

//登录注册充值公共部分样式
.headerChild-content {
    .main-formBox-lg {

        //未登录
        .unlisted-content {
            .lg-boxItem {
                .lg-box-list {
                    .forget-pswText {
                        background: url("@{LessSetCDN}/general/common/ix_new_img2_1.png?VersionCode") no-repeat center;
                        background-size: auto 100%;
                    }
                }

            }
        }

        //已登录
        .login-after {
            a {
                .heMail {
                    background: url("@{LessSetCDN}/general/common/mailbox-icon.png") no-repeat center center;
                }
            }

            a.user {
                background: url("@{LessSetCDN}/general/common/user_icon.png") no-repeat left;
            }

            a.deposit {
                background: url("@{LessSetCDN}/general/common/deposit_icon.png") no-repeat left;
            }

            // a.account {
            //   background: url("@{LessSetCDN}/general/common/account-icon.png") no-repeat left;
            // }
            a.refresh-account,
            a.rotateLoop {
                background: url("@{LessSetCDN}/general/common/refresh-icon.png") no-repeat center center;
            }

            .unread {
                // background: url("@{LessSetCDN}/general/common/circle.png") no-repeat center center;
                background-size: 100%;
            }
        }

        .lg-boxPut-btn {
            .lg-boxPut-recharge {

                a {
                    background: url("@{LessSetCDN}/general/common/ix_new_img4.png?VersionCode") no-repeat top;
                    background-size: 100% 100%;
                }
            }
        }

    }
}


//导航
.nav {
    background: url("@{LessSetCDN}/general/common/nav-bg.png?VersionCode") no-repeat center;
}

.nav li a i {
    background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
}


// 导航结束

//热门游戏
.hotGame-wrapper {
    .game-logo {
        .game-GameTypeNo {
            background: url("@{LessSetCDN}/indexNew/index_new_type_bg.png")no-repeat center;
            background-size: 100%;
        }
    }
}

//手机投注 20190916 semi-sugar
.phoneBeting-content {
    background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img56.png")no-repeat center;
    background-size: 100%;

    .phoneBeting-cont-code {
        .code2-img {
            .code2-img-text {
                background: url("@{LessSetCDN}/general/phoneBeting/ix_new_img54.png")no-repeat center;
                background-size: 100%;
            }
        }
    }
}



//u站导航
.uheader {
    background: url('@{LessSetCDN}/navNew/newLogoBg.png') no-repeat center 27px;

    .uheader-top {

        //弃用 semi-sugar 20191031
        .newHeader-content {
            .unread {
                background: url("@{LessSetCDN}/web/frame/circle.png?VersionCode") no-repeat center center;
                background-size: 100%;
            }

            .logined-after {
                a {
                    &.deposit {
                        background: url("@{LessSetCDN}/web/frame/deposit_icon.png?VersionCode") no-repeat left;
                    }

                    &.user {
                        background: url("@{LessSetCDN}/web/frame/user_icon.png?VersionCode") no-repeat left;
                    }
                }
            }

            .newHeader-cont-warp {
                .newHeader-cont-login {
                    background: url("@{LessSetCDN}/navNew/index_new_img4.png");
                    background-size: 100% 100%;
                }

                .newHeader-cont-register {
                    background: url("@{LessSetCDN}/navNew/index_new_img5.png");
                    background-size: 100% 100%;
                }
            }

            .newHeader-cont-recharge {
                background: url("@{LessSetCDN}/navNew/index_new_img6.png");
                background-size: 100% 100%;
            }
        }
    }
}

// 个人中心背景图 ===== end

//主版导航
.pg-header {
    .main-navNew {
        background: url("@{LessSetCDN}/general/common/navNew_bg.png?VersionCode") no-repeat top center;

        .navNew-List {
            a {
                i {
                    background: url("@{LessSetCDN}/general/common/hover_bg2.png?VersionCode") no-repeat center;
                }
            }
        }
    }
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li {
    background: url("@{LessSetCDN}/navNew/navNew_img1.png")no-repeat center;
    background-size: 100% 100%;
}

.navNew-List .sub .nav_xiao .xiao_two .xiao_two_navMain li:hover {
    background: url("@{LessSetCDN}/navNew/navNew_img2.png")no-repeat center;
    background-size: 100% 100%;
}

// web/general/common/public.less end

// 公告信息
#AnnouncementWindow .window-title {
    background: url("@{LessSetCDN}/announcement/head.png") no-repeat;
}

#AnnouncementWindow .ann_icon_close {
    // background: url("@{LessSetCDN}/announcement/close.png") no-repeat;
}

// 总览按钮
.privilege-lfCon-identifying_zh {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/zh/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_vi {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/vi/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_tw {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/tw/MemberNew/m_new_91.png") no-repeat;
    }
}

.privilege-lfCon-identifying_en {
    .record-grade-p1 {
        // background: url("@{LessSetCDN}/en/MemberNew/m_new_91.png") no-repeat;
    }
}

// 个人中心补漏
.wrap .tip-trans {
    background: url("@{LessSetCDN}/web/member/tip.png") no-repeat left center;
}
