/*首页*/



/*首页 end*/

/*新手教程*/
//.tutorial-main {
//	width: 1100px;
//	margin: 35px auto 0;
//}
//.tutorial_left_navs li {
//  width: 220px;
//  height: 55px;
//  line-height: 55px;
//  border: 1px solid #3d2776;
//  margin-bottom:10px ;
//}
//.tutorial_left_navs li:hover,.tutorial_left_navs li.on {
//  border: 1px solid #6e5eb1;
//}
//.tutorial_left_navs li a{
//  display: block;
//  color: #4a3875;
//}
//.tutorial_left_navs li:hover a,.tutorial_left_navs li.on a{
//  color: #9d9dcc;
//}
//.tutorial_left_navs li a i {
//  width: 40px;
//  height: 39px;
//  display: block;
//  float: left;
//  margin: 8px 18px 0 50px;
//}
//.tutorial_left_navs li a:hover i.skill_icon_4,.tutorial_left_navs li.on a i.skill_icon_4 {
//  height: 45px;
//}
//.tutorial-inside{
//	width: 835px;
//	margin-top: 0;
//	margin-left: 40px;
//}
//.tutorial-inside .tutorial-box{
//	width: 789px;
//}
//.tutorial-inside .tutorial-box h2{
//	width:789px ;
//	height: 38px;
//}
//.tutorial-inside .tutorial-box h2 span{
//	color: #a6acff;
//	font-size: 18px;
//	padding-left: 18px;
//	font-style:italic;
//}
//.tutorial-inside .tutorial-text h3{
//	font-size: 18px;
//	color: #69599c;
//	margin-bottom: 8px;
//}
//.tutorial-inside .tutorial-text p{
//	font-size: 16px;
//	color: #805e76;
//	line-height: 26px;
//	text-indent: 30px;
//}
//.tutorial-inside .tutorial-text{
//	padding: 20px 0;
//	border-bottom: 1px solid #331a51;
//}
//.tutorial-gamerule .gamerule-box .gamerule-text{
//	border-bottom: none;
//}
//.tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
//	color: #77779b;
//}
//.tutorial-gamerule .gamerule-box .gamerule-text img{
//	margin: 30px 0;
//}
//.tutorial-problem .tutorial_left_navs li a i {
//  width: 42px;
//  height: 41px;
//}

/*新手教程   end*/

/*手机下注*/

.mobile-main .mobile-text {
    width: 607px;
    position: absolute;
    top: 150px;
}

.mobile-main .mobile-text h2 {
    margin-left: 50px;
    margin-bottom: 20px;
}

.mobile-main .mobile-text .ag-code {
    margin-left: 40px;
    margin-top: 20px;
}

.mobile-main .ag-ios-android {
    margin: 20px 0 0 40px;
    width: 138px;
}

.mobile-main .wordbtn {
    display: block;
    margin: 20px 0 0 50px;
    color: #306891;
    font-size: 14px;
}

.mobile-main .wordbtn span,
.mobile-main .wordbtn b {
    display: inline-block;
    vertical-align: top;
}

.mobile-main .wordbtn b {
    width: 14px;
    height: 14px;
    margin: 3px 0 0 10px;
}

.mobile-main .wordbtn i {
    display: block;
    color: #ca0101;

}

.moblie-pic {
    margin: 150px -100px 0 0;
}

.mobile-main .mobile-text>span {
    display: inline-block;
    color: #a4a4a4;
    margin: 30px 0 0 50px;
    font-size: 16px;
}

.mobile-main .mobile-text .mt-join {
    color: #bebebe;
    font-size: 14px;
    margin: 10px 0 0 50px;
}

.mobile-main .mobile-text .mt-join a {
    display: inline-block;
    width: 78px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #bebebe;
    font-size: 14px;
    margin-left: 10px;
}

/*手机下注  end*/

/*关于我们*/

.about_con {
    height: 1267px;
}

.about_con .about-content>div {
    margin-top: 100px;
}

.about_con .bar_box {
    width: 1000px;
    padding-left: 20px;
}

.about_con .main-center {
    width: 550px;
}

.about_con .about-img {
    margin-top: 60px;
}

.about_con .about-content h3 {
    font-size: 22px;
    color: #abb1fe;
    line-height: 22px;
    margin-bottom: 20px;
}

.about_con .main-center p {
    font-size: 14px;
    color: #77779b;
    line-height: 26px;
}

.about_list {
    height: auto;
    overflow: hidden;
    padding: 0 60px;
    margin: auto;
    margin-top: 60px;
    font-size: 0;
}

.about_list li {
    width: 104px;
    height: auto;
    margin-left: 80px;
    display: inline-block;
}

.about_list li.first_li {
    margin-left: 0;
}

.about_list li img {
    display: block;
    margin: auto;
}

.about_list li p {
    color: #77779b;
    text-align: center;
    margin-top: 10px;
}

.about_list li p.p_1 {
    font-weight: bold;
    font-size: 16px;
}

.about_list li p.p_2 {
    font-size: 14px;
}

/*关于我们  end*/

/*厂商介绍*/

.introduct_con {
    height: 1267px;
}

.introduct-main .introduct-inside {
    width: 1015px;
    margin: auto;
}

.introduct-main .introduct-inside h2 {
    text-align: center;
}

.introduct-main .introduct-text {
    padding: 30px 0;
    border-bottom: 1px solid #4d356d;
}

.introduct-main .introduct-text .introduct-text-left {
    width: 810px;
}

.introduct-main .introduct-text h3 {
    margin-bottom: 20px;
}

.introduct-main .introduct-text h3 span,
.introduct-main .introduct-lists h3 span {
    font-size: 16px;
    color: #fefeff;
    padding-bottom: 5px;
    border-bottom: 1px solid #ada5d9;
    margin-bottom: 10px;
}

.introduct-main .introduct-text p,
.introduct-main .introduct-lists li p {
    font-size: 14px;
    color: #c4cdcf;
    line-height: 26px;
    letter-spacing: 1px;
    text-indent: 30px;
}

.introduct-main .introduct-lists li img {
    vertical-align: top;
    margin-right: 5px;
}

.introduct-main .introduct-lists {
    margin-top: 30px;
}

.introduct-main .introduct-lists li {
    width: 230px;
    float: left;
    margin-right: 160px;
}

.introduct-main .introduct-lists li:last-child {
    margin-right: 0;
}

.introduct-main .introduct-text h4 {
    font-size: 14px;
    color: #eca0f6;
    margin-bottom: 5px;
}

.introduct-main .introduct-other-left {
    padding-bottom: 8px;
    width: 750px !important;
    border-bottom: 1px solid #4d356d;
}

.introduct-main .introduct-text-con {
    margin-bottom: 30px;
}

.introduct-main .introduct-text .pt-img span {
    float: left;
    display: block;
    color: #697fd1;
    font-size: 12px;
    width: 230px;
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
}

.introduct-main .introduct-text .pt-img span:last-child {
    margin-right: 0;
}

.introduct-main .introduct-text-shaba .introduct-text-left i {
    width: 10px;
}

.introduct-main .introduct-text-shaba .introduct-text-left p {
    text-indent: 0;
    padding-bottom: 15px;
}

.introduct-text-shaba .sb-img img {
    float: left;
    margin-right: 30px;
}

.introduct-text-shaba .sb-img img:last-child {
    margin-right: 0;
}

/*厂商介绍  end*/

/*免费试玩*/

//.free_con{
//	height: 1036px;
//}
//.free_con .logoPage{
//	top: 10%;
//}
//.free_con .logoPage h2{
//	text-align: left;
//	padding-left: 30px;
//}
//.f-t-float{
//	width: 1000px;
//	margin:30px auto 0;
//}
//.f-t-top {
//  color: #fbc916;
//  width: 750px;
//}
//.f-t-top dt {
//  font-size: 24px;
//}
//.f-t-top dd {
//  font-size: 16px;
//  margin-top: 10px;
//  color: #b6b1b1;
//}
//.f-t-btn {
//	width: 130px;
//	height: 40px;
//	margin-top: 20px;
//}
//.free_con .logoPage .logo-lists{
//	margin-top: 20PX;
//}
//.free_con .number-page {
//	margin: 10px auto 0;
//}

/*免费试玩 end*/

/*H5*/

.H5_con {
    height: 955px;
}

.t_part {
    position: fixed;
    width: 100%;
    height: 40px;
    background: rgba(21, 13, 34, .7);
}

.t_part h2 .backbtn {
    float: right;
    font-size: 14px;
    color: #838383;
    line-height: 40px;
}

.t_part h2 span {
    float: left;
    font-size: 14px;
    color: #838383;
    line-height: 40px;
    margin-right: 25px;
}

.H5-content {
    width: 1150px;
    margin: auto;
    padding-top: 60px;
}

.ph_search {
    width: 264px;
    height: 42px;
    border: none;
    float: right;
    background: #d4cdd1;
}

.ph_search a {
    width: 32px;
    height: 38px;
    float: left;
}

.ph_search input {
    width: 220px;
    height: 40px;
    line-height: 40px;
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent;
    outline: none;
}

.ph_search img {
    float: right;
    margin-top: 13px;
    margin-right: 6px;
}

.ph_search input::-webkit-input-placeholder {
    font-size: 16px;
    color: #585357;
}

.ph_search input::-moz-placeholder {
    font-size: 16px;
    color: #585357;
}

.ph_search input:-ms-input-placeholder {
    font-size: 16px;
    color: #585357;
}

.H5-content .H5-main {
    width: 1150px;
    height: 809px;
    margin-top: 20px;
}

.H5-lists {
    width: 1030px;
    margin: 80px auto 0;
    font-size: 0;
}

.H5-lists li {
    width: 173px;
    display: inline-block;
    position: relative;
    margin-left: 40px;
    margin-bottom: 50px;
    opacity: .7;
}

.H5-lists li:nth-child(5n+1) {
    margin-left: 0;
}

.H5-lists li p {
    text-align: center;
    font-size: 14px;
    color: #f2f1f5;
    line-height: .24rem;
    margin-top: 10px;
}

.H5-lists li:hover {
    opacity: 1;
}

/*H5  end*/


/*个人中心*/

.mr_t40 {
    margin-top: 40px !important;
}

.mr_t10 {
    margin-top: 10px !important;
}

.mr_t20 {
    margin-top: 20px !important;
}

.mr_t30 {
    margin-top: 30px !important;
}

.mr_t50 {
    margin-top: 50px !important;
}

.mr_t80 {
    margin-top: 80px !important;
}

.mr_l10 {
    margin-left: 10px !important;
}

.mr_l20 {
    margin-left: 20px !important;
}

.mr_l30 {
    margin-left: 30px !important;
}

.mr_l50 {
    margin-left: 50px !important;
}

.mr_r0 {
    margin-right: 0 !important;
}

.mr_b0 {
    margin-bottom: 0 !important;
}

.mr_b20 {
    margin-bottom: 20px !important;
}

.mr_b30 {
    margin-bottom: 30px !important;
}

/*背景*/


/* 20190616 SeyoChen */
.list-tip {
    font-size: 12px;
    color: #9e130c;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 16px;
    line-height: 16px;
    clear: both;
    display: block;
}

.transfer_cover .tip {
    margin-left: 0;
}

/* 20190616 SeyoChen end */

// 首页优惠活动
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    left: 100%;
}

.carousel-inner>.prev {
    left: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    background-color: #003c9d;
    border-radius: 10px;
}

.carousel-indicators {
    position: absolute;
    left: 15%;
    z-index: 1;
    width: 60%;
    padding-left: 0;
    margin-left: -35%;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    // margin: 0;
    background-color: #33ffff;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 10px;
    }
}


// 个人中心 会员等级详情 20190731 SeyoChen
.classification-tab {
    height: 30px;
    line-height: 30px;
    text-align: center;

    a {
        display: block;
        margin-left: -15px;
        float: left;
        width: 112px;
        font-size: 14px;
        color: #999999;
    }

    a:first-child {
        position: relative;
        margin-left: 0;
        z-index: 100;
    }

    a.on {
        color: #a03ae8;
    }
}

// 说明教程按钮 
.explain-btn {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 14px;
    background: #8b8b8b;
    border-radius: 20px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    z-index: 99999;
}

.explain-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 14px;
    background: #8b8b8b;
    border-radius: 20px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}



.explain-box {
    position: absolute;
    display: none;
    top: -40px;
    left: 200px;
    padding: 10px;
    max-width: 260px;
    height: auto;
    line-height: 20px;
    font-size: 12px;
    color: #666666;
    background: #dbdbdb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    // overflow: hidden;
    z-index: 999;
    text-align: left;

    &.explain-box-en {
        top: -56px;
    }

    &.explain-box-zh {
        top: -40px;
    }
}

.explain-box::after {
    position: absolute;
    bottom: -19px;
    left: 45px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid;
    border-top: 10px solid;
    border-right: 12px solid;
    border-bottom: 10px solid;
    overflow: hidden;
    border-color: #dbdbdb transparent transparent transparent;
}

.explain-box.on {
    display: block;
    position: absolute;
    top: -38px;
    left: 200px;
    padding: 10px;
    max-width: 260px;
    height: auto;
    animation: Explain .3s linear;
    -webkit-animation: Explain .3s linear;
    -moz-animation: Explain .3s linear;
    -o-animation: Explain .3s linear;
    animation-fill-mode: forwards;

    &.explain-box-en {
        .on {
            top: -56px;
        }

    }

    &.explain-box-zh {
        .on {
            top: -40px;
        }

    }
}
@keyframes Explain {
    from {
        top: -38px;
        opacity: 0;
    }

    to {
        top: -68px;
        opacity: 1;
    }

}

// 个人中心 会员等级详情 20190731 SeyoChen end

//个人中心修改 2019/06/24 semi_sugar
.memberNew-basic-top {
    overflow: hidden;
    padding: 47px 0px 20px 57px;

    .basic-top-title {
        color: #333333;
        font-size: 25px;
    }

    .basic-top-loginText {
        overflow: hidden;
        margin-top: 3px;
        margin-bottom: 12px;

        .basic-loginText-mark {
            float: left;
            margin-right: 7px;

            img {
                width: 30px;
                height: auto;
            }
        }

        .basic-loginText-words {
            float: left;
            color: #a1a1a1;
            font-size: 12px;

            .words-p1 {
                .words-sp1 {
                    margin-left: 100px;
                }
            }
        }

    }

    .basic-top-money {
        clear: both;

        .basic-money-gold {
            float: left;
            width: 25px;
            height: auto;
            vertical-align: middle;
            margin-top: 9px;
            margin-right: 8px;

        }

        .basic-money-figure {
            float: left;
            font-size: 28px;
            color: #666666;

            .money-figure-sp {
                font-size: 18px;
                margin-left: -6px;
            }
        }

        .basic-money-btn {
            float: left;
            margin-left: 18px;

            span {
                width: 88px;
                height: 39px;
                line-height: 36px;
                display: inline-block;
                border-radius: 20px;
                text-align: center;
                font-size: 16px;
                box-sizing: border-box;
                vertical-align: middle;

                &.money-btn-sp1 {
                    background: linear-gradient(to right, #7d54ff, #e254ff);
                    background: -webkit-linear-gradient(left, #7d54ff, #e254ff);
                    color: #fff;
                    cursor: pointer;
                }

                &.money-btn-sp2 {
                    border: 3px solid #7854ff;
                    color: #7854ff;
                    line-height: 29px;
                    margin-left: 8px;
                    cursor: pointer;
                }
            }
        }

        .basic-money-handle {
            float: left;
            margin-left: 37px;
            margin-top: 4px;

            .money-handle-text {
                display: block;
                color: #818181;
                font-size: 12px;

                .money-handle-green {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    background: #00cc66;
                    border-radius: 50%;
                    margin-right: 3px;
                    vertical-align: top;
                    margin-top: 4px;
                }
            }

            .money-handle-greenColor {
                color: #00cc66;
            }

            .money-handle-red {
                width: 10px;
                height: 10px;
                display: inline-block;
                background: #ff614d;
                border-radius: 50%;
                margin-right: 3px;
                vertical-align: top;
                margin-top: 4px;
            }

            .money-handle-greenRed {
                color: #00cc66;
            }
        }
    }
}

// 密码是否可见 20190815 SeyoChen
.register-content .login-regcom-putBox {
    position: relative;
}

.eye-btn {
    position: absolute;
    right: 10px;
    top: 0;
    width: 27px;
    height: 38px;
    cursor: pointer;
}
