.theme03{
    // 第三版控制样式
.toutorial-num-show3{
    display: block !important;
}
.toutorial-num{
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 24px;
    color: #a50000;
    font-style: italic;
}


.tutorial_cont{
    width: 100%;
    height: auto;
    min-height: 1080px;
    background: no-repeat;
    background-color: #161616;
    background-position: top;
    overflow: hidden;
}
.tutorial_cont .banner{
    display: none;
}
.tutorialbox{
    margin: 400px auto 0;
}
.banner_ul{
    display: none;
}
.banner video{
    display: none;
}
.tutorial-main {
    position: relative;
    width:1200px;
    min-height: 680px;
    height: auto;
    margin: 70px auto 200px;
    background-size: 100% 100%;
    // overflow: hidden;
}
.tutorial-main>div{
    overflow: hidden;
}
.tutorial-main::before{
    display:block;
    content:'';
    width: 100%;
    height: 12px;
    margin-bottom: 20px;
}
.tutorial-main::after{
    display:block;
    content:'';
    clear: both;
    width: 100%;
    height: 12px;
    margin-top: 60px;
    visibility:visible
}
.tutorial-navs{
    width: 515px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}

.tutorial-navs li.on{
    background: #a50000;
}
.tutorial-navs>li {
    width: 150px;
    height: 40px;
    background: #444444;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}


.tutorial_left_navs{
    display: flex;
    justify-content:center;
    background-size: 100%;
    background-position: bottom;
    overflow: hidden;
    width: 800px;
    padding-bottom: 20px;
    margin: 0px auto;
}
.tutorial_left_navs i{
    display: none !important;
}
.hides{
    display: none;
}
.tutorial_left_navs>li {
    float: left;
    margin-left: -33px;
    font-size: 18px;
    border: none;
    color: #8a8a8a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 70px;
    width: 150px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 3px;
    text-align: center;
    vertical-align: top;
    background-position: right;
}
.cp_down{
    width: 50px;
}
.sp_down{
    width: 115px;
    
}
.sp_down>li{
    width: 115px!important;
    text-align: left!important;
    background-position-x: 35px;
    background-position-y: -27px;
}
.el-dropdown>li{
    float: left;
    margin-left: -33px;
    font-size: 18px;
    border: none;
    color: #8a8a8a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
//  padding-right: 70px;
    width: 100px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 3px;
    text-align: center;
    vertical-align: top;
//  background-position: right;
} 
 /*滚动条样式*/
.tutorial_abslut_2 ::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.tutorial_abslut_2 ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.tutorial_abslut_2 ::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.tutorial_left_navs .no_backgrounds{
    background-position: left;
    padding-left: 57px;
    padding-right: 0;
}
.no_background{
    background: none;
}
.el-dropdown-menu{
    color: #8a8a8a;
    background: #2a2a2a;
    border: 1px solid #2a2a2a;
}
.tutorial_left_navs li:hover a,.tutorial_left_navs li.on a{
    color: #8a8a8a;
}
.tutorial_left_navs li:hover, .tutorial_left_navs li.on, .tutorial_left_navs>li.on>a,.el-dropdown button.on{
    color: #a50000!important;
    border: none!important;
}
.tutorial_left_navs li a{
    display: block;
    color:#8a8a8a;
}


.tutorial_left_navs li a i {
    width: 40px;
    height: 39px;
    display: block;
    float: left;
    margin: 8px 18px 0 50px;
}

.custom_bar{
    position: relative;
    padding: 0px;
    width: 1100px;
    height: 680px;
    overflow: hidden;
    margin: 40px auto 0;
}
.tutorial-inside {
    width: 760px;
    min-height: 570px;
    height: auto;
    padding: 0 40px 0 0;
    margin-top: 30px;
}
.tutorial-inside .tutorial-box{
    width: 100%;
}
.tutorial-inside .tutorial-box h2{
    width:100% ;
    height: 38px;
}
.tutorial-inside .tutorial-box h2 span{
    color: #a6acff;
    font-size: 18px;
    padding-left: 18px;
    font-style:italic;
}

.tutorial-inside .tutorial-text{
    padding-left: 30px;
    position: relative;
    padding-bottom: 15px;
    border-bottom:none;
}
.tutorial-inside .tutorial-text h3{
    font-size: 16px;
    color: #8e8e8e;
    margin-bottom: 7px;
    font-weight: 700;
}
.tutorial-inside .tutorial-text p{
    padding-left: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #848484;
    text-indent: 0px;
}
.tutorial-text span{
    display: none;
}
.tutorial-gamerule .gamerule-box .gamerule-text{
    border-bottom: none;
}
.tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
    color: #77779b;
}
.tutorial-gamerule .gamerule-box .gamerule-text img{
    margin: 30px 0;
}
.tutorial-problem .tutorial_left_navs li a i {
    width: 42px;
    height: 41px;
}
.tutorial_tit_el{
    display: none;
}
// 遮罩
.tutorialShade{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000
}

// 游戏规则
.GameRules_title{
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.GameRules_title_el{
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
}
.GameRules_center_p{
    width: 730px;
    font-size: 14px;
    color: #666;
    margin: auto;
    line-height: 28px;
    margin-top:20px;
    text-align: center;
}
.GameRules_mt25{
    margin-top: 25px;
}
.GameRules_guide{
    width: 660px;
    height: 102px;
    margin: 30px auto 0;
    border-radius: 45px;
    background: #d1bd9a;
    overflow: hidden;
}
.GameRules_guide>span{
    width: 94px;
    height: 102px;
    line-height: 102px;
    float: left;
    text-align: center;
    font-size: 36px;
    color: #232a3a;
    border-right: 1px dashed #2b3154;
}
.GameRules_guide_cont{
    font-size: 14px;
    color: #232a3a;
    width: 565px;
    height: 102px;
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center
}
.GameRules_smoll_p{
    margin-top: 20px;
}
.GameRules_ty_p{
    color: #000;
    width: 90px;
    line-height: 30px;
    border-radius: 20px;
    background: #d1bd9a;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.GameRules_center_img{
    display: block;
    margin: 20px auto 0;
}
.GameRules_table{
    width: 716px;
    margin: 20px auto;
    overflow: hidden;
}
.GameRules_table li{
    height: 70px;
    line-height: 70px;
    background: #89827a;
    border-bottom: 1px solid #bab2aa;
    border-right: 1px solid #bab2aa;
    font-size: 14px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.GameRules_table_faseli{
    height: 48px !important;
    line-height: 48px !important;
    background: #6f675e !important;
}
.GameRules_table_faseli p{
    line-height: 23px !important;
}
.GameRules_table_ul1{
    float: left;
    width: 120px;
}
.bigwidth{
    width: 350px !important;
}
.GameRules_li_p{
    width: 320px;
    line-height: 25px;
    margin: auto;
    margin-top: 12px;
}
.width358{
    width: 358px;
}
.GameRules_no_center{
    text-align:left;
    margin-top: 0;
}
.GameRules_ml200{
    margin-left: 80px;
}
.GameRules_nomt{
    margin-top: 0;
}

.tutorial-maxWadth{
    width: 860px !important;
}

.tutorial_abslut_ul{
    background: #2a2a2a;
    position: absolute;
    z-index: 9;
}
.tutorial_abslut_ul>li {
    float: none;
    margin-left: 1px;
    margin-bottom: 0px;
    font-size: 16px;
    border: none;
    color: #cbc7d9;
    min-width: 140px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: top;

}
.tutorial_abslut_1{
    top: 100px;
    left: 652px;
}
.tutorial_abslut_2{
    top: 100px;
    left: 510px;
}
.BettingSkills_no{
    transition: 0.3s;
    overflow: hidden;
    height: 0;
}
.BettingSkills_on{
    transition: 0.3s;
    height: auto;
}
.bettingSkill_box{
    overflow: hidden;
}
.bettingSkill_box img{
    margin-top: 20px;
}
.bettingSkill_box p{
    overflow: hidden;
}
.bettingSkill_box p>span:nth-child(1){
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #848484;
}
.bettingSkill_box p>span:nth-child(2){
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #848484;
}
.bettingSkill_cp{
    line-height: 26px;
    font-size: 14px;
    color: #848484
}
.sportsSkill_chren{
    margin-left: 1px;
    background: #2a2a2a
}
.sportsSkill_chren>li{
    float: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    border: none;
    color: #cbc7d9;
    width: 190px;
    height: auto;
    line-height: 34px;
    text-align: center;
    vertical-align: center;
}
.sportsSkillChren1on{
    color: yellow !important;
}
.sportsSkill_chren_01>p{
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
}
.sonname,.grandsonname{
    display: none;
    background: #2a2a2a;
}
.sonname>li,.grandsonname>li{
    float: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    border: none;
    color: #cbc7d9;
    width: 190px;
    height: auto;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
}
.sportsSkill_jsonp{
    padding-left: 5px;
    font-size: 14px;
    line-height: 30px;
    color:#848484
}

// 背景替换img
.tutorialPic_1{
    width: 683px;
    height: 326px;
}
.tutorialPic_2{
    width: 684px;
    height: 346px;
}
.tutorialPic_3{
    width: 684px;
    height: 353px;
}
.tutorialPic_4{
    width: 666px;
    height: 352px;
}
.tutorialPuke_1{
    width: 428px;
    height: 69px;
}
.tutorialPuke_2{
    width: 211px;
    height: 69px;
}
.tutorialPuke_3{
    width: 211px;
    height: 69px;
}
.tutorialPuke_4{
    width: 353px;
    height: 257px;
}
.tutorialRule_img_1{
    width: 604px;
    height: 914px;
}
.tutorialRule_img_2{
    width: 604px;
    height: 410px;
}
.tutorialRule_img_3{
    width: 707px;
    height: 257px;
}
.tutorialRule_img_4{
    width: 707px;
    height: 397px;
}
.tutorialRule_img_5{
    width: 713px;
    height: 473px;
}
.tutorialRule_img_6{
    width: 713px;
    height: 188px;
}

}
