.theme25 {
    // 首页
    min-height: 100vh;

    .sidebar-hover,
    .sidebar-real,
    .left-part,
    .content,
    .bg-part {
        position: absolute;
        top: 0;
        height: 100%;
    }

    a {
        color: #2fa0ec;
    }

    /* END OF GLOBAL STYLES */
    /* SIDEBAR HOVER STYLES */
    .sidebar-hover {
        position: fixed;
        z-index: 100;
        left: 0;
        width: 15rem;
    }

    .sidebar-hover:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
    }

    .sidebar-hover:hover~.sidebar-real {
        max-width: 30rem;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-1 {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-2 {
        -webkit-transition-delay: 0.55s;
        transition-delay: 0.55s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-3 {
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-4 {
        -webkit-transition-delay: 0.85s;
        transition-delay: 0.85s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-5 {
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-6 {
        -webkit-transition-delay: 1.15s;
        transition-delay: 1.15s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-7 {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-8 {
        -webkit-transition-delay: 1.45s;
        transition-delay: 1.45s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-9 {
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s;
    }

    .sidebar-hover:hover~.sidebar-real .nav-elem.nav-10 {
        -webkit-transition-delay: 1.75s;
        transition-delay: 1.75s;
    }

    .sidebar-hover:hover~.sections .content {
        -webkit-transform: translateX(30rem);
        -ms-transform: translateX(30rem);
        transform: translateX(30rem);
    }

    .pagination {
        z-index: 500;
        position: absolute;
        font-size: 1.6rem;
        font-family: ptsans-regular;
        top: 26.7rem;
        left: 0rem;
        width: 15rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.4);
        /*
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -0.5rem;
        right: -0.2rem;
        height: 4rem;
        width: 0.5rem;
        border-radius: 5px;
        background: rgba(255,255,255, 0.9);
      }*/
    }

    .pagination:after {
        content: ">";
        color: #fff;
        position: absolute;
        display: block;
        right: 3rem;
        top: 0.5rem;
        -webkit-animation: navArrowMove 1s infinite;
        animation: navArrowMove 1s infinite;
    }

    .pagination .page {
        color: #fff;
    }

    /* END OF SIDEBAR HOVER */
    /* REAL SIDEBAR (OFF-CANVAS MENU) STYLES */
    .sidebar-real {
        z-index: 200;
        left: 15rem;
        width: 30rem;
        height: 500rem;
        max-width: 0;
        background: #000;
        overflow: hidden;
        -webkit-transition: max-width 0.4s 0.2s, -webkit-transform 0.3s;
        transition: max-width 0.4s 0.2s, transform 0.3s;
        will-change: max-width, transform;
    }

    .sidebar-real:hover {
        max-width: 30rem;
    }

    .sidebar-real:hover .nav-elem {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .sidebar-real:hover .nav-elem.nav-1 {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .sidebar-real:hover .nav-elem.nav-2 {
        -webkit-transition-delay: 0.55s;
        transition-delay: 0.55s;
    }

    .sidebar-real:hover .nav-elem.nav-3 {
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    .sidebar-real:hover .nav-elem.nav-4 {
        -webkit-transition-delay: 0.85s;
        transition-delay: 0.85s;
    }

    .sidebar-real:hover .nav-elem.nav-5 {
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
    }

    .sidebar-real:hover .nav-elem.nav-6 {
        -webkit-transition-delay: 1.15s;
        transition-delay: 1.15s;
    }

    .sidebar-real:hover .nav-elem.nav-7 {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    .sidebar-real:hover .nav-elem.nav-8 {
        -webkit-transition-delay: 1.45s;
        transition-delay: 1.45s;
    }

    .sidebar-real:hover .nav-elem.nav-9 {
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s;
    }

    .sidebar-real:hover .nav-elem.nav-10 {
        -webkit-transition-delay: 1.75s;
        transition-delay: 1.75s;
    }

    .sidebar-real:hover~.sections .content {
        -webkit-transform: translateX(30rem);
        -ms-transform: translateX(30rem);
        transform: translateX(30rem);
    }

    .nav-elem {
        position: relative;
        width: 100%;
        height: 18.81rem;
        background-size: cover !important;
        -webkit-transition: -webkit-transform 0.4s 0.3s;
        transition: transform 0.4s 0.3s;
        will-change: transform;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        cursor: pointer;
    }

    .nav-elem:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        will-change: background;
    }

    .nav-elem:hover:after {
        background: transparent;
    }

    /* REAL SIDEBAR STYLES END */
    /* SECTIONS STYLES */
    .sections {
        height: 100%;
        -webkit-transition: margin 0.5s;
        transition: margin 0.5s;
        will-change: margin;
    }

    #pagepiling .section {
        position: absolute !important;
        top: 0px;
        z-index: 0;
    }

    .section {
        position: relative;
        height: 100%;
    }



    .left-part,
    .bg-part {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        background-attachment: fixed !important;
        -webkit-transition: margin 0.8s !important;
        transition: margin 0.8s !important;
        will-change: margin !important;
    }

    .left-part {
        z-index: 20;
        left: 0;
        width: 15rem;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
    }

    .content {
        left: 15rem;
        width: calc(100%);
        height: 100%;
        -webkit-transition: -webkit-transform 0.4s 0.2s;
        transition: transform 0.4s 0.2s;
        will-change: transform;
    }

    .section-heading-1.section-heading {
        width: 570px;
        left: 50%;
        margin-left: -250px;

        img {
            width: 570px;
            height: auto;
        }
    }

    .section1-table {
        overflow: hidden;
        width: 420px;
        position: absolute;
        left: 50%;
        margin-left: -180px;
        z-index: 9999;
        top: 58%;
        border: 1px solid #626262;
        background: rgba(0, 0, 0, 0.4);

        .section1-table-top {
            overflow: hidden;
            border-bottom: 1px solid #626262;
            padding: 20px 45px;

            .section1-table-topPic {
                float: left;

                img {
                    width: 56px;
                    height: auto;
                    margin-top: 10px;
                }
            }

            .section1-table-topText {
                float: right;

                &.topTextvi {
                    // width: 200px;
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    line-height: 25px;

                    a {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .section1-table-btn {
            clear: both;
            overflow: hidden;
            height: 42px;
            line-height: 42px;

            span {
                font-size: 15px;
                color: #fff;
                width: 49%;
                display: inline-block;
                text-align: center;
                border-right: 1px solid #626262;
                cursor: pointer;

                &:last-child {
                    border-right: none;

                    a {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .section-2 {
        .section-heading {
            width: 280px;
            right: 10%;
            top: 36%;

            img {
                width: 280px;
                height: auto;
            }

            .section-heading-videoBtn {
                width: 188px;
                height: auto;
                margin-top: 18px;

                img {
                    width: 188px;
                    height: auto;
                    vertical-align: top;
                }
            }
        }
    }

    .section-3 {
        .section-heading {
            width: 393px;
            left: 6%;
            top: 33%;

            img {
                width: 280px;
                height: auto;
            }

            .section-heading-gameBtn {
                width: 374px;
                height: auto;
                margin-top: 20px;
                overflow: hidden;

                span {
                    display: inline-block;
                    width: 170px;
                    margin-right: 16px;
                    float: left;

                    &:last-child {
                        margin-right: 0px;
                    }

                    img {
                        width: 170px;
                        height: auto;
                        vertical-align: top;
                    }
                }

            }
        }
    }

    .section-4 {
        .section-heading {
            width: 200px;
            right: 10%;
            top: 36%;

            img {
                width: 200px;
                height: auto;
            }

            .section-heading-lotteryBtn {
                width: 168px;
                height: auto;
                margin-top: 18px;

                img {
                    width: 168px;
                    height: auto;
                    vertical-align: top;
                }
            }
        }
    }

    .section-5 {
        .section-heading {
            width: 208px;
            left: 6%;
            top: 36%;

            img {
                width: 208px;
                height: auto;
            }

            .section-heading-sportBtn {
                width: 188px;
                height: auto;
                margin-top: 18px;

                img {
                    width: 188px;
                    height: auto;
                    vertical-align: top;
                }
            }
        }
    }

    .section-heading {
        display: block;
        position: absolute;
        z-index: 700;
        color: #fff;
        line-height: 1;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s, color 0.3s;
        transition: transform 0.4s, opacity 0.1s, color 0.3s;
        will-change: transform, opacity;
    }

    .section-heading.not-visible,
    .additional-text.not-visible {
        -webkit-transform: translateY(-10rem);
        -ms-transform: translateY(-10rem);
        transform: translateY(-10rem);
        opacity: 0;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.2s 0.2s;
        transition: transform 0.4s, opacity 0.2s 0.2s;
    }

    .section-heading {
        top: 17.6rem;
        font-size: 6rem;
        text-transform: uppercase;
        line-height: 1;
        font-family: pfd-medium;
        //background: rgba(0, 0, 0, 0.4);
        // cursor: pointer;
    }

    .section-heading:hover {
        color: rgba(255, 89, 89, 0.7);
    }

    //.additional-text {
    //top: 33.2rem;
    //left: 2rem;
    //font-size: 2rem;
    //text-transform: uppercase;
    //font-family: ptsans-regular;
    //}

    .bg-part {
        width: 12.5%;
    }

    .bg-part::nth-of-type(4) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .bg-part::nth-of-type(3),
    .bg-part::nth-of-type(5) {
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    .bg-part:nth-of-type(2),
    .bg-part:nth-of-type(6) {
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }

    .bg-part:nth-of-type(1),
    .bg-part:nth-of-type(7) {
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
    }

    .bg-part:nth-of-type(8) {
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }

    .bg-part:nth-of-type(1) {
        left: 0%;
    }

    .bg-part:nth-of-type(2) {
        left: 12.5%;
    }

    .bg-part:nth-of-type(3) {
        left: 25%;
    }

    .bg-part:nth-of-type(4) {
        left: 37.5%;
    }

    .bg-part:nth-of-type(5) {
        left: 50%;
    }

    .bg-part:nth-of-type(6) {
        left: 62.5%;
    }

    .bg-part:nth-of-type(7) {
        left: 75%;
    }

    .bg-part:nth-of-type(8) {
        left: 87.5%;
    }

    .scroll-down {
        position: fixed;
        z-index: 500;
        -webkit-transition: -webkit-transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
        font-size: 3rem;
        font-family: ptsans-regular;
        text-transform: uppercase;
        bottom: 8rem;
        left: calc(40.5%);
        color: #fff;
        width: 30rem;
        text-align: center;
    }

    .scroll-down.removed {
        -webkit-transform: translateY(-20rem);
        -ms-transform: translateY(-20rem);
        transform: translateY(-20rem);
        opacity: 0;
        z-index: -10;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
        transition: transform 0.5s, opacity 0.3s 0.2s, z-index 0.5s;
    }

    .scroll-down:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -3rem;
        left: calc(50% - 1.5rem);
        width: 3rem;
        height: 3rem;
        border: 0.5rem solid #fff;
        border-left: none;
        border-top: none;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation: arrowMove 1.2s infinite;
        animation: arrowMove 1.2s infinite;
    }

    @-webkit-keyframes arrowMove {
        to {
            -webkit-transform: rotate(45deg) translateY(2rem) translateX(2rem);
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes arrowMove {
        to {
            -webkit-transform: rotate(45deg) translateY(2rem) translateX(2rem);
            transform: rotate(45deg) translateY(2rem) translateX(2rem);
            opacity: 0;
        }
    }

    @-webkit-keyframes navArrowMove {
        to {
            -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    @keyframes navArrowMove {
        to {
            -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
            opacity: 0;
        }
    }

    .codepen-link {
        color: inherit;
        text-decoration: none;
    }

    .check-out a {
        color: #ffaaaa;
    }


    .index-main-twentyFive {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: #000;
        display: block;
    }

    .nav-elem.nav-1 {}

    .nav-elem.nav-2 {}

    .nav-elem.nav-3 {}

    .nav-elem.nav-4 {}

    .nav-elem.nav-5 {}

    .section.section-1 .left-part {}

    .section.section-1 .bg-part {}

    .section.section-2 .left-part {}

    .section.section-2 .bg-part {}

    .section.section-3 .left-part {}

    .section.section-3 .bg-part {}

    .section.section-4 .left-part {}

    .section.section-4 .bg-part {}

    .section.section-5 .left-part {}

    .section.section-5 .bg-part {}

    .aniss {
        display: none;
        position: absolute;
        right: 100px;
        top: 200px;
    }

    .anisd {
        display: none;
        position: absolute;
        right: 50%;
        top: 223px
    }

    .section-heading,
    .additional-text {
        display: none;
    }

    .section-2.swiper-slide-active .section-heading.slideInRight,
    .section-4.swiper-slide-active .section-heading.slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        animation-duration: .6s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        display: block;
    }

    @-webkit-keyframes slideInRight {
        from {
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInRight {
        from {
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @-webkit-keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceInDown {

        from,
        60%,
        75%,
        90%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }



    .section-1.swiper-slide-active .section-heading.bounceInDown,
    .section-1.swiper-slide-active .additional-text.bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        animation-duration: .8s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        display: block;
    }

    // }
    @-webkit-keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .section-3.swiper-slide-active .section-heading.slideInLeft,
    .section-5.swiper-slide-active .section-heading.slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        animation-duration: .8s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        display: block;
    }

    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide:nth-child(1) {
        background-size: cover;
    }

    .swiper-slide:nth-child(2) {
        background-size: cover;
    }

    .swiper-slide:nth-child(3) {
        background-size: cover;
    }

    .swiper-slide:nth-child(4) {
        background-size: cover;
    }

    .swiper-slide:nth-child(5) {
        background-size: cover;
    }
}
