<template >
  <div class="income_main">
    <!--<div class="table_guide">
            <p>申请公司入款</p>
    </div>-->
    <div class="income_box scrollBox_content" id="scrollBox_income">
      <!--新增公司支付渠道 20190905 SeyoChen-->
      <ul class="pay_channel clearfix">
        <li v-for="(item, index) in RemittanceBankInfo">
          <a
            @click="ChangeBankData(index)"
            :class="index===ChangeNum?'on':''"
          >{{$t('message.member_canal')}}{{index+1}}</a>
        </li>
      </ul>
      <div class="clearfix">
        <ul class="account_msg hasblock">
          <li class="first_li">
            <span>{{$t('message.member_payee')}}：</span>
            <i>{{RemittancePayData.Payee}}</i>
          </li>
          <li>
            <span>{{$t('message.member_bank_name')}}：</span>
            <i>{{RemittancePayData.BankName}}</i>
          </li>
          <li>
            <span>{{$t('message.member_account_number')}}：</span>
            <i>{{RemittancePayData.BankAcct}}</i>
          </li>
          <li>
            <span>{{$t('message.member_network')}}：</span>
            <i>{{RemittancePayData.BankAddress}}</i>
          </li>
        </ul>
        <div class="transfer_tip">
          <p class="clearfix">
            <em class="fl">{{$t('message.member_activity_name')}}</em>
            <span class="fl" style="width: 200px;">{{ActivityDetail.Name}}</span>
          </p>
          <p v-if="CurSelectedActivity.ActivityType == 2">
            <em>{{$t('message.member_activity_time')}}</em>
            {{ActivityDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{ActivityDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}
          </p>
          <p>
            <em>{{$t('message.member_extra_dividend')}}</em>
            {{ActivityDetail.VBonusRatio}}
          </p>
          <p>
            <em>{{$t('message.member_minimum_income')}}</em>
            {{ActivityDetail.MinDepositAmt}}
          </p>
          <p>
            <em>{{$t('message.member_maximum_dividend')}}</em>
            {{ActivityDetail.MaxDepositAmt}}
          </p>
          <p>
            <em>{{$t('message.member_document_rate')}}</em>
            {{ActivityDetail.VRakeAmtRate}}
          </p>
          <!-- <p class="p_1">{{$t('message.member_completion_transfer')}}</p>
          <div :class="'p_2 p_2_' + $MessageLang">
            <p>{{$t('message.member_ATM_transfer')}}</p>
            <p>{{$t('message.member_ATM_existing')}}</p>
            <p>{{$t('message.member_Alipay')}}</p>
            <p>{{$t('message.member_counter')}}</p>
            <p>{{$t('message.member_mobile_transfer')}}</p>
            <p>{{$t('message.member_internet_transfer')}}</p>
            <p>{{$t('message.member_choose_others')}}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.p_2_en p,
.p_2_vi p {
  font-size: 12px;
  line-height: 15px;
}
</style>

<script>
import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    RemittanceBankInfo: {},
    ActivityDetail: undefined,
    CurSelectedActivity: undefined
  },
  data () {
    return {
      //   RemittancePayData: '',
      RemittancePayData: {
        Payee: undefined,
        BankName: '',
        BankAcct: '',
        BankAddress: ''
      },
      ChangeNum: 0
    };
  },
  mounted: function () {
    // 滚动条
    // $('#scrollBox_income').perfectScrollbar();
  },
  created: function () {
    // this.GetPayData();
    this.ChangeBankData(0);
    const self = this;
  },
  methods: {
    // 获取公司入款类型为 1 ，非扫码支付
    // GetPayData: function () {
    //   for (let i = 0; i < this.RemittanceBankInfo.length; i++) {
    //     if (this.RemittanceBankInfo[i].PaymentWayType == 1) {
    //       this.RemittancePayData = this.RemittanceBankInfo[i];
    //       return;
    //     }
    //   }
    // }
    // 点击渠道按钮切换用户渠道信息 20190905 SeyoChen
    ChangeBankData: function (num) {
      this.RemittancePayData = this.RemittanceBankInfo[num];
      this.ChangeNum = num;
      this.$store.dispatch('setDepositChannelText', num);
    }
  },
  watch: {
    RemittanceBankInfo: function () {
      this.ChangeBankData(0);
    }
  }
};
</script>
