<template>
  <div class="alert_box_content tel_alert_box re_h" id="depositNumber" style="position: fixed;">
    <span class="alert_close" @click="HideEditPhone">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div>
      <!-- 存款次数超出提示 -->
      <h3 class="numberTips">
        {{$t('message.deposit_limitNumber')}}
      </h3>
      <div class="limitBtn"><a href="javascript:void(0);" @click="HideEditPhone">{{$t('message.member_ascertain')}}</a></div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';

export default {
  methods: {
    // 關閉彈窗
    HideEditPhone: function () {
      CommUtility.WebClosealertboxForm('depositNumber');
      // CommUtility.WebCloseUniqueForm('memberMainFrom');
    }, // end HideEditPhone
  }
};
</script>
<style lang="less" scoped>
  .numberTips {
    text-align: center;
    padding: 10px 10px 30px;
    color: #666;
  }
  .limitBtn {
    text-align: center;
    a {
      color: #fff;
      background: linear-gradient(to right, #7d54ff, #e154ff);
      line-height: 38px;
      width: 86px;
      height: 38px;
      border-radius: 18px;
      text-align: center;
      display: inline-block;
    }
  }
</style>
