<template>
  <div class="psl_tab_cont">
    <div v-if="this.OnlinePaymentAcctCnt == 0 && this.CompAcctCnt == 0">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/depositPC_03.png'" />
    </div>
    <div
      class="active_select"
      :class="'active_select_'+$MessageLang"
      v-if="this.OnlinePaymentAcctCnt != 0 || this.CompAcctCnt != 0"
    >
      <div class="p_1_box">
        <p class="p_1">{{$t('message.member_optimal_activities')}}</p>
        <a
          class="no-selected-bonus"
          href="javascript:void(0);"
          @click="DoDeposit('yes');SelectItemID=undefined;SelectItem=undefined;"
          v-if="HaveNoSelectedBonus===702"
        >{{$t('message.member_participating_activities')}}</a>
      </div>
      <ul class="active_list clearfix" id="active_scroll">
        <li
          :class="SelectItemID == item.PKID ? 'hasblock':''"
          v-if="DisplayActivityList.length >= 1"
          v-for="item in DisplayActivityList"
          @click="SelectDepositActivity(item.PKID, item);"
        >
          <img :onerror="defaultImg" :src="item.HtmlSmallImgUrl" />
          <div class="text-box">
            <p>{{$t('message.member_dividend_ratio')}}{{item.VBonusRatio}}</p>
            <p>{{$t('message.member_minimum_income')}}{{item.MinDepositAmt}}</p>
            <p>{{$t('message.member_maximum_dividend')}}{{item.MaxDepositAmt}}</p>
            <p>{{$t('message.member_document_rate')}}{{item.VRakeAmtRate}}</p>
          </div>
          <!-- <p class="p_2">{{ item.Name }}</p> -->
          <!-- <i></i> -->
        </li>
        <!-- <li :class="SelectItemID == item.PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 1" v-for="item in DisplayActivityList"
                    @click="SelectDepositActivity(item.PKID, item);">
                    <img :src="item.HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{item.VBonusRatio}}</p>
                        <p>最低入金：{{item.MinDepositAmt}}</p>
                        <p>最高红利：{{item.MaxDepositAmt}}</p>
                        <p>洗码量倍率：{{item.VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ item.Name }}</p>
                    <i></i>
        </li>-->
        <!-- <li :class="SelectItemID == DisplayActivityList[1].PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 2"
                    @click="SelectDepositActivity(DisplayActivityList[1].PKID, DisplayActivityList[1]);">
                    <img :src="DisplayActivityList[1].HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{DisplayActivityList[1].VBonusRatio}}</p>
                        <p>最低入金：{{DisplayActivityList[1].MinDepositAmt}}</p>
                        <p>最高红利：{{DisplayActivityList[1].RakeAmtRate}}</p>
                        <p>洗码量倍率：{{DisplayActivityList[1].VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ DisplayActivityList[1].Name }}</p>
                    <i></i>
        </li>-->
        <!--2019.03.18 SeyoChen 红利活动增加至显示6个-->
        <!-- <li :class="SelectItemID == DisplayActivityList[2].PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 3"
                    @click="SelectDepositActivity(DisplayActivityList[2].PKID, DisplayActivityList[2]);">
                    <img :src="DisplayActivityList[2].HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{DisplayActivityList[2].VBonusRatio}}</p>
                        <p>最低入金：{{DisplayActivityList[2].MinDepositAmt}}</p>
                        <p>最高红利：{{DisplayActivityList[2].RakeAmtRate}}</p>
                        <p>洗码量倍率：{{DisplayActivityList[2].VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ DisplayActivityList[2].Name }}</p>
                    <i></i>
                </li>
                <li :class="SelectItemID == DisplayActivityList[3].PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 4"
                    @click="SelectDepositActivity(DisplayActivityList[3].PKID, DisplayActivityList[3]);">
                    <img :src="DisplayActivityList[3].HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{DisplayActivityList[3].VBonusRatio}}</p>
                        <p>最低入金：{{DisplayActivityList[3].MinDepositAmt}}</p>
                        <p>最高红利：{{DisplayActivityList[3].RakeAmtRate}}</p>
                        <p>洗码量倍率：{{DisplayActivityList[3].VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ DisplayActivityList[3].Name }}</p>
                    <i></i>
                </li>
                <li :class="SelectItemID == DisplayActivityList[4].PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 5"
                    @click="SelectDepositActivity(DisplayActivityList[4].PKID, DisplayActivityList[4]);">
                    <img :src="DisplayActivityList[4].HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{DisplayActivityList[4].VBonusRatio}}</p>
                        <p>最低入金：{{DisplayActivityList[4].MinDepositAmt}}</p>
                        <p>最高红利：{{DisplayActivityList[4].RakeAmtRate}}</p>
                        <p>洗码量倍率：{{DisplayActivityList[4].VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ DisplayActivityList[4].Name }}</p>
                    <i></i>
                </li>
                <li :class="SelectItemID == DisplayActivityList[5].PKID ? 'hasblock':''"
                    v-if="DisplayActivityList.length >= 6"
                    @click="SelectDepositActivity(DisplayActivityList[5].PKID, DisplayActivityList[5]);">
                    <img :src="DisplayActivityList[5].HtmlSmallImgUrl" />
                    <div class="text-box">
                        <p>红利比例：{{DisplayActivityList[5].VBonusRatio}}</p>
                        <p>最低入金：{{DisplayActivityList[5].MinDepositAmt}}</p>
                        <p>最高红利：{{DisplayActivityList[5].RakeAmtRate}}</p>
                        <p>洗码量倍率：{{DisplayActivityList[5].VRakeAmtRate}}</p>
                    </div>
                    <p class="p_2">{{ DisplayActivityList[5].Name }}</p>
                    <i></i>
        </li>-->
        <!--2019.03.18 SeyoChen 红利活动增加至显示6个 end-->
      </ul>
      <div class="pub_btn_both style4" style="padding-left: 0;">
        <a
          class="btn1 hasblock enter_deposit"
          href="javascript:void(0);"
          @click="CheckSelectedBonus();"
        >{{$t('message.activity_enter_deposits')}}</a>
        <!-- <a class="btn1 hasblock enter_deposit" href="javascript:void(0);" @click="DoDeposit('yes');SelectItemID=undefined;SelectItem=undefined;" v-if="HaveNoSelectedBonus===702" style="margin-left: 50px;">不参与活动</a> -->
      </div>
    </div>
    <!--还没选择优惠活动的弹出窗-->
    <div id="noSelectDepositActivity" class="alert_box_content tel_alert_box re_h">
      <span
        class="alert_close"
        @click="CommUtility.WebClosealertboxForm('noSelectDepositActivity');"
      >
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebCloseUniqueForm('noSelectDepositActivity');"></a>
      </div>-->
      <div class="descr_p" style="max-width: 350px;">
        <p>
          {{$t('message.member_noPreferential_selected')}}
          <br />
          {{ DisplayActivityList[0].Name }}，
          <br />
          {{$t('message.member_determine_acceptance')}}
        </p>
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="AutoSelectActivity()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import URLService from 'scripts/common/URLService';
import EventBus from 'scripts/common/EventBus';
// import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data() {
    return {
      DisplayActivityList: [{}],
      SelectItemID: undefined, // 选中活动的index
      SelectItem: undefined, // 选中的活动
      CommUtility: CommUtility, // 定义引入的CommUtility

      DefaultSelectItemID: undefined,
      DefaultSelectItem: undefined,

      defaultImg:
        'this.src="' +
        this.$ResourceCDN +
        '/EditionImg/LamborFormal/images/MemberNew/activity_none.jpg?VersionCode"'
    };
  },
  props: {
    OnlinePaymentAcctCnt: undefined,
    CompAcctCnt: undefined,
    DepositType: undefined,
    DepositAccountCount: undefined,
    ActivityList: {
      type: Array,
      default: function() {
        return [];
      }
    },
    HaveNoSelectedBonus: undefined, // 是否显示不参与活动按钮 2019.03.28
    showDepositNumberMessage: {
      type: Function
    }
  },
  methods: {
    // 获取URL参数
    GetParams: function() {
      if (this.$route.params.Data != undefined) {
        // 取得注册成功页面带进来的选择资讯
        const selectData = URLService.GetObjFromUrlParameter(
          this.$route.params.Data
        );
        this.DefaultSelectItemID =
          this.DepositType +
          '_' +
          selectData.ActivityType +
          '_' +
          selectData.BonusSerialNo;
        this.DefaultSelectItem = selectData;
      }
    },
    // 选择活动
    SelectDepositActivity: function(index, item) {
      this.SelectItemID = index;
      this.SelectItem = item;
      this.ActivityTypeID = item.ActivityType;
      // EventBus.$emit('ActivityDatas', item);
      localStorage.setItem('ActivityDatas', JSON.stringify(item));
      console.log(this.SelectItemID);
      console.log(this.SelectItem);
    },
    // 判断是否选择了优惠活动
    CheckSelectedBonus: function() {
      if (this.SelectItem == undefined) {
        CommUtility.WebShowAlertboxForm('noSelectDepositActivity'); // 若未选择则弹出未选择提示
      } else {
        this.DoDeposit(); // 有则进入存款
      }
    },
    // 系统自动选择优惠
    AutoSelectActivity: function() {
      this.SelectItem = this.DisplayActivityList[0];
      CommUtility.WebClosealertboxForm('noSelectDepositActivity');
      this.DoDeposit(); // 进入存款
    },
    // 进入存款
    DoDeposit: async function(HaveNoSelectedBonus) {
      // 进入存款时校验是否超过存储次数
      let validateNumber = await this.showDepositNumberMessage();
      if (!validateNumber) return;
      if (HaveNoSelectedBonus === 'yes') {
        const HaveNoSelectedBonusData = JSON.parse(
          localStorage.getItem('HaveNoSelectedBonusData')
        );
        // 不参与红利活动
        const SelectItem = {
          Name: HaveNoSelectedBonusData.Name,
          VBonusRatio: HaveNoSelectedBonusData.VBonusRatio,
          MinDepositAmt: HaveNoSelectedBonusData.MinDepositAmt,
          MaxDepositAmt: HaveNoSelectedBonusData.MaxDepositAmt,
          VRakeAmtRate: HaveNoSelectedBonusData.VRakeAmtRate,
          BonusSerialNo: HaveNoSelectedBonusData.BonusSerialNo,
          ActivityType: HaveNoSelectedBonusData.ActivityType,
          ActType: HaveNoSelectedBonusData.ActType
        };
        localStorage.setItem('ActivityDatas', JSON.stringify(SelectItem));
        this.$parent.$parent.SwitchStep(2, this.DepositType, SelectItem);
      } else {
        console.log(this.SelectItem);
        // 2018.11.22 SeyoChen 正常流程选择
        localStorage.setItem('ActivityDatas', JSON.stringify(this.SelectItem));
        this.$parent.$parent.SwitchStep(2, this.DepositType, this.SelectItem);
      }
    }
  },
  created: function() {
    const self = this;
    EventBus.$on('resetSelectedDepositActivity', () => {
      self.SelectItemID = undefined;
      self.SelectItem = undefined;
      this.$parent.$parent.IsShow = false;
    });
    this.GetParams();
    console.log('ActivityList');
    console.log(this.ActivityList);
    console.log(this.DisplayActivityList);
    console.log('ActivityList');
    // console.log(this.DisplayActivityList);
  },
  watch: {
    ActivityList: function() {
      // 檢查是否有預設項目
      if (this.DefaultSelectItemID !== undefined) {
        this.SelectItemID = this.DefaultSelectItemID;
        this.SelectItem = this.DefaultSelectItem;
        this.DefaultSelectItemID = undefined;
        this.DefaultSelectItem = undefined;
      } else {
        this.SelectItemID = undefined;
        this.SelectItem = undefined;
      }

      this.DisplayActivityList = this.ActivityList;

      for (let i = 0; i < this.DisplayActivityList.length; i++) {
        // 类型为红利设定
        // if (this.DisplayActivityList[i].ActivityType == BLDef.BonusWayType.DEPOSIT) {
        //     const DespTxt = this.DisplayActivityList[i].ActType == 1 ? '首存返利充100送' : '续存返利充100送';
        //     this.DisplayActivityList[i].Name = DespTxt + this.DisplayActivityList[i].VBonusRatio;
        //     this.DisplayActivityList[i].HtmlSmallImgUrl = this.DisplayActivityList[i].ActType == 1 ? this.$ResourceCDN + '/EditionImg/Lambor1.0/images/web/promotion/activity_img1.jpg' : this.$ResourceCDN + '/EditionImg/Lambor1.0/images/web/promotion/activity_img2.jpg';
        // }
        // 赋予UniqueID
        this.DisplayActivityList[i].PKID =
          this.DepositType +
          '_' +
          this.DisplayActivityList[i].ActivityType +
          '_' +
          this.DisplayActivityList[i].BonusSerialNo;
      }
    }
  },
  beforeDestroy() {
    EventBus.$off('resetSelectedDepositActivity');
  },
  mounted() {
    $('#active_scroll').perfectScrollbar();
  }
};
</script>
