<div class="item1">
  <div class="s_item_order">
    <h2 class="fl"><img src="/static/images/web/sportBetting/sport_title1.png?VersionCode" /></h2>
    <div class="s_course fl">
      <p>登录后 点击导航上的体育博彩菜单</p>
      <img src="/static/images/web/sportBetting/sportBetting_order1.png?VersionCode" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="s_item_order">
    <h2 class="fl"><img src="/static/images/web/sportBetting/sport_title2.png?VersionCode" /></h2>
    <div class="s_course fl">
      <p>左侧选择需要投注的比赛项目</p>
      <img src="/static/images/web/sportBetting/sportBetting_order2.png?VersionCode" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="s_item_order">
    <h2 class="fl"><img src="/static/images/web/sportBetting/sport_title3.png?VersionCode" /></h2>
    <div class="s_course fl">
      <p>右侧点击赔率</p>
      <img src="/static/images/web/sportBetting/sportBetting_order3.png?VersionCode" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="s_item_order">
    <h2 class="fl"><img src="/static/images/web/sportBetting/sport_title4.png?VersionCode" /></h2>
    <div class="s_course fl">
      <p>左侧输入投注金额，点击确定投注即可</p>
      <img src="/static/images/web/sportBetting/sportBetting_order4.png?VersionCode" />
    </div>
    <div class="clearfix"></div>
  </div>
</div>

