<template>
  <!-- 自身待遇 -->
  <div class="treatment-cont-main" id="selfTreatment-scroll">
    <div
      class="treatment-cont-item"
      :style="{'height':vTreatment}"
      v-if="CommisionIncomeMode==1401"
    >
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        {{$t('message.agency_self_treatment')}}：{{$t('message.agency_code_maker')}}
      </h2>
      <div class="treatment-cont-table">
        <span class="treatment-item-sp">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/agencyCenter/a_title1.png'"
          />
        </span>
        <ul class="treatment-table-ul">
          <li
            class="treatment-table-list"
            :class="'treatment-table-list'+$MessageLang"
            v-for="(item,index) in ValueListItem"
            :key="index"
          >
            <span
              class="list-title"
              :class="[{ 'on': divideName == item.GroupName,'list-title1':index==3 || index==4}]"
              @click="divideInto(item.GroupName)"
            >{{item.GroupName}}</span>
            <ul
              class="list-tableCon"
              :style="{'height':HulHeight}"
              v-show="divideName == item.GroupName"
            >
              <li
                class="list-tableLi"
                v-for="(list,i) in item.GroupList"
                :key="i"
              >{{list.GameApiName}} {{list.MaxRevenueRate}}%</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="treatment-cont-item"
      v-if="QueryAutoUpgradeRakeSettingList.length>0 && AutoUpgradeFlag==1"
    >
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        {{$t('message.agency_self_treatment')}}：{{$t('message.agency_treatmentYJ')}}
      </h2>
      <div class="treatment-cont-commission">
        <table width="100%">
          <thead>
            <tr>
              <td>{{$t('message.agency_effective_range')}}</td>
              <td>{{$t('message.code_commission_ratio')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list,index) in QueryAutoUpgradeRakeSettingList" :key="index">
              <td>{{list.L_RakeAmt}}~{{list.H_RakeAmt}}</td>
              <td>{{list.RakeRate}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="treatment-cont-item" v-if="CommisionIncomeMode==1401">
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        {{$t('message.agency_bear_dividends')}}：{{MaxIBBonusRevenueRate}}%
      </h2>
    </div>
    <div class="treatment-cont-item" v-if="AutoUpgradeFlag==0">
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        {{$t('message.agency_code_commission')}}：{{RakeRate}}%
      </h2>
    </div>
    <!-- <div class="treatment-cont-item" v-if="AutoUpgradeFlag==1">
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        码佣：当前站长为自动晋升制，无需设置码佣！
      </h2>
    </div>-->
    <div class="treatment-cont-item">
      <h2 class="treatment-cont-title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_line.png'" />
        {{$t('message.agency_settlement_method')}}：{{CycleName}}
      </h2>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import BKBLDef from 'scripts/common/BLDef';
import CommService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
export default {
  data () {
    return {
      // 正則表達式類別
      Reg: Regex.Regex,
      GetAcctID: localStorage.getItem('CorrelationIBMemberId'),
      IBCommissionRevenueGameLists: [],
      ValueList: [],
      RevenueList: [],
      ValueListItem: [],
      divideName: '',
      HulHeight: '89px',
      vTreatment: '142px',
      Vlists: [],
      QueryAutoUpgradeRakeSettingList: [],
      CycleName: undefined,
      CommisionIncomeMode: undefined,
      AutoUpgradeFlag: undefined,
      MaxIBBonusRevenueRate: undefined,
      RakeRate: undefined
    };
  },
  created: function () {
    this.loadSelfPage();
  },
  mounted: function () {
    $('#selfTreatment-scroll').perfectScrollbar();
  },
  computed: {},
  methods: {
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function (num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    loadSelfPage: async function (userMementID) {
      const self = this;
      self.ValueListItem = [];
      self.RevenueList = [];
      const inputData = {
        AcctID: userMementID || self.GetAcctID
      };
      const retData = await AgencyCenterService.LoadMaxReverseGameListSetting(
        inputData
      );
      console.log('retData自身待遇');
      console.log(inputData);
      console.log(retData);
      console.log('retData自身待遇');
      if (retData.Ret === 0) {
        self.IBCommissionRevenueGameLists =
          retData.Data.IBCommissionRevenueGameSettingList;
        self.QueryAutoUpgradeRakeSettingList =
          retData.Data.QueryAutoUpgradeRakeSettingList;
        for (let y = 0; y < self.QueryAutoUpgradeRakeSettingList.length; y++) {
          self.QueryAutoUpgradeRakeSettingList[y].RakeRate = self.numCalFix(
            self.QueryAutoUpgradeRakeSettingList[y].RakeRate * 100
          );
        }
        self.CycleName = retData.Data.CycleName;
        self.CommisionIncomeMode = retData.Data.CommisionIncomeMode;
        self.AutoUpgradeFlag = retData.Data.AutoUpgradeFlag;
        self.MaxIBBonusRevenueRate = retData.Data.MaxIBBonusRevenueRate;
        self.RakeRate = retData.Data.RakeRate;
        const list = self.IBCommissionRevenueGameLists;
        let isValueList;
        for (let i = 0; i < list.length; i++) {
          isValueList = false;
          for (let z = 0; z < self.ValueList.length; z++) {
            if (list[i].GameTypeName == self.ValueList[z]) {
              isValueList = true;
            }
          }
          if (!isValueList) {
            self.ValueList.push(list[i].GameTypeName);
          }
        }
        let names = {};
        for (let h = 0; h < self.ValueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.ValueList[h]) {
              names = {
                GroupName: self.ValueList[h],
                GameTypeNo: list[p].GameTypeNo,
                GroupList: []
              };
            }
          }
          self.RevenueList.push(names);
        }
        for (let h = 0; h < self.RevenueList.length; h++) {
          for (let p = 0; p < list.length; p++) {
            if (list[p].GameTypeName == self.RevenueList[h].GroupName) {
              self.RevenueList[h].GroupList.push(list[p]);
            }
          }
        }
        console.log('创建账号初始化数据');
        // console.log(self.IBCommissionRevenueGameSettingList);
        console.log(list);
        console.log(self.ValueList);
        console.log(self.RevenueList);
        console.log('创建账号初始化数据');
        // 分成设置
        const mouldList = self.RevenueList;
        console.log(mouldList);
        for (let a = 0; a < mouldList.length; a++) {
          const groudList = mouldList[a].GroupList;
          for (let b = 0; b < groudList.length; b++) {
            mouldList[a].GroupList[b].RevenueRate = this.numCalFix(
              groudList[b].RevenueRate * 100
            );

            mouldList[a].GroupList[b].MaxRevenueRate = this.numCalFix(
              groudList[b].MaxRevenueRate * 100
            );
          }
        }
        self.ValueListItem = mouldList; // 分成%数
        self.divideName = self.ValueListItem[0].GroupName;
        console.log('处理后的列表数据11111111111111111111111111');
        console.log(self.ValueListItem);
        console.log('处理后的列表数据111111111111');
        for (let d = 0; d < self.ValueListItem.length; d++) {
          self.Vlists.push(self.ValueListItem[d].GroupList.length);
          self.Vlists.sort(function (a, b) {
            return a - b;
          });
        }
        console.log(self.Vlists);
        const max = self.Vlists[self.Vlists.length - 1];
        console.log(max);
        console.log(Math.ceil(max / 3));
        if (Math.ceil(max / 3) > 3) {
          self.HulHeight = 36 * Math.ceil(max / 3) + 'px';
          self.vTreatment = 76 + 36 * Math.ceil(max / 3) + 'px';
        } else {
          self.HulHeight = '108px';
          self.vTreatment = '184px';
        }
      }
    },
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1;
      if (input * 1 >= 0) {
        isZheng = 1;
      } else {
        isZheng = -1;
      }
      input = Math.abs(input * 1);
      const toFixedNum = function (num, s) {
        const times = 10 ** s;
        let des = num * times + 0.5;
        des = parseInt(des, 10) / times;
        return des * isZheng + '';
      };
      let rtn = toFixedNum(input, 5);
      rtn *= 1;
      return rtn;
    },
    divideInto: function (name) {
      console.log(name);
      this.divideName = name;
    }
  },
  beforeDestroy: function () {},
  components: {},

  watch: {
    // ValueListItem: function (list) {
    //   this.ValueListItem = list;
    // }
    // ValueListItem: function () {
    //   const self = this;
    //   if (localStorage.getItem('CreatedAgencyData')) {
    //     // self.$nextTick(function () {
    //     self.templateList();
    //     // });
    //   }
    // }
  }
};
</script>
