<template>
  <!--新闻中心-->
  <div
    class="news-content"
    :class="'newsList_' + $MessageLang"
    :style="{
      background: $BannerPath.Images.NewsBgImages
        ? 'url(' + $ResourceCDN + '/EditionImg/LamborFormal/images' + $BannerPath.Images.NewsBgImages + ')no-repeat'
        : ''
    }"
  >
    <div
      class="news-content-banner"
      :style="{
        background: $BannerPath.Images.NewsImages
          ? 'url(' +
            $ResourceCDN +
            '/EditionImg/LamborFormal/images/' +
            $MessageLang +
            $BannerPath.Images.NewsImages +
            ')no-repeat'
          : ''
      }"
    >
      <!-- <video
        :class="'sy'+$VersionNumber+'-news-video'"
        :src="$ResourceCDN+$BannerPath.Video.newCenterVideo"
        class="news-banner-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>-->
      <div class="index-content">
        <img src alt class="figure-img" />
        <img src alt class="text-img" />
        <div class="enter-btn">
          <a class="txt">{{ $t("message.understanding_details") }}</a>
        </div>
      </div>
    </div>
    <div class="news-change-animation">
      <div class="news-change-index">
        <div class="news-page">
          <div class="news-page-banner">
            <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
          </div>
          <div class="news-main">
            <section class="news-title-box">
              <h2 class="news-title">
                <p class="txt">{{ $t("message.news_list") }}</p>
                <span class="desc" v-if="$MessageLang != 'en'">NEWS</span>
              </h2>
            </section>
            <div class="news-main-cont">
              <!--最新消息列表-->
              <news-list-content :GetCurrentPageData="CurrentPageData"></news-list-content>
            </div>
            <!--分页-->
            <news-list-paging :PageCount="PageInfo.PageCount"></news-list-paging>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { NewsList } from "@/mod/k19/assets/scripts/comTest/main/newsList/newsList.js"
export default {
  mixins: [NewsList]
}
</script>
