<!--我們的優勢-->
<template>
  <div class="advantage_box">
    <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/our_advantage.png?VersionCode'"
      class="advantage_title"
    />
    <ul class="advantage_box_list clearfix">
      <li>
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/ad_list1.png?VersionCode'" />
        <h2>
          <span id="changeNum1">{{$t('message.index_eighteen')}}</span>
          <label>{{$t('message.index_second')}}</label>
        </h2>
        <p>{{$t('message.index_fast_access')}}</p>
      </li>
      <li>
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/ad_list3.png?VersionCode'" />
        <h2>
          <span id="changeNum3">{{$t('message.index_zero')}}</span>
          <label>{{$t('message.index_servant')}}</label>
        </h2>
        <p>{{$t('message.index_commission')}}</p>
      </li>
      <li>
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/ad_list4.png?VersionCode'" />
        <h2>
          <span id="changeNum4">{{$t('message.index_twenty_four')}}</span>
          <label>h</label>
        </h2>
        <p>{{$t('message.index_technical_support')}}</p>
      </li>
    </ul>
  </div>
</template>
