<template>
  <!--忘記密碼彈窗-->
  <!--弹窗选择支付方式 2018.09.21-->
  <div id="DepositMethodForm" class>
    <div class="depositMethod-title">
      <img
        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img20.png?VersionCode'"
        class="titleImg"
      />
      <span class="onlinePeople">
        <span>{{OnlinePeopleNumber}}</span>
        {{$t('message.online_number')}}
      </span>
    </div>

    <div class="depositMethod-main">
      <ul>
        <li class="depositMethod-cont-list" @click="depositMethod(1)">
          <div class="list-icon">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img21.png?VersionCode'"
            />
          </div>
          <div class="list-text">
            <p class="p1">{{$t('message.payment_WeChat') | simpleContent(15)}}</p>
            <p class="p2">WeChat payment</p>
          </div>
        </li>
        <li class="depositMethod-cont-list" @click="depositMethod(1)">
          <div class="list-icon">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img22.png?VersionCode'"
            />
          </div>
          <div class="list-text">
            <p class="p1">{{$t('message.payment_AliPay') | simpleContent(15)}}</p>
            <p class="p2">Pay with Ali-Pay</p>
          </div>
        </li>
        <li class="depositMethod-cont-list" @click="depositMethod(1)">
          <div class="list-icon">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img23.png?VersionCode'"
            />
          </div>
          <div class="list-text">
            <p class="p1">{{$t('message.payment_ECurrency') | simpleContent(15)}}</p>
            <p class="p2">E-currency payment</p>
          </div>
        </li>
        <li class="depositMethod-cont-list" @click="depositMethod(1)">
          <div class="list-icon">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img24.png?VersionCode'"
            />
          </div>
          <div class="list-text">
            <p class="p1">{{$t('message.payment_VirtualCurrency') | simpleContent(15)}}</p>
            <p class="p2">Virtual currency</p>
          </div>
        </li>
        <li class="depositMethod-cont-list" @click="depositRecharge()">
          <div class="list-icon">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img25.png?VersionCode'"
            />
          </div>
          <div class="list-text">
            <p class="p1">{{$t('message.payment_FastRechargeCenter') | simpleContent(15)}}</p>
            <p class="p2">Fast recharge Center</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import BLDef from 'scripts/common/BLDef';

export default {
  data() {
    return {
      // 在线支付
      OnlinePaymentAcctCnt: undefined,
      // 公司入款
      CompAcctCnt: undefined,
      // 在线人数
      OnlinePeopleNumber: undefined
    };
  },
  mounted() {
    EventBus.$on('EnterDepositsBox', () => {
      this.OpenWindow();
    });
    // EventBus.$on('OnlinePeopleNum', data => {
    //   this.OnlinePeopleNumber = data;
    // });
    this.OnlinePeopleNumber = sessionStorage.getItem('OnlinePeopleNum');
    this.GetPaySty(); // 2018.11.30 判断 在线付款/公司入款 是否开启
  },
  methods: {
    // 開啟視窗
    OpenWindow: function() {
      CommUtility.WebShowUniqueForm('DepositMethodForm');
    },

    //
    CloseWindow: function() {
      CommUtility.WebCloseUniqueForm('DepositMethodForm');
    },
    // 2018.11.30 判断 在线付款/公司入款 是否开启
    GetPaySty: async function() {
      const login = localStorage.getItem('Token');
      if (login == undefined) {
        return;
      }
      const retData = await PersonalCenterService.Deposit_LoadMainPage();
      if (retData.Ret == BLDef.ErrorRetType.SUCCESS) {
        this.OnlinePaymentAcctCnt = retData.Data.OnlinePaymentAcctCnt; // 在线支付号标
        this.CompAcctCnt = retData.Data.CompAcctCnt; // 公司入款号标
      }
    },
    depositMethod: async function(num) {
      const retDataCheck = await CommonService.Comm_CheckPermission();
      console.log(retDataCheck.Status);
      if (retDataCheck.Status != 0) {
        // this.$router.push( { name: 'webMemberDeposit', params: { ChargeType: num, ActivityData: this.TransActivityData } });
        this.$route.params.ActivityData = this.TransActivityData;
        this.$route.params.ChargeType = num;
        this.$store.dispatch('setSwitchNameText', 'webMemberDeposit');
        EventBus.$emit('personalInfo');
      } else {
        this.$router.push({ name: 'Login' });
      }
    },
    depositRecharge: async function() {
      const permissionData = await this.CheckAcctStatus();
      if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
        const notifyData = {
          NotifyMessage:
            BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
              permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DELETED == permissionData.Status
              ? this.$t('message.top_login_account')
              : this.$t('message.top_account_freezing'),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        // this.$router.push({ name: 'webMemberDeposit' });
        this.$store.dispatch('setSwitchNameText', 'webMemberDeposit');
        EventBus.$emit('personalInfo');
      }
    },
    CheckAcctStatus: async function() {
      const retData = await CommonService.Comm_CheckPermission();
      return retData;
    }
  }
};
</script>
