<!--簡易活動輪播-->
<template>
  <div class="active_show">
    <a :class="'promotion_title promotion_title_' + $MessageLang">
      <!-- <em>{{$t('message.nav_promotions')}}</em> -->
    </a>
    <div id="active_slide" class="active_slide">
      <!--没有优惠活动时 20190429 SeyoChen-->
      <div
        class="carousel-inner"
        style="border-bottom: solid 3px #154e94;"
        v-if="LoadCompleted == false"
      >
        <div class="item active">
          <a>
            <img
             v-bind:src="$ResourceCDN + '/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/activity_nomal.png'"
              style="width:350px;height:180px;"
            />
          </a>
        </div>
      </div>
      <div
        id="myCarousel"
        class="carousel slide"
        style="float:left;border-bottom:3px solid #154e94"
        v-if="LoadCompleted == true"
      >
        <!-- 轮播（Carousel）指标 -->
        <!-- <ol class="carousel-indicators">
          <li class="active"></li>
          <li v-if="ActivityList.length>1"></li>
          <li v-if="ActivityList.length>2"></li>
        </ol>-->
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>

        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          <div class="item active">
            <a @click="ToActivityList(ActivityList[0])">
              <img v-bind:src="ActivityList[0].ActListLogo" style="width:350px;height:180px;" />
            </a>
          </div>
          <div class="item" v-if="ActivityList.length>1">
            <a @click="ToActivityList(ActivityList[1])">
              <img v-bind:src="ActivityList[1].ActListLogo" style="width:350px;height:180px;" />
            </a>
          </div>
          <div class="item" v-if="ActivityList.length>2">
            <a @click="ToActivityList(ActivityList[2])">
              <img v-bind:src="ActivityList[2].ActListLogo" style="width:350px;height:180px;" />
            </a>
          </div>
        </div>
      </div>
      <!--文字部分-->
      <div class="active_news" v-if="LoadCompleted == true">
        <a
          @click="ToActivityList(ActivityList[0])"
          :class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]"
        >
          <div v-on:mouseenter="SildeTo(0)" v-on:mouseleave="AutoPlay()">
            <p class="p_1">{{ActivityList[0].Name}}</p>
            <p class="p_2">{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
          </div>
        </a>
        <a
          @click="ToActivityList(ActivityList[1])"
          :class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]"
          v-if="ActivityList.length>1"
        >
          <div v-on:mouseenter="SildeTo(1)" v-on:mouseleave="AutoPlay()">
            <p class="p_1">{{ActivityList[1].Name}}</p>
            <p class="p_2">{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
          </div>
        </a>
        <a
          @click="ToActivityList(ActivityList[2])"
          :to="{ name: 'ActivityList'}"
          :class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
          v-if="ActivityList.length>2"
        >
          <div v-on:mouseenter="SildeTo(2)" v-on:mouseleave="AutoPlay()">
            <p class="p_1">{{ActivityList[2].Name}}</p>
            <p class="p_2">{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap';
import BLDef from 'scripts/common/BLDef';
import CommonService from 'scripts/businessLogic/commonService';
import Vue from 'vue';

export default {
  data () {
    return {
      indexActivityObjList: [],
      LoadCompleted: false,
      DefaultActivityList: [],
      ActivityList: [],
      SlideFlag: undefined,
      currentSlideIndex: 0,

      // 分頁資料
      PageInfo: {
        PageNo: 1,
        PageSize: 9,
        PageCount: 0,
        TotalCount: 0
      }
    };
  },
  created: function () {
    this.SetDefaultActivityList();
  },
  methods: {
    // 設定預設優惠
    SetDefaultActivityList: function () {
      this.DefaultActivityList = [];
      // 優惠活動-首存
      //   this.DefaultActivityList.push({
      //     ID: '-1',
      //     Name: '首存返利',
      //     StartTick: new Date().getTime(),
      //     EndTick: new Date().getTime(),
      //     ActLogo:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/promotion/activity_img1.jpg?VersionCode'
      //   });
      //   // 優惠活動-續存
      //   this.DefaultActivityList.push({
      //     ID: '-2',
      //     Name: '续存返利',
      //     StartTick: new Date().getTime(),
      //     EndTick: new Date().getTime(),
      //     ActLogo:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/promotion/activity_img2.jpg?VersionCode'
      //   });

      this.GetEasyActivity();
    },
    // 取得輪播的優惠活動
    GetEasyActivity: async function () {
      // 2018.09.20 SeyoChen
      const retDataLv = await CommonService.Comm_CheckPermission();
      console.log('retDataLv');
      console.log(retDataLv);
      console.log('retDataLv');
      if (retDataLv.Status != 0) {
        const dataObj = { WGUID: '', LoginID: '', PagingInfo: this.PageInfo };
        dataObj.WGUID = Vue.prototype.$WGUID;
        dataObj.LoginID = localStorage.getItem('Acct');
        const data = await CommonService.Comm_GetBonusActivity_MemberLv(
          dataObj
        );
        if (data.Ret == 0) {
          this.indexActivityObjList = data.Data.ActivityList.slice(0, 3); // 优惠活动页面 banner 跟随等级更新 2019.04.12 SeyoChen
          console.log(JSON.stringify(this.indexActivityObjList));
          this.DealUpdatedData();
        }
      } else {
        const inputObj = {
          WGUID: Vue.prototype.$WGUID
        };
        const data = await CommonService.Comm_GetBonusActivity(inputObj);
        if (data.Ret == 0) {
          this.indexActivityObjList = data.Data.ActivityList;
          this.DealUpdatedData();
        }
      }
      // this.$parent.ActivityList = this.LoadMainPageDataModel.ActivityList;
      // 2018.09.20 SeyoChen end
    },
    // 設定輪播活動內容邏輯
    DealUpdatedData: function () {
      console.log(this.indexActivityObjList.length);
      if (this.indexActivityObjList.length === 0) {
        this.LoadCompleted = false;
        // this.ActivityList = this.DefaultActivityList;
        return;
      } else if (this.indexActivityObjList.length === 1) {
        this.LoadCompleted = true;
        this.ActivityList = this.indexActivityObjList;
        console.log('this.ActivityList1111111111111');
        console.log(this.ActivityList);
        console.log('this.ActivityList11111111111111');
        return;
      } else {
        this.LoadCompleted = true;
        this.ActivityList = this.indexActivityObjList;
      }

      setTimeout(
        function () {
          this.SildePromotionList();
        }.bind(this),
        100
      );
    },
    // 啟用活動輪播
    SildePromotionList: function () {
      this.AutoPlay();
      $('#myCarousel').on('slide.bs.carousel', this.SlideEvent);
    },
    // 指定輪播到特定index
    SildeTo: function (item) {
      $('#myCarousel').carousel(item);
      $('#myCarousel').carousel('pause');
    },
    // 輪播事件偵測
    SlideEvent: function (event) {
      this.currentSlideIndex = $(event.relatedTarget).index();
    },
    // 進行自動播放
    AutoPlay: function () {
      $('#myCarousel').carousel('cycle');
      console.log(this.ActivityList);
    },
    ToActivityList: function (data) {
      this.$router.push({
        name: 'ActivityList',
        params: { ActivityDta: data }
      });
    }
  }
};
</script>

<style scoped>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: #003c9d;
  border-radius: 10px;
}

.carousel-indicators {
  position: absolute;
  left: 15%;
  z-index: 1;
  width: 60%;
  padding-left: 0;
  margin-left: -35%;
  text-align: center;
  list-style: none;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #33ffff;
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 10px;
  }
}
</style>
