<!--熱門遊戲-->
<template>
  <div class="hot_box">
    <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/hot_game_title.png?VersionCode'"
      class="hot_title"
    />
    <p class="footer-onlinePeople">
      <span>{{OnlinePeople}}</span>
      {{$t('message.online_number')}}
    </p>
    <div class="hot_box_list">
      <div
        v-for="Item in hotGameObjList"
        :id="Item.elemID"
        class="h_list"
        :class="Item.elemClass"
        v-on:mouseenter="mouseEnter(Item.elemID)"
        v-on:mouseleave="mouseLeave(Item.elemID)"
      >
        <router-link :to="{ name: Item.linkName}">
          <img :src="Item.showImg" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {
      hotGameObjList: [
        {
          elemID: 'h_list1',
          elemClass: 'h_list1',
          linkName: 'Electronic',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list1.png?VersionCode'
        },
        {
          elemID: 'h_list2',
          elemClass: 'h_list2',
          linkName: 'LiveVideo',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list2.png?VersionCode'
        },
        {
          elemID: 'h_list3',
          elemClass: 'h_list3',
          linkName: 'Sport',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list3.png?VersionCode'
        },
        {
          elemID: 'h_list4',
          elemClass: 'h_list4',
          linkName: 'Lottery',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list4.png?VersionCode'
        }
      ],
      OnlinePeople: undefined
    };
  },
  mounted: function () {
    EventBus.$on('OnlinePeopleNum', data => {
      this.OnlinePeople = data;
    });
  },
  methods: {
    // 滑鼠移入熱門遊戲
    mouseEnter: function (thisObj) {
      $('.hot_box_list .h_list').stop();
      $('#' + thisObj)
        .siblings('.h_list')
        .animate({ 'margin-top': '20px' }, 300);
      $('#' + thisObj).animate({ 'margin-top': '0' }, 300);
    },
    // 滑鼠移出熱門遊戲
    mouseLeave: function (thisObj) {
      $('#' + thisObj).animate({ 'margin-top': '20px' }, 300);
    }
  }
};
</script>
