<!--跑馬燈-->
<!--
<template>
    <div style="float:left;">
        <div style="overflow: hidden;font-size:12px;color:#ffda8a;">
            <div id="marquee" style="width:570px" class="marquee_box marquee"></div>
        </div>
    </div>
</template>

<style>
    .marquee_box {
        float: left;
        height: 32px;
        line-height: 32px;
    }
</style>

<script>
    import 'jquery.marquee';
    import moment from 'moment';
    import BLDef from 'scripts/common/BLDef';
    import CommUtility from 'scripts/common/CommUtility';
    import EventBus from 'scripts/common/EventBus';
    import CommonService from 'scripts/businessLogic/commonService';

    export default {
        data() {
            return {
                MQTimer: undefined,
                MarqueeKey: 'webMarquee',
                MarqueeFlag: undefined,
                MarqueeStartTick: +Infinity,
            };
        },
        // props: {
        //     IsLogin: undefined
        // },
        created: async function () {
            const self = this;
            EventBus.$on('SignalR_MaintenanceFinish_Notify', (data) => {
                self.MaintenanceFinishNotify(data);
            });
            EventBus.$on('SignalR_UpdateMarquee', (data) => {
                this.MarqueeStartTick = +Infinity;
                self.UpdateMarquee(data);
            });

            // 2018.10.26 SeyoChen 修改需求--没有登录依然可以看跑马灯
            await this.GetMarqueeData();
            this.DealMarqueeData();
        },
        methods: {
            BindMarqueeEvent: function () {
                const self = this;
                self.MarqueeFlag = true;
                $('.marquee').bind('finished', function () {
                    const continueFlag = self.checkMarquee();
                    if (continueFlag === false) {
                        $(this).marquee('destroy');
                        self.MarqueeFlag = false;
                        self.DealMarqueeData();
                    } else {
                        $(this).marquee({ speed: 15, delayBeforeStart: 100 });
                    }
                }).marquee({ speed: 15, delayBeforeStart: 100 });
            },
            GetMarqueeData: async function () {
                const data = await CommonService.Comm_GetMarqueeInfo();
                if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
                    localStorage.setItem(this.MarqueeKey, JSON.stringify(data.Data.MarqueeList));
                }
            },
            // 處理跑馬燈資料
            DealMarqueeData: function () {
                const self = this;
                // 取得storage中的跑馬燈資訊
                const playFlag = self.checkMarquee();

                if (playFlag === true) {
                    this.BindMarqueeEvent();
                } else {
                    if (this.MarqueeStartTick != +Infinity ) {
                        this.MQTimer = setTimeout(this.DealMarqueeData, this.MarqueeStartTick);
                    }
                }
            },
            // 檢查跑馬燈
            checkMarquee: function () {
                const marqueeStr = localStorage.getItem(this.MarqueeKey);
                if (marqueeStr) {
                    const marqueeList = JSON.parse(marqueeStr);
                    const marqueeKeepArray = [];
                    let playString = '';

                    // 組成跑馬燈內容
                    for (let i = 0, len = marqueeList.length; i < len; i += 1) {
                        const blockString = i == marqueeList.length - 1 ? '' : '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                        const Item = marqueeList[i];
                        if ((Item.StartTick < moment().valueOf() && Item.EndTick > moment().valueOf()) || Item.IsRemoveByTime === false) {
                            marqueeKeepArray.push(Item);

                            switch (Item.Type) {
                                // 緊急公告
                                case BLDef.BroadcastMsgType.EMERGENCY:
                                    playString = playString + Item.Msg + blockString;
                                    break;
                                // 維護
                                case BLDef.BroadcastMsgType.MAINTAIN:
                                    playString = playString + Item.Msg
                                        .replace('{StartTime}', CommUtility.UtcTicksToLocalTime(Item.StartTick, 'YYYY/MM/DD HH:mm:ss'))
                                        .replace('{EndTime}', CommUtility.UtcTicksToLocalTime(Item.EndTick, 'YYYY/MM/DD HH:mm:ss')) + blockString;
                                    break;
                                default:
                                    break;
                            } // end switch
                        } else if (Item.StartTick > moment().valueOf()) {
                            marqueeKeepArray.push(Item);

                            // 判斷最近要觸發的跑馬燈倒數時間
                            if ( this.MarqueeStartTick > (Item.StartTick - moment().valueOf())) {
                                this.MarqueeStartTick = Item.StartTick - moment().valueOf() + 1000;
                            } // end if
                        }
                    }

                    localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));
                    // 將文字丟到跑馬燈上
                    $('#marquee').text(playString);

                    // 更新storage跑馬燈資訊
                    if (playString) {
                        return true;
                    }

                    // 沒有跑馬燈就移除localStorage
                    if (marqueeKeepArray.length == 0) {
                        this.MarqueeStartTick = +Infinity;
                        localStorage.removeItem(this.MarqueeKey);
                    }// end if
                }

                return false;
            },
            // signalr通知新的跑馬燈部分
            UpdateMarquee: async function () {
                await this.GetMarqueeData();
                if (this.MarqueeFlag !== true) {
                    clearTimeout(this.MQTimer);
                    this.DealMarqueeData();
                }
            },
            // signalr結束維護通知
            MaintenanceFinishNotify: function (data) {
                if (data.Data.MarqueeMessage.ID && data.Data.MarqueeMessage.Type == BLDef.BroadcastMsgType.MAINTAIN) {
                    const playArray = [];
                    let marqueeList = [];
                    const marqueeStr = localStorage.getItem(this.MarqueeKey);
                    if (marqueeStr) {
                        marqueeList = JSON.parse(marqueeStr);
                    }

                    // 更新跑馬燈列表
                    for (let i = 0; i < marqueeList.length; i++) {
                        if (!marqueeList[i].ID || marqueeList[i].ID != data.Data.MarqueeMessage.ID) {
                            playArray.push(marqueeList[i]);
                        }
                    }

                    localStorage.setItem(this.MarqueeKey, JSON.stringify(playArray));
                }
            }
        },
        watch: {
            // IsLogin: async function () {
            //     if (this.IsLogin === true) {
            //         await this.GetMarqueeData();
            //         this.DealMarqueeData();
            //     }
            // }
        },
        beforeDestroy() {
            EventBus.$off('SignalR_MaintenanceFinish_Notify');
            EventBus.$off('SignalR_UpdateMarquee');
        }
    };
</script>
-->

<template>
  <div class="marquee-content">
    <div style="overflow: hidden;font-size:12px;color:#ffda8a;">
      <!-- <div id="marquee" style="width:570px" class="marquee_box marquee"></div> -->
      <img
        class="margueeIcon"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/indexNew/marquee.png'"
      />
      <div class="slideTxtBox">
        <div class="bd" style="display: inline-block;">
          <ul>
            <li v-for="item in marqueeShowList">
              <a>{{item.Msg}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.slideTxtBox {
  float: left;
  width: 577px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
}
.slideTxtBox ul {
  width: 600px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.slideTxtBox li {
  float: none !important;
}
</style>

<script>
// import 'jquery.marquee';
// import swiper from 'swiper';
// import 'swiper/dist/css/swiper.min.css';
import '@/assets/scripts/customJs/web/jquery.SuperSlide.2.1.3';
import moment from 'moment';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';

export default {
  data () {
    return {
      MQTimer: undefined,
      MarqueeKey: 'webMarquee',
      MarqueeFlag: undefined,
      MarqueeStartTick: +Infinity,
      marqueeShowList: []
    };
  },
  // props: {
  //     IsLogin: undefined
  // },
  created: async function () {
    const self = this;
    EventBus.$on('SignalR_MaintenanceFinish_Notify', data => {
      self.MaintenanceFinishNotify(data);
    });
    EventBus.$on('SignalR_UpdateMarquee', data => {
      this.MarqueeStartTick = +Infinity;
      self.UpdateMarquee(data);
    });

    // 2018.10.26 SeyoChen 修改需求--没有登录依然可以看跑马灯
    await this.GetMarqueeData();
  },
  mounted: function () {},
  methods: {
    BindMarqueeEvent: function () {
      const self = this;
      self.MarqueeFlag = true;
      const continueFlag = self.checkMarquee();
      if (continueFlag === false) {
        self.MarqueeFlag = false;
        self.DealMarqueeData();
      } else {
        this.$nextTick(function () {
          $('.slideTxtBox').slide({
            mainCell: '.bd ul',
            effect: 'topLoop',
            autoPlay: true,
            interTime: 5000
          });
        });
      }
    },
    GetMarqueeData: async function () {
      $('.slideTxtBox .db ul').html('');
      const data = await CommonService.Comm_GetMarqueeInfo();
      console.log('?????????????????????????????????');
      console.log(data);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        localStorage.setItem(
          this.MarqueeKey,
          JSON.stringify(data.Data.MarqueeList)
        );
        this.DealMarqueeData();
      } else {
      }
    },
    // 處理跑馬燈資料
    DealMarqueeData: function () {
      const self = this;
      // 取得storage中的跑馬燈資訊
      const playFlag = self.checkMarquee();

      if (playFlag === true) {
        this.BindMarqueeEvent();
      } else {
        if (this.MarqueeStartTick != +Infinity) {
          this.MQTimer = setTimeout(
            this.DealMarqueeData,
            this.MarqueeStartTick
          );
        }
      }
    },
    // 檢查跑馬燈
    checkMarquee: function () {
      const marqueeStr = localStorage.getItem(this.MarqueeKey);
      this.marqueeShowList = [];
      $('.slideTxtBox .db ul').html('');

      if (marqueeStr) {
        const marqueeList = JSON.parse(marqueeStr);
        const marqueeKeepArray = [];

        // 組成跑馬燈內容
        for (let i = 0, len = marqueeList.length; i < len; i += 1) {
          const Item = marqueeList[i];
          if (
            (Item.StartTick < moment().valueOf() &&
              Item.EndTick > moment().valueOf()) ||
            Item.IsRemoveByTime === false
          ) {
            switch (Item.Type) {
              // 緊急公告
              case BLDef.BroadcastMsgType.EMERGENCY:
                Item.Msg = Item.Msg;
                break;
              // 維護
              case BLDef.BroadcastMsgType.MAINTAIN:
                Item.Msg = Item.Msg.replace(
                  '{StartTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.StartTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                ).replace(
                  '{EndTime}',
                  CommUtility.UtcTicksToLocalTime(
                    Item.EndTick,
                    'YYYY/MM/DD HH:mm:ss'
                  )
                );
                break;
              default:
                break;
            } // end switch
            if (Item.Msg.length > 33) {
              const obj1 = {
                EndTick: Item.EndTick,
                ID: Item.ID,
                IsRemoveByTime: Item.IsRemoveByTime,
                Msg: Item.Msg.slice(0, 33),
                Priority: Item.Priority,
                StartTick: Item.StartTick,
                Type: Item.Type,
                UpdateTick: Item.UpdateTick
              };
              const obj2 = {
                EndTick: Item.EndTick,
                ID: Item.ID + '_Excess part',
                IsRemoveByTime: Item.IsRemoveByTime,
                Msg: Item.Msg.slice(33),
                Priority: Item.Priority,
                StartTick: Item.StartTick,
                Type: Item.Type,
                UpdateTick: Item.UpdateTick
              };
              marqueeKeepArray.push(obj1);
              marqueeKeepArray.push(obj2);
            } else {
              marqueeKeepArray.push(Item);
            }
          } else if (Item.StartTick > moment().valueOf()) {
            if (Item.Msg.length > 33) {
              const obj1 = {
                EndTick: Item.EndTick,
                ID: Item.ID,
                IsRemoveByTime: Item.IsRemoveByTime,
                Msg: Item.Msg.slice(0, 33),
                Priority: Item.Priority,
                StartTick: Item.StartTick,
                Type: Item.Type,
                UpdateTick: Item.UpdateTick
              };
              const obj2 = {
                EndTick: Item.EndTick,
                ID: Item.ID + '_Excess part',
                IsRemoveByTime: Item.IsRemoveByTime,
                Msg: Item.Msg.slice(33),
                Priority: Item.Priority,
                StartTick: Item.StartTick,
                Type: Item.Type,
                UpdateTick: Item.UpdateTick
              };
              marqueeKeepArray.push(obj1);
              marqueeKeepArray.push(obj2);
            } else {
              marqueeKeepArray.push(Item);
            }

            // 判斷最近要觸發的跑馬燈倒數時間
            if (this.MarqueeStartTick > Item.StartTick - moment().valueOf()) {
              this.MarqueeStartTick =
                Item.StartTick - moment().valueOf() + 1000;
            } // end if
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(marqueeKeepArray));

        // 设置定时器到点进行加入相关的跑马灯 20190828 SeyoChen
        const nowTime = Date.parse(new Date());
        // let setTime = 0;
        console.log(nowTime);
        for (let i = 0; i < marqueeKeepArray.length; i++) {
          if (marqueeKeepArray[i].StartTick - nowTime > 0) {
            setTimeout(() => {
              this.checkMarquee();
            }, marqueeKeepArray[i].StartTick - nowTime);
          } else {
            this.marqueeShowList.push(marqueeKeepArray[i]);
          }
        }
        // console.log('||||||||||||||||||||||||||||||||||||||||||||||||22222yes');
        // console.log(setTime);

        // setTimeout(() => {
        //   this.DealMarqueeData();
        // }, setTime - nowTime);

        // 设置定时器到点进行加入相关的跑马灯 20190828 SeyoChen end

        // 將文字丟到跑馬燈上
        // this.marqueeShowList = marqueeKeepArray;

        // 更新storage跑馬燈資訊
        if (marqueeKeepArray.length > 0) {
          return true;
        }

        // 沒有跑馬燈就移除localStorage
        if (marqueeKeepArray.length == 0) {
          this.MarqueeStartTick = +Infinity;
          localStorage.removeItem(this.MarqueeKey);
        } // end if
      }

      return false;
    },
    // signalr通知新的跑馬燈部分
    UpdateMarquee: async function () {
      await this.GetMarqueeData();
      if (this.MarqueeFlag !== true) {
        clearTimeout(this.MQTimer);
        this.DealMarqueeData();
      }
    },
    // signalr結束維護通知
    MaintenanceFinishNotify: function (data) {
      if (
        data.Data.MarqueeMessage.ID &&
        data.Data.MarqueeMessage.Type == BLDef.BroadcastMsgType.MAINTAIN
      ) {
        const playArray = [];
        let marqueeList = [];
        const marqueeStr = localStorage.getItem(this.MarqueeKey);
        if (marqueeStr) {
          marqueeList = JSON.parse(marqueeStr);
        }

        // 更新跑馬燈列表
        for (let i = 0; i < marqueeList.length; i++) {
          if (
            !marqueeList[i].ID ||
            marqueeList[i].ID != data.Data.MarqueeMessage.ID
          ) {
            playArray.push(marqueeList[i]);
          }
        }

        localStorage.setItem(this.MarqueeKey, JSON.stringify(playArray));
      }
    }
  },
  watch: {
    // IsLogin: async function () {
    //     if (this.IsLogin === true) {
    //         await this.GetMarqueeData();
    //         this.DealMarqueeData();
    //     }
    // }
  },
  beforeDestroy () {
    EventBus.$off('SignalR_MaintenanceFinish_Notify');
    EventBus.$off('SignalR_UpdateMarquee');
  }
};
</script>
