<template>
  <!--忘記密碼彈窗-->
  <!--弹窗选择支付方式 2018.09.21-->
  <div
    id="phoneBetingForm"
    class="pub_alert_box tel_alert_box re_h details_alert_box"
    style="display:none"
  >
    <div class="phoneBeting-content">
      <span class="phoneBeting-cont-close" @click="CloseWindow()">
        <img
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img55.png?VersionCode'"
        />
      </span>
      <h2 class="phoneBeting-cont-title">
        <img
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img47.png?VersionCode'"
        />
      </h2>
      <p class="phoneBeting-cont-text">
        <img
          class="text-img"
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img48.png?VersionCode'"
        />
        <img
          class="text-img"
          style="margin-left: 20px;"
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img49.png?VersionCode'"
        />
      </p>
      <p class="phoneBeting-cont-text">
        <img
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img50.png?VersionCode'"
        />
      </p>
      <div class="phoneBeting-cont-code">
        <div class="code1-img">
          <span class="sp1">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img51.png?VersionCode'"
            />
          </span>

          <span class="sp1" style="margin-left: 12px;">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img51.png?VersionCode'"
            />
          </span>
        </div>
        <div class="code2-img">
          <p class="code2-img-text">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img52.png?VersionCode'"
            />
            APP STORE
          </p>
          <p class="code2-img-text">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img53.png?VersionCode'"
            />
            Google Play
          </p>
        </div>
      </div>
      <p class="phoneBeting-cont-foot">（{{$t('message.assist_making')}}）</p>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data () {
    return {};
  },
  mounted () {
    EventBus.$on('OpenPhoneBetingWindow', () => {
      this.OpenWindow();
    });
  },
  methods: {
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('phoneBetingForm');
    },

    //
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('phoneBetingForm');
    }
    // 2018.11.30 判断 在线付款/公司入款 是否开启
  }
};
</script>
