<!--廣告輪播-->
<template>
  <div class="banner" style="height:auto;margin-top:84px;">
    <span class="flash_cover"></span>
    <video
      autoplay="autoplay"
      muted
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+$MessageLang+'/index_banner.mp4?VersionCode'"
      width="1920"
      loop="loop"
    ></video>
  </div>
</template>

<script>
import Videodapt from 'scripts/customJs/web/videoAdaptation';

export default {
  mounted: function () {
    Videodapt.FlashAdaptation('#index-flash');
    Videodapt.FlashInit('#index-flash');
  }
};
</script>
