<template>
  <div id="RecordDetailNormalForm" class>
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="25%">{{$t('message.agency_consumer')}}</td>
            <td width="25%">{{$t('message.agency_time_interval')}}</td>
            <td width="25%">{{$t('message.agency_teams_number')}}</td>
            <td width="25%">{{$t('message.agency_amount_occupied')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(zList,index) in ZchengIBRakeCostList" :key="index">
            <td>
              <span>
                <!-- @click="ZchengLoginName(zList)"-->
                <span class="prefix-text">{{zList.Prefix}}</span>
                {{zList.LoginID}}
              </span>
            </td>
            <td>{{zList.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{zList.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
            <td>{{zList.TeamCount}}</td>
            <td>{{zList.VRakeCostSum}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="25%">{{$t('message.agency_subtotal')}}：</td>
            <td width="50%"></td>
            <!-- <td width="25%">{{ZTeamCountSubTotal}}</td> -->
            <td width="25%">{{ZVRakeCostSubTotal}}</td>
          </tr>
          <tr>
            <td width="25%">{{$t('message.member_totalize')}}：</td>
            <td width="50%"></td>
            <!-- <td width="25%">{{ZTeamCountTotal}}</td> -->
            <td width="25%">{{ZVRakeCostTotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="maxtip" v-if="IsShowTip">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
// import CommUtility from 'scripts/common/CommUtility';
// import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
// import EventBus from 'scripts/common/EventBus';

export default {
  data () {
    return {
      textSucc: undefined,
      IsShowTip: false
    };
  },
  props: {
    HistoricalPath: {
      default: function () {
        return [];
      }
    },
    ZchengIBRakeCostList: {
      type: Array,
      default: function () {
        return [];
      }
    },
    RechargePageInfo: {
      type: Object,
      default: function () {
        return {};
      }
    },
    DisplayRechargeObj: {
      type: Object,
      default: function () {
        return {};
      }
    },
    ZVRevenueRateTotal: undefined, // 红利承担总计（显示用）
    ZTeamCountTotal: undefined, // 团队数量总计
    ZVRakeCostTotal: undefined, // 总占成收入金额总计（显示用）
    ZTeamCountSubTotal: undefined, // 团队人数 小计
    ZVRakeCostSubTotal: undefined // 总占成收入金额 小计 （显示用）
  },
  methods: {
    dateFormat: function (time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    }
    // ZchengLoginName: async function (item, index) {
    //   let ID;
    //   if (index !== undefined) {
    //     console.log('11');
    //     if (index + 1 !== this.HistoricalPath.length) {
    //       this.HistoricalPath.splice(
    //         index + 1,
    //         this.HistoricalPath.length - (index + 1)
    //       );
    //       ID = item.MemberID;
    //     }
    //     if (index == this.HistoricalPath.length - 1) {
    //       console.log('wwwwwwwww222');
    //       ID = item.MemberID;
    //       this.RechargePageInfo.PageNo = 1;
    //       EventBus.$emit('Paginate_ResetPageNo');
    //     }
    //     if (index === 0) {
    //       ID = item.MemberID;
    //       // this.$parent.AgencyBetting();
    //       // return;
    //     }
    //   } else {
    //     console.log('22');
    //     ID = item.MemberID;
    //   }
    //   const inputObj = {
    //     IBMemberID: ID, // 代理ID 必填
    //     StartTick: CommUtility.LocalTimeToUtcTicks(
    //       this.DisplayRechargeObj.StartTick,
    //       false,
    //       true
    //     ), // 开始时间戳 必填
    //     EndTick: CommUtility.LocalTimeToUtcTicks(
    //       this.DisplayRechargeObj.EndTick,
    //       false,
    //       true
    //     ), // 结束时间戳 必填
    //     LoginID: this.DisplayRechargeObj.AgencyUser, // 查询条件（用户名）
    //     PagingInfo: {
    //       // 分页 必填
    //       PageSize: this.RechargePageInfo.PageSize,
    //       PageNo: this.RechargePageInfo.PageNo
    //     }
    //   };
    //   const data = await AgencyCenterService.LoadRakeCostList(inputObj);
    //   if (data.Ret === 0) {
    //     EventBus.$emit('Zcheng_StatusDatas', data.Data);
    //     if (index === undefined) {
    //       this.HistoricalPath.push(item);
    //     }
    //   } else {
    //     this.IsShowTip = true;
    //     this.textSucc = data.Message;
    //     setTimeout(() => {
    //       this.IsShowTip = false;
    //     }, 1000);
    //   }
    //   console.log(inputObj);
    //   console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
    //   console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
    //   console.log(data);
    // }
  },
  watch: {}
};
</script>
