<template>
  <div class="purple_cont">
    <ul class="psl_guide">
      <li data-num="0" class="hasblock" id="changeTitle">
        <a href="javascript:void(0);">{{ TitleFonts }}</a>
        <i></i>
      </li>
    </ul>
    <!--当前选择的优惠-->
    <div class="current_discount" style="margin-top:10px;">
      <p class="p_1" v-if="HasActivity===false">
        {{$t('message.member_preferential_mode')}}
        <a
          v-if="$MessageLang == 'vi' && ActivityName == $t('message.member_bonus_activities')"
          class="discount_show alert_click1"
          @click="ShowActivityDetail();"
          href="javascript:void(0);"
        >{{$t('message.member_participating_activities')}}</a>
        <a
          v-else
          class="discount_show alert_click1"
          @click="ShowActivityDetail();"
          href="javascript:void(0);"
        >{{ActivityName}}</a>
      </p>
      <a
        class="blue_sm re_select"
        href="javascript:void(0);"
        @click="ReselectActivity();"
      >{{$t('message.member_return_reelection')}}</a>
    </div>
    <member-deposit-activity-detail></member-deposit-activity-detail>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
// import PersonalCenterService from '@/mod/k14/assets/scripts/businessLogic/personalCenterService.js';
import MemberDepositActivityDetail from "@/mod/k14/components/sub/memberNew/deposit/memberDepositActivityDetail.vue"
import MemberDepositAmountLimit from "@/mod/k14/components/sub/memberNew/deposit/memberDepositAmountLimit.vue"

export default {
  props: {
    BonusWayType: undefined,
    ActivityType: undefined,
    ActivityName: undefined,
    ActivityDetail: {
      type: Object,
      default: function () {
        return {}
      }
    },
    HasActivity: undefined
  },
  data() {
    return {
      CommUtility: CommUtility,
      TitleFonts: this.$t("message.activity_online_payment"), // 选项卡标题
      AlertActivityDetail: {}
    }
  },
  created: async function () {
    // 2018.09.27 SeyoChen
    const self = this
    setTimeout(function () {
      if (self.$route.params.ChargeType == 2) {
        self.TitleFonts = self.$t("message.activity_company_income")
      } else {
        self.TitleFonts = self.$t("message.activity_online_payment")
      }
    }, 500)
    // 2018.09.27 SeyoChen end

    // 进入不同存款方式显示不同的选项卡标题
    EventBus.$on("ShowTitleFonts", (fonts) => {
      self.TitleFonts = fonts
      // console.log(self.TitleFonts);
    })

    EventBus.$on("backReselectActivity", () => {
      self.ReselectActivity()
    })
  },
  methods: {
    // 显示活动详情
    ShowActivityDetail: function () {
      // 2018.09.26 SeyoChen
      // if (this.$route.params.ActivityData != undefined) {
      //     this.BonusWayType = this.$route.params.ChargeType;
      // }
      // 2018.09.26 SeyoChen end
      EventBus.$emit("showActivityDetail", this.BonusWayType, this.ActivityDetail, this.ActivityType) // 将父级deposit传过来的活动详情传给子级 memberDepositActivityDetail
      // EventBus.$emit('showActivityDetail');
    },
    // 返回重选
    ReselectActivity: function () {
      this.$parent.CurSelectedActivity.BonusSerialNo = undefined
      this.$parent.IsShow = false
      this.$parent.LoadMainPage()

      // EventBus.$emit('resetSelectedDepositActivity');
    }
  },
  watch: {
    // 监听父级存款类型改变来改变选项卡标题 2019.06.18 ququ
    BonusWayType() {
      console.log("------------------BonusWayType")
      if (this.BonusWayType == 2) {
        this.TitleFonts = this.$t("message.activity_company_income")
      } else {
        this.TitleFonts = this.$t("message.activity_online_payment")
      }
    }
  },
  components: {
    MemberDepositActivityDetail,
    MemberDepositAmountLimit
  },
  beforeDestroy() {
    EventBus.$off("ShowTitleFonts")
  }
}
</script>
