<template>
  <div :class="'fill_transfer fill_transfer_' + $MessageLang">
    <div id="CompanyDepositAddForm" name="CompanyDepositAddForm">
      <div class="table_guide">
        <p>{{$t('message.member_transfer_information')}}</p>
      </div>
      <div
        class="purple_cont fill_income_cont member_new_tip"
        :class="'scroll_income_' + this.type"
        id="scroll_income"
        style="height: 320px;"
      >
        <div class="income_box">
          <div :class="'serial_num serial_num_' + $MessageLang" style="padding-top: 5px;">
            <ul class="input_field deposit_input li_top">
              <li>
                <div class="input_lf">{{$t('message.member_amount')}}：</div>
                <div class="input_rt input_rt_input">
                  <input
                    type="text"
                    name="DepositAmt"
                    @focus="TipShow(1)"
                    @blur="TipHide(1)"
                    v-model="PostDepositData.DepositAmt"
                    v-validate="{ rules: { regex:Reg.MoneyAmount, between:[CurrentPageData.MinLimitAmt, CurrentPageData.MaxLimitAmt], required: true }}"
                    :placeholder="$t('message.member_lowest_amount') + CurrentPageData.VMinLimitAmt + ','+$t('message.member_highest') + CurrentPageData.VMaxLimitAmt"
                  />
                  <i class="tip-box" v-show="errors.has('DepositAmt') && fields.DepositAmt.touched"></i>
                  <i
                    class="tip-error"
                    v-show="errors.has('DepositAmt') && fields.DepositAmt.touched"
                  ></i>
                  <i
                    class="tip1"
                    v-show="errors.has('DepositAmt') && this.TipsShow.DepositAmt == true"
                    style="display: block;"
                  >{{$t('message.member_digital_domain')}}{{CurrentPageData.VMinLimitAmt}}-{{CurrentPageData.VMaxLimitAmt}}</i>
                </div>
              </li>
              <li class="li_down">
                <div class="input_lf">{{$t('message.member_deposit_time')}}：</div>
                <div class="input_rt clearfix">
                  <datepicker
                    class="depositTime"
                    :language="$MessageLang"
                    v-model="PostDepositData.DepositDate"
                    format="yyyy/MM/dd"
                    input-class="depositDateInput"
                    :disabled="this.CalendarDisabled"
                  ></datepicker>
                  <span class="time_font">{{$t('message.member_time')}}</span>
                  <div class="down deposit-drop">
                    <div class="d_course" @click="ShowDropDown('hourBox')">
                      {{PostDepositData.Hours}}
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
                      />
                    </div>

                    <div class="down_box hourBox">
                      <a
                        class="down_list"
                        v-for="(Item, index) in 24"
                        :key="index"
                        @click="PostDepositData.Hours=index"
                      >{{index}}</a>
                    </div>
                  </div>
                  <span class="time_font">{{$t('message.member_branch')}}</span>
                  <div class="down deposit-drop">
                    <div class="d_course" @click="ShowDropDown('minuteBox')">
                      {{PostDepositData.Minutes}}
                      <img
                        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
                      />
                    </div>

                    <div class="down_box minuteBox">
                      <a
                        class="down_list"
                        v-for="(Item, index) in 60"
                        :key="index"
                        @click="PostDepositData.Minutes=index"
                      >{{index}}</a>
                    </div>
                  </div>
                  <i
                    class="tip1"
                    v-show="this.Submitted === true && this.PostDepositData.DepositDate === undefined"
                    style="display: block;"
                  >{{$t('message.member_storage_time')}}</i>
                </div>
              </li>
              <li>
                <div class="input_lf">{{$t('message.member_name_depositor')}}：</div>
                <div class="input_rt input_rt_input">
                  <input
                    type="text"
                    name="DepositorName"
                    @focus="TipShow(2)"
                    @blur="TipHide(2)"
                    v-model.trim="PostDepositData.DepositorName"
                    v-validate="{ rules: { regex:Reg.NickName, required: true }}"
                  />
                  <i
                    class="tip-box"
                    v-show="errors.has('DepositorName') && fields.DepositorName.touched"
                  ></i>
                  <i
                    class="tip-error"
                    v-show="errors.has('DepositorName') && fields.DepositorName.touched"
                  ></i>
                  <i
                    class="tip1"
                    v-show="errors.has('DepositorName') && this.TipsShow.DepositorName == true"
                    style="display: block;"
                  >{{$t('message.agent_blank_space')}}</i>
                </div>
              </li>
              <li>
                <div class="input_lf">{{$t('message.agent_remarks')}}：</div>
                <div class="input_rt input_rt_input">
                  <input
                    type="text"
                    name="Remark"
                    @focus="TipShow(3)"
                    @blur="TipHide(3)"
                    v-model="PostDepositData.Remark"
                    v-validate="{ rules: { regex:Reg.Remark}}"
                  />
                  <i class="tip-box" v-show="errors.has('Remark') && fields.Remark.touched"></i>
                  <i class="tip-error" v-show="errors.has('Remark') && fields.Remark.touched"></i>
                  <i
                    class="tip1"
                    v-show="errors.has('Remark') && this.TipsShow.Remark == true"
                    style="display: block;"
                  >{{$t('message.agent_common_symbols')}}</i>
                </div>
              </li>
              <li class="li_pay_set" v-show="this.type === 0">
                <div class="input_lf">{{$t('message.member_deposit_method')}}：</div>
                <div class="input_rt">
                  <div class="pay_set set1" style="width:400px">
                    <span
                      v-for="(item, index) in CurrentPageData.DepositTypeList"
                      :key="index"
                      :class="PostDepositData.RemittanceDepositType==item.SettingCode?'hasblock':''"
                      @click="SelectRemittanceType(item)"
                    >{{item.SettingName}}</span>
                  </div>
                  <i
                    class="tip1"
                    v-show="this.Submitted === true && this.PostDepositData.RemittanceDepositType === undefined"
                    style="display: block;"
                  >{{$t('message.agent_unable_empty')}}</i>
                </div>
              </li>

              <li
                class="li_atm four_down"
                style="display: list-item;"
                v-if="PostDepositData.RemittanceDepositType==1||PostDepositData.RemittanceDepositType==2||PostDepositData.RemittanceDepositType==3"
              >
                <div
                  v-show="PostDepositData.RemittanceDepositType==1||PostDepositData.RemittanceDepositType==2"
                  class="input_lf"
                >{{$t('message.member_branches_ATM')}}：</div>
                <div
                  v-show="PostDepositData.RemittanceDepositType==3"
                  class="input_lf"
                >{{$t('message.member_counter_branch')}}：</div>
                <div class="input_rt input_rt_input">
                  <div style="position: relative;">
                    <input
                      type="text"
                      name="BankBranchName"
                      @focus="TipShow(4)"
                      @blur="TipHide(4)"
                      v-model.trim="PostDepositData.BankBranchName"
                      v-validate="{ rules: { regex:Reg.BankBranchName, required: true }}"
                    />
                    <i
                      class="tip-box"
                      v-show="errors.has('BankBranchName') && fields.BankBranchName.touched"
                    ></i>
                    <i
                      class="tip-error"
                      v-show="errors.has('BankBranchName') && fields.BankBranchName.touched"
                    ></i>
                    <i
                      class="tip1"
                      v-show="errors.has('BankBranchName') && this.TipsShow.BankBranchName == true"
                      style="display: block;"
                    >{{$t('message.agent_blank_space')}}</i>
                  </div>
                </div>
              </li>
            </ul>
            <div class="pub_btn_both style3" style="padding-left: 15px;">
              <a
                class="btn1 btn_apply hasblock"
                href="javascript:void(0);"
                @click="CheckFormData();"
                style="margin-left: 120px;"
              >{{$t('message.member_ascertain')}}</a>
              <a
                class="btn2 pre_select"
                href="javascript:void(0);"
                @click="ResetDeposit();"
              >{{$t('message.member_cancel')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import moment from "moment"
import EventBus from "@/assets/scripts/common/EventBus.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import Datepicker from "@/components/main/common/datePicker.vue"
// import Datepicker from 'vuejs-datepicker';
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import BLDef from "@/assets/scripts/common/BLDef.js"
import CommonService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"

export default {
  props: {
    type: 0, // 存款方式 0：银行入款 1：扫码支付
    QRCodeList: undefined, // 选中的二维码资料
    CurrentPageData: {},
    CurSelectedActivity: {
      BonusSerialNo: undefined, // 红利对应的资料序号
      ActivityType: undefined, // 红利活动方式 ==》 -1：未定义; 1：存款(红利设定); 2：红利活动
      ActType: undefined // 红利方式细项分类 ==》 1: 首存 2: 续存
    }
  },
  data() {
    return {
      Reg: Regex.Regex,
      InitialFormData: undefined,
      PostDepositData: {
        DepositAmt: "", // 金额
        DepositorName: "", // 汇款人姓名 (存款人姓名)
        RemittanceDepositType: undefined, // 存款方式 (对应共用的CODE表)
        BankProvince: undefined, // 银行支行省
        BankCity: undefined, // 银行支行市、
        BankDistrict: undefined, // 银行支行区
        BankBranchName: "", // 银行支行名称
        BonusWay: this.CurSelectedActivity.ActivityType, // 红利方式
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo, // 红利对应的资料序号
        DepositDate: undefined,
        Hours: 0,
        Minutes: 0,
        BankProvinceModel: {},
        BankCityModel: {},
        BankDistrictModel: {},
        Remark: ""
      },
      DepositObj: {
        ActivityTypeNum: undefined,
        ActivityBonusSerialNo: undefined
      },

      CalendarDisabled: {
        from: new Date(moment().add(1, "days").format("YYYY/MM/DD")) // Disable all dates after specific date
      },
      Submitted: false,
      ProcessingFlag: false,
      DropDownInvalid: false,
      DefaultTownList: [],
      DefaultDistList: [],

      TipsShow: {
        DepositAmt: false,
        DepositorName: false,
        Remark: false,
        BankBranchName: false
      }
    }
  },
  created: function () {
    const self = this

    // 2018.09.26 SeyoChen
    // if (this.$route.params.ActivityData != undefined) {
    //     self.PostDepositData.BonusSerialNo = this.$route.params.ActivityData.ID;
    //     self.PostDepositData.BonusWay = 2;
    // }
    // 2018.09.26 SeyoChen end

    // 清空表单
    EventBus.$on("resetDepositForm", () => {
      self.ResetDeposit()
    })
    this.BindingEvent()
    this.InitialFormData = Vue.util.extend({}, this.PostDepositData)

    // 关闭弹窗时重置输入框
    EventBus.$on("RetSet", () => {
      self.ResetTip()
    })
    // EventBus.$on('ActivityDatas', data => {
    //   console.log('ActivityDatas');
    //   console.log(data);
    //   // self.ActivityTypeNum = data.ActivityType;
    //   // self.ActivityBonusSerialNo = data.BonusSerialNo;
    //   console.log(self.ActivityTypeNum);
    //   console.log(self.ActivityBonusSerialNo);

    //   self.DepositObj = {
    //     BonusWay: data.ActivityType,
    //     BonusSerialNo: data.BonusSerialNo
    //     // MemberID: localStorage.getItem('CorrelationIBMemberId')
    //   };
    // });
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("CompanyDepositAddForm", this.CheckFormData)
  },
  computed: {
    depositChannel() {
      return this.$store.state.depositChannel
    }
  },
  methods: {
    Scrollbar: function () {
      $(".scroll_income_" + this.type).perfectScrollbar()
    },
    TipShow: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.DepositAmt = true
          break
        case 2:
          this.TipsShow.DepositorName = true
          break
        case 3:
          this.TipsShow.Remark = true
          break
        case 4:
          this.TipsShow.BankBranchName = true
          break
        default:
          break
      }
    },
    TipHide: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.DepositAmt = false
          break
        case 2:
          this.TipsShow.DepositorName = false
          break
        case 3:
          this.TipsShow.Remark = false
          break
        case 4:
          this.TipsShow.BankBranchName = false
          break
        default:
          break
      }
    },

    BindingEvent: function () {
      document.addEventListener("click", this.HideDropDown)
    },
    // 顯示紀錄類型選單
    ShowDropDown: function (targetClass) {
      $(".down_box").slideUp(100)
      if (this.DropDowning !== targetClass) {
        $("." + targetClass).slideDown(300)
        this.DropDowning = targetClass
      } else {
        $("." + targetClass).slideUp(100)
        this.DropDowning = ""
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_box").slideUp(100)
        this.DropDowning = ""
      }
    },
    // 切換轉帳存款方式
    SelectRemittanceType: function (item) {
      if (this.PostDepositData.RemittanceDepositType == item.SettingCode) {
        return
      }
      this.PostDepositData.RemittanceDepositType = item.SettingCode
      // ATM/銀行臨櫃 重置省市區選單
      if (item.SettingCode == 1 || item.SettingCode == 2 || item.SettingCode == 3) {
        this.DropDownInvalid = false
      }
      this.PostDepositData.BankBranchName = undefined
    },
    // 點擊取消
    ResetDeposit: function () {
      if (this.type == 0) {
        CommUtility.WebClosealertboxForm("depositIcome-content")
      } else {
        CommUtility.WebClosealertboxForm("QRcodeForm")
      }

      this.Submitted = false
      //   this.PostDepositData = Vue.util.extend({}, this.InitialFormData);
      this.PostDepositData.DepositAmt = ""
      this.PostDepositData.DepositorName = ""
      this.PostDepositData.RemittanceDepositType = undefined
      this.PostDepositData.BankProvince = undefined
      this.PostDepositData.BankCity = undefined
      this.PostDepositData.BankDistrict = undefined
      this.PostDepositData.BankBranchName = ""
      this.PostDepositData.Remark = ""
      this.$validator.reset()
      //   this.$parent.$parent.CurSelectedActivity.BonusSerialNo = undefined; // 作用是返回上一层
      //   this.$parent.$parent.IsShow = false; // 作用是返回上一层
    },
    // 清空提示语 2019.02.18 SeyoChen
    ResetTip: function () {
      this.Submitted = false
      this.PostDepositData = Vue.util.extend({}, this.InitialFormData)
      this.$validator.reset()
    },
    // 校验存款次数
    async validateDepositNumber() {
      let params = { DepositOpertionType: 1 }
      const retData = await PersonalCenterService.DepositNumber(params)
      if (retData.Ret) {
        // 校验未通过弹出提示信息
        CommUtility.WebShowAlertboxForm("depositNumber")
        return false
      }
      return true
    },
    // 清空提示语 2019.02.18 SeyoChen end
    // 檢查發送資料
    CheckFormData: async function () {
      let validateDepositNumber = await this.validateDepositNumber()
      if (!validateDepositNumber) return
      let ActivityItem = JSON.parse(localStorage.getItem("ActivityDatas"))
      const DepositObj = {
        BonusWay: ActivityItem.ActivityType,
        BonusSerialNo: ActivityItem.BonusSerialNo
        // MemberID: localStorage.getItem('CorrelationIBMemberId')
      }
      const data = await PersonalCenterService.DepositActivityRelationQuery(DepositObj)
      console.log("1111111111111111111")
      console.log(data)
      console.log(DepositObj)
      console.log("1111111111111111111")
      if (data.Ret == 0) {
        if (data.Data.IsLimit) {
          CommUtility.WebClosealertboxForm("depositIcome-content")
          // EventBus.$emit('activityRelationQuery');
          CommUtility.WebShowAlertboxForm("depositToplimitForm")
        } else {
          // 2018.10.11 SeyoChen
          if (this.CurrentPageData.ActivityDetail.Status.Value != "702") {
            const notifyData = {
              NotifyMessage: this.$t("message.member_expired")
            }
            EventBus.$emit("showNotifyMemberMessage", notifyData)
            return
          }
          // 2018.10.11 SeyoChen end
          this.Submitted = true
          // this.DropDownInvalid = this.CheckDropDownInvalid();
          Object.keys(this.fields).forEach((key) => {
            this.fields[key].touched = true
          })

          const result = await this.$validator.validateAll()

          if (
            result === false ||
            this.PostDepositData.DepositDate === undefined ||
            this.PostDepositData.RemittanceDepositType === undefined
          ) {
            return
          }
          // 检查最低入金是否符合要求 2019.03.28
          if (this.PostDepositData.DepositAmt < this.CurrentPageData.ActivityDetail.MinDepositAmt) {
            EventBus.$emit("showDepositAmtLimitTip", this.SubmitDepositData)
            return
          }
          // 检查最低入金是否符合要求 2019.03.28 end

          this.SubmitDepositData()
        }
      }
    },
    // 發送存款資料
    SubmitDepositData: async function () {
      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true
      const fullHour = this.PostDepositData.Hours > 9 ? this.PostDepositData.Hours : "0" + this.PostDepositData.Hours
      const fullMinute =
        this.PostDepositData.Minutes > 9 ? this.PostDepositData.Minutes : "0" + this.PostDepositData.Minutes
      const fullDate =
        moment(this.PostDepositData.DepositDate).format("YYYY/MM/DD") + " " + fullHour + ":" + fullMinute + ":00"

      // alert(this.PostDepositData.RemittanceDepositType);
      // this.PostDepositData.RemittanceDepositType = this.type === 0 ? 1 : 2;
      const inputObj = this.PostDepositData
      inputObj.DepositDateTick = CommUtility.LocalTimeToUtcTicks(fullDate, false, true)

      inputObj.RemittanceDepositType = this.PostDepositData.RemittanceDepositType
      inputObj.BankInfo = []
      if (this.type === 0) {
        inputObj.BankInfo = [this.CurrentPageData.BankInfo[this.depositChannel]]
      } else {
        // 筛选出扫码支付类型 20190911 SeyoChen
        for (let i = 0; i < this.CurrentPageData.BankInfo.length; i++) {
          if (
            this.CurrentPageData.BankInfo[i].PaymentWayType === 2 &&
            this.QRCodeList.Sort === this.CurrentPageData.BankInfo[i].Sort &&
            this.QRCodeList.QRCodePaymentWayType === this.CurrentPageData.BankInfo[i].QRCodePaymentWayType
          ) {
            inputObj.BankInfo.push(this.CurrentPageData.BankInfo[i])
          }
        }
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.CompanyRemittance_Add(inputObj)
      console.log(data)
      console.log("data22222")
      EventBus.$emit("GlobalLoadingTrigger", false)

      this.ProcessingFlag = false

      const notifyData = {
        NotifyMessage: data.Message
      }

      if (data.Ret == 0) {
        notifyData.NotifySubMessage = this.$t("message.member_wait_patiently")
        EventBus.$emit("remittanceDepositSuccess")
      }

      if (this.type == 0) {
        // 通知总览用户存款，刷新页面 20190911 SeyoChen
        EventBus.$emit("DepositRefresh")
        CommUtility.WebClosealertboxForm("depositIcome-content")
      } else {
        CommUtility.WebClosealertboxForm("QRcodeForm")
      }
      this.Submitted = false
      this.PostDepositData.DepositAmt = ""
      this.PostDepositData.DepositorName = ""
      this.PostDepositData.RemittanceDepositType = undefined
      this.PostDepositData.BankProvince = undefined
      this.PostDepositData.BankCity = undefined
      this.PostDepositData.BankDistrict = undefined
      this.PostDepositData.BankBranchName = ""
      this.PostDepositData.Remark = ""
      this.$validator.reset()
      EventBus.$emit("showNotifyMemberMessage", notifyData)
    }
  },
  components: {
    Datepicker
  },
  // watch: {
  //   CurrentPageData: function () {
  //     // this.SetPageData();
  //   }
  // },
  beforeDestroy() {
    EventBus.$off("resetDepositForm")
  }
}
</script>

<style lang="less">
.depositDateInput {
  width: 80px !important;
  margin-left: 0 !important;
  float: left !important;
}

.fill_transfer {
  padding: 0 16px 10px 13px !important;
}

.fill_transfer .fill_income_cont {
  height: 380px;
}
.serial_num {
  width: 730px;
}
.serial_num .deposit_input {
  width: 700px;
}
.serial_num .deposit_input li .input_rt {
  width: 380px !important;
  .depositTime {
    input {
      width: 88px !important;
    }
  }
}
</style>
