<template>
  <div
    id="activityDetailForm"
    class="alert_box_content rake_alert_box re_h"
    :class="'rake_alert_box_' + $MessageLang"
  >
    <span class="alert_close" @click="CloseDetail()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2
        class="phone_title"
        v-if="$MessageLang == 'vi' && ActivityDetail.Name == this.$t('message.member_bonus_activities')"
      >
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        Không tham gia vào live action
      </h2>
      <h2 class="phone_title" v-else>
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{ActivityDetail.Name}}
      </h2>
      <!--<div class="descr_title">
	            <p>活动内容</p>
	            <a class="icon_close" href="javascript:void(0);" @click="CloseDetail()"></a>
      </div>-->
      <div class="descr_p left_p five_fonts">
        <p
          class="clearfix"
          v-if="$MessageLang == 'vi' && ActivityDetail.Name == this.$t('message.member_bonus_activities')"
        >
          <em class="fl">{{$t('message.member_activity_name')}}</em>
          <span class="fl" style="width: 200px;">Không tham gia vào live action</span>
        </p>
        <p class="clearfix" v-else>
          <em class="fl">{{$t('message.member_activity_name')}}</em>
          <span class="fl" style="width: 200px;">{{ActivityDetail.Name}}</span>
        </p>
        <!-- <p v-if="BonusWayType == 1"><em>活动时间：</em>{{ActivityDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{ActivityDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</p> -->
        <p v-if="ActivityType == 2">
          <em>{{$t('message.member_activity_time')}}</em>
          {{ActivityDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}} - {{ActivityDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}
        </p>
        <p>
          <em>{{$t('message.member_extra_dividend')}}</em>
          {{ActivityDetail.VBonusRatio}}
        </p>
        <p>
          <em>{{$t('message.member_minimum_income')}}</em>
          {{ActivityDetail.MinDepositAmt}}
        </p>
        <p>
          <em>{{$t('message.member_maximum_dividend')}}</em>
          {{ActivityDetail.MaxDepositAmt}}
        </p>
        <p>
          <em>{{$t('message.member_document_rate')}}</em>
          {{ActivityDetail.VRakeAmtRate}}
        </p>
        <!-- <p><em>参与等级：</em>{{GetActivityDetail.JoinLv}}  及以上</p> -->
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="CloseDetail()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<style lang="less" scope>
.rake_alert_box_en,
.rake_alert_box_vi {
  .descr_p p em {
    width: 160px !important;
  }
}
</style>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  data() {
    return {
      CommUtility: CommUtility,
      BonusWayType: undefined,
      ActivityDetail: {},
      ActivityType: undefined
    }
  },
  created: function () {
    const self = this
    // 2018.09.26 SeyoChen
    if (this.$route.params.ActivityData != undefined) {
      if (this.$route.params.ChargeType == 2) {
        this.TitleFonts = this.$t("message.activity_company_income")
      }
      this.BonusWayType = this.$route.params.ChargeType
      EventBus.$on("ActivityData", (flag) => {
        self.ActivityDetail = flag
      })
    }
    // 2018.09.26 SeyoChen end

    EventBus.$on("showActivityDetail", (notifyBonusWayType, notifyActivityDetail, notifyActivityType) => {
      // 接收父级 memberDepositSelectedBonus 传过来的活动详情
      self.BonusWayType = notifyBonusWayType
      self.ActivityDetail = notifyActivityDetail.ActivityDetail
      self.ActivityType = notifyActivityType
      CommUtility.WebShowAlertboxForm("activityDetailForm")
    })
    // EventBus.$on('showActivityDetail', () => {      // 接收父级 memberDepositSelectedBonus 传过来的活动详情
    //     CommUtility.WebShowUniqueForm('activityDetailForm');
    // });
  },
  methods: {
    CloseDetail: function () {
      this.BonusWayType = undefined
      this.ActivityDetail = {}
      CommUtility.WebClosealertboxForm("activityDetailForm")
    }
  },
  // watch: {
  //     ActivityDetail: function () {
  //         this.GetBonusWayType = this.BonusWayType;
  //         this.GetActivityDetail = this.ActivityDetail;
  //         this.GetActivityType = this.ActivityType;
  //     }
  // },
  beforeDestroy() {
    EventBus.$off("showActivityDetail")
  }
}
</script>
