<template>
  <!--在线支付-->
  <div class="psl_tab_cont d_tab_cont1">
    <!--<p class="guide_p">选择支付方式</p>-->
    <div id="OnlineDepositAddForm" name="OnlineDepositAddForm">
      <div class="deposit_cont purple_cont member_new_tip">
        <!--<ul class="pay_select">
                    <li v-for="(item, index) in CurrentPageData.BankTypeList" :key="index" class="li_sel" :class="PostDepositData.PType == item.BankTypeSerialNo ? 'hasblock':''" @click="SelectPayType(item.BankTypeSerialNo)">
                        <img style="vertical-align: text-bottom;max-height: 100%;" :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/deposit_icon' + item.BankTypeSerialNo + '.png'"/>
                        {{item.BankTypeName}}
                        <div v-if="item.BankTypeSerialNo == 1 && PostDepositData.BankCode !== undefined" class="li_bank">
                            <a href="javascript:void(0);">
                                <img  v-bind:src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/bank/bank'+ PostDepositData.BankCode +'.png?VersionCode'">
                            </a>
                        </div>
                    </li>
        </ul>-->
        <!--<ul class="input_field" style="height:10px;margin-left: 215px;"
                    v-show="(Submitted == true && PostDepositData.PType===undefined)">
                    <li>
                        <div class="input_lf">
                        </div>
                        <div class="input_rt">
                            <i class="tip1" style="display: block;">提示: 选择项不能为空</i>
                        </div>
                    </li>
        </ul>-->
        <div class="online_cont online_cont_deposit clearfix" style="margin-top: -12px;">
          <a
            v-for="(item, index) in CurrentPageData.BankTypeList"
            :key="index"
            @click="SelectPayType(item.BankTypeSerialNo)"
            :class="PostDepositData.PType == item.BankTypeSerialNo ? 'on':''"
            v-if="item.BankTypeSerialNo!=4"
          >
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/online-stype' + item.BankTypeSerialNo + '.png?VersionCode'"
            />
            <!-- <span class="online-select" :class="PostDepositData.PType == item.BankTypeSerialNo ? 'on':''">{{item.BankTypeSerialNo}}</span> -->
          </a>
        </div>
        <!--2019.05.29 SeyoChen 新增未选择支付方式提示-->
        <div
          class="active-list"
          style="color: #ed5650;font-size: 12px;"
          v-if="IfSelectPayType === false"
        >
          <p>{{$t('message.member_payment_method')}}</p>
        </div>
        <div class="purple_cont" v-if="ActivePayWayID !== ''">
          <ul class="input_field" style="margin-top: 0px;">
            <li
              class="li_sex"
              v-for="(payWay,index) in CurrentPageData.NewCashFlowInfoList"
              v-if="ActivePayWayID==payWay.id"
            >
              <span>{{$t('message.member_payment_channels')}}：</span>
              <div class="sex_rt">
                <span
                  v-for="(item,itemIndex) in payWay.list"
                  @click="SelectPayChannel(item,itemIndex)"
                  :class="PayChannel ==  itemIndex? 'hasblock' : ''"
                >{{$t('message.member_payment_channels')}}{{itemIndex+1}}</span>
              </div>
            </li>
          </ul>
        </div>
        <ul class="input_field" style="margin-top: 0;">
          <li class="clearfix">
            <div class="input_lf">{{$t('message.member_deposit_amount')}}：</div>
            <div class="input_rt" :class="'input_rt_'+$MessageLang">
              <input
                type="text"
                style="width: 260px;"
                :placeholder="$t('message.member_lowest_amount') + CurrentPageData.VMinLimitAmt + ','+$t('message.member_highest') + CurrentPageData.VMaxLimitAmt"
                v-model="PostDepositData.Amount"
                autocomplete="off"
                v-validate="{ rules: { regex:Reg.MoneyAmount, between:[CurrentPageData.MinLimitAmt, CurrentPageData.MaxLimitAmt], required: true }}"
                name="DepositAmount"
                @focus="TipShow()"
                @blur="TipHide()"
              />
              <i
                class="tip-box"
                v-show="errors.has('DepositAmount') && fields.DepositAmount.touched"
              ></i>
              <i
                class="tip-error"
                v-show="errors.has('DepositAmount') && fields.DepositAmount.touched"
              ></i>
              <i
                class="tip1"
                style="display: block;"
                v-show="errors.has('DepositAmount') && ShowWeChatTip == false && this.TipsShow.DepositAmount == true"
              >{{$t('message.member_digital_range')}}{{CurrentPageData.VMinLimitAmt}}-{{CurrentPageData.VMaxLimitAmt}}</i>
              <i
                class="tip1"
                style="display: block;line-height:20px"
                v-if="PostDepositData.Amount < 100 && PostDepositData.Amount%10!=0 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowWeChat == true && this.TipsShow.DepositAmount == true"
              >{{$t('message.member_this_amount')}}</i>
              <i
                class="tip1"
                style="display: block;line-height:20px"
                v-else-if="PostDepositData.Amount >= 100 && PostDepositData.Amount%100!=0 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowWeChat == true && this.TipsShow.DepositAmount == true"
              >{{$t('message.member_this_amount')}}</i>
              <i
                class="tip1"
                style="display: block;line-height:20px"
                v-if="PostDepositData.Amount < 200 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowZFB == true && this.TipsShow.DepositAmount == true"
              >{{$t('message.member_this_amount')}}</i>
              <i
                class="tip1"
                style="display: block;line-height:20px"
                v-else-if="PostDepositData.Amount > 5000 && !errors.has('DepositAmount') && ShowWeChatTip == true && ShowZFB == true && this.TipsShow.DepositAmount == true"
              >{{$t('message.member_this_amount')}}</i>
            </div>
          </li>
        </ul>
        <!--2019.01.28 SeyoChen 新增微信支付金额提示-->
        <div class="active-list" v-show="ShowWeChat">
          <p>{{$t('message.member_Wechat_support')}}</p>
        </div>
        <div class="active-list" v-show="ShowZFB">
          <p>{{$t('message.member_Alipay_support')}}</p>
        </div>
        <!--2019.01.28 SeyoChen 新增微信支付金额提示 end-->
        <!--2019.05.24 新增支付渠道提示-->
        <div class="active-list" v-show="ActivePayWayID!=''&&PayChannelAmountLimit!=''">
          <p>{{$t('message.member_limited_amount')}}{{PayChannelAmountLimit}}</p>
        </div>
        <!--2019.05.24 新增支付渠道提示-->
        <div class="pub_btn_both style3">
          <a
            class="btn1 btn_recharge1 deposit_href hasblock"
            href="javascript:void(0);"
            @click="CheckFormData();"
          >{{$t('message.member_ascertain')}}</a>
          <a
            class="btn2 pre_select"
            href="javascript:void(0);"
            @click="ResetDeposit();"
          >{{$t('message.member_cancel')}}</a>
        </div>
      </div>
    </div>
    <!--在線支付-網銀彈出窗-->
    <div id="bankListForm" class="pub_alert_box bank_alert_box re_h" style="display: none;">
      <div class="descr_title">
        <p>{{$t('message.member_paying_bank')}}</p>
        <a
          class="icon_close"
          href="javascript:void(0);"
          @click="CommUtility.WebCloseUniqueForm('bankListForm');"
        ></a>
      </div>
      <div class="descr_p">
        <ul class="bank_list">
          <li v-for="(Item, index) in CurrentPageData.BankList" :key="index">
            <a href="javascript:void(0);" @click="SelectBank(Item.BankCode)">
              <img
                v-bind:src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/bank/bank'+ Item.BankCode +'.png?VersionCode'"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import EventBus from "@/assets/scripts/common/EventBus.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import URLService from "@/assets/scripts/common/URLService.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  props: {
    CurSelectedActivity: {
      BonusSerialNo: undefined, // 红利对应的资料序号
      ActivityType: undefined, // 红利活动方式 ==》 -1：未定义; 1：存款(红利设定); 2：红利活动
      ActType: undefined // 红利方式细项分类 ==》 1: 首存 2: 续存
    }
  },
  data() {
    return {
      Submitted: false,
      Reg: Regex.Regex,
      CurrentPageData: {},
      InitialFormData: undefined,
      PostDepositData: {
        PType: undefined,
        BankCode: undefined,
        Amount: "",
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
        BonusWay: this.CurSelectedActivity.ActivityType,
        MerchantSerialNo: ""
      },
      CommUtility: CommUtility,

      ShowWeChat: false, // 微信支付需要显示提示
      ShowWeChatTip: false,
      ShowZFB: false,

      TipsShow: {
        DepositAmount: false
      },
      ActivePayWayID: "",
      PayChannel: 0,
      PayChannelAmountLimit: "",
      IfSelectPayType: true
    }
  },
  created: function () {
    const self = this
    // 清空表单
    EventBus.$on("resetDepositForm", () => {
      self.ResetDeposit()
    })
    this.InitialFormData = Vue.util.extend({}, this.PostDepositData)

    // console.log('-------++++进入在线支付时选择的活动+++-------');
    // console.log(this.CurSelectedActivity);
    this.GetPageData()
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("OnlineDepositAddForm", this.CheckFormData) // 绑定键盘Enter
  },
  methods: {
    TipShow: function () {
      this.TipsShow.DepositAmount = true
    },
    TipHide: function () {
      this.TipsShow.DepositAmount = false
    },
    // 取得頁面資料
    GetPageData: async function () {
      const dataObj = {
        ActType: this.CurSelectedActivity.ActType,
        BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
        ActivityType: this.CurSelectedActivity.ActivityType
      }
      const data = await PersonalCenterService.OnlinePaymentDeposit_LoadMainPage(dataObj)
      if (data.Ret == 0) {
        this.CurrentPageData = data.Data
        console.log("CurrentPageData11")
        console.log(this.CurrentPageData)
        console.log(this.CurrentPageData.BankTypeList)
        console.log("CurrentPageData12")
        const NewCashFlowInfoList1 = {
          id: 1,
          list: []
        }
        const NewCashFlowInfoList2 = {
          id: 2,
          list: []
        }
        const NewCashFlowInfoList3 = {
          id: 3,
          list: []
        }
        const NewCashFlowInfoList4 = {
          id: 4,
          list: []
        }
        for (let index = 0; index < this.CurrentPageData.CashFlowInfoList.length; index++) {
          if (this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 1) {
            NewCashFlowInfoList1.list.push(this.CurrentPageData.CashFlowInfoList[index])
          } else if (this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 2) {
            NewCashFlowInfoList2.list.push(this.CurrentPageData.CashFlowInfoList[index])
          } else if (this.CurrentPageData.CashFlowInfoList[index].BankTypeSerialNo == 3) {
            NewCashFlowInfoList3.list.push(this.CurrentPageData.CashFlowInfoList[index])
          } else {
            NewCashFlowInfoList4.list.push(this.CurrentPageData.CashFlowInfoList[index])
          }
        }
        this.CurrentPageData.NewCashFlowInfoList = [
          NewCashFlowInfoList1,
          NewCashFlowInfoList2,
          NewCashFlowInfoList3,
          NewCashFlowInfoList4
        ]
        // this.CurrentPageData.NewCashFlowInfoList = [
        //   {
        //     id: 1,
        //     list: [
        //       { BankTypeSerialNo: 1 },
        //       { BankTypeSerialNo: 2 },
        //       { BankTypeSerialNo: 3 }
        //     ]
        //   },
        //   {
        //     id: 2,
        //     list: [
        //       { BankTypeSerialNo: 1 },
        //       { BankTypeSerialNo: 2 },
        //       { BankTypeSerialNo: 3 }
        //     ]
        //   },
        //   {
        //     id: 3,
        //     list: [
        //       { BankTypeSerialNo: 1 },
        //       { BankTypeSerialNo: 2 },
        //       { BankTypeSerialNo: 3 }
        //     ]
        //   },
        //   {
        //     id: 4,
        //     list: [
        //       { BankTypeSerialNo: 1 },
        //       { BankTypeSerialNo: 2 },
        //       { BankTypeSerialNo: 3 }
        //     ]
        //   }
        // ];
        // EventBus.$emit('showNotifyMessageAlert', this.CurrentPageData);
        console.log("----------------------OnlinePaymentDeposit_LoadMainPage")
        console.log(this.CurrentPageData)
        this.$emit("CurrentPageData", this.CurrentPageData) // 将此后台返回的活动详情传到父级 deposit
      }
    },
    // 校验存款次数
    async validateDepositNumber() {
      let params = { DepositOpertionType: 1 }
      const retData = await PersonalCenterService.DepositNumber(params)
      if (retData.Ret) {
        // 校验未通过弹出提示信息
        CommUtility.WebShowAlertboxForm("depositNumber")
        return false
      }
      return true
    },
    // 檢查存款資料並開新視窗
    CheckFormData: async function () {
      // let validateDepositNumber = await this.validateDepositNumber();
      // if (!validateDepositNumber) return;
      // let ActivityItem = JSON.parse(localStorage.getItem('ActivityDatas'));
      // const DepositObj = {
      //   BonusWay: ActivityItem.ActivityType,
      //   BonusSerialNo: ActivityItem.BonusSerialNo
      // };
      // const data = await PersonalCenterService.DepositActivityRelationQuery(
      //   DepositObj
      // );

      // if (data.Ret == 0) {
      //   if (data.Data.IsLimit) {
      //     // CommUtility.WebClosealertboxForm('depositIcome-content');
      //     // EventBus.$emit('activityRelationQuery');
      //     CommUtility.WebShowAlertboxForm('depositToplimitForm');
      //   } else {
      if (this.PostDepositData.PType === undefined) {
        this.IfSelectPayType = false
        return
      }
      this.IfSelectPayType = true

      // 微信充值检查充值金额 SeyoChen
      if (
        this.PostDepositData.PType == 2 &&
        this.PostDepositData.Amount > 0 &&
        this.PostDepositData.Amount < 100 &&
        this.PostDepositData.Amount % 10 != 0
      ) {
        this.ShowWeChatTip = true
        return
      } else if (
        this.PostDepositData.PType == 2 &&
        this.PostDepositData.Amount >= 100 &&
        this.PostDepositData.Amount % 100 != 0
      ) {
        this.ShowWeChatTip = true
        return
      } else if (this.PostDepositData.PType == 3 && this.PostDepositData.Amount < 200) {
        this.ShowWeChatTip = true
        return
      } else if (this.PostDepositData.PType == 3 && this.PostDepositData.Amount > 5000) {
        this.ShowWeChatTip = true
        return
      } else {
        this.ShowWeChatTip = false
      }

      // 微信充值检查充值金额 SeyoChen end
      this.Submitted = true
      // 2018.10.11 SeyoChen
      if (this.CurrentPageData.ActivityDetail.Status.Value != "702") {
        const notifyData = {
          NotifyMessage: this.$t("message.member_expired")
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        return
      }
      // 2018.10.11 SeyoChen end

      // 输入为空的时候返回 2018.11.22 SeyoChen
      if (this.PostDepositData.Amount === "") {
        const notifyData = {
          NotifyMessage: this.$t("message.member_input_amount")
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        return
      }
      // 输入为空的时候返回 2018.11.22 SeyoChen end

      this.Submitted = true
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      this.$validator.validateAll()

      const result = this.errors.any()

      if (result === true || this.PostDepositData.PType === undefined) {
        return
      }
      // 检查最低入金是否符合要求 2019.03.28
      if (this.PostDepositData.Amount < this.CurrentPageData.ActivityDetail.MinDepositAmt) {
        EventBus.$emit("showDepositAmtLimitTip", this.ContinueSubmit)
        return
      }
      // 检查最低入金是否符合要求 2019.03.28 end

      this.ContinueSubmit()
      // }
      // }

      // const inputObj = this.PostDepositData;

      // const paymentData = URLService.GetUrlParameterFromObj(inputObj);
      // const HashKey = new Date().getTime();
      // localStorage.setItem(HashKey.toString(), paymentData);
      // CommUtility.OpenPlayGameWindow('webDepositPayment', 'DepositPaymentPopUpWindow', HashKey.toString());
      // this.GetOnlineDeposit(this.PostDepositData);
    },
    ContinueSubmit: function () {
      const inputObj = this.PostDepositData

      const paymentData = URLService.GetUrlParameterFromObj(inputObj)
      const HashKey = new Date().getTime()
      localStorage.setItem(HashKey.toString(), paymentData)
      CommUtility.OpenPlayGameWindow("webDepositPayment", "DepositPaymentPopUpWindow", HashKey.toString())
    },
    GetOnlineDeposit: async function (PostDepositData) {
      this.PostDepositData.Device = "0"
      this.PostDepositData.TagUrl = document.location.origin
      const rspData = await PersonalCenterService.OnlineDeposit_Add(PostDepositData)
      if (rspData.Ret == 0) {
        const notifyData = {
          NotifyMessage: "测试 PHP "
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        // 通知总览用户存款，刷新页面 20190911 SeyoChen
        EventBus.$emit("DepositRefresh")
      }
    },

    // 選擇支付方式
    SelectPayType: function (type) {
      console.log("++++++++++++++++++" + type)
      this.IfSelectPayType = true
      this.PayChannel = 0
      this.PostDepositData.PType = type
      this.ActivePayWayID = type
      if (type == 1) {
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[0].list[0].BankLimitAmount
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[0].list[0].CashFlowSerialNo
      } else if (type == 2) {
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[1].list[0].WechatLimitAmount
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[1].list[0].CashFlowSerialNo
      } else if (type == 3) {
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[2].list[0].AlipayLimitAmount
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[2].list[0].CashFlowSerialNo
      } else {
        this.PayChannelAmountLimit = this.CurrentPageData.NewCashFlowInfoList[3].list[0].FictitiousLimitAmount
        this.PostDepositData.MerchantSerialNo = this.CurrentPageData.NewCashFlowInfoList[3].list[0].CashFlowSerialNo
      }
      // 2019.01.29 SeyoChen 2: 微信
      if (type == 2) {
        this.ShowWeChat = true
        this.ShowZFB = false
      } else if (type == 3) {
        this.ShowZFB = true
        this.ShowWeChat = false
      } else {
        this.ShowZFB = false
        this.ShowWeChat = false
      }
      // if (type == 1) {
      //  CommUtility.WebShowUniqueForm('bankListForm');
      // }
    },
    // 选择支付渠道
    SelectPayChannel: function (item, index) {
      this.PayChannel = index
      if (item.BankTypeSerialNo == 1) {
        this.PayChannelAmountLimit = item.BankLimitAmount
      } else if (item.BankTypeSerialNo == 2) {
        this.PayChannelAmountLimit = item.WechatLimitAmount
      } else if (item.BankTypeSerialNo == 3) {
        this.PayChannelAmountLimit = item.AlipayLimitAmount
      } else {
        this.PayChannelAmountLimit = item.FictitiousLimitAmount
      }
      this.PostDepositData.MerchantSerialNo = item.CashFlowSerialNo
    },
    // 選擇銀行
    SelectBank: function (bankCode) {
      this.PostDepositData.BankCode = bankCode
      CommUtility.WebCloseUniqueForm("bankListForm")
    },
    // 返回存款初始
    ResetDeposit: function () {
      this.Submitted = false
      this.PostDepositData = Vue.util.extend({}, this.InitialFormData)
      this.$validator.reset()
      // 2018.11.13 SeyoChen 取消返回上一层
      this.$parent.CurSelectedActivity.BonusSerialNo = undefined // 作用是返回上一层
      this.$parent.IsShow = false // 作用是返回上一层
      // 2018.11.13 SeyoChen end
    }
  },
  beforeDestroy() {
    EventBus.$off("resetDepositForm")
  }
}
</script>
