<template>
  <div id="depositToplimitForm" class="alert_box_content tel_alert_box re_h">
    <span
      class="alert_close"
      @click="CommUtility.WebClosealertboxForm('depositAmtLessActivityMinAmtErrorForm');"
    >
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_title no_line clearfix"></div>
    <div class="descr_p">
      <P class="limitText">{{$t('message.member_deposit_activity_limit')}}</P>
    </div>
    <div class="alert_btn_both">
      <a
        class="btn1"
        href="javascript:void(0);"
        @click="topLimitConfirmFunct();"
      >{{$t('message.member_ascertain')}}</a>
      <!-- <a
        class="btn2"
        style="color:#fff;background: #505ea1;"
        href="javascript:void(0);"
        @click="CommUtility.WebClosealertboxForm('depositAmtLessActivityMinAmtErrorForm');"
      >取消</a>-->
    </div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {
      CommUtility: CommUtility,
      ConfirmFunction: undefined
    }
  },
  created: function () {
    const self = this
    EventBus.$on("activityRelationQuery", (func) => {
      CommUtility.WebShowAlertboxForm("depositToplimitForm")
    })
  },
  methods: {
    topLimitConfirmFunct: function () {
      CommUtility.WebClosealertboxForm("depositToplimitForm")
      // this.$parent.$parent.GetParams();
      EventBus.$emit("backReselectActivity")
    }
  },
  beforeDestroy() {
    EventBus.$off("showDepositAmtLimitTip")
  }
}
</script>
