<template>
  <div id="QRcodeForm" class="alert_box_content QRcode_alert_box">
    <!-- v-if="this.RemittancePayNum != 0"-->
    <span class="alert_close" @click="HideQRcode()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_code_receipts')}}
      </h2>
      <!--<div class="table_guide">
	            <p>二维码支付：</p>
      </div>-->
      <div class="purple_cont">
        <div class="income_box" style="margin-left: 0;">
          <!--新增公司支付渠道 20190905 SeyoChen-->
          <!-- 原先 start -->
          <ul class="pay_channel clearfix">
            <li v-if="RemittancePayNum.AliPay.length !== 0">
              <a
                :class="RemittancePayNum.PayType===0?'on':''"
                @click="ChangeBankData(0)"
              >{{$t('message.member_Alipay_code')}}</a>
            </li>
            <li v-if="RemittancePayNum.WeChat.length !== 0">
              <a
                :class="RemittancePayNum.PayType===1?'on':''"
                @click="ChangeBankData(1)"
              >{{$t('message.member_WeChat_code')}}</a>
            </li>
            <li v-if="RemittancePayNum.Other.length !== 0">
              <a
                :class="RemittancePayNum.PayType===2?'on':''"
                @click="ChangeBankData(2)"
              >{{$t('message.tutorial_other')}}</a>
            </li>
          </ul>

          <div class="clearfix">
            <ul class="qrcode_msg">
              <li
                v-for="(item, index) in ShowPayList"
                v-if="item.PaymentWayType == 2"
                @click="SelectQRCode(item,index)"
              >
                <div class="qrcode_msg_img">
                  <div class="qrcode_msg_img1" :class="SelectNum === index?'isSelect':''">
                    <span class="see-box" v-show="SelectNum !=index">
                      <span class="see-btn">{{$t('message.click_to_view')}}</span>
                    </span>
                    <img :src="item.QRCodeUrl" v-bind:class="SelectNum === index?'hasSelect':''" />
                  </div>

                  <p
                    v-if="item.PaymentWayType == 2 && item.Remark != ''"
                  >{{item.Remark | simpleContent(10)}}</p>
                </div>
                <p
                  v-if="item.QRCodePaymentWayType == 2 && item.PaymentWayType == 2"
                >{{$t('message.member_WeChat_code')}}</p>
                <p
                  v-else-if="item.QRCodePaymentWayType == 1 && item.PaymentWayType == 2"
                >{{$t('message.member_Alipay_code')}}</p>
                <p
                  v-else-if="item.QRCodePaymentWayType == 3 && item.PaymentWayType == 2"
                >{{$t('message.member_Other_code')}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--玩家轉帳資訊-->
    <member-deposit-remittance-form
      ref="remittance_form"
      :type="1"
      :RemittancePayNum="RemittancePayNum"
      :CurrentPageData="this.CurrentData"
      :QRCodeList="this.QRCodeList"
      :CurSelectedActivity="this.CurSelectedActivity"
    ></member-deposit-remittance-form>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
// import PersonalCenterService from '@/mod/k14/assets/scripts/businessLogic/personalCenterService.js';
import MemberDepositRemittanceForm from "@/mod/k14/components/sub/memberNew/deposit/memberDepositRemittanceForm.vue"

export default {
  props: {
    RemittanceBankInfo: {}, // 支付渠道信息 银行卡资料 支付宝/微信/其他的二维码资料
    CurrentData: {}, // 存款方式
    CurSelectedActivity: {
      BonusSerialNo: undefined, // 红利对应的资料序号
      ActivityType: undefined, // 红利活动方式 ==》 -1：未定义; 1：存款(红利设定); 2：红利活动
      ActType: undefined // 红利方式细项分类 ==》 1: 首存 2: 续存
    }
  },
  data() {
    return {
      RemittancePayNum: {
        AliPay: [],
        WeChat: [],
        Other: [],
        PayType: 0
      }, // 判断二维码类型数量 20190906 SeyoChen
      CurrentPageData: {
        BankInfo: {}
      },

      BankTrans: false, // 银行转账
      QRcode: false, // 二维码
      miantainBank: true, // 银行转账维护
      miantainCode: true, // 扫码支付维护

      DefaultData: [], // 2019.02.27 SeyoChen
      judgeComplete: false, // 判断是否开通

      ShowPayList: [], // 遍历选择类型中的支付二维码列表 20190906 SeyoChen
      QRCodeList: "", // 通知form列表目前选中的 二维码 20190911 SeyoChen
      SelectNum: 0 // 默认选中首个二维码 20190911 SeyoChen
    }
  },
  created: function () {
    // this.GetDefaultData();
    console.log("645654165516165165165161561616")
    console.log(this.ShowPayList)
  },
  methods: {
    getSrc() {
      return "https://d1icd6shlvmxi6.cloudfront.net/gsc/8JRU4G/3b/18/53/3b1853ab91cc4a12bfda96db41dddb45/images/index/2s_u2.png?token=896cc2dd1c7e55adda56194e1d60bb676370fc842df534cf4e867053c84d5b5a"
    },
    // 选中二维码提交 20190911 SeyoChen
    SelectQRCode: function (list, num) {
      this.SelectNum = num
      this.QRCodeList = list
    },

    // 选择类型 切换支付二维码 num:0 支付宝 num:1 微信 num:2 其他 20190906 SeyoChen
    ChangeBankData: function (num) {
      this.RemittancePayNum.PayType = num
      // 点击选中传递存款类型 8：支付宝 9：微信 7：其他 20190927 SeyoChen
      const item = { SettingCode: undefined }
      switch (num) {
        case 0:
          this.ShowPayList = this.RemittancePayNum.AliPay
          item.SettingCode = "8"
          break
        case 1:
          this.ShowPayList = this.RemittancePayNum.WeChat
          item.SettingCode = "9"
          break
        case 2:
          this.ShowPayList = this.RemittancePayNum.Other
          item.SettingCode = "7"
          break

        default:
          break
      }

      this.SelectQRCode(this.ShowPayList[0], 0)
      this.$refs.remittance_form.SelectRemittanceType(item)
      // this.$refs.remittance_form.Scrollbar();
      // 点击选中传递存款类型 9：支付宝 8：微信 7：其他 20190927 SeyoChen end
    },

    // 開啟彈窗
    ShowQRcode: function () {
      CommUtility.WebShowAlertboxForm("QRcodeForm")
    }, // end ShowEditPhone

    // 關閉彈窗
    HideQRcode: function () {
      CommUtility.WebClosealertboxForm("QRcodeForm")
    }, // end HideEditPhone
    // 判断支付二维码数量 进行设置 0：隐藏当前页面 1：二维码居中 2：显示同排
    JudgeQRcodeNum: function () {
      this.RemittancePayNum.AliPay = [] // 清空数据 20190927 SeyoChen
      this.RemittancePayNum.WeChat = [] // 清空数据 20190927 SeyoChen
      this.RemittancePayNum.Other = [] // 清空数据 20190927 SeyoChen

      // 判断目前类型多少 20190906 SeyoChen
      for (let i = 0; i < this.RemittanceBankInfo.length; i++) {
        if (this.RemittanceBankInfo[i].QRCodePaymentWayType == 1) {
          this.RemittancePayNum.AliPay.push(this.RemittanceBankInfo[i])
        } else if (this.RemittanceBankInfo[i].QRCodePaymentWayType == 2) {
          this.RemittancePayNum.WeChat.push(this.RemittanceBankInfo[i])
        } else {
          this.RemittancePayNum.Other.push(this.RemittanceBankInfo[i])
        }
      }

      this.ShowPayList = this.RemittancePayNum.AliPay

      // 默认存储选中第一个二维码 20190919 SeyoChen
      if (this.RemittancePayNum.AliPay.length > 0) {
        this.ShowPayList = this.RemittancePayNum.AliPay
        this.ChangeBankData(0)
      } else if (this.RemittancePayNum.WeChat.length > 0) {
        this.ShowPayList = this.RemittancePayNum.WeChat
        this.ChangeBankData(1)
      } else {
        this.ShowPayList = this.RemittancePayNum.Other
        this.ChangeBankData(2)
      }
      // 默认存储选中第一个二维码 20190919 SeyoChen end
      // for (let i = 0; i < this.RemittanceBankInfo.length; i++) {
      //   if (this.RemittanceBankInfo[i].PaymentWayType == 2) {
      //     this.RemittancePayNum++;
      //   }
      // }
      // if (this.RemittancePayNum == 1) {
      //   $('.qrcode_msg').addClass('qrcode_only_msg');
      // }
    },
    // 获取默认Data
    GetDefaultData: async function () {
      // const dataObj = {
      //   ActType: this.CurSelectedActivity.ActType,
      //   BonusSerialNo: this.CurSelectedActivity.BonusSerialNo,
      //   ActivityType: this.CurSelectedActivity.ActivityType
      // };
      // this.DefaultData = await PersonalCenterService.CompanyDeposit_LoadMainPage(
      //   dataObj
      // );
      // this.CurrentPageData = this.;
      this.CurrentPageData = this.CurrentData
      this.CurrentPageData.DepositTypeList = this.CurrentData.DepositTypeList // 扫码支付 倒序处理（不倒序情况下 ‘其他’类型排最前面） 20190905 SeyoChen

      this.$emit("CurrentPageData", this.CurrentPageData) // 将此后台返回的活动详情传到父级 deposit
    }
  },
  components: {
    MemberDepositRemittanceForm
  },
  watch: {
    RemittanceBankInfo: function () {
      this.JudgeQRcodeNum()
    }
  }
}
</script>
