.abnormalDefault {
    position: absolute;
    width: 150px;
    height: 60px;
    z-index: 10;
    top: 18px;
    left: 2px;
}

.pokerAbnormal .abnormalDefault {
    top: -4px;
}

.lotteryAbnormal .abnormalDefault {
    top: -4px;
}

.sportAbnormal .abnormalDefault {
    top: -4px;
}


.system_zh {
    .maintenance {
        background-size: 100% auto;
    }

    .staytuned {
        background-size: 100% auto;
    }
}

.system_en {
    .maintenance {
        background-size: 100% auto;
    }

    .staytuned {
        background-size: 100% auto;
    }
}

.system_vi {
    .maintenance {
        background-size: 100% auto;
    }

    .staytuned {
        background-size: 100% auto;
    }
}

.system_tw {
    .maintenance {
        background-size: 100% auto;
    }

    .staytuned {
        background-size: 100% auto;
    }
}

.liveAbnormal,
.sportAbnormal,
.lotteryAbnormal,
.catchfishAbnormal {
    position: relative;

    .maintenanceBG {
        width: 100%;
        top: 18px;
        left: -113px;
        /* height: 90px; */
        display: flex;
        justify-content: center;
        align-items: center;
        // background: rgba(0, 0, 0, .6);
    }
}

.liveAbnormal {
    .staytuned {
        top: 110px;
        left: 35px;
        // top: auto;
    }

    &.live-expect {
        height: 252px !important;
        margin-top: 0 !important;
    }
}

.sportAbnormal {
    .staytuned {
        top: 47px;
        left: 35px;
        // top: auto;
    }

    &.sport-expect {
        .sport-logo-wrap {
            margin-top: 0 !important;
        }
    }
}

.lotteryAbnormal {
    .staytuned {
        bottom: 30px;
        left: 35px;
        top: auto;
    }

    &.lottery-expect {
        margin-top: 0 !important;
    }
}

.pokerAbnormal {
    .staytuned {
        top: 50px;
        left: 35px;
        // top: auto;
    }

    &.poker-expect {
        margin-top: 0 !important;
    }
}

.catchfishAbnormal {
    .staytuned {
        top: 85px;
        left: 35px;
        // top: auto;
    }

    &.catchfish-expect {
        margin-top: 0 !important;
    }
}
