.live-logo-lists {
  font-size: 0;
  width: 1200px;
  min-height: 620px;
  margin: auto;
  overflow: initial;
  li {
    width: 388px;
    height: 252px;
    line-height: 252px;
    margin: 0  18px 10px 0;
    transition: all .5s linear;
    display: block;
    float: left;
    position: relative;
    background: transparent;
    &:nth-child(3n+3) {
      margin-right: 0 ;  
    }
    .live-logo-wrap {
      position: relative;
      transition: all .3s ease-in-out;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
      left: -40px;
      bottom: 60px;
      height: 104px;
      width: 320px;
    }
    .live-mask-head {
      position: absolute;
      width: 100%;
      height: 23px;
      top: 0;
      left: 0;
      background: transparent;
    }
    .live-logo-mask {
      height: 230px;
      box-shadow: 3px 5px 5px 0 grey;
      opacity: 0;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 22px;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }
    &:hover {
      background: transparent;
      .live-logo-wrap {
        margin-top: -10px;
      }
      .live-logo-mask {
        opacity: 1
      }
    }
  }
}