.theme02 {
  .tutorialbox {
    margin-top: 92px;
  }
  .tutorialboxBanner2 {
    display: none;
  }
  .wrap {
    width: 100% !important;
  }
  .tutorial_cont {
    height: auto;
    background: #fff;
    // min-height: 1750px;
    // padding-bottom: 160px;
    overflow: hidden;
  }
  .tutorial_banner2 {
    //第二版的banner图
    display: block;
    margin-top: 90px;
    height: 800px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/Novice_tutorial_banner.png") no-repeat;
    position: relative;
    overflow: hidden;
    .particlesWrap {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .tutorial_banner2_ul {
    width: 660px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 490px;
  }
  .tutorial_left_navs .el-dropdown {
    line-height: 125px;
    float: left;
  }
  .no_backgrounds {
    width: 185px !important;
  }
  .tutorial_banner2_ul > div {
    float: left;
    width: 178px;
    height: 48px;
    color: #fff;
    font-size: 23px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #b5d1e3;
    cursor: pointer;
  }
  .tutorial_banner2_ul > div:hover {
    background: url("@{ResourceCDNUrl}/web02/tutorial/btn_bg_light.png") no-repeat;
  }
  .tutorial_cont > .banner {
    display: none;
  }
  .tutorial_banner2_tit {
    width: 576px;
    height: 145px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 113px;
    color: #e8f4f7;
    position: absolute;
    top: 250px;
    letter-spacing: 10px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/line.png") no-repeat;
    background-position: bottom;
  }
  .banner_ul {
    display: none;
  }
  .banner video {
    display: none;
  }
  .tutorial-main {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  .tutorial-content {
    min-height: 745px;
  }
  .tutorial-main > div {
    overflow: hidden;
  }

  .tutorial-navs {
    width: 1200px;
    height: 136px;
    background: #3dbceb;
    margin: 0 auto;
    position: relative;
  }
  .tutorial-navs > li:nth-child(1) {
    margin-left: 56px;
  }

  .tutorial-navs li.on {
    background: #fbfcfc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #000;
  }
  .tutorial-navs li.on > div > .tutorial_tit_el {
    color: #000 !important;
  }

  .tutorial-navs li.on > div > .tutorial_tit {
    color: #000 !important;
  }
  .tutorial-navs li.on > div > .tutorial_tit > i {
    color: #009fda !important;
  }
  .tutorial-navs > li {
    width: 270px;
    height: 135px;
    border-left: 1px solid #64c9ef;
    border-right: 1px solid #279edb;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .tutorial_tit {
    margin-top: 70px;
    font-size: 33px;
    color: #ecffff;
    display: block;
    font-weight: 700;
  }

  .tutorial_left_navs {
    overflow: hidden;
    width: 1200px;
    height: 163px;
    margin: 0 auto;
    background: url("@{ResourceCDNUrl}/web02/tutorial/Novice_tutorialx_slide_bg_1.png") no-repeat 0 -36px;
  }

  .tutorial_left_navs li {
    float: left;
    margin-left: 1px;
    font-size: 20px;
    border: none;
    color: #616161;
    width: 210px;
    text-align: center;
  }
  .tutorial_left_navs.betaskill-navs > li {
    width: 210px;
    margin-top: 50px;
  }
  .tutorial_left_navs li:hover,
  .tutorial_left_navs li.on {
    border: none;
  }
  .tutorial-gamerule i {
    width: 80px !important;
    height: 64px !important;
    margin: 15px 75px 0 65px !important;
  }
  .tutorial-gamerule .skill_icon_1 {
    background: url("@{ResourceCDNUrl}/web02/tutorial/down_1.png") !important;
    background-size: 100% 100% !important;
  }
  .tutorial-gamerule .skill_icon_2 {
    background: url("@{ResourceCDNUrl}/web02/tutorial/down_2.png") !important;
    background-size: 100% 100% !important;
  }
  .tutorial-gamerule .skill_icon_3 {
    background: url("@{ResourceCDNUrl}/web02/tutorial/down_3.png") !important;
    background-size: 100% 100% !important;
  }
  .tutorial-gamerule .skill_icon_4 {
    background: url("@{ResourceCDNUrl}/web02/tutorial/down_4.png") !important;
    background-size: 100% 100% !important;
  }

  .tutorial_left_navs li a {
    display: block;
    color: #616161;
  }
  .tutorial-gamerule .tutorial_left_navs li a {
    line-height: 35px !important;
  }
  .tutorial_left_navs > li > a {
    text-align: center !important;
    color: #616161 !important;
    font-size: 20px !important;
  }
  .tutorial_left_navs li:hover a,
  .tutorial_left_navs li.on a {
    color: #616161;
  }

  .tutorial_left_navs li a i {
    width: 40px;
    height: 39px;
    display: block;
    float: left;
    margin: 8px 18px 0 50px;
  }

  .custom_bar {
    position: relative;
    padding: 0px;
    width: 1100px;
    height: 680px;
    overflow: hidden;
    margin: 40px auto 0;
  }
  .tutorial-inside {
    float: left;
    width: 1030px;
    height: auto;
    min-height: 400px;
    padding: 0 50px;
    margin-top: 30px;
  }
  .tutorial-inside .tutorial-box {
    width: 100%;
  }
  .tutorial-inside .tutorial-box h2 {
    width: 100%;
    height: 38px;
  }
  .tutorial-inside .tutorial-box h2 span {
    color: #a6acff;
    font-size: 18px;
    padding-left: 18px;
    font-style: italic;
  }
  .tutorial-inside .tutorial-text h3 {
    font-size: 22px;
    color: #2aa4df;
    margin-bottom: 7px;
  }
  .tutorial-inside .tutorial-text p {
    padding-left: 5px;
    font-size: 16px;
    color: #656d74;
    line-height: 26px;
  }
  .tutorial-inside .tutorial-text {
    padding-bottom: 15px;
    border-bottom: none;
  }
  .tutorial-text span {
    display: none;
  }
  .tutorial-gamerule .gamerule-box .gamerule-text {
    border-bottom: none;
  }
  .tutorial-gamerule .gamerule-box .gamerule-text p,
  .tutorial-gamerule .gamerule-box .gamerule-text h3 {
    color: #77779b;
  }
  .tutorial-gamerule .gamerule-box .gamerule-text img {
    margin: 30px 0;
  }
  .tutorial-problem .tutorial_left_navs li a i {
    width: 42px;
    height: 41px;
  }
  .tutorial_tit_el {
    display: block;
    position: absolute;
    width: 100%;
    top: 57px;
    font-size: 12px;
    color: #ecffff;
  }

  .tutorial-betaskill .tutorial_left_navs i,
  .tutorial-problem .tutorial_left_navs i {
    display: none;
  }
  .tutorial-problem .tutorial_left_navs a {
    line-height: 130px;
  }

  // 遮罩
  .tutorialShade {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }

  // 游戏规则
  .GameRules_title {
    text-align: center;
    color: #010101;
  }
  .GameRules_title_el {
    text-align: center;
    color: #3dbceb;
    margin-top: 15px;
    font-size: 14px;
  }
  .GameRules_center_p {
    width: 730px;
    font-size: 14px;
    color: #4d4d4d;
    margin: auto;
    line-height: 28px;
    margin-top: 20px;
    text-align: center;
  }
  .GameRules_mt25 {
    margin-top: 25px;
  }
  .GameRules_guide {
    width: 660px;
    height: 102px;
    margin: 30px auto 0;
    border-radius: 45px;
    background: rgb(242, 242, 242);
    overflow: hidden;
  }
  .GameRules_guide > span {
    width: 94px;
    height: 102px;
    line-height: 102px;
    float: left;
    text-align: center;
    font-size: 36px;
    color: #232a3a;
    border-right: 1px dashed #2b3154;
  }
  .GameRules_guide_cont {
    font-size: 14px;
    color: #232a3a;
    width: 565px;
    height: 102px;
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .GameRules_smoll_p {
    color: #fff;
    margin-left: 158px;
    margin-top: 20px;
  }
  .GameRules_ty_p {
    color: #596fa4;
    width: 90px;
    line-height: 30px;
    border-radius: 20px;
    background: #bfd0e3;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .GameRules_center_img {
    display: block;
    margin: 20px auto 0;
  }
  .GameRules_table {
    width: 716px;
    margin: 20px auto;
    overflow: hidden;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  .GameRules_table li {
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 14px;
    color: #000;
    text-align: center;
    overflow: hidden;
  }
  .GameRules_table_faseli {
    height: 48px !important;
    line-height: 48px !important;
    background: rgb(209, 209, 209) !important;
  }
  .GameRules_table_faseli p {
    line-height: 23px !important;
  }
  .GameRules_table_ul1 {
    float: left;
    width: 120px;
  }
  .bigwidth {
    width: 350px !important;
  }
  .GameRules_li_p {
    width: 320px;
    line-height: 25px;
    margin: auto;
    margin-top: 12px;
  }
  .width358 {
    width: 358px;
  }
  .GameRules_no_center {
    text-align: left;
    margin-left: 150px;
    margin-top: 0;
  }
  .GameRules_ml200 {
    margin-left: 200px;
  }
  .GameRules_nomt {
    margin-top: 0;
  }

  .tutorial_abslut_ul {
    position: absolute;
    top: 200px;
    z-index: 9;
    height: 300px;
    overflow: hidden;
  }
  .tutorial_abslut_ul > li {
    float: none;
    margin-left: 1px;
    margin-bottom: 0px;
    font-size: 16px;
    border: none;
    color: #616161 !important;
    width: 140px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: top;
    //      background:#e2e1e1;
  }
  .tutorial_abslut_1 {
    top: 75px;
    left: 700px !important;
  }
  .tutorial_abslut_2 {
    top: 300px;
    left: 665px;
  }
  .BettingSkills_no {
    transition: 0.3s;
    overflow: hidden;
    height: 0;
  }
  .BettingSkills_on {
    transition: 0.3s;
    height: auto;
  }
  .bettingSkill_box {
    overflow: hidden;
  }
  .bettingSkill_box img {
    margin-top: 20px;
  }
  .bettingSkill_box p {
    overflow: hidden;
  }
  .bettingSkill_box p > span:nth-child(1) {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #a48db0;
  }
  .bettingSkill_box p > span:nth-child(2) {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #65556d;
  }
  .bettingSkill_cp {
    line-height: 26px;
    font-size: 14px;
    color: #000;
  }
  .sportsSkill_chren {
    margin-left: 1px;
  }
  .sp_down,
  .cp_down {
    position: relative;
  }
  .cp_down > li {
    //      width: 145px!important;
    //      text-align: right!important;
    //      padding-right: 15px!important;
  }
  .sportsSkill_chren > li {
    float: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    border: none;
    color: #cbc7d9;
    width: 190px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: center;
    //      background:#e2e1e1;
  }
  .sportsSkillChren1on {
    color: yellow !important;
  }
  .sportsSkill_chren_01 > li {
    text-align: center;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 13px;
  }
  .sonname,
  .grandsonname {
    display: none;
  }
  .sonname > li,
  .grandsonname > li {
    float: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    border: none;
    color: #cbc7d9;
    width: 145px;
    height: auto;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
    //      background: #e2e1e1;
  }
  .sportsSkill_jsonp {
    padding-left: 5px;
    font-size: 14px;
    line-height: 30px;
    color: #656d74;
  }

  // 背景替换img
  .tutorialPic_1 {
    width: 690px;
    height: 354px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/pic_1.jpg");
  }
  .tutorialPic_2 {
    width: 690px;
    height: 352px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/pic_2.jpg");
  }
  .tutorialPic_3 {
    width: 690px;
    height: 360px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/pic_3.jpg");
  }
  .tutorialPic_4 {
    width: 673px;
    height: 360px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/pic_4.jpg");
  }
  .tutorialPuke_1 {
    width: 428px;
    height: 69px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/puke_1.png");
  }
  .tutorialPuke_2 {
    width: 211px;
    height: 69px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/puke_2.png");
  }
  .tutorialPuke_3 {
    width: 211px;
    height: 69px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/puke_3.png");
  }
  .tutorialPuke_4 {
    width: 351px;
    height: 257px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/puke_4.png");
  }
  .tutorialRule_img_1 {
    width: 848px;
    height: 508px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_1.png");
  }
  .tutorialRule_img_2 {
    width: 848px;
    height: 235px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_2.png");
  }
  .tutorialRule_img_3 {
    width: 848px;
    height: 157px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_3.png");
  }
  .tutorialRule_img_4 {
    width: 848px;
    height: 235px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_4.png");
  }
  .tutorialRule_img_5 {
    width: 848px;
    height: 274px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_5.png");
  }
  .tutorialRule_img_6 {
    width: 848px;
    height: 118px;
    background: url("@{ResourceCDNUrl}/web02/tutorial/rule_img_6.png");
  }
}
