<template>
  <div class>
    <!-- <div class="extension-cont-barNav">
      <div class="bar1">
        <span class="sp1">
          总计充值金额：
          <span class="sp1-text1">{{RechargeAccountTotalSum}}</span>
        </span>
      </div>
      <div class="bar2">
        <span class="sp1">
          历史路径
          <span class="sp1-text3" @click="Trajectory(true)">{{HistoricalPathName}}</span>
        </span>
      </div>
    </div>-->
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td>{{$t('message.agency_order_number')}}</td>
            <td>{{$t('message.agency_account_number')}}</td>
            <!--<td>身份</td>-->
            <!--<td>代理等级</td>-->
            <td>{{$t('message.agency_recharge_mode')}}</td>
            <td>{{$t('message.agency_total_invest')}}</td>
            <!--<td>状态</td>-->
            <td>{{$t('message.member_hour')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(list,index) in RechargeAccountList" :key="index">
            <td>{{index+1}}</td>
            <td>{{list.LoginID}}</td>
            <td>{{list.BankName}}</td>
            <td>{{list.VDepositAmt}}</td>
            <td>{{list.CreateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    RechargeAccountList: {
      type: Array,
      default: function () {
        return [];
      }
    },
    RechargeAccountTotalSum: '',
    HistoricalPathName: ''
  },

  data () {
    return {};
  },
  methods: {
    Trajectory: function (data) {
      EventBus.$emit('showRechargePage', data);
    }
  },

  components: {}
};
</script>
