<!--腳部連結-->
<template>
  <div class="footer">
    <div class="footer-c clearfix">
      <router-link :to="{name: 'Index'}">
        <img :src="this.LogoPath" class="fl footer-logo" />
      </router-link>
      <div class="footer-l fl">
        <ul class="clearfix">
          <li>
            <router-link :to="{ name: 'AboutUs'}">{{$t('message.foot_about_us')}}</router-link>
            <i></i>
          </li>
          <!-- <li>
            <router-link :to="{ name: 'Partner'}">{{$t('message.foot_manufacturer_introduction')}}</router-link>
            <i></i>
          </li>-->
          <!-- <li>
            <router-link :to="{ name: 'JoinUs'}">{{$t('message.foot_agency_cooperation')}}</router-link>
            <i></i>
          </li> -->
          <li>
            <router-link :to="{ name: 'TutorialFAQ'}">{{$t('message.tutorial_common_problem')}}</router-link>
            <i></i>
          </li>
          <!-- <li><router-link :to="{ name: 'webMobileBet'}">手机APP </router-link><i></i></li> -->
          <li>
            <router-link :to="{ name: 'ContactUs'}">{{$t('message.foot_contact_us')}}</router-link>
          </li>
        </ul>
        <p>Copyright ©2016 [{{this.LogoName}}] Powered By [JieMao] Version 1.0.0</p>
        <!-- <p>Porhon o1 this sonwate are included under hcense 2016-2216 Urytek, all right reserved.</p> -->
      </div>

      <div class="footer-firm fr clearfix">
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo5.png?VersionCode'" />
        </a>
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo1.png?VersionCode'" />
        </a>
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo4.png?VersionCode'" />
        </a>
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo3.png?VersionCode'" />
        </a>
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo2.png?VersionCode'" />
        </a>
        <a>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo6.png?VersionCode'" />
        </a>

        <!-- <a>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/frame/firm-logo7.png?VersionCode'"
          />
        </a>-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      LogoPath: localStorage.getItem('LogoImgPath'),
      LogoName: localStorage.getItem('LogoName')
    };
  }
};
</script>
