<template>
  <div>
    <div id="RequestAgentForm" class="alert_box_content rake_alert_box re_h agency-alert">
      <span class="alert_close" @click="CloseRequestAgentWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_become_agent')}}
        </h2>
        <p
          class="requestAgent-tipText"
        >{{$t('message.agency_player_name')}}：{{requestAgencyData.LoginID}}</p>
        <div class="record_query">
          <a
            class="cancle-searchBtn"
            :class="'cancle-searchBtn'+$MessageLang"
            href="javascript:void(0);"
            @click="refuseWindow()"
          >{{$t('message.member_refuse')}}</a>
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="RequestAgents()"
          >{{$t('message.agency_agree')}}</a>
        </div>
      </div>
    </div>
    <request-refuse :requestAgencyData="requestAgencyData"></request-refuse>
  </div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
// import AgencyCenterService from '@/mod/k04/assets/scripts/businessLogic/agencyCenterService.js';
// import EventBus from '@/assets/scripts/common/EventBus.js';
import RequestRefuse from '@/mod/k04/components/sub/agency/userList/requestrefuse.vue';

export default {
  data () {
    return {};
  },
  props: {
    requestName: '',
    requestID: '',
    requestAgencyData: {}
  },
  components: {
    RequestRefuse
  },
  methods: {
    // 開啟視窗
    RequestAgentOpenWindow: function () {
      CommUtility.WebShowAlertboxForm('RequestAgentForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseRequestAgentWindow: function () {
      CommUtility.WebClosealertboxForm('RequestAgentForm');
    }, // end CloseWindow
    // 打开提示窗口
    refuseWindow: function () {
      this.CloseRequestAgentWindow();
      RequestRefuse.methods.RefuseTipsOpenWindow();
    },
    RequestAgents () {
      // EventBus.$emit('loginIDName', this.requestAgencyData);
      const myrequestDate = JSON.stringify(this.requestAgencyData);
      localStorage.setItem('loginIDName', myrequestDate);
      this.$store.dispatch('setAgencyNameText', 'webSupervise');
      this.CloseRequestAgentWindow();
    }
  }
};
</script>
