.theme25 {

    /*真人视讯*/
    .live-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/layout/videoBg.jpg?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .live-content-banner {
            // display: none;
            height: 960px;

            video {
                display: none;
            }
        }

        .live-logo-page {
            width: 1035px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            // margin-top: 170px;
            margin-top: -781px;

            .live-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .live-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .live-logo-lists {
                font-size: 0;
                overflow: hidden;
                margin-top: 20px;

                li {
                    width: 320px;
                    height: 118px;
                    text-align: center;
                    display: block;
                    background: #575759;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(156, 112, 73, 0.76);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 118px;
                        line-height: 118px;
                        text-align: center;
                        display: block;
                        overflow: hidden;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .live-logo-footer {
                display: none;
            }
        }
    }

    /*真人视讯 end*/

    /*电子游戏*/
    .ele-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/ele/ele-bg.png?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 900px;
        margin-top: -25px;

        .ele-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .ele-logo-page {
            width: 1030px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 226px;
            margin-bottom: 150px;

            .ele-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .ele-logo-top {
                overflow: hidden;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .ele-logo-main {
                .ele-vendor-lists {
                    overflow: hidden;

                    .ele-vendor-li {
                        background: #c3c3c3;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        float: left;
                        width: 102px;
                        height: 47px;
                        text-align: center;
                        cursor: pointer;
                        border-radius: 3px;
                        cursor: pointer;
                        position: relative;

                        &:nth-child(9n) {
                            margin-right: 0;
                        }

                        img {
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            max-width: 100%;
                            margin-top: 7px;
                        }

                        &:hover,
                        &.on {
                            background: #f3c8a4;
                        }
                    }
                }

                .ele-search {
                    width: 264px;
                    height: 42px;
                    border: none;
                    float: right;
                    border: 1px solid #494a4a;

                    .ele-search-btn {
                        font-size: 0;
                        width: 17px;
                        height: 17px;
                        float: right;
                        margin-top: 13px;
                        margin-right: 6px;
                        background: url('@{ResourceCDNUrl}/web25/layout/h_24.png?VersionCode')no-repeat left center;
                        background-size: contain;
                    }

                    input {
                        width: 220px;
                        height: 40px;
                        line-height: 40px;
                        border: 0;
                        color: #777;
                        font-size: 16px;
                        padding: 0 10px;
                        background-color: transparent;
                        outline: none;

                        &::-webkit-input-placeholder,
                        &::-moz-placeholder,
                        &:-ms-input-placeholder {
                            font-size: 16px;
                            color: #494a4a;
                        }
                    }
                }

                .tip1 {
                    margin-left: 666px;
                }

                .ele-type-lists {
                    font-size: 16px;
                    color: #fff;
                    margin-top: 20px;

                    dt {
                        float: left;
                    }

                    dd {
                        float: left;
                        font-size: 16px;
                        color: #fcfbfb;
                        margin-bottom: 10px;

                        a {
                            float: left;
                            font-size: 16px;
                            color: #fcfbfb;
                            padding: 0 9px;
                        }

                        .gameUl-list-line {
                            border-right: 1px solid #fcfbfb;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        &.on,
                        &:hover {
                            a {
                                background: #ce3d1d;
                                color: #fff;
                                border-radius: 4px;
                                padding: 0 9px;
                            }
                        }
                    }
                }
            }

            .ele-logo-lists {
                margin-top: 30px;
                font-size: 14px;
                line-height: 26px;
                text-indent: 30px;
                vertical-align: top;

                .ele-logo-li {
                    display: block;
                    width: 227px;
                    position: relative;
                    overflow: hidden;
                    float: left;
                    margin-left: 30px;
                    margin-bottom: 30px;

                    a {
                        display: block;
                        text-align: center;
                        text-align: -webkit-center;
                        // background:rgba(217,223,227, .1);

                        b,
                        img {
                            transition: all 1s;
                            -moz-transition: all 1s;
                            -ms-transition: all 1s;
                            -webkit-transition: all 1s;
                            display: block;
                            height: 125px;
                        }

                        img {
                            width: auto;
                            height: 125px;
                            max-width: 100%;
                            margin: 0 auto;
                        }

                        b {
                            font-weight: normal;
                            width: 100%;
                            height: 38px;
                            line-height: 38px;
                            text-align: center;
                            font-size: 16px;
                            color: #363a4a;
                            background: #d9dfe3;
                            text-indent: 0;
                        }

                        i.shadow {
                            width: 100%;
                            height: 125px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            background: #000;
                            z-index: 1;
                        }

                        span {
                            display: block;
                            position: absolute;
                            left: 80px;
                            top: 30px;
                            opacity: 0;
                            width: 69px;
                            height: 46px;
                            opacity: 0;
                            z-index: 11;
                            background: url('@{ResourceCDNUrl}/web25/ele/game-btn.png')no-repeat;
                        }

                        em {
                            text-align: center;
                            font-size: 16px;
                            color: #fff;
                            position: absolute;
                            left: 52px;
                            top: 80px;
                            opacity: 0;
                            border-radius: 3px;
                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;
                            z-index: 1111;
                        }

                        &:hover {
                            i {
                                opacity: .7;
                            }

                            span {
                                opacity: 1;
                            }

                            em {
                                opacity: 1;
                            }
                        }
                    }

                    &:hover {
                        i.shadow {
                            opacity: .7;
                        }
                    }
                }

                li:nth-of-type(4n+1) {
                    margin-left: 0;
                }
            }

            .ele-logo-footer {
                display: none;
            }
        }

        .number-page {
            margin: 10px auto 0;
        }
    }

    /*电子游戏 end*/

    /*体育博彩*/
    .sport-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/sport/sport-bg.png?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .sport-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .sport-logo-page {
            width: 1030px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 223px;

            .sport-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .sport-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .sport-logo-lists {
                font-size: 0;
                overflow: hidden;
                margin-top: 20px;

                li {
                    width: 320px;
                    height: 118px;
                    text-align: center;
                    display: block;
                    background: #575759;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(156, 112, 73, 0.76);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 118px;
                        line-height: 118px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .sport-logo-footer {
                display: none;
            }
        }
    }

    /*体育博彩 end*/

    /*彩票投注*/
    .lottery-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/layout/lottery.jpg?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .lottery-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .lottery-logo-page {
            width: 1030px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 223px;

            .lottery-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .lottery-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .lottery-logo-lists {
                font-size: 0;
                overflow: hidden;
                margin-top: 20px;

                li {
                    width: 320px;
                    height: 118px;
                    text-align: center;
                    display: block;
                    background: #575759;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(156, 112, 73, 0.76);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 320px;
                        height: 118px;
                        line-height: 118px;
                        text-align: center;
                        display: block;
                    }

                    // img {
                    //     width: 100%;
                    //     height: auto;
                    //     vertical-align: middle;
                    // }
                }
            }

            .lottery-logo-footer {
                display: none;
            }
        }
    }

    /*彩票投注 end*/

    /*棋牌游戏*/
    .poker-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/poker/poker-bg.png?VersionCode1') no-repeat;
        background-position-y: 100px;
        background-size: 100% 100%;
        min-height: 960px;

        .poker-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .poker-logo-page {
            width: 1030px;
            height: auto;
            //      margin-left: 150px;
            padding: 60px 50px;
            overflow: hidden;
            //          margin: 0 auto;
            margin-left: 330px;
            margin-top: 360px;
            background:url('@{ResourceCDNUrl}/web25/poker/poker-logo-bg.png?VersionCode1') no-repeat;
            background-size: 100% 100%;
            min-height: 580px;
            box-sizing: border-box;

            .poker-logo-banner {
                display: none;
            }

            .poker-main-content {
                .poker-logo-banner {
                    display: none;

                    video {
                        display: none;
                    }
                }

                .poker-logo-top {
                    display: none;

                    h2 {
                        display: none;
                    }

                    p {
                        display: none;
                    }
                }

                .poker-logo-lists {
                    font-size: 0;
                    overflow: hidden;

                    li {
                        width: 294px;
                        height: 130px;
                        text-align: center;
                        display: block;
                        background: rgba(156, 112, 73, 0.1);
                        margin-left: 21px;
                        float: left;
                        margin-bottom: 20px;
                        cursor: pointer;
                        position: relative;
                        border: 1px solid #514c49;

                        &:hover {
                            background: rgba(156, 112, 73, 0.76);
                        }

                        &:nth-child(3n+1) {
                            margin-left: 0;
                        }

                        a {
                            width: 294px;
                            height: 130px;
                            line-height: 130px;
                            text-align: center;
                            display: block;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                }

                .poker-KingLong,
                .poker-reversal {
                    display: none;
                }

                .poker-logo-footer {
                    display: none;
                }
            }
        }
    }

    /*棋牌游戏 end*/

    /*新闻中心*/
    .news-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/layout/newsBg.jpg?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .news-content-banner {
            display: none;
        }

        .news-page {
            width: 1100px;
            margin: 0 auto;
            margin-top: 250px;

            .news-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .news-main {
                .news-title-box {
                    display: none;
                }

                .news-main-cont {
                    overflow: hidden;
                    position: relative;
                }

                .news-lists {
                    .news-li {
                        overflow: hidden;
                        clear: both;
                        margin-bottom: 1px;
                        background: rgba(232, 230, 227, 0.8);
                        cursor: pointer;
                        height: 180px;

                        .news-img {
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            float: left;
                            position: relative;

                            img {
                                height: 100%;
                                width: auto;
                                max-width: 100%;
                            }

                            &:after {
                                content: '';
                                display: none;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background:url('@{ResourceCDNUrl}/web25/layout/h_111.png?VersionCode') no-repeat center;
                                background-color: rgba(0, 0, 0, 0.6);
                            }
                        }

                        &:hover {
                            background-color: #8f8e8d;

                            .news-img:after {
                                display: block;
                            }
                        }

                        .an-news {
                            width: 620px;
                            margin-left: 30px;
                            float: left;
                            padding: 20px 0;

                            .an-news-title {
                                color: #333;
                                font-size: 20px;
                                cursor: pointer;
                            }

                            .an-news-text {
                                color: #666;
                                font-size: 16px;
                                margin-top: 15px;
                                line-height: 26px;
                                min-height: 70px;
                            }

                            .an-news-bottom {
                                margin-top: 10px;
                            }

                            .an-news-date {
                                color: #666;
                                margin-left: 6px;
                                font-size: 14px;
                                vertical-align: top;
                                display: inline-block;
                                float: left;
                            }

                            .an-news-btn {
                                color: #de9939;
                                vertical-align: top;
                                display: inline-block;
                                font-size: 14px;
                                margin-left: 30px;
                            }
                        }
                    }

                    .news-li.news-li-JumpPage {
                        display: none;
                    }

                    .news-li.news-li-ShowHide {
                        display: none;
                    }
                }
            }
        }
    }

    /*新闻弹窗*/
    .news-popup-main {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10002;

        .news-popup-bg {
            position: absolute;
            background: #000;
            filter: alpha(opacity=80);
            -moz-opacity: .8;
            -khtml-opacity: .8;
            opacity: .7;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .news-popup-content {
            width: 576px;
            height: 542px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            background: #fafafa;

            .news-close {
                width: 14px;
                height: 13px;
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                background: url('@{ResourceCDNUrl}/web25/layout/h_30.png?VersionCode') no-repeat;
                z-index: 10;
            }

            .news-popup-back {
                display: none;
            }

            .news-popup-page {
                position: relative;
                height: 500px;
                overflow: hidden;
                margin: 0 auto;
                text-align: left;
                padding: 20px 33px;
                margin-top: 10px;
                font-size: 16px;

                .news-popup-back {
                    display: none;
                }

                .news-popup-title {
                    font-size: 22px;
                    color: #464646;
                    font-weight: lighter;
                    margin-bottom: 11px;
                    word-break: break-all;
                }

                .news-popup-time {
                    font-size: 12px;
                    color: #abaaaa;
                    margin-bottom: 25px;
                }

                .news-popup-detail {
                    .detail-img {
                        display: none;
                    }

                    .detail-text {
                        p {
                            font-size: 14px;
                            color: #656565;
                            line-height: 27px;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }

    /*新闻弹窗 end*/
    /*新闻中心 end*/

    /*优惠活动*/
    .activity-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        // background:url('@{ResourceCDNUrl}/web25/layout/newsBg.jpg?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .activity-content-banner {
            display: none;
        }

        .activity-page {
            width: 1100px;
            margin: 0 auto;
            margin-top: 215px;
            overflow: hidden;

            .activity-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .activity-main-bg {
                .activity-title-box {
                    display: none;
                }

                .activity-main {
                    .activity-lists {
                        overflow: hidden;

                        .activity-li {
                            display: block;
                            float: left;
                            margin-right: 25px;
                            margin-top: 20px;
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            cursor: pointer;

                            .an-activity {
                                display: none;
                            }

                            img {
                                width: 100%;
                                height: 180px;
                                display: block;
                            }
                        }

                        li.activity-li-PopUp:nth-of-type(3n) {
                            margin-right: 0;
                        }

                        .activity-li.activity-li-JumpPage {
                            display: none;
                        }

                        .activity-li.activity-li-ShowHide {
                            display: none;
                        }
                    }
                }
            }

        }

        /*无优惠活动占位*/
        .no-activity {
            text-align: center;
        }

        .no-activity-img {
            width: 423px;
            height: 316px;
            background: url('@{ResourceCDNUrl}/web25/activity/404.png?VersionCode') no-repeat center;
            margin: 20px auto;
        }

        .no-activity span {
            display: block;
            width: 100%;
            font-size: 18px;
            color: #fff;
            text-align: center;
            letter-spacing: 6px;
        }

        /*无优惠活动占位 end*/
    }

    /*优惠活动弹窗*/
    .activity-popup-main {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10002;

        .activity-popup-bg {
            position: absolute;
            background: #000;
            filter: alpha(opacity=80);
            -moz-opacity: .8;
            -khtml-opacity: .8;
            opacity: .7;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .activity-popup-content {
            width: 576px;
            height: 570px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            background: #fafafa;

            .activity-close {
                width: 14px;
                height: 13px;
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                background: url('@{ResourceCDNUrl}/web25/layout/h_30.png?VersionCode') no-repeat;
                z-index: 10;
            }

            .activity-popup-back {
                display: none;
            }

            .activity-popup-page {
                position: relative;
                height: 500px;
                overflow: hidden;
                margin: 0 auto;
                text-align: left;
                padding: 20px 33px;
                margin-top: 30px;
                font-size: 16px;

                .activity-popup-title {
                    font-size: 22px;
                    color: #464646;
                    font-weight: lighter;
                    margin-bottom: 11px;
                    word-break: break-all;
                }

                .activity-popup-time {
                    font-size: 12px;
                    color: #abaaaa;
                    margin-bottom: 25px;
                }

                .activity-popup-detail {
                    .detail-img {
                        display: none;
                    }

                    .detail-text {
                        p {
                            font-size: 14px;
                            color: #656565;
                            line-height: 27px;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }

        .activity-btn-ShowHide {
            display: none;
        }

        .activity-btn {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            border-top: 1px solid #e1e1e1;
            padding: 15px 14px;
            color: #de9939;
            font-size: 14px;
            box-sizing: border-box;
        }
    }

    /*优惠活动弹窗 end*/
    /*优惠活动 end*/

    /*代理加盟*/
    /*代理加盟表格*/
    .join-content {
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        background:url('@{ResourceCDNUrl}/web25/join/join-bg.png?VersionCode') no-repeat;
        background-size: 100%;
        min-height: 960px;

        .join-content-banner {
            display: none;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .join-steps {
            display: none;
        }

        .join-page {
            width: 1200px;
            margin: 0 auto;
            margin-top: 85px;
            min-height: 1000px;
            padding: 50px 0;
            position: relative;
            overflow: hidden;

            .join-main-content {
                overflow: hidden;
                margin-top: 86px;

                .join-cont-title {
                    overflow: hidden;
                    width: 494px;
                    margin-left: 354px;

                    h2 {
                        font-family: 'PingFang Medium';
                        font-size: 24px;
                        color: #f2f2f2;
                        float: left;
                        ;

                        .desc {
                            display: none;
                        }
                    }

                    .join-return {
                        float: right;
                        font-size: 0;
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                        background:url('@{ResourceCDNUrl}/web25/layout/h_80.png?VersionCode') no-repeat;
                        background-size: 100%;
                    }

                    .detail {
                        display: none;
                    }
                }

                .join-main {
                    padding: 10px 230px 100px 230px;

                    .join-main-title {
                        display: none;

                        h3 {
                            display: none;
                        }

                        .detail {
                            display: none;
                        }
                    }

                    .join-main-cont {}

                    .webmaster-main-title {
                        margin-bottom: 50px;
                        width: 502px;
                        margin-left: 118px;

                        h3 {
                            font-family: 'PingFang Medium';
                            padding-bottom: 10px;
                            border-bottom: 1px solid #3f4040;
                            font-size: 0;
                            color: #f2f2f2;
                            float: left;
                            margin-bottom: 9px;
                            width: 100%;

                            span,
                            i {
                                font-size: 24px;
                            }

                            .colon {
                                display: none;
                            }
                        }

                        .desc {
                            display: none;
                        }

                        .detail {
                            font-size: 16px;
                            color: #666;

                            b {
                                color: #929292;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    /*代理加盟表格 end*/
    /*代理加盟 end*/

    /*联系我们*/
    .contact-content {
        min-height: 800px;
        background:url('@{ResourceCDNUrl}/web25/contact/contact-bg.png?VersionCode') no-repeat;
        background-size: 100%;

        .join-page {
            min-height: 700px;
            padding-top: 45px;
        }

        .type.proxy-com {
            .down {
                width: 496px;
            }
        }
    }

    /*联系我们 end*/

    /*厂商介绍*/
    .partner-content-banner {
        display: none;

        video {
            display: none;
        }

        .index-content {
            display: none;
        }
    }

    .partner-content {
        width: 100%;
        height: 1200px;
        background: url('@{ResourceCDNUrl}/web25/partner/partner_bg.png?VersionCode') no-repeat 50%;
        background-size: cover;
    }

    /*厂商介绍 end*/

    /*关于我们*/
    .about-content {
        display: none;
    }

    .general-about-content {
        display: block;
        position: relative;
        width: 1920px;
        left: 50%;
        margin-left: -960px;
        height: auto;
        overflow: hidden;
        background:url('@{ResourceCDNUrl}/web25/layout/aboutBg.jpg?VersionCode') no-repeat;
        background-size: 100% 100%;
        min-height: 960px;

        .about-banner-video {
            display: none;
        }

        .float_model {
            display: none;
        }

        .general-about-layout {
            width: 1100px;
            margin: 0 auto;
            background: rgba(0, 0, 0, 0.63);
            margin-top: 190px;
            overflow: hidden;
        }

        .about-float-outboxTit {
            font-family: 'PingFang Regular';
            background-repeat: no-repeat;
            font-size: 18px;
            color: #bbbbbb;
            padding-bottom: 14px;
            font-weight: lighter;
            border-bottom: 1px solid rgba(225, 225, 225, 0.11);
            margin: 14px 18px 30px 18px;

            span {
                display: none
            }
        }

        .about-float {
            margin-bottom: 30px;
            padding: 0px 40px;

            .about-img {
                display: none;
            }

            .about-main-center {
                .about-text {
                    .about-title {
                        font-family: 'PingFang Medium';
                        font-size: 16px;
                        color: #fff;
                        margin-bottom: 9px;
                        font-weight: 700;

                        .desc {
                            display: none;
                        }
                    }

                    .text {
                        font-size: 14px;
                        color: #cccccc;
                        line-height: 23px;
                        font-family: 'PingFang Regular';
                    }
                }
            }
        }

        .about-list-outImg {
            display: none;
        }

        .about-list-block {
            .about-title {
                font-family: 'PingFang Medium';
                font-size: 16px;
                color: #fff;
                margin-bottom: 9px;
                font-weight: 700;

                .desc {
                    display: none;
                }
            }

            .about-list {
                font-family: 'PingFang Regular';
                height: auto;
                overflow: hidden;
                margin-top: 20px;
                font-size: 0;

                li {
                    width: 140px;
                    height: auto;
                    margin-left: 80px;
                    display: inline-block;
                    margin-bottom: 30px;

                    &.first-li {
                        margin-left: 0;
                    }

                    .about-list-img {
                        width: 34px;
                        height: 34px;
                        display: block;
                        margin: auto;
                    }

                    p {
                        font-family: 'PingFang Regular';
                        color: #ccc;
                        text-align: center;
                        margin-top: 6px;
                    }

                    p.p_1 {
                        font-weight: bold;
                        font-size: 14px;
                    }

                    p.p_2 {
                        font-size: 12px;
                    }

                    .num {
                        display: none;
                    }
                }

                li:nth-child(1) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason1.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(2) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason2.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(3) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason3.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(4) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason4.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(5) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason5.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(6) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason6.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(7) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason7.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(8) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason8.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(9) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason9.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }

                li:nth-child(10) {
                    .about-list-img {
                        background: url('@{ResourceCDNUrl}/web25/about/icon_reason10.png?VersionCode') no-repeat center;
                        background-size: contain;
                    }
                }
            }
        }
    }

    .live-logo-lists-bg,
    .ele-logo-page,
    .sport-logo-page,
    .lottery-logo-page {
        width: 1030px;
        height: auto;
        padding: 10px 15px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 50px;
        background: url('@{ResourceCDNUrl}/web25/poker/poker-logo-bg.png?VersionCode1') no-repeat;
        background-size: 100% 100%;
        min-height: 580px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*关于我们 end*/

    //棋牌游戏进入游戏弹出的游戏列表
    .playMyGame-content {
        width: 1259px;
        margin: 0 auto;
        padding-top: 10px;

        .ele-logo-lists {
            margin-top: 30px;
            font-size: 14px;
            line-height: 26px;
            text-indent: 30px;
            vertical-align: top;

            .ele-logo-li {
                display: block;
                width: 227px;
                position: relative;
                overflow: hidden;
                float: left;
                margin-left: 30px;
                margin-bottom: 30px;

                a {
                    display: block;
                    text-align: center;
                    text-align: -webkit-center;
                    // background:rgba(217,223,227, .1);

                    b,
                    img {
                        transition: all 1s;
                        -moz-transition: all 1s;
                        -ms-transition: all 1s;
                        -webkit-transition: all 1s;
                        display: block;
                        height: 125px;
                    }

                    img {
                        width: auto;
                        height: 125px;
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    b {
                        font-weight: normal;
                        width: 100%;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        font-size: 16px;
                        color: #363a4a;
                        background: #d9dfe3;
                        text-indent: 0;
                    }

                    i.shadow {
                        width: 100%;
                        height: 125px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        background: #000;
                        z-index: 1;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: 80px;
                        top: 30px;
                        opacity: 0;
                        width: 69px;
                        height: 46px;
                        opacity: 0;
                        z-index: 11;
                        background: url('@{ResourceCDNUrl}/web25/ele/game-btn.png')no-repeat;
                    }

                    em {
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        position: absolute;
                        left: 52px;
                        top: 80px;
                        opacity: 0;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        z-index: 1111;
                    }

                    &:hover {
                        i {
                            opacity: .7;
                        }

                        span {
                            opacity: 1;
                        }

                        em {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    i.shadow {
                        opacity: .7;
                    }
                }
            }

            li:nth-of-type(5n+1) {
                margin-left: 0;
            }
        }
    }

}
