<template>
  <div>
    <!-- general tamplate -->
    <div class="about-content general-about-content">
      <div class="general-about-banner">
        <video
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/aboutUs.mp4'"
          class="sy15-about-video about-banner-video"
          autoplay="autoplay"
          width="100%"
          loop="loop"
          muted
        ></video>
      </div>
      <div class="general-about-layout">
        <div class="float_model slider_at">
          <div class="title"></div>
          <div class="float_man feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float1.png'" />
            </div>
          </div>
          <div class="float_card1 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float2.png'" />
            </div>
          </div>
          <div class="float_card2 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float3.png'" />
            </div>
          </div>
          <div class="float_card3 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float4.png'" />
            </div>
          </div>
        </div>
        <section class="general-about-main">
          <section class="about-float-outbox">
            <h2 class="about-float-outboxTit">
              <p>{{$t('message.foot_about_us')}}</p>
              <span>ABOUT US</span>
            </h2>
            <div class="about-float clearfix">
              <div class="about-img fl"></div>
              <div class="about-main-center">
                <div class="about-text">
                  <!-- <dl class="about-title">
                    <dt class="desc">ALLIANCE ENTERTAINMENT</dt>
                    <dd>
                      <span>{{this.LogoName}}</span>
                    </dd>
                  </dl>-->
                  <p
                    class="text"
                    style="text-indent: 30px;margin-bottom: 13px;"
                  >{{$t('message.abouts_casino')}}</p>
                  <p
                    class="text"
                    style="text-indent: 30px;margin-bottom: 13px;"
                  >{{$t('message.abouts_legal')}}</p>
                  <p
                    class="text"
                    style="text-indent: 30px;margin-bottom: 13px;"
                  >{{$t('message.abouts_text1')}}</p>
                  <p class="text" style="text-indent: 30px;">{{$t('message.abouts_text2')}}</p>
                </div>
              </div>
            </div>
            <div class="about-float clearfix">
              <div class="about-img fr"></div>
              <div class="about-main-center">
                <div class="about-text">
                  <dl class="about-title">
                    <dt class="desc">FAIR GAME</dt>
                    <dd>
                      <span>{{$t('message.abouts_fair')}} {{$t('message.member_recreation')}}</span>
                    </dd>
                  </dl>
                  <p class="text">{{this.LogoName}}{{$t('message.abouts_secrecy')}}</p>
                </div>
              </div>
            </div>
          </section>
          <div class="about-float clearfix about-list-float">
            <div class="about-list-block">
              <dl class="about-title">
                <dt class="desc">Ten reasons to choose us securely</dt>
                <dd>
                  <span>{{$t('message.abouts_choose_us')}}</span>
                  <i>{{$t('message.abouts_ten_reason')}}</i>
                </dd>
              </dl>
              <div class="about-list-outImg"></div>
              <ul class="about-list">
                <li class="first-li">
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_authority')}}</p>
                  <p class="p_2">
                    <span class="num">一、</span>
                    {{$t('message.abouts_platform')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_lean_forward')}}</p>
                  <p class="p_2">
                    <span class="num">二、</span>
                    {{$t('message.abouts_ranking')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_security')}}</p>
                  <p class="p_2">
                    <span class="num">三、</span>
                    {{$t('message.abouts_capital')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_free')}}</p>
                  <p class="p_2">
                    <span class="num">四、</span>
                    {{$t('message.abouts_draw')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_awesome')}}</p>
                  <p class="p_2">
                    <span class="num">五、</span>
                    {{$t('message.abouts_activity')}}
                  </p>
                </li>
                <li class="first-li">
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_ensure')}}</p>
                  <p class="p_2">
                    <span class="num">六、</span>
                    {{$t('message.abouts_enough_security')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_intimate')}}</p>
                  <p class="p_2">
                    <span class="num">七、</span>
                    {{$t('message.abouts_service')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_supreme')}}</p>
                  <p class="p_2">
                    <span class="num">八、</span>
                    {{$t('message.abouts_vip')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_simple')}}</p>
                  <p class="p_2">
                    <span class="num">九、</span>
                    {{$t('message.abouts_operation')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_legitimate')}}</p>
                  <p class="p_2">
                    <span class="num">十、</span>
                    {{$t('message.abouts_business')}}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      LogoName: localStorage.getItem("LogoName")
    }
  }
}
</script>
