.activity-lists {
    overflow: initial;

    .activity-li,
    .activity-li-PopUp {
        display: block;
        float: left;
        margin: 0 0 13px 13px;
        position: relative;
        width: 350px;
        height: 250px;

        &>a {
            display: inline-block;
            transition: all .3s ease-in-out;
            width: 350px;
            height: 250px;
            font-size: 0
        }

        img {
            border-radius: 10px 10px 0 0;
            width: 350px;
            height: 180px;
        }

        .an-activity {
            height: 70px;
            border-radius: 0 0 10px 10px;
            padding-left: 20px;
            margin-top: 0px;
            background: rgba(72, 80, 109, 1);
            display: block;
            text-align: left;

            .an-activity-btn {
                display: none;
            }

            .an-activity-title {
                padding-top: 20px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 16px;
            }

            .an-activity-date {
                font-size: 12px;
            }
        }

        .activity-li-mask {
            box-shadow: 3px 5px 5px 0 grey;
            opacity: 0;
            text-align: center;
            position: absolute;
            top: 22px;
            transition: all .3s ease-in-out;
            cursor: pointer;
            border-radius: 10px;
            width: 350px;
            height: 217px;
        }

        &.activity-expect {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 10px;
            background: #b4b4b4;
            color: #fff;

            p {
                font-size: 24px;
            }

            span {
                font-size: 12px;
            }
        }

        &:hover {
            a {
                margin-top: -10px;
            }

            .activity-li-mask {
                opacity: 1
            }
        }
    }
}
