<!--香港樂透-->
<div class="course item4">
  <div class="l_box">
    <h2><img src="/static/images/web/lotteryBetting/lottery_t5.png?VersionCode" /></h2>
    <p>香港乐透是以香港赛马会官方开奖号码为准的游戏，共有15 种玩法，分别为：特码号、特码大小、特码单双、特码合单合双、特码色波、特码生肖、半波、正码、正码大小、正码单双、正码色波、总和大小、总和单双、一肖、尾数。</p>
  </div>

  <h2 class="l_t2"><img src="/static/images/web/lotteryBetting/lottery_HK.png?VersionCode" /></h2>
</div>
<div class="preferential_list item4">
  <h3>第一步  <span>THE FIRST STEP</span></h3>
  <p>
    <span>选择模式</span>
    </br>
    <span>键入模式：先选玩法再设置投注额</span>
    </br>
    <span>点击模式：先设置投注额再选玩法</span>
  </p>
  <img src="/static/images/web/lotteryBetting/order-HK-1.png?VersionCode" />

  <h3>第二步  <span>THE SECOND STEP</span></h3>
  <p>
    <span>选择要投注项目，并在投注项填上金额</span>
    </br>
    <span>游戏项目有：特码号、特码大小/单双、特码合单合双、特码色波/生肖、半波、正码号、正码大小/单双、正码色波、总和大小/单双、一肖/尾数</span>
  </p>
  <img src="/static/images/web/lotteryBetting/order-HK-2.png?VersionCode" />

  <h3>第三步  <span>THE THIRD STEP</span></h3>
  <p>点击加到注单</p>
  <img src="/static/images/web/lotteryBetting/order-HK-3.png?VersionCode" />

  <h3>第四步  <span>THE THIRD STEP</span></h3>
  <p>点击确定，投注成功</p>
  <img src="/static/images/web/lotteryBetting/order-HK-4.png?VersionCode" />
</div>
