<!--快樂彩-->
<div class="course item1">
  <div class="l_box">
    <h2><img src="/static/images/web/lotteryBetting/lottery_t1.png?VersionCode" /></h2>
    <p>KENO（基诺），一般称为“快乐彩”，玩法起源于中国。起初，人们用80个汉字来玩基诺游戏，而在美国，这些汉字则由80个阿拉伯数字所代替。KENO名字源于拉丁文和法语的词根，大意是选中5个就可以获奖。现在世界上多个国家和地区发行KENO游戏，它已经成为一种流行的数字游戏。普通的官方玩法通常从1-80数字中随机摇出20个数字作为开奖号码，然后根据选中号码的个数获得不同等级的奖金。</p>
  </div>

  <h2 class="l_t2"><img src="/static/images/web/lotteryBetting/lottery_t2.png?VersionCode" /></h2>
</div>
<div class="preferential_list item1">
  <h3>第一步   <span>THE FIRST STEP</span></h3>
  <p>1至80的号码中随机摇出20个号相加总和作为开奖结果</p>
  <img src="/static/images/web/lotteryBetting/order-KENO-1.png?VersionCode" />

  <h3>第二步  <span>THE SECOND STEP</span></h3>
  <p>选择投注筹码</p>
  <img src="/static/images/web/lotteryBetting/order-KENO-2.png?VersionCode" />

  <h3>第三步  <span>THE THIRD STEP</span></h3>
  <p>点击选择投注方式：1. 升跌指数   2. 大小/单双   3. 奇和偶   4. 上中下   5. 五行   6. 珠仔   7. 大小单双过关   8. 混合过关</p>
  <img src="/static/images/web/lotteryBetting/order-KENO-3.png?VersionCode" />

  <h3>第四步  <span>THE FOURTH STEP</span></h3>
  <p>点击确定，投注成功</p>
  <img src="/static/images/web/lotteryBetting/order-KENO-4.png?VersionCode" />
</div>

