<template>
  <div class="join-content contact-content" :class="'contact_content_' + $MessageLang">
    <div class="contact-banner"></div>
    <div class="join-page">
      <div class="join-page-transition contact-page-transition">
        <div class="join-main-bg">
          <div class="join-main-content">
            <section class="join-cont-title">
              <h2>
                <p class="txt">{{ $t("message.foot_contact_us") }}</p>
                <p class="desc">Contact Us</p>
              </h2>
              <router-link :to="{ name: 'Index' }" class="join-return">{{ $t("message.activity_return") }}</router-link>
            </section>
            <div class="join-main" id="contactUsForm" name="contactUsForm">
              <div class="join-main-cont">
                <div class="a-j-lists">
                  <section class="a-j-left">
                    <div class="proxy-com member-name" v-if="LoginStatus == true">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="txt">{{ $t("message.index_member") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <a href="javascript:void(0);" class="name">{{ Account }}</a>
                      </div>
                    </div>
                    <div class="proxy-com" v-if="LoginStatus == false">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="txt">{{ $t("message.member_full_name") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <input
                          type="text"
                          v-model.trim="PostDataModel.ContactUs.Name"
                          name="Name"
                          v-validate="{ rules: { regex: Reg.NickName } }"
                          :placeholder="$t('message.agent_authentic')"
                        />
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('Name') && fields.Name.touched">
                        {{ $t("message.agent_blank_space") }}
                      </p>
                    </div>
                    <div class="proxy-com" v-if="LoginStatus == false">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="txt">{{ $t("message.reg_mobile_number") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <input
                          type="text"
                          v-model="PostDataModel.ContactUs.PhoneNo"
                          name="PhoneNo"
                          v-validate="{ rules: { regex: Reg.PhoneNo } }"
                          :placeholder="$t('message.agent_input_mobilePhone')"
                        />
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('PhoneNo') && fields.PhoneNo.touched">
                        {{ $t("message.agent_legal_mobilePhone") }}
                      </p>
                    </div>
                    <div class="proxy-com" v-if="LoginStatus == false">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="asterisk">*</b>
                          <b class="txt">{{ $t("message.member_mailbox") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <input
                          type="text"
                          v-model="PostDataModel.Email"
                          name="Email"
                          v-validate="{ rules: { lamborEmail: true, required: true } }"
                          :placeholder="$t('message.member_enter_mailbox')"
                          required
                        />
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('Email') && fields.Email.touched">
                        {{ $t("message.member_minus_sign") }}
                      </p>
                    </div>
                    <div class="proxy-com" v-if="LoginStatus == false">
                      <div class="proxy-line">
                        <span class="title">
                          QQ
                          <b class="colon">:</b>
                        </span>
                        <input
                          type="text"
                          v-model="PostDataModel.ContactUs.QQAcct"
                          name="QQAcct"
                          v-validate="{ rules: { regex: Reg.QQID } }"
                          :placeholder="$t('message.agent_QQ')"
                        />
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('QQAcct') && fields.QQAcct.touched">
                        {{ $t("message.agent_digits") }}
                      </p>
                    </div>
                    <div class="proxy-com type">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="asterisk">*</b>
                          <b class="txt">{{ $t("message.member_type") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <div class="a-j-input clearfix">
                          <div class="a-j-input1">
                            <div class="down first_down">
                              <div class="d_course" v-on:click="ShowDropDown('TypeBox')">
                                {{ PostDataModel.ContactUs.Type.Name }}
                              </div>
                              <i class="a-j-downimg"></i>
                              <div
                                class="down_box TypeBox"
                                style="overflow: scroll; max-height: 165px; overflow-x: hidden; overflow-y: auto;"
                              >
                                <a class="down_list" v-for="Type in TypeList" v-on:click="ChangeType(Type)">{{
                                  Type.Name
                                }}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="tip1 qc-tip" v-show="TypeErrorFlag == true">
                          {{ $t("message.member_selection_type") }}
                        </p>
                      </div>
                    </div>
                    <div class="proxy-com">
                      <div class="proxy-line">
                        <span class="title">
                          <b class="asterisk">*</b>
                          <b class="txt">{{ $t("message.member_news") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <textarea
                          :placeholder="$t('message.member_please_enter')"
                          style="resize: none;"
                          v-model.trim="PostDataModel.ContactUs.Content"
                          name="Content"
                          v-validate="{ rules: { regex: Reg.Content, required: true } }"
                        ></textarea>
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('Content') && fields.Content.touched">
                        {{ $t("message.agent_word_limit") }}
                      </p>
                    </div>
                    <div class="proxy-com">
                      <div class="proxy-line code">
                        <span class="title">
                          <b class="asterisk">*</b>
                          <b class="txt">{{ $t("message.reg_identifying_code") }}</b>
                          <b class="colon">:</b>
                        </span>
                        <input
                          type="text"
                          :placeholder="$t('message.agent_caps_look')"
                          name="AuthCode"
                          v-model="PostDataModel.VCode"
                          v-validate="{ rules: { regex: Reg.VCode, required: true } }"
                        />
                        <img
                          v-if="AuthImg == ''"
                          style="height: 40px;"
                          :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web/member/ajax-loader.gif?VersionCode'"
                        />
                        <img v-else v-bind:src="AuthImg" v-on:click="GetAuthCode()" :onerror="defaultImg" />
                        <!-- <img v-bind:src="AuthImg" /> -->
                      </div>
                      <p class="tip1 qc-tip" v-show="errors.has('AuthCode') && fields.AuthCode.touched">
                        {{ $t("message.agent_code_error") }}
                      </p>
                    </div>
                  </section>
                </div>
                <a class="a-j-submit" id="contact_btn" @click="Submit()">{{ $t("message.agent_submission") }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <contact-us-confirm-form :PostDataModel="PostDataModel" :LoginStatus="LoginStatus"></contact-us-confirm-form>
  </div>
</template>

<style lang="less" scoped>
.contact_content_en,
.contact_content_vi {
  .a-j-lists .a-j-left {
    width: 70% !important;

    .proxy-com .proxy-line {
      width: 700px !important;

      .title {
        width: 180px !important;
      }
    }
  }
}
</style>

<script>
import { ContactUsForm } from "@/mod/k19/assets/scripts/comTest/main/contactUs/contactUsForm.js"
export default {
  mixins: [ContactUsForm]
}
</script>
