.theme60 {
    .tutorial_cont {
        // height: 1700px;

        .ps-container .ps-scrollbar-y-rail {
            background: rgba(30, 38, 67, .5);
        }

        .ps-container .ps-scrollbar-y {
            background-color: #00a0e9;
        }
    }

    .tutorial-content {
        min-height: 900px;
        overflow: hidden;
    }

    .tutorial_cont .banner {
        position: relative;
        width: 100%;
        height: 540px;
        min-width: 1200px;
        font-size: 0;
        text-align: center;
    }

    .tutorial_cont .banner video {
        display: none;
    }

    .banner_ul {
        display: none;
    }

    .tutorial-main {
        position: relative;
        width: 1148px;
        height: 744px;
        margin: 20px auto 0;
        // overflow: hidden;
    }

    .tutorial-main>div {
        overflow: hidden;
    }

    .tutorial-navs {
        width: 197px;
        margin: 10px auto 0;
        display: flex;
        justify-content: space-between;
    }

    .tutorial-navs li.on,
    .tutorial-navs li:hover {
        background-size: 100% 100%;
    }

    .tutorial-navs>li {
        width: 197px;
        height: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
    }

    .tutorial_left_navs {
        overflow: hidden;
        width: 850px;
        margin: 20px auto 0;
        text-align: center;
        font-size: 0;
    }

    .tutorial_left_navs i {
        display: none !important;
    }

    .tutorial_left_navs li {
        // float: left;
        margin-left: 1px;
        font-size: 16px;
        border: none;
        color: #cbc7d9;
        width: 140px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        vertical-align: top;
        display: inline-block;
    }

    .tutorial_left_navs li:hover,
    .tutorial_left_navs li.on {
        color: #cbc7d9;
        border: none;
        background-size: 100% 100%;
    }

    .tutorial_left_navs li a {
        display: block;
        color: #cbc7d9;
    }

    .tutorial_left_navs li:hover a,
    .tutorial_left_navs li.on a {
        color: #cbc7d9;
    }

    .tutorial_left_navs li a i {
        width: 40px;
        height: 39px;
        display: block;
        float: left;
        margin: 8px 18px 0 50px;
    }

    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }

    .tutorial-inside {
        float: left;
        width: 1030px;
        height: 570px;
        padding: 0 50px;
        margin-top: 30px;
    }

    .tutorial-inside .tutorial-box {
        width: 100%;
    }

    .tutorial-inside .tutorial-box h2 {
        width: 100%;
        height: 38px;
    }

    .tutorial-inside .tutorial-box h2 span {
        color: #a6acff;
        font-size: 18px;
        padding-left: 18px;
        font-style: italic;
    }

    .tutorial-inside .tutorial-text h3 {
        font-size: 16px;
        color: #548fd6;
        margin-bottom: 7px;
    }

    .tutorial-inside .tutorial-text p {
        padding-left: 5px;
        font-size: 14px;
        line-height: 22px;
        color: #c8cede;
    }

    .tutorial-inside .tutorial-text {
        padding-bottom: 15px;
        border-bottom: 1px solid #9a9a9a;
        margin: 30px 0;
    }

    .tutorial-text span {
        display: none;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text {
        border-bottom: none;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text p,
    .tutorial-gamerule .gamerule-box .gamerule-text h3 {
        color: #77779b;
    }

    .tutorial-gamerule .gamerule-box .gamerule-text img {
        margin: 30px 0;
    }

    .tutorial-problem .tutorial_left_navs li a i {
        width: 42px;
        height: 41px;
    }

    .tutorial_tit_el {
        display: none;
    }

    .tutorial-navs .tutorial_tit a {
        color: #fff;
    }

    .tutorial_tit {
        font-size: 0;

        span,
        i {
            font-size: 18px;
        }
    }

    // 遮罩
    .tutorialShade {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }

    // 游戏规则
    .GameRules_title {
        text-align: center;
        color: #b4c4d8;
    }

    .GameRules_title_el {
        text-align: center;
        color: #b4c4d8;
        margin-top: 15px;
        font-size: 14px;
    }

    .GameRules_center_p {
        width: 730px;
        font-size: 14px;
        color: #b4c4d8;
        margin: auto;
        line-height: 28px;
        margin-top: 20px;
        text-align: center;
    }

    .GameRules_mt25 {
        margin-top: 25px;
    }

    .GameRules_guide {
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: #7494d4;
        overflow: hidden;
    }

    .GameRules_guide>span {
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: #232a3a;
        border-right: 1px dashed #2b3154;
    }

    .GameRules_guide_cont {
        font-size: 14px;
        color: #232a3a;
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center
    }

    .GameRules_smoll_p {
        color: #fff;
        margin-left: 158px;
        margin-top: 20px;
    }

    .GameRules_ty_p {
        color: #596fa4;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #bfd0e3;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .GameRules_center_img {
        display: block;
        margin: 20px auto 0;
    }

    .GameRules_table {
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
    }

    .GameRules_table li {
        height: 70px;
        line-height: 70px;
        background: #6385a9;
        border-bottom: 2px solid #597796;
        border-right: 2px solid #597796;
        font-size: 14px;
        color: #fff;
        text-align: center;
        overflow: hidden;
    }

    .GameRules_table_faseli {
        height: 48px !important;
        line-height: 48px !important;
        background: #466d94 !important;
    }

    .GameRules_table_faseli p {
        line-height: 23px !important;
    }

    .GameRules_table_ul1 {
        float: left;
        width: 120px;
    }

    .bigwidth {
        width: 350px !important;
    }

    .GameRules_li_p {
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }

    .width358 {
        width: 358px;
    }

    .GameRules_no_center {
        text-align: left;
        margin-left: 150px;
        margin-top: 0;
    }

    .GameRules_ml200 {
        margin-left: 200px;
    }

    .GameRules_nomt {
        margin-top: 0;
    }

    .tutorial-maxWadth {
        width: 850px !important;
    }

    .tutorial_abslut_ul {
        position: absolute;
        z-index: 9;
    }

    .tutorial_abslut_ul>li {
        float: none;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 16px;
        border: none;
        color: #cbc7d9;
        width: 140px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        vertical-align: top;
    }

    .tutorial_abslut_1 {
        top: 75px;
        left: 713px;
    }

    .tutorial_abslut_2 {
        top: 75px;
        left: 572px;
    }

    .BettingSkills_no {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }

    .BettingSkills_on {
        transition: 0.3s;
        height: auto;
    }

    .bettingSkill_box {
        overflow: hidden;
    }

    .bettingSkill_box img {
        margin-top: 20px;
    }

    .bettingSkill_box p {
        overflow: hidden;
    }

    .bettingSkill_box p>span:nth-child(1) {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #a48db0;
    }

    .bettingSkill_box p>span:nth-child(2) {
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #65556d;
    }

    .bettingSkill_cp {
        line-height: 26px;
        font-size: 14px;
        color: #c8cede
    }

    .sportsSkill_chren {
        margin-left: 1px;

    }

    .sportsSkill_chren>li {
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background-size: 100% 100%;
    }

    .sportsSkillChren1on {
        color: yellow !important;
    }

    .sportsSkill_chren_01>p {
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .sonname,
    .grandsonname {
        display: none
    }

    .sonname>li,
    .grandsonname>li {
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background-size: 100% 100%;
    }

    .sportsSkill_jsonp {
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #c8cede;
    }

    // 背景替换img
    .tutorialPic_1 {
        width: 690px;
        height: 354px;
    }

    .tutorialPic_2 {
        width: 690px;
        height: 352px;
    }

    .tutorialPic_3 {
        width: 690px;
        height: 360px;
    }

    .tutorialPic_4 {
        width: 673px;
        height: 360px;
    }

    .tutorialPuke_1 {
        width: 428px;
        height: 69px;
    }

    .tutorialPuke_2 {
        width: 211px;
        height: 69px;
    }

    .tutorialPuke_3 {
        width: 211px;
        height: 69px;
    }

    .tutorialPuke_4 {
        width: 351px;
        height: 257px;
    }

    .tutorialRule_img_1 {
        width: 602px;
        height: 914px;
    }

    .tutorialRule_img_2 {
        width: 602px;
        height: 410px;
    }

    .tutorialRule_img_3 {
        width: 740px;
        height: 268px;
    }

    .tutorialRule_img_4 {
        width: 740px;
        height: 415px;
    }

    .tutorialRule_img_5 {
        width: 740px;
        height: 491px;
    }

    .tutorialRule_img_6 {
        width: 740px;
        height: 195px;
    }

    .cp_down,
    .sp_down {
        // float: left;
    }

}
