<template>
  <div>
    <!--厂商介绍-->
    <div class="partner-content" :class="'partner_' + $MessageLang">
      <div class="partner-content-banner ng-scope">
        <!--<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/Animation/partner.mp4'" autoplay="autoplay" width="1900" loop="loop" muted></video>-->
        <div class="index-content">
          <img src alt class="figure-img" />
          <img src alt class="text-img" />
          <div class="enter-btn">
            <a class="txt">{{ $t("message.understanding_details") }}</a>
          </div>
        </div>
      </div>
      <div class="partner-page"></div>
    </div>
  </div>
</template>

<script>
import { PartnerOwn } from "@/mod/k19/assets/scripts/comTest/main/partner/partnerOwn.js"
export default {
  mixins: [PartnerOwn]
}
</script>
