.theme23{
    .tutorial_cont{
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 969px;
        background-size: cover!important;
    }
    .tutorial-content{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 1032px;
        height: 0px;
        background: rgba(15, 18, 25, 0.8);
        border: 1px solid hsla(0, 0%, 100%, 0.47);
    }
    .tutorial_cont .banner{
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover!important;
    }
    .tutorial_cont .banner::after{
        display: block;
        position: absolute;
        content: '';
        top: 194px;
        left: 37%;
        width: 443px;
        height: 108px;
    }
    .tutorialbox{
        width: 100%;
        height: 100%;
        left: 100%;
        position: absolute;
        background-size: cover!important;
    }
    .banner_ul{
        font-size: 24px;
        width: 235px;
        height: 495px;
        position: absolute;
        right: 433px;
        bottom: 20%;
        perspective: 150;
        -webkit-perspective: 150;
    }
    .banner_ul li{
        text-align: center;
        font-size: 24px;
        color: #0e0e15;
        position: absolute;
        cursor: pointer;
    }
    .banner_ul li:nth-child(1){
        width: 162px;
        height: 50px;
        line-height: 50px;
        top: 21px;
        left: 8px;
        transform: rotateX(-4deg);
        -moz-transform: rotateX(-4deg);
        -ms-transform: rotateX(-4deg);
        -o-transform: rotateX(-4deg);
        -webkit-transform: rotateX(-4deg);
    }
    .banner_ul li:nth-child(2){
        font-size: 28px;
        width: 169px;
        height: 66px;
        line-height: 66px;
        top: 87px;
        left: 59px;
        transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -webkit-transform: rotateX(10deg);
    }
    .banner_ul li:nth-child(3){
        width: 131px;
        height: 62px;
        line-height: 56px;
        top: 166px;
        left: 48px;
        transform: rotateY(41deg);
        -moz-transform: rotateX(41deg);
        -ms-transform: rotateX(41deg);
        -o-transform: rotateX(41deg);
        -webkit-transform: rotateY(41deg);
    }
    .tutorial_cont .banner video{
        display: none;
    }
    .tutorial_noMT{
        margin-top: 0px !important;
    }
    .tutorial-main>div{
        overflow: hidden;
    }
    
    .tutorial-navs{
        width: 890px;
        padding-bottom: 6px;
//      border-bottom: 1px solid #304452;
        margin: 20px auto;
        overflow: hidden;
    }
    
    .tutorial-navs li.on, .tutorial-navs>li:hover {
        border: 1px solid #e95730;
        color: #fea591;
        background: #231c20;
    }
    .tutorial-navs>li {
        width: 110px;
        height: 25px;
        float: left;
        margin-right: 9px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #a6cddc;
        color: #a6cddc;
        font-size: 14px;
        background:#111a24;
        cursor: pointer;
    }
    .tutorial-navs ul{
        position: absolute;
        width: 110px;
        left: -1px;
        top: 47px;
        z-index: 100;
        text-align: center;
        border: 1px solid #35424e;
        background: rgba(28,38,56,.5);
        padding: 10px 0;
        color: #a6cddc;
        line-height: 35px;
        font-size: 14px;
    }
    .tutorial-pull-down1{
        left: 71px !important;
    }
    .tutorial-pull-down2{
        left: 192px !important;
    }
    .tutorial-pull-down3{
        left: 313px !important;
    }
//  .tutorial_left_navs{
//      position: absolute;
//      width: 110px;
//      left: -1px;
//      top: 47px;
//      z-index: 100;
//      text-align: center;
//      border: 1px solid #35424e;
//      background: rgba(28, 38, 56, 0.5);
//      padding: 10px 0;
//      color: #a6cddc;
//      line-height: 35px;
//      font-size: 14px;
//      display: none;
//  }
//  .tutorial_left_navs i{
//      display: none !important;
//  }
//  .tutorial_left_navs li {
//      color: #a6cddc;
//      line-height: 35px;
//      font-size: 14px;
//      border: none;
//      width: 100%;
//      height: 35px;
//      text-align: center;
//      margin: 0;
//  }
//  .tutorial_left_navs li:hover, .tutorial_left_navs li.on{
//      color: #e95730;
//      border: none
//  }
//  .tutorial_left_navs li a{
//      display: block;
//      color: #a6cddc;
//  }
//  .tutorial_left_navs>li:hover>a, .tutorial_left_navs>li.on>a{
//      color: #e95730;
//  }
//  
//  .tutorial_left_navs li a i {
//      width: 40px;
//      height: 39px;
//      display: block;
//      float: left;
//      margin: 8px 18px 0 50px;
//  }
/*改*/
.cp_down,.sp_down{
        float: left;
    }
    .tutorial_abslut_2{
        display: none;
    }
.tutorial_left_navs{
        overflow: hidden;
        padding-left: 50px;
    }
    .tutorial_left_navs i{
        display: none !important;
    }
    .tutorial_left_navs li {
        float: left;
        margin-left: 1px;
        font-size: 16px;
        border: none;
        color: #cbc7d9;
        width: 110px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        vertical-align: top;
        background: #0c1219;
    }
    .tutorial_left_navs li:hover, .tutorial_left_navs li.on{
        color: #cbc7d9;
        border: none;
    }
    .tutorial_left_navs li a{
        display: block;
        color: #cbc7d9;
    }
    .tutorial_left_navs li:hover a, .tutorial_left_navs li.on a{
        color: #cbc7d9;
    }
    
    .tutorial_left_navs li a i {
        width: 40px;
        height: 39px;
        display: block;
        float: left;
        margin: 8px 18px 0 50px;
    }
/*改*/
    
    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .tutorial-inside {
        float: left;
        width: 920px;
        height: 400px;
        padding: 0 50px;
        margin-top: 10px;
    }
    .tutorial-inside .tutorial-box{
        width:910px;
    }
    .tutorial-inside .tutorial-box h2{
        width:100%;
        height: 38px;
    }
    .tutorial-inside .tutorial-box h2 span{
        color: #a6acff;
        font-size: 18px;
        padding-left: 18px;
        font-style:normal;
    }
    .tutorial-inside .tutorial-text h3{
        font-size: 18px;
        color: #6f8a97;
        line-height: 18px;
        margin-left: 10px;
    }
    .tutorial-inside .tutorial-text h3::before{
        content: '';
        float: left;
        width: 14px;
        height: 14px;
        background: #7c2f1a;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-top: 2px;
        margin-right: 10px;
    }
    .tutorial-inside .tutorial-text p{
        height: 30px;
        overflow: hidden;
        padding-left:20px;
        color: #707173;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    .tutorial-inside .tutorial-text{
        position: relative;
        border-bottom:none;
        padding: 18px;
        margin-top: 20px;
    }
    .tutorial-inside .tutorial-text:hover{
        background: rgb(29, 35, 46)
    }
    .tutorial-text span{
        display: block;
        position: absolute;
        right: 20px;
        bottom: 15px;
        color: #aa412a;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text{
        border-bottom: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
        color: #77779b;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text img{
        margin: 30px 0;
    }
    .tutorial-problem .tutorial_left_navs li a i {
        width: 42px;
        height: 41px;
    }
    .tutorial_tit_el{
        display: none;
    }
    // 遮罩
    .tutorialShade{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }
    
    // 游戏规则
    .GameRules_title{
        color: #fddfba;
        font-size: 24px;
        text-align: center;
    }
    .GameRules_title_el{
        text-align: center;
        color: #fddfba;
        margin-top: 15px;
        font-size: 14px;
    }
    .GameRules_center_p{
        width: 730px;
        font-size: 14px;
        color: #b4c4d8;
        margin: auto;
        line-height: 28px;
        margin-top:20px;
        text-align: center;
    }
    .GameRules_mt25{
        margin-top: 25px;
    }
    .GameRules_guide{
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: rgb(47, 58, 68);
        overflow: hidden;
    }
    .GameRules_guide>span{
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: rgb(154, 154, 154);
//      border-right: 1px dashed rgb(68, 82, 100);
    }
    .GameRules_guide_cont{
        font-size: 14px;
        line-height: 26px;
        color: rgb(154, 154, 154);
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center
    }
    .GameRules_smoll_p{
        color: #fff;
        margin-left: 158px;
        margin-top: 20px;
    }
    .GameRules_ty_p{
        color: #596fa4;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #bfd0e3;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .GameRules_center_img{
        display: block;
        margin: 20px auto 0;
    }
    .GameRules_table{
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
//      border-left: 1px solid #304452;
    }
    .GameRules_table li{
        height: 70px;
        line-height: 70px;
        background: #141822;
//      border-bottom: 1px solid #304452;
//      border-right: 1px solid #304452;
        font-size: 14px;
        color: #fff;
        text-align: center;
        overflow: hidden;
    }
    .GameRules_table_faseli{
        height: 48px !important;
        line-height: 48px !important;
        background: #2e3b49 !important;
    }
    .GameRules_table_faseli p{
        line-height: 23px !important;
    }
    .GameRules_table_ul1{
        float: left;
        width: 120px;
    }
    .bigwidth{
        width: 350px !important;
    }
    .GameRules_li_p{
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }
    .width358{
        width: 358px;
    }
    .GameRules_no_center{
        text-align:left;
        margin-left: 150px;
        margin-top: 0;
    }
    .GameRules_ml200{
        margin-left: 200px;
    }
    .GameRules_nomt{
        margin-top: 0;
    }
    
    
    
    .tutorial_abslut_ul{
        // border: 1px solid #35424e;
        position: absolute;
        z-index: 9;
    }
    .tutorial_abslut_ul>li {
        float: none;
        color: #a6cddc;
        line-height: 35px;
        font-size: 14px;
        border: none;
        width: 100%;
        height: 35px;
        text-align: center;
        margin: 0;
        border: none;
        width: 140px;
        vertical-align: top;
    }
    .tutorial_abslut_1{
        top: 145px;
        left: 112px;
    }
    .tutorial_abslut_2{
        top: 118px;
        left: 112px;
    }
    .BettingSkills_no{
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .BettingSkills_on{
        transition: 0.3s;
        height: auto;
        border: 1px solid #35424e;
    }
    .bettingSkill_box{
        overflow: hidden;
    }
    .bettingSkill_box img{
        margin-top: 20px;
    }
    .bettingSkill_box p{
        overflow: hidden;
    }
    .bettingSkill_box p>span:nth-child(1){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #a48db0;
    }
    .bettingSkill_box p>span:nth-child(2){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #65556d;
    }
    .bettingSkill_cp{
        line-height: 26px;
        font-size: 14px;
        color: #a48db0
    }
    .sportsSkill_chren{
        position: absolute;
        // border: 1px solid #35424e;
    }
    .sportsSkill_chren>li{
        // position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background-size: 100% 100%;
        border: none!important;
    }
    .sportsSkillChren1on{
        color: #e95730 !important;
    }
    .sportsSkill_chren_01>p{
        text-align: left;
//      box-sizing: border-box;
        padding-left: 30px;
    }
    
    .tutorialShow{
        display: block !important;
        text-align: center;
    }
    .tutorialShow span{
        color: #fddfba !important;
        font-size: 24px !important;
    }
    .tutorialNoHides{
        display: block !important;
    }
    .tutorialHides{
        display: none !important;
    }
    .sportsSkill_jsonp{
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #6f8a97;
    }
    .sonname,.grandsonname{
        top:0;
        display: none;
        position: absolute;
//      border: 1px solid #35424e;
    }
    .sonname{
        left: 190px;
    }
    .grandsonname{
        left: 190px;
    }
    .sonname>li,.grandsonname>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
    }
    .lxd{
        transition: 5s;
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
//  .fiveClone{
//      transition: 0.3s;
//      height: 0;
//      overflow: hidden;
//      padding: 0;
//      margin: 0;
//      border: none;
//  }
//  .fiveOpen{
//      transition: 0.3s;
//      padding: 10px 0;
//      border: 1px solid #35424e;
//      height: 162px;
//      box-sizing: border-box;
//  }
//  .fiveOpen2{
//      transition: 0.3s;
//      padding: 10px 0;
//      border: 1px solid #35424e;
//      height: 232px;
//      box-sizing: border-box;
//      overflow: initial
//  }
    
    // 背景替换img
    .tutorialPic_1{
        width: 683px;
        height: 326px;
    }
    .tutorialPic_2{
        width: 684px;
        height: 346px;
    }
    .tutorialPic_3{
        width: 684px;
        height: 353px;
    }
    .tutorialPic_4{
        width: 666px;
        height: 352px;
    }
    .tutorialPuke_1{
        width: 428px;
        height: 69px;
    }
    .tutorialPuke_2{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_3{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_4{
        width: 353px;
        height: 257px;
    }
    .tutorialRule_img_1{
        width: 848px;
        height: 508px;
    }
    .tutorialRule_img_2{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_3{
        width: 848px;
        height: 157px;
    }
    .tutorialRule_img_4{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_5{
        width: 848px;
        height: 271px;
    }
    .tutorialRule_img_6{
        width: 848px;
        height: 118px;
    }

}
