<template>
  <!--忘記密碼彈窗-->
  <div
    id="forgetPasswordForm"
    class="pub_alert_box tel_alert_box re_h"
    :class="'tel_alert_box_' + $MessageLang"
    style="display:none;"
  >
    <!--7版特有-->
    <div class="seven_popup">
      <div name="PasswordForm" class="login-popup">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p class="p_blue">{{$t('message.login_information')}}</p>
        </div>
        <ul class="input_field style2">
          <li class="hasblock clearfix">
            <div
              class="input_lf"
              :class="'inputLf'+$MessageLang"
            >{{$t('message.verify_membership_account')}}：</div>
            <div class="input_rt" :class="'inputLg'+$MessageLang">
              <input
                type="text"
                name="Account"
                v-model="Acct"
                v-validate="{ rules: { regex:Reg.LoginAccount, required: true}}"
                :placeholder="$t('message.verify_enter_account')"
              />
              <p
                class="tip1 qc-tip"
                v-show="errors.has('Account') && fields.Account.touched"
              >{{$t('message.login_english_letters')}}</p>
            </div>
          </li>
          <li class="hasblock">
            <div class="input_lf" :class="'inputLf'+$MessageLang">{{$t('message.login_email')}}：</div>
            <div class="input_rt" :class="'inputLg'+$MessageLang">
              <input
                type="text"
                name="Email"
                v-model="Email"
                v-validate="{ rules: {lamborEmail: true, required: true}}"
                :placeholder="$t('message.login_input_email')"
              />
              <p
                class="tip1 qc-tip"
                v-show="errors.has('Email') && fields.Email.touched"
              >{{$t('message.member_minus_sign')}}</p>
            </div>
          </li>
        </ul>
        <p class="forgetPasswordServer">
          <a
            @click="CloseWindow();OpenNewBox('/static/ze.html')"
          >{{$t('message.have_any_questions_contact_service')}}</a>
        </p>
        <div class="alert_btn_both">
          <a class="btn1" href="javascript:void(0);" @click="SubmitRequest()">
            <i class="comAlertBtn">{{$t('message.agent_submission')}}</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.tel_alert_box_en,
.tel_alert_box_vi {
  .descr_p p.p_blue {
    width: 450px !important;
  }

  .long_title {
    line-height: 16px !important;
  }

  .tip1 {
    width: 300px;
    line-height: 15px;
    word-break: break-all;
  }
}
</style>

<script>
import { forgetPsd } from '@/mod/k04/assets/scripts/comTest/sub/login/forgetPassword.js';
export default {
  mixins: [forgetPsd]
};
</script>
