<template>
    <div class="page-wrap">
        <span class="page-cont-arrow"><img src="/static/images/web/w_40.png" /></span>
        <ul class="page-cont-num">
            <li class="page-cont-numLi">1</li>
            <li class="page-cont-numLi">2</li>
            <li class="page-cont-numLi">3</li>
            <li class="page-cont-numLi">4</li>
            <li class="page-cont-numLi">5</li>
            <li class="page-cont-numLi">......</li>
            <li class="page-cont-numLi">100</li>
        </ul>
        <span class="page-cont-arrow"><img src="/static/images/web/w_41.png" /></span>
        <span class="page-cont-skip">跳转<span></span>页</span>
    </div>
</template>


<script>
    export default {
        name: 'HelloWorld',
        components: {
        },
        data() {
            return {
                
            };
        },
        mounted() {
            
        },
        created: function () {
             this.load()  
        },
        methods: {     
            load:function () {
                this.$nextTick(function () {
                    
                })
            },
        }
      
    };
</script>
<style lang="less"> 
     
</style>