<!-- 代理中心-账变明细 -->
<template>
  <div class="record-content extension-content">
    <h2 class="agency-main-title">
      <span>{{$t('message.agency_accounting_details')}}</span>
    </h2>
    <div>
      <div class="agencyDetailed-cont-nav">
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.member_hour')}}</span>
          <!--<input class="p1-put" type="text" />-->
          <datepicker
            class="p1-put"
            :language="$MessageLang"
            v-model="DisplayRechargeObj.StartTick"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put"
            :language="$MessageLang"
            v-model="DisplayRechargeObj.EndTick"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            @selected="selectedEnd"
          ></datepicker>
        </div>
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.agency_consumer')}}</span>
          <input
            class="p1-userPut"
            v-model="DisplayRechargeObj.AgencyUser"
            v-validate="{ rules: { regex:Reg.LoginAccount }}"
            name="AgencyAcct"
            type="text"
          />
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsNextLayer=Number(checkedSubordinate)"
            v-model="checkedSubordinate"
          >{{$t('message.agency_subordinate')}}</el-checkbox>
        </div>
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.member_transaction_type')}}</span>
          <div class="down record-drop" style="width: 118px;float: left;">
            <div class="d_course" @click="ShowDropDown()">
              <span>{{TransTypeName | simpleContent(8)}}</span>
              <img
                style="cursor: pointer;"
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
            </div>
            <div class="down_box">
              <a
                class="down_list"
                v-for="(item,index) in TransTypeSList"
                @click="changeTransType(item)"
                :key="index"
              >{{item.SettingName }}</a>
            </div>
          </div>
        </div>
        <span class="renovate" @click="ResetClick('true')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="search"
          href="javascript:;"
          @click="UpdateDetailCondition()"
        >{{$t('message.member_search')}}</a>
      </div>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          style="top: 12px;left: 322px;"
        >{{$t('message.login_english_letters')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="left: 30px;top: 12px;"
        >{{$t('message.member_greater_than')}}</span>
      </div>
    </div>
    <div
      class="table-block-common"
      style="overflow: hidden;position: relative;"
      :style="{'maxHeight':$MessageLang!=='zh'&&$MessageLang!=='tw'?'490px':'540px'}"
    >
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="10%">{{$t('message.agency_consumer')}}</td>
            <td width="10%">{{$t('message.agency_teams_number')}}</td>
            <td width="10%">{{$t('message.agency_identity')}}</td>
            <td width="10%">{{$t('message.member_order_number')}}</td>
            <td width="10%">{{$t('message.member_transaction_time')}}</td>
            <td width="10%">{{$t('message.member_transaction_type')}}</td>
            <td width="10%">{{$t('message.member_transaction_amount')}}</td>
            <td width="10%">{{$t('message.member_surplus')}}</td>
            <td width="10%">{{$t('message.member_post_account')}}</td>
            <td width="10%">{{$t('message.agent_remarks')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(codeList,index) in CodeComIBCommissionList" :key="index">
            <td>
              <!-- @click="CodeComloginName(codeList)"-->
              <span class="prefix-text">{{codeList.Prefix}}</span>
              {{codeList.LoginID}}
            </td>
            <td v-text="codeList.RoleID===4?'-':codeList.TeamCount"></td>
            <td v-text="codeList.RoleID===3?$t('message.agency_agent'):$t('message.index_member')"></td>
            <td>{{codeList.ReferenceSerialNo }}</td>
            <td>{{codeList.TransDateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
            <td>{{codeList.VTransType}}</td>
            <td>{{codeList.VAmount}}</td>
            <td>{{codeList.VOldBalance}}</td>
            <td>{{codeList.VNewBalance}}</td>
            <el-tooltip :content="codeList.Remark" placement="top">
              <td>{{codeList.Remark | simpleContent(12)}}</td>
            </el-tooltip>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="70%" colspan="7"></td>
            <td width="10%">{{$t('message.agency_subtotal')}}：</td>
            <td width="10%">{{CodeComDataSubtotal.VTotalUserCount}}</td>
            <td width="10%">{{CodeComDataSubtotal.VTotalRakeIncomeAmt}}</td>
          </tr>
        </tbody>
      </table>-->
    </div>
    <!--分页-->
    <paginate :PageCount="this.PageCount" :PageNo="this.PagingInfo.PageNo"></paginate>
    <div v-show="resigerWord" class="maxtip">{{$t('message.agency_successful_reset')}}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<style>
.startdate_calendar {
  top: 37px;
}

.enddate_calendar {
  left: 0px;
  top: 37px;
}
</style>

<script>
import moment from 'moment';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
import Datepicker from '@/components/main/common/datePicker';
// import Datepicker from 'vuejs-datepicker';
import Paginate from '@/components/sub/paginate';
// import AgencyBetting from '@/components/sub/agency/detailed/agencyBetting';
// import AgencyRecharge from '@/components/sub/agency/detailed/agencyRecharge';
// import AgencyWithdrawal from '@/components/sub/agency/detailed/agencyWithdrawal';
// import AgencyZhanCheng from '@/components/sub/agency/detailed/agencyZhanCheng';
// import AgencyCodeCommission from '@/components/sub/agency/detailed/agencyCodeCommission';
import EventBus from 'scripts/common/EventBus';
import Regex from 'scripts/common/CommDef';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';

export default {
  data() {
    return {
      QueryType: 'BettingRecord',
      // 搜尋條件
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      DisplayRechargeObj: {
        AgencyUser: '',
        StartTick: '',
        EndTick: new Date(),
        IsNextLayer: 0, // 是否包含下级
        TransType: -1 // 交易类型
      },
      CalendarDisabled: {
        to: new Date(
          moment()
            .add(-90, 'days')
            .format('YYYY/MM/DD')
        ), // Disable all dates after specific date
        from: new Date(
          moment()
            .set('hour', 0)
            .set('minute', 0)
            .set('second', 0)
            .add(1, 'days')
            .add(-1, 'seconds')
        )
      },
      PageCount: 0,
      IBDepositListData: [],
      TotalSum: '',
      SubTotalSum: '',
      Submitted: false,
      TimeSequenceInvalid: false,
      resigerWord: false,
      succeededText: '',
      WIBUserWithdrawalList: [], // 提现数据
      VAmountSumSubTotal: undefined,
      VAmountSumTotal: undefined,
      NextLayerAllCountSubTotal: undefined,
      // IsShowWithdrawpage: undefined,
      // 正則表達式類別
      Reg: Regex.Regex,
      ZchengIBRakeCostList: [],
      ZVRevenueRateTotal: undefined,
      ZTeamCountTotal: undefined,
      ZVRakeCostTotal: undefined,
      ZTeamCountSubTotal: undefined,
      ZVRakeCostSubTotal: undefined,
      CodeComIBCommissionList: [],
      CodeComDataTotal: {},
      CodeComDataSubtotal: {},
      BettingIBBetList: [],
      BettingBetTotal: {},
      BettingBetSubtotal: {},
      HistoricalPath: [
        {
          LoginID: localStorage.getItem('Acct'),
          MemberID: localStorage.getItem('CorrelationIBMemberId')
        }
      ],
      DropDowning: false,
      IsShowAgencyHtml: undefined,
      IsShowAgencyPage: undefined,
      IsShowErrorFlag: false,
      checkedSubordinate: false, // 包含下级
      TransTypeSList: [], // 交易类型列表
      TransTypeName: this.$t('message.agency_whole') // 交易类型
    };
  },

  mounted: function() {
    const date = new Date();
    const year = date.getFullYear();
    const month =
      date.getMonth() + 1 < 10
        ? '0' + (date.getMonth() + 1)
        : date.getMonth() + 1;
    const hours =
      date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
    const minutes =
      date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
    const seconds =
      date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
    const startDate =
      year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;

    this.DisplayRechargeObj.StartTick = startDate;

    CommUtility.BindEnterTrigger('recordQueryForm', this.UpdateDetailCondition);

    // 监听账变明细-提现列表改变重置
    // EventBus.$on('AccountCW_PageCount', data => {
    //   this.PageCount = data;
    //   this.PagingInfo.PageNo = 1;
    // });
    // 监听账变明细-占成列表改变重置
    EventBus.$on('Zcheng_StatusDatas', data => {
      this.ZchengIBRakeCostList = data.IBRakeCostList;
      this.ZVRevenueRateTotal = data.VRevenueRate_Total; // 红利承担总计（显示用）
      this.ZTeamCountTotal = data.TeamCount_Total; // 团队数量总计
      this.ZVRakeCostTotal = data.VRakeCost_Total; // 总占成收入金额总计（显示用）
      this.ZTeamCountSubTotal = data.TeamCount_SubTotal; // 团队人数 小计
      this.ZVRakeCostSubTotal = data.VRakeCost_SubTotal; // 总占成收入金额 小计 （显示用）
      this.PageCount = Math.ceil(
        data.PagingInfo.TotalCount / this.PagingInfo.PageSize
      );
    });
    // 监听账变明细-提现列表数据改变
    EventBus.$on('Withdrawal_ResetWithdrawalDatas', data => {
      this.WIBUserWithdrawalList = data.IBUserWithdrawalList;
      this.VAmountSumTotal = data.VAmountSum_Total; // 提款金额总计
      this.VAmountSumSubTotal = data.VAmountSum_SubTotal; // 提款金额小计
      this.NextLayerAllCountSubTotal = data.NextLayerAllCount_SubTotal; // 团队人数小计
      this.PageCount = Math.ceil(
        data.PagingInfo.TotalCount / this.PagingInfo.PageSize
      );
    });

    // 监听账变明细-投注列表改变重置
    EventBus.$on('Beting_ResetBetingDatas', data => {
      console.log('投注---代理查看下级数据');
      console.log(data);
      console.log('投注---代理查看下级数据');
      this.BettingIBBetList = data.IBBetList;
      this.BettingBetTotal = data.BetTotal;
      this.BettingBetSubtotal = data.BetSubtotal;
      this.PageCount = Math.ceil(
        data.PagingInfo.TotalCount / this.PagingInfo.PageSize
      );
    });
    // 监听账变明细-码佣列表改变重置
    EventBus.$on('CondeCom_ResetCondeComDatas', data => {
      console.log('码佣---代理查看下级数据');
      console.log(data);
      console.log('码佣---代理查看下级数据');
      this.CodeComIBCommissionList = data.ListGameRecord;
      this.CodeComDataTotal = data.DataTotal;
      this.CodeComDataSubtotal = data.DataSubtotal;
      this.PageCount = Math.ceil(
        data.PagingInfo.TotalCount / this.PagingInfo.PageSize
      );
    });
    // 监听账变明细-充值列表改变重置
    EventBus.$on('Recharge_ResetIBDepositDatas', data => {
      console.log('充值---代理查看下级数据');
      console.log(data);
      console.log('充值---代理查看下级数据');
      this.IBDepositListData = data.IBDepositList;
      this.TotalSum = data.VDepositSum_Total;
      this.SubTotalSum = data.VDepositSum_SubTotal;
      this.PageCount = Math.ceil(
        data.PagingInfo.TotalCount / this.PagingInfo.PageSize
      );
    });
    // 分页
    EventBus.$on('Paginate_PageCount', data => {
      this.PageCount = data;
    });
  },
  created: function() {
    this.LoadPage();
  },
  mounted() {
    $('.table-block-common').perfectScrollbar();
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true;
      let startDate = new Date(this.dateFormat(date) + ' 00:00:00');
      this.DisplayRechargeObj.StartTick = startDate;
      this.CheckFied();
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true;
      let endDate = new Date(this.dateFormat(date) + ' 23:59:59');
      this.DisplayRechargeObj.EndTick = endDate;
      this.CheckFied();
    },
    // 修改交易类型
    changeTransType(item) {
      this.DisplayRechargeObj.TransType = item.SettingCode;
      this.TransTypeName = item.SettingName;
      this.ShowDropDown();
    },
    // 查询交易类型
    async queryTransactionType() {
      const data = await PersonalCenterService.Record_TransType();
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeSList = data.Data.ListTransType;
        this.TransTypeName = data.Data.ListTransType[0].SettingName;
        this.DisplayRechargeObj.TransType =
          data.Data.ListTransType[0].SettingCode;
      } // end if
    },
    BindingEvent: function() {},
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function(time) {
      const date = new Date(time);
      const year = date.getFullYear();
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + '-' + month + '-' + day;
    },
    // 顯示紀錄類型選單
    ShowDropDown: function() {
      if (this.DropDowning === false) {
        $('.down_box').slideDown(300);
        this.DropDowning = true;
      } else {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },

    // 切換紀錄查詢種類
    ChangeQueryType: function(queryType) {
      this.HistoricalPath = [
        {
          LoginID: localStorage.getItem('Acct'),
          MemberID: localStorage.getItem('CorrelationIBMemberId')
        }
      ];
      this.PagingInfo.PageNo = 1;
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      this.QueryType = queryType;
      this.DisplayRechargeObj.StartTick = startDate;
      this.DisplayRechargeObj.EndTick = new Date();
      this.DisplayRechargeObj.AgencyUser = '';
      this.AccountDetails(1, 'false');
    }, // end ChangeQueryType

    // 選取紀錄類型
    SelectType: function(Type) {
      this.DisplayQueryObj.Type = Type;
    },

    // 載入投注初始化
    LoadPage: async function() {
      // 查询交易记录
      this.queryTransactionType();
      const self = this;
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      self.DisplayRechargeObj.StartTick = startDate;
      const inputObj = {
        IB_LoginID: self.DisplayRechargeObj.AgencyUser,
        StartTime: '',
        EndTime: '',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          self.dateFormat(self.DisplayRechargeObj.StartTick) + ' 00:00:00'
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          self.dateFormat(self.DisplayRechargeObj.EndTick) + ' 23:59:59',
          true
        ),
        PagingInfo: {
          PageSize: self.PagingInfo.PageSize,
          PageNo: self.PagingInfo.PageNo
        },
        IsNextLayer: self.DisplayRechargeObj.IsNextLayer, // 包含下级
        TransType: self.DisplayRechargeObj.TransType // 交易类型
      };
      const data = await AgencyCenterService.LoadGetAccountDetails(inputObj);
      if (data.Ret == 0) {
        self.CodeComIBCommissionList = data.Data.RecordList;
        self.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount / self.PagingInfo.PageSize
        );
      } else {
        self.IsShowErrorFlag = true;
        setTimeout(() => {
          self.IsShowErrorFlag = false;
        }, 1000);
      }

      // const inputObj = {
      //   IBMemberID: localStorage.getItem('CorrelationIBMemberId'), // 代理ID
      //   StartTick: CommUtility.LocalTimeToUtcTicks(
      //     self.dateFormat(self.DisplayRechargeObj.StartTick),
      //     false,
      //     true
      //   ), // 必选 - 》默认选择当月
      //   EndTick: CommUtility.LocalTimeToUtcTicks(
      //     self.dateFormat(self.DisplayRechargeObj.EndTick),
      //     false,
      //     true
      //   ),
      //   LoginID: self.DisplayRechargeObj.AgencyUser, // 用户名
      //   IsLookMember: 1, // 是否查询会员
      //   PagingInfo: {
      //     PageSize: self.PagingInfo.PageSize,
      //     PageNo: self.PagingInfo.PageNo
      //   }
      // };
      // const data = await AgencyCenterService.AgencyRechargeList(inputObj);

      // if (data.Ret === 0) {
      //   self.IBDepositListData = data.Data.IBDepositList;
      //   self.TotalSum = data.Data.VDepositSum_Total;
      //   self.SubTotalSum = data.Data.VDepositSum_SubTotal;
      //   if (val == 'true') {
      //     self.succeededText = data.Message;
      //     self.resigerWord = true;
      //     setTimeout(() => {
      //       this.resigerWord = false;
      //     }, 1000);
      //   }
      // }
      // console.log('请求账变明细-充值初始化数据111');
      // console.log(inputObj);
      // console.log(self.dateFormat(self.DisplayRechargeObj.StartTick));
      // console.log(self.dateFormat(self.DisplayRechargeObj.EndTick));
      // console.log(data);
      // console.log('请求账变明细-充值初始化数据');
    },
    // 账变明细
    async AccountDetails(pageNo) {
      this.PagingInfo.PageNo = pageNo;
      const inputObj = {
        Name: this.DisplayRechargeObj.AgencyUser,
        StartTime: '',
        EndTime: '',
        StartTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.StartTick) + ' 00:00:00'
        ),
        EndTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.EndTick) + ' 23:59:59',
          true
        ),
        PagingInfo: {
          PageSize: this.PagingInfo.PageSize,
          PageNo: this.PagingInfo.PageNo
        },
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer, // 包含下级
        TransType: this.DisplayRechargeObj.TransType // 交易类型
      };
      const data = await AgencyCenterService.LoadGetAccountDetails(inputObj);
      if (data.Ret == 0) {
        this.CodeComIBCommissionList = data.Data.RecordList;
        this.PageCount = Math.ceil(
          data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize
        );
      } else {
        this.IsShowErrorFlag = true;
        setTimeout(() => {
          this.IsShowErrorFlag = false;
        }, 1000);
      }
    },
    UpdateDetailCondition: async function() {
      this.PagingInfo.PageNo = 1;
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      // 时间限制
      this.Submitted = true;
      const anyFieldInvalid = this.CheckFied();
      if (anyFieldInvalid === true) {
        return;
      } // end if
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      this.HistoricalPath = [
        {
          LoginID: localStorage.getItem('Acct'),
          MemberID: localStorage.getItem('CorrelationIBMemberId')
        }
      ];
      this.AccountDetails(1, 'false');
    },
    ResetClick: async function(val) {
      console.log(val);
      const date = new Date();
      const year = date.getFullYear();
      const month =
        date.getMonth() + 1 < 10
          ? '0' + (date.getMonth() + 1)
          : date.getMonth() + 1;
      const hours =
        date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      const minutes =
        date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      const seconds =
        date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      const startDate =
        year + '-' + month + '-01 ' + hours + ':' + minutes + ':' + seconds;
      this.DisplayRechargeObj.StartTick = startDate;
      this.DisplayRechargeObj.EndTick = new Date();
      this.DisplayRechargeObj.AgencyUser = '';
      this.PagingInfo.PageNo = 1;
      (this.DisplayRechargeObj.IsNextLayer = 0), // 包含下级
        (this.checkedSubordinate = false);
      this.DisplayRechargeObj.TransType = -1; // 交易类型
      this.TransTypeName = this.$t('message.agency_whole');
      EventBus.$emit('Paginate_ResetPageNo', this.PagingInfo.PageNo);
      this.HistoricalPath = [
        {
          LoginID: localStorage.getItem('Acct'),
          MemberID: localStorage.getItem('CorrelationIBMemberId')
        }
      ];
      console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
      console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
      this.CheckFied();
      if (val == 'true') {
        // this.succeededText = data.Message;
        this.resigerWord = true;
        setTimeout(() => {
          this.resigerWord = false;
        }, 1000);
      }
      // if (this.QueryType === 'BettingRecord') {
      //   this.AgencyBetting(1, val);
      // } else if (this.QueryType === 'Recharge') {
      //   this.AgencyRecharge(1, val);
      // } else if (this.QueryType === 'Withdrawal') {
      //   this.AgencyWithdrawal(1, val);
      // } else if (this.QueryType === 'zhanCheng') {
      //   this.AgencyZCheng(1, val);
      // } else if (this.QueryType === 'CodeCommission') {
      //   this.AgencyCodeCommission(1, val);
      // }
    },
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied: function() {
      let anyInvalid = false;
      this.TimeSequenceInvalid = false;
      // this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayRechargeObj.StartTick === undefined) {
        anyInvalid = true;
      }
      // 結束時間未選
      if (this.DisplayRechargeObj.EndTick === undefined) {
        anyInvalid = true;
      }
      // 開始日期大於結束日期
      if (
        this.DisplayRechargeObj.StartTick !== undefined &&
        this.DisplayRechargeObj.EndTick !== undefined
      ) {
        // const st = new Date(this.DisplayRechargeObj.StartTick).getTime();
        // const dt = new Date(this.DisplayRechargeObj.EndTick).getTime();
        // const day = dt - st;
        // if (Math.floor(day / (24 * 3600 * 1000)) > 31) {
        //   this.dateTimeInterval = true;
        //   anyInvalid = true;
        // }
        if (
          new Date(this.DisplayRechargeObj.StartTick) >
          new Date(this.DisplayRechargeObj.EndTick)
        ) {
          this.TimeSequenceInvalid = true;
          anyInvalid = true;
        }
      }

      // 類型未選
      return anyInvalid;
    },

    // 分页 20190517 LMX
    GetCurrentPageData: async function(pageNo) {
      console.log(pageNo);
      console.log(this.QueryType);
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo;
      }
      this.AccountDetails(pageNo, 'false');
    } // end GetCurrentPageData
  },
  components: {
    // AgencyBetting,
    // AgencyRecharge,
    // AgencyWithdrawal,
    // AgencyZhanCheng,
    // AgencyCodeCommission,
    Datepicker,
    Paginate
  },
  watch: {
    // QueryType: function () {
    //   // 搜尋條件和顯示重置
    //   const date = new Date();
    //   const year = date.getFullYear();
    //   const month =
    //     date.getMonth() + 1 < 10
    //       ? '0' + (date.getMonth() + 1)
    //       : date.getMonth() + 1;
    //   const startDate = year + '-' + month + '-01';
    //   this.DisplayQueryObj.StartTime = startDate;
    //   this.DisplayQueryObj.EndTime = new Date();
    //   this.QueryConditions.StartTick = CommUtility.LocalTimeToUtcTicks(
    //     this.DisplayQueryObj.StartTime
    //   );
    //   this.QueryConditions.EndTick = CommUtility.LocalTimeToUtcTicks(
    //     this.DisplayQueryObj.EndTime,
    //     true
    //   );
    //   // this.GetCurrentPageData(1);
    //   EventBus.$emit('Paginate_ResetPageNo');
    //   this.Submitted = false;
    // }
  }
};
</script>
<style lang="less" scoped>
.record-content {
  .agencyDetailed-cont-nav {
    margin-top: 13px;
    .nav-p1,
    .renovate,
    .search {
      margin: 10px 15px 10px 0;
      cursor: pointer;
    }
  }
}
</style>
