<!--快速入口連結-->
<template>
  <div>
    <!-- 主站 -->
    <div class="index_user fl" :class="'index_user_'+$MessageLang">
      <!--登录前-->
      <div class="login_before" v-if="IsLogin===false">
        <!-- <router-link :to="{ name: 'webFreeTrial'}" target="_blank"></router-link> -->
        <div class="user_btn_box">
          <router-link
            :to="{ name: 'Login'}"
            :class="'login_btn login_btn_'+this.$MessageLang+''"
          ></router-link>
          <router-link
            :to="{ name: 'Register'}"
            :class="'registered_btn registered_btn_'+this.$MessageLang+''"
          ></router-link>
          <div class="clearfix"></div>
        </div>
      </div>
      <!--登录后-->
      <div class="login_after" :class="'login_after_'+$MessageLang" v-if="IsLogin===true">
        <div class="user_data">
          <p>
            {{$t('message.index_hello')}}，
            <span>{{MemberInfo.Acct}}</span>
            <a @click="navClick('webMemberSummary')">[{{$t('message.index_personal')}}]</a>
          </p>
          <p v-if="false">
            {{$t('message.index_grade')}}：
            <span class="u_number">{{MemberInfo.VMemberLv}}</span>
          </p>
        </div>
        <div class="select_btn">
          <a href="javascript:void(0)" @click="navClick('webMemberDeposit')">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/deposit_icon.png?VersionCode'"
            />
            {{$t('message.index_deposit')}}
          </a>
          <a href="javascript:void(0)" @click="navClick('webMemberWithdrawal')">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/withdraw_icon.png?VersionCode'"
            />
            {{$t('message.index_withdraw')}}
          </a>
          <a @click="navClick('webMemberTransactionRecord')">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/dividend_icon.png?VersionCode'"
            />
            {{$t('message.index_query')}}
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
  .login_after_vi{
    .select_btn a{
      font-size: 12px!important;
    }
  }
</style>

<script>
// import { indexFast7 } from '@/assets/scripts/comTest/main/index/sy07/fastEntrance.js';
import { indexFast7 } from '@/mod/k05/assets/scripts/comTest/main/index/sy07/fastEntrance.js'
import { indexFast } from '@/mod/k05/assets/scripts/comTest/main/index/fastEntrance.js'
// import { indexFast } from '@/assets/scripts/comTest/main/index/fastEntrance.js'
export default {
  mixins: [indexFast7, indexFast]
}
</script>
