<template>
  <!--footer-->
  <div class="footer">
    <!--公共-->
    <div class="footer-cont hides clearfix">
      <div class="footer-cont-nav fl">
        <ul class="clearfix">
          <li class="footer-navList footer-navList1">
            <router-link :to="{ name: 'AboutUs'}">{{$t('message.foot_about_us')}}</router-link>
            <i></i>
            <span>/</span>
          </li>
          <li class="footer-navList footer-navList2">
            <div>
              <router-link :to="{ name: 'JoinUs'}">{{$t('message.foot_agency_cooperation')}}</router-link>
              <i></i>
              <span>/</span>
            </div>
            <div class="hides">
              <router-link :to="{ name: 'Partner'}">{{$t('message.foot_manufacturer_introduction')}}</router-link>
              <i></i>
              <span>/</span>
            </div>
          </li>
          <!-- <li class="footer-navList footer-navList3">
            <div>
              <router-link :to="{ name: 'Partner'}">{{$t('message.foot_manufacturer_introduction')}}</router-link>
              <i></i>
              <span>/</span>
            </div>
            <div class="hides">
              <router-link :to="{ name: 'JoinUs'}">{{$t('message.foot_agency_cooperation')}}</router-link>
              <i></i>
              <span>/</span>
            </div>
          </li>-->
          <li class="footer-navList footer-navList3">
            <router-link :to="{ name: 'ContactUs'}">{{$t('message.foot_contact_us')}}</router-link>
            <i></i>
            <span>/</span>
          </li>
          <li class="footer-navList footer-navList4">
            <router-link :to="{ name: 'Tutorial'}">{{$t('message.foot_novice_course')}}</router-link>
            <i></i>
            <span class="hides">/</span>
          </li>
          <li class="footer-navList footer-navList5">
            <router-link :to="{ name: 'Tutorial'}">{{$t('message.tutorial_common_problem')}}</router-link>
          </li>
        </ul>
        <p
          class="fooPtext-2 hides"
        >On our platform to introduce the company introduced the cooperation of the company's</p>
        <p
          class="fooPtext-3 hides"
        >Copyright ©2016 [{{this.LogoName}}] Powered By [WanCheng] Version 1.0.0</p>
        <p class="fooPtext-23 hides">{{this.LogoName}}{{$t('message.foot_copyright')}}</p>
        <p class="fooPtext-60 hides">COPYRIGHT © 1998 – 2016 TENCENT. ALL RIGHTS RESERVED.</p>
        <p class="fooPtext-7 hides">
          Copyright 2016 [{{this.LogoName}}] Powered By [WanCheng] Version 1.0.0
          <br />Porhon o1 this sonwate are included under hcense 2016-2216 Urytek, all right reserved.
        </p>
        <p class="fooPtext-25 hides">COPYRIGHT © 2020 R&amp;C PALAZZO SENECA</p>
        <p class="fooPtext-28 hides">Copyright 2005-2016 zbj.com 版权所有 渝ICP备10202274-1号 渝B2-20080005</p>
      </div>
      <div class="footer-cont-firm hides fr clearfix">
        <a class="ag-logo"></a>
        <a class="keno-logo"></a>
        <a class="pt-logo"></a>
        <a class="ob-logo"></a>
        <a class="sb-logo"></a>
        <a class="qtech-logo"></a>
      </div>
      <!--12版回到顶部-->
      <div class="go-top hides" @click="gotop()">{{$t('message.back_top')}}</div>
    </div>
    <!--34版-->
    <div class="footer-wrap-34" style="display: none;">
      <div class="footer-leftMain">
        <ul>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_20.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_21.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_22.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_23.png'" />
          </li>
          <li class="footer-leftMain-list">
            <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_24.png'" />
          </li>
        </ul>
      </div>
      <div class="footer-rightMain">
        <div class="footer-rightMain-menu">
          <router-link tag="i" :to="{name:'AboutUs'}">{{$t('message.foot_about_us')}}</router-link>
          <span class="menu-line">|</span>
          <router-link tag="i" :to="{name:'JoinUs'}">{{$t('message.foot_agency_cooperation')}}</router-link>
          <span class="menu-line">|</span>
          <a
            tag="i"
            @click="$router.push({path:'Tutorial',query:{navIndex: 2}})"
          >{{$t('message.tutorial_common_problem')}}</a>
          <span class="menu-line">|</span>
          <router-link
            tag="i"
            :to="{name:'Partner'}"
          >{{$t('message.foot_manufacturer_introduction')}}</router-link>
          <span class="menu-line">|</span>
          <router-link tag="i" :to="{name:'ContactUs'}">{{$t('message.foot_contact_us')}}</router-link>
        </div>
        <p
          class="footer-rightMain-text"
        >Copyright ©2016 [{{this.LogoName}}] Powered By [WanCheng] Version 1.0.0</p>
        <p
          class="footer-rightMain-text"
        >Porhon o1 this sonwate are included under hcense 2016-2216 Urytek, all right reserved.</p>
      </div>
    </div>
  </div>
  <!--footer-->
</template>
<script>
export default {
  data() {
    return {
      LogoName: localStorage.getItem("LogoName")
    }
  }
}
</script>
