<template>
  <div class="service">
    <!--公共-->
    <div class="service-box service-box2">
      <ul>
        <li class="Sbtn SbtnService">
          <img :src="$ResourceCDN + '/Customized/VVN/images/serve/server.png?123456'" />
        </li>
        <li class="server_list server_list_hover" @click="OpenNewBox($ServeLink)">
          <img
            class="server_icon"
            :src="$ResourceCDN + '/Customized/VVN/images/serve/server_icon1.png?1251'"
          />
          <span
            :title="$t('message.float_online_service')"
          >{{$t('message.float_online_service') | simpleContent(10)}}</span>
        </li>
        <li class="server_list server_list_hover" v-show="$ServeQQ">
          <img
            class="server_icon"
            :src="$ResourceCDN + '/Customized/VVN/images/serve/server_icon3.png'"
          />
          <span>{{$ServeQQ}}</span>
        </li>
        <li
          class="server_list server_list_app"
          :style="'background: url(' + $ResourceCDN + '/Customized/VVN/images/serve/server_bg_max.png);'"
        >
          <img
            class="server_icon"
            :src="$ResourceCDN + '/Customized/VVN/images/serve/server_icon2.png'"
          />
          <span>{{$t('message.down_app')}}</span>
          <p>
            <img
              class="server_app"
              :src="$ResourceCDN + '/Customized/VVN/images/serve/code_app.png'"
            />
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="less">
.server_list {
  position: relative;
  width: 166px;
  height: 68px;
  line-height: 68px;
  cursor: pointer;
  .server_icon {
    margin-right: 5px;
    vertical-align: middle;
  }
  span {
    display: block;
    width: 110px;
    float: right;
    font-size: 16px;
    color: #cae0ff;
    text-align: left;
  }
  img {
    margin-left: 10px;
    max-width: 46px;
  }
}

.server_list_app {
  width: 166px;
  height: 218px;
  cursor: default;

  p {
    text-align: center;
  }
}
</style>

<script>
import { initService } from "@/assets/scripts/comTest/public/frameSide.js"
export default {
  mixins: [initService]
}
</script>
