<template>
  <div
    class="header-marquee"
    v-if="marqueeShowList.length>0"
    :style="{background: 'url(' + $ResourceCDN+'/Customized/VVN/images/tip/marquee_bg01.png)no-repeat'}"
  >
    <i
      class="header-marquee-icon"
      :style="{background: 'url(' + $ResourceCDN+'/Customized/VVN/images/tip/marquee01.png)no-repeat'}"
    ></i>
    <div class="notice dowebok" style="overflow: hidden;font-size:12px;">
      <div class="slideTxtBox">
        <div class="bd" style="display: inline-block;">
          <ul>
            <li
              v-for="(item, index) in marqueeShowList"
              :key="index"
              style="height: 30px;line-height: 30px;"
            >
              <a>{{item.Msg}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { initMarquee } from "@/mod/k03/assets/scripts/comTest/public/marquee.js"
export default {
  mixins: [initMarquee]
}
</script>
