<template>
  <div class="lottery-main">
    <ul class="lottery-logo-lists clearfix">
      <template v-for="(list, index) in LotteryTextList">
        <li class="lottery-logo-li lotteryAbnormal" :key="list.GameApiNo + '' + index">
          <!-- <i class="game-maintain" v-if="list.ApiStatus == 703"></i> -->
          <p v-if="list.GameTypeState == 703" class="maintenanceBG">
            <i class="abnormalDefault maintenance"></i>
          </p>
          <a
            :class="{ maintenanceWrap: list.GameTypeState == 703 }"
            :style="{ background: 'url(' + $ResourceCDN + '/Customized/VND/images/lottery/lottery-bg.jpg)no-repeat' }"
          >
            <img
              :src="$ResourceCDN + '/Customized/VND/images/lottery/v-logo97.png'"
              style="position: relative; margin: 0 auto; transform: none; -webkit-transform: none; max-width: 90%;"
            />

            <p
              style="
                position: absolute;
                bottom: 40px;
                font-size: 18px;
                text-algin: center;
                width: 100%;
                line-height: 30px;
                color: #fff;
              "
            >
              {{ $t("message.VND_LOTTERY_" + (index + 1)) }}
            </p>
          </a>
          <div v-if="list.GameTypeState != 703" class="lottery-logo-mask" @click="$emit('PlayKGGame', list)">
            <a href="javascript:;">{{ $t("message.live_start_game") }}</a>
          </div>
        </li>
      </template>

      <template v-for="(list, index) in this.LotteryList">
        <li class="lottery-logo-li lotteryAbnormal" :key="list.GameApiNo + '' + index">
          <!-- <i class="game-maintain" v-if="list.ApiStatus == 703"></i> -->
          <p v-if="list.GameTypeState == 703" class="maintenanceBG">
            <i class="abnormalDefault maintenance"></i>
          </p>
          <a
            :class="{ maintenanceWrap: list.GameTypeState == 703 }"
            :style="{
              background:
                'url(' +
                $ResourceCDN +
                '/EditionImg/LamborFormal/images/general/common/lottery/' +
                ((index + pageNum) % 11 === 0 ? 2 : (index + pageNum + 1) % 11) +
                '.jpg)no-repeat'
            }"
          >
            <img :src="$ResourceCDN + '/PartnerLogo/whitelogo/v-logo' + list.GameApiNo + '.png'" />
          </a>
          <div v-if="list.GameTypeState != 703" class="lottery-logo-mask" @click="$emit('PlayKGGame', list)">
            <a href="javascript:;">{{ $t("message.live_start_game") }}</a>
          </div>
        </li>
      </template>
    </ul>
    <!-- <lottery-paginate
      changePaginateStyle
      :pageSize="pageSize"
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></lottery-paginate>-->
  </div>
</template>
<script>
import lotteryContent from "@/mod/k19/assets/scripts/comTest/general/lottery/lotteryContent"
export default {
  name: "lottery-content",
  mixins: [lotteryContent]
}
</script>
