<template>
  <div>
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="15%">{{ $t("message.agency_consumer") }}</td>
            <td width="10%">{{ $t("message.agency_identity") }}</td>
            <td width="20%">{{ $t("message.agency_time_interval") }}</td>
            <td width="10%">{{ $t("message.agency_ommission_scheme") }}</td>
            <td width="15%">{{ $t("message.agency_teams_number") }}</td>
            <td width="15%">{{ $t("message.member_sum_money") }}</td>
            <td width="15%">{{ $t("message.agency_operation") }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(codeList, index) in CodeComIBCommissionList" :key="index">
            <td>
              <!-- @click="CodeComloginName(codeList)"-->
              <span class="prefix-text">{{ codeList.Prefix }}</span>
              {{ codeList.LoginID }}
            </td>
            <td>{{ codeList.MemberType }}</td>
            <td>
              {{ codeList.StartDateTime | utcTicksToLocalTime("YYYY/MM/DD") }}-{{
                codeList.EndDateTime | utcTicksToLocalTime("YYYY/MM/DD")
              }}
            </td>
            <td>
              <span v-if="codeList.IsAutomatic !== 0">--</span>
              <span v-if="codeList.CommisionIncomeMode === 1402 && codeList.IsAutomatic === 0">{{
                codeList.VMinRakeIncomeRate
              }}</span>
              <el-button
                size="mini"
                v-if="codeList.CommisionIncomeMode !== 1402 && codeList.IsAutomatic === 0"
                @click="viewPlan(codeList)"
                >{{ $t("message.agency_look_over") }}</el-button
              >
            </td>
            <td>{{ codeList.VTotalUserCount }}</td>
            <td>{{ codeList.VTotalRakeIncomeAmt }}</td>
            <td>
              <span v-if="codeList.IsAutomatic !== 0">--</span>
              <el-button size="mini" v-else @click="showDialog(codeList, 'Detail')">{{
                $t("message.news_view_details")
              }}</el-button>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="15%">{{ $t("message.agency_subtotal") }}：</td>
            <td width="55%" colspan="5"></td>
            <!-- <td width="15%">{{CodeComDataSubtotal.VTotalUserCount}}</td> -->
            <td width="15%">{{ CodeComDataSubtotal.VTotalRakeIncomeAmt }}</td>
            <td width="15%"></td>
          </tr>
          <tr>
            <td width="15%">{{ $t("message.member_totalize") }}：</td>
            <td width="55%" colspan="5"></td>
            <!-- <td width="15%">{{CodeComDataTotal.VTotalUserCount}}</td> -->
            <td width="15%">{{ CodeComDataTotal.VTotalRakeIncomeAmt }}</td>
            <td width="15%"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <commission-plan></commission-plan>
    <div class="maxtip" v-if="IsShowTip">{{ textSucc }}</div>
    <el-dialog title :visible.sync="DialogVisible" :modal-append-to-body="false" center>
      <!-- 佣金方案 -->
      <div v-if="showModal === 'Plan'">
        <span>{{ $t("message.agency_ommission_scheme") }}</span>
      </div>
      <!-- 佣金详情 -->
      <div v-else>
        <span>
          {{ $t("message.agency_consumer") }}：
          <span class="prefix-text">{{ dialogPrefix }}</span>
          {{ DialogMemberType }}
        </span>
        <div class="table-block-common">
          <table width="100%" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <td width="15%">{{ $t("message.member_hour") }}</td>
                <td width="10%">{{ $t("message.agency_commissionRatio") }}</td>
                <td width="20%">{{ $t("message.agency_TodayAmount") }}</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(codeList, index) in IBCommissionData.ListIBCommissionReport" :key="index">
                <td>{{ codeList.EndDateTick | utcTicksToLocalTime("YYYY/MM/DD") }}</td>
                <td>
                  <span>{{ codeList.VMinRakeRate }}</span>
                </td>
                <td>{{ codeList.RakeIncome }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="25%" colspan="2" style="text-align: left;">{{ $t("message.agency_subtotal") }}：</td>
                <td width="20%">{{ IBCommissionData.SubtotalRakeIncomeAmt }}</td>
              </tr>
              <tr>
                <td width="25%" colspan="2" style="text-align: left;">{{ $t("message.member_totalize") }}：</td>
                <td width="20%">{{ IBCommissionData.TotalRakeIncomeAmt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--分页-->
        <paginate :PageCount="this.PageCount" :PageNo="this.PagingInfo.PageNo"></paginate>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="DialogVisible = false">{{ $t("message.login_close") }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import CommUtility from "scripts/common/CommUtility"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import Paginate from "@/mod/k19/components/sub/paginate"
import commissionPlan from "@/components/sub/agency/commissionRecord/commissionPlan"
import EventBus from "scripts/common/EventBus"

export default {
  components: {
    Paginate,
    commissionPlan
  },
  data() {
    return {
      histName: undefined,
      textSucc: undefined,
      IsShowTip: false,
      AutoUpgradeFlag: 2, // 1自动晋升， 2手动晋升
      IncomeMode: 1401, // 1401码佣，14012占成+码佣
      DialogVisible: false, // 弹窗
      DialogMemberType: "", // 弹窗用户名
      dialogPrefix: "",
      PageCount: 0,
      // 搜尋條件
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      ListIBCommissionReport: [], // 码佣详情列表
      showModal: "", // 显示的模块
      IBCommissionData: {}, // 详情数据
      selectArgs: {} // 点击的列
    }
  },
  props: {
    IsNextLayer: {
      type: Number,
      default: 0
    },
    HistoricalPath: {
      default: function () {
        return []
      }
    },
    CodeComIBCommissionList: {
      type: Array,
      default: function () {
        return []
      }
    },
    CodeComDataTotal: {
      type: Object,
      default: function () {
        return {}
      }
    },
    CodeComDataSubtotal: {
      type: Object,
      default: function () {
        return {}
      }
    },
    DisplayRechargeObj: {
      default: function () {
        return {}
      }
    }
  },
  created() {},
  methods: {
    // 显示dialog弹窗
    showDialog(item, name) {
      this.selectArgs = item
      this.showModal = name
      this.viewDetail(item)
      this.DialogVisible = true
    },
    // 查看佣金方案
    viewPlan(item) {
      EventBus.$emit("lookOverDetail", item)
    },
    // 查看详情
    viewDetail(item) {
      this.selectArgs = item
      this.getDetail(1)
    },
    // 获取详情数据
    async getDetail(pageNo) {
      // 用户名
      this.DialogMemberType = this.selectArgs.LoginID
      // 前缀
      this.dialogPrefix = this.selectArgs.Prefix
      let inputObj = {
        IBID: this.selectArgs.MemberID, // 代理ID 必填
        LoginID: this.selectArgs.LoginID,
        IsAutomatic: this.selectArgs.IsAutomatic,
        QueryStartTick: this.selectArgs.StartDateTick,
        QueryEndTick: this.selectArgs.EndDateTick,
        PagingInfo: this.PagingInfo,
        IsNextLayer: this.IsNextLayer
      }
      const GameData = await AgencyCenterService.GetIBCommissionReport_Details(inputObj)
      if (GameData.Ret === 0) {
        this.IBCommissionData = GameData.Data
        // this.ListIBCommissionReport = GameData.Data.ListIBCommissionReport
      }
    },
    // 分页 20190517 LMX
    GetCurrentPageData(pageNo) {
      console.log(pageNo)
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo
        this.getDetail(pageNo)
      }
      // if (this.QueryType === 'zhanCheng') {
      //   this.AgencyZCheng(pageNo, 'false');
      // } else if (this.QueryType === 'CodeCommission') {
      //   this.AgencyCodeCommission(pageNo, 'false');
      // }
    }, // end GetCurrentPageData
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // 開啟視窗
    RakeOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("RecordDetailRakeForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseDetail: function () {
      CommUtility.WebClosealertboxForm("RecordDetailRakeForm")
    } // end CloseWindow
  },
  watch: {}
}
</script>
