<template>
  	<div class="user-agreement-box" id="userAgreementForm" style="display: none;">
			<div class="agreement-content">
				<div class="login-cont-title">
					<img src="/static/images/Customer/l_21.png" />
				</div>
				<!--2,7,15版特有-->
				<h4><span v-on:click ="CloseUserAgreement()"></span></h4>
				<!--2版特有-->
				<h2 class="agreement-title">{{$t('message.user_protocol')}}<span>User agreement</span></h2>
				<p><i>1、</i><span>{{$t('message.reg_ask_customer_age')}}</span></p>
				<p><i>2、</i><span>{{$t('message.reg_complect_information')}}</span></p>
				<p><i>3、</i><span>{{$t('message.reg_effective_member')}}</span></p>
				<p><i>4、</i><span>{{$t('message.reg_free_service_charge')}}</span></p>
				<p><i>5、</i><span>{{$t('message.reg_update_information')}}</span></p>
				<p><i>6、</i><span>{{$t('message.reg_one_member_account')}}</span></p>
				<p><i>7、</i><span>{{$t('message.reg_refer_government')}}</span></p>
				<p><i>8、</i><span>{{$t('message.reg_abuse_commission')}}</span></p>
				<p><i>9、</i><span>{{$t('message.reg_player_preferentail')}}</span></p>
				<a class="back-register" v-on:click ="CloseUserAgreement()"><i>{{$t('message.member_ascertain')}}</i></a>
			</div>
		</div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';

export default {
  
  methods: {
      // 彈出視窗
      OpenUserAgreement: function () {
          CommUtility.WebShowUniqueForm('userAgreementForm');
      }, // end OpenUserAgreement

      // 關閉視窗
      CloseUserAgreement: function () {
          CommUtility.WebCloseUniqueForm('userAgreementForm');
      }, // end CloseUserAgreement
  },
};
</script>
