<template>
  <ul class="news-lists" v-show="NewsListNull">
    <li
      class="clearfix news-li news-li-PopUp"
      v-for="(News, index) in this.MessageContentData"
      @click="$parent.showDetail(News.ID)"
      :key="index + 'PopUp'"
    >
      <div class="news-img">
        <img v-if="ResourceFlag" v-bind:src="Resource + News.TitlePic" />
      </div>
      <div class="an-news">
        <p class="an-news-title" @click="$parent.showDetail(News.ID)">{{ News.Title | simpleContent(20) }}</p>
        <p
          class="an-news-text"
          v-if="News.MessageCotent != undefined"
          v-html="$options.filters.simpleContent(News.MessageCotent, 50)"
        ></p>
        <div class="clearfix an-news-bottom">
          <p class="an-news-date">
            {{ $t("message.news_pubdate") }}：{{ News.MessageTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }} (GMT+8)
          </p>
          <a href="javascript:void(0);" @click="$parent.showDetail(News.ID)" class="an-news-btn">{{
            $t("message.news_view_details")
          }}</a>
        </div>
      </div>
    </li>
    <li
      class="clearfix news-li news-li-JumpPage"
      v-for="(News, index) in this.MessageContentData"
      @click="UrlRedirectDetail(News)"
      :key="index + 'JumpPage'"
    >
      <div class="news-img">
        <img v-if="ResourceFlag" v-bind:src="Resource + News.TitlePic" />
      </div>
      <div class="an-news">
        <p class="an-news-title" @click="UrlRedirectDetail(News)">{{ News.Title | simpleContent(20) }}</p>
        <p
          class="an-news-text"
          v-if="News.MessageCotent != undefined"
          v-html="$options.filters.simpleContent(News.MessageCotent, 50)"
        ></p>
        <div class="clearfix an-news-bottom">
          <p class="an-news-date">
            {{ $t("message.news_pubdate") }}：{{ News.MessageTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }} (GMT+8)
          </p>
          <a href="javascript:void(0);" @click="UrlRedirectDetail(News)" class="an-news-btn">{{
            $t("message.news_view_details")
          }}</a>
        </div>
      </div>
    </li>
    <li
      class="clearfix news-li news-li-ShowHide"
      v-for="(News, index) in this.NewsList"
      @click="$parent.UrlRedirectDetailAnimation(News.ID)"
      :key="index + 'ShowHide'"
    >
      <div class="news-img">
        <img v-if="ResourceFlag" v-bind:src="Resource + News.TitlePic" />
      </div>
      <div class="an-news">
        <p class="an-news-title" @click="$parent.UrlRedirectDetailAnimation(News.ID)">
          {{ News.Title | simpleContent(20) }}
        </p>
        <p
          class="an-news-text"
          v-if="MessageContentData[index] != undefined"
          v-html="$options.filters.simpleContent(MessageContentData[index], 50)"
        ></p>
        <div class="clearfix an-news-bottom">
          <p class="an-news-date">发布时间：{{ News.MessageTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }} (GMT+8)</p>
          <a href="javascript:void(0);" @click="$parent.UrlRedirectDetailAnimation(News.ID)" class="an-news-btn"
            >了解详情</a
          >
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
import { NewsListContent } from "@/assets/scripts/comTest/main/newsList/newsListContent.js"
export default {
  mixins: [NewsListContent]
}
</script>
