<template>
  <div class="psl_tab_cont" :class="'passwordModifyForm_' + $MessageLang">
    <div id="passwordModifyForm" name="passwordModifyForm">
      <ul class="input_field pw_field member_new_tip">
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_primitive_password')}}</div>
          <div class="input_rt">
            <input
              type="password"
              name="OriginPassword"
              @focus="TipShow(1)"
              @blur="TipHide(1)"
              v-model="PasswordObj.OriginPassword"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              :placeholder="$t('message.member_original_password')"
            />
            <i
              class="tip-box"
              v-show="errors.has('OriginPassword') && fields.OriginPassword.touched"
            ></i>
            <i
              class="tip-error"
              v-show="errors.has('OriginPassword') && fields.OriginPassword.touched"
            ></i>
            <i
              class="tip1 line_height_14"
              :style="ModifyType===2?line_height_20:''"
              v-show="errors.has('OriginPassword') && this.TipsShow.OriginPassword == true"
            >{{Reg.PasswordErrorMsg}}</i>
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_new_password')}}</div>
          <div class="input_rt">
            <input
              type="password"
              name="NewPassword"
              @focus="TipShow(2)"
              @blur="TipHide(2)"
              v-model="PasswordObj.NewPassword"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              :placeholder="$t('message.member_enter_newPassword')"
            />
            <i class="tip-box" v-show="errors.has('NewPassword') && fields.NewPassword.touched"></i>
            <i class="tip-error" v-show="errors.has('NewPassword') && fields.NewPassword.touched"></i>
            <i
              class="tip1 line_height_14"
              :style="ModifyType===2?line_height_20:''"
              v-show="errors.has('NewPassword') && this.TipsShow.NewPassword == true"
            >{{Reg.PasswordErrorMsg}}</i>
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_password_confirmation')}}</div>
          <div class="input_rt">
            <input
              type="password"
              name="ConfirmPassword"
              @focus="TipShow(3)"
              @blur="TipHide(3)"
              v-model="PasswordObj.ConfirmPassword"
              v-validate="{ rules: { regex:Reg.Password, required: true , is: PasswordObj.NewPassword}}"
              :placeholder="$t('message.member_enter_again')"
              onpaste="return false"
            />
            <i
              class="tip-box"
              v-show="errors.has('ConfirmPassword') && fields.ConfirmPassword.touched"
            ></i>
            <i
              class="tip-error"
              v-show="errors.has('ConfirmPassword') && fields.ConfirmPassword.touched"
            ></i>
            <i
              class="tip1 line_height_14"
              :style="ModifyType===2?line_height_20:''"
              v-show="errors.has('ConfirmPassword') && TipsShow.ConfirmPassword == true"
            >{{passwordCheckValidate.errorText}}</i>
          </div>
        </li>
      </ul>
      <div class="pub_btn_both style3">
        <a
          class="btn1 alert_click1 hasblock"
          href="javascript:void(0);"
          @click="SubmitChange();"
        >{{$t('message.member_ascertain')}}</a>
        <a class="btn2" @click="navClick('webMemberSummary')">{{$t('message.member_cancel')}}</a>
      </div>
    </div>

    <!-- 取款密码错误后弹出账户冻结 2018.12.17 SeyoChen -->
    <div id="pwdErrorForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="WebCloseUniqueForm('pwdErrorForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebCloseUniqueForm('pwdErrorForm');"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_red">{{$t('message.member_account_freezing')}}</p>
        <p>{{$t('message.member_service_unlock')}}</p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          @click="WebCloseUniqueForm('pwdErrorForm');OpenNewBox($ServeLink)"
        >{{$t('message.member_contact_service')}}</a>
      </div>
    </div>
    <!-- 取款密码错误后弹出账户锁定 2018.12.17 SeyoChen end-->

    <!-- 取款密码错误后弹出账户锁定 2019.01.12 SeyoChen -->
    <div id="pwdErrorForm2" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="WebCloseUniqueForm('pwdErrorForm2')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebCloseUniqueForm('pwdErrorForm2');"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_red">{{$t('message.member_account_lockout')}}</p>
        <p>
          {{$t('message.member_mistaken')}}
          <br />
          {{$t('message.member_withdrawal_function')}}
        </p>
      </div>
      <div class="alert_btn_both">
        <!-- <a class="btn1" @click="CommUtility.WebCloseUniqueForm('pwdErrorForm');CommUtility.WebShowUniqueForm('CustomerServiceWindow')" href="javascript:void(0);">联系客服</a> -->
        <a
          class="btn1"
          @click="WebCloseUniqueForm('pwdErrorForm2');OpenNewBox($ServeLink)"
        >{{$t('message.member_contact_service')}}</a>
      </div>
    </div>
    <!-- 取款密码错误后弹出账户锁定 2019.01.12 SeyoChen end -->
  </div>
</template>

<script>
import BLDef from '@/assets/scripts/common/BLDef.js';
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import LoginService from '@/mod/k04/assets/scripts/businessLogic/loginService.js';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import SignalRService from '@/assets/scripts/common/SignalRService.js';

export default {
  props: {
    ModifyType: undefined
  },
  data() {
    return {
      ProcessingFlag: false,
      PasswordObj: {},
      lineHeight: {},
      Reg: {
        Password: Regex.Regex.Password,
        PasswordErrorMsg: this.$t('message.login_notations')
      },

      // 判断是否在取款中已经封锁账号 2018.12.17 SeyoChen
      CommUtility: CommUtility,
      WithdrawData: {
        WithdrawPwd: ''
      },
      // 判断是否在取款中已经封锁账号 2018.12.17 SeyoChen end

      TipsShow: {
        OriginPassword: false,
        NewPassword: false,
        ConfirmPassword: false
      },
      // 设置提示气泡样式
      line_height_20: {
        lineHeight: '20px'
      },
      pswEditError: false
    };
  },
  mounted: function() {
    CommUtility.BindEnterTrigger('passwordModifyForm', this.SubmitChange);

    EventBus.$on('pswEditFlag', () => {
      this.pswEditError = true;
      this.Logout();
    });
  },
  computed: {
    passwordCheckValidate: function() {
      console.log(this.PasswordObj.ConfirmPassword);
      console.log(this.PasswordObj.NewPassword);
      var errorText;
      if (this.ModifyType === 2) {
        // this.Reg.Password = Regex.Regex.Password;
        // this.Reg.PasswordErrorMsg = this.$t('message.login_notations');
      } else if (this.ModifyType === 4) {
        // this.Reg.Password = Regex.Regex.WithdrawPwd;
        // this.Reg.PasswordErrorMsg = this.$t('message.reg_use_numbers');
      }
      if (
        !/^[a-zA-Z0-9!@#$%^&*()_+{}:"|<>?\-=\[\]'\;,./~`]{6,20}$/.test(
          this.PasswordObj.ConfirmPassword
        )
      ) {
        this.TipsShow.ConfirmPassword = true;
        if (this.ModifyType === 2) {
          errorText = this.$t('message.login_notations');
        } else {
          errorText = this.$t('message.reg_use_numbers');
        }
      } else if (
        this.PasswordObj.ConfirmPassword !== this.PasswordObj.NewPassword
      ) {
        this.TipsShow.ConfirmPassword = true;

        errorText = this.$t('message.member_inconsistent_passwords');
      } else {
        this.TipsShow.ConfirmPassword = false;
      }

      return {
        errorText
      };
    }
  },
  methods: {
    OpenNewBox: function() {
      window.open(
        'https://ytpfx.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=1062671&configID=46821&jid=8209720587&s=1',
        '客服',
        'scrollbars=1,width=365,height=565,left=10,top=150'
      );
      this.WebCloseUniqueForm();
      // return window.open(aa, 'newindow', 'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    },
    TipShow: function(num) {
      switch (num) {
        case 1:
          this.TipsShow.OriginPassword = true;
          break;
        case 2:
          this.TipsShow.NewPassword = true;
          this.TipsShow.ConfirmPassword = false;
          break;
        case 3:
          this.TipsShow.ConfirmPassword = true;
          break;
        default:
          break;
      }
    },
    TipHide: function(num) {
      switch (num) {
        case 1:
          this.TipsShow.OriginPassword = false;
          break;
        case 2:
          this.TipsShow.NewPassword = false;
          break;
        case 3:
          this.TipsShow.ConfirmPassword = false;
          break;
        default:
          break;
      }
    },

    navClick: function(name) {
      this.$store.dispatch('setSwitchNameText', name);
    },
    // 關閉彈窗
    WebCloseUniqueForm: function(id) {
      CommUtility.WebClosealertboxForm(id);
    }, // end HideEditPhone

    // 弹出新窗口
    // OpenNewBox: function (aa) {
    //   return window.open(
    //     aa,
    //     'newindow',
    //     'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
    //   );
    // },

    // 送出修改密碼
    SubmitChange: async function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
        this.TipsShow.ConfirmPassword = false;
      });
      const result = await this.$validator.validateAll();
      if (this.ModifyType === 2) {
        this.passwordCheckValidate.errorText = this.$t(
          'message.login_notations'
        );
      } else {
        this.passwordCheckValidate.errorText = this.$t(
          'message.reg_use_numbers'
        );
      }
      if (result === false) {
        return;
      }

      // 處理中則直接返回
      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;

      const inputObj = {
        CPType: this.ModifyType,
        ChangePwdInfo: {
          OriginPwd: this.PasswordObj.OriginPassword,
          NewPwd: this.PasswordObj.NewPassword,
          ConfirmNewPwd: this.PasswordObj.ConfirmPassword
        }
      };

      // 判断是否在取款中已经封锁账号 2018.12.17 SeyoChen
      if (this.ModifyType === 4) {
        // 2019.01.12 判定是否锁定账号
        const lookingData = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo();
        this.ProcessingFlag = false;
        console.log(lookingData.Data.WithdrawPwdErrCnt);
        if (lookingData.Data.WithdrawPwdErrCnt > 2) {
          CommUtility.WebShowAlertboxForm('pwdErrorForm2');
          return;
        }
        // 2019.01.12 判定是否锁定账号 end

        // 取得登入狀態 -- 判断账户状态 是否被冻结 2018.12.26
        const retData = await CommonService.Comm_CheckPermission();
        this.ProcessingFlag = false;
        console.log('--------------666666666---------------');
        console.log(retData);
        if (retData.Status !== BLDef.SysAccountStatus.LOGINED_ENABLED) {
          const notifyData = {
            NotifyMessage: this.$t('message.top_account_freezing'),
            NotifySubMessage: undefined,
            CloseFunction: function() {
              window.close();
            }
          };
          EventBus.$emit('showNotifyMemberMessage', notifyData);
          return;
        }
        // 取得登入狀態 -- 判断账户状态 是否被冻结 2018.12.26 end

        this.WithdrawData.WithdrawPwd = this.PasswordObj.OriginPassword;
        const data = await PersonalCenterService.WithdrawApply_Add(
          this.WithdrawData
        );
        console.log('--------------666666666---------------');
        console.log(data.Data.PwdErrCnt);
        this.ProcessingFlag = false;
        if (data.Data.PwdErrCnt > 3) {
          CommUtility.WebShowAlertboxForm('pwdErrorForm');
          return;
        }
      }
      // 判断是否在取款中已经封锁账号 2018.12.17 SeyoChen end

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.ChangePassword_Mod(inputObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      let notifyData = {
        NotifyMessage: data.Message
      };

      if (data.Ret === 0 && this.ModifyType === 4) {
        notifyData.CloseFunction = this.ResetPwdForm;
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMemberMessage', notifyData);
      } else if (data.Ret === 0 && this.ModifyType === 2) {
        // 修改登录密码成功后退出当前用户 20190830 SeyoChen
        notifyData = {
          NotifyMessage: this.$t('message.main_change_password'),
          CloseFunction: this.Logout,
          pswEdit: 2
        };
        EventBus.$emit('showNotifyMemberMessage', notifyData);
        // 修改登录密码成功后退出当前用户 20190830 SeyoChen end
      } else {
        // 顯示訊息彈窗
        EventBus.$emit('showNotifyMemberMessage', notifyData);
      }

      this.ProcessingFlag = false;
    },
    // 清除畫面驗證與資料
    ResetPwdForm: function() {
      this.PasswordObj = {};
      this.$validator.reset();
    },
    // 切換密碼類型時更新正則與驗證訊息
    UpdateRegex: function() {
      // console.log('this.ModifyType',this.ModifyType)
      if (this.ModifyType === 2) {
        this.Reg.Password = Regex.Regex.Password;
        this.Reg.PasswordErrorMsg = this.$t('message.login_notations');
      } else if (this.ModifyType === 4) {
        this.Reg.Password = Regex.Regex.WithdrawPwd;
        this.Reg.PasswordErrorMsg = this.$t('message.reg_use_numbers');
      }
    },
    // 登出
    Logout: async function() {
      console.log('121212');
      const inputObj = {
        LogoutInfo: {}
      };
      EventBus.$emit('loginFlagCheck', false);
      localStorage.setItem('loginFlag', 'false');
      EventBus.$emit('GlobalLoadingTrigger', true);
      const reData = await LoginService.LogOut(inputObj);
      // 移除登入相關資料
      localStorage.removeItem('Token');
      localStorage.removeItem('Auth');
      localStorage.removeItem('logoutTime');
      localStorage.removeItem('Acct'); // 2018.09.20 SeyoChen
      localStorage.removeItem('CorrelationIBMemberId');
      localStorage.removeItem('IBStatus');
      localStorage.removeItem('loginFlag');
      EventBus.$emit('GlobalLoadingTrigger', false);
      console.log('131313');
      if (!this.pswEditError) {
        SignalRService.DisConnectServer();
      }
      console.log('141414');
      CommUtility.WebCloseUniqueForm('memberMainFrom'); // 页面切换时隐藏弹窗

      // window.location.href = '/';

      if (reData.Ret === 0) {
        // window.location.href = '/Login';
        window.location.href = '/';
        EventBus.$emit('GlobalLoadingTrigger', false);
      } else {
        // 若沒接收到signalr斷線訊息，則3秒後自行斷線
        setTimeout(function() {
          // 斷Signalr連線
          // window.location.href = '/Login';
          window.location.href = '/';
          EventBus.$emit('GlobalLoadingTrigger', false);
        }, 3000);
      }
    }
  },
  watch: {
    ModifyType: function() {
      this.ResetPwdForm();
      this.UpdateRegex();
    }
  },
  beforeDestroy() {
    EventBus.$off('pswEditFlag');
  }
};
</script>
