.theme25 {
    .wrap {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    .wrapper-content {
        width: 100%;
        position: relative;
        background-color: #000;
        margin-top: 84px;
    }

    /* 游戏维护中 */
    .game-maintain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .eg-big-play {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 20;
    }

    .eg-big-maintain {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 45px;
    }

    .game-maintain,
    .eg-big-play {}

    .eg-big-maintain {}

    /* 游戏维护中 end */

    /*代理加盟，联系我们公共样式*/
    .a-j-lists {
        font-family: 'PingFang Regular';

        .a-j-putBox-title {
            display: none;
        }

        .proxy-com {
            &.proxy-BankAccnt {
                clear: both;
            }

            &.member-name {
                overflow: hidden;

                .name {
                    color: #fff;
                    line-height: 20px;
                    font-size: 16px;
                    margin-left: 28px;
                }
            }

            textarea {
                width: 496px;
                resize: none;
                height: 100px;
                border: none;
                border-bottom: 1px solid #3f4040;
                background: none;
                padding: 0 6px;
                outline: none;
                color: #cccccc;
                font-size: 16px;
                margin-left: 22px;
                box-sizing: border-box;
            }

            .proxy-line {
                padding-top: 16px;

                .vdp-datepicker {
                    display: inline-block;
                    vertical-align: top;

                    /deep/ input {
                        box-sizing: content-box;
                        margin-left: -4px;
                    }
                }

                i.a-j-downimg {
                    width: 9px;
                    height: 8px;
                    position: absolute;
                    right: 6px;
                    top: 10px;
                }

                .title {
                    float: left;
                    width: 100px;
                    text-align: right;
                    color: #929292;
                    font-size: 16px;
                    line-height: 24px;

                    .txt {
                        font-weight: 400;
                        margin-left: 5px;
                    }

                    .colon {
                        display: none;
                    }

                    .asterisk {
                        display: inline-block;
                        color: #cc3333;
                    }
                }

                input[type=text],
                .a-j-input input {
                    display: inline-block;
                    vertical-align: top;
                    width: 496px;
                    height: 29px;
                    border: none;
                    border-bottom: 1px solid #3f4040;
                    background: none;
                    padding-left: 6px;
                    outline: none;
                    color: #c3c3c3;
                    font-size: 16px;
                    padding-bottom: 5px;
                    margin-left: 22px;
                    box-sizing: border-box;
                }

                &.code {
                    input {
                        width: 280px;
                        margin-right: 10px;
                    }

                    img {
                        height: 40px;
                        vertical-align: top;
                    }
                }

                &.branch-name {
                    .title {
                        display: none;
                    }

                    input {
                        width: 128px;
                    }
                }
            }

            .a-j-input {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-left: 22px;

                .down {
                    width: 105px;
                    margin-left: 0;
                    position: relative;

                    .d_course {
                        border: 0;
                        border-bottom: 1px solid #3f4040;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 2px 6px;
                        color: #c3c3c3;
                        font-size: 16px;
                        border-radius: 0;
                        background: none;
                    }

                    .down_box {
                        top: 29px;
                        width: 100%;

                        .down_list {
                            white-space: nowrap;
                        }
                    }
                }

                .a-j-sexUl {
                    overflow: hidden;
                    font-size: 16px;
                    color: #000;
                    line-height: 36px;

                    .a-j-sexItem {
                        width: 50px;
                        height: 26px;
                        line-height: 26px;
                        color: #c3c3c3;
                        font-size: 16px;
                        float: left;
                        margin-right: 9px;
                        position: relative;
                        cursor: pointer;
                        text-align: center;
                        border: 1px solid #353535;

                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            cursor: pointer;
                            opacity: 0;
                        }

                        &.on {
                            border: 1px solid orange;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }
            }

            .a-j-input.sex {
                img {
                    display: none;
                }

                input.a-j-select-ipt {
                    display: none;
                }
            }

            .a-j-input1 {
                margin-right: 10px;
                float: left;

                input {
                    width: 80px;
                }
            }

            .tip1 {
                font-size: 12px;
                color: #e50000;
                margin: 3px 0 0 122px;
                clear: none;
            }

            textarea,
            input {

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    font-size: 16px;
                    font-family: 'PingFang Regular';
                }
            }
        }

        .proxy-com.proxy-Branch {
            float: left;
        }

        .proxy-com.proxy-BranchName {
            float: left;

            .tip1 {
                margin: 3px 0 0 0;
            }
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #666;
            font-family: 'PingFang Regular';
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #666;
            font-family: 'PingFang Regular';
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #666;
            font-family: 'PingFang Regular';
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #666;
            font-family: 'PingFang Regular';
        }
    }

    .a-j-submit {
        display: block;
        width: 231px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        background: #ff8400;
        color: #fff;
        margin: 30px auto;
        cursor: pointer;
        border-radius: 3px;
        font-family: 'PingFang Regular';
        letter-spacing: 10px;
        word-spacing: 10px;
        text-indent: 10px;
    }

    /*代理加盟，联系我们公共样式 end*/

}
