.theme34 {
    div#emailVerifySuccessForm {
        z-index: 10000;
        border: 1px solid #b37b26;
    }

    /*弹框-旧版*/
    .pub_alert_box {
        width: auto;
        min-width: 270px;
        /* min-height: 140px; */
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 9999;
        /* padding: 0 20px; */
    }

    .pub_alert_box .descr_title {
        // width: 100%;
        // /* height: 50px; */
        // height: 45px;
        // line-height: 41px;
        // //  margin-bottom: 20px;
        // border-bottom: solid 1px #ebebeb;
        // text-align: left;
    }

    #emailVerifyForm .descr_title,
    #RecordDetailNormalForm .descr_title {
        margin-bottom: 20px;
    }

    .pub_alert_box.re_h .descr_title {
        height: 41px;
    }

    .pub_alert_box .descr_title p {
        font-size: 14px;
        color: #323544;
        float: left;
        margin-left: 20px;
    }

    .pub_alert_box .descr_title a.icon_close {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        margin-top: 16px;
        margin-right: 20px;
    }

    .descr_p {
        padding: 0 30px;
    }

    .record_detail_title {
        width: 120px;
        text-align: right;
        font-size: 12px;
        color: #323544;
        display: inline-block;
        margin-bottom: 15px;
    }

    .alert_btn_both {
        width: 100%;
        height: 28px;
        text-align: center;
        /* margin: 20px auto 30px; */
        margin: 32px auto 22px;
        font-size: 0;
    }

    .pub_alert_box.re_h .alert_btn_both {
        margin: 20px auto;
        clear: both;
    }

    .alert_btn_both a {
        display: inline-block;
        min-width: 86px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
    }

    .alert_btn_both a.btn1 {
        background: #b37b26;
        width: 86px;
        // height: 28px;
        margin: auto;
        color: #fff;
    }

    .alert_btn_both a.btn2 {
        background: #fff;
        color: #736f6a;
        margin-left: 10px;
    }

    .alert_pb_list {
        overflow: hidden;
        // border-bottom: solid 1px #5d2b2b;
        // padding-bottom: 20px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li.first_li div {
        font-size: 12px;
        color: #706e9b;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 100px;
        text-align: center;
    }

    .alert_pb_list li div {
        width: 63px;
        float: left;
        font-size: 12px;
        color: #706e9b;
        text-align: left;
        line-height: 22px;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .sum_alert_box .icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        margin-top: 12px;
        margin-left: 10px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #8a6f6f;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 100px;
        font-size: 14px;
        color: #8a6f6f;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field.style2 li {
        margin-top: 15px;
        min-height: 30px;
        height: auto;
        overflow: hidden;
    }

    .input_field.style2 .input_lf {
        width: 85px;
    }

    .input_field.style2 .input_rt {
        min-height: 30px;
        height: auto;
    }

    .input_field.style2 .input_rt input {
        width: 194px;
        color: #4b4b4b;
        border: solid 1px #d9d9d9;
        background: rgba(172, 171, 171, 0.19);
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .login-popup .p_blue {
        width: 210px;
    }

    .descr_p p {
        font-size: 12px;
        color: #4b4b4b;
        /* padding: 0 30px; */
        line-height: 28px;
        word-break: break-all;
        text-align: center;
    }

    .forget_pw {
        font-size: 15px;
        color: #5989b2;
        display: inline-block;
        margin: auto;
        text-align: center;
        margin: 5px 0 20px 0;
    }

    .LoadBox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9999;
        display: none;
    }

    .LoadBox .Lp {
        position: relative;
        top: 45%;
        left: 47%;
        width: 93px;
        height: 93px;
        line-height: 93px;
        z-index: 9999;
    }

    .LoadBox .Lp p {
        font-size: 12px;
        color: #ffffff;
        text-align: center;
    }

    .LoadBox .LoadIcon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 93px;
        height: 93px;
        -webkit-animation: RotaA 1.5s linear infinite;
        animation: RotaA 1.5s linear infinite;
    }

    @keyframes RotaA {
        from {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }

        to {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes RotaA {
        from {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }

        to {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-moz-keyframes RotaA {
        from {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }

        to {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-ms-keyframes RotaA {
        from {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }

        to {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    /*end*/
    #forgetPasswordForm {
        min-width: 520px;
        min-height: 290px;
    }

    .descr_p p.p_blue {
        text-align: center;
        font-size: 18px;
        color: #798aad;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .input_field .input_lf {
        font-size: 14px;
        color: #4b4b4b;
        float: left;
        height: 30px;
        line-height: 30px;
    }

    .input_field .input_rt input {
        height: 18px;
        line-height: 18px;
        padding: 5px 10px;
        font-size: 14px;
        outline: none;
    }

    #forgetPasswordForm input {
        width: 300px;
    }

    .input_field.style2 .input_rt input::-webkit-input-placeholder {
        font-size: 14px;
        color: #999;
    }

    .input_field.style2 .input_rt input:-moz-placeholder {
        font-size: 14px;
        color: #999;
    }

    .input_field.style2 .input_rt input::-moz-placeholder {
        font-size: 14px;
        color: #999;
    }

    .input_field.style2 .input_rt input:-ms-input-placeholder {
        font-size: 14px;
        color: #999;
    }

    .input_field.style2 .input_rt input:focus {
        color: #303030;
        /*border: solid 1px #c9d0f6;*/
        border: solid 1px rgba(105, 124, 229, 0.5);
        background: #fff;
    }

    input:focus {
        box-shadow: 0 0 10px #da1a29;
    }

    input::-moz-placeholder {
        color: #999;
        font-size: 14px;
    }

    input::-ms-input-placeholder {
        color: #999;
        font-size: 14px;
    }

    #activityDetailForm .descr_title {
        margin-bottom: 20px;
    }

    .descr_p p em {
        display: inline-block;
        font-size: 12px;
        color: #4b4b4b;
        margin-right: 20px;
    }

    .five_fonts.descr_p p em {
        width: 72px;
    }

    #bankListForm .descr_title,
    #BettingRecordDetailForm .descr_title {
        margin-bottom: 20px;
    }

    .descr_p .bank_list {
        overflow: hidden;
        width: 760px;
        margin: auto;
        text-align: left;
        font-size: 0;
        margin-bottom: 20px;
    }

    .descr_p .bank_list li {
        display: inline-block;
        width: 182px;
        height: 37px;
        border: solid 1px #dcd8df;
        margin: 3px;
    }

    //用户协议
    .user-agreement-box {
        background: rgb(255, 255, 255);
        width: 1000px;
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 9999;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }

    .login-cont-title {
        text-align: center;
    }

    .user-agreement-box h4 {
        display: none;
    }

    .login-cont-title img {
        width: 68px;
        height: auto;
    }

    .agreement-title span {
        font-size: 14px;
        display: block;
        vertical-align: top;
        margin-top: 6px;
    }

    .agreement-title {
        font-size: 28px;
        color: #35383e;
        text-align: center;
        margin-bottom: 30px;
    }

    .agreement-content p {
        font-size: 14px;
        color: #35383e;
        line-height: 27px;
        margin-bottom: 23px;
    }

    .user-agreement-box .back-register {
        display: block;
        width: 200px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        margin: 65px auto 0;
    }

    .f_box .full_course {
        text-align: center;
    }

    .f_box .full_course h2 {
        margin: 20px 0 26px 0;
        font-size: 24px;
        font-weight: normal;
        color: #787878;
        text-align: center;
    }

    .f_box .full_course p {
        line-height: 28px;
        font-size: 15px;
        color: #787878;
    }

    .f_box .full_course p a {
        color: #950000;
    }

    .f_box .full_course p a:hover {
        color: red;
    }

    .alert_pb_list {
        overflow: hidden;
        // border-bottom: 1px solid #e6e5e5;
        // padding-bottom: 20px;
        //      height: 274px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li div {
        float: left;
        font-size: 12px;
        color: #787878;
        text-align: left;
        line-height: 25px;
    }

    .alert_pb_list li.first_li div {
        font-size: 12px;
        color: #787878;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 120px;
        // text-align: center;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #787878;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 100px;
        font-size: 14px;
        color: #787878;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    #phoneNumberForm .descr_title {
        margin-bottom: 20px;
    }
}
