<template>
  <div
    id="emailVerifySuccessForm"
    class="pub_alert_box success_alert_box f_box"
    style="display: none;"
  >
    <!--7版特有-->
    <div class="seven_popup">
      <div class="full_course">
        <h2>{{$t('message.member_accreditation_success')}}</h2>
        <p>{{$t('message.member_mailbox_certification')}}</p>
      </div>
      <div class="alert_btn_both">
        <a class="btn1 btn-success" href="javascript:void(0);" @click="CloseWindow()">
          <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { initEmVf } from '@/assets/scripts/comTest/sub/member/profile/emailVerifySuccess.js';
export default {
  mixins: [initEmVf]
};
</script>
