<template>
  <!--修改手機號碼彈出窗-->
  <div id="phoneNumberForm" class="pub_alert_box tel_alert_box re_h" style="display: none;">
    <!--7版特有-->
    <div class="seven_popup">
      <div name="PhoneNoForm">
        <div class="descr_title" v-if="DisplayPhoneNo != ''">
          <p>
            原绑定手机号码：
            <span>{{ DisplayPhoneNo | phoneNumberFormat}}</span>
          </p>
          <a class="icon_close" href="javascript:void(0);" @click="HideEditPhone()"></a>
        </div>
        <ul class="input_field style2">
          <li class="hasblock" v-if="DisplayPhoneNo != ''">
            <div class="input_lf">原电话号码：</div>
            <div class="input_rt">
              <input
                type="text"
                name="OrgPhoneNo"
                v-model="OrgPhoneNo"
                v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                placeholder="请输入原来的电话号码"
              />
              <p
                class="tip1 qc-tip"
                v-show="errors.has('OrgPhoneNo') && fields.OrgPhoneNo.touched"
              >仅可以使用数字，减号，加号，字数范围6-30</p>
              <p
                class="tip1 qc-tip"
                v-show="!errors.has('OrgPhoneNo') && fields.OrgPhoneNo.touched"
                v-if="this.OrgPhoneNo != this.DisplayPhoneNo"
              >输入与原手机号不相同</p>
            </div>
          </li>
          <li class="hasblock">
            <div class="input_lf">新电话号码：</div>
            <div class="input_rt">
              <input
                type="text"
                name="NewPhoneNo"
                v-model="NewPhoneNo"
                v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                :placeholder="$t('message.member_enter_newPhone')"
              />
              <p
                class="tip1 qc-tip"
                v-show="errors.has('NewPhoneNo') && fields.NewPhoneNo.touched"
              >仅可以使用数字，减号，加号，字数范围6-30</p>
            </div>
          </li>
        </ul>
        <div class="alert_btn_both">
          <a class="btn1" href="javascript:void(0);" @click="SubmitPhoneEdit()">
            <i class="alertBtn-text comAlertBtn">保存</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { initMePe } from '@/assets/scripts/comTest/sub/member/profile/memberPhoneEdit.js';
export default {
  mixins: [initMePe]
};
</script>
