<template>
  <div>
    <!--个人资料-->
    <div class="member-perdata-content" id="UpdPersonalInfoForm" name="UpdPersonalInfoForm">
      <div class="pre-title summary-cont-title">
        <span>个人资料</span>
      </div>
      <div class="personal-list">
        <div class="member-personal-com" v-if="false">
          <span class="member-percom-name">会员等级：</span>
          <div class="member-percom-putBox">
            <em>{{LoadMainPageDataModel.Member.VMemberLv}}</em>
            <router-link :to="{ name: 'webMemberLevel'}" class="level"></router-link>
            <b
              v-if="LoadMainPageDataModel.IsLastMemberLv === false"
            >（当前洗码量{{LoadMainPageDataModel.MemberUpgradeData.VCurrRakeAmt}}，推广会员{{LoadMainPageDataModel.MemberUpgradeData.VPromoteValidMemberCnt}}个，距离{{LoadMainPageDataModel.MemberUpgradeData.NextLvMemberLvName}}还差{{LoadMainPageDataModel.MemberUpgradeData.VNextLvRakeAmtDiff}}洗码量或{{LoadMainPageDataModel.MemberUpgradeData.VNextLvPromoteValidMemberCntDiff}}个有效推广会员）</b>
          </div>
        </div>
        <div class="member-personal-com">
          <span class="member-percom-name">账号：</span>
          <div class="member-percom-putBox">{{LoadMainPageDataModel.Member.Acct}}</div>
        </div>
        <div class="member-personal-com">
          <span class="member-percom-name">手机：</span>
          <div class="member-percom-putBox">
            <em>{{LoadMainPageDataModel.Member.NewPhoneNo | phoneNumberFormat}}</em>
            <a class="modify" id="modify-btn" @click="TriggerEditPhone()">修改</a>
          </div>
        </div>
        <div class="member-personal-com perdata-sex">
          <span class="member-percom-name">性 别：</span>
          <div class="member-percom-putBox">
            <b
              v-for="Sex in SexTypeSelectList"
              @click="LoadMainPageDataModel.Member.SexType = Sex.Value;"
              :class="LoadMainPageDataModel.Member.SexType ==  Sex.Value? 'on' : ''"
            >{{Sex.Name}}</b>
          </div>
        </div>
        <div class="member-personal-com perdata-email">
          <span class="member-percom-name">昵 称：</span>
          <div class="member-percom-putBox">
            <input
              type="text"
              name="MemberRealName"
              v-model="LoadMainPageDataModel.Member.RealName"
              v-validate="{ rules: { regex:Reg.NickName }}"
            />
            <p
              class="tip1 qc-tip"
              v-show="errors.has('MemberRealName') && fields.MemberRealName.touched"
            >仅可以使用中英文字母,空白, 字数范围2-50</p>
          </div>
        </div>
        <div class="member-personal-com">
          <span class="member-percom-name">微 信：</span>
          <div class="member-percom-putBox">
            <input
              type="text"
              name="WeChatAcct"
              v-model="LoadMainPageDataModel.Member.WeChatAcct"
              v-validate="{ rules: { regex:Reg.WeChatID }}"
            />
            <p
              class="tip1 qc-tip"
              v-show="errors.has('WeChatAcct') && fields.WeChatAcct.touched"
            >仅可以使用6—20个字母、数字、下划线和减号, 必须以字母开头</p>
          </div>
        </div>
        <div class="member-personal-com perdata-email" style="overflow: visible!important;">
          <span class="member-percom-name">邮 箱：</span>
          <div class="member-percom-putBox email-position">
            <input
              type="text"
              name="MemberEmail"
              v-model="Email"
              v-validate="'lamborEmail'"
              v-if="EmailVerifyFlag == false"
            />
            <em
              class="has-verifiy-email"
              v-if="EmailVerifyFlag == true"
            >{{LoadMainPageDataModel.Member.Email}}</em>
            <em class="tip-verifiy-false" v-if="EmailVerifyFlag == false">尚未验证</em>
            <em class="tip-verifiy-true" v-if="EmailVerifyFlag == true">已验证</em>
            <div class="email-explain-move fr">
              <em class="email-explain">?</em>
              <p class="email-explain-box">验证邮箱可以在密码遗失时找回密码。不建议使用QQ邮箱作为验证邮箱</p>
            </div>
            <a
              href="javascript:void(0);"
              class="email-verify"
              @click="EmailVerifyInfo()"
              v-if="EmailVerifyFlag == false"
            >点此验证</a>

            <p class="tip-box" v-show="errors.has('MemberEmail') && fields.MemberEmail.touched"></p>
            <p class="tip-error" v-show="errors.has('MemberEmail') && fields.MemberEmail.touched"></p>
            <p
              class="tip1 qc-tip"
              v-show="(errors.has('MemberEmail') && this.TipsShow.MemberEmail == true)||(EmailValidFlag && this.TipsShow.MemberEmail == true)"
            >仅可以使用英文字母,数字,句号,@,下划线和减号, 字数范围5-100</p>
            <p
              class="tip1 qc-tip"
              v-show="EmailUsedFlag == true && this.TipsShow.MemberEmail == true"
            >此信箱已被使用</p>
          </div>
        </div>
        <div class="member-personal-com">
          <span class="member-percom-name">生 日：</span>
          <div class="member-percom-putBox">
            <datepicker
              class="birthPut"
              id="Birth"
           :language="$MessageLang"
              v-model="LoadMainPageDataModel.Member.Birth"
              format="yyyy/MM/dd"
              calendar-class="startdate_calendar"
              :disabled="this.CalendarDisabled"
            ></datepicker>
          </div>
        </div>
        <div class="member-personal-com">
          <span class="member-percom-name" style="white-space: pre;">Q Q：</span>
          <div class="member-percom-putBox">
            <input
              type="text"
              name="Zalo"
              v-model="LoadMainPageDataModel.Member.QQAcct"
              v-validate="{ rules: { regex:Reg.QQID }}"
            />
            <p
              class="tip1 qc-tip"
              v-show="errors.has('Zalo') && fields.Zalo.touched"
            >仅可以使用5—15个数字</p>
          </div>
        </div>
        <h4 class="member-btn">
          <a class="member-submitBtn" id="save_data_btn" @click="UpdPersionalInfo();">
            <i class="deposit-textBtn">保存</i>
          </a>
          <router-link :to="{ name: 'Member'}" class="member-cancelBtn">
            <i class="deposit-textBtn">取消</i>
          </router-link>
        </h4>
      </div>
    </div>
    <member-phone-edit :DisplayPhoneNo="this.DisplayPhoneNo"></member-phone-edit>
    <email-verify
      :LoadMainPageDataModel="this.LoadMainPageDataModel"
      :LoadEmailVerifyData="this.LoadEmailVerifyData"
    ></email-verify>
    <email-verify-fail></email-verify-fail>
  </div>
</template>

<script>
import { initPfEt } from '@/assets/scripts/comTest/sub/member/profile/profileEdit.js';
export default {
  mixins: [initPfEt]
};
</script>
