// 首页改版 2019/0719 semi_sugar
.indexNew-banner {
    width: 100%;
    height: 450px;
    margin-bottom: 16px;
}

.indexNew-wrapContent {
    .indexNew-position {
        position: relative;
        cursor: pointer;
    }

    .game-logo {
        position: absolute;
        left: 0;
        bottom: 0;

        .game-GameTypeNo {
            color: #fff;
            text-align: center;
        }
    }

    .game-logo1 {
        width: 310px;

        .game-GameTypeNo {
            width: 310px;
            height: 55px;
            line-height: 55px;
            font-size: 26px;
        }
    }

    .game-logo2 {
        width: 180px;

        .game-GameTypeNo {
            width: 180px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
        }
    }

    .game-logo3 {
        width: 140px;

        .game-GameTypeNo {
            width: 140px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
    }

    width: 1400px;
    margin: 0 auto;

    .indexNew-pic-p {
        width: 340px;
        height: 175px;
        float: left;
        overflow: hidden;
    }

    img {
        vertical-align: top;
        max-width: 100%;
    }

    .indexNew-wrap-pic1 {
        clear: both;
        overflow: hidden;
        margin-bottom: 10px;

        .indexNew-pic1-lf {
            width: 700px;
            height: 360px;
            float: left;
            margin-right: 10px;
        }

        .indexNew-pic1-lg {
            float: left;

            .indexNew-pic1-lgTop {
                overflow: hidden;
                margin-bottom: 10px;

                .indexNew-pic-p {
                    float: left;
                }

                .pic1-lgTop-p1 {
                    margin-right: 10px;
                }
            }

            .indexNew-pic1-lgBottom {
                .pic1-lgBottom-p1 {
                    float: left;
                    width: 340px;
                    height: 175px;
                    margin-right: 10px;

                    img {
                        max-width: 100%;
                    }
                }

                .pic1-lgBottom-p2 {
                    float: left;
                    margin-right: 10px;
                }

                .pic1-lgBottom-p3 {
                    float: left;
                    cursor: pointer;
                }
            }

        }
    }

    .indexNew-wrap-pic2 {
        clear: both;
        overflow: hidden;
        margin-bottom: 10px;

        .indexNew-pic2-p1 {
            float: left;
            width: 460px;
            height: 237px;
            margin-right: 10px;
        }

        .indexNew-pic2-p2 {
            float: left;
            width: 460px;
            height: 237px;
            margin-right: 10px;
        }

        .indexNew-pic2-p3 {
            float: left;
            width: 460px;
            height: 237px;
        }

        img {
            max-width: 100%;
        }
    }

    .indexNew-wrap-pic3 {
        clear: both;

        .indexNew-pic3-p1 {
            float: left;
            width: 340px;
            height: 175px;
            margin-right: 10px;
        }

        .indexNew-pic3-p2 {
            float: left;
            margin-right: 10px;
            width: 340px;
            height: 175px;
        }

        .indexNew-pic3-p3 {
            float: left;
            margin-right: 10px;
            width: 340px;
            height: 175px;
        }

        .indexNew-pic3-p4 {
            float: left;
            margin-right: 10px;
            width: 340px;
            height: 175px;
        }

        img {
            max-width: 100%;
        }
    }
}

//导航改版 semi_sugar 2019/07/22
// .main-navNew {
//     position: relative;
//     clear: both;



//     .navNew-List {
//         float: left;
//         font-size: 16px;
//         color: #cbba89;

//         &.hasSelece>a {
//             color: #46fffa;
//             border-bottom: 2px solid #46fffa;
//         }

//         a.navNew-ListA {
//             display: inline-block;
//             color: #cbba89;
//             width: 112px;
//             text-align: center;
//             height: 54px;
//             line-height: 38px;
//             padding-top: 4px;

//             .englishName {
//                 display: block;
//                 vertical-align: top;
//                 line-height: 0px;
//                 font-size: 13px;
//             }
//         }
//     }

//     .navNew-Logo {
//         float: left;


//         img {
//             width: 345px;
//             height: auto;
//             vertical-align: top;
//         }
//     }
// }
