.theme07 {

    /*真人视讯*/
    .live-content {
        min-height: 1000px;
        width: 100%;
        background-position: center top !important;
        position: relative;
        overflow: hidden;
        margin-top: 120px;

        .live-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .live-logo-page {
            padding: 36px 50px;
            width: 1100px;
            min-height: 670px;
            margin: 0 auto;
            margin-top: 270px;

            .live-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .live-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .live-logo-lists {
                font-size: 0;
                height: 630px;
                overflow: hidden;

                li {
                    display: block;
                    float: left;
                    margin: 0 8px 15px 8px;
                    width: 340px;
                    height: 138px;
                    line-height: 138px;
                    text-align: center;
                    background: rgba(0, 0, 0, .3);
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        background: #50576a;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .live-logo-footer {
                display: none;
            }
        }
    }

    /*真人视讯 end*/

    /*电子游戏*/
    .ele-content {
        margin-top: 120px;
        min-height: 1094px;
        position: relative;
        background-size: cover;

        .ele-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .ele-logo-page {
            width: 1150px;
            height: 969px;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -543px;

            .ele-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .ele-logo-top {
                overflow: hidden;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .ele-logo-main {
                .ele-vendor-lists {
                    overflow: hidden;

                    .ele-vendor-li {
                        position: relative;
                        float: left;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        width: 154px;
                        height: 60px;
                        line-height: 60px;
                        background: #4c545e;
                        text-align: center;
                        overflow: hidden;
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            max-width: 100%;
                        }

                        &:hover,
                        &.on {
                            background: #64879f;
                        }
                    }
                }

                .ele-search {
                    width: 264px;
                    height: 42px;
                    border: none;
                    float: right;
                    background: #d4cdd1;
                    margin: 20px 42px;

                    .ele-search-btn {
                        font-size: 0;
                        width: 17px;
                        height: 17px;
                        float: right;
                        margin-top: 13px;
                        margin-right: 6px;
                    }

                    input {
                        width: 220px;
                        height: 40px;
                        line-height: 40px;
                        border: 0;
                        color: #000;
                        font-size: 16px;
                        padding: 0 10px;
                        background-color: transparent;
                        outline: none;

                        &::-webkit-input-placeholder,
                        &::-moz-placeholder,
                        &:-ms-input-placeholder {
                            font-size: 16px;
                            color: #585357;
                        }
                    }
                }

                .ele-type-lists {
                    font-size: 16px;
                    color: #959ca6;

                    dt {
                        float: left;
                        line-height: 16px;
                        margin-top: 20px;
                    }

                    dd {
                        float: left;
                        margin-top: 18px;
                        padding-bottom: 10px;
                        border-right: 1px solid #959ca6;
                        padding: 0 15px;
                        line-height: 10px;

                        a {
                            padding: 5px 10px;
                            font-size: 14px;
                            display: block;
                            color: #959ca6;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        &.on,
                        &:hover {
                            a {
                                padding: 5px 10px;
                                background: #e95730;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }

            .ele-logo-lists {
                margin-top: 30px;
                font-size: 14px;
                line-height: 26px;
                text-indent: 30px;
                vertical-align: top;

                .ele-logo-li {
                    display: block;
                    width: 232px;
                    position: relative;
                    overflow: hidden;
                    float: left;
                    margin-left: 30px;
                    margin-bottom: 30px;

                    a {
                        display: block;
                        text-align: center;
                        text-align: -webkit-center;
                        // background:rgba(217,223,227, .1);

                        b,
                        img {
                            transition: all 1s;
                            -moz-transition: all 1s;
                            -ms-transition: all 1s;
                            -webkit-transition: all 1s;
                            display: block;
                            height: 125px;
                        }

                        img {
                            width: auto;
                            height: 125px;
                            max-width: 100%;
                            margin: 0 auto;
                        }

                        b {
                            font-weight: normal;
                            width: 100%;
                            height: 38px;
                            line-height: 38px;
                            text-align: center;
                            color: #000;
                            font-size: 16px;
                            background: rgba(255, 255, 255, .8);
                            text-indent: 0;
                        }

                        i.shadow {
                            width: 100%;
                            height: 125px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            background: #000;
                            z-index: 1;
                        }

                        span {
                            display: block;
                            position: absolute;
                            left: 80px;
                            top: 30px;
                            opacity: 0;
                            width: 69px;
                            height: 46px;
                            opacity: 0;
                            z-index: 11;
                        }

                        em {
                            text-align: center;
                            font-size: 16px;
                            color: #fff;
                            position: absolute;
                            left: 52px;
                            top: 80px;
                            opacity: 0;
                            border-radius: 3px;
                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;
                            z-index: 1111;
                        }

                        &:hover {
                            i {
                                opacity: .7;
                            }

                            span {
                                opacity: 1;
                            }

                            em {
                                opacity: 1;
                            }
                        }
                    }

                    &:hover {
                        i.shadow {
                            opacity: .7;
                        }
                    }
                }

                li:nth-of-type(4n+1) {
                    margin-left: 0;
                }
            }

            .ele-logo-footer {
                display: none;
            }
        }

        .number-page {
            margin: 10px auto 0;
        }
    }

    /*电子游戏 end*/

    /*体育博彩*/
    .sport-content {
        width: 100%;
        min-width: 1400px;

        .sport-content-banner {
            height: 646px;

            video {
                display: none;
            }
        }

        .sport-logo-page {
            height: 956px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .sport-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .sport-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .sport-logo-lists {
                width: 1200px;
                margin: 0 auto;
                position: relative;
                padding: 36px 50px;
                width: 1100px;
                height: 670px;

                li {
                    display: block;
                    float: left;
                    margin: 0 8px 15px 8px;
                    width: 340px;
                    height: 138px;
                    line-height: 138px;
                    text-align: center;
                    background: rgba(0, 0, 0, .3);
                    position: relative;

                    &:hover {
                        background: #50576a;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .sport-logo-footer {
                display: none;
            }
        }
    }

    /*体育博彩 end*/

    /*彩票投注*/
    .lottery-content {
        width: 100%;
        min-width: 1400px;

        .lottery-content-banner {
            height: 646px;

            video {
                display: none;
            }
        }

        .lottery-logo-page {
            height: 956px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .lottery-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .lottery-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .lottery-logo-lists {
                width: 1200px;
                margin: 0 auto;
                position: relative;
                padding: 36px 50px;
                width: 1100px;
                height: 670px;

                li {
                    display: block;
                    float: left;
                    margin: 0 8px 15px 8px;
                    width: 340px;
                    height: 138px;
                    line-height: 138px;
                    text-align: center;
                    background: rgba(0, 0, 0, .3);
                    position: relative;

                    &:hover {
                        background: #50576a;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    // img {
                    //     width: 100%;
                    //     height: auto;
                    //     vertical-align: middle;
                    // }
                }
            }

            .lottery-logo-footer {
                display: none;
            }
        }
    }

    /*彩票投注 end*/

    /*棋牌游戏*/
    .poker-content {
        width: 100%;
        min-width: 1400px;

        .poker-content-banner {
            height: 700px;

            video {
                display: none;
            }
        }

        .poker-logo-page {
            height: 956px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .poker-logo-banner {
                display: none;
            }

            .poker-main-content {
                .poker-logo-banner {
                    display: none;

                    video {
                        display: none;
                    }
                }

                .poker-logo-top {
                    display: none;

                    h2 {
                        display: none;
                    }

                    p {
                        display: none;
                    }
                }

                .poker-logo-lists {
                    margin: 0 auto;
                    width: 1200px;
                }

                .poker-common,
                .poker-KingLong {
                    display: none;
                }

                .poker-logo-footer {
                    display: none;
                }
            }
        }
    }

    /*棋牌游戏 end*/
    /*新闻中心*/
    .news-content {
        width: 100%;
        min-width: 1400px;

        .news-content-banner {
            height: 646px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .news-page {
            height: 1100px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .news-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .news-main {
                width: 1200px;
                margin: 0 auto;
                position: relative;
                height: 900px;
                padding-top: 55px;
                background-size: 100% 100%;

                .news-title-box {
                    width: 1105px;
                    margin: 0 auto;
                    color: #ecac5f;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #1c293b;
                    text-indent: 17px;
                    margin-bottom: 30px;
                    position: relative;

                    .txt {
                        font-size: 24px;
                    }

                    .desc {
                        font-size: 14px;
                        position: absolute;
                        top: 10px;
                        left: 160px;
                    }
                }

                .news-main-cont {
                    overflow: hidden;
                    position: relative;
                }

                .news-lists {
                    width: 1105px;
                    margin: 0 auto;
                    margin-bottom: 30px;

                    .news-li {
                        padding: 15px 10px;
                        border-bottom: 1px solid #1c293b;
                        font-size: 16px;

                        .news-img {
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            float: left;

                            img {
                                height: 100%;
                                width: auto;
                                max-width: 100%;
                            }
                        }

                        .an-news {
                            width: 705px;
                            overflow: hidden;
                            float: right;

                            .an-news-title {
                                color: #777;
                                font-size: 24px;
                            }

                            .an-news-text {
                                color: #777;
                                font-size: 16px;
                                line-height: 26px;
                                margin-top: 15px;
                            }

                            .an-news-bottom {
                                margin-top: 40px;
                                overflow: hidden;
                            }

                            .an-news-date {
                                color: #777;
                                float: left;
                            }

                            .an-news-btn {
                                color: #5970b5;
                                margin-left: 45px;
                                vertical-align: top;
                                display: inline-block;
                                font-size: 14px;
                                float: left;
                            }
                        }
                    }

                    .news-li.news-li-PopUp {
                        display: none;
                    }

                    .news-li.news-li-ShowHide {
                        display: none;
                    }
                }
            }
        }
    }

    /*新闻弹窗*/
    .news-popup-main {
        display: none;
    }

    /*新闻弹窗 end*/
    /*新闻中心 end*/

    /*新闻详情*/
    .news-detail-content {
        width: 100%;
        min-width: 1400px;

        .news-detail-banner {
            height: 646px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .news-detail-page {
            min-height: 1100px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .news-detail-top {
                position: absolute;
                width: 1105px;
                margin: 0 auto;
                top: 20px;
                left: 0;
                right: 0;
                z-index: 10;

                .news-detail-title {
                    display: none;
                }

                .news-detail-crosswiseTitle {
                    color: #ecac5f;
                    font-size: 24px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #1c293b;
                    text-indent: 17px;
                    margin-top: 35px;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        width: 15px;
                        height: 19px;
                    }
                }

                .back-btn {
                    color: #ecac5f;
                    font-size: 14px;
                    position: absolute;
                    right: 0;
                    top: 46px;
                }
            }

            .news-detail-main {
                width: 1200px;
                margin: 0 auto;
                position: relative;
                min-height: 900px;
                padding: 0 52px;
                padding-top: 130px;
                background-size: 100% 100%;
                box-sizing: border-box;

                .news-detail-main-top {
                    margin-bottom: 30px;
                    text-align: center;

                    .news-detail-title {
                        color: #536bac;
                        font-size: 26px;
                    }

                    .news-detail-time {
                        color: #2e4972;
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }

                .news-detail-img {
                    display: none;
                }

                .news-detail-text {
                    color: #777;
                    font-size: 16px;
                    line-height: 26px;
                    text-indent: 30px;
                    word-break: break-all;
                }
            }
        }
    }

    /*新闻详情 end*/

    /*优惠活动*/
    .activity-content {
        width: 100%;
        min-width: 1400px;

        .activity-content-banner {
            height: 646px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .activity-page {
            height: 1000px;
            width: 100%;
            background-position: center top !important;
            position: relative;

            .activity-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .activity-main-bg {
                width: 1200px;
                margin: 0 auto;
                position: relative;
                height: 800px;
                padding-top: 55px;
                background-size: 100% 100%;

                .activity-title-box {
                    width: 1105px;
                    margin: 0 auto;
                    color: #ecac5f;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #1c293b;
                    text-indent: 17px;
                    margin-bottom: 30px;
                    position: relative;

                    .txt {
                        font-size: 24px;
                    }

                    .desc {
                        font-size: 14px;
                        position: absolute;
                        top: 10px;
                        left: 160px;
                    }
                }

                .activity-main {
                    .activity-lists {
                        overflow: hidden;

                        .activity-li {
                            display: block;
                            float: left;
                            margin-left: 40px;
                            margin-top: 20px;
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: 180px;
                                display: block;
                            }

                            .an-activity {
                                display: none;
                            }
                        }

                        li.activity-li-ShowHide:nth-of-type(3n+1) {
                            margin-left: 0;
                        }

                        .activity-li.activity-li-PopUp {
                            display: none;
                        }

                        .activity-li.activity-li-ShowHide {
                            display: none;
                        }
                    }
                }
            }

        }

        /*无优惠活动占位*/
        .no-activity {
            text-align: center;
        }

        .no-activity-img {
            width: 423px;
            height: 316px;
            margin: 20px auto;
        }

        .no-activity span {
            display: block;
            width: 100%;
            font-size: 18px;
            color: #333;
            text-align: center;
            letter-spacing: 6px;
        }

        /*无优惠活动占位 end*/
    }

    /*优惠活动弹窗*/
    .activity-popup-main {
        display: none;
    }

    /*优惠活动弹窗 end*/
    /*优惠活动 end*/

    /*优惠活动详情*/
    .activity-detail-content {
        width: 100%;
        min-height: 1500px;
        min-width: 1400px;

        .activity-detail-banner {
            height: 646px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .activity-detail-page {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            height: 800px;
            padding: 0 50px;
            box-sizing: border-box;
            padding-top: 55px;
            background-size: 100% 100%;

            .activity-detail-top {
                position: relative;

                .activity-detail-top-title {
                    display: none;
                }

                .activity-detail-crosswiseTitle {
                    color: #ecac5f;
                    font-size: 24px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #1c293b;
                    text-indent: 17px;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        width: 15px;
                        height: 19px;
                    }
                }

                .back-btn {
                    color: #ecac5f;
                    font-size: 14px;
                    position: absolute;
                    right: 0;
                    top: 10px;
                }

                .details-return {
                    display: none;
                }
            }

            .activity-detail-main {
                margin-top: 40px;

                .activity-detail-main-top {
                    margin-bottom: 30px;
                    text-align: center;

                    .activity-detail-title {
                        color: #536bac;
                        font-size: 26px;
                    }

                    .activity-detail-time {
                        color: #2e4972;
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }

                .activity-detail-main-cont {
                    width: 100%;
                    height: 398px;
                    margin-top: 20px;
                    padding: 0;
                    position: relative;
                    overflow: hidden;

                    .activity-detail-img {
                        display: none;
                    }

                    .activity-detail-text {
                        width: 100%;
                        height: auto;
                        font-size: 16px;
                        line-height: 26px;
                        color: #9a9a9a;
                        margin-top: 15px;
                        text-indent: 32px;
                        white-space: normal;
                        word-break: break-all;
                    }
                }
            }

            .activity-btn {
                display: block;
                margin: 0 auto;
                margin-top: 50px;
                width: 100px;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                color: #000;
                background: rgba(255, 255, 255, .3);
                text-align: center;
            }
        }
    }

    /*优惠活动详情 end*/

    /*代理加盟*/
    /*代理加盟表格*/
    .join-content {
        min-height: 1900px;
        width: 100%;
        background-position: center top;
        background-size: 100% 100%;
        position: relative;
        overflow: hidden;

        .join-content-banner {
            // display: none;
            width: 238px;
            height: 66px;
            padding: 700px 0 40px 0;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .join-steps {
            display: none;
        }

        .join-page {
            margin: 0 auto;
            width: 1200px;
            height: auto;
            overflow: hidden;

            .join-main-content {
                width: 1200px;
                min-height: 994px;
                overflow: hidden;
                background-size: 100% 100%;
                margin-bottom: 100px;

                .join-cont-title {
                    display: none;
                }

                .join-main {
                    width: 100%;
                    padding: 50px 230px 0 230px;
                    box-sizing: border-box;

                    .join-main-title {
                        display: none;

                        h3 {
                            display: none;
                        }

                        .detail {
                            display: none;
                        }
                    }

                    .join-main-cont {}

                    .webmaster-main-title {
                        margin: 50px 0;

                        h3 {
                            padding-bottom: 5px;
                            border-bottom: 1px solid #272f39;
                            font-size: 30px;
                            color: #41a0e8;
                            line-height: 30px;
                            margin-bottom: 9px;

                            i {
                                margin-left: -16px;
                            }

                            span {
                                margin-left: -10px;
                            }
                        }

                        .desc {
                            display: none;
                        }

                        .detail {
                            font-size: 16px;
                            color: #9a9a9a;

                            b {
                                color: #41a0e8;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    /*代理加盟表格 end*/
    /*代理加盟 end*/

    /*联系我们*/
    .contact-content {
        width: 100%;
        min-width: 1400px;
        min-height: 1997px;

        .join-banner {
            height: 646px;
        }

        .join-page {
            // height: 1000px;
            // width: 100%;
            // background-position: center top !important;
            // position: relative;
            padding-top: 800px;

            .join-main-content {
                min-height: 800px;
                margin: 0 auto;

                .join-cont-title {
                    display: block;
                    width: 1000px;
                    font-size: 24px;
                    color: rgb(164, 141, 176);
                    padding-bottom: 6px;
                    text-align: left;
                    height: 40px;
                    border-bottom: 2px solid #232a34;
                    margin: 10px auto 0 auto;

                    h2 {
                        display: none;
                    }

                    a {
                        display: none;
                    }
                }

                .join-main {
                    padding: 50px 290px;
                }
            }
        }

        .a-j-lists .proxy-com .proxy-line input[type=text],
        .a-j-lists .proxy-com .proxy-line .a-j-input input {
            display: inline-block;
            vertical-align: top;
            width: 350px;
            height: 38px;
            line-height: 38px;
            padding: 0 10px;
            outline: none;
            font-size: 16px;
            color: #ffffff;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #777777;
            border-radius: 4px;
            word-break: break-all;
        }

        .a-j-lists .proxy-com .proxy-line.code input {
            width: 220px;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            font-size: 14px;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            font-size: 14px;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            font-size: 14px;
        }

        .type.proxy-com {
            .down {
                width: 370px;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #777777;
                border-radius: 4px;
            }
        }

        .a-j-lists .proxy-com textarea {
            width: 340px;
            color: #ffffff;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #777777;
            border-radius: 4px;
        }

        .a-j-lists .proxy-com .a-j-input1,
        .a-j-lists .proxy-com textarea,
        .a-j-lists .proxy-com .proxy-line.code input {
            margin-left: -6px;
        }
    }

    /*联系我们 end*/

    /*厂商介绍*/
    .partner-content-banner {
        display: none;

        video {
            display: none;
        }

        .index-content {
            display: none;
        }
    }

    .partner-content {
        width: 100%;
        height: auto;
        min-height: 1300px;
        background-size: cover;
    }

    /*厂商介绍 end*/

    /*关于我们*/
    .about-content {
        display: none;
    }

    .general-about-content {
        width: 100%;
        min-width: 1200px;
        min-height: 1800px;
        display: block;

        .general-about-banner {
            height: 646px;
            width: 100%;

            .about-banner-video {
                display: none;
            }
        }

        .float_model {
            display: none;
        }

        .general-about-layout {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            padding-top: 56px;
            padding-left: 47px;
            box-sizing: border-box;
        }

        .about-float-outboxTit {
            display: none;
        }

        .about-float {
            margin-bottom: 35px;

            .about-img {
                display: none;
            }

            .about-main-center {
                width: 625px;

                .about-text {
                    .about-title {
                        color: #ecac5f;
                        font-size: 24px;
                        position: relative;
                        padding-bottom: 16px;
                        margin-bottom: 10px;

                        dt {
                            color: #e8a95c;
                            font-size: 12px;
                            margin-top: 5px;
                            position: absolute;
                            bottom: 0;
                        }
                    }

                    .text {
                        font-size: 16px;
                        color: #777;
                        line-height: 26px;
                    }
                }
            }
        }

        .about-list-outImg {
            float: left;
            width: 574px;
            height: 291px;
        }

        .about-list-block {
            .about-title {
                color: #ecac5f;
                font-size: 24px;
                padding-bottom: 16px;
                position: relative;
                margin-bottom: 30px;

                dt {
                    color: #e8a95c;
                    font-size: 12px;
                    margin-top: 5px;
                    position: absolute;
                    bottom: 0px;
                }
            }

            .about-list {
                width: 560px;
                float: left;

                li {
                    width: 175px;
                    height: auto;
                    margin-left: 30px;
                    margin-bottom: 46px;
                    float: left;

                    .about-list-img {
                        width: 16px;
                        height: 21px;
                        display: block;
                        margin: auto;
                    }

                    p {
                        color: #77779b;
                        text-align: center;
                    }

                    p.p_1 {
                        display: none;
                    }

                    p.p_2 {
                        color: #777;
                        font-size: 16px;
                        display: inline-block;
                    }

                    .num {
                        display: none;
                    }
                }

                .about-list-img {
                    float: left;
                }
            }
        }
    }

    /*关于我们 end*/

    //棋牌游戏进入游戏弹出的游戏列表
    .playMyGame-content {
        width: 1259px;
        margin: 0 auto;
        padding-top: 10px;

        .ele-logo-lists {
            margin-top: 30px;
            font-size: 14px;
            line-height: 26px;
            text-indent: 30px;
            vertical-align: top;

            .ele-logo-li {
                display: block;
                width: 232px;
                position: relative;
                overflow: hidden;
                float: left;
                margin-left: 30px;
                margin-bottom: 30px;

                a {
                    display: block;
                    text-align: center;
                    text-align: -webkit-center;
                    // background:rgba(217,223,227, .1);

                    b,
                    img {
                        transition: all 1s;
                        -moz-transition: all 1s;
                        -ms-transition: all 1s;
                        -webkit-transition: all 1s;
                        display: block;
                        height: 125px;
                    }

                    img {
                        width: auto;
                        height: 125px;
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    b {
                        font-weight: normal;
                        width: 100%;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        color: #000;
                        font-size: 16px;
                        background: rgba(255, 255, 255, .8);
                        text-indent: 0;
                    }

                    i.shadow {
                        width: 100%;
                        height: 125px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        background: #000;
                        z-index: 1;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: 80px;
                        top: 30px;
                        opacity: 0;
                        width: 69px;
                        height: 46px;
                        opacity: 0;
                        z-index: 11;
                    }

                    em {
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        position: absolute;
                        left: 52px;
                        top: 80px;
                        opacity: 0;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        z-index: 1111;
                    }

                    &:hover {
                        i {
                            opacity: .7;
                        }

                        span {
                            opacity: 1;
                        }

                        em {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    i.shadow {
                        opacity: .7;
                    }
                }
            }

            li:nth-of-type(5n+1) {
                margin-left: 0;
            }
        }
    }

}
