.theme34 {

    /*首页*/
    .email_box .router-link-active img {
        width: 175px;
        height: auto;
    }

    .index-content {
    }


    .video34 {
        display: block !important;
    }

    #myCarousel {
        display: none;
    }

    .index-content {
        background-size: 85%;
        position: relative;
        width: 100%;
        height: 1181px;
        top: 0px;
        right: 0px;
        overflow: hidden;
        min-height: 900px;
        background-position: 303px top;

        .banner {
            position: relative;
            width: 100%;
            min-width: 1200px;
            font-size: 0;
            text-align: center;
            height: auto;
        }

        .whome-right-content-34 {
            display: block !important;
        }

        .whome-right-contMain {
            width: 850px;
            margin-left: 150px;
            margin-bottom: 200px;
            min-height: 600px;
            position: relative;
            z-index: 1;

            .right-contMain-layout {
                margin-top: -890px;
            }

            .right-contMain-news {
                background: #fff;
                padding: 5px;
                overflow: hidden;
                box-shadow: 0px 3px 7px rgba(90, 81, 59, 0.3);

                .newsPic {
                    float: left;
                    width: 350px;

                    img {
                        width: 350px;
                        height: 180px;
                        vertical-align: top;
                    }
                }

                .newsText {
                    overflow: hidden;
                    float: left;
                    width: 430px;

                    .newsText-list {
                        padding: 18px 18px;
                        overflow: hidden;
                        cursor: pointer;

                        &:hover {
                            background: #faf8f4;
                        }

                        h2 {
                            font-size: 16px;
                            color: #333333;
                            width: 76%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            float: left;
                        }

                        p {
                            font-size: 14px;
                            color: #999;
                            margin-top: 4px;
                            width: 24%;
                            float: right;
                            text-align: right;
                        }
                    }
                }

                .newsWhole {
                    width: 30px;
                    height: 134px;
                    float: right;
                    background: #b37b26;
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    padding: 45px 10px 0px 10px;
                    cursor: pointer;
                }
            }

            .right-contMain-swiper {
                border: 3px solid #caa367;
                box-shadow: 0px 3px 7px rgba(90, 81, 59, 0.3);
                border-radius: 2px;
                margin-top: 44px;
            }

            .right-contMain-noviciate {
                overflow: hidden;
                clear: both;
                margin-top: 27px;
                width: 950px;

                .noviciate-title {
                    font-size: 28px;
                    color: #000000;
                    height: 52px;
                    line-height: 52px;
                    margin-bottom: 20px;

                    .noviciate-titleLine {
                        width: 3px;
                        height: 52px;
                        display: inline-block;
                        margin-right: 27px;
                        background: #caa55f;
                        vertical-align: middle;
                    }
                }

                .noviciate-boxCont {
                    overflow: hidden;
                    padding-bottom: 10px;

                    .ruleGame-headWord {
                        width: 50px;
                        padding-top: 10px;
                    }

                    .noviciate-boxCont-rule {
                        cursor: pointer;
                        float: left;
                        background: #fff;
                        // width: 31%;
                        box-shadow: 3px 3px 4px rgba(202, 187, 167, 0.5);

                        .noviciate-boxCont-rulePic {
                            float: left;

                            img {
                                width: 67px;
                                height: 154px;
                                vertical-align: top;
                            }
                        }

                        .noviciate-boxCont-ruleGame {
                            float: left;
                            // width: 181px;

                            .ruleGame-title {
                                // padding: 6px 12px 22px 12px;
                                font-size: 17px;
                                // width: 45px;
                                color: #242632;
                                text-align: center;
                                border-right: 1px dotted #c9caca;
                                float: left;
                                margin-top: 13px;
                            }

                            .ruleGame-item {
                                float: left;
                                padding: 20px 12px 0px 11px;

                                .ruleGame-itemLi {
                                    font-size: 14px;
                                    color: #242632;
                                    margin-bottom: 6px;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: space-between;

                                    span {
                                        white-space: nowrap;

                                        &:last-of-type {
                                            margin-left: 10px
                                        }
                                    }

                                    &:hover {
                                        text-decoration: underline;
                                        color: #caa367;
                                    }
                                }

                                .ruleGame-more {
                                    font-size: 14px;
                                    color: #caa367;
                                    margin-top: 10px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .noviciate-boxCont-skill {
                        float: left;
                        cursor: pointer;
                        margin-left: 18px;
                        background: #fff;
                        width: 272px;
                        box-shadow: 3px 3px 4px rgba(202, 187, 167, 0.5);

                        .noviciate-boxCont-skillPic {
                            float: left;

                            img {
                                width: 221px;
                                height: auto;
                                vertical-align: middle;
                            }
                        }

                        .noviciate-boxCont-skillText {
                            font-size: 17px;
                            color: #242632;
                            float: left;
                            text-align: center;
                            // padding: 24px 11px;
                            // width: 20px;
                        }
                    }
                }
            }
        }
    }

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .carousel {
        position: relative;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .carousel-inner>.item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
    }

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        line-height: 1;
    }

    @media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-inner>.item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;

            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000px;
            perspective: 1000px;
        }

        .carousel-inner>.item.next,
        .carousel-inner>.item.active.right {
            left: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        .carousel-inner>.item.prev,
        .carousel-inner>.item.active.left {
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        .carousel-inner>.item.next.left,
        .carousel-inner>.item.prev.right,
        .carousel-inner>.item.active {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-inner>.active,
    .carousel-inner>.next,
    .carousel-inner>.prev {
        display: block;
    }

    .carousel-inner>.active {
        left: 0;
    }

    .carousel-inner>.next,
    .carousel-inner>.prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner>.next {
        left: 100%;
    }

    .carousel-inner>.prev {
        left: -100%;
    }

    .carousel-inner>.next.left,
    .carousel-inner>.prev.right {
        left: 0;
    }

    .carousel-inner>.active.left {
        left: -100%;
    }

    .carousel-inner>.active.right {
        left: 100%;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        background-color: #003c9d;
        border-radius: 10px;
    }

    .carousel-indicators {
        position: absolute;
        left: 10%;
        z-index: 1;
        width: 60%;
        padding-left: 0;
        margin-left: -35%;
        text-align: center;
        list-style: none;
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #33ffff;
    }

    @media screen and (min-width: 768px) {
        .carousel-indicators {
            bottom: 10px;
        }
    }

    /* demo */
    #demo {
        width: 844px;
        height: 296px;
        overflow: hidden;
    }

    #demo li {
        float: left;
        position: relative;
        width: 113px;
        height: 100%;
        overflow: hidden;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        cursor: pointer;
        border-right: 1px solid #c9caca;
    }

    #demo li:last-child {
        border-right: none
    }

    #demo li div {
        position: absolute;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #000;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        opacity: 0.7;
        bottom: 0;
        left: 0;
        display: none;
        text-align: center;
    }

    #demo li div a {
        color: #FFF;
        text-decoration: none;
    }

    #demo li div a:hover {
        color: #F00;
        text-decoration: none;
    }

    #demo li:first-child {
        width: 502px;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }

    #demo li:first-child div {
        display: block;
    }

    #demo li .check-img {
        display: none;
    }

    #demo li:first-child .check-img {
        display: inline-block;
    }

    #demo li:first-child .uncheck-img {
        display: none;
    }

    #demo li.pinActive .uncheck-img {
        display: inline-block;
    }

    #demo li.pinActive .check-img {
        display: none;
    }

    #demo li.defActive .uncheck-img {
        display: none;
    }

    #demo li.defActive .check-img {
        display: inline-block;
    }

    #demo li .lookDetail {
        display: inline-block;
        width: 58px;
        height: 20px;
        position: absolute;
        right: 139px;
        bottom: 47px;
        display: none;
    }

    #demo li:first-child .lookDetail,
    #demo li.defActive .lookDetail {
        display: inline-block;
    }
}

/*首页 end*/
