.theme34 {
  background: #fefefe;

  /*真人视讯*/
  .live-content {
    float: right;
    position: relative;
    width: 84%;
    height: auto;
    top: 0px;
    right: 0px;

    .live-content-banner {
      // display: none;

      video {
        display: none;
      }
    }

    .live-logo-page {
      width: 1200px;
      margin-top: 542px;
      overflow: hidden;
      margin-left: 170px;
      margin-bottom: 200px;

      .live-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .live-logo-top {
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;
        font-weight: bold;

        h2 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 10px;
          line-height: 10px;
        }
      }

      .live-logo-lists {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 48px;
        overflow: hidden;

        li {
          position: relative;
          background: #3c3c51;
          width: 320px;
          height: 100px;
          text-align: center;
          margin-right: 20px;
          margin-bottom: 20px;
          float: left;
          cursor: pointer;

          &:hover {
            background: rgba(212, 180, 122, 0.6);
          }

          &:nth-child(3n) {
            margin-right: 0;
          }

          a {
            display: block;
            width: 320px;
            height: 100px;
          }

          img {
            width: 168px;
            height: auto;
            margin-top: 24px;
          }
        }
      }

      .live-logo-footer {
        display: none;
      }
    }
  }

  /*真人视讯 end*/

  /*电子游戏*/
  .ele-content {
    //   padding-top: 192px;
    //   box-sizing: border-box;
    //   -webkit-box-sizing: border-box;
    //   padding-bottom: 100px;
    min-height: 1000px;
    margin-left: -18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 357px;
    padding-left: 290px;

    margin: -145px 0 0 292px;
    background-size: cover !important;
    margin-top: 0;

    .ele-content-banner {
      display: block;
      position: relative;
      top: 399px;
      width: 100%;
      min-width: 1200px;
      font-size: 0;
      text-align: center;
      height: auto;
    }

    .ele-logo-page {
      min-height: 950px;
      margin: 0 auto;
      width: 1200px;
      margin-top: -450px;
      margin-left: -120px;
      margin-bottom: 110px;
      position: relative;
      top: 250px;
      z-index: 1;
      background: rgba(239, 239, 239, 1);

      .ele-bg-theme {
        background: #fff;
      }

      .ele-logo-banner {
        display: none;

        video {
          display: block;
        }
      }

      .ele-logo-top {
        h2 {
          font-size: 18px;
        }

        p {
          display: none;
        }
      }

      .ele-logo-main {
        position: relative;

        .ele-logo-head {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid rgba(205, 204, 201, 1);
          align-items: center;
          padding: 14px 23px;
          background: #f0e5da;

          .ele-search-section,
          .ele-logo-top {
            display: inline-block;

            h2 {
              font-size: 26px;
              color: #493f2d;
            }
          }
        }

        .ele-vendor-lists {
          overflow: hidden;
          width: 1201px;
          border-left: 1px solid #fefefe;

          .ele-vendor-li {
            width: 200px;
            height: 67px;
            float: left;
            display: block;
            line-height: 67px;
            text-align: center;
            // background: rgba(40, 40, 40, 0.8);
            background: rgba(207, 187, 158, 0.8);

            box-sizing: border-box;
            border-right: 1px solid rgba(239, 239, 239, 1);
            margin-bottom: 1px;
            font-size: 0;
            cursor: pointer;
            position: relative;

            &.ele-vendor-expect {
              line-height: normal;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
            }

            img {
              width: 100%;
              height: auto;
              vertical-align: middle;
              max-width: 100%;
            }

            .ele-vendor-mask {
              display: flex;
              position: absolute;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              // background: rgba(0, 0, 0, .64);
              cursor: default;

              span {
                color: rgba(255, 255, 255, 1);
                font-size: 16px;
              }
            }

            &.tabAble:hover,
            .on {
              // background: #6f6959;
              background: #eec6a2;
            }
          }
        }

        .ele-search-section {
          // position: absolute;
          // top: -88px;
          // right: 0;

          .tip1 {
            clear: both;
          }
        }

        .ele-search {
          // width: 266px;
          width: 328px;
          height: 46px;
          float: right;
          border-radius: 46px;
          background: rgba(205, 204, 201, 1);

          .ele-search-btn {
            display: block;
            width: 30px;
            height: 46px;
            cursor: pointer;
            float: right;
            font-size: 0;
          }

          input {
            float: left;
            // width: 230px;
            width: 294px;
            height: 46px;
            border: none;
            outline: none;
            background-color: transparent;
            text-indent: 16px;
            color: #919191;
            font-size: 16px;
            font-family: "PingFang Medium";

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
              font-size: 16px;
              color: #585357;
            }
          }
        }

        .ele-type-lists {
          width: 1200px;
          padding: 28px 23px 0 8px;

          dt {
            float: left;
            line-height: 16px;
            color: #000;
            font-size: 16px;
          }

          dd {
            float: left;
            line-height: 16px;
            padding-bottom: 10px;
            border-right: 1px solid rgba(102, 102, 102, 1);
            padding: 0 15px;
            height: 16px;
            line-height: 16px;
            margin-bottom: 28px;

            a {
              padding: 5px 10px;
              font-size: 16px;
              display: block;
              color: rgba(102, 102, 102, 1);
              margin-top: -5px;
            }

            &:last-child {
              border-right: none;
            }

            &.on,
            &:hover {
              a {
                padding: 5px 10px;
                background: #ff8522;
                border-radius: 13px;
                color: #fff;
                margin-top: -5px;
              }
            }
          }
        }
      }

      .ele-logo-lists {
        margin: 0 23px;
        width: 1200px;

        .ele-logo-li {
          position: relative;
          float: left;
          margin-left: 10px;
          margin-bottom: 10px;
          width: 163px;
          // background: #bda280;
          overflow: hidden;
          border: 1px solid rgba(205, 204, 201, 1);
          padding: 10px;
          border-radius: 10px;

          a {
            display: block;
            text-align: center;
            text-align: -webkit-center;
            position: relative;
            cursor: default;

            b,
            img {
              transition: all 1s;
              -moz-transition: all 1s;
              -ms-transition: all 1s;
              -webkit-transition: all 1s;
              display: block;
              border-radius: 5px;
            }

            img {
              width: 160px;
              height: 160px;
              max-width: 100%;
              margin: 0 auto;
            }

            b {
              font-weight: normal;
              width: 100%;
              height: 38px;
              line-height: 38px;
              text-align: center;
              font-size: 16px;
              text-align: center;
            }

            i.shadow {
              width: 100%;
              height: calc(100% - 38px);
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              background: #000;
              z-index: 1;
              cursor: pointer;
            }

            em {
              text-align: center;
              font-size: 16px;
              color: #fff;
              position: absolute;
              left: 30px;
              top: 65px;
              opacity: 0;
              border-radius: 36px;
              z-index: 1111;
              border: 2px solid rgba(255, 255, 255, 1);
              padding: 5px 18px;
              cursor: pointer;
            }
          }

          &:hover {
            border: 2px solid #ff8522;
            padding: 9px;

            i {
              opacity: 0.7;
            }

            span {
              opacity: 1;
            }

            em {
              opacity: 1;
            }

            i.shadow {
              opacity: 0.7;
            }

            i {
              opacity: 0.7;
            }

            span {
              opacity: 1;
            }

            em {
              opacity: 1;
            }
          }
        }

        li:nth-of-type(6n + 1) {
          margin-left: 0;
        }
      }

      .ele-logo-footer {
        display: none;
      }
    }

    .number-page {
      margin: 10px auto 0;
    }
  }

  /*电子游戏 end*/

  /*体育博彩*/
  .sport-content {
    min-height: 1000px;
    margin-left: -18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 100px;
    margin-top: -1px;
    padding-top: 550px;
    padding-left: 285px;

    .sport-content-banner {
      max-height: 1450px;
      position: relative;
      width: 100%;
      min-width: 1200px;
      font-size: 0;
      text-align: center;
      height: auto;

      .sport-content-video {
        display: none;
      }

      .sy34-sport-video {
        display: block;
        margin-left: -320px;
      }
    }

    .sport-logo-page {
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      width: 1200px;
      margin-top: -480px;
      margin-left: 170px;
      margin-bottom: 110px;
      position: relative;

      .sport-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .sport-logo-top {
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;
        font-weight: bold;

        h2 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 7px;
        }
      }

      .sport-logo-lists {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 48px;
        overflow: hidden;

        li {
          position: relative;
          background: #3c3c51;
          width: 320px;
          height: 100px;
          text-align: center;
          margin-right: 20px;
          margin-bottom: 20px;
          float: left;
          cursor: pointer;

          &:hover {
            background: rgba(212, 180, 122, 0.6);
          }

          &:nth-child(3n) {
            margin-right: 0;
          }

          a {
            display: block;
            width: 320px;
            height: 100px;
          }

          img {
            width: 168px;
            height: auto;
            margin-top: 24px;
          }
        }
      }

      .sport-logo-footer {
        display: none;
      }
    }
  }

  /*体育博彩 end*/

  /*彩票投注*/
  .lottery-content {
    // background-size: 100%;
    // min-height: 1000px;
    // float: right;
    // position: relative;
    // width: 84%;
    // height: auto;
    // top: 0px;
    // right: 0px;
    min-height: 1000px;
    margin-left: -18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 140px;
    margin: -145px 0 0 310px;
    // background-size: cover !important;
    padding-top: 108px;
    margin-top: -4px;
    overflow: hidden;

    .lottery-content-banner {
      position: relative;
      width: 100%;
      min-height: 1200px;
      min-width: 1200px;
      font-size: 0;
      text-align: center;
      height: auto;

      background-size: cover;

      video {
        margin-left: -320px;
      }

      .lottery-banner-video {
        display: none;
      }

      .sy34-lottery-video {
        display: block;
      }
    }

    .lottery-logo-page {
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      width: 1200px;
      margin-top: -939px;
      margin-left: 170px;
      margin-bottom: 110px;
      position: relative;
      z-index: 1;

      .lottery-logo-banner {
        display: none;

        video {
          display: none;
        }
      }

      .lottery-logo-top {
        font-weight: bold;
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;

        h2 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 10px;
        }
      }

      .lottery-logo-lists {
        overflow: hidden;
        margin-top: 30px;

        li {
          float: left;
          width: 320px;
          height: 100px;
          text-align: center;
          margin-right: 15px;
          margin-bottom: 20px;
          background: #3c3c51;
          cursor: pointer;
          position: relative;

          &:hover {
            background: rgba(212, 180, 122, 0.6);
          }

          &:nth-child(3n) {
            margin-right: 0;
          }

          a {
            display: block;
            width: 320px;
            height: 100px;
          }

          // img {
          //     width: 168px;
          //     height: auto;
          //     margin-top: 25px;
          // }
        }
      }

      .lottery-logo-footer {
        display: none;
      }
    }
  }

  /*彩票投注 end*/

  /*棋牌游戏*/
  //  .poker-content{
  //      height: 1100px;
  //      min-height: 1330px;
  //      padding-bottom: 50px;
  //      background-size: 100%;
  //      float: right;
  //      position: relative;
  //      width: 84%;
  //      top: 0px;
  //      right: 0px;
  //      .poker-content-banner{
  //          position: relative;
  //          width: 100%;
  //          min-width: 1200px;
  //          font-size: 0;
  //          text-align: center;
  //          height: auto;
  //          min-height: 850px;
  //          .poker-content-video{
  //              display: none;
  //          }
  //          .sy34-poker-video{
  //              display: none;
  //              margin-left: -320px;
  //          }
  //      }
  //      .poker-logo-page{
  //          width: 1200px;
  //          height: auto;
  //          margin: 0 auto;
  //          overflow: hidden;
  //          margin-left: 170px;
  //          margin-bottom: 200px;
  //          position: relative;
  //          z-index: 1;
  //          margin-top: -480px;
  //          .poker-logo-banner{
  //              display: none;
  //              video{
  //                  display: none;
  //              }
  //          }
  //          .poker-logo-top{
  //              color: #20232c;
  //              padding-bottom: 16px;
  //              border-bottom: 3px solid #20232c;
  //              font-weight: bold;
  //              h2{
  //                  font-size: 40px;
  //                  font-weight: bold;
  //              }
  //              p{
  //                  font-size: 10px;
  //                  letter-spacing: 1px;
  //                  margin-top: 10px;
  //              }
  //          }
  //          .poker-logo-lists{
  //              overflow: hidden;
  //              margin-top: 30px;
  //              li{
  //                  float: left;
  //                  height: 100px;
  //                  text-align: center;
  //                  margin-right: 15px;
  //                  margin-bottom: 20px;
  //                  background: #3c3c51;
  //                  cursor: pointer;
  //                  position: relative;
  //                  &:hover{
  //                      background: rgba(212, 180, 122, 0.6);
  //                  }
  //                  a{
  //                      display: block;
  //                      width: 320px;
  //                      height: 100px;
  //                  }
  //                  &:nth-child(3n){
  //                      margin-right:0;
  //                  }
  //                  img{
  //                      width: 168px;
  //                      height: auto;
  //                      margin-top: 25px;
  //                  }
  //              }
  //          }
  //          .poker-KingLong, .poker-reversal{
  //              display: none;
  //          }
  //          .poker-logo-footer{
  //              display: none;
  //          }
  //          .poker-dynamic{
  //              display: none;
  //          }
  //      }
  //
  //  }
  .poker-content {
    min-height: 1000px;
    margin-left: -18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 200px;
    //   margin-top: -145px;
    padding-top: 550px;
    padding-left: 260px;
    background-size: cover !important;
    /*棋牌游戏 end*/
  }

  .poker-content .wlottery-right-contMain .wlottery-contMain-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 3px solid #20232c;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    z-index: 99;

    p {
      font-size: 10px;
      letter-spacing: 1px;
      margin-top: 10px;
      line-height: 10px;
    }
  }

  .poker-right-content .wcathectic-cont-itemCon {
    margin-top: -400px !important;
  }

  .poker-right-content .wcathectic-cont-itemCon h2 {
    position: relative;
    z-index: 20;
  }

  .poker-right-content .banner {
    min-height: 1100px;
  }

  .wlottery-right-content {
    background-size: 100%;
    min-height: 1000px;

    .wlottery-right-contMain {
      width: 1200px;
      margin-top: -720px;
      margin-left: 170px;
      margin-bottom: 200px;
      position: relative;
      z-index: 1;

      .wlottery-contMain-enterGame {
        display: inline-block;
        width: 103px;
        height: 26px;
        line-height: 26px;
        //          background: #ddd;
        cursor: pointer;
        margin-bottom: 115px;
      }

      .wlottery-contMain-title {
        font-size: 40px;
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 10px;
        }
      }

      .wlottery-contMain-nav {
        clear: both;
        padding: 15px 0px;
        background: #ffffff;
        overflow: hidden;

        span {
          font-size: 16px;
          color: #20232c;
          border-right: 1px solid #5f6e79;
          display: inline-block;
          padding-right: 81px;
          margin-left: 82px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle;
          cursor: pointer;

          &.liActive {
            color: #b37b26;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .wlottery-contMain-tabCon {
        margin-top: 55px;

        .wlottery-contMain-list {
          overflow: hidden;

          .wlottery-contMain-listCon {
            overflow: hidden;
            padding-bottom: 25px;
            margin-bottom: 39px;
            border-bottom: 1px solid #9b9daf;

            &:last-child {
              border-bottom: none;
            }

            .wlottery-contMain-listHead {
              overflow: hidden;

              .listHead-title {
                .listHead-titleFl {
                  float: left;

                  img {
                    width: 66px;
                    height: auto;
                  }
                }

                .listHead-titleFg {
                  float: left;
                  margin-left: 8px;
                  color: #20232c;

                  h3 {
                    font-size: 24px;
                  }

                  p {
                    font-size: 16px;
                    margin-top: 10px;
                    line-height: 28px;
                  }
                }
              }
            }

            .wlottery-contMain-listPic {
              width: 865px;
              height: auto;
              margin-top: 37px;

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      // 添加logo
      .wlottery-contMain-logo {
        overflow: hidden;
        margin-top: 30px;

        .wlottery-contMain-logoLi {
          float: left;
          height: 100px;
          text-align: center;
          margin-right: 15px;
          margin-bottom: 20px;
          background: #3c3c51;

          &.logoActive,
          &:hover {
            background: #e4d1aa;
            cursor: pointer;
          }

          &:nth-child(3n) {
            margin-right: 0px;
          }

          img {
            //					width: 258px;
            //					height: auto;
            margin-top: 25px;
          }
        }
      }
    }
  }

  .wcathectic-cont-itemCon {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -508px;
    // margin-top: 13px;

    .wcathectic-contTitle {
      padding: 10px 0px;
      border-bottom: 1px solid #a9a9a9;
      color: #c63e0e;
      font-size: 18px;

      span {
        float: right;
        color: #333333;
        font-size: 14px;
      }
    }

    .wcathectic-contUl {
      margin-top: 35px;
      overflow: hidden;

      .wcathectic-contLi {
        position: relative;
        background: #3c3c51;
        width: 320px;
        height: 100px;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        cursor: pointer;

        .game-maintain {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        a {
          display: block;
          width: 320px;
          height: 100px;
        }

        &.wcathectic-contLi-active a,
        a:hover {
          background: rgba(212, 180, 122, 0.6);
        }

        &:nth-child(3n) {
          margin-right: 0px;
        }

        img {
          width: 168px;
          height: auto;
          margin-top: 24px;
        }
      }
    }

    .wcathectic-contNav {
      overflow: hidden;
      margin-top: 20px;

      .wcathectic-contNav-li {
        background: #c3c3c3;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        width: 102px;
        height: 47px;
        text-align: center;
        cursor: pointer;

        &:nth-child(9n) {
          margin-right: 0px;
        }

        &:hover,
        &.contNav-liActive {
          background: #f3c8a4;
        }

        img {
          width: 80px;
          height: auto;
          margin-top: 10px;
        }
      }
    }

    .wcathectic-contGame {
      overflow: hidden;
      height: 30px;
      line-height: 30px;
      margin-top: 13px;
      margin-bottom: 25px;

      .gameType {
        float: left;
        color: #202029;
        font-size: 16px;
        margin-right: 10px;
      }

      .gameUl {
        float: left;
        overflow: hidden;

        .gameUl-list {
          float: left;
          font-size: 16px;

          span {
            padding: 5px 9px;
          }

          span:hover {
            background: #ce3d1d;
            color: #fff;
            border-radius: 4px;
            padding: 5px 9px;
          }

          .gameUl-list-line {
            border-right: 1px solid #202029;
            margin-right: 10px;
            margin-left: 10px;
            padding: 0;
          }

          .gameUl-list-line:hover {
            border-right: 1px solid #202029;
            margin-right: 10px;
            margin-left: 10px;
            padding: 0;
          }

          .gameUl-list-active {
            background: #ce3d1d;
            color: #fff;
            border-radius: 4px;
            padding: 5px 9px;
          }
        }
      }
    }

    .wcathectic-contVideo {
      overflow: hidden;

      .wcathectic-contVideo-li {
        float: left;
        width: 227px;
        margin-right: 30px;
        margin-bottom: 30px;
        cursor: ppointer;

        &:nth-child(4n) {
          margin-right: 0px;
        }

        &:hover {
          .video-liPic {
            .video-liPic-hover {
              display: block;
            }
          }
        }

        .video-liPic {
          position: relative;

          .video-liPic-img {
            width: 100%;
            height: 100%;
            vertical-align: top;
          }

          .video-liPic-hover {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            display: none;

            .video-liPic-icon {
              width: 50px;
              height: auto;
              margin-top: 31px;
            }

            .video-liPic-text {
              color: #fff;
              text-align: center;
              margin-top: 9px;
            }
          }
        }

        .video-liText {
          font-size: 14px;
          color: #363a4a;
          background: #d9dfe3;
          height: 36px;
          line-height: 36px;
          text-align: center;
        }
      }
    }
  }

  /*新闻中心*/
  .news-content {
    float: right;
    position: relative;
    width: 84%;
    height: auto;
    top: 0px;
    right: 0px;
    // height: 1100px;
    height: 1078px;
    background-size: 100% 100%;

    .news-content-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        display: none;
      }
    }

    .news-page {
      padding-top: 70px;
      width: 800px;
      margin-left: 170px;

      .news-page-banner {
        display: none;

        video {
          display: none;
        }
      }

      .news-main {
        .news-title-box {
          .news-title {
            color: #20232c;
            padding-bottom: 16px;
            border-bottom: 3px solid #20232c;
            width: 800px;
            font-weight: bold;

            .txt {
              font-size: 40px;
              font-weight: bold;
              line-height: 40px;
            }

            .desc {
              font-size: 10px;
              letter-spacing: 1px;
              margin-top: 7px;
            }
          }
        }

        .news-main-cont {
          overflow: hidden;
          position: relative;
        }

        .news-lists {
          overflow: hidden;
          margin-top: 30px;

          .news-li {
            overflow: hidden;
            border: 2px solid #caa367;
            clear: both;
            margin-bottom: 15px;

            .news-img {
              float: left;
              width: 350px;
              height: 180px;
              cursor: pointer;

              img {
                width: 100%;
                height: auto;
                vertical-align: top;
              }
            }

            &:hover {
            }

            .an-news {
              float: left;
              padding: 20px 26px 13px 17px;
              color: #20232c;
              width: 390px;

              .an-news-title {
                font-size: 20px;
                cursor: pointer;
                font-weight: bold;
              }

              .an-news-text {
                font-size: 16px;
                line-height: 25px;
                margin-top: 15px;
                min-height: 75px;
                margin-bottom: 10px;
                word-break: break-all;
              }

              .an-news-bottom {
                font-size: 14px;
                color: #20232c;
                overflow: hidden;
              }

              .an-news-date {
                float: left;
              }

              .an-news-btn {
                float: right;
                color: #b37b26;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }

          .news-li.news-li-JumpPage {
            // display: none;
          }

          .news-li.news-li-PopUp {
            display: none;
          }

          .news-li-ShowHide {
            display: none;
          }
        }
      }
    }
  }

  /*新闻弹窗*/
  .news-popup-main {
    display: none;
  }

  /*新闻弹窗 end*/
  /*新闻中心 end*/

  /*新闻详情*/
  .news-detail-content {
    float: right;
    position: relative;
    width: 84%;
    height: 1100px;
    top: 0px;
    right: 0px;

    .news-detail-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        display: none;
      }
    }

    .news-detail-page {
      padding-top: 140px;
      width: 800px;
      margin-left: 170px;

      .news-detail-top {
        position: relative;

        .news-detail-title {
          color: #20232c;
          padding-bottom: 16px;
          border-bottom: 3px solid #20232c;
          width: 800px;
          position: relative;
          font-weight: bold;

          .txt {
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
          }

          .desc {
            font-size: 10px;
            letter-spacing: 1px;
            margin-top: 7px;
            line-height: 10px;
          }
        }

        .news-detail-crosswiseTitle {
          display: none;
        }

        .back-btn {
          font-weight: bold;
          color: #20232c;
          font-size: 16px;
          position: absolute;
          right: 0;
          top: 25px;
          padding-left: 18px;
        }
      }

      .news-detail-main {
        .news-detail-main-top {
          .news-detail-title {
            background: #fff;
            padding: 15px 30px;
            font-size: 24px;
            color: #b37b26;
            word-break: break-all;
          }

          .news-detail-time {
            float: right;
          }
        }

        .news-detail-main-cont {
          padding: 0 41px 35px 41px;
          clear: both;
          height: 480px;
          overflow-y: auto;
          padding-right: 40px;
        }

        .news-detail-img {
          display: none;
        }

        .news-detail-text {
          font-size: 16px;
          line-height: 26px;
          word-break: break-all;
        }
      }
    }
  }

  /*新闻详情 end*/

  /*优惠活动*/
  .activity-content {
    background-size: 100% 100%;
    height: 1080px;
    float: right;
    position: relative;
    width: 84%;
    top: 0px;
    right: 0px;

    .activity-content-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        .figure-img {
          display: none;
        }

        .text-img {
          display: none;
        }

        .enter-btn {
          display: none;
        }
      }
    }

    .activity-page {
      padding-top: 140px;
      width: 800px;
      margin-left: 170px;

      .activity-page-banner {
        display: none;

        video {
          display: none;
        }
      }

      .activity-title-box {
        color: #20232c;
        padding-bottom: 12px;
        border-bottom: 3px solid #20232c;
        width: 948px;
        position: relative;

        .activity-title {
          .txt {
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
          }

          .desc {
            font-size: 10px;
            letter-spacing: 1px;
            margin-top: 7px;
            font-weight: bold;
          }
        }
      }

      .activity-main {
        .activity-lists {
          overflow: hidden;
          margin-top: 35px;

          .activity-li {
            width: 250px;
            height: 130px;
            margin-right: 25px;
            margin-bottom: 25px;
            float: left;
            cursor: pointer;
            margin-left: 20px;

            img {
              width: 100%;
              height: 100%;
            }

            .an-activity {
              display: none;
            }
          }

          .activity-li.activity-li-PopUp {
            display: none;
          }

          .activity-li.activity-li-ShowHide {
            display: none;
          }
        }

        .activity-li-JumpPage:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  /*优惠活动弹窗*/
  .activity-popup-main {
    display: none;
  }

  /*优惠活动弹窗 end*/
  /*优惠活动 end*/

  /*优惠活动详情*/
  .activity-detail-content {
    float: right;
    position: relative;
    width: 84%;
    top: 0px;
    right: 0px;
    min-height: 1080px;

    .ps-container .ps-scrollbar-y-rail {
      display: none !important;
    }

    .activity-detail-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        display: none;
      }
    }

    .activity-detail-page {
      padding-top: 140px;
      width: 800px;
      margin-left: 170px;

      .activity-detail-top {
        position: relative;

        .activity-detail-top-title {
          color: #20232c;
          padding-bottom: 12px;
          border-bottom: 3px solid #20232c;
          width: 800px;
          position: relative;
          font-weight: bold;

          .text {
            font-size: 40px;
            line-height: 40px;
          }

          .desc {
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 1px;
            margin-top: 7px;
          }
        }

        .activity-detail-crosswiseTitle {
          display: none;
        }

        .back-btn {
          font-weight: bold;
          color: #20232c;
          font-size: 16px;
          position: absolute;
          right: 0;
          top: 25px;
          padding-left: 18px;
        }
      }

      .activity-detail-JumpPage {
        // display: none;
      }

      .activity-detail-ShowHide {
        display: none;
      }

      .activity-detail-main {
        .activity-detail-main-top {
          .activity-detail-title {
            background: #fff;
            padding: 15px 30px;
            font-size: 24px;
            color: #b37b26;
            word-break: break-all;
          }

          .activity-detail-time {
            float: right;
          }
        }

        .activity-detail-main-cont {
        }

        .activity-detail-main-noScrollBar {
          padding: 0 41px 35px 41px;
          clear: both;
          height: 480px;
          overflow-y: auto;
          padding-right: 40px;

          &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 4px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
          }

          &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.2);
          }

          &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.1);
          }
        }

        .activity-detail-img {
          display: none;
        }

        .activity-list-style {
          ol {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 20px;
            li {
              list-style: decimal;
              padding-left: 5px;
            }
          }

          ul {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 20px;
            li {
              list-style: disc;
              padding-left: 5px;
            }
          }

          em {
            font-style: italic;
          }

          blockquote {
            margin: 1em 3em;
            border-left: 4px solid #cccccc;
            padding: 1em 0 1em 1.5em;
            font-style: italic;
          }
        }
      }

      .activity-btn {
        display: block;
        margin: 20px auto;
        width: 100px;
        line-height: 50px;
        color: #fff;
        background: rgba(55, 170, 204, 0.5);
        text-align: center;
        cursor: pointer;
      }
    }
  }

  /*优惠活动详情 end*/

  /*代理加盟*/
  /*代理加盟表格*/
  .join-content {
    padding-top: 48px;
    padding-bottom: 100px;
    min-height: 900px;
    float: right;
    width: 84%;

    .join-content-banner {
      display: none;

      video {
        display: none;
      }

      .index-content {
        width: 1200px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        -webkit-transform: translate(-50%);

        .figure-img {
          display: none;
        }

        .text-img {
          display: none;
        }

        .enter-btn {
          position: absolute;
          right: 0;
          transition: bottom 2s, opacity 5s;
          opacity: 1;
          bottom: 55%;

          .txt {
            display: block;
            min-width: 132px;
            height: 40px;
            line-height: 40px;
            color: #cbc9c9;
            font-size: 18px;
            border: 1px solid #8d8c8f;
            text-align: center;
            margin-top: 20px;
            float: right;
            text-decoration: none;
            margin-right: 30px;

            &:hover {
              border: 1px solid #9f3d26;
              background: rgba(53, 26, 27, 0.8);
              color: #9f3d26;
              font-weight: 700;
            }
          }
        }
      }
    }

    .join-steps {
      display: none;
    }

    .join-page {
      width: 1100px;
      //          margin: 0 auto;
      margin-left: 100px;
      margin-bottom: 100px;

      .join-cont-title {
        h2 {
          color: #20232c;
          padding-bottom: 16px;
          border-bottom: 3px solid #20232c;

          .txt {
            font-size: 40px;
            font-weight: bold;
          }

          .desc {
            font-size: 10px;
            letter-spacing: 1px;
            margin-top: 7px;
          }
        }

        .detail {
          padding: 20px 0 50px 0;
          color: #20232c;
        }

        .join-return {
          display: none;
        }
      }

      .join-main {
        .join-main-title {
          h3 {
            font-weight: bold;
            font-size: 1.5em;

            i {
              display: none;
            }
          }

          .desc {
            display: none;
          }

          .detail {
            padding: 20px 0 50px 0;
          }
        }

        .join-main-cont {
          padding-bottom: 50px;
          margin: 20px;
        }

        .webmaster-main-title {
          h3 {
            font-size: 1.5em;
            font-weight: bold;

            i {
              display: none;
            }
          }

          .desc {
            display: none;
          }

          .detail {
            padding: 20px 0 50px 0;
          }
        }
      }
    }
  }

  /*代理加盟表格 end*/
  /*代理加盟 end*/

  /*联系我们*/
  .contact-content {
    padding-top: 48px;
    min-height: 900px;
    float: right;
    width: 84%;
  }

  .contact-content .down {
    margin: 4px 0 0 -2px;
  }

  .contact-content textarea {
    margin-bottom: 8px;
  }

  /*联系我们 end*/

  /*厂商介绍*/

  .wfrim-right-content {
    min-height: 1000px;

    .wfrim-right-contMain {
      width: 800px;
      margin-top: 60px;
      margin-left: 170px;

      .wfrim-contMain-title {
        font-size: 40px;
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 7px;
        }
      }

      .wfrim-contMain-nav {
        overflow: hidden;
        background: #fff;
        padding: 14px 0px;

        .wfrim-contMain-navLi {
          font-size: 16px;
          color: #20232c;
          border-right: 1px solid #5f6e79;
          display: inline-block;
          padding-right: 44px;
          margin-left: 45px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle;
          cursor: pointer;

          &.navActive {
            color: #b37b26;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .wfrim-contMain-tabCon {
        overflow: hidden;
        margin-top: 43px;

        .wfrim-contMain-tabItem {
          .wfrim-contMain-tabList {
            margin-bottom: 48px;
            overflow: hidden;

            .wfrim-tabList-icon {
              font-size: 20px;
              color: #221815;
              margin-bottom: 18px;

              img {
                width: 35px;
                height: auto;
                vertical-align: middle;
                margin-right: 12px;
              }
            }

            .wfrim-tabList-text {
              font-size: 16px;
              color: #20232c;
              line-height: 28px;
              text-indent: 30px;
              margin-bottom: 23px;
            }

            .wfrim-tabList-pic {
              float: left;
              width: 50%;

              img {
                width: 350px;
                height: auto;
              }
            }

            .wfrim-tabList-rightCon {
              float: right;
              width: 50%;
            }

            .wfrim-tabList-leftCon {
              float: left;
              width: 70%;
            }

            .wfrim-tabList-rightPic {
              float: right;
            }

            .wfrim-tabList-centerCon {
              clear: both;
              overflow: hidden;
            }

            .wfrim-tabList-ul {
              overflow: hidden;
              width: 590px;
              margin: 0 auto;
              margin-top: 47px;
              margin-bottom: 40px;

              .wfrim-tabList-picLi {
                float: left;
                color: #20232c;
                margin-right: 85px;
                text-align: center;

                &:last-child {
                  margin-right: 0px;
                }

                .wfrim-tabList-picImg {
                  img {
                    width: auto;
                    height: 92px;
                  }
                }

                .wfrim-tabList-picTitle {
                  font-size: 16px;
                  margin-top: 2px;
                  margin-bottom: 7px;
                }

                .wfrim-tabList-picText {
                  font-size: 14px;
                }
              }
            }

            .wfrim-tabList-abstract {
              overflow: hidden;

              .wfrim-tabList-abstractLi {
                float: left;
                color: #20232c;
                margin-right: 81px;
                height: 314px;
                width: 44%;

                h3 {
                  font-size: 18px;
                  margin-bottom: 8px;
                }

                p {
                  font-size: 16px;
                  line-height: 26px;
                }

                &:nth-child(2n) {
                  margin-right: 0px;
                }
              }
            }

            .wfrim-tabList-product {
              overflow: hidden;

              .wfrim-tabList-productLi {
                overflow: hidden;
                clear: both;
                margin-bottom: 32px;

                .wfrim-tabList-productPic {
                  width: 230px;
                  height: 137px;
                  float: left;
                  margin-top: 11px;

                  img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                  }
                }

                .wfrim-tabList-productText {
                  float: right;
                  color: #20232c;
                  width: 66%;

                  p {
                    font-size: 16px;
                    line-height: 26px;
                  }

                  .productText-title {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // .partner-content-banner {
  //     display: none;
  // }

  // .partner-content {
  //     float: right;
  //     position: relative;
  //     width: 84%;
  //     height: auto;
  //     top: 0px;
  //     right: 0px;
  //     background-size: 100% 100%;
  //     min-height: 1400px;
  // }

  /*厂商介绍 end*/

  /*关于我们*/
  .about-content {
    display: none;
  }

  .about-content-34 {
    display: block;
    float: right;
    position: relative;
    padding-bottom: 100px;
    width: 84%;
    top: 0px;
    right: 0px;
    // height: 1180px;
    min-height: 1180px;

    .waboutUs-right-contMain {
      width: 800px;
      margin-top: 60px;
      margin-left: 170px;
      margin-bottom: 70px;

      .waboutUs-contMain-title {
        font-size: 40px;
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;
        font-weight: bold;

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 7px;
        }
      }

      .wfrim-contMain-aboutUs {
        .waboutUs-cont-header {
          overflow: hidden;
          padding-top: 28px;
          margin-bottom: 36px;

          .waboutUs-header-textFl {
            width: 46%;
            float: left;
          }

          .waboutUs-header-textFg {
            float: right;
            width: 46%;
          }

          .waboutUs-header-textTitle {
            font-size: 18px;
            color: #20232c;
            font-weight: bold;
            margin-top: 20px;
          }

          .waboutUs-header-textSp {
            font-size: 14px;
            color: #20232c;
            line-height: 25px;
            margin-top: 8px;
          }
        }

        .waboutUs-cont-reason {
          .waboutUs-reason-title {
            font-size: 16px;
            color: #897c72;
            margin-bottom: 27px;
          }

          .waboutUs-reason-tabCon {
            overflow: hidden;

            .waboutUs-reason-tabList {
              float: left;
              margin-right: 100px;
              color: #897c72;
              text-align: center;
              width: 80px;
              height: 101px;
              margin-bottom: 40px;

              &:nth-child(5n) {
                margin-right: 0px;
              }

              .tabList-pic {
                width: 30px;
                margin: 0 auto;
                text-align: center;

                img {
                  width: 30px;
                  height: 30px;
                  display: block;
                }
              }

              .tabList-head {
                font-size: 14px;
                margin-top: 9px;
                margin-bottom: 3px;
              }

              .tabList-text {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  /*关于我们 end*/

  /*无优惠活动占位*/
  .no-activity {
    text-align: center;
  }

  .no-activity-img {
    width: 423px;
    height: 316px;
    margin: 20px auto;
  }

  .no-activity span {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #333;
    text-align: center;
    letter-spacing: 6px;
  }

  /*无优惠活动占位 end*/

  //棋牌游戏进入游戏弹出的游戏列表
  .playMyGame-wrapper {
    .playMyGame-content {
      width: 1259px;
      margin: 0 auto;
      padding-top: 10px;

      .ele-logo-lists {
        margin-top: 30px;
        font-size: 14px;
        line-height: 26px;
        text-indent: 30px;
        vertical-align: top;
        overflow: hidden;

        .ele-logo-li {
          float: left;
          width: 227px;
          margin-right: 30px;
          margin-bottom: 30px;
          position: relative;
          cursor: pointer;
          background: #363a4a;

          a {
            display: block;
            text-align: center;
            text-align: -webkit-center;
            // background:rgba(217,223,227, .1);

            b,
            img {
              transition: all 1s;
              -moz-transition: all 1s;
              -ms-transition: all 1s;
              -webkit-transition: all 1s;
              display: block;
              height: 135px;
            }

            img {
              width: auto;
              height: 122px;
              max-width: 100%;
              margin: 0 auto;
            }

            b {
              font-size: 14px;
              color: #a6a6a6;
              background: #363a4a;
              height: 36px;
              line-height: 36px;
              text-align: center;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-weight: normal;
            }

            i.shadow {
              width: 100%;
              height: 123px;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              background: #000;
              z-index: 9;
            }

            span {
              display: block;
              position: absolute;
              left: 93px;
              top: 31px;
              width: 50px;
              height: 34px;
              opacity: 0;
              z-index: 10;
            }

            em {
              text-align: center;
              font-size: 16px;
              color: #fff;
              position: absolute;
              left: 58px;
              top: 70px;
              opacity: 0;
              border-radius: 3px;
              -moz-border-radius: 3px;
              -webkit-border-radius: 3px;
              z-index: 9;
            }

            &:hover {
              i {
                opacity: 0.7;
              }

              span {
                opacity: 1;
              }

              em {
                opacity: 1;
              }
            }
          }

          &:hover {
            i.shadow {
              opacity: 0.7;
            }
          }
        }

        li:nth-of-type(5n) {
          margin-right: 0;
        }
      }
    }
  }

  // 电子竞技
  .athletics-content {
    min-height: 1000px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 100px;

    .athletics-btns {
      position: relative;
      top: 70%;
      left: 40%;

      li {
        cursor: pointer;
        width: 230px;
        height: 54px;
        float: left;
        margin-left: 10px;

        img {
          display: inline-block;
          margin: 7px 0 0 60px;
        }
      }
    }
  }
}
