<template>
	<!--新闻中心详情-->
	<div>
		<!--新聞中心詳細內容-->
		<news-detail-content></news-detail-content>
	</div>
</template>

<script>
import { NewsDetail } from '@/mod/k04/assets/scripts/comTest/main/newsList/newsDetail.js'
export default {
	mixins: [NewsDetail]
}
</script>