<template>
  <!--修改手機號碼彈出窗-->
  <div id="SchemeForm" class="alert_box_content Scheme_alert_box re_h">
    <span class="alert_close" @click="HideScheme()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_registration_scheme')}}
      </h2>
      <div class="scheme-content">
        <div class="scheme-cont-put">
          <input
            type="text"
            v-model.trim="templeteName"
            name="TempName"
            v-validate="{ rules: { regex:Reg.PlanName}, required: true}"
            @keyup="TestAllEmpty()"
          />
          <p
            class="tip1"
            v-show="errors.has('TempName') && fields.TempName.touched"
          >{{$t('message.agency_english_letter')}}</p>
          <p class="tip1" v-show="AllEmpty">{{$t('message.agency_scheme_name')}}</p>
        </div>
        <div class="scheme-cont-btn">
          <a
            href="javascript:;"
            class="confirmBtn"
            @click="SaveTemplate()"
          >{{$t('message.login_confirm')}}</a>
          <a
            href="javascript:;"
            class="cancelBtn"
            @click="HideScheme()"
          >{{$t('message.member_cancel')}}</a>
        </div>
      </div>
    </div>
    <div v-show="IsTempleteError" class="maxtip">{{$t('message.agency_template_name')}}</div>
    <!-- <div v-show="resigerWord" class="maxtip">{{succeededText}}</div> -->
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import AgencyCenterService from "@/mod/k14/assets/scripts/businessLogic/agencyCenterService.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import Regex from "@/assets/scripts/common/CommDef.js"
// import BKBLDef from '@/assets/scripts/common/BLDef.js';
// import CommService from '@/mod/k14/assets/scripts/businessLogic/commonService.js';

export default {
  data() {
    return {
      templeteName: "",
      IsTempleteError: false,
      succeededText: "",
      // resigerWord: false,
      // RelationMemberID: 0,
      agencyObjLists: [], // 注册带的数组参数
      AllEmpty: false,
      // 正則表達式類別
      Reg: Regex.Regex
    }
  },
  props: {
    NamePrefix: "",
    ReverseWater: "",
    VMaxRevrseWater: "",
    IncomeMode: "",
    MaxIBBonusRevenueRate: "",
    RevrseName: "",
    IBBonusName: "",
    IsMember: undefined,
    RelationMemberID: undefined,
    IBCommissionRevenueGameSettingList: {
      type: Array,
      default: function () {
        return []
      }
    },
    RegistObj: {
      type: Object,
      default: function () {
        return {}
      }
    },
    UserlistMemberID: undefined
  },
  mounted: function () {
    // 用户列表请求成为代理=》同意
    if (this.UserlistMemberID != undefined) {
      this.RelationMemberID = this.UserlistMemberID
    }
    // const a = 8.87 / 100;
    // const b = this.numCalFix(a);
    // console.log(a, b);
  },
  methods: {
    // 保留四位小数
    numCalFix: function (input) {
      let isZheng = 1
      if (input * 1 >= 0) {
        isZheng = 1
      } else {
        isZheng = -1
      }
      input = Math.abs(input * 1)
      const toFixedNum = function (num, s) {
        const times = 10 ** s
        let des = num * times + 0.5
        des = parseInt(des, 10) / times
        return des * isZheng + ""
      }
      let rtn = toFixedNum(input, 5)
      rtn *= 1
      return rtn
    },
    TestAllEmpty: function () {
      if (this.templeteName.length > 0 && /^[\s]*$/.test(this.templeteName)) {
        this.AllEmpty = true
      } else {
        this.AllEmpty = false
      }
    },
    SaveTemplate: async function () {
      this.agencyObjLists = []
      if (this.templeteName == "") {
        this.IsTempleteError = true
        setTimeout(() => {
          this.IsTempleteError = false
        }, 1000)
        return
      }
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      for (let index = 0; index < this.IBCommissionRevenueGameSettingList.length; index++) {
        const NewGroupListItem = {}
        NewGroupListItem.GameApiName = this.IBCommissionRevenueGameSettingList[index].GameApiName
        NewGroupListItem.GameApiNo = this.IBCommissionRevenueGameSettingList[index].GameApiNo
        NewGroupListItem.GameTypeName = this.IBCommissionRevenueGameSettingList[index].GameTypeName
        NewGroupListItem.GameTypeNo = this.IBCommissionRevenueGameSettingList[index].GameTypeNo
        NewGroupListItem.GroupID = this.IBCommissionRevenueGameSettingList[index].GroupID
        NewGroupListItem.MaxRevenueRate = this.IBCommissionRevenueGameSettingList[index].MaxRevenueRate
        NewGroupListItem.MemberID = this.IBCommissionRevenueGameSettingList[index].MemberID
        NewGroupListItem.MinRevenueRate = this.IBCommissionRevenueGameSettingList[index].MinRevenueRate
        NewGroupListItem.RevenueRate = this.numCalFix(
          (this.IBCommissionRevenueGameSettingList[index].RevenueRate * 1) / 100
        )
        this.agencyObjLists.push(NewGroupListItem)
      }
      // this.agencyObjLists = IBCommissionList;
      const inputObj = {
        IsMember: this.IsMember,
        RelationMemberID: this.RelationMemberID, // 关联的会员(用户列表请求成为会员传过来的MemberID),
        Prefix: this.NamePrefix,
        Acct: this.RegistObj.Acct,
        UpperIBInfo: {
          AcctID: localStorage.getItem("CorrelationIBMemberId"),
          Acct: localStorage.getItem("Acct"),
          Prefix: this.NamePrefix
        },
        MaxReverseGameListSetting: this.agencyObjLists,
        CommisionIncomeMode: {
          Value: this.IncomeMode
        },
        IBBonusRevenueRate: this.numCalFix(this.IBBonusName / 100),
        ReverseWater: this.numCalFix(this.RevrseName / 100) || 0,
        SaveIbTempSetting: true,
        IbTempSetting: {
          TempName: this.templeteName,
          TempType: this.IncomeMode,
          TempCommissionRevenueGameSetting: this.agencyObjLists,
          BonusRevenue: this.numCalFix(this.IBBonusName / 100),
          RakeRate: this.numCalFix(this.RevrseName / 100)
        }
      }
      console.log(inputObj)
      const data = await AgencyCenterService.LoadAddIB_Add(inputObj)
      console.log("创建账号的注册并保存模板数据")
      console.log(data)

      console.log("创建账号的注册并保存模板数据")
      if (data.Ret === 0) {
        this.succeededText = data.Message
        EventBus.$emit("agencyMouldSucc", this.succeededText)
        this.templeteName = ""

        // this.resigerWord = true;
        this.$validator.reset()
        this.HideScheme()
        // setTimeout(() => {
        //   this.resigerWord = false;
        // }, 1000);
      } else if (data.Ret === 100021) {
        this.succeededText = this.$t("message.duplicationName")
        EventBus.$emit("agencyMouldSucc", this.succeededText)
        this.HideScheme()
      } else {
        EventBus.$emit("agencyMouldError")
        this.HideScheme()
      }
    },
    // 開啟彈窗
    ShowScheme: function () {
      CommUtility.WebShowAlertboxForm("SchemeForm")
    }, // end ShowEditPhone

    // 關閉彈窗
    HideScheme: function () {
      this.templeteName = ""
      CommUtility.WebClosealertboxForm("SchemeForm")
    } // end HideEditPhone
  }
}
</script>
