<template>
  <!--修改手機號碼彈出窗-->
  <div id="switchDataForm" class="alert_box_content TemplateData_alert_box re_h">
    <span class="alert_close" @click="HideSwitchData()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_reminder')}}
      </h2>
      <div class="TemplateData-content">
        <p>若重新选择代理待遇，则将把栏位全部清空，是否继续？</p>
      </div>
      <div class="scheme-cont-btn">
        <a
          href="javascript:;"
          class="confirmBtn"
          @click="switchSumbit()"
        >{{$t('message.login_confirm')}}</a>
        <a
          href="javascript:;"
          class="cancelBtn"
          @click="HideSwitchData()"
        >{{$t('message.member_cancel')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {}
  },
  props: {
    radioOne: undefined,
    radioTwo: undefined
  },
  mounted: function () {},
  methods: {
    // 開啟彈窗
    ShowSwitchData: function () {
      console.log("switch")
      CommUtility.WebShowAlertboxForm("switchDataForm")
    }, // end ShowEditPhone

    // 關閉彈窗
    HideSwitchData: function () {
      CommUtility.WebClosealertboxForm("switchDataForm")
    }, // end HideTemplateData
    switchSumbit: function () {
      const obj3 = {
        radioNum: "2"
      }
      EventBus.$emit("switchTreatFrom", obj3)
      this.HideSwitchData()
    }
  }
}
</script>
