.theme03 {

    a,
    p,
    span,
    label,
    li,
    div,
    input,
    td,
    th {
        text-decoration: none;
        font-family: "\5FAE\8F6F\96C5\9ED1";
    }

    /*header*/

    //marquee

    .header-marquee {
        width: 500px;
        float: left;
        height: 45px;
        line-height: 45px;
        overflow: hidden;

        .header-marquee-icon {
            display: none;
        }

        .notice {
            width: 440px;
            float: left;
            margin-left: 7px;
            height: 40px;
            line-height: 40px;
            overflow: hidden;

            .slideTxtBox {
                float: left;
                width: 440px;
                color: #9fa1a4;
                overflow: hidden;

                ul {
                    width: 440px;
                    height: 40px;
                    line-height: 40px;
                    color: #9fa1a4;

                    a {
                        color: #9fa1a4;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .header2 {
        width: 100%;
        height: 30px;
        background: #000;

        .header-marquee,
        .notice,
        ul {
            height: 30px;
            line-height: 30px;
        }

        .slideTxtBox {
            margin-top: -7px;
        }

        .header-top {
            height: 30px !important;
            line-height: 30px !important;
            border-bottom: none !important;

            .heMail,
            .refresh-account,
            .rotateLoop {
                margin-top: 6px !important;
            }

            .unread {
                top: 0 !important;
            }

            .down {
                margin-top: -5px;
            }
        }
    }

    .header {
        // position: fixed;
        // top: 0;
        // width: 100%;
        // z-index: 999;

        .header-top {
            width: 100%;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid rgba(50, 56, 62, 0.5);
        }

        .header-cont {
            margin: 0 auto;
            width: 1200px;

            .header-cont-nav {
                float: right;

                li {
                    float: left;
                    font-size: 12px;
                    color: #9fa1a4;

                    &.login-before {
                        i {
                            display: none;
                        }

                        span {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: -1px;
                        }
                    }

                    a {
                        font-size: 12px;
                        color: #9fa1a4;
                        margin-right: 5px;
                        display: inline-block;
                        vertical-align: top;

                        .heMail {
                            display: inline-block;
                            width: 26px;
                            height: 19px;
                            margin-top: 13px;
                        }
                    }

                    a:hover {
                        color: #fff;
                    }

                    a.user {
                        padding-left: 20px;
                    }

                    a.deposit {
                        padding-left: 20px;
                    }

                    a.refresh-account,
                    a.rotateLoop {
                        width: 20px;
                        height: 18px;
                        margin-top: 13px;
                        margin-right: 0;
                    }

                    .email img {
                        width: 25px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                    }

                    .unread {
                        top: 4px;
                        right: -6px;
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        line-height: 14px;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        color: #ffffff;
                        text-align: center;
                        content: '9';
                        background-size: 100%;
                    }

                    .account em {
                        color: #fff;
                    }
                }
            }
        }
    }


    /*language*/

    /*----------start--下拉框----------*/
    .language .down {
        height: auto;
        position: relative;
        float: left;
        padding-right: 20px;
        z-index: 999;
        width: 91px;
        margin-top: 2px;
    }

    .language .down .d_course {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        cursor: pointer;
        text-align: left;
        color: #9fa1a4;
        width: 100%;
        border: 0;
        background: none;
        font-size: 12px;
    }


    .language .down .lang_down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 35px;
        border-top: 0;
        width: 100%;
        background: #fff;
        border: 0;
    }

    .language .down .lang_down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        color: #514a5c;
        font-size: 12px;
        padding: 5px 0 5px 10px;
    }

    .language .down .lang_down_box .down_list:hover {
        color: #514a5c;
    }

    .language .lang_down_box a {
        line-height: 26px;
    }

    .language .down i.flagDown {
        background-size: 100% 100%;
        width: 20px;
        height: 13px;
        display: block;
        position: absolute;
    }

    .language .down i.iconDown {
        background-size: 100% 100%;
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 9px;
        top: 17px;
    }

    .language .d_course i.flagDown {
        top: 14px;
        right: 22px;
    }

    .language .lang_down_box i.flagDown {
        top: 12px;
        right: 22px;
    }

    /*----------end--下拉框----------*/

    /*header_nav*/
    .wrap .main-cont-nav2 {
        background: rgba(19, 19, 19, 0.5);
        z-index: 2;
        position: absolute;
        top: 30px;

        .main-cont-box {
            ul {
                li {
                    float: left;
                    padding-right: 25px;
                    padding-left: 20px;
                    height: 80px;
                    line-height: 80px;
                    background: none;
                    width: auto;
                    border-right: none;
                    margin-top: 0;

                    &.main-navList a {
                        margin-top: 28px;
                    }

                    &.main-navList1 {
                        margin-left: 90px;
                    }

                    &.hasSelect a {
                        color: #d82220;
                        background: none;
                    }

                    &:hover {
                        background: none;
                    }

                    a {
                        float: left;
                        font-size: 16px;
                        line-height: 22px;
                        display: block;
                        color: #fff;
                        transition: color .5s linear;
                        -moz-transition: color .5s linear;
                        /* Firefox 4 */
                        -webkit-transition: color .5s linear;
                        /* Safari and Chrome */
                        -o-transition: color .5s linear;

                        /* Opera */
                        &:hover {
                            color: #d82220;
                        }

                        &.hasSelece {
                            color: #d82220;
                            border-bottom: 1px solid #960101;
                            border-top: 1px solid #960101;
                        }
                    }

                }
            }

            .main-navList-logo {
                //          padding-top: 10px;
                padding-left: 20px;

                a {
                    // background:url("/static/images/Customer/logo3.png") no-repeat;
                    //              width: 162px;
                    //              height: 58px;
                }
            }

            .nav_btn {
                display: none;
            }
        }

    }

    .mainNav-nav-second {
        display: block;
    }

    .main-cont-nav {
        position: fixed;
        top: 61px;
        z-index: 3;
        width: 100%;
        height: 80px;
        background: none;

        .main-cont-box {
            position: relative;
            width: 1240px;
            margin: 0 auto;

            ul {
                position: relative;
                width: 1240px;
                margin: 0 auto;
                overflow: hidden;

                &.mainNav-nav-second {
                    display: block;
                }

                .main-navList {
                    position: relative;
                    float: left;
                    width: 96px;
                    height: 60px;
                    margin-top: 6px;
                    line-height: 60px;
                    text-align: center;
                    color: #f1f1f2;
                    background: hsla(0, 0%, 100%, .2);
                    border-right: 1px solid #32383e;

                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }

                    &.main-navList1 {
                        margin-left: 173px;
                    }

                    a {
                        font-size: 18px;
                        color: #f1f1f2;

                        span {
                            display: none;
                        }

                        i {
                            display: none;
                        }
                    }
                }

                .main-navList-logo {
                    float: left;
                    width: 231px;

                    a {
                        // background: url('/static/images/Customer/nav_logo_3.png')no-repeat;
                        background-size: 100% 100%;
                        width: 231px;
                        height: 78px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .nav_btn {
            float: left;
            display: block;
            position: absolute;
            top: 6px;
            right: 0;
            width: 60px !important;
            height: 60px !important;
            background: #960101 !important;
            border: none !important;
            cursor: pointer;

            .line {
                position: absolute;
                display: block;
                width: 32px;
                height: 3px;
                background: #fff;

                &.line1 {
                    left: 14px;
                    top: 20px;
                }

                &.line2 {
                    left: 14px;
                    top: 28px;
                }

                &.line3 {
                    left: 14px;
                    top: 36px;
                }
            }
        }
    }

    /*nav end*/


    /*footer*/
    .footer {
        width: 100%;
        height: 65px;
        z-index: 999;
        background: rgba(255, 255, 255, 0.1);
        //      margin-top: -65px;
        position: fixed;
        bottom: 0px;

        .footer-cont {
            display: block;
            position: relative;
            width: 1200px;
            margin: 0 auto;

            .footer-cont-logo {
                display: block;
                // background: url("/static/images/Customer/foot_logo_3.png") no-repeat;
                width: 30px;
                height: 33px;
                margin: 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .footer-cont-nav {
                ul {
                    float: left;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                    .footer-navList {
                        height: 35px;
                        line-height: 45px;
                        margin-right: 10px;
                        float: left;
                        font-size: 14px;
                        color: #a1a19e;

                        a {
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 14px;
                            margin-right: 4px;
                        }

                        a:hover {
                            color: #fff;
                        }

                        span {
                            display: none;
                        }

                        i {
                            display: inline-block;
                            vertical-align: -2px;
                            width: 1px;
                            height: 13px;
                            background: #545c6a;
                        }
                    }
                }

                .fooPtext-3 {
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.2);
                    font-size: 12px;
                }
            }
        }

        .footer-cont-firm {
            display: block;
            float: right;
            width: 530px;

            a {
                float: left;
                margin: 15px 15px 0;
                cursor: default;
            }

            .ag-logo {
                width: 64px;
                height: 38px;
            }

            .keno-logo {
                width: 80px;
                height: 38px;
            }

            .pt-logo {
                width: 69px;
                height: 38px;
            }

            .ob-logo {
                width: 82px;
                height: 38px;
            }

            .sb-logo {
                width: 73px;
                height: 38px;
            }

            .qtech-logo {
                display: none;
            }
        }
    }




    /*客服*/
    .service {
        position: fixed;
        bottom: 150px;
        right: 150px;
        z-index: 999;
        height: 152px;

        .service-box {
            display: block;

            li {
                display: block;
                margin-top: 3px;
                width: 48px;
                height: 48px;
                overflow: hidden;
                background: rgba(0, 0, 0, .5);
                cursor: pointer;

                a {
                    color: #c7daff;

                    &:hover i {
                        display: none;
                    }

                    &:hover span {
                        display: block;
                    }
                }

                span {
                    display: none;
                    padding: 5px;
                    height: 100%;
                    line-height: 20px;
                    font-size: 14px;
                    font-family: \\5B8B\4F53;
                    color: #fff;
                    letter-spacing: 2px;
                    text-align: center;
                    background: #d82220;
                }

                i {
                    display: block;
                    vertical-align: top;
                    width: 48px;
                    height: 48px;
                }
            }

            .SbtnTutorial,
            .SbtnFree {
                display: none;
            }

            .SbtnService {
                i {
                }
            }

            .SbtnActivity {
                margin-top: 3px;

                i {
                }
            }
        }
    }

    .wrap {
        width: 100%;
    }

    /* 滚动条样式 */
    /* 兼容IE */
    html,
    body,
    div {
        scrollbar-face-color: #A40200;
        /*滚动条3D表面（ThreedFace）的颜色*/
        scrollbar-highlight-color: #1B1B1D;
        /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
        scrollbar-shadow-color: #A40200;
        /*滚动条3D界面的暗边（ThreedShadow）颜色*/
        scrollbar-3dlight-color: #A40200;
        /*滚动条亮边框颜色*/
        scrollbar-arrow-color: #FFFFFF;
        /*滚动条方向箭头的颜色 */
        scrollbar-track-color: #1B1B1D;
        /*滚动条的拖动区域(TrackBar)颜色*/
        scrollbar-darkshadow-color: #1B1B1D;
        /*滚动条暗边框（ThreedDarkShadow）颜色*/
    }

    /* 兼容webkit */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        /*滚动条底色*/
        background: #1B1B1D;
    }

    ::-webkit-scrollbar-thumb {
        /*滚动条颜色*/
        background: #A40200;
        border-radius: 4px;
        border-radius: 0;
    }

    ::-webkit-scrollbar-corner {
        /*滚动条底色*/
        background: #1B1B1D;
    }
}
