<template>
  <div class="service-content" v-if="sideBarList.length>0">
    <span class="service-cont-people" v-if="peopleFlag">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/index_img30.png'" />
    </span>
    <ul class="service-cont-item">
      <li
        class="service-cont-list"
        @mouseenter="GetTourEnterRecords()"
        @mouseleave="GetTourOutRecords()"
        v-if="sideBarList[0].State && this.IsLogin"
      >
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/index_img32.png'"
          />
          {{sideBarList[0].SidebarName}}
        </a>
        <div class="tourRecords-content" v-show="tourRecordsFlag">
          <div v-if="RecordList.length>0">
            <h2 class="tourRecords-cont-title">{{$t('message.sidebar_sightseeing')}}</h2>
            <ul class="tourRecords-cont-item">
              <li
                class="tourRecords-cont-list"
                v-for="(li,index) in RecordList"
                @click="RecordsEnterGame(li)"
                :key="index"
              >
                {{li.GameApiName}}
                -{{li.GameTypeName}}
                <i
                  v-if="li.GameName!=null"
                >-{{li.GameName}}</i>
              </li>
            </ul>
          </div>
          <div v-else class="tourRecords-norecord">{{$t('message.float_no_record')}}</div>
        </div>
      </li>
      <li v-if="sideBarList[5].State" class="service-cont-list" @click="OpenNewBox()">
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img14.png'"
          />
          {{sideBarList[5].SidebarName}}
        </a>
      </li>
      <li v-if="sideBarList[2].State" class="service-cont-list" @click="phoneBeting()">
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img11.png'"
          />
          {{sideBarList[2].SidebarName}}
        </a>
      </li>
      <li v-if="sideBarList[3].State" class="service-cont-list">
        <router-link :to="{ name: 'NewsList'}">
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img12.png'"
          />
          {{sideBarList[3].SidebarName}}
        </router-link>
      </li>
      <li v-if="sideBarList[4].State" class="service-cont-list">
        <router-link :to="{ name: 'ActivityList'}">
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img13.png'"
          />
          {{sideBarList[4].SidebarName}}
        </router-link>
      </li>
      <li v-if="sideBarList[6].State" class="service-cont-list">
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img15.png'"
          />
          {{sideBarList[6].SidebarName}}
        </a>
        <div class="service-sixtyFour-code" v-if="this.WeiXinUrl!=''">
          <p class="service-code-p1">
            <img :src="this.WeiXinUrl" />
            <!-- <span>王牌服务号</span> -->
          </p>
          <!-- <p class="service-code-p1">
              <img
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/liveVideo/web64_float_7.png'"
              />
              <span>王牌服务号</span>
          </p>-->
        </div>
      </li>
      <li v-if="sideBarList[7].State" class="service-cont-list">
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img16.png'"
          />
          {{sideBarList[7].SidebarName}}
        </a>
        <div class="service-sixtyFour-QQservice" v-if="QQSettingInfoList.length>0">
          <ul>
            <li
              v-for="(list,index) in QQSettingInfoList"
              :key="index"
              @click="CallQQClient(list.QQAcct)"
            >
              <div v-if="list.Status.Value==702">
                <!-- <span>客服{{index+1}}：</span> -->
                {{list.QQAcct}}
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li v-if="sideBarList[8].State" class="service-cont-list">
        <a>
          <img
            class="service-cont-icon"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/ix_new_img17.png'"
          />
          {{sideBarList[8].SidebarName}}
        </a>
        <div class="service-sixtyFour-phoneNo" v-if="this.onlinePhoneNo!=''">
          <p class="service-phoneNo-p1">{{this.onlinePhoneNo}}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import BLDef from '@/assets/scripts/common/BLDef.js';
import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import URLService from '@/assets/scripts/common/URLService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import Vue from 'vue';

export default {
  data () {
    return {
      IsCustomerServiceShowing: false,
      CustomerService: {},
      LampLists: [],
      OnlinePeople: undefined,
      RecordList: [],
      tourRecordsFlag: false,
      GameCatlogKind: undefined,
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: '',
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      },
      sideBarList: [],
      onlinePhoneNo: '',
      customerUrl: '',
      WeiXinUrl: '',
      CreateDateTime: '',
      QQSettingInfoList: [],
      peopleFlag: false
    };
  },
  props: {
    IsLogin: undefined
  },
  created: function () {
    this.GetCustomerServiceInfo();
    this.GetSidebarPage();
    this.GetCumstomerInfoPage();
  },
  methods: {
    GetSidebarPage: async function () {
      const dataObj = {
        WGUID: '',
        PlatformType: ''
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.PlatformType = BLDef.PlatformType.Web_PC;
      const data = await CommonService.Home_GetSidebarSettingList(dataObj);
      console.log('data侧边栏');
      console.log(data);
      console.log('data侧边栏');
      if (data.Ret === 0) {
        this.sideBarList = data.Data.SidebarSettingList;
        EventBus.$emit('profitSwitch', this.sideBarList[1].State);
        // let peopleFlag = false
        for (let n = 0; n < this.sideBarList.length; n++) {
          if (this.sideBarList[n].State) {
            this.peopleFlag = true;
          }
        }
        console.log(this.peopleFlag);
      }
    },
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
    },
    phoneBeting: function () {
      EventBus.$emit('OpenPhoneBetingWindow');
    },
    GetCustomerServiceInfo: async function () {
      const inputObj = { WGUID: Vue.prototype.$WGUID };
      const data = await CommonService.Comm_GetCustomerServiceInfo(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.CustomerService = data.Data.CustomerServiceInfo;
      }
    },
    // 滑鼠移入右側浮動視窗
    serviceMouseEnter: function () {
      $('.service').addClass('hasblock');
    },
    // 滑鼠移出右側浮動視窗
    serviceMouseLeave: function () {
      if (this.IsCustomerServiceShowing === false) {
        $('.service').removeClass('hasblock');
      }
    },
    // 关闭客服弹窗
    CloseService: function () {
      $('.service').removeClass('hasblock');
    },
    showCustomerService: function () {
      this.IsCustomerServiceShowing = true;
    },
    hideCustomerService: function () {
      this.IsCustomerServiceShowing = false;
    },
    CallQQClient: function (QQAcct) {
      const QQHref = 'http://wpa.qq.com/msgrd?v=3&uin=' + QQAcct + '&menu=yes';
      window.open(QQHref);
    },
    // 获取在线客服与微信客服
    GetCumstomerInfoPage: async function () {
      const inputData = { WGUID: Vue.prototype.$WGUID };
      const retData = await CommonService.GetCumstomerInfoLoad(inputData);
      console.log('微信客服');
      console.log(retData);
      console.log('微信客服');
      if (retData.Ret === 0) {
        // / <summary>客服電話</summary>
        this.onlinePhoneNo = retData.Data.CustomerServicePhoneNo;
        // / <summary>在线客服地址</summary>
        this.customerUrl = retData.Data.OnlineUrl;
        // / <summary>微信图片地址</summary>
        this.WeiXinUrl = retData.Data.WeiXinUrl;
        // / <summary> 创建时间</summary>
        this.CreateDateTime = retData.Data.CreateDateTime;
        // <summary>QQ客服</summary>
        this.QQSettingInfoList = retData.Data.CustomerServiceSettingInfoList;
      }

      console.log(retData);
    },
    GetTourEnterRecords: async function () {
      this.tourRecordsFlag = true;
      const inputData = { Data: '' };
      const retData = await CommonService.GetTourRecords(inputData);
      // console.log(inputData);
      console.log('GetTourRecords================================' + inputData);
      console.log(retData);
      if (retData.Ret === 0) {
        this.RecordList = retData.Data.List;
        // this.RecordList.reverse();
      }
    },
    GetTourOutRecords: function () {
      this.tourRecordsFlag = false;
    },
    RecordsEnterGame: function (item) {
      console.log(item);
      console.log(this.tourRecordsFlag);
      this.tourRecordsFlag = false;
      // if (item.GameTypeNo == 1) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.LiveVideo;
      // } else if (item.GameTypeNo == 2) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.Sport;
      // } else if (item.GameTypeNo == 3) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.Lottery;
      // } else if (item.GameTypeNo == 4) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.EGames;
      // } else if (item.GameTypeNo == 5) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.Poker;
      // } else if (item.GameTypeNo == 6) {
      //   this.GameCatlogKind = BLDef.GameCatlogType.ElectronicSports;
      // }
      // 2018.11.15 SeyoChen 遍历游戏
      this.GameData.GameAPIVendor = item.GameApiNo;
      this.GameData.GameCode = item.GameCode;
      this.GameData.GameCatlog = item.GameTypeNo; // 2018.12.01 传递游戏类型
      console.log(this.GameData);
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      if (item.GameApiNo === 31) {
        CommUtility.OpenPlayGameWindow('webPlayPngGame', 'PlayGamePopUpWindow');
      } else {
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
      // CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
    } // end PlaySBGame
  }
};
</script>
