<template>
  <div class="join-content" :class="'join_' + $MessageLang">
    <div class="join-content-banner ng-scope">
      <video
        :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web23/Animation/agent.mp4'"
        autoplay="autoplay"
        width="1900"
        loop="loop"
        muted
      ></video>
      <div class="index-content">
        <img src alt class="figure-img" />
        <img src alt class="text-img" />
        <div class="enter-btn">
          <a class="txt">{{ $t("message.understanding_details") }}</a>
        </div>
      </div>
      <div class="join-banner-layout">
        <div class="join-small-slider">
          <div id="banner-tabs" class="flexslider">
            <ul class="slides">
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
              <li class="active">
                <a>1</a>
              </li>
              <li>
                <a>2</a>
              </li>
              <li>
                <a>3</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="join-steps">
        <h2 class="join-steps-title">
          <p class="txt">{{ $t("message.agent_steps") }}</p>
          <span class="desc">AGENCY HOW TO START</span>
        </h2>
        <div class="join-steps-img"></div>
      </div>
    </section>
    <div class="join-page">
      <div class="join-page-transition">
        <div class="join-main-bg">
          <div class="join-main-content">
            <section class="join-cont-title">
              <h2>
                <p class="txt">{{ $t("message.agent_alliance") }}</p>
                <p class="desc">Agent Cooperation</p>
              </h2>
              <router-link :to="{ name: 'Index' }" class="join-return">{{ $t("message.activity_return") }}</router-link>
              <p class="detail">{{ $t("message.agent_different_contact") }}</p>
            </section>
            <div class="join-main" id="JoinUsForm">
              <section class="join-main-title">
                <h3 class="txt">
                  {{ $t("message.agency_agent") }}
                  <i>{{ $t("message.agent_join") }}</i>
                  <span class="colon">:</span>
                </h3>
                <p class="desc">Agent to join in</p>
                <p class="detail">
                  {{ $t("message.fill_in") }}
                  <b>{{ $t("message.agent_basic_information") }}</b>
                  {{ $t("message.member_and") }}
                  <b>{{ $t("message.agent_other_information") }}</b>
                  {{ $t("message.transfer_audit") }}
                </p>
              </section>
              <div class="join-main-cont" id="JoinUsForm">
                <div class="a-j-lists">
                  <section class="a-j-left">
                    <h2 class="a-j-putBox-title">{{ $t("message.agent_basic_information") }}</h2>
                    <section class="a-j-left-box">
                      <div class="proxy-com">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="asterisk">*</b>
                            <b class="txt">{{ $t("message.agent_full_name") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            v-model.trim="PostDataModel.Name"
                            name="Name"
                            v-validate="{ rules: { regex: Reg.NickName, required: true } }"
                            :placeholder="$t('message.agent_authentic')"
                          />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('Name') && fields.Name.touched">
                          {{ $t("message.agent_blank_space") }}
                        </p>
                      </div>
                      <div class="proxy-com">
                        <div :class="'proxy-line join_long_' + $MessageLang">
                          <span class="title">
                            <b class="asterisk">*</b>
                            <b class="txt"></b>
                            {{ $t("message.reg_mobile_number") }}
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            v-model="PostDataModel.PhoneNo"
                            name="PhoneNo"
                            v-validate="{ rules: { regex: Reg.PhoneNo, required: true } }"
                            :placeholder="$t('message.agent_input_mobilePhone')"
                          />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('PhoneNo') && fields.PhoneNo.touched">
                          {{ $t("message.agent_legal_mobilePhone") }}
                        </p>
                      </div>
                      <div class="proxy-com clearfix">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="asterisk">*</b>
                            <b class="txt">{{ $t("message.agent_sexuality") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <div class="a-j-input sex a-j-sex">
                            <input type="text" class="a-j-select-ipt" readonly />
                            <ul class="a-j-sexUl">
                              <li
                                :class="{ on: activeSex === index }"
                                v-for="(Sex, index) in LoadAddPageModel.SexSelectList"
                                class="a-j-sexItem"
                                v-on:click="CheckSexRadio(index)"
                              >
                                <input
                                  type="radio"
                                  name="Sex_RadioButton"
                                  v-model="PostDataModel.Sex.Value"
                                  :value="Sex.Value"
                                />
                                <span class="a-j-sexText">{{ Sex.Name }}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p class="tip1 qc-tip" v-show="PostDataModelSexErrorIsShow === false">
                          {{ $t("message.agent_unable_empty") }}
                        </p>
                      </div>
                      <div class="proxy-com">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="asterisk">*</b>
                            <b class="txt">Email</b>
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            v-model="PostDataModel.Email"
                            name="Email"
                            v-validate="{ rules: { lamborEmail: true, required: true } }"
                            :placeholder="$t('message.agent_input_email')"
                            required
                          />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('Email') && fields.Email.touched">
                          {{ $t("message.agent_underline") }}
                        </p>
                      </div>
                      <!--<div class="proxy-com">
												<div class="proxy-line"><span  class="title"><b class="asterisk">*</b><b class="txt">持卡人姓名</b><b class="colon">:</b></span><input type="text" v-model="PostDataModel.CardName" name="CardName" v-validate="{ rules: { regex:Reg.NickName, required: true }}" placeholder="持卡人姓名"></div>
												<p class="tip1 qc-tip" v-show="errors.has('CardName') && fields.CardName.touched">仅可以使用中英文字母,空白, 字数范围2-50</p>
                      </div>-->
                      <!--<div class="proxy-com">
												<div class="proxy-line"><span class="title"><b class="asterisk">*</b><b class="txt"></b>银行名称<b class="colon">:</b></span><input type="text" v-model="PostDataModel.BankName" name="BankName" v-validate="{ rules: { regex:Reg.BankName, required: true }}" placeholder="银行名称"></div>
												<p class="tip1 qc-tip" v-show="errors.has('BankName') && fields.BankName.touched">仅可以使用中英文字母,数字, 下划线和减号, 字数范围2-50</p>
											</div>
											<div class="proxy-com proxy-Branch">
												<div class="proxy-line">
													<span class="title"><b class="asterisk">*</b><b class="txt">开户行网点</b><b class="colon">:</b></span>
													<div class="a-j-input clearfix">
														<div class="a-j-input1">
															<div class="down first_down">
																<div class="d_course" v-on:click="ShowDropDown('provinceBox')">
																	{{this.PostDataModel.BankProvince.Name}}
																</div>
																<i class="a-j-downimg"></i>
																<div class="down_box provinceBox" style="overflow: scroll; max-height: 165px;overflow-x:hidden;overflow-y:auto;">
																	<a class="down_list" v-for="Province in LoadAddPageModel.ProvinceSelectList" @click="ChangeProvince(Province);">{{Province.Name}}</a>
																</div>
															</div>
														</div>
														<div class="a-j-input1">
															<div class="down">
																<div class="d_course" v-on:click="ShowDropDown('townBox')">
																	{{this.PostDataModel.BankCity.Name}}
																</div>
																<i class="a-j-downimg"></i>
																<div class="down_box townBox" style="overflow: scroll; max-height: 165px;overflow-x:hidden;overflow-y:auto;">
																	<a class="down_list" v-for="Town in LoadAddPageModel.TownSelectList" v-on:click="ChangeTown(Town);">{{Town.Name}}</a>
																</div>
															</div>
														</div>
														<div class="a-j-input1">
															<div class="down" v-show="!(PostDataModel.BankCity.Value !== '-1' && this.LoadAddPageModel.DistSelectList.length == 1)">
																<div class="d_course" v-on:click="ShowDropDown('distBox')">
																	{{this.PostDataModel.BankDistrict.Name}}
																</div>
																<i class="a-j-downimg"></i>
																<div class="down_box distBox" style="overflow: scroll; max-height: 165px;overflow-x:hidden;overflow-y:auto;">
																	<a class="down_list" v-for="Dist in LoadAddPageModel.DistSelectList" v-on:click="ChangeDist(Dist);">{{Dist.Name}}</a>
																</div>
															</div>
														</div>
													</div>
													<p class="tip1 qc-tip" v-show="DropDownInvalid === false">提示: 选择项不能为空</p>
												</div>
                      </div>-->
                      <!--<div class="proxy-com proxy-BranchName">
												<div class="proxy-line branch-name"><span class="title"></span><input type="text" v-model="PostDataModel.BankBranchName" name="BankBranchName" v-validate="{ rules: { regex:Reg.BankBranchName, required: true }}" placeholder="例：科技园支行"></div>
												<p class="tip1 qc-tip" v-show="errors.has('BankBranchName')  && fields.BankBranchName.touched">仅可以使用中英文字母,空白, 字数范围2-50</p>
											</div>
											<div class="proxy-com proxy-BankAccnt">
												<div class="proxy-line"><span class="title"><b class="asterisk">*</b><b class="txt">银行账号</b><b class="colon">:</b></span><input type="text" v-model="PostDataModel.BankAccnt" name="BankAccnt" v-validate="{ rules: { regex:Reg.BankAccount, required: true }}" placeholder="请输入您的银行账号"></div>
												<p class="tip1 qc-tip" v-show="errors.has('BankAccnt') && fields.BankAccnt.touched ">仅可以使用10—25个数字</p>
                      </div>-->
                    </section>
                  </section>
                  <section class="a-j-right">
                    <h2 class="a-j-putBox-title">{{ $t("message.agent_other_information") }}</h2>
                    <section class="a-j-right-box">
                      <div class="proxy-com Birth">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="txt">{{ $t("message.member_birthday") }}</b>
                            <b class="colon"></b>
                          </span>
                          <datepicker
                            :language="$MessageLang"
                            v-model="PostDataModel.Birth"
                            format="yyyy/MM/dd"
                            :disabled="this.CalendarDisabled"
                            calendar-class="startdate_calendar"
                            :placeholder="$t('message.agent_input_birthday')"
                          ></datepicker>
                        </div>
                      </div>
                      <div class="proxy-com">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="txt">{{ $t("message.agent_Wechat_number") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            v-model="PostDataModel.WeChatNo"
                            name="WeChatNo"
                            v-validate="{ rules: { regex: Reg.WeChatID } }"
                            :placeholder="$t('message.agent_input_Wechat')"
                          />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('WeChatNo') && fields.WeChatNo.touched">
                          {{ $t("message.agent_beginning_period") }}
                        </p>
                      </div>
                      <div class="proxy-com">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="txt">{{ $t("message.agent_qq") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            v-model="PostDataModel.QQNo"
                            name="QQNo"
                            v-validate="{ rules: { regex: Reg.QQID } }"
                            :placeholder="$t('message.agent_QQ')"
                          />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('QQNo') && fields.QQNo.touched">
                          {{ $t("message.agent_digits") }}
                        </p>
                      </div>
                      <div class="proxy-com">
                        <div class="proxy-line">
                          <span class="title">
                            <b class="txt">{{ $t("message.agent_remarks") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <textarea
                            v-model.trim="PostDataModel.Remark"
                            style="resize: none;"
                            name="Remark"
                            v-validate="{ rules: { regex: Reg.Remark } }"
                            :placeholder="$t('message.agent_remarks')"
                          ></textarea>
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('Remark') && fields.Remark.touched">
                          {{ $t("message.agent_common_symbols") }}
                        </p>
                      </div>
                      <div class="proxy-com">
                        <div class="proxy-line code">
                          <span class="title">
                            <b class="asterisk">*</b>
                            <b class="txt">{{ $t("message.agent_identifying_code") }}</b>
                            <b class="colon">:</b>
                          </span>
                          <input
                            type="text"
                            :placeholder="$t('message.agent_caps_look')"
                            name="AuthCode"
                            v-model="PostDataModel.AuthCode"
                            v-validate="{ rules: { regex: Reg.VCode, required: true } }"
                          />
                          <img
                            v-if="AuthImg == ''"
                            style="height: 32px; width: auto; margin-top: 10px;"
                            :src="
                              $ResourceCDN + '/EditionImg/LamborFormal/images/web/member/ajax-loader.gif?VersionCode'
                            "
                          />
                          <img v-else v-bind:src="AuthImg" v-on:click="GetAuthCode()" :onerror="defaultImg" />
                        </div>
                        <p class="tip1 qc-tip" v-show="errors.has('AuthCode') && fields.AuthCode.touched">
                          {{ $t("message.agent_code_error") }}
                        </p>
                      </div>
                    </section>
                  </section>
                </div>
                <section class="a-j-submit-box">
                  <a class="a-j-submit" v-on:click="AddIB()" id="agent_add_btn">{{ $t("message.agent_submission") }}</a>
                </section>
              </div>
              <!-- <section class="webmaster-main-title">
                <h3 class="txt">
                  <span>{{$t('message.stationmaster')}}</span>
                  <i>加盟</i>
                  <span class="colon">:</span>
                </h3>
                <p class="desc">Webmaster join</p>
                <p class="detail">
                  {{$t('message.agent_edit_mail')}}
                  <b>{{$t('message.agent_real_name')}}</b>
                  {{$t('message.agent_sendTo')}}
                  <b>{{this.SiteEmail}}</b>
                  。{{$t('message.agent_upon_receipt')}}。
                </p>
              </section>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <join-us-success ref="joinUsSuccessFun"></join-us-success>
  </div>
</template>

<style lang="less" scoped>
.join_en,
.join_vi {
  .proxy-com {
    .proxy-line {
      .title {
        font-size: 14px !important;
      }

      &.join_long_vi {
        .title {
          line-height: 20px;
        }
      }
      &.join_long_en {
        .title {
          line-height: 20px;
        }
      }
    }
  }
}
</style>

<script>
import { JoinUs } from "@/mod/k19/assets/scripts/comTest/main/agent/joinUs.js"
// import { JoinOwn } from '@/assets/scripts/comTest/main/agent/joinOwn.js';
export default {
  mixins: [JoinUs]
}
</script>
