﻿<pre>
1. 总进球数，上半场总进球数和下半场总进球数

  a)总进球数是指由赛事中的总进球数决定投注结果。
  b)上半场总进球数是指由上半场赛事中的总进球数决定投注结果。
  c)上半场总进球数与下半场总进球数
    ．上半场总进球数与下半场总进球数是指投注预测上半场两队的总进球数与下半场两队的总进球数。
    ．主队上半场总进球数与主队下半场总进球数是指投注预测上半场主队的总进球数与下半场主队的总进球数。
    ．客队上半场总进球数与客队下半场总进球数是指投注预测上半场客队的总进球数与下半场客队的总进球数。
  d)下半场总进球数是指由下半场赛事中的总进球数决定投注结果。
  e)如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。


2. 最先进球/最后进球和上半场最先进球/最后进球

  a) 最先进球/最后进球表示投注哪支队伍在一场比赛中会首先进球和最后进球。关于本赌盘，下列字母代表：HF指首先被提及
     的队伍（通常是主队）率先进球。HL指首先被提及的队伍射进最后一球。AF指第二个被提及的球队（通常是客队）率先进
     球。AL指第二个被提及的队伍射进最后一球。NG指赛事期间没有进球。
  b) 上半场最先进球/最后进球是指投注哪个队伍会在上半场比赛中率先进球或射进最后一球。下面介绍与此赌盘相关的意义：
     HF表示首先被提及的队伍（通常是主队）会率先进球。HL表示首先被提及的队伍会射进最后一球。AF表示第二个被提及的
     队伍（通常是客队）会率先进球。AL表示第二个被提及的队伍会射进最后一球。NG表示赛事中没有队伍射门得分。
  c) 乌龙球计入进球队伍的得分。
  d) 如果在一次进球后一项赛事中止，则所有对最先进球（以及无进球）的投注仍有效，但对最后进球的投注将无效。如果一
     项赛事在没有进球的情况下中止，则所有对最先进球、最后进球和无进球的投注将无效。


3. 进球最多的球员

  a) 联赛最佳射脚
    ．联赛最佳射脚是指以投注来预测哪个球员将会在一个常规联赛中入球较多。
    ．若一个球员在赛季中期加入同一联赛中的另一个球队，所有在不同球队的进球将计算在总进球内。但任何在联赛之外的比赛
      之进球将不予以计算。
    ．任何在附加赛和点球决胜中的进球将不予以计算。
    ．乌龙球将不予以计算及不列入投注目的。
    ．非首发球员的投注仍有效。非首发球员是指任何球员在本赛季联赛没有被列入首发阵容名单。
    ．若一个球员在本赛季开始之前退出本赛季联赛或是转移到不同联赛的球队，所有投注于该球员的“最佳射脚”投注将退还。
    ．若宣布的结果为“不分胜负”，则一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”
      ，则按比例分配赌金。
  b) 杯赛(非赛事)最佳射脚
    ．杯赛 (非联赛) 最佳射脚是指以投注来预测哪个球员将会在一个常规杯赛或比赛中入球较多。
    ．乌龙球和点球决胜中的进球将不予以计算及不列入投注目的。然而，任何在加时赛的进球将计算在总进球内。
    ．非首发球员的投注仍有效。非首发球员是指任何球员在本杯赛或比赛没有被列入首发阵容名单。
    ．若一个球员在本赛季开始之前退出本杯赛或比赛或是转移到不同杯赛的球队，所有投注于该球员的“最佳射脚”投注将退还。
    ．若宣布的结果为“不分胜负”，则一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，
      则按比例分配赌金。


4. 进球最多的球队

  a) 进球最多的球队就是赢家。
  b) 不计算净胜球。
  c) 如果出现两支或以上并列最多进球的球队，则按“不分胜负”的投注规则来分配赌金。
     例子：
     曼市进4球 ，史云斯进4球
     利物浦进4球 ，桑德兰进1球
     那利物浦，曼市和史云斯都是赢家。
  d) 中止或延期
     ．若投注的球队之赛事因事故中止或延期 (超出本公司所预定的赛程) ，所有投注于该球队的投注将视为无效。
  e) 点球决胜中的进球将不予以计算。
  f) 针对于杯赛 (非联赛) 的进球最多的球队，任何在加时赛的进球将予以计算。
  g) 针对于特定日期内的进球最多的球队，任何在加时赛的进球将不予以计算。


5. 准确的总进球和准确的上半场总进球和准确的下半场总进球

  a) 准确的总进球是指准确地投注预测两队在赛事中的总进球数。
  b) 准确的上半场总进球是指准确地投注预测两队在上半场赛事中的总进球数。
  c) 准确的下半场总进球是指准确地投注预测两队在下半场赛事中的总进球数。
  d) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。
  e) 准确的主队总进球和准确的上半场主队总进球
     ．准确的主队总进球是指准确地投注预测主队在赛事中的总进球数。
     ．准确的上半场主队总进球是指准确地投注预测主队在上半场赛事中的总进球数。
     ．如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。
  f) 准确的客队总进球和准确的上半场客队总进球
     ．准确的客队总进球是指准确地投注预测客队在赛事中的总进球数。
    ．准确的上半场客队总进球是指准确地投注预测客队在上半场赛事中的总进球数。
    ．如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。


6. 第一个进球方式

  a) 表示预测一场比赛中任一球队第一个进球的方式。
    ．任意球 - 进球必须是直接通过任意球实现的进球。如果任意球的开出者被判进球，则应算做弹射进门。同时包括由一个角球直接获得的进球。
    ．点球 - 进球必须是直接由点球获得的进球，并在点球开出者被称为得分球员时。
    ．乌龙球 – 如果进球被视为乌龙球而宣布。
    ．头球 – 进球队员最后接触球的部分必须为头部。
    ．射门 – 上述未含的所有其它进球类型。
    ．无进球
  b) 本公司将根据由负责组织此次比赛的足球主办单位提供的官方结果结算投注。


7. 赛果 / 总进球

  a) 赛果 / 总进球是指准确地投注预测全场赛果是主队赢，客队赢或和局﹔以及总进球数在特定的球数是大或小。
  b) 六种投注选项为：
    • 主队 & 大 ： 主队赢以及总进球大过特定球数
    • 主队 & 小 ： 主队赢以及总进球小过特定球数
    • 和局 & 大 ： 和局以及总进球大过特定球数
    • 和局 & 小 ： 和局以及总进球小过特定球数
    • 客队 & 大 ： 客队赢以及总进球大过特定球数
    • 客队 & 小 ： 客队赢以及总进球小过特定球数
  c) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。


8. 最先进球的球队和最后进球的球队

  a)最先进球的球队是指投注预测哪个球队会在赛事中最先进球。
  b)最后进球的球队是指投注预测哪个球队会在赛事中最后进球。
  c)如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。


9. 第一个进球的时间

  a) 表示投注预测第一个进球的时间段。
  b) 下列时间段/投注选项可供选择：
    •00:00 - 10:00
    •10:01 - 20:00
    •20:01 - 30:00
    •30:01 - 40:00
    •40:01 - 50:00
    •50:01 - 60:00
    •60:01 - 70:00
    •70:01 - 80:00
    •80:01 - 终场
    •无进球
  c)如果一场比赛在第一个进球产生之后中止，则所有投注都将有效。
  d)如果一场比赛在第一个进球产生之前中止，则所有投注都将无效。


10. 会产生第一个进球的半场

  a) 表示投注预测哪个半场会产生第一个进球。
  b) 下列投注选项可供选择：
    •上半场
    •下半场
    •无进球
  c) 如果一场比赛在上半场第一个进球产生之后中止，则所有投注都将有效。
  d) 如果一场比赛在第一个进球产生之前的任何时间中止，则所有投注都将无效。


11. 两队皆进球

  a) 两队皆进球是指投注预测两队是否都在赛事中皆有进球。
  b) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。


12. 上半场两队皆进球

  a) 上半场两队皆进球是指投注预测两队是否都在赛事中的上半场皆有进球。
  b) 如果赛事当主客队都有在上半场进球后中止，“是”的投注将视为胜方，“不是”的投注并视为负方。如果赛事在上半场之前并没有任何进球的情况下中止，则全部投注视为无效。</p>


<p>13. 下半场两队皆进球

<br>a) 下半场两队皆进球是指投注预测两队是否都在赛事中的下半场皆有进球。
<br>b) 如果赛事当主客队都有在下半场进球后中止，“是”的投注将视为胜方，“不是”的投注并视为负方。如果赛事在没有任何进球的情况下中止，则全部投注视为无效。</p>


<p>14. 两队皆进球 上半场/下半场

<br>a) 两队皆进球，上半场/下半场是指投注预测两队是否在赛事中的上半场皆有进球以及两队是否在赛事中的下半场皆有进球。
<br>b) 如果赛事中止，除非主客队都有在上半场和下半场进球，否则投注将视为无效。</p>


<p>15. 两队皆进球/总进球数

<br>a) 两队皆进球/总进球数是指投注预测两队在赛事中的总进球数以及两队是否都在赛事中进球。
<br>b) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>16. 上半场赛果/总进球数

<br>a) 上半场赛果/总进球数是指投注预测赛事的上半场赛果以及两队在上半场的总进球数。
<br>b) 如果赛事在上半场期间中止，所有投注将视为无效。如果赛事在下半场期间中止，则所有投注将视为有效。</p>


<p>17. 主队均进球 上半场/下半场

<br>a) 主队均进球，上半场/下半场是指投注预测主队是否均在上半场和下半场都进球。
<br>b) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>18. 客队均进球 上半场/下半场

<br>a) 客队均进球，上半场/下半场是指投注预测客队是否均在上半场和下半场都进球。
<br>b) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>19. 下一个进球, 上半场下一个进球和加时赛下一个进球

<br>a) 下一个进球是指投注预测该赛事下一个进球的球队。
<br>b) 上半场下一个进球是指投注预测上半场赛事中下一个进球的球队。
<br>c) 加时赛下一个进球是指投注预测加时赛的赛事中下一个进球的球队。
<br>d) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>20. 进球最多的半场

<br>a) 进球最多的半场是指投注预测比赛中的哪一个半场进球最多。
<br>b) 投注选项包括：
<br>．上半场
<br>．下半场
<br>．打和
<br>c) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。
<br>d) 主队进球最多的半场
<br>．主队进球最多的半场是指投注预测主队在比赛中的哪一个半场进球最多。
<br>．如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。
<br>e) 客队进球最多的半场
<br>．客队进球最多的半场是指投注预测客队在比赛中的哪一个半场进球最多。
<br>．如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>21. 进球球员 – 任何时间

<br>a) 进球球员 – 任何时间是指投注预测哪个球员会在赛事中的任何时间进球。加时赛将不被包括在内。
<br>b) 乌龙球将不计算在内。
<br>c) 无论球员上场的时间多长，该球员的投注仍然视为有效。
<br>d) 对未参赛球员的投注将视为无效并退还。
<br>e) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>22. 两队皆进球/赛果和两对皆进球/上半场赛果

<br>a) 两队得分/结果表示投注预测：
<br>．一场比赛是否会导致两队皆得分，以及
<br>．一场比赛是主队赢、客队赢还是平局。
<br>b) 下列投注选项可供选择：
<br>．是的以及主队赢 – 如果两队皆进球且主队赢，则此投注赢。
<br>．是的以及客队赢 – 如果两队皆进球且客队赢，则此投注赢。
<br>．是的以及平局 – 如果两队皆进球且比赛结果为平局，则此投注赢。
<br>c) 两队皆进球/上半场赛果是指投注预测赛事的上半场赛果以及两队是否都在上半场皆有进球。
<br>d) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>23. 赛果/最先进球的球队

<br>a) 赛果/最先进球的球队是指投注预测哪个球队会在赛事中最先进球和预测三种可能的胜利结果中的任何一种。1表示首先被提及的队伍（通常是主队）﹔X代表赛事结果平手﹔2代表第二个被提及的队伍（通常是客队）。
<br>b) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>24. 主队进第一个球的半场

<br>a) 表示投注预测主队在哪个半场会产生第一个进球。
<br>b) 下列选项可供选择：
<br>．上半场
<br>．下半场
<br>．无进球</p>


<p>25. 客队进第一个球的半场

<br>a) 表示投注预测客队在哪个半场会产生第一个进球。
<br>b) 下列选项可供选择：
<br>．上半场
<br>．下半场
<br>．无进球</p>


<p>26. 第一个点球进或不进

<br>a) 第一个点球进或不进是指投注预测该比赛中的第一个点球将会进或错失点球。</p>


<p>27. 特定时间的第一个进球

<br>a) 特定时间的第一个进球是指投注预测在特定的10分钟分段时间或15分钟分段时间中是否有进球。
<br>b) 乌龙球将计算为特定时间的第一个进球。
<br>c) 如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>


<p>28. 主队总球数与客队总球数

<br>a) 主队总进球数与 客队总进球数
<br>．主队总进球数与客队总进球数是指投注预测在特定日期的特定联赛中，主队的总进球数与客队的总进球数。
<br>b) 主队总角球数与 客队总角球数
<br>．主队总角球数与客队总角球数是指投注预测在特定日期的特定联赛中，主队的总角球数与客队的总角球数。
<br>c) 主队总罚牌数与客队总罚牌数
<br>．主队总罚牌数与客队总罚牌数是指投注预测在特定日期的特定联赛中，主队总罚牌数与客队总罚牌数。
<br>d) 主队表示首先被提及的队伍，客队表示第二个被提及的队伍。
<br>e) 如果一场（或更多）的赛事延期或中止，则投注作废。</p>
