<template>
  <div id="emailVerifyForm" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="CloseWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div name="PhoneNoForm" class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_mailbox_verification')}}
      </h2>
      <!-- <div class="descr_title">
                <p>信箱验证</p>
                <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
      </div>-->
      <div class="descr_p left_p">
        <p>{{$t('message.member_verification_letter')}}</p>
        <p style="color: #ff0029;">{{LoadMainPageDataModel.Member.Email}}</p>
        <p>{{$t('message.member_please_bethere')}}{{LoadEmailVerifyData.ValidEmailLimitHours}}{{$t('message.member_verification_link')}}</p>
        <p style="margin-top: 20px;">{{$t('message.member_solutions')}}</p>
        <p>
          <em>{{$t('message.member_spam_mailfolder')}}</em>
        </p>
        <p>
          {{$t('message.member_point_click')}}
          <button
            id="ResendButton"
            class="btn-resend"
            @click="ReSendVerifyEmail()"
            style="cursor:pointer"
          >{{$t('message.member_resend')}}{{VCountTime}}</button>
          {{$t('message.member_missive')}}{{LoadEmailVerifyData.ResendCount}}{{$t('message.member_stopover')}})
        </p>
        <p>
          <em>
            {{$t('message.member_inextricability')}}
            <a
              style="cursor: pointer;color: rgb(255, 0, 41);"
              @click="CloseWindow();OpenNewBox($ServeLink)"
            >{{$t('message.login_liaison')}}</a>
          </em>
        </p>
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="CloseWindow()"
        >{{$t('message.login_close')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';
import BLDef from '@/assets/scripts/common/BLDef.js';

export default {
  props: {
    LoadMainPageDataModel: {},
    LoadEmailVerifyData: {}
  },

  data () {
    return {
      VCountTime: undefined,
      CountTime: undefined,
      ProcessingFlag: false,
      CountingFlag: false
    };
  },

  created: function () {
    const self = this;
    EventBus.$on('verifyEmailWindowTrigger', () => {
      self.OpenWindow();
    });
  },

  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
      this.CloseWindow();
      // return window.open(aa, 'newindow', 'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    },

    // 開啟視窗
    OpenWindow: async function () {
      CommUtility.WebShowAlertboxForm('emailVerifyForm');
      if (this.CountingFlag) {
        return;
      } // end if
      this.Reciprocal(this.LoadEmailVerifyData.ResendSeconds);
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm('emailVerifyForm');
    }, // end CloseWindow

    // 客服彈窗
    CustomerWindow: function () {
      this.CloseWindow();
      CommUtility.WebClosealertboxForm('CustomerServiceWindow');
    }, // end  CustomerWindow

    // 計時器
    Reciprocal: function (tempTime) {
      this.CountingFlag = true;
      document.getElementById('ResendButton').style.cursor = 'default';
      const self = this;
      self.CountTime = tempTime;
      this.$parent.CountTime = tempTime;
      this.VCountTime = '(' + self.CountTime + ')';
      setTimeout(function () {
        if (self.CountTime > 0) {
          self.CountTime--;
          self.Reciprocal(self.CountTime);
        } else {
          document.getElementById('ResendButton').style.cursor = 'pointer';
          self.VCountTime = '';
          self.CountingFlag = false;
        }
      }, 1000);
    }, // end CountTime

    // 重新發送驗證信
    ReSendVerifyEmail: async function () {
      // 是否已經倒數完
      if (this.CountTime > 0) {
        return;
      } // end if

      // 處理中則直接返回
      if (this.ProcessingFlag === true) {
        return;
      } // end if
      this.ProcessingFlag = true;

      // 資料物件
      const dataObj = {
        Email: this.LoadMainPageDataModel.Member.Email,
        Domain: document.location.protocol + '//' + location.host,
        OrgEmail: this.LoadMainPageDataModel.OrgMember.Email
      };
      const retData = await PersonalCenterService.EmailVerify_SendValidEmail(
        dataObj
      );

      if (retData.Ret == 0) {
        // 成功
        this.IsEmailSendable = retData.Data.IsEmailSendable;
        this.LoadMainPageDataModel.OrgMember.Email = this.LoadMainPageDataModel.Member.Email;
        this.Reciprocal(this.LoadEmailVerifyData.ResendSeconds);
      } else if (
        retData.Ret ==
        BLDef.ErrorRetType.COMM_SEND_VERIFICATION_EMAIL_COUNT_LIMIT
      ) {
        // 寄信額度超過
        this.CloseWindow();
        this.$parent.EmailVerifyLimitUp();
      } else {
        // 操作失敗
        const notifyData = {
          NotifyMessage: retData.Message
        };
        EventBus.$emit('showNotifyMemberMessage', notifyData);
      } // end if
      this.ProcessingFlag = false;
    } // end ReSendEmail
  },
  beforeDestroy () {
    EventBus.$off('verifyEmailWindowTrigger');
  }
};
</script>
