.theme00 {

    // 优惠活动轮播
    .active_slide {
        .carousel {
            position: relative;

            .carousel-control {
                position: absolute;
                z-index: 20;
                width: 24px;
                height: 50px;
                top: 65px;

                &.left {
                    left: 1px;
                }

                &.right {
                    right: 1px;
                }
            }
        }
    }
}
