.theme00 {
  .main_index {
    padding-bottom: 200px;
    overflow-x: hidden;
  }

  //优惠活动
  .content {
    width: 1200px;
    min-height: 627px;
    margin: 0 auto;
    position: relative;

    .content-layout {
      margin: 0 auto;

      .active_log_reg {
        width: 1200px;
        height: 186px;
        margin: auto;

        .active_show {
          width: 878px;
          height: 186px;
          float: left;
          margin-left: -32px;

          .promotion_title {
            width: 32px;
            height: 101px;
            display: block;
            background-size: 100% 100%;
            float: left;

            em {
              font-size: 14px;
              color: #fff;
              width: 10px;
              display: block;
              margin: auto;
              margin-top: 8px;
            }
          }

          .active_slide {
            width: 843px;
            height: 183px;
            overflow: hidden;
            position: relative;
            border-top: solid 3px #154e94;
            border-left: solid 3px #154e94;

            .hd {
              width: 350px;
              height: 180px;
              position: relative;
              z-index: 0;
              float: left;
              border-bottom: solid 3px #154e94;
              height: 10px;
              overflow: hidden;
              position: absolute;
              left: 18px;
              bottom: 18px;
              z-index: 1;

              ul {
                overflow: hidden;
                zoom: 1;
                float: left;

                li {
                  float: left;
                  margin-right: 6px;
                  width: 10px;
                  height: 10px;
                  background-size: 100% 100%;
                  cursor: pointer;

                  &.on {
                    background-size: 100% 100%;
                  }
                }
              }
            }

            .active_news {
              width: 493px;
              height: 183px;
              float: left;
              background-size: 100% 100%;

              .news_show {
                width: 490px;
                height: 61px;
                display: block;
                border-left: solid 3px #154e94;
                background-size: 386px 2px;

                &.hasblock {
                  p {
                    &.p_1 {
                      color: #999cdd;
                    }
                  }
                }

                p {
                  height: 61px;
                  line-height: 61px;
                  font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
                  font-size: 16px;

                  &.p_1 {
                    float: left;
                    width: 370px;
                    margin-left: 30px;
                    color: #565b99;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    word-break: break-all;
                  }

                  &.p_2 {
                    float: right;
                    width: 60px;
                    margin-right: 30px;
                    color: #666666;
                    text-align: right;
                  }
                }
              }
            }
          }
        }

        .index_user {
          height: 180px;
          /*width:348px;*/
          border: solid 3px #154e94;
          position: relative;

          .login_after {
            width: 100%;
            height: 100%;

            .user_data {
              padding-left: 108px;
              padding-top: 24px;
              width: 240px;
              height: 96px;

              p {
                line-height: 25px;
                font-size: 14px;
                color: #464a85;

                span {
                  color: #999cdd;
                }

                a {
                  display: inline;
                  font-size: 14px;
                  color: #464a85;
                }
              }
            }

            .select_btn {
              a {
                display: block;
                float: left;
                width: 115px;
                height: 58px;
                line-height: 58px;
                font-size: 14px;
                color: #999cdd;
                text-align: center;
              }
            }
          }

          a {
            display: block;
            font-size: 0;
          }

          .login_before {
            a {
              width: 100%;
              height: 89px;
              display: block;
              background-size: 100% 100%;
              transition-duration: 500ms;
              -webkit-transition-duration: 500ms;
              -moz-transition-duration: 500ms;
              -ms-transition-duration: 500ms;
              -o-transition-duration: 500ms;

              &:hover {
                background-size: 100% 100%;
              }
            }

            .user_btn_box {
              width: 100%;
              height: 89px;

              a {
                display: block;
                // float: left; //免费试玩
                height: 90px;
                // width: 174px; //免费试玩
                width: 348px;
                transition-duration: 500ms;
                -webkit-transition-duration: 500ms;
                -moz-transition-duration: 500ms;
                -ms-transition-duration: 500ms;
                -o-transition-duration: 500ms;

                &.login_btn {
                  background-size: 100% 100%;

                  &:hover {
                    background-size: 100% 100%;
                  }
                }

                &.registered_btn {
                  background-size: 100% 100%;

                  &:hover {
                    background-size: 100% 100%;
                  }
                }
              }
            }
          }
        }
      }

      //热门游戏（旧版）
      .hot_box {
        margin-top: 80px;
        width: 100%;
        height: auto;
        position: relative;

        //在线人数
        .footer-onlinePeople {
          position: absolute;
          right: 10px;
          top: -15px;
          color: #999999;
          font-size: 16px;
          margin-top: 22px;

          span {
            color: #47bdf4;
            font-size: 28px;
            margin-right: 5px;
            letter-spacing: 2px;
          }
        }

        .hot_box_list {
          position: relative;
          margin-top: 45px;
          width: 100%;
          height: 460px;

          .h_list {
            position: absolute;
            display: block;
            margin-top: 20px;

            &.h_list1 {
              left: 0;
            }

            &.h_list2 {
              left: 306px;
            }

            &.h_list3 {
              left: 608px;
            }

            &.h_list4 {
              left: 876px;

              .come_btn {
                left: 36px;

                span {
                  background-size: 100% 100%;
                }
              }
            }

            a {
              width: 282px;
              height: 420px;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 100;

              &.a1 {
                span {
                  background-size: 100% 100%;
                }
              }

              &.a2 {
                span {
                  background-size: 100% 100%;
                }
              }

              &.a3 span {
                background-size: 100% 100%;
              }

              span {
                position: absolute;
                top: 338px;
                left: 84px;
                width: 130px;
                height: 58px;
                transition-duration: 500ms;
                -webkit-transition-duration: 500ms;
                -moz-transition-duration: 500ms;
                -ms-transition-duration: 500ms;
                -o-transition-duration: 500ms;
              }

              img {
                display: block;
                margin: auto;
                margin-top: 9px;
              }
            }
          }
        }
      }

      //我的优势
      .advantage_box {
        margin-top: 70px;
        margin-bottom: 50px;

        .advantage_box_list {
          margin: 0 auto;
          width: 900px;

          li {
            float: left;
            margin-top: 35px;
            width: 300px;
            text-align: center;

            h2 {
              margin-top: 20px;
              line-height: 42px;
              font-size: 14px;
              font-family: "å¾®è½¯é›…é»‘";
              color: #8a898a;

              span {
                margin-right: 5px;
                font-size: 48px;
                font-family: "å¾®è½¯é›…é»‘";
                color: #fc9902;
              }
            }

            p {
              line-height: 18px;
              font-size: 18px;
              font-family: "å¾®è½¯é›…é»‘";
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  //真人视讯
  .live-content {
    padding-bottom: 147px;

    .live-logo-page {
      margin: 0 auto;
      margin-top: -60px;

      .live-logo-banner {
        display: none;
      }

      .live-logo-top {
        display: none;
      }
    }
  }

  //电子游戏
  .ele-content {
    .ele-logo-page {
      position: relative;
      top: -264px;
      margin: 0 auto;

      .ele-logo-banner {
        display: none;
      }

      .electronic-mian {
        .ele-logo-main {
          .ele-vendor-lists {
            background: rgba(26, 0, 51, 0.75);
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;

            .ele-vendor-li {
              height: 68px;
              border-right: 1px solid rgba(255, 255, 255, 0.3);
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              margin: 0px 0px 0px 0px !important;

              &:nth-child(6n) {
                width: 203px !important;
                border-right: none;
              }

              &:hover {
                background: #3e2367;
              }

              .on {
                background: #3e2367;
              }
            }
          }

          .ele-logo-head {
            background: #efefef;

            .ele-logo-top {
              h2 {
                font-size: 26px;
                color: #493f2d;
              }
            }

            .ele-search-section {
              .ele-search {
                .ele-search-btn {
                  font-size: 15px;
                  margin-right: 5px;
                }

                input {
                  border-radius: 20px;
                  border: none;
                  background: rgba(69, 63, 48, 0.2);
                  height: 36px;
                  padding-left: 10px;
                  outline: none;
                }
              }
            }
          }

          .ele-logo-tab {
            background: #ffffff;
          }
        }

        .ele-scroll {
          background: #fff;

          .ele-logo-lists {
            .ele-logo-li {
              width: auto !important;
              height: auto !important;
              box-sizing: border-box;

              &:hover {
                border: 2px solid #2096ea;
              }

              a {
                p {
                  height: 160px;
                  width: 160px;
                  overflow: hidden;
                  display: flex;
                  -ms-flex-align: center;
                  align-items: center;

                  img {
                    width: 160px;
                    max-width: 100%;
                    height: auto !important;
                    margin: 0 auto;
                  }
                }

                em {
                  border-radius: 20px;
                  border: 2px solid #fff;
                  color: #fff;
                }
              }
            }
          }
        }

        .paginate-content {
          background: #fff;
          border-radius: 0px 0px 10px 10px;
        }
      }
    }
  }

  //棋牌游戏
  .poker-content {
    // padding-bottom: 200px;
    overflow: hidden;

    .poker-logo-page {
      position: relative;
      top: -243px;
      overflow: hidden;
      margin: 0 auto;

      .poker-logo-banner {
        display: none;
      }

      .poker-main-content {
        .poker-logo-top {
          display: none;
        }

        .poker-KingLong {
          display: none;
        }

        .poker-main {
          .poker-logo-lists {
            .poker-logo-li {
              .rotate-after1 {
                .rotate-play {
                  border-radius: 20px;
                  border: 2px solid #d8d8d8;
                  color: #d8d8d8;
                }
              }
            }
          }
        }
      }
    }
  }

  //彩票投注
  .lottery-content {
    padding-bottom: 200px;

    .lottery-content-banner {
      height: 1011px;
      margin-top: 84px;
    }

    .lottery-logo-page {
      margin: 0 auto;
      margin-top: -235px;

      .lottery-logo-banner {
        display: none;
      }

      .lottery-logo-top {
        display: none;
      }
    }
  }

  //体育博彩
  .sport-content {
    padding-bottom: 200px;

    .sport-logo-page {
      margin: 0 auto;
      margin-top: -332px;

      .sport-logo-banner {
        display: none;
      }

      .sport-logo-top {
        display: none;
      }
    }
  }

  //登录注册
  .main_login {
    font-size: 0;
    padding-bottom: 0;

    .welcome_box {
      width: 812px;
      margin: auto;
      position: relative;

      .welcome_logo {
        position: absolute;
        top: -80px;
        left: -10px;
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
          width: auto;
          max-height: 80px;
        }
      }

      .registered {
        margin: 0 auto;
        width: 530px;

        .reg_title {
          margin: 150px 0 46px 0;
          padding-bottom: 10px;
          border-bottom: 1px solid #9e96ac;

          p {
            font-size: 30px;
            font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
            font-weight: normal;
            color: #1d6cb4;
          }

          .title_list {
            font-size: 10px;
            font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
            font-weight: normal;
            color: #1d6cb4;
          }
        }

        .reg_order {
          .list_item {
            position: relative;
            margin-bottom: 10px;
            height: 42px;
            line-height: 42px;

            p {
              float: left;
              display: block;
              width: auto;
              /* width: 100px; */
              font-size: 16px;
              font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
              color: #9e96ac;
              text-align: right;
            }

            input {
              float: right;
              width: 370px;
              height: 40px;
              line-height: 40px;
              font-size: 16px;
              border: none;
              border-bottom: 1px solid #9e96ac;
              background: #f5f5f5;
              border-radius: 5px;
              vertical-align: top;
              padding: 0 10px;
              outline: none;
              color: #808080 !important;
              word-break: break-all;
            }

            .list_code_box {
              width: 387px;
              float: right;

              input {
                float: left;
                width: 150px;
              }

              .l_code {
                float: left;
                margin-left: 15px;
                cursor: pointer;

                img {
                  vertical-align: middle;
                }
              }
            }
          }

          .tip {
            margin-left: 161px;
            width: 380px;
            line-height: 16px;
            font-size: 14px;
            font-weight: normal !important;
            color: #936f8e;
            margin-top: -5px;
            margin-bottom: 15px;

            img {
              vertical-align: top;
              margin-top: 0px;
              width: 14px;
              height: auto;
            }
          }
        }

        .reg_btn_box {
          margin-top: 32px;
          display: block;
          margin: 14px auto;
          width: 350px;
          height: 50px;
          line-height: 50px;
          font-size: 24px;
          border-radius: 4px;
          background: #155493;
          text-align: center;
          color: #ffffff;

          a {
            display: block;
            color: #ffffff;
          }

          &.reg_btn {
            margin-top: 40px;
            width: 370px;
            font-size: 26px;
          }
        }
      }
    }

    .login_box {
      margin: 0 auto;
      margin-top: 80px;
      width: 508px;
      text-align: center;
      font-size: 0;

      .router-link-active {
        .l_logo {
          max-width: 220px;
          max-height: 80px;
        }
      }

      .login_c {
        padding: 60px;
        width: 388px;
        height: 388px;

        .l_item {
          position: relative;
          margin: 15px auto;
          /* margin-bottom: 25px; */
          width: 350px;
          height: 52px;
          line-height: 52px;
          text-align: left;

          i {
            display: block;
            position: absolute;
            left: 20px;
            top: 17px;
            width: 38px;
            height: 16px;
            border-right: 1px solid #4c3a58;
          }

          input {
            position: absolute;
            top: 0;
            left: 0;
            padding: 18px;
            padding-left: 66px;
            width: 256px;
            height: 20px;
            line-height: 14px;
            font-size: 16px;
            border: 1px solid #4c3a58;
            border-radius: 4px;
            background: rgba(67, 50, 86, 0.2);
            vertical-align: top;
            color: #808080 !important;
            word-break: break-all;
          }

          &.l_item_code {
            input {
              width: 116px;
            }
          }

          .code {
            float: right;
            margin-top: 6px;
            margin-right: 20px;
            width: 112px;
            height: 37px;
          }
        }

        .tip {
          margin-left: 20px;
          line-height: 16px;
          font-size: 13px;
          font-weight: normal !important;
          color: #936f8e;
          text-align: left;

          img {
            vertical-align: top;
            margin-top: 0px;
            width: 14px;
            height: auto;
          }
        }

        .btn {
          margin: 14px auto;
          width: 350px;
          height: 50px;
          font-size: 24px;
          line-height: 50px;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px;
          color: #fff;
          background-color: #155493;
        }

        .login_link {
          margin: 0 auto;
          width: 350px;

          a {
            font-size: 14px;
            /* font-family: "å¾®è½¯é›…é»‘"; */
            color: #7e748e;
          }
        }
      }
    }
  }

  //优惠活动
  .activity-content {
    padding-bottom: 200px;

    .activity-content-banner {
      display: none;
    }

    .activity-change-animation {
      padding-top: 184px;

      .activity-change-index {
        .activity-page-transition {
          .activity-page-banner {
            width: 1170px;
            height: 335px;
            position: relative;
            margin: auto;
            margin-top: 35px;

            .swiper-container {
              .swiper-slide {
                background: none;

                a {
                  width: 100%;
                  height: 100%;
                  top: 0;

                  .pic {
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                  }
                }
              }
            }

            .banner_prev,
            .banner_next {
              opacity: 0;
              padding: 2px;
              animation: fadeOut 0.5s;
              -webkit-animation: fadeOut 0.5s;
              animation-fill-mode: forwards;

              &:hover {
                animation: fadeIn 0.5s alternate;
                -webkit-animation: fadeOut 0.5s;
                animation-fill-mode: forwards;
              }
            }

            &:hover {
              .banner_prev,
              .banner_next {
                animation: fadeIn 0.5s;
                -webkit-animation: fadeIn 0.5s;
                animation-fill-mode: forwards;
              }
            }

            a {
              position: absolute;
              top: 150px;
              width: 67px;
              height: 67px;

              &.banner_prev {
                background-size: 100% 100%;
                left: -70px;
              }

              &.banner_next {
                background-size: 100% 100%;
                right: -70px;
              }
            }

            .bd li {
              width: 1170px;
              height: 335px;
              // display: none;
              position: absolute;
              left: 0;
              top: 0;

              a {
                .pic {
                  width: 100%;
                  height: 100%;
                  display: block;
                  margin: 0 auto;
                }
              }
            }

            .banner_point {
              text-align: center;
              width: 100%;
              margin-top: -25px;

              .swiper-pagination-bullet {
                margin-left: 15px;
                width: 12px;
                height: 12px;
                background-size: 100% 100%;

                &.swiper-pagination-bullet-active {
                  background-size: 100% 100%;
                }
              }
            }
          }

          .activity-page {
            margin: 0 auto;
            min-height: 500px;
            padding: 40px 58px;
            width: 1082px !important;
            border-radius: 30px;
            border-radius: 30px;

            .activity-main-bg {
              .activity-page-cont {
                .activity-page-banner {
                  display: none;
                }

                .activity-title-box {
                  .activity-title {
                    img {
                      margin-bottom: 20px;
                    }

                    .txt {
                      display: none;
                    }

                    .desc {
                      display: none;
                    }
                  }
                }

                .activity-main {
                  .activity-lists {
                    .activity-li {
                      margin: 0 13px 13px 0 !important;

                      &:nth-child(3n) {
                        margin-right: 0px !important;
                      }

                      &.activity-li-PopUp {
                        display: none !important;
                      }

                      &.activity-li-JumpPage {
                        display: none !important;
                      }

                      a {
                        .an-activity {
                          background: #3c234e !important;

                          .an-activity-title {
                            color: #e7e2ea !important;
                          }

                          .an-activity-bottom {
                            .an-activity-date {
                              color: #a48db0 !important;
                            }
                          }
                        }
                      }
                    }
                  }

                  .no-activity {
                    .no-activity-img {
                      width: 423px;
                      height: 316px;
                      margin: 20px auto;
                    }

                    span {
                      display: block;
                      width: 100%;
                      font-size: 18px;
                      color: #fff;
                      text-align: center;
                      letter-spacing: 6px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 0.8;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 0.8;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 0;
    }
  }

  //新闻列表
  .news-content {
    // padding-bottom: 200px;

    .news-content-banner {
      height: 650px;
      margin-top: 84px;
    }

    .news-change-animation {
      .news-change-index {
        .news-page {
          position: relative;
          margin-top: -200px;
          overflow: visible;

          .news-page-banner {
            display: none;
          }

          .news-main {
            padding: 40px 58px;
            width: 1082px !important;
            min-height: 627px;
            margin: 0 auto;
            position: relative;
            margin-top: 95px;
            padding-bottom: 210px;

            .news-title-box {
              .news-title {
                background: none;

                .txt {
                  display: none;
                }

                .desc {
                  display: none;
                }
              }
            }

            .news-main-cont {
              height: auto;
              margin: auto;
              min-height: 433px;
              margin-bottom: 25px;

              .news-lists {
                .news-li {
                  height: 210px;
                  margin-top: 30px;
                  border-bottom: solid 1px #443053;

                  .news-img {
                    width: 350px;
                    height: 180px;
                    float: left;

                    img {
                      width: 100%;
                      height: 100%;
                      cursor: pointer;
                    }
                  }

                  .an-news {
                    height: 180px;
                    float: right;
                    font-size: 0;

                    .an-news-title {
                      max-width: 700px;
                      font-size: 24px;
                      color: #a48db0;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      word-break: break-all;
                      display: block;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      -o-text-overflow: ellipsis;
                      text-align: left;
                      display: inline-block;
                    }

                    .an-news-text {
                      display: block;
                      width: 700px;
                      height: 110px;
                      font-size: 14px;
                      color: #887692;
                      margin-top: 20px;
                      line-height: 22px;
                      text-overflow: ellipsis;
                      -webkit-line-clamp: 5;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      word-break: break-all;
                      text-align: left;
                    }

                    .an-news-bottom {
                      width: 700px;
                      height: 30px;

                      .an-news-date {
                        font-size: 14px;
                        color: #65556d;
                        float: left;
                      }

                      .an-news-btn {
                        font-size: 14px;
                        color: #1d6cb4;
                        float: left;
                        margin-left: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //列表详情
  .content-news_details {
    width: 1200px;
    min-height: 938px;
    margin: 0 auto;
    position: relative;
    margin-top: 223px;
    padding-top: 50px;
    padding-bottom: 150px;

    .details_title_up {
      width: 1100px;
      height: 60px;
      margin: auto;
      border-bottom: solid 1px #3e2c48;
      margin-bottom: 40px;

      a {
        float: right;
        display: block;
        margin-right: 30px;
        color: #1d6cb4;
        font-size: 20px;

        img {
          margin-right: 10px;
        }
      }
    }

    .more_news {
      margin: 0 auto;
      width: 1100px;
      text-align: center;

      .more_course {
        width: 1100px;
        margin-top: 20px;

        .details_title {
          font-size: 32px;
          color: #a48db0;
          word-wrap: break-word;
        }

        .details_date {
          font-size: 18px;
          color: #65556d;
          margin-top: 6px;
          display: block;
        }

        .news-course-p {
          margin-top: 40px;
          margin-bottom: 40px;
          line-height: 30px;
          font-size: 14px;
          font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
          color: #887692;
          text-indent: 2em;
          text-align: left;
          word-break: break-all;
        }

        .activity-list-style {
          ol {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 45px;
            li {
              text-indent: initial;
              list-style: decimal;
              padding-left: 10px;
            }
          }

          ul {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 45px;
            li {
              text-indent: initial;
              list-style: disc;
              padding-left: 10px;
            }
          }

          em {
            font-style: italic;
          }

          blockquote {
            margin: 1em 5.5em;
            border-left: 4px solid rgba(204, 204, 204, 0.5);
            padding: 1em 0 1em 0;
            font-style: italic;
          }
        }
      }
    }

    .activity-btn {
      width: 135px;
      line-height: 50px;
      color: #fff;
      background: rgba(55, 170, 204, 0.5);
      text-align: center;
      cursor: pointer;

      &.mar-auto {
        display: block;
        margin: 0 auto;
      }
    }
  }

  //关于我们
  .about-content {
    display: none;
  }

  .about-main {
    padding-bottom: 200px;

    &.main_introduce {
      .about-banner {
        height: 650px;
      }

      .banner {
        position: relative;
        width: 100%;
        min-width: 1200px;
        /* height: 650px; */
        font-size: 0;
        text-align: center;
        margin-top: 81px;
      }

      .content_position {
        position: relative;
        margin-top: -200px;
        overflow: visible;

        .content {
          width: 1200px;
          min-height: 627px;
          margin: 0 auto;
          position: relative;

          /* margin-bottom: 100px; */
          .content-layout {
            padding-top: 50px;
            margin: 0 auto;

            .about_tuwen {
              width: 100%;
              height: auto;
              overflow: hidden;

              .about_fonts_bg {
                float: left;
                margin-left: 30px;
              }

              .about_descr {
                width: 380px;
                height: auto;
                float: right;
                margin-top: 120px;
                margin-right: 50px;

                .about_p1 {
                  p {
                    font-size: 14px;
                    line-height: 26px;
                    color: #a58cb3;
                    margin-top: 20px;
                  }
                }
              }
            }

            .about_list_block {
              .about_list {
                width: 1080px;
                height: auto;
                overflow: hidden;
                padding: 0 60px;
                margin: auto;
                margin-top: 60px;
                font-size: 0;

                li {
                  width: 104px;
                  height: auto;
                  margin-left: 140px;
                  display: inline-block;

                  &.first_li {
                    margin-left: 0;
                  }

                  img {
                    display: block;
                    margin: auto;
                  }

                  p {
                    color: #a58cb3;
                    text-align: center;
                    margin-top: 10px;

                    &.p_1 {
                      font-weight: bold;
                      font-size: 16px;
                    }

                    &.p_2 {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //厂商介绍
  .partner-content {
    padding-bottom: 150px;
    height: 1266px;
    position: relative;
    width: 100%;
    min-width: 1200px;
    /* height: 650px; */
    font-size: 0;
    text-align: center;

    .partner-content-banner {
      display: none;
    }
  }

  // 代理合作
  .join-content {
    .main_introduce {
      padding-bottom: 200px;
      overflow: hidden;
    }

    .agent-banner {
      height: 650px;
    }

    .banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      /* height: 650px; */
      font-size: 0;
      text-align: center;

      .flash_cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .content_position {
      position: relative;
      margin-top: -200px;
      overflow: visible;

      .content {
        width: 1200px;
        min-height: 627px;
        margin: 0 auto;
        position: relative;

        /* margin-bottom: 100px; */
        .content-layout {
          padding-top: 50px;
          margin: 0 auto;

          &.content-agent {
            width: 1100px !important;
          }

          .agent_img {
            margin-top: 85px;
            margin-bottom: 100px;
          }

          .agent_title {
            margin-bottom: 40px;
            // width: 132px;
            // height: 70px;
            width: auto;
            height: auto;
            display: block;
          }

          .agent_join {
            .tip {
              // margin-left: 120px;
              margin-left: 140px;
              margin-bottom: 12px;
              width: 380px;
              line-height: 16px;
              font-size: 14px;
              font-weight: normal !important;
              color: #936f8e;
            }

            .column_block_all {
              .cln_block {
                padding-bottom: 35px;
                width: 538px;
                min-height: 600px;
                background: rgba(255, 255, 255, 0.03);

                h2 {
                  margin-bottom: 45px;
                  padding-left: 84px;
                  height: 45px;
                  line-height: 45px;
                  font-size: 18px;
                  /* font-family: 'PingFang Medium'; */
                  font-weight: normal;
                  color: #d2d6ef;
                  border-bottom: 1px solid #513a5f;
                }

                .a_item {
                  margin: 0 auto;
                  margin-bottom: 12px;
                  width: 497px;
                  height: 48px;

                  p {
                    position: static;
                    display: block;
                    float: left;
                    /* min-width: 90px; */
                    min-width: 78px;
                    height: 48px;
                    line-height: 48px;
                    font-size: 16px;
                    color: #857d94;
                    text-align: right;

                    i {
                      /* margin-right: 5px; */
                      color: #f5546e;
                    }
                  }

                  input {
                    position: static;
                    padding: 15px;
                    float: right;
                    width: 350px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 16px;
                    color: #808080;
                    background: rgba(255, 255, 255, 0.05);
                    border: 1px solid #513a5f;
                    border-radius: 4px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    word-break: break-all;
                  }

                  .radio_box {
                    /* width: 352px; */
                    width: 382px;

                    p {
                      text-align: left;
                      width: 90px;

                      input {
                        display: inline-block;
                        margin-right: 10px;
                        width: auto !important;
                        margin-top: 18px;
                        float: left;
                      }
                    }
                  }

                  &.li_code {
                    input {
                      width: 215px;
                      float: left;
                      margin-left: 24px;
                    }

                    .code_box {
                      width: 123px;
                      height: 46px;
                      border: 1px solid #513a5f;
                      border-radius: 4px;
                      float: left;
                      margin-left: 10px;
                      overflow: hidden;
                    }
                  }

                  textarea {
                    padding: 15px;
                    width: 350px;
                    min-height: 68px;
                    color: #ffffff;
                    background: rgba(255, 255, 255, 0.05);
                    border: 1px solid #513a5f;
                    border-radius: 4px;
                  }
                }
              }
            }

            .l_btn {
              display: block;
              margin: 40px auto;
              width: 350px;
              height: 50px;
              line-height: 50px;
              font-size: 24px;
              border-radius: 4px;
              background: #155493;
              text-align: center;
              color: #ffffff;
            }
          }

          .agent_join_course {
            margin-left: 30px;
            font-size: 16px;
            color: #796b88;

            b {
              color: #aea2c2;
            }
          }
        }
      }
    }

    .JoinUsForm_vi {
      .cln_block {
        .a_item {
          width: 525px !important;
        }
      }
    }
  }

  //新手教程
  .tutorial-introduce {
    padding-bottom: 200px;
    overflow: hidden;

    .tutorial-banner {
      height: 650px;
    }

    .banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      font-size: 0;
      text-align: center;
    }

    .content_position {
      position: relative;
      margin-top: -200px;
      overflow: visible;

      .content {
        width: 1200px;
        min-height: 627px;
        margin: 0 auto;
        position: relative;

        /* margin-bottom: 100px; */
        .content-layout {
          padding-top: 50px;
          margin: 0 auto;

          &.content_novice {
            width: 1100px;
          }

          .search-nav {
            margin: 0 auto;
            width: 1100px;

            .search-select {
              margin: 0 auto;
              padding-bottom: 50px;
              width: 1100px;
              min-height: 50px;
              background-position: bottom;
              position: relative;

              a {
                display: block;
                float: left;
                height: 76px;
                line-height: 60px;
                width: 183px;
                text-align: center;
                font-size: 16px;
                font-family: "\E9\BB\2018\E4\BD\201C";
                color: #ffffff;
                cursor: pointer;

                &.hasSelect {
                  width: 182px !important;
                }

                &:first-child {
                  border-left: none;
                  width: 186px;
                }
              }
            }
          }

          .item1 {
            display: block;

            .novice_left_nav {
              width: 240px;
              height: auto;
              border-bottom: 1px solid #33203e;

              .novice_top {
                height: 22px;
                width: 239px;
                border: none;
                border-bottom: 1px solid #33203e;
                border-right: 1px solid #33203e;
              }

              li {
                width: 238px;
                min-height: 56px;
                line-height: 56px;
                border: 1px solid #33203e;
                border-top: none;

                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  font-size: 16px;
                  font-family: "\E5\BE\AE\E8\BD\AF\E9\203A\2026\E9\BB\2018";
                  color: #a48db0;

                  i {
                    width: 45px;
                    height: 45px;
                    display: block;
                    float: left;
                    margin: 8px 18px 0 34px;

                    &.novice_icon_1 {
                      background-size: 100% 100%;
                    }

                    &.novice_icon_4 {
                      background-size: 100% 100%;
                    }

                    &.novice_icon_3 {
                      background-size: 100% 100%;
                    }

                    .novice_icon_6 {
                      background-size: 100% 100%;
                    }
                  }
                }

                &.hasSelece {
                  border-right: none;
                }

                .explain_down {
                  display: none;

                  li {
                    h3 {
                      padding-left: 34px;
                      height: 40px;
                      line-height: 40px;
                      font-size: 14px;
                      color: #a48db0;
                      background: rgba(164, 141, 176, 0.1);
                      cursor: pointer;

                      &.hasSelect {
                        background: rgba(164, 141, 176, 0.2);
                      }
                    }

                    .explain_list {
                      display: none;

                      li {
                        h3 {
                          font-size: 12px;
                        }

                        .explain_list {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //联系我们
  .contactUs-content {
    padding-bottom: 200px;
    overflow: hidden;

    .contact-banner {
      height: 650px;
    }

    .banner {
      position: relative;
      width: 100%;
      min-width: 1200px;
      /* height: 650px; */
      font-size: 0;
      text-align: center;
    }

    .content_position {
      .content {
        width: 1200px;
        min-height: 627px;
        margin: 0 auto;
        position: relative;

        .content-layout {
          padding-top: 50px;
          margin: 0 auto;

          .contact-title {
            width: 1068px;
            font-size: 24px;
            color: #a48db0;
            border-bottom: solid 2px #a48db0;
            padding-bottom: 6px;
            margin: auto;
          }

          .cln_block {
            padding-bottom: 35px;
            width: 538px;
            min-height: 600px;
            background: rgba(255, 255, 255, 0.03);

            &.contact-fill {
              padding-top: 30px;
              background: none !important;
              min-height: auto;

              .a_item {
                width: 523px !important;

                .account-text {
                  float: left;
                  font-size: 16px;
                  margin-left: 72px;
                  line-height: 48px;
                }
              }
            }

            .a_item {
              margin: 0 auto;
              margin-bottom: 12px;
              width: 476px;
              height: 48px;

              .radio_box {
                /* width: 352px; */
                width: 382px;
              }

              &.li_code {
                input {
                  width: 215px;
                  float: left;
                  margin-left: 24px;
                }
              }

              .code_box {
                width: 123px;
                height: 46px;
                border: 1px solid #513a5f;
                border-radius: 4px;
                float: left;
                margin-left: 10px;
                overflow: hidden;
              }

              textarea {
                padding: 15px;
                width: 350px;
                min-height: 68px;
                color: #ffffff;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #513a5f;
                border-radius: 4px;
              }

              &.li_dot {
                .down {
                  /* width: 110px; */
                  width: 350px;
                  height: auto;
                  position: relative;
                  float: left;
                  /* margin-left: 11px; */
                  margin-bottom: 12px;
                  font-size: 0;

                  .d_course {
                    position: static;
                    padding: 15px;
                    float: left;
                    /* width: 78px; */
                    width: 350px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 16px;
                    color: #ffffff;
                    background: rgba(255, 255, 255, 0.05);
                    border: 1px solid #513a5f;
                    border-radius: 4px;
                    cursor: pointer;
                  }

                  img {
                    width: 11px;
                    height: 6px;
                    display: block;
                    position: absolute;
                    z-index: 1;
                    right: 10px;
                    top: 21px;
                  }

                  .down_box {
                    /* width: 108px; */
                    width: 380px;
                    height: auto;
                    position: absolute;
                    display: none;
                    z-index: 10;
                    overflow: hidden;
                    overflow-y: auto;
                    border: solid 1px #697ce5;
                    top: 48px;
                    border-top: 0;
                    background: #433151;
                    border-radius: 0px 0px 3px 3px;
                    padding-top: 5px;

                    .down_list {
                      display: block;
                      cursor: pointer;
                      text-align: left;
                      padding: 5px 0 5px 12px;
                      font-size: 16px;
                      color: #ffffff;
                      line-height: 18px;
                    }
                  }

                  &.first_down {
                    margin-left: 0;
                  }
                }
              }

              p {
                position: static;
                display: block;
                float: left;
                /* min-width: 90px; */
                min-width: 70px;
                height: 48px;
                line-height: 48px;
                font-size: 16px;
                color: #857d94;
                text-align: right;
              }

              input {
                position: static;
                padding: 15px;
                float: right;
                /* width: 320px; */
                width: 350px;
                height: 16px;
                line-height: 16px;
                font-size: 16px;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #513a5f;
                border-radius: 4px;
                -webkit-box-shadow: none;
                box-shadow: none;
                vertical-align: top;
                color: #808080 !important;
                word-break: break-all;
              }

              .tip {
                margin-left: 120px;
                margin-bottom: 12px;
                width: 380px;
                line-height: 16px;
                font-size: 14px;
                font-weight: normal !important;
                color: #936f8e;

                img {
                  margin-right: 5px;
                  vertical-align: middle;
                }
              }
            }
          }

          .l_btn {
            display: block;
            margin: 14px auto;
            width: 350px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            border-radius: 4px;
            background: #155493;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }
  }

  .tutorial-banner {
    height: 650px;
  }

  .content_novice {
    width: 1100px;
  }

  .novice_list_box {
    margin-top: 56px;
    padding-bottom: 100px;
    width: 100%;
    height: 454px;
  }

  .novice_list_box .novice_list {
    float: left;
    width: 275px;
    height: 454px;
    text-align: center;
  }

  .novice_list_box .novice_list img {
    margin-top: 30px;
  }

  .novice_list_box .novice_list h3 {
    margin-top: 35px;
    font-size: 24px;
    font-family: "å¾®è½¯é›…é»‘";
    font-weight: normal;
    color: #ffffff;
  }

  .novice_list_box .novice_list p {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 190px;
    min-height: 125px;
    line-height: 26px;
    font-size: 14px;
    color: #65556d;
  }

  .novice_list_box .novice_list .novice_btn {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    width: 114px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    font-family: "å¾®è½¯é›…é»‘";
    color: #a48db0;
    border: 1px solid #a48db0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .novice_left_nav {
    width: 240px;
    height: auto;
    border-bottom: 1px solid #33203e;
  }

  .novice_right_course {
    width: 859px;
    height: auto;
  }

  .item2 .novice_right_course {
    text-align: center;
  }

  .novice_left_nav > li {
    width: 238px;
    min-height: 56px;
    line-height: 56px;
    border: 1px solid #33203e;
    border-top: none;
  }

  .novice_left_nav > li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "å¾®è½¯é›…é»‘";
    color: #a48db0;
  }

  /*.novice_left_nav li a img{
          float:left;
          margin:8px 18px 0 34px;
      }*/
  .novice_left_nav > li a i {
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    margin: 8px 18px 0 34px;
  }

  .novice_left_nav > li a i.novice_icon_1 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_1 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li a i.novice_icon_2 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_2 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li a i.novice_icon_3 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_3 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li a i.novice_icon_4 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_4 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li a i.novice_icon_6 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_6 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li a i.novice_icon_7 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_7 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li:hover {
    border-right: none;
  }

  .novice_left_nav .hasSelece {
    border-right: none;
  }

  .novice_left_nav .novice_top {
    height: 22px;
    width: 239px;
    border: none;
    border-bottom: 1px solid #33203e;
    border-right: 1px solid #33203e;
  }

  /*sport explain*/
  .explain {
    margin-top: 20px;
  }

  .explain_nav {
    width: 300px;
    border-left: 1px solid #372642;
    border-right: 1px solid #372642;
    border-bottom: 1px solid #372642;
  }

  .explain_nav .explain_nav_head {
    padding: 0 15px;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-weight: normal;
    color: #a48db0;
    border-top: 1px solid #372642;
    cursor: pointer;
  }

  .explain_nav .explain_nav_head.hasSelect {
    border-bottom: 1px solid #372642;
  }

  .explain_nav .explain_nav_head i {
    display: block;
    float: left;
    margin-right: 5px;
    width: 42px;
    height: 56px;
  }

  .novice_left_nav > li .explain_down {
    display: none;
  }

  .novice_left_nav > li .explain_down li h3 {
    padding-left: 34px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #a48db0;
    background: rgba(164, 141, 176, 0.1);
    cursor: pointer;
  }

  .novice_left_nav > li .explain_down li h3:hover,
  .novice_left_nav > li .explain_down li h3.hasSelect {
    background: rgba(164, 141, 176, 0.2);
  }

  .novice_left_nav > li .explain_down li .explain_list {
    display: none;
  }

  .novice_left_nav > li .explain_down li a {
    display: block;
    padding-left: 46px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #6b5b73;
    cursor: pointer;
  }

  .novice_left_nav > li .explain_down a:hover,
  .novice_left_nav > li .explain_down a.hasSelect {
    color: #b199be;
  }

  .explain_course {
    margin-left: 20px;
    width: 770px;
  }

  .explain_course p {
    margin: 20px 0;
    line-height: 20px;
    font-size: 14px;
    color: #a48db0;
  }

  .explain_course pre {
    margin: 20px 0;
    line-height: 20px;
    font-size: 14px;
    color: #a48db0;
  }

  /*sport explain ==================== end*/
  .skill_course {
    width: 819px;
    /*padding: 0 20px;*/
    margin: 20px;
  }

  .skill_course.skill-lottery-course {
    margin-top: 0;
  }

  .skill_course .course h2 {
    margin-top: 40px;
  }

  .skill_course p,
  .skill_course pre {
    line-height: 26px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #a48db0;
  }

  .skill-lottery-course .preferential_list h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: normal;
    color: #a48db0;
  }

  .skill-lottery-course .preferential_list h3 span {
    color: #65556d;
  }

  .skill-lottery-course .preferential_list p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .skill_course img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .skill-sport-course .s_course {
    width: 708px;
  }

  .novice_left_nav > li .explain_down li ul li h3 {
    font-size: 12px;
  }

  .novice_left_nav > li .explain_down li ul li ul li h3 {
    padding-left: 56px;
  }

  .novice_left_nav > li .explain_down li ul li ul li div h3 {
    padding-left: 92px;
  }

  .novice_left_nav > li .explain_down li ul li h3:hover,
  .novice_left_nav > li .explain_down li ul li h3.hasSelect,
  .novice_left_nav > li .explain_down li ul li ul li h3:hover,
  .novice_left_nav > li .explain_down li ul li ul li h3.hasSelect,
  .novice_left_nav > li .explain_down li ul li ul li div h3:hover,
  .novice_left_nav > li .explain_down li ul li ul li div h3.hasSelect {
    background: rgba(164, 141, 176, 0.1);
    color: rgba(255, 255, 255, 0.8);
  }

  .novice_left_nav2 {
    padding-bottom: 260px;
  }

  .news_list_box li:hover .news_list_right p.novice_title {
    color: #887692;
  }

  .novice_left_nav > li a i.novice_icon_5 {
    background-size: 100% 100%;
  }

  .novice_left_nav > li.hasSelece a i.novice_icon_5 {
    background-size: 100% 100%;
  }

  .news_list_box_1 {
    width: 859px;
    min-height: 633px;
    overflow: hidden;
  }

  .news_list_box_1 li {
    float: right;
    width: 809px;
    height: 180px;
  }

  .news_list_right_1 {
    width: 809px;
  }

  .nov_tab_content {
    width: 740px;
    height: auto;
    overflow: hidden;
    margin: auto;
  }

  .novice_fonts_1 {
    color: #fff;
    margin: auto;
    margin-top: 50px;
  }

  .novice_fonts_1 p.fonts_1_1 {
    font-size: 36px;
    font-weight: bold;
  }

  .novice_fonts_1 p.fonts_1_2 {
    font-size: 14px;
    margin-top: 5px;
  }

  .novice_fonts_2 {
    width: 730px;
    font-size: 14px;
    color: #a58cb3;
    margin: auto;
    line-height: 28px;
    margin-top: 30px;
  }

  .video_btn {
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: 35px;
  }

  .video_btn a {
    width: auto;
    height: 38px;
    line-height: 40px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: solid 1px #fff;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
  }

  .video_btn a img {
    margin-right: 5px;
    vertical-align: -3px;
  }

  .nov_pic {
    width: 696px;
    height: 360px;
    display: block;
    margin: auto;
    margin-top: 60px;
  }

  .novice_fonts_3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: auto;
    margin-top: 68px;
    margin-bottom: 20px;
  }

  .novice_fonts_3.first_p {
    margin-top: 138px;
  }

  .novice_fonts_4,
  .novice_fonts_4_p p {
    font-size: 14px;
    color: #a58cb3;
  }

  .big_project {
    width: 660px;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: auto;
  }

  .big_project li {
    width: 660px;
    height: 102px;
    background: #a58cb3;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-top: 30px;
  }

  .big_project li.first_li {
    margin-top: 0;
  }

  .novice_fonts_5 {
    width: 94px;
    height: 102px;
    line-height: 102px;
    float: left;
    text-align: center;
    font-size: 36px;
    color: #2b3154;
    border-right: dashed 1px #2b3154;
  }

  .novice_fonts_6 {
    width: 565px;
    height: 102px;
    float: right;
    text-align: center;
    position: relative;
  }

  .nov_p_box {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
    -moz-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
  }

  .novice_fonts_6 p {
    font-size: 14px;
    color: #2b3154;
  }

  .novice_fonts_4_p p {
    line-height: 25px;
  }

  .btn_left {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
  }

  .btn_left a {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #2b3154;
    display: inline-block;
    text-align: center;
    background: #dbeefe;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    cursor: default;
  }

  .fonts_top_1 {
    margin-top: 30px !important;
  }

  .puke_1 {
    margin-top: 20px;
  }

  .rule_block {
    height: auto;
    overflow: hidden;
    margin: auto;
  }

  .rule_block ul {
    float: left;
    height: auto;
    overflow: hidden;
  }

  .rule_block ul li {
    height: 70px;
    line-height: 70px;
    background: #6385a9;
    border-bottom: solid 2px #597796;
    border-right: solid 2px #597796;
    font-size: 14px;
    color: #fff;
    text-align: center;
    overflow: hidden;
  }

  .rule_block ul li.first_li {
    height: 48px;
    line-height: 48px;
    background: #466d94;
    font-weight: bold;
  }

  .rule_block ul li.first_li.both_p {
    line-height: 18px;
  }

  .rule_block ul li.first_li.both_p p:first-child {
    margin-top: 6px;
  }

  .rule_block ul li p.long_p {
    width: 320px;
    line-height: 25px;
    margin: auto;
    margin-top: 12px;
  }

  .rule_block_1,
  .rule_block_2 {
    width: 716px;
  }

  .rule_block_1 .rule_ul_1 li {
    width: 120px;
  }

  .rule_block_1 .rule_ul_2 li {
    width: 348px;
  }

  .rule_top {
    margin-top: 10px;
  }

  .rule_block_2 .rule_ul_1 li {
    width: 356px;
  }

  .novice_fonts_7 {
    text-align: left;
    margin-top: 30px;
  }

  .novice_fonts_7 p {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
  }

  .green_p li {
    color: #18ea42 !important;
    font-weight: bold;
  }

  .green_p li.first_li {
    color: #fff !important;
  }

  .novice_fonts_8 {
    text-align: left;
  }

  .novice_fonts_8 p {
    font-size: 14px;
    color: #a58cb3;
    line-height: 30px;
  }

  .fonts_b {
    font-weight: bold;
  }

  .rule_img {
    margin: auto;
    margin-top: 25px;
  }

  .help_box {
    margin: 0 auto;
    padding: 0 50px;
    width: 740px;
    text-align: left;
  }

  .help_box .box_title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .help_box .help_list {
    margin-bottom: 30px;
  }

  .help_box .help_list .help_title {
    padding-left: 16px;
    line-height: 16px;
    font-size: 16px;
    /*font-family:"å¾®è½¯é›…é»‘";*/
    color: #a48db0;
  }

  .help_box .help_list .help_course {
    margin-top: 13px;
    line-height: 22px;
    font-size: 14px;
    /*font-family:"å¾®è½¯é›…é»‘";*/
    color: #a48db0;
  }

  .help_box .item {
    min-height: 550px !important;
  }

  /*tutorial ======================================================== end*/

  /*news*/
  .news-banner {
    height: 650px;
  }

  .content-news {
    margin: 0 auto;
    margin-top: 150px;
    width: 1100px !important;
  }

  .news_list_box {
    height: auto;
    margin: auto;
    min-height: 433px;
    margin-bottom: 25px;
  }

  .news_list_box li {
    height: 210px;
    margin-top: 30px;
    border-bottom: solid 1px #443053;
  }

  .news_list_left {
    width: 350px;
    height: 180px;
    float: left;
  }

  .news_list_left img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .news_list_right {
    height: 180px;
    float: right;
    font-size: 0;
  }

  .news_p_1 {
    /*width: 721px;*/
    max-width: 721px;
    font-size: 24px;
    color: #a48db0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
  }

  .news_p_2 {
    /*display: none;*/
    width: 721px;
    height: 110px;
    font-size: 14px;
    color: #887692;
    margin-top: 20px;
    line-height: 22px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;

    text-align: left;
  }

  .news_p_3 {
    width: 721px;
    height: 30px;
  }

  .news_p_3 img {
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
  }

  .news_p_3 span,
  .news_date {
    font-size: 14px;
    color: #65556d;
    float: left;
  }

  .news_p_3 .news_details {
    font-size: 14px;
    color: #1d6cb4;
    float: left;
    margin-left: 30px;
  }

  .news_list_box li:hover .news_p_1 {
    color: #bfa6cd;
  }

  .news_list_box li:hover .news_p_2 {
    color: #65556d;
    margin-top: 20px;
  }

  .news_page_block {
    height: 28px;
    margin: auto;
    margin-top: 48px;
  }

  .news_page_block li.disabled,
  .news_page_block li.disabled:hover,
  .news_page_block li.disabled:focus {
    color: #897a94;
    background-color: transparent;
    text-decoration: none;
    cursor: not-allowed;
  }

  .news_page_block li {
    padding: 0 10px;
    min-width: 8px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #897a94;
    font-size: 14px;
    color: #000;
    display: inline-block;
    margin-left: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
  }

  .news_page_block .news_pre,
  .news_page_block .news_next {
    width: 60px;
    height: 28px;
    color: #fff;
  }

  .news_page_block .news_pre {
    margin-right: 10px;
    margin-left: 0;
  }

  .news_page_block .news_next {
    margin-left: 18px;
  }

  .news_page_block .first_li {
    margin-left: 0;
  }

  .news_page_block .point_ellipsis {
    background: none;
    color: #897a94;
  }

  .news_page_block li.active {
    color: #fff;
    background: #1d6cb4;
  }

  .news_page_block li:hover {
    color: #fff;
    background: #1d6cb4;
  }

  .news_page_block li.point_ellipsis:hover {
    background: none;
    color: #897a94;
  }

  .news_page_block_normal {
    width: 400px;
    height: 28px;
    margin: auto;
    margin-top: 48px;
  }

  .news_page_block_normal li.disabled,
  .news_page_block_normal li.disabled:hover,
  .news_page_block_normal li.disabled:focus {
    color: #897a94;
    background-color: transparent;
    text-decoration: none;
    cursor: not-allowed;
  }

  .news_page_block_normal li {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #897a94;
    font-size: 14px;
    color: #000;
    float: left;
    margin-left: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
  }

  .news_page_block_normal .news_pre,
  .news_page_block_normal .news_next {
    width: 60px;
    height: 28px;
    color: #fff;
  }

  .news_page_block_normal .news_pre {
    margin-right: 10px;
    margin-left: 0;
  }

  .news_page_block_normal .news_next {
    margin-left: 18px;
  }

  .news_page_block_normal .first_li {
    margin-left: 0;
  }

  .news_page_block_normal .point_ellipsis {
    background: none;
    color: #897a94;
  }

  .news_page_block_normal li.active {
    color: #fff;
    background: #1d6cb4;
  }

  .news_page_block_normal li:hover {
    color: #fff;
    background: #1d6cb4;
  }

  .news_page_block_normal li.point_ellipsis:hover {
    background: none;
    color: #897a94;
  }

  /*news ===================================================== end*/
}

.activity-detail-content .more_news .activity-detail-text {
  position: relative;

  table {
    width: 100% !important;
    max-width: 1091px !important;
    height: auto !important;
    border-spacing: 0px !important;
    border-collapse: collapse;

    td {
      text-indent: 0px !important;
    }
  }

  img {
    height: auto !important;
    width: 100% !important;
    max-width: 1070px !important;
  }
}
