<template>
  <div class="extension-content">
    <h2 class="agency-main-title">
      <span>{{$t('message.agency_audit')}}</span>
    </h2>
    <div class="extension-cont-bottom">
      <!-- <div class="extension-cont-nav">
        <p class="p1">
          <span class="p1-name">时间</span>
          <input class="p1-put" type="text">
        </p>
        <a class="search" href="javascript:;">搜索</a>
      </div>-->

      <div class="agent_transfer_choose clearfix">
        <span class="transfer_time">{{$t('message.member_hour')}}：</span>
        <datepicker
          class="common-query-put message-query-put"
          v-model="IBExamineData.QueryStartTick"
          :language="$MessageLang"
          format="yyyy/MM/dd"
          :disabled="this.CalendarDisabled"
          calendar-class="startdate_calendar"
          :placeholder="$t('message.member_start_time')"
        ></datepicker>
        <span class="transfer-query-name line">—</span>
        <datepicker
          class="common-query-put message-query-put"
          :language="$MessageLang"
          v-model="IBExamineData.QueryEndTick"
          format="yyyy/MM/dd"
          :disabled="this.CalendarDisabled"
          calendar-class="enddate_calendar"
          :placeholder="$t('message.member_ending_time')"
        ></datepicker>
        <span class="renovate" style="float: left;cursor: pointer;" @click="ResetClick()">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="transfer_search_btn"
          href="javascript:void(0);"
          style="margin-left: 0;"
          @click="BackToOnePage()"
        >{{$t('message.member_search')}}</a>
        <i
          class="tip1"
          style="position:absolute; left: 70px;top: 35px;"
          v-show="ShowTimeError"
        >{{$t('message.member_greater_than')}}</i>
      </div>

      <div class="table-block-common">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td>{{$t('message.agency_order_number')}}</td>
              <td>{{$t('message.member_application_time')}}</td>
              <td>{{$t('message.agency_application_account')}}</td>
              <td>{{$t('message.member_full_name')}}</td>
              <td>{{$t('message.reg_mobile_number')}}</td>
              <td>{{$t('message.member_type')}}</td>
              <td>{{$t('message.member_state')}}</td>
              <td>IP</td>
              <td>{{$t('message.agent_remarks')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in this.IBExamine"
              @click="IBExamineDetail(item.SerialNo)"
              :key="index"
            >
              <td>{{IBExamineData.PagingInfo.PageNo * IBExamineData.PagingInfo.PageSize - (IBExamineData.PagingInfo.PageSize - index) + 1}}</td>
              <td>{{item.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
              <td>{{item.LoginID}}</td>
              <td :title="item.Name">{{item.Name | simpleContent(8)}}</td>
              <td>{{item.PhoneNo}}</td>
              <td v-if="item.ApplyType === 1">{{$t('message.agency_application_agency')}}</td>
              <td v-else>{{$t('message.agency_application_agency')}}</td>
              <td v-if="item.ApplyStatus === 0">{{$t('message.agency_be_audited')}}</td>
              <td v-if="item.ApplyStatus === 2">{{$t('message.agency_adopted')}}</td>
              <td v-if="item.ApplyStatus === 3">{{$t('message.agency_rejected')}}</td>
              <td>{{item.IP}}</td>
              <td :title="item.Remark">{{item.Remark | simpleContent(15)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="extension-cont-page">
        <div class="page-fl">
          <!-- <span>
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_arrowFl.png'">
          </span>
          <span>1</span>
          <span>
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_arrowFg.png'">
          </span>-->
          <!--分页-->
        </div>
        <div class="page-fg">
          {{$t('message.agency_altogether')}}
          <span>{{this.IBExamineData.PagingInfo.TotalCount}}</span>
          {{$t('message.agency_strip')}}
        </div>
      </div>
      <paginate :PageCount="this.PageCount" :PageNo="IBExamineData.PagingInfo.PageNo"></paginate>
    </div>
    <agency-examine-detail :IBExamineDetails="this.IBExamineDetails"></agency-examine-detail>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
// import Datepicker from 'vuejs-datepicker';
import CommUtility from "scripts/common/CommUtility"
import EventBus from "@/assets/scripts/common/EventBus"
import Paginate from "@/mod/k06/components/sub/paginate"
import AgencyCenterService from "@/assets/scripts/businessLogic/agencyCenterService"
import AgencyExamineDetail from "@/components/sub/agency/examine/agencyExamineDetail"

export default {
  data() {
    return {
      CalendarDisabled: {
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds")) // Disable all dates after specific date
      },
      IBExamine: {},
      IBExamineDetails: {},
      IBExamineData: {
        IBAcctID: undefined,
        QueryStartTick: moment(new Date()).isoWeekday(1).utcOffset(480).format("YYYY/MM/DD 00:00:00"),
        QueryEndTick: new Date().valueOf(),
        PagingInfo: {
          PageSize: 10,
          PageNo: 1,
          TotalCount: 0
        }
      },
      PageCount: undefined,
      ShowTimeError: false
    }
  },
  components: {
    Paginate,
    Datepicker,
    AgencyExamineDetail
  },
  created: function () {
    this.IBExamineList()
  },
  methods: {
    ResetClick: function () {
      this.IBExamineData.QueryStartTick = moment(new Date()).isoWeekday(1).utcOffset(480).format("YYYY/MM/DD 00:00:00")
      this.IBExamineData.QueryEndTick = new Date().valueOf()
      this.ShowTimeError = false
    },
    // 点击搜索分页返回第一页
    BackToOnePage: function () {
      this.IBExamineData.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo")
      this.IBExamineList()
    },
    // 代理审核列表
    IBExamineList: async function () {
      // 当起始时间大于结束时间 -- error
      if (moment(this.IBExamineData.QueryStartTick).valueOf() > moment(this.IBExamineData.QueryEndTick).valueOf()) {
        this.ShowTimeError = true
        return
      } else {
        this.ShowTimeError = false
      }
      this.IBExamineData.IBAcctID = localStorage.getItem("CorrelationIBMemberId")
      this.IBExamineData.QueryStartTick = moment(this.IBExamineData.QueryStartTick).valueOf()
      this.IBExamineData.QueryEndTick = this.IBExamineData.QueryEndTick.valueOf()
      EventBus.$emit("GlobalLoadingTrigger", true)
      const Data = await AgencyCenterService.IBExamineList(this.IBExamineData)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("6666666::" + this.IBExamineData.QueryStartTick)
      console.log("--------------------------------")
      console.log(Data)
      if (Data.Ret === 0) {
        this.IBExamine = Data.Data.ApplyOrderList
        console.log("代理审核")
        console.log(this.IBExamine)
        console.log("代理审核")
        // const time = 0;
        for (let i = 0; i < this.IBExamine.length; i++) {
          console.log("-----------------11111111---------------")
          this.IBExamine[i].CreateDateTime = moment(this.IBExamine[i].CreateDateTime)
            .utcOffset(16 * 60)
            .format("YYYY/MM/DD HH:mm:ss")
        }
        console.log("请求成功")
      } else {
        console.log("请求失败")
        return
      }
      console.log(Data)
      this.IBExamineData.PagingInfo = Data.Data.PagingInfo
      this.PageCount = Math.ceil(Data.Data.PagingInfo.TotalCount / this.IBExamineData.PagingInfo.PageSize)
      console.log(Data)
    },
    // 代理审核详细页面
    IBExamineDetail: async function (num) {
      const inputData = {
        IBAcctID: localStorage.getItem("CorrelationIBMemberId"),
        SerialNo: num // 申请订单ID
      }
      const Data = await AgencyCenterService.IBExamineDetail(inputData)
      if (Data.Ret === 0) {
        this.IBExamineDetails = Data.Data.OrderDetail
        this.IBExamineDetails.CreateDateTime = moment(Data.Data.OrderDetail.CreateDateTime)
          .utcOffset(16 * 60)
          .format("YYYY/MM/DD HH:mm:ss")
        // 手机号重复会员id
        this.IBExamineDetails.PhoneNumRepeatMemberId = Data.Data.PhoneNumRepeatMemberId
        // 手机号重复会员账号
        this.IBExamineDetails.PhoneRepeatNumLoginId = Data.Data.PhoneRepeatNumLoginId
        CommUtility.WebShowAlertboxForm("agencyExamineDetail")
      } else {
        console.log("请求失败")
      }
    },
    // 分页回调获取数据
    GetCurrentPageData: async function (pageNo) {
      this.IBExamineData.PagingInfo.pageNo = pageNo
      this.IBExamineList()
    }
  }
}
</script>
