<template>
  <div class="more_news">
    <div class="more_course">
      <p class="details_title">{{this.NewsDetail.Title}}</p>
      <span class="details_date">
        <span>{{$t('message.news_pubdate')}}：</span>
        <span>{{NewsDetail.MessageTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</span>
      </span>
      <div class="news-course-p" v-html="MessageCotentData"></div>
      <!-- <img v-if="ResourceFlag" :src="Resource + NewsDetail.TitlePic" /> -->
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
import InformationService from 'scripts/businessLogic/informationService';
import BLDef from 'scripts/common/BLDef';
import EventBus from 'scripts/common/EventBus';
import HttpService from 'scripts/common/HttpService';
import Vue from 'vue';
export default {
  data () {
    return {
      NewsDetail: {
        Title: ''
      },
      MessageCotentData: undefined,

      // 資源位置
      Resource: Vue.prototype.$ResourceURL,
      // 資源旗標
      ResourceFlag: false
    };
  },

  created: function () {
    this.PageInit();
  },

  methods: {
    // 初始化
    PageInit: async function () {
      const dataObj = {
        WGUID: Vue.prototype.$WGUID,
        ID: this.$route.params.ID
      };
      const retData = await InformationService.GetNewsDetail(dataObj);
      console.log('retData222222222222222222222222');
      console.log(retData);
      console.log('retData222222222222222222222222');
      // 失敗
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      } // end if

      // 成功
      this.NewsDetail = retData.Data.Detail;
      const temp = await HttpService.GetContent(
        this.Resource + retData.Data.Detail.MessageCotent
      );
      this.MessageCotentData = temp;

      // 顯示資源
      this.ResourceFlag = true;
    } // end PageInit
  }
};
</script>
