<template>
  <div class="details_title_up">
    <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+$MessageLang+'/details_title.png?VersionCode'"
    />
    <a href="javascript:void(0);" @click="ReturnBack();">
      <img
        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/promotion/details_return.png?VersionCode'"
      />
      <span>{{$t('message.activity_return')}}</span>
    </a>
  </div>
</template>

<script>
import URLService from 'scripts/common/URLService';

export default {
  methods: {
    ReturnBack: function () {
      if (localStorage.getItem('newsListAnchor') == undefined) {
        window.history.go(-1);
      } else {
        const tempObj = URLService.GetObjFromUrlParameter(
          localStorage.getItem('newsListAnchor')
        );
        tempObj.FromDetail = true;
        localStorage.setItem(
          'newsListAnchor',
          URLService.GetUrlParameterFromObj(tempObj)
        );
        this.$router.push({ name: 'NewsList' });
      } // end if
    }
  }
};
</script>
