.poker-logo-lists {
  font-size: 0;
  text-align: left;
  float: left;
  width: 1200px;
}

.poker-logo-lists li {
  width: 386px;
  height: 158px;
  display: inline-block;
  margin: 0 20px 28px 0;
  position: relative;
  vertical-align: top;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  &:hover .rotate-after1 {
    display: block;
    cursor: pointer;
  }
}

.poker-logo-lists .nopoker-logo-li {
  min-height: 458px;

  img {
  }
}

.poker-logo-lists li > div {
  width: 100%;
  height: 100%;

  &.rotate-after1 {
    position: absolute;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 2px;

    a {
      font-size: 16px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 8px 22px;
      border-radius: 20px;
    }
  }

  &.rotate-before1 {
    border-radius: 2px;

    img {
      margin-top: 27px;
      width: 75%;
      position: relative;
      left: -40px;
    }
  }
}
