/*
* @name 捕鱼样式
* @author dingruijie
* @time 2019-09-12 
*/

.catchfish-page {
  padding-bottom: 40px;
  .catchfish-logo-lists {
    float: left;
    .catchfish-logo-li {
      width: 390px;
      height: 230px;
      margin: 0 15px 20px 0;
      display: inline-block;
      position: relative;
      background: rgba(158, 158, 158, 1);
      &:nth-child(3n+3) {
        margin-right: 0
      }
      .catchfish-logo-content {
        width: 100%;
        height: 100%;
        position: relative;
        transition: all .3s ease-in-out;
        img {
          width: 80%;
          position: absolute;
          left: -40px;
          bottom: 45px;
        }
      }
      .catchfish-logo-mask {
        box-shadow: 3px 5px 5px 0 grey;
        opacity: 0;
        text-align: center;
        position: absolute;
        background: rgba(0, 0, 0, .64);
        width: 100%;
        height: 230px;
        top: 22px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; // background: rgba(0, 0, 0, .64);
        margin-top: -32px;
        span {
          display: inline-block;
          width: 114px;
          height: 40px;
          font-size: 16px;
          color: rgba(255, 255, 255, 1);
          opacity: 0;
          line-height: 40px;
          text-align: center;
          border: 2px solid rgba(255, 255, 255, 1);
          border-radius: 40px;
          transition: all .65s ease-in-out;
        }
      }
      .catchfish-expect-tips {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 1);
        p {
          font-size: 24px;
        }
        span {
          font-size: 12px;
        }
      }
      &:hover {
        .catchfish-logo-content {
          margin-top: -10px;
        }
        .catchfish-logo-mask {
          opacity: 1;
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}