<template>
    <div id="H5SearchForm" class="PH_down_nav">
        <ul class="public-navs H5-navs">
            <li :class="GameFilter.Value == Filter.Value? 'on' : ''" v-for="Filter in LoadMainPageDataModel.FilterSList" @click="GetPTHtml5GameListByGameType(Filter);">{{Filter.Name}}</li>
        </ul>
    </div>
</template>

<script>
	import {html5SaBr} from '@/mod/k04/assets/scripts/comTest/sub/ptHtml5Lobby/ptHtml5LobbySearchbar.js'
	export default {
  		mixins: [html5SaBr]
 	}
</script>

