.theme08{
    .tutorialbox{
        margin-top: -570px;  
    }
    .show8{
        display: block !important;
        position: absolute;
        left: 5px;
        top: 0;
        width: 64px;
        height: 73px;
        line-height: 73px;
        font-size: 36px;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        color: #ffffff;
        text-align: center;
    }
    .sp_down{
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
        text-align: center !important;
        color: #fff;
        font-size: 18px !important;
    }
    .sp_down>li a{
        color: #fff!important;
    }
    .cp_down{
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
        text-align: center !important;
        color: #fff;
        font-size: 18px !important;
    }
    .cp_down>li a{
        color: #fff!important;
    }
    .wrap{
        width:100% !important;
    }
    .tutorial_cont{
        height: auto;
        background: #fff;
        // min-height: 1750px;
        padding-bottom: 160px;
        overflow: hidden;
    }
    .tutorial_cont>.banner{
        height:1156px;
    }
    .tutorial_cont>.banner video{
        display: none;
    }
    .tutorial_banner2_tit{
        width:576px;
        height: 145px;
        margin: 0 auto;
        left: 0;
        right:0 ;
        text-align: center;
        font-size: 113px;
        color: #e8f4f7;
        position: absolute;
        top: 250px;
        letter-spacing: 10px;
        background-position: bottom;
    }
    .banner_ul{
        display: none;
    }
    .banner video{
        display: none;
    }
    .tutorial-main {
        position: relative;
        width: 1200px;
        height: auto;
        margin:0 auto;
    }
    
    
    .tutorial-navs{
        width: 1100px;
        height: 60px;
        margin: 0 auto;
        position: relative;
    }
    .tutorial-navs li.on,.tutorial-navs li:hover{
        border-bottom:none;
    }
    .tutorial-navs li.on .tutorial_tit,.tutorial-navs li:hover .tutorial_tit{
        color: #000;
    }
    .tutorial-navs>li {
        width: 300px;
        height: 60px;
        border-right: 1px solid #4c4c4c;
        float: left;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .tutorial_tit{
        font-size: 24px;
        color: #ecffff;
        display: block;
        line-height: 60px;
    }
    
    .tutorial_left_navs{
        overflow: hidden;
    }
    
    .tutorial_left_navs li{
        height: auto;
        line-height:20px;
        float: left;
        border: none;
        text-align: center;
    }
    .tutorial_left_navs li:hover, .tutorial_left_navs li.on{
        border: none;
    }   
    
    
    .tutorial_left_navs li a{
        display: block;
        color: #262626;
    }
    .tutorial_left_navs>li>a{
        text-align: center !important;
        color: #fff;
        font-size: 18px !important;
    }
    .no_background{
        border: none !important;
    }
    .tutorial_left_navs li a i {
        display: none
    }
    
    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .tutorial-inside {
        float: left;
        width: 1100px;
        height: auto;
        min-height: 400px;
        padding: 0 50px;
        margin-top:0px;
    }
    .tutorial-inside .tutorial-box{
        background: #eeeeee;
        width: 100%;
    }
    .tutorial-inside .tutorial-box h2{
        width:100% ;
        height: 38px;
    }
    .tutorial-inside .tutorial-box h2 span{
        color: #a6acff;
        font-size: 18px;
        padding-left: 18px;
        font-style:italic;
    }
    .tutorial-inside .tutorial-text{
        position: relative;
        background: #eeeeee;
        margin-bottom: 30px;
        box-sizing: border-box;
        padding: 15px 45px 15px 92px;
        min-height: 95px;
        border-bottom: none;
    }
    .tutorial-inside .tutorial-text h3{ 
        margin-bottom: 15px;
        line-height: 22px;
        font-size: 18px;
        font-weight: normal;
        color: #000000;
    }
    .tutorial-inside .tutorial-text p{
        line-height: 22px;
        font-size: 16px;
        color: #676868;
    }
    .tutorial-text span{
        display: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text{
        border-bottom: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
        color: #77779b;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text img{
        margin: 30px 0;
    }
    .tutorial-problem .tutorial_left_navs li a i {
        width: 42px;
        height: 41px;
    }
    .tutorial_tit_el{
        display: none;
    }
    .tutorial-betaskill{
        float: left;
    }
    .tutorial-betaskill .tutorial_left_navs i,.tutorial-problem .tutorial_left_navs i{
        display: none;
    }
    
    
    
    .tutorial-pull-down1{
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left: 500px;
        width: 1100px;
        height: 59px;
        border-bottom: 4px solid #cd2b1c;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .tutorial-pull-down1>li{
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
    }
    .tutorial-pull-down1 li:hover>a, .tutorial-pull-down1 li.on>a{
        background: #d8c68d;
        // line-height: 25px;
        color: #fff;
    }
    .tutorial-pull-down1 li:hover, .tutorial-pull-down1 li.on{
        color: #fff;
        border: none;
        border-right: 1px solid #000;
    }
    
    .tutorial-pull-down2{
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left: 680px;
        width: 1100px;
        height: 59px;
        border-bottom: 4px solid #d8c68d;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .tutorial-pull-down2>li{
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
    }
    .tutorial-pull-down2 li:hover a, .tutorial-pull-down2 li.on a{
        background: #d8c68d;
        line-height: 25px;
        color: #000;
    }
    .tutorial-pull-down2 li:hover, .tutorial-pull-down2 li.on{
        color: #fff;
        border: none;
        border-right: 1px solid #000;
    }
    
    .tutorial-pull-down3{
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left: 680px;
        width: 1100px;
        height: 59px;
        border-bottom: 4px solid #d8c68d;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .tutorial-pull-down3>li{
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
    }
    .tutorial-pull-down3 li:hover a, .tutorial-pull-down3 li.on a{
        background: #d8c68d;
        line-height: 25px;
        color: #000;
    }
    .tutorial-pull-down3 li:hover, .tutorial-pull-down3 li.on{
        color: #fff;
        border: none;
        border-right: 1px solid #000;
    }
    
    // 遮罩
    .tutorialShade{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }
    
    // 游戏规则
    .GameRules_title{
        padding-top: 20px;
        text-align: center;
        color: #010101;
    }
    .GameRules_title_el{
        text-align: center;
        color: #3dbceb;
        margin-top: 15px;
        font-size: 14px;
    }
    .GameRules_center_p{
        width: 730px;
        font-size: 14px;
        color: #4d4d4d;
        margin: auto;
        line-height: 28px;
        margin-top:20px;
        text-align: center;
    }
    .GameRules_mt25{
        margin-top: 25px;
    }
    .GameRules_guide{
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: rgb(242, 242, 242);
        overflow: hidden;
    }
    .GameRules_guide>span{
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: #232a3a;
        border-right: 1px dashed #2b3154;
    }
    .GameRules_guide_cont{
        font-size: 14px;
        color: #232a3a;
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center
    }
    .GameRules_smoll_p{
        color: #fff;
        margin-left: 158px;
        margin-top: 20px;
    }
    .GameRules_ty_p{
        color: #596fa4;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #bfd0e3;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .GameRules_center_img{
        display: block;
        margin: 20px auto 0;
    }
    .GameRules_table{
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
    }
    .GameRules_table li{
        height: 70px;
        line-height: 70px;
        background: #fff;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        font-size: 14px;
        color: #000;
        text-align: center;
        overflow: hidden;
    }
    .GameRules_table_faseli{
        height: 48px !important;
        line-height: 48px !important;
        background: rgb(209, 209, 209) !important;
    }
    .GameRules_table_faseli p{
        line-height: 23px !important;
    }
    .GameRules_table_ul1{
        float: left;
        width: 120px;
    }
    .bigwidth{
        width: 350px !important;
    }
    .GameRules_li_p{
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }
    .width358{
        width: 358px;
    }
    .GameRules_no_center{
        text-align:left;
        margin-left: 150px;
        margin-top: 0;
    }
    .GameRules_ml200{
        margin-left: 200px;
    }
    .GameRules_nomt{
        margin-top: 0;
    }
    
    
    
    .tutorial_abslut_ul{
        position: absolute;
        z-index: 9;
    }
    .tutorial_abslut_ul>li {
        float: none;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 16px;
        border: none;
        color:#616161 !important;
        width: 140px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        vertical-align: top;
//      background:#e2e1e1;
    }
    .tutorial_abslut_1{
        top: 59px;
        left: 935px;
    }
    .tutorial_abslut_2{
        top: 59px;
        left: 840px;
    }
    .betaskill-navs{
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left:520px;
        width: 1100px;
        height: 59px;
        border-bottom: 4px solid #d8c68d;
        padding-top: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .betaskill-navs > li {
        float: left;
        width: 85px;
        margin-left: 5px;
        padding-right: 5px;
        border-right: 1px solid #000;
    }
    .betaskill-navs > li > a {
        text-align: center !important;
        color: #fff;
        font-size: 18px !important;
    }
    .betaskill-navs li:hover a, .betaskill-navs li.on a {
        background: #d8c68d;
        line-height: 25px;
        color: #000;
    }
    .BettingSkills_no{
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .BettingSkills_on{
        transition: 0.3s;
        height: auto;
    }
    .bettingSkill_box{
        padding: 30px;
        overflow: hidden;
    }
    .bettingSkill_box img{
        margin-top: 20px;
    }
    .bettingSkill_box p{
        overflow: hidden;
    }
    .bettingSkill_box p>span:nth-child(1){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #a48db0;
    }
    .bettingSkill_box p>span:nth-child(2){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #65556d;
    }
    .bettingSkill_cp{
        line-height: 26px;
        font-size: 14px;
        color: #676868
    }
    .sportsSkill_chren{
        margin-left: 1px;
    }
    .sportsSkill_chren>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
//      background:#e2e1e1;
    }
    .sportsSkillChren1on{
        color: yellow !important;
    }
    .sportsSkill_chren_01>p{
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }
    .sonname,.grandsonname{
        display: none
    }
    .sonname>li,.grandsonname>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
//      background: #e2e1e1;
    }
    .sportsSkill_jsonp{
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #656d74;
    }
    
    // 背景替换img
    .tutorialPic_1{
        width: 690px;
        height: 354px;
    }
    .tutorialPic_2{
        width: 690px;
        height: 352px;
    }
    .tutorialPic_3{
        width: 690px;
        height: 360px;
    }
    .tutorialPic_4{
        width: 673px;
        height: 360px;
    }
    .tutorialPuke_1{
        width: 428px;
        height: 69px;
    }
    .tutorialPuke_2{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_3{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_4{
        width: 351px;
        height: 257px;
    }
    .tutorialRule_img_1{
        width: 848px;
        height: 508px;
    }
    .tutorialRule_img_2{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_3{
        width: 848px;
        height: 157px;
    }
    .tutorialRule_img_4{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_5{
        width: 848px;
        height: 274px;
    }
    .tutorialRule_img_6{
        width: 848px;
        height: 118px;
    }
}
