<template>
  <div id="RecordDetailRakeForm" class>
    <div class="extension-cont-barNav">
      <div class="bar1">
        <span class="sp1">
          {{$t('message.agency_code_commission')}}：
          <span class="sp1-text1">
            <i
              v-if="CodeComDataTotal.TotalMinRakeIncomeRate==CodeComDataTotal.TotalMaxRakeIncomeRate"
            >{{CodeComDataTotal.VTotalMaxRakeIncomeRate}}</i>
            <i
              v-else
            >{{CodeComDataTotal.VTotalMinRakeIncomeRate}}-{{CodeComDataTotal.VTotalMaxRakeIncomeRate}}</i>
          </span>
        </span>
        <span class="sp1">
          {{$t('message.agency_total_commission')}}
          <span
            class="sp1-text1"
          >{{CodeComDataTotal.VTotalRakeIncomeAmt}}</span>
        </span>
        <span class="sp1">
          {{$t('message.agency_total_team')}}
          <span
            class="sp1-text2"
          >{{CodeComDataTotal.VTotalUserCount}}</span>
        </span>
      </div>
      <div class="bar2">
        <span class="sp1">
          {{$t('message.agency_historical_path')}}
          <span
            class="sp1-text3"
            :class="{'active':(index+1) === HistoricalPath.length}"
            v-for="(histLi,index) in HistoricalPath"
            :key="index"
          >
            <i v-if="index > 0">></i>
            <span>
              <!--  @click="CodeComloginName(histLi,index)" -->
              <i v-if="histLi.Hierarchy != -1 && index > 0" style="color:#f00">{{histLi.Prefix}}</i>
              {{histLi.LoginID}}
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="12%">{{$t('message.agency_order_number')}}</td>
            <td width="10%">{{$t('message.agency_account_number')}}</td>
            <td width="10%">{{$t('message.agency_identity')}}</td>
            <td width="10%">{{$t('message.agency_agent_level')}}</td>
            <td width="15%">{{$t('message.agency_code_commission')}}</td>
            <td width="10%">{{$t('message.agency_teams_number')}}</td>
            <td width="15%">{{$t('message.agency_amount_money')}}</td>
            <td width="18%">{{$t('message.agency_time_interval')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(codeList,index) in CodeComIBCommissionList" :key="index">
            <td>{{codeList.SeriaNo}}</td>
            <td>
              <!-- @click="CodeComloginName(codeList)"-->
              <span class="prefix-text">{{codeList.Prefix}}</span>
              {{codeList.LoginID}}
            </td>
            <td>{{codeList.MemberType}}</td>
            <td>
              <span v-if="codeList.Hierarchy==-1">-</span>
              <span v-else>{{codeList.Hierarchy}}</span>
            </td>
            <td>
              <span
                v-if="codeList.MinRakeIncomeRate==codeList.MaxRakeIncomeRate"
              >{{codeList.VMaxRakeIncomeRate}}</span>
              <span v-else>{{codeList.VMinRakeIncomeRate}}-{{codeList.VMaxRakeIncomeRate}}</span>
            </td>
            <td>{{codeList.VTotalUserCount}}</td>
            <td>{{codeList.VTotalRakeIncomeAmt}}</td>
            <td>{{codeList.StartDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}-{{codeList.EndDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="5%"></td>
            <td width="10%">{{$t('message.agency_subtotal')}}：</td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="15%">
              <!-- <span
                v-if="CodeComDataSubtotal.TotalMinRakeIncomeRate==CodeComDataSubtotal.TotalMaxRakeIncomeRate"
              >{{CodeComDataSubtotal.VTotalMaxRakeIncomeRate}}</span>
              <span
                v-else
              >{{CodeComDataSubtotal.VTotalMinRakeIncomeRate}}-{{CodeComDataSubtotal.VTotalMaxRakeIncomeRate}}</span>-->
            </td>
            <td width="10%">{{CodeComDataSubtotal.VTotalUserCount}}</td>
            <td width="15%">{{CodeComDataSubtotal.VTotalRakeIncomeAmt}}</td>
            <td width="25%"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="maxtip" v-if="IsShowTip">{{textSucc}}</div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility"
// import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
// import EventBus from '@/mod/k03/assets/scripts/common/EventBus';

export default {
  data() {
    return {
      histName: undefined,
      textSucc: undefined,
      IsShowTip: false
    }
  },
  props: {
    HistoricalPath: {
      default: function () {
        return []
      }
    },
    CodeComIBCommissionList: {
      type: Array,
      default: function () {
        return []
      }
    },
    CodeComDataTotal: {
      type: Object,
      default: function () {
        return {}
      }
    },
    CodeComDataSubtotal: {
      type: Object,
      default: function () {
        return {}
      }
    },
    DisplayRechargeObj: {
      default: function () {
        return {}
      }
    },
    PagingInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  methods: {
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // CodeComloginName: async function (item, index) {
    //   // 当前为下级代理
    //   if (item.Hierarchy != -1) {
    //     let name;
    //     if (index !== undefined) {
    //       this.histName = item.LoginID;
    //       console.log('11');
    //       if (index + 1 !== this.HistoricalPath.length) {
    //         this.HistoricalPath.splice(
    //           index + 1,
    //           this.HistoricalPath.length - (index + 1)
    //         );
    //         name = item.LoginID;
    //       }
    //       if (index == this.HistoricalPath.length - 1) {
    //         console.log('wwwwwwwww222');
    //         name = item.LoginID;
    //         this.PagingInfo.PageNo = 1;
    //         EventBus.$emit('Paginate_ResetPageNo');
    //       }
    //       if (index === 0) {
    //         name = '';
    //         // this.$parent.AgencyBetting();
    //         // return;
    //       }
    //     } else {
    //       console.log('22');
    //       name = item.LoginID;
    //     }
    //     const inputObj = {
    //       IB_LoginID: name,
    //       QueryStartTime: '',
    //       QueryStartTick: CommUtility.LocalTimeToUtcTicks(
    //         this.dateFormat(this.DisplayRechargeObj.StartTick) + ' 00:00:00'
    //       ),
    //       QueryEndTime: '',
    //       QueryEndTick: CommUtility.LocalTimeToUtcTicks(
    //         this.dateFormat(this.DisplayRechargeObj.EndTick) + ' 23:59:59',
    //         true
    //       ),
    //       PagingInfo: {
    //         PageSize: this.PagingInfo.PageSize,
    //         PageNo: this.PagingInfo.PageNo
    //       }
    //     };
    //     const data = await AgencyCenterService.LoadGetIBCommissionReportQuery(
    //       inputObj
    //     );
    //     console.log(data);
    //     console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
    //     console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
    //     console.log(inputObj);
    //     if (data.Ret === 0) {
    //       EventBus.$emit('CondeCom_ResetCondeComDatas', data.Data);
    //       if (index === undefined) {
    //         this.HistoricalPath.push(item);
    //       }
    //     } else {
    //       this.IsShowTip = true;
    //       this.textSucc = data.Message;
    //       setTimeout(() => {
    //         this.IsShowTip = false;
    //       }, 1000);
    //     }
    //   }
    // },
    // 開啟視窗
    RakeOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("RecordDetailRakeForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseDetail: function () {
      CommUtility.WebClosealertboxForm("RecordDetailRakeForm")
    } // end CloseWindow
  },
  watch: {}
}
</script>
