<template>
  <div class>
    <div class="extension-cont-barNav">
      <div class="bar1">
        <span class="sp1">
          {{$t('message.agency_total_recharge')}}
          <span class="sp1-text1">
            <i v-if="HierarchyNum==-1">{{RechargeAccountTotalSum}}</i>
            <i v-else>{{RechargeTotalSum}}</i>
          </span>
        </span>
      </div>
      <div class="bar2">
        <span class="sp1">
          {{$t('message.agency_historical_path')}}
          <span
            class="sp1-text3"
            :class="{'active':(index+1) === HistoricalPath.length}"
            v-for="(histLi,index) in HistoricalPath"
            :key="index"
          >
            <i v-if="index > 0">></i>
            <span @click="accountClick(histLi,index)">
              <i v-if="histLi.Hierarchy != -1 && index > 0" style="color:#f00">{{histLi.Prefix}}</i>
              {{histLi.LoginID}}
            </span>
          </span>
        </span>
      </div>
    </div>
    <div>
      <div class="table-block-common" v-if="IsShowAccount">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td width="12%">{{$t('message.agency_order_number')}}</td>
              <td width="22%">{{$t('message.agency_account_number')}}</td>
              <td width="15%">{{$t('message.agency_identity')}}</td>
              <td width="20%">{{$t('message.agency_agent_level')}}</td>
              <td width="15%">{{$t('message.agency_total_invest')}}</td>
              <td width="18%">{{$t('message.agency_time_interval')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(reList,index) in IBDepositListData" :key="index">
              <td>{{index+1}}</td>
              <td @click="accountClick(reList)">
                <span class="prefix-text" v-if="reList.Hierarchy != -1">{{reList.Prefix}}</span>
                {{reList.LoginID}}
              </td>
              <td>{{reList.MemberType}}</td>
              <td>
                <span v-if="reList.Hierarchy==-1">-</span>
                <span
                  v-else
                >{{$t('message.agency_the_first')}}{{reList.Hierarchy}}{{$t('message.agency_level')}}</span>
              </td>
              <td>{{reList.VDepositSum}}</td>
              <td>{{reList.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{reList.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td width="8%"></td>
              <td width="22%">{{$t('message.agency_subtotal')}}：</td>
              <td width="15%"></td>
              <td width="20%"></td>
              <td width="15%">{{RechargeSubTotalSum}}</td>
              <td width="20%"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <agency-recharge-account
        :RechargeAccountList="RechargeAccountList"
        :RechargeAccountTotalSum="RechargeAccountTotalSum"
        :HistoricalPathName="HistoricalPathName"
        v-else
      ></agency-recharge-account>
    </div>
    <div class="maxtip" v-if="IsShowTip">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
// import BLDef from '@/assets/scripts/common/BLDef';
import AgencyRechargeAccount from "@/components/sub/agency/detailed/agencyRechargeAccount"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import EventBus from "scripts/common/EventBus"
import CommUtility from "@/assets/scripts/common/CommUtility"

export default {
  props: {
    HistoricalPath: {
      default: function () {
        return []
      }
    },
    IBDepositListData: {
      type: Array,
      default: function () {
        return []
      }
    },
    DisplayRechargeObj: {
      type: Object,
      default: function () {
        return {}
      }
    },
    // userName: '',
    RechargePageInfo: {
      type: Object,
      default: function () {
        return {}
      }
    },
    RechargeTotalSum: "",
    HistoricalPathName: "",
    RechargeSubTotalSum: ""
  },

  data() {
    return {
      IsShowAccount: true,
      RechargeAccountList: [],
      RechargeAccountTotalSum: "",
      HierarchyNum: undefined,
      textSucc: undefined,
      IsShowTip: false
    }
  },
  mounted: function () {
    EventBus.$on("Recharge_IsShowAgencyHtml", (data) => {
      this.IsShowAccount = data
    })
  },
  methods: {
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    accountClick: async function (item, index) {
      this.HierarchyNum = item.Hierarchy
      console.log(item)
      console.log(index)

      let ID
      let IsLookMemberNum
      IsLookMemberNum = 0
      if (index !== undefined) {
        console.log("11")
        if (index + 1 !== this.HistoricalPath.length) {
          console.log("wwwwwwwww111")
          this.HistoricalPath.splice(index + 1, this.HistoricalPath.length - (index + 1))
          ID = item.MemberID
        }
        if (index == this.HistoricalPath.length - 1) {
          console.log("wwwwwwwww222")
          ID = item.MemberID
          this.RechargePageInfo.PageNo = 1
          EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
        }
        if (index === 0) {
          console.log("wwwwwwwww333")
          this.IsShowAccount = true
          IsLookMemberNum = 1
          ID = item.MemberID
          this.RechargePageInfo.PageNo = 1
          EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
          const AgentObj = {
            IBMemberID: ID, // 代理ID
            StartTick: CommUtility.LocalTimeToUtcTicks(
              this.dateFormat(this.DisplayRechargeObj.StartTick) + " 00:00:00"
            ), // 必选 - 》默认选择当月
            EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayRechargeObj.EndTick, false, true),
            LoginID: "", // 用户名
            IsLookMember: IsLookMemberNum, // 是否查询会员
            PagingInfo: {
              PageSize: this.RechargePageInfo.PageSize,
              PageNo: this.RechargePageInfo.PageNo
            }
          }
          const AgentData = await AgencyCenterService.AgencyRechargeList(AgentObj)
          console.log("历史路径第一级")
          console.log(AgentObj)
          console.log(AgentData)
          console.log("历史路径第一级")
          if (AgentData.Ret === 0) {
            EventBus.$emit("Recharge_ResetIBDepositDatas", AgentData.Data)

            //   self.AgentRechargeAccountList = AgentData.Data.IBDepositList;
          } else {
            this.IsShowTip = true
            setTimeout(() => {
              this.IsShowTip = false
            }, 1000)
          }
        }
      } else {
        console.log("22")
        ID = item.MemberID
      }
      console.log(this.HistoricalPath)
      // this.HistoricalPathName = name;
      // 点击为会员
      if (item.Hierarchy == -1) {
        this.IsShowAccount = false
        this.RechargePageInfo.PageNo = 1
        EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
        const MemberObj = {
          MemberID: item.MemberID,
          StartTick: item.StartTick,
          EndTick: item.EndTick,
          PagingInfo: {
            PageSize: this.RechargePageInfo.PageSize,
            PageNo: this.RechargePageInfo.PageNo
          }
        }
        const MemberData = await AgencyCenterService.AgencyRechargeAccountList(MemberObj)
        console.log("请求会员详细")
        console.log(MemberObj)
        console.log(MemberData)
        console.log("请求会员详细")
        if (MemberData.Ret === 0) {
          this.RechargeAccountList = MemberData.Data.MemberDepositList
          this.RechargeAccountTotalSum = MemberData.Data.VDepositSum_Total
          const PageCount = Math.ceil(MemberData.Data.PagingInfo.TotalCount / this.RechargePageInfo.PageSize)
          EventBus.$emit("Paginate_PageCount", PageCount)
          if (index === undefined) {
            this.HistoricalPath.push(item)
          }
        } else {
          this.IsShowTip = true
          setTimeout(() => {
            this.IsShowTip = false
          }, 1000)
        }
      } else {
        // 当前点击为下级代理
        // const AgentObj = {
        //   IBMemberID: ID, // 代理ID
        //   StartTick: CommUtility.LocalTimeToUtcTicks(
        //     this.DisplayRechargeObj.StartTick,
        //     false,
        //     true
        //   ), // 必选 - 》默认选择当月
        //   EndTick: CommUtility.LocalTimeToUtcTicks(
        //     this.DisplayRechargeObj.EndTick,
        //     false,
        //     true
        //   ),
        //   LoginID: '', // 用户名
        //   IsLookMember: IsLookMemberNum, // 是否查询会员
        //   PagingInfo: {
        //     PageSize: this.RechargePageInfo.PageSize,
        //     PageNo: this.RechargePageInfo.PageNo
        //   }
        // };
        // const AgentData = await AgencyCenterService.AgencyRechargeList(
        //   AgentObj
        // );
        // console.log('请求代理详细');
        // console.log(AgentData);
        // console.log(AgentData);
        // console.log('请求代理详细');
        // if (AgentData.Ret === 0) {
        //   EventBus.$emit('Recharge_ResetIBDepositDatas', AgentData.Data);
        //   if (index === undefined) {
        //     this.HistoricalPath.push(item);
        //   }
        //   //   self.AgentRechargeAccountList = AgentData.Data.IBDepositList;
        // } else {
        //   this.IsShowTip = true;
        //   setTimeout(() => {
        //     this.IsShowTip = false;
        //   }, 1000);
        // }
      }
    }
  },

  components: {
    AgencyRechargeAccount
  }
}
</script>
