<template>
  <div class="athletics-content" :class="'athletics_'+$MessageLang">
    <div class="athletics-cont-banner">
      <athletics-content
        :athleticList="athleticList"
        @athleticsEnterGame="athleticsEnterGame"
        :WattingGame="WattingGame"
      ></athletics-content>
    </div>
    <!-- <div>
      <athletics-firm :GetCurrentPageData="CurrentPageData" @getGameNum="setGameNum"></athletics-firm>
      <athletics-table :getGameNum="GameNum" :LoadMainPageDataModel="LoadMainPageDataModel"></athletics-table>
    </div>-->
  </div>
</template>

<script>
import athletics from "@/assets/scripts/comTest/main/athletics/athletics.js"
export default {
  mixins: [athletics],
  mounted: function () {
    // this.IEVersion();
  },
  methods: {
    IEVersion: function () {
      var userAgent = navigator.userAgent // 取得浏览器的userAgent字符串
      var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 // 判断是否IE<11浏览器
      var isEdge = userAgent.indexOf("Edge") > -1 && !isIE // 判断是否IE的Edge浏览器
      var isIE11 = userAgent.indexOf("Trident") > -1 && userAgent.indexOf("rv:11.0") > -1
      if (isIE) {
        this.ChangeCss()
      } else if (isEdge) {
        this.ChangeCss()
        return "edge" // edge
      } else if (isIE11) {
        this.ChangeCss()
        return 11 // IE11
      } else {
        return -1 // 不是ie浏览器
      }
    },
    // 执行样式修改
    ChangeCss: function () {
      const w = $(window).width()
      if (w < 1370) {
        $(".swiper-wrapper").css({ zoom: "1.2" })
      }
    }
  }
}
</script>
