<template>
  <div class="service">
    <!--公共-->
    <div class="service-box service-box2 hides">
      <ul>
        <li class="Sbtn SbtnService" @click="OpenNewBox($ServeLink)">
          <a>
            <i></i>
            <span>{{$t('message.float_online_service')}}</span>
          </a>
        </li>
        <!-- <li class="Sbtn SbtnFree"><router-link to="/FreeTrial"><i></i><span>免费试玩</span></router-link></li> -->
        <li class="Sbtn SbtnActivity">
          <router-link to="/ActivityList">
            <i></i>
            <span>{{$t('message.nav_promotions')}}</span>
          </router-link>
        </li>
        <li class="Sbtn SbtnTutorial">
          <router-link to="/Tutorial">
            <i></i>
            <span>{{$t('message.tutorial_common_problem')}}</span>
          </router-link>
        </li>
      </ul>
      <!--28版-->
      <div class="in_twentyEight hides">
        <div class="in_s_carousel hides">
          <router-link :to="{ name: 'ActivityList'}">
            <div class="i_s_c_left">
              <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/i_f.png'" />
            </div>
          </router-link>
          <div class="i_s_c_rig" v-if="LoadCompleted === true">
            <router-link :to="{ name: 'ActivityList'}" v-show="currentSlideIndex === 0">
              <p class="i_s_c_r_title">{{ActivityList[0].Name}}</p>
            </router-link>
            <router-link :to="{ name: 'ActivityList'}" v-show="currentSlideIndex === 1">
              <p class="i_s_c_r_title">{{ActivityList[1].Name}}</p>
            </router-link>
            <router-link :to="{ name: 'ActivityList'}" v-show="currentSlideIndex === 2">
              <p class="i_s_c_r_title">{{ActivityList[2].Name}}</p>
            </router-link>
            <el-carousel indicator-position="outside">
              <el-carousel-item>
                <router-link :to="{ name: 'ActivityList'}">
                  <img v-bind:src="ActivityList[0].ActLogo" style="width:350px;height:180px;" />
                </router-link>
              </el-carousel-item>
              <el-carousel-item>
                <router-link :to="{ name: 'ActivityList'}">
                  <img v-bind:src="ActivityList[1].ActLogo" style="width:350px;height:180px;" />
                </router-link>
              </el-carousel-item>
              <el-carousel-item>
                <router-link :to="{ name: 'ActivityList'}">
                  <img v-bind:src="ActivityList[2].ActLogo" style="width:350px;height:180px;" />
                </router-link>
              </el-carousel-item>
            </el-carousel>
          </div>
        </div>
        <div class="i_s_c_tel">
          <p>
            <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/q1.png'" />
            {{$t('message.float_online_service')}}1
          </p>
          <p>
            <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/q1.png'" />
            {{$t('message.float_online_service')}}1
          </p>
          <p>
            <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web28/index/q1.png'" />
            {{$t('message.float_online_service')}}1
          </p>
          <p>{{$t('message.customer_service_hotline')}}</p>
          <p>0730-9834556</p>
        </div>
      </div>
    </div>
    <!--60版-->
    <div class="service-cont service-cont-60" style="display: none;">
      <ul>
        <li class="Sbtn Sbtn1">
          <router-link to="/"></router-link>
        </li>
        <li class="Sbtn Sbtn2" @click="OpenNewBox60($ServeLink)">
          <a>
            <i></i>
            <span>{{$t('message.float_online_service')}}</span>
          </a>
        </li>
        <!-- <li class="Sbtn Sbtn3"><router-link to="/FreeTrial"><i></i><span>免费试玩</span></router-link></li> -->
        <li class="Sbtn Sbtn4">
          <router-link to="/ActivityList">
            <i></i>
            <span>{{$t('message.nav_promotions')}}</span>
          </router-link>
        </li>
        <li class="Sbtn Sbtn5 s-right-top">
          <a>
            <i></i>TOP
          </a>
        </li>
      </ul>
    </div>

    <!--23版-->
    <div class="lambor-right-main transform_translateY" style="display: none;">
      <!-- <div class="lrm-mfsw" v-if="this.IsLogin===false">
				<i></i>
				<div class="transform_translateY" v-if="this.IsLogin===false">
					<i class="l-top-icon"></i>
					<i class="r-top-icon"></i>
					<i class="l-btm-icon"></i>
					<i class="r-btm-icon"></i>
					<span class="lrm-line transform_translateY"></span>
					<router-link to="/FreeTrial" class='f-t-btn' >免费试玩</router-link>
				</div>
      </div>-->
      <div class="lrm-kfrx">
        <a @click="OpenNewBox23($ServeLink)"></a>
        <!-- <div class="transform_translateY">
					<i class="l-top-icon"></i>
					<i class="r-top-icon"></i>
					<i class="l-btm-icon"></i>
					<i class="r-btm-icon"></i>
					<span class="lrm-line transform_translateY"></span>
					<div class="lrm-cs-cont">
						<dl>
							<dt>客服QQ</dt>
							<dd v-for="QQInfo in CustomerService.CustomerServiceSettingInfoList" @click="CallQQClient(QQInfo.QQAcct)" :title="QQInfo.Name">
								{{QQInfo.Name}}
							</dd>
						</dl>
						<dl>
							<dt>客服热线：</dt>
							<dd>{{CustomerService.CustomerServicePhoneNo}}</dd>
						</dl>
					</div>
        </div>-->
      </div>
      <div class="lrm-hd">
        <a></a>
        <div class="transform_translateY">
          <i class="l-top-icon"></i>
          <i class="r-top-icon"></i>
          <i class="l-btm-icon"></i>
          <i class="r-btm-icon"></i>
          <span class="lrm-line transform_translateY"></span>
          <div class="lrm-hd-cont" v-if="LoadCompleted === true">
            <dl>
              <dt>{{ActivityList[0].Name}}</dt>
              <dd>{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</dd>
            </dl>
            <img v-bind:src="ActivityList[0].ActLogo" width="259" />
            <p v-html="ActivityList[0].ActContent"></p>
            <router-link :to="{ name: 'ActivityList'}">{{$t('message.more_activities')}}</router-link>
          </div>
          <!--lrm-hd-cont-->
        </div>
      </div>
    </div>
    <!--34版-->
    <div class="customService-wrap customService-wrap-34" style="display: none;">
      <div class="service-freeTrial">
        <!-- <router-link :to="{ name: 'FreeTrial'}" target="_blank" v-if="this.IsLogin===false">
	                    <div class="service-freeTrial-text">
	                    <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_17.png'" />
	                    	免费试玩
	                </div>
        </router-link>-->
        <a class="service-freeTrial-online" @click="OpenNewBox34($ServeLink)">
          <span>{{$t('message.float_online_service')}}</span>
          <div class="service-contact" v-show="IsCustomerServiceShowing">
            <div class="service-contact-qq">
              <a
                :title="QQInfo.Name"
                v-for="QQInfo in CustomerService.CustomerServiceSettingInfoList"
                @click="CallQQClient(QQInfo.QQAcct)"
              >
                <p class="service-contact-text">
                  <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_18.png'" />
                  {{QQInfo.Name}}
                </p>
              </a>
              <div class="service-contact-hotLine">
                <h2>{{$t('message.customer_service_hotline')}}</h2>
                <!-- <p class="weekday">工作日9:30-22:30</p> -->
                <p class="phone">{{CustomerService.CustomerServicePhoneNo}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { initService } from '../../assets/scripts/comTest/public/frameSide.js';
import { initService60 } from '../../assets/scripts/comTest/public/sy60/frameSide.js';
import { initService23 } from '../../assets/scripts/comTest/public/sy23/frameSide.js';
import { initService28 } from '../../assets/scripts/comTest/public/sy28/frameSide.js';
import { initService34 } from '../../assets/scripts/comTest/public/sy34/frameSide.js';
export default {
  mixins: [
    initService,
    initService60,
    initService23,
    initService28,
    initService34
  ]
};
</script>
