<!--頭部導航選單-->
<template>
  <div class="main-navNew">
    <ul>
      <li class="navNew-List m">
        <router-link :to="{ name: 'Index'}" class="navNew-ListA">
          首页
          <span class="englishName">Home page</span>
        </router-link>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'LiveVideo'}">
        <router-link :to="{ name: 'LiveVideo'}" class="navNew-ListA">
          真人视讯
          <span class="englishName">Live dealer</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li v-for="(list,index) in LiveVideoLists" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span
                      class="bgs1-portrait bgs1"
                      v-if="index==0 || index==1 || index==2 || index==3"
                    >
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img25.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img27.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img29.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img31.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img26.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="enterGameLink('1','15','')">
                    <span class="bgs1-text">BBIN真人</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img27.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img28.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="enterGameLink('1','36','')">
                    <span class="bgs1-text">EBET真人</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img29.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img30.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="enterGameLink('1','2','')">
                    <span class="bgs1-text">ALLBET真人</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img31.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img32.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Electronic'}">
        <router-link :to="{ name: 'Electronic'}" class="navNew-ListA">
          电子游戏
          <span class="englishName">Electronic games</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li
                  v-for="(list,index) in ComputerLists"
                  :key="index"
                  v-show="list.GameApiNo !== '2'"
                >
                  <a href="#" @click="EnterElectron(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span
                      class="bgs1-portrait bgs1"
                      v-if="index==0 || index==1 || index==2 || index==3"
                    >
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img33.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img34.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img35.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img36.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img26.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="EnterElectron('15')">
                    <span class="bgs1-text">BBIN电游</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img34.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img28.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="EnterElectron('36')">
                    <span class="bgs1-text">EBET电游</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img35.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img30.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="EnterElectron('2')">
                    <span class="bgs1-text">ALLBET电游</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img36.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img32.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Poker'}">
        <router-link :to="{ name: 'Poker'}" class="navNew-ListA">
          棋牌游戏
          <span class="englishName">Poker games</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li v-for="(list,index) in ChessLists" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>

                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img46.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img47.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img48.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="enterGameLink('5','33','')">
                    <span class="bgs1-text">金龙棋牌</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img47.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img49.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Lottery'}">
        <router-link :to="{ name: 'Lottery'}" class="navNew-ListA">
          彩票投注
          <span class="englishName">Lottery betting</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li v-for="(list,index) in LotteryLists" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img43.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img44.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img42.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="enterGameLink('3','4','')">
                    <span class="bgs1-text">KG</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img44.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img45.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-Logo">
        <a href="/">
          <img :src="this.LogoPath" />
          <!-- <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/logo.png?VersionCode'" /> -->
        </a>
      </li>
      <!-- <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === '') || (this.$route.name === '')}"
      >
        <router-link :to="{ name: ''}">捕鱼</router-link>
      </li>-->
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Sport'}">
        <router-link :to="{ name: 'Sport'}" class="navNew-ListA">
          体育博彩
          <span class="englishName" v-show="this.$MessageLang !== 'en'">Sports lottery</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li v-for="(list,index) in SportLists" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1 || index==2">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img37.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img40.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="enterGameLink('2','76','IMSB')">
                    <span class="bgs1-text">IM体育</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img41.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="enterGameLink('2','15','')">
                    <span class="bgs1-text">BBIN体育</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img42.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Athletics'}">
        <router-link :to="{ name: 'Athletics'}" class="navNew-ListA">
          电子竞技
          <span class="englishName" v-show="$MessageLang=='zh'">Electronic sports</span>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul>
                <li v-for="(list,index) in AthleticsLists" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1 || index==2">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img37.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img40.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" @click="enterGameLink('','','')">
                    <span class="bgs1-text">IM体育</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img41.png'"
                      />
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="enterGameLink('','','')">
                    <span class="bgs1-text">BBIN体育</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img42.png'"
                      />
                    </span>
                  </a>
                </li>-->
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === 'ActivityList') || (this.$route.name === 'webActivityDetail') }"
      >
        <router-link :to="{ name: 'ActivityList'}" class="navNew-ListA">
          优惠活动
          <span class="englishName" v-show="this.$MessageLang !== 'en'">Promotions</span>
        </router-link>
      </li>
      <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === 'NewsList') || (this.$route.name === 'webNewsDetail')}"
      >
        <router-link :to="{ name: 'NewsList'}" class="navNew-ListA">
          新闻中心
          <span class="englishName" v-show="this.$MessageLang !== 'en'">Hot news</span>
        </router-link>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'JoinUs'}">
        <router-link :to="{ name: 'JoinUs'}" class="navNew-ListA">
          代理合作
          <span class="englishName" v-show="this.$MessageLang !== 'en'">Agent Cooperation</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';
import HttpService from 'scripts/common/HttpService';
import URLService from 'scripts/common/URLService';
import Vue from 'vue';
export default {
  data() {
    return {
      LogoPath: localStorage.getItem('LogoImgPath'),
      StateLogin: false,
      LiveVideoLists: [],
      SportLists: [],
      LotteryLists: [],
      GameLists: [],
      ComputerLists: [],
      ChessLists: [],
      AthleticsLists: [],
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.LiveVideo,
        PlayType: BLDef.IdentityType.FORMAL,
        Platform: BLDef.PlatformType.Web_PC
      }
    };
  },
  created: function() {
    this.GetNavGames();
    this.GetLogoData();
  },
  mounted: function() {
    $('.main-navNew').slide({
      type: 'menu',
      titCell: '.m',
      targetCell: '.sub',
      effect: 'slideDown',
      delayTime: 300,
      triggerTime: 100,
      returnDefault: true
    });
  },
  methods: {
    // 新的跳转打开个人中心方式 2019.05.13 SeyoChen
    navClick: async function(name) {
      this.CheckLoginStatusBeforeRoute(name);
      if (this.StateLogin !== false) {
        this.$store.dispatch('setSwitchNameText', name);
        EventBus.$emit('personalInfo');
      } else {
        this.$router.push({ name: 'webLogin' });
      }
    },
    // 檢查帳號狀態
    CheckLoginStatusBeforeRoute: async function(routeName) {
      const notifyData = {};
      const data = await CommonService.Comm_CheckPermission();

      switch (data.Status) {
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
          this.StateLogin = true;
          this.$store.dispatch('setSwitchNameText', routeName);
          EventBus.$emit('personalInfo');
          break;
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.StateLogin = false;
          notifyData.NotifyMessage = this.$t('message.top_account_freezing');
          EventBus.$emit('showNotifyMessage', notifyData);
          break;
        default:
          break;
      }
    },
    GetLogoData: async function() {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_PC
      };
      const retData = await CommonService.HomePage_LoadMainPage(DataObj);
      console.log('next');
      console.log(retData);
      if (retData.Ret === 0) {
        this.LogoPath = this.$ResourceCDN + retData.Data.MasterLogo;
      } else {
        this.LogoPath = localStorage.getItem('LogoImgPath');
      }
    },
    GetNavGames: async function() {
      this.GameLists = JSON.parse(localStorage.getItem('GameList'));

      const dataObj = {
        WGUID: '',
        GameTypeNo: ''
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子 5.棋牌 6.竞技
      const retData = await HttpService.PostDynamic(0, 214, dataObj);

      if (
        retData.Ret === 0 &&
        this.GameLists !== retData.Data.GameAPIVerdorList
      ) {
        // 判断本地缓存是否与之前的相同
        this.GameLists = retData.Data.GameAPIVerdorList;
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }

      for (let i = 0; i < this.GameLists.length; i++) {
        // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
        if (
          this.GameLists[i].GameTypeNo === 1 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.LiveVideoLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 2 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.SportLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 3 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.LotteryLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 4 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.ComputerLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 5 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.ChessLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 6 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.AthleticsLists.push(this.GameLists[i]);
        }
      }

      console.log('真人视讯数据');
      console.log(this.LiveVideoLists);

      console.log('真人视讯数据');
    },
    enterGameLink: function(gameList) {
      console.log(gameList);
      console.log(this.GameLists);
      this.GameData.GameAPIVendor = gameList.GameApiNo;
      this.GameData.GameCode = gameList.GameCode;
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
    },
    EnterElectron: function(gameList) {
      // this.$route.params.GameApiNo = num;
      for (let i = 0; i < this.GameLists.length; i++) {
        console.log(this.GameLists[i].GameApiNo);
        console.log('-------------------------------------------66666666666');
        console.log(this.GameLists[i].GameTypeNo);
        if (
          this.GameLists[i].GameApiNo === gameList.GameApiNo &&
          this.GameLists[i].GameTypeNo === gameList.GameTypeNo
        ) {
          EventBus.$emit('GameApiNo', gameList.GameApiNo);
          this.$router.push({ name: 'Electronic' });
        }
      }
      this.$router.push({ name: 'Electronic' });
    }
  }
};
</script>
