<template>
	<div class="number-page clearfix">
		<i class="number-page-btn number-page-left"></i>
		<div class="number-page-number">
			<a class="on">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
		</div>
		<i class="number-page-btn number-page-right"></i>
	</div>
</template>
