<template>
		<div>
		<!--logo-->
		<ul class="logo-lists clearfix">
			<li class="on"><img src="/static/images/web/PartnerLogo/bgdeep/v-logo25.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo17.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo18.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo1.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo12.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo13.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/esports_bull_logo.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo26.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo14.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo27.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/IG_lotto_logo.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo24.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo19.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo17.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo21.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo29.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo20.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo23.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo22.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo24.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/kz_logo.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo28.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/SpG.png"></li>
			<li><img src="/static/images/web/PartnerLogo/bgdeep/v-logo16.png"></li>
		</ul>
	</div>	
</template>
