<template>
  <div class="activity-detail-content">
    <div class="activity-detail-banner">
      <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/activityList.mp4'"
        class="sy15-activity-video activity-banner-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
      <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/activity.mp4'"
        class="activity-banner-video sy28-activity-video"
        autoplay="autoplay"
        width="100%"
        height="1200"
        loop="loop"
        muted
      ></video>
      <div class="index-content">
        <div class="enter-btn">
          <a class="txt">{{$t('message.understanding_details')}}</a>
        </div>
      </div>
    </div>
    <div class="activity-detail-page">
      <div class="activity-detail-page-box">
        <div class="activity-detail-JumpPage">
          <section class="activity-detail-top">
            <h2 class="activity-detail-top-title">
              <p class="text">{{$t('message.activity_event_details')}}</p>
              <span class="desc">ACTIVITY DETAILS</span>
            </h2>
            <h2 class="activity-detail-crosswiseTitle">
              {{$t('message.discount_activity_list')}}
              <i>></i>
              {{$t('message.activity_event_details')}}
            </h2>
            <router-link
              :to="{ name: 'ActivityList'}"
              class="back-btn"
            >{{$t('message.activity_return')}}</router-link>
          </section>
          <div class="activity-detail-main" v-if="this.$route.params.ID >= 0">
            <dl class="activity-detail-main-top clearfix">
              <dt class="activity-detail-title">{{PromotionDetail.Name}}</dt>
              <dd
                class="activity-detail-time"
              >{{$t('message.activity_activity_time')}}：{{PromotionDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{PromotionDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</dd>
            </dl>
            <div class="activity-detail-main-cont" id="activity-detail-main-cont">
              <div class="activity-detail-main-noScrollBar">
                <img
                  v-if="ActLogoFlag == true"
                  :src="Resource + PromotionDetail.ActLogo"
                  class="activity-detail-img"
                />
                <p class="activity-detail-text activity-list-style" v-html="ActivityContent"></p>
              </div>
            </div>
          </div>
        </div>
        <a
          class="activity-btn mar-auto"
          v-show="OtherActivityData"
          v-on:click="ToRechargePage(1)"
        >{{$t('message.activity_enter_deposits')}}</a>
        <a
          class="activity-btn mar-auto"
          v-show="!OtherActivityData"
          @click="ToRechargePage(1)"
        >{{$t('message.activity_enter_deposits')}}</a>
      </div>
    </div>
    <!--弹窗选择支付方式 2018.09.21-->
    <div
      id="informationForm"
      class="pub_alert_box tel_alert_box re_h details_alert_box"
      style="display: none;width: 406px;height: 217px;"
    >
      <span class="cover"></span>
      <form name="InformationForm" novalidate="novalidate">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p class="p_blue">{{$t('message.activity_deposit_method')}}</p>
          <p>{{$t('message.activity_optimal')}}</p>
        </div>
        <div class="alert_btn_both">
          <a
            class="btn2 information_btn"
            style="margin: 10px auto;"
            href="javascript:void(0);"
            @click="ToRechargePage(1)"
          >{{$t('message.member_deposit_now')}}</a>
          <!--
          <a
            class="btn2"
            v-if="this.CompAcctCnt != 0"
            href="javascript:void(0);"
            @click="ToRechargePage(2)"
          >{{$t('message.activity_company_income')}}</a>
          -->
          <a
            class="btn1"
            v-if="this.CompAcctCnt == 0 && this.OnlinePaymentAcctCnt == 0"
          >{{$t('message.activity_open_function')}}</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { ActivityDetailContent } from "@/mod/k04/assets/scripts/comTest/main/activity/activityDetailContent.js"
export default {
  mixins: [ActivityDetailContent]
}
</script>