<template>
  <div>
    <ul class="input_field deposit_input li_top">
      <li
        class="clearfix"
        v-if="DinancialChannelData.DType === 1 && DinancialChannelData.BankTypeId === 1"
      >
        <div class="input_lf">{{$t('message.member_bank_name')}}：</div>
        <div class="input_rt input_rt_input">
          <input
            v-if="this.CurrencyNo === 1"
            type="text"
            name="DepositBankCode"
            v-model="DinancialData.BankCode"
            v-validate="{ rules: { regex:Reg.BankNickName, required: true }}"
          />

          <div class="down deposit-drop" v-else>
            <div
              class="d_course"
              @click="ShowDropDown('bankListBox')"
              :title="DinancialData.BankName"
            >
              {{DinancialData.BankName | simpleContent(28)}}
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
            </div>

            <div class="down_box bankListBox">
              <a
                class="down_list"
                v-for="(Item, index) in BankCodeList.BankList"
                :key="index"
                @click="DinancialData.BankName=Item.BankName,DinancialData.BankCode=Item.BankCode"
              >{{Item.BankName}}</a>
            </div>
          </div>
          <i class="tip1" v-show="this.BankSelect === false">{{$t('message.agency_please_choose')}}</i>
          <i
            class="tip1"
            v-show="errors.has('DepositBankCode')"
          >{{$t('message.member_BankCode_tip')}}</i>
        </div>
      </li>
      <li
        class="clearfix"
        v-if="DinancialChannelData.DType === 1 && DinancialChannelData.BankTypeId === 1"
      >
        <div class="input_lf">{{$t('message.member_account_number')}}：</div>
        <div class="input_rt input_rt_input">
          <input
            type="text"
            name="DepositBankCard"
            v-model="DinancialData.BankCard"
            v-validate="{ rules: { regex:Reg.BankAccount, required: true }}"
          />
          <i
            class="tip1"
            v-show="errors.has('DepositBankCard')"
          >{{$t('message.member_word_number')}}</i>
        </div>
      </li>
      <li class="clearfix">
        <div class="input_lf">{{$t('message.member_deposit_amount')}}：</div>
        <div class="input_rt input_rt_input">
          <input
            type="text"
            name="DepositAmount"
            :readonly="DinancialChannelData.IsManualInputAmt!==1?'readonly': false"
            v-model="DinancialData.Amount"
            v-validate="{ rules: { regex:Reg.MoneyAmount, between:[DinancialChannelData.L_TransAmt, DinancialChannelData.H_TransAmt], required: true }}"
          />
          <span class="dinancial-user-limit">
            {{$t('message.member_lowest_amount')}}
            <i>{{this.DinancialChannelData.L_TransAmt}}</i>
            ,{{$t('message.member_highest')}}
            <i>{{this.DinancialChannelData.H_TransAmt}}</i>
          </span>
          <i
            class="tip1"
            v-show="errors.has('DepositAmount')"
          >{{$t('message.member_digital_account')}}{{DinancialChannelData.L_TransAmt}}-{{DinancialChannelData.H_TransAmt}}</i>
        </div>
      </li>
      <li class="clearfix" v-if="DinancialLimit !== ''">
        <div class="input_lf"></div>
        <div class="input_rt input_rt_input dinancial-limit">
          <span
            v-for="(item, index) in DinancialLimit"
            :class="DinancialData.Amount==DinancialLimit[index]?'hasblock':''"
            @click="FastFillIn(DinancialLimit[index])"
          >{{DinancialLimit[index]}}</span>
        </div>
      </li>
      <li>
        <a class="gradual-color-btn" @click="CheckFormData()">{{$t('message.member_deposit_now')}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
export default {
  props: {
    DinancialChannelData: undefined,
    DinancialLimit: undefined,
    BankCodeList: undefined
  },
  data() {
    return {
      Reg: Regex.Regex,
      // From表单数据
      DinancialData: {
        Amount: undefined, // 金额
        DepositorName: undefined, // 匯款人姓名 (存款人姓名)
        BankName: '',
        BankCode: '', // 银行名称（目前越南站需要使用，如：ABC）
        BankCard: '' // 用户银行卡卡号
      },
      BankSelect: true,
      CurrencyNo: 1
    };
  },
  created: function() {
    this.ClearFromData();
    this.BindingEvent();
    EventBus.$on('onlineForm', () => {
      this.ClearFromData();
    });
  },
  methods: {
    // 快速填入金额
    FastFillIn: function(data) {
      this.DinancialData.Amount = data;
    },
    // 所有欄位驗證
    validate: function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate
    // 提交订单时先验证输入数据是否符合
    CheckFormData: async function() {
      if (
        this.DinancialChannelData.BankTypeId === 1 &&
        this.BankCodeList.CurrencyNo !== 1 &&
        (this.DinancialData.BankCode ===
          this.BankCodeList.BankList[0].BankName ||
          this.DinancialData.BankCode === '')
      ) {
        this.BankSelect = false;
        return;
      } else {
        this.BankSelect = true;
      }
      // 表单输入是否规范
      const result = await this.validate();

      if (result === false || this.BankSelect === false) {
        return;
      }
      // 校验存款次数
      // let validateDepositNumber = await this.validateDepositNumber();
      // if (!validateDepositNumber) return;
      this.$parent.WebOpenMessageWindow(this.DinancialData);
    },
    // 清空表单内容
    ClearFromData: function() {
      this.DinancialData.Amount = undefined;
      this.DinancialData.DepositorName = undefined;
      this.DinancialData.BankCode = '';
      this.DinancialData.BankName = '';
      this.DinancialData.BankCard = '';
      this.BankSelect = true;
      this.$validator.reset();
    },
    // 顯示紀錄類型選單
    ShowDropDown: function(targetClass) {
      $('.down_box').slideUp(100);
      if (this.DropDowning !== targetClass) {
        $('.' + targetClass).slideDown(300);
        this.DropDowning = targetClass;
      } else {
        $('.' + targetClass).slideUp(100);
        this.DropDowning = '';
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function(event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(100);
        this.DropDowning = '';
      }
    },
    BindingEvent: function() {
      document.addEventListener('click', this.HideDropDown);
    }
  },
  watch: {
    BankCodeList: function() {
      if (
        this.BankCodeList.CurrencyNo !== 1 &&
        this.BankCodeList.CurrencyNo !== undefined &&
        this.BankCodeList.CurrencyNo !== ''
      ) {
        this.DinancialData.BankName = this.BankCodeList.BankList[0].BankName;
        this.CurrencyNo = this.BankCodeList.CurrencyNo;
      } else {
        this.DinancialData.BankCode = '';
      }
    }
  }
};
</script>
