<template>
  <div>
    <ul class="input_field deposit_input li_top">
      <li class="clearfix">
        <div class="input_lf">{{$t('message.member_name_depositor')}}：</div>
        <div class="input_rt input_rt_input">
          <input
            type="text"
            name="DepositorName"
            v-model.trim="DinancialData.DepositorName"
            v-validate="{ rules: { regex:Reg.NickBankName, required: true }}"
          />
          <i class="tip1" v-show="errors.has('DepositorName')">{{$t('message.member_bankInfo_tip')}}</i>
        </div>
      </li>
      <li class="clearfix">
        <div class="input_lf">{{$t('message.member_deposit_amount')}}：</div>
        <div class="input_rt input_rt_input">
          <input
            type="text"
            name="DepositAmount"
            :readonly="DinancialChannelData.IsManualInputAmt!==1?'readonly': false"
            v-model="DinancialData.Amount"
            v-validate="{ rules: { regex:Reg.MoneyAmount, between:[DinancialChannelData.L_TransAmt, DinancialChannelData.H_TransAmt], required: true }}"
          />
          <span class="dinancial-user-limit">
            {{$t('message.member_lowest_amount')}}
            <i>{{this.DinancialChannelData.L_TransAmt}}</i>
            ,{{$t('message.member_highest')}}
            <i>{{this.DinancialChannelData.H_TransAmt}}</i>
          </span>
          <i
            class="tip1"
            v-show="errors.has('DepositAmount')"
          >{{$t('message.member_digital_account')}}{{DinancialChannelData.L_TransAmt}}-{{DinancialChannelData.H_TransAmt}}</i>
        </div>
      </li>
      <li class="clearfix" v-if="DinancialLimit !== ''">
        <div class="input_lf"></div>
        <div class="input_rt input_rt_input dinancial-limit">
          <span
            v-for="(item, index) in DinancialLimit"
            :class="DinancialData.Amount==DinancialLimit[index]?'hasblock':''"
            @click="FastFillIn(DinancialLimit[index])"
          >{{DinancialLimit[index]}}</span>
        </div>
      </li>
      <li>
        <a class="gradual-color-btn" @click="CheckFormData()">{{$t('message.member_deposit_now')}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
export default {
  props: {
    DinancialChannelData: undefined,
    DinancialLimit: undefined
  },
  data() {
    return {
      Reg: Regex.Regex,
      // From表单数据
      DinancialData: {
        Amount: undefined, // 金额
        DepositorName: undefined, // 匯款人姓名 (存款人姓名)
        BankCode: '', // 银行名称（目前越南站需要使用，如：ABC）
        BankCard: '' // 用户银行卡卡号
      }
    };
  },
  created: function() {
    this.ClearFromData();
    EventBus.$on('companyForm', () => {
      this.ClearFromData();
    });
  },
  methods: {
    // 快速填入金额
    FastFillIn: function(data) {
      this.DinancialData.Amount = data;
    },
    // 所有欄位驗證
    validate: function() {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate
    // 提交订单时先验证输入数据是否符合
    CheckFormData: async function() {
      // 表单输入是否规范
      const result = await this.validate();
      console.log('5215111111111122222333');
      console.log(result);
      if (!result) {
        return;
      }
      // 校验存款次数
      // let validateDepositNumber = await this.validateDepositNumber();
      // if (!validateDepositNumber) return;
      // this.DinancialActivity = undefined; // 进入活动选择页面时清空活动数据
      this.$parent.WebOpenMessageWindow(this.DinancialData);
       $('#FinancialActivity').perfectScrollbar();
    },
    // 清空表单内容
    ClearFromData: function() {
      this.DinancialData.Amount = undefined;
      this.DinancialData.DepositorName = undefined;
      this.DinancialData.BankCode = '';
      this.DinancialData.BankCard = '';
      this.$validator.reset();
    }
  }
};
</script>
