<template>
  <div class="psl_tab_cont">
    <div v-if="this.OnlinePaymentAcctCnt == 0 && this.CompAcctCnt == 0">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/depositPC_03.png'" />
    </div>
    <div class="active_select" v-if="this.OnlinePaymentAcctCnt != 0 || this.CompAcctCnt != 0">
      <ul class="active_list no_active_list clearfix">
        <li style="width: 580px;height: 330px;cursor: initial;">
          <img
            style="width: 580px;height: 330px;"
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/MemberNew/' + (this.DepositType===1?'p_deposit_online':'p_deposit_company') + '.png?VersionCode'"
          />
        </li>
      </ul>
      <div class="pub_btn_both style4" style="padding-left: 20px;">
        <a
          class="btn1 hasblock enter_deposit"
          href="javascript:void(0);"
          @click="DoDeposit('yes')"
        >{{$t('message.activity_enter_deposits')}}</a>
        <!-- <a class="btn1 hasblock enter_deposit" href="javascript:void(0);" @click="DoDeposit('yes');SelectItemID=undefined;SelectItem=undefined;" v-if="HaveNoSelectedBonus===702" style="margin-left: 50px;">不参与活动</a> -->
      </div>
    </div>
  </div>
</template>

<script>
import URLService from '@/assets/scripts/common/URLService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
// import BLDef from '@/assets/scripts/common/BLDef.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';

export default {
  data() {
    return {
      DisplayActivityList: [{}],
      SelectItemID: undefined, // 选中活动的index
      SelectItem: undefined, // 选中的活动
      CommUtility: CommUtility, // 定义引入的CommUtility

      DefaultSelectItemID: undefined,
      DefaultSelectItem: undefined
    };
  },
  props: {
    OnlinePaymentAcctCnt: undefined,
    CompAcctCnt: undefined,
    DepositType: undefined // 选择支付方式 1:在线支付 2:公司入款
  },
  methods: {
    // 获取URL参数
    GetParams: function() {
      if (this.$route.params.Data != undefined) {
        // 取得注册成功页面带进来的选择资讯
        const selectData = URLService.GetObjFromUrlParameter(
          this.$route.params.Data
        );
        this.DefaultSelectItemID =
          this.DepositType +
          '_' +
          selectData.ActivityType +
          '_' +
          selectData.BonusSerialNo;
        this.DefaultSelectItem = selectData;
      }
    },

    // 进入存款
    DoDeposit: function(HaveNoSelectedBonus) {
      if (HaveNoSelectedBonus === 'yes') {
        const HaveNoSelectedBonusData = JSON.parse(
          localStorage.getItem('HaveNoSelectedBonusData')
        );
        // 不参与红利活动
        const SelectItem = {
          Name: HaveNoSelectedBonusData.Name,
          VBonusRatio: HaveNoSelectedBonusData.VBonusRatio,
          MinDepositAmt: HaveNoSelectedBonusData.MinDepositAmt,
          MaxDepositAmt: HaveNoSelectedBonusData.MaxDepositAmt,
          VRakeAmtRate: HaveNoSelectedBonusData.VRakeAmtRate,
          BonusSerialNo: HaveNoSelectedBonusData.BonusSerialNo,
          ActivityType: HaveNoSelectedBonusData.ActivityType,
          ActType: HaveNoSelectedBonusData.ActType
        };
        localStorage.setItem('ActivityDatas', JSON.stringify(SelectItem));
        this.$parent.$parent.SwitchStep(2, this.DepositType, SelectItem);
      } else {
        console.log(this.SelectItem);
        // 2018.11.22 SeyoChen 正常流程选择
        localStorage.setItem('ActivityDatas', JSON.stringify(this.SelectItem));
        this.$parent.$parent.SwitchStep(2, this.DepositType, this.SelectItem);
      }
    }
  },
  created: function() {
    const self = this;
    EventBus.$on('resetSelectedDepositActivity', () => {
      self.SelectItemID = undefined;
      self.SelectItem = undefined;
      this.$parent.$parent.IsShow = false;
    });
    this.GetParams();
    // console.log(this.DisplayActivityList);
  },
  beforeDestroy() {
    EventBus.$off('resetSelectedDepositActivity');
  }
};
</script>
