 <template>
  <div>
    <!-- 取款密码彈窗 -->
    <div id="withdrawPwdForm" class="pub_alert_box pw_alert_box re_h" style="display: none;">
      <!--7版特有-->
      <div class="seven_popup">
        <div name="withdrawPwdForm">
          <div class="descr_title">
            <p>取款密码</p>
            <a
              class="icon_close"
              @click="CommUtility.WebCloseUniqueForm('withdrawPwdForm');ResetPwdForm();"
              href="javascript:void(0);"
            ></a>
          </div>
          <ul class="input_field style2">
            <li>
              <div class="input_rt">
                <input
                  type="password"
                  placeholder="请输入取款密码"
                  name="WithdrawApplyWithdrawPwd"
                  v-model="WithdrawData.WithdrawPwd"
                  v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                />
                <p
                  class="tip1 qc-tip tip_wrong"
                  v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
                >仅可以使用数字, 字数长度6</p>
                <p class="tip1 qc-tip tip_wrong" v-show="CurrentWithdrawPwdErrCnt>0">
                  *取款密码输入错误
                  <em>{{CurrentWithdrawPwdErrCnt}}</em>次，错误3次时账户锁定
                </p>
              </div>
            </li>
          </ul>
          <div class="alert_btn_both" style="margin-bottom: 0;">
            <a class="btn1 btn_withdrawal" @click="SubmitWithdraw();" href="javascript:void(0);">
              <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
            </a>
          </div>
          <a
            class="forget_pw psw_forget"
            @click="OpenNewBox($ServeLink)"
            href="javascript:void(0);"
            style="margin-bottom: 20px;"
          >{{$t('message.login_forget_password')}}</a>
        </div>
      </div>
    </div>
    <!-- 取款密码错误后弹出账户锁定 -->
    <div id="pwdErrorForm" class="pub_alert_box locking_alert_box" style="display: none;">
      <!--7版特有-->
      <div class="seven_popup">
        <div class="descr_title no_line clearfix">
          <a
            class="icon_close"
            href="javascript:void(0);"
            @click="CommUtility.WebCloseUniqueForm('pwdErrorForm');"
          ></a>
        </div>
        <div class="descr_p">
          <p class="p_red">账号锁定</p>
          <p>
            您的取款密码输入错误已3次，
            <br />取款功能已被锁定，请联系客服解锁
          </p>
        </div>
        <div class="alert_btn_both">
          <a class="btn1" @click="OpenNewBox($ServeLink)" href="javascript:void(0);">
            <i class="comAlertBtn">联系客服</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { initWpCf } from '@/assets/scripts/comTest/sub/member/withdrawal/WithdrawPwdConfirm.js';
export default {
  mixins: [initWpCf]
};
</script>
