<template>
  <div>
    <!--遮罩-->
    <div
      class="transfer_cover alert_box_content mould_alert_box re_h"
      style="width: 420px;"
      id="agency_transfer_widthdrawal"
    >
      <span class="alert_close" @click="HideIcome()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!--步骤一-->
      <div class="t_c_content">
        <h2 class="t_c_title">
          <span>{{$t('message.agency_transfer_operation')}}</span>
        </h2>
        <div class="t_c_main input_field" v-show="Step">
          <div class="t_c_item clearfix" style="position: relative;">
            <span class="input_lf">{{$t('message.agency_transfer_account')}}：</span>
            <div class="input_rt">
              <p style="line-height:30px">{{this.Acct}}</p>
            </div>
          </div>

          <div>
            <div class="t_c_item">
              <span class="input_lf">{{$t('message.agency_convertible_amount')}}：</span>
              <span style="text-align: left;line-height:30px">{{this.MemberBalance}}</span>
            </div>
            <div class="t_c_item clearfix">
              <span class="input_lf">{{$t('message.agency_transfer_amount')}}：</span>
              <div class="input_rt" style="position: relative">
                <input
                  type="text"
                  v-model="TransData.VAmount"
                  :placeholder="$t('message.agency_entertransfer_amount')"
                  name="VAmount"
                  v-validate="{ rules: { regex:Reg.MoneyAmount, required: true }}"
                />
                <i class="tip-box" v-show="errors.has('VAmount') && fields.VAmount.touched"></i>
                <i class="tip-error" v-show="errors.has('VAmount') && fields.VAmount.touched"></i>
                <i
                  class="tip1"
                  v-show="errors.has('VAmount') && fields.VAmount.touched && TransData.VAmount!==undefined"
                >{{$t('message.agency_greater_than')}}</i>
                <i
                  class="tip1"
                  style="width:300px;"
                  v-show="this.TransData.VAmount > this.MemberBalance"
                >{{$t('message.agency_fill_again')}}</i>
              </div>
            </div>
            <div class="t_c_item clearfix">
              <span class="input_lf">{{$t('message.agency_remarks_information')}}：</span>
              <div class="text input_rt">
                <textarea
                  style="width: 100%;"
                  name="Remark"
                  v-model="TransData.Remark"
                  v-validate="{ rules: { regex:Reg.Remark }}"
                  rows="3"
                  cols="28"
                ></textarea>
              </div>
              <i
                class="tip1"
                style="margin-left: 80px;"
                v-show="errors.has('Remark')"
              >{{$t('message.agent_common_symbols')}}</i>
            </div>
          </div>
        </div>
        <div class="t_c_btn">
          <span @click="HideIcome()">{{$t('message.member_cancel')}}</span>
          <span @click="Next()">{{$t('message.agency_next_step')}}</span>
        </div>
      </div>

      <!--步骤二-->
      <div class="t_c_content" v-if="!Step">
        <h2 class="t_c_title">
          <span>{{$t('message.agency_transfer_confirmation')}}</span>
        </h2>
        <div class="t_c_main input_field">
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_transfer_amount')}}：</span>
            <span style="text-align: left;line-height:30px">{{this.TransData.VAmount}}</span>
          </div>
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_transfer_user')}}：</span>
            <span style="text-align: left;line-height:30px">{{this.Acct}}</span>
          </div>
          <div class="t_c_item t_c_remark">
            <span class="input_lf">{{$t('message.agency_remarks_information')}}：</span>
            <div class="text input_rt" style="margin-bottom: 10px;">
              <textarea
                style="width: 100%;"
                rows="3"
                cols="28"
                readonly
                :value="this.TransData.Remark"
              ></textarea>
            </div>
          </div>
          <div class="t_c_item">
            <span class="input_lf">{{$t('message.agency_wallet_password')}}：</span>
            <div class="input_rt">
              <input
                type="password"
                v-model="TransData.Password"
                name="Password"
                v-validate="{ rules: { regex:Reg.WithdrawPwd }}"
                :placeholder="$t('message.agency_capital_code')"
              />
              <i class="tip-box" v-show="errors.has('Password') && fields.Password.touched"></i>
              <i class="tip-error" v-show="errors.has('Password') && fields.Password.touched"></i>
              <i
                class="tip1"
                v-show="errors.has('Password') && fields.Password.touched"
              >{{$t('message.reg_use_numbers')}}</i>
              <i
                class="tip1"
                v-show="CurrentTranferPwdFlag && PwdErrCnt>0"
              >{{$t('message.member_drawing_pwd_tip')}}{{PwdErrCnt}}{{$t('message.member_transfer_lock')}}</i>
            </div>
          </div>
        </div>
        <div class="t_c_btn">
          <span @click="Prev()">{{$t('message.agency_last_step')}}</span>
          <span @click="AuthorizeUserTransactionAdd()">{{$t('message.agency_transfer_forward')}}</span>
        </div>
      </div>
    </div>

    <div id="MessageAccount_widthdrawal" class="alert_box_content mould_alert_box re_h">
      <span class="alert_close" @click="HideWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p class="p_blue">{{NotifyMessage}}</p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="HideWindow()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
.tip1 {
  max-width: 250px !important;
}
</style>

<script>
import Regex from "scripts/common/CommDef"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import CommUtility from "@/assets/scripts/common/CommUtility"
import EventBus from "scripts/common/EventBus"
export default {
  props: {
    MemberBalance: undefined,
    IsProfitLoss: false
  },
  data() {
    return {
      Reg: Regex.Regex,
      AuthorizeUserTransactionList: [],
      Acct: undefined, // 当前账号的 会员/代理 名称
      Step: true,
      TransData: {
        VAmount: undefined,
        Remark: "",
        Password: undefined
      },
      MemberList: undefined,
      TipsShow: {
        MemberPsw: false
      },
      NotifyMessage: this.$t("message.agency_successful_operation"),
      TransFalg: true,
      TransState: false,
      CurrentTranferPwdFlag: false,
      PwdErrCnt: undefined
    }
  },
  created: function () {
    this.GetAgencyAcct()
    this.LoadAuthorizeUserList()
  },
  methods: {
    // 获取当前代理账号
    GetAgencyAcct: function () {
      this.Acct = localStorage.getItem("Acct")
    },
    // 查询当前账户的LoginID
    LoadAuthorizeUserList: async function () {
      const MemberLoginID = {
        To_MemberLoginID: localStorage.getItem("Acct")
      }
      const retData = await AgencyCenterService.LoadAuthorizeUserList(MemberLoginID)
      if (retData.Ret === 0) {
        this.MemberList = retData.Data.MemberList
        console.log("--------请求成功--------")
        console.log(JSON.stringify(this.MemberList))
      } else {
        this.MemberList = undefined
        console.log("--------请求失败--------")
      }
    },
    AuthorizeUserTransactionAdd: async function () {
      this.CurrentTranferPwdErrCnt = localStorage.getItem("PwdErrCntNum")
      console.log(this.CurrentTranferPwdErrCnt)
      if (this.CurrentTranferPwdErrCnt >= 3) {
        this.Step = true
        CommUtility.WebClosealertboxForm("agency_transfer_widthdrawal")
        CommUtility.WebShowAlertboxForm("tranferPwdErrorForm")
        return
      }
      console.log(this.TransFalg)
      if (this.TransFalg) {
        console.log("12qw12")
        this.TransFalg = false
        Object.keys(this.fields).forEach((key) => {
          this.fields[key].touched = true
        })
        const result = await this.$validator.validateAll()
        if (result === false) {
          return
        }
        const inputData = {
          To_MemberID: undefined,
          Amount: this.TransData.VAmount,
          Remark: this.TransData.Remark,
          PassWord: this.TransData.Password
        }
        console.log("11111111111test111111111:" + JSON.stringify(this.MemberList))
        console.log("--------请求成功0000000--------" + this.MemberList[0].MemberID)
        inputData.To_MemberID = parseInt(this.MemberList[0].MemberID)
        console.log("--------请求成功11111111--------")
        const retData = await AgencyCenterService.AuthorizeUserTransactionAdd(inputData)
        console.log("11111111111test222222222" + retData)

        this.NotifyMessage = retData.Message

        this.PwdErrCnt = retData.Data.PwdErrCnt
        localStorage.setItem("PwdErrCntNum", retData.Data.PwdErrCnt)
        if (retData.Ret === 0) {
          this.Step = true
          this.TransFalg = true
          this.TransState = true
          this.TransData.VAmount = undefined
          this.TransData.Password = ""
          this.TransData.Remark = ""
          this.$validator.reset()
          this.$parent.TransferOperationErrePaw()
          if (this.IsProfitLoss === false) {
            this.$parent.TransferOperationQuery()
          } else {
            this.$parent.GetTeamVariousTotalData()
          }
          CommUtility.WebClosealertboxForm("agency_transfer_widthdrawal")
          CommUtility.WebShowAlertboxForm("MessageAccount_widthdrawal")
        } else {
          this.Step = false
          this.TransFalg = true
          this.CurrentTranferPwdFlag = true
          // CommUtility.WebShowAlertboxForm('MessageAccount_widthdrawal');
        }
      } else {
        console.log("12qw")
        EventBus.$emit("GlobalLoadingTrigger", true)
        if (this.TransState) {
          EventBus.$emit("GlobalLoadingTrigger", false)
          this.TransState = false
        }
      }

      console.log("11111111111test222233333222")
    },
    // 關閉彈窗
    HideWindow: function () {
      CommUtility.WebClosealertboxForm("MessageAccount_widthdrawal")
    }, // end HideEditPhone
    // 關閉彈窗
    HideIcome: function () {
      this.Step = true
      this.MemberList = undefined
      this.TransData.VAmount = undefined
      this.TransData.Remark = ""
      this.TransData.Password = undefined
      this.$validator.reset()
      CommUtility.WebClosealertboxForm("agency_transfer_widthdrawal")
    }, // end HideEditPhone
    // 下一步
    Next: async function () {
      this.CurrentTranferPwdFlag = false
      if (this.TransData.VAmount > this.MemberBalance) {
        return
      }

      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      this.Step = false
    }, // end ShowIncome
    // 上一步
    Prev: function () {
      this.Step = true
    } // end ShowIncome
  }
}
</script>
