<template>
  <div class="member-deposit-content">
    <img
      v-if="OnlinePaymentAcctCnt == 0 && CompAcctCnt == 0"
      :src="
        $ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + '/MemberNew/personal_wait.png?VersionCode'
      "
    />
    <member-deposit-select-activity
      :OnlinePaymentAcctCnt="this.OnlinePaymentAcctCnt"
      :CompAcctCnt="this.CompAcctCnt"
      :HaveNoSelectedBonus="this.HaveNoSelectedBonus"
      :RecordShow="this.RecordShow"
      :SelectedPaymentType="this.SelectedPaymentType"
      :HasActivity="this.HasActivity"
      v-show="!IsShow"
    ></member-deposit-select-activity>
    <div class="deposit_block" v-show="IsShow && RecordShow">
      <member-deposit-selected-bonus
        :BonusWayType="this.SelectedPaymentType"
        :ActivityType="this.CurSelectedActivity.ActivityType"
        :ActivityName="this.ActivityName"
        :ActivityDetail="this.CurActivityDetail"
        :HasActivity="this.HasActivity"
      ></member-deposit-selected-bonus>
      <member-deposit-online-select-pay
        v-if="this.SelectedPaymentType == 1 && this.CurSelectedActivity.BonusSerialNo != undefined"
        :CurSelectedActivity="this.CurSelectedActivity"
        v-on:CurrentPageData="CurrentPageData"
      ></member-deposit-online-select-pay>
      <member-deposit-remittance
        v-if="this.SelectedPaymentType == 2 && this.CurSelectedActivity.BonusSerialNo != undefined"
        :CurSelectedActivity="this.CurSelectedActivity"
        v-on:CurrentPageData="CurrentPageData"
      ></member-deposit-remittance>
    </div>
    <member-deposit-record v-if="RecordShow == false"></member-deposit-record>
    <member-deposit-amount-limit></member-deposit-amount-limit>
    <!--弹窗提示公司入款未开通 2018.09.27-->
    <div id="informationForm" class="pub_alert_box tel_alert_box re_h" style="display: none; width: 350px;">
      <span class="cover"></span>
      <form name="InformationForm" novalidate="novalidate">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p class="p_blue">公司入款尚未开放</p>
          <p>将为你转入在线支付</p>
        </div>
        <div class="alert_btn_both">
          <a class="btn1" style="margin-right: 10px;" href="javascript:void(0);" @click="CloseWindow()">
            <i class="comAlertBtn">{{ $t("message.member_ascertain") }}</i>
          </a>
        </div>
      </form>
    </div>
    <!--弹窗提示公司入款未开通 2018.09.27 end-->
  </div>
</template>

<script>
import { initDeOt } from "../../../assets/scripts/comTest/main/member/deposit.js"
export default {
  mixins: [initDeOt]
}
</script>
