.theme02 {

    /*真人视讯*/
    .live-content {
        height: 1000px;
        position: relative;
        background-size: cover;

        .live-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .live-logo-page {
            width: 1060px;
            position: absolute;
            top: 200px;
            left: 50%;
            margin-left: -530px;

            .live-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .live-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .live-logo-lists {
                font-size: 0;
                height: 630px;
                overflow: hidden;

                li {
                    width: 340px;
                    height: 138px;
                    text-align: center;
                    display: block;
                    background: #aed3f8;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(129, 222, 255, .6);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .live-logo-footer {
                display: none;
            }
        }
    }

    /*真人视讯 end*/

    /*电子游戏*/
    .ele-content {
        height: 995px;
        position: relative;
        background-size: cover;
        margin-top: 95px;

        .ele-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .ele-logo-page {
            width: 1086px;
            height: 969px;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -543px;

            .ele-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .ele-logo-top {
                overflow: hidden;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }
            }

            .ele-logo-main {
                .ele-vendor-lists {
                    overflow: hidden;

                    .ele-vendor-li {
                        width: 110px;
                        height: 45px;
                        float: left;
                        display: block;
                        line-height: 45px;
                        text-align: center;
                        background: rgba(112, 216, 255, .2);
                        margin-right: 12px;
                        margin-bottom: 5px;
                        font-size: 0;
                        cursor: pointer;
                        position: relative;

                        img {
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            max-width: 100%;
                        }

                        &:hover,
                        &.on {
                            background: #70d8ff;
                        }


                    }

                    li:nth-child(9) {
                        margin-right: 0px;
                    }
                }

                .ele-search-section {
                    overflow: hidden;

                    .tip1 {
                        float: right;
                    }
                }

                .ele-search {
                    width: 264px;
                    height: 42px;
                    border: none;
                    float: right;
                    background: #d4cdd1;

                    .ele-search-btn {
                        font-size: 0;
                        width: 17px;
                        height: 17px;
                        float: right;
                        margin-top: 13px;
                        margin-right: 6px;
                    }

                    input {
                        width: 220px;
                        height: 40px;
                        line-height: 40px;
                        border: 0;
                        color: #000;
                        font-size: 16px;
                        padding: 0 10px;
                        background-color: transparent;
                        outline: none;

                        &::-webkit-input-placeholder,
                        &::-moz-placeholder,
                        &:-ms-input-placeholder {
                            font-size: 16px;
                            color: #585357;
                        }
                    }
                }

                .ele-type-lists {
                    font-size: 16px;
                    color: #fff;

                    dt {
                        float: left;
                        line-height: 16px;
                        margin-top: 20px;
                    }

                    dd {
                        float: left;
                        margin-top: 15px;
                        padding-bottom: 10px;
                        border-right: 1px solid #fff;
                        padding: 0 15px;
                        /* height: 16px; */
                        line-height: 16px;

                        a {
                            padding: 5px 10px;
                            font-size: 16px;
                            display: block;
                            color: #fff;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        &.on,
                        &:hover {
                            a {
                                padding: 5px 10px;
                                background: #e95730;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }

            .ele-logo-lists {
                margin-top: 30px;
                font-size: 14px;
                line-height: 26px;
                text-indent: 30px;
                vertical-align: top;

                .ele-logo-li {
                    display: block;
                    width: 232px;
                    position: relative;
                    overflow: hidden;
                    float: left;
                    margin-left: 52px;
                    margin-bottom: 30px;

                    a {
                        display: block;
                        text-align: center;
                        text-align: -webkit-center;
                        // background:rgba(217,223,227, .1);

                        b,
                        img {
                            transition: all 1s;
                            -moz-transition: all 1s;
                            -ms-transition: all 1s;
                            -webkit-transition: all 1s;
                            display: block;
                            height: 125px;
                        }

                        img {
                            width: auto;
                            height: 125px;
                            max-width: 100%;
                            margin: 0 auto;
                        }

                        b {
                            font-weight: normal;
                            width: 100%;
                            height: 38px;
                            line-height: 38px;
                            text-align: center;
                            color: #fff;
                            font-size: 16px;
                            background: rgba(86, 121, 218, .8);
                            text-indent: 0;
                        }

                        i.shadow {
                            width: 100%;
                            height: 125px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            background: #000;
                            z-index: 1;
                        }

                        span {
                            display: block;
                            position: absolute;
                            left: 80px;
                            top: 30px;
                            opacity: 0;
                            width: 69px;
                            height: 46px;
                            opacity: 0;
                            z-index: 11;
                        }

                        em {
                            text-align: center;
                            font-size: 16px;
                            color: #fff;
                            position: absolute;
                            left: 52px;
                            top: 80px;
                            opacity: 0;
                            border-radius: 3px;
                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;
                            z-index: 1111;
                        }

                        &:hover {
                            i {
                                opacity: .7;
                            }

                            span {
                                opacity: 1;
                            }

                            em {
                                opacity: 1;
                            }
                        }
                    }

                    &:hover {
                        i.shadow {
                            opacity: .7;
                        }
                    }
                }

                li:nth-of-type(4n+1) {
                    margin-left: 0;
                }
            }

            .ele-logo-footer {
                display: none;
            }
        }

        .number-page {
            margin: 10px auto 0;
        }
    }

    /*电子游戏 end*/

    /*体育博彩*/
    .sport-content {
        height: 1000px;
        position: relative;
        background-size: cover;

        .sport-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .sport-logo-page {
            width: 1060px;
            position: absolute;
            top: 200px;
            left: 50%;
            margin-left: -530px;

            .sport-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .sport-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .sport-logo-lists {
                font-size: 0;
                height: 630px;
                overflow: hidden;

                li {
                    width: 340px;
                    height: 138px;
                    text-align: center;
                    display: block;
                    background: #aed3f8;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(129, 222, 255, .6);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
            }

            .sport-logo-footer {
                display: none;
            }
        }
    }

    /*体育博彩 end*/

    /*彩票投注*/
    .lottery-content {
        height: 999px;
        position: relative;
        background-size: cover;

        .lottery-content-banner {
            display: none;

            video {
                display: none;
            }
        }

        .lottery-logo-page {
            width: 1060px;
            position: absolute;
            top: 200px;
            left: 50%;
            margin-left: -530px;

            .lottery-logo-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .lottery-logo-top {
                display: none;

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

            }

            .lottery-logo-lists {
                font-size: 0;
                height: 630px;
                overflow: hidden;

                li {
                    width: 340px;
                    height: 138px;
                    text-align: center;
                    display: block;
                    background: #aed3f8;
                    margin-left: 20px;
                    float: left;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background: rgba(129, 222, 255, .6);
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }

                    a {
                        width: 340px;
                        height: 138px;
                        line-height: 138px;
                        text-align: center;
                        display: block;
                    }

                    // img {
                    //     width: 100%;
                    //     height: auto;
                    //     vertical-align: middle;
                    // }
                }
            }

            .lottery-logo-footer {
                display: none;
            }
        }
    }

    /*彩票投注 end*/

    /*棋牌游戏*/
    .poker-content {
        min-height: 1000px;
        position: relative;
        background: radial-gradient(circle, #40d7fe, #54c7fe);
        overflow: hidden;

        .poker-content-banner {
            background-size: 100%;
            height: 1300px;
            width: 100%;

            video {
                display: none;
            }
        }

        .poker-logo-page {
            width: 1098px;
            margin: -415px auto 18px auto;
            border: 1px solid #b6ffff;
            /* padding-top: 20px; */
            padding: 20px 40px;

            .poker-logo-banner {
                display: none;
            }

            .poker-main-content {
                .poker-logo-banner {
                    display: none;

                    video {
                        display: none;
                    }
                }

                .poker-logo-top {
                    display: none;

                    h2 {
                        display: none;
                    }

                    p {
                        display: none;
                    }
                }

                .poker-logo-lists {
                    font-size: 0;
                    overflow: hidden;

                    li {
                        width: 262px;
                        height: 73px;
                        text-align: center;
                        display: block;
                        background: #aed3f8;
                        margin-right: 16px;
                        float: left;
                        margin-bottom: 16px;
                        cursor: pointer;
                        position: relative;

                        &:nth-child(4n) {
                            margin-right: 0px;
                        }

                        a {
                            width: 262px;
                            height: 73px;
                            line-height: 73px;
                            text-align: center;
                            display: block;
                        }

                        &:hover {
                            background-color: rgba(129, 222, 255, .6);
                        }

                        &:nth-child(6n) {
                            margin-left: 0;
                        }

                        img {
                            max-width: 80%;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                }

                .poker-KingLong,
                .poker-reversal {
                    display: none;
                }

                .poker-logo-footer {
                    display: none;
                }
            }
        }
    }

    /*棋牌游戏 end*/

    /*新闻中心*/
    .news-content {
        margin-bottom: 50px;
        margin-top: 95px;
        min-height: 700px;

        .news-content-banner {
            width: 100%;
            height: 393px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .news-page {
            width: 1000px;
            margin: 40px auto 0;

            .news-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .news-main {
                .news-title-box {
                    display: none;
                }

                .news-main-cont {
                    overflow: hidden;
                    position: relative;
                }

                .news-lists {
                    .news-li {
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        width: 100%;
                        padding: 30px 0;
                        overflow: hidden;

                        .news-img {
                            width: 350px;
                            height: 158px;
                            overflow: hidden;
                            float: left;

                            img {
                                height: 100%;
                                width: auto;
                                max-width: 100%;
                            }
                        }

                        .an-news {
                            width: 620px;
                            margin-left: 30px;
                            float: left;

                            .an-news-title {
                                color: #000;
                                font-size: 20px;
                                cursor: pointer;
                            }

                            .an-news-text {
                                color: #000;
                                font-size: 16px;
                                margin-top: 15px;
                                line-height: 26px;
                            }

                            .an-news-bottom {
                                margin-top: 10px;
                            }

                            .an-news-date {
                                color: #000;
                                margin-left: 6px;
                                font-size: 14px;
                                vertical-align: top;
                                display: inline-block;
                                float: left;
                            }

                            .an-news-btn {
                                color: #016bce;
                                vertical-align: top;
                                display: inline-block;
                                font-size: 14px;
                                margin-left: 30px;
                            }
                        }
                    }

                    .news-li.news-li-PopUp {
                        display: none;
                    }

                    .news-li.news-li-ShowHide {
                        display: none;
                    }
                }
            }
        }
    }

    /*新闻弹窗*/
    .news-popup-main {
        display: none;
    }

    /*新闻弹窗 end*/
    /*新闻中心 end*/

    /*新闻详情*/
    .news-detail-content {
        margin: 0 auto;
        width: 1200px;
        height: auto;
        overflow: hidden;
        margin-top: 95px;

        .news-detail-banner {
            display: none;
        }

        .news-detail-page {
            .news-detail-top {
                width: 100%;
                height: 57px;
                background: #3dbceb;
                overflow: hidden;

                .news-detail-title {
                    display: none;
                }

                .news-detail-crosswiseTitle {
                    color: #000;
                    width: 160px;
                    margin-left: 10px;
                    padding-left: 46px;
                    float: left;
                    height: 57px;
                    line-height: 57px;
                    font-size: 16px;
                    background-color: #fff;
                }

                .back-btn {
                    float: right;
                    font-size: 18px;
                    display: inline-block;
                    color: #fff;
                    padding: 0 20px 0 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid #2a7d9c;
                    box-shadow: 0 0 1px #fff inset;
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }

            .news-detail-main {
                width: 1158px;
                min-height: 570px;
                border: 1px solid #f3f3f3;
                padding: 20px;
                margin-bottom: 66px;

                .news-detail-main-top {
                    margin-bottom: 30px;
                    text-align: center;

                    .news-detail-title {
                        font-size: 30px;
                        color: #000;
                    }

                    .news-detail-time {
                        font-size: 14px;
                        color: #949494;
                        margin-top: 10px;
                    }
                }

                .news-detail-img {
                    display: none;
                }

                .news-detail-text {
                    color: #000;
                    font-size: 16px;
                    line-height: 26px;
                    text-indent: 30px;
                    word-break: break-all;
                }
            }
        }
    }

    /*新闻详情 end*/

    /*优惠活动*/
    .activity-content {
        min-height: 700px;
        margin-top: 95px;

        .activity-content-banner {
            width: 100%;
            height: 300px;

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .activity-page {
            margin: 0 auto;
            width: 1200px;
            height: auto;
            overflow: hidden;
            margin-bottom: 30px;

            .activity-page-banner {
                display: none;

                video {
                    display: none;
                }
            }

            .activity-main-bg {
                .activity-title-box {
                    color: #3a3a3a;
                    margin-top: 40px;
                    display: inline-block;

                    .activity-title {
                        .txt {
                            font-size: 20px;
                        }

                        .desc {
                            font-size: 12px;
                        }
                    }
                }

                .activity-main {
                    .activity-lists {
                        overflow: hidden;

                        .activity-li {
                            display: block;
                            float: left;
                            margin-left: 40px;
                            margin-top: 20px;
                            width: 350px;
                            height: 180px;
                            overflow: hidden;
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: 180px;
                                display: block;
                            }

                            .an-activity {
                                display: none;
                            }
                        }

                        li.activity-li-ShowHide:nth-of-type(3n+1) {
                            margin-left: 0;
                        }

                        .activity-li.activity-li-PopUp {
                            display: none;
                        }

                        .activity-li.activity-li-ShowHide {
                            display: none;
                        }
                    }
                }
            }

        }
    }

    /*优惠活动弹窗*/
    .activity-popup-main {
        display: none;
    }

    /*优惠活动弹窗 end*/
    /*优惠活动 end*/

    /*优惠活动详情*/
    .activity-detail-content {
        margin: 0 auto;
        width: 1200px;
        height: auto;
        overflow: hidden;
        margin-top: 95px;

        .activity-detail-banner {
            display: none;
        }

        .activity-detail-page {
            position: relative;

            .activity-detail-top {
                width: 100%;
                height: 57px;
                line-height: 57px;
                background: #3dbceb;
                font-size: 16px;

                .activity-detail-top-title {
                    display: none;
                }

                .activity-detail-crosswiseTitle {
                    color: #000;
                    width: 160px;
                    margin-left: 10px;
                    padding-left: 46px;
                    float: left;
                    height: 57px;
                    line-height: 57px;
                    font-size: 16px;
                    background-color: #fff;
                }

                .back-btn {
                    float: right;
                    font-size: 18px;
                    display: inline-block;
                    color: #fff;
                    padding: 0 20px 0 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid #2a7d9c;
                    box-shadow: 0 0 1px #fff inset;
                    margin-top: 5px;
                    margin-right: 10px;
                }

                .details-return {
                    display: block;
                    width: 110px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    border: 1px solid #a6cddc;
                    color: #a6cddc;
                    font-size: 14px;
                    background: #111a24;
                    cursor: pointer;
                    float: right;
                }
            }

            .activity-detail-main {
                width: 1158px;
                min-height: 570px;
                border: 1px solid #f3f3f3;
                padding: 20px;
                margin-bottom: 66px;

                .activity-detail-main-top {
                    margin-bottom: 30px;
                    text-align: center;

                    .activity-detail-title {
                        font-size: 30px;
                        color: #000;
                    }

                    .activity-detail-time {
                        font-size: 14px;
                        color: #949494;
                        margin-top: 10px;
                    }
                }

                .activity-detail-main-cont {
                    width: 100%;
                    height: 350px;
                    margin-top: 20px;
                    padding: 0;
                    position: relative;
                    overflow: hidden;

                    .activity-detail-img {
                        display: none;
                    }

                    .activity-detail-text {
                        width: 880px !important;
                        height: auto;
                        font-size: 16px;
                        line-height: 26px;
                        color: #9a9a9a;
                        margin-top: 15px;
                        text-indent: 32px;
                        white-space: normal;
                        word-break: break-all;
                    }
                }
            }

            .activity-btn {
                display: block;
                width: 100px;
                line-height: 50px;
                color: #fff;
                background: rgba(55, 170, 204, 0.5);
                text-align: center;
                cursor: pointer;
                margin: 10px auto;
                position: absolute;
                bottom: 50px;
                left: 0;
                right: 0;
                font-size: 16px;
            }
        }
    }

    /*优惠活动详情 end*/

    /*代理加盟*/
    .agent-content {
        .agent-banner {
            width: 100%;
            height: 694px;
            position: relative;
        }

        .agent-banner-layout {
            width: 1200px;
            height: 694px;
            position: relative;
            margin: auto;
        }

        .agent-small-slider {
            width: 300px;
            height: 210px;
            position: absolute;
            top: 300px;
            right: 255px;
        }

        .agent-small-slider .flexslider {
            margin: 0px auto;
            position: relative;
            width: 100%;
            height: 210px;
            overflow: hidden;
            zoom: 1;
        }

        .agent-small-slider .flexslider .slides {
            height: 210px;
        }

        .agent-small-slider .flexslider .slides li {
            width: 100%;
            height: 210px;

            &:nth-child(1) {
            }

            &:nth-child(2) {
            }

            &:nth-child(3) {
            }
        }

        .agent-small-slider .flex-direction-nav a {
            width: 83px;
            line-height: 83px;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 465px;
            z-index: 10;
            cursor: pointer;
            filter: alpha(opacity=0);
            -webkit-opacity: 0;
            opacity: 0;
            -webkit-transition: all .3s ease;
        }

        .agent-small-slider .flex-control-nav {
            width: 100%;
            position: absolute;
            bottom: 4px;
            text-align: center;
        }

        .agent-small-slider .flex-control-nav li {
            margin: 0 2px 2px 2px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

        .agent-small-slider .flex-control-paging li a {
            display: block;
            height: 12px;
            overflow: hidden;
            text-indent: -99em;
            width: 12px;
            cursor: pointer;
        }

        .agent-small-slider .flex-control-paging li.active a {
        }

        .agent-banner-btn {
            display: block;
            position: absolute;
            top: 555px;
            right: 325px;
            width: 157px;
            height: 36px;
        }

        .agent-page {
            margin: 0 auto;
            width: 1200px;
            height: auto;
            overflow: hidden;

            .agent-title-box {
                display: none;
            }

            .agent-main {
                width: 1000px;
                margin: 60px auto 0;

                .agent-top {
                    margin-bottom: 30px;

                    dt {
                        font-size: 18px;
                        font-weight: 600;
                        color: #a5abff;
                    }

                    dd {
                        color: #a5abff;
                        font-size: 12px;
                    }
                }

                .agent-tabs {
                    width: 100%;
                    margin-top: 10px;

                    th,
                    td {
                        border: 1px solid #313244;
                        font-size: 16px;
                        padding: 10px 0;
                        color: #c5c5fd;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }

    /*代理加盟表格*/
    .join-content {
        min-height: 1238px;
        overflow: hidden;
        background-size: cover;
        margin-top: 95px;
        background-color: #fffcfc;

        .ps-container .ps-scrollbar-y,
        .ps-container .ps-scrollbar-y-rail {
            display: none !important;
        }

        .join-content-banner {
            width: 100%;
            height: 694px;
            position: relative;

            .join-banner-layout {
                width: 1200px;
                height: 694px;
                position: relative;
                margin: auto;
            }

            .join-small-slider {
                width: 300px;
                height: 210px;
                position: absolute;
                top: 300px;
                right: 255px;
            }

            .join-small-slider .flexslider {
                margin: 0px auto;
                position: relative;
                width: 100%;
                height: 210px;
                overflow: hidden;
                zoom: 1;
            }

            .join-small-slider .flexslider .slides {
                height: 210px;
            }

            .join-small-slider .flexslider .slides li {
                width: 100%;
                height: 210px;

                &:nth-child(1) {
                }

                &:nth-child(2) {
                }

                &:nth-child(3) {
                }
            }

            .join-small-slider .flex-direction-nav a {
                width: 83px;
                line-height: 83px;
                overflow: hidden;
                display: block;
                position: absolute;
                top: 465px;
                z-index: 10;
                cursor: pointer;
                filter: alpha(opacity=0);
                -webkit-opacity: 0;
                opacity: 0;
                -webkit-transition: all .3s ease;
            }

            .join-small-slider .flex-control-nav {
                width: 100%;
                position: absolute;
                bottom: 4px;
                text-align: center;
            }

            .join-small-slider .flex-control-nav li {
                margin: 0 2px 2px 2px;
                display: inline-block;
                zoom: 1;
                *display: inline;
            }

            .join-small-slider .flex-control-paging li a {
                display: block;
                height: 12px;
                overflow: hidden;
                text-indent: -99em;
                width: 12px;
                cursor: pointer;
            }

            .join-small-slider .flex-control-paging li.active a {
            }

            video {
                display: none;
            }

            .index-content {
                display: none;
            }
        }

        .join-steps {
            display: none;
        }

        .join-page {
            margin: 0 auto;
            width: 1200px;
            height: auto;
            overflow: hidden;

            .join-main-content {
                width: 1200px;
                margin: 50px 0;
                overflow: hidden;
                position: relative;

                .join-cont-title {
                    padding: 28px 20px;
                    overflow: hidden;

                    h2 {
                        float: left;
                        color: #24a9e1;
                        font-size: 24px;
                        background-size: 41px 41px;
                        padding-left: 50px;
                        height: 41px;
                        line-height: 41px;
                        font-family: 'PingFang Heavy';

                        .desc {
                            display: none;
                        }
                    }

                    .join-return {
                        font-family: 'PingFang Regular';
                        float: right;
                        display: block;
                        width: 116px;
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        color: #009fda;
                        font-size: 20px;
                        border: 1px solid #009fda;
                        box-shadow: 0 0 1px #fff inset;
                    }

                    .detail {
                        display: none;
                    }
                }

                .join-main {
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    width: 100%;
                    padding: 50px 230px 0 230px;
                    box-sizing: border-box;
                    background-color: #fff;

                    .join-main-title {
                        display: none;

                        h3 {
                            display: none;
                        }

                        .detail {
                            display: none;
                        }
                    }

                    .join-main-cont {}

                    .webmaster-main-title {
                        margin-bottom: 50px;
                        position: relative;
                        left: -210px;
                        width: 1140px;

                        h3 {
                            font-family: 'PingFang Heavy';
                            color: #24a9e1;
                            font-size: 0;
                            background-size: 41px 41px;
                            padding-left: 50px;
                            height: 41px;
                            line-height: 41px;
                            margin-bottom: 20px;

                            span,
                            i {
                                font-size: 24px;
                            }

                            .colon {
                                display: none;
                            }
                        }

                        .desc {
                            display: none;
                        }

                        .detail {
                            text-align: center;
                            font-size: 18px;
                            color: #000;

                            b {
                                color: #41a0e8;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    /*代理加盟表格 end*/
    /*代理加盟 end*/

    /*联系我们*/
    .contact-content {
        min-height: 800px;
        margin-top: 95px;

        .contact-banner {
            width: 100%;
            height: 520px;
            position: relative;
        }

        .join-page .join-main-content {
            min-height: 600px;

            .join-cont-title {
                h2 {
                }
            }
        }

        .type.proxy-com {
            .down {
                width: 602px;
            }
        }

        .a-j-lists .proxy-com .a-j-input1,
        .a-j-lists .proxy-com textarea,
        .a-j-lists .proxy-com .proxy-line.code input {
            margin-left: -4px;
        }
    }

    /*联系我们 end*/

    /*厂商介绍*/
    .partner-content-banner {
        display: none;

        video {
            display: none;
        }

        .index-content {
            display: none;
        }
    }

    .partner-content {
        margin-top: 95px;
        width: 100%;
        max-width: 1920px;
        min-width: 1400px;
        height: auto;
        min-height: 1100px;
        background-size: cover;
        background-color: #66aaed;
    }

    /*厂商介绍 end*/

    /*关于我们*/
    .about-content {
        display: none;
    }

    .general-about-layout {
        margin-top: 55px;
        background-color: #fbfcfc;
    }

    .general-about-content {
        display: block;
        margin: 0 auto;
        width: 1200px;
        height: auto;
        overflow: hidden;
        padding-top: 95px;

        .about-banner-video {
            display: none;
        }

        .float_model {
            display: none;
        }

        .about-float-outboxTit {
            display: none;
        }

        .about-float {
            .about-img {
                width: 373px;
                height: 385px;
            }

            .about-main-center {
                width: 800px;

                .about-text {
                    .about-title {
                        font-size: 14px;
                        color: #b6aeb7;
                        line-height: 22px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #b6aeb7;
                        margin: 50px 0 30px;

                        dd {
                            font-size: 24px;
                            font-weight: bold;
                            color: #000;
                            margin-top: 5px;

                            i {
                                color: #009fda;
                            }
                        }
                    }

                    .text {
                        text-indent: 30px;
                        font-size: 16px;
                        color: #62727f;
                        line-height: 26px;
                    }
                }
            }
        }

        .about-float:nth-of-type(1) {
            .about-img {
                float: left;
            }

            .about-main-center {
                float: right;
                width: 760px;
                margin-right: 16px;
            }
        }

        .about-float-outbox .about-float:nth-of-type(2) {
            background: #f1f1f1;
            padding-left: 40px;

            .about-img {
                width: 437px;
                float: right;
            }

            .about-main-center {
                width: 650px;
                float: left;
            }
        }

        .about-list-outImg {
            display: none;
        }

        .about-list-block {
            .about-title {
                font-size: 14px;
                color: #b6aeb7;
                line-height: 22px;
                padding-bottom: 15px;
                border-bottom: 1px solid #b6aeb7;
                margin: 50px 40px 30px;

                dd {
                    font-size: 26px;
                    color: #000;
                    margin-top: 5px;
                    font-weight: bold;

                    i {
                        color: #009fda;
                    }
                }
            }

            .about-list {
                height: auto;
                overflow: hidden;
                margin: 60px 0;
                font-size: 0;

                li {
                    width: 175px;
                    height: auto;
                    margin-left: 80px;
                    display: inline-block;
                    margin-bottom: 50px;

                    &.first-li {
                        margin-left: 0;
                    }

                    .about-list-img {
                        width: 60px;
                        height: 60px;
                        display: block;
                        margin: auto;
                    }

                    p {
                        color: #77779b;
                        text-align: center;
                        margin-top: 10px;
                    }

                    p.p_1 {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    p.p_2 {
                        font-size: 14px;
                    }

                    .num {
                        display: none;
                    }
                }

                li:nth-child(1) {
                    .about-list-img {
                    }
                }

                li:nth-child(2) {
                    .about-list-img {
                    }
                }

                li:nth-child(3) {
                    .about-list-img {
                    }
                }

                li:nth-child(4) {
                    .about-list-img {
                    }
                }

                li:nth-child(5) {
                    .about-list-img {
                    }
                }

                li:nth-child(6) {
                    .about-list-img {
                    }
                }

                li:nth-child(7) {
                    .about-list-img {
                    }
                }

                li:nth-child(8) {
                    .about-list-img {
                    }
                }

                li:nth-child(9) {
                    .about-list-img {
                    }
                }

                li:nth-child(10) {
                    .about-list-img {
                    }
                }
            }
        }
    }

    /*关于我们 end*/

    /*无优惠活动占位*/
    .no-activity {
        text-align: center;
    }

    .no-activity-img {
        width: 423px;
        height: 316px;
        margin: 20px auto;
    }

    .no-activity span {
        display: block;
        width: 100%;
        font-size: 18px;
        color: #333;
        text-align: center;
        letter-spacing: 6px;
    }

    /*无优惠活动占位 end*/

    //棋牌游戏进入游戏弹出的游戏列表
    .playMyGame-content {
        width: 1370px;
        margin: 0 auto;
        padding-top: 10px;

        .ele-logo-lists {
            margin-top: 30px;
            font-size: 14px;
            line-height: 26px;
            text-indent: 30px;
            vertical-align: top;

            .ele-logo-li {
                display: block;
                width: 232px;
                position: relative;
                overflow: hidden;
                float: left;
                margin-left: 52px;
                margin-bottom: 30px;

                a {
                    display: block;
                    text-align: center;
                    text-align: -webkit-center;
                    // background:rgba(217,223,227, .1);

                    b,
                    img {
                        transition: all 1s;
                        -moz-transition: all 1s;
                        -ms-transition: all 1s;
                        -webkit-transition: all 1s;
                        display: block;
                        height: 125px;
                    }

                    img {
                        width: auto;
                        height: 125px;
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    b {
                        font-weight: normal;
                        width: 100%;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background: rgba(86, 121, 218, .8);
                        text-indent: 0;
                    }

                    i.shadow {
                        width: 100%;
                        height: 125px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        background: #000;
                        z-index: 1;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: 80px;
                        top: 30px;
                        opacity: 0;
                        width: 69px;
                        height: 46px;
                        opacity: 0;
                        z-index: 11;
                    }

                    em {
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        position: absolute;
                        left: 52px;
                        top: 80px;
                        opacity: 0;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        z-index: 1111;
                    }

                    &:hover {
                        i {
                            opacity: .7;
                        }

                        span {
                            opacity: 1;
                        }

                        em {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    i.shadow {
                        opacity: .7;
                    }
                }
            }

            li:nth-of-type(5n+1) {
                margin-left: 0;
            }
        }
    }

}
