.theme25 {
    .paginate {
        display: inline-block;
        padding-left: 0;
        margin-top: 10px;
        margin-right: 30px;
    }

    .paginate>li {
        display: inline-block;
        margin: 2px;
    }

    .paginate>li>a {
        position: relative;
        padding: 6px 12px;
        margin-left: -1px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #ffffff;
        text-decoration: none;
        background-color: #333333;
        border-radius: 3px;
    }

    .paginate>li>a:hover {
        z-index: 3;
        color: #333;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .paginate>.active>a,
    .paginate>.active>a:hover,
    .paginate>.active>a:focus {
        z-index: 2;
        color: #333;
        cursor: default;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .paginate>.disabled>a,
    .paginate>.disabled>a:hover,
    .paginate>.disabled>a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: transparent;
        border-color: none;
        outline: none;
    }

}
