.theme07{
    .tutorial_cont{
        overflow: hidden;
    }
    .tutorial-content{
        position: relative;
        margin:20px auto;
        width: 1100px;
        height: 1100px;
        // background: rgba(15, 18, 25, 0.8);
    }
    .banner video{
        display: none;
    }
    .tutorial_cont .banner{
        height: 646px;
        background-position: top
    }
    .tutorialbox{
        overflow: hidden;
        height: 1356px;
        background-position: top
    }
    .banner_ul{
       display: none;
    }
    
    .tutorial_noMT{
        margin-top: 0px !important;
    }
    .tutorial-main>div{
        overflow: hidden;
    }
    
    .tutorial-navs{
        padding-bottom: 15px;
        border-bottom: 1px solid #304452;
        margin: 20px auto;
        overflow: hidden;
    }
    
    .tutorial-navs li.on {
        background-position: right
    }
    .tutorial-navs>li {
        width: 121px;
        height: 38px;
        float: left;
        margin-right: 9px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .tutorial-navs ul{
        position: absolute;
        width: 110px;
        left: -1px;
        top: 47px;
        z-index: 100;
        text-align: center;
        border: 1px solid #35424e;
        background: rgba(28,38,56,.5);
        padding: 10px 0;
        color: #a6cddc;
        line-height: 35px;
        font-size: 14px;
    }
    .tutorial-pull-down1{
        left: 0px !important;
    }
    .tutorial-pull-down2{
        left: 131px !important;
    }
    .tutorial-pull-down3{
        left: 261px !important;
    }
//  .tutorial_left_navs{
//      position: absolute;
//      width: 121px;
//      left: -1px;
//      top: 40px;
//      z-index: 100;
//      text-align: center;
//      border: 1px solid #35424e;
//      background: #0c1219;
//      padding: 10px 0;
//      line-height: 35px;
//      font-size: 14px;
//      display: none;
//  }
//  .tutorial_left_navs i{
//      display: none !important;
//  }
//  .tutorial_left_navs li {
//      background: #0c1219;
//      color: #727272;
//      line-height: 35px;
//      font-size: 14px;
//      border: none;
//      width: 100%;
//      height: 35px;
//      text-align: center;
//      margin: 0;
//  }
//  .tutorial_left_navs li:hover a, .tutorial_left_navs li.on a{
//      color: #727272;
//  }
//  .tutorial_left_navs li:hover>a, .tutorial_left_navs li.on>a{
//      color: #ca9243;
//  }
//  .tutorial_left_navs li:hover, .tutorial_left_navs li.on{
//      color: #ca9243;
//      border: none
//  }
//  .tutorial_left_navs li a{
//      display: block;
//      color: #727272;
//  }
//  .tutorial_left_navs>li:hover>a, .tutorial_left_navs>li.on>a{
//      color: #e95730;
//  }
//  
//  .tutorial_left_navs li a i {
//      width: 40px;
//      height: 39px;
//      display: block;
//      float: left;
//      margin: 8px 18px 0 50px;
//  }
/*改*/
.cp_down,.sp_down{
        float: left;
    }
    .tutorial_abslut_2{
        display: none;
    }
.tutorial_left_navs{
        overflow: hidden;
        margin: 20px auto 0;
    }
    .tutorial_left_navs i{
        display: none !important;
    }
    .tutorial_left_navs li {
        float: left;
        margin-left: 1px;
        font-size: 16px;
        border: none;
        color: #cbc7d9;
        width: 140px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        vertical-align: top;
        background: #0c1219;
    }
    .tutorial_left_navs li:hover, .tutorial_left_navs li.on{
        color: #cbc7d9;
        border: none;
    }
    .tutorial_left_navs li a{
        display: block;
        color: #cbc7d9;
    }
    .tutorial_left_navs li:hover a, .tutorial_left_navs li.on a{
        color: #cbc7d9;
    }
    
    .tutorial_left_navs li a i {
        width: 40px;
        height: 39px;
        display: block;
        float: left;
        margin: 8px 18px 0 50px;
    }
/*改*/
    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .tutorial-inside {
        float: left;
        width: 1060px;
        height: 960px;
        margin-top: 10px;
        padding-right: 20px;
    }
    .tutorial-inside .tutorial-box{
        width:1040px;
    }
    .tutorial-inside .tutorial-box h2{
        width:100%;
        height: 38px;
    }
    .tutorial-inside .tutorial-box h2 span{
        color: #a6acff;
        font-size: 18px;
        padding-left: 18px;
        font-style:normal;
    }
    .tutorial-inside .tutorial-text h3{
        font-size: 18px;
        color: #5b74bb;
        line-height: 18px;
    }
    
    .tutorial-inside .tutorial-text p{
        padding-left:10px;
        color: #707173;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .tutorial-inside .tutorial-text{
        position: relative;
        border-bottom: 1px solid #1e2939;
        padding: 18px;
        margin-top: 20px;
    }
    .tutorial-inside .tutorial-text:hover{
        background: rgb(29, 35, 46)
    }
    .tutorial-text span{
        display: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text{
        border-bottom: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
        color: #77779b;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text img{
        margin: 30px 0;
    }
    .tutorial-problem .tutorial_left_navs li a i {
        width: 42px;
        height: 41px;
    }
    .tutorial_tit_el{
        display: none;
    }
    // 遮罩
    .tutorialShade{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }
    
    // 游戏规则
    .GameRules_title{
        color: #5b74bb;
        font-size: 24px;
        text-align: center;
    }
    .GameRules_title_el{
        text-align: center;
        color: #5b74bb;
        margin-top: 15px;
        font-size: 14px;
    }
    .GameRules_center_p{
        width: 730px;
        font-size: 14px;
        color: #707173;
        margin: auto;
        line-height: 28px;
        margin-top:20px;
        text-align: center;
    }
    .GameRules_mt25{
        margin-top: 25px;
    }
    .GameRules_guide{
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: #1c2635;
        overflow: hidden;
    }
    .GameRules_guide>span{
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: rgb(154, 154, 154);
        border-right: 1px dashed rgb(68, 82, 100);
    }
    .GameRules_guide_cont{
        font-size: 14px;
        line-height: 26px;
        color: rgb(154, 154, 154);
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center
    }
    .GameRules_smoll_p{
        color: #fff;
        margin-left: 158px;
        margin-top: 20px;
    }
    .GameRules_ty_p{
        color: #596fa4;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #bfd0e3;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .GameRules_center_img{
        display: block;
        margin: 20px auto 0;
    }
    .GameRules_table{
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
        border-top: 1px solid #303131;
        border-left: 1px solid #303131;
    }
    .GameRules_table li{
        height: 70px;
        line-height: 70px;
        background: #141822;
        border-bottom: 1px solid #303131;
        border-right: 1px solid #303131;
        font-size: 14px;
        color: #777777;
        text-align: center;
        overflow: hidden;
    }
    .GameRules_table_faseli{
        height: 48px !important;
        line-height: 48px !important;
    }
    .GameRules_table_faseli p{
        line-height: 23px !important;
    }
    .GameRules_table_ul1{
        float: left;
        width: 120px;
    }
    .bigwidth{
        width: 350px !important;
    }
    .GameRules_li_p{
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }
    .width358{
        width: 358px;
    }
    .GameRules_no_center{
        text-align:left;
        margin-left: 150px;
        margin-top: 0;
    }
    .GameRules_ml200{
        margin-left: 200px;
    }
    .GameRules_nomt{
        margin-top: 0;
    }
    
    
    
    .tutorial_abslut_ul{
        // border: 1px solid #35424e;
        position: absolute;
        z-index: 9;
    }
    .tutorial_abslut_ul>li {
        float: none;
        color: #a6cddc;
        line-height: 35px;
        font-size: 14px;
        border: none;
        width: 100%;
        height: 35px;
        text-align: center;
        margin: 0;
        border: none;
        width: 140px;
        vertical-align: top;
    }
    .tutorial_abslut_1{
        top: 145px;
        left: 121px;
    }
    .tutorial_abslut_2{
        top: 118px;
        left: 121px;
    }
    .BettingSkills_no{
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .BettingSkills_on{
        transition: 0.3s;
        height: auto;
        border: 1px solid #35424e;
    }
    .bettingSkill_box{
        overflow: hidden;
    }
    .bettingSkill_box img{
        margin-top: 20px;
    }
    .bettingSkill_box p{
        overflow: hidden;
    }
    .bettingSkill_box p>span:nth-child(1){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #707173;
    }
    .bettingSkill_box p>span:nth-child(2){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #707173;
    }
    .bettingSkill_cp{
        line-height: 26px;
        font-size: 14px;
        color: #707173;
    }
    .sportsSkill_chren{
        position: absolute;
        // border: 1px solid #35424e;
    }
    .sportsSkill_chren>li{
        // position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background-size: 100% 100%;
        border: none;
    }
    .sportsSkillChren1on{
        color: #e95730 !important;
    }
    .sportsSkill_chren_01>p{
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }
    
    .tutorialShow{
        display: block !important;
        text-align: center;
    }
    .tutorialShow span{
        color: #5b74bb !important;
        font-size: 24px !important;
    }
    .tutorialNoHides{
        display: block !important;
    }
    .tutorialHides{
        display: none !important;
    }
    .sportsSkill_jsonp{
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #707173;
    }
    .sonname,.grandsonname{
        top:0;
        display: none;
        position: absolute;
        border: 1px solid #35424e;
    }
    .sonname{
        left: 190px;
    }
    .grandsonname{
        left: 190px;
    }
    .sonname>li,.grandsonname>li{
        float: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #cbc7d9;
        width: 190px;
        height: auto;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
    }
    .lxd{
        transition: 5s;
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .fiveClone{
//      transition: 0.3s;
//      height: 0;
//      overflow: hidden;
//      padding: 0;
//      margin: 0;
//      border: none;
    }
    .fiveOpen{
//      transition: 0.3s;
//      padding: 10px 0;
//      border: 1px solid #2e2c2d;
//      height: 162px;
//      box-sizing: border-box;
    }
    .fiveOpen2{
//      transition: 0.3s;
//      padding: 10px 0;
//      border: 1px solid #2e2c2d;
//      height: 232px;
//      box-sizing: border-box;
//      overflow: initial
    }
    
    // 背景替换img
    .tutorialPic_1{
        width: 683px;
        height: 326px;
    }
    .tutorialPic_2{
        width: 684px;
        height: 346px;
    }
    .tutorialPic_3{
        width: 684px;
        height: 353px;
    }
    .tutorialPic_4{
        width: 666px;
        height: 352px;
    }
    .tutorialPuke_1{
        width: 428px;
        height: 69px;
    }
    .tutorialPuke_2{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_3{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_4{
        width: 353px;
        height: 257px;
    }
    .tutorialRule_img_1{
        width: 848px;
        height: 508px;
    }
    .tutorialRule_img_2{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_3{
        width: 848px;
        height: 157px;
    }
    .tutorialRule_img_4{
        width: 848px;
        height: 235px;
    }
    .tutorialRule_img_5{
        width: 848px;
        height: 271px;
    }
    .tutorialRule_img_6{
        width: 848px;
        height: 118px;
    }
}

