<template>
  <div id="AddMembersForm" class="alert_box_content rake_alert_box re_h agency-alert">
    <span class="alert_close" @click="CloseAddMembersWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_new_members')}}
      </h2>
      <ul class="input_field bank_input style3 alert-form-area">
        <li
          style="padding-left: 11px;background: #e6e5e5dd;margin: 0px 14px;margin-bottom: 10px;min-height: 28px;line-height: 20px;"
          :title="$t('message.agency_password_presupposition')"
        >{{$t('message.agency_password_presupposition')}}</li>
        <li class="li_down four_down">
          <div class="input_lf">{{$t('message.agency_superior_agent')}}</div>
          <div class="input_rt">
            <div class="down superior-agent">
              <div class="d_course" @click="ShowDropDownMember()">{{AddMemberName}}</div>
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
              <div class="down_box townBox down_member" style="max-height: 75px;">
                <a
                  class="down_list"
                  v-for="(slist,index) in IBListDatas"
                  :key="index"
                  @click="SelectMember(slist)"
                >{{slist.UpperAcct}}</a>
              </div>
            </div>
            <!-- <i class="tip1" v-show="DropDownInvalid === true" style="display: block;">提示: 选择项不能为空</i> -->
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.verify_membership_account')}}</div>
          <div class="input_rt">
            <input
              type="text"
              v-model="addMemberObj.memberAcct"
              name="memberAcct"
              :placeholder="$t('message.agency_membership_number')"
              @blur="CheckAcctAvailable()"
              v-validate="{ rules: { regex:Reg.agencyUser, required: true }}"
            />
            <p
              class="tip1"
              v-show="errors.has('memberAcct') && fields.memberAcct.touched && fieldsCommon"
              style="word-break: break-all"
            >{{$t('message.reg_english_letters')}}</p>
            <p
              class="tip1"
              v-show="!errors.has('memberAcct') && !AcctAvailable"
            >{{$t('message.agency_hasbeen_added')}}</p>
          </div>
        </li>
        <!-- <li class="hasblock">
          <div class="input_lf">登入密码</div>
          <div class="input_rt">
            <input
              type="password"
              name="OriginPwd"
              v-model="addMemberObj.OriginPwd"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              placeholder="请输入原来的密码"
              @blur="filedsCommon()"
            >
            <p
              class="tip1"
              v-show="errors.has('OriginPwd') && fields.OriginPwd.touched && fieldsCommon"
            >仅可以使用英文字母,数字与一般常用符号, 字数范围6-20</p>
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">取款密码</div>
          <div class="input_rt last-input">
            <input
              type="password"
              v-model="addMemberObj.NewPwd"
              name="NewPwd"
              v-validate="{ rules: { regex:Reg.Password, required: true }}"
              placeholder="请输入新密码"
              @blur="filedsCommon()"
            >
            <p
              class="tip1"
              v-show="errors.has('NewPwd') && fields.NewPwd.touched && fieldsCommon"
            >仅可以使用英文字母,数字与一般常用符号, 字数范围6-20</p>
          </div>
        </li>-->
      </ul>
      <div class="record_query">
        <a
          class="cancle-searchBtn"
          href="javascript:void(0);"
          @click="CloseAddMembersWindow()"
        >{{$t('message.member_cancel')}}</a>
        <a
          class="common-searchBtn"
          href="javascript:void(0);"
          @click="AddMembersMethod()"
        >{{$t('message.agency_continue')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import CommUtility from "@/assets/scripts/common/CommUtility"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import Regex from "scripts/common/CommDef"
// import BKBLDef from "@/assets/scripts/common/BLDef"
import CommService from "scripts/businessLogic/commonService"
import EventBus from "scripts/common/EventBus"

export default {
  // props: {
  //   IBListDatas: {
  //     type: Array,
  //     default: function () {
  //       return [];
  //     }
  //   },

  // },
  data() {
    return {
      DropDownMember: false,
      addMemberObj: {
        memberAcct: ""
        // OriginPwd: '',
        // NewPwd: ''
      },
      // 正則表達式類別
      Reg: Regex.Regex,
      AcctAvailable: true,
      IBListDatas: [],
      AddMemberName: undefined,
      AddMemberAcctID: undefined,
      Flag: {
        AcctFocus: undefined,
        AcctErrorIsShow: undefined,
        PhoneNoFocus: undefined,
        PhoneNoErrorIsShow: undefined,
        PwdFocus: undefined,
        PwdValidateIsShow: undefined,
        CheckPwdErrorIsShow: false,
        WithdrawPwdFocus: undefined,
        WithdrawPwdValidateIsShow: undefined,
        CheckWithdrawPwdErrorIsShow: false,
        Focus: undefined,
        ErrorIsShow: undefined
      },
      fieldsCommon: false,
      addMemberFlag: true
      // AddMemberAcctID: undefined
    }
  },
  mounted() {
    this.BindingEvent()
    this.loadAddMember()
    EventBus.$on("fieldsCheck", (data) => {
      console.log(data)
      this.fieldsCommon = data
    })
  },
  methods: {
    loadAddMember: async function () {
      const inputObj = {}
      const data = await AgencyCenterService.LoadIBList(inputObj)
      console.log("新增会员上级代理数据")
      console.log(data)
      if (data.Ret == 0) {
        this.SexTypeList = data.Data.SexTypeList
        this.IBListDatas = data.Data.IBList
        this.AddMemberName = data.Data.IBList[0].UpperAcct
        this.AddMemberAcctID = data.Data.IBList[0].AcctID
      } else {
        // EventBus.$emit('UserIsShowError');
        // this.CloseAddMembersWindow();
      }

      console.log("新增会员上级代理数据")
    },
    BindingEvent: function () {
      document.addEventListener("click", this.HideDropDownMember)
    },
    // 顯示紀錄類型選單
    ShowDropDownMember: function () {
      if (this.DropDownMember === false) {
        $(".down_member").slideDown(300)
        this.DropDownMember = true
      } else {
        $(".down_member").slideUp(300)
        this.DropDownMember = false
      }
    },
    // 隱藏紀錄類型選單
    HideDropDownMember: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_member").slideUp(300)
        this.DropDownMember = false
      }
    },
    SelectMember: function (item) {
      this.AddMemberName = item.UpperAcct
      this.AddMemberAcctID = item.AcctID
    },
    // 驗證帳號是否重複
    CheckAcctAvailable: async function () {
      this.fieldsCommon = true
      this.flag = !this.$validator.errors.has("memberAcct")
      if (this.flag && this.addMemberObj.memberAcct.length > 0) {
        const obj = {
          Acct: this.addMemberObj.memberAcct,
          WGUID: Vue.prototype.$WGUID
        }
        const retData = await CommService.CheckAcctAvailable(obj)
        console.log("retData12")
        console.log(obj)
        console.log(retData)
        console.log("retData12")
        if (retData.Ret == 0) {
          this.AcctAvailable = retData.Data.CheckInfo.IsAvailable
        }
      } else {
        this.AcctAvailable = true
      } // end if
    }, // end CheckAcctAvailable
    // 新增会员
    // loadAddMember: async function () {},
    AddMembersMethod: async function () {
      if (this.addMemberFlag) {
        this.fieldsCommon = true
        this.addMemberFlag = false
        Object.keys(this.fields).forEach((key) => {
          this.fields[key].touched = true
        })
        const result = await this.$validator.validateAll()

        if (result === false) {
          return
        }
        await this.CheckAcctAvailable()
        if (!this.AcctAvailable) {
          return
        }

        const inputObj = {
          Member: {
            Acct: this.addMemberObj.memberAcct,
            Pwd: 123456,
            WithdrawPwd: 123456,
            UpperIBAcctID: this.AddMemberAcctID
          }
        }
        const data = await AgencyCenterService.LoadMemberAdd(inputObj)
        console.log(inputObj)
        console.log(data)
        if (data.Ret == 0) {
          this.addMemberFlag = true
          this.CloseAddMembersWindow()
          this.$parent.GetMessageType(1)
          this.fieldsCommon = false
          EventBus.$emit("UserAddMemberSucc")
        } else {
          this.addMemberFlag = true
          EventBus.$emit("UserIsShowError")
          this.CloseAddMembersWindow()
        }
      }
    },
    // 開啟視窗
    AddMembersOpenWindow: function () {
      this.fieldsCommon = false
      CommUtility.WebShowAlertboxForm("AddMembersForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseAddMembersWindow: function () {
      this.addMemberObj.memberAcct = ""
      // this.addMemberObj.OriginPwd = '';
      // this.addMemberObj.NewPwd = '';
      this.fieldsCommon = false
      CommUtility.WebClosealertboxForm("AddMembersForm")
    } // end CloseWindow
    // filedsCommon: function () {
    //   this.fieldsCommon = true;
    // }
  }
}
</script>
