@import '@/mod/k14/assets/cdn.less';

.theme28 {

    /*登录&注册&注册成功&用户协议*/
    .login-register-content {
        height: 955px;
        width: 100%;
        margin: 0 auto;

        .login-register-main {
            height: 530px;
            width: 650px;
            margin-left: 670px;
            padding-top: 78px;

            .login-register-box {
                .login-title {
                    display: none;
                }

                .login-logo {
                    a {
                        // background: url("/static/images/Customer/login-logo28.png")no-repeat;
                        width: 220px;
                        height: 77px;
                        display: block;
                        margin: auto;

                        img {
                            width: 220px;
                            height: auto;
                        }
                    }
                }

                .login-register-from {
                    margin-top: 160px;

                    .login-register-com {
                        clear: both;
                        overflow: hidden;
                        margin-bottom: 18px;

                        .login-regcom-name {
                            float: left;
                            width: 120px;
                            text-align: right;
                            color: #494c51;
                            font-size: 16px;
                            line-height: 44px;
                        }

                        .login-regcom-putBox {
                            float: left;
                            margin-left: 22px;

                            input {
                                background-size: 100% 100%;
                                width: 360px;
                                padding: 0 10px;
                                height: 40px;
                                font-size: 14px;
                                padding-bottom: 2px;
                                border: none;
                                outline: none;
                            }

                            .putBox-special-input {
                                width: 232px;
                            }

                            input::-webkit-input-placeholder {
                                color: #77706e;
                                font-size: 14px;
                            }

                            input::-moz-placeholder {
                                color: #77706e;
                                font-size: 14px;
                            }

                            input:-ms-input-placeholder {
                                color: #77706e;
                                font-size: 14px;
                            }

                            .putBox-code {
                                margin-left: 10px;
                                height: 42px;
                                display: inline-block;
                                vertical-align: bottom;

                                img {
                                    max-height: 100%;
                                }
                            }

                            .putBox-change {
                                display: none;
                            }
                        }
                    }

                    .visibleTip {
                        display: none;
                    }
                }

                .forgetText {
                    padding-left: 143px;
                   .el-checkbox__input.is-checked + .el-checkbox__label{
                       color:#666;
                   }
                }
                .forgetText_en,.forgetText_vi{
                    padding-left: 182px;
                }

                // 注册表单
                .login-register-from_en,
                .login-register-from_vi {
                    .login-regcom-name {
                        width: 158px !important
                    }
                }

                .loghide {
                    display: block !important;
                }

                .login-btn,
                .register-btn,
                .success-btn {
                    display: block;
                    margin: auto;
                    font-size: 0;
                    color: #fff;
                    text-align: center;
                    width: 98px;
                    height: 42px;
                    border-radius: 3px;
                    cursor: pointer;
                    margin-top: 25px;
                }

                .register-btn {
                    width: 138px;
                    height: 41px;
                }

                .success-btn {
                    width: 121px;
                    height: 44px;
                }

                .logSter-entrance {
                    width: 380px;
                    margin: auto;
                    margin-top: 10px;
                    margin-left: 143px;

                    a {
                        color: #495682;
                        font-size: 14px;
                    }
                }
            }

            // 注册
            .register-logo {
                a {
                    // background: url("/static/images/Customer/login-logo28.png")no-repeat;
                    width: 263px;
                    height: 77px;
                    display: block;
                    margin: auto;

                    img {
                        width: 220px;
                        height: auto;
                    }
                }
            }

            .register-box {
                .login-register-from {
                    margin-top: 85px;

                    .register-hook {
                        margin-left: 142px;

                        input {
                            margin-top: 4px;
                            margin-left: 3px;
                        }

                        span,
                        a,
                        input {
                            display: inline-block;
                            vertical-align: top;
                        }

                        i {
                            display: none;
                        }

                        span {
                            font-size: 14px;
                            color: #5c6a90;
                        }

                        a {
                            font-size: 14px;
                            color: #e43d13;
                        }
                    }
                }
            }

            // 注册成功
            .success-box {
                .regsiter-success-logo {
                    display: block;

                    a {
                        width: 263px;
                        height: 77px;
                        display: block;
                        margin: auto;
                    }
                }

                .success-title {
                    margin-top: 130px;

                    a {
                        display: block;
                        height: 51px;
                        width: 486px;
                        margin: auto;
                        cursor: inherit;
                    }
                }

                .success-text {
                    padding-top: 20px;
                    text-align: center;
                    color: #4d5059;
                    font-size: 20px;
                    line-height: 24px;

                    i {
                        color: #fd2f3b;
                        font-weight: 700;
                        margin-left: 8px;
                        font-size: 16px;
                    }
                }

                .success-pic {
                    display: none;
                }
            }
        }
    }
}
