<template>
  <div>
    <!--<iframe id="Iframe_Game" :src="GamePlayUrl"  frameborder="0" border="0" cellspacing="0" style="width:100%;height:796px"></iframe>-->
    <div id="pngCasinoGame">
      You either have JavaScript turned off or an old version of
      <a
        target="_blank"
        href="http://get.adobe.com/Flashplayer/"
      >Adobe's Flash Player</a>
    </div>
  </div>
</template>

<!--
<script src="<SCRIPTURL>?div=pngCasinoGame&gid=firejoker&lang=en_GB&pid=1&username=123-ahxa94-az6134d&practice=1&width=1024px&height=768px" type="text/javascript">
</script>
<script type="text/javascript"> 
    function PlayForReal() { window.location = '<REALURL>'; } 
    function Logout() { window.close(); } function reloadgame(gameId, user) { } 
</script>
-->

<script>
import { playPe } from "@/mod/k14/assets/scripts/comTest/main/linkToGame/playPngGame.js"
export default {
  mixins: [playPe]
}
</script>

