<template>
  <div style="text-align:center" v-if="this.PageCount>0">
    <paginate
      ref="paginate"
      :page-count="PageCount"
      :page-range="5"
      :click-handler="$parent.GetCurrentPageData"
      :prev-text="'前一页'"
      :next-text="'后一页'"
      :container-class="'paginate'"
    ></paginate>
  </div>
</template>

<style>
/* dolphie從bootstrap抄來改寫的 */
.paginate {
  display: inline-block;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 30px;
}
.paginate > li {
  display: inline-block;
  margin: 8px;
}
.paginate > li > a {
  position: relative;
  padding: 3px 10px;
  margin-left: -1px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  text-decoration: none;
  background-color: #b37b26;
}

.paginate > li > a:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #b37b26;
}
.paginate > .active > a,
.paginate > .active > a:hover,
.paginate > .active > a:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #b37b26;
  border-color: #b37b26;
}

.paginate > .disabled > a,
.paginate > .disabled > a:hover,
.paginate > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: transparent;
  border-color: transparent;
}
</style>

<script>
import Paginate from "vuejs-paginate"
import EventBus from "@/assets/scripts/common/EventBus"

export default {
  props: {
    PageCount: 0,
    PageNo: undefined
  },
  components: {
    Paginate
  },
  created: function () {
    const self = this
    EventBus.$on("Paginate_ResetPageNo", (data) => {
      if (self.$refs.paginate === undefined) {
        return
      }

      if (data === undefined) {
        self.$refs.paginate.selected = 0
      } else {
        self.$refs.paginate.selected = data - 1
      }
    })
  },
  beforeDestroy() {
    EventBus.$off("Paginate_ResetPageNo")
  }
}
</script>
