<!--浮動服務視窗-->
<template>
  <div>
    <!--service-->
    <div class="service-content" v-if="sideBarList.length>0">
      <span class="service-cont-people" v-if="peopleFlag">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/common/index_img30.png'" />
      </span>
      <ul class="service-cont-item">
        <li
          class="service-cont-list"
          v-for="(list,index) in sideBarList"
          :key="index"
          @click="sidebarListClick(list)"
          @mouseenter="getRecord(list.SidebarInfoID==1)"
          v-if="list.State && list.SidebarInfoID!=2"
        >
          <el-tooltip :content="list.SidebarName" placement="top-end">
            <a>
              <img
                class="service-cont-icon"
                :class="{'serviceDealt':list.SidebarImg==''}"
                :onerror="defaultImg"
                :src="$ResourceCDN + list.SidebarImg"
              />
              <span class="service-cont-text">{{list.SidebarName | simpleContent(9)}}</span>
            </a>
          </el-tooltip>
          <!--  游玩记录 -->
          <div
            class="tourRecords-content listHover-child"
            :style="{'top':tRecords}"
            v-if="list.SidebarInfoID==1 && list.State"
          >
            <div v-if="RecordList.length>0">
              <h2 class="tourRecords-cont-title">{{$t('message.float_recent_tour_records')}}</h2>
              <ul class="tourRecords-cont-item">
                <li
                  class="tourRecords-cont-list"
                  v-for="(li,index) in RecordList"
                  @click="RecordsEnterGame(li)"
                  :key="index"
                >
                  {{li.GameApiName}}
                  -{{li.GameTypeName}}
                  <i
                    v-if="li.GameName!=null"
                  >-{{li.GameName}}</i>
                </li>
              </ul>
            </div>
            <div v-else class="tourRecords-norecord">{{$t('message.float_no_record')}}</div>
          </div>

          <!-- 微信客服 -->
          <div
            class="service-sixtyFour-code listHover-child"
            :style="{'top':tCode}"
            v-if="list.SidebarInfoID==7 && list.State && WeChatList.length>0"
          >
            <p class="service-code-p1" v-for="(list,index) in WeChatList" :key="index">
              <img :src="$ResourceCDN + list.WenxinImg" />
              <span :title="list.WenxinName">{{list.WenxinName | simpleContent(9)}}</span>
              <!-- <span>王牌服务号</span> -->
            </p>
            <!-- <p class="service-code-p1">
              <img
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/liveVideo/web64_float_7.png'"
              />
              <span>王牌服务号</span>
            </p>-->
          </div>

          <!-- QQ客服 -->
          <div
            class="service-sixtyFour-QQservice listHover-child"
            :style="{'top':tQQHeight}"
            v-if="list.SidebarInfoID==8 && list.State && QQSettingInfoList.length>0"
          >
            <ul>
              <li
                v-for="(list,index) in QQSettingInfoList"
                :key="index"
                @click="CallQQClient(list.QQAcct)"
              >
                <div v-if="list.Status.Value==702">
                  <!-- <span>客服{{index+1}}：</span> -->
                  {{list.QQAcct}}
                </div>
              </li>
            </ul>
          </div>

          <!-- 热线 -->
          <div
            class="service-sixtyFour-phoneNo listHover-child"
            v-if="list.SidebarInfoID==9 && list.State"
          >
            <p class="service-phoneNo-p1">{{onlinePhoneNo}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="service"
      v-on:mouseenter="serviceMouseEnter()"
      v-on:mouseleave="serviceMouseLeave()"
    ></div>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import CommonService from "@/assets/scripts/businessLogic/commonService"
import CommUtility from "scripts/common/CommUtility"
import URLService from "@/assets/scripts/common/URLService"
import EventBus from "@/assets/scripts/common/EventBus"
import Vue from "vue"
export default {
  data() {
    return {
      IsCustomerServiceShowing: false,
      CustomerService: {},
      LampLists: [],
      OnlinePeople: undefined,
      RecordList: [],
      GameCatlogKind: undefined,
      GameData: {
        GameAPIVendor: undefined,
        GameCode: "",
        GameCatlog: "",
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      },
      sideBarList: [],
      onlinePhoneNo: "",
      customerUrl: "",
      WeiXinUrl: "",
      CreateDateTime: "",
      QQSettingInfoList: [],
      peopleFlag: false,
      WeChatList: [],
      tCode: "0px",
      tRecords: "1px",
      tQQHeight: "0px",
      GameRecordTime: 0, // 频繁请求游玩记录限制三秒内只能请求一次
      defaultImg:
        'this.src="' + this.$ResourceCDN + '/EditionImg/Lambor1.0/images/web/common/serviceIcon.png?VersionCode"'
    }
  },
  props: {
    IsLogin: undefined
  },
  created: function () {
    this.GetCustomerServiceInfo()
    this.GetSidebarPage()
    this.GetCumstomerInfoPage()
    this.GetTourEnterRecords()
    console.log(this.IsLogin)
  },
  methods: {
    // 鼠标进入游戏记录触发更新游戏记录
    getRecord(bool) {
      if (bool) {
        let nowTimes = new Date().getTime() // 当前时间
        if (nowTimes - this.GameRecordTime < 3000) return // 两次请求需要超过3秒
        this.GameRecordTime = nowTimes
        this.GetTourEnterRecords()
      }
    },
    GetSidebarPage: async function () {
      const self = this
      const dataObj = {
        WGUID: "",
        PlatformType: ""
      }
      dataObj.WGUID = Vue.prototype.$WGUID
      dataObj.PlatformType = BLDef.PlatformType.Web_PC
      const data = await CommonService.Home_GetSidebarSettingList(dataObj)
      console.log("data侧边栏11111")
      console.log(self.IsLogin)
      console.log(data)
      console.log("data侧边栏11111")
      if (data.Ret === 0) {
        self.sideBarList = data.Data.SidebarSettingList
        self.sideBarList.forEach((item) => {
          if (item.SidebarInfoID == 1) {
            if (!self.IsLogin) {
              item.State = false
            }
          }
          if (item.SidebarInfoID == 2) {
            EventBus.$emit("profitSwitch", item.State)
          }
        })

        // let peopleFlag = false
        for (let n = 0; n < self.sideBarList.length; n++) {
          if (self.sideBarList[n].State) {
            self.peopleFlag = true
          }
        }
        console.log(self.peopleFlag)
      }
    },
    // 弹出新窗口
    OpenNewBox: function () {
      return window.open(
        this.customerUrl,
        "newindow",
        "height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no"
      )
    },
    phoneBeting: function () {
      EventBus.$emit("OpenPhoneBetingWindow")
    },
    GetCustomerServiceInfo: async function () {
      const inputObj = { WGUID: Vue.prototype.$WGUID }
      const data = await CommonService.Comm_GetCustomerServiceInfo(inputObj)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.CustomerService = data.Data.CustomerServiceInfo
      }
    },
    // 滑鼠移入右側浮動視窗
    serviceMouseEnter: function () {
      $(".service").addClass("hasblock")
    },
    // 滑鼠移出右側浮動視窗
    serviceMouseLeave: function () {
      if (this.IsCustomerServiceShowing === false) {
        $(".service").removeClass("hasblock")
      }
    },
    // 关闭客服弹窗
    CloseService: function () {
      $(".service").removeClass("hasblock")
    },
    showCustomerService: function () {
      this.IsCustomerServiceShowing = true
    },
    hideCustomerService: function () {
      this.IsCustomerServiceShowing = false
    },
    CallQQClient: function (QQAcct) {
      const QQHref = "http://wpa.qq.com/msgrd?v=3&uin=" + QQAcct + "&menu=yes"
      window.open(QQHref)
    },
    GetTourEnterRecords: async function () {
      const inputData = { Data: "" }
      const retData = await CommonService.GetTourRecords(inputData)
      // console.log(inputData);
      console.log("GetTourRecords================================" + inputData)
      console.log(retData)
      if (retData.Ret === 0) {
        this.RecordList = retData.Data.List
        if (this.RecordList.length > 0) {
          this.tRecords = -35 * this.RecordList.length + "px"
        } else {
          this.tRecords = "1px"
        }

        // this.RecordList.reverse();
      }
    },
    // GetTourOutRecords: function () {
    //   this.tourRecordsFlag = false;
    // },
    // 获取在线客服与微信客服
    GetCumstomerInfoPage: async function () {
      const inputData = { WGUID: Vue.prototype.$WGUID }
      const retData = await CommonService.GetCumstomerInfoLoad(inputData)
      console.log("微信客服")
      console.log(inputData)
      console.log(retData)
      console.log("微信客服")
      if (retData.Ret === 0) {
        // / <summary>客服電話</summary>
        this.onlinePhoneNo = retData.Data.CustomerServicePhoneNo
        // / <summary>在线客服地址</summary>
        this.customerUrl = retData.Data.OnlineUrl
        // / <summary>微信列表</summary>
        this.WeChatList = retData.Data.WeChatList
        this.tCode = -45 * this.WeChatList.length + "px"
        // / <summary> 创建时间</summary>
        // this.CreateDateTime = retData.Data.CreateDateTime;
        // / <summary>QQ客服人員設定列表資訊</summary>
        this.QQSettingInfoList = retData.Data.CustomerServiceSettingInfoList

        if (this.QQSettingInfoList.length > 1) {
          this.tQQHeight = -14 * this.QQSettingInfoList.length + "px"
        }
      }

      console.log(retData)
    },
    sidebarListClick: function (item) {
      console.log(item)
      if (item.SidebarInfoID == 4) {
        this.$router.push({ name: "NewsList" })
      } else if (item.SidebarInfoID == 5) {
        this.$router.push({ name: "ActivityList" })
      } else if (item.SidebarInfoID == 6) {
        this.OpenNewBox()
      } else if (item.SidebarInfoID == 3) {
        this.$router.push({ name: "MobileBet" })
      } else if (item.SidebarInfoID == 10) {
        window.open(item.ExtrenalLink)
      }
    },
    RecordsEnterGame: function (item) {
      console.log(item)

      // 2018.11.15 SeyoChen 遍历游戏
      this.GameData.GameAPIVendor = item.GameApiNo
      this.GameData.GameCode = item.GameCode
      this.GameData.GameCatlog = item.GameTypeNo
      // this.GameData.GameCatlog = this.GameCatlogKind; // 2018.12.01 传递游戏类型
      console.log(this.GameData)
      localStorage.setItem("PlayGamePostData", URLService.GetUrlParameterFromObj(this.GameData))
      if (item.GameApiNo === 31) {
        CommUtility.OpenPlayGameWindow("webPlayPngGame", "PlayGamePopUpWindow")
      } else {
        CommUtility.OpenPlayGameWindow("webPlayGame", "PlayGamePopUpWindow")
      }
      // EventBus.$emit('showTransferMessage', this.GameData);
      CommUtility.OpenPlayGameWindow("webPlayGame", "PlayGamePopUpWindow")
    } // end PlaySBGame
  },
  watch: {
    IsLogin() {
      this.GetSidebarPage()
    }
  }
}
</script>
