<template>
  <!--导航-->
  <div class="main-cont-nav" :class="{'main-cont-nav2': this.$route.name !== 'Index'}">
    <!--公共-->
    <div class="main-cont-box" :class="'main-cont-box_'+$MessageLang">
      <ul class="main-nav-ul mainNav-nav-second hides clearfix">
        <li class="main-navList-logo">
          <router-link to="/" class="diinline">
            <img :src="this.LogoImgPath" />
          </router-link>
        </li>
        <li class="main-navList main-navList1 main-navList-special">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'LiveVideo'}"
            :to="{ name: 'LiveVideo'}"
          >
            <i></i>
            <p>{{$t('message.nav_live')}}</p>
            <span v-show="$MessageLang !== 'en'">Live video</span>
          </router-link>
        </li>
        <li class="main-navList main-navList2">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Electronic'}"
            :to="{ name: 'Electronic'}"
          >
            <i></i>
            <p>{{$t('message.nav_game')}}</p>
            <span v-show="$MessageLang !== 'en'">Electronic game</span>
          </router-link>
        </li>
        <li class="main-navList main-navList2">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Athletics'}"
            :to="{ name: 'Athletics'}"
          >
            <i></i>
            <p>{{$t('message.nav_sport')}}</p>
            <span v-show="$MessageLang !== 'en'">Electronic sports</span>
          </router-link>
        </li>

        <li class="main-navList main-navList3">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Sport'}"
            :to="{ name: 'Sport'}"
          >
            <i></i>
            <p>{{$t('message.nav_lottery')}}</p>
            <span v-show="$MessageLang !== 'en'">Sports betting</span>
          </router-link>
        </li>

        <li class="main-navList main-navList5 main-navList-inside">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Poker'}"
            :to="{ name: 'Poker'}"
          >
            <i></i>
            <p>{{$t('message.nav_poker')}}</p>
            <span v-show="$MessageLang !== 'en'">Chess game</span>
          </router-link>
        </li>
        <li class="main-navList main-navList4">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Lottery'}"
            :to="{ name: 'Lottery'}"
          >
            <i></i>
            <p>{{$t('message.nav_betting')}}</p>
            <span v-show="$MessageLang !== 'en'">Lottery betting</span>
          </router-link>
        </li>
        <li class="main-navList main-navList6">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'NewsList' || this.$route.name === 'NewsListDetails'}"
            :to="{ name: 'NewsList'}"
          >
            <i></i>
            <p>{{$t('message.nav_news')}}</p>
            <span v-show="$MessageLang !== 'en'">Hot news</span>
          </router-link>
        </li>
        <li class="main-navList main-navList7">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'ActivityList' || this.$route.name === 'ActivityListDetails'}"
            :to="{ name: 'ActivityList'}"
          >
            <i></i>
            <p>{{$t('message.nav_promotions')}}</p>
            <span v-show="$MessageLang !== 'en'">Promotions</span>
          </router-link>
        </li>
        <!-- <li class="main-navList main-navList8">
          <router-link
            v-bind:class="{ 'hasSelece': this.$route.name === 'Tutorial'}"
            :to="{ name: 'Tutorial'}"
          >
            <i></i>
            <p>新手教程</p>
            <span>TUTORIAL</span>
          </router-link>
        </li>-->
      </ul>
      <div class="nav_btn hides">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </div>
  </div>
</template>

<script>
import BLDef from "scripts/common/BLDef"
import Vue from "vue"
import LoginService from "@/assets/scripts/businessLogic/loginService"
import CommonService from "@/assets/scripts/businessLogic/commonService"

export default {
  data() {
    return {
      LogoImgPath: ""
    }
  },
  created: function () {
    this.GetLogoData()
  },
  methods: {
    GetLogoData: async function () {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_PC
      }
      const retData = await CommonService.HomePage_LoadMainPage(DataObj)
      console.log("next")
      if (retData.Ret === 0) {
        this.LogoImgPath = retData.Data.MasterLogo
      } else {
        this.LogoImgPath = localStorage.getItem("LogoImgPath")
      }
    }
  }
}
</script>
