<template>
  <div>
    <!-- 取款密码彈窗 -->
    <div id="BankAlterForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CommUtility.WebClosealertboxForm('BankAlterForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_title">
        <p style="line-height:32px">{{$t('message.member_double_confirm')}}</p>
      </div>
      <div class="bankInfoAlter-content">
        <h3 class="bankInfoAlter-cont-title">{{$t('message.member_double_confirm1')}}</h3>
        <p class="bankInfoAlter-cont-list">
          {{$t('message.member_card_owner')}}：
          <span>{{BankData.CardName}}</span>
        </p>
        <p class="bankInfoAlter-cont-list">
          {{$t('message.member_bank_name')}}：
          <span>{{BankData.BankName}}</span>
        </p>
        <p class="bankInfoAlter-cont-list">
          {{$t('message.member_bank_expenses')}}：
          <span>{{BankData.BranchName}}</span>
        </p>
        <p class="bankInfoAlter-cont-list">
          {{$t('message.member_account_number')}}：
          <span>{{BankData.BankAcct}}</span>
        </p>
        <p class="bankInfoAlter-cont-list">{{$t('message.member_edit_account')}}。</p>
      </div>
      <div class="pub_btn_both style3" style="padding-left: 98px;">
        <a
          class="btn1 alert_click1 hasblock"
          style="cursor: pointer"
          @click="UpdateBankSumit()"
        >{{$t('message.member_ascertain')}}</a>
        <a
          class="btn2"
          @click="CommUtility.WebClosealertboxForm('BankAlterForm')"
        >{{$t('message.member_cancel')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import Vue from "vue"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"

export default {
  props: {
    BankData: {
      default: function () {
        return {}
      }
    },
    Submitted: undefined
  },
  data() {
    return {
      CommUtility: CommUtility,
      Reg: Regex.Regex,
      ProcessingFlag: false,
      InitialFormData: undefined,
      WithdrawData: {
        WithdrawPwd: "",
        WithdrawMode: undefined,
        BankID: undefined
      },
      CurrentWithdrawPwdErrCnt: undefined
    }
  },
  created: function () {
    const self = this
    EventBus.$on("BankInfoAlterWindowTrigger", () => {
      self.OpenNewBox()
    })
  },
  mounted: function () {},
  methods: {
    // 弹出新窗口
    OpenNewBox: function () {
      CommUtility.WebShowAlertboxForm("BankAlterForm")
    },
    UpdateBankSumit: async function () {
      // this.DropDownInvalid = this.CheckDropDownInvalid();
      // Object.keys(this.fields).forEach(key => {
      //   this.fields[key].touched = true;
      // });
      // const result = await this.$validator.validateAll();
      // if (result === false || this.DropDownInvalid === true) {
      //   return;
      // }

      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true

      const inputObj = {
        OrgBankAcct: this.OrgBankData,
        BankAcct: this.BankData
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.BankInfo_Mod(inputObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      console.log("==============================测试111111111111")
      console.log(data)
      console.log(inputObj)

      this.ProcessingFlag = false

      if (data.Ret === 0) {
        // this.InputReadOnly = true; // 资料保存成功后状态修改 20190910 SeyoChen
        this.OrgBankAcct = Vue.util.extend({}, this.BankData)
        EventBus.$emit("fillTipUpdate")
        // const notifyData = {
        //   NotifyMessage: data.Message
        // };
        // EventBus.$emit('showNotifyMemberMessage', notifyData);
        this.$parent.addBankLoad()
        this.$parent.LoadPage()
        CommUtility.WebClosealertboxForm("BankAlterForm")
      } else if (data.Ret === 49) {
        CommUtility.WebClosealertboxForm("BankAlterForm")
        const notifyData = {
          NotifyMessage: this.$t("message.member_unmodifiable")
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      } else {
        CommUtility.WebClosealertboxForm("BankAlterForm")
        const notifyData = {
          NotifyMessage: data.Message
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
      this.Submitted = false
    }
  }
}
</script>
