<template>
  <div class="main main_index number">
    <div class="indexNew-banner">
      <!-- banner -->
      <div class="swiper-container swiper-banner1">
        <div class="swiper-wrapper">
          <div class="swiper-slide banner1-station-1">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/Banner'+ $VersionNumber +'/index_new_banner1.png'"
            />
          </div>
          <div class="swiper-slide banner1-station-2">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/Banner'+ $VersionNumber +'/index_new_banner2.png'"
            />
          </div>
          <div class="swiper-slide banner1-station-3">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/Banner'+ $VersionNumber +'/index_new_banner3.png'"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="indexNew-wrapContent">
      <div class="indexNew-wrap-pic1">
        <div class="indexNew-pic1-lf">
          <!-- banner -->
          <div class="swiper-container swiper-banner2">
            <div class="swiper-wrapper">
              <div class="indexNew-position swiper-slide banner2-station-1">
                <router-link :to="{name: 'LiveVideo'}" v-if="this.ShowGameList[0] == undefined">
                  <img :src="$ResourceCDN+this.FastEnter.FastEnter1" />
                </router-link>
                <div v-else @click="PlayGame(0)">
                  <img
                    :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game1.png'"
                  />
                  <div class="game-logo game-logo1">
                    <p class="game-GameTypeNo">{{this.GameTypeNo[0]}}</p>
                    <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[0]+'.png'" />
                  </div>
                </div>
              </div>
              <div
                class="indexNew-position swiper-slide banner2-station-2"
                v-if="this.ShowGameList[6] != undefined"
                @click="PlayGame(6)"
              >
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game2.png'"
                />
                <div class="game-logo game-logo1">
                  <p class="game-GameTypeNo">{{this.GameTypeNo[6]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[6]+'.png'" />
                </div>
              </div>
              <div
                class="indexNew-position swiper-slide banner2-station-3"
                v-if="this.ShowGameList[7] != undefined"
                @click="PlayGame(7)"
              >
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game3.png'"
                />
                <div class="game-logo game-logo1">
                  <p class="game-GameTypeNo">{{this.GameTypeNo[7]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[7]+'.png'" />
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="indexNew-pic1-lg">
          <div class="indexNew-pic1-lgTop">
            <div class="indexNew-position pic1-lgTop-p1 indexNew-pic-p">
              <router-link :to="{name: 'Electronic'}" v-if="this.ShowGameList[1] == undefined">
                <img :src="$ResourceCDN+this.FastEnter.FastEnter2" />
              </router-link>
              <div v-else @click="PlayGame(1)">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game4.png'"
                />
                <div class="game-logo game-logo3">
                  <p class="game-GameTypeNo">{{this.GameTypeNo[1]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[1]+'.png'" />
                </div>
              </div>
            </div>
            <div class="indexNew-position pic1-lgTop-p2 indexNew-pic-p">
              <router-link :to="{name:'ActivityList'}">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/index_new_img13.png'"
                />
              </router-link>
            </div>
          </div>
          <div class="indexNew-pic1-lgBottom">
            <div class="indexNew-position pic1-lgBottom-p1">
              <router-link :to="{name: 'Poker'}" v-if="this.ShowGameList[2] == undefined">
                <img :src="$ResourceCDN+this.FastEnter.FastEnter3" />
              </router-link>
              <div v-else @click="PlayGame(2)">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game5.png'"
                />
                <div class="game-logo game-logo3">
                  <p class="game-GameTypeNo">{{this.GameTypeNo[2]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[2]+'.png'" />
                </div>
              </div>
            </div>
            <div class="pic1-lgBottom-p2">
              <router-link :to="{name:'NewsList'}">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/index_new_img15.png'"
                />
              </router-link>
            </div>
            <div class="pic1-lgBottom-p3" @click="navClick('webMemberDeposit')">
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/index_new_img16.png'"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic2 clearfix">
        <div class="indexNew-position indexNew-pic2-p1">
          <router-link :to="{name: 'Lottery'}" v-if="this.ShowGameList[3] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter4" />
          </router-link>
          <div v-else @click="PlayGame(3)">
            <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game6.png'" />
            <div class="game-logo game-logo2">
              <p class="game-GameTypeNo">{{this.GameTypeNo[3]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[3]+'.png'" />
            </div>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p2">
          <router-link :to="{name: 'Sport'}" v-if="this.ShowGameList[4] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter5" />
          </router-link>
          <div v-else @click="PlayGame(4)">
            <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game7.png'" />
            <div class="game-logo game-logo2">
              <p class="game-GameTypeNo">{{this.GameTypeNo[4]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[4]+'.png'" />
            </div>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p3">
          <router-link :to="{name: 'Athletics'}" v-if="this.ShowGameList[5] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter6" />
          </router-link>
          <div v-else @click="PlayGame(5)">
            <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game8.png'" />
            <div class="game-logo game-logo2">
              <p class="game-GameTypeNo">{{this.GameTypeNo[5]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[5]+'.png'" />
            </div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic3 clearfix">
        <div
          class="indexNew-position indexNew-pic3-p1"
          v-if="this.ShowGameList[8] != undefined"
          @click="PlayGame(8)"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game9.png'" />
          <div class="game-logo game-logo3">
            <p class="game-GameTypeNo">{{this.GameTypeNo[8]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[8]+'.png'" />
          </div>
        </div>
        <div
          class="indexNew-position indexNew-pic3-p2"
          v-if="this.ShowGameList[9] != undefined"
          @click="PlayGame(9)"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game10.png'" />
          <div class="game-logo game-logo3">
            <p class="game-GameTypeNo">{{this.GameTypeNo[9]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[9]+'.png'" />
          </div>
        </div>
        <div
          class="indexNew-position indexNew-pic3-p3"
          v-if="this.ShowGameList[10] != undefined"
          @click="PlayGame(10)"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game11.png'" />
          <div class="game-logo game-logo3">
            <p class="game-GameTypeNo">{{this.GameTypeNo[10]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[10]+'.png'" />
          </div>
        </div>
        <div
          class="indexNew-position indexNew-pic3-p4"
          v-if="this.ShowGameList[11] != undefined"
          @click="PlayGame(11)"
        >
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game12.png'" />
          <div class="game-logo game-logo3">
            <p class="game-GameTypeNo">{{this.GameTypeNo[11]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[11]+'.png'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import Swiper from 'swiper';
import HttpService from 'scripts/common/HttpService';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import URLService from 'scripts/common/URLService';

import Axios from 'axios';
// import SlideBanner from '@/components/web/sub/index/slideBanner';
// import EasyActivity from '@/components/web/sub/index/easyActivity';
// import FastEntrance from '@/components/web/sub/index/fastEntrance';
// import HotGame from '@/components/web/sub/index/hotGame';
// import Advantage from '@/components/web/sub/index/advantage';

export default {
  // components: {
  //     SlideBanner,
  //     EasyActivity,
  //     HotGame,
  //     FastEntrance,
  //     Advantage
  // }
  data () {
    return {
      GameList: [],
      ShowGameList: [],
      GameApiNo: [], // 游戏编号 显示厂商logo
      GameTypeNo: [], // 游戏类型 显示游戏类型
      FastEnter: [],
      // 进入游戏 Post Model
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.LiveVideo,
        // GameCatlog: BLDef.GameCatlogType.Lottery,
        // GameCatlog: BLDef.GameCatlogType.Poker,
        // GameCatlog: BLDef.GameCatlogType.Sport,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      }
    };
  },
  created: function () {
    this.GatGame();
    this.$nextTick(() => {
      /* eslint-disable no-new */
      new Swiper('.swiper-container', {
        mousewheelControl: true,
        direction: 'horizontal', //
        mousewheelForceToAxis: true,
        autoplay: 5000, // 可选选项，自动滑动
        pagination: '.swiper-pagination',
        paginationClickable: true
      });
    });

    // 获取默认没有游戏情况下的图片
    Axios.get('/static/customer/indexSet.json').then(resource => {
      this.FastEnter = resource.data.IndexFastEnter;
    });
  },
  methods: {
    // 进入游戏 20190724 SeyoChen
    // 開新視窗
    PlayGame: function (num) {
      // 判断是否为电子游戏类型 是：跳转到电子游戏页面 否：往下执行
      if (this.ShowGameList[num].GameTypeNo === 4) {
        // EventBus.$emit('IndexGame', this.ShowGameList[num].GameApiNo);
        this.$router.push({
          name: 'Electronic',
          params: { GameNo: this.ShowGameList[num].GameApiNo }
        });
        return;
      }

      this.GameData.GameAPIVendor = this.ShowGameList[num].GameApiNo;
      this.GameData.GameCode = this.ShowGameList[num].GameCode;

      switch (this.ShowGameList[num].GameTypeNo) {
        case 1:
          this.GameData.GameCatlog = BLDef.GameCatlogType.LiveVideo;
          break;
        case 2:
          this.GameData.GameCatlog = BLDef.GameCatlogType.Sport;
          break;
        case 3:
          this.GameData.GameCatlog = BLDef.GameCatlogType.Lottery;
          break;
        case 5:
          this.GameData.GameCatlog = BLDef.GameCatlogType.Poker;
          break;
        case 6:
          this.GameData.GameCatlog = BLDef.GameCatlogType.ElectronicGameHtml5;
          break;

        default:
          break;
      }

      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );

      if (this.ShowGameList[num].GameTypeNo === 5) {
        if (
          this.ShowGameList[num].GameTypeNo == 5 &&
          this.ShowGameList[num].GameApiNo == '69'
        ) {
          CommUtility.OpenPlayGameWindow(
            'webPlayMyGame',
            'PlayGamePopUpWindow'
          );
        } else if (
          this.ShowGameList[num].GameTypeNo == 5 &&
          this.ShowGameList[num].GameApiNo == '70'
        ) {
          CommUtility.OpenPlayGameWindow(
            'webPlayMyGame',
            'PlayGamePopUpWindow'
          );
        } else if (
          this.ShowGameList[num].GameTypeNo == 5 &&
          this.ShowGameList[num].GameApiNo == '72'
        ) {
          CommUtility.OpenPlayGameWindow(
            'webPlayMyGame',
            'PlayGamePopUpWindow'
          );
        } else if (
          this.GameList[num].GameTypeNo == 5 &&
          this.GameList[num].GameApiNo == '73'
        ) {
          CommUtility.OpenPlayGameWindow(
            'webPlayMyGame',
            'PlayGamePopUpWindow'
          );
        } else {
          CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
        }
      } else {
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
    }, // end PlayGame

    navClick: async function (name) {
      // 判断用户是否有权限：账户冻结，账户锁定等状态
      const permissionData = await this.CheckAcctStatus();
      if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
        const notifyData = {
          NotifyMessage:
            BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
              permissionData.Status ||
            BLDef.SysAccountStatus.NOT_LOGIN_DELETED == permissionData.Status
              ? this.$t('message.top_login_account')
              : this.$t('message.top_account_freezing'),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        // this.$router.push({
        //     name: 'Deposit'
        // });
        this.$store.dispatch('setSwitchNameText', 'webMemberDeposit');
        EventBus.$emit('personalInfo');
      }
    },
    // 檢查登入狀態
    CheckAcctStatus: async function () {
      const retData = await CommonService.Comm_CheckPermission();
      return retData;
    },

    // 根据遍历获取的游戏列表筛选游戏类型 20190723 SeyoChen
    SelectGame: function () {
      let num = 0;
      for (let i = 0; num <= 11; i++) {
        // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
        if (
          this.ShowGameList.length === 0 &&
          this.GameList[i].GameTypeState !== 704
        ) {
          this.ShowGameList.push(this.GameList[i]);
          this.GameApiNo.push(this.GameList[i].GameApiNo);

          switch (this.GameList[i].GameTypeNo) {
            case 1:
              this.GameTypeNo.push(this.$t('message.nav_live'));
              break;
            case 2:
              this.GameTypeNo.push(this.$t('message.nav_lottery'));
              break;
            case 3:
              this.GameTypeNo.push(this.$t('message.nav_betting'));
              break;
            case 4:
              this.GameTypeNo.push(this.$t('message.nav_game'));
              break;
            case 5:
              this.GameTypeNo.push(this.$t('message.nav_poker'));
              break;
            case 6:
              this.GameTypeNo.push(this.$t('message.nav_sport'));
              break;

            default:
              break;
          }
          num++;
        } else if (
          this.GameList[i].GameTypeState !== 704 &&
          this.ShowGameList[num - 1].GameApiNo !== this.GameList[i].GameApiNo
        ) {
          this.ShowGameList.push(this.GameList[i]);
          this.GameApiNo.push(this.GameList[i].GameApiNo);

          switch (this.GameList[i].GameTypeNo) {
            case 1:
              this.GameTypeNo.push(this.$t('message.nav_live'));
              break;
            case 2:
              this.GameTypeNo.push(this.$t('message.nav_lottery'));
              break;
            case 3:
              this.GameTypeNo.push(this.$t('message.nav_betting'));
              break;
            case 4:
              this.GameTypeNo.push(this.$t('message.nav_game'));
              break;
            case 5:
              this.GameTypeNo.push(this.$t('message.nav_poker'));
              break;
            case 6:
              this.GameTypeNo.push(this.$t('message.nav_sport'));
              break;

            default:
              break;
          }
          num++;
        }
      }
    },
    // 根据遍历获取的游戏列表筛选游戏类型 20190723 SeyoChen end

    // 遍历获取游戏列表 2018.11.15 SeyoChen
    GatGame: async function () {
      // 清空首页列表排序 20190724 SeyoChen
      this.ShowGameList = [];
      this.GameApiNo = [];
      this.GameApiNo = [];

      this.GameList = JSON.parse(localStorage.getItem('GameList'));
      const dataObj = {
        WGUID: '',
        GameTypeNo: ''
      };
      dataObj.WGUID = this.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj);

      if (
        retData.Ret === 0 &&
        this.GameList !== retData.Data.GameAPIVerdorList
      ) {
        // 判断本地缓存是否与之前的相同
        this.GameList = retData.Data.GameAPIVerdorList;
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }

      this.SelectGame();
    }
    // 遍历获取游戏列表 2018.11.15 SeyoChen end
  }
  // watch: {
  //   $route (to, from) {
  //     if (this.$route.name == 'Index') {
  //       console.log(
  //         '====================================================1111111111111111111111'
  //       );
  //       this.$nextTick(() => {
  //         /* eslint-disable no-new */
  //         new Swiper('.swiper-container', {
  //           mousewheelControl: true,
  //           direction: 'horizontal', //
  //           mousewheelForceToAxis: true,
  //           autoplay: 5000, // 可选选项，自动滑动
  //           pagination: '.swiper-pagination',
  //           paginationClickable: true
  //         });
  //       });
  //     }
  //   }
  // }
};
</script>
