//@ResourceURL: "http://wowza211.cdn1.chinacache.woooow/LamborSummary/EditionImg/Lambor7.0/images";

// sever
.service-list-box .qq_list li a {
  background: url("@{ResourceCDNUrl}/web/frame/icon_qq.png") no-repeat;
}
.service-jiao {
  background: url("@{ResourceCDNUrl}/web/frame/icon_rt.png") no-repeat;
}

.service-list-box .qq_list li.last_li a {
  background: url("@{ResourceCDNUrl}/web/frame/icon_qq1.png") no-repeat;
}
// sever end

// partnerLogo

//.logoPage{
//  background: url("@{ResourceCDNUrl}/web/public/logo-frame.png")no-repeat;
//}
// partnerLogo end

// logo-page

.number-page-btn {
  background: url("@{ResourceCDNUrl}/web/public/page-left.png") no-repeat;
}

.number-page-right {
  background: url("@{ResourceCDNUrl}/web/public/page-right.png") no-repeat;
}

// logo-page end

// index

// index end

// video
.video_con {
  background: url("@{ResourceCDNUrl}/web/liveVideo/bg.png") no-repeat;
}
// video end

// electronic

.computer_con {
  background: url("@{ResourceCDNUrl}/web/electronic/electronic-bg.png") no-repeat;
}
.c-g-content {
  background: url("@{ResourceCDNUrl}/web/electronic/c-g-frame.png") no-repeat;
}
.cg-game-menu a span {
  background: url("@{ResourceCDNUrl}/web/electronic/game-btn.png") no-repeat;
}

// electronic end

// sport

.sports_con {
  background: url("@{ResourceCDNUrl}/web/sportsBetting/bg.png");
}

// sport end

// lottery

.lottery_con {
  background: url("@{ResourceCDNUrl}/web/lottery/bg.png") no-repeat;
}

// lottery end

// news

.news_con {
  background: url("@{ResourceCDNUrl}/web/activities/bg.png");
  height: 1267px;
}

// news end

// activity

.activity_details_con {
  background: url("@{ResourceCDNUrl}/web/activities/bg.png");
}
.a-n-content .anbtn {
  background: url("@{ResourceCDNUrl}/web/public/hover.png") no-repeat;
}
.activity_con .banner .actbtn {
  background: url("@{ResourceCDNUrl}/web/activities/actbtn.png") no-repeat;
}

// activity end

// tutorial

//.tutorial_left_navs li a i.skill_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill1.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_1,.tutorial_left_navs li.on a i.skill_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon1.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill2.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_2,.tutorial_left_navs li.on a i.skill_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon2.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill3.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_3,.tutorial_left_navs li.on a i.skill_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon3.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill4.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_4,.tutorial_left_navs li.on a i.skill_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon4.png")no-repeat;
//}
//.tutorial-inside .tutorial-text h2{
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/title.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem1.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_1,.tutorial_left_navs li.on a i.problem_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon1.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem2.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_2,.tutorial_left_navs li.on a i.problem_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon2.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem3.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_3,.tutorial_left_navs li.on a i.problem_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon3.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem4.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_4,.tutorial_left_navs li.on a i.problem_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon4.png")no-repeat;
//}

// tutorial end

// mobileApp

.mobile-main .wordbtn b {
  background: url("@{ResourceCDNUrl}/web/mobileBetting/right.png") no-repeat;
}
.mobile-main .mobile-text .mt-join a {
  background: url("@{ResourceCDNUrl}/web/mobileBetting/kuang.png") no-repeat;
}

// mobileApp end

// aboutUs

.about_con {
  background: url("@{ResourceCDNUrl}/web/aboutUs/bg.png");
}

// aboutUs end

// partner

.introduct_con {
  background: url("@{ResourceCDNUrl}/web/public/bg.png");
}

// partner end

// agent

.agent_con {
  background: url("@{ResourceCDNUrl}/web/public/bg.png");
}
.agent-content > h2 a {
  background: url("@{ResourceCDNUrl}/web/agent/agentbtn.png") no-repeat;
}

// agent end

// Join

.agent_join_con {
  background: url("@{ResourceCDNUrl}/web/public/bg.png");
}

.agent_join_content .agent_join_main {
  background: url("@{ResourceCDNUrl}/web/agent/frame.png");
}
.a-j-lists .proxy-line i {
  background: url("@{ResourceCDNUrl}/web/agent/xiala.png") no-repeat;
}
.a-j-cont .a-c-submit {
  background: url("@{ResourceCDNUrl}/web/agent/a-surn.png") no-repeat top center;
}

// Join end

// freetral

// freetral end

// h5

.H5_con {
  background: url("@{ResourceCDNUrl}/web/H5/bg.png") no-repeat top center;
}

.H5-content .H5-main {
  background: url("@{ResourceCDNUrl}/web/public/farme.png") no-repeat;
}

// h5  end

// login&register

//.l_r_con{
//  background: url("@{ResourceCDNUrl}/web/public/bg.png");
//}
//.l_r_main{
//  background: url("@{ResourceCDNUrl}/web/loginRegister/frame.png")no-repeat top center;
//}
//.l_r_main .lrbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/loginbtn.png")no-repeat top center;
//}
//.register-content h4 i.current {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/gougou.png")no-repeat center;
//}
//.register-content .regiserbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/rebrn.png")no-repeat top center;
//}
//.agreement-content .back_register {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/pro-return.png")no-repeat top center;
//}
//.success-centent .successbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/return.png")no-repeat top center;
//}

// login&register  end
