<template>
  <div>
    <!--关于我们 60.0-->
    <div class="about-content about-content-60 hide" :class="'about_'+$MessageLang">
      <div class="clearfix" style="height: 200px;"></div>
      <div class="about-main">
        <div class="clearfix">
          <h2>
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web60/aboutUs_title.png'"
            />
          </h2>
          <div class="about-float clearfix">
            <div class="main-center fl">
              <h3>{{this.LogoName}}{{$t('message.abouts_brief_introduction')}}</h3>
              <p>{{$t('message.abouts_casino')}}{{this.LogoName}}{{$t('message.abouts_most_exciting')}} {{$t('message.abouts_legal')}}</p>
              <h3>{{$t('message.abouts_fair_play')}}</h3>
              <p>{{$t('message.abouts_secrecy')}}</p>
            </div>
            <div class="about-img fr">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/aboutUs/img.png'" />
            </div>
          </div>
          <h3>{{$t('message.abouts_choose_us')}}，{{$t('message.abouts_ten_reason')}}</h3>
          <ul class="mian-list clearfix">
            <li :title="$t('message.abouts_safe_enough')">
              <i>1</i>
              {{$t('message.abouts_safe_enough') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_ranking')">
              <i>2</i>
              {{$t('message.abouts_ranking') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_capital')">
              <i>3</i>
              {{$t('message.abouts_capital') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_draw')">
              <i>4</i>
              {{$t('message.abouts_draw') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_activity')">
              <i>5</i>
              {{$t('message.abouts_activity') | simpleContent(10)}}
            </li>
            <li :title="$t('message.abouts_enough_security')">
              <i>6</i>
              {{$t('message.abouts_enough_security') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_service')">
              <i>7</i>
              {{$t('message.abouts_service') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_vip')">
              <i>8</i>
              {{$t('message.abouts_vip') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_operation')">
              <i>9</i>
              {{$t('message.abouts_operation') | simpleContent(12)}}
            </li>
            <li :title="$t('message.abouts_business')">
              <i>10</i>
              {{$t('message.abouts_business') | simpleContent(12)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 60.0 end -->

    <!--关于我们 23.0-->
    <div class="about-content about-content-23 hide">
      <div class="about-main">
        <div class="a-u-content">
          <div class="preferential_scroll_box" id="aboutUs">
            <div class="preferential_list">
              <div class="a-u-title clearfix">
                <i class="pull-left"></i>
                <dl class="pull-left">
                  <dt>{{$t('message.foot_about_us')}}</dt>
                  <dd>ABOUT US</dd>
                </dl>
              </div>
              <div class="a-u-text">
                <p>{{$t('message.abouts_casino')}}{{this.LogoName}}{{$t('message.abouts_most_exciting')}}</p>
                <p>{{$t('message.abouts_legal')}}</p>
                <p>{{$t('message.abouts_secrecy')}}</p>
              </div>
              <div class="a-u-title on clearfix">
                <i class="pull-left"></i>
                <dl class="pull-left">
                  <dt>{{$t('message.abouts_choose_us')}}（{{$t('message.abouts_ten_reason')}}）</dt>
                  <dd>Choose us (ten big enough reason to be assured)</dd>
                </dl>
              </div>
              <div class="clearfix">
                <div class="a-u-text pull-left">
                  <p>{{$t('message.abouts_one')}}{{$t('message.abouts_platform')}}</p>
                  <p>{{$t('message.abouts_two')}}{{$t('message.abouts_ranking')}}</p>
                  <p>{{$t('message.abouts_three')}}{{$t('message.abouts_capital')}}</p>
                  <p>{{$t('message.abouts_four')}}{{$t('message.abouts_draw')}}</p>
                  <p>{{$t('message.abouts_five')}}{{$t('message.abouts_activity')}}</p>
                  <p>{{$t('message.abouts_six')}}{{$t('message.abouts_enough_security')}}</p>
                  <p>{{$t('message.abouts_seven')}}{{$t('message.abouts_service')}}</p>
                  <p>{{$t('message.abouts_eight')}}{{$t('message.abouts_vip')}}</p>
                  <p>{{$t('message.abouts_nine')}}{{$t('message.abouts_operation')}}</p>
                  <p>{{$t('message.abouts_ten')}}{{$t('message.abouts_business')}}</p>
                </div>
                <div class="pull-right a-u-img">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web23/aboutUs/img.jpg'"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--23.0 end-->

    <!--关于我们 34.0-->
    <div class="about-content about-content-34 hide">
      <div class="waboutUs-right-contMain">
        <h2 class="waboutUs-contMain-title">
          <span>{{$t('message.foot_about_us')}}</span>
          <p>ABOUT US</p>
        </h2>
        <div class="wfrim-contMain-aboutUs">
          <div class="waboutUs-cont-header">
            <div class>
              <p
                class="waboutUs-header-textSp"
              >{{this.LogoName}}{{$t('message.abouts_legal_license')}}No.12- OCGO-013-1。</p>
              <p
                class="waboutUs-header-textSp"
              >{{$t('message.abouts_virtue_game')}}{{this.LogoName}}{{$t('message.abouts_service_customer')}}</p>
              <p
                class="waboutUs-header-textSp"
              >{{this.LogoName}}{{$t('message.abouts_internet_security')}}{{this.LogoName}}{{$t('message.abouts_security_sites')}}{{this.LogoName}}{{$t('message.abouts_certification')}}</p>
              <p
                class="waboutUs-header-textSp"
              >{{this.LogoName}}{{$t('message.abouts_virtue_game')}}</p>
              <p
                class="waboutUs-header-textSp"
              >{{this.LogoName}}{{$t('message.abouts_not_close_all_day')}}</p>
            </div>
            <div class>
              <h2 class="waboutUs-header-textTitle">{{$t('message.abouts_exemption')}}</h2>
              <p class="waboutUs-header-textSp">{{$t('message.abouts_not_accept_factor')}}</p>
              <h2 class="waboutUs-header-textTitle">{{$t('message.abouts_underage_gambling')}}</h2>
              <p class="waboutUs-header-textSp">{{$t('message.abouts_adult_member')}}</p>
              <p class="waboutUs-header-textSp">{{$t('message.abouts_strict_bearing')}}</p>
            </div>
          </div>
          <div class="waboutUs-cont-reason">
            <h2
              class="waboutUs-reason-title"
            >{{$t('message.abouts_choose_us')}} {{$t('message.abouts_ten_reason')}}</h2>
            <ul class="waboutUs-reason-tabCon">
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_4.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_authority')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_platform')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_5.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_lean_forward')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_ranking')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_6.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_security')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_capital')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_7.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_free')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_draw')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_8.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_awesome')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_activity')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_9.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_ensure')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_enough_security')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_10.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_intimate')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_service')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_11.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_supreme')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_vip')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_12.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_simple')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_operation')}}</p>
              </li>
              <li class="waboutUs-reason-tabList">
                <p class="tabList-pic">
                  <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/a_13.png'" />
                </p>
                <h3 class="tabList-head">{{$t('message.abouts_legitimate')}}</h3>
                <p class="tabList-text">{{$t('message.abouts_business')}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--34.0 end-->

    <!-- general tamplate -->
    <div class="about-content general-about-content hide">
      <div class="general-about-banner">
        <video
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/aboutUs.mp4'"
          class="sy15-about-video about-banner-video"
          autoplay="autoplay"
          width="100%"
          loop="loop"
          muted
        ></video>
      </div>
      <div class="general-about-layout">
        <div class="float_model slider_at">
          <div class="title"></div>
          <div class="float_man feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float1.png'" />
            </div>
          </div>
          <div class="float_card1 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float2.png'" />
            </div>
          </div>
          <div class="float_card2 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float3.png'" />
            </div>
          </div>
          <div class="float_card3 feather0">
            <div class="feather_box">
              <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web03/about_us/float4.png'" />
            </div>
          </div>
        </div>
        <section class="general-about-main">
          <section class="about-float-outbox">
            <h2 class="about-float-outboxTit">
              <p>{{$t('message.foot_about_us')}}</p>
              <span>ABOUT US</span>
            </h2>
            <div class="about-float clearfix">
              <div class="about-img fl"></div>
              <div class="about-main-center">
                <div class="about-text">
                  <dl class="about-title">
                    <dt class="desc">ALLIANCE ENTERTAINMENT</dt>
                    <dd>
                      <span>{{this.LogoName}}</span>
                    </dd>
                  </dl>
                  <p
                    class="text"
                  >{{$t('message.abouts_casino')}}{{this.LogoName}}{{$t('message.abouts_most_exciting')}} {{$t('message.abouts_legal')}}</p>
                  <p class="text">{{$t('message.abouts_legal')}}</p>
                </div>
              </div>
            </div>
            <div class="about-float clearfix">
              <div class="about-img fr"></div>
              <div class="about-main-center">
                <div class="about-text">
                  <dl class="about-title">
                    <dt class="desc">FAIR GAME</dt>
                    <dd>
                      <span>{{$t('message.abouts_fair')}} {{$t('message.member_recreation')}}</span>
                    </dd>
                  </dl>
                  <p class="text">{{this.LogoName}}{{$t('message.abouts_secrecy')}}</p>
                </div>
              </div>
            </div>
          </section>
          <div class="about-float clearfix about-list-float">
            <div class="about-list-block">
              <dl class="about-title">
                <dt class="desc">Ten reasons to choose us securely</dt>
                <dd>
                  <span>{{$t('message.abouts_choose_us')}}</span>
                  <i>{{$t('message.abouts_ten_reason')}}</i>
                </dd>
              </dl>
              <div class="about-list-outImg"></div>
              <ul class="about-list">
                <li class="first-li">
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_authority')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_one')}}</span>
                    {{$t('message.abouts_platform')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_lean_forward')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_two')}}</span>
                    {{$t('message.abouts_ranking')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_security')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_three')}}</span>
                    {{$t('message.abouts_capital')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_free')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_four')}}</span>
                    {{$t('message.abouts_draw')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_awesome')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_five')}}</span>
                    {{$t('message.abouts_activity')}}
                  </p>
                </li>
                <li class="first-li">
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_ensure')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_six')}}</span>
                    {{$t('message.abouts_enough_security')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_intimate')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_seven')}}</span>
                    {{$t('message.abouts_service')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_supreme')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_eight')}}</span>
                    {{$t('message.abouts_vip')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_simple')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_nine')}}</span>
                    {{$t('message.abouts_operation')}}
                  </p>
                </li>
                <li>
                  <div class="about-list-img"></div>
                  <p class="p_1">{{$t('message.abouts_legitimate')}}</p>
                  <p class="p_2">
                    <span class="num">{{$t('message.abouts_ten')}}</span>
                    {{$t('message.abouts_business')}}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- 主站 -->
    <div class="about-main main main_introduce">
      <div :class="'banner about-banner about-banner_'+this.$MessageLang+''"></div>
      <div class="content_position">
        <div class="content">
          <!--關於我們內容-->
          <about-us-content></about-us-content>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AboutUsContent from '@/components/sub/aboutUs/aboutUsContent';
export default {
  data () {
    return {
      LogoName: localStorage.getItem('LogoName')
    };
  },
  components: {
    AboutUsContent
  }
};
</script>
