<template>
  <div class="wrap" :class="'theme'+$VersionNumber">
    <!-- :class="'theme'+$VersionNumber" -->
    <router-view></router-view>
    <message-window></message-window>
    <system-notify-window></system-notify-window>
    <!-- <customer-service></customer-service> -->
    <global-loading></global-loading>
    <email-verify-success></email-verify-success>
    <!-- <float-service></float-service> -->
    <announcement-window></announcement-window>
    <!-- <float-service></float-service> -->

    <!-- 忘记密码 -->
    <forget-password></forget-password>
    <forget-password-success></forget-password-success>
    <forget-password-fail></forget-password-fail>

    <member-main v-if="IsLoginFlag=='true'" class="bomp_center"></member-main>
    <member-agency v-if="IsLoginFlag=='true'" class="bomp_center agency_center"></member-agency>
    <div class="bg free_bg" style="display:none;"></div>
    <div class="bg normal_Bg" style="display:none;"></div>
    <div class="bg system_Bg" style="display:none;z-index:10001"></div>
  </div>
</template>

<style lang="less" rel="stylesheet/less">
@import "../../assets/cdn.less";
@import "../../assets/font.less";

@import "../../assets/styles/web/main/index.less";

// 公共组件样式
@import "../../assets/styles/web/general/common/public.less";

/*个人中心和代理中心样式引入*/
@import "../../assets/styles/web/agency/style.less";

//公共部分
@import "../../assets/styles/web/public/jquery.shCircleLoader.css";
@import "../../assets/styles/web/public/public.less";
@import "../../assets/styles/web/public/style.less";

//弹框
@import "../../assets/styles/web/alertBox/alert00/alert.less";

// main
@import "../../assets/styles/web/main/sy00/common.less";
@import "../../assets/styles/web/main/sy00/style.less";

// 新手教程部分
// @import "../../assets/styles/web/main/tutorial/sy00/tutorial.less";

//分页
@import "~styles/web/paginate/sy00/index.less";

// public
@import "../../assets/styles/web/public/sy00/public.less";

// 登录注册 首页
@import "../../assets/styles/web/loginRegister/sy00/loginRegister.less";
@import "../../assets/styles/web/main/sy00/index.less";

// 维护中敬请期待
@import "../../assets/styles/less/abnormal.less";
// 多版本通用样式
@import "../../assets/styles/web/general/index.less";

/*免费试玩*/
//    @import '../../assets/styles/web/freeTrial/freeTrial60/freeTrial.less';

/*手机APP*/
//    @import '../../assets/styles/web/mobileApp/mobile60/mobile.less';
</style>

<script>
import { baseInfo } from "../../assets/scripts/comTest/main/base/base.js"

export default {
  mixins: [baseInfo]
}
</script>
