<template>
  <div
    id="memberMainFrom"
    :class="'pub_alert_box per_alert_box member_alert_' + $MessageLang"
    style="display: none;"
  >
    <div class="bg loading_Bg" v-show="ShowLoading===true" style="display: block;"></div>

    <!--操作提示语-->
    <message-member-window></message-member-window>
    <div class="per_content">
      <div class="per_cont_nav">
        <h2 class="per_logo">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/MemberNew/p_title.png'"
          />
        </h2>
        <!--代理中心-->
        <a
          class="agent_btn"
          :class="'agentBtn'+$MessageLang"
          @click="OpenUserIBRegister()"
          v-if="this.IfAgency === false && this.UserIBStatus !== 2"
        >{{$t('message.index_agency_application')}}</a>
        <a
          class="agent_btn"
          @click="agencyCenter('webProfitLoss')"
          v-if="this.IfAgency === true"
        >{{$t('message.index_agency_center')}}</a>
        <!--左側導航條-->
        <member-navigator></member-navigator>
      </div>
      <div class="per_cont_main">
        <div class="bg alert_Bg" style="display: none;"></div>
        <span class="per_cont_close" @click="HideEditPhone">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_close.png'" />
        </span>
        <div>
          <!-- 动态加载个人中心组件 -->
          <component :is="showComponent" v-if="switchName"></component>
        </div>
      </div>
    </div>

    <!--提示是否成为代理-->
    <div id="AddAgency" class="alert_box_content tel_alert_box re_h" v-if="this.IfAgency === false">
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p class="p_blue">{{$t('message.index_become_agent')}}？</p>
      </div>
      <div class="pub_btn_both" style="padding-left: 84px;">
        <a
          class="btn2 pre_apply"
          href="javascript:void(0);"
          style="margin-right: 20px;"
          @click="CloseWindow()"
        >{{$t('message.member_cancel')}}</a>
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="UserIBRegister()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>

    <!--代理是否被停用-->
    <div
      id="AddAgencyStop"
      class="alert_box_content tel_alert_box re_h"
      v-if="this.IfAgency === true"
    >
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_p">
        <p v-if="UserIBStatus === '703'" class="p_blue">{{$t('message.index_account_deactivation')}}</p>
        <!-- <p v-else-if="UserIBStatus === '704'" class="p_blue">账号被冻结</p> -->
      </div>
      <div class="pub_btn_both">
        <a
          class="btn2 pre_apply"
          href="javascript:void(0);"
          style="margin-right: 20px;"
          @click="CloseWindowStop()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<style lang="less">
.member_alert_en {
  // 个人中心导航
  .per_cont_nav {
    ul {
      .list {
        font-size: 14px !important;
      }
    }
  }
}

#CompanyDepositAddForm .purple_cont {
  .tip-error {
    left: 300px !important;
  }
  .tip-box {
    width: 323px !important;
  }
}

.member_alert_vi,
.member_alert_en {
  // 个人中心导航
  .per_cont_nav {
    .per_logo {
      margin-top: 28px;
    }
    ul {
      li {
        &.list {
          font-size: 14px !important;
        }
        a {
          padding-left: 15px !important;
        }
      }
    }
  }

  // 个人中心--右侧区块
  .per_cont_main {
    .record-grade-p2 {
      line-height: 15px !important;
    }
    .meansInfo-memberLv-discount {
      p {
        span {
          font-size: 12px !important;
          line-height: 12px !important;
        }
      }
    }
    .record-grade-schedule {
      padding: 10px 5px !important;
    }

    // 输入框前面的名称
    .input_field li .input_lf,
    .input_field li > span {
      min-width: 160px !important;
    }
    .input_field li .input_lf_vi {
      min-width: 162px !important;
    }
    // 存款顶部
    .active_select .p_1_box .p_1 {
      width: 650px !important;
    }

    // 存款优惠活动详情
    .active_list li .text-box p {
      font-size: 12px !important;
    }

    // 存款详情列表
    .tel_alert_box table th {
      line-height: 20px !important;
    }

    // 总览会员等级调整
    .Grade-level.second {
      font-size: 30px !important;
    }
    .classification-tab a {
      padding: 0 6px !important;
      width: 98px !important;
      height: 30px !important;
      line-height: 15px !important;
    }

    // 个人资料
    #UpdPersonalInfoForm {
      .tip1-Acct {
        line-height: 20px !important;
      }
    }

    // 银行资料
    .purple_bank_en,
    .purple_bank_vi {
      li {
        .input_lf {
          margin-left: 20px;
        }
      }
    }

    // 密码修改页面
    .passwordModifyForm_en,
    .passwordModifyForm_vi {
      .line_height_14 {
        width: 300px !important;
      }
    }

    // 存款--在线支付页面
    #OnlineDepositAddForm {
      .member_new_tip .tip1 {
        min-width: 300px !important;
      }
    }
    // 存款--公司入款页面
    #depositIcome-content {
      .income_main {
        .account_msg {
          li {
            span {
              width: 140px;
            }
          }
        }
      }
      #CompanyDepositAddForm {
        .deposit_input {
          li:first-child {
            .tip1 {
              line-height: 20px !important;
            }
          }
        }
      }
    }

    // 取款
    #PersonalWithdrawForm {
      .member_new_tip .tip1 {
        width: 300px !important;
      }
    }

    // 站内信息
    #PrivateMessageQueryForm {
      .record-query-name {
        font-size: 12px !important;
      }
      .blue_sm {
        font-size: 12px !important;
        width: 50px !important;
      }
      .keyword::-webkit-input-placeholder {
        font-size: 12px;
      }
      .keyword::-moz-placeholder {
        font-size: 12px;
      }
      .keyword::-ms-placeholder {
        font-size: 12px;
      }
    }

    // 记录查询
    .record-content {
      #recordQueryForm {
        .record-drop {
          width: 180px !important;
        }
      }
      .table_block table thead th {
        line-height: 16px !important;
      }
      .table_block table tbody td {
        line-height: 20px !important;
      }

      // 资金往来
      #RecordDetailNormalForm {
        width: 416px !important;
        .descr_p .record_detail_name {
          width: 200px !important;
          text-align: right;
        }
        .descr_p .record_detail_val {
          width: 170px !important;
          text-align: left !important;
        }
      }
    }

    // 总览
    .grade-schedule-item .p2-text {
      line-height: 16px !important ;
      .p2-text-name {
        width: 260px !important;
        line-height: 14px !important;
      }
    }
  }
}
</style>

<script>
/* global SITE_KEY */

import EventBus from "scripts/common/EventBus"
import CommUtility from "scripts/common/CommUtility"
import RegisterService from "scripts/businessLogic/registerService"
import MemberNavigator from "@/components/public/memberNavigator"
import DepositPayment from "@/components/main/memberNew/depositPayment"
import MessageMemberWindow from "@/components/sub/messageMemberWindow"
import { mapState } from "vuex"

export default {
  data() {
    return {
      ShowLoading: false,
      IfAgency: undefined,
      UserIBStatus: localStorage.getItem("IBStatus"),
      RequestLock: true,
      overrideSet: null
    }
  },
  mounted() {
    const self = this
    EventBus.$on("GlobalLoadingTrigger", (flag) => {
      self.ShowLoading = flag
    })
    const CorrelationIBMemberId = localStorage.getItem("CorrelationIBMemberId")
    // -1，表示没有申请过，0: 待審核 1: 待補全 2: 已通過 3: 已拒絕

    if (CorrelationIBMemberId !== "-1") {
      self.IfAgency = true
    } else {
      self.IfAgency = false
    }
  },
  // summary:总览,bankInfo:银行资料,deposit:存款,fundManage:资金状态,modifyPassword:修改密码,privateMessage:站内信息,
  // profile:个人资料,transactionRecord:交易记录,withdrawal:取款,betRecord:投注记录,withdrawalRecords:存款记录,
  // depositRecords: 取款记录,accountChangeRecords: 账变记录
  async created() {
    if (SITE_KEY === "undefined" || !SITE_KEY) {
      this.overrideSet = new Set()
    } else {
      const { default: result } = await import(`@/mod/${SITE_KEY}/resource/management/member/overrides.js`)
      this.overrideSet = new Set(result)
    }
  },
  computed: {
    ...mapState(["switchName"]),
    showComponent() {
      if (!this.switchName) return

      const mappingSet = new Map([
        ["webMemberSummary", "summary"],
        ["webMemberBankData", "bankInfo"],
        ["webMemberDeposit", "financialDeposit"],
        ["webMemberFundManage", "fundManage"],
        ["webMemberModifyPassword", "modifyPassword"],
        ["webMemberPrivateMessage", "privateMessage"],
        ["webMemberProfile", "profile"],
        ["webMemberTransactionRecord", "transactionRecord"],
        ["webMemberWithdrawal", "withdrawal"],
        ["webBetRecord", "betRecord"],
        ["webMemberWithdrawalRecords", "withdrawalRecords"],
        ["webMemberDepositRecords", "depositRecords"],
        ["webMemberAccountChangeRecords", "accountChangeRecords"]
      ])

      const target = mappingSet.get(this.switchName)

      if (SITE_KEY === "undefined" || !SITE_KEY || this.overrideSet.length === 0) {
        return () => import(`@/components/main/memberNew/${target}`)
      } else {
        const isOverridesTarget = this.overrideSet.has(this.switchName)

        if (isOverridesTarget === true) {
          return () => import(`@/mod/${SITE_KEY}/components/main/memberNew/${target}`)
        } else {
          return () => import(`@/components/main/memberNew/${target}`)
        }
      }
    }
  },
  methods: {
    // 代理申请 关闭弹窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm("AddAgency")
    },
    CloseWindowStop: function () {
      CommUtility.WebClosealertboxForm("AddAgencyStop")
    },
    OpenUserIBRegister: function () {
      const IBStatus = localStorage.getItem("IBStatus")
      const notifyData = {}
      if (IBStatus === "-1") {
        CommUtility.WebShowAlertboxForm("AddAgency")
      } else {
        notifyData.NotifyMessage = this.$t("message.index_application_submission")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
    },
    // 会员申请成为代理
    UserIBRegister: async function () {
      // 请求加入开关，防止多次点击 2019.07.12 ququ
      if (this.RequestLock) {
        this.RequestLock = false
        CommUtility.WebShowAlertboxForm("AddAgency")
        const notifyData = {}
        // 判断用户状态，是否已申请代理或者没有权限成为代理或者允许申请
        // 申请成为代理
        const inputData = { PromotionUrl: this.$WebVersionHost }
        const retData = await RegisterService.UserIBRegister_Add(inputData)

        if (retData.Ret === 0) {
          localStorage.setItem("IBStatus", 0)
          this.CloseWindow()
          notifyData.NotifyMessage = this.$t("message.index_application_submission")
          EventBus.$emit("showNotifyMemberMessage", notifyData)
        } else {
          this.RequestLock = true
          this.CloseWindow()
          notifyData.NotifyMessage = this.$t("message.index_failure_application")
          EventBus.$emit("showNotifyMemberMessage", notifyData)
        }
      }
    },
    agencyCenter: function (data) {
      const IBStatus = localStorage.getItem("IBStatus")
      if (IBStatus === "703") {
        CommUtility.WebShowAlertboxForm("AddAgencyStop")
        return
      }
      CommUtility.WebCloseUniqueForm("memberMainFrom") // 页面切换时隐藏弹窗
      this.$store.dispatch("setAgencyNameText", "webProfitLoss")
      // 切换弹窗后清除代理中心显示模块名称 2019.07.12 ququ
      this.$store.dispatch("setSwitchNameText", "")
      EventBus.$emit("personalAgency", data)
    },
    // 開啟彈窗
    ShowEditPhone: function (data) {
      this.switchName = data
      CommUtility.WebShowUniqueForm("memberMainFrom")
    }, // end ShowEditPhone
    // 關閉彈窗
    HideEditPhone: function () {
      CommUtility.WebCloseUniqueForm("memberMainFrom") // 页面切换时隐藏弹窗
      // 退出弹出清空个人中心左侧导航值和外部优惠活动进入带入的存款活动信息
      this.$store.dispatch("setSwitchNameText", "")
      this.$route.params.ChargeType = undefined
      this.$route.params.ActivityData = undefined
    } // end HideEditPhone
  },
  components: {
    MemberNavigator,
    DepositPayment,
    MessageMemberWindow
  }
}
</script>
