<template>
	<!--首页-->
	<div class="index-content clearfix" :class="'index_'+$MessageLang">
		<!-- 盈利榜 -->
    <!-- <main-suspension></main-suspension> -->
		<!-- <phone-beting></phone-beting> -->
		<div class="banner">
			<video v-if="$BannerPath.Video.IndexVideo" :class="'video'+$VersionNumber" :src="$ResourceCDN + '/EditionImg/LamborFormal/images/' + $MessageLang + $BannerPath.Video.IndexVideo" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<!-- <video class="video60 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/flash/index1.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video23 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web23/flash/index2.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video34 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/flash/index.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video7 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web07/flash/index-banner.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video15 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/index.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video class="video28 hides" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/index1.mp4'" autoplay="autoplay" width="100%" loop="loop" muted></video> -->
		</div>
		<!--34版-->
		<div class="rightCommon-content whome-right-content whome-right-content-34" style="display: none;">
		    <div class="whome-right-contMain">
						<div class="right-contMain-layout">
							<div class="right-contMain-news carousel slide"  id="myCarousel" v-if="LoadCompleted === true">
								<!-- 轮播（Carousel）指标 -->
								<ol class="carousel-indicators">
										<li class="active"></li>
										<li></li>
										<li v-if="indexActivityObjList.length>0"></li>
								</ol>
								<!-- 轮播（Carousel）项目 -->
								<div class="newsPic carousel-inner">
										<div class="item active">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[0].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
										<div class="item">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[1].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
										<div class="item" v-if="indexActivityObjList.length>0">
												<router-link :to="{ name: 'ActivityList'}"><img v-bind:src="ActivityList[2].ActLogo"
														style="width:350px;height:180px;">
												</router-link>
										</div>
								</div>
								<!--文字部分-->
								<div class="newsText active_news" v-if="LoadCompleted === true">
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 0 ? 'hasblock' : '')]">
												<div class="newsText-list" v-on:mouseenter="SildeTo(0)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[0].Name}}</h2>
														<p class="p_2">{{ActivityList[0].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 1 ? 'hasblock' : '')]">
												<div class="newsText-list" v-on:mouseenter="SildeTo(1)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[1].Name}}</h2>
														<p class="p_2">{{ActivityList[1].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
										<router-link :to="{ name: 'ActivityList'}"
																	:class="['news_show',(currentSlideIndex === 2 ? 'hasblock' : '')]"
																	v-if="indexActivityObjList.length>0">
												<div class="newsText-list" v-on:mouseenter="SildeTo(2)" v-on:mouseleave="AutoPlay()">
														<h2>{{ActivityList[2].Name}}</h2>
														<p class="p_2">{{ActivityList[2].StartTick | utcTicksToLocalTime('MM/DD')}}</p>
												</div>
										</router-link>
								</div>
								<div class="newsWhole" @click="$router.push('ActivityList')">{{$t('message.view_all')}}</div>
							</div>
							<div class="right-contMain-swiper">
									<ul id="demo">
											<li @click="$router.push('LiveVideo')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_0.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_0a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Electronic')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_1.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_1a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Sport')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_2.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_2a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
											<li @click="$router.push('Lottery')">
													<img class="uncheck-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_3.jpg'" width="113"  height="296" />
													<img class="check-img" :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/b_3a.jpg'" width="502"  height="296" />
													<span class="lookDetail"></span>
											</li>
									</ul>
							</div>
							<!-- 根据需求暂时屏蔽新手教程 -->
							<!-- <div class="right-contMain-noviciate">
									<div class="noviciate-title"><span class="noviciate-titleLine"></span>{{$t('message.foot_novice_course')}}</div>
									<div class="noviciate-boxCont">
											<div class="noviciate-boxCont-rule" style="height: 154px;" @click="$router.push({path:'Tutorial',query:{navIndex: 1}})">
													<div class="noviciate-boxCont-rulePic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_14.png'" />
													</div>
													<div class="noviciate-boxCont-ruleGame">
															<div class="ruleGame-title ruleGame-headWord"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/vertical_word1.png'" /></div>
														
															<div class="ruleGame-item">
																	<ul>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 0}})"><span>{{$t('message.index_baccarat_rules')}}</span>  <span>></span></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 1}})"><span>{{$t('message.index_illustrating_rules')}}</span> <span>></span></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 2}})"><span>{{$t('message.index_roulette_rules')}}</span> <span>></span></li>
																			<li class="ruleGame-itemLi" @click.stop="$router.push({path:'Tutorial',query:{navIndex: 1, ruleIndex: 3}})"><span>{{$t('message.index_cussec_rules')}}</span> <span>></span></li>
																			<li class="ruleGame-more">{{$t('message.index_see_more')}}+</li>
																	</ul>
															</div>
													</div>
											</div>
											<div class="noviciate-boxCont-skill" @click="$router.push({path:'Tutorial',query:{navIndex: 2}})">
													<div class="noviciate-boxCont-skillPic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_15.png'" />
													</div>
													<div class="noviciate-boxCont-skillText ruleGame-headWord"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/vertical_word2.png'" /> </div>
													
											</div>
											<div class="noviciate-boxCont-skill" @click="$router.push('Tutorial')">
													<div class="noviciate-boxCont-skillPic">
															<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web34/w_16.png'" />
													</div>
													<div class="noviciate-boxCont-skillText ruleGame-headWord"><img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/vertical_word3.png'" /></div>
													
											</div>
									</div>

							</div> -->
						</div>
	      </div>
		</div>
	</div>

</template>

<script>
	import { initIndex34 } from '@/mod/k04/assets/scripts/comTest/main/index/sy34/index.js'
// import mainSuspension from '@/components/public/mainSuspension.vue';
	export default {
//		mixins: [initIndex2, initIndex3, initIndex7, initIndex25, initIndex28, initIndex33, initIndex34]
			mixins: [initIndex34],
			components: {
				// MainSuspension,
				// PhoneBeting
			}
 	}
</script>
