<template>
  <div id="depositAmtLessActivityMinAmtErrorForm" class="alert_box_content tel_alert_box re_h" style="position: fixed;">
    <span class="alert_close" @click="CloseFinancialCode()">
      <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_title no_line clearfix"></div>
    <div class="descr_p">
      <p>{{ $t("message.member_dissatisfaction") }}</p>
      <p>{{ $t("message.member_unenjoyable") }}</p>
      <p>{{ $t("message.member_determine_continue") }}</p>
    </div>
    <div class="alert_btn_both pub_btn_both depositTips">
      <a class="btn1" @click="ExecuteConfirmFunct()">{{ $t("message.member_ascertain") }}</a>
      <a class="btn2" @click="CloseFinancialCode()">{{ $t("message.member_cancel") }}</a>
    </div>
  </div>
</template>

<style scoped lang="less">
.alert_btn_both {
  padding: 0 !important;

  a {
    padding: 0 !important;
    display: inline-block;
    float: none !important;
  }
  .btn1 {
    line-height: 37px !important;
  }
  .btn2 {
    min-height: 31px !important;
    line-height: 31px !important;
  }
}
</style>

<script>
import CommUtility from "scripts/common/CommUtility"
import EventBus from "scripts/common/EventBus"

export default {
  data() {
    return {
      ConfirmFunction: undefined,
      allowSubmit: true // 是否允许提交数据
    }
  },
  created: function () {
    const self = this
    EventBus.$on("showDepositAmtLimitTip", (func) => {
      self.ConfirmFunction = func
      CommUtility.WebShowAlertboxForm("depositAmtLessActivityMinAmtErrorForm")
    })
  },
  methods: {
    CloseFinancialCode: function () {
      CommUtility.WebClosealertboxForm("depositAmtLessActivityMinAmtErrorForm")
    },
    ExecuteConfirmFunct: function () {
      CommUtility.WebClosealertboxForm("depositAmtLessActivityMinAmtErrorForm")
      if (this.ConfirmFunction) {
        this.ConfirmFunction()
      }
    }
  }
}
</script>
