<template>
  <div>
    <div id="bankInfoForm" name="bankInfoForm">
      <!-- <ul class="psl_guide">
                <li data-num="0" class="hasblock">
                    <a href="javascript:void(0);">银行账户资料</a>
                    <i></i>
                </li>
      </ul>-->

      <ul class="card-content" v-if="bankInfoWriteFlag">
        <li class="card-cont-list" v-for="(list, index) in BankAcctListDatas" :key="index">
          <div class="card-cont-listImg">
            <p class="p-bankName">
              {{ list.BankName | simpleContent(13) }}
              <span class="bubble">{{ list.BranchName }}</span>
            </p>
            <p class="p-nickName">{{ list.CardName }}</p>
            <p class="p-bankAccount">{{ list.BankAcct }}</p>
          </div>
        </li>

        <li
          class="card-cont-list card-cont-addBank"
          @click="addBankCardMth()"
          v-if="bankCardsNumFlag"
        >
          <div class="card-cont-icon clearfix">
            <img
              :src="$ResourceCDN + '/EditionImg/LamborFormal/images/MemberNew/bankInfo_card_icon.png'"
            />
            <span>{{ $t("message.member_add_bankcard") }}</span>
          </div>
        </li>
      </ul>
      <div v-else>
        <!-- 未绑定银行卡 -->
        <div v-if="boundBankPutFlag">
          <ul class="input_field bank_input member_new_tip">
            <li class="hasblock">
              <div
                class="input_lf"
                :class="'input_lf_bank' + $MessageLang"
              >{{ $t("message.member_bank_name") }}：</div>
              <div class="input_rt" :class="'bankInput' + $MessageLang">
                <!-- <input
                  type="text"
                  name="BankName"
                  :placeholder="$t('message.member_definition')"
                  @focus="TipShow(2)"
                  @blur="TipHide(2)"
                  @keydown.enter="UpdateBankData"
                  v-model="BankData.BankName"
                  v-validate="{ rules: { regex:Reg.BankNickName, required: true }}"
                />
                <i class="tip-box" v-show="errors.has('BankName') && fields.BankName.touched"></i>
                <i class="tip-error" v-show="errors.has('BankName') && fields.BankName.touched"></i>
                <i
                  class="tip1"
                  v-show="errors.has('BankName') && this.TipsShow.BankName == true"
                >{{$t('message.member_BankCode_tip')}}</i>-->

                <!-- tab形式展示
                -->
                <div class="bank_set" style="width: 400px;">
                  <div class="bank_set_fl">
                    <span
                      :class="BankData.RemittanceBankType == list.BankCode ? 'hasblock' : ''"
                      v-for="(list, index) in BankTypeList"
                      @click="bankNameTab(list)"
                    >{{ list.BankName }}</span>
                  </div>

                  <a class="bank-color-btn fr" @click="CloseGameListState()">
                    <i class="bank-color-style">{{ OpenShow }}</i>
                    {{ this.OpenShowWord }}
                  </a>
                </div>
                <i
                  class="tip1"
                  v-show="this.Submitted === true && this.BankData.RemittanceBankType === undefined"
                  style="display: block;"
                >{{ $t("message.member_unbank_empty") }}</i>
              </div>
            </li>
            <li class="hasblock">
              <div
                class="input_lf"
                :class="'input_lf_bank' + $MessageLang"
              >{{ $t("message.member_account_name") }}：</div>
              <div class="input_rt" :class="'bankInput' + $MessageLang">
                <input
                  type="text"
                  name="CardName"
                  :placeholder="inputFirstFlag ? $t('message.member_cardholderName') : $t('message.member_accountName')"
                  @focus="TipShow(1)"
                  @blur="TipHide(1)"
                  v-model="BankData.CardName"
                  @keydown.enter="UpdateBankData"
                  v-validate="{ rules: { regex: Reg.NickBankName, required: true } }"
                />
                <i class="tip-box" v-show="errors.has('CardName') && fields.CardName.touched"></i>
                <i class="tip-error" v-show="errors.has('CardName') && fields.CardName.touched"></i>
                <i class="tip1" v-show="errors.has('CardName') && this.TipsShow.CardName == true">
                  {{
                  $t("message.member_bankInfo_tip")
                  }}
                </i>
              </div>
            </li>

            <li class="hasblock">
              <div
                class="input_lf"
                :class="'input_lf_bank' + $MessageLang"
              >{{ $t("message.member_bank_expenses") }}：</div>
              <div class="input_rt" :class="'bankInput' + $MessageLang">
                <input
                  class="fl"
                  type="text"
                  name="BankBranchName"
                  @focus="TipShow(3)"
                  @blur="TipHide(3)"
                  @keydown.enter="UpdateBankData"
                  :placeholder="$t('message.member_bank_branch')"
                  v-model="BankData.BranchName"
                  v-validate="{ rules: { regex: Reg.BankExpensesName, required: true } }"
                />
                <div class="notes-box">
                  <i class="notes-icon">?</i>
                  <p
                    class="notes-content"
                    :class="['notes-content-' + InputReadOnly, 'notes-content' + $MessageLang]"
                  >{{ $t("message.member_bank_notes") }}</p>
                </div>
                <i
                  class="tip-box"
                  v-show="errors.has('BankBranchName') && fields.BankBranchName.touched"
                ></i>
                <i
                  class="tip-error"
                  v-show="errors.has('BankBranchName') && fields.BankBranchName.touched"
                ></i>
                <i
                  class="tip1"
                  style="display: block;"
                  v-show="errors.has('BankBranchName') && this.TipsShow.BankBranchName == true"
                >{{ $t("message.member_BankBranchName_tip") }}</i>
              </div>
            </li>
            <li class="hasblock clearfix">
              <div
                class="input_lf"
                :class="'input_lf_bank' + $MessageLang"
              >{{ $t("message.member_account_number") }}：</div>
              <div class="input_rt" :class="'bankInput' + $MessageLang">
                <input
                  type="text"
                  name="BankAcct"
                  @focus="TipShow(4)"
                  @blur="TipHide(4)"
                  @keydown.enter="UpdateBankData"
                  v-model="BankData.BankAcct"
                  v-validate="{ rules: { regex: Reg.BankAccount, required: true } }"
                  :placeholder="$t('message.member_example') + '：658525453658985'"
                />
                <i class="tip-box" v-show="errors.has('BankAcct') && fields.BankAcct.touched"></i>
                <i class="tip-error" v-show="errors.has('BankAcct') && fields.BankAcct.touched"></i>
                <i class="tip1" v-show="errors.has('BankAcct') && this.TipsShow.BankAcct == true">
                  {{
                  $t("message.member_word_number")
                  }}
                </i>
              </div>
            </li>
            <li class="hasblock clearfix">
              <div
                class="input_lf"
                :class="'input_lf_bank' + $MessageLang"
              >{{ $t("message.member_sumbitAccount_number") }}</div>
              <div class="input_rt" :class="'bankInput' + $MessageLang">
                <input
                  type="text"
                  name="sumbitBankAcct"
                  @focus="TipShow(5)"
                  @blur="TipHide(5)"
                  @keydown.enter="UpdateBankData"
                  onpaste="return false"
                  v-model="BankData.sumbitBankAcct"
                  v-validate="{ rules: { regex: Reg.BankAccount, required: true, is: BankData.BankAcct } }"
                  :placeholder="$t('message.member_example') + '：658525453658985'"
                />
                <i
                  class="tip-box"
                  v-show="errors.has('sumbitBankAcct') && fields.sumbitBankAcct.touched"
                ></i>
                <i
                  class="tip-error"
                  v-show="errors.has('sumbitBankAcct') && fields.sumbitBankAcct.touched"
                ></i>
                <i
                  class="tip1"
                  style="width: 312px;"
                  v-show="errors.has('sumbitBankAcct') && TipsShow.sumbitBankAcct == true"
                >{{ BankCheckValidate.errorText }}</i>
                <!-- <i
                  class="tip1"
                  v-show="errors.has('sumbitBankAcct') && this.TipsShow.sumbitBankAcct == true"
                >{{$t('message.member_bank_accountNum')}}</i>-->
              </div>
            </li>
            <li style="display: none;">
              <p class="bankInfo_service">
                {{ $t("message.member_modified_after_binding_bank_card") }}
                <a
                  @click="OpenNewBox()"
                >{{ $t("message.member_contact_service") }}</a>
              </p>
            </li>
          </ul>
          <div class="pub_btn_both style3">
            <a
              class="btn1 alert_click1 hasblock"
              @click="UpdateBankData()"
              style="cursor: pointer;"
            >
              {{
              $t("message.member_preservation")
              }}
            </a>
            <a class="btn2" @click="cancelClick()">{{ $t("message.member_cancel") }}</a>
          </div>
        </div>
        <!-- 已绑定银行卡 -->
        <div class="bindBankCard-content" v-if="verifyBankPutFlag">
          <h2 class="bindBankCard-cont-title">{{ $t("message.number_account_number") }}</h2>
          <div class="bindBankCard-cont-main">
            <span class="text">{{ $t("message.number_bank_number") }}：</span>
            <div class="putBox">
              <input
                type="text"
                v-model="verifybankNo"
                :class="'verifybankNo' + $MessageLang"
                @keydown.enter="VerifyBankCard"
                :placeholder="$t('message.number_binding_bankNum')"
              />
            </div>
          </div>
          <div class="pub_btn_both style3">
            <a
              class="btn1 alert_click1 hasblock"
              @click="VerifyBankCard()"
              style="cursor: pointer;"
            >
              {{
              $t("message.member_ascertain")
              }}
            </a>
            <a class="btn2" @click="cancelClick()">{{ $t("message.member_cancel") }}</a>
          </div>
        </div>
      </div>
    </div>
    <member-bank-info-alter :OrgBankData="OrgBankData" :BankData="BankData" :Submitted="Submitted"></member-bank-info-alter>
  </div>
</template>

<style scoped lang="less">
.purple_cont .input_field li .input_rt {
  max-width: 600px !important;
}

.notes-box {
  position: relative;
  float: left;
  .notes-icon {
    display: block;
    margin: 4px 0 0 10px;
    width: 26px;
    line-height: 26px;
    color: #b5b5b5;
    font-size: 14px;
    background: #e5e5e5;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    cursor: pointer;
  }
  .notes-content {
    display: none;
    position: absolute;
    padding: 4px 10px;
    bottom: 30px;
    left: -230px;
    width: 250px;
    line-height: 18px;
    font-size: 14px;
    word-break: break-all;
    color: #b5b5b5;
    background: #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
  }
  .notes-content-false {
    left: -20px;
    &.notes-contentvi {
      left: -203px;
    }
    &.notes-contenten {
      left: -108px;
    }
  }

  &:hover {
    .notes-content {
      display: block;
    }
  }
}
</style>

<script>
import Vue from "vue"
import EventBus from "scripts/common/EventBus"
import Regex from "scripts/common/CommDef"
// import BLDef from 'scripts/common/BLDef';
import CommUtility from "scripts/common/CommUtility"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
// import CommonService from 'scripts/businessLogic/commonService';
import MemberBankInfoAlter from "@/components/sub/memberNew/bankInfo/memberBankInfoAlter"
export default {
  data() {
    return {
      ProcessingFlag: false,
      DropDowning: "",
      Reg: Regex.Regex,
      BankData: {
        CardName: "",
        BankName: "",
        BranchName: "",
        BankAcct: "",
        sumbitBankAcct: "",
        Province: {},
        Town: {},
        Dist: {},
        RemittanceBankType: undefined // 银行名称
      },
      OrgBankData: {},
      ProvincesList: [],
      TownsList: [],
      DistsList: [],
      DefaultDistsItem: {},
      DefaultDistsList: [],
      DropDownInvalid: false,

      TipsShow: {
        CardName: false,
        BankName: false,
        BankBranchName: false,
        BankAcct: false,
        sumbitBankAcct: false
      },
      BankAcctListDatas: [],
      InputReadOnly: false, // 当用户资料完整时不允许变更 置灰 false:允许修改 true:不允许修改
      bankCardsNumFlag: true,
      bankInfoWriteFlag: false,
      saveData: {
        AcctID: "",
        BankName: "",
        BranchName: "",
        CardName: "",
        BankAcct: "",
        sumbitBankAcct: ""
      },
      verifybankNo: undefined,
      boundBankPutFlag: false,
      verifyBankPutFlag: false,
      inputFirstFlag: false,
      passwordFlag: false,
      BankTypeList: [],
      Submitted: false,
      OpenShow: "+",
      OpenShowWord: this.$t("message.member_expand_more"),
      openBankNameListFlag: false
    }
  },
  created: function () {
    // this.BindingEvent();
    this.LoadPage()
    this.bankTabLoad(false)
  },
  mounted: function () {
    // CommUtility.BindEnterTrigger('bankInfoForm', this.UpdateBankData);
  },
  computed: {
    BankCheckValidate: function () {
      var errorText
      if (!/^[0-9]{4,25}$/.test(this.BankData.sumbitBankAcct)) {
        this.TipsShow.sumbitBankAcct = true
        errorText = this.$t("message.member_word_number")
      } else if (
        this.BankData.sumbitBankAcct !== this.BankData.BankAcct ||
        this.BankData.sumbitBankAcct.length !== this.BankData.BankAcct.length
      ) {
        this.TipsShow.sumbitBankAcct = true
        errorText = this.$t("message.member_bank_accountNum")
      } else {
        this.TipsShow.sumbitBankAcct = false
      }

      return {
        errorText
      }
    }
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        "newindow",
        "height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no"
      )
    },
    TipShow: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.CardName = true
          break
        case 2:
          this.TipsShow.BankName = true
          break
        case 3:
          this.TipsShow.BankBranchName = true
          break
        case 4:
          this.TipsShow.BankAcct = true
          this.TipsShow.sumbitBankAcct = false
          break
        case 5:
          this.TipsShow.sumbitBankAcct = true
          break
        default:
          break
      }
    },
    TipHide: function (num) {
      switch (num) {
        case 1:
          this.TipsShow.CardName = false
          break
        case 2:
          this.TipsShow.BankName = false
          break
        case 3:
          this.TipsShow.BankBranchName = false
          break
        case 4:
          this.TipsShow.BankAcct = false
          this.TipsShow.sumbitBankAcct = false
          break
        case 5:
          this.TipsShow.sumbitBankAcct = false
          break
        default:
          break
      }
    },
    navClick: function (name) {
      this.$store.dispatch("setSwitchNameText", name)
    },
    // BindingEvent: function () {
    //   document.addEventListener('click', this.HideDropDown);
    // },
    // 顯示紀錄類型選單
    ShowDropDown: function (targetClass) {
      $(".down_box").slideUp(100)
      if (this.DropDowning !== targetClass) {
        $("." + targetClass).slideDown(300)
        this.DropDowning = targetClass
      } else {
        $("." + targetClass).slideUp(100)
        this.DropDowning = ""
      }
    },
    // 隱藏紀錄類型選單
    // HideDropDown: function (event) {
    //   const target = $(event.target);
    //   if (target.closest('.d_course').length === 0) {
    //     $('.down_box').slideUp(100);
    //     this.DropDowning = '';
    //   }
    // },
    // 載入畫面
    LoadPage: async function () {
      const inputObj = {
        IsBankList: 1 // 0取款列表  1银行卡列表
      }

      const data = await PersonalCenterService.BankInfo_LoadMainPage(inputObj)
      // if (data.Ret === 0 && data.Data.BankAcct.BankAcct !== '') {
      //   this.InputReadOnly = true;
      // } else {
      //   this.InputReadOnly = false;
      // }
      console.log("data2222222")
      console.log(data)
      console.log("data2222222")

      if (data.Ret === 0) {
        this.BankAcctListDatas = data.Data.BankAcctList
        if (this.BankAcctListDatas.length >= 5) {
          this.bankCardsNumFlag = false
        }
        console.log(this.BankAcctListDatas.length)
        if (this.BankAcctListDatas.length > 0) {
          this.bankInfoWriteFlag = true
          this.inputFirstFlag = true
        } else {
          this.bankInfoWriteFlag = false
          this.boundBankPutFlag = true
          this.verifyBankPutFlag = false
        }
      }

      // if (data.Data.BankAcct.Province.Name == '') {
      //   data.Data.BankAcct.Province = Vue.util.extend(
      //     {},
      //     data.Data.ProvinceSelectList[0]
      //   );
      // }
      // if (data.Data.BankAcct.Town.Name == '') {
      //   data.Data.BankAcct.Town = Vue.util.extend(
      //     {},
      //     data.Data.TownSelectList[0]
      //   );
      // }
      // if (data.Data.BankAcct.Dist.Name == '') {
      //   data.Data.BankAcct.Dist = Vue.util.extend(
      //     {},
      //     data.Data.DistSelectList[0]
      //   );
      // }
      // this.BankData = Vue.util.extend({}, data.Data.BankAcct);
      // this.OrgBankData = Vue.util.extend({}, data.Data.BankAcct);
      // this.ProvincesList = data.Data.ProvinceSelectList;
      // this.TownsList = Vue.util.extend([], data.Data.TownSelectList);
      // this.DistsList = Vue.util.extend([], data.Data.DistSelectList);
      // this.DefaultDistsItem = Vue.util.extend({}, data.Data.DistSelectList[0]);
      this.DefaultDistsList = [this.DefaultDistsItem]

      // 当用户资料完整时不允许变更 置灰 false:允许修改 true:不允许修改 20190903
      // const inputObj = {
      //   OrgBankAcct: this.OrgBankData,
      //   BankAcct: this.BankData
      // };

      // const inputData = await PersonalCenterService.BankInfo_Mod(inputObj);
      // if (inputData.Ret === 49) {
      //   this.InputReadOnly = true;
      // } else {
      //   this.InputReadOnly = false;
      // }
      // 当用户资料完整时不允许变更 置灰 false:允许修改 true:不允许修改 20190903
    },
    // 載入畫面
    bankTabLoad: async function (IsShowFlag) {
      const inputObj = {}

      const data = await PersonalCenterService.CommGetMembersBankTypeLoad(inputObj)
      console.log(data)
      if (data.Ret == 0) {
        if (IsShowFlag) {
          this.BankTypeList = data.Data.BankTypeList
        } else {
          this.BankTypeList = data.Data.BankTypeList.slice(0, 3)
        }
      }
      console.log("data银行资料银行卡")
    },
    addBankCardMth: function () {
      this.Submitted = false
      this.BankData.RemittanceBankType = undefined
      this.verifybankNo = ""
      this.verifyBankPutFlag = false
      this.boundBankPutFlag = false
      this.bankInfoWriteFlag = false
      this.BankData.CardName = ""
      this.BankData.BankName = ""
      this.BankData.BranchName = ""
      this.BankData.BankAcct = ""
      this.BankData.sumbitBankAcct = ""
      this.OpenShow = "+"
      this.OpenShowWord = this.$t("message.member_expand_more")
      this.bankTabLoad(false)
      if (this.BankAcctListDatas.length > 0) {
        this.verifyBankPutFlag = true
      } else {
        this.boundBankPutFlag = true
      }
    },
    addBankLoad: async function () {
      // this.saveData.AcctID = this.BankData.CardName;
      this.saveData.BankName = this.BankData.BankName
      this.saveData.BranchName = this.BankData.BranchName
      this.saveData.CardName = this.BankData.CardName
      this.saveData.BankAcct = this.BankData.BankAcct
      this.saveData.sumbitBankAcct = this.BankData.sumbitBankAcct

      const saveObj = {
        // OrgBankAcct: this.OrgBankData,
        BankAcct: this.saveData
      }
      const inputData = await PersonalCenterService.BankInfo_Mod(saveObj)
      console.log(inputData)
      this.bankInfoWriteFlag = true
    },
    // 選擇省分
    // ChangeProvince: async function (selectProvince) {
    //   const inputObj = {
    //     SType: BLDef.SelectTypesDef.CITIES,
    //     InputValues: [selectProvince.Value]
    //   };
    //   const data = await CommonService.GetCityTypes(inputObj);
    //   if (data.Ret === 0) {
    //     this.BankData.Province = selectProvince;
    //     this.TownsList = data.Data.SelectList;
    //     this.BankData.Town = data.Data.SelectList[0];
    //     this.DistsList = this.DefaultDistsList;
    //     this.BankData.Dist = this.DefaultDistsItem;
    //   }
    // },
    // 選擇城市
    // ChangeTown: async function (selectTown) {
    //   const inputObj = {
    //     SType: BLDef.SelectTypesDef.DISTS,
    //     InputValues: [selectTown.Value]
    //   };
    //   const data = await CommonService.GetDistTypes(inputObj);
    //   if (data.Ret === 0) {
    //     this.BankData.Town = selectTown;
    //     this.DistsList = data.Data.SelectList;
    //     this.BankData.Dist = data.Data.SelectList[0];
    //     if (this.DistsList.length === 1) {
    //       this.DropDownInvalid = false;
    //     }
    //   }
    // },
    // 選擇區域
    // ChangeDist: function (selectDist) {
    //   this.BankData.Dist = selectDist;
    //   if (selectDist.Value !== '-1') {
    //     this.DropDownInvalid = false;
    //   }
    // },
    // 檢查下拉選單合法性
    CheckDropDownInvalid: function () {
      if (!this.BankData.Province || !this.BankData.Town) {
        return true
      }
      if (this.BankData.Province.Value == -1 || this.BankData.Town.Value == -1) {
        return true
      }
      if (this.DistsList.length > 1 && (!this.BankData.Dist || this.BankData.Dist.Value == -1)) {
        return true
      }
      return false
    },
    // 更新銀行資料
    UpdateBankData: async function () {
      console.log("1111111111")
      this.DropDownInvalid = this.CheckDropDownInvalid()
      this.Submitted = true
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
        this.TipsShow.sumbitBankAcct = false
      })
      const result = await this.$validator.validateAll()
      console.log(result)
      console.log(this.DropDownInvalid)
      if (result === false || this.DropDownInvalid === true) {
        return
      }

      if (this.BankData.RemittanceBankType === undefined) {
        return
      }
      EventBus.$emit("BankInfoAlterWindowTrigger")
      // this.ProcessingFlag = true;

      // const inputObj = {
      //   OrgBankAcct: this.OrgBankData,
      //   BankAcct: this.BankData
      // };

      // EventBus.$emit('GlobalLoadingTrigger', true);
      // const data = await PersonalCenterService.BankInfo_Mod(inputObj);
      // EventBus.$emit('GlobalLoadingTrigger', false);

      // this.ProcessingFlag = false;
      // if (data.Ret === 0) {
      //   this.InputReadOnly = true; // 资料保存成功后状态修改
      //   this.OrgBankAcct = Vue.util.extend({}, this.BankData);
      //   EventBus.$emit('fillTipUpdate');
      //   const notifyData = {
      //     NotifyMessage: data.Message
      //   };

      //   EventBus.$emit('showNotifyMemberMessage', notifyData);
      // } else if (data.Ret === 49) {
      //   const notifyData = {
      //     NotifyMessage: '绑定银行卡咨询后，不可修改'
      //   };
      //   EventBus.$emit('showNotifyMemberMessage', notifyData);
      // }
    },
    cancelClick: function () {
      this.Submitted = false
      this.bankInfoWriteFlag = true
    },
    VerifyBankCard: function () {
      console.log(this.verifybankNo)
      let verifyFlag = false
      for (let i = 0; i < this.BankAcctListDatas.length; i++) {
        if (this.verifybankNo === this.BankAcctListDatas[i].BankAcctVerify) {
          verifyFlag = true
        }
      }
      if (verifyFlag) {
        this.boundBankPutFlag = true
        this.verifyBankPutFlag = false
        console.log("11111111111111111")
      } else {
        console.log("22222222222222222")
        const notifyData = {
          NotifyMessage: this.$t("message.member_reconfirm")
        }
        EventBus.$emit("showNotifyMemberMessage", notifyData)
      }
    },
    bankNameTab: function (item) {
      console.log(item)
      if (this.BankData.RemittanceBankType == item.BankCode) {
        return
      }
      this.BankData.RemittanceBankType = item.BankCode
      this.BankData.BankName = item.BankName
      // ATM/銀行臨櫃 重置省市區選單
      if (item.BankCode == 1 || item.BankCode == 2 || item.BankCode == 3) {
        this.DropDownInvalid = false
      }
      // this.PostDepositData.BankBranchName = undefined;
    },
    // 银行卡名称展开收起
    CloseGameListState: function () {
      if (this.OpenShow === "-") {
        this.bankTabLoad(false)
        // CommonService.ClearRequestQueue(); // 关闭时停止所以接口的调用
        this.OpenShow = "+"
        this.OpenShowWord = this.$t("message.member_expand_more")
      } else {
        this.bankTabLoad(true)
        // this.GetVendorList(); // 打开时获取游戏商金额
        this.OpenShow = "-"
        this.OpenShowWord = this.$t("message.member_retract")
      }

      // this.$refs.MemberFunMessage.OpenGameBalanceList();
    }
  },
  components: {
    MemberBankInfoAlter
  }
}
</script>
