<template>
  <div class="livevideo-content">
    <div class="live-logo-lists-bg">
      <ul class="live-logo-lists clearfix">
        <li
          class="live-logo-li"
          v-for="(list,index) in VideoList"
          :key="index"
          :class="{'live-logo-jump':list.GameTypeState !== 703}"
        >
          <!-- <i class="game-maintain" v-if="list.ApiStatus == 703"></i> -->
          <div class="liveAbnormal" :class="list.GameTypeState !== 703?'live-logo-wrap':''">
            <p v-if="list.GameTypeState == 703" class="maintenanceBG">
              <i class="abnormalDefault maintenance"></i>
            </p>
            <div
              class="live-logo-content"
              :class="{'maintenanceWrap':list.GameTypeState == 703}"
              :style="{background:'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/general/common/liveVideo/'+(index+(pageNum%8?pageNum%8:1))+'.png)no-repeat'}"
            >
              <p class="live-mask-head"></p>
              <!-- <i class="game-maintain"
              v-if="list.GameTypeState == 703"></i>-->
              <a>
                <img :src="$ResourceCDN+'/PartnerLogo/whitelogo/v-logo'+list.GameApiNo+'.png'" />
              </a>
            </div>
            <div
              v-if="list.GameTypeState !== 703"
              v-on:click="PlayGame(list);"
              class="live-logo-mask"
            ></div>
          </div>
        </li>
      </ul>
    </div>
    <livevideo-paginate
      changePaginateStyle
      :pageSize="pageSize"
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></livevideo-paginate>
  </div>
</template>
<script>
import livevideoContent from "@/mod/k14/assets/scripts/comTest/general/liveVideo/liveVideoContent.js"
export default {
  name: "livevideo-content",
  mixins: [livevideoContent]
}
</script>