<!--熱門遊戲-->
<template>
  <div class="hot_box">
    <img
      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/hot_game_title.png?VersionCode'"
      class="hot_title"
    />
    <div class="hotGame-wrapper">
      <div class="indexNew-wrap-pic1">
        <div class="indexNew-pic1-lf">
          <div class="swiper-container swiper-banner2" v-if="GameModulesListSide.length>0">
            <div class="swiper-wrapper">
              <div
                class="indexNew-position swiper-slide banner2-station-1"
                v-for="(list,index) in GameModulesListSide"
                :key="index"
                @click="enterHotGame(list.Status,list.GameTypeNo,list.GameApiNo,'',1)"
              >
                <div>
                  <img v-if="list.ImageUrl!=''" :src="list.ImageUrl" />
                  <img
                    v-else
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/videoDefault.jpg?1'"
                  />
                  <img
                    class="logoImg"
                    v-if="list.GameApiNo!=-1"
                    :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'"
                  />
                  <!-- <img
                    class="logoImg"
                    v-if="GameModulesListData[3].GameApiNo!=-1"
                    :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'"
                  />-->
                  <div class="game-logo game-logo1"></div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="defaultDiv" v-else>
            <router-link :to="{ name: 'LiveVideo'}">
              <img
                class="default-icon"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/videoIcon.png?VersionCode'"
              />
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/videoDefault.jpg?1'"
              />
            </router-link>
          </div>
        </div>
        <div class="indexNew-pic1-lg">
          <div class="indexNew-pic1-lgTop">
            <div class="indexNew-position pic1-lgTop-p1 indexNew-pic-p">
              <div
                v-if="GameModulesListData[3]"
                @click="enterHotGame(GameModulesListData[3].Status,GameModulesListData[3].GameTypeNo,GameModulesListData[3].GameApiNo,'',2)"
              >
                <img
                  v-if="GameModulesListData[3].ImageUrl!=''"
                  :src="GameModulesListData[3].ImageUrl"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/electronDefault.jpg?1'"
                />
                <img
                  class="logoImg"
                  v-if="GameModulesListData[3].GameApiNo!=-1"
                  :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[3].GameApiNo+'.png'"
                />
                <div class="game-logo game-logo3"></div>
              </div>
              <div class="defaultDiv" v-else>
                <router-link :to="{ name: 'Electronic'}">
                  <img
                    class="default-icon"
                    :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/electronIcon.png?VersionCode'"
                  />
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/electronDefault.jpg?1'"
                  />
                </router-link>
              </div>
            </div>
            <div class="indexNew-position pic1-lgTop-p2 indexNew-pic-p">
              <div
                v-if="GameModulesListData[5]"
                @click="enterHotGame(GameModulesListData[5].Status,GameModulesListData[5].GameTypeNo,GameModulesListData[5].GameApiNo,'',3)"
              >
                <img
                  v-if="GameModulesListData[5].ImageUrl!=''"
                  :src="GameModulesListData[5].ImageUrl"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/sportDefault.jpg?1'"
                />
                <img
                  class="logoImg"
                  v-if="GameModulesListData[5].GameApiNo!=-1"
                  :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[5].GameApiNo+'.png'"
                />
              </div>
              <div class="defaultDiv" v-else>
                <router-link :to="{ name: 'Sport'}">
                  <img
                    class="default-icon"
                    :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/sportIcon.png?VersionCode'"
                  />
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/sportDefault.jpg?1'"
                  />
                </router-link>
              </div>
            </div>
          </div>
          <div class="indexNew-pic1-lgBottom">
            <div class="indexNew-position pic1-lgBottom-p1">
              <div
                v-if="GameModulesListData[4]"
                @click="enterHotGame(GameModulesListData[4].Status,GameModulesListData[4].GameTypeNo,GameModulesListData[4].GameApiNo,'',4)"
              >
                <img
                  v-if="GameModulesListData[4].ImageUrl!=''"
                  :src="GameModulesListData[4].ImageUrl"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/athleticsDefault.jpg?1'"
                />
                <img
                  class="logoImg"
                  v-if="GameModulesListData[4].GameApiNo!=-1"
                  :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[4].GameApiNo+'.png'"
                />
              </div>
              <div class="defaultDiv" v-else>
                <router-link :to="{ name: 'Athletics'}">
                  <img
                    class="default-icon"
                    :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/athleticsIcon.png?VersionCode'"
                  />
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/athleticsDefault.jpg?1'"
                  />
                </router-link>
                <div class="game-logo game-logo3"></div>
              </div>
            </div>
            <div class="pic1-lgBottom-p2">
              <div
                v-if="GameModulesListData[6]"
                @click="enterHotGame(GameModulesListData[6].Status,GameModulesListData[6].GameTypeNo,GameModulesListData[6].GameApiNo,'',5)"
              >
                <img
                  v-if="GameModulesListData[6].ImageUrl!=''"
                  :src="GameModulesListData[6].ImageUrl"
                />
                <img
                  v-else
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/lotteryDefault.jpg?1'"
                />
                <img
                  class="logoImg"
                  v-if="GameModulesListData[6].GameApiNo!=-1"
                  :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[6].GameApiNo+'.png'"
                />
              </div>
              <div class="defaultDiv" v-else>
                <router-link :to="{ name: 'Lottery'}">
                  <img
                    class="default-icon"
                    :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/lotteryIcon.png?VersionCode'"
                  />
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/lotteryDefault.jpg?1'"
                  />
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic2 clearfix">
        <div class="indexNew-position indexNew-pic2-p">
          <div
            v-if="GameModulesListData[7]"
            @click="enterHotGame(GameModulesListData[7].Status,GameModulesListData[7].GameTypeNo,GameModulesListData[7].GameApiNo,'',6)"
          >
            <img v-if="GameModulesListData[7].ImageUrl!=''" :src="GameModulesListData[7].ImageUrl" />
            <img
              v-else
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/pokerDefault.jpg?1'"
            />
            <img
              v-if="GameModulesListData[7].GameApiNo!=-1"
              class="logoImg"
              :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[7].GameApiNo+'.png'"
            />
          </div>
          <div class="defaultDiv" v-else>
            <router-link :to="{ name: 'Poker'}">
              <img
                class="default-icon"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/pokerIcon.png?VersionCode'"
              />
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/pokerDefault.jpg?1'"
              />
            </router-link>
            <div class="game-logo game-logo2"></div>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p">
          <div
            v-if="GameModulesListData[8]"
            @click="enterHotGame(GameModulesListData[8].Status,GameModulesListData[8].GameTypeNo,GameModulesListData[8].GameApiNo,'',7)"
          >
            <img v-if="GameModulesListData[8].ImageUrl!=''" :src="GameModulesListData[8].ImageUrl" />
            <img
              v-else
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/catchfishDefault.jpg?1'"
            />
            <img
              class="logoImg"
              v-if="GameModulesListData[8].GameApiNo!=-1"
              :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[8].GameApiNo+'.png'"
            />
          </div>
          <div class="defaultDiv" v-else>
            <router-link :to="{ name: 'Catchfish'}">
              <img
                class="default-icon"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/general/catchfishIcon.png?VersionCode'"
              />
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/catchfishDefault.jpg?1'"
              />
            </router-link>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p">
          <div
            v-if="GameModulesListData[9]"
            @click="enterHotGame(GameModulesListData[9].Status,GameModulesListData[9].GameTypeNo,GameModulesListData[9].GameApiNo,'')"
          >
            <a v-if="GameModulesListData[9].Status==1">
              <img
                v-if="GameModulesListData[9].ImageUrl!=''"
                :src="GameModulesListData[9].ImageUrl"
              />
              <img
                v-else
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode'"
              />
              <img
                class="logoImg"
                v-if="GameModulesListData[9].GameApiNo!=-1"
                :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[9].GameApiNo+'.png'"
              />
            </a>
            <a class="pic2-anticipate" v-else>
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode'"
              />
              <span>{{$t('message.live_expect')}}</span>
            </a>
          </div>
          <div class="defaultDiv" v-else>
            <a class="pic2-anticipate">
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode'"
              />
              <span>{{$t('message.live_expect')}}</span>
            </a>
            <div class="game-logo game-logo2"></div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic3 clearfix" v-if="GameModulesListFoot.length>0">
        <div
          class="indexNew-position indexNew-pic3-p"
          v-for="(list,index) in GameModulesListFoot"
          :key="index"
          @click="enterHotGame(list.Status,list.GameTypeNo,list.GameApiNo,'','d')"
        >
          <a v-if="list.Status==1">
            <img :src="list.ImageUrl" />
            <img
              class="logoImg"
              v-if="list.GameApiNo!=-1"
              :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+GameModulesListData[9].GameApiNo+'.png'"
            />
          </a>
          <a v-if="list.Status==2">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode'"
            />
            <span class="pic3-anticipate">{{$t('message.live_expect')}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import EventBus from 'scripts/common/EventBus';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';
import Swiper from 'swiper';
export default {
  data () {
    return {
      hotGameObjList: [
        {
          elemID: 'h_list1',
          elemClass: 'h_list1',
          linkName: 'Electronic',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list1.png?VersionCode'
        },
        {
          elemID: 'h_list2',
          elemClass: 'h_list2',
          linkName: 'LiveVideo',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list2.png?VersionCode'
        },
        {
          elemID: 'h_list3',
          elemClass: 'h_list3',
          linkName: 'Sport',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list3.png?VersionCode'
        },
        {
          elemID: 'h_list4',
          elemClass: 'h_list4',
          linkName: 'Lottery',
          showImg:
            this.$ResourceCDN +
            '/EditionImg/LamborFormal/images/web00/lang/' +
            this.$MessageLang +
            '/hot_list4.png?VersionCode'
        }
      ],
      OnlinePeople: undefined,
      GameModulesListData: [],
      GameModulesListSide: [],
      GameModulesListFoot: [],
      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: undefined,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      }
    };
  },
  mounted: function () {
    EventBus.$on('OnlinePeopleNum', data => {
      this.OnlinePeople = data;
    });
    this.pageLoadGameModules();
  },
  methods: {
    // 滑鼠移入熱門遊戲
    mouseEnter: function (thisObj) {
      $('.hot_box_list .h_list').stop();
      $('#' + thisObj)
        .siblings('.h_list')
        .animate({ 'margin-top': '20px' }, 300);
      $('#' + thisObj).animate({ 'margin-top': '0' }, 300);
    },
    // 滑鼠移出熱門遊戲
    mouseLeave: function (thisObj) {
      $('#' + thisObj).animate({ 'margin-top': '20px' }, 300);
    },
    pageLoadGameModules: async function () {
      const inputObj = {
        WGUID: Vue.prototype.$WGUID
      };
      const data = await CommonService.HomePageLoadGameModules(inputObj);
      console.log('data热门游戏');
      console.log(data.Data.GameModulesList);
      console.log('data热门游戏');
      if (data.Ret === 0) {
        this.GameModulesListData = data.Data.GameModulesList;
        this.$nextTick(() => {
          /* eslint-disable no-new */
          new Swiper('.swiper-container', {
            mousewheelControl: true,
            direction: 'horizontal', //
            mousewheelForceToAxis: true,
            pagination: '.swiper-pagination',
            autoplay: 5000, // 可选选项，自动滑动
            paginationClickable: true,
            observer: true, // 修改swiper自己或子元素时，自动初始化swiper
            observeParents: true // 修改swiper的父元素时，自动初始化swiper
          });

          $('.indexNew-wrap-pic3').append('222');
        });
        if (data.Data.GameModulesList !== '' && data.Data.GameModulesList !== undefined && data.Data.GameModulesList !== null) {
          for (let i = 0; i < 3; i++) {
            this.GameModulesListSide.push(data.Data.GameModulesList[i]);
            // this.GameModulesListSide = [];
          }
        }
        for (let i = 10; i < this.GameModulesListData.length; i++) {
          this.GameModulesListFoot.push(data.Data.GameModulesList[i]);
          // this.GameModulesListFoot = [];
        }
        console.log(this.GameModulesListFoot.length % 4);
        console.log(4 - (this.GameModulesListFoot.length % 4));
        if (this.GameModulesListFoot.length % 4 != 0) {
          for (let d = 0; d < 4 - (this.GameModulesListFoot.length % 4); d++) {
            this.$nextTick(() => {
              $('.indexNew-wrap-pic3').append(
                '<div class="indexNew-position indexNew-pic3-p"><a><img src="' +
                  this.$ResourceCDN +
                  '/EditionImg/Lambor1.0/images/web/indexNew/hotGameBackGround.png?VersionCode"/><span class="pic3-anticipate">敬请期待</span></a></div>'
              );
            });
          }
        }

        console.log(this.GameModulesListFoot.length);
        console.log(this.GameModulesListData[3].ImageUrl == '');
      }
    },
    // 动态进入游戏
    enterHotGame: function (status, typeNo, apiNo, code, num) {
      if (status == 1) {
        this.GameData.GameAPIVendor = apiNo;
        this.GameData.GameCode = code;
        this.GameData.GameCatlog = typeNo;

        localStorage.setItem(
          'PlayGamePostData',
          URLService.GetUrlParameterFromObj(this.GameData)
        );
        EventBus.$emit('showTransferMessage', this.GameData);
        // CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      } else {
        switch (num) {
          case 1:
            this.$router.push({ name: 'LiveVideo' });
            break;
          case 2:
            this.$router.push({ name: 'Electronic' });
            break;
          case 3:
            this.$router.push({ name: 'Sport' });
            break;
          case 4:
            this.$router.push({ name: 'Athletics' });
            break;
          case 5:
            this.$router.push({ name: 'Lottery' });
            break;
          case 6:
            this.$router.push({ name: 'Poker' });
            break;
          case 7:
            this.$router.push({ name: 'Catchfish' });
            break;
          default:
            break;
        } // end switch
      }
    }
  }
};
</script>
