.theme25{
    /*免费试玩*/
    body{
        background: none;
        margin: 0;
        padding: 0;
    }
    .free_con{
        width: 100%;
        height: 1000px;
    }
    .wrap{
        width: 100%!important;
    }
    .free_title{
        display: none;
    }
    .free_title img{
        display: none;
    }
    .logoPage{
        background: none;
    }
    .free_con .logoPage{
        top: 3%;
    }
    .free_con .logoPage h2{
        text-align: center;
        color: #ccc;
        padding-left: 30px;
    }
    .f-t-float{
        width: 1000px;
        margin:10px auto 0;
        color: #323232;
    }
    .f-t-top {
        color: #838280;
        width: 100%;
        text-align: center;
    }
    .f-t-top dt {
        font-size: 16px;
    }
    .free_tip{
        display: none;
    }
    .f-t-top dd {
        font-size: 16px;
        margin-top: 10px;
        color: #838280;
    }
    .f-t-btn {
        display: inline-block;
        width: 150px;
        height: 46px;
        line-height: 46px;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        letter-spacing: 2px;
        background: #ff8400;
        margin: 25px 385px 20px 385px;
    }
    .free_con .logoPage .logo-lists{
        margin-top: 20PX;
    }
    .free_con .number-page {
        margin: 10px auto 0;
    }
    
    /*免费试玩 end*/
    
    /*logo*/
    .logoPage{
        width: 1087px;
        height: 860px;
        position: absolute;
        top: 37%;
        left: 22%;
    }
    .logoPage >h2{
    //  font-size: 40px;
    //  color: #60aaf3;
    //  text-align: center;
    //  letter-spacing: 2px;
    }
    .logo-lists{
        font-size: 0;
        width: 1000px;
        height: 600px;
        margin:50px auto 0;
        overflow: hidden;
    
    }
    .logo-lists li{
        width:320px;
        height:130px;
        line-height: 130px;
        text-align: center;
        display: block;
        background: transparent;
        margin-left: 20px;
        float: left;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .logo-lists li:hover,.logo-lists li.on{
        background: rgba(0,0,0,.5);
    }
    .logo-lists li:nth-child(3n+1){
        margin-left:0 ;
    }
    
    .logo-lists li img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .login-footer{
        margin-top: -6px;
    }
    .free_top_img{
        display: none;
    }
    
    /*logo=====end*/
    .start_nav{
        display: none;
    }
    .login-footer{
        display: none;
    }
}