<template>
  <!--忘記密碼彈窗-->
  <div
    class="pub_alert_box tel_alert_box re_h forgetAlert"
    id="informationForm"
    style="display: none;"
  >
    <!--7版特有-->
    <div class="seven_popup">
      <div class="login-popup">
        <form name="InformationForm" novalidate="novalidate">
          <div class="descr_title no_line clearfix">
            <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
          </div>
          <div class="descr_p login_descr_p">
            <p
              class="p_blue"
            >{{$t('message.login_new_password')}}{{$t('message.login_login_system')}}</p>
            <p class="p_blue">
              {{$t('message.login_not_received')}}
              <a
                @click="OpenNewBox($ServeLink)"
              >{{$t('message.login_contact')}}</a>
            </p>
          </div>
          <div class="alert_btn_both">
            <a class="btn1" href="javascript:void(0);" @click="CloseWindow()">
              <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// import { forgetPsSs } from '@/assets/scripts/comTest/sub/login/forgetPasswordSuccess.js';
// export default {
//   mixins: [forgetPsSs]
// };
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
export default {
  mounted: function () {
    EventBus.$on("ForgetPasswordSuccessAlert", () => {
      this.OpenWindow()
    })
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        "newindow",
        "height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no"
      )
    },
    // 開啟視窗
    //      OpenWindow: function () {
    //          CommUtility.WebShowUniqueForm('informationForm');
    //      }, // end OpenWindow

    // 關閉視窗
    //      CloseWindow: function () {
    //          CommUtility.WebCloseUniqueForm('informationForm');
    //      }, // end CloseWindow

    // 客服彈窗
    //      CustomerWindow: function () {
    //          this.CloseWindow();
    //          CommUtility.WebShowUniqueForm('CustomerServiceWindow');
    //      }, // end  CustomerWindow

    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm("informationForm")
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm("informationForm")
    }, // end CloseWindow

    // 客服彈窗
    CustomerWindow: function () {
      this.CloseWindow()
      // CommUtility.WebShowUniqueForm('CustomerServiceWindow');
    } // end  CustomerWindow
  }
}
</script>
