<!--頭部導航選單-->
<template>
  <div class="main-navNew">
    <ul class="navNew-ulCon">
      <!-- <li class="navNew-Logo">
        <a href="/">
          <img :src="this.LogoPath" />
        </a>
      </li>-->
      <!-- <li class="navNew-List m">
        <router-link :to="{ name: 'Index'}" class="navNew-ListA">
          首页
          <span class="englishName">Home page</span>
        </router-link>
      </li>-->
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'LiveVideo'}">
        <router-link :to="{ name: 'LiveVideo'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_live')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Live dealer</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="LiveVideoListIcons.length>0">
                <li v-for="(list,index) in LiveVideoListIcons" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img25.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img27.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img29.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img31.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img26.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="LiveVideoListMain.length>0">
                <li v-for="(list,index) in LiveVideoListMain" :key="index">
                  <a class="navMain_ha" href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>

              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Electronic'}">
        <router-link :to="{ name: 'Electronic'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_game')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Electronic games</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="ComputerListIcons.length>0">
                <li
                  v-for="(list,index) in ComputerListIcons"
                  :key="index"
                  v-show="list.GameApiNo !=='2'"
                >
                  <a href="#" @click="EnterElectron(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img33.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img34.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img35.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img36.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img26.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="ComputerListMain.length>0">
                <li
                  v-for="(list,index) in ComputerListMain"
                  :key="index"
                  v-show="list.GameApiNo !=='2'"
                >
                  <a class="navMain_ha" href="#" @click="EnterElectron(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Poker'}">
        <router-link :to="{ name: 'Poker'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_poker')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Poker games</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="ChessListIcons.length>0">
                <li v-for="(list,index) in ChessListIcons" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>

                    <span class="bgs1-portrait bgs1">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img46.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img47.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_imgPoker1.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_imgPoker2.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <!-- <img
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img48.png'"
                      />-->
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="ChessListMain.length>0">
                <li v-for="(list,index) in ChessListMain" :key="index">
                  <a class="navMain_ha" href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Lottery'}">
        <router-link :to="{ name: 'Lottery'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_betting')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Lottery betting</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="LotteryListIcons.length>0">
                <li v-for="(list,index) in LotteryListIcons" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" v-if="list.GameApiName">{{list.GameApiName}}</span>
                    <span
                      class="bgs1-portrait bgs1"
                      v-if="index==0 || index==1 || index==2 || index==3"
                    >
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img43.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img44.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_imgLottery1.png'"
                      />
                      <img
                        v-if="index==3"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_imgLottery2.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="LotteryListMain.length>0">
                <li v-for="(list,index) in LotteryListMain" :key="index">
                  <a class="navMain_ha" href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === '') || (this.$route.name === '')}"
      >
        <router-link :to="{ name: ''}">捕鱼</router-link>
      </li>-->
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Sport'}">
        <router-link :to="{ name: 'Sport'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_lottery')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Sports lottery</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="SportListIcons.length>0">
                <li v-for="(list,index) in SportListIcons" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1 || index==2">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img37.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="SportListMain.length>0">
                <li v-for="(list,index) in SportListMain" :key="index">
                  <a class="navMain_ha" href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': this.$route.name === 'Athletics'}">
        <router-link :to="{ name: 'Athletics'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_sport')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Electronic sports</span>
          <i></i>
        </router-link>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_two">
              <ul class="xiao_two_navIcon" v-if="AthleticsListIcons.length>0">
                <li v-for="(list,index) in AthleticsListIcons" :key="index">
                  <a href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text">{{list.GameApiName}}</span>
                    <span class="bgs1-portrait bgs1" v-if="index==0 || index==1 || index==2">
                      <img
                        v-if="index==0"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img37.png'"
                      />
                      <img
                        v-if="index==1"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img38.png'"
                      />
                      <img
                        v-if="index==2"
                        class="i_portrait"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img39.png'"
                      />
                      <img
                        class="i_frame1"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img23.png'"
                      />
                      <img
                        class="i_frame2"
                        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web64/index/web64_home_img24.png'"
                      />
                    </span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="i_maintenance" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance4.png'"
                    />
                  </span>
                </li>
              </ul>
              <ul class="xiao_two_navMain" v-if="AthleticsListMain.length>0">
                <li v-for="(list,index) in AthleticsListMain" :key="index">
                  <a class="navMain_ha" href="#" @click="enterGameLink(list)">
                    <span class="bgs1-text" :title="list.GameApiName">{{list.GameApiName}}</span>
                    <span class="bgs1-logo">
                      <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
                    </span>
                  </a>
                  <span class="navMaintenance_ha" v-if="list.GameTypeState == '703'">
                    <img
                      :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/maintenance5.png'"
                    />
                  </span>
                </li>
              </ul>
              <div class="tip-server">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/web64_home_img22.png'"
                />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === 'ActivityList') || (this.$route.name === 'ActivityDetail') }"
      >
        <router-link :to="{ name: 'ActivityList'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_promotions')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Promotions</span>
          <i></i>
        </router-link>
      </li>
      <li
        class="navNew-List m"
        v-bind:class="{ 'hasSelece': (this.$route.name === 'NewsList') || (this.$route.name === 'NewsDetail')}"
      >
        <router-link :to="{ name: 'NewsList'}" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_news')}}</p>
          <span
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
            class="englishName"
          >Hot news</span>
          <i></i>
        </router-link>
      </li>
      <li class="navNew-List m" v-bind:class="{ 'hasSelece': announcementOpen}">
        <a @click="OpenAnnouncement()" class="navNew-ListA">
          <p v-show="$MessageLang==='en'" style="height:14px;"></p>
          <p>{{$t('message.nav_announcement')}}</p>
          <span
            class="englishName"
            v-if="this.$MessageLang !== 'en' && this.$MessageLang !== 'vi'"
          >Official news</span>
          <i></i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';
import HttpService from 'scripts/common/HttpService';
import URLService from 'scripts/common/URLService';
import Vue from 'vue';
export default {
  data() {
    return {
      LogoPath: localStorage.getItem('LogoImgPath'),
      StateLogin: false,
      LiveVideoLists: [],
      LiveVideoListIcons: [],
      LiveVideoListMain: [],

      SportLists: [],
      SportListIcons: [],
      SportListMain: [],

      LotteryLists: [],
      LotteryListIcons: [],
      LotteryListMain: [],

      GameLists: [],
      GameListIcons: [],
      GameListMain: [],

      ComputerLists: [],
      ComputerListIcons: [],
      ComputerListMain: [],

      ChessLists: [],
      ChessListIcons: [],
      ChessListMain: [],

      AthleticsLists: [],
      AthleticsListIcons: [],
      AthleticsListMain: [],

      GameData: {
        GameAPIVendor: undefined,
        GameCode: '',
        GameCatlog: '',
        PlayType: BLDef.IdentityType.FORMAL,
        Platform: BLDef.PlatformType.Web_PC
      }
    };
  },
  created: function() {
    this.GetNavGames();
    this.GetLogoData();

    this.$store.dispatch('setAnnouncementOpenText', false); // 刷新页面后重置公告信息被选中状态
  },
  // 解决点击侧边导航不加载
  computed: {
    announcementOpen() {
      return this.$store.state.announcementOpen;
    }
  },
  mounted: function() {
    this.$store.dispatch('setEleState', undefined);
    $('.main-navNew').slide({
      type: 'menu',
      titCell: '.m',
      targetCell: '.sub',
      effect: 'slideDown',
      delayTime: 300,
      triggerTime: 100,
      returnDefault: true
    });
    $('.xiao_two').perfectScrollbar();
  },
  methods: {
    // 新的跳转打开个人中心方式 2019.05.13 SeyoChen
    navClick: async function(name) {
      this.CheckLoginStatusBeforeRoute(name);
      if (this.StateLogin !== false) {
        this.$store.dispatch('setSwitchNameText', name);
        EventBus.$emit('personalInfo');
      } else {
        this.$router.push({ name: 'Login' });
      }
    },
    // 檢查帳號狀態
    CheckLoginStatusBeforeRoute: async function(routeName) {
      const notifyData = {};
      const data = await CommonService.Comm_CheckPermission();

      switch (data.Status) {
        case BLDef.SysAccountStatus.LOGINED_ENABLED:
          this.StateLogin = true;
          this.$store.dispatch('setSwitchNameText', routeName);
          EventBus.$emit('personalInfo');
          break;
        case BLDef.SysAccountStatus.LOGINED_FROZEN:
          this.StateLogin = false;
          notifyData.NotifyMessage = this.$t('message.top_account_freezing');
          EventBus.$emit('showNotifyMessage', notifyData);
          break;
        default:
          break;
      }
    },
    GetLogoData: async function() {
      const DataObj = {
        WGuid: Vue.prototype.$WGUID,
        platformType: BLDef.PlatformType.Web_PC
      };
      const retData = await CommonService.HomePage_LoadMainPage(DataObj);
      console.log('next');
      console.log(retData);
      if (retData.Ret === 0) {
        this.LogoPath = this.$ResourceCDN + retData.Data.MasterLogo;
      } else {
        this.LogoPath = localStorage.getItem('LogoImgPath');
      }
    },
    GetNavGames: async function() {
      console.log('222');
      this.GameLists = JSON.parse(localStorage.getItem('GameList'));
      console.log('111');
      const dataObj = {
        WGUID: '',
        GameTypeNo: ''
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子 5.棋牌 6.竞技
      const retData = await HttpService.PostDynamic(0, 214, dataObj);
      if (
        retData.Ret === 0 &&
        this.GameLists !== retData.Data.GameAPIVerdorList
      ) {
        // 判断本地缓存是否与之前的相同
        this.GameLists = retData.Data.GameAPIVerdorList;
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }

      for (let i = 0; i < this.GameLists.length; i++) {
        // 2019.01.12 筛选游戏 并 判定状态 SeyoChen 启动中：702 维护中：703 关闭：704
        if (
          this.GameLists[i].GameTypeNo === 1 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.LiveVideoLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 2 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.SportLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 3 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.LotteryLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 4 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.ComputerLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 5 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.ChessLists.push(this.GameLists[i]);
        }

        if (
          this.GameLists[i].GameTypeNo === 6 &&
          this.GameLists[i].GameTypeState !== 704
        ) {
          this.AthleticsLists.push(this.GameLists[i]);
        }
      }
      // 真人视讯
      if (this.LiveVideoLists.length < 4) {
        this.LiveVideoListIcons = this.LiveVideoLists;
      } else {
        for (let n = 0; n < 4; n++) {
          this.LiveVideoListIcons.push(this.LiveVideoLists[n]);
        }
        for (let l = 4; l < this.LiveVideoLists.length; l++) {
          this.LiveVideoListMain.push(this.LiveVideoLists[l]);
        }
      }
      console.log(this.LiveVideoListIcons);
      console.log(this.LiveVideoListMain);
      console.log('真人视讯');

      // 电子游戏
      if (this.ComputerLists.length < 4) {
        this.ComputerListIcons = this.ComputerLists;
      } else {
        for (let n = 0; n < 4; n++) {
          this.ComputerListIcons.push(this.ComputerLists[n]);
        }
        for (let l = 4; l < this.ComputerLists.length; l++) {
          this.ComputerListMain.push(this.ComputerLists[l]);
        }
      }
      console.log(this.ComputerListIcons);
      console.log(this.ComputerListMain);
      console.log('电子游戏');

      // 棋牌游戏
      if (this.ChessLists.length < 4) {
        this.ChessListIcons = this.ChessLists;
      } else {
        for (let n = 0; n < 4; n++) {
          this.ChessListIcons.push(this.ChessLists[n]);
        }
        for (let l = 4; l < this.ChessLists.length; l++) {
          this.ChessListMain.push(this.ChessLists[l]);
        }
      }
      console.log(this.ChessListIcons);
      console.log(this.ChessListMain);
      console.log('棋牌游戏');

      // 彩票投注
      if (this.LotteryLists.length < 4) {
        this.LotteryListIcons = this.LotteryLists;
      } else {
        for (let n = 0; n < 4; n++) {
          this.LotteryListIcons.push(this.LotteryLists[n]);
        }
        for (let l = 4; l < this.LotteryLists.length; l++) {
          this.LotteryListMain.push(this.LotteryLists[l]);
        }
      }

      console.log(this.LotteryListIcons);
      console.log(this.LotteryListMain);
      console.log('彩票投注');
      // console.log(this.LotteryListIcons);
      // console.log(this.LotteryListMain);
      // 体育博彩
      if (this.SportLists.length < 3) {
        this.SportListIcons = this.SportLists;
      } else {
        for (let n = 0; n < 3; n++) {
          this.SportListIcons.push(this.SportLists[n]);
        }
        for (let l = 3; l < this.SportLists.length; l++) {
          this.SportListMain.push(this.SportLists[l]);
        }
      }
      console.log(this.SportListIcons);
      console.log(this.SportListMain);
      console.log('体育博彩');

      // 电子竞技
      if (this.AthleticsLists.length < 3) {
        this.AthleticsListIcons = this.AthleticsLists;
      } else {
        for (let n = 0; n < 3; n++) {
          this.AthleticsListIcons.push(this.AthleticsLists[n]);
        }
        for (let l = 3; l < this.AthleticsLists.length; l++) {
          this.AthleticsListMain.push(this.AthleticsLists[l]);
        }
      }
      console.log(this.AthleticsListIcons);
      console.log(this.AthleticsListMain);
      console.log('电子竞技');
    },
    enterGameLink: function(gameList) {
      console.log(gameList);
      console.log('2324');
      this.GameData.GameAPIVendor = gameList.GameApiNo;
      this.GameData.GameCode = gameList.GameCode;
      this.GameData.GameCatlog = gameList.GameTypeNo;
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.GameData)
      );
      localStorage.removeItem('gameListGameApiNo');
      localStorage.setItem('gameListGameApiNo', gameList.GameApiNo);

      if (gameList.GameTypeNo == 5 && gameList.GameApiNo == '69') {
        console.log('sffdf');
        CommUtility.OpenPlayGameWindow('webPlayMyGame', 'PlayGamePopUpWindow');
      } else if (gameList.GameTypeNo == 5 && gameList.GameApiNo == '70') {
        console.log('wewq');
        CommUtility.OpenPlayGameWindow('webPlayMyGame', 'PlayGamePopUpWindow');
      } else if (gameList.GameTypeNo == 5 && gameList.GameApiNo == '72') {
        CommUtility.OpenPlayGameWindow('webPlayMyGame', 'PlayGamePopUpWindow');
      } else if (gameList.GameTypeNo == 5 && gameList.GameApiNo == '73') {
        CommUtility.OpenPlayGameWindow('webPlayMyGame', 'PlayGamePopUpWindow');
      } else {
        // EventBus.$emit('showTransferMessage', this.GameData);
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
    },
    EnterElectron: function(gameList) {
      // this.$route.params.GameApiNo = gameList.GameApiNo;
      this.$store.dispatch('setEleState', gameList);
      for (let i = 0; i < this.GameLists.length; i++) {
        if (
          this.GameLists[i].GameApiNo === gameList.GameApiNo &&
          this.GameLists[i].GameTypeNo === gameList.GameTypeNo
        ) {
          EventBus.$emit('GameApiNo', gameList.GameApiNo);
          this.$router.push({ name: 'Electronic' });
        }
      }
      this.$router.push({ name: 'Electronic' });
    },
    // 点击弹出公告信息弹窗 20191018 ququ
    OpenAnnouncement: function() {
      EventBus.$emit('showAnnouncementWindow');
    }
  }
};
</script>
