<template>
  <div
    class="poker-content"
    :class="'sy'+$VersionNumber+'-poker-wrap'+ ' poker_' +$MessageLang "
    :style="{background:$BannerPath.Images.PokerBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/'+ $MessageLang + $BannerPath.Images.PokerBgImages + ')no-repeat':'',backgroundPositionX:'15px',backgroundPositionY:'0px' }"
    >
    <div
      class="poker-content-banner"
      :style="{background:$BannerPath.Images.PokerImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images' + $BannerPath.Images.PokerImages + ')no-repeat':'' }"
      >
      <video
        muted
        autoplay="autoplay"
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/poker.mp4'"
        width="1920"
        loop="loop"
        style="margin-left: -260px;margin-top: -550px;"
      ></video>
    </div>
    <div class="wlottery-right-contMain wcathectic-cont-itemCon">
      <h2 class="wlottery-contMain-title">
        {{$t('message.nav_poker')}}
        <p v-if="$MessageLang!='en'">POKER GAMES</p>
      </h2>
      <!-- 添加logo -->
      <!-- <div class="wlottery-contMain-logo wcathectic-contUl">
        <ul>
          <li class="wlottery-contMain-logoLi wcathectic-contLi" v-for="list in PokerList" :key="list.GameTypeStat">
            <i class="game-maintain" v-if="list.GameTypeState == 703"></i>
            <a @click="PlayKGGame(list);">
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
            </a>
          </li>
        </ul> -->
        <poker-content ref='pokerContent'
                       :pageSize='pageSize'
                       :PageCount="PageCount"
                       @PlayGame="PlayGame"></poker-content>
        <!-- <footer class="poker-logo-footer"></footer> -->
    </div>
    <!-- 页码 -->
    <!-- <rss-page></rss-page> -->
  </div>
</template>

<script>
import { poker } from '@/mod/k04/assets/scripts/comTest/main/poker/poker.js';
import { PokerKingLong } from '@/mod/k04/assets/scripts/comTest/main/poker/pokerKingLong.js';
export default {
  mixins: [poker, PokerKingLong]
};
</script>
