<template>
  <div id="RecordDetailRakeForm" class>
    <div class="record_guide purple_cont">
      <ul class="psl_guide">
        <li
          v-show="IncomeMode===1401"
          :class="QueryType == 'zhanCheng'? 'hasblock':''"
          @click="ChangeQueryType('zhanCheng')"
        >
          <a>{{$t('message.agency_occupation_record')}}</a>
          <i></i>
        </li>
        <li
          :class="QueryType == 'CodeCommission'? 'hasblock':''"
          @click="ChangeQueryType('CodeCommission')"
        >
          <a>{{$t('message.agency_commission_record')}}</a>
          <i></i>
        </li>
      </ul>
    </div>
    <div>
      <div class="agencyDetailed-cont-nav">
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.member_hour')}}</span>
          <!--<input class="p1-put" type="text" />-->
          <datepicker
            class="p1-put"
            :class="'recordPut'+$MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.StartTick"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put"
            :class="'recordPut'+$MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.EndTick"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            @selected="selectedEnd"
          ></datepicker>
        </div>
        <div class="nav-p1">
          <span class="p1-name">{{$t('message.agency_consumer')}}</span>
          <input
            class="p1-userPut"
            :class="'recorduserPut'+$MessageLang"
            v-model="DisplayRechargeObj.AgencyUser"
            v-validate="{ rules: { regex:Reg.LoginAccount }}"
            name="AgencyAcct"
            type="text"
          />
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsNextLayer=Number(checkedSubordinate)"
            v-model="checkedSubordinate"
          >{{$t('message.agency_subordinate')}}</el-checkbox>
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsDatalessUsers=Number(checkedDatalessUsers)"
            v-model="checkedDatalessUsers"
          >{{$t('message.dataless_users')}}</el-checkbox>
        </div>
        <span class="renovate" @click="ResetClick('true')">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="search"
          :class="'search'+$MessageLang"
          href="javascript:;"
          @click="UpdateDetailCondition()"
        >{{$t('message.member_search')}}</a>
        <div class="record_agency_error" style="top:35px">
          <span
            style="left: 295px;"
            class="tip1"
            v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          >{{$t('message.login_english_letters')}}</span>
          <span
            class="tip1"
            style="left: 0px;"
            v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          >{{$t('message.member_greater_than')}}</span>
        </div>
      </div>
      <!-- <div class="record_agency_error">
        <span
          class="tip1"
          v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          style="left: 65px;top: -5px;"
        >{{$t('message.reg_english_letters')}}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="left: 322px;"
        >{{$t('message.member_greater_than')}}</span>
      </div>-->
    </div>
    <agency-zhan-cheng
      :IsNextLayer="DisplayRechargeObj.IsNextLayer"
      :ZchengIBRakeCostList="ZchengIBRakeCostList"
      :ZTeamCountTotal="ZTeamCountTotal"
      :ZVRakeCostTotal="ZVRakeCostTotal"
      :ZTeamCountSubTotal="ZTeamCountSubTotal"
      :ZVRakeCostSubTotal="ZVRakeCostSubTotal"
      v-if="QueryType == 'zhanCheng'"
    ></agency-zhan-cheng>
    <agency-code-commission
      :IsNextLayer="DisplayRechargeObj.IsNextLayer"
      :CodeComIBCommissionList="CodeComIBCommissionList"
      :CodeComDataTotal="CodeComDataTotal"
      :CodeComDataSubtotal="CodeComDataSubtotal"
      v-if="QueryType == 'CodeCommission'"
    ></agency-code-commission>
    <!--分页-->
    <paginate :PageCount="PageCount" :PageNo="PagingInfo.PageNo"></paginate>
    <div class="maxtip" v-if="IsShowTip">{{textSucc}}</div>
    <div v-show="resigerWord" class="maxtip">{{$t('message.agency_successful_reset')}}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
import Regex from "@/assets/scripts/common/CommDef"
import CommUtility from "scripts/common/CommUtility"
import AgencyZhanCheng from "@/components/sub/agency/commissionRecord/agencyZhanCheng"
import AgencyCodeCommission from "@/mod/k06/components/sub/agency/commissionRecord/agencyCodeCommission"
import AgencyCenterService from "@/assets/scripts/businessLogic/agencyCenterService"
// import EventBus from 'scripts/common/EventBus';
import EventBus from "@/assets/scripts/common/EventBus"
import Paginate from "@/mod/k06/components/sub/paginate"

export default {
  data() {
    return {
      histName: undefined,
      textSucc: undefined,
      IsShowTip: false,
      QueryType: "zhanCheng",
      // 正則表達式類別
      Reg: Regex.Regex,
      Submitted: false,
      TimeSequenceInvalid: false,
      DisplayRechargeObj: {
        AgencyUser: "",
        StartTick: new Date(),
        EndTick: new Date(),
        IsNextLayer: 0,
        IsDatalessUsers: 0
      },
      CalendarDisabled: {
        to: new Date(moment().add(-90, "days").format("YYYY/MM/DD")), // Disable all dates after specific date
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds"))
      },
      ZchengIBRakeCostList: [],
      ZVRevenueRateTotal: undefined,
      ZTeamCountTotal: undefined,
      ZVRakeCostTotal: undefined,
      ZTeamCountSubTotal: undefined,
      ZVRakeCostSubTotal: undefined,
      IsShowErrorFlag: false,
      CodeComIBCommissionList: [],
      CodeComDataTotal: {},
      CodeComDataSubtotal: {},
      PageCount: 1,
      // 搜尋條件
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      checkedSubordinate: false,
      checkedDatalessUsers: false,
      resigerWord: false,
      IncomeMode: 1401 // 1401占成+码佣 1402码佣
    }
  },
  created() {
    // 获取当前会员状态
    this.memberStatus().then((QueryType) => {
      // debugger
      this.ChangeQueryType(QueryType)
    })
  },
  mounted() {
    $("#RecordDetailRakeForm").perfectScrollbar()
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      let startDate = new Date(this.dateFormat(date) + " 00:00:00")
      this.DisplayRechargeObj.StartTick = startDate
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      let endDate = new Date(this.dateFormat(date) + " 23:59:59")
      this.DisplayRechargeObj.EndTick = endDate
      this.CheckFied()
    },
    // 获取当前会员状态
    async memberStatus() {
      const inputObj = {
        AcctID: localStorage.getItem("CorrelationIBMemberId")
      }
      const GameData = await AgencyCenterService.LoadMaxReverseGameListSetting(inputObj)
      // debugger;
      if (GameData.Ret === 0) {
        this.IncomeMode = GameData.Data.CommisionIncomeMode
        // self.IncomeMode = 1402;
        // 1401占成+码佣
        if (this.IncomeMode === 1402) {
          this.QueryType = "CodeCommission"
        }
      }
      return this.QueryType
    },
    ResetClick: async function (val) {
      console.log(val)
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours()
      const minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
      const seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds()
      const startDate = year + "-" + month + "-01 " + hours + ":" + minutes + ":" + seconds
      this.DisplayRechargeObj.StartTick = startDate
      this.DisplayRechargeObj.EndTick = new Date()
      this.DisplayRechargeObj.AgencyUser = ""
      this.PagingInfo.PageNo = 1
      this.DisplayRechargeObj.IsNextLayer = 0
      this.DisplayRechargeObj.IsDatalessUsers = 0
      this.checkedSubordinate = false
      this.checkedDatalessUsers = false
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      this.CheckFied()
      if (val == "true") {
        // this.succeededText = data.Message;
        this.resigerWord = true
        setTimeout(() => {
          this.resigerWord = false
        }, 1000)
      }
    },
    // 分页 20190517 LMX
    GetCurrentPageData: async function (pageNo) {
      console.log(pageNo)
      console.log(this.QueryType)
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo
      }
      if (this.QueryType === "zhanCheng") {
        this.AgencyZCheng(pageNo, "false")
      } else if (this.QueryType === "CodeCommission") {
        this.AgencyCodeCommission(pageNo, "false")
      }
    }, // end GetCurrentPageData
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      // this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayRechargeObj.StartTick === undefined) {
        anyInvalid = true
      }
      // 結束時間未選
      if (this.DisplayRechargeObj.EndTick === undefined) {
        anyInvalid = true
      }
      // 開始日期大於結束日期
      if (this.DisplayRechargeObj.StartTick !== undefined && this.DisplayRechargeObj.EndTick !== undefined) {
        if (new Date(this.DisplayRechargeObj.StartTick) > new Date(this.DisplayRechargeObj.EndTick)) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }

      // 類型未選
      return anyInvalid
    },
    UpdateDetailCondition: async function () {
      this.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      // 时间限制
      this.Submitted = true
      const anyFieldInvalid = this.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];

      if (this.QueryType === "zhanCheng") {
        this.AgencyZCheng(1, "false")
      } else if (this.QueryType === "CodeCommission") {
        this.AgencyCodeCommission(1, "false")
      }
    },
    // 码佣
    AgencyCodeCommission: async function (pageNo) {
      this.PagingInfo.PageNo = pageNo
      const inputObj = {
        IB_LoginID: this.DisplayRechargeObj.AgencyUser,
        QueryStartTime: "",
        QueryStartTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.StartTick) + " 00:00:00"
        ),
        QueryEndTime: "",
        QueryEndTick: CommUtility.LocalTimeToUtcTicks(
          this.dateFormat(this.DisplayRechargeObj.EndTick) + " 23:59:59",
          true
        ),
        PagingInfo: {
          PageSize: this.PagingInfo.PageSize,
          PageNo: this.PagingInfo.PageNo
        },
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer,
        IsContainsZero: this.DisplayRechargeObj.IsDatalessUsers // 是否包含0数据 0：否，1：是(默认必须传递参数0)
      }
      const data = await AgencyCenterService.LoadGetIBCommissionReportQuery(inputObj)
      console.log(inputObj)
      console.log(data)
      if (data.Ret === 0) {
        this.CodeComIBCommissionList = data.Data.IBCommissionList
        this.CodeComDataTotal = data.Data.DataTotal
        this.CodeComDataSubtotal = data.Data.DataSubtotal
        this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize)
      } else {
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
      }
    },
    // 占成
    AgencyZCheng: async function (pageNo) {
      this.PagingInfo.PageNo = pageNo
      const inputObj = {
        IBMemberID: localStorage.getItem("CorrelationIBMemberId"), // 代理ID 必填
        StartTick: CommUtility.LocalTimeToUtcTicks(this.dateFormat(this.DisplayRechargeObj.StartTick) + " 00:00:00"), // 开始时间戳 必填
        EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayRechargeObj.EndTick, false, true), // 结束时间戳 必填
        LoginID: this.DisplayRechargeObj.AgencyUser, // 查询条件（用户名）
        PagingInfo: {
          // 分页 必填
          PageSize: this.PagingInfo.PageSize,
          PageNo: this.PagingInfo.PageNo
        },
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer,
        IsContainsZero: this.DisplayRechargeObj.IsDatalessUsers // 是否包含0数据 0：否，1：是(默认必须传递参数0)
      }
      const data = await AgencyCenterService.LoadRakeCostList(inputObj)
      if (data.Ret === 0) {
        this.ZchengIBRakeCostList = data.Data.IBRakeCostList
        this.ZVRevenueRateTotal = data.Data.VRevenueRate_Total // 红利承担总计（显示用）
        this.ZTeamCountTotal = data.Data.TeamCount_Total // 团队数量总计
        this.ZVRakeCostTotal = data.Data.VRakeCost_Total // 总占成收入金额总计（显示用）
        this.ZTeamCountSubTotal = data.Data.TeamCount_SubTotal // 团队人数 小计
        this.ZVRakeCostSubTotal = data.Data.VRakeCost_SubTotal // 总占成收入金额 小计 （显示用）
        this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize)
      } else {
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
      }
    },
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // 切換紀錄查詢種類
    ChangeQueryType: function (queryType) {
      this.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours()
      const minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
      const seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds()
      const startDate = year + "-" + month + "-01 " + hours + ":" + minutes + ":" + seconds
      this.QueryType = queryType
      this.DisplayRechargeObj.StartTick = startDate
      this.DisplayRechargeObj.EndTick = new Date()
      this.DisplayRechargeObj.AgencyUser = ""
      this.DisplayRechargeObj.IsNextLayer = 0
      this.DisplayRechargeObj.IsDatalessUsers = 0
      this.checkedSubordinate = false
      this.checkedDatalessUsers = false
      this.CheckFied()
      if (this.QueryType === "zhanCheng") {
        this.AgencyZCheng(1, "false")
      } else if (this.QueryType === "CodeCommission") {
        this.AgencyCodeCommission(1, "false")
      } // end if
    }, // end ChangeQueryType
    // 開啟視窗
    RakeOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("RecordDetailRakeForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseDetail: function () {
      CommUtility.WebClosealertboxForm("RecordDetailRakeForm")
    } // end CloseWindow
  },
  components: {
    Datepicker,
    AgencyZhanCheng,
    AgencyCodeCommission,
    Paginate
  },
  watch: {}
}
</script>
