<template>
  <div>
    <div id="MembersQrCodeFrom" class="alert_box_content rake_alert_box re_h agency-alert">
      <span class="alert_close" @click="CloseMembersQrCodeWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="purple_cont">
        <h2 class="phone_title">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
          {{$t('message.agency_dimensional_code')}}
        </h2>
        <div
          class="input_field bank_input style3 alert-form-area"
          style="padding: 27px 0;text-align:center;"
        >
          <img width="136px" :src="MemberExtensionQRCode" alt />
          <p class="extension-href-txt">{{$t('message.agency_promotion_links')}}</p>
          <p
            class="extension-href"
            @click="copyToClipboard($WebVersionHost + MemberExtensionUrl)"
          >{{$WebVersionHost + MemberExtensionUrl}}</p>
        </div>
        <div class="record_query">
          <a
            class="common-searchBtn"
            href="javascript:void(0);"
            @click="SaveToLocalStorage()"
            style="margin-left:0"
          >{{$t('message.agency_save_image')}}</a>
        </div>
      </div>
    </div>
    <div
      v-show="IsCopyCompleted"
      class="maxtip"
      style="z-index:10001;"
    >{{$t('message.member_successful_replication')}}</div>
  </div>
</template>
<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import EventBus from "@/assets/scripts/common/EventBus.js"

export default {
  data() {
    return {
      IsCopyCompleted: ""
    }
  },
  props: {
    MemberExtensionQRCode: "",
    MemberExtensionUrl: ""
  },
  methods: {
    // 复制链接到剪贴板
    copyToClipboard(s) {
      if (window.clipboardData) {
        window.clipboardData.setData("text", s)
      } else {
        console.log("------------oncopy")
        ;(function () {
          document.oncopy = function (e) {
            e.clipboardData.setData("text", s)
            e.preventDefault()
            document.oncopy = null
          }
        })(s)
        document.execCommand("Copy")
      }
      this.IsCopyCompleted = true
      setTimeout(() => {
        this.IsCopyCompleted = false
      }, 2000)
    },
    // 保存到本地
    SaveToLocalStorage: function () {
      this.downloads()
    },
    downloads() {
      if (this.browserIsIe()) {
        if (window.navigator.msSaveOrOpenBlob) {
          const imgUrl = this.MemberExtensionQRCode
          const bstr = atob(imgUrl.split(",")[1])
          let n = bstr.length
          const u8arr = new Uint8Array(n)
          while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
          }
          const blob = new Blob([u8arr])
          window.navigator.msSaveOrOpenBlob(blob, this.$t("message.agency_membership_promotion") + ".png")
        } else {
          EventBus.$emit("showNotifyMemberMessage", {
            NotifySubMessage: this.$t("message.agency_browser")
          })
        }
      } else {
        const imgData = this.MemberExtensionQRCode
        this.downloadFile(this.$t("message.agency_membership_promotion") + ".png", imgData)
      }
    },
    downloadFile(fileName, content) {
      const aLink = document.createElement("a")
      const blob = this.base64ToBlob(content) // new Blob([content]);

      const evt = document.createEvent("HTMLEvents")
      evt.initEvent("click", true, true) // initEvent 不加后两个参数在FF下会报错  事件类型，是否冒泡，是否阻止浏览器的默认行为
      aLink.download = fileName
      aLink.href = URL.createObjectURL(blob)
      aLink.dispatchEvent(
        new MouseEvent("click", {
          bubbles: true,
          cancelable: true,
          view: window
        })
      ) // 兼容火狐
    },
    base64ToBlob(code) {
      const parts = code.split(";base64,")
      const contentType = parts[0].split(":")[1]
      const raw = window.atob(parts[1])
      const rawLength = raw.length

      const uInt8Array = new Uint8Array(rawLength)

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i)
      }
      return new Blob([uInt8Array], { type: contentType })
    },
    browserIsIe() {
      if (!!window.ActiveXObject || "ActiveXObject" in window) {
        return true
      } else {
        return false
      }
    },
    // 開啟視窗
    MembersQrCodeOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("MembersQrCodeFrom")
    }, // end OpenWindow

    // 關閉彈窗
    CloseMembersQrCodeWindow: function () {
      CommUtility.WebClosealertboxForm("MembersQrCodeFrom")
    } // end CloseWindow
  }
}
</script>
