<template>
  <ul>
    <li v-for="Item in PTHtml5GameList">
      <a href="javascript:;" target="_blank" @click="PlayPTHtml5Game(Item);">
        <img
          :onerror="defaultImg"
          v-bind:src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/H5/PTHtml5/PT_'+Item.GameCode+'.png?VersionCode'"
        />
        <span>
          <i>进入游戏</i>
        </span>
      </a>
      <p>{{Item.Name}}</p>
    </li>
  </ul>
</template>


<script>
import { html5CoTn } from "@/mod/k14/assets/scripts/comTest/sub/ptHtml5Lobby/ptHtml5LobbyContent.js"
export default {
  mixins: [html5CoTn]
}
</script>
