.theme34 {
  .paginate {
    display: inline-block;
    padding: 2px 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    border-radius: 22px;
    margin-top: 15px;
  }

  .paginate > li {
    display: inline-block;
    margin: 8px;
  }
  .paginate > li:first-child {
    width: 20px;
    height: 20px;
  }
  .paginate > li:last-child {
    width: 19px;
    height: 20px;
  }
  .paginate > li:first-child > a,
  .paginate > li:last-child > a {
    font-size: 0;
    line-height: 28px;
  }
  .paginate > li > a {
    position: relative;
    padding: 0px 10px;
    margin-left: -1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    // text-decoration: none;
    outline: none;
    display: inline-block;
  }

  .paginate > li > a:hover {
    z-index: 3;
    color: #cc9966;
    text-decoration: underline;
    // background-color: #b37b26;
    // border-color: #b37b26;
  }

  .paginate > .active > a,
  .paginate > .active > a:hover,
  .paginate > .active > a:focus {
    z-index: 2;
    cursor: default;
    color: #cc9966;
    text-decoration: underline;
    // background-color: #b37b26;
    // border-color: #b37b26;
  }

  .paginate > .disabled > a,
  .paginate > .disabled > a:hover,
  .paginate > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
  }
}
