.theme25 {
    overflow: hidden;

    // font-size: 62.5%;
    .user-agreement-box {
        background: #fff !important;
    }

    //公共
    .wrap {
        // font-size: 62.5%;
        overflow: hidden;
        background: #f9f7f6;
        color: #404d5b;
        font-weight: 500;
        font-size: 1.05em;
        font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
        width: 100%;
    }

    /*header*/

    //marquee

    .header-marquee {
        width: 1205px;
        // float: left;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        margin: 0 auto;
        padding-left: 200px;

        // 跑马灯icon
        .header-marquee-icon {
            display: inline-block;
            vertical-align: top;
            width: 27px;
            height: 20px;
            margin-top: 5px;
            float: left;
        }

        .notice {
            width: 1000px;
            float: left;
            margin-left: 7px;
            height: 29px;
            line-height: 30px;
            overflow: hidden;
            text-align: left;

            .slideTxtBox {
                float: left;
                width: 1000px;
                color: #fff;
                overflow: hidden;

                ul {
                    width: 1000px;
                    height: 30px;
                    line-height: 40px;
                    color: #fff;

                    li {
                        overflow: hidden;
                    }

                    a {
                        color: #ffffff;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .header {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
        width: 100%;

        .header-top {
            // width: 1800px;
            height: 85px;
            line-height: 50px;
            margin: auto;
            font-size: 14px;
            overflow: hidden;
        }

        .header-cont {
            height: 50px;
            border-bottom: 1px solid #3f3a3a;

            .header-cont-nav {
                float: right;
                margin-right: 5%;

                li {
                    float: left;

                    &.login-before i {
                        color: #de9939;
                    }

                    a {
                        vertical-align: top;
                        display: inline-block;
                        color: #de9939;
                        font-size: 12px;

                        .heMail {
                            display: inline-block;
                            width: 26px;
                            height: 19px;
                            margin-top: 16px;
                        }
                    }

                    a:hover {
                        color: #fff;
                    }

                    a.user {
                        padding-left: 20px;
                    }

                    a.deposit {
                        padding-left: 20px;
                    }

                    a.refresh-account,
                    a.rotateLoop {
                        width: 20px;
                        height: 18px;
                        margin-top: 17px;
                        margin-right: 0;
                    }

                    .email img {
                        width: 25px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                    }

                    .unread {
                        top: 10px;
                        right: -6px;
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        line-height: 14px;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        color: #ffffff;
                        text-align: center;
                        content: '9';
                        background-size: 100%;
                    }

                    .account em {
                        color: #fff;
                    }
                }
            }
        }
    }


    /*language*/

    /*----------start--下拉框----------*/
    .language .down {
        height: auto;
        position: relative;
        float: left;
        padding-right: 20px;
        z-index: 999;
        width: 115px;
    }

    .language .down .d_course {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        cursor: pointer;
        text-align: left;
        color: #de9939;
        width: 100%;
        border: 0;
        background: none;
        font-size: 14px;
    }


    .language .down .lang_down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 35px;
        border-top: 0;
        width: 100%;
        background: #fff;
        border: 0;
    }

    .language .down .lang_down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        color: #de9939;
        font-size: 14px;
        padding: 5px 0 5px 10px;
    }

    .language .down .lang_down_box .down_list:hover {
        color: #de9939;
    }

    .language .lang_down_box a {
        line-height: 26px;
    }

    .language .down i.flagDown {
        background-size: 100% 100%;
        width: 20px;
        height: 13px;
        display: block;
        position: absolute;
    }

    .language .down i.iconDown {
        background-size: 100% 100%;
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 8px;
        top: 21px;
    }

    .language .d_course i.flagDown {
        top: 18px;
        right: 21px;
    }

    .language .lang_down_box i.flagDown {
        top: 11px;
        right: 21px;
    }

    /*----------end--下拉框----------*/

    /*header_nav*/
    .mainNav-nav-second {
        display: block;
    }

    .main-cont-nav {
        position: absolute;
        top: 60px;
        z-index: 5;
        width: 100%;
        height: 80px;
        background: none;

        ul {
            position: relative;
            // width: 1200px;
            width: 1300px;
            margin: 0 auto;

            li {
                float: left;
                min-width: 66px;
                text-align: center;
            }

            .main-navList {
                margin-top: 30px;
                height: 30px;
                line-height: 30px;
                // margin-left: 57px;
                margin-left: 40px;

                a {
                    display: block;
                    font-size: 16px;
                    color: #ffffff;

                    span {
                        display: block;
                    }

                    i {
                        display: none;
                    }
                }

                a:hover,
                a.hasSelece {
                    border-bottom: 3px solid #de9939;
                }
            }

            .main-navList-inside {
                //              margin-left: 134px;
            }
        }

        .main-navList-inside {
            margin-left: 134px;
        }

        .main-navList-logo {

            //          position: absolute;
            //          left: 522px;
            a {
                // background: url("/static/images/Customer/logo25.png")no-repeat;
                // background-size: 100% 100%;
                width: 110px;
                height: 80px;
                line-height: 80px;

                img {
                    max-width: 100%;
                    vertical-align: middle;
                }

                .main-navList-logo {
                    position: absolute;
                    left: 522px;

                    a {
                        background-size: 100% 100%;
                        width: 70px;
                        height: 80px;
                    }
                }
            }
        }
    }

    // 导航样式
    .main-cont-box_vi {
        ul {
            .main-navList {
                margin-left: 23px !important;
            }
        }
    }

    .main-cont-box_en {
        ul {
            .main-navList {
                margin-left: 38px !important;
            }
        }
    }

    /*nav end*/


    /*footer*/
    .footer {
        position: absolute;
        bottom: 17px;
        font-size: 14px;
        color: #cccccc;
        text-align: center;
        width: 44%;
        margin: 0 auto;
        left: 50%;
        // margin-left: -22%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index: 2;

        .footer-cont {
            position: relative;
            display: block;

            .footer-cont-nav {
                margin-left: 20px;

                ul {
                    margin-top: 22px;

                    .footer-navList {
                        float: left;
                        margin-right: 16px;
                        color: #545c6a;

                        a {
                            display: inline-block;
                            vertical-align: top;
                            color: #cccccc;
                            font-size: 14px;
                        }

                        .f-n-int {
                            display: none;
                        }

                        a:hover {
                            color: #fff;
                        }

                        i {
                            display: none;
                        }

                        span {
                            display: none;
                        }
                    }

                    .footer-navList4 {
                        i {
                            display: none;
                        }
                    }

                    .footer-navList5 {
                        display: none;
                    }
                }

                p.fooPtext-25 {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 25px;
                    color: #cccccc;
                    font-size: 14px;
                }

                p.fooPtext-25_en {
                    right: -5% !important;
                }
            }
        }
    }


    /*客服*/
    .service {
        position: fixed;
        right: 40px;
        top: 20%;
        z-index: 999;

        img {
            max-width: 160px;
        }
    }

    .footer-cont-logo {
        display: none;
    }

}
