<!--時時彩-->
<div class="course item2">
  <div class="l_box">
    <h2><img src="/static/images/web/lotteryBetting/lottery_t3.png?VersionCode" /></h2>
    <p>时时彩（新时时彩）英文为 Every Color，由福利彩票中心管理，数字型的时时彩是以一组自然数为中奖号码的彩票，是属于高频彩系列的彩种，每组号码由0-99999组成，分为一星、二星、三星、四星、五星、大小单双等多种玩法，每天定时开奖，玩法简单，开奖快，中奖率高都是时时彩的特点。</p>
  </div>

  <h2 class="l_t2"><img src="/static/images/web/lotteryBetting/lottery_EveryColor.png?VersionCode" /></h2>
</div>
<div class="preferential_list item2">
  <h3>第一步  <span>THE FIRST STEP</span></h3>
  <p>在“个”、“十”、“百”、“千”、“万”5个位置随机从0-9中各开出一个数字组成开奖结果</p>
  <img src="/static/images/web/lotteryBetting/order-EveryColor-1.png?VersionCode" />

  <h3>第二步  <span>THE SECOND STEP</span></h3>
  <p>选择投注筹码</p>
  <img src="/static/images/web/lotteryBetting/order-EveryColor-2.png?VersionCode" />

  <h3>第三步  <span>THE THIRD STEP</span></h3>
  <p>点击选择投注方式：1. 大小/单双  2. 总和值  3. 七小福  4. 有无对  5. 大小多  6. 单双多  7. 大吃小  8. 全大小单双  9. 过关  10. 单号  11. 二星组选  12. 三星组选三/六</p>
  <img src="/static/images/web/lotteryBetting/order-EveryColor-3.png?VersionCode" />

  <h3>第四步  <span>THE FOURTH STEP</span></h3>
  <p>点击确定，投注成功</p>
  <img src="/static/images/web/lotteryBetting/order-EveryColor-4.png?VersionCode" />
</div>
