<template>
  <!--站内信息-->
  <div class="member-private-content">
    <div class="pre-title summary-cont-title">
      <span>站内信息</span>
    </div>
    <div class="private-index" v-show="DisplayMode==1">
      <div class="record-query" id="PrivateMessageQueryForm">
        <span class="record-query-name">时间：</span>
        <datepicker
          class="common-query-put message-query-put"
           :language="$MessageLang"
          v-model="DisplayQueryObj.StartTime"
          format="yyyy/MM/dd"
          calendar-class="startdate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_start_time')"
        ></datepicker>
        <span class="record-query-name line">一</span>
        <datepicker
          class="common-query-put message-query-put"
           :language="$MessageLang"
          v-model="DisplayQueryObj.EndTime"
          format="yyyy/MM/dd"
          calendar-class="enddate_calendar"
          :disabled="this.CalendarDisabled"
          :placeholder="$t('message.member_ending_time')"
        ></datepicker>
        <div class="record-query-name" style="margin-left: 13px;">类型：</div>
        <div class="down record-drop">
          <div class="d_course" @click="ShowDropDown()">{{DisplayQueryObj.MessageType.Name}}</div>
          <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
          <i class="record_iconImg"></i>
          <div class="down_box">
            <a
              class="down_list"
              v-for="(MessageType,index) in this.MessageTypeList"
              :key="index"
              @click="SelectType(MessageType)"
            >{{MessageType.Name}}</a>
          </div>
        </div>
        <span class="record-query-name" style="margin-left: 13px;">关键字：</span>
        <input
          type="text"
          name="PMKeyWord"
          v-model="QueryConditions.TitleKeyWord"
          v-validate="{ rules: { regex:Reg.PMKeyWord}}"
          placeholder="请输入标题关键字"
          class="keyword"
        />
        <a class="searchbtn" @click="UpdateQueryCondition()">
          <i class="deposit-textBtn">搜索</i>
        </a>
      </div>
      <div class="record_query_error">
        <span
          class="tip1 qc-tip tipMessage1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
        >起始日期不能大于结束日期</span>
        <span
          class="tip1 qc-tip tipMessage2"
          v-show="errors.has('PMKeyWord')  && fields.PMKeyWord.touched"
        >仅可以使用中英文字母,数字,空白与一般常用符号, 字数限制3-30</span>
      </div>
      <member-private-message-table :ReadStatusList="this.ReadStatusList"></member-private-message-table>
    </div>
    <member-private-message-detail v-show="DisplayMode==2"></member-private-message-detail>
    <!--分页-->
    <paginate
      v-show="DisplayMode==1"
      :PageCount="this.PageCount"
      :PageNo="QueryConditions.PagingInfo.PageNo"
    ></paginate>
  </div>
</template>
<script>
import { initPtMg } from '@/assets/scripts/comTest/main/member/privateMessage.js';
export default {
  mixins: [initPtMg]
};
</script>
