<template>
  <div class="member-record-content">
    <!--记录查询-->
    <!--<h2 class="pre-title"><span>记录查询</span></h2>-->
    <ul class="deposit-navs">
      <li :class="QueryType == 'CashFlow'? 'on':''" @click="ChangeQueryType('CashFlow')">资金往来查询</li>
      <li
        :class="QueryType == 'BettingRecord'? 'on':''"
        @click="ChangeQueryType('BettingRecord')"
      >投注记录查询</li>
      <li
        :class="QueryType == 'BettingRecordNone'? 'on':''"
        @click="ChangeQueryType('BettingRecordNone')"
      >未派彩记录查询</li>
    </ul>
    <div class="record-query" id="recordQueryForm">
      <span class="record-query-name">时间：</span>
      <datepicker
        class="common-query-put record-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.StartTime"
        format="yyyy/MM/dd"
        calendar-class="startdate_calendar"
        :disabled="this.CalendarDisabled"
        :placeholder="$t('message.member_start_time')"
      ></datepicker>
      <span class="record-query-name line">一</span>
      <datepicker
        class="common-query-put record-query-put"
         :language="$MessageLang"
        v-model="DisplayQueryObj.EndTime"
        format="yyyy/MM/dd"
        calendar-class="enddate_calendar"
        :disabled="this.CalendarDisabled"
        :placeholder="$t('message.member_ending_time')"
      ></datepicker>
      <span class="record-query-name" style="margin-left: 13px;">类型：</span>
      <!--資金往來下拉式選單-->
      <div class="down record-drop" v-show="QueryType == 'CashFlow'">
        <div class="d_course" @click="ShowDropDown()">{{DisplayQueryObj.Type.Name}}</div>
        <i class="down_iconImg"></i>
        <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
        <div class="down_box" style="display: none;max-height:300px;">
          <a
            class="down_list"
            v-for="TransType in this.TransTypeSList"
            @click="SelectType(TransType)"
          >{{TransType.Name}}</a>
        </div>
      </div>
      <!--投注記錄下拉式選單-->
      <div
        class="down record-drop"
        v-show="QueryType == 'BettingRecord' || QueryType == 'BettingRecordNone'"
      >
        <div class="d_course" @click="ShowDropDown()">{{DisplayQueryObj.Type.Name}}</div>
        <i class="down_iconImg"></i>
        <!-- <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/icon_down.png?VersionCode'"> -->
        <div class="down_box" style="display: none;max-height:300px;">
          <a
            class="down_list"
            v-for="BettingType in this.BettingTypeList"
            @click="SelectType(BettingType)"
          >{{BettingType.Name}}</a>
        </div>
      </div>
      <a class="searchbtn mr_l10" @click="UpdateQueryCondition()">
        <i class="deposit-textBtn">查询</i>
      </a>
    </div>
    <div class="record_query_error">
      <span
        class="tip1 qc-tip tipRecord1"
        v-show="this.Submitted === true && this.DisplayQueryObj.StartTime === undefined"
      >请选择起始日期</span>
      <span
        class="tip1 qc-tip tipRecord1"
        v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
      >起始日期不能大于结束日期</span>
      <span
        class="tip1 qc-tip tipRecord2"
        v-show="this.Submitted === true && this.DisplayQueryObj.EndTime === undefined"
      >请选择结束日期</span>
      <span
        class="tip1 qc-tip tipRecord3"
        v-show="this.Submitted === true && this.DisplayQueryObj.Type.Value === '-2'"
      >提示：选择项不能为空</span>
      <span
        class="tip1 qc-tip tipRecord1"
        v-show="this.Submitted === true && this.dateTimeInterval === true"
      >提示：查询时间间隔不能超过31天</span>
    </div>
    <member-record-table :RecordList="this.RecordList" v-show="QueryType == 'CashFlow'"></member-record-table>
    <member-record-betting-table
      :RecordList="this.RecordList"
      v-if="QueryType == 'BettingRecord'"
      :RecordTime="this.DisplayQueryObj"
      :QueryType="this.QueryType"
    ></member-record-betting-table>
    <member-record-betting-table-none
      :RecordList="this.RecordList"
      v-if="QueryType == 'BettingRecordNone'"
    ></member-record-betting-table-none>
    <!--分页-->
    <paginate :PageCount="this.PageCount" :PageNo="this.QueryConditions.PagingInfo.PageNo"></paginate>
  </div>
</template>

<script>
import { initTiRd } from '@/assets/scripts/comTest/main/member/transactionRecord.js';
export default {
  mixins: [initTiRd]
};
</script>
