<template>
  <!--注册-->
  <div>
    <div class="start_nav start_nav2 hides">
      <div class="start_nav_box">
        <div class="nav_logo fl">
          <h1>
            <a href="/" class="router-link-active">{{this.LogoName}}</a>
          </h1>
        </div>
      </div>
    </div>
    <!--2版有的-->
    <div class="login-register-content register-content">
      <div class="login-register-main">
        <p class="Login_logo_thirtyEight hides">
          <img
            v-if="$VersionNumber == '38'"
            :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/Login/DL1_03.png'"
          />
          <span class="shu">|</span>
          <span>{{$t('message.login_interface')}}</span>
        </p>
        <!--38版标题-->
        <div class="register-logo">
          <router-link to="/">
            <img :src="this.LogoImgPath" />
          </router-link>
        </div>
        <i class="lr-bg-top hides"></i>
        <!--7版特有-->
        <div class="login-register-box register-box" id="AddMemberForm" name="AddMemberForm">
          <!-- <h2 class="register-title">
            <router-link to="/">
              <img :src="this.LogoImgPath">
            </router-link>
          </h2>-->
          <h2 class="register-logo-title hides" :class="'register-logo-title-'+$MessageLang">
            <router-link to="/">{{$t('message.reg_registration_materials')}}</router-link>
          </h2>
          <h2 class="register-titleText register-titleText-34 hides">
            {{$t('message.reg_account_registration')}}
            <span>register</span>
          </h2>
          <!--34版标题-->
          <div class="shaizi"></div>
          <!--23版特有-->
          <div class="login-register-from" :class="'login-register-from_'+$MessageLang">
            <div class="login-register-cont">
              <div class="login-register-com">
                <span
                  class="login-regcom-name"
                  :title="$t('message.reg_registered_account')"
                >{{$t('message.reg_registered_account')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="text"
                    name="Acct"
                    v-model="RegistObj.Acct"
                    v-validate="{ rules: { regex:Reg.Account, required: true }}"
                    @blur="CheckAcctAvailable()"
                    :placeholder="$t('message.reg_enter_account')"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('Acct') && fields.Acct.touched"
                  >{{$t('message.login_forget_pwd_rang')}}</p>
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="!errors.has('Acct') && !AcctAvailable"
                  >{{$t('message.reg_hasBeen_used')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('Acct') && fields.Acct.touched"
              >{{$t('message.login_forget_pwd_rang')}}</p>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="!errors.has('Acct') && !AcctAvailable"
              >{{$t('message.reg_hasBeen_used')}}</p>
            </div>
            <div class="login-register-cont">
              <div class="login-register-com">
                <span
                  class="login-regcom-name"
                  :title="$t('message.reg_mobile_number')"
                >{{$t('message.reg_mobile_number')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="text"
                    name="PhoneNo"
                    v-model="RegistObj.PhoneNo"
                    v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                    :placeholder="$t('message.reg_input_phone')"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('PhoneNo') && fields.PhoneNo.touched"
                  >{{$t('message.agent_legal_mobilePhone')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('PhoneNo') && fields.PhoneNo.touched"
              >{{$t('message.agent_legal_mobilePhone')}}</p>
            </div>
            <div class="login-register-cont">
              <div class="login-register-com">
                <span
                  class="login-regcom-name"
                  :title="$t('message.login_pwd')"
                >{{$t('message.login_pwd')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    :type="IfPwd.Password == false? 'password' : 'text'"
                    id="Pwd"
                    name="Pwd"
                    v-model="RegistObj.Pwd"
                    v-validate="{ rules: { regex:Reg.Password, required: true }}"
                    :placeholder="$t('message.reg_character')"
                  />

                  <i
                    :class="IfPwd.Password == false? 'eye-btn' : 'eye-btn on'"
                    @click="ClickShowPwd(0)"
                  ></i>
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('Pwd') && fields.Pwd.touched"
                  >{{$t('message.member_number_range')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('Pwd') && fields.Pwd.touched"
              >{{$t('message.member_number_range')}}</p>
            </div>
            <!-- <div class="login-register-cont">
              <div class="login-register-com">
                <span class="login-regcom-name">{{$t('message.reg_verify_password')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="password"
                    id="CheckPwd"
                    name="CheckPwd"
                    v-model="RegistObj.CheckPwd"
                    v-validate="{ rules: { regex:Reg.Password, required: true ,'is': RegistObj.Pwd}}"
                    :placeholder="$t('message.reg_justNow_password')"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('CheckPwd') && fields.CheckPwd.touched"
                  >{{$t('message.reg_steganogram_inconsistency')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('CheckPwd') && fields.CheckPwd.touched"
              >{{$t('message.reg_steganogram_inconsistency')}}</p>
            </div>-->
            <div class="login-register-cont">
              <div class="login-register-com">
                <span
                  class="login-regcom-name"
                  :title="$t('message.reg_withdrawal_password')"
                >{{$t('message.reg_withdrawal_password')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    :type="IfPwd.WithdrawPwd == false? 'password' : 'text'"
                    id="WithdrawPwd"
                    name="WithdrawPwd"
                    v-model="RegistObj.WithdrawPwd"
                    v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                    :placeholder="$t('message.reg_six_pinCode')"
                  />

                  <i
                    :class="IfPwd.WithdrawPwd == false? 'eye-btn' : 'eye-btn on'"
                    @click="ClickShowPwd(1)"
                  ></i>
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('WithdrawPwd') && fields.WithdrawPwd.touched"
                  >{{$t('message.reg_use_numbers')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('WithdrawPwd') && fields.WithdrawPwd.touched"
              >{{$t('message.reg_use_numbers')}}</p>
            </div>
            <!-- <div class="login-register-cont">
              <div class="login-register-com">
                <span class="login-regcom-name">{{$t('message.reg_verify_password')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="password"
                    id="CheckWithdrawPwd"
                    name="CheckWithdrawPwd"
                    v-model="RegistObj.CheckWithdrawPwd"
                    v-validate="{ rules: { regex:Reg.Password, required: true , 'is': RegistObj.WithdrawPwd}}"
                    :placeholder="$t('message.reg_confirm_password')"
                  />
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('CheckWithdrawPwd') && fields.CheckWithdrawPwd.touched"
                  >{{$t('message.reg_withdrawal_inconsistency')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('CheckWithdrawPwd') && fields.CheckWithdrawPwd.touched"
              >{{$t('message.reg_withdrawal_inconsistency')}}</p>
            </div>-->
            <div class="login-register-cont">
              <div class="login-register-com login-regcom-special">
                <span
                  class="login-regcom-name"
                  :title="$t('message.reg_identifying_code')"
                >{{$t('message.reg_identifying_code')}}</span>
                <div class="login-regcom-putBox">
                  <input
                    type="text"
                    class="putBox-special-input"
                    name="AuthCode"
                    v-model="RegistObj.AuthCode"
                    v-validate="{ rules: { regex:Reg.VCode, required: true }}"
                    :placeholder="$t('message.agent_caps_look')"
                  />
                  <a class="putBox-code" v-on:click="GetAuthCode()">
                    <img v-bind:src="AuthImg" />
                  </a>
                  <a
                    v-on:click="GetAuthCode()"
                    class="putBox-change"
                  >{{$t('message.login_another_one')}}</a>
                  <p
                    class="tip1 qc-tip carryTip"
                    v-show="errors.has('AuthCode') && fields.AuthCode.touched"
                  >{{$t('message.agent_code_error')}}</p>
                </div>
              </div>
              <p
                class="tip1 qc-tip visibleTip"
                v-show="errors.has('AuthCode') && fields.AuthCode.touched"
              >{{$t('message.agent_code_error')}}</p>
            </div>
            <!-- <h4 class="register-hook clearfix">
              <i v-bind:class="{ current: IsBoxChecked }" v-on:click="IsBoxChecked =! IsBoxChecked"></i>
              <span>{{$t('message.reg_readed')}}</span>
              <a class="show_agree" v-on:click="ShowUserAgreement()">{{$t('message.reg_user_protocol')}}</a>
              <span>，{{$t('message.reg_consent_content')}}</span>
              <p class="tip1 qc-tip" v-show="IsBoxChecked === false">{{$t('message.reg_consent_clause')}}！</p>
            </h4>-->
          </div>
          <a
            v-on:click="SumbitRegist()"
            class="register-btn loghide"
            id="register_btn"
            :class="'register-btn_'+$MessageLang"
          ></a>
          <a
            v-on:click="SumbitRegist()"
            class="register-btn"
            id="register_btn"
          >{{$t('message.top_register')}}</a>
          <a
            v-on:click="SumbitRegist()"
            class="register-listBtn hides"
            id="register_btn"
          >{{$t('message.agent_submission')}}</a>
        </div>
        <i class="lr-bg-btm"></i>
        <!--7版特有-->
      </div>
      <!--用户协议-->
      <!-- <user-agreement></user-agreement> -->
    </div>
    <div class="footer login-footer hides"></div>
    <!--2版独有-->
  </div>
</template>

<script>
import { initRegister } from "@/mod/k14/assets/scripts/comTest/main/register/register.js"
export default {
  mixins: [initRegister]
}
</script>
