.theme00 {
    .paginate {
        display: inline-block;
        padding-left: 0;
        margin-top: 1px;
        margin-right: 30px;
    }

    .paginate>li {
        display: inline-block;
        margin: 8px;
    }

    .paginate>li>a {
        position: relative;
        padding: 1px 6px;
        margin-left: -1px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #888888;
        text-decoration: none;
        background-color: none;
        outline: none!important;
        border: 0!important;
    }

    .paginate>li>a:hover {
        z-index: 3;
        color: #23527c;
        background-color: none;
        border-color: none;
    }

    .paginate>.active>a,
    .paginate>.active>a:hover,
    .paginate>.active>a:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #888888;
        border-color: none;
        border-radius: 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .paginate>.disabled>a,
    .paginate>.disabled>a:hover,
    .paginate>.disabled>a:focus {
        color: #888888;
        cursor: not-allowed;
        background-color: none;
        border-color: none;
    }
}
