<template>
  <!--投注技巧-->
  <div class="tutorial-betaskill">
    <!--<ul class="tutorial_left_navs betaskill-navs tutorial-maxWadth tutorial-pull-down1 hides tutorialNoHides fiveClone">
			<li :class="navs==1?'on':''" @click="switchNav(1)">
				<a><i class="skill_icon_1"></i>百家乐1</a>
			</li>
			<li :class="navs==2?'on':''" @click="switchNav(2)">
				<a><i class="skill_icon_2"></i>轮盘</a>
			</li>
			<li :class="navs==3?'on':''" @click="switchNav(3)">
				<a><i class="skill_icon_3"></i>骰宝</a>
			</li>
			<li :class="navs=='ty'?'on':''" @click="switchNav('ty')">
				<a><i class="skill_icon_3"></i>体育博彩</a>
			</li>

			<ul class="tutorial_abslut_ul tutorial_abslut_2" :class="navs=='ty'?'BettingSkills_on':'BettingSkills_no'">
				<li :class="sportsSkill==1?'on':''"  @click="switchSportsSkill(1)">
					<a><i class=""></i>投注规则</a>
				</li>
				<li :class="sportsSkill==2?'on':''"  @click="switchSportsSkill(2);">
					<a><i class=""></i>体育说明</a>
				</li>

       			 <ul class="sportsSkill_chren" :class="sportsSkill==2?'BettingSkills_on':'BettingSkills_no'">
          
					<li @click="openLi($event)" v-for="(cont,i) in tutorialSports.sportsShow.contant" :key="i">
						<a :one='i'>{{cont.listname}}</a>       

						<ul class="sportsSkill_chren_01 sonname" v-if="typeof(cont.rules[0])!='string'">
							<li v-for="(a,index) in cont.rules" :key="index">
								<a :one='i' :two='index'>{{a.sonname}}</a>

								<ul class="sportsSkill_chren_01 grandsonname"  v-if="typeof(a.sonrules[0])!='string'">
									<li v-for="(grandsonrules,grandsonrulesindex) in a.sonrules" :key="grandsonrulesindex">
										<a :one='i' :two='index' :three='grandsonrulesindex'>{{grandsonrules.grandsonname}}</a>
									</li>
								</ul>

							</li>
						</ul>

					</li>
				</ul>
			</ul>


			<li :class="navs=='cp'?'on':''" @click="switchNav('cp')">
				<a><i class="skill_icon_4"></i>彩票投注</a>
			</li>
			<ul class="tutorial_abslut_ul tutorial_abslut_1" :class="navs=='cp'?'BettingSkills_on':'BettingSkills_no'">
				<li @click="switchBettingSkill(1)" :class="bettingSkill==1?'on':''">
					<a><i class=""></i>快乐彩</a>
				</li>
				<li @click="switchBettingSkill(2)" :class="bettingSkill==2?'on':''">
					<a><i class=""></i>时时彩</a>
				</li>
				<li @click="switchBettingSkill(3)" :class="bettingSkill==3?'on':''">
					<a><i class=""></i>PK10</a>
				</li>
				<li @click="switchBettingSkill(4)" :class="bettingSkill==4?'on':''">
					<a><i class=""></i>香港乐透</a>
				</li>
			</ul>
			

			<li :class="navs==4?'on':''" @click="switchNav(4)" class="no_background">
				<a><i class="skill_icon_4"></i>其他</a>
			</li>
    </ul>-->
    <ul class="tutorial_left_navs betaskill-navs">
      <li :class="navs==1?'on':''" @click="switchNav(1)" data-num="0">
        <a>
          <i class="skill_icon_1"></i>
          {{$t('message.tutorial_baccarat')}}
        </a>
      </li>
      <li :class="navs==2?'on':''" @click="switchNav(2)" data-num="1">
        <a>
          <i class="skill_icon_2"></i>
          {{$t('message.tutorial_roulette')}}
        </a>
      </li>
      <li :class="navs==3?'on':''" @click="switchNav(3)" data-num="2">
        <a>
          <i class="skill_icon_3"></i>
          {{$t('message.tutorial_cussec')}}
        </a>
      </li>
      <!--<li :class="navs=='ty'?'on':''" @click="switchNav('ty')" data-num="3">
				<a><i class="skill_icon_3"></i>体育博彩</a>
      </li>-->

      <!--<ul class="tutorial_abslut_ul tutorial_abslut_2" :class="navs=='ty'?'BettingSkills_on':'BettingSkills_no'">
				<li :class="sportsSkill==1?'on':''"  @click="switchSportsSkill(1)">
					<a><i class=""></i>投注规则</a>
				</li>
				<li :class="sportsSkill==2?'on':''"  @click="switchSportsSkill(2);">
					<a><i class=""></i>体育说明</a>
				</li>

       			 <ul class="sportsSkill_chren" :class="sportsSkill==2?'BettingSkills_on':'BettingSkills_no'">
          
					<li @click="openLi($event)" v-for="(cont,i) in tutorialSports.sportsShow.contant" :key="i">
						<a :one='i'>{{cont.listname}}</a>       

						<ul class="sportsSkill_chren_01 sonname" v-if="typeof(cont.rules[0])!='string'">
							<li v-for="(a,index) in cont.rules" :key="index">
								<a :one='i' :two='index'>{{a.sonname}}</a>

								<ul class="sportsSkill_chren_01 grandsonname"  v-if="typeof(a.sonrules[0])!='string'">
									<li v-for="(grandsonrules,grandsonrulesindex) in a.sonrules" :key="grandsonrulesindex">
										<a :one='i' :two='index' :three='grandsonrulesindex'>{{grandsonrules.grandsonname}}</a>
									</li>
								</ul>

							</li>
						</ul>

					</li>
				</ul>
      </ul>-->
      <el-dropdown class="sp_down" placement="bottom">
        <li @click="switchNav('ty')" data-num="3" style="border:none;">
          <a>
            <i class="skill_icon_4"></i>
            {{$t('message.nav_lottery')}}
          </a>
        </li>
        <ul
          class="tutorial_abslut_ul tutorial_abslut_2"
          :class="navs=='ty'?'BettingSkills_on':'BettingSkills_no'"
        >
          <el-dropdown-menu
            slot="dropdown"
            style="overflow-y: auto;max-height: 215px;padding: 0 10px;"
          >
            <li :class="sportsSkill==1?'on':''" @click="switchNav('ty')">
              <el-dropdown-item>{{$t('message.tutorial_rules_betting')}}</el-dropdown-item>
            </li>
            <li :class="sportsSkill==2?'on':''" @click="switchNav('ty');switchSportsSkill(2);">
              <el-dropdown-item>{{$t('message.tutorial_sports_description')}}</el-dropdown-item>
            </li>
            <ul
              class="sportsSkill_chren"
              :class="sportsSkill==2?'BettingSkills_on':'BettingSkills_no'"
            >
              <li
                @click="switchNav('ty');switchSportsSkill(2);openLi($event)"
                v-for="(cont,i) in tutorialSports.sportsShow.contant"
                :key="i"
              >
                <a
                  :one="i"
                  style="display:inline-block;font-size: 13px;width:100%;line-height: 20px;text-align: center;"
                >{{cont.listname}}</a>

                <ul class="sportsSkill_chren_01 sonname" v-if="typeof(cont.rules[0])!='string'">
                  <li v-for="(a,index) in cont.rules" :key="index">
                    <a
                      :one="i"
                      :two="index"
                      style="display:inline-block;font-size: 13px;width:100%;line-height: 20px;text-align: center;"
                    >{{a.sonname}}</a>

                    <ul
                      class="sportsSkill_chren_01 grandsonname"
                      v-if="typeof(a.sonrules[0])!='string'"
                    >
                      <li
                        v-for="(grandsonrules,grandsonrulesindex) in a.sonrules"
                        :key="grandsonrulesindex"
                      >
                        <a
                          :one="i"
                          :two="index"
                          :three="grandsonrulesindex"
                          style="display:inline-block;font-size: 13px;width:100%;line-height: 20px;text-align: center;"
                        >{{grandsonrules.grandsonname}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </el-dropdown-menu>
        </ul>
      </el-dropdown>

      <!--<li :class="navs=='cp'?'on':''" @click="switchNav('cp')" data-num="4">
				<a><i class="skill_icon_4"></i>彩票投注</a>
      </li>-->
      <!--<ul class="tutorial_abslut_ul tutorial_abslut_1" :class="navs=='cp'?'BettingSkills_on':'BettingSkills_no'">
				<li @click="switchBettingSkill(1)" :class="bettingSkill==1?'on':''">
					<a><i class=""></i>快乐彩</a>
				</li>
				<li @click="switchBettingSkill(2)" :class="bettingSkill==2?'on':''">
					<a><i class=""></i>时时彩</a>
				</li>
				<li @click="switchBettingSkill(3)" :class="bettingSkill==3?'on':''">
					<a><i class=""></i>PK10</a>
				</li>
				<li @click="switchBettingSkill(4)" :class="bettingSkill==4?'on':''">
					<a><i class=""></i>香港乐透</a>
				</li>
      </ul>-->
      <el-dropdown class="cp_down">
        <li @click="switchNav('cp')" data-num="4" style="border:none">
          <a>
            <i class="skill_icon_4"></i>
            {{$t('message.nav_betting')}}
          </a>
        </li>
        <ul
          class="tutorial_abslut_ul tutorial_abslut_1"
          :class="navs=='cp'?'BettingSkills_on':'BettingSkills_no'"
        >
          <el-dropdown-menu slot="dropdown" style="overflow-y: auto;max-height: 150px;">
            <li @click="switchNav('cp')" :class="bettingSkill==1?'on':''">
              <el-dropdown-item>{{$t('message.tutorial_happy_lust')}}</el-dropdown-item>
            </li>
            <li @click="switchNav('cp');switchBettingSkill(2)" :class="bettingSkill==2?'on':''">
              <el-dropdown-item>{{$t('message.tutorial_XJSSC')}}</el-dropdown-item>
            </li>
            <li @click="switchNav('cp');switchBettingSkill(3)" :class="bettingSkill==3?'on':''">
              <el-dropdown-item>{{$t('message.tutorial_PKTen')}}</el-dropdown-item>
            </li>
            <li @click="switchNav('cp');switchBettingSkill(4)" :class="bettingSkill==4?'on':''">
              <el-dropdown-item>{{$t('message.tutorial_lotto')}}</el-dropdown-item>
            </li>
          </el-dropdown-menu>
        </ul>
      </el-dropdown>

      <li :class="navs==4?'on':''" @click="switchNav(4)" class="no_backgrounds" data-num="5">
        <a>
          <i class="skill_icon_4"></i>
          {{$t('message.tutorial_other')}}
        </a>
      </li>
    </ul>
    <div class="tutorial-conBox">
      <a class="thirtyThreeBtn prebtn01 hides"></a>
      <!--33版左按钮-->
      <div class="tutorial-inside-8 hides custom_bar">
        <div class="tutorial-box betaskill-box bar_box">
          <div v-for="(data,i) in msg" :key="i" v-show="i+1==navs">
            <h2 class="hides tutorialShow">
              <!-- 标题icon -->
              <i></i>
              <span>{{data.category}}</span>
            </h2>

            <div class="tutorial-text" v-for="(cont,index) in data.main" :key="index">
              <!-- 序号1~9前面加个0的 -->
              <i v-text="index+1<10?'0'+(index+1):index+1" class="hides show8"></i>
              <!-- 序号 -->
              <i v-text="index+1" class="hides toutorial-num-show3 toutorial-num"></i>
              <!-- 点击详情  按需在样式显示隐藏 -->
              <span
                :index="index"
                class="tutorial-text-span"
                @click="cloneSpan($event)"
              >{{$t('message.tutorial_click_detail')}}</span>

              <h3>{{cont.title}}</h3>
              <p class="tutorial-text-p1">{{cont.content}}</p>
            </div>
          </div>

          <!-- 彩票投注 -->
          <div v-show="navs=='cp'">
            <!-- 快乐彩 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==1">
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_t1.png?VersionCode'" >
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[0].rules.intro[0]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_t2.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_first_step')}}</span>
							<span>THE FIRST STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[0].rules.step[0]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-1.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_second_step')}}</span>
							<span>THE SECOND STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[0].rules.step[1]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-2.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_third_step')}}</span>
							<span>THE THIRD STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[0].rules.step[2]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-3.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_four_step')}}</span>
							<span>THE FOURTH STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[0].rules.step[3]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-4.png?VersionCode'" >
						</p>
            </div>-->
            <!-- 时时彩 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==2">
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_t3.png?VersionCode'" >
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[1].rules.intro[0]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_EveryColor.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_first_step')}}</span>
							<span>THE FIRST STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[1].rules.step[0]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-1.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_second_step')}}</span>
							<span>THE SECOND STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[1].rules.step[1]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-2.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_third_step')}}</span>
							<span>THE THIRD STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[1].rules.step[2]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-3.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_four_step')}}</span>
							<span>THE FOURTH STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[1].rules.step[3]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-4.png?VersionCode'" >
						</p>
            </div>-->
            <!-- PK10 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==3">
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_t4.png?VersionCode'" >
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[0]}} 
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[1]}} 
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[2]}} 
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_PK10.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_first_step')}}</span>
							<span>THE FIRST STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[0]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-1.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_second_step')}}</span>
							<span>THE SECOND STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[1]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-2.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_third_step')}}</span>
							<span>THE THIRD STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[2]}} 
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[3]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-3.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_four_step')}}</span>
							<span>THE FOURTH STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[2].rules.step[4]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-4.png?VersionCode'" >
						</p>
            </div>-->
            <!-- 香港乐透 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==4">
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_t5.png?VersionCode'" >
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[0]}} 
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/lottery_HK.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_first_step')}}</span>
							<span>THE FIRST STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[0]}}
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[1]}}
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[2]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-1.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_second_step')}}</span>
							<span>THE SECOND STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[3]}} 
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[4]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-2.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_third_step')}}</span>
							<span>THE THIRD STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[5]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-3.png?VersionCode'" >
						</p>
						<p>
							<span>{{$t('message.tutorial_lottery_four_step')}}</span>
							<span>THE FOURTH STEP</span>
						</p>
						<p class="bettingSkill_cp">
							{{tutorialSports.lotteryBetting.contant[3].rules.step[6]}}
						</p>
						<p>
							<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-4.png?VersionCode'" >
						</p>
            </div>-->
          </div>

          <!-- 体育博彩 -->
          <div v-show="navs=='ty'">
            <!-- 投注规则 -->
            <div class="bettingSkill_box" v-show="sportsSkill==1">
              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sport_title1.png?VersionCode'"
                />
              </p>
              <p class="bettingSkill_cp">{{tutorialSports.bettingRules.steps[0]}}</p>
              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order1.png?VersionCode'"
                />
              </p>

              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sport_title2.png?VersionCode'"
                />
              </p>
              <p class="bettingSkill_cp">{{tutorialSports.bettingRules.steps[1]}}</p>
              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order2.png?VersionCode'"
                />
              </p>

              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sport_title3.png?VersionCode'"
                />
              </p>
              <p class="bettingSkill_cp">{{tutorialSports.bettingRules.steps[2]}}</p>
              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order3.png?VersionCode'"
                />
              </p>

              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sport_title4.png?VersionCode'"
                />
              </p>
              <p class="bettingSkill_cp">{{tutorialSports.bettingRules.steps[3]}}</p>
              <p>
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order4.png?VersionCode'"
                />
              </p>
            </div>

            <div class="bettingSkill_box" v-show="sportsSkill==2">
              <p class="sportsSkill_jsonp" v-for="(a,i) in vHtml" :key="i">{{a}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tutorial-inside custom_bar" v-anyNameYouLike id="bettingSkill-scroll">
        <div class="tutorial-box betaskill-box bar_box">
          <div v-for="(data,i) in msg" :key="i" v-show="i+1==navs">
            <div class="tutorial-low">
              <h2 class="hides tutorialShow">
                <!-- 标题icon -->
                <i></i>
                <span>{{data.category}}</span>
              </h2>

              <div class="tutorial-text" v-for="(cont,index) in data.main" :key="index">
                <!-- 序号1~9前面加个0的 -->
                <i v-text="index+1<10?'0'+(index+1):index+1" class="hides show8"></i>
                <!-- 序号 -->
                <i v-text="index+1" class="hides toutorial-num-show3 toutorial-num"></i>
                <!-- 点击详情  按需在样式显示隐藏 -->
                <span
                  :index="index"
                  class="tutorial-text-span"
                  @click="cloneSpan($event)"
                >{{$t('message.tutorial_click_detail')}}</span>

                <h3>{{cont.title}}</h3>
                <p class="tutorial-text-p1">{{cont.content}}</p>
              </div>
            </div>
          </div>

          <!-- 彩票投注 -->
          <div v-show="navs=='cp'">
            <!-- 快乐彩 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==1">
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_t1.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[0].rules.intro[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_t2.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_first_step')}}</span>
								<span>THE FIRST STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[0].rules.step[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-1.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_second_step')}}</span>
								<span>THE SECOND STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[0].rules.step[1]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-2.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_third_step')}}</span>
								<span>THE THIRD STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[0].rules.step[2]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-3.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_four_step')}}</span>
								<span>THE FOURTH STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[0].rules.step[3]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-KENO-4.png?VersionCode'" >
							</p>
            </div>-->
            <!-- 时时彩 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==2">
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_t3.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[1].rules.intro[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_EveryColor.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_first_step')}}</span>
								<span>THE FIRST STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[1].rules.step[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-1.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_second_step')}}</span>
								<span>THE SECOND STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[1].rules.step[1]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-2.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_third_step')}}</span>
								<span>THE THIRD STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[1].rules.step[2]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-3.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_four_step')}}</span>
								<span>THE FOURTH STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[1].rules.step[3]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-EveryColor-4.png?VersionCode'" >
							</p>
            </div>-->
            <!-- PK10 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==3">
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_t4.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[0]}} 
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[1]}} 
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[2]}} 
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_PK10.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_first_step')}}</span>
								<span>THE FIRST STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-1.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_second_step')}}</span>
								<span>THE SECOND STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[1]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-2.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_third_step')}}</span>
								<span>THE THIRD STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[2]}} 
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[3]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-3.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_four_step')}}</span>
								<span>THE FOURTH STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[2].rules.step[4]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-PK10-4.png?VersionCode'" >
							</p>
            </div>-->
            <!-- 香港乐透 -->
            <!-- <div class="bettingSkill_box" v-show="bettingSkill==4">
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_t5.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[0]}} 
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/lottery_HK.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_first_step')}}</span>
								<span>THE FIRST STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[0]}}
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[1]}}
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[2]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-1.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_second_step')}}</span>
								<span>THE SECOND STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[3]}} 
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[4]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-2.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_third_step')}}</span>
								<span>THE THIRD STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[5]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-3.png?VersionCode'" >
							</p>
							<p>
								<span>{{$t('message.tutorial_lottery_four_step')}}</span>
								<span>THE FOURTH STEP</span>
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.lotteryBetting.contant[3].rules.step[6]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/order-HK-4.png?VersionCode'" >
							</p>
						</div>
            -->
          </div>

          <!-- 体育博彩 -->
          <div v-show="navs=='ty'">
            <!-- 投注规则 -->
            <!-- <div class="bettingSkill_box" v-show="sportsSkill==1">
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/sport_title1.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.bettingRules.steps[0]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order1.png?VersionCode'" >
							</p>
	
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/sport_title2.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.bettingRules.steps[1]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order2.png?VersionCode'" >
							</p>
	
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/sport_title3.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.bettingRules.steps[2]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order3.png?VersionCode'" >
							</p>
	
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web28/sport_title4.png?VersionCode'" >
							</p>
							<p class="bettingSkill_cp">
								{{tutorialSports.bettingRules.steps[3]}}
							</p>
							<p>
								<img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/tutorial/sportBetting_order4.png?VersionCode'" >
							</p>
            </div>-->

            <!-- <div class="bettingSkill_box" v-show="sportsSkill==2">
	            			<p class="sportsSkill_jsonp" v-for="(a,i) in vHtml" :key="i">{{a}}</p>
            </div>-->
          </div>
        </div>
      </div>
      <a class="thirtyThreeBtn nextbtn01 hides"></a>
      <!--33版右按钮-->
    </div>
  </div>
</template>

<script>
import { bettingSkills } from "@/assets/scripts/comTest/main/tutorial/bettingSkills.js"

export default {
  mixins: [bettingSkills]
}
</script>
