<template>
  <div id="contactUsSuccessForm" class="pub_alert_box contact-success-box" style="display:none">
    <!--7版特有-->
    <div class="seven_popup">
      <div class="descr_title no_line clearfix">
        <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
      </div>
      <div class="descr_p">
        <p class="p_blue">{{$t('message.agent_successful_submission')}}</p>
        <p>{{$t('message.agent_incoming_letter')}}！</p>
      </div>
      <div class="alert_btn_both">
        <a class="btn1" @click="CloseWindow()">
          <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { ContactUsSuccess } from "@/mod/k14/assets/scripts/comTest/main/contactUs/contactUsSuccess.js"
export default {
  mixins: [ContactUsSuccess]
}
</script>
