@import '../../../../../assets/cdn.less';

.theme25 {

    /*登录&注册&注册成功&用户协议*/
    .login-register-content {
        background-size: 100% 100%;
        min-height: 950px;
        width: 100%;

        &.register-content {
            .login-register-main {
                padding-top: 45px;
            }
        }

        .login-register-main {
            overflow: hidden;
            width: 600px;
            margin: 0 auto;
            padding-top: 181px;

            .login-register-box {

                .login-logo,
                .login-title {
                    display: block;
                }

                .login-logo a {
                    display: block;
                    margin: 0 auto;
                    width: 310px;
                    height: 120px;
                    line-height: 80px;
                    text-align: center;

                    img {
                        max-height: 100%;
                        vertical-align: middle;
                    }
                }

                .login-titleText {
                    font-weight: bold;
                    display: block;
                    font-size: 20px;
                    color: #f2f2f2;
                    text-align: center;
                    margin-bottom: 55px;

                    span {
                        display: none !important;
                    }
                }

                .login-register-from {
                    .login-register-com {
                        clear: both;
                        overflow: hidden;
                        margin-bottom: 18px;

                        .login-regcom-name {
                            float: left;
                            width: 80px;
                            text-align: right;
                            color: #999999;
                            font-size: 16px;
                            line-height: 35px;
                        }

                        .login-regcom-putBox {
                            float: left;
                            margin-left: 22px;

                            input {
                                width: 490px;
                                height: 29px;
                                border: none;
                                border-bottom: 1px solid #3f4040;
                                background: none;
                                padding-left: 6px;
                                outline: none;
                                color: #cccccc;
                                font-size: 16px;
                                padding-bottom: 5px;
                            }

                            .putBox-special-input {
                                width: 300px;
                            }

                            input::-webkit-input-placeholder {
                                color: #fff;
                                font-size: 14px;
                            }

                            input::-moz-placeholder {
                                color: #fff;
                                font-size: 14px;
                            }

                            input:-ms-input-placeholder {
                                color: #fff;
                                font-size: 14px;
                            }

                            .putBox-code {
                                margin-left: 10px;
                                height: 38px;
                                display: inline-block;
                                vertical-align: bottom;

                                img {
                                    max-height: 100%;
                                }
                            }

                            .putBox-change {
                                display: none;
                            }
                        }
                    }

                    .visibleTip {
                        display: none;
                    }
                }

                .forgetText {
                    padding-left: 104px;
                }

                .loghide {
                    display: none !important;
                }

                .login-btn,
                .register-btn {
                    display: block;
                    font-size: 16px;
                    background: #ff8400;
                    color: #fff;
                    text-align: center;
                    width: 494px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 3px;
                    cursor: pointer;
                    margin-top: 40px;
                    margin-left: 105px;
                }

                .logSter-entrance {
                    width: 494px;
                    margin-top: 10px;
                    margin-left: 105px;

                    a {
                        color: #b8b8b8;
                        font-size: 14px;
                    }
                }
            }

            // 注册
            .register-logo {
                display: block;

                a {
                    display: block;
                    margin: 0 auto;
                    width: 310px;
                    height: 120px;
                    text-align: center;

                    img {
                        max-height: 100%;
                        vertical-align: middle;
                    }

                    // background: url("/static/images/Customer/logo25.png") no-repeat center center;
                }
            }

            .register-box {
                .register-logo-title {
                    display: block;
                    text-align: center;
                    margin-bottom: 80px;

                    a {
                        font-weight: bold;
                        font-size: 20px;
                        color: #f2f2f2;
                        margin-bottom: 55px;
                    }
                }

                .login-register-from {
                    .register-hook {
                        margin-left: 102px;

                        input {
                            display: none;
                        }

                        i,
                        span,
                        a {
                            display: inline-block;
                            vertical-align: top;
                        }

                        i {
                            display: inline-block;
                            height: 11px;
                            width: 11px;
                            margin-top: 2px;
                            margin-right: 3px;
                            margin-left: 1px;
                            cursor: pointer;
                            border: 1px solid #999999;
                        }

                        i.current {
                            background: #e43d13;
                        }

                        span {
                            font-size: 12px;
                            color: #4a4949;
                        }

                        a {
                            font-size: 12px;
                            color: #e43d13;
                        }
                    }
                }
            }

            // 注册成功
            .success-box {
                .success-title {
                    display: block;
                }

                .success-title1 {
                    display: block;
                    background-size: 34px 34px;
                    padding-left: 45px;
                    margin: auto;
                    font-size: 23px;
                    height: 34px;
                    width: 260px;
                    margin: auto;

                    a {
                        color: #fff;
                        cursor: inherit;
                    }
                }

                .success-text {
                    padding-top: 20px;
                    text-align: center;
                    color: #999999;
                    font-size: 20px;
                    line-height: 24px;

                    i {
                        color: #cccccc;
                        font-weight: 700;
                        margin-left: 8px;
                        font-size: 16px;
                    }
                }

                .success-btn-return {
                    display: block;
                    background-size: 100% 100%;
                    width: 178px;
                    height: 36px;
                    margin: auto;
                    margin-top: 40px;

                    &:hover {
                        background-size: 100% 100%;
                    }
                }

                .success-pic,
                .success-btn {
                    display: none;
                }
            }
        }

        // 注册表单
        .login-register-main_en,
        .login-register-main_vi {
            width: 690px !important;

            .login-regcom-name {
                width: 155px !important;
            }
        }
    }

}
