.theme33{
    .tutorial_cont{
        min-height: 1564px;
        margin-bottom: 60px;
    }
    .tutorial-content{
        position: relative;
        width: 1193px;
        height: 991px;
        margin: 0 auto;
        overflow: hidden;  
    }
    .tutorial_cont .banner{
        height: 515px !important;
    }
    .tutorial_cont .banner video{
        display: none;
    }
    .banner_ul{
        display: none;
    }
    .cp_down{
        width: 105px;
    }
    .tutorial-main {
       
    }
    .tutorial-main>div{
        position: relative;
        width: 1085px;
        display: inline-block;
        margin: 10px 50px 0;
    }
    .no_backgrounds{
        margin-left: 10px!important;
    }
    .tutorial-navs{
        margin: 0 35px 30px;
        padding: 40px 0 10px;
        border-bottom: 1px solid #a7a7a7;
    }
    .tutorial-navs .tralNav-thirtyThree {
        display: inline-block;
        vertical-align: top;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        color: #444444;
        font-weight: bold;
    }
    .tutorial-navs .tralNav-thirtyThree span {
        margin: 0 10px 0 25px;
    }
    .tutorial-navs .tralNav-thirtyThree i {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 15px;
        margin-top: 10px;
    }
    .tutorial-navs li.on, .tutorial-navs li:hover {
        background-size: 100% 100%;
    }
    .tutorial-navs>li {
        display: inline-block;
        width: 108px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        color: #fffdf8;
        margin-left: 15px;
        cursor: pointer;
    }
    
    .tutorial_left_navs{
        margin: 0 auto;
        width: 460px;
        border-bottom: 1px solid #a7a7a7;
        -webkit-box-shadow: 0px 1px 0px #fff;
        box-shadow: 0px 1px 0px #fff;
    }
    .tutorial_left_navs li {
        display: inline-block;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }
    .tutorial_left_navs li a{
        display: block;
        font-weight: normal;
        font-size: 14px;
        color: #2a1b17;
        font-family: "PingFang Medium";
    }
    .tutorial_left_navs li:hover a{
        color: #000;
    }
    .tutorial_left_navs li:hover a i, .tutorial_left_navs li.on a i{
        border-bottom: 3px solid #a7a7a7;
        display: block;
    }
    
    .tutorial_left_navs li a i {
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -14px;
        top: 19px;
        font-style: normal;
        width: 28px;
        border-bottom: 3px solid transparent;
    }
    .thirtyThreeBtn{
        position: absolute;
        display: none !important;
        cursor: pointer;
        width: 25px;
        height: 26px;
        top: 190px;
        z-index: 1008611;
    }
    .prebtn,.prebtn01,.prebtn02{
        left: 0;
    }
    .nextbtn,.nextbtn01,.nextbtn02{
        right: 0;
    }
    .custom_bar {
        position: relative;
        padding: 0px;
        width: 1100px;
        height: 680px;
        overflow: hidden;
        margin: 40px auto 0;
    }
    .tutorial-conBox {
        float: left;
        width: 900px;
        height: 550px;
        padding: 0 50px;
        background: rgba(255,255,255,0.81);
        border: 1px solid #c0c0c0;
        margin-top: 40px;
        margin-left: 40px;
    }
    .tutorial-inside {
        width: 945px;
        float: left;
        height: 470px;
        margin-top: 40px;
    }
    .tutorial-inside .tutorial-box{
        width: 6666px;
        position: relative;
        float: left;
    }
    .tutorial-inside .tutorial-box >div{
        overflow: hidden;
        display: inline-block;
        width: 896px;
    }
    .tutorial-inside .tutorial-text h3{
        font-size: 16px;
        color: #dc8234;
        line-height: 30px;
        text-decoration: none;
        font-family: "PingFang Medium";
    }
    .tutorial-inside .tutorial-text p{
        font-size: 16px;
        width: 100%;
        line-height: 30px;
        text-decoration: none;
        font-family: "PingFang Medium";
    }
    .tutorial-inside .tutorial-text{
    }
    .tutorial-text span{
        display: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text{
        border-bottom: none;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text p,.tutorial-gamerule .gamerule-box .gamerule-text h3{
        color: #77779b;
    }
    .tutorial-gamerule .gamerule-box .gamerule-text img{
        margin: 30px 0;
    }
    .tutorial-problem .tutorial_left_navs li a i {
        background: none;
    }
    .tutorial_tit_el{
        display: none;
    }
    .tutorial-navs .tutorial_tit a{
        color: #fff;
    }
    // 遮罩
    .tutorialShade{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000
    }
    
    // 游戏规则
    .GameRules_title{
        font-size: 22px;
        text-align: center;
        color: #000;
        font-weight: bold !important;
    }
    .GameRules_title_el{
        text-align: center;
        color: #000;
        margin-top: 15px;
        font-size: 14px;
    }
    .GameRules_center_p{
        width: 900px;
        font-size: 14px;
        color: #000;
        margin: auto;
        line-height: 28px;
        margin-top:20px;
        text-align: center;
    }
    .GameRules_mt25{
        margin-top: 25px;
    }
    .GameRules_guide{
        width: 660px;
        height: 102px;
        margin: 30px auto 0;
        border-radius: 45px;
        background: #d1bd9a;
        overflow: hidden;
    }
    .GameRules_guide>span{
        width: 94px;
        height: 102px;
        line-height: 102px;
        float: left;
        text-align: center;
        font-size: 36px;
        color: #232a3a;
        border-right: 1px dashed #2b3154;
    }
    .GameRules_guide_cont{
        font-size: 14px;
        color: #232a3a;
        width: 565px;
        height: 102px;
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center
    }
    .GameRules_smoll_p{
        color: #fff;
        margin-left: 158px;
        margin-top: 20px;
    }
    .GameRules_ty_p{
        color: #596fa4;
        width: 90px;
        line-height: 30px;
        border-radius: 20px;
        background: #bfd0e3;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .GameRules_center_img{
        display: block;
        margin: 20px auto 0;
    }
    .GameRules_table{
        width: 716px;
        margin: 20px auto;
        overflow: hidden;
    }
    .GameRules_table li{
        height: 70px;
        line-height: 70px;
        background: #d1bd9a !important;
        border-bottom: 1px solid #666666;
        border-right: 1px solid #666666;
        font-size: 14px;
        color: #000;
        text-align: center;
        overflow: hidden;
    }
    .GameRules_table_faseli{
        height: 48px !important;
        line-height: 48px !important;
        background: #466d94 !important;
    }
    .GameRules_table_faseli p{
        line-height: 23px !important;
    }
    .GameRules_table_ul1{
        float: left;
        width: 120px;
    }
    .bigwidth{
        width: 350px !important;
    }
    .GameRules_li_p{
        width: 320px;
        line-height: 25px;
        margin: auto;
        margin-top: 12px;
    }
    .width358{
        width: 358px;
    }
    .GameRules_no_center{
        text-align:left;
        margin-left: 150px;
        margin-top: 0;
    }
    .GameRules_ml200{
        margin-left: 200px;
    }
    .GameRules_nomt{
        margin-top: 0;
    }
    
    .tutorial_abslut_ul{
        position: absolute;
        z-index: 9;
        width: 56px;
        height: 20px;
        line-height: 20px;
    }
    .tutorial_abslut_ul>li {
        float: none;
        margin-left: 1px;
        margin-bottom: 0px;
        font-size: 14px;
        border: none;
        color: #2a1b17;
        width: 56px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: top;
    }
    .tutorial_abslut_1{
        top: 24px;
        left: 637px;
    }
    .tutorial_abslut_2{
        top: 24px;
        left: 546px;
    }
    .BettingSkills_no{
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .BettingSkills_on{
        transition: 0.3s;
        height: auto;
    }
    .bettingSkill_box{
        overflow: hidden;
    }
    .bettingSkill_box img{
        margin-top: 20px;
    }
    .bettingSkill_box p{
        overflow: hidden;
    }
    .bettingSkill_box p>span:nth-child(1){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #a48db0;
    }
    .bettingSkill_box p>span:nth-child(2){
        float: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
        color: #65556d;
    }
    .bettingSkill_cp{
        line-height: 26px;
        font-size: 14px;
        color: #000;
        font-family: "PingFang Medium";
    }
    .sportsSkill_chren{
        margin-left: -32px;
    }
    .sportsSkill_chren>li{
//      background:#3a3a3a;
        width: 190px;
        display: block;
        text-align: center;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }
    .sportsSkill_chren>li a{
        display: block;
        color:#2a1b17;
    }
    // .sportsSkill_chren>li:hover a{
    //     color:#fff;
    // }
    .sportsSkill_chren>li:hover{
//      background: #bc5300;
    }
    .sportsSkillChren1on{
        color: yellow !important;
    }
    .sportsSkill_chren_01>p{
        text-align: left;
        box-sizing: border-box;
        padding-left: 30px;
    }
    .sonname,.grandsonname{
        display: none
    }
    .sonname>li,.grandsonname>li{
        display: block;
        margin-left: 0;
    }
    .sonname>li a:hover,.grandsonname>li a:hover{
        color:#2a1b17;
    }
    .sportsSkill_jsonp{
        padding-left: 5px;
        font-size: 14px;
        line-height: 30px;
        color: #000;
        font-family: "PingFang Medium";
    }
    
    // 背景替换img
    .tutorialPic_1{
        width: 690px;
        height: 354px;
    }
    .tutorialPic_2{
        width: 690px;
        height: 352px;
    }
    .tutorialPic_3{
        width: 690px;
        height: 360px;
    }
    .tutorialPic_4{
        width: 673px;
        height: 360px;
    }
    .tutorialPuke_1{
        width: 428px;
        height: 69px;
    }
    .tutorialPuke_2{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_3{
        width: 211px;
        height: 69px;
    }
    .tutorialPuke_4{
        width: 351px;
        height: 257px;
    }
    .tutorialRule_img_1{
        width: 602px;
        height: 914px;
    }
    .tutorialRule_img_2{
        width: 602px;
        height: 410px;
    }
    .tutorialRule_img_3{
        width: 740px;
        height: 268px;
    }
    .tutorialRule_img_4{
        width: 740px;
        height: 415px;
    }
    .tutorialRule_img_5{
        width: 740px;
        height: 491px;
    }
    .tutorialRule_img_6{
        width: 740px;
        height: 195px;
    }
    // 滚动条
    .tutorial-inside.ps-container .ps-scrollbar-y-rail {
        top: 0;
        position: absolute;
        right: 11px;
        width: 5px;
        background-color: #ced2d8;
        border-radius: 8px;
    }
    .tutorial-inside.ps-container .ps-scrollbar-y {
        position: absolute;
        right: -5px;
        width: 16px;
        height: 34px;
        background: #f0eeee;
        border-radius: 8px;
        
    }

}
