.theme15 {

    /*前台共用的游戏列表*/
    .poker-logo-lists {
        font-size: 0;
        text-align: left;
    }

    .poker-logo-lists li {
        width: 289px;
        height: 428px;
        display: inline-block;
        margin: 5.5px;
        position: relative;
    }

    .poker-logo-lists li>div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .poker-logo-lists li div.rotate-before {
        transform: perspective(1000px) rotateY(0);
        -webkit-transform: perspective(1000px) rotateY(0);
        -moz-transform: perspective(1000px) rotateY(0);
        -ms-transform: perspective(1000px) rotateY(0);
        -o-transform: perspective(1000px) rotateY(0);
        transition: all 600ms ease-out;
        -webkit-transition: all 600ms ease-out;
        -moz-transition: all 600ms ease-out;
        -ms-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
        opacity: 1;
        filter: alpha(opacity=100);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li div.rotate-after {
        transform: perspective(1000px) rotateY(-180deg);
        -webkit-transform: perspective(1000px) rotateY(-180deg);
        -moz-transform: perspective(1000px) rotateY(-180deg);
        -ms-transform: perspective(1000px) rotateY(-180deg);
        -o-transform: perspective(1000px) rotateY(-180deg);
        transition: all 600ms ease-out;
        -webkit-transition: all 600ms ease-out;
        -moz-transition: all 600ms ease-out;
        -ms-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -o-backface-visibility: hidden;*/
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        text-align: center;
        opacity: 0;
        filter: alpha(opacity=0);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li.hasblock div.rotate-before {
        transform: perspective(1000px) rotateY(180deg);
        -webkit-transform: perspective(1000px) rotateY(180deg);
        -moz-transform: perspective(1000px) rotateY(180deg);
        -ms-transform: perspective(1000px) rotateY(180deg);
        -o-transform: perspective(1000px) rotateY(180deg);
        opacity: 0;
        filter: alpha(opacity=0);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li.hasblock div.rotate-after {
        transform: perspective(1000px) rotateY(0);
        -webkit-transform: perspective(1000px) rotateY(0);
        -moz-transform: perspective(1000px) rotateY(0);
        -ms-transform: perspective(1000px) rotateY(0);
        -o-transform: perspective(1000px) rotateY(0);
        opacity: 1;
        filter: alpha(opacity=100);
        /*对透明度做兼容*/
    }

    .poker-logo-lists li div.rotate-before i.icon-flower {
        display: block;
        width: 67px;
        height: 23px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    .poker-logo-lists li div.rotate-before i.icon-flower.flower1 {
        display: none;
    }

    .poker-logo-lists li div.rotate-before i.icon-flower.flower2 {
        display: none;
    }

    .poker-logo-lists li div.rotate-before img {
        display: block;
        max-width: 280px;
        position: absolute;
        left: 4px;
        top: 160px;
    }

    .poker-logo-lists li div.rotate-before .rotate-word {
        width: 100%;
        position: absolute;
        bottom: 20px;
        text-align: center;
    }

    .poker-logo-lists li div.rotate-before .rotate-word p {
        font-size: 12px;
        color: #57574f;
    }

    .poker-logo-lists li div.rotate-before .rotate-word span {
        font-size: 12px;
        color: #57574f;
    }

    .poker-logo-lists li div.rotate-after:after {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .poker-logo-lists li div.rotate-after a.rotate-play {
        display: inline-block;
        padding: 5px 15px;
        font-size: 14px;
        text-align: center;
        -webkit-border-radius: 12px;
        font-size: 0;
        border-radius: 12px;
        width: 122px;
        height: 40px;
        vertical-align: middle;
    }

    /*维护遮罩*/
    .video_cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        z-index: 10;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        /*visibility:hidden;*/
    }

    .video_cover:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }

    .video_cover div {
        display: inline-block;
        vertical-align: middle;
    }

    .video_cover p {
        line-height: 25px;
        font-size: 24px;
        color: #ffffff;
    }

    .video_cover span {
        line-height: 14px;
        font-size: 12px;
        color: #ffffff;
    }

    /*前台共用的游戏列表 end*/
    .wrapper-content {
        overflow: hidden;
        background-color: #000;
    }

    /* 游戏维护中 */
    .game-maintain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .eg-big-play {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 20;
    }

    .eg-big-maintain {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 45px;
    }

    .game-maintain,
    .eg-big-play {
    }

    .eg-big-maintain {
    }

    /* 游戏维护中 end */

    /*代理加盟，联系我们公共样式*/
    .a-j-lists {

        .a-j-left-box,
        .a-j-right-box {
            padding: 0 220px;
        }

        .a-j-putBox-title {
            display: none;
        }

        .proxy-com {
            &.proxy-BankAccnt {
                clear: both;
            }

            &.member-name {
                overflow: hidden;

                .name {
                    color: #fff;
                    line-height: 32px;
                }
            }

            textarea {
                outline: none;
                padding: 0 15px;
                height: 34px;
                line-height: 34px;
                width: 490px;
                background-color: transparent;
                color: #909090;
                font-size: 16px;
                cursor: pointer;
                height: 100px;
                line-height: 24px;
                overflow: auto;
                vertical-align: top;
                border: 1px solid #353535;
                // margin-left: -5px;
            }

            .proxy-line {
                padding-top: 9px;

                .vdp-datepicker {
                    display: inline-block;
                    vertical-align: top;

                    /deep/ input {
                        box-sizing: content-box;
                        // margin-left: -5px;
                    }
                }

                .title {
                    display: inline-block;
                    font-size: 16px;
                    color: #909090;
                    line-height: 38px;
                    width: 100px;
                    margin-right: 10px;
                    text-align: right;

                    .txt {
                        font-weight: 400;
                        margin-left: 5px;
                    }

                    .colon {
                        display: none;
                    }

                    .asterisk {
                        display: inline-block;
                        color: #ff0000;
                    }
                }

                input[type=text],
                .a-j-input input {
                    display: inline-block;
                    vertical-align: top;
                    width: 500px;
                    height: 38px;
                    line-height: 38px;
                    padding: 0 10px;
                    outline: none;
                    border: 1px solid #353535;
                    background: none;
                    font-size: 16px;
                    color: #909090;
                    word-break: break-all;
                }

                &.code {
                    input {
                        width: 360px;
                        margin-right: 10px;
                        // margin-left: -5px;
                    }

                    img {
                        height: 40px;
                        vertical-align: top;
                    }
                }

                &.branch-name {
                    .title {
                        display: none;
                    }

                    input {
                        width: 140px;
                    }
                }
            }

            .a-j-input {
                position: relative;
                display: inline-block;
                vertical-align: top;

                // margin-left: -5px;
                .down {
                    width: 110px;
                    margin-left: 0;
                    position: relative;

                    .d_course {
                        height: 24px;
                        line-height: 24px;
                        padding: 7px 10px;
                        cursor: pointer;
                        text-align: left;
                        color: #909090;
                        border: 1px solid #353535;
                        font-size: 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-radius: 0;
                        background: none;
                    }

                    .down_box {
                        height: auto;
                        position: absolute;
                        display: none;
                        z-index: 10;
                        overflow: hidden;
                        overflow-y: auto;
                        top: 41px;
                        width: 100%;
                        border-top: 0;
                        max-height: 120px;
                        border: 1px solid #353535;
                        background: #353535;
                        padding-top: 5px;
                    }

                    .down_list {
                        color: #909090;
                        white-space: nowrap;
                    }

                    i.a-j-downimg {
                        display: block;
                        position: absolute;
                        right: 6px;
                        top: 18px;
                        width: 10px;
                        height: 5px;
                        background-size: contain;
                    }
                }

                .a-j-sexUl {
                    overflow: hidden;
                    font-size: 16px;
                    color: #000;
                    line-height: 36px;

                    .a-j-sexItem {
                        width: 50px;
                        height: 36px;
                        line-height: 36px;
                        color: #909090;
                        font-size: 16px;
                        float: left;
                        margin-right: 9px;
                        position: relative;
                        cursor: pointer;
                        text-align: center;
                        border: 1px solid #353535;

                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            cursor: pointer;
                            opacity: 0;
                        }

                        &.on {
                            border: 1px solid orange;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }
            }

            .a-j-input.sex {
                img {
                    display: none;
                }

                input.a-j-select-ipt {
                    display: none;
                }
            }

            .a-j-input1 {
                margin-right: 10px;
                float: left;

                input {
                    width: 80px;
                }
            }

            .tip1 {
                font-size: 12px;
                color: #e50000;
                margin: 3px 0 0 112px;
                clear: none;
            }
        }

        .proxy-com.proxy-Branch {
            float: left;
        }

        .proxy-com.proxy-BranchName {
            float: left;

            .tip1 {
                margin: 3px 0 0 0;
                width: 150px;
            }
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #353535;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #353535;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #353535;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #353535;
        }
    }

    .a-j-submit {
        display: block;
        width: 199px;
        height: 48px;
        margin: 40px auto 0 auto;
        cursor: pointer;
        font-size: 0;
        background-size: contain;
    }

    /*代理加盟，联系我们公共样式 end*/

}
