.theme34 {
  * {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-appearance: none;*/
  }

  ol,
  ul,
  li {
    list-style: none;
  }

  textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
  }

  button,
  input,
  select,
  textarea {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  a {
    color: #7b7a7b;
    text-decoration: none;
    cursor: pointer;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    background: #000;
    background: #1a1a24 !important;
  }

  .fl,
  .pull-left {
    float: left;
  }

  .fr,
  .pull-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    overflow: auto !important;
  }

  .clearfix {
    *zoom: 1;
  }

  img {
    margin: 0;
    padding: 0;
    border: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  i,
  em {
    font-style: normal;
  }

  .diinline {
    display: inline-block;
  }

  .wrap {
    max-width: 1920px;
    min-width: 1720px;
    margin: auto;
    height: auto;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    // z-index: 1;
  }

  .rows {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  //------------------------- 个人中心共用部分样式 -----------------------------------------------------------------
  //.header, .footer, .section{
  //  width: 100%;
  //  min-width: 1400px;
  //  position: relative;
  //}
  .bg {
    background-position: center top;
    background-repeat: no-repeat;
  }

  .mr_t40 {
    margin-top: 40px !important;
  }

  .mr_t10 {
    margin-top: 10px !important;
  }

  .mr_t20 {
    margin-top: 20px !important;
  }

  .mr_t30 {
    margin-top: 30px !important;
  }

  .mr_t50 {
    margin-top: 50px !important;
  }

  .mr_t80 {
    margin-top: 80px !important;
  }

  .mr_l10 {
    margin-left: 10px !important;
  }

  .mr_l20 {
    margin-left: 20px !important;
  }

  .mr_l30 {
    margin-left: 30px !important;
  }

  .mr_l50 {
    margin-left: 50px !important;
  }

  .mr_r0 {
    margin-right: 0 !important;
  }

  .mr_b0 {
    margin-bottom: 0 !important;
  }

  .mr_b20 {
    margin-bottom: 20px !important;
  }

  .mr_b30 {
    margin-bottom: 30px !important;
  }

  /*弹窗*/
  .popup-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1008611;
  }

  .popup-main .popup-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 0;
  }

  .popup-content {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }

  .popup-content .close-the-window {
    width: 37px;
    height: 36px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  /*自定义滚动条*/

  .custom_bar {
    // position:relative;
    padding: 0px;
    // width: 1100px;
    // height: 680px;
    // overflow: hidden;
    // margin:40px auto 0;
  }

  .custom_bar .bar_box {
    // width: 900px;
  }

  .ps-container .ps-scrollbar-y-rail {
    position: absolute;
    right: 6px;
    width: 1px;
    background: #585557;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    display: block !important;
  }

  .ps-container .ps-scrollbar-y {
    position: absolute;
    right: -1px;
    width: 3px;
    background: #394a5a;
    z-index: 1000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  .ps-container.ie6 .ps-scrollbar-y {
    font-size: 0;
  }

  /*个人中心弹窗*/
  .shadow_wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10086110000000000000;
  }

  .shadow_wrap .public_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 0;
  }

  .per_bombox {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }

  .public-bombox {
    min-width: 380px;
    min-height: 258px;
  }

  .per_bombox .bomsurebtn,
  .per_bombox .bomsurebtn01,
  .per_bombox .bomsurebtn02 {
    display: block;
    width: 130px;
    height: 40px;
    margin: auto;
  }

  .per_bombox > h2 {
    height: 40px;
    line-height: 40px;
  }

  .per_bombox > h2 span {
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
  }

  .per_bombox .bomclose {
    margin: 10px 10px 0 0;
    cursor: pointer;
  }

  /*内容导航*/
  .public-navs {
    font-size: 0;
    padding: 12px 0 0 20px;
  }

  .public-navs li {
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    width: 108px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
  }

  .public-navs li.on,
  .public-navs li:hover {
    width: 108px;
    height: 35px;
    color: #f8d647;
  }

  /*内容框*/
  .public-content {
    width: 1150px;
    height: 809px;
    position: absolute;
    top: 150px;
    left: 20%;
    z-index: 100;
  }

  /*logo*/
  .logoPage {
    width: 1087px;
    height: 820px;
    position: absolute;
    top: 37%;
    left: 22%;
  }

  .logoPage > h2 {
    font-size: 40px;
    color: #60aaf3;
    text-align: center;
    letter-spacing: 2px;
  }

  .logo-lists {
    font-size: 0;
    width: 1000px;
    height: 600px;
    margin: 50px auto 0;
    overflow: hidden;
  }

  .logo-lists li {
    width: 320px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    display: block;
    background: #333333;
    margin-left: 20px;
    float: left;
    margin-bottom: 20px;
  }

  .logo-lists li:hover,
  .logo-lists li.on {
    background: #55578c;
  }

  .logo-lists li:nth-child(3n + 1) {
    margin-left: 0;
  }

  .logo-lists li img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .tip1 {
    font-size: 12px;
    color: #9e130c;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 16px;
    line-height: 16px;
    clear: both;
  }

  .down {
    position: relative;
  }

  .down .d_course {
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    color: #224963;
    border: 1px solid #224963;
    font-size: 14px;
  }

  .down .down_iconImg,
  .down .record_iconImg {
    width: 11px;
    height: 6px;
    display: block;
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 14px;
  }

  .down .down_box {
    height: auto;
    position: absolute;
    display: none;
    z-index: 10;
    overflow: hidden;
    overflow-y: auto;
    top: 36px;
    border-top: 0;
    border: 1px solid #ab968f;
    width: 100%;
    max-height: 150px;
    background: #c1a8a2;
    border-radius: 0px 0px 3px 3px;
    padding-top: 5px;
  }

  .down .down_box .down_list {
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 10px 0 10px 12px;
    font-size: 14px;
    color: #2b2b2b;
    line-height: 18px;
  }

  .down .down_box .down_list:hover {
    background: #dac2bc;
    color: #5f5e5e;
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    opacity: 0.6;
    background-color: #000;
    z-index: 9998;
    display: none;
  }
}
