//
//.theme34{
//  /*个人中心*/
//
//
//
//  /*背景*/
//  .member-wrapper{
//      position: relative;
//      width: 100%;
//      min-width: 1400px;
//      height: 955px;
//  }
//  .member-wrapper .main_nav{
//      display: none;
//  }
//  .member-wrapper .main-cont-nav{
//      display: none;
//  }
//  .member-wrapper .personal-content .personal-fixed{
//      display: none;
//  }
//  .personal_public{
//
//  }
//  .personal-content {
//      width: 100%;
//      position: relative;
//  }
//  .personal-box{
//      // width: 1120px;
//      // margin: auto;
//  }
//
//  /*个人中心内容title*/
//  .personal-fixed {
//      height: 58px;
//      line-height: 58px;
//  }
//  .btn_recharge{
//      width:156px;
//      height:47px;
//      display:block;
//      margin-top: 5px;
//  }
//  .member-cont-title .member-second-titleCon{
//      display: none;
//  }
//  /*个人中心内容title  ====end*/
//
//  .member-content{
//      overflow: hidden;
//  }
//  //member左边导航部分样式
//  .member-cont-nav{
//      background-size: 100%;
//      width: 15%;
//      height: 1381px;
//      float: left;
//      padding-top: 30px;
//      min-width: 310px;
//      position: absolute;
//      left: 0px;
//      top: 0px;
//      z-index: 3;
//      overflow: hidden;
//      padding-bottom: 9999px;
//      margin-bottom: -9999px;
//      padding-right: 10px;
//      -webkit-box-sizing: border-box;
//      box-sizing: border-box;
//  }
//  .personal-leftNav-logo{
//      text-align: center;
//  }
//  .personal-leftNav-logo img{
//      width: 170px;
//      height: auto;
//  }
//  .member-cont-nav ul{
//      margin-top: 13px;
//  }
//  .member-cont-nav li{
//      clear: both;
//      background-size: 100%;
//      font-size: 17px;
//      color: #9b9daf;
//      width: 288px;
//      height: 67px;
//      line-height: 67px;
//      margin: 0 auto;
//      margin-bottom: 15px;
//      cursor: pointer;
//  }
//
//  .member-cont-nav li a{
//      position: relative;
//      display: block;
//  }
//  .member-cont-nav li a i{
//      width: 36px;
//      height: 36px;
//      float: left;
//      margin-top: 19px;
//      margin-left: 75px;
//  }
//  .member-cont-nav .member-navList a span{
//      width: 4em;
//      display: block;
//      margin-left: 23px;
//      float: left;
//      text-align: center;
//      font-size: 17px;
//      color: #c1c6ca;
//  }
//  .member-cont-nav .member-navList a{
//      display: block;
//      width: 288px;
//      height: 67px;
//      line-height: 67px;
//  }
//  .member-cont-nav .member-navList:hover a span,.member-cont-nav .member-navList.hasblock a span{
//      color: #fff;
//  }
//  //导航end
//
//  //右侧内容
//  .member-right-main {
//      float: right;
//      position: relative;
//      width: 84%;
//      height: auto;
//      top: 0px;
//      right: 0px;
//      background-size: 100% 100%;
//      min-height: 1080px;
//  }
//  .member-cont-main{
//      width: 1200px;
//  }
//  .member-cont-main .bar_box{
//      margin-left: 170px;
//  }
//  .member-right-main .member-right-header{
//      height: 40px;;
//  }
//  .member-right-main .wordTip-text{
//      height: 30px;
//      line-height: 30px;
//      background: hsla(21,33%,84%,.7);
//  }
//  .member-right-main .wordTip-text p{
//      font-size: 16px;
//      color: #fff;
//      text-align: center;
//  }
//  .member-cont-main .pre-mainTitle{
//      display: none;
//  }
//  //总览
//  .member-summery-content {
//      margin-top: 0;
//      height: 720px;
//  }
//  .member-summery-content .psl_guide_tip {
//      width: 877px;
//      height: 40px;
//      line-height: 40px;
//      margin: auto;
//      display: none;
//  }
//  .psl_guide_tip p{
//      font-size: 16px;
//      color: #df2727;
//      text-align: center;
//  }
//  .psl_guide_tip a {
//      color: #df2727;
//  }
//  .member-cont-main .pre-title{
//      font-size: 18px;
//      color: #b37b26;
//      height: 30px;
//      line-height: 30px;
//      margin-bottom: 30px;
//      margin-right: 20px;
//  }
//  .member-cont-main .pre-title span{
//      float: left;
//      font-size: 18px;
//      color: #b37b26;
//      margin-left: 25px;
//      font-weight: bold;
//  }
//
//  .member-cont-main .pre-mainTitle span{
//      float: left;
//      font-size: 18px;
//      color: #b37b26;
//      margin-left: 25px;
//      margin-bottom: 30px;
//      font-weight: bold;
//  }
//  .member-cont-main .pre-mainTitle em {
//      display: none;
//  }
//  .member-cont-main .pre-mainTitle a.recharge-btn {
//      display: none;
//  }
//  .member-cont-main .pre-title i{
//      font-size: 14px;
//      color: #b37b26;
//  }
//  .msg_cont_block{
//      padding: 10px 0 0 30px;
//      overflow: hidden;
//  }
//  .msg_cont li{
//      line-height: 36px;
//      overflow: hidden;
//  }
//  .msg_cont li,.msg_cont li em{
//      font-size: 16px;
//      color: #20232c;
//  }
//  .member-cont-main .transaction-records{
//      font-size: 18px;
//      color: #b37b26;
//      line-height: 30px;
//      margin-bottom: 30px;
//      border-bottom:none;
//  }
//  //.msg_cont li.level_li{
//  //  line-height: 32px;
//  //}
//  //.msg_cont .level_rt b {
//  //  font-size: 16px;
//  //  color: #c33939;
//  //  font-weight: normal;
//  //}
//  //.msg_cont .level_rt b,.msg_cont .level_rt a,.msg_cont .level_rt em {
//  //  vertical-align: top;
//  //}
//  //.msg_cont .level_rt .level{
//  //  display: inline-block;
//  //  width: 107px;
//  //  height: 26px;
//  //  margin-top: 3px;
//  //}
//  //.msg_cont li.msg_link a {
//  //  color: #968543;
//  //  text-decoration: underline;
//  //  margin-left: 10px;
//  //}
//  .recent_record_list .pre-title a.btn_refresh{
//      display: none;
//  }
//  .recent_record_list .pre-title a.btn_renovate{
//      float: right;
//      margin-right: 20px;
//  }
//  .recent_record_list .pre-title a.btn_renovate img{
//      display: none;
//  }
//  .recent_record_list .pre-title a.btn_renovate i{
//      display: inline-block;
//      *zoom: 1;
//      *display: inline;
//      font-weight: normal;
//      font-style: normal;
//      font-size: 14px;
//      color: #20232c;
//      margin-right: 5px;
//  }
//  .purple_cont{
//      width: 100%;
//      height: auto;
//      overflow: hidden;
//      /*background: rgba(255,255,255,.07);*/
//  }
//
//  /*----------start--记录表格----------*/
//  .table_block{
//      clear: both;
//      padding-right: 20px;
//  }
//  .table_block table{
//      font-size: 14px;
//      color: #20232c;
//      width: 100%;
//  }
//  .table_block table tr{
//      width: 100%;
//
//
//
//  }
//  .table_block table tr th,.table_block table tr td{
//      height: 38px;
//      line-height: 38px;
//      text-align: center;
//      border-bottom: 1px dotted #314250;
//  }
//  .table_block table tr td{
//      color: #435d74;
//  }
//
//  .table_block table tr td span{
//      color: #20232c;
//      cursor: pointer;
//  }
//
//  .table_block table tr.hasSelect td p{
//      font-size: 14px;
//      color: #716340;
//  }
//  .table_block table td a{
//      font-size: 14px;
//      color: #20232c;
//      text-decoration: underline;
//  }
//  .table_block table td.td_reduce{
//      color: #ff3000;
//  }
//  .table_block table td a.alert_click1{
//      color:#b37b26;
//  }
//  /*----------end--记录表格----------*/
//
//  //表格右下角提示信息
//  .purple_tip {
//      line-height: 40px;
//      text-align: right;
//      font-size: 12px;
//      color: #af8979;
//      clear: both;
//  }
//
//
//
//  /*----------个人中心-列表----------*/
//  .personal-list .member-personal-com {
//      clear: both;
//      font-size: 14px;
//      color: #20232c;
//      line-height: 36px;
//  }
//  .member-personal-com .member-percom-name{
//      display: inline-block;
//      width: 88px;
//      line-height: 36px;
//      margin-right: 10px;
//      text-align: right;
//      float: left;
//  }
//  .member-personal-com .member-percom-putBox{
//      float: left;
//      margin-bottom: 15px;
//      width: 622px;
//  }
//  .member-personal-com .member-percom-putBox input {
//      display: inline-block;
//      vertical-align: top;
//      width: 430px;
//      height: 34px;
//      line-height: 34px;
//      padding: 0 10px;
//      outline: none;
//      border: 1px solid #2b3e4d;
//      border-radius: 2px;
//      background: none;
//      font-size: 14px;
//      color:#224963;
//      word-break: break-all;
//  }
//  .member-personal-com input::-webkit-input-placeholder{
//      font-size:14px;
//      color: #9a9a9a;
//  }
//  .member-personal-com input::-moz-placeholder{
//      font-size:14px;
//      color: #9a9a9a;
//  }
//  .member-personal-com input:-ms-input-placeholder{
//      font-size:14px;
//      color: #9a9a9a;
//  }
//  .member-percom-putBox .modify{
//      color: #b37b26;
//      text-decoration: underline;
//      margin-left: 10px;
//  }
//  .member-percom-putBox .bankDrop {
//      margin-bottom: 15px;
//      width: 452px;
//  }
//  .member-percom-putBox .birthPut input{
//      width: 452px;
//  }
//  .perdata-sex .member-percom-putBox b {
//      background-size: 12px 12px;
//      background-position: 0 12px;
//      color: #435d74;
//      padding-left: 20px;
//      cursor: pointer;
//      font-weight: normal;
//      display: inline-block;
//      margin-right: 20px;
//      font-size: 14px;
//  }
//
//  .perdata-sex .member-percom-putBox b.on {
//      background-size: 12px 12px;
//      background-position: 0 12px;
//  }
//  .perdata-email .member-percom-putBox .tip-verifiy-false {
//      padding: 3px 8px;
//      font-size: 12px;
//      line-height: normal;
//      color: #fff;
//      background: #eea236;
//      border-radius: 2px;
//      -webkit-border-radius: 2px;
//      text-align: center;
//      margin-left: 6px;
//  }
//  .email-verify {
//      font-size: 12px;
//      color: #7680b3;
//      margin-left: 10px;
//      text-decoration: underline;
//      cursor: pointer;
//  }
//  .email-position {
//  position: relative;
//  }
//  .email-explain {
//  display: block;
//  margin: 11px 0 0 7px;
//  width: 16px;
//  height: 16px;
//  line-height: 16px;
//  font-size: 12px;
//  color: #000;
//  background: #ccc;
//  border-radius: 14px;
//  -webkit-border-radius: 14px;
//  -moz-border-radius: 14px;
//  text-align: center;
//  cursor: pointer;
//  }
//  .email-position .email-explain-box {
//      display: none;
//      position: absolute;
//      top: -57px;
//      right: -154px;
//      padding: 5px 10px;
//      width: 161px;
//      color: #000;
//      font-size: 12px;
//      background: #fff;
//      border-radius: 14px;
//      -webkit-border-radius: 14px;
//      line-height: 18px;
//  }
//  .email-explain-move:hover .email-explain-box {
//  display: block!important;
//  }
//  /* 列表end */
//
//  /*按钮*/
//  .member-btn {
//      margin: 50px 0 0 99px;
//      clear: both;
//  }
//  .member-btn a {
//      display: inline-block;
//      width: 135px;
//      height: 40px;
//      line-height: 40px;
//      text-align: center;
//      font-size: 17px;
//      cursor: pointer;
//  }
//  .member-btn a.member-submitBtn{
//      color: #630;
//  }
//  .member-btn a.member-cancelBtn{
//      margin-left: 20px;
//      color: #4d4d5f;
//  }
//
//  /*站内信息&记录查询*/
//  .record-query{
//      height: 36px;
//      line-height: 36px;
//      margin-bottom: 28px;
//      margin-top: 20px;
//  }
//  .record-query .record-query-name{
//      float: left;
//      font-size: 16px;
//      color: #20232c;
//  }
//  .record-query .record-query-name.line{
//      margin: 0px 8px;
//  }
//  .record-query .common-query-put{
//      float: left;
//  }
//  .record-query .common-query-put input{
//      display: inline-block;
//      vertical-align: top;
//      height: 36px;
//      line-height: 36px;
//      padding: 0 10px;
//      outline: none;
//      border: 1px solid #224963;
//      background: none;
//      font-size: 16px;
//      color: #999;
//      word-break: break-all;
//      font-size: 14px;
//  }
//  .record-query .message-query-put input{
//      width: 135px;
//  }
//  .record-query .record-query-put input{
//      width: 176px;
//  }
//  .record-query .keyword{
//      width: 133px;
//      display: inline-block;
//      vertical-align: top;
//      height: 36px;
//      line-height: 36px;
//      padding: 0 10px;
//      outline: none;
//      border: 1px solid #224963;
//      background: none;
//      font-size: 14px;
//      color: #999;
//      word-break: break-all;
//      float: left;
//  }
//  .record-query .record-drop{
//      width: 160px;
//      float: left;
//  }
//  .record-query .searchbtn{
//      background: #b37b26;
//      color: #fff;
//      width: 80px;
//      height: 30px;
//      line-height: 30px;
//      border-radius: 3px;
//      text-align: center;
//      float: left;
//      font-size: 14px;
//      cursor: pointer;
//      margin-top: 4px;
//      margin-left: 18px;
//  }
//  .information_radio {
//      margin-left: 30px;
//      height: 30px;
//      margin-top: 10px;
//  }
//  .information_radio label {
//      display: block;
//      float: left;
//      width: 60px;
//      line-height: 30px;
//      font-size: 14px;
//      color: #20232c;
//  }
//  .information_radio input {
//      float: left;
//      margin-top: 7px;
//      margin-right: 5px;
//      width: 16px;
//      height: 16px;
//  }
//  /*---------- 记录查询和站内信息错误提示 ------------------*/
//  .record_query_error{
//      position: relative;
//      top:-30px;
//  }
//  .record_query_error span{
//      position: absolute;
//  }
//  .record_query_error span.tipRecord1{
//      left:47px;
//  }
//  .record_query_error span.tipRecord2{
//      left: 254px;
//  }
//  .record_query_error span.tipRecord3{
//      left: 491px;
//  }
//  .record_query_error span.tipMessage1{
//      left: 46px;
//  }
//  .record_query_error span.tipMessage2{
//      left: 647px;
//  }
//
//  /*站内信息详情*/
//  .details_information table {
//      width: 800px;
//      margin:20px 0 0 20px ;
//      border-left: 1px solid #263745;
//      border-top: 1px solid #263745;
//  }
//  .details_information .delete_btn {
//      background: #d03e1f;
//      width: 80px;
//      height: 32px;
//      line-height: 32px;
//      display: inline-block;
//      text-align: center;
//      color: #dbeefe;
//      font-size: 15px;
//      cursor: pointer;
//  }
//  .details_information table td.w_1 {
//      width: 120px;
//      text-align: center;
//  }
//  .details_information table td.w_2 {
//      padding-left: 20px;
//  }
//  .details_information table td {
//      line-height: 40px;
//      font-size: 14px;
//      color: #435d74;
//      border-right: 1px solid #263745;
//      border-bottom: 1px solid #263745;
//  }
//  .details_information table td.w_word {
//      padding: 20px 20px;
//      line-height: 30px;
//  }
//  .private-details-btn{
//      margin:40px 0 0 250px;
//  }
//  .details_information .back_btn {
//      width: 170px;
//      height: 34px;
//      line-height: 34px;
//      text-align: center;
//      color: #630;
//      font-size: 16px;
//      margin: 0 auto;
//      margin-top: 50px;
//      cursor: pointer;
//      display: inline-block;
//  }
//  .private-messagetable table tr:hover td,.private-messagetable table tr:hover td p{
//      color: red;
//      cursor: pointer;
//  }
//  .private-messagetable table tr.hasSelect td{
//      color: #716340;
//  }
//  /*站内信息详情  end*/
//
//  /*修改密码tab页*/
//  .psd-navs{
//      font-size: 0;
//      margin: 30px 0 0 28px;
//  }
//  .psd-navs li{
//      display: inline-block;
//      font-size: 18px;
//      color:#20232c;
//      width: 146px;
//      height: 30px;
//      line-height: 30px;
//      text-align: center;
//      cursor: pointer;
//      margin-right: 20px;
//      padding-bottom: 5px;
//  }
//  .psd-navs li:last-child{
//      margin-right: 0px;
//  }
//  .psd-navs li:hover,.psd-navs li.on{
//      border-bottom: 3px solid #b37b26;
//  }
//  /*修改密码tab  end*/
//
//
//  /*资金管理*/
//  .account-fund{
//      overflow:hidden;
//      // height: 150px; //展开状态
//      position: relative;
//  }
//  .account-fund li, .fund-transform-ul li {
//      width: 100%;
//      min-height: 42px;
//      line-height: 43px;
//      // border-bottom: solid 1px #451d43;
//      padding-bottom: 6px;
//  }
//  .account-fund li div {
//      width: 315px;
//      height: 42px;
//      float: left;
//  }
//  .account-fund li div span {
//      display: block;
//      float: left;
//  }
//  .account-fund li div span.span1 {
//      width: 130px;
//      height: 100%;
//      margin-left: 34px;
//      font-size: 16px;
//      color: #fff;
//      font-weight: 700;
//      letter-spacing: 2px;
//      text-align: center;
//  }
//  .account-fund li div span.span2 {
//      margin-left: 20px;
//      font-size: 15px;
//      color: #ffe100;
//  }
//  .account-fund li div span.span1 img {
//      max-width: 100%;
//  }
//  .table_guide {
//      overflow: hidden;
//      height: 35px;
//  }
//  .table_guide p {
//      line-height: 35px;
//      font-family: 'PingFang Medium';
//      font-size: 20px;
//      color: #dde5f5;
//      float: left;
//  }
//  .fund-transform {
//      margin-top: 30px;
//      display: none;
//  }
//  .fund-transform .pre-title{
//      border-bottom:none;
//  }
//  .fund-transform-ul li > span {
//      width: 87px;
//      height: 100%;
//      display: block;
//      float: left;
//      margin-left: 48px;
//      font-size: 16px;
//      color: #fff;
//  }
//
//  .fund-transform-select {
//      float: left;
//      /*margin-left: 20px;*/
//      margin-top: 11px;
//      width: 848px;
//  }
//
//  .fund-transform-select div {
//      margin-bottom: 10px;
//      width: 86px;
//      height: 27px;
//      line-height: 27px;
//      float: left;
//      margin-left: 10px;
//      background:hsla(43,12%,88%,.2);
//      text-align: center;
//      /*cursor: pointer;*/
//      transition-duration: 300ms;
//      -webkit-transition-duration: 300ms;
//      -moz-transition-duration: 300ms;
//      -ms-transition-duration: 300ms;
//      -o-transition-duration: 300ms;
//      position: relative;
//      overflow: hidden;
//  }
//
//  .fund-transform-select div a {
//      width: 100%;
//      height: 100%;
//      display: block;
//      position: absolute;
//      top: 0;
//      left: 0;
//      z-index: 2;
//  }
//  .deposit-tab-cont .no-selected-bonus{
//      color: #333;
//      font-size: 14px;
//      float: right;
//      text-decoration: underline;
//      margin-right: 171px;
//  }
//  .click-flase a {
//      cursor: not-allowed;
//      background: rgba(0, 0, 0, 0.5);
//  }
//
//  .fund-transform-select div img {
//      display: block;
//      max-width: 100%;
//      position: absolute;
//      left: 0;
//      transition-duration: 300ms;
//      -webkit-transition-duration: 300ms;
//      -moz-transition-duration: 300ms;
//      -ms-transition-duration: 300ms;
//      -o-transition-duration: 300ms;
//  }
//
//  .fund-transform-select div .bgdeep,
//  .fund-transform-select div.click-flase:hover .bgdeep,
//  .fund-transform-select div.hasblock .bglight,
//  .fund-transform-select div:hover .bglight {
//      top: 0;
//  }
//
//  .fund-transform-select div.hasblock .bgdeep,
//  .fund-transform-select div:hover .bgdeep {
//      top: -26px;
//  }
//
//  .fund-transform-select div .bglight,
//  .fund-transform-select div.click-flase:hover .bglight {
//      top: 26px;
//  }
//
//  .fund-transform-select div.div-1 span {
//      font-size: 14px;
//      font-weight: bold;
//      color: #a6a7a8;
//      position: absolute;
//      left: 0;
//      right: 0;
//      transition-duration: 300ms;
//      -webkit-transition-duration: 300ms;
//      -moz-transition-duration: 300ms;
//      -ms-transition-duration: 300ms;
//      -o-transition-duration: 300ms;
//  }
//
//  .fund-transform-select div:hover, .fund-transform-select div.hasblock {
//      background: rgba(250,250,250,0.8);
//  }
//  .fund-transform-select div:hover, .fund-transform-select div.hasblock img {
//
//  }
//  .fund-transform-select div.click-flase:hover {
//      background: rgba(255, 255, 255, .07);
//  }
//  .input_field.style3{
//      margin-left: 55px;
//      margin-top: 20px;
//      overflow: hidden;
//  }
//
//  .input_field.style3 .input_lf {
//      font-size: 16px;
//      color: rgb(255, 255, 255);
//      float: left;
//      height: 30px;
//      line-height: 30px;
//      margin-right: 10px;
//      font-weight: lighter;
//  }
//  .input_field .input_rt {
//      float: left;
//      /* height: 30px; */
//  }
//  .input_field.style3 .input_rt input {
//      display: inline-block;
//      vertical-align: top;
//      width: 430px;
//      height: 34px;
//      line-height: 34px;
//      padding: 0 10px;
//      outline: none;
//      border: 1px solid #2b3e4d;
//      border-radius: 2px;
//      background: none;
//      font-size: 14px;
//      color: #224963;
//      word-break: break-all;
//  }
//
//
//  .member-fundManage-content{
//      margin-top: 30px;
//  }
//  .fundManage-money-name{
//      font-size: 16px;
//      color: #706e9b;
//      font-weight: bold;
//  }
//  .fund-transform-ul{
//      margin-top: 15px;
//  }
//  .fundManage-cont-balance .fundManage-cont-btn{
//      margin-top: 21px;
//      margin-left: 146px;
//      margin-bottom: 25px;
//  }
//  .account-fund-content{
//      background: rgba(45,45,61,.8);
//      padding: 20px 40px;
//  }
//  .fundManage-bg{
//      overflow: hidden;
//      background: rgba(45,45,61,.8);
//      padding: 15px 0px;
//  }
//  .fund-transform-ul .fundTip{
//      margin-left: 147px;
//      clear: both;
//  }
//  /*----------------- 资金管理end ------------------------------------*/
//
//  /*取款*/
//  .member-withdraw-content{
//      margin-top: 30px;
//  }
//  .withdraw-content .pre-title a.newapply {
//      display: block;
//      font-size: 14px;
//      color: #fff;
//      background: #bc9248;
//      width: 115px;
//      height: 30px;
//      line-height: 30px;
//      border-radius: 3px;
//      text-align: center;
//      float: right;
//      cursor: pointer;
//  }
//  .withdraw-content .pre-title a.newapply i{
//      color: #fff;
//  }
//  .withdraw-content .pre-title a.backIndex {
//      background: #bc9248;
//      display: inline-block;
//      float: right;
//      width: 63px;
//      height: 28px;
//      line-height: 28px;
//      border-radius: 3px;
//      font-size: 12px;
//      color: #fff;
//      text-align: center;
//      cursor: pointer;
//  }
//  .withdraw-content .pre-title a.backIndex i.backIndex-text{
//      color: #fff;
//      background-size: 13px 13px;
//      background-position: 0px center;
//      padding-left: 17px;
//  }
//  .withdraw_index table tbody tr td span {
//      color: #d11c1c;
//  }
//  .withdraw_index table tbody tr td span.cancelapply {
//      color: #3377a8;
//      cursor: pointer;
//      text-decoration: underline;
//  }
//  .withdraw_method .washcode span, .withdraw_method .washcode b, .withdraw_method .washcode i, .withdraw_method .washcode em, .withdraw_method .washcode a, .bankinfor i, .bankinfor a, .withTotal span, .withTotal input {
//      display: inline-block;
//      font-size: 16px;
//      color: #20232c;
//      font-style: normal;
//      line-height: 36px;
//      font-weight: normal;
//  }
//  .withdraw_method .washcode i {
//      color: #a50922;
//      margin-left: 20px;
//  }
//  .withdraw_method .bankinfor i{
//      color: #20232c;
//  }
//  .withdraw_method .washcode em {
//      font-size: 14px;
//      color: #c33939;
//  }
//  .withdraw_method .washcode a, .bankinfor a {
//      color: #b37b26;
//      text-decoration: underline;
//  }
//
//  .bankinfor img{
//      vertical-align: middle;
//      margin: -2px 5px 0 0;
//      display: none;
//  }
//  .withdraw_list b {
//      display: block;
//      font-size: 14px;
//      color: #c33939;
//      font-weight: normal;
//      line-height: 36px;
//      margin-left: 110px;
//  }
//  .member-withdraw-content .withdraw-content .table_block{
//      padding-right: 0px;
//  }
//  .withDraw-tableCon{
//      max-height: 747px;
//      overflow: hidden;
//      position: relative;
//      padding-right: 20px;
//  }
//  .member-withdraw-content .withdraw-content .table_block table td a.hasblock{
//      color: #86652b;
//  }
//  .withdraw_list .member-personal-com .member-percom-name{
//      font-size: 16px;
//      color: #20232c;
//  }
//  /*-------- 存款 ----------*/
//  .deposit-navs {
//      font-size: 0;
//      margin: 30px 0 0 0px;
//  }
//  .deposit-navs li {
//      display: inline-block;
//      font-size: 18px;
//      color: #20232c;
//      width: 146px;
//      height: 30px;
//      line-height: 30px;
//      text-align: center;
//      cursor: pointer;
//      margin-right: 20px;
//      padding-bottom: 5px;
//  }
//  .deposit-navs li:last-child{
//      margin-right: 0px;
//  }
//  .deposit-navs li.on,.deposit-navs li:hover {
//      border-bottom: 3px solid #b37b26;
//  }
//  .deposit-tab-cont >p {
//      font-size: 16px;
//      color: #25424b;;
//      line-height: 24px;
//      margin-bottom: 10px;
//      margin-top: 62px !important;
//      text-align: left;
//  }
//  //选择最佳优惠
//  .active_list {
//      overflow: hidden;
//      margin-top: 40px;
//      font-size: 0;
//      text-align: center;
//  }
//
//  .active_list li {
//      width: 400px;
//      height: 117px;
//      display: block;
//      float: left;
//      margin: 0px 60px 50px 0px;
//      position: relative;
//      cursor: pointer;
//      overflow: hidden;
//      background-color: #00000029;
//      text-align: left;
//  }
//  .active_list li:nth-child(2n){
//      margin-right:0px;
//  }
//  .active_list li.first_li {
//      margin-left: 0;
//  }
//  .active_list li img {
//      width: 220px;
//      height: 100%;
//      float: left;
//  }
//  .active_list li p.p_2 {
//      width: 400px;
//      height: 30px;
//      line-height: 30px;
//      text-align: center;
//      font-size: 16px;
//      color: #fff;
//      display: -webkit-box;
//      text-overflow: ellipsis;
//      -webkit-line-clamp: 1;
//      -webkit-box-orient: vertical;
//      overflow: hidden;
//      word-break: break-all;
//      background: #dfab19;
//      position: absolute;
//      left: 4px;
//      bottom: -30px;
//      transition-duration: 500ms;
//      -webkit-transition-duration: 500ms;
//      -moz-transition-duration: 500ms;
//      -ms-transition-duration: 500ms;
//      -o-transition-duration: 500ms;
//      font-family: 'PingFang Regular';
//  }
//  .active_list li i {
//      width: 392px;
//      height: 291px;
//      display: block;
//      border: 4px solid #dfab19;
//      position: absolute;
//      top: 0;
//      left: 0;
//      opacity: 0;
//      filter: alpha(opacity=0);
//      -moz-opacity: 0;
//      -khtml-opacity: 0;
//      transition-duration: 500ms;
//      -webkit-transition-duration: 500ms;
//      -moz-transition-duration: 500ms;
//      -ms-transition-duration: 500ms;
//      -o-transition-duration: 500ms;
//  }
//  .pub_btn_both.style4 {
//      margin: auto;
//      margin-top: 50px;
//      text-align: center;
//      font-size: 0;
//  }
//
//  .pub_btn_both.style4 a.btn1 {
//      display: inline-block;
//  }
//
//  .active_list li:hover p, .active_list li.hasblock p.p_2 {
//      bottom: 0;
//  }
//
//  .active_list li:hover i, .active_list li.hasblock i {
//      opacity: 1;
//      filter: alpha(opacity=100);
//      -moz-opacity: 1;
//      -khtml-opacity: 1;
//  }
//  .active_list li div.text-box{
//      margin-left: -220px;
//      font-size: 14px;
//      color: #9b9daf;
//      transition-duration: 500ms;
//      -webkit-transition-duration: 500ms;
//      -moz-transition-duration: 500ms;
//      -ms-transition-duration: 500ms;
//      -o-transition-duration: 500ms;
//  }
//  .active_list li div.text-box p{
//      margin: 8px 2px 8px 460px;
//      font-size: 14px;
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//  }
//  .active_list li:hover .text-box, .active_list li.hasblock .text-box {
//      color: #333;
//  }
//  .deposit-tab-cont{
//      text-align: center;
//  }
//  .deposit-tab-cont .enterbtn {
//      width: 118px;
//      height: 38px;
//      line-height: 38px;
//      text-align: center;
//      margin: 0 auto;
//      margin-top: 32px;
//      cursor: pointer;
//      font-size: 15px;
//      color: #630;
//      font-weight: 700;
//      display: inline-block;
//      margin-right: 30px;
//  }
//  .deposit-tab-cont .enterbtn:last-child{
//      margin-right: 0px;
//  }
//
//  .deposit-discount .current_discount {
//      padding: 20px 0 30px;
//  }
//  .deposit-discount .current_discount span, .deposit-discount .current_discount b, .deposit-discount .current_discount a {
//      display: inline-block;
//      vertical-align: top;
//      font-size: 16px;
//      color: #20232c;
//      line-height: 31px;
//  }
//  .deposit-discount .current_discount b {
//      color: #b37b26;
//      margin-right: 20px;
//      cursor: pointer;
//      font-weight: normal;
//      text-decoration: underline;
//  }
//  .deposit-discount .current_discount a.rectangle {
//      font-size: 12px;
//      background: #b37b26;
//      color: #fff;
//      width: 58px;
//      height: 27px;
//      line-height: 28px;
//      text-align: center;
//      display: inline-block;
//      margin-left: 30px;
//      cursor: pointer;
//  }
//  .onlinepay .personal-list .active-list{
//      clear: both;
//  }
//  .onlinepay .personal-list .active-list p{
//      font-size: 14px;
//      color: #bbb;
//      margin-left: 100px;
//  }
//  //在线支付
//  .onlinepay .paytype {
//      height: 40px;
//      line-height: 40px;
//      margin-left: 59px;
//  }
//  .pay_select {
//      height: 40px;
//      line-height: 40px;
//      margin-left: 120px;
//      margin-top: 20px;
//  }
//  .pay_select li.li_sel {
//      font-size: 16px;
//      color: #20232c;
//      float: left;
//      margin-right: 20px;
//      background-size: 15px 15px;
//      background-position: 0 8px;
//      padding-left: 22px;
//      vertical-align: 2px;
//      cursor: pointer;
//      line-height: 30px;
//  }
//  .pay_select li.li_sel.hasblock {
//      background-size: 15px 15px;
//      background-position: 0 8px;
//  }
//
//  .pay_select .li_bank {
//      width: 128px;
//      height: 26px;
//      float: right;
//      margin-left: 12px;
//      margin-top: 2px;
//  }
//  .pay_select .li_bank img {
//      width: 100%;
//      height: 100%;
//  }
//  // .pay_set span.on {
//  // }
//  .onlinepay .personal-list{
//      padding-bottom: 50px;
//      margin-left: 85px !important;
//  }
//  .onlinepay .personal-list .member-personal-com .member-percom-name{
//      font-size: 16px;
//  }
//  .onlinepay .personal-list .member-personal-com .member-percom-putBox input{
//      background: #fff;
//      border: none;
//      box-shadow: inset 1px 1px 2px #bbbaba;
//  }
//
//  //公司入款
//  .com_income .cominfor {
//      width: 340px;
//      overflow: hidden;
//      float: left;
//      margin-left: 0px !important;
//  }
//  .com_income .cominfor{
//      width: 340px;
//      overflow: hidden;
//      float: left;
//  }
//  .com_income .cominfor span{
//      display: block;
//      font-size: 16px;
//      color: #20232c;
//      line-height: 35px;
//  }
//  .com_income .cominfor i{
//      color: #20232c;
//  }
//  .com_income .cominfor span b,.com_income .cominfor span i{
//      font-style: normal;
//      font-size: 16px;
//      color: #20232c;
//  }
//  .com_income .cominfor em{
//      display: block;
//      font-style: normal;
//      font-size: 14px;
//      line-height: 24px;
//      color: #216fa6;
//  }
//  .transfer_tip {
//      width: 385px;
//      float: right;
//      padding-bottom: 20px;
//  }
//  .transfer_tip p.p_1 {
//      font-size: 14px;
//      color: #8e2323;
//      margin-bottom: 14px;
//  }
//  .transfer_tip .p_2 {
//      width: 450px;
//      border-radius: 6px;
//      -webkit-border-radius: 6px;
//      margin-top: 10px;
//  }
//  .transfer_tip .p_2 p {
//      font-size: 12px;
//      color: #666;
//      margin-bottom: 8px;
//  }
//  .remittanceAcct-content{
//      background: hsla(0,0%,100%,.3);
//      padding: 30px 62px;
//      overflow: hidden;
//  }
//  .member-percom-putBox .depositTime input{
//      width: 190px;
//      height: 36px;
//  }
//  .member-percom-putBox .time_font{
//      float: left;
//      margin: 0px 8px;
//  }
//  .member-percom-putBox .deposit-drop{
//      width: 99px;
//      float: left;
//  }
//  .member-percom-putBox .remittance-drop{
//      margin-bottom: 15px;
//      width: 452px;
//  }
//  .pay_set{
//      overflow: hidden;
//      margin-top: 6px;
//  }
//  .pay_set span{
//      margin-right: 20px;
//      display: block;
//      background-size: 15px 15px;
//      background-position: 0 6px;
//      padding-left: 22px;
//      cursor: pointer;
//      text-align: left;
//      width: auto;
//      font-size: 14px;
//      color: #333;
//      float: left;
//      line-height: 27px;
//  }
//  .pay_set span.on {
//      background-size: 15px 15px;
//      background-position: 0 6px;
//  }
//  .payWay-cont-tab{
//      text-align: center;
//      margin-top: 40px;
//  }
//  .payWay-cont-tab a{
//      display: inline-block;
//      margin-right: 78px;
//  }
//  .payWay-cont-tab a img{
//      width: 190px;
//      height: auto;
//  }
//  .blue_sm.blue_sm_mode{
//      text-align: center;
//      width: 95px;
//      background: #b37b26;
//      color: #fff;
//      font-size: 14px;
//      height: 30px;
//      line-height: 30px;
//      border-radius: 2px;
//      cursor: pointer;
//      float: right;
//  }
//
//
//
//
//
//  /*会员等级*/
//  .member-cont-main .pre-title a.member-return{
//      display: block;
//      width: 107px;
//      height: 26px;
//      margin-right: 30px;
//  }
//  .section-level{
//  }
//  .section-level .level-coordinate{
//      width: 20px;
//      height: 28px;
//      position: relative;
//      top: -4px;
//      left: 665px;
//      display: block;
//  }
//  .section-level .level-icon{
//      width: 24px;
//      height: 15px;
//      position: relative;
//      top: -3px;
//      left: 653px;
//      display: block;
//      z-index: 111111111;
//  }
//  .section-level .level-line{
//      width: 626px;
//      height: 10px;
//      position: relative;
//      z-index: 22;
//      top: -15px;
//      left: 30px;
//      padding-left: 30px;
//  }
//  .section-level .level-line-light{
//      width: 782px;
//      height: 10px;
//      position: relative;
//      top: -25px;
//      left: 30px;
//      z-index: 3;
//  }
//  .section-level dl{
//      width: 100%;
//      margin-top: -20px;
//  }
//  .section-level dl dd{
//      text-align: center;
//      float: left;
//      font-size: 14px;
//      line-height: 26px;
//      color: #ffae00;
//      width: 75px;
//      margin-right: 16px;
//      font-weight: normal;
//      position: relative;
//  }
//  .section-level dl dd b{
//      font-weight: normal;
//      color: #a6a6a6;
//  }
//  .section-level dl dd i{
//      background: #fff;
//      width: 1px;
//      height: 10px;
//      position: absolute;
//      top: -15px;
//      z-index: 1111111;
//  }
//  .member-surface >h3{
//      color: #9088c5;
//      font-size: 18px;
//  }
//  .member-surface >p {
//      margin-top: 10px;
//      color: #706e9b;
//      font-size: 16px;
//      line-height: 22px;
//      letter-spacing:1px;
//  }
//  .member-tabs {
//      width: 100%;
//      border-bottom: 1px solid #49494e;
//      border-left: 1px solid #49494e;
//  }
//  .member-tabs th {
//      color: #9088c5;
//      background: rgba(162,174,181,.1);
//  }
//  .member-tabs th, .member-tabs td {
//      border: 1px solid #3d2452;
//      padding: 12px 0;
//      font-size: 16px;
//      text-align: center;
//      border-bottom: none;
//      border-left: none;
//  }
//  .member-tabs td {
//      color: #706e9b;
//      font-size: 14px;
//  }
//
//  /*会员等级  end*/
//
//  /*微信&支付宝*/
//  .pay_con {
//      height: 1267px;
//  }
//  .pay_box {
//      width: 1150px;
//      margin: 0 auto;
//      padding-top:50px ;
//  }
//  .pay_logo {
//      width: 205px;
//      height: 78px;
//      display: block;
//  }
//  .pay-content {
//      height: 945px;
//      margin-top:15px;
//  }
//  .pay_block1,.pay_block2 {
//      width: 1070px;
//      margin: auto;
//
//  }
//  .pay_block1 >div{
//      padding: 40px 0 20px;
//      border-bottom: 1px solid #5a376d;
//  }
//  .order_msg p {
//      line-height: 26px;
//  }
//  .order_msg p.p_1 {
//      font-size: 16px;
//      color: #3682b1;
//      font-weight: bold;
//      margin-bottom: 6px;
//  }
//  .order_msg p.p_2 {
//      font-size: 14px;
//      color: #817eb8;
//  }
//  .pay_sum {
//      font-size: 12px;
//      color: #feb741;
//      margin-top: 20px;
//  }
//  .pay_sum em {
//      font-size: 24px;
//  }
//  .pay_style li {
//      width: 100%;
//      height: auto;
//      min-height: 59px;
//      overflow: hidden;
//      padding-bottom: 30px;
//      margin-top: 40px;
//  }
//  .pay_style li:first-child {
//      border-bottom: 1px solid #5a376d;
//  }
//  .pay_style li img {
//      display: block;
//      margin: auto;
//  }
//  .pay_style li p.p_1 {
//      font-size: 16px;
//      color: #817eb8;
//      text-align: center;
//      margin-top: 10px;
//  }
//
//  /*微信&支付宝  end*/
//
//  //尾部
//  .member-wrapper .footer{
//      display: none;
//  }
//  .member-cont-main .withDraw-title{
//      border-bottom:none;
//  }
//
//  .payway-methods .payTip{
//      margin-top: -7px;
//      margin-left: 122px;
//  }
//  .member-personal-com .remittanTip{
//      display: block;
//      margin-top: -11px;
//      margin-bottom: 15px;
//  }
//
//  /*2019.01.31 SeyoChen*/
//  .qrcode_msg {
//      margin-top: 60px;
//  }
//  .qrcode_msg li{
//      float: left;
//      width: 300px;
//      margin-left: 85px;
//      text-align: center;
//  }
//  .qrcode_msg li img{
//      display: block;
//      margin: 10px auto;
//      width: 200px;
//      height: 200px;
//      border: 1px solid #fff;
//  }
//  .qrcode_msg li p{
//      margin: 30px 0;
//      font-size: 16px;
//      color: #b37b26;
//  }
//
//  .qrcode_only_msg li{
//      float: none;
//      margin: 0 auto;
//      width: auto;
//  }
//  .qrcode_only_msg li:first-child{
//      margin-right: 0;
//  }
//
//  .com_income .table_guide {
//      padding-top: 12px;
//  }
//  .com_income .table_guide p{
//      font-size: 16px;
//      color: #3e341f;
//      line-height: 35px;
//      margin-left: 32px;
//  }
//
//
//  .bank_pay_box{
//      margin: 250px auto;
//      /* background: #364d8d; */
//  }
//  .bank_pay_box p{
//      margin-bottom: 20px;
//      font-size: 20px;
//      color: #fff;
//      text-align: center;
//  }
//  .bank_pay_box .btn1{
//      display: inline-grid;
//      margin: 0 50px;
//      cursor: pointer;
//  }
//
//  .qrcode_msg_img{
//      position: relative;
//      width: 202px;
//      height: 202px;
//      margin: 20px auto;
//  }
//  .qrcode_msg_img p{
//      position: absolute;
//      bottom: -30px;
//      margin: 0!important;
//      width: 100%;
//      height: 30px;
//      line-height: 30px;
//      font-size: 16px;
//      color: #fff!important;
//      background: rgba(0,0,0,.5);
//      text-align: center;
//  }
//
//  /*2019.01.31 SeyoChen end*/
//
//  .member-logo{
//      text-align: center;
//  }
//  .member-logo .router-link-active{
//      width: 170px;
//      height: 151px;
//      display: inline-block;
//      background: url('/static/images/Customer/LOGO-34.png') no-repeat;
//      background-size: 100% 100%;
//  }
//  .member-personal-com .bank-tip{
//      display: block;
//      margin-top: -11px;
//      margin-bottom: 15px;
//  }
//
//  .member-cont-nav .rightNow-recharge{
//      display: none;
//  }
//  .member-cont-nav .member-recharge-money{
//      padding: 0px 16px;
//  }
//  .m1-reMoney{
//      font-size: 18px;
//      color: #fff;
//      overflow: hidden;
//      padding: 10px 38px;
//      margin-top: 38px;
//  }
//  .m1-reMoney img{
//
//  }
//  .m1-reMoney span{
//      float: right;
//      display: inline-block;
//      color: #fff;
//      background: #d7242d;
//      width: 80px;
//      height: 26px;
//      line-height: 26px;
//      border-radius: 4px;
//      font-size: 14px;
//      box-shadow: 1px 3px 5px rgba(0,0,0,.6);
//      text-align: center;
//      cursor: pointer;
//  }
//  .m2-reMoney{
//      clear: both;
//      font-size: 30px;
//      color: #fff;
//      text-align: center;
//      margin-top: 3px;
//  }
//
//
//  //2019.04.09
//  .personal-info-content{
//      color: #20232c;
//      font-size: 16px;
//      padding-top: 30px !important;
//  }
//  .personal-info-content h2{
//      font-size: 16px;
//      height: 28px;
//      line-height: 28px;
//  }
//  .personal-info-pandect,.personal-info-grade,.personal-info-member{
//      float: left;
//  }
//  .personal-info-pandect h2{
//      margin-bottom: 20px;
//  }
//
//  .personal-info-grade h2{
//      margin-bottom: 14px;
//  }
//  .personal-info-grade h2 span{
//      margin-left: 10px;
//  }
//  .personal-info-pandect .p1-text{
//      line-height: 32px;
//  }
//  .grade-schedule-name{
//      float: left;
//  }
//  .grade-schedule-item{
//      float: left;
//  }
//  .grade-schedule-item .p2-text{
//      font-size: 12px;
//      line-height: 23px;
//  }
//  .grade-schedule-item .p2-text .p2-text-name{
//      width: 67px;
//      display: inline-block;
//      text-align: right;
//      margin-right: 12px;
//  }
//  .grade-schedule-item .p2-text .p2-text-bar{
//      width: 114px;
//      height: 7px;
//      border-radius: 4px;
//      display: inline-block;
//      background: #fff;
//      position: relative;
//      //background: linear-gradient(to right, #ef372a 0%,#fac625 100%);
//  }
//  .grade-schedule-item .p2-text .p2-text-bar .schedule{
//      position: absolute;
//      left: 0px;
//      top:0px;
//      height: 7px;
//      border-radius: 4px;
//      display: inline-block;
//      background: linear-gradient(to right, #ef372a 0%,#fac625 100%);
//  }
//  .grade-schedule-item .p2-text .p2-text-bar .schedule-text{
//      position: absolute;
//      left: 0px;
//      top:0px;
//      color: #fff;
//      font-size: 12px;
//      display: none;
//  }
//  .grade-schedule-item .p2-text .p2-text-bar .schedule-w1{
//      width: 20%;
//  }
//  .grade-schedule-item .p2-text .p2-text-bar .schedule-w2{
//      width: 20%;
//  }
//  .grade-schedule-item .p2-text .p2-text-bar .schedule-w3{
//      width: 20%;
//  }
//
//  .personal-info-member h2{
//      margin-bottom: 11px;
//  }
//  .personal-info-member h2 span{
//      background: #b37b26;
//      display: inline-block;
//      width: 74px;
//      height: 28px;
//      line-height: 28px;
//      border-radius: 2px;
//      text-align: center;
//      color: #fff;
//      font-size: 14px;
//      margin-left: 26px;
//      vertical-align: middle;
//      cursor: pointer;
//  }
//  .personal-info-member .p3-text{
//      font-size: 12px;
//      line-height: 24px;
//  }
//  .personal-info-member .p3-text .span2 span{
//      color: #b37b26;
//  }
//  .personal-info-line{
//      float: left;
//      width: 1px;
//      height: 82px;
//      margin: 15px 57px;
//      background: #c5c5c5;
//  }
//  .personal-info-line img{
//      display: none;
//  }
//  .classification-cont-details{
//      border-top:1px dotted #314250;
//      overflow: hidden;
//      margin: 0px 25px;
//      padding: 20px 0px 40px 0px;
//      margin-top: 35px;
//  }
//  .classification-cont-title{
//      font-size: 18px;
//      color: #b37b26;
//      line-height: 29px;
//  }
//  .classification-cont-title span{
//      width: 74px;
//      height: 29px;
//      line-height: 29px;
//      border-radius: 2px;
//      background: #b37b26;
//      float: right;
//      color: #fff;
//      text-align: center;
//      font-size: 14px;
//      cursor: pointer;
//  }
//  .classification-cont-main{
//      margin-top: 26px;
//  }
//  .classification-cont-lf{
//      float: left;
//  }
//  .classification-cont-lf .p5-text{
//      font-size: 16px;
//      color: #20232c;
//      line-height: 33px;
//      letter-spacing: 2px;
//  }
//  .classification-cont-lf .p5-text-name{
//      width: 181px;
//      text-align: right;
//      display: inline-block;
//      margin-right: 8px;
//  }
//  .classification-cont-lf .p5-text-val{
//      color: #b37b26;
//  }
//  .classification-cont-table{
//      float: right;
//      width: 57%;
//  }
//  .classification-cont-table table{
//      width: 100%;
//      border-left:1px solid #314250;
//      border-top:1px solid #314250;
//      border-collapse: collapse;
//  }
//  .classification-cont-table table tr td{
//      height: 28px;
//      line-height: 28px;
//      color: #435d74;
//      font-size: 14px;
//      text-align: center;
//      border-bottom:1px solid #314250;
//      border-right:1px solid #314250;
//  }
//
//  //查询页面新增原始资料
//  .record_detail_con{
//      float: left;
//      width: 50%;
//  }
//  .details_alert_box .descr_table{
//      width: 800px;
//      margin: 0px 20px;
//      clear: both;
//  }
//  .details_alert_box .descr_table_title{
//      font-size: 16px;
//      color: #4b4b4b;
//      margin-bottom: 12px;
//  }
//  .details_alert_box .descr_table table{
//      width: 100%;
//      border-top: 1px solid #ebebeb;
//      border-left: 1px solid #ebebeb;
//  }
//  .details_alert_box .descr_table table tr{
//      height: 35px;
//      line-height: 35px;
//      border-bottom: none;
//  }
//  .details_alert_box .descr_table table td{
//      height: 35px;
//      line-height: 35px;
//      text-align: center;
//      font-size: 14px;
//      color: #000;
//      border-right: 1px solid #ebebeb;
//      border-bottom: 1px solid #ebebeb;
//  }
//  .details_alert_box .descr_table .descr_table_table{
//      box-shadow: 0px 0px 6px #f1efef;
//      width:80%;
//      margin: 20px 40px;
//  }
//  .details_alert_box .descr_table .descr_table_table table{
//      width: 100%;
//  }
//
//  .active_block{
//      position: relative;
//  }
//  .active_block .deposit_order {
//      display: block;
//      position: absolute;
//      top: 33px;
//      right: 171px;
//      text-align: center;
//      padding: 0 10px;
//      font-size: 14px;
//      line-height: 32px;
//      color: #fff;
//      background: #b37b26;
//      border-radius: 2px;
//      -webkit-border-radius: 2px;
//      min-width: 50px;
//      cursor: pointer;
//  }
//.member-cont-header{
//  display: none;
//}
//
//  .el-dropdown .el-dropdown-selfdefine {
//      color: #000;
//      font-size: 14px;
//  }
//}

.theme34 {
  //个人中心改版（2019/06/05  semi）
  .grade-schedule-name {
    float: left;
  }

  .grade-schedule-item {
    float: left;
  }

  .grade-schedule-item .p2-text {
    font-size: 12px;
    line-height: 23px;
  }

  .grade-schedule-item .p2-text .p2-text-name {
    width: 67px;
    display: inline-block;
    text-align: right;
    margin-right: 12px;
  }

  .grade-schedule-item .p2-text .p2-text-bar {
    width: 114px;
    height: 7px;
    border-radius: 4px;
    display: inline-block;
    background: #fff;
    position: relative;
    //background: linear-gradient(to right, #ef372a 0%,#fac625 100%);
  }

  .grade-schedule-item .p2-text .p2-text-bar .schedule {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 7px;
    border-radius: 4px;
    display: inline-block;
    background: linear-gradient(to right, #ef372a 0%, #fac625 100%);
  }

  .grade-schedule-item .p2-text .p2-text-bar .schedule-text {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    font-size: 12px;
    display: none;
  }

  .grade-schedule-item .p2-text .p2-text-bar .schedule-w1 {
    width: 20%;
  }

  .grade-schedule-item .p2-text .p2-text-bar .schedule-w2 {
    width: 20%;
  }

  .grade-schedule-item .p2-text .p2-text-bar .schedule-w3 {
    width: 20%;
  }
}
