<template>
  <div class="content_position">
    <div class="content">
      <div class="content-layout content-agent top_slide">
        <h2>
          <img
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/agent_t1.png?VersionCode'"
          />
          <!-- <router-link :to = "{name:'webJoinUs'}" class="join_btn">加盟我们</router-link> -->
        </h2>
        <img
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/agent_img1.png?VersionCode'"
          class="agent_img"
        />

        <!--2018.10.26 SeyoChen 合并 代理合作*加盟我们-->
        <img
          class="agent_title"
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/agent_title1.png?VersionCode'"
        />
        <div class="agent_join">
          <join-us-form></join-us-form>
        </div>

        <!-- <img
          class="agent_title"
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+this.$MessageLang+'/agent_title2.png?VersionCode'"
        />
        <p class="agent_join_course">
          {{$t('message.agent_edit_mail')}}
          <b>{{$t('message.agent_real_name')}}</b>
          {{$t('message.agent_sendTo')}}
          <b>{{this.$SiteEmail}}</b>
          。{{$t('message.agent_upon_receipt')}}。
        </p>-->
        <!--2018.10.26 SeyoChen 合并 代理合作*加盟我们 end-->
      </div>
    </div>
  </div>
</template>

<script>
import JoinUsForm from '@/components/sub/agent/JoinUs/joinUsForm';

export default {
  components: {
    JoinUsForm
  }
};
</script>
