<template>
  <div
    class="poker-content"
    :class="'sy' + $VersionNumber + '-poker-wrap' + ' poker_' + $MessageLang"
    :style="{
      background: $BannerPath.Images.PokerBgImages
        ? 'url(' +
          $ResourceCDN +
          '/EditionImg/LamborFormal/images/web25/lang/' +
          $MessageLang +
          $BannerPath.Images.PokerBgImages +
          ')no-repeat'
        : ''
    }"
  >
    <div
      class="poker-content-banner"
      :style="{
        background: $BannerPath.Images.PokerImages
          ? 'url(' + $ResourceCDN + '/EditionImg/LamborFormal/images' + $BannerPath.Images.PokerImages + ')no-repeat'
          : ''
      }"
    >
      <video
        v-if="$BannerPath.Video.PokerVideo"
        :class="'sy' + $VersionNumber + '-poker-video'"
        :src="$ResourceCDN + $BannerPath.Video.PokerVideo"
        class="poker-content-video"
        autoplay="autoplay"
        width="1920"
        loop="loop"
        muted
      ></video>
      <!-- <video
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/lottery.mp4'"
        class="poker-content-video sy28-poker-video"
        autoplay="autoplay"
        width="100%"
        height="1000"
        loop="loop"
        muted
      ></video>-->
    </div>
    <div class="poker-logo-page" :class="'poker-logo-page' + $VersionNumber">
      <div class="poker-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <div class="poker-main-content">
        <div class="poker-logo-top">
          <h2>{{ $t("message.nav_poker") }}</h2>
          <p>POKER GAMES</p>
        </div>
        <!-- <ul class="poker-logo-lists poker-reversal clearfix" id="poker-logo-lists">
          <li class="poker-logo-li" v-for="(list,index) in this.PoKerList" :key="index">
            <div class="rotate-before">
              <i class="game-maintain" :class="'maintain_box_'+$MessageLang" v-if="list.GameTypeState == 703"></i>
              <i class="icon-flower flower1"></i>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
              <div class="rotate-word">
                <p>{{list.Introduction}}</p>
                <span>{{list.Eng_Introduction}}</span>
              </div>
              <i class="icon-flower flower2"></i>
            </div>
            <div class="rotate-after">
              <a
                class="rotate-play"
                href="javascript:void(0);"
                v-if="list.GameTypeState != 703"
                @click="PlayGame(list);"
              >{{$t('message.live_start_game')}}</a>
              <a class="rotate-play-no" v-else>{{$t('message.live_line_upkeep')}}</a>
            </div>
            <div class="video_cover" style="display: none;">
              <div>
                <p>{{$t('message.live_expect')}}</p>
                <span>IN MAINTENANCE</span>
              </div>
            </div>
          </li>
        </ul>-->
        <ul class="poker-logo-lists poker-common clearfix">
          <!-- 普通棋牌游戏 -->
          <li class="poker-logo-li" v-for="(list, index) in this.PoKerList" :key="index">
            <i class="game-maintain" :class="'maintain_box_' + $MessageLang" v-if="list.GameTypeState == 703"></i>
            <a @click="PlayGame(list)">
              <img :src="$ResourceCDN + '/PartnerLogo/bgdeep/v-logo' + list.GameApiNo + '.png'" />
            </a>
          </li>
        </ul>
        <ul class="poker-logo-lists poker-KingLong clearfix" id="poker_box">
          <!-- 金龙棋牌游戏 -->
          <li class="poker-logo-li" v-for="(list, index) in this.KingPoKerList" :key="index">
            <i class="game-maintain" :class="'maintain_box_' + $MessageLang" v-if="list.GameTypeState == 703"></i>
            <a @click="PlayKingGame(list)">
              <img :src="$ResourceCDN + '/PartnerLogo/bgdeep/v-logo' + list.GameApiNo + '.png'" />
            </a>
          </li>
        </ul>
        <poker-content
          ref="pokerContent"
          :pageSize="pageSize"
          :PageCount="PageCount"
          @PlayGame="PlayGame"
        ></poker-content>
        <!-- <footer class="poker-logo-footer"></footer> -->
      </div>
    </div>
  </div>
</template>

<script>
import { poker } from "@/mod/k06/assets/scripts/comTest/main/poker/poker.js"
import { PokerKingLong } from "@/assets/scripts/comTest/main/poker/pokerKingLong.js"
export default {
  mixins: [poker, PokerKingLong]
}
</script>
