<template>
  <div
    id="SystemNotifyWindow"
    class="pub_alert_box copy_alert_box"
    style="display:none;z-index:10002"
  >
    <!--7版特有-->
    <div class="seven_popup">
      <div class="descr_title no_line clearfix">
        <a class="icon_close" href="javascript:void(0);" @click="WebCloseMessage()"></a>
      </div>
      <div class="descr_p">
        <p class="p_blue">{{NotifyObj.NotifyMessage}}</p>
        <p>{{NotifyObj.NotifySubMessage}}</p>
      </div>
      <div class="alert_btn_both">
        <a class="btn1" href="javascript:void(0);" @click="WebCloseMessage()">
          <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data () {
    return {
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined
      }
    };
  },
  created: function () {
    const self = this;
    // 断线后弹出提示 20190726 SeyoChen
    EventBus.$on('SignalR_DisConnectServer', () => {
      self.DisConnectServer();
    });
    // 断线后弹出提示 20190726 SeyoChen end
    EventBus.$on('SignalR_DisableMember', () => {
      self.DisableMember();
    });
    EventBus.$on('SignalR_Kick_By_OtherBrowser', () => {
      self.Kick_By_OtherBrowser();
    });
  },
  methods: {
    // signalr停用玩家
    DisableMember: function () {
      localStorage.removeItem('Token');
      localStorage.removeItem('Acct');
      this.NotifyObj.NotifyMessage = this.$t(
        'message.member_account_discontinuation'
      );
      CommUtility.WebShowUniqueForm('SystemNotifyWindow');

      // 处于游戏状态时关闭游戏窗口 2019.03.25
      CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
    },
    // signalr後踢前
    Kick_By_OtherBrowser: function () {
      localStorage.removeItem('Token');
      localStorage.removeItem('Acct');
      this.NotifyObj.NotifyMessage = this.$t('message.member_repeated_login');
      CommUtility.WebShowUniqueForm('SystemNotifyWindow');
    },
    // 關閉視窗
    WebCloseMessage: function () {
      // 回首页前清空个人中心代理中心左侧导航值 2019.07.12 ququ
      this.$store.dispatch('setAgencyNameText', '');
      this.$store.dispatch('setSwitchNameText', '');
      window.location.href = '/';
    }
  },
  beforeDestroy () {
    EventBus.$off('SignalR_DisableMember');
    EventBus.$off('SignalR_Kick_By_OtherBrowser');
  }
};
</script>
