//@ResourceURL: "http://wowza211.cdn1.chinacache.woooow/LamborSummary/EditionImg/Lambor7.0/images";

// sever
.service-list-box .qq_list li a {
}
.service-jiao {
}

.service-list-box .qq_list li.last_li a{
}
// sever end

// partnerLogo

//.logoPage{
//  background: url("@{ResourceCDNUrl}/web/public/logo-frame.png")no-repeat;
//}
// partnerLogo end

// logo-page

.number-page-btn {
}

.number-page-right {
}

// logo-page end

// index

// index end

// video
.video_con{
}
// video end

// electronic

.computer_con{
}
.c-g-content {
}
.cg-game-menu a span{
}

// electronic end

// sport

.sports_con{
}

// sport end

// lottery

.lottery_con {
}

// lottery end

// news

.news_con {
    height: 1267px;
}

// news end

// activity

.activity_details_con {
}
.a-n-content .anbtn {
}
.activity_con .banner .actbtn{
}

// activity end

// tutorial

//.tutorial_left_navs li a i.skill_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill1.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_1,.tutorial_left_navs li.on a i.skill_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon1.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill2.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_2,.tutorial_left_navs li.on a i.skill_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon2.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill3.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_3,.tutorial_left_navs li.on a i.skill_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon3.png")no-repeat;
//}
//.tutorial_left_navs li a i.skill_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill4.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.skill_icon_4,.tutorial_left_navs li.on a i.skill_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/skill-icon4.png")no-repeat;
//}
//.tutorial-inside .tutorial-text h2{
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/title.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem1.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_1,.tutorial_left_navs li.on a i.problem_icon_1 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon1.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem2.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_2,.tutorial_left_navs li.on a i.problem_icon_2 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon2.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem3.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_3,.tutorial_left_navs li.on a i.problem_icon_3 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon3.png")no-repeat;
//}
//.tutorial_left_navs li a i.problem_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem4.png")no-repeat;
//}
//.tutorial_left_navs li a:hover i.problem_icon_4,.tutorial_left_navs li.on a i.problem_icon_4 {
//  background: url("@{ResourceCDNUrl}/web/beginnerTutorial/problem-icon4.png")no-repeat;
//}

// tutorial end

// mobileApp

.mobile-main .wordbtn b {
}
.mobile-main .mobile-text .mt-join a{
}

// mobileApp end

// aboutUs

.about_con{
}

// aboutUs end

// partner

.introduct_con{
}

// partner end

// agent

.agent_con{
}
.agent-content >h2 a {
}

// agent end

// Join

.agent_join_con{
}

.agent_join_content .agent_join_main{
}
.a-j-lists .proxy-line i {
}
.a-j-cont .a-c-submit {
}

// Join end

// freetral



// freetral end

// h5

.H5_con{
}

.H5-content .H5-main {
}

// h5  end

// login&register

//.l_r_con{
//  background: url("@{ResourceCDNUrl}/web/public/bg.png");
//}
//.l_r_main{
//  background: url("@{ResourceCDNUrl}/web/loginRegister/frame.png")no-repeat top center;
//}
//.l_r_main .lrbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/loginbtn.png")no-repeat top center;
//}
//.register-content h4 i.current {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/gougou.png")no-repeat center;
//}
//.register-content .regiserbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/rebrn.png")no-repeat top center;
//}
//.agreement-content .back_register {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/pro-return.png")no-repeat top center;
//}
//.success-centent .successbtn {
//  background: url("@{ResourceCDNUrl}/web/loginRegister/return.png")no-repeat top center;
//}

// login&register  end
