<template>
  <div class="active_banner activity-page-banner">
    <!-- <video src="" autoplay="autoplay" width="100%" loop="loop" muted></video> -->
    <!-- <a href="javascript:void(0);" class="swiper-button-next banner_arrow_btn banner_prev"></a>
    <a href="javascript:void(0);" class="swiper-button-prev banner_arrow_btn banner_next"></a>-->
    <div>
      <div class="bd" style="position: relative; width: 100%; height: 470px;top:90px">
        <div class="errorImg-con" v-if="LoadMainPageDataModel.BannerActivityList.length==0">
          <img
            :src="this.$ResourceCDN + '/Customized/VVN/images/index/bannerDefault.png?VersionCode'"
          />
        </div>
        <div class="swiper-container1" style="width: 100%; height: 470px;" v-else>
          <!-- <ul class="swiper-wrapper">
            <li class="swiper-slid" v-for="(Item,index) in LoadMainPageDataModel.BannerActivityList" :key="index">
              <a @click="UrlRedirectDetail(Item);">
                <img class="pic" :src="Item.ActLogo" onerror=''/>
              </a>
            </li>
          </ul>-->
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="(Item,index) in LoadMainPageDataModel.BannerActivityList"
              :key="index"
            >
              <a style="display:block" @click="$parent.UrlRedirectDetail(Item);">
                <img class="pic" :onerror="defaultImg" :src="Item.ActLogo" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_point swiper-pagination">
        <!-- <a href="javascript:void(0);" v-for="Item in LoadMainPageDataModel.BannerActivityList"></a> -->
      </div>
    </div>
  </div>
</template>

<script>
import { HomeBanner } from '@/mod/k03/assets/scripts/comTest/main/index/sy25/homeBanner.js'

export default {
  mixins: [HomeBanner]
}
</script>
