<template>
  <!--忘記密碼彈窗-->
  <div
    id="informationForm"
    class="pub_alert_box tel_alert_box re_h"
    style="display: none;padding-bottom:20px;"
  >
    <!--7版特有-->
    <div class="seven_popup">
      <form name="InformationForm" novalidate="novalidate">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p
            style="font-size: 18px; line-height: 38px;"
            class="p_blue"
          >{{$t('message.agent_apply_for')}}!</p>
          <p>
            {{$t('message.agent_application_message')}}
            <br />
            {{$t('message.agent_data_audit')}}
          </p>
        </div>
        <div class="alert_btn_both">
          <a class="btn1" href="javascript:void(0);" @click="CloseWindow()">
            <i class="comAlertBtn">{{$t('message.agent_home_page')}}</i>
          </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';

export default {
  methods: {
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('informationForm');
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('informationForm');
      this.$router.push({ name: 'Index' });
    } // end CloseWindow
  }
};
</script>
