.theme25 {
    * {
        padding: 0;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        /*-webkit-appearance: none;*/
    }

    ol,
    ul,
    li {
        list-style: none
    }

    textarea {
        overflow: auto;
        vertical-align: top;
        resize: none;
    }

    button,
    input,
    select,
    textarea {
        font-size: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    a {
        color: #7b7a7b;
        text-decoration: none;
        cursor: pointer;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        background: #000;
    }

    .fl,
    .pull-left {
        float: left;
    }

    .fr,
    .pull-right {
        float: right;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .clearfix {
        *zoom: 1;
    }

    img {
        margin: 0;
        padding: 0;
        border: none;
    }

    p {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    i,
    em {
        font-style: normal;
    }

    .diinline {
        display: inline-block;
    }

    .wrap {
        // width: 1900px;
        max-width: 1920px;
        min-width: 1720px;
        margin: auto;
        height: auto;
        min-height: 100%;
        position: relative;
        // z-index: 1;
    }

    .rows {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    //------------------------- 个人中心共用部分样式 -----------------------------------------------------------------
    //.header, .footer, .section{
    //  width: 100%;
    //  min-width: 1400px;
    //  position: relative;
    //}
    .bg {
        background-position: center top;
        background-repeat: no-repeat;
    }

    .mr_t40 {
        margin-top: 40px !important;
    }

    .mr_t10 {
        margin-top: 10px !important;
    }

    .mr_t20 {
        margin-top: 20px !important;
    }

    .mr_t30 {
        margin-top: 30px !important;
    }

    .mr_t50 {
        margin-top: 50px !important;
    }

    .mr_t80 {
        margin-top: 80px !important;
    }

    .mr_l10 {
        margin-left: 10px !important;
    }

    .mr_l20 {
        margin-left: 20px !important;
    }

    .mr_l30 {
        margin-left: 30px !important;
    }

    .mr_l50 {
        margin-left: 50px !important;
    }

    .mr_r0 {
        margin-right: 0 !important;
    }

    .mr_b0 {
        margin-bottom: 0 !important;
    }

    .mr_b20 {
        margin-bottom: 20px !important;
    }

    .mr_b30 {
        margin-bottom: 30px !important;
    }


    /*弹窗*/
    .popup-main {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1008611;
    }

    .popup-main .popup-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        left: 0;
        top: 0;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        z-index: 0;
    }

    .popup-content {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }

    .popup-content .close-the-window {
        width: 37px;
        height: 36px;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /*自定义滚动条*/

    .custom_bar {
        // position:relative;
        padding: 0px;
        // width: 1100px; 
        // height: 680px; 
        // overflow: hidden; 
        margin: 40px auto 0;
    }

    .custom_bar .bar_box {
        // width: 900px; 


    }

    .ps-container .ps-scrollbar-y-rail {
        position: absolute;
        right: 10px;
        width: 2px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #515558;
    }

    .ps-container .ps-scrollbar-y {
        position: absolute;
        right: -1px;
        width: 3px;
        background-color: #cbcbcb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .ps-container.ie6 .ps-scrollbar-y {
        font-size: 0;
    }

    /*个人中心弹窗*/
    .shadow_wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10086110000000000000;
    }

    .shadow_wrap .public_shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        left: 0;
        top: 0;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        z-index: 0;
    }

    .per_bombox {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 99;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }

    .public-bombox {
        min-width: 380px;
        min-height: 258px;
    }

    .per_bombox .bomsurebtn,
    .per_bombox .bomsurebtn01,
    .per_bombox .bomsurebtn02 {
        display: block;
        width: 130px;
        height: 40px;
        margin: auto;
    }

    .per_bombox>h2 {
        height: 40px;
        line-height: 40px;

    }

    .per_bombox>h2 span {
        vertical-align: top;
        color: #fff;
        font-size: 16px;
        margin-left: 15px;
    }

    .per_bombox .bomclose {
        margin: 10px 10px 0 0;
        cursor: pointer;
    }

    /*内容导航*/
    .public-navs {
        font-size: 0;
        padding: 12px 0 0 20px;
    }

    .public-navs li {
        font-size: 16px;
        display: inline-block;
        color: #ffffff;
        width: 108px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-right: 20px;
        cursor: pointer;
    }

    .public-navs li.on,
    .public-navs li:hover {
        width: 108px;
        height: 35px;
        color: #f8d647;
    }

    /*内容框*/
    .public-content {
        width: 1150px;
        height: 809px;
        position: absolute;
        top: 150px;
        left: 20%;
        z-index: 100;
    }

    /*logo*/
    .logoPage {
        width: 1087px;
        height: 820px;
        position: absolute;
        top: 37%;
        left: 22%;
    }

    .logoPage>h2 {
        font-size: 40px;
        color: #60aaf3;
        text-align: center;
        letter-spacing: 2px;
    }

    .logo-lists {
        font-size: 0;
        width: 1000px;
        height: 600px;
        margin: 50px auto 0;
        overflow: hidden;

    }

    .logo-lists li {
        width: 320px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        display: block;
        background: #333333;
        margin-left: 20px;
        float: left;
        margin-bottom: 20px;
    }

    .logo-lists li:hover,
    .logo-lists li.on {
        background: #55578c;
    }

    .logo-lists li:nth-child(3n+1) {
        margin-left: 0;
    }

    .logo-lists li img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }



    .tip1 {
        font-size: 12px;
        color: #9e130c;
        margin-top: 3px;
        margin-left: 3px;
        background-size: 12px 12px;
        background-position: 0 3px;
        padding-left: 16px;
        line-height: 16px;
        clear: both;
    }

    /*弹框-旧版*/
    //.pub_alert_box {
    //  width: auto;
    //  min-width: 270px;
    //  /* min-height: 140px; */
    //  height: auto;
    //  position: fixed;
    //  left: 50%;
    //  top: 50%;
    //  overflow: hidden;
    //  -webkit-transform: translate(-50%, -50%);
    //  transform: translate(-50%, -50%);
    //  background: rgba(17,18,20,0.6);
    //  border: 1px solid #35424e;
    //  z-index: 9999;
    //  color: #a6cddc;
    //  /* padding: 0 20px; */
    //}
    //.pub_alert_box .descr_title {
    //  width: 100%;
    //  /* height: 50px; */
    //  height: 45px;
    //  line-height: 41px;
    //  margin-bottom: 20px;
    //  background: rgba(52,62,72,0.5);
    //  text-align: left;
    //}
    //.pub_alert_box.re_h .descr_title {
    //  height: 41px;
    //}
    //.pub_alert_box .descr_title p {
    //  font-size: 14px;
    //  color: #4e6068;
    //  float: left;
    //  margin-left: 20px;
    //}
    //.pub_alert_box .descr_title a.icon_close {
    //  width: 23px;
    //  height: 24px;
    //  display: block;
    //  background: url("http://www.sgxplay.com/EditionImg/lambor23.0/images/member/close-icon.png") no-repeat;
    //  background-size: 100% 100%;
    //  float: right;
    //  margin-top: 8px;
    //  margin-right: 9px;
    //}
    //.descr_p {
    //  padding: 0 30px;
    //}
    //.record_detail_title {
    //  width: 90px;
    //  text-align: right;
    //  font-size: 12px;
    //  color: #706e9b;
    //  display: inline-block;
    //  margin-bottom: 15px;
    //}
    //.alert_btn_both {
    //  width: 100%;
    //  height: 28px;
    //  text-align: center;
    //  /* margin: 20px auto 30px; */
    //  margin: 32px auto 22px;
    //  font-size: 0;
    //}
    //.pub_alert_box.re_h .alert_btn_both {
    //  margin: 20px auto;
    //}
    //.alert_btn_both a {
    //  display: inline-block;
    //  width: 86px;
    //  height: 28px;
    //  line-height: 28px;
    //  font-size: 14px;
    //  text-align: center;
    //}
    //.alert_btn_both a.btn1 {
    //  color: #db9181;
    //  background: url("http://www.sgxplay.com/EditionImg/lambor23.0/images/member/savebtn-bg.png")no-repeat center;
    //  
    //}
    //
    //.alert_pb_list {
    //  overflow: hidden;
    //  border-bottom: solid 1px #5d2b2b;
    //  padding-bottom: 20px;
    //}
    //.alert_pb_list li {
    //  overflow: hidden;
    //}
    //.alert_pb_list li.first_li {
    //  margin-bottom: 10px;
    //}
    //.alert_pb_list li.first_li div {
    //  font-size: 12px;
    //  color: #706e9b;
    //  font-weight: bold;
    //}
    //.withdraw_alert_box .alert_pb_list li div {
    //  width: 100px;
    //  text-align: center;
    //}
    //.alert_pb_list li div {
    //  float: left;
    //  font-size: 12px;
    //  color: #706e9b;
    //  text-align: left;
    //  line-height: 22px;
    //}
    //.withdraw_alert_box .alert_pb_list li div.div1 {
    //  width: 60px;
    //}
    //.total_block {
    //  width: 100%;
    //  overflow: hidden;
    //  padding: 20px 0;
    //  font-size: 0;
    //}
    //.total_block span {
    //  font-size: 14px;
    //  color: #8a6f6f;
    //  float: left;
    //  margin-left: 24px;
    //  font-weight: bold;
    //}
    //.total_block ul {
    //  text-align: right;
    //  overflow: hidden;
    //  float: right;
    //}
    //.total_block ul li {
    //  width: 100px;
    //  font-size: 14px;
    //  color: #8a6f6f;
    //  display: inline-block;
    //  text-align: center;
    //  font-weight: bold;
    //}
    //.input_field.style2 {
    //  margin: 0 40px;
    //}
    //.input_field.style2 li {
    //  margin-top: 15px;
    //  min-height: 30px;
    //  height: auto;
    //  overflow: hidden;
    //}
    //
    //.input_field.style2 .input_lf {
    //  width: 85px;
    //}
    //.input_field.style2 .input_rt {
    //  min-height: 30px;
    //  height: auto;
    //}
    //
    //.input_field.style2 .input_rt input {
    //  width: 194px;
    //  color: #a6cddc;
    //  border: 1px solid #313d47;
    //  background: none;
    //  border-radius: 2px;
    //}
    //
    //.email_alert_box .descr_p.left_p p {
    //  font-size: 14px;
    //  font-weight: bold;
    //}
    //.descr_p.left_p p {
    //  text-align: left;
    //}
    //.descr_p p {
    //  font-size: 15px;
    //  color: #706e9b;
    //  /* padding: 0 30px; */
    //  line-height: 28px;
    //  word-break: break-all;
    //  text-align: center;
    //}
    //.forget_pw {
    //  font-size: 15px;
    //  color: #5989b2;
    //  display: inline-block;
    //  margin: auto;
    //  text-align: center;
    //  margin: 5px 0 20px 0;
    //}
    //.LoadBox {
    //  position: fixed;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  background: rgba(0, 0, 0, 0.6);
    //  z-index: 9999;
    //}
    //.LoadBox .Lp {
    //  position: relative;
    //  top: 45%;
    //  left: 47%;
    //  width: 93px;
    //  height: 93px;
    //  line-height: 93px;
    //  z-index: 9999;
    //}
    //.LoadBox .Lp p {
    //  font-size: 12px;
    //  color: #ffffff;
    //  text-align: center;
    //}
    //.LoadBox .LoadIcon {
    //  display: block;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 93px;
    //  height: 93px;
    //  background: url("@{ResourceCDNUrl}/web/member/loading3.png") no-repeat center center;
    //  background-size: 100%;
    //  -webkit-animation: RotaA 1.5s linear infinite;
    //  animation: RotaA 1.5s linear infinite;
    //}
    //@keyframes RotaA {
    //  from {
    //      -webkit-transform: rotate(0);
    //      -moz-transform: rotate(0);
    //      -o-transform: rotate(0);
    //      transform: rotate(0);
    //  }
    //  to {
    //      -webkit-transform: rotate(360deg);
    //      -moz-transform: rotate(360deg);
    //      -o-transform: rotate(360deg);
    //      transform: rotate(360deg);
    //  }
    //}
    //
    //@-webkit-keyframes RotaA {
    //  from {
    //      -webkit-transform: rotate(0);
    //      -moz-transform: rotate(0);
    //      -o-transform: rotate(0);
    //      transform: rotate(0);
    //  }
    //  to {
    //      -webkit-transform: rotate(360deg);
    //      -moz-transform: rotate(360deg);
    //      -o-transform: rotate(360deg);
    //      transform: rotate(360deg);
    //  }
    //}
    //
    //@-moz-keyframes RotaA {
    //  from {
    //      -webkit-transform: rotate(0);
    //      -moz-transform: rotate(0);
    //      -o-transform: rotate(0);
    //      transform: rotate(0);
    //  }
    //  to {
    //      -webkit-transform: rotate(360deg);
    //      -moz-transform: rotate(360deg);
    //      -o-transform: rotate(360deg);
    //      transform: rotate(360deg);
    //  }
    //}
    //
    //@-ms-keyframes RotaA {
    //  from {
    //      -webkit-transform: rotate(0);
    //      -moz-transform: rotate(0);
    //      -o-transform: rotate(0);
    //      transform: rotate(0);
    //  }
    //  to {
    //      -webkit-transform: rotate(360deg);
    //      -moz-transform: rotate(360deg);
    //      -o-transform: rotate(360deg);
    //      transform: rotate(360deg);
    //  }
    //}
    /*end*/
    .down {
        position: relative;
    }

    .down .d_course {
        height: 24px;
        line-height: 24px;
        padding: 5px 10px;
        cursor: pointer;
        text-align: left;
        color: #bbb;
        border: 1px solid #353535;
        font-size: 14px;
    }

    .down .down_iconImg,
    .down .record_iconImg {
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 16px;
        top: 14px;
    }

    .down .down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 36px;
        border-top: 0;
        color: #6e6e6f;
        border: 1px solid #7f7f7f;
        width: 100%;
        max-height: 150px;
        background: #7f7f7f;
        border-radius: 0px 0px 3px 3px;
        padding-top: 5px;
    }

    .down .down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        padding: 10px 0 10px 12px;
        font-size: 14px;
        color: #313131;
        line-height: 18px;
    }

    .down .down_box .down_list:hover {
        background: #9c9c9c;
        color: #5f5e5e;
    }

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: alpha(opacity=60);
        -webkit-opacity: 0.6;
        opacity: 0.6;
        background-color: #000;
        z-index: 9998;
        display: none;
    }

}
