<template>
  <div>
    <div id="JoinUsForm" :class="'JoinUsForm_'+$MessageLang">
      <div class="column_block_all clearfix">
        <div class="cln_block cln_required fl">
          <h2 class="title">{{$t('message.agent_basic_information')}}</h2>
          <ul>
            <li class="a_item">
              <p>
                <i>*</i>
                {{$t('message.agent_full_name')}}
              </p>
              <input
                type="text"
                v-model="PostDataModel.Name"
                name="Name"
                v-validate="{ rules: { regex:Reg.NickName, required: true }}"
                :placeholder="$t('message.agent_authentic')"
              />
            </li>
            <h3 v-show="errors.has('Name') && fields.Name.touched" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_blank_space')}}
            </h3>
            <li class="a_item">
              <p>
                <i>*</i>
                {{$t('message.agent_handset')}}
              </p>
              <input
                type="text"
                v-model="PostDataModel.PhoneNo"
                name="PhoneNo"
                v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                :placeholder="$t('message.agent_input_mobilePhone')"
              />
            </li>
            <h3 v-show="errors.has('PhoneNo') && fields.PhoneNo.touched" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_legal_mobilePhone')}}
            </h3>
            <li class="a_item">
              <p>
                <i>*</i>
                {{$t('message.agent_sexuality')}}
              </p>
              <div class="radio_box fr">
                <p v-for="Sex in LoadAddPageModel.SexSelectList">
                  <input
                    type="radio"
                    name="Sex_RadioButton"
                    v-on:click="CheckSexRadio()"
                    v-model="PostDataModel.Sex.Value"
                    :value="Sex.Value"
                  />
                  {{Sex.Name}}
                </p>
              </div>
            </li>
            <h3 v-show="PostDataModelSexErrorIsShow === false" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_unable_empty')}}
            </h3>
            <li class="a_item">
              <p>
                <i>*</i>Email
              </p>
              <input
                title
                type="text"
                v-model="PostDataModel.Email"
                name="Email"
                v-validate="{ rules: {lamborEmail: true, required: true }}"
                :placeholder="$t('message.agent_input_email')"
                required
              />
            </li>
            <h3 v-show="errors.has('Email') && fields.Email.touched " class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_underline')}}
            </h3>

            <li class="a_item li_code">
              <p>
                <i>*</i>
                {{$t('message.agent_identifying_code')}}
              </p>
              <div class="fr">
                <input
                  type="text"
                  :placeholder="$t('message.agent_caps_look')"
                  name="AuthCode"
                  v-model="PostDataModel.AuthCode"
                  v-validate="{ rules: { regex:Reg.VCode, required: true }}"
                />
                <div class="code_box" v-on:click="GetAuthCode()">
                  <img v-bind:src="AuthImg" />
                </div>
              </div>
            </li>
            <h3 class="tip" v-show="errors.has('AuthCode') && fields.AuthCode.touched">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_code_error')}}
            </h3>
          </ul>
        </div>

        <div class="cln_block cln_optional fr">
          <h2 class="title">{{$t('message.agent_other_information')}}</h2>
          <ul>
            <li class="a_item">
              <p>{{$t('message.agent_birthday')}}</p>
              <datepicker
                :language="this.$MessageLang"
                v-model="PostDataModel.Birth"
                format="yyyy/MM/dd"
                :disabled="this.CalendarDisabled"
                calendar-class="startdate_calendar"
                :placeholder="$t('message.agent_input_birthday')"
              ></datepicker>
            </li>
            <li class="a_item">
              <p>{{$t('message.agent_Wechat_number')}}</p>
              <input
                type="text"
                v-model="PostDataModel.WeChatNo"
                name="WeChatNo"
                v-validate="{ rules: { regex:Reg.WeChatID}}"
                :placeholder="$t('message.agent_input_Wechat')"
              />
            </li>
            <h3 v-show="errors.has('WeChatNo')  && fields.WeChatNo.touched" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_beginning_period')}}
            </h3>
            <li class="a_item">
              <p>QQ</p>
              <input
                type="text"
                v-model="PostDataModel.QQNo"
                name="QQNo"
                v-validate="{ rules: { regex:Reg.QQID}}"
                :placeholder="$t('message.agent_QQ')"
              />
            </li>
            <h3 v-show="errors.has('QQNo')  && fields.QQNo.touched" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_digits')}}
            </h3>
            <li class="a_item">
              <p>{{$t('message.agent_remarks')}}</p>
              <div class="radio_box fr">
                <textarea
                  v-model="PostDataModel.Remark"
                  style="resize:none"
                  name="Remark"
                  v-validate="{ rules: { regex:Reg.Remark}}"
                  :placeholder="$t('message.agent_remarks')"
                ></textarea>
              </div>
            </li>
            <h3 v-show="errors.has('Remark')  && fields.Remark.touched" class="tip">
              <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'" />
              {{$t('message.agent_common_symbols')}}
            </h3>
          </ul>
        </div>
      </div>

      <a
        href="javascript:void(0);"
        v-on:click="AddIB();"
        class="l_btn alert_click1"
      >{{$t('message.agent_submission')}}</a>
    </div>
    <join-us-success></join-us-success>
  </div>
</template>

<style>
.hstyle {
  margin-left: 120px;
  margin-bottom: 12px;
  width: 380px;
  line-height: 16px;
  font-size: 14px;
  font-weight: normal !important;
}
.startdate_calendar {
  top: 40px;
}
</style>

<script>
import RegEx from 'scripts/common/CommDef';
import RegisterService from 'scripts/businessLogic/registerService';
import BLDef from 'scripts/common/BLDef';
import CommService from 'scripts/businessLogic/commonService';
import Datepicker from '@/components/main/common/datePicker';
// import Datepicker from 'vuejs-datepicker';
import EventBus from 'scripts/common/EventBus';
import moment from 'moment';
import CommUtility from 'scripts/common/CommUtility';
import JoinUsSuccess from '@/components/sub/agent/JoinUs/joinUsSuccess';
import Vue from 'vue';
export default {
  data () {
    return {
      // 正則表達式
      Reg: RegEx.Regex,

      // post用的model
      PostDataModel: {
        Name: '',
        PhoneNo: '',
        Email: '',
        CardName: '',
        BankName: '',
        BankProvince: '',
        BankCity: '',
        BankDistrict: '',
        BankBranchName: '',
        BankAccnt: '',
        WeChatNo: '',
        QQNo: '',
        Remark: '',
        AuthCode: ''
      },

      // 載入頁面
      LoadAddPageModel: {
        ProvinceSelectList: {},
        TownSelectList: {},
        DistSelectList: {}
      },

      // 判斷性別未填寫的錯誤旗標
      PostDataModelSexErrorIsShow: undefined,
      // 銀行欄位未填寫的錯誤旗標
      PostDataModelBankDropdownErrorIsShow: false,
      // 下拉式選單的下拉判斷旗標
      DropDowning: '',
      // 下拉選單是否有未填
      DropDownInvalid: undefined,
      // 驗證碼
      AuthImg: '',
      // PreToken
      PreToken: '',

      CalendarDisabled: {
        from: new Date(
          moment()
            .add(1, 'days')
            .format('YYYY/MM/DD')
        ) // Disable all dates after specific date
      },

      FlagObj: false,

      // 驗證碼顏色設定
      RGB: {
        R: 255,
        G: 200,
        B: 255
      },

      CheckPhoneNoAvailable: {
        PhoneNo: '',
        WGUID: ''
      },
      joinUsAddFlag: true
    };
  },

  created: async function () {
    // this.BindingEvent();
    this.LoadPage();
    this.GetAuthCode();
  },
  mounted: function () {
    CommUtility.BindEnterTrigger('JoinUsForm', this.AddIB);
  },
  methods: {
    // 取得驗證碼
    GetAuthCode: async function () {
      /* eslint-disable camelcase */
      const VCode_CharacterRGB = this.RGB;
      const RGBData = {
        VCode_CharacterRGB
      };
      const retData = await CommService.VerifyCode_Gen(RGBData);
      this.AuthImg = retData.Data.VCode;
      this.PreToken = retData.Data.ID;
    }, // end GetAuthCode

    // 載入頁面
    LoadPage: async function () {
      const dataObj = {};
      const retData = await RegisterService.LoadIBRegisterMainPage(dataObj);

      // 失敗
      if (retData.Ret != 0) {
        return;
      } // end if

      // 成功
      this.LoadAddPageModel = retData.Data;
      // this.PostDataModel.BankProvince = this.LoadAddPageModel.ProvinceSelectList[0];
      // this.PostDataModel.BankCity = this.LoadAddPageModel.TownSelectList[0];
      // this.PostDataModel.BankDistrict = this.LoadAddPageModel.DistSelectList[0];
      this.PostDataModel.Sex = { Value: -1 }; // default value
    }, // end LoadPage

    // 綁定隨機點擊事件(讓下拉選單恢復)
    BindingEvent: function () {
      document.addEventListener('click', this.HideDropDown);
    }, // end BindingEvent

    // 顯示紀錄類型選單
    ShowDropDown: function (targetClass) {
      $('.down_box').slideUp(100);
      if (this.DropDowning !== targetClass) {
        $('.' + targetClass).slideDown(300);
        this.DropDowning = targetClass;
      } else {
        $('.' + targetClass).slideUp(100);
        this.DropDowning = '';
      }
    }, // end ShowDropDown

    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(100);
        this.DropDowning = '';
      }
    }, // end HideDropDown

    // 選擇省並變更其他選單資料
    // ChangeProvince: async function (item) {
    //   const dataObj = {
    //     SType: BLDef.SelectTypesDef.CITIES,
    //     InputValues: [item.Value]
    //   };
    //   const retData = await CommService.GetCityTypes(dataObj);
    //   if (retData.Ret == 0) {
    //     this.PostDataModel.BankProvince = item;
    //     this.LoadAddPageModel.TownSelectList = retData.Data.SelectList;
    //     this.PostDataModel.BankCity = retData.Data.SelectList[0];
    //     this.PostDataModel.BankDistrict = this.LoadAddPageModel.DistSelectList[0];
    //     this.LoadAddPageModel.DistSelectList = [
    //       this.LoadAddPageModel.DistSelectList[0]
    //     ];
    //   } // end if
    // }, // end ChangeProvince

    // // 選擇城市並變更其他選單資料
    // ChangeTown: async function (item) {
    //   const dataObj = {
    //     SType: BLDef.SelectTypesDef.DISTS,
    //     InputValues: [item.Value]
    //   };
    //   const retData = await CommService.GetDistTypes(dataObj);
    //   if (retData.Ret === 0) {
    //     this.PostDataModel.BankCity = item;
    //     this.LoadAddPageModel.DistSelectList = retData.Data.SelectList;
    //     this.PostDataModel.BankDistrict = retData.Data.SelectList[0];
    //     if (this.LoadAddPageModel.DistSelectList.length === 1) {
    //       this.DropDownInvalid = true;
    //     } // end if
    //   } // end if
    // }, // end ChangeTown

    // // 選擇區域
    // ChangeDist: function (item) {
    //   this.PostDataModel.BankDistrict = item;
    //   if (item.Value !== '-1') {
    //     this.DropDownInvalid = true;
    //   }
    // }, // end ChangeDist

    // 檢查性別RadioButton
    CheckSexRadio: function () {
      this.PostDataModelSexErrorIsShow = true;
    }, // end CheckSexRadio

    // 所有欄位驗證
    validate: function () {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    }, // end validate

    AddIB: async function () {
      console.log(this.joinUsAddFlag);
      if (this.joinUsAddFlag) {
        $(':focus').blur();
        let anyInvalid = false;

        const validate = await this.validate();

        // 驗證所有欄位
        if (!validate) {
          anyInvalid = true;
        } // end if

        // 驗證開戶網點下拉式選單
        // if (!this.DropDownInvalid || this.PostDataModel.BankProvince.Value == -1 || this.PostDataModel.BankCity.Value == -1 || (this.PostDataModel.BankDistrict.Value == -1 && !this.DropDownInvalid)) {
        //     this.DropDownInvalid = false;
        //     anyInvalid = true;
        // } // end

        // 驗證性別欄位
        if (!this.PostDataModelSexErrorIsShow) {
          this.PostDataModelSexErrorIsShow = false;
          anyInvalid = true;
        } // end if

        if (anyInvalid === true) {
          return;
        } // end if

        if (this.FlagObj === true) {
          return;
        } // end if
        this.FlagObj = true;
        // 注册手机号进行检测 会员手机号不能重复 20190830 SeyoChen
        this.CheckPhoneNoAvailable.PhoneNo = this.PostDataModel.PhoneNo;
        this.CheckPhoneNoAvailable.WGUID = Vue.prototype.$WGUID;
        const DataInput = { CheckPhoneNo: this.CheckPhoneNoAvailable };
        console.log('---------------------');
        console.log(DataInput);
        const CheckPhoneNo = await CommService.Comm_CheckPhoneNoAvailable(
          DataInput
        );
        if (
          CheckPhoneNo.Ret === 0 &&
          CheckPhoneNo.Data.CheckPhoneNo.IsAvailable === false
        ) {
          const notifyData = {
            NotifyMessage: this.$t('message.agent_alike_mobilePhone')
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          this.FlagObj = false;
          return;
        } else if (CheckPhoneNo.Ret === 19) {
          const notifyData = {
            NotifyMessage: this.$t('message.member_phoneNumber_error'),
            NotifySubMessage: this.$t('message.agent_legal_mobilePhone')
          };
          EventBus.$emit('showNotifyMessage', notifyData);
          this.FlagObj = false;
          return;
        } else {
          this.FlagObj = false;
        }

        // 注册手机号进行检测 会员手机号不能重复 20190830 SeyoChen end

        // 時間資料轉換
        if (this.PostDataModel.Birth !== undefined) {
          this.PostDataModel.Birth = moment(this.PostDataModel.Birth).format(
            'YYYY/MM/DD'
          );
        }

        const dataObj = {
          VCodeID: this.PreToken,
          VCode: this.PostDataModel.AuthCode,
          WGUID: Vue.prototype.$WGUID,
          PromotionUrl: window.location.href, // new $window.URL($location.absUrl()).origin, // 完整DomainName含參數
          PromotionInfo: this.$route.params.Data,
          IB: this.PostDataModel,
          RegisterWay: 1 // 来源方式：1、链接，2、QRCode
        };

        console.log('===========================================');
        console.log(dataObj);
        this.joinUsAddFlag = false;
        EventBus.$emit('GlobalLoadingTrigger', true);
        const retData = await RegisterService.AddIB(dataObj);
        EventBus.$emit('GlobalLoadingTrigger', false);

        const notifyData = {
          NotifyMessage: retData.Message
        };
        this.joinUsAddFlag = true;
        // 失敗
        if (retData.Ret != 0) {
          // 站长被停用 2019.06.25 ququ
          if (retData.Ret === 100014) {
            notifyData.NotifyMessage = this.$t('message.agent_stop_using');
          }
          // 站长被停用 2019.06.25 ququ end
          // 秀出錯誤訊息
          EventBus.$emit('showNotifyMessage', notifyData);
          this.PostDataModel.AuthCode = '';
          this.$validator.reset();
          this.GetAuthCode();
          return;
        } // end if
        this.Success();
        
      }
    }, // end AddIB

    // 代理註冊成功跳頁
    Success: function () {
      JoinUsSuccess.methods.OpenWindow();
    } // end Success
  },

  components: {
    Datepicker,
    JoinUsSuccess
  }
};
</script>
