<template>
  <!--忘記密碼彈窗-->
  <div
    id="informationForm"
    class="pub_alert_box tel_alert_box re_h"
    style="display: none;padding-bottom:20px;height: 234px;"
  >
    <form name="InformationForm" novalidate="novalidate">
      <div class="descr_title no_line">
        <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
      </div>
      <div class="descr_p">
        <p
          style="font-size: 18px; line-height: 38px;"
          class="p_blue"
        >{{$t('message.agent_apply_for')}}!</p>
        <p>
          {{$t('message.agent_application_message')}}
          <br />
          {{$t('message.agent_data_audit')}}
        </p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="CloseWindow()"
        >{{$t('message.agent_home_page')}}</a>
      </div>
    </form>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';

export default {
  methods: {
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('informationForm');
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('informationForm');
      this.$router.push({ name: 'Index' });
    } // end CloseWindow
  }
};
</script>
