<template>
  <!--忘記密碼彈窗-->
  <div id="failForm" class="pub_alert_box tel_alert_box re_h forgetAlert" style="display:none;">
    <!--7版特有-->
    <div class="seven_popup">
      <div class="login-popup">
        <form name="FailForm" novalidate="novalidate">
          <div class="descr_title no_line clearfix">
            <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
          </div>
          <div class="descr_p login_descr_p">
            <p class="p_blue">
              {{$t('message.member_quota_full')}}
              <br />
            </p>
            <p class="p_blue">
              {{$t('message.login_frequency')}}
              <br />{{$t('message.member_trouble')}}
              <a @click="OpenNewBox($ServeLink)">{{$t('message.login_liaison')}}</a>
            </p>
          </div>
          <div class="alert_btn_both">
            <a class="btn1" href="javascript:void(0);" @click="CloseWindow()">
              <i class="comAlertBtn">{{$t('message.login_close')}}</i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// import { forgetPsFl } from '../../../assets/scripts/comTest/sub/login/forgetPasswordFail.js';
// export default {
//   mixins: [forgetPsFl]
// };
import CommUtility from 'scripts/common/CommUtility';
import EventBus from 'scripts/common/EventBus';

export default {
  mounted: function () {
    EventBus.$on('ForgetPasswordFailAlert', () => {
      this.OpenWindow();
    });
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
    },
    // 開起此彈窗
    // OpenWindow: function () {
    //     CommUtility.WebShowUniqueForm('forgetPasswordForm');
    // }, // end OpenWindow
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('failForm');
    }, // end OpenWindow

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('failForm');
    }, // end CloseWindow

    // 客服彈窗
    CustomerWindow: function () {
      this.CloseWindow();
      //          CommUtility.WebShowUniqueForm('CustomerServiceWindow');
    } // end  CustomerWindow
  }
};
</script>
