<template>
  <!--忘記密碼彈窗-->
  <div id="RegisterForm" class="pub_alert_box tel_alert_box re_h" style="display: none;">
    <div class="register-main">
      <h2 class="register-cont-title">
        <img
          class="img1"
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/PGImages/pg_img48.png'"
        />
        <span class="img2" @click="CloseWindow()">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/PGImages/pg_img47.png'" />
        </span>
      </h2>
      <div class="register-cont-boxFrom">
        <ul>
          <li class="register-cont-list">
            <span class="register-cont-listName">{{$t('message.reg_registered_account')}}：</span>
            <div class="register-cont-listPut">
              <input
                type="text"
                name="Acct"
                v-model="RegistObj.Acct"
                v-validate="{ rules: { regex:Reg.Account, required: true }}"
                @blur="CheckAcctAvailable()"
                :placeholder="$t('message.reg_enter_account')"
              />
              <p
                class="tip1 qc-tip carryTip"
                v-show="errors.has('Acct') && fields.Acct.touched"
              >{{$t('message.login_forget_pwd_rang')}}</p>
              <p
                class="tip1 qc-tip carryTip"
                v-show="!errors.has('Acct') && !AcctAvailable"
              >{{$t('message.reg_hasBeen_used')}}</p>
            </div>
          </li>
          <li class="register-cont-list">
            <span class="register-cont-listName">{{$t('message.reg_mobile_number')}}：</span>
            <div class="register-cont-listPut">
              <input
                type="text"
                name="PhoneNo"
                v-model="RegistObj.PhoneNo"
                v-validate="{ rules: { regex:Reg.PhoneNo, required: true }}"
                :placeholder="$t('message.reg_input_phone')"
              />
              <p
                class="tip1 qc-tip carryTip"
                v-show="errors.has('PhoneNo') && fields.PhoneNo.touched"
              >仅可以使用数字，减号，加号，字数范围6-30</p>
            </div>
          </li>
          <li class="register-cont-list">
            <span class="register-cont-listName">密码：</span>
            <div class="register-cont-listPut">
              <input
                :type="IfPwd.Password == false? 'password' : 'text'"
                id="Pwd"
                name="Pwd"
                v-model="RegistObj.Pwd"
                v-validate="{ rules: { regex:Reg.Password, required: true }}"
                placeholder="请输入6-20个字符的密码"
              />
              <p
                class="tip1 qc-tip carryTip"
                v-show="errors.has('Pwd') && fields.Pwd.touched"
              >仅可以使用英文字母,数字与一般常用符号, 字数范围6-20</p>
            </div>
          </li>
          <li class="register-cont-list">
            <span class="register-cont-listName">取款密码：</span>
            <div class="register-cont-listPut">
              <input
                :type="IfPwd.WithdrawPwd == false? 'password' : 'text'"
                name="WithdrawPwd"
                v-model="RegistObj.WithdrawPwd"
                v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                placeholder="请输入六位取款密码"
              />
              <p
                class="tip1 qc-tip carryTip"
                v-show="errors.has('WithdrawPwd') && fields.WithdrawPwd.touched"
              >仅可以使用数字, 字数长度6</p>
            </div>
          </li>
          <li class="register-cont-list">
            <span class="register-cont-listName">验 证 码：</span>
            <div class="register-cont-listPut">
              <input
                class="putCode"
                type="text"
                placeholder="不区分大小写"
                name="AuthCode"
                v-model="RegistObj.AuthCode"
                v-validate="{ rules: { regex:Reg.VCode, required: true }}"
              />
              <span class="l_code" v-on:click="GetAuthCode()">
                <img v-bind:src="AuthImg" />
              </span>
              <p
                class="tip1 qc-tip carryTip"
                v-show="errors.has('AuthCode') && fields.AuthCode.touched"
              >验证码错误</p>
            </div>
          </li>
        </ul>
        <a class="submission-btn" v-on:click="SumbitRegist()" id="register_btn">提交</a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import CommUtility from 'scripts/common/CommUtility';
import BLDef from 'scripts/common/BLDef';
import CommService from 'scripts/businessLogic/commonService';
import RegistService from 'scripts/businessLogic/registerService';

export default {
  data () {
    return {
      Flag: {
        AcctFocus: undefined,
        AcctErrorIsShow: undefined,
        PhoneNoFocus: undefined,
        PhoneNoErrorIsShow: undefined,
        PwdFocus: undefined,
        PwdValidateIsShow: undefined,
        CheckPwdErrorIsShow: false,
        WithdrawPwdFocus: undefined,
        WithdrawPwdValidateIsShow: undefined,
        CheckWithdrawPwdErrorIsShow: false,
        Focus: undefined,
        ErrorIsShow: undefined
      },

      // 正則表達式類別
      Reg: Regex.Regex,

      // 驗證碼
      AuthImg: '',

      // 登入資料物件
      RegistObj: {
        Acct: '',
        PhoneNo: '',
        AuthCode: '',
        Pwd: '',
        VCodeImg: ''
      },
      AcctAvailable: true,
      // PreToken
      PreToken: '',
      LogoPath: localStorage.getItem('LogoImgPath'),

      // 是否可以查看密码信息 20190812 SeyoChen
      IfPwd: {
        Password: false,
        WithdrawPwd: false
      }
    };
  },
  mounted: function () {
    this.GetAuthCode();
    EventBus.$on('RegisterBox', () => {
      this.OpenWindow();
    });
  },
  methods: {
    // 開起此彈窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('RegisterForm');
    }, // end OpenWindow

    // 關閉此彈窗
    CloseWindow: function () {
      this.RegistObj.Acct = '';
      this.RegistObj.PhoneNo = '';
      this.RegistObj.AuthCode = '';
      this.RegistObj.Pwd = '';
      this.RegistObj.VCodeImg = '';
      this.$validator.reset();
      CommUtility.WebCloseUniqueForm('RegisterForm');
    }, // end CloseWindow
    // 点击可查看密码 20190812 SeyoChen
    ClickShowPwd: function (num) {
      switch (num) {
        case 0:
          this.IfPwd.Password = !this.IfPwd.Password;
          break;
        case 1:
          this.IfPwd.WithdrawPwd = !this.IfPwd.WithdrawPwd;
          break;
        default:
          break;
      }
    },

    // 取得驗證碼
    GetAuthCode: async function () {
      /* eslint-disable camelcase */
      const VCode_CharacterRGB = this.RGB;
      const RGBData = {
        VCode_CharacterRGB
      };
      const retData = await CommService.VerifyCode_Gen(RGBData);
      this.AuthImg = retData.Data.VCode;
      this.PreToken = retData.Data.ID;
    }, // end GetAuthCode
    // 驗證帳號是否重複
    CheckAcctAvailable: async function () {
      this.flag = !this.$validator.errors.has('Acct');

      if (this.flag && this.RegistObj.Acct.length > 0) {
        const obj = {
          Acct: this.RegistObj.Acct,
          WGUID: Vue.prototype.$WGUID
        };
        const retData = await CommService.CheckAcctAvailable(obj);
        this.AcctAvailable = retData.IsAvailable;
      } else {
        this.AcctAvailable = true;
      } // end if
    }, // end CheckAcctAvailable

    // 提交註冊申請
    SumbitRegist: async function () {
      let anyInvalid = false;

      // 是否通過各種欄位驗證
      const validateConfirm = await this.validate();
      if (
        !validateConfirm ||
        this.Flag.CheckPwdErrorIsShow ||
        this.Flag.CheckWithdrawPwdErrorIsShow
      ) {
        anyInvalid = true;
      } // end if

      // 是否閱讀過[用戶協議]
      // if (!this.IsBoxChecked) {
      //   this.IsBoxChecked = false;
      //   anyInvalid = true;
      // } // end if

      if (anyInvalid === true) {
        return;
      } // end if

      // 驗證帳號是否已被使用
      await this.CheckAcctAvailable();
      if (!this.AcctAvailable) {
        return;
      } // end if

      // 處理中則直接返回
      if (this.tempObj === true) {
        return;
      } // end if
      this.tempObj = true;

      // 註冊資料物件
      const DataObj = {
        VCodeID: this.PreToken,
        VCode: this.RegistObj.AuthCode,
        WGUID: Vue.prototype.$WGUID,
        PromotionUrl: window.location.href
          .split('/')
          .slice(0, 3)
          .join('/'), // 完整DomainName含參數
        PromotionInfo: this.$route.params.Data, // 參數
        Member: this.RegistObj
      };

      // 註冊服務
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await RegistService.Regist(DataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      // 錯誤訊息物件
      const notifyData = {
        NotifyMessage: retData.Message
      };

      if (retData.Ret == 0) {
        // 清理缓存 20190808 SeyoChen
        localStorage.removeItem('Token');
        localStorage.removeItem('Auth');
        localStorage.removeItem('logoutTime');
        localStorage.removeItem('Acct'); // 2018.09.20 SeyoChen
        localStorage.removeItem('CorrelationIBMemberId');
        localStorage.removeItem("userId")
        localStorage.removeItem('IBStatus');
        localStorage.removeItem('loginFlag');
        // 清理缓存 20190808 SeyoChen end

        // 成功
        EventBus.$emit('loginFlagCheck', 'true');
        EventBus.$emit('afterLogin');
        localStorage.setItem('Token', retData.Data.LoginData.Token);
        localStorage.setItem('Auth', retData.Data.LoginData.Auth);
        localStorage.setItem('Acct', retData.Data.LoginData.Acct); // 2018.09.20 SeyoChen
        localStorage.setItem('loginFlag', 'true'); // 2019.08.01 SeyoChen

        localStorage.setItem(
          'CorrelationIBMemberId',
          retData.Data.LoginData.CorrelationIBMemberId
        );
        localStorage.setItem("userId", retData.Data.LoginData.AcctID)
        localStorage.setItem('IBStatus', retData.Data.LoginData.IBStatus);
        // 存到local storage
        localStorage.setItem(
          'RegisterSuccess_Account',
          retData.Data.LoginData.Acct
        );
        // 成功並跳頁
        // this.$router.push({
        //     name: 'webRegisterSuccess'
        // });
        // location.href = '/';
        this.CloseWindow();
        EventBus.$emit('registerBoxSucc');
      } else if (
        retData.Ret === BLDef.ErrorRetType.COMM_VERIFY_CODE_INCORRECT
      ) {
        // 驗證碼錯誤
        this.tempObj = false;
        this.RegistObj.AuthCode = '';
        this.$validator.reset();
        this.GetAuthCode();
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        // 失敗
        this.tempObj = false;
        this.RegistObj = {};
        this.$validator.reset();
        this.GetAuthCode();
        EventBus.$emit('showNotifyMessage', notifyData);
      } // end if
    }, // end SumbitRegist

    // 所有欄位驗證
    validate: function () {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      return this.$validator.validateAll().then(result => {
        return result;
      });
    } // end validate
  }
};
</script>
