<template>
  <!--忘記密碼彈窗-->
  <div id="RegisterSuccForm" class="pub_alert_box tel_alert_box re_h" style="display: none;">
    <div class="register-main">
      <h2 class="register-cont-title">
        <span class="registerSucc-title">注册信息</span>
        <span class="img2" @click="CloseWindow()">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/PGImages/pg_img47.png'" />
        </span>
      </h2>
      <div class="register-cont-boxFrom">
        <p class="registerSucc-text">恭喜您，注册成功！</p>
        <a class="submission-btn" @click="backHome()">返回首页</a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  mounted: function () {
    EventBus.$on('registerBoxSucc', () => {
      this.OpenWindow();
    });
  },
  methods: {
    // 開起此彈窗
    OpenWindow: function () {
      CommUtility.WebShowUniqueForm('RegisterSuccForm');
    }, // end OpenWindow

    // 關閉此彈窗
    CloseWindow: function () {
      CommUtility.WebCloseUniqueForm('RegisterSuccForm');
    }, // end CloseWindow
    backHome: function () {
      location.href = '/';
      this.CloseWindow();
    }
  }
};
</script>
