<template>
  <div id="agencyExamineDetail" class="alert_box_content tel_alert_box re_h">
    <span class="alert_close" @click="CloseWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <!--显示详情内容-->
    <div v-if="Step">
      <h2 class="t_c_title">
        <span style="padding-left: 15px;">{{$t('message.agency_audit')}}</span>
      </h2>
      <table class="Examine-table">
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.agent_full_name')}}：</span>
          <span
            class="table-r table-nickName"
            :class="'table-nickName'+$MessageLang"
          >{{this.IBExamineDetails.Name}}</span>
        </tr>
        <tr>
          <span
            class="table-l"
            :class="'table-l'+$MessageLang"
            :title="$t('message.agency_treatment_scheme')"
          >{{$t('message.agency_treatment_scheme')}}：</span>
          <span class="table-r">{{this.IBExamineDetails.PlanName}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.agent_handset')}}：</span>
          <span class="table-r">{{this.IBExamineDetails.PhoneNo}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.agent_sexuality')}}：</span>
          <span
            class="table-r"
            v-if="this.IBExamineDetails.Gender === 1"
          >{{$t('message.agency_male')}}</span>
          <span class="table-r" v-else>{{$t('message.agency_female')}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">email：</span>
          <span class="table-r">{{this.IBExamineDetails.Email}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.agent_birthday')}}：</span>
          <span
            class="table-r"
          >{{this.IBExamineDetails.Birthday | utcTicksToLocalTime('YYYY/MM/DD')}}</span>
        </tr>
        <tr>
          <span
            class="table-l"
            :class="'table-l'+$MessageLang"
          >{{$t('message.member_wechat_number')}}：</span>
          <span class="table-r">{{this.IBExamineDetails.WeChat}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">QQ：</span>
          <span class="table-r">{{this.IBExamineDetails.QQ}}</span>
        </tr>

        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.agency_apply_ip')}}：</span>
          <span class="table-r">{{this.IBExamineDetails.IP}}</span>
        </tr>
        <tr>
          <span
            class="table-l"
            :class="'table-l'+$MessageLang"
            :title="$t('message.member_application_time')"
          >{{$t('message.member_application_time') | simpleContent(12)}}：</span>
          <span
            class="table-r"
          >{{this.IBExamineDetails.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</span>
        </tr>
        <tr>
          <span
            class="table-l"
            :class="'table-l'+$MessageLang"
          >{{$t('message.agency_source_mode')}}：</span>
          <span
            class="table-r"
            v-if="this.IBExamineDetails.RegisterWay === 1"
          >{{$t('message.agency_interlinkage')}}</span>
          <span class="table-r" v-else>{{$t('message.agency_QR_code')}}</span>
        </tr>
        <tr>
          <span class="table-l" :class="'table-l'+$MessageLang">{{$t('message.member_state')}}：</span>
          <div class="table-r" v-if="this.IBExamineDetails.ApplyStatus === 0">
            <span>{{$t('message.agency_applying')}}</span>
            <a @click="IBExamineAgree()" v-show="isValidate&&loaded">{{$t('message.agency_agree')}}</a>
            <a class="cancle-btn" @click="NextStep()">{{$t('message.member_refuse')}}</a>
          </div>
          <div class="table-r" v-if="this.IBExamineDetails.ApplyStatus === 2">
            <span>{{$t('message.agency_adopted')}}</span>
          </div>
          <div class="table-r" v-if="this.IBExamineDetails.ApplyStatus === 3">
            <span>{{$t('message.agency_rejected')}}</span>
          </div>
          <i
            class="tip1 noValidate"
            v-show="!isValidate&&loaded&&IBExamineDetails.ApplyStatus!==2&&this.IBExamineDetails.ApplyStatus !== 3"
          >{{validateMsg}}</i>
        </tr>
      </table>
      <div class="examine-btn">
        <span class="examine-cancle-btn" @click="CloseWindow()">{{$t('message.member_cancel')}}</span>
      </div>
    </div>
    <!--拒绝理由填写-->
    <div v-if="!Step">
      <h2 class="t_c_title">
        <span>{{$t('message.agency_reject_reason')}}</span>
      </h2>
      <div class="t_c_main" style="min-height: 120px;">
        <div class="t_c_item clearfix">
          <span class="input_lf fl">{{$t('message.agency_refusal_cause')}}：</span>
          <div class="input_rt fl refuse-text" style="position: relative;">
            <input
              type="text"
              v-model="Refuse"
              placeholder
              name="Refuse"
              v-validate="{ rules: { regex:Reg.Remark, required: true }}"
            />
            <i class="tip-error" v-show="errors.has('Refuse') && fields.Refuse.touched"></i>
          </div>
          <i
            class="tip1"
            v-show="errors.has('Refuse') && fields.Refuse.touched"
          >{{$t('message.agent_common_symbols')}}</i>
        </div>
      </div>
      <div class="t_c_btn">
        <span @click="PrevStep()">{{$t('message.member_cancel')}}</span>
        <span @click="IBExamineRefuse()">{{$t('message.member_ascertain')}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import AgencyCenterService from '@/mod/k04/assets/scripts/businessLogic/agencyCenterService.js';

export default {
  props: {
    IBExamineDetails: {}
  },
  data () {
    return {
      Reg: Regex.Regex,
      Step: true,
      Refuse: '',
      loaded: false,
      isValidate: false,
      validateMsg: ''
    };
  },
  mounted: function () {},
  methods: {
    // 開啟彈窗
    CloseWindow: function () {
      this.Step = true;
      CommUtility.WebClosealertboxForm('agencyExamineDetail');
    }, // end ShowEditPhone
    // 下一步
    NextStep: function () {
      this.Step = false;
    },
    PrevStep: function () {
      this.Step = true;
    },
    // 代理申请同同意
    IBExamineAgree: function () {
      const objData = {
        PlanId: this.IBExamineDetails.PlanId,
        SerialNo: this.IBExamineDetails.SerialNo,
        PhoneNo: this.IBExamineDetails.PhoneNo
      };
      // localStorage.setItem('ISCreatedAgency', false);
      // localStorage.setItem('CreatedAgencyData', objData);
      const myDate = JSON.stringify(objData);
      localStorage.setItem('CreatedAgencyData', myDate);
      localStorage.setItem(
        'CreatedIBExamineDetailsData',
        JSON.stringify(this.IBExamineDetails)
      );
      // EventBus.$emit('CreatedAgency', objData);
      CommUtility.WebClosealertboxForm('MouldForm');
      this.$store.dispatch('setAgencyNameText', 'webSupervise');
    },
    // 代理申请拒绝
    IBExamineRefuse: async function () {
      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }
      const inputData = {
        SerialNo: this.IBExamineDetails.SerialNo,
        ApplyStatus: 3,
        RejectRemark: this.Refuse
      };
      console.log(inputData);
      const Data = await AgencyCenterService.IBExamineRefuse(inputData);
      console.log(Data);
      if (Data.Ret === 0) {
        this.Step = true;
        this.CloseWindow();
        const notifyData = {};
        notifyData.NotifyMessage = this.$t(
          'message.agency_successful_operation'
        );
        EventBus.$emit('showNotifyAgencyMessage', notifyData);
        this.$parent.IBExamineList();
        console.log('成功了');
      } else {
        const notifyData = {};
        notifyData.NotifyMessage = this.$t('message.agency_operation_failed');
        EventBus.$emit('showNotifyAgencyMessage', notifyData);
      }
    },
    // 校验电话号码
    async validatePhone () {
      // 重复的账号 不重复时为''
      let {
        IBExamineDetails: { PhoneRepeatNumLoginId }
      } = this;
      this.loaded = true;
      // 没有重复账号时允许同意审核
      if (!PhoneRepeatNumLoginId) {
        this.isValidate = true;
        return;
      }
      this.isValidate = false;
      // 存在重复账号时提示重复的账号
      this.validateMsg = this.$t('message.agency_audit_validatePhone').replace(
        /{account}/,
        PhoneRepeatNumLoginId
      );
    }
  },
  watch: {
    IBExamineDetails: {
      handler () {
        this.loaded = false;
        this.validatePhone();
      },
      deep: true
    }
  }
};
</script>
<style lang="less">
#agencyExamineDetail {
  .tip1.noValidate {
    margin-left: 110px;
  }
}
</style>
