<template>
  <div class="playMyGame-wrapper">
    <div class="playMyGame-content" :class="'ele-'+ $MessageLang">
      <!-- <ul class="eg-big-list">
        <li
          v-for="(list,index) in this.EgameList"
          @click="BindGameTypeEvt(list.GameApiNo)"
          v-bind:class="{'hasblock' : (index === 0)}"
        >
          <i class="eg-big-maintain" v-if="list.GameTypeState == '703'"></i>
          <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
        </li>
      </ul>-->
      <div class="ele-scroll">
        <ul class="ele-logo-lists clearfix">
          <li
            class="ele-logo-li"
            v-for="(Game,index) in LoadMainPageDataModelGameList"
            :key="index"
          >
            <i class="eg-big-play" v-show="showGame"></i>
            <a href="javascript:;" v-on:click="PlayElectronicGameClick(Game);">
              <img :onerror="defaultImg" v-bind:src="Game.ImgUrl + '?VersionCode'" />
              <b>{{Game.Name | simpleContent(12)}}</b>
              <span v-show="!showGame"></span>
              <i class="shadow"></i>
              <em v-show="!showGame">进入游戏</em>
            </a>
          </li>
        </ul>
      </div>
      <paginate :PageCount="this.PageInfo.PageCount" :PageNo="this.PageInfo.PageNo"></paginate>
    </div>
  </div>
</template>

<script>
import BLDef from '@/assets/scripts/common/BLDef.js';
import Vue from 'vue';
import URLService from '@/assets/scripts/common/URLService.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import HttpService from '@/assets/scripts/common/HttpService.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import GameService from '@/mod/k04/assets/scripts/businessLogic/gameService.js';
import Paginate from '@/mod/k04/components/sub/paginate.vue';

export default {
  data() {
    return {
      EgameList: [],
      LoadMainPageDataModel: {},
      LoadMainPageDataModelGameList: [],
      // 查詢 Post DataModel
      PostDataModel: {
        GameAPIVendor: {
          Value: ''
        },
        GameTypeFilter: {
          Value: '-1'
        },
        SlotLineFilter: {
          Value: '-1'
        },
        Keyword: ''
      },
      DataObj: {
        GameAPIVendor: '',
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.EGames,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      },
      imgString: '',
      defaultImg:
        'this.src="' +
        this.$ResourceCDN +
        '/EditionImg/Lambor1.0/images/web/game/electronic/Temp.png?VersionCode"',

      // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen
      showGameList: [],
      showGame: false,
      // 分頁資料
      PageInfo: {
        PageNo: 1,
        PageSize: 16,
        PageCount: 0
      },
      gameApiTypeApi: undefined
    };
  },
  created: function() {
    this.GatGame(); // 2019.3.28 SeyoChen 遍历游戏
  },
  mounted: function() {
    // EventBus.$on('gameListGameApiNo', data => {
    //   this.gameApiTypeApi = data;
    // });
    // this.gameApiTypeApi = localStorage.getItem('gameListGameApiNo');
    // this.PostDataModel.GameAPIVendor.Value = '70';
    this.PostDataModel.GameAPIVendor.Value = localStorage.getItem(
      'gameListGameApiNo'
    );
  },
  methods: {
    // 遍历获取游戏列表
    GatGame: async function() {
      this.GameList = JSON.parse(localStorage.getItem('GameList'));

      const dataObj = {
        WGUID: '',
        GameTypeNo: '',
        PlatformType: BLDef.PlatformType.Web_PC
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj);

      if (
        retData.Ret === 0 &&
        this.GameList !== retData.Data.GameAPIVerdorList
      ) {
        // 判断本地缓存是否与之前的相同
        this.GameList = retData.Data.GameAPIVerdorList;
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }

      for (let i = 0; i < this.GameList.length; i++) {
        // 2为 欧博游戏 2019.01.12 筛选游戏 并 判定状态 SeyoChen
        if (
          this.GameList[i].GameApiNo !== '2' &&
          this.GameList[i].GameTypeNo === 4 &&
          this.GameList[i].GameTypeState !== '704'
        ) {
          this.EgameList.push(this.GameList[i]);
        }
      }

      // this.GetGameApiNo = this.EgameList[0].GameApiNo;
      this.BindGameTypeEvt(); // 载入第一页 this.EgameList[0].ApiStatus

      setTimeout(function() {
        $('.eg-big-list li').click(function() {
          $(this)
            .addClass('hasblock')
            .siblings('li')
            .removeClass('hasblock');
        });
      }, 200);
    },
    clearLoading() {
      EventBus.$off('GlobalLoadingTrigger');
    },
    BindGameTypeEvt: function(gameApiType) {
      this.PostDataModel.GameAPIVendor.Value = localStorage.getItem(
        'gameListGameApiNo'
      );
      this.PostDataModel.GameTypeFilter.Value = -1; // 將過濾器設置回全部
      this.clearLoading();

      this.GameNum = gameApiType; // 2018.12.04 SeyoChen 图片类型对比，传递对应API编号
      this.LoadMainPage();
    },

    // 分页回调获取数据
    GetCurrentPageData: async function(pageNo) {
      this.GetElectronicGameList(pageNo);
    },

    // 取得電子遊戲List
    GetElectronicGameList: async function(pageNo) {
      console.log('11111111111111111111111111');
      //   更新Paging
      this.PageInfo.PageNo = pageNo;
      this.$parent.SearchPage = pageNo;
      EventBus.$emit('Paginate_ResetPageNo', pageNo);

      //   獲得頁面資料
      //   const loadDataObj = {
      //     GameAPIVendor: this.PostDataModel.GameAPIVendor
      //   };

      //   const tempRetData = await GameService.LoadMainPage(loadDataObj);

      //   if (tempRetData.Ret != 0) {
      //     return;
      //   }
      //   this.LoadMainPageDataModel = tempRetData.Data;
      const dataObj = {
        WGUID: Vue.prototype.$WGUID,
        GameAPIVendor: this.PostDataModel.GameAPIVendor, // 遊戲供應商
        GameTypeFilter: this.PostDataModel.GameTypeFilter, // 遊戲類型過濾條件
        GameAPITypeFilter: 5,
        Keyword: '', // 關鍵字
        PagingInfo: this.PageInfo,
        PlatformType: 1 // 2019.01.28 SeyoChen 添加识别PC端
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await GameService.GameQuery(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      console.log('dataObj1212');
      console.log(dataObj);
      console.log(retData);
      console.log('dataObj1212');

      // 成功
      this.LoadMainPageDataModelGameList = retData.Data.GameList;
      this.PageInfo.PageCount = Math.ceil(
        retData.Data.PagingInfo.TotalCount / this.PageInfo.PageSize
      );
      console.log('LoadMainPageDataModelGameList');
      console.log(dataObj);
      console.log(this.LoadMainPageDataModelGameList);
      console.log('LoadMainPageDataModelGameList');
      this.$parent.LoadMainPageDataModel = this.LoadMainPageDataModel;
      this.PostDataModel.Keyword = '';
      // 更新Paging
      //   if (retData.Data.PagingInfo) {
      //     this.PageInfo.PageCount = Math.ceil(
      //       retData.Data.PagingInfo.TotalCount / retData.Data.PagingInfo.PageSize
      //     );
      //     this.$parent.PageInfo.PageCount = this.PageInfo.PageCount;
      //   } else {
      //     this.PageInfo.PageCount = 0;
      //   } // end if
    }, // end GetElectronicGameList
    // 載入頁面
    LoadMainPage: async function(pageNo) {
      this.LoadMainPageDataModel = {
        GameTypeFilterList: {}
      };

      const dataObj = {
        GameAPIVendor: this.PostDataModel.GameAPIVendor
      };

      const retData = await GameService.LoadMainPage(dataObj);
      console.log('retData');
      console.log(retData);
      console.log('retData');
      if (retData.Ret != 0) {
        return;
      }

      this.LoadMainPageDataModel = retData.Data;
      if (pageNo == undefined) {
        console.log('1_________________________' + pageNo);
        this.GetElectronicGameList(1);
      } else {
        this.GetElectronicGameList(pageNo);
      }
    }, // end LoadMainPage
    // 玩電子遊戲
    PlayElectronicGameClick: function(Item) {
      switch (Item.GameApiNo) {
        case 1:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.AG;
          break;
        case 3:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PT;
          break;
        case 7:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.QT;
          break;
        case 8:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.DT;
          break;
        case 9:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.SG;
          break;
        case 14:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.MG;
          break;
        case 15:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.BBIN;
          break;
        case 16:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.TTG;
          break;
        case 17:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PG;
          break;
        case 18:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.WG;
          break;
        case 20:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.RT;
          break;
        case 21:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PS;
          break;
        case 22:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PNG;
          break;
        case 30:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.BP;
          break;
        case 31:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PNG1;
          break;
        case 33:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.KingLong;
          break;
        case 37:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.RTG1;
          break;
        case 39:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.TopTG;
          break;
        case 40:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.PGame;
          break;
        case 46:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_RT;
          break;
        case 47:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_Z88;
          break;
        case 49:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_MWG;
          break;
        case 53:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_PP;
          break;
        case 68:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_SG;
          break;
        case 69:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_VG;
          break;
        case 70:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_MT;
          break;
        case 71:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_AS;
          break;
        case 72:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_SGWinGame;
          break;
        case 73:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_Z88Game;
          break;
        case 74:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_IGLottery;
          break;
        case 75:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_Esport;
          break;
        case 76:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_Sport;
          break;
        case 77:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_JDB;
          break;
        case 78:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_SA;
          break;
        case 79:
          this.DataObj.GameAPIVendor = BLDef.GameApiType.IMOne_SkyWind;
          break;

        default:
          break;
      } // end switch
      this.DataObj.GameCode = Item.GameCode;
      this.DataObj.GameAPIVendor = Item.GameApiNo;
      this.DataObj.GameCatlog = BLDef.GameCatlogType.ElectronicGame;

      // url 要修改成遊戲的URL
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.DataObj)
      );
      // EventBus.$emit('showTransferMessage', this.GameList);
      if (Item.GameApiNo === 31) {
        CommUtility.OpenPlayGameWindow('webPlayPngGame', 'PlayGamePopUpWindow');
      } else {
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
    }, // end PlayElectronicGame
    // 更改圖片路徑(根據不同遊戲)
    getImg: function(i) {
      console.log(i);
      i = parseInt(i); // 2018.12.04 SeyoChen 图片类型对比，寻找img路径
      switch (i) {
        case 1:
          this.imgString = 'AGIN/AG_';
          break;
        case 3:
          this.imgString = 'PT/PT_';
          break;
        case 7:
          this.imgString = 'QT/QT_';
          break;
        case 8:
          this.imgString = 'DT/DT_';
          break;
        case 9:
          this.imgString = 'SG/SG_';
          break;
        case 14:
          this.imgString = 'MG/MG_';
          break;
        case 15:
          this.imgString = 'BBIN/BBIN_';
          break;
        case 16:
          this.imgString = 'TTG/TTG_';
          break;
        case 17:
          this.imgString = 'PG/PG_';
          break;
        case 18:
          this.imgString = 'WG/WG_';
          break;
        case 20:
          this.imgString = 'RT/RT_';
          break;
        case 21:
          this.imgString = 'PS/PS_';
          break;
        case 22:
          this.imgString = 'PNG/PNG_';
          break;
        case 30:
          this.imgString = 'BP/BP_';
          break;
        case 31:
          this.imgString = 'PNG1/PNG1_';
          break;
        case 33:
          this.imgString = 'KingLong/KingLong_';
          break;
        case 37:
          this.imgString = 'RTG/RTG_';
          break;
        case 39:
          this.imgString = 'TTG/TTG_';
          break;
        case 40:
          this.imgString = 'PG/PG_';
          break;
        case 46:
          this.imgString = 'IMOne_RT/IMOne_RT_';
          break;

        case 49:
          this.imgString = 'IMOne_MWG/IMOne_MWG_';
          break;

        case 68:
          this.imgString = 'IMOne_SG/IMOne_SG_';
          break;
        default:
          this.imgString = 'PNG1/PNG1_';
          break;
      } // end switch

      // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen
      this.JudgeMainTain(i);
    }, // end getImg

    // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen
    JudgeMainTain: function(num) {
      this.showGameList = JSON.parse(localStorage.getItem('GameList'));
      for (let i = 0; i < this.showGameList.length; i++) {
        // this.showGame = true;
        // 2为 欧博游戏 2019.01.12 筛选游戏 并 判定状态 SeyoChen
        if (
          this.showGameList[i].GameTypeNo == '4' &&
          this.showGameList[i].GameApiNo == num
        ) {
          switch (this.showGameList[i].GameTypeState) {
            case 703:
              this.showGame = true;
              break;
            default:
              this.showGame = false;
              break;
          }
          return;
        }
      }
    }
    // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen end
  },
  components: {
    Paginate
  },
  watch: {
    // GetCurrentPageData: function() {
    //   this.GetElectronicGameList(this.GetCurrentPageData);
    // }
    // GameNum: function (numb) {
    //   this.$emit('getGameNum', numb);
    // }
  }
};
</script>
