<template>
  <!--代理合作-->
  <div class="agent-content">
    <div class="agent-page">
      <section class="agent-title-box">
        <h2 class="agent-title">
          <p class="txt">{{$t('message.agent_alliance')}}</p>
          <span class="desc">AGENCY HOW TO START</span>
        </h2>
        <router-link to="/JoinUs" class="btn"></router-link>
      </section>
      <div class="agent-main">
        <dl class="agent-top">
          <dt>{{$t('message.advantage_analysis')}}</dt>
          <dd>ADVANTAGE ANALYSIS</dd>
        </dl>
        <table class="agent-tabs">
          <tbody>
            <tr>
              <th>{{$t('message.agency_profit')}}</th>
              <td>20%</td>
            </tr>
            <tr>
              <th>{{$t('message.messageagency_costs')}}</th>
              <td>{{$t('message.periodization')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.proxy_security')}}</th>
              <td>SSL{{$t('message.encryption_processing')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.agency_discount')}}</th>
              <td>{{$t('message.one_year_free')}}</td>
            </tr>
          </tbody>
        </table>
        <dl class="agent-top">
          <dt>{{$t('message.risk_management')}}</dt>
          <dd>RISK MANAGEMENT</dd>
        </dl>
        <table class="agent-tabs">
          <tbody>
            <tr>
              <th>{{$t('message.risk_item')}}</th>
              <td>{{$t('message.prompt_delivery')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.preferential_items')}}</th>
              <td>{{$t('message.many_discounts')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.operation_experience')}}</th>
              <td>{{$t('message.operation_years')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.license_reputation')}}</th>
              <td>{{$t('message.credit_guarantee')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.vigorously_promote')}}</th>
              <td>{{$t('message.brand_effect')}}</td>
            </tr>
            <tr>
              <th>{{$t('message.data_information')}}</th>
              <td>{{$t('message.information_exhaustive')}}......</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
