<template>
  <div class="join-content" :class="'join_'+$MessageLang">
    <!-- 主站 -->
    <div class="main main_introduce">
      <!--代理合作橫幅廣告-->
      <agent-introduce-banner></agent-introduce-banner>
      <!--代理合作內容-->
      <agent-introduce-content></agent-introduce-content>
    </div>
    <join-us-success ref="joinUsSuccessFun"></join-us-success>
  </div>
</template>

<script>
import { JoinUs } from '@/assets/scripts/comTest/main/agent/joinUs.js';
import { JoinOwn } from '@/assets/scripts/comTest/main/agent/joinOwn.js';
export default {
  mixins: [JoinUs, JoinOwn]
};
</script>
