<!--PK10-->
<div class="course item3">
  <div class="l_box">
    <h2><img src="/static/images/web/lotteryBetting/lottery_t4.png?VersionCode" /></h2>
    <p>
      <span>PK10 游戏主要分为两种玩法：投注、吃</span>
      </br>
      <span>投注：可分为四种投注项目：大小、单双、冠军、三甲</span>
      </br>
      <span>吃：可分为两种投注项目：冠军、三甲。</span>
    </p>
  </div>

  <h2 class="l_t2"><img src="/static/images/web/lotteryBetting/lottery_PK10.png?VersionCode" /></h2>
</div>
<div class="preferential_list item3">
  <h3>第一步  <span>THE FIRST STEP</span></h3>
  <p>从1至10号码中随机摇出次序作为开奖结果</p>
  <img src="/static/images/web/lotteryBetting/order-PK10-1.png?VersionCode" />

  <h3>第二步  <span>THE SECOND STEP</span></h3>
  <p>选择投注筹码</p>
  <img src="/static/images/web/lotteryBetting/order-PK10-2.png?VersionCode" />

  <h3>第三步  <span>THE THIRD STEP</span></h3>
  <p>
    <span>1. 投注玩法：冠军、三甲、大小、单双</span>
    </br>
    <span>2. 吃玩法：冠军、三甲</span>
  </p>
  <img src="/static/images/web/lotteryBetting/order-PK10-3.png?VersionCode" />

  <h3>第四步  <span>THE THIRD STEP</span></h3>
  <p>点击确定，投注成功：</p>
  <img src="/static/images/web/lotteryBetting/order-PK10-4.png?VersionCode" />
</div>
