<template>
  <div class="join-content contact-content">
    <div class="main main_introduce contactUs-content">
      <!--連繫我們的Banner-->
      <div :class="'banner contact-banner contact-banner_'+this.$MessageLang+''"></div>
      <div class="content_position">
        <div class="content">
          <div class="content-layout" id="contactUsForm" name="contactUsForm">
            <h2 class="contact-title">{{$t('message.agent_contact_us')}}</h2>
            <ul class="cln_block agent_join contact-fill">
              <div v-if="LoginStatus == true">
                <li class="a_item li_dot">
                  <p>{{$t('message.index_member')}}</p>
                  <a style="float:left" class="account-text">{{Account}}</a>
                </li>
              </div>

              <div v-if="LoginStatus == false">
                <li class="a_item">
                  <p>{{$t('message.member_full_name')}}</p>
                  <input
                    type="text"
                    v-model.trim="PostDataModel.ContactUs.Name"
                    name="Name"
                    v-validate="{ rules: { regex:Reg.NickName }}"
                    :placeholder="$t('message.agent_authentic')"
                  />
                </li>
                <h3 v-show="errors.has('Name') && fields.Name.touched" class="tip">
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                  />
                  {{$t('message.agent_blank_space')}}
                </h3>
              </div>

              <div v-if="LoginStatus == false">
                <li class="a_item">
                  <p>{{$t('message.agent_handset')}}</p>
                  <input
                    type="text"
                    v-model="PostDataModel.ContactUs.PhoneNo"
                    name="PhoneNo"
                    v-validate="{ rules: { regex:Reg.PhoneNo}}"
                    :placeholder="$t('message.agent_input_mobilePhone')"
                  />
                </li>
                <h3 v-show="errors.has('PhoneNo') && fields.PhoneNo.touched" class="tip">
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                  />
                  {{$t('message.agent_legal_mobilePhone')}}
                </h3>
              </div>

              <div v-if="LoginStatus == false">
                <li class="a_item">
                  <p>
                    <i>*</i>
                    {{$t('message.member_mailbox')}}
                  </p>
                  <input
                    type="text"
                    v-model="PostDataModel.Email"
                    name="Email"
                    v-validate="{ rules: {lamborEmail: true, required: true }}"
                    :placeholder="$t('message.member_enter_mailbox')"
                    required
                  />
                </li>
                <h3 v-show="errors.has('Email') && fields.Email.touched " class="tip">
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                  />
                  {{$t('message.agent_underline')}}
                </h3>
              </div>

              <div v-if="LoginStatus == false">
                <li class="a_item">
                  <p>QQ</p>
                  <input
                    type="text"
                    v-model="PostDataModel.ContactUs.QQAcct"
                    name="QQAcct"
                    v-validate="{ rules: { regex:Reg.QQID}}"
                    :placeholder="$t('message.agent_QQ')"
                  />
                </li>
                <h3 v-show="errors.has('QQAcct')  && fields.QQAcct.touched" class="tip">
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                  />
                  {{$t('message.agent_digits')}}
                </h3>
              </div>

              <li class="a_item li_dot">
                <p>
                  <i>*</i>
                  {{$t('message.member_type')}}
                </p>
                <div class="radio_box fr">
                  <div class="down first_down">
                    <div
                      class="d_course"
                      v-on:click="ShowDropDown('TypeBox')"
                    >{{PostDataModel.ContactUs.Type.Name}}</div>
                    <img
                      :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
                    />
                    <div
                      class="down_box TypeBox"
                      style="overflow: scroll; max-height: 165px;overflow-x:hidden;overflow-y:auto;"
                    >
                      <a
                        class="down_list"
                        v-for="Type in TypeList"
                        v-on:click="ChangeType(Type);"
                      >{{Type.Name}}</a>
                    </div>
                  </div>
                </div>
              </li>
              <h3 class="tip" v-show="TypeErrorFlag == true">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.member_selection_type')}}
              </h3>

              <li class="a_item" style="height: 152px;">
                <p>
                  <i>*</i>
                  {{$t('message.member_news')}}
                </p>
                <div class="radio_box fr">
                  <textarea
                    :placeholder="$t('message.member_please_enter')"
                    style="resize: none;width: 620px;height: 120px;"
                    v-model.trim="PostDataModel.ContactUs.Content"
                    name="Content"
                    v-validate="{ rules: { regex:Reg.Content, required: true }}"
                  ></textarea>
                </div>
              </li>
              <h3 class="tip" v-show="errors.has('Content')  && fields.Content.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.agent_word_limit')}}
              </h3>

              <li class="a_item li_code">
                <p>
                  <i>*</i>
                  {{$t('message.agent_identifying_code')}}
                </p>
                <div class="fr">
                  <input
                    type="text"
                    :placeholder="$t('message.agent_caps_look')"
                    name="AuthCode"
                    v-model="PostDataModel.VCode"
                    v-validate="{ rules: { regex:Reg.VCode, required: true }}"
                  />
                  <div class="code_box" v-on:click="GetAuthCode()">
                    <img v-bind:src="AuthImg" />
                  </div>
                </div>
              </li>
              <h3 class="tip" v-show="errors.has('AuthCode') && fields.AuthCode.touched">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/login/tip.png?VersionCode'"
                />
                {{$t('message.agent_code_error')}}
              </h3>
            </ul>
            <a
              href="javascript:void(0);"
              class="l_btn contact_submit"
              @click="Submit()"
            >{{$t('message.agent_submission')}}</a>
          </div>
        </div>
      </div>
    </div>

    <contact-us-confirm-form :PostDataModel="PostDataModel" :LoginStatus="LoginStatus"></contact-us-confirm-form>
  </div>
</template>

<script>
import { ContactUsForm } from '@/assets/scripts/comTest/main/contactUs/contactUsForm.js';
export default {
  mixins: [ContactUsForm]
};
</script>
