<template>
  <div>
    <div
      id="contactUsConfirmForm"
      class="pub_alert_box contact_alert_box details_alert_box"
      style="display:none"
    >
      <!--7版特有-->
      <div class="seven_popup">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p>{{$t('message.agent_submission_information')}}</p>
        </div>
        <div class="alert_btn_both">
          <a class="btn1 information_btn" href="javascript:void(0);" @click="Confirm()">
            <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
          </a>
          <a
            class="btn2"
            href="javascript:void(0);"
            @click="CloseWindow()"
          >{{$t('message.member_cancel')}}</a>
        </div>
      </div>
    </div>
    <contact-us-success></contact-us-success>
  </div>
</template>

<script>
import { ContactUsConfirmForm } from '@/assets/scripts/comTest/main/contactUs/contactUsConfirmForm.js';
export default {
  mixins: [ContactUsConfirmForm]
};
</script>
