<template>
  <div class="accpuntChange_apply">
    <!-- <h2 class="phone_title">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
      {{$t('message.personal_accountChange_record')}}
    </h2>-->
    <ul class="psl_guide">
      <li data-num="0" class="hasblock">
        <a href="javascript:void(0);">{{ $t("message.personal_accountChange_record") }}</a>
        <i></i>
      </li>
    </ul>
    <div class="record_query">
      <span class="record-query-name">{{ $t("message.member_hour") }}：</span>
      <datepicker
        class="common-query-put record-query-put message-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.StartTime"
        format="yyyy/MM/dd"
        calendar-class="startdate_calendar"
        :disabled="CalendarDisabled"
        :placeholder="$t('message.member_start_time')"
      ></datepicker>
      <span class="record-query-name line">—</span>
      <datepicker
        class="common-query-put record-query-put message-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.EndTime"
        format="yyyy/MM/dd"
        calendar-class="enddate_calendar"
        :disabled="CalendarDisabled"
        :placeholder="$t('message.member_ending_time')"
      ></datepicker>
      <span
        class="record-query-name"
        style="padding-left: 10px;"
      >{{ $t("message.member_transaction_type") }}：</span>
      <div class="common-query-put down record-drop message-query-put">
        <div class="d_course" @click="ShowDropDown()">{{ statusName | simpleContent(12) }}</div>
        <img
          :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/p_arrow.png?VersionCode'"
        />
        <div class="down_box down_box1" style="display: none; max-height: 300px;">
          <a
            class="down_list"
            v-for="(BettingType, index) in TransTypeSList"
            :key="index"
            @click="selectStatus(BettingType)"
          >{{ BettingType.Name }}</a>
        </div>
      </div>
      <a
        class="blue_sm search_a"
        style="cursor: pointer; position: inherit; float: left;"
        @click="searchData"
      >
        {{
        $t("message.member_search")
        }}
      </a>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="Submitted === true && TimeSequenceInvalid === true"
          style="top: 55px;"
        >
          {{
          $t("message.member_greater_than")
          }}
        </span>
      </div>
    </div>
    <div class="rct_table table_block">
      <div class="table1_h_cont" id="scroll_table1">
        <table cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="w_1">{{ $t("message.member_order_number") }}</th>
              <th class="w_2">{{ $t("message.member_transaction_time") }}</th>
              <th class="w_3">{{ $t("message.member_transaction_type") }}</th>
              <th class="w_4">{{ $t("message.member_transaction_amount") }}</th>
              <th class="w_4">{{ $t("message.member_surplus") }}</th>
              <th class="w_4">{{ $t("message.member_post_account") }}</th>

              <th class="w_6">{{ $t("message.agent_remarks") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(Log, index) in RecordList" :key="index">
              <td>{{ Log.SerialNo }}</td>
              <td>
                <p>{{ Log.TransDateTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm:ss") }}</p>
              </td>
              <td>{{ Log.TransTypeName }}</td>
              <td>{{ Log.Amount }}</td>
              <td>{{ Log.OldBalance }}</td>
              <td>{{ Log.NewBalance }}</td>
              <el-tooltip
                v-if="Log.Remark != ''"
                popper-class="remark"
                effect="dark"
                :content="Log.Remark"
                placement="top"
              >
                <td>{{ Log.Remark | simpleContent(6) }}</td>
              </el-tooltip>
              <td v-else>
                {{ Log.Remark }}
                <!-- <a
                  class="alert_click1"
                  href="javascript:void(0);"
                  @click="ShowDetail(Log)"
                >{{$t('message.member_detailed')}}</a>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="purple_tip">{{ $t("message.member_beijing_time") }}</div>
      <member-record-detail-rake
        :RakeSettleDetail="RakeSettleDetail"
        :RecordCondition="RecordCondition"
      ></member-record-detail-rake>
      <member-record-detail-normal :OtherRecordDetail="OtherRecordDetail"></member-record-detail-normal>
      <!--分页-->
      <paginate :PageCount="PageCount" :PageNo="QueryConditions.PagingInfo.PageNo"></paginate>
    </div>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
import BLDef from "scripts/common/BLDef"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import MemberRecordDetailNormal from "@/components/sub/memberNew/transactionRecord/memberRecordDetailNormal"
import MemberRecordDetailRake from "@/components/sub/memberNew/transactionRecord/memberRecordDetailRake"
import CommUtility from "scripts/common/CommUtility"
import Paginate from "@/mod/k19/components/sub/paginate"
import EventBus from "scripts/common/EventBus"
export default {
  data() {
    return {
      RakeSettleDetail: {
        RakeList: [],
        Summary: {}
      },
      OtherRecordDetail: {},
      RecordCondition: {},
      TransType: {
        TransType_Deposit: 1,
        TransType_EWallet: 2,
        TransType_BonusActivity: 3,
        TransType_RakeSettled: 4,
        TransType_Withdraw: 5
      },
      // 搜尋條件
      QueryConditions: {
        Type: -1,
        PagingInfo: {
          PageSize: 10
        },
        NoSettled: false
      },
      // 设定初始值(当投注记录为空时无法切换--因此设定初始值) 2018.12.26 SeyoChen
      RetsetData: [{ Key: "", Name: this.$t("message.member_classification_yet") }],
      RecordList: [],
      PageCount: 0,
      DisplayQueryObj: {
        StartTime: new Date(),
        EndTime: new Date(),
        Type: -1,
        PagingInfo: {
          PageNo: 1,
          PageSize: 10
        }
      },
      CalendarDisabled: {
        from: new Date(moment().utcOffset(480).add(1, "days").format("YYYY/MM/DD")) // Disable all dates after specific date
      },
      statusName: this.$t("message.agency_whole"),
      TransTypeSList: [],
      DropDowning: false,
      Submitted: false,
      TimeSequenceInvalid: false
    }
  },
  created() {
    this.LoadPage()
  },
  methods: {
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied() {
      let anyInvalid = false
      this.TimeSequenceInvalid = false

      // 開始時間未選
      if (this.DisplayQueryObj.StartTime === undefined) {
        anyInvalid = true
      }
      // 結束時間未選
      if (this.DisplayQueryObj.EndTime === undefined) {
        anyInvalid = true
      }
      // 開始日期大於結束日期

      this.DisplayQueryObj.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"
      )
      this.DisplayQueryObj.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59",
        true
      )
      if (this.DisplayQueryObj.StartTime !== undefined && this.DisplayQueryObj.EndTime !== undefined) {
        if (this.DisplayQueryObj.StartTick > this.DisplayQueryObj.EndTick) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }
      // 類型未選
      return anyInvalid
    },
    // 切换状态值
    selectStatus(BettingType) {
      this.statusName = BettingType.Name
      this.DisplayQueryObj.Type = Number(BettingType.Value)
      this.ShowDropDown()
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this["DropDowning"] === false) {
        $(".down_box").slideDown(300)
        this["DropDowning"] = true
      } else {
        $(".down_box").slideUp(300)
        this["DropDowning"] = false
      }
    },
    // 載入記錄查詢頁面
    LoadPage: async function () {
      const data = await PersonalCenterService.CashFlowLog_TransTypeList()
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.TransTypeSList = data.Data.TransTypeSList
      } // end if
      // 類型給預設
      this.DisplayQueryObj.Type = Number(data.Data.TransTypeSList[0].Value)
      // this.QueryConditions.Type = -1;
      this.DisplayQueryObj.StartTime = new Date()
      this.DisplayQueryObj.EndTime = new Date()
      this.GetCurrentPageData(1)
    },
    // 搜索
    searchData() {
      this.Submitted = true
      const anyFieldInvalid = this.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if
      this.GetCurrentPageData(1)
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // 查詢紀錄
    GetCurrentPageData: async function (pageNo) {
      this.DisplayQueryObj.PagingInfo.PageNo = pageNo
      this.DisplayQueryObj.StartTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.StartTime) + " 00:00:00"
      )
      this.DisplayQueryObj.EndTick = CommUtility.LocalTimeToUtcTicks(
        this.dateFormat(this.DisplayQueryObj.EndTime) + " 23:59:59",
        true
      )

      let data
      EventBus.$emit("GlobalLoadingTrigger", true)
      data = await PersonalCenterService.CashFlowLog_Record(this.DisplayQueryObj)
      console.log("data账变记录")
      console.log(data)
      console.log("data账变记录")
      EventBus.$emit("GlobalLoadingTrigger", false)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.RecordList = data.Data.LogList
        this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.QueryConditions.PagingInfo.PageSize)
      } else {
        const notifyData = {
          NotifyMessage: data.Message
        }
        EventBus.$emit("showNotifyMessage", notifyData)
      } // end if
    }, // end GetCurrentPageData
    ShowDetail: async function (Record) {
      const inputObj = {
        ID: Record.ID,
        Type: Record.TransType
      }
      this.RecordCondition = inputObj
      const data = await PersonalCenterService.CashFlowLog_LoadDetailPage(inputObj)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (Record.TransType === this.TransType.TransType_RakeSettled) {
          // 反水類型
          this.RakeSettleDetail = data.Data.Detail
          MemberRecordDetailRake.methods.RakeOpenWindow()
        } else {
          // 其他類型
          this.OtherRecordDetail = data.Data.Detail
          MemberRecordDetailNormal.methods.NormalOpenWindow()
        }
      }
    }
  },
  components: {
    MemberRecordDetailNormal,
    MemberRecordDetailRake,
    Paginate,
    datepicker: Datepicker
  },
  mounted() {
    // 滚动条
    $("#scroll_table1").perfectScrollbar()
  }
}
</script>
<style lang="less" scoped>
.wrap {
  .accpuntChange_apply {
    .phone_title {
      font-size: 20px;
      padding-left: 20px;
    }
  }
}
#scroll_table1 {
  table tr {
    td,
    th {
      width: 14%;
    }
    .w_6 {
      width: 200px;
    }
  }
}
</style>
<style>
.el-tooltip__popper {
  max-width: 200px !important;
  word-break: break-all !important;
  text-align: center;
}
</style>
