/*----------start--左侧导航条----------*/
.member-content{
	overflow: hidden;
}
.member-cont-nav{
	width:220px;
	margin-top: 10px;
}
.member-cont-nav li{
	height: 55px;
    line-height: 55px;
	border:1px solid #3e2870;
	margin-bottom: 5px;
}
.member-cont-nav li a{
	position: relative;
    display: block;
    height: 53px;
    line-height: 53px;
    margin-top: 1px;
}
.member-cont-nav li a i{
	width: 42px;
	height: 41px;
	float: left;
	margin-top: 6px;
    margin-left: 40px;
}
.member-cont-nav .member-navList a span{
	width: 4em;
	display: block;
	margin-left: 16px;
	float: left;
	text-align: center;
	font-size: 16px;
    color: #3e2870;
}
.member-cont-nav .member-navList:hover a span,.member-cont-nav .member-navList.hasblock a span{
	color: #9088c5;
}

