<template>
  <div class="playMyGame-content" :class="'ele-'+ $MessageLang">
    <!-- <ul class="eg-big-list">
      <li
        v-for="(list,index) in this.EgameList"
        @click="BindGameTypeEvt(list.GameApiNo)"
        v-bind:class="{'hasblock' : (index === 0)}"
      >
        <i class="eg-big-maintain" v-if="list.GameTypeState == '703'"></i>
        <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
      </li>
    </ul>-->
    <div class="ele-scroll">
      <ul class="ele-logo-lists clearfix">
        <li class="ele-logo-li" v-for="(Game,index) in LoadMainPageDataModelGameList" :key="index">
          <i class="eg-big-play" v-show="showGame"></i>
          <a href="javascript:;" v-on:click="PlayElectronicGameClick(Game);">
            <p>
              <img :onerror="defaultImg" v-bind:src="Game.ImgUrl + '?VersionCode'" />
            </p>
            <b>{{Game.Name | simpleContent(12)}}</b>
            <span v-show="!showGame"></span>
            <i class="shadow"></i>
            <em v-show="!showGame">{{$t('message.live_start_game')}}</em>
          </a>
        </li>
      </ul>
    </div>
    <paginate :PageCount="this.PageInfo.PageCount" :PageNo="this.PageInfo.PageNo"></paginate>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import Vue from 'vue';
import URLService from 'scripts/common/URLService';
import CommUtility from 'scripts/common/CommUtility';
import HttpService from 'scripts/common/HttpService';
import EventBus from 'scripts/common/EventBus';
import GameService from 'scripts/businessLogic/gameService';
import Paginate from '@/components/sub/paginate';

export default {
  data() {
    return {
      EgameList: [],
      LoadMainPageDataModel: {},
      LoadMainPageDataModelGameList: [],
      // 查詢 Post DataModel
      PostDataModel: {
        GameAPIVendor: {
          Value: ''
        },
        GameTypeFilter: {
          Value: '-1'
        },
        SlotLineFilter: {
          Value: '-1'
        },
        Keyword: ''
      },
      DataObj: {
        GameAPIVendor: '',
        GameCode: '',
        GameCatlog: BLDef.GameCatlogType.EGames,
        PlayType: BLDef.IdentityType.FORMAL,
        PlatformType: BLDef.PlatformType.Web_PC
      },
      imgString: '',
      defaultImg:
        'this.src="' +
        this.$ResourceCDN +
        '/EditionImg/Lambor1.0/images/web/game/electronic/Temp.png?VersionCode"',

      // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen
      showGameList: [],
      showGame: false,
      // 分頁資料
      PageInfo: {
        PageNo: 1,
        PageSize: 16,
        PageCount: 0
      },
      gameApiTypeApi: undefined
    };
  },
  created: function() {
    this.GatGame(); // 2019.3.28 SeyoChen 遍历游戏
  },
  mounted: function() {
    // EventBus.$on('gameListGameApiNo', data => {
    //   this.gameApiTypeApi = data;
    // });
    // this.gameApiTypeApi = localStorage.getItem('gameListGameApiNo');
    // this.PostDataModel.GameAPIVendor.Value = '70';
    this.PostDataModel.GameAPIVendor.Value = localStorage.getItem(
      'gameListGameApiNo'
    );
  },
  methods: {
    // 遍历获取游戏列表
    GatGame: async function() {
      this.GameList = JSON.parse(localStorage.getItem('GameList'));

      const dataObj = {
        WGUID: '',
        GameTypeNo: '',
        PlatformType: BLDef.PlatformType.Web_PC
      };
      dataObj.WGUID = Vue.prototype.$WGUID;
      dataObj.GameTypeNo = '0'; // 0.全部 1.真人视讯 2.体育 3.彩票 4.电子
      const retData = await HttpService.PostDynamic(0, 214, dataObj);

      if (
        retData.Ret === 0 &&
        this.GameList !== retData.Data.GameAPIVerdorList
      ) {
        // 判断本地缓存是否与之前的相同
        this.GameList = retData.Data.GameAPIVerdorList;
        localStorage.setItem(
          'GameList',
          JSON.stringify(retData.Data.GameAPIVerdorList)
        );
      }

      for (let i = 0; i < this.GameList.length; i++) {
        // 2为 欧博游戏 2019.01.12 筛选游戏 并 判定状态 SeyoChen
        if (
          this.GameList[i].GameApiNo !== '2' &&
          this.GameList[i].GameTypeNo === 4 &&
          this.GameList[i].GameTypeState !== '704'
        ) {
          this.EgameList.push(this.GameList[i]);
        }
      }

      // this.GetGameApiNo = this.EgameList[0].GameApiNo;
      this.BindGameTypeEvt(); // 载入第一页 this.EgameList[0].ApiStatus

      setTimeout(function() {
        $('.eg-big-list li').click(function() {
          $(this)
            .addClass('hasblock')
            .siblings('li')
            .removeClass('hasblock');
        });
      }, 200);
    },
    clearLoading() {
      EventBus.$off('GlobalLoadingTrigger');
    },
    BindGameTypeEvt: function(gameApiType) {
      this.PostDataModel.GameAPIVendor.Value = localStorage.getItem(
        'gameListGameApiNo'
      );
      this.PostDataModel.GameTypeFilter.Value = -1; // 將過濾器設置回全部
      this.clearLoading();

      this.GameNum = gameApiType; // 2018.12.04 SeyoChen 图片类型对比，传递对应API编号
      this.LoadMainPage();
    },

    // 分页回调获取数据
    GetCurrentPageData: async function(pageNo) {
      this.GetElectronicGameList(pageNo);
    },

    // 取得電子遊戲List
    GetElectronicGameList: async function(pageNo) {
      console.log('11111111111111111111111111');
      //   更新Paging
      this.PageInfo.PageNo = pageNo;
      this.$parent.SearchPage = pageNo;
      EventBus.$emit('Paginate_ResetPageNo', pageNo);

      //   獲得頁面資料
      //   const loadDataObj = {
      //     GameAPIVendor: this.PostDataModel.GameAPIVendor
      //   };

      //   const tempRetData = await GameService.LoadMainPage(loadDataObj);

      //   if (tempRetData.Ret != 0) {
      //     return;
      //   }
      //   this.LoadMainPageDataModel = tempRetData.Data;
      const dataObj = {
        WGUID: Vue.prototype.$WGUID,
        GameAPIVendor: this.PostDataModel.GameAPIVendor, // 遊戲供應商
        GameTypeFilter: this.PostDataModel.GameTypeFilter, // 遊戲類型過濾條件
        GameAPITypeFilter: 5,
        Keyword: '', // 關鍵字
        PagingInfo: this.PageInfo,
        PlatformType: 1 // 2019.01.28 SeyoChen 添加识别PC端
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await GameService.GameQuery(dataObj);
      EventBus.$emit('GlobalLoadingTrigger', false);

      console.log('dataObj1212');
      console.log(dataObj);
      console.log(retData);
      console.log('dataObj1212');

      // 成功
      this.LoadMainPageDataModelGameList = retData.Data.GameList;
      this.PageInfo.PageCount = Math.ceil(
        retData.Data.PagingInfo.TotalCount / this.PageInfo.PageSize
      );
      console.log('LoadMainPageDataModelGameList');
      console.log(dataObj);
      console.log(this.LoadMainPageDataModelGameList);
      console.log('LoadMainPageDataModelGameList');
      this.$parent.LoadMainPageDataModel = this.LoadMainPageDataModel;
      this.PostDataModel.Keyword = '';
      // 更新Paging
      //   if (retData.Data.PagingInfo) {
      //     this.PageInfo.PageCount = Math.ceil(
      //       retData.Data.PagingInfo.TotalCount / retData.Data.PagingInfo.PageSize
      //     );
      //     this.$parent.PageInfo.PageCount = this.PageInfo.PageCount;
      //   } else {
      //     this.PageInfo.PageCount = 0;
      //   } // end if
    }, // end GetElectronicGameList
    // 載入頁面
    LoadMainPage: async function(pageNo) {
      this.LoadMainPageDataModel = {
        GameTypeFilterList: {}
      };

      const dataObj = {
        GameAPIVendor: this.PostDataModel.GameAPIVendor
      };

      const retData = await GameService.LoadMainPage(dataObj);
      console.log('retData');
      console.log(retData);
      console.log('retData');
      if (retData.Ret != 0) {
        return;
      }

      this.LoadMainPageDataModel = retData.Data;
      if (pageNo == undefined) {
        console.log('1_________________________' + pageNo);
        this.GetElectronicGameList(1);
      } else {
        this.GetElectronicGameList(pageNo);
      }
    }, // end LoadMainPage
    // 玩電子遊戲
    PlayElectronicGameClick: function(Item) {
      this.DataObj.GameCode = Item.GameCode;
      this.DataObj.GameAPIVendor = Item.GameApiNo;
      this.DataObj.GameCatlog = BLDef.GameCatlogType.ElectronicGame;

      // url 要修改成遊戲的URL
      localStorage.setItem(
        'PlayGamePostData',
        URLService.GetUrlParameterFromObj(this.DataObj)
      );
      // EventBus.$emit('showTransferMessage', this.GameList);
      if (Item.GameApiNo === 31) {
        CommUtility.OpenPlayGameWindow('webPlayPngGame', 'PlayGamePopUpWindow');
      } else {
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
    }, // end PlayElectronicGame

    // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen
    JudgeMainTain: function(num) {
      this.showGameList = JSON.parse(localStorage.getItem('GameList'));
      for (let i = 0; i < this.showGameList.length; i++) {
        // this.showGame = true;
        // 2为 欧博游戏 2019.01.12 筛选游戏 并 判定状态 SeyoChen
        if (
          this.showGameList[i].GameTypeNo == '4' &&
          this.showGameList[i].GameApiNo == num
        ) {
          switch (this.showGameList[i].GameTypeState) {
            case 703:
              this.showGame = true;
              break;
            default:
              this.showGame = false;
              break;
          }
          return;
        }
      }
    }
    // 2019.01.12 判断所展示游戏是否为维护中游戏 SeyoChen end
  },
  components: {
    Paginate
  },
  watch: {
    // GetCurrentPageData: function() {
    //   this.GetElectronicGameList(this.GetCurrentPageData);
    // }
    // GameNum: function (numb) {
    //   this.$emit('getGameNum', numb);
    // }
  }
};
</script>
