<template>
  <div>
    <!--<iframe id="Iframe_Game" :src="GamePlayUrl"  frameborder="0" border="0" cellspacing="0" style="width:100%;height:796px"></iframe>-->
    <!-- <message-transfer-window></message-transfer-window> -->
    <!-- <div style="width:100%;height:100%;" v-if="callBackHtml" v-html="callBackHtml"></div> -->
    <div>
      <div
        class="play_game"
        :style="{background:'url(' + $ResourceCDN + '/EditionImg/LamborFormal/images/public/loading_bg.jpg)'}"
      >
        <div
          class="loding_box"
          :style="{background:'url(' + $ResourceCDN + '/EditionImg/LamborFormal/images/public/bar_bg.png)'}"
        >
          <span
            class="loading_top"
            :style="{background:'url(' + $ResourceCDN + '/EditionImg/LamborFormal/images/public/bar.png)'}"
          ></span>
          <p>{{$t('message.entering_the_game')}}</p>
        </div>
      </div>
      <div id="MessageTransferWindow" class="pub_alert_box copy_alert_box" style="display:none;">
        <div v-show="TransferShow">
          <div class="descr_title no_line">
            <a class="icon_close" href="javascript:void(0);" @click="CloseCurrentWindow()"></a>
          </div>
          <div class="descr_p">
            <p class="p_blue">
              {{NotifyMessage}}
              <a
                v-if="this.TransferNum>1"
                @click="OpenNewBox()"
                style="color: #1792ff;cursor: pointer;"
              >{{$t('message.member_contact_service')}}</a>
            </p>
            <p>{{NotifyObj.NotifySubMessage}}</p>
          </div>
          <div class="alert_btn_both">
            <a
              class="btn1"
              href="javascript:void(0);"
              @click="IntoGame()"
            >{{$t('message.live_start_game')}}</a>
            <a
              class="btn2"
              href="javascript:void(0);"
              v-if="TransferNum <= 2"
              @click="PlayGame()"
            >{{$t('message.transfer_ReTransfer')}}</a>
            <a
              class="btn2"
              href="javascript:void(0);"
              v-else
              @click="CloseCurrentWindow()"
            >{{$t('message.member_ascertain')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
#MessageTransferWindow {
  z-index: 999999;
}
.play_game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top center !important;
  z-index: 99;

  .loding_box {
    position: fixed;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 450px;
    height: 31px;
    line-height: 31px;

    .loading_top {
      display: block;
      width: 0;
      height: 31px;
      line-height: 31px;
    }
    p {
      margin-top: 20px;
      width: 100%;
      line-height: 24px;
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
  }
}
</style>

<script>
import { playGame } from '../../../assets/scripts/comTest/main/linkToGame/playGame.js';
export default {
  mixins: [playGame]
};
</script>
