//登录    
.theme00 {
    .forgetText {
        text-align: left;
        padding-left: 20px;
        input {
            vertical-align: top;
            margin-top: 4px;
            margin-right: 5px;
        }

        .el-checkbox {
            .el-checkbox__input {
                .el-checkbox__inner {
                    background-color: #155493 !important;
                    border-color: #155493;
                    // color: #fc435d;
                }
            }

            .el-checkbox__label {
                color: #999 !important;
                font-size: 16px;
            }
        }
        .el-checkbox__input.is-checked .el-checkbox__inner,
        .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #155493 !important;
            border-color: #155493 !important;
        }
        font-size: 16px;
        color: #666 !important;
    }

}
