.theme00 {
    .pub_alert_box {
        width: auto;
        min-width: 270px;
        /*min-height: 140px;*/
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 9999;
        /*padding: 0 20px;*/
    }

    // .main-navList-logo a{
    //     background:url('/static/images/Customer/nav_logo60.png') no-repeat;
    // }

    .pub_alert_box .descr_title {
        width: 100%;
        /*height: 50px;*/
        height: 45px;
        line-height: 41px;
        margin-bottom: 20px;
        border-bottom: solid 1px #ebebeb;
        text-align: left;
    }

    .pub_alert_box.re_h .descr_title {
        height: 41px;
    }

    .pub_alert_box .descr_title.no_line {
        border-bottom: 0;
        margin-bottom: 0;
    }

    .pub_alert_box .descr_title p {
        font-size: 14px;
        color: #323544;
        float: left;
        margin-left: 20px;
    }

    .pub_alert_box .descr_title a.icon_close {
        width: 13px;
        height: 13px;
        display: block;
        background-size: 100% 100%;
        float: right;
        margin-top: 16px;
        margin-right: 20px;
    }

    .pub_alert_box .descr_title a.icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        background-size: 100% 100%;
        margin-top: 12px;
        margin-left: 10px;
    }

    .descr_p {
        padding: 0 30px;
        // padding-top: 43px;
    }

    .descr_p p {
        font-size: 12px;
        color: #4b4b4b;
        /*padding: 0 30px;*/
        line-height: 28px;
        word-break: break-all;
        text-align: center;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p p.p_blue {
        text-align: center;
        font-size: 18px;
        color: #798aad;
        margin-bottom: 16px;
    }

    .descr_p p.p_red {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
        color: #ff0000;
    }

    .descr_p p em {
        display: inline-block;
        font-size: 12px;
        color: #4b4b4b;
        margin-right: 10px;
    }

    .five_fonts.descr_p p em {
        min-width: 72px;
    }

    .alert_btn_both {
        width: 100%;
        height: 38px;
        text-align: center;
        /*margin: 20px auto 30px;*/
        margin: 32px auto 22px;
        font-size: 0;
    }

    .pub_alert_box.re_h .alert_btn_both {
        margin: 20px auto;
    }

    .alert_btn_both a {
        display: inline-block;
        padding: 0 5px;
        min-width: 90px;
        height: 37px;
        line-height: 34px;
        font-size: 16px;
        text-align: center;
        border-radius: 18px;
    }

    .alert_btn_both a.btn1 {
        background: linear-gradient(to right, #7d54ff, #e154ff);
        color: #fff;
    }

    .alert_btn_both a.btn2 {
        // background: #afb0b8;
        // color: #736f6a;
        margin-left: 10px;
    }


    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field .input_lf {
        font-size: 14px;
        color: #e6e6e6;
        float: left;
        height: 30px;
        line-height: 30px;
    }

    .input_field .input_rt input {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: none;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        word-break: break-all;
        background: none;
    }

    .input_field.style2 {
        margin: 0 40px;
    }

    .input_field.style2 li {
        margin-top: 15px;
        min-height: 30px;
        height: auto;
        overflow: hidden;
    }

    .input_field.style2 .input_lf {
        width: 85px;
    }

    .input_field.style2 .input_rt {
        min-height: 30px;
        height: auto;
        text-align: left;
    }

    .input_field.style2 .input_rt input {
        width: 194px;
        display: inline-block;
        vertical-align: top;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #646775;
        background: none;
        font-size: 14px;
        color: #e6e6e6;
        word-break: break-all;
    }

    #forgetPasswordForm .input_field.style2 .input_rt input {
        width: 300px;
    }

    .input_field.style2 .input_rt input::-webkit-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input::-moz-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:-ms-input-placeholder {
        font-size: 14px;
        color: rgba(75, 75, 75, 0.5);
    }

    .input_field.style2 .input_rt input:focus {
        color: #ddd;
        /*border: solid 1px #c9d0f6;*/
        border: 1px solid #646775;
        background: none;
    }

    .input_field li.hasblock .input_rt i.tip1 {
        display: block;
    }

    /*忘记密码弹窗*/

    .login-popup {
        width: auto;

        input::-webkit-input-placeholder {
            font-size: 16px;
            color: #574e7a;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #574e7a;
        }

        input:-ms-input-placeholder {
            font-size: 16px;
            color: #574e7a;
        }

        .icon_close {
            width: 18px !important;
            height: 17px !important;
            margin: 13px 15px 0 0 !important;
        }

        // .descr_p p.p_blue {
        //     text-align: center;
        //     font-size: 18px;
        //     color: #e6e6e6;
        //     margin-bottom: 10px;
        // }

        .input_field .input_lf {
            font-size: 14px;
            color: #666;
            float: left;
            height: 30px;
            line-height: 30px;

            &.inputLfvi {
                width: 133px;
            }
        }

        .input_field .input_rt {
            display: inline-block;
            vertical-align: top;
            position: relative;

            &.inputLgvi {
                input {
                    width: 276px !important;
                }

                .tip1 {
                    width: 273px;
                }
            }

            input {
                background: #f5f5f5;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                vertical-align: top;
                width: 300px;
                height: 34px;
                line-height: 34px;
                padding: 0 10px;
                outline: none;
                font-size: 14px;
                color: gray !important;
                word-break: break-all;
            }

            .tip1 {
                width: 296px;
            }
        }

        .login_descr_p {
            margin-top: 50px;

            p a {
                color:red !important;
                text-decoration: underline;
            }
        }
    }

    //用户协议

    .user-agreement-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 9999;
        background: #fff;
        height: 880px;
        width: 1080px;
        margin: auto;

        .login-cont-title {
            display: none;

            img {
                display: none;
            }
        }

        h4 {
            display: none;
        }

        .agreement-title {
            font-size: 18px;
            color: #696969;
            padding: 20px 65px 20px;

            span {
                display: none;
            }
        }

        p {
            font-size: 16px;
            color: #696969;
            line-height: 30px;
            margin: 0 65px;

            i {
                width: 20px;
            }

            span,
            i {
                display: inline-block;
                vertical-align: top;
                font-style: normal;
            }

            span {
                width: 950px;
            }
        }

        .back-register {
            display: block;
            width: 117px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-size: 18px;
            color: #ffffff;
            background: #2ba8f4;
            margin: 40px auto 0;
            border-radius: 5px;
        }
    }


    .descr_p div {
        font-size: 13px;
        color: #e6e6e6;
        /* padding: 0 30px; */
        line-height: 32px;
        word-break: break-all;
    }

    .descr_p.left_p p {
        text-align: left;
    }

    .descr_p .record_detail_title {
        display: inline-block;
        font-size: 13px;
        color: #e6e6e6;
        margin-right: 10px;
        width: 90px;
        text-align: right;
    }

    .five_fonts.descr_p .record_detail_title {
        width: 72px;
    }

    .alert_pb_list {
        overflow: hidden;
        border-bottom: solid 1px #ebebeb;
        padding-bottom: 20px;
    }

    .alert_pb_list li {
        overflow: hidden;
    }

    .alert_pb_list li div {
        float: left;
        font-size: 12px;
        color: #4b4b4b;
        text-align: left;
        line-height: 22px;
    }

    .alert_pb_list li.first_li {
        margin-bottom: 10px;
    }

    .alert_pb_list li.first_li div {
        font-size: 12px;
        color: #4b4b4b;
        font-weight: bold;
    }

    .withdraw_alert_box .alert_pb_list li div {
        width: 70px;
        font-weight: 700; // 2018.10.09 SeyoChen
        text-align: center;
    }

    .alert_pb_list li div {
        float: left;
        font-size: 12px;
        color: #4b4b4b;
        text-align: left;
        line-height: 22px;
    }

    .withdraw_alert_box .alert_pb_list li div.div1 {
        width: 60px;
    }

    .sum_alert_box .icon_download {
        width: 17px;
        height: 17px;
        display: block;
        float: left;
        background-size: 100% 100%;
        margin-top: 12px;
        margin-left: 10px;
    }

    .total_block {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        font-size: 0;
    }

    .total_block span {
        font-size: 14px;
        color: #0e0e0e;
        float: left;
        margin-left: 24px;
        font-weight: bold;
    }

    .total_block ul {
        text-align: right;
        overflow: hidden;
        float: right;
    }

    .total_block ul li {
        width: 100px;
        font-size: 14px;
        color: #6abee0;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    #failForm .login-popup {
        width: 330px;
    }

    #forgetPasswordForm .login-popup {
        width: 520px;
    }

    .psw_forget {
        margin-bottom: 20px;
        display: block;
        text-align: center;
        // margin-top: 10px;
        font-size: 12px;
        color: #787878;
    }

    .f_box {
        padding: 40px;
        width: 342px;
        min-height: 320px;
        text-align: center;
    }

    .f_box .full_course {
        text-align: center;
    }

    .f_box .full_course h2 {
        margin: 20px 0 40px 0;
        font-size: 28px;
        font-weight: normal;
        color: #000000;
        text-align: center;
    }

    .f_box .full_course p {
        line-height: 40px;
        font-size: 18px;
    }

    .f_box .full_course p a {
        color: #8d8acd;
    }

    .f_box .full_course p a:hover {
        color: red;
    }

    /*网银*/
    .deposit-bom03 {
        width: 850px;
    }

    .bank_list {
        overflow: hidden;
        width: 760px;
        margin: auto;
        text-align: left;
        font-size: 0;
        margin-bottom: 29px;
    }

    .bank_list li {
        display: inline-block;
        width: 182px;
        height: 37px;
        border: solid 1px #ffffff;
        margin: 3px;
    }

    .bank_list li:hover,
    .bank_list li.on {
        border: solid 1px #65451e;
    }

    .alert_click1 {
        color: #0000ee;
    }
}
