@import "@/assets/cdn.less";

.theme60 {
  /*登录&注册&注册成功&用户协议*/
  .login-register-content {
    height: 960px;
    width: 100%;

    .login-register-main {
      position: absolute;
      top: 50px;
      left: 410px;
      width: 1080px;
      margin: auto;

      .register-logo-title {
        padding: 20px 0 0 15px;
        display: block !important;

        a {
          display: block;
          width: 229px;
          height: 33px;
          font-size: 0;
        }
      }

      .login-title {
        padding: 20px 0 0 15px;

        a {
          display: block;

          width: 134px;
          height: 33px;
        }
      }

      .login-logo {
        padding: 130px 0 30px;

        a {
          display: block;
          // background:url('/static/images/Customer/l_logo60.png') no-repeat;
          // background-size: 100%;
          width: 275px;
          height: 100px;
          margin: auto;
          text-align: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .login-register-box {
        width: 1080px;
        height: auto;

        .login-register-from {
          font-size: 0;
          padding-left: 300px;

          .login-register-cont {
            padding-bottom: 10px;

            .login-register-com {
              display: inline-block;
              vertical-align: top;
              font-size: 0;
              width: 483px;
              height: 73px;
              background: rgba(205, 205, 205, 0.2);
              border: 1px solid #696276;
              border-radius: 10px;
              position: relative;

              .login-regcom-name {
                display: inline-block;
                font-size: 20px;
                color: #d6dadd;
                width: 90px;
                text-align: left;
                line-height: 45px;
                border-right: 1px solid #c6bdc8;
                margin-top: 15px;
                margin-left: 15px;
                white-space: nowrap;
              }

              .login-regcom-putBox {
                display: inline-block;
                vertical-align: top;

                input {
                  display: inline-block;
                  vertical-align: top;
                  width: 320px;
                  height: 38px;
                  line-height: 38px;
                  padding: 13px;
                  background: rgba(198, 188, 200, 0.4);
                  outline: none;
                  border: none;
                  border-radius: 5px;
                  font-size: 16px;
                  color: #ffffff;
                  word-wrap: break-all;
                  margin: 4px 0 0 10px;
                }

                .putBox-special-input {
                  width: 188px;
                }

                input::-webkit-input-placeholder {
                  font-size: 14px;
                  color: #d6dadd;
                }

                input::-moz-placeholder {
                  font-size: 14px;
                  color: #d6dadd;
                }

                input:-ms-input-placeholder {
                  font-size: 14px;
                  color: #d6dadd;
                }

                .carryTip {
                  display: none;
                }

                .putBox-code {
                  position: absolute;
                  right: -180px;
                  top: 12px;
                  width: 126px;
                  height: 50px;

                  img {
                    max-height: 100%;
                  }
                }

                .putBox-change {
                  display: none;
                }
              }
            }

            .login-regcom-special {
              width: 350px;

              .login-regcom-putBox {
                width: 188px;
              }
            }
          }
        }

        .forgetText {
          input {
            vertical-align: top;
            margin-top: 4px;
            margin-right: 5px;
          }

          .el-checkbox {
            .el-checkbox__input {
              .el-checkbox__inner {
                background-color: #fc435d !important;
                border-color: #fc435d;
                // color: #fc435d;
              }
            }

            .el-checkbox__label {
              color: #999 !important;
              font-size: 16px;
            }
          }

          font-size: 16px;
          color: #666;
          padding-left: 301px;
        }

        .login-btn,
        .register-btn,
        .success-btn {
          display: block;
          width: 473px;
          height: 63px;
          line-height: 63px;
          margin: 30px auto 0;
          text-align: center;
          font-size: 20px;
          color: #ffffff;
        }

        .loghide {
          display: none;
        }

        .logSter-entrance {
          width: 300px;
          margin: 30px auto 0 auto;

          a {
            color: #d6dadd;
            font-size: 16px;
          }
        }
      }

      // 注册
      .register-logo {
        display: none;
      }

      .register-box {
        .register-title {
          padding: 20px 0 0 15px;

          a {
            display: block;
            width: 229px;
            height: 33px;
          }
        }

        .login-register-from {
          padding-top: 6px;

          .register-hook {
            i,
            span,
            a {
              font-size: 16px;
              display: inline-block;
              vertical-align: top;
            }

            i {
              border: 1px solid #c6bdc8;
              font-style: normal;
              width: 14px;
              height: 14px;
              margin-right: 10px;
              cursor: pointer;
              margin-top: 3px;
            }

            i.current {
            }

            span {
              color: #9a9a9a;
            }

            a {
              color: #00f4fd;
            }
          }
        }
      }

      // 注册成功
      .success-box {
        height: 640px;

        .success-title {
          padding: 20px 0;

          a {
            display: block;
            width: 199px;
            height: 48px;
            margin: auto;
          }
        }

        .success-text {
          font-size: 16px;
          color: #fff;
          text-align: center;
          line-height: 21px;

          i {
            display: inline-block;
            font-style: normal;
            color: #67cde0;
            margin-left: 10px;
          }
        }

        .aclist-pic {
          display: none;
        }
      }
    }
  }
}
