<template>
  <div class="catchfish"
       :style="{background:$BannerPath.Images.SportBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images' + $BannerPath.Images.fishBgImages + ')no-repeat':'' }">
    <div class="catchfish-content">
      <catchfish-content ref="catchfishcontent"
                         :PageCount="PageCount"
                         :pageSize="pageSize"></catchfish-content>
    </div>
  </div>
</template>
<style lang="less" scoped>
// 可根据不同需求修改外框样式
.catchfish {
  padding-top: 550px;
  .catchfish-content {
    width: 1200px;
    margin: 0 auto;
  }
}
</style>
<script>
import catchfish from '@/mod/k04/assets/scripts/comTest/main/catchfish/catchfish.js';
export default {
  mixins: [catchfish]
};
</script>
