.theme60 {

    /*header*/

    //marquee

    .header-marquee {
        width: 500px;
        float: left;
        height: 40px;
        line-height: 40px;
        overflow: hidden;

        .header-marquee-icon {
            display: inline-block;
            vertical-align: top;
            width: 17px;
            height: 15px;
            margin-top: 13px;
            float: left;
        }

        .notice {
            width: 440px;
            float: left;
            margin-left: 7px;
            height: 40px;
            line-height: 40px;
            overflow: hidden;

            .slideTxtBox {
                float: left;
                width: 440px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                overflow: hidden;

                ul {
                    width: 440px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;

                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .header {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // z-index: 111;

        .header-top {
            width: 100%;
        }

        .header-cont {
            height: 40px;
            line-height: 40px;
            width: 1200px;
            margin: 0 auto;
            position: relative;

            .header-cont-nav {
                float: right;

                li {
                    float: left;

                    &.login-before i {
                        display: none;
                    }

                    a {
                        vertical-align: top;
                        display: inline-block;
                        margin-right: 5px;
                        color: #818ea6;
                        font-size: 12px;

                        .heMail {
                            display: inline-block;
                            width: 26px;
                            height: 19px;
                            margin-top: 11px;
                        }
                    }

                    a:hover {
                        color: #fff;
                    }

                    a.user {
                        padding-left: 20px;
                    }

                    a.deposit {
                        padding-left: 20px;
                    }

                    a.refresh-account,
                    a.rotateLoop {
                        width: 20px;
                        height: 18px;
                        margin-top: 11px;
                        margin-right: 0;
                    }

                    .email img {
                        width: 25px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                    }

                    .unread {
                        top: 4px;
                        right: -6px;
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        line-height: 14px;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        color: #ffffff;
                        text-align: center;
                        content: '9';
                        background-size: 100%;
                    }

                    .account em {
                        color: #fff;
                    }
                }
            }
        }
    }


    /*language*/

    /*----------start--下拉框----------*/
    .language .down {
        height: auto;
        position: relative;
        float: left;
        padding-right: 20px;
        z-index: 999;
        width: 91px;
    }

    .language .down .d_course {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        cursor: pointer;
        text-align: left;
        color: #818ea6;
        width: 100%;
        border: 0;
        background: none;
        font-size: 14px;
    }


    .language .down .lang_down_box {
        height: auto;
        position: absolute;
        display: none;
        z-index: 10;
        overflow: hidden;
        overflow-y: auto;
        top: 35px;
        border-top: 0;
        width: 100%;
        background: #fff;
        border: 0;
    }

    .language .down .lang_down_box .down_list {
        display: block;
        cursor: pointer;
        text-align: left;
        color: #818ea6;
        font-size: 14px;
        padding: 5px 0 5px 10px;
    }

    .language .down .lang_down_box .down_list:hover {
        color: #818ea6;
    }

    .language .lang_down_box a {
        line-height: 26px;
    }

    .language .down i.flagDown {
        background-size: 100% 100%;
        width: 20px;
        height: 13px;
        display: block;
        position: absolute;
    }

    .language .down i.iconDown {
        background-size: 100% 100%;
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 9px;
        top: 17px;
    }

    .language .d_course i.flagDown {
        top: 14px;
        right: 22px;
    }

    .language .lang_down_box i.flagDown {
        top: 12px;
        right: 23px;
    }

    /*----------end--下拉框----------*/

    /*header_nav*/
    .mainNav-nav-second {
        display: block;
    }

    .main-cont-nav {
        position: absolute;
        top: 40px;
        z-index: 2;
        width: 100%;
        height: 80px;
        background: none;

        ul {
            position: relative;
            width: 1305px;
            margin: 0 auto;

            li {
                float: left;
                width: 130px;
                text-align: center;
            }

            .main-navList {
                margin-top: 30px;
                height: 30px;
                line-height: 30px;

                a {
                    font-size: 18px;
                    font-family: "\5FAE\8F6F\96C5\9ED1";
                    font-weight: bold;
                    color: #f5f5f6;
                    text-shadow: 1px 1px 20px #000000;

                    span {
                        opacity: 0;
                    }

                    i {
                        opacity: 0;
                    }
                }

                .hasSelece span,
                :hover span {
                    // opacity:1;
                    // color: #f4da8f;
                }

                a:hover,
                a.hasSelece {
                    color: #93d7f2;
                }
            }

            .main-navList-inside {
                margin-left: 134px;
            }

            .main-navList-logo {
                position: absolute;
                left: 522px;

                a {
                  
                    // background-size:100% 100%;
                    width: 130px;
                    height: 47px;
                    margin: 16px 0;
                    text-align: center;
                    display: inline-block;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

    }

    /*nav end*/


    /*footer*/
    .footer {
        margin: 30px auto;
        width: 500px !important;
        min-width: 500px;
        z-index: 123131;

        .footer-cont {
            display: block;

            .footer-cont-nav {
                margin-left: 20px;

                ul {
                    margin-top: 22px;

                    .footer-navList {
                        float: left;
                        margin-right: 10px;
                        color: #545c6a;

                        a {
                            display: inline-block;
                            vertical-align: top;
                            color: #545c6a;
                            font-size: 14px;
                        }

                        .f-n-int {
                            display: none;
                        }

                        a:hover {
                            color: #fff;
                        }

                        i {
                            width: 1px;
                            height: 13px;
                            display: inline-block;
                            background: #545c6a;
                            vertical-align: top;
                            margin-left: 10px;
                            margin-top: 4px;
                        }

                        span {
                            display: none;
                        }
                    }

                    .footer-navList4 {
                        i {
                            display: none;
                        }
                    }

                    .footer-navList5 {
                        display: none;
                    }
                }

                p.fooPtext-60 {
                    display: block;
                    margin-top: 7px;
                    color: #545c6a;
                    font-size: 10px;
                }
            }
        }
    }


    /*客服*/
    .service {
        position: fixed;
        right: 0;
        top: 300px;
        z-index: 100;

        .service-cont {
            display: block !important;

            li {
                width: 120px;
                height: 48px;
                line-height: 48px;
                background-color: #252439;
                background-position: center center;
                background-repeat: no-repeat;
                color: #c7daff;
                text-align: center;

                a {
                    color: #c7daff;
                }

                a:hover {
                    color: #fff;
                }

                i {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .Sbtn1 {
                padding-top: 10px;

                a {
                    display: block;
                    width: 91px;
                    height: 34px;
                    margin: auto;
                }
            }

            .Sbtn2 {
                margin-top: -10px;

                i {
                    width: 20px;
                    height: 24px;
                    margin-right: 5px;
                    margin-top: -8px;
                }
            }

            .Sbtn3 {
                display: none;

                i {
                    width: 22px;
                    height: 15px;
                    margin-right: 5px;
                }
            }

            .Sbtn4 {
                i {
                    width: 21px;
                    height: 21px;
                    margin-right: 5px;
                    margin-top: -6px;
                }
            }

            .Sbtn5 {
                i {
                    width: 13px;
                    height: 13px;
                    margin-right: 5px;
                    margin-top: -5px;
                }
            }
        }
    }

    .footer-cont-logo {
        display: none;
    }

}
