<template>
  <div id="RecordDetailNormalForm" class="alert_box_content sum_alert_box re_h">
    <!--<div class="descr_title">
            <p>记录查询/详细内容</p>
            <a class="icon_close" href="javascript:void(0);" @click="CloseDetail()"></a>
    </div>-->
    <span class="alert_close" @click="CloseDetail()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_content')}}
      </h2>
      <div class="descr_p left_p">
        <div class="descr_p_con">
          <div
            class="record_detail_title record_detail_name"
          >{{$t('message.member_transaction_time')}}：</div>
          <div
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.TransTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
        </div>
        <div class="descr_p_con">
          <div
            class="record_detail_title record_detail_name"
          >{{$t('message.member_transaction_amount')}}：</div>
          <div
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.VAmt}}</div>
        </div>
        <div class="descr_p_con" v-if="ShowFee(OtherRecordDetail.TransType)">
          <span
            class="record_detail_title record_detail_name"
          >{{OtherRecordDetail.VTransType | limitTo(2)}}{{$t('message.member_service_charge')}}：</span>
          <div
            v-if="OtherRecordDetail.TransType == 5"
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.VTotalFee}}</div>
        </div>
        <div class="descr_p_con" v-if="ShowFee(OtherRecordDetail.TransType)">
          <span
            class="record_detail_title record_detail_name"
          >{{$t('message.member_actual_amount')}}：</span>
          <div
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.VFinalAmt}}</div>
        </div>
        <div class="descr_p_con">
          <div class="record_detail_title record_detail_name">{{$t('message.member_type')}}：</div>
          <div
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.VTransType}}</div>
        </div>
        <div
          class="descr_p_con"
          v-if="OtherRecordDetail.TransType !== TransType.TransType_AdjustBalance"
        >
          <div class="record_detail_title record_detail_name">{{$t('message.member_order_number')}}：</div>
          <div
            class="record_detail_title record_detail_val"
            style="width:auto"
          >{{OtherRecordDetail.RefOrderNo}}</div>
        </div>
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="CloseDetail()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  data() {
    return {
      TransType: {
        TransType_Deposit: 1,
        TransType_EWallet: 2,
        TransType_BonusActivity: 3,
        TransType_RakeSettled: 4,
        TransType_Withdraw: 5,
        TransType_DepositReturn: 6,
        TransType_AdjustBalance: 7,
        TransType_Authorize: 8
      }
    }
  },
  props: {
    RecordType: undefined,
    RakeSettleDetail: {
      type: Object,
      default: function () {
        return {}
      }
    },
    OtherRecordDetail: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  methods: {
    ShowFee: function (inputTransType) {
      switch (inputTransType) {
        case this.TransType.TransType_RakeSettled:
        case this.TransType.TransType_Withdraw:
          return true
        default:
          return false
      }
    },
    // 開啟視窗
    NormalOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("RecordDetailNormalForm")
    }, // end OpenWindow
    CloseDetail: function () {
      CommUtility.WebClosealertboxForm("RecordDetailNormalForm")
    }
  },
  watch: {
    OtherRecordDetail: function () {
      //              CommUtility.WebShowAlertboxForm('RecordDetailNormalForm');
    }
  }
}
</script>
