<template>
  <div class="rct_table table_block">
    <div class="table1_h_cont" id="scroll_table1">
      <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="w_1">{{$t('message.member_trading_number')}}</th>
            <th class="w_2">{{$t('message.member_transaction_time')}}</th>
            <th class="w_4">{{$t('message.member_transaction_amount')}}</th>
            <th class="w_4">{{$t('message.member_surplus')}}</th>
            <th class="w_4">{{$t('message.member_post_account')}}</th>
            <th class="w_3">{{$t('message.member_type')}}</th>
            <th class="w_6"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="Log in this.RecordList">
            <td>{{Log.ID}}</td>
            <td>
              <p>{{Log.TransDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</p>
            </td>
            <td>{{Log.VTransAmt}}</td>
            <td>{{Log.VOldBalance}}</td>
            <td>{{Log.VAfterBalance}}</td>
            <td>{{Log.VTransType}}</td>
            <td>
              <a
                class="alert_click1"
                href="javascript:void(0);"
                @click="ShowDetail(Log)"
              >{{$t('message.member_detailed')}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="purple_tip">{{$t('message.member_beijing_time')}}</div>
    <member-record-detail-rake
      :RakeSettleDetail="this.RakeSettleDetail"
      :RecordCondition="this.RecordCondition"
    ></member-record-detail-rake>
    <member-record-detail-normal :OtherRecordDetail="this.OtherRecordDetail"></member-record-detail-normal>
  </div>
</template>

<script>
import BLDef from "@/assets/scripts/common/BLDef.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import MemberRecordDetailNormal from "@/mod/k14/components/sub/memberNew/transactionRecord/memberRecordDetailNormal.vue"
import MemberRecordDetailRake from "@/mod/k14/components/sub/memberNew/transactionRecord/memberRecordDetailRake.vue"

export default {
  data() {
    return {
      RakeSettleDetail: {
        RakeList: [],
        Summary: {}
      },
      OtherRecordDetail: {},
      RecordCondition: {},
      TransType: {
        TransType_Deposit: 1,
        TransType_EWallet: 2,
        TransType_BonusActivity: 3,
        TransType_RakeSettled: 4,
        TransType_Withdraw: 5
      }
    }
  },
  props: {
    RecordList: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  methods: {
    ShowDetail: async function (Record) {
      const inputObj = {
        ID: Record.ID,
        Type: Record.TransType
      }
      this.RecordCondition = inputObj
      const data = await PersonalCenterService.CashFlowLog_LoadDetailPage(inputObj)
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (Record.TransType === this.TransType.TransType_RakeSettled) {
          // 反水類型
          this.RakeSettleDetail = data.Data.Detail
          MemberRecordDetailRake.methods.RakeOpenWindow()
        } else {
          // 其他類型
          this.OtherRecordDetail = data.Data.Detail
          MemberRecordDetailNormal.methods.NormalOpenWindow()
        }
      }
    }
  },
  components: {
    MemberRecordDetailNormal,
    MemberRecordDetailRake
  },
  mounted() {
    // 滚动条
    $("#scroll_table1").perfectScrollbar()
  }
}
</script>
