<template>
  <div id="ElectronicGameForm" name="ElectronicGameForm">
    <div class="ele-logo-main">
      <ul class="ele-vendor-lists">
        <li
          class="ele-vendor-li"
          v-for="(list, index) in EgameList"
          :class="{ tabAble: list.GameTypeState != '703' }"
          :key="index"
        >
          <!-- <i class="eg-big-maintain"
          v-if="list.GameTypeState == '703'"></i>-->
          <div
            @click="BindGameTypeEvt(list.GameApiNo, list.GameApiName, index)"
            v-bind:class="{ on: currentPage == index }"
          >
            <img :src="$ResourceCDN + '/PartnerLogo/bgdeep/v-logo' + list.GameApiNo + '.png'" />
          </div>
          <div class="ele-vendor-mask" v-if="list.GameTypeState == '703'">
            <!-- <span>{{$t('message.top_under_maintenance')}}</span> -->
            <span>
              <img
                :src="
                  $ResourceCDN + '/EditionImg/LamborFormal/images/public/lang/' + $MessageLang + '/maintenanceText.png'
                "
              />
            </span>
          </div>
        </li>
      </ul>
      <div class="ele-logo-head">
        <section class="ele-logo-top">
          <h2>{{ GameApiName }}</h2>
        </section>
        <section class="clearfix ele-search-section">
          <div class="ele-search">
            <a href="javascript:void(0);" class="ele-search-btn" v-on:click="Search()">{{
              $t("message.member_search")
            }}</a>
            <input
              type="text"
              v-model="PostDataModel.Keyword"
              v-validate="{ rules: { regex: Reg.GameKeyword } }"
              name="Keyword"
              :placeholder="$t('message.electronic_searchPlaceholder') | simpleContent(20)"
            />
          </div>
          <p class="tip1 qc-tip" v-show="errors.has('Keyword') && fields.Keyword.touched">
            {{ $t("message.electronic_tip") }}
          </p>
        </section>
      </div>

      <div class="clearfix ele-bg-theme">
        <dl class="ele-type-lists clearfix">
          <!-- <dt>游戏类型：</dt> -->
          <dd
            v-for="GameTypeFilter in LoadMainPageDataModel.GameTypeFilterList"
            :key="GameTypeFilter.Value"
            :class="PostDataModel.GameTypeFilter.Value == GameTypeFilter.Value ? 'on' : ''"
            @click="
              PostDataModel.GameTypeFilter = GameTypeFilter
              clearLoading()
              GetElectronicGameList()
            "
          >
            <a href="javascript:void(0);">{{ GameTypeFilter.Name }}</a>
            <span class="gameUl-list-line"></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
import { EGameLobbyHeader } from "@/assets/scripts/comTest/general/electronic/EGameLobbyHeader.js"
export default {
  mixins: [EGameLobbyHeader]
}
</script>
