<template>
  <div class="sport-main">
    <ul class="sport-logo-lists clearfix">
      <li
        class="sport-logo-li sportAbnormal"
        v-for="(list,index) in this.SportList"
        :key="list.GameApiNo"
      >
        <p v-if="list.GameTypeState == 703" class="maintenanceBG">
          <i class="abnormalDefault maintenance"></i>
        </p>
        <div
          class="sport-logo-wrap"
          :class="{'maintenanceWrap':list.GameTypeState == 703}"
          :style="{background:'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/general/common/sport/'+((index+pageNum)%12?(index+pageNum)%12:1)+'.jpg)no-repeat'}"
        >
          <!-- <i class="game-maintain"
          v-if="list.GameTypeState == 703"></i>-->
          <a>
            <img :src=" $ResourceCDN+'/PartnerLogo/whitelogo/v-logo'+list.GameApiNo+'.png'" />
          </a>
          <div class="rotate-after1" @click="PlaySportGame(list);" v-if="list.GameTypeState != 703">
            <a
              class="rotate-play"
              href="javascript:void(0);"
              v-if="list.GameTypeState != 703"
            >{{$t('message.live_start_game')}}</a>
          </div>
        </div>
      </li>
    </ul>
    <!-- <sport-paginate
      :pageSize="pageSize"
      changePaginateStyle
      paginateType="element"
      :PageCount="PageCount"
      :PageNo="pageNum"
    ></sport-paginate> -->
  </div>
</template>
<script>
import sportContent from '@/mod/k04/assets/scripts/comTest/general/sport/sportContent.js';
export default {
  name: 'sport-content',
  mixins: [sportContent]
};
</script>
