<template>
  <section>
    <section class="activity-title-box">
      <h2 class="activity-title">
        <p class="txt">{{$t('message.activity_list')}}</p>
        <span class="desc">ACTIVITY LIST</span>
      </h2>
    </section>
    <section class="activity-main">
      <ul class="activity-lists clearfix" v-if="HaveActivity">
        <li
          v-for="(Activity,index) in ActivityList"
          class="activity-li activity-li-PopUp"
          :key="index+'PopUp'"
        >
          <a href="javascript:void(0);" @click="$parent.showDetail(Activity.ID);">
            <img v-if="ResourceFlag" :src="Activity.ActListLogo" />
            <div class="an-activity">
              <p class="an-activity-title">{{Activity.Name | simpleContent(20)}}</p>
              <div class="clearfix an-activity-bottom">
                <p class="an-activity-date">
                  <span
                    class="scaleFontSize"
                  >{{Activity.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{Activity.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</span>
                </p>
                <a
                  href="javascript:void(0);"
                  class="an-activity-btn"
                >{{$t('message.news_view_details')}}</a>
              </div>
            </div>
          </a>
        </li>
        <li
          v-for="(Activity,index) in ActivityList"
          class="activity-li activity-li-JumpPage"
          :key="index+'JumpPage'"
        >
          <a href="javascript:void(0);" @click="UrlRedirectDetail(Activity);">
            <img v-if="ResourceFlag" :src="Activity.ActListLogo" />
            <div class="an-activity">
              <p class="an-activity-title">{{Activity.Name | simpleContent(20)}}</p>
              <div class="clearfix an-activity-bottom">
                <p
                  class="an-activity-date"
                >{{$t('message.activity_activity_time')}}：{{Activity.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{Activity.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</p>
                <a
                  href="javascript:void(0);"
                  class="an-activity-btn"
                >{{$t('message.news_view_details')}}</a>
              </div>
            </div>
          </a>
        </li>
        <li
          v-for="(Activity,index) in ActivityList"
          class="activity-li activity-li-ShowHide"
          :key="index+'ShowHide'"
        >
          <a href="javascript:void(0);" @click="$parent.UrlRedirectDetailAnimation(Activity.ID);">
            <img v-if="ResourceFlag" :src="Activity.ActListLogo" />
            <div class="an-activity">
              <p class="an-activity-title">{{Activity.Name | simpleContent(20)}}</p>
              <div class="clearfix an-activity-bottom">
                <p
                  class="an-activity-date"
                >{{$t('message.activity_activity_time')}}：{{Activity.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{Activity.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</p>
                <a
                  href="javascript:void(0);"
                  class="an-activity-btn"
                >{{$t('message.news_view_details')}}</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div v-else class="no-activity">
        <div class="no-activity-img"></div>
        <span>{{$t('message.activity_not_yet')}}</span>
      </div>
    </section>
  </section>
</template>

<script>
import { ActivityListContent } from '@/mod/k03/assets/scripts/comTest/main/activity/activityListContent.js';
export default {
  mixins: [ActivityListContent]
};
</script>
