<template>
  <div>
    <rss-header :IsLogin="this.IsLogin" :OnlinePeople="OnlinePeople"></rss-header>
    <div class="wrapper-content" id="general_theme" :class="'system_'+$MessageLang">
      <router-view></router-view>
    </div>
    <!-- <float-service :IsLogin="this.IsLogin"></float-service> -->
    <lambor-side></lambor-side>
    <frame-footer></frame-footer>
  </div>
</template>
<script>
import { baseMnLt } from "@/mod/k03/assets/scripts/comTest/main/base/baseMainLayout.js"
export default {
  mixins: [baseMnLt]
}
</script>
