<template>
  <div class="alert_box_content tel_alert_box re_h" id="FundManageTable">
    <span class="alert_close" @click="WebCloseMessageWindow()">
      <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div name="PhoneNoForm" class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{ $t("message.member_transfer_record") }}
      </h2>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th class="w_2">{{ $t("message.member_recreation") }}</th>
            <th class="w_2">{{ $t("message.member_clause") }}</th>
            <th class="w_3">{{ $t("message.member_sum_money") }}</th>
            <th class="w_4">{{ $t("message.member_hour") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in this.WalletRecord" :key="index">
            <td>
              <p style="display: inline;">{{ item.GameApiName }}</p>
            </td>
            <td>{{ item.TranTypes }}</td>
            <td :class="[item.Amount > 0 ? 'positive-number' : 'negative']">{{ item.Amount }}</td>
            <!-- <td style="color: #ff3d3d;" v-else>-{{item.Amount}}</td> -->
            <td>{{ item.OperateDateTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }}</td>
          </tr>
        </tbody>
      </table>
      <paginate :PageCount="this.TotalCount" :PageNo="this.PageInfo.PageNo"></paginate>
    </div>
  </div>
</template>

<script>
// import EventBus from 'scripts/common/EventBus';
import PersonalCenterService from "scripts/businessLogic/personalCenterService"
import CommUtility from "scripts/common/CommUtility"
import Paginate from "@/mod/k19/components/sub/paginate"

export default {
  data() {
    return {
      WalletRecord: [],
      PageInfo: {
        PageSize: 19,
        PageNo: 1
      },
      TotalCount: 0
    }
  },
  components: {
    Paginate
  },
  methods: {
    // 分页点击下一页面
    GetCurrentPageData: function (page) {
      this.PageInfo.PageNo = page
      this.EWalletTransferRecord()
    },

    // 获取转账记录
    EWalletTransferRecord: async function () {
      const inputData = {}
      inputData.PageInfo = this.PageInfo
      const retData = await PersonalCenterService.EWalletTransfer_Record(inputData)
      if (retData.Ret === 0) {
        this.WalletRecord = retData.Data.DataList
        console.log("this.WalletRecord")
        console.log(this.WalletRecord)
        console.log("this.WalletRecord")
        this.TotalCount = Math.ceil(retData.Data.PageInfo.TotalCount / this.PageInfo.PageSize)
        // this.PagingInfo.PageNo = retData.Data.PageInfo.PageNo;
        console.log("----------------------------------------------")
        console.log(retData)
      } else {
        console.log("获取失败")
      }
    },
    WebCloseMessageWindow: function () {
      CommUtility.WebClosealertboxForm("FundManageTable")
    }
  }
}
</script>
