<template>
  <div id="MessageMemberWindow" class="alert_box_content tel_alert_box re_h" v-show="ShowSatrt">
    <span class="alert_close" @click="WebCloseMessageWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_p">
      <p class="p_blue">{{NotifyObj.NotifyMessage}}</p>
      <p class="p_content">{{NotifyObj.NotifySubMessage}}</p>
      <p>{{NotifyObj.NotifyTipMessage}}</p>
    </div>
    <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;width:263px">
      <a
        style="float: none;"
        class="btn1 hasblock enter_deposit"
        @click="WebCloseMessageWindow()"
      >{{$t('message.login_close')}}</a>
    </div>
  </div>
</template>

<style lang="less" scoped>
.p_blue {
  margin-top: 40px;
}
.p_content {
  font-size: 16px;
  margin: 30px auto;
}
</style>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  data() {
    return {
      ShowSatrt: false,
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        NotifyTipMessage: undefined,
        CloseFunction: Function
      }
    }
  },
  created: function () {
    const self = this
    EventBus.$on("showNotifyMemberMessage", (data) => {
      console.log("showNotifyMemberMessageshowNotifyMemberMessageshowNotifyMemberMessageshowNotifyMemberMessage")
      self.ShowSatrt = true
      self.NotifyObj = data
      CommUtility.WebShowAlertboxForm("MessageMemberWindow")
      console.log("showNotifyMemberMessageshowNotifyMemberMessageshowNotifyMemberMessageshowNotifyMemberMessage")
    })
    EventBus.$on("closeNotifyMemberMessage", () => {
      CommUtility.WebClosealertboxForm("MessageMemberWindow")
      setTimeout(() => {
        self.ShowSatrt = false
      }, 200)
    })
  },
  methods: {
    WebCloseMessageWindow: function () {
      CommUtility.WebClosealertboxForm("MessageMemberWindow")
      if (this.NotifyObj.CloseFunction) {
        this.NotifyObj.CloseFunction()
      }
      if (this.NotifyObj.pswEdit == 2) {
        EventBus.$emit("pswEditFlag")
      }
      setTimeout(() => {
        this.ShowSatrt = false
      }, 200)
    },
    WebCloseMessage: function () {
      CommUtility.WebClosealertboxForm("MessageMemberWindow")
      this.ShowSatrt = false
    }
  },
  beforeDestroy() {
    EventBus.$off("showNotifyMemberMessage")
  }
}
</script>
