<template>
  <!--取款申请-->
  <div class="withdraw_cont">
    <!-- <a
      class="blue_sm add_return"
      @click="$parent.SwitchMode(2)"
      href="javascript:void(0);"
    >{{$t('message.member_discount_record')}}</a>-->
    <!--洗碼量資料-->
    <div v-if="ShowPage === false">
      <p class="imageTips">
        <img
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/general/common/pic-blank.png?VersionCode'"
        />
      </p>
      <p class="importantTips">{{$t('message.member_NoPaymentChannelsTips')}}</p>
      <p class="haveQuestionTips">
        {{$t('message.member_haveQuestion')}}
        <a
          class="customerService"
          href="javascript:;"
          @click="openCustomerServiceWindow"
        >{{$t('message.member_contact_service')}}</a>
      </p>
    </div>
    <div v-else>
      <member-rake-data :WithdrawDataList="WithdrawDataList"></member-rake-data>
      <!--新增取款表單-->
      <member-withdraw-add-form :WithdrawDataList="WithdrawDataList"></member-withdraw-add-form>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import MemberRakeData from "@/mod/k14/components/sub/memberNew/withdrawal/memberRakeData.vue"
import MemberWithdrawAddForm from "@/mod/k14/components/sub/memberNew/withdrawal/memberWithdrawAddForm.vue"
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  data() {
    return {
      WithdrawDataList: [],
      ShowPage: true
    }
  },
  created: function () {
    this.GetWithdrawData()
    EventBus.$on("ReflashWithdrawData", () => {
      this.GetWithdrawData()
    })
  },
  methods: {
    GetWithdrawData: async function () {
      const data = await PersonalCenterService.WithdrawApply_GetWithdrawLimitInfo()
      console.log("15616===========")
      console.log(data)
      if (data.Ret === 0) {
        this.WithdrawDataList = data.Data
        let len = (this.WithdrawDataList.AcctList && this.WithdrawDataList.AcctList.length) || 0
        if (len > 0) this.ShowPage = true
        else this.ShowPage = false
      }
    },
    // 打开联系客服窗口
    openCustomerServiceWindow() {
      window.open(
        "https://ytpfx.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=1062671&configID=46821&jid=8209720587&s=1",
        "客服",
        "scrollbars=1,width=365,height=565,left=10,top=150"
      )
    }
  },
  components: {
    MemberRakeData,
    MemberWithdrawAddForm
  }
}
</script>
