<template>
  <div>
    <!-- 取款密码彈窗 -->
    <div
      id="withdrawPwdForm"
      class="alert_box_content tel_alert_box re_h"
      style="text-align: center;"
    >
      <span class="alert_close" @click="HideWithDrawithDrawPswWind()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <div class="descr_title">
        <p>{{$t('message.reg_withdrawal_password')}}</p>
      </div>
      <div name="withdrawPwdForm">
        <!-- <div class="descr_title">
                    <p>取款密码</p>
                    <a class="icon_close" @click="CommUtility.WebCloseUniqueForm('withdrawPwdForm');ResetPwdForm();" href="javascript:void(0);"></a>
        </div>-->
        <ul class="input_field style2">
          <li class="clearfix">
            <div class="input_rt">
              <input
                type="password"
                :placeholder="$t('message.member_Enterwithdrawal_password')"
                name="WithdrawApplyWithdrawPwd"
                v-model="WithdrawData.WithdrawPwd"
                v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
              />
              <i
                class="tip1 tip_wrong"
                v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
              >{{$t('message.reg_use_numbers')}}</i>
              <i class="tip1 tip_wrong" v-show="pswErrorCountFlag">
                *{{$t('message.member_input_error')}}
                <em>{{CurrentWithdrawPwdErrCnt}}</em>
                {{$t('message.member_error_times')}}
              </i>
            </div>
          </li>
        </ul>
        <div class="alert_btn_both" style="margin-bottom: 0;">
          <a
            class="btn1 btn_withdrawal"
            @click="SubmitWithdraw();"
            href="javascript:void(0);"
          >{{$t('message.member_ascertain')}}</a>
        </div>
        <a
          class="forget_pw psw_forget"
          @click="CommUtility.WebClosealertboxForm('withdrawPwdForm');ResetPwdForm();OpenNewBox($ServeLink)"
          href="javascript:void(0);"
          style="display: inline-block;margin: 20px auto;font-size: 12px;"
        >{{$t('message.login_forget_password')}}</a>
      </div>
    </div>
    <!-- 取款密码错误后弹出账户锁定 -->
    <div id="pwdErrorForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CommUtility.WebClosealertboxForm('pwdErrorForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebClosealertboxForm('pwdErrorForm');"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_red">{{$t('message.member_account_lockout')}}</p>
        <p>
          {{$t('message.member_mistaken')}}
          <br />
          {{$t('message.member_withdrawal_function')}}
        </p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          @click="CommUtility.WebClosealertboxForm('pwdErrorForm');OpenNewBox($ServeLink);pswErrorCountFlag = false"
        >{{$t('message.member_contact_service')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import BLDef from "@/assets/scripts/common/BLDef.js"
import Regex from "@/assets/scripts/common/CommDef.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"

export default {
  props: {
    ApplyAmount: undefined,
    PostWithdrawData: undefined,
    MessageTypeID: undefined
  },
  data() {
    return {
      CommUtility: CommUtility,
      Reg: Regex.Regex,
      ProcessingFlag: false,
      InitialFormData: undefined,
      WithdrawData: {
        WithdrawPwd: "",
        WithdrawMode: undefined,
        BankID: undefined
      },
      CurrentWithdrawPwdErrCnt: undefined,
      pswErrorCountFlag: false
    }
  },
  created: function () {
    this.InitialFormData = Vue.util.extend({}, this.WithdrawData)
    const self = this
    EventBus.$on("withdrawalPwdWindowTrigger", function (PwdErrCnt) {
      if (self.CurrentWithdrawPwdErrCnt === undefined) {
        self.CurrentWithdrawPwdErrCnt = PwdErrCnt
      }
      self.TriggerPwdWindow()
    })
  },
  mounted: function () {
    CommUtility.BindEnterTrigger("withdrawPwdForm", this.SubmitWithdraw)
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        "newindow",
        "height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no"
      )
      // return window.open(aa, 'newindow', 'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    },
    // 关闭弹窗
    HideWithDrawithDrawPswWind: function () {
      CommUtility.WebClosealertboxForm("withdrawPwdForm")
      this.pswErrorCountFlag = false
    },
    // 取款密碼彈窗
    TriggerPwdWindow: function () {
      this.pswErrorCountFlag = false
      if (this.CurrentWithdrawPwdErrCnt >= 3) {
        CommUtility.WebShowAlertboxForm("pwdErrorForm")
      } else {
        this.ResetPwdForm()
        CommUtility.WebShowAlertboxForm("withdrawPwdForm")
      }
    },
    // 發送取款申請
    SubmitWithdraw: async function () {
      console.log(this.MessageTypeID)
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }

      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true
      this.WithdrawData.Amt = this.ApplyAmount
      this.WithdrawData.WithdrawMode = parseInt(this.PostWithdrawData)
      this.WithdrawData.BankID = this.MessageTypeID
      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.WithdrawApply_Add(this.WithdrawData)
      EventBus.$emit("GlobalLoadingTrigger", false)

      this.ProcessingFlag = false

      const notifyData = {
        NotifyMessage: data.Message
      }

      if (data.Ret !== 0) {
        this.pswErrorCountFlag = true
        // 取款密碼錯誤
        if (data.Ret == BLDef.ErrorRetType.COMM_PWD_CONFIRM_FAIL) {
          this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt
          if (data.Data.PwdErrCnt >= 3) {
            this.ResetPwdForm()
            CommUtility.WebClosealertboxForm("withdrawPwdForm")
            CommUtility.WebShowAlertboxForm("pwdErrorForm")
          }
        } else {
          // 其他錯誤
          this.ResetPwdForm()
          CommUtility.WebClosealertboxForm("withdrawPwdForm")
          EventBus.$emit("showNotifyMemberMessage", notifyData)
        }
      } else {
        // 成功
        this.ResetPwdForm()
        this.pswErrorCountFlag = false
        CommUtility.WebClosealertboxForm("withdrawPwdForm")
        notifyData.NotifySubMessage = this.$t("message.member_wait_patiently")
        notifyData.CloseFunction = this.WithdrawalReset
        EventBus.$emit("showNotifyMemberMessage", notifyData)

        // 通知顶部金额进行刷新 20190918 SeyoChen
        EventBus.$emit("memberHeaderUpdateBalance")
      }
    },
    // 重置取款密碼表單
    ResetPwdForm: function () {
      this.WithdrawData = Vue.util.extend({}, this.InitialFormData)
      this.$validator.reset()
    },
    // 取款功能初始
    WithdrawalReset: function () {
      this.$parent.$parent.$parent.SwitchMode(1)
    }
  },
  beforeDestroy() {
    EventBus.$off("withdrawalPwdWindowTrigger")
  }
}
</script>
