<template>
  <div class="memberNew-transfer-bottom" id="memberNew-transfer-bottom" v-show="GameBalanceList">
    <div class="memberNew-transfer-item">
      <ul class="clearfix">
        <li
          class="memberNew-transfer-list"
          v-for="(item, index) in this.GameVendoeListAll"
          :key="index"
        >
          <p
            class="transfer-list-p1"
            v-if="item.GameAPIVendor === -1"
          >{{$t('message.member_primary_accountNumber')}}</p>
          <p class="transfer-list-p1" v-else>
            <img
              class="transfer-list-img"
              v-bind:src="$ResourceCDN + '/PartnerLogo/bglight/v-logo' + item.GameAPIVendor + '.png?VersionCode'"
            />
          </p>
          <div style="width:28px;margin:10px auto;" v-if="item.BalanceCompleted === false">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/ajax-loader.gif?VersionCode'"
              style="vertical-align:text-bottom;width:100%"
            />
          </div>
          <p
            class="transfer-list-p2"
            v-if="item.IsMaintaining === '702' && item.BalanceCompleted === true"
          >{{item.VAmount}}</p>
          <p
            class="transfer-list-p2"
            v-else-if="item.IsMaintaining !== '702' && item.BalanceCompleted === true"
          >{{$t('message.member_capital_freeze')}}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import CommonService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import "@/assets/scripts/customJs/web/clipboard.min"

export default {
  props: {
    // PageCount: 0,
    GameVendoeListAlls: {
      type: Array,
      default: function () {
        return []
      }
    },
    GameVendorList: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data() {
    return {
      tmpSummaryList: [],
      CurrentGameVendorList: {
        VAmount: ""
      },
      SummaryAmount: 0,
      SummaryFlag: false,
      AvailableVendorCount: 0,
      CompleteVendorCount: 0,
      GameVendorListObj: [],
      FlowInFo: false,
      IsRunning: false,

      PageSize: 16,
      PageData: {},
      GameVendoeListAll: this.GameVendoeListAlls,
      GameBalanceList: false // false: 关闭游戏金额状态列表 true：开启游戏金额状态列表
    }
  },
  mounted: function () {
    // 滚动条
    // $('#classification_scroll').perfectScrollbar();
  },
  methods: {
    OpenGameBalanceList: function () {
      this.GameBalanceList = !this.GameBalanceList
      // const dataBox = document.getElementById('memberNew-transfer-bottom');
      // dataBox.animate({ 'margin-top': '-1000px' }, 300);
    },

    // 取得遊戲商餘額
    BalanceInit: function (vendorIndex) {
      this.CurrentGameVendorList[vendorIndex].BalanceCompleted = false
      if (this.CurrentGameVendorList[vendorIndex].IsMaintaining !== "702") {
        this.tmpSummaryList[vendorIndex].Amount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].VAmount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].BalanceCompleted = true
      } else {
        this.AvailableVendorCount += 1
        this.GetBalance(vendorIndex, this.CurrentGameVendorList[vendorIndex].GameAPIVendor)
      }
    },
    GetBalance: async function (vendorIndex, vendorID) {
      const inputObj = {
        APIVendorID: vendorID
      }
      console.log("=================================")
      console.log(JSON.stringify(inputObj))
      const data = await PersonalCenterService.EWalletTransfer_GetBalance(inputObj)
      this.CompleteVendorCount += 1
      if (data.Ret == 0) {
        this.SummaryFlag = true
        this.tmpSummaryList[vendorIndex].Amount = data.Data.GameApiBalance.Amount
        this.CurrentGameVendorList[vendorIndex].VAmount = data.Data.GameApiBalance.VAmount
      } else {
        this.tmpSummaryList[vendorIndex].Amount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].VAmount = this.$t("message.member_capital_freeze")
      }
      this.CurrentGameVendorList[vendorIndex].BalanceCompleted = true
    },
    SetGameVendorList: function () {
      const that = this
      setTimeout(function () {
        that.GameVendorListObj = that.GameVendorList
      }, 200)
    },
    // 分页传输相应的数据
    PageFun() {
      this.GameVendoeListAll = []
      // this.PageCount = Math.ceil(this.GameVendorList.length / 16);
      // console.log(page);
      let pageNo = 0

      for (let i = 1; i < this.GameVendorList.length; i++) {
        this.GameVendoeListAll[pageNo++] = this.GameVendorList[i]
      }

      // if (page == this.PageCount) {
      //   for (let i = (page - 1) * 16; i < this.GameVendorList.length; i++) {
      //     this.GameVendoeListAll[pageNo++] = this.GameVendorList[i];
      //   }
      // } else {
      //   for (let i = (page - 1) * 16; i < page * 16; i++) {
      //     this.GameVendoeListAll[pageNo++] = this.GameVendorList[i];
      //   }
      // }
    }
  },
  watch: {
    GameVendorList: function () {
      this.SetGameVendorList()
    },
    GameVendorListObj: function () {
      this.SummaryAmount = 0
      this.SummaryFlag = false
      this.CurrentGameVendorList = this.GameVendorListObj
      for (let i = 0; i < this.CurrentGameVendorList.length; i++) {
        this.tmpSummaryList[i] = {}
        this.BalanceInit(i)
        console.log(
          "*********************************************2222222**************************************************"
        )
      }
      this.PageFun()
    }
  },
  created: function () {
    this.SetGameVendorList()
  },
  beforeDestroy: function () {
    console.log("222222222222222222")
    // EventBus.$off('showNotifyMemberMessage');
  }
}
</script>
