<template>
  <div class="wash_code_cont purple_cont">
    <div class="wash_code clearfix">
      <p>
        {{$t('message.member_withdrawable_amount')}}：
        <span>{{WithdrawDataList.VCurrBalance}}</span>
      </p>
      <p>
        {{$t('message.member_service_charge')}}：
        <span>{{WithdrawDataList.AgreeFee}}</span>
      </p>
      <p>
        {{$t('message.member_current_code')}}：
        <span>{{RakeData.CurrRake}}</span>
        <em v-if="RakeData.IsRakeReached===false">【{{$t('message.member_notUp_standard')}}】</em>
        <i
          v-if="RakeData.IsRakeReached===false"
        >（{{$t('message.member_highest_yield')}}{{RakeData.VAdminFeeRatio}}{{$t('message.member_withdrawal_fees')}}）</i>
      </p>
      <p class="p_2">
        {{$t('message.member_target_wash')}}：
        <span>{{RakeData.TargetRake}}</span>
        <a
          class="wash_show"
          @click="ShowDepositHistory()"
          href="javascript:void(0);"
        >{{$t('message.news_view_details')}}</a>
      </p>
    </div>
    <!--參與活動列表-->
    <member-deposit-history :DepositHistoryData="this.DepositHistoryData"></member-deposit-history>
  </div>
</template>

<script>
import BLDef from "@/assets/scripts/common/BLDef.js"
import Vue from "vue"
import PersonalCenterService from "@/mod/k14/assets/scripts/businessLogic/personalCenterService.js"
import MemberDepositHistory from "@/mod/k14/components/sub/memberNew/withdrawal/memberDepositHistory.vue"

export default {
  props: {
    WithdrawDataList: undefined
  },
  data() {
    return {
      RakeData: {},
      WithdrawPwdErrCnt: undefined,
      DepositHistoryData: {}

      // PageInfo: {
      //     pageSize: 20,
      //     pageNo: 0,
      // },
      // DeposiRecordList: {},
    }
  },
  created: function () {
    this.LoadRakeData()
  },
  methods: {
    // 2018.12.03 SeyoChen 数据分页处理
    // 分页数据处理
    // PageData: function () {
    //     // 计算分页的页数
    //     this.PageInfo.pageNo = Math.ceil(parseInt(this.DepositHistoryData.ActivityLogList.length) / parseInt(this.PageInfo.pageSize)); // 计算页面数量
    //     this.PageDataSet(1); // 数据从第一页开始
    // },
    // 倒序排列
    // ReverseData: function () {
    //     this.DeposiRecordList = this.DepositHistoryData.ActivityLogList;
    //     console.log(this.DepositHistoryData.ActivityLogList);
    //     for (let i = 0; i < this.DepositHistoryData.ActivityLogList.length; i++) {
    //         this.DepositHistoryData.ActivityLogList[i] = this.DeposiRecordList[this.DepositHistoryData.ActivityLogList.length - i - 1];
    //     }
    //     console.log(this.DeposiRecordList);
    // },
    // 实时导出数据显示
    // PageDataSet: function (page) {
    //     console.log(page);
    //     // this.ReverseData();
    //     const num = parseInt(page * this.PageInfo.pageSize);
    //     this.DeposiRecordList = {};
    //     for (let i = this.PageInfo.pageSize; i > 0; i--) {
    //         if ((num - i) > (this.DepositHistoryData.ActivityLogList.length - 1)) {
    //             console.log(this.DeposiRecordList);
    //             return;
    //         }
    //         this.DeposiRecordList[i - 1] = this.DepositHistoryData.ActivityLogList[num - i];
    //     }
    //     console.log(this.DeposiRecordList);
    // },
    // 2018.12.03 SeyoChen 数据分页处理 end

    // 載入洗碼量資料
    LoadRakeData: async function () {
      const inputObj = {
        WGUID: Vue.prototype.$WGUID,
        PagingInfo: {
          PageNo: -1,
          PageSize: -1
        }
      }
      const data = await PersonalCenterService.WithdrawApply_GetRakeAmtInfo(inputObj)
      if (data.Ret === 0) {
        this.RakeData = data.Data
        this.DepositHistoryData = this.RakeData
      }
    },
    // 顯示參與活動列表
    ShowDepositHistory: function () {
      MemberDepositHistory.methods.ShowHistoryForm()
    }
  },
  components: {
    MemberDepositHistory
  }
}
</script>
