<template>
  <div
    id="MemberBankSelectWindow"
    class="alert_box_content tel_alert_box re_h"
    style="position: fixed;"
  >
    <span class="alert_close" @click="closeBankSelectWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="descr_title">
      <p style="color:#666">{{$t('message.agency_reminder')}}</p>
    </div>
    <div
      class="descr_bankText"
    >{{$t('message.member_whether_replace')}}{{selectData.BankAcct}}{{$t('message.member_bank_card')}}?</div>
    <div class="pub_btn_both style3" style="padding-left: 98px;">
      <a
        class="btn1 alert_click1 hasblock"
        style="cursor: pointer"
        @click="sumbitSure(selectData.ID)"
      >{{$t('message.member_ascertain')}}</a>
      <a class="btn2" @click="closeBankSelectWindow()">{{$t('message.member_cancel')}}</a>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
export default {
  data() {
    return {
      BankSelectTypeName: undefined,
      selectData: {}
    }
  },
  created: function () {
    EventBus.$on("MemberBankTrigger", (data) => {
      this.selectData = data
      this.BankSelectTypeName = data.BankName + " " + data.CardName + " " + data.BankAcct
      this.TriggerBankSelectWindow()
    })
  },
  methods: {
    TriggerBankSelectWindow: function () {
      CommUtility.WebShowAlertboxForm("MemberBankSelectWindow")
    },
    sumbitSure: function (ID) {
      // EventBus.$emit('MemberBankSumbit', this.selectData);
      this.$parent.SelectBankCard(ID)
      CommUtility.WebClosealertboxForm("MemberBankSelectWindow")
    },
    closeBankSelectWindow: function () {
      CommUtility.WebClosealertboxForm("MemberBankSelectWindow")
    }
  }
}
</script>
