<template>
  <div>
    <div class="start_nav start_nav2">
      <div class="start_nav_box">
        <div class="nav_logo fl">
          <h1>
            <a href="/" class="router-link-active">LAMBOR</a>
          </h1>
        </div>
      </div>
    </div>
    <!--2版有的-->
    <!--免费试玩-->
    <div class="free_con">
      <div class="logoPage">
        <!--2版独有-->
        <p class="free_title">
          <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web2/free/title.png'" />
        </p>
        <!--2版独有-->
        <h2>{{$t('message.trial_free_trial')}}</h2>
        <!--8,15,23版特有-->
        <p class="free_top_img"></p>
        <!--8版特有-->
        <div class="f-t-float clearfix">
          <dl class="f-t-top fl">
            <dt>
              <img
                class="free_tip"
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web2/free/tips.png'"
                alt
              />
              {{$t('message.trial_warm_prompt')}}
            </dt>
            <dd>{{$t('message.trial_delight')}}。</dd>
          </dl>
          <router-link to="Register" class="f-t-btn fr">
            <i>{{$t('message.trial_open_account')}}</i>
          </router-link>
        </div>
        <logo></logo>
        <page></page>
      </div>
    </div>
    <div class="footer login-footer"></div>
    <!--2版独有-->
  </div>
</template>

<script>
import { freeT } from '@/assets/scripts/comTest/main/freeTrial/freeTrial.js';
export default {
  mixins: [freeT]
};
</script>
