<template>
  <!--新闻中心详情-->
  <div class="content-news_details">
    <!--新聞中心詳細標頭-->
    <news-detail-header></news-detail-header>
    <!--新聞中心詳細內容-->
    <news-detail-content></news-detail-content>
  </div>
</template>

<script>
import { NewsDetail } from '@/assets/scripts/comTest/main/newsList/newsDetail.js';
export default {
  mixins: [NewsDetail]
};
</script>
