<template>
  <!--新闻中心-->
  <div
    class="news-content"
    :class="'newsList_'+$MessageLang"
    :style="{background:$BannerPath.Images.NewsBgImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images' + $BannerPath.Images.NewsBgImages + ')no-repeat':'' }"
  >
    <div
      class="news-content-banner"
      :style="{background:$BannerPath.Images.NewsImages?'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+ $MessageLang + $BannerPath.Images.NewsImages + ')no-repeat':'' }"
    >
      <video
        v-if="$BannerPath.Video.newCenterVideo"
        :class="'sy'+$VersionNumber+'-news-video'"
        :src="$ResourceCDN+$BannerPath.Video.newCenterVideo"
        class="news-banner-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
    </div>
    <div class="news-change-animation">
      <div class="news-change-index">
        <div class="news-page">
          <div class="news-page-banner">
            <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
          </div>
          <div class="news-main">
            <section class="news-title-box">
              <h2 class="news-title">
                <p class="txt">{{$t('message.news_list')}}</p>
                <span class="desc">NEWS</span>
              </h2>
            </section>
            <div class="news-main-cont">
              <!--最新消息列表-->
              <news-list-content :GetCurrentPageData="CurrentPageData"></news-list-content>
            </div>
            <!--分页-->
            <news-list-paging :PageCount="PageInfo.PageCount"></news-list-paging>
          </div>
        </div>
        <div class="news-popup-main" style="display:none" id="n-p-main">
          <div class="news-popup-bg"></div>
          <div class="news-popup-content">
            <span class="news-close"></span>
            <a href="javascript:void(0);" class="news-popup-back">{{$t('message.activity_return')}}</a>
            <div class="news-popup-page news-scroll-box">
              <div class="news-popup-page-cont">
                <h3 class="news-popup-title">{{this.NewsDetail.Title}}</h3>
                <p
                  class="news-popup-time"
                >{{$t('message.news_pubdate')}}： {{NewsDetail.MessageTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</p>
                <div class="news-popup-detail">
                  <div class="detail-img">
                    <img v-if="ResourceFlag" :src="Resource + NewsDetail.TitlePic" />
                  </div>
                  <div class="detail-text">
                    <p v-html="MessageCotentData"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { NewsList } from '@/assets/scripts/comTest/main/newsList/newsList.js';
export default {
  mixins: [NewsList]
};
</script>
