<!--熱門遊戲-->
<template>
  <div class="hot_box">
    <img
      :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/index/index-title1.png?VersionCode'"
      class="hot_title"
    />
    <div class="hotGame-wrapper">
      <div class="indexNew-wrap-pic1">
        <div class="indexNew-pic1-lf">
          <!-- banner -->
          <div class="swiper-container swiper-banner2">
            <div class="swiper-wrapper">
              <div class="indexNew-position swiper-slide banner2-station-1">
                <router-link :to="{name: 'LiveVideo'}">
                  <!-- <img :src="$ResourceCDN+this.FastEnter.FastEnter1" /> -->
                </router-link>
                <div>
                  <img
                    :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img35.png?VersionCode'"
                  />
                  <div class="game-logo game-logo1">
                    <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[0]}}</p> -->
                    <!-- <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[0]+'.png'" /> -->
                  </div>
                </div>
              </div>
              <div class="indexNew-position swiper-slide banner2-station-2">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game2.png'"
                />
                <div class="game-logo game-logo1">
                  <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[6]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[6]+'.png'" />-->
                </div>
              </div>
              <div class="indexNew-position swiper-slide banner2-station-3">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/indexNew/index_new_game3.png'"
                />
                <div class="game-logo game-logo1">
                  <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[7]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[7]+'.png'" />-->
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="indexNew-pic1-lg">
          <div class="indexNew-pic1-lgTop">
            <div class="indexNew-position pic1-lgTop-p1 indexNew-pic-p">
              <!-- <router-link :to="{name: 'Electronic'}" v-if="this.ShowGameList[1] == undefined">
                <img :src="$ResourceCDN+this.FastEnter.FastEnter2" />
              </router-link>-->
              <div>
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img36.png?VersionCode'"
                />
                <div class="game-logo game-logo3">
                  <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[1]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[1]+'.png'" />-->
                </div>
              </div>
            </div>
            <div class="indexNew-position pic1-lgTop-p2 indexNew-pic-p">
              <router-link :to="{name:'ActivityList'}">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img37.png'"
                />
              </router-link>
            </div>
          </div>
          <div class="indexNew-pic1-lgBottom">
            <div class="indexNew-position pic1-lgBottom-p1">
              <!-- <router-link :to="{name: 'Poker'}" v-if="this.ShowGameList[2] == undefined">
                <img :src="$ResourceCDN+this.FastEnter.FastEnter3" />
              </router-link>-->
              <div>
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img38.png'"
                />
                <div class="game-logo game-logo3">
                  <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[2]}}</p>
                  <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[2]+'.png'" />-->
                </div>
              </div>
            </div>
            <div class="pic1-lgBottom-p2">
              <router-link :to="{name:'NewsList'}">
                <img
                  :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img39.png'"
                />
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic2 clearfix">
        <div class="indexNew-position indexNew-pic2-p">
          <!-- <router-link :to="{name: 'Lottery'}" v-if="this.ShowGameList[3] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter4" />
          </router-link>-->
          <div>
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img40.png'" />
            <div class="game-logo game-logo2">
              <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[3]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[3]+'.png'" />-->
            </div>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p">
          <!-- <router-link :to="{name: 'Sport'}" v-if="this.ShowGameList[4] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter5" />
          </router-link>-->
          <div>
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img41.png'" />
            <div class="game-logo game-logo2">
              <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[4]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[4]+'.png'" />-->
            </div>
          </div>
        </div>
        <div class="indexNew-position indexNew-pic2-p">
          <!-- <router-link :to="{name: 'Athletics'}" v-if="this.ShowGameList[5] == undefined">
            <img :src="$ResourceCDN+this.FastEnter.FastEnter6" />
          </router-link>-->
          <div>
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img42.png'" />
            <div class="game-logo game-logo2">
              <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[5]}}</p>
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[5]+'.png'" />-->
            </div>
          </div>
        </div>
      </div>
      <div class="indexNew-wrap-pic3 clearfix">
        <div class="indexNew-position indexNew-pic3-p">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img43.png'" />
          <div class="game-logo game-logo3">
            <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[8]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[8]+'.png'" />-->
          </div>
        </div>
        <div class="indexNew-position indexNew-pic3-p">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img44.png'" />
          <div class="game-logo game-logo3">
            <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[9]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[9]+'.png'" />-->
          </div>
        </div>
        <div class="indexNew-position indexNew-pic3-p">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img45.png'" />
          <div class="game-logo game-logo3">
            <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[10]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[10]+'.png'" />-->
          </div>
        </div>
        <div class="indexNew-position indexNew-pic3-p">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/indexNew/ix_new_img46.png'" />
          <div class="game-logo game-logo3">
            <!-- <p class="game-GameTypeNo">{{this.GameTypeNo[11]}}</p>
            <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+this.GameApiNo[11]+'.png'" />-->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="hot_box_list">
      <div
        v-for="Item in hotGameObjList"
        :id="Item.elemID"
        class="h_list"
        :class="Item.elemClass"
        v-on:mouseenter="mouseEnter(Item.elemID)"
        v-on:mouseleave="mouseLeave(Item.elemID)"
      >
        <router-link :to="{ name: Item.linkName}">
          <img :src="Item.showImg" />
        </router-link>
      </div>
    </div>-->
  </div>
</template>

<script>
// import EventBus from '@/assets/scripts/common/EventBus.js';

export default {
  data() {
    return {
      // hotGameObjList: [
      //   {
      //     elemID: 'h_list1',
      //     elemClass: 'h_list1',
      //     linkName: 'webElectronic',
      //     showImg:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/index/hot_list1.png?VersionCode'
      //   },
      //   {
      //     elemID: 'h_list2',
      //     elemClass: 'h_list2',
      //     linkName: 'webLiveVideo',
      //     showImg:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/index/hot_list2.png?VersionCode'
      //   },
      //   {
      //     elemID: 'h_list3',
      //     elemClass: 'h_list3',
      //     linkName: 'webSport',
      //     showImg:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/index/hot_list3.png?VersionCode'
      //   },
      //   {
      //     elemID: 'h_list4',
      //     elemClass: 'h_list4',
      //     linkName: 'webLottery',
      //     showImg:
      //       this.$ResourceCDN +
      //       '/EditionImg/Lambor1.0/images/web/index/hot_list4.png?VersionCode'
      //   }
      // ]
    }
  },
  mounted: function () {},
  methods: {
    // 滑鼠移入熱門遊戲
    mouseEnter: function (thisObj) {
      $(".hot_box_list .h_list").stop()
      $("#" + thisObj)
        .siblings(".h_list")
        .animate({ "margin-top": "20px" }, 300)
      $("#" + thisObj).animate({ "margin-top": "0" }, 300)
    },
    // 滑鼠移出熱門遊戲
    mouseLeave: function (thisObj) {
      $("#" + thisObj).animate({ "margin-top": "20px" }, 300)
    }
  }
}
</script>
