<template>
  <div class>
    <div class="extension-cont-barNav">
      <!-- <div class="bar1">
        <span class="sp1">
          提款金额小计：
          <span class="sp1-text1">{{VAmountSumSubTotal}}</span>
        </span>
        <span class="sp1">
          团队人数小计：
          <span class="sp1-text2">{{NextLayerAllCountSubTotal}}</span>
        </span>
      </div>-->
      <!-- <div class="bar2">
        <span class="sp1">
          历史路径
          <span class="sp1-text3">{{HistoricalPathFirst}}>{{HistoricalPathSecond}}</span>
        </span>
      </div>-->
    </div>
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td>{{$t('message.agency_order_number')}}</td>
            <td>{{$t('message.agency_account_number')}}</td>
            <td>{{$t('message.agency_identity')}}</td>
            <td>{{$t('message.agency_withdrawal_method')}}</td>
            <td>{{$t('message.agency_total_withdrawal')}}</td>
            <td>{{$t('message.member_state')}}</td>
            <td>{{$t('message.member_hour')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(Mnlist,index) in MnameIBUserWithdrawalList" :key="index">
            <td>{{index+1}}</td>
            <td>
              <span>{{Mnlist.WithdrawalDetail.LoginID}}</span>
            </td>
            <td>{{Mnlist.WithdrawalDetail.MemberType}}</td>
            <td>
              <span
                v-if="Mnlist.WithdrawalDetail.WithdrawlWay==1"
              >{{$t('message.agency_bank_withdrawals')}}</span>
              <span
                v-if="Mnlist.WithdrawalDetail.WithdrawlWay==2"
              >{{$t('message.agency_gold_outflows')}}</span>
              <span
                v-if="Mnlist.WithdrawalDetail.WithdrawlWay==3"
              >{{$t('message.agency_virtual_digital')}}</span>
            </td>
            <td>{{Mnlist.VWithdrawalAmt}}</td>
            <td>
              <span
                v-if="Mnlist.WithdrawalDetail.OrderStatus==1202"
              >{{$t('message.member_processing')}}</span>
              <span
                v-if="Mnlist.WithdrawalDetail.OrderStatus==1204 || Mnlist.WithdrawalDetail.OrderStatus==1208"
              >{{$t('message.agency_successful_payment')}}</span>
              <span
                v-if="Mnlist.WithdrawalDetail.OrderStatus==1209"
              >{{$t('message.agency_failure_pay')}}</span>
            </td>
            <td>{{Mnlist.OperateDateTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td></td>
            <td>本页小计：</td>
            <td></td>
            <td></td>
            <td>62</td>
            <td>-4510</td>
            <td></td>
          </tr>
        </tbody>
      </table>-->
    </div>
  </div>
</template>

<script>
// import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';

export default {
  props: {
    MnameIBUserWithdrawalList: {
      type: Array,
      default: function () {
        return [];
      }
    },
    HistoricalPathSecond: undefined
  },

  data () {
    return { HistoricalPathFirst: undefined };
  },
  methods: {},

  components: {},
  mounted () {
    this.HistoricalPathFirst = localStorage.getItem('Acct');
    // 滚动条
    $('#scroll_table3').perfectScrollbar();
  }
};
</script>
