<template>
  <div>
    <date-picker
    :language="languages[language]"
    v-model="dateValue"
    :format="format"
    :calendar-class="calendarClass"
    :disabled-dates="disabled"
    :placeholder="placeholder"
    @selected="$emit('selected',arguments[0])"
    ref="datePicker"
    ></date-picker>
  </div>
</template>
<script>
import DatePicker from 'vuejs-datepicker';
import {en, zh, zhHK,vi} from 'vuejs-datepicker/dist/locale'
/**
 * @author: dingruijie
 * @creatTime: 20191118
 * @name: datepicker
 * @description: 基础组件为vuejs-datepicker
 * @params: 参数参考vuejs-datepicker
 * @mean： 主要为了兼容以前低版本的切换语言的用法
 * @language: {en, zh, zhHK,vi} 暂时支持语言：英语，中文，繁体，越南语，可根据需求添加语言
 */
export default {
  name: 'datepicker',
  components: {
    DatePicker
  },
  props:{
    language:{
      tyepe: String,
      default: 'zh'
    },
    value: "",
    format: "",
    calendarClass:"",
    placeholder: "",
    disabled: {
      type: Object
    }
  },
  data() {
    return {
      languages: {
        en,
        zh,
        tw:zhHK,
        vi,
        zhHK
      },
      dateValue: this.value
    }
  },
  watch: {
    value: {
      handler(val) {
        if (val == this.dateValue) return;
        this.dateValue = val
      },
      deep: true
    },
    dateValue: {
      handler(val) {
        if (val == this.value) return;
        this.$emit('input',val)
      },
      deep: true
    }
  }
}
</script>
