<template>
  <div class="member-wrapper">
    <div class="member-cont-header">
      <frame-header :IsLogin="this.IsLogin"></frame-header>
    </div>
    <frame-nav></frame-nav>
    <!-- <float-service></float-service> -->
    <!--个人中心-->
    <div class="personal_public">
      <div class="personal-content">
        <div class="personal-box">
          <!--上端的固定显示-->
          <div class="member-cont-title">
            <h2 class="personal-fixed clearfix">
              <img :src="$ResourceCDN+'/EditionImg/lambor60.0/images/web/member/title.png'" />
              <i class="personal-fixed-title"></i>
              <router-link :to="{ name: 'Deposit'}" class="btn_recharge fr"></router-link>
            </h2>
            <div class="member-second-titleCon">
              <div class="second-title-name">
                <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web2/personal/user.png'" />
                <span class="nameText">
                  <i>账号名：{{MemberInfo.Acct}}</i>
                </span>
              </div>
              <div class="second-title-balance">
                账号余额：
                <i class="account-text">{{this.VBalance | moneyFormat}}</i>
                <a v-show="IsGetBalanceIng===false" class="refresh-account" @click="GetBalance();"></a>
                <a v-show="IsGetBalanceIng===true" class="rotateLoop"></a>
                <span class="recharge" @click="CheckLoginStatusBeforeRoute('Deposit')">
                  <i class="rechange-text">充值</i>
                </span>
              </div>
            </div>
          </div>
          <!--下面固定的模块区域-->
          <div class="personal_down_fixed">
            <!--左侧导航条-->
            <member-nav :IsLogin="this.IsLogin"></member-nav>
            <!--个人中心右侧模块内容-->
            <div class="member-right-main">
              <div class="member-right-header">
                <frame-header :IsLogin="this.IsLogin"></frame-header>
              </div>
              <!-- 引导提示 -->
              <member-fill-tip></member-fill-tip>
              <div class="member-cont-main scroll_box" id="scroll_box">
                <i class="member-contRg-top"></i>
                <div class="bar_box">
                  <div class="mr_t10 pre-mainTitle">
                    <span>个人信息</span>
                    <em>Personal Center</em>
                    <a class="recharge-btn">立即充值</a>
                  </div>
                  <router-view></router-view>
                </div>
                <i class="member-contRg-btm"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <frame-footer></frame-footer>
  </div>
</template>
<script>
import { baseMbLy } from '@/mod/k05/assets/scripts/comTest/main/base/baseMemberlayout.js'
export default {
  mixins: [baseMbLy]
}
</script>
