<template>
  <div>
    <!-- <div class="header">
      <div class="header-top">
        <div class="header_list">
          <lambor-marquee></lambor-marquee>
          <main-header :IsLogin="this.IsLogin"></main-header>
        </div>
      </div>
      <frame-nav></frame-nav>
    </div>-->
    <rss-header :IsLogin="this.IsLogin" :OnlinePeople="OnlinePeople"></rss-header>
    <div class="wrapper-content" id="general_theme" :class="'system_'+$MessageLang">
      <router-view></router-view>
    </div>
    <float-service :IsLogin="this.IsLogin"></float-service>
    <frame-footer></frame-footer>
  </div>
</template>
<script>
import { baseMnLt } from '@/mod/k05/assets/scripts/comTest/main/base/baseMainLayout.js'
export default {
  mixins: [baseMnLt]
}
</script>
