@charset "utf-8";
/* CSS Document */
// @ResourceFontURL: "http://sgxcdn.lambor.local/LamborSummary/Font";
@ResourceFontURL: "/static/Font";

/*方正兰亭超细简体常规*/
@font-face {
  font-family: "FZLTCXHJW";
  src: url("@{ResourceFontURL}/FZLTCXHJW.eot");
  src: url("@{ResourceFontURL}/FZLTCXHJW?#iefix"), url("@{ResourceFontURL}/FZLTCXHJW.ttf");
}

/*苹方常规*/
@font-face {
  font-family: "PingFang Regular";
  src: url("@{ResourceFontURL}/PingFang Regular.eot");
  src: url("@{ResourceFontURL}/PingFang Regular.eot?#iefix"), url("@{ResourceFontURL}/PingFang Regular.ttf");
}

/*苹方中等*/
@font-face {
  font-family: "PingFang Medium";
  src: url("@{ResourceFontURL}/PingFang Medium.eot");
  src: url("@{ResourceFontURL}/PingFang Medium.eot?#iefix"), url("@{ResourceFontURL}/PingFang Medium.ttf");
}

/*苹方细体*/
@font-face {
  font-family: "PingFang Light";
  src: url("@{ResourceFontURL}/PingFang Light.eot");
  src: url("@{ResourceFontURL}/PingFang Light.eot?#iefix"), url("@{ResourceFontURL}/PingFang Light.ttf");
}

/*苹方特细*/
@font-face {
  font-family: "PingFang ExtraLight";
  src: url("@{ResourceFontURL}/PingFang ExtraLight.eot");
  src: url("@{ResourceFontURL}/PingFang ExtraLight.eot?#iefix"), url("@{ResourceFontURL}/PingFang ExtraLight.ttf");
}

/*苹方特粗*/
@font-face {
  font-family: "PingFang Heavy";
  src: url("@{ResourceFontURL}/PingFang Heavy.eot");
  src: url("@{ResourceFontURL}/PingFang Heavy.eot?#iefix"), url("@{ResourceFontURL}/PingFang Heavy.ttf");
}
