<template>
  <!--常见问题-->
  <div class="tutorial-problem">
    <ul class="tutorial_left_navs problem-navs tutorial-pull-down3 tutorialHides">
      <li :class="navs==1?'on':''" @click="switchNav(1)" data-num="0">
        <a>
          <i class="problem_icon_1"></i>{{$t('message.tutorial_deposit_problem')}}
        </a>
      </li>
      <li :class="navs==2?'on':''" @click="switchNav(2)" data-num="1">
        <a>
          <i class="problem_icon_2"></i>{{$t('message.tutorial_drawing_money')}}
        </a>
      </li>
      <li :class="navs==3?'on':''" @click="switchNav(3)" data-num="2">
        <a>
          <i class="problem_icon_3"></i>{{$t('message.tutorial_game_questions')}}
        </a>
      </li>
      <li :class="navs==4?'on':''" @click="switchNav(4)" class="no_background" data-num="3">
        <a>
          <i class="problem_icon_4"></i>{{$t('message.tutorial_account_issues')}}
        </a>
      </li>
    </ul>

    <ul class="tutorial_left_navs problem-navs tutorial-pull-down3 hides tutorialNoHides fiveClone">
      <li :class="navs==1?'on':''" @click="switchNav(1)">
        <a>
          <i class="problem_icon_1"></i>{{$t('message.tutorial_deposit_problem')}}
        </a>
      </li>
      <li :class="navs==2?'on':''" @click="switchNav(2)">
        <a>
          <i class="problem_icon_2"></i>{{$t('message.tutorial_drawing_money')}}
        </a>
      </li>
      <li :class="navs==3?'on':''" @click="switchNav(3)">
        <a>
          <i class="problem_icon_3"></i>{{$t('message.tutorial_game_questions')}}
        </a>
      </li>
      <li :class="navs==4?'on':''" @click="switchNav(4)" class="no_background">
        <a>
          <i class="problem_icon_4"></i>{{$t('message.tutorial_account_issues')}}
        </a>
      </li>
    </ul>
    <div class="tutorial-conBox">
      <a class="thirtyThreeBtn prebtn02 hides"></a>
      <!--33版左按钮-->
      <div class="tutorial-inside custom_bar" v-anyNameYouLike id="commonProblem-scroll">
        <div class="tutorial-box problem-box bar_box">
          <div v-for="(data,i) in msg" :key="i" v-show="i+1==navs">
            <h2 class="hides tutorialShow">
              <!-- 标题icon -->
              <i></i>
              <span>{{data.category}}</span>
            </h2>

            <div class="tutorial-text" v-for="(cont,index) in data.main" :key="index">
              <!-- 序号 -->
              <i v-text="index+1<10?'0'+(index+1):index+1" class="hides show8"></i>
              <!-- 点击详情  按需在样式显示隐藏 -->
              <span :index="index" class="tutorial-text-span2" @click="cloneSpan($event)">{{$t('message.tutorial_click_detail')}}</span>

              <h3>{{cont.title}}</h3>
              <p class="tutorial-text-p2">{{cont.content}}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="thirtyThreeBtn nextbtn02 hides"></a>
      <!--33版右按钮-->
    </div>
  </div>
</template>

<script>
import { commonProblem } from 'scripts/comTest/main/tutorial/commonProblem';

export default {
  mixins: [commonProblem]
};
</script>
