<template>
    <!-- 详情弹窗 -->
    <div>
        <!-- 遮罩 -->
        <div class="tutorialShade"></div>

        <div class="tutorialDetail">
            <!-- 关闭弹窗btn -->
            <span></span>

            <h3>{{title}}</h3>
            
            <p>{{content}}</p>
        </div>
    </div>
</template>

<script>
	import {tutorialDetail} from 'scripts/comTest/main/tutorial/tutorialDetail'

	export default{
		mixins:[tutorialDetail]
	}
</script>
