.theme34 {
  .rightCommon-content {
    float: right;
    position: relative;
    width: 84%;
    height: auto;
    top: 0px;
    right: 0px;
  }

  //新手教程
  .wcpa-right-content {
    background-size: 100% 100%;
    height: 1080px;

    .wcpa-right-contMain {
      padding-top: 70px;
      width: 800px;
      margin-left: 170px;

      .wcpa-contMain-title {
        font-size: 40px;
        color: #20232c;
        padding-bottom: 16px;
        border-bottom: 3px solid #20232c;

        p {
          font-size: 10px;
          letter-spacing: 1px;
          margin-top: 7px;
        }
      }

      .wcpa-contMain-nav {
        overflow: hidden;
        background: #fff;
        padding: 14px 0px;
        display: flex;
        .wcpa-contMain-navLi {
          font-size: 16px;
          color: #20232c;
          border-right: 1px solid #5f6e79;
          display: inline-block;
          // padding-right: 101px;
          // margin-left: 101px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle;
          cursor: pointer;
          flex: 1;
          text-align: center;
          &.navActive {
            color: #b37b26;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .wcpa-contMain-navCon {
        // 切换导航
        .wcpa-navCon-tab {
          overflow: hidden;
          background-position: bottom;
          text-align: center;
          padding: 10px 0px;
          margin-bottom: 38px;
          word-break: keep-all;
          span {
            //					float: left;
          }

          .wcpa-navCon-tabLi {
            font-size: 18px;

            line-height: 41px;
            display: inline-block;
            .tabLi-name {
              color: #221815;
              cursor: pointer;
              font-size: 16px;
            }

            &.navActive {
              .tabLi-name {
                color: #b37b26;
              }
            }

            &:last-child {
              .wcpa-navCon-tabLine {
                display: none;
              }
            }

            .wcpa-navCon-tabLine {
              // margin: 0px -2px;

              img {
                width: 39px;
                height: auto;
                vertical-align: middle;
              }
            }
          }
        }

        // 投注技巧
        .wcpa-navCon-skills {
          .wcpa-skills-content {
            height: 580px;
            overflow-y: auto;
            padding-right: 40px;

            /*滚动条样式*/
            &::-webkit-scrollbar {
              /*滚动条整体样式*/
              width: 4px;
              /*高宽分别对应横竖滚动条的尺寸*/
              height: 4px;
            }

            &::-webkit-scrollbar-thumb {
              /*滚动条里面小方块*/
              border-radius: 5px;
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              background: rgba(0, 0, 0, 0.2);
            }

            &::-webkit-scrollbar-track {
              /*滚动条里面轨道*/
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              border-radius: 0;
              background: rgba(0, 0, 0, 0.1);
            }

            .wcpa-skills-list {
              overflow: hidden;
              margin-bottom: 20px;
              color: #221815;
              font-size: 16px;

              .wcpa-skills-listTitle {
                font-weight: bold;
                font-size: 16px;
              }

              .wcpa-skills-listText {
                line-height: 27px;
                margin-top: 9px;
                margin-bottom: 8px;
              }

              .wcpa-skills-listDetail {
                color: #b37b26;
                float: right;
                cursor: pointer;
              }
            }
          }
        }

        // 游戏规则
        .wcpa-navCon-rule {
          .wcpa-rule-content {
            height: 580px;
            overflow-y: auto;
            padding-right: 40px;

            /*滚动条样式*/
            &::-webkit-scrollbar {
              /*滚动条整体样式*/
              width: 4px;
              /*高宽分别对应横竖滚动条的尺寸*/
              height: 4px;
            }

            &::-webkit-scrollbar-thumb {
              /*滚动条里面小方块*/
              border-radius: 5px;
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              background: rgba(0, 0, 0, 0.2);
            }

            &::-webkit-scrollbar-track {
              /*滚动条里面轨道*/
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              border-radius: 0;
              background: rgba(0, 0, 0, 0.1);
            }

            .noviceRule-content {
              .noviceRule-cont-title {
                text-align: center;
                font-size: 30px;
                color: #000;
                font-weight: bold;
                margin-bottom: 26px;

                p {
                  font-size: 14px;
                  color: #000;
                  margin-top: 7px;
                }
              }

              .noviceRule-cont-text {
                font-size: 14px;
                color: #666;
                line-height: 28px;
                text-align: center;
              }

              .noviceRule-cont-video {
                border: 1px solid #bc9248;
                border-radius: 25px;
                width: 160px;
                height: 42px;
                line-height: 42px;
                margin: 0 auto;
                margin-top: 32px;
                text-align: center;
                color: #bc9248;
                cursor: pointer;

                img {
                  width: 26px;
                  height: auto;
                  vertical-align: middle;
                  margin-right: 6px;
                }
              }

              .noviceRule-cont-banner {
                margin-top: 51px;

                img {
                  width: 100%;
                  height: auto;
                }
              }

              .noviceRule-cont-list {
                overflow: hidden;
                text-align: center;
                clear: both;
                margin-top: 53px;

                .noviceRule-listTitle {
                  font-size: 20px;
                  font-weight: bold;
                  color: #000;
                  margin-bottom: 18px;
                }

                .noviceRule-listTxt {
                  font-size: 14px;
                  color: #666;
                  line-height: 24px;
                }

                .noviceRule-listUl {
                  overflow: hidden;

                  .noviceRule-listLi {
                    clear: both;
                    overflow: hidden;
                    width: 91%;
                    margin: 0 auto;
                    height: 86px;
                    background: #d1bd9a;
                    margin-bottom: 23px;
                    border-radius: 37px;

                    .noviceRule-listLi-lf {
                      float: left;
                      font-size: 30px;
                      color: #666;
                      width: 86px;
                      height: 86px;
                      line-height: 86px;
                      border-right: 1px dotted #2b3154;
                    }

                    .noviceRule-listLi-lg {
                      width: 562px;
                      height: 86px;
                      line-height: 26px;
                      padding-top: 18px;

                      p {
                        font-size: 14px;
                        color: #666;
                      }
                    }
                  }
                }

                .noviceRule-listSp {
                  font-size: 14px;
                  color: #000;
                  width: 86px;
                  height: 25px;
                  line-height: 25px;
                  border-radius: 12px;
                  background: #d1bd9a;
                  text-align: center;
                  display: inherit;
                }

                .noviceRule-listTable {
                  margin-top: 24px;

                  table {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    border-left: 1px solid #bab2aa;
                    border-top: 1px solid #bab2aa;

                    thead {
                      background: #6f675e;
                    }

                    th,
                    td {
                      border-right: 1px solid #bab2aa;
                      border-bottom: 1px solid #bab2aa;
                      text-align: center;
                      height: 45px;
                    }

                    tbody {
                      background: #89827a;

                      td {
                        line-height: 30px;
                      }
                    }
                  }
                }

                .noviceRule-listPic {
                  margin-top: 16px;
                  margin-bottom: 20px;

                  img {
                    width: auto;
                    height: 62px;
                  }
                }

                .noviceRule-listTableCon {
                  margin-top: 25px;

                  .noviceRule-listTableCon-title {
                    font-size: 14px;
                    color: #000;
                    text-align: left;
                    margin-bottom: 8px;
                  }

                  .noviceRule-listTxt {
                    text-align: left;
                    line-height: 28px;
                  }

                  table {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    border-left: 1px solid #bab2aa;
                    border-top: 1px solid #bab2aa;

                    thead {
                      background: #6f675e;
                    }

                    th,
                    td {
                      border-right: 1px solid #bab2aa;
                      border-bottom: 1px solid #bab2aa;
                      text-align: center;
                      height: 45px;
                    }

                    tbody {
                      background: #89827a;

                      td {
                        line-height: 30px;
                      }
                    }
                  }
                }

                &.foot-matters {
                  .noviceRule-listTxt {
                    text-align: left;
                    margin-bottom: 11px;
                  }
                }
              }
            }
          }
        }

        // 常见问题
        .wcpa-navCon-matter {
          .wcpa-matter-content {
            height: 580px;
            overflow-y: auto;
            padding-right: 40px;

            /*滚动条样式*/
            &::-webkit-scrollbar {
              /*滚动条整体样式*/
              width: 4px;
              /*高宽分别对应横竖滚动条的尺寸*/
              height: 4px;
            }

            &::-webkit-scrollbar-thumb {
              /*滚动条里面小方块*/
              border-radius: 5px;
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              background: rgba(0, 0, 0, 0.2);
            }

            &::-webkit-scrollbar-track {
              /*滚动条里面轨道*/
              -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              border-radius: 0;
              background: rgba(0, 0, 0, 0.1);
            }

            color: #221815;
            font-size: 16px;

            .wcpa-matter-list {
              margin-bottom: 30px;

              .wcpa-matter-listTitle {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 9px;
              }

              .wcpa-matter-listText {
                margin-bottom: 6px;
                line-height: 27px;

                &:last-child {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
  }

  // 客服
  .customService-wrap {
    position: fixed;
    right: 0px;
    top: 20%;
    z-index: 22;

    .service-freeTrial {
      width: 54px;
      float: right;
      cursor: pointer;

      .service-freeTrial-text {
        background: linear-gradient(to bottom right, #e08125, #55331f);
        padding: 10px 17px;
        font-size: 18px;
        color: #bc9248;

        &:hover {
          color: #fff;
        }

        img {
          width: 20px;
          height: auto;
          // margin-bottom: 10px;
        }
      }

      .service-freeTrial-online {
        background: #965822;
        // height: 87px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 14px 15px;
        position: relative;
        display: block;
        word-wrap: break-word;
      }
    }

    .service-contact {
      background: #ffffff;
      padding: 20px 17px;
      position: absolute;
      right: 54px;
      top: 0;
      width: 150px;

      .service-contact-qq {
        .service-contact-text {
          margin-bottom: 8px;
          font-size: 14px;
          color: #666666;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 20px;
            height: auto;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }

      .service-contact-hotLine {
        margin-top: 20px;

        h2 {
          font-size: 12px;
          color: #666666;
          margin-bottom: 3px;
        }

        .weekday {
          font-size: 12px;
          color: #bbbbbb;
        }

        .phone {
          color: #666666;
          font-size: 20px;
          word-break: break-all;
        }
      }
    }
  }
}
