<template>
  <div class="wrap" :class="'theme'+$VersionNumber">
    <!-- :class="'theme'+$VersionNumber" -->
    <router-view></router-view>
    <message-window></message-window>
    <system-notify-window></system-notify-window>
    <!-- <customer-service></customer-service> -->
    <global-loading></global-loading>
    <email-verify-success></email-verify-success>
    <announcement-window></announcement-window>
    <!-- <float-service></float-service> -->

    <!-- 忘记密码 -->
    <forget-password></forget-password>
    <forget-password-success></forget-password-success>
    <forget-password-fail></forget-password-fail>

    <member-main v-if="IsLoginFlag=='true'" class="bomp_center" :class="'bomp_center_'+$MessageLang"></member-main>
    <member-agency v-if="IsLoginFlag=='true'" class="bomp_center agency_center"></member-agency>
    <div class="bg free_bg" style="display:none;"></div>
    <div class="bg normal_Bg" style="display:none;"></div>
    <div class="bg system_Bg" style="display:none;z-index:10001"></div>
  </div>
</template>

<style lang="less" rel="stylesheet/less">
@import '@/assets/cdn.less';
@import '@/mod/k04/assets/styles/less/bg.less';
@import '@/assets/font.less';
// @import "~statics/BgLess/language.less";
// 首页新样式 20190723 SeyoChen
@import "@/mod/k04/assets/styles/web/main/index.less";

// 公共组件样式
@import "@/mod/k04/assets/styles/web/general/common/public.less";

/*个人中心和代理中心样式引入*/
@import "@/mod/k04/assets/styles/web/agency/style.less";


//公共部分
// @import "@/assets/styles/web/public/jquery.shCircleLoader.css";
@import "@/mod/k04/assets/styles/web/public/public.less";
@import "@/mod/k04/assets/styles/web/public/style.less";

//弹框

@import "@/mod/k04/assets/styles/web/alertBox/alert34/alert.less";

// main

@import "@/mod/k04/assets/styles/web/main/sy34/common.less";
@import "@/mod/k04/assets/styles/web/main/sy34/style.less";

// 新手教程部分

@import "@/mod/k04/assets/styles/web/main/tutorial/sy34/tutorial.less";

//分页

@import "@/mod/k04/assets/styles/web/paginate/sy34/index.less";

// public

@import "@/mod/k04/assets/styles/web/public/sy34/public.less";

// 登录注册 首页

@import "@/mod/k04/assets/styles/web/loginRegister/sy34/loginRegister.less";
@import "@/mod/k04/assets/styles/web/main/sy34/index.less";
// 维护中敬请期待
@import "@/mod/k04/assets/styles/less/abnormal.less";
// 多版本通用样式
@import "@/mod/k04/assets/styles/web/general/index.less";

</style>

<script>
import { baseInfo } from "@/mod/k04/assets/scripts/comTest/main/base/base.js";
export default {
  mixins: [baseInfo]
};
</script>
