<template>
  <div class="main-body">
    <frame-header :IsLogin="this.IsLogin" :OnlinePeople="OnlinePeople"></frame-header>
    <frame-nav></frame-nav>
    <div class="wrapper-content clearfix" id="general_theme" :class="'system_'+$MessageLang">
      <router-view></router-view>
    </div>
    <float-service :IsLogin="this.IsLogin"></float-service>
    <!-- <lambor-side></lambor-side> -->
    <frame-footer></frame-footer>
  </div>
</template>
<script>
import { baseMnLt } from '@/mod/k04/assets/scripts/comTest/main/base/baseMainLayout.js';
export default {
  mixins: [baseMnLt]
};
</script>
