<template>
  <!--修改手機號碼彈出窗-->
  <div
    id="memberAgencyFrom"
    class="newBox_pub_alert pub_alert_box per_alert_box agency_alert_box"
    style="display: none;"
    :class="'agency_alert_' + $MessageLang"
  >
    <div class="bg alert_Bg" style="display: none;"></div>
    <div class="per_content">
      <div class="per_cont_nav">
        <h2 class="agency_logo">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+$MessageLang+'/agencyCenter/a_title.png'"
          />
        </h2>
        <a
          class="agent_btn personal_btn"
          @click="personCenter('webMemberSummary')"
        >{{$t('message.index_personal')}}</a>
        <!--左側導航條-->
        <member-agency-nav></member-agency-nav>
      </div>
      <div class="agency_cont_main">
        <span class="per_cont_close" @click="HideEditPhone">
          <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_close.png'" />
        </span>
        <div>
          <profit-loss v-if="agencyName=='webProfitLoss'"></profit-loss>
          <agency-supervise v-if="agencyName=='webSupervise'"></agency-supervise>
          <user-list v-if="agencyName=='webUserList'"></user-list>
          <!-- 账变明细 -->
          <detailed v-if="agencyName=='webDetailed'"></detailed>
          <!-- 投注记录 -->
          <agency-betting v-if="agencyName=='webBettingRecord'"></agency-betting>
          <!-- 充值记录 -->
          <agency-recharge v-if="agencyName=='webRechargeRecord'"></agency-recharge>
          <!-- 提现记录 -->
          <agency-withdrawal v-if="agencyName=='webWithdrawal'"></agency-withdrawal>
          <!-- 佣金记录 -->
          <code-commission v-if="agencyName=='webCommission'"></code-commission>
          <transfer-accounts v-if="agencyName=='webTransferAccounts'"></transfer-accounts>
          <!-- <extension v-if="agencyName=='webExtension'"></extension> -->
          <examine v-if="agencyName=='webExamine'"></examine>
          <treatment v-if="agencyName=='webTreatment'"></treatment>
        </div>
      </div>
      <message-agency-window></message-agency-window>
    </div>
  </div>
</template>

<style lang="less">
.agency_alert_en,
.agency_alert_vi {
  // 左侧导航
  .per_cont_nav {
    .agent_btn {
      max-width: 151px !important;
    }
    .list {
      a {
        padding-left: 10px !important;
      }

      span {
        display: block;
        float: right;
        width: 160px;
        word-break: break-all;
      }
      img {
        margin-right: 5px !important;
        // vertical-align: middle;
      }
    }
  }

  // 右侧内容页面
  .extension-content {
    .extension-cont-nav .p1 > input {
      width: 160px !important;
    }
    .transfer_in_table table thead th {
      line-height: 16px !important;
    }

    .agent_transfer_choose .common-query-put input {
      width: 110px !important;
    }
  }

  // 创建账号
  .agencyCreate-itemCom {
    .agencyCreate-itemCom-listName {
      width: 100px !important;
    }
  }

  // 用户列表
  .userList-content {
    .record_query {
      .record-query-name {
        // max-width: 60px !important;
        // line-height: 18px !important;
        // font-size: 12px !important;
      }

      input::placeholder {
        font-size: 12px !important;
      }
      input::-webkit-placeholder {
        font-size: 12px !important;
      }
      input::-moz-placeholder {
        font-size: 12px !important;
      }
      input:-ms-placeholder {
        font-size: 12px !important;
      }

      .d_course {
        font-size: 12px !important;
      }
    }
    .common-searchBtn {
      margin-left: 0 !important;
    }
  }

  // 代理推广
  .agency_cont_main {
    .extension-cont-nav {
      .p1-name {
        font-size: 12px !important;
      }
    }
    .extension-content .record_agency_error {
      span:first-child {
        width: 330px !important;
      }
      span:last-child {
        // left: 422px!important;
        left: 10px !important;
      }
    }
    #BettingRecordDetailForm {
      .table-block-common thead td {
        line-height: 12px !important;
      }
    }
  }

  // 转账操作
  .agentTransfer-content {
    // 代理钱包
    .agency-balance {
      padding-top: 10px;
      height: 117px;
      a {
        top: 70px;
      }
    }

    // 转账弹窗
    #agency_transfer {
      .input_field .t_c_item .tip1 {
        width: 250px !important;
      }
    }

    .transfer_in_table table thead th {
      line-height: 15px !important;
    }
    .agent_transfer_choose {
      input::-webkit-input-placeholder {
        font-size: 12px !important;
      }
      input::-moz-placeholder {
        font-size: 12px !important;
      }

      .transfer_in,
      .transfer_time {
        font-size: 12px !important;
      }
      .transfer_in:first-child {
        width: 65px !important;
        line-height: 20px;
      }
      .transfer_in_account {
        width: 140px !important;
      }
      .record-drop {
        width: 130px !important;
        .d_course {
          width: 110px !important;
        }
      }
      .transfer_in_btn {
        float: left;
        margin-left: 10px;
        margin-right: 0 !important;
        width: auto;
      }
      .transfer_search_btn,
      .transfer_in_btn {
        font-size: 12px !important;
        min-width: 88px !important;
        max-width: 90px !important;
      }

      .vdp-datepicker input {
        width: 75px !important;
      }
    }
  }

  //
  .createAccount-content {
    .commission-bonus-list {
      width: 542px !important;
    }
  }

  // 代理审核
  #agencyExamineDetail {
    width: 550px;
    .Examine-table {
      width: 550px;
      .table-l,
      .table-r {
        min-width: 180px;
        width: auto;

        a {
          padding: 0 5px;
          min-width: 40px;
          width: auto;
        }
      }
    }
  }
}
.agency_alert_en,
.agency_alert_vi {
  // 左侧导航
  .per_cont_nav {
    .list {
      span {
        width: 170px !important;
        font-size: 14px !important;
      }
    }
  }
}
.agency_alert_vi {
  // 左侧导航
  .per_cont_nav {
    .list {
      a {
        display: block;
        height: 38px !important;
        line-height: 38px !important;
      }

      &.list_long_vi {
        span {
          line-height: 22px !important;
        }
      }
    }
  }
}
</style>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import memberAgencyNav from '@/mod/k04/components/public/memberAgencyNav.vue';
import ProfitLoss from '@/mod/k04/components/sub/agency/profitLoss/agencyProfitLoss.vue'; // 团队盈亏
import AgencySupervise from '@/mod/k04/components/sub/agency/supervise/agencySupervise.vue'; // 创建账号
import UserList from '@/mod/k04/components/sub/agency/userList/agencyUserList.vue'; // 用户列表
import Detailed from '@/mod/k04/components/sub/agency/detailed/agencyDetailed.vue'; // 账变明细
import TransferAccounts from '@/mod/k04/components/sub/agency/transferAccounts/agencyTransferAccounts.vue'; // 转账操作
import Extension from '@/mod/k04/components/sub/agency/extension/agencyExtension.vue'; // 推广设置
import Examine from '@/mod/k04/components/sub/agency/examine/agencyExamine.vue'; // 代理审核
import Treatment from '@/mod/k04/components/sub/agency/treatment/treatment.vue'; // 代理审核
import EventBus from '@/assets/scripts/common/EventBus.js';
import MessageAgencyWindow from '@/mod/k04/components/sub/messageAgencyWindow.vue';
import AgencyBetting from '@/mod/k04/components/sub/agency/bettingRecord/agencyBetting.vue';
import AgencyRecharge from '@/mod/k04/components/sub/agency/rechargeRecord/agencyRecharge.vue';
import AgencyWithdrawal from '@/mod/k04/components/sub/agency/withdrawalsRecord/agencyWithdrawal.vue';
import CodeCommission from '@/mod/k04/components/sub/agency/commissionRecord/CodeCommission.vue';
//  import BLDef from '@/assets/scripts/common/BLDef.js';
//  import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';

export default {
  data() {
    return {};
  },

  computed: {
    agencyName() {
      return this.$store.state.agencyName;
    }
  },
  created: function() {},
  methods: {
    // 開啟彈窗
    ShowAgency: function(data) {
      this.agencyName = data;
      CommUtility.WebShowUniqueForm('memberAgencyFrom');
    }, // end ShowEditPhone
    // 關閉彈窗
    HideEditPhone: function() {
      CommUtility.WebCloseUniqueForm('memberAgencyFrom');
      // 关闭弹窗后清除代理中心显示模块名称 2019.06.25 ququ
      this.$store.dispatch('setAgencyNameText', '');
    }, // end HideEditPhone
    personCenter: function(data) {
      CommUtility.WebCloseUniqueForm('memberAgencyFrom');
      this.$store.dispatch('setSwitchNameText', data);
      // 切换弹窗后清除代理中心显示模块名称 2019.07.12 ququ
      this.$store.dispatch('setAgencyNameText', '');
      EventBus.$emit('personalInfo');
    }
    // 檢查登入狀態
    //          CheckIsLogin: async function () {
    //              const data = await CommonService.Comm_CheckPermission();
    //              switch (data.Status) {
    //                  case BLDef.SysAccountStatus.NOT_LOGIN:
    //                      this.IsLogin = false;
    //                      this.$store.dispatch('setLoginFlag', this.IsLogin);
    //                      break;
    //                  case BLDef.SysAccountStatus.LOGINED_ENABLED:
    //                  case BLDef.SysAccountStatus.LOGINED_FROZEN:
    //                      this.IsLogin = true;
    //                      this.$store.dispatch('setLoginFlag', this.IsLogin);
    //                      break;
    //                  default:
    //                      break;
    //              }
    //          },
  },
  components: {
    memberAgencyNav,
    ProfitLoss,
    UserList,
    Detailed,
    TransferAccounts,
    Extension,
    Examine,
    MessageAgencyWindow,
    AgencySupervise,
    Treatment,
    AgencyBetting,
    AgencyRecharge,
    AgencyWithdrawal,
    CodeCommission
  }
};
</script>
