<template>
  <div>
    <div class="treatment-content" id="treatment-scroll">
      <h2 class="agency-main-title">
        <span>{{$t('message.agency_self_treatment')}}</span>
      </h2>
      <!-- 自身待遇 -->
      <self-treatment></self-treatment>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import Regex from "@/assets/scripts/common/CommDef.js"
import BKBLDef from "@/assets/scripts/common/BLDef.js"
import CommService from "@/mod/k14/assets/scripts/businessLogic/commonService.js"
import EventBus from "@/assets/scripts/common/EventBus.js"
import SelfTreatment from "@/mod/k14/components/sub/agency/treatment/selfTreatment.vue"
export default {
  data() {
    return {
      // 正則表達式類別
      Reg: Regex.Regex
    }
  },
  created: function () {},
  mounted: function () {},
  computed: {},
  methods: {},
  beforeDestroy: function () {},
  components: {
    SelfTreatment
  },

  watch: {
    // ValueListItem: function (list) {
    //   this.ValueListItem = list;
    // }
    // ValueListItem: function () {
    //   const self = this;
    //   if (localStorage.getItem('CreatedAgencyData')) {
    //     // self.$nextTick(function () {
    //     self.templateList();
    //     // });
    //   }
    // }
  }
}
</script>
