<template>
  <div id="AnnouncementWindow" class="pub_alert_box copy_alert_box" style="display:none;">
    <div class="descr_title no_line">
      <h1 class="window-title">{{$t('message.official_news')}}</h1>
      <a class="ann_icon_close" href="javascript:void(0);" @click="WebCloseMessage()">
        <span class="imgLoadReplace" v-if="!imgLoaded">×</span>
        <img
          @load="imgLoaded = true"
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/announcement/close.png'"
        />
      </a>
    </div>
    <section class="content-area">
      <div class="left-section">
        <ul v-if="AnnouncementList.length > 0">
          <li
            :class="{ on: ListChecked === index }"
            v-for="(AnnouncementData, index) in this
                            .AnnouncementList"
            :key="index"
            @click="BindMore(AnnouncementData, index)"
          >
            <span>{{ AnnouncementData.Title }}</span>
            <em class="active"></em>
          </li>
        </ul>
      </div>
      <div class="right-section">
        <div v-if="AnnouncementList.length > 0">
          <p class="title">{{ CurrentAnnouncement.Title }}</p>
          <p class="load-text" v-show="ShowLoading === true"></p>
          <p class="time" v-show="ShowLoading === false">
            {{
            CurrentAnnouncement.CreateDateTick
            | utcTicksToLocalTime("YYYY/MM/DD HH:mm:ss")
            }}
          </p>
          <p
            class="text"
            style="padding-right: 22px;"
            v-show="ShowLoading === false"
            v-html="CurrentAnnouncement.Html"
          ></p>
        </div>
        <div v-else style="text-align: center;margin-top: 30px;">
          <img onerror :src="$ResourceCDN+'/EditionImg/LamborFormal/images/announcement/none.png'" />
          <h2
            style="line-height: 40px;font-size: 24px;margin-top: 20px;"
          >{{$t('message.no_announcements_at_this_time')}}</h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import CommonService from 'scripts/businessLogic/commonService';
import BLDef from 'scripts/common/BLDef';
import HttpService from 'scripts/common/HttpService';
import Vue from 'vue';

export default {
  data() {
    return {
      AnnouncementList: [],
      QueryConditions: {
        WGUID: Vue.prototype.$WGUID,
        PagingInfo: {
          PageNo: 1,
          PageSize: 10000
        }
      },
      CurrentAnnouncement: {
        Title: '',
        CreateDateTick: '',
        HtmlAddress: ''
      },
      ShowLoading: true,
      ListChecked: undefined, // 信息列表是否选中
      IfOtherInto: false, // 判断是否通过点击进行传输
      imgLoaded: false
    };
  },
  // computed: {
  //     IsFirstEnter () {
  //         return this.$store.state.isFirstEnter;
  //     }
  // },
  created: function() {
    EventBus.$on('showAnnouncementWindow', () => {
      this.IfOtherInto = true;
      this.GetAnnouncementList(true);
    });
    EventBus.$on('showAnnouncementWindowFirst', () => {
      this.IfOtherInto = false;
      this.GetAnnouncementList(true);
    });

    EventBus.$on('MarqueeListItemId', data => {
      this.FindListItemIndex(data);
      CommUtility.WebShowUniqueForm('AnnouncementWindow');
    });
    this.$nextTick(() => {
      $('.load-text').shCircleLoader({
        dots: 8,
        keyframes:
          '0% {background:white;{prefix}transform: scale(.6)} 40% {background:transparent;{prefix}transform: scale(.6)} 60% {background:transparent;{prefix}transform: scale(.6)} 100% {background:white;{prefix}transform: scale(.6)}'
      });
    });
  },
  methods: {
    // 获取列表
    GetAnnouncementList: async function(showAnnouncementWindow) {
      console.log('====================QueryConditions');
      console.log(this.QueryConditions);
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await CommonService.Comm_GetAnnouncementInfo(
        this.QueryConditions
      );
      console.log('====================GetMarqueeList');
      console.log(data);

      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        if (data.Data.List.length === 0 && this.IfOtherInto === false) {
          EventBus.$emit('GlobalLoadingTrigger', false);
          return;
        }
        this.AnnouncementList = data.Data.List;
        // 首次进入页面则弹出公告弹窗 2019.11.22 ququ
        if (
          ((sessionStorage.getItem('IsFirstEnter') === '' ||
            sessionStorage.getItem('IsFirstEnter') === null ||
            sessionStorage.getItem('IsFirstEnter') === undefined) &&
            this.$route.name === 'Index') ||
          showAnnouncementWindow
        ) {
          sessionStorage.setItem('IsFirstEnter', 'NO');
          // 无公告则不执行展开第一条数据的方法，并结束loading 2019.11.20 ququ
          if (data.Data.List.length > 0) {
            // 出现弹窗时，就必须同时出现第一则公告内文
            this.BindMore(this.AnnouncementList[0], 0);
          } else {
            this.ShowLoading = false;
          }
          // 无公告则不执行展开第一条数据的方法，并结束loading 2019.11.20 ququ end
          this.$nextTick(() => {
            CommUtility.WebShowUniqueForm('AnnouncementWindow');
            this.$store.dispatch('setAnnouncementOpenText', true);
            $('.left-section').perfectScrollbar();
            $('.right-section').perfectScrollbar();
            // this.$store.dispatch('setIsFirstEnterVal', false);
          });
        }
      }
      EventBus.$emit('GlobalLoadingTrigger', false);
    },
    // 根据ID查找该条数据在公告列表中的index
    FindListItemIndex: function(id) {
      for (let index = 0; index < this.AnnouncementList.length; index++) {
        if (this.AnnouncementList[index].ID == id) {
          this.BindMore(this.AnnouncementList[index], index);
          $('.left-section').animate({ scrollTop: (index + 1) * 63 }, 500);
          return;
        }
      }
    },
    // 阅读全文
    BindMore: async function(data, index) {
      console.log('index5555555555555555555555555');
      console.log(data);
      console.log(index);
      console.log(this.AnnouncementList);
      console.log('index5555555555555555555555555');
      $('.right-section').scrollTop(0);
      $('.right-section').perfectScrollbar('update');
      for (let d = 0; d < this.AnnouncementList.length; d++) {
        if (data.ID == this.AnnouncementList[d].ID) {
          this.CurrentAnnouncement.Title = this.AnnouncementList[d].Title;
          this.CurrentAnnouncement.CreateDateTick = this.AnnouncementList[
            d
          ].CreateDateTick;
          if (
            data.HtmlAddress === '' ||
            data.HtmlAddress === null ||
            data.HtmlAddress === undefined
          ) {
            this.CurrentAnnouncement.Html = this.AnnouncementList[index].Title;
            return;
          }
          console.log(this.$ResourceURL + data.HtmlAddress);
          const temp = await HttpService.GetContent(
            this.$ResourceURL + data.HtmlAddress
          );
          // console.log('temp3333333333333333333');
          // console.log(temp);
          // console.log('temp3333333333333333333');
          this.CurrentAnnouncement.Html = temp;
          this.ShowLoading = false;
        }
      }

      this.ListChecked = index;
    },
    WebCloseMessage: function() {
      this.$store.dispatch('setAnnouncementOpenText', false);
      CommUtility.WebCloseUniqueForm('AnnouncementWindow');
      $('.left-section').animate({ scrollTop: 0 }, 100);
    }
  },
  beforeDestroy() {
    EventBus.$off('showAnnouncementWindow');
    EventBus.$off('MarqueeListItemId');
  }
};
</script>

<style lang="less" scoped>
@import '../../assets/cdn.less';
#AnnouncementWindow {
  width: 1030px;
  height: 721px;
  transform: translate(-50%, -50%, 0);
  -moz-webkit-transform: translate(-50%, -50%, 0);
  -o-webkit-transform: translate(-50%, -50%, 0);
  -webkit-transform: translate(-50%, -50%, 0);
  *zoom: 1;
  overflow: hidden;
  border-radius: 14px;
  background-color: rgba(7, 1, 24, 0.9);
  color: #fff;
  .descr_title.no_line {
    height: 90px;
    line-height: 90px;
  }
  .window-title {
    font-weight: normal;
    font-size: 20px;
    padding: 0 40px;
    background-size: 100% 100%;
    font-size: 26px;
    box-sizing: border-box;
  }
  .ann_icon_close {
    position: absolute;
    top: 27px;
    right: 25px;
    width: 32px;
    height: 32px;
    margin: 0;
    background-size: 100% 100%;
    .imgLoadReplace {
      font-size: 68px;
      color: #607fa3;
      line-height: 0;
    }
  }
  .content-area {
    height: 628px;
    border-right: 2px solid #51556a;
    border-bottom: 2px solid #51556a;
    border-left: 2px solid #51556a;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    .left-section {
      width: 24%;
      float: left;
      height: 629px;
      overflow: hidden;
      position: relative;
      background-color: rgba(14, 13, 42, 0.6);
      border-right: 1px solid #51556a;
      border-left: 1px solid #51556a;
      box-sizing: border-box;
      position: relative;
      left: -2px;
      border-bottom-left-radius: 14px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      ul {
        li {
          height: 63px;
          line-height: 63px;
          padding: 0 30px;
          box-sizing: border-box;
          border-top: 1px solid #51556a;
          font-size: 16px;
          // border-left: 2px solid #51556a;
          // border-right: 2px solid #51556a;
          span {
            width: 100%;
            position: relative;
            z-index: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
          }
          &.on {
            position: relative;
            .active {
              display: block;
              position: absolute;
              left: -2px;
              right: -2px;
              bottom: -2px;
              top: -2px;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
    .right-section {
      width: 67.5%;
      float: left;
      margin: 42px;
      box-sizing: border-box;
      height: 544px;
      overflow: hidden;
      position: relative;
      padding-right: 21px;
      .load-text {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        z-index: 99999 !important;
      }
      .title,
      .time {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
        word-break: break-all;
      }
      .title {
        font-size: 26px;
        margin-bottom: 16px;
        padding-right: 19px;
      }
      .text {
        img {
          width: 672px !important;
          height: auto;
        }
      }
    }
    /deep/ .ps-container .ps-scrollbar-y {
      right: 0;
      width: 8px;
      background-color: #6484a9;
    }
    /deep/ .ps-container .ps-scrollbar-y-rail {
      width: 8px;
      background: rgba(255, 255, 255, 0.16);
    }
  }
}
</style>
