<template>
  <!--客服找回密码-->
  <ul id="CustomerServiceWindow" class="service_alert" style="display:none;z-index:9999">
    <li class="first_li">
      <p class="p_1">请联系客服找回密码</p>
      <i class="close_alert" @click="CommUtility.WebCloseUniqueForm('CustomerServiceWindow')">×</i>
    </li>
    <li v-for="QQInfo in CustomerServiceData.CustomerServiceSettingInfoList">
      <a style="cursor: pointer" @click="CallQQClient(QQInfo.QQAcct)">{{QQInfo.Name}}</a>
    </li>
  </ul>
</template>

<script>
import BLDef from "scripts/common/BLDef";
import Vue from "vue";
import CommUtility from "scripts/common/CommUtility";
import CommonService from "scripts/businessLogic/commonService";

export default {
  data() {
    return {
      CommUtility: CommUtility,
      CustomerServiceData: {}
    };
  },
  created: function() {
    this.GetCustomerServiceData();
  },
  methods: {
    // 取得客服資訊
    GetCustomerServiceData: async function() {
      const inputObj = { WGUID: Vue.prototype.$WGUID };
      const data = await CommonService.Comm_GetCustomerServiceInfo(inputObj);
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        this.CustomerServiceData = data.Data.CustomerServiceInfo;
      }
    },
    // 呼叫QQ客服
    CallQQClient: function(QQAcct) {
      const QQHref = "http://wpa.qq.com/msgrd?v=3&uin=" + QQAcct + "&menu=yes";
      window.open(QQHref);
    }
  }
};
</script>
