<template>
  <div>
    <p id="loader" v-show="ShowLoading===true"></p>
    <div class="LoadBox" v-show="ShowLoading===true">
      <div class="Lp">
        <!-- <p>Loading...</p>
        <span class="LoadIcon"></span>-->
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from "scripts/common/EventBus";

export default {
  data() {
    return {
      ShowLoading: false
    };
  },
  created: function() {
    const self = this;
    EventBus.$on("GlobalLoadingTrigger", flag => {
      console.log("----------------------------==============================");
      console.log("----------------------------==============================");
      console.log("----------------------------==============================");
      console.log("----------------------------==============================");
      self.ShowLoading = flag;
    });
  },
  mounted: function() {
    // $('#loader').shCircleLoader( { color: 'white' } );
    $("#loader").shCircleLoader({
      keyframes:
        "0% {background:white} 40% {background:transparent} 60% {background:transparent} 100% {background:white}"
    });
  },
  beforeDestroy() {
    EventBus.$off("GlobalLoadingTrigger");
  }
};
</script>
