<template>
  <div id="MessageTransferWindow" class="pub_alert_box copy_alert_box" style="display:none;">
    <div v-show="TransferShow">
      <div class="descr_title no_line">
        <a class="icon_close" href="javascript:void(0);" @click="WebCloseMessage()"></a>
      </div>
      <div class="descr_p">
        <p class="p_blue">
          {{NotifyMessage}}
          <a
            v-if="this.TransferNum>1"
            @click="OpenNewBox()"
            style="color: #1792ff;cursor: pointer;"
          >{{$t('message.member_contact_service')}}</a>
        </p>
        <p>{{NotifyObj.NotifySubMessage}}</p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          href="javascript:void(0);"
          @click="IntoGame()"
        >{{$t('message.live_start_game')}}</a>
        <a
          class="btn2"
          href="javascript:void(0);"
          v-if="TransferNum <= 2"
          @click="PlayGame()"
        >{{$t('message.transfer_ReTransfer')}}</a>
        <a
          class="btn2"
          href="javascript:void(0);"
          v-else
          @click="WebCloseMessage()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import BLDef from 'scripts/common/BLDef';
import URLService from 'scripts/common/URLService';
import CommonService from 'scripts/businessLogic/commonService';
import GameService from 'scripts/businessLogic/gameService';
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';
import Vue from 'vue';
export default {
  data () {
    return {
      NotifyObj: {
        NotifyMessage: this.$t('message.transfer_transferFail'),
        NotifySubMessage: undefined,
        CloseFunction: Function
      },

      PlayGameData: {},
      TransferNum: 0,
      TransferShow: false,
      NotifyMessage: this.$t('message.transfer_transferFail'),
      GameList: []
    };
  },
  mounted: function () {
    const self = this;
    EventBus.$on('showTransferMessage', data => {
      console.log('showTransferMessage');
      console.log(data);
      console.log('showTransferMessage');
      this.GetParams();
      self.GameList = data;
      CommUtility.WebShowUniqueForm('MessageTransferWindow');
    });
  },
  methods: {
    // 獲取URL參數
    GetParams: async function () {
      if (localStorage.getItem('PlayGamePostData') != undefined) {
        this.PlayGameData = URLService.GetObjFromUrlParameter(
          localStorage.getItem('PlayGamePostData')
        );
        localStorage.removeItem('PlayGamePostData');
        if (this.PlayGameData.PlayType != BLDef.IdentityType.TRIAL) {
          // 檢查權限:凍結不可進行遊戲
          const permissionData = await this.CheckAcctStatus();
          if (permissionData.Status != BLDef.SysAccountStatus.LOGINED_ENABLED) {
            const notifyData = {
              NotifyMessage:
                BLDef.SysAccountStatus.NOT_LOGIN == permissionData.Status ||
                BLDef.SysAccountStatus.NOT_LOGIN_DISABLED ==
                  permissionData.Status ||
                BLDef.SysAccountStatus.NOT_LOGIN_DELETED ==
                  permissionData.Status
                  ? this.$t('message.top_login_account')
                  : this.$t('message.top_account_freezing'),
              CloseFunction: this.CloseCurrentWindow
            };
            EventBus.$emit('showNotifyMessage', notifyData);
            return;
          }
          this.PlayGame();
        } else {
          this.CheckAuthCode(this.PlayGameData.VCodeObj);
        }
      } else {
        this.CloseCurrentWindow();
      }
    },
    // 檢查登入狀態
    CheckAcctStatus: async function () {
      const retData = await CommonService.Comm_CheckPermission();
      return retData;
    },
    // 檢查驗證碼
    CheckAuthCode: async function (VCodeObj) {
      const inputObj = VCodeObj;
      const retData = await CommonService.VerifyCode_Verify(inputObj);
      if (retData.Ret != 0) {
        const notifyData = {
          NotifyMessage: retData.Message,
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
      } else {
        this.PlayGame();
      }
    },
    // 進行遊戲
    PlayGame: async function () {
      // 设定厂商ID 键值对 20191011
      const InToGameNum = localStorage.getItem('InToGameNum');
      if (InToGameNum !== this.GameList.GameAPIVendor) {
        localStorage.setItem('InToGameNum', this.GameList.GameAPIVendor);
        this.TransferNum = 0;
        this.NotifyMessage = this.$t('message.transfer_transferFail');
      }

      const token =
        this.PlayGameData.PlayType == BLDef.IdentityType.TRIAL
          ? this.PlayGameData.CToken
          : undefined;
      const BaseUrl = window.location.href
        .split('/')
        .slice(0, 3)
        .join('/');
      const inputObj = {
        WGUID: Vue.prototype.$WGUID,
        GameAPIVendor: this.PlayGameData.GameAPIVendor,
        GameCatlog: this.PlayGameData.GameCatlog,
        GameCode: this.PlayGameData.GameCode,
        PlatformType: BLDef.PlatformType.Web_PC,
        PlayType: this.PlayGameData.PlayType,
        Url: BaseUrl
      };

      EventBus.$emit('GlobalLoadingTrigger', true);
      const gameData = await GameService.Game_Player(inputObj, token);
      // EventBus.$emit('GlobalLoadingTrigger', false);

      // 请求频繁 后端返回限制进入游戏 2019.04.02 SeyoChen
      if (gameData.Ret == 22) {
        const notifyData = {
          // NotifyMessage: gameData.Message,
          NotifyMessage: this.$t('message.play_frequently'),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }
      // 请求频繁 后端返回限制进入游戏 2019.04.02 SeyoChen end

      if (gameData.Ret != 0) {
        const notifyData = {
          // NotifyMessage: gameData.Message,
          NotifyMessage: this.$t('message.live_line_upkeep'),
          CloseFunction: this.CloseCurrentWindow
        };
        EventBus.$emit('showNotifyMessage', notifyData);
        return;
      }

      localStorage.setItem(
        'PlayUrl',
        JSON.stringify(gameData.Data.GamePlayUrl)
      );

      // 进入转账是否转账成功 true 成功  false 失败 20191010 SeyoChen
      if (gameData.Data.IsGameTransation === false) {
        localStorage.setItem('TransferNum', this.TransferNum);
        this.TransferShow = true;
        this.TransferNum++;
        if (this.TransferNum > 2) {
          this.NotifyMessage = this.$t('message.transfer_transferFailDesc1');
        } else if (this.TransferNum > 1 && this.TransferNum <= 2) {
          this.NotifyMessage = this.$t('message.transfer_transferFailDesc2');
        }
      } else {
        this.TransferNum = 0;
        this.TransferShow = false;
        CommUtility.WebCloseUniqueForm('MessageTransferWindow');
        this.IntoGame();
      }
      // 进入转账是否转账成功 true 成功  false 失败 20191010 SeyoChen end

      // this.GamePlayUrl = gameData.Data.GamePlayUrl;
      // location.href = this.GamePlayUrl;
    },

    // 进入游戏 20191010 SeyoChen
    IntoGame: function () {
      // location.href = this.GamePlayUrl;
      this.TransferShow = false;
      CommUtility.WebCloseUniqueForm('MessageTransferWindow');
      if (this.GameList.GameAPIVendor == 31 && this.GameList.GameCatlog == 4) {
        CommUtility.OpenPlayGameWindow('webPlayPngGame', 'PlayGamePopUpWindow');
      } else {
        CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
      }
      // CommUtility.OpenPlayGameWindow('webPlayGame', 'PlayGamePopUpWindow');
    },

    // 弹出客服新窗口
    OpenNewBox: function () {
      return window.open(
        this.$ServeLink,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
    },

    WebCloseMessage: function () {
      this.TransferShow = false;
      CommUtility.WebCloseUniqueForm('MessageTransferWindow');
      if (this.NotifyObj.CloseFunction) {
        this.NotifyObj.CloseFunction();
      }
    }
  },
  beforeDestroy () {
    EventBus.$off('showTransferMessage');
  }
};
</script>
