<template>
  <div id="MessageWindow" class="pub_alert_box copy_alert_box" style="display:none;">
    <!--7版特有-->
    <div class="seven_popup">
      <div class="descr_title no_line">
        <a class="icon_close" href="javascript:void(0);" @click="WebCloseMessage()"></a>
      </div>
      <div class="descr_p">
        <p class="p_blue">{{NotifyObj.NotifyMessage}}</p>
        <p>{{NotifyObj.NotifySubMessage}}</p>
      </div>
      <div class="alert_btn_both">
        <a class="btn1" href="javascript:void(0);" @click="WebCloseMessage()">
          <i class="comAlertBtn">{{$t('message.member_ascertain')}}</i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data () {
    return {
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        CloseFunction: Function
      }
    };
  },
  created: function () {
    const self = this;
    EventBus.$on('showNotifyMessage', data => {
      console.log(data);
      self.NotifyObj = data;
      CommUtility.WebShowMessageForm();
    });
  },
  methods: {
    WebCloseMessage: function () {
      CommUtility.WebCloseMessageForm();
      if (this.NotifyObj.CloseFunction) {
        this.NotifyObj.CloseFunction();
      }
    }
  },
  beforeDestroy () {
    EventBus.$off('showNotifyMessage');
  }
};
</script>
