<template>
  <div id="MessageAgencyWindow" class="alert_box_content tel_alert_box re_h" v-show="ShowSatrt">
    <span class="alert_close" @click="WebCloseMessageWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'">
    </span>
    <div class="descr_p">
      <p class="p_blue">{{NotifyObj.NotifyMessage}}</p>
      <p>{{NotifyObj.NotifySubMessage}}</p>
    </div>
    <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;margin-top: 20px;">
      <a
        style="float: none;"
        class="btn1 hasblock enter_deposit"
        @click="WebCloseMessageWindow()"
      >{{$t('message.member_ascertain')}}</a>
    </div>
  </div>
</template>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  data () {
    return {
      ShowSatrt: false,
      NotifyObj: {
        NotifyMessage: undefined,
        NotifySubMessage: undefined,
        CloseFunction: Function
      }
    };
  },
  created: function () {
    const self = this;
    EventBus.$on('showNotifyAgencyMessage', data => {
      console.log(
        'showNotifyAgencyMessage66666666666666666666666666666666666666666666666'
      );
      self.ShowSatrt = true;
      self.NotifyObj = data;
      CommUtility.WebShowAlertboxForm('MessageAgencyWindow');
      console.log('showNotifyAgencyMessage');
    });
    EventBus.$on('closeNotifyAgencyMessage', () => {
      CommUtility.WebClosealertboxForm('MessageAgencyWindow');
      setTimeout(() => {
        self.ShowSatrt = false;
      }, 200);
    });
  },
  methods: {
    WebCloseMessageWindow: function () {
      CommUtility.WebClosealertboxForm('MessageAgencyWindow');
      if (this.NotifyObj.CloseFunction) {
        this.NotifyObj.CloseFunction();
      }
      setTimeout(() => {
        this.ShowSatrt = false;
      }, 200);
    },
    WebCloseMessage: function () {
      CommUtility.WebClosealertboxForm('MessageAgencyWindow');
      this.ShowSatrt = false;
    }
  },
  beforeDestroy () {
    EventBus.$off('showNotifyAgencyMessage');
  }
};
</script>
