<template>
  <div class="paginate-content" style="text-align:center" v-if="this.PageCount>0">
    <paginate
      ref="paginate"
      :page-count="PageCount"
      :page-range="5"
      :click-handler="$parent.GetCurrentPageData"
      :prev-text="$t('message.member_page_before')"
      :next-text="$t('message.member_latter_page')"
      :container-class="'paginate'"
    ></paginate>
  </div>
</template>

<style lang="less" rel="stylesheet/less">
</style>

<script>
import Paginate from 'vuejs-paginate';
import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    PageCount: 0,
    PageNo: undefined
  },
  components: {
    Paginate
  },
  created: function () {
    const self = this;
    EventBus.$on('Paginate_ResetPageNo', data => {
      if (self.$refs.paginate === undefined) {
        return;
      }

      if (data === undefined) {
        self.$refs.paginate.selected = 0;
      } else {
        self.$refs.paginate.selected = data - 1;
      }
    });
  },
  methods: {
    RetSetPageNo: function () {
      if (this.PageCount > 0) {
        this.$refs.paginate.selected = 0;
      }
    }
  },
  beforeDestroy () {
    EventBus.$off('Paginate_ResetPageNo');
  }
};
</script>
