<template>
  <!--H5游戏-->
  <div class="H5_con banner">
    <pt-html5-lobby-header :LoadMainPageDataModel="LoadMainPageDataModel"></pt-html5-lobby-header>

    <div class="H5-content">
      <h3>
        <img :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/H5/PT-logo.png'" />
      </h3>
      <div class="ph_search">
        <img
          @click="GetPTHtml5GameList(1);"
          :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/H5/h-search.png'"
        />
        <input
          type="text"
          value
          v-model="Keyword"
          name="ReqKeyWord"
          v-validate="{ rules: { regex:Reg.GameKeyword}}"
        />
      </div>
      <p
        class="tip1 qc-tip"
        v-show="errors.has('ReqKeyWord') && fields.ReqKeyWord.touched"
      >{{$t('message.login_notations')}}</p>
      <div class="clearfix"></div>
      <div class="H5-main clearfix">
        <pt-html5-lobby-searchbar :GetCurrentPageData="CurrentPageData"></pt-html5-lobby-searchbar>
        <div class="H5-lists">
          <!--游戏入口列表-->
          <pt-html5-lobby-content :PTHtml5GameList="PTHtml5GameList"></pt-html5-lobby-content>
          <div class="public-page clearfix">
            <!--分页-->
            <pt-html5-lobby-paging :PageCount="PageInfo.PageCount" :PageNo="SearchPage"></pt-html5-lobby-paging>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { html5By } from '@/mod/k04/assets/scripts/comTest/main/h5/html5Lobby.js';
export default {
  mixins: [html5By]
};
</script>
