<template>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        v-if="WattingGame"
        :style="{background: 'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/web64_athletics_banner1.jpg)no-repeat'}"
      >
        <div class="swiper-slide-box clearfix" style="width: 231px;">
          <div class="swiper-slide-btn">
            <span>{{$t('message.live_expect')}}</span>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        v-else
        v-for="(list, index) in athleticList"
        :key="list.GameApiNo"
        :style="{background: 'url(' + $ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/web64_athletics_banner'+((index+1)%7)+'.jpg)no-repeat'}"
      >
        <div class="swiper-slide-box clearfix">
          <img
            class="img_1 fl"
            :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png?VersionCode'"
          />

          <div class="swiper-slide-btn original fl">
            <span class="athleticsMaintenance" v-if="list.GameTypeState == '703'">
              <img
                :src="$ResourceCDN+'/EditionImg/LamborFormal/images/public/lang/'+$MessageLang+'/athleticsMaintenance.png'"
              />
            </span>
            <span
              @click="$emit('athleticsEnterGame',list.GameTypeNo,list.GameApiNo,list.GameCode)"
              v-else
              class="enter-game original"
            >{{$t('message.live_start_game')}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</template>
<script>
import athleticsContent from '@/assets/scripts/comTest/general/athletics/athleticsContent';
export default {
  name: 'athletics-content',
  mixins: [athleticsContent]
};
</script>
