<template>
  <div>
    <div id="currencyForm" name="currencyForm">
      <!-- <ul class="psl_guide">
                <li data-num="0" class="hasblock">
                    <a href="javascript:void(0);">虚拟货币账户资料</a>
                    <i></i>
                </li>
      </ul>-->
      <ul class="input_field currency_input style3 member_new_tip member_new_btb">
        <li>
          <p class="tip">{{$t('message.member_reminder')}}</p>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_business_name')}}：</div>
          <div class="input_rt">
            <p>Sunny Pay</p>
          </div>
        </li>
        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_official_website')}}：</div>
          <div class="input_rt">
            <p>https://wallet.sunnypay.io</p>
          </div>
        </li>

        <li class="hasblock">
          <div class="input_lf">{{$t('message.member_payment_address')}}：</div>
          <div class="input_rt">
            <input
              type="text"
              style="width: 400px;"
              @focus="TipShow()"
              @blur="TipHide()"
              name="Address"
              v-model="Address"
              v-validate="{ rules: { regex:Reg.Address, required: true }}"
            />
            <i class="tip-box" v-show="errors.has('Address') && fields.Address.touched"></i>
            <i class="tip-error" v-show="errors.has('Address') && fields.Address.touched"></i>
            <i
              class="tip1"
              v-show="errors.has('Address') && this.TipsShow.Address == true"
            >{{$t('message.member_limited_word')}}</i>
          </div>
        </li>
      </ul>
      <div class="pub_btn_both style3">
        <a
          class="btn1 alert_click1 hasblock"
          @click="UpdateCurrencyData()"
          style="cursor: pointer"
        >{{$t('message.member_preservation')}}</a>
        <a @click="navClick('webMemberSummary')" class="btn2">{{$t('message.member_cancel')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue';
import EventBus from '@/assets/scripts/common/EventBus.js';
// import BLDef from '@/assets/scripts/common/BLDef.js';
import Regex from '@/mod/k04/assets/scripts/common/CommDef.js';
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import PersonalCenterService from '@/mod/k04/assets/scripts/businessLogic/personalCenterService.js';
// import CommonService from '@/mod/k04/assets/scripts/businessLogic/commonService.js';

export default {
  data () {
    return {
      Reg: Regex.Regex,
      CurrencyData: {
        ReceiptAddress: ''
      },

      Address: '',
      TipsShow: {
        Address: false
      }
    };
  },
  created: function () {
    this.LoadPage();
  },
  mounted: function () {
    CommUtility.BindEnterTrigger('currencyForm', this.UpdateBankData);
  },
  methods: {
    TipShow: function () {
      this.TipsShow.Address = true;
    },
    TipHide: function () {
      this.TipsShow.Address = false;
    },
    navClick: function (name) {
      this.$store.dispatch('setSwitchNameText', name);
    },
    // 載入畫面
    LoadPage: async function () {
      const retData = await PersonalCenterService.MemberCurrencyMerchant_LoadMainPage();
      if (retData.Ret === 0) {
        this.Address = retData.Data.VirtualAcct.ReceiptAddress;
        this.CurrencyData.ReceiptAddress =
          retData.Data.VirtualAcct.ReceiptAddress;
      }
    },
    // 修改會員銀行帳戶資料
    UpdateCurrencyData: async function () {
      const dataObj = {
        OrgVirtualAcct: {
          MerchantName: 'Sunny Pay',
          MerchantWeb: 'https://wallet.sunnypay.io',
          ReceiptAddress: this.CurrencyData.ReceiptAddress
        },
        VirtualAcct: {
          MerchantName: 'Sunny Pay',
          MerchantWeb: 'https://wallet.sunnypay.io',
          ReceiptAddress: this.Address
        }
      };

      // 收款地址不能为空 2019.04.22 SeyoChen
      // if (this.Address === '') {
      //     const notifyData = {
      //         NotifyMessage: '收款地址不能为空'
      //     };
      //     EventBus.$emit('showNotifyMessage', notifyData);
      //     return;
      // }
      // 收款地址不能为空 2019.04.22 SeyoChen end

      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.MemberCurrencyMerchant_Mod(
        dataObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);

      // 2019.04.17 SeyoChen
      const notifyData = {
        NotifyMessage: data.Message
      };
      EventBus.$emit('showNotifyMemberMessage', notifyData);
    }
  }
};
</script>
