<template>
  <!--首页-->
  <div class="index-content clearfix" :class="'index_'+$MessageLang">
    <!-- 盈利榜 -->
    <main-suspension></main-suspension>
    <phone-beting></phone-beting>

    <!--7版、15版-->
    <div class="index_lower index_lower2 hides clearfix">
      <div class="index_lower_banner">
        <div class="index-inside rows clearfix">
          <!--优惠活动-->
          <!-- <activity></activity> -->
          <!-- <fast-entrance></fast-entrance> -->
        </div>
        <!--热门游戏-->
        <div class="hot_box rows clearfix">
          <div class="index-game-txt">
            <span>{{$t('message.game_boutique')}}</span>
          </div>
          <ul class="hot_lists">
            <li class="h_list h_list1">
              <router-link to="LiveVideo"></router-link>
              <i></i>
            </li>
            <li class="h_list h_list2">
              <router-link to="Electronic"></router-link>
              <i></i>
            </li>
            <li class="h_list h_list3">
              <router-link to="Sport"></router-link>
              <i></i>
            </li>
            <li class="h_list h_list4">
              <router-link to="Lottery"></router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--25版-->
    <div class="main index-main-twentyFive hides">
      <div class="swiper-container2">
        <div class="swiper-wrapper">
          <div class="swiper-slide section-1">
            <!-- 横向轮播 start -->
            <home-banner></home-banner>
            <!-- 横向轮播 end -->
            <h2 class="section-heading section-heading-1 bounceInDown">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_2.png'"
              />
            </h2>
            <!-- 跑马灯 start -->
            <div class="marquee" style="margin-top:45px;margin-left:-20px">
              <lambor-marquee></lambor-marquee>
            </div>
            <!-- 跑马灯 end -->
            <div
              class="section1-table additional-text bounceInDown"
              v-if="IsLogin"
              style="display:none"
            >
              <div class="section1-table-top">
                <div class="section1-table-topPic">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"
                  />
                </div>
                <div class="section1-table-topText" :class="'topText'+$MessageLang">
                  <p>
                    {{$t('message.index_hello')}}，
                    <i style="color: #de9939;">{{MemberInfo.Acct}}</i>
                    <a
                      @click="navClick('webMemberSummary')"
                      style="color: #de9939;"
                    >【{{$t('message.index_personal')}}】</a>
                  </p>
                  <!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
                  <p>
                    {{$t('message.top_balance')}}：
                    <i
                      style="color: #de9939;"
                    >{{this.VBalance | moneyFormat}}</i>
                  </p>
                </div>
              </div>
              <div class="section1-table-btn">
                <span
                  class="section1-table-btnDeposit"
                  @click="navClick('webMemberDeposit')"
                >{{$t('message.index_deposit')}}</span>
                <span
                  class="section1-table-btnDraw"
                  @click="navClick('webMemberWithdrawal')"
                >{{$t('message.index_withdraw')}}</span>
              </div>
            </div>
            <div
              class="section1-table additional-text bounceInDown"
              v-if="!IsLogin"
              style="display:none"
            >
              <div class="section1-table-top">
                <div class="section1-table-topPic">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_11.png'"
                  />
                </div>
                <div class="section1-table-topText">
                  <p>
                    <router-link :to="{name:'Login'}">{{$t('message.top_login')}}</router-link>
                  </p>
                  <!-- <p>会员等级：<i style="color: #de9939;">{{this.MemberInfo.VMemberLv}}</i></p> -->
                  <p>
                    <router-link :to="{name:'Register'}">{{$t('message.top_register')}}</router-link>
                  </p>
                </div>
              </div>
              <div class="section1-table-btn">
                <!--<router-link target="_blank" :to="{name:'FreeTrial'}"><span class="section1-table-btnDeposit">免费试玩</span></router-link>-->
                <span class="section1-table-btnDraw" @click="OpenNewBox($ServeLink)">
                  <a>{{$t('message.member_contact_service')}}</a>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide section-2">
            <h2 class="section-heading slideInRight">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_10.png'"
              />
              <p class="section-heading-videoBtn" @click="$router.push({name:'LiveVideo'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_12.png'"
                />
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-3">
            <h2 class="section-heading slideInLeft">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_13.png'"
              />
              <p class="section-heading-gameBtn">
                <!--<span class="sp1" @click="$router.push({name:'Electronic'})">
		        			<img :src="$ResourceCDN + '/EditionImg/lamborFormal/images/web25/layout/h_14.png'"/>
		        		</span>
                <span class="sp2" @click="$router.push({name:'Electronic'})">-->
                <router-link :to="{ name: 'Electronic'}" class="sp1">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_14.png'"
                  />
                </router-link>
                <router-link :to="{ name: 'Electronic'}" class="sp2">
                  <img
                    :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/layout/h_15.png'"
                  />
                </router-link>
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-4">
            <h2 class="section-heading slideInRight">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_16.png'"
              />
              <p class="section-heading-lotteryBtn" @click="$router.push({name:'Lottery'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_17.png'"
                />
              </p>
            </h2>
          </div>
          <div class="swiper-slide section-5">
            <h2 class="section-heading slideInLeft">
              <img
                :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_18.png'"
              />
              <p class="section-heading-sportBtn" @click="$router.push({name:'Sport'})">
                <img
                  :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web25/lang/'+$MessageLang+'/layout_h_19.png'"
                />
              </p>
            </h2>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-p2 swiper-pagination"></div>
      </div>
    </div>
    <div class="activity-popup-main" style="display: none;" id="a-p-main">
      <div class="activity-popup-bg"></div>
      <div class="activity-popup-content">
        <span class="activity-close"></span>
        <a href="javascript:void(0);" class="activity-popup-back">{{$t('message.activity_return')}}</a>
        <div class="activity-popup-page" id="activity-scroll-box">
          <div v-if="showID === 0">
            <h3 class="activity-popup-title">{{PromotionDetail.Name}}</h3>
            <p
              class="activity-popup-time"
            >{{$t('message.activity_activity_time')}}： {{PromotionDetail.StartTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} - {{PromotionDetail.EndTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm')}} (GMT+8)</p>
            <div class="activity-popup-detail">
              <section class="detail-img">
                <img v-if="ActLogoFlag == true" :src="Resource + PromotionDetail.ActLogo" />
              </section>
              <section class="detail-text">
                <p id="a-p-main-detail"></p>
              </section>
            </div>
          </div>
          <div v-if="showID === 1">
            <h3 class="activity-popup-title">{{$t('message.activity_new_reports')}}</h3>
            <div class="activity-popup-detail">
              <section class="detail-img">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/activity/first_activity.jpg?VersionCode'"
                />
              </section>
              <section class="detail-text">
                <p>{{$t('message.activity_cash_rebate')}}</p>
                <p>{{$t('message.activity_notice')}}。</p>
              </section>
            </div>
          </div>
          <div v-if="showID === 2">
            <h3 class="activity-popup-title">{{$t('message.activity_waking_ned')}}</h3>
            <div class="activity-popup-detail">
              <section class="detail-img">
                <img
                  :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web60/activity/orther_activity.jpg?VersionCode'"
                />
              </section>
              <section class="detail-text">
                <p>{{$t('message.pound_ceremony')}}</p>
                <p>{{$t('message.activity_notice')}}。</p>
              </section>
            </div>
          </div>
          <!--news-neirong-text-->
          <!--登陆后进入充值页面 2018.09.21 SeyoChen -->
          <section class="activity-btn-Popup">
            <a
              class="activity-btn"
              v-show="OtherActivityData"
              @click="ToRechargePage(1)"
            >{{$t('message.activity_enter_deposits')}}</a>
            <a
              class="activity-btn"
              v-show="!OtherActivityData"
              @click="ToRechargePage(1)"
            >{{$t('message.activity_enter_deposits')}}</a>
          </section>
          <section class="activity-btn-ShowHide">
            <a
              class="activity-btn"
              v-show="OtherActivityData"
              v-on:click="OpenAndNoHide"
            >{{$t('message.activity_enter_deposits')}}</a>
            <a
              class="activity-btn"
              v-show="!OtherActivityData"
              @click="TriggerMemberUser('webMemberDeposit')"
            >{{$t('message.activity_enter_deposits')}}</a>
          </section>
          <!--news-neirong-text-->
        </div>
        <!--popup-news-content-->
      </div>
      <!--popup-content-->
    </div>
    <!--弹窗选择支付方式 2018.09.21-->
    <div
      id="informationForm"
      class="pub_alert_box tel_alert_box re_h"
      style="display: none;width: 350px;"
    >
      <span class="cover"></span>
      <form name="InformationForm" novalidate="novalidate">
        <div class="descr_title no_line clearfix">
          <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
        </div>
        <div class="descr_p">
          <p class="p_blue">{{$t('message.activity_deposit_method')}}</p>
          <p>{{$t('message.activity_optimal')}}</p>
        </div>
        <div class="alert_btn_both" :class="'alert_btn_both_'+$MessageLang">
          <a
            class="btn1"
            style="margin-right: 10px;"
            href="javascript:void(0);"
            @click="ToRechargePage(1)"
          >{{$t('message.activity_online_payment')}}</a>
          <a
            class="btn1"
            href="javascript:void(0);"
            @click="ToRechargePage(2)"
          >{{$t('message.activity_company_income')}}</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainSuspension from "@/components/general/profitList/mainSuspension"
import PhoneBeting from "@/components/general/phoneBeting/phoneBeting"
import { initIndex25 } from "@/mod/k03/assets/scripts/comTest/main/index/sy25/index.js"
import LamborMarquee from "@/mod/k03/components/public/marquee"

import HomeBanner from "@/mod/k03/components/sub/index/homeBanner"
export default {
  mixins: [initIndex25],
  components: {
    MainSuspension,
    PhoneBeting,
    LamborMarquee,
    HomeBanner
  }
}
</script>
