.theme {
    .content {
        width: 1200px;
        min-height: 627px;
        margin: 0 auto;
        position: relative;

        .content-layout {
            margin: 0 auto;

            .active_log_reg {
                width: 1200px;
                height: 186px;
                margin: auto;

                .active_show {
                    width: 878px;
                    height: 186px;
                    float: left;
                    margin-left: -32px;

                    .promotion_title {
                        width: 32px;
                        height: 101px;
                        display: block;
                        background-size: 100% 100%;
                        float: left;

                        em {
                            font-size: 14px;
                            color: #fff;
                            width: 10px;
                            display: block;
                            margin: auto;
                            margin-top: 8px;
                        }
                    }

                    .active_slide {
                        width: 843px;
                        height: 183px;
                        overflow: hidden;
                        position: relative;
                        border-top: solid 3px #154e94;
                        border-left: solid 3px #154e94;

                        .hd {
                            width: 350px;
                            height: 180px;
                            position: relative;
                            z-index: 0;
                            float: left;
                            border-bottom: solid 3px #154e94;
                            height: 10px;
                            overflow: hidden;
                            position: absolute;
                            left: 18px;
                            bottom: 18px;
                            z-index: 1;

                            ul {
                                overflow: hidden;
                                zoom: 1;
                                float: left;

                                li {
                                    float: left;
                                    margin-right: 6px;
                                    width: 10px;
                                    height: 10px;
                                    background-size: 100% 100%;
                                    cursor: pointer;

                                    &.on {
                                        background-size: 100% 100%;
                                    }
                                }
                            }
                        }

                        .active_news {
                            width: 493px;
                            height: 183px;
                            float: left;
                            background: url(http://sgxcdn.lambor.local/LamborSummary/EditionImg/Lambor1.0/images/web/index/show_bg.png?VersionCode) no-repeat;
                            background-size: 100% 100%;

                            .news_show {
                                width: 490px;
                                height: 61px;
                                display: block;
                                border-left: solid 3px #154e94;
                                background: url(http://sgxcdn.lambor.local/LamborSummary/EditionImg/Lambor1.0/images/web/index/icon_line.png?VersionCode) no-repeat left bottom;
                                background-size: 386px 2px;

                                &.hasblock {
                                    p {
                                        &.p_1 {
                                            color: #999cdd;
                                        }
                                    }

                                }

                                p {
                                    &.p_1 {
                                        float: left;
                                        width: 370px;
                                        margin-left: 30px;
                                        color: #565b99;
                                        display: -webkit-box;
                                        text-overflow: ellipsis;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        word-break: break-all;
                                    }

                                    &.p_2 {
                                        float: right;
                                        width: 60px;
                                        margin-right: 30px;
                                        color: #666666;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }

                .index_user {
                    height: 180px;
                    /*width:348px;*/
                    border: solid 3px #154e94;
                    position: relative;

                    a {
                        display: block;
                        font-size: 0;
                    }

                    .login_before {
                        a {
                            width: 100%;
                            height: 89px;
                            display: block;
                            background-size: 100% 100%;
                            transition-duration: 500ms;
                            -webkit-transition-duration: 500ms;
                            -moz-transition-duration: 500ms;
                            -ms-transition-duration: 500ms;
                            -o-transition-duration: 500ms;

                            &:hover {
                                background-size: 100% 100%;
                            }
                        }

                        .user_btn_box {
                            width: 100%;
                            height: 89px;

                            a {
                                display: block;
                                // float: left; //免费试玩
                                height: 90px;
                                // width: 174px; //免费试玩
                                width: 348px;
                                transition-duration: 500ms;
                                -webkit-transition-duration: 500ms;
                                -moz-transition-duration: 500ms;
                                -ms-transition-duration: 500ms;
                                -o-transition-duration: 500ms;

                                &.login_btn {
                                    background-size: 100% 100%;

                                    &:hover {
                                        background-size: 100% 100%;
                                    }
                                }

                                &.registered_btn {
                                    background-size: 100% 100%;

                                    &:hover {
                                        background-size: 100% 100%;
                                    }

                                }
                            }
                        }
                    }


                }
            }

            //热门游戏（旧版）
            .hot_box {
                margin-top: 80px;
                width: 100%;
                height: auto;
                position: relative;

                //在线人数
                .footer-onlinePeople {
                    position: absolute;
                    right: 10px;
                    top: -15px;
                    color: #999999;
                    font-size: 16px;
                    margin-top: 22px;

                    span {
                        color: #47bdf4;
                        font-size: 28px;
                        margin-right: 5px;
                        letter-spacing: 2px;
                    }
                }

                .hot_box_list {
                    position: relative;
                    margin-top: 45px;
                    width: 100%;
                    height: 460px;

                    .h_list {
                        position: absolute;
                        display: block;
                        margin-top: 20px;

                        &.h_list1 {
                            left: 0;
                        }

                        &.h_list2 {
                            left: 306px;
                        }

                        &.h_list3 {
                            left: 608px;
                        }

                        &.h_list4 {
                            left: 876px;

                            .come_btn {
                                left: 36px;

                                span {
                                    background-size: 100% 100%;
                                }
                            }
                        }

                        a {
                            width: 282px;
                            height: 420px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 100;

                            &.a1 {
                                span {
                                    background-size: 100% 100%;
                                }
                            }

                            &.a2 {
                                span {
                                    background-size: 100% 100%;
                                }
                            }

                            &.a3 span {
                                background-size: 100% 100%;
                            }

                            span {
                                position: absolute;
                                top: 338px;
                                left: 84px;
                                width: 130px;
                                height: 58px;
                                transition-duration: 500ms;
                                -webkit-transition-duration: 500ms;
                                -moz-transition-duration: 500ms;
                                -ms-transition-duration: 500ms;
                                -o-transition-duration: 500ms;
                            }

                            img {
                                display: block;
                                margin: auto;
                                margin-top: 9px;
                            }
                        }
                    }
                }
            }

            //我的优势
            .advantage_box {
                margin-top: 70px;
                margin-bottom: 50px;

                .advantage_box_list {
                    margin: 0 auto;
                    width: 900px;

                    li {
                        float: left;
                        margin-top: 35px;
                        width: 300px;
                        text-align: center;

                        h2 {
                            margin-top: 20px;
                            line-height: 42px;
                            font-size: 14px;
                            font-family: "å¾®è½¯é›…é»‘";
                            color: #8a898a;

                            span {
                                margin-right: 5px;
                                font-size: 48px;
                                font-family: "å¾®è½¯é›…é»‘";
                                color: #fc9902;
                            }
                        }

                        p {
                            line-height: 18px;
                            font-size: 18px;
                            font-family: "å¾®è½¯é›…é»‘";
                            color: #ffffff;
                        }
                    }
                }
            }
        }

    }
}
