<template>
  <div id="BettingRecordDetailForm" class>
    <div class="extension-cont-barNav">
      <div class="bar1">
        <span class="sp1">
          {{$t('message.agency_total_amount')}}：
          <span
            class="sp1-text1"
          >{{BettingBetTotal.VTotalBet}}</span>
        </span>
        <span class="sp1">
          {{$t('message.agency_payout')}}：
          <span
            class="sp1-text2"
          >{{BettingBetTotal.VTotalSettleAmount}}</span>
        </span>
        <span class="sp1">
          {{$t('message.agency_profit_loss')}}：
          <span
            class="sp1-text1"
          >{{BettingBetTotal.VTotalWinLosst}}</span>
        </span>
      </div>
      <div class="bar2">
        <span class="sp1">
          {{$t('message.agency_historical_path')}}
          <span
            class="sp1-text3"
            :class="{'active':(index+1) === HistoricalPath.length}"
            v-for="(histLi,index) in HistoricalPath"
            :key="index"
          >
            <i v-if="index > 0">></i>
            <span>
              <!-- @click="BetloginName(histLi,index)"-->
              <i v-if="histLi.Hierarchy != -1 && index > 0" style="color:#f00">{{histLi.Prefix}}</i>
              {{histLi.LoginID}}
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="table-block-common">
      <table width="100%" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="12%">{{$t('message.agency_order_number')}}</td>
            <td width="15%">{{$t('message.agency_account_number')}}</td>
            <td width="10%">{{$t('message.agency_identity')}}</td>
            <td width="10%">{{$t('message.agency_agent_level')}}</td>
            <td width="10%">{{$t('message.agency_total_bets')}}</td>
            <td width="13%">{{$t('message.agency_effective_betting')}}</td>
            <td width="12%">{{$t('message.agency_profit_loss')}}</td>
            <td width="18%">{{$t('message.agency_time_interval')}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(bList,index) in BettingIBBetList" :key="index">
            <td>{{bList.SeriaNo}}</td>
            <td>
              <!-- @click="BetloginName(bList)"-->
              <span class="prefix-text" v-if="bList.Hierarchy!=-1">{{bList.Prefix}}</span>
              {{bList.LoginID}}
            </td>
            <td>{{bList.MemberType}}</td>
            <td>
              <span v-if="bList.Hierarchy==-1">-</span>
              <span v-else>{{bList.Hierarchy}}</span>
            </td>
            <td>{{bList.VTotalBet}}</td>
            <td>{{bList.VTotalValidBet}}</td>
            <td>{{bList.VTotalWinLosst}}</td>
            <td>{{bList.BetStartDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}-{{bList.BetEndDateTime | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="5%"></td>
            <td width="15%">{{$t('message.agency_subtotal')}}：</td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="10%">{{BettingBetSubtotal.VTotalBet}}</td>
            <td width="13%">{{BettingBetSubtotal.VTotalValidBet}}</td>
            <td width="12%">{{BettingBetSubtotal.VTotalWinLosst}}</td>
            <td width="25%"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="maxtip" v-if="IsShowTip">{{textSucc}}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
import CommUtility from "scripts/common/CommUtility"
// import AgencyCenterService from 'scripts/businessLogic/agencyCenterService';
// import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    // 投注記錄詳細資料
    HistoricalPath: {
      default: function () {
        return []
      }
    },
    BettingIBBetList: {
      default: function () {
        return []
      }
    },
    BettingBetTotal: {
      default: function () {
        return {}
      }
    },
    BettingBetSubtotal: {
      default: function () {
        return {}
      }
    },
    DisplayRechargeObj: {
      default: function () {
        return {}
      }
    },
    PagingInfo: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },

  data() {
    return {
      textSucc: undefined,
      IsShowTip: false,
      IsShowErrorFlag: false
      // HistoricalPath: [],
    }
  },
  mounted: function () {},
  methods: {
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    // betHistoricalName: function (name, index) {

    //   console.log(name);
    //   console.log(index);
    //   console.log(this.HistoricalPath);
    // },
    // BetloginName: async function (item, index) {
    //   console.log(item);
    //   console.log(index);
    //   console.log(this.HistoricalPath);

    //   // 当前点击下级代理
    //   if (item.Hierarchy != -1) {
    //     let name;
    //     if (index !== undefined) {
    //       console.log('11');
    //       if (index + 1 !== this.HistoricalPath.length) {
    //         this.HistoricalPath.splice(
    //           index + 1,
    //           this.HistoricalPath.length - (index + 1)
    //         );
    //         name = item.LoginID;
    //       }
    //       if (index == this.HistoricalPath.length - 1) {
    //         console.log('wwwwwwwww222');
    //         name = item.LoginID;
    //         this.PagingInfo.PageNo = 1;
    //         EventBus.$emit('Paginate_ResetPageNo');
    //       }
    //       if (index === 0) {
    //         name = '';
    //         // this.$parent.AgencyBetting();
    //         // return;
    //       }
    //     } else {
    //       console.log('22');
    //       name = item.LoginID;
    //     }

    //     const inputObj = {
    //       IB_LoginID: name,
    //       QueryStartTime: '',
    //       QueryEndTime: '',
    //       QueryStartTick: CommUtility.LocalTimeToUtcTicks(
    //         this.DisplayRechargeObj.StartTick,
    //         false,
    //         true
    //       ),
    //       QueryEndTick: CommUtility.LocalTimeToUtcTicks(
    //         this.DisplayRechargeObj.EndTick,
    //         false,
    //         true
    //       ),
    //       PagingInfo: {
    //         PageSize: this.PagingInfo.PageSize,
    //         PageNo: this.PagingInfo.PageNo
    //       }
    //     };
    //     const data = await AgencyCenterService.LoadGetIBBetReportQuery(
    //       inputObj
    //     );
    //     console.log(data);
    //     console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
    //     console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
    //     console.log(inputObj);
    //     if (data.Ret == 0) {
    //       EventBus.$emit('Beting_ResetBetingDatas', data.Data);
    //       if (index === undefined) {
    //         this.HistoricalPath.push(item);
    //       }
    //     } else {
    //       this.IsShowTip = true;
    //       this.textSucc = data.Message;
    //       setTimeout(() => {
    //         this.IsShowTip = false;
    //       }, 1000);
    //     }
    //   }
    // },
    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowAlertboxForm("BettingRecordDetailForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm("BettingRecordDetailForm")
    } // end CloseWindow
  },

  watch: {}
}
</script>
