<template>
  <div class>
    <div class="extension-cont-barNav">
      <div class="bar1">
        <span class="sp1">
          {{$t('message.agency_withdrawal_amount')}}
          <span class="sp1-text1">{{VAmountSumTotal}}</span>
        </span>
        <!-- <span class="sp1">
          团队人数小计：
          <span class="sp1-text2">{{NextLayerAllCountSubTotal}}</span>
        </span>-->
      </div>
      <div class="bar2">
        <span class="sp1">
          {{$t('message.agency_historical_path')}}
          <span
            class="sp1-text3"
            :class="{'active':(index+1) === HistoricalPath.length}"
            v-for="(histLi,index) in HistoricalPath"
            :key="index"
          >
            <i v-if="index > 0">></i>
            <span @click="LoginName(histLi,index)">
              <i v-if="histLi.Hierarchy != 0 && index > 0" style="color:#f00">{{histLi.Prefix}}</i>
              {{histLi.LoginID}}
            </span>
          </span>
        </span>
      </div>
    </div>
    <div>
      <div class="table-block-common" v-if="IsShowSubordinate">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td width="12%">{{$t('message.agency_order_number')}}</td>
              <td width="15%">{{$t('message.agency_account_number')}}</td>
              <td width="15%">{{$t('message.agency_identity')}}</td>
              <td width="10%">{{$t('message.agency_agent_level')}}</td>
              <td width="15%">{{$t('message.agency_teams_number')}}</td>
              <td width="15%">{{$t('message.agency_total_withdrawal')}}</td>
              <td width="18%">{{$t('message.agency_time_interval')}}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(Wlist,index) in WIBUserWithdrawalList" :key="index">
              <td>{{index+1}}</td>
              <td>
                <span @click="LoginName(Wlist.IBUserWithdrawal)">
                  <span
                    class="prefix-text"
                    v-if="Wlist.Hierarchy != 0"
                  >{{Wlist.IBUserWithdrawal.Prefix}}</span>
                  {{Wlist.IBUserWithdrawal.LoginID}}
                </span>
              </td>
              <td>{{Wlist.IBUserWithdrawal.MemberType}}</td>
              <td>
                <span v-if="Wlist.IBUserWithdrawal.Hierarchy==0">-</span>
                <span v-else>{{Wlist.IBUserWithdrawal.Hierarchy}}</span>
              </td>
              <td>{{Wlist.IBUserWithdrawal.NextLayerAllCount}}</td>
              <td>{{Wlist.VAmountSum}}</td>
              <td>{{Wlist.IBUserWithdrawal.StartTick | utcTicksToLocalTime('YYYY/MM/DD')}}-{{Wlist.IBUserWithdrawal.EndTick | utcTicksToLocalTime('YYYY/MM/DD')}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td width="5%"></td>
              <td width="15%" style="text-align:left;">{{$t('message.agency_subtotal')}}：</td>
              <td width="15%"></td>
              <td width="10%"></td>
              <td width="15%">{{NextLayerAllCountSubTotal}}</td>
              <td width="15%">{{VAmountSumSubTotal}}</td>
              <td width="25%"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <agency-withdrawal-member v-else :MnameIBUserWithdrawalList="MnameIBUserWithdrawalList"></agency-withdrawal-member>
    </div>
    <div class="maxtip" v-if="IsShowTip">{{$t('message.agency_operation_failed')}}</div>
  </div>
</template>

<script>
import AgencyCenterService from "@/assets/scripts/businessLogic/agencyCenterService"
import AgencyWithdrawalMember from "@/components/sub/agency/detailed/agencyWithdrawalMember"
import CommUtility from "scripts/common/CommUtility"
import EventBus from "@/assets/scripts/common/EventBus"

export default {
  props: {
    HistoricalPath: {
      default: function () {
        return []
      }
    },
    WIBUserWithdrawalList: {
      type: Array,
      default: function () {
        return []
      }
    },
    RechargePageInfo: {
      type: Object,
      default: function () {
        return {}
      }
    },
    DisplayRechargeObj: {
      type: Object,
      default: function () {
        return {}
      }
    },
    VAmountSumSubTotal: undefined,
    VAmountSumTotal: undefined,
    NextLayerAllCountSubTotal: undefined
    // IsShowWithdrawpage: undefined
  },

  data() {
    return {
      AnameIBUserWithdrawalList: [],
      MnameIBUserWithdrawalList: [],
      AnameVAmountSumSubTotal: undefined,
      AnameVAmountSumTotal: undefined,
      AnameNextLayerAllCountSubTotal: undefined,
      IsShowSubordinate: true,
      HistoricalPathFirst: undefined,
      textSucc: undefined,
      IsShowTip: false
    }
  },
  mounted() {
    EventBus.$on("withDraw_IsShowAgencyPage", (data) => {
      this.IsShowSubordinate = data
    })
    // this.IsShowSubordinate = this.IsShowWithdrawpage;
    // this.HistoricalPathFirst = localStorage.getItem('Acct');

    // 监听账变明细-提现列表数据改变
    EventBus.$on("AccountCW_ResetReadStatusWithdrawalList", (data) => {
      this.AnameIBUserWithdrawalList = data
    })
    // 滚动条
    // $('#scroll_table3').perfectScrollbar();
  },
  methods: {
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    LoginName: async function (item, index) {
      console.log(item)
      console.log(index)
      let ID
      let QueryTypeNum
      QueryTypeNum = 2
      if (index !== undefined) {
        console.log("11")
        if (index + 1 !== this.HistoricalPath.length) {
          console.log("wwwwwwwww111")
          this.HistoricalPath.splice(index + 1, this.HistoricalPath.length - (index + 1))
          ID = item.MemberID
        }
        if (index == this.HistoricalPath.length - 1) {
          console.log("wwwwwwwww222")
          ID = item.MemberID
          this.RechargePageInfo.PageNo = 1
          EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
        }
        if (index === 0) {
          console.log("wwwwwwwww333")
          this.IsShowSubordinate = true
          QueryTypeNum = 1
          ID = item.MemberID
          this.RechargePageInfo.PageNo = 1
          EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
          const inputObj = {
            ParentID: ID,
            QueryType: QueryTypeNum,
            StartTick: CommUtility.LocalTimeToUtcTicks(
              this.dateFormat(this.DisplayRechargeObj.StartTick) + " 00:00:00"
            ),
            EndTick: CommUtility.LocalTimeToUtcTicks(this.DisplayRechargeObj.EndTick, false, true),
            PagingInfo: {
              PageNo: this.RechargePageInfo.PageNo,
              PageSize: this.RechargePageInfo.PageSize
            }
          }
          const data = await AgencyCenterService.LoadWithdrawalList(inputObj)
          if (data.Ret == 0) {
            EventBus.$emit("Withdrawal_ResetWithdrawalDatas", data.Data)

            // this.AnameIBUserWithdrawalList = data.Data.IBUserWithdrawalList;
            // this.AnameVAmountSumTotal = data.Data.VAmountSum_Total; // 提款金额总计
            // this.AnameVAmountSumSubTotal = data.Data.VAmountSum_SubTotal; // 提款金额小计
            // this.AnameNextLayerAllCountSubTotal =
            //   data.Data.NextLayerAllCount_SubTotal; // 团队人数小计
          } else {
            this.IsShowTip = true
            setTimeout(() => {
              this.IsShowTip = false
            }, 1000)
          }
          console.log("历史记录第一级")
          console.log(inputObj)
          console.log(this.dateFormat(this.DisplayRechargeObj.StartTick))
          console.log(this.dateFormat(this.DisplayRechargeObj.EndTick))
          console.log(data)
          console.log("历史记录第一级")
        }
      } else {
        console.log("22")
        ID = item.MemberID
      }
      if (item.Hierarchy == 0) {
        console.log("eee")
        // 账号为会员
        this.IsShowSubordinate = false
        this.RechargePageInfo.PageNo = 1
        EventBus.$emit("Paginate_ResetPageNo", this.RechargePageInfo.PageNo)
        const inputObj = {
          MemberID: ID,
          StartTick: item.StartTick,
          EndTick: item.EndTick,
          PagingInfo: {
            PageNo: this.RechargePageInfo.PageNo,
            PageSize: this.RechargePageInfo.PageSize
          }
        }
        const data = await AgencyCenterService.LoadWithdrawalDetail(inputObj)
        if (data.Ret == 0) {
          this.MnameIBUserWithdrawalList = data.Data.WithdrawalDetailList
          const PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.RechargePageInfo.PageSize)
          EventBus.$emit("Paginate_PageCount", PageCount)
          // this.MnameVAmountSumSubTotal = data.Data.VAmountSum_SubTotal;
          if (index === undefined) {
            this.HistoricalPath.push(item)
          }
        } else {
          this.IsShowTip = true
          setTimeout(() => {
            this.IsShowTip = false
          }, 1000)
        }
        console.log(inputObj)
        console.log(this.dateFormat(this.DisplayRechargeObj.StartTick))
        console.log(this.dateFormat(this.DisplayRechargeObj.EndTick))
        console.log(data)
        // if (data.Ret == 0) {

        // }
        console.log(inputObj)
        console.log(data)
      } else {
        // 账号为代理
        // const inputObj = {
        //   ParentID: ID,
        //   QueryType: QueryTypeNum,
        //   StartTick: CommUtility.LocalTimeToUtcTicks(
        //     this.DisplayRechargeObj.StartTick,
        //     false,
        //     true
        //   ),
        //   EndTick: CommUtility.LocalTimeToUtcTicks(
        //     this.DisplayRechargeObj.EndTick,
        //     false,
        //     true
        //   ),
        //   PagingInfo: {
        //     PageNo: this.RechargePageInfo.PageNo,
        //     PageSize: this.RechargePageInfo.PageSize
        //   }
        // };
        // const data = await AgencyCenterService.LoadWithdrawalList(inputObj);
        // if (data.Ret == 0) {
        //   EventBus.$emit('Withdrawal_ResetWithdrawalDatas', data.Data);
        //   if (index === undefined) {
        //     this.HistoricalPath.push(item);
        //   }
        //   // this.AnameIBUserWithdrawalList = data.Data.IBUserWithdrawalList;
        //   // this.AnameVAmountSumTotal = data.Data.VAmountSum_Total; // 提款金额总计
        //   // this.AnameVAmountSumSubTotal = data.Data.VAmountSum_SubTotal; // 提款金额小计
        //   // this.AnameNextLayerAllCountSubTotal =
        //   //   data.Data.NextLayerAllCount_SubTotal; // 团队人数小计
        // } else {
        //   this.IsShowTip = true;
        //   setTimeout(() => {
        //     this.IsShowTip = false;
        //   }, 1000);
        // }
        // console.log(inputObj);
        // console.log(this.dateFormat(this.DisplayRechargeObj.StartTick));
        // console.log(this.dateFormat(this.DisplayRechargeObj.EndTick));
        // console.log(data);
      }

      // if (data.Ret === 0) {
      // }
    }
  },

  components: {
    AgencyWithdrawalMember
  }
}
</script>
