<template>
  <div>
    <!--注册成功-->
    <div class="start_nav start_nav2 hides">
      <div class="start_nav_box">
        <div class="nav_logo fl">
          <h1>
            <a href="/" class="router-link-active">{{this.LogoName}}</a>
          </h1>
        </div>
      </div>
    </div>
    <!--2版有的-->
    <div class="login-register-content success-content">
      <div class="login-register-main">
        <p class="Login_logo_thirtyEight hides">
          <!-- <img :src="$ResourceCDN + '/EditionImg/LamborFormal/images/web38/Login/DL1_03.png'"> -->
          <img :src="this.LogoImgPath" />
          <span class="shu">|</span>
          <span>{{$t('message.login_interface')}}</span>
        </p>
        <!--38版标题-->
        <i class="bg-top hides"></i>
        <!--7版特有-->
        <div class="login-register-box success-box" :class="'success-box_'+$MessageLang">
          <div class="regsiter-success-logo hides">
            <a>
              <img :src="this.LogoImgPath">
            </a>
          </div>
          <h2 class="success-title">
            <a>{{$t('message.reg_login_successful')}}</a>
          </h2>
          <h2 class="success-title1 hides">
            <a>{{$t('message.reg_account_succeed')}}</a>
          </h2>
          <h3 class="success-Small-title hides">registered successfully</h3>

          <div class="shaizi"></div>
          <p class="success-text">
            <span>{{$t('message.reg_remember_well')}}</span>
            <i>{{MemberInfo.Acct}}</i>
          </p>
          <!--<p v-if="false" class="success-text"><span>{{$t('message.reg_current_level')}}</span><i>{{this.LoadMainPageDataModel.LoginData.VMemberLv}}</i><span>，{{$t('message.reg_enjoy_discount')}}</span></p>
          <router-link to="/" class="success-btn loghide"></router-link>-->
          <!-- <ul class="aclist-pic clearfix">
            <li class="actPic-list actPic-list-first"></li>
            <li class="actPic-list actPic-list-last"></li>
          </ul>-->
          <a href="/" class="success-btn">{{$t('message.agent_home_page')}}</a>
          <router-link class="success-btn-return hides" :to="{name:'Index'}">{{$t('message.agent_home_page')}}</router-link>
        </div>
        <i class="bg-btm hides"></i>
        <!--7版特有-->
      </div>
    </div>
    <div class="footer login-footer hides"></div>
    <!--2版独有-->
  </div>
</template>

<script>
import { registerSuccess } from '@/mod/k04/assets/scripts/comTest/main/register/registerSuccess.js';
export default {
  mixins: [registerSuccess]
};
</script>
