<template>
  <div class="alert_box_content financial_bank_content tel_alert_box re_h" style="position: fixed;">
    <span class="alert_close" @click="CloseFinancialBank()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="financial-bank clearfix" id="FinancialBank">
      <div class="bank_card">
        <p>{{SuccessData.BankName}}</p>
        <p class="clearfix">
          <span>{{$t('message.member_name_of_collection_account')}}:</span>
          <span class="f-bank-content" id="Payee">{{SuccessData.Payee}}</span>
          <a @click="CopyData('Payee')">{{$t('message.member_copy')}}</a>
        </p>
        <p class="clearfix">
          <span>{{$t('message.number_bank_number')}}:</span>
          <span class="f-bank-content" id="BankAccnt">{{SuccessData.BankAccnt}}</span>
          <a @click="CopyData('BankAccnt')">{{$t('message.member_copy')}}</a>
        </p>
        <p class="clearfix">
          <span>{{$t('message.member_address')}}:</span>
          <span class="f-bank-content" id="BankBranchName">{{SuccessData.BankBranchName}}</span>
          <a @click="CopyData('BankBranchName')">{{$t('message.member_copy')}}</a>
        </p>
        <p class="clearfix">
          <span>{{$t('message.member_sum_money')}}:</span>
          <span class="f-bank-content" id="Amount">{{DinancialData.Amount}}</span>
          <a @click="CopyData('Amount')">{{$t('message.member_copy')}}</a>
        </p>
        <p class="clearfix">
          <span>{{$t('message.member_postscript_remarks')}}:</span>
          <span class="f-bank-content" id="Remark">{{RemarkCode}}</span>
          <a @click="CopyData('Remark')">{{$t('message.member_copy')}}</a>
        </p>
      </div>
      <div class="bank_tip">
        <p>{{$t('message.member_important_reminder')}}</p>
        <!--
        <p>{{$t('message.member_the_transfer_amount_must')}}</p>
        <p>{{$t('message.member_the_correct_postscript')}}</p>
        <p>{{$t('message.member_when_you_deposit_next_time')}}</p>
        <p>{{$t('message.member_if_there_is_any_question')}}</p>
        <p>{{$t('message.member_do_not_use_Alipay_and_WeChat')}}</p>
        -->
        <p v-html="this.Remark"></p>
      </div>
      <p class="orderNoName">
        {{this.DTypeName}}{{$t('message.member_order_number')}} :
        <span>{{this.OrderNoOrder}}</span>
      </p>
      <p class="reciprocal">
        {{$t('message.member_the_valid_time_of_recharge1')}} {{SuccessData.RangeMin}} {{$t('message.member_the_valid_time_of_recharge2')}}
        {{$t('message.member_please_recharge1')}}{{SuccessData.RangeMin}}{{$t('message.member_please_recharge2')}}
        <span
          v-if="this.reciprocal!==0"
        >{{this.reciprocal | UtcTicksTime('HH:mm:ss')}}</span>
        <span v-else>00:00:00</span>
      </p>

      <div class="gradual-btn-box clearfix">
        <a
          class="gradual-color-btn"
          :href="SuccessData.BankUrl"
          target="_blank"
        >{{$t('message.member_go_to_bank_immediately')}}</a>
        <a
          class="gradual-color-btn"
          @click="CloseFinancialBank()"
        >{{this.$t('message.login_close')}}</a>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
.financial-bank {
  position: relative;
  padding-right: 20px;
  height: 675px;
  overflow: hidden;

  .bank_card {
    padding: 10px;
    margin: 10px 0 20px 0;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    font-size: 14px;

    p {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      line-height: 20px;
      color: #7b7a7b;
      word-break: break-all;

      &:first-child {
        color: #7d54ff;
      }

      span {
        display: block;
        float: left;
        word-break: break-all;

        &:first-child {
          width: 120px;
          text-align: right;
        }
        &.f-bank-content {
          margin-left: 10px;
          max-width: 220px;
        }
      }
      a {
        display: block;
        padding: 0 6px;
        float: right;
        font-size: 14px;
        color: #7d54ff;
        border: 1px solid #b2b2b2;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        text-align: center;
      }
    }
  }
  .bank_tip {
    margin-left: 20px;
    width: 400px;
    line-height: 20px;
    color: #7b7a7b;
    word-break: break-all;
    font-size: 14px;

    p:first-child {
      margin-bottom: 20px;
      color: #7d54ff;
    }
  }
  .orderNoName {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 1px;
    width: 400px;
    color: #7b7a7b;
    text-align: left;
    font-size: 14px;

    span {
      color: #ff0000;
    }
  }
  .reciprocal {
    margin: 20px;
    margin-top: 5px;
    width: 400px;
    color: #7b7a7b;
    text-align: left;
    font-size: 14px;

    span {
      color: #ff0000;
    }
  }
}
.gradual-btn-box {
  text-align: center;

  .gradual-color-btn {
    display: inline-block;
    padding: 0 10px !important;
    margin: 10px 0 0 0 !important;
    min-width: 30%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: -moz-linear-gradient(to right, #7d54ff, #e154ff);
    background: -ms-linear-gradient(to right, #7d54ff, #e154ff);
    background: -webkit-linear-gradient(to right, #7d54ff, #e154ff);
    background: linear-gradient(to right, #7d54ff, #e154ff);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
  }
}

.financial_bank_content {
  width: 440px !important;
}
</style>

<script>
import EventBus from 'scripts/common/EventBus';
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    SuccessData: undefined,
    DinancialData: undefined,
    OrderNoOrder: undefined,
    DTypeName: undefined,
    RemarkCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      Remark: '',
      reciprocal: 0, // 分钟
      setValBank: '',
      RangSecondTick: undefined
    };
  },
  mounted: function() {
    EventBus.$on('DinancialBankReciprocal', data => {
      this.RangSecondTick = data;
      clearInterval(this.RangSecondTick);
      this.Reciprocal();
    });
    // 页面滚动，当数据太多时
    $('#FinancialBank').perfectScrollbar();

    // 格式化回车键显示换行
    this.Remark = CommUtility.enterChange(this.SuccessData.Remark);
  },
  methods: {
    CloseFinancialBank: function() {
      clearInterval(this.setValBank);
      this.$parent.LoadMainPage();
      CommUtility.WebClosealertboxForm('DinancialBank');
    },
    // 倒计时
    Reciprocal: function() {
      // this.reciprocal = this.SuccessData.RangeMin * 60000 - this.poorTimeTick;
      this.reciprocal = this.RangSecondTick * 1000;
      console.log(this.reciprocal);
      console.log('123');
      const self = this;
      self.setValBank = setInterval(() => {
        if (self.reciprocal < 1000) {
          clearInterval(self.setValBank);
          self.reciprocal = 0;
          return;
        }
        console.log(self.reciprocal);
        self.reciprocal -= 1000;
      }, 1000);
    },
    // 复制按钮
    CopyData: function(ID) {
      const val = document.getElementById(ID);
      window.getSelection().selectAllChildren(val);
      document.execCommand('Copy');
    }
  },
  watch: {
    SuccessData: function() {
      this.Remark = CommUtility.enterChange(this.SuccessData.Remark);
    }
  }
};
</script>
