<template>
  <div class="body_s1">
    <div class="pay_layout">
      <div class="pay_box">
        <a class="pay_logo" href="javascript:void(0);">
          <img :src="this.LogoPath" />
        </a>
        <div class="pay_block1">
          <div class="order_msg">
            <p class="p_1">{{this.LogoName}}{{$t('message.activity_online_payment')}}</p>
            <p class="p_2">{{$t('message.member_alipay_mode')}}</p>
            <p class="p_2">{{$t('message.member_order_number')}}：{{PaymentData.OrderNo}}</p>
          </div>
          <div class="pay_sum">
            <em>{{PaymentData.Amount}}</em>元
          </div>
        </div>
        <div class="pay_block2">
          <ul class="pay_style">
            <li>
              <img v-bind:src="PaymentData.Qrcode" />
              <p class="p_1">{{$t('message.member_completion_payment')}}</p>
            </li>
            <li class="last_li">
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/OnlinePayment/pay_method2.png?VersionCode'"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    PaymentData: {}
  },
  data () {
    return {
      LogoPath: localStorage.getItem('LogoImgPath'),
      LogoName: localStorage.getItem('LogoName')
    };
  }
};
</script>
