<template>
  <div class="scan_wrap">
    <div class="scan_cont">
      <img v-bind:src="PaymentData.Qrcode" />
      <p>{{$t('message.member_completion_payment')}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    PaymentData: {}
  }
};
</script>
