<template>
    <div class="content">   
        <form id="webatmFrom" method="post" v-bind:action="PaymentData.TargetUrl" target="_self">
            <input v-for="Item in PaymentData.FormBody" type='hidden' :name="Item.Key" v-model="Item.Value" >
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            PaymentData: {}
        },
        created: function () {
            this.SetForm();
        },
        methods: {
            SetForm: function () {                
                setTimeout(function () {
                    $('#webatmFrom').submit();
                }, 0); 
            }
        }
    };
</script>