<template>
  <div class="memberNew-transfer-bottom">
    <h2 class="memberNew-transfer-title">
      <span class="transfer-title">{{$t('message.member_amount_status')}}</span>
      <span
        class="transfer-title-retrieve fr"
        @click="OneKeyCashFlowInFo()"
      >{{$t('message.member_oneClick_recovery')}}</span>
    </h2>
    <div class="memberNew-transfer-item">
      <ul class="clearfix">
        <li
          class="memberNew-transfer-list"
          v-for="(item, index) in this.GameVendoeListAll"
          :key="index"
        >
          <p
            class="transfer-list-p1"
            v-if="item.GameAPIVendor === -1"
          >{{$t('message.member_primary_accountNumber')}}</p>
          <p class="transfer-list-p1" v-else>
            <img
              v-if="item.GameAPIVendor == '13' && $MessageLang == 'vi'"
              class="transfer-list-img"
              v-bind:src="$ResourceCDN + '/PartnerLogo/bglight/v-logo' + item.GameAPIVendor + '-vi.png?VersionCode'"
            />
            <img
              v-else
              class="transfer-list-img"
              v-bind:src="$ResourceCDN + '/PartnerLogo/bglight/v-logo' + item.GameAPIVendor + '.png?VersionCode'"
            />
          </p>
          <div style="width:28px;margin:10px auto;" v-if="item.BalanceCompleted === false">
            <img
              :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/member/ajax-loader.gif?VersionCode'"
              style="vertical-align:text-bottom;width:100%"
            />
          </div>
          <p
            class="transfer-list-p2"
            v-if="item.IsMaintaining === '702' && item.BalanceCompleted === true"
          >{{item.VAmount}}</p>
          <p
            class="transfer-list-p2"
            v-else-if="item.IsMaintaining !== '702' && item.BalanceCompleted === true"
          >{{$t('message.member_capital_freeze')}}</p>
        </li>
      </ul>
    </div>

    <!--分页-->
    <paginate :PageCount="this.PageCount" ref="PageNoSet"></paginate>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus"
import CommUtility from "scripts/common/CommUtility"
import CommonService from "@/assets/scripts/businessLogic/commonService"
import PersonalCenterService from "@/assets/scripts/businessLogic/personalCenterService"
import Paginate from "@/mod/k06/components/sub/paginate"

export default {
  props: {
    PageCount: 0,
    GameVendoeListAlls: {
      type: Array,
      default: function () {
        return []
      }
    },
    GameVendorList: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data() {
    return {
      tmpSummaryList: [],
      CurrentGameVendorList: {
        VAmount: ""
      },
      SummaryAmount: 0,
      SummaryFlag: false,
      AvailableVendorCount: 0,
      CompleteVendorCount: 0,
      GameVendorListObj: [],
      FlowInFo: false,
      IsRunning: false,

      PageSize: 16,
      PageData: {},
      GameVendoeListAll: this.GameVendoeListAlls
    }
  },
  components: {
    Paginate
  },
  mounted: function () {
    // 滚动条
    $("#classification_scroll").perfectScrollbar()
  },
  methods: {
    GetCurrentPageData: async function (pageNo) {
      this.PageFun(pageNo)
    },

    // 一键取回所有的资金 2019.06.04 SeyoChen
    OneKeyCashFlowInFo: async function () {
      if (this.FlowInFo === true) {
        const notifyData = {}
        notifyData.NotifyMessage = this.$t("message.member_wait_seconds")
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        return
      }
      // 已经在执行接口了 20190618 SeyoChen
      if (this.IsRunning === true) {
        return
      }

      this.$store.dispatch("abortFetch")

      this.IsRunning = true
      const inputObj = { ReturnAll: true }
      EventBus.$emit("GlobalLoadingTrigger", true)
      const retData = await PersonalCenterService.MemberCashFlowInfo_BackToCWallet(inputObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      console.log("retData")
      console.log(retData)
      console.log("retData")
      if (retData.Ret === 0) {
        this.FlowInFo = true
        const notifyData = {}
        notifyData.NotifyMessage = retData.Message
        console.log(notifyData)
        EventBus.$emit("showNotifyMemberMessage", notifyData)
        setTimeout(() => {
          this.FlowInFo = false
        }, 30000)
        this.$parent.GetVendorList()
      }
      this.IsRunning = false
      // 分页显示回到第一页
      this.$refs.PageNoSet.RetSetPageNo()
    },
    CloseWin: function () {
      this.www = false
    },
    // 取得遊戲商餘額
    BalanceInit: function (vendorIndex) {
      this.CurrentGameVendorList[vendorIndex].BalanceCompleted = false
      if (this.CurrentGameVendorList[vendorIndex].IsMaintaining !== "702") {
        this.tmpSummaryList[vendorIndex].Amount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].VAmount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].BalanceCompleted = true
      } else {
        this.AvailableVendorCount += 1
        this.GetBalance(vendorIndex, this.CurrentGameVendorList[vendorIndex].GameAPIVendor)
      }
    },
    GetBalance: async function (vendorIndex, vendorID) {
      const inputObj = {
        APIVendorID: vendorID
      }
      const data = await PersonalCenterService.EWalletTransfer_GetBalance(inputObj)
      this.CompleteVendorCount += 1
      if (data.Ret == 0) {
        this.SummaryFlag = true
        this.tmpSummaryList[vendorIndex].Amount = data.Data.GameApiBalance.Amount
        this.CurrentGameVendorList[vendorIndex].VAmount = data.Data.GameApiBalance.VAmount
      } else {
        this.tmpSummaryList[vendorIndex].Amount = this.$t("message.member_capital_freeze")
        this.CurrentGameVendorList[vendorIndex].VAmount = this.$t("message.member_capital_freeze")
      }
      this.CurrentGameVendorList[vendorIndex].BalanceCompleted = true

      if (this.CompleteVendorCount === this.AvailableVendorCount) {
        if (this.SummaryFlag === false) {
          this.SummaryAmount = this.$t("message.member_capital_freeze")
        } else {
          let tmpAmount = 0
          for (let i = 0; i < this.tmpSummaryList.length; i++) {
            if (!isNaN(parseFloat(this.tmpSummaryList[i].Amount)) && isFinite(this.tmpSummaryList[i].Amount)) {
              tmpAmount = CommUtility.NumberAdd(tmpAmount, this.tmpSummaryList[i].Amount)
            }
            console.log(
              "***********************************************************************************************"
            )
            console.log(i)
          }
          this.SummaryAmount = tmpAmount
          EventBus.$emit("fundGetBalanceComplete", this.SummaryAmount)
        }
      }
    },
    SetGameVendorList: function () {
      const that = this
      setTimeout(function () {
        that.GameVendorListObj = that.GameVendorList
      }, 200)
    },
    // 分页传输相应的数据
    PageFun(page) {
      this.GameVendoeListAll = []
      this.PageCount = Math.ceil(this.GameVendorList.length / 20)
      console.log(page)
      let pageNo = 0

      if (page == this.PageCount) {
        for (let i = (page - 1) * 20; i < this.GameVendorList.length; i++) {
          this.GameVendoeListAll[pageNo++] = this.GameVendorList[i]
        }
      } else {
        for (let i = (page - 1) * 20; i < page * 20; i++) {
          this.GameVendoeListAll[pageNo++] = this.GameVendorList[i]
        }
      }
    }
  },
  watch: {
    GameVendorList: function () {
      this.SetGameVendorList()
    },
    GameVendorListObj: function () {
      this.SummaryAmount = 0
      this.SummaryFlag = false
      this.CurrentGameVendorList = this.GameVendorListObj
      for (let i = 0; i < this.CurrentGameVendorList.length; i++) {
        this.tmpSummaryList[i] = {}
        this.BalanceInit(i)
        console.log(
          "*********************************************2222222**************************************************"
        )
      }
      this.PageFun(1)
    }
  },
  created: function () {
    this.SetGameVendorList()
  },
  beforeDestroy: function () {
    console.log("222222222222222222")
    // EventBus.$off('showNotifyMemberMessage');
  }
}
</script>
