<template>
  <div id="BettingRecordDetailForm" class="alert_box_content details_alert_box re_h">
    <!--<div class="descr_title">
            <p>记录查询/详细内容</p>
            <a class="icon_close" href="javascript:void(0);" @click="CloseWindow()"></a>
    </div>-->
    <span class="alert_close" @click="CloseWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont" id="scroll_box" style="overflow: hidden;height: 664px;">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_content')}}
      </h2>
      <div>
        <div class="descr_p left_p clearfix">
          <div class="record_detail_con">
            <div
              class="record_detail_title record_detail_name"
            >{{$t('message.member_game_vendors')}}</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.GameAPIName}}</div>
          </div>
          <div class="record_detail_con">
            <div class="record_detail_title record_detail_name">{{$t('message.member_game_types')}}</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.GameAPIName}}{{BettingRecord.GameMainType}} ➔ {{BettingRecord.GameName}}</div>
          </div>
          <div class="record_detail_con">
            <div class="record_detail_title record_detail_name">{{$t('message.member_odd_numbers')}}</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
              :title="BettingRecord.BetNo"
            >{{BettingRecord.BetNo}}</div>
          </div>
          <div class="record_detail_con">
            <div
              class="record_detail_title record_detail_name"
            >{{$t('message.member_betting_time')}}：</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.BetTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
          </div>
          <div class="record_detail_con" v-show="BetType!=null && BettingType != true">
            <span
              class="record_detail_title record_detail_name"
            >{{$t('message.member_types_betting')}}：</span>
            <div class="record_detail_title record_detail_val" style="width:auto">{{BetType}}</div>
          </div>
          <div class="record_detail_con" v-show="GameResult!=null && BettingType != true">
            <span
              class="record_detail_title record_detail_name"
            >{{$t('message.member_opening_result')}}：</span>
            <div class="record_detail_title record_detail_val" style="width:auto">{{GameResult}}</div>
          </div>
          <div class="record_detail_con">
            <div
              class="record_detail_title record_detail_name"
            >{{$t('message.member_amount_bets')}}：</div>
            <div class="record_detail_title" style="width:auto">{{BettingRecord.VBetAmount}}</div>
          </div>
          <div class="record_detail_con" v-show="BettingType != true">
            <div
              class="record_detail_title record_detail_name"
            >{{$t('message.member_painting_time')}}：</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.ResultTick | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}</div>
          </div>
          <div class="record_detail_con" v-show="BettingType != true">
            <div class="record_detail_title record_detail_name">{{$t('message.member_payout')}}</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.VResultAmount}}</div>
          </div>
          <div class="record_detail_con" v-show="BettingType != true">
            <div
              class="record_detail_title record_detail_name"
            >{{$t('message.member_effective_betting')}}：</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.VBetAvailableAmount}}</div>
          </div>
          <div class="record_detail_con" v-show="BettingType != true">
            <div
              class="record_detail_title record_detail_name"
            >{{BettingRecord.member_profit_loss}}：</div>
            <div
              class="record_detail_title record_detail_val"
              style="width:auto"
            >{{BettingRecord.VWinLoss}}</div>
          </div>
        </div>
        <div class="descr_table" v-if="this.QueryType=='BettingRecord'">
          <h3 class="descr_table_title">{{$t('message.member_firsthand_data')}}</h3>
          <div
            id="scroll_income"
            style="height: 380px;position: relative;overflow: hidden;"
            v-anyNameYouLike
          >
            <table width="100%" cellpadding="0" cellspacing="0">
              <tbody>
                <tr v-for="item in this.BettingMoreDetials">
                  <td>{{item.Name}}</td>
                  <td v-if="item.Name!=$t('message.member_detailed_betting')">{{item.Value}}</td>
                  <td v-if="item.Name==$t('message.member_detailed_betting')">
                    <div class="descr_table_table">
                      <table cellpadding="0" cellspacing="0" v-for="VList in ValueList">
                        <tbody>
                          <tr v-for="value in item.Value" v-if="value.Key == VList">
                            <td>{{value.Name}}</td>
                            <td>{{value.Value}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div
        class="pub_btn_both style4"
        style="padding-left: 0px;text-align: center;margin-top: 20px;"
      >
        <a
          style="float: none;"
          class="btn1 hasblock enter_deposit"
          @click="CloseWindow()"
        >{{$t('message.member_ascertain')}}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from 'scripts/common/CommUtility';

export default {
  props: {
    // 投注記錄詳細資料
    BettingRecord: {
      type: Object,
      default: function () {
        return {};
      }
    },
    BettingMoreDetials: {
      default: function () {
        return [];
      }
    },
    ValueList: {
      default: function () {
        return [];
      }
    },
    QueryType: {
      default: function () {
        return '';
      }
    },
    BettingType: undefined
  },

  data () {
    return {
      BetType: undefined,
      GameResult: undefined
    };
  },

  methods: {
    // 判別數字正負並改變顏色
    SetAmtStyle: function (Amount) {
      if (Amount < 0) {
        return { color: 'rgb(255, 0, 0)' };
      }
      return {};
    }, // end SetAmtStyle

    // 顯示投注類型和開牌結果
    ShowBettingAndResult: function (bettingType) {
      switch (bettingType) {
        case this.TransType.TransType_Deposit:
        case this.TransType.TransType_RakeSettled:
        case this.TransType.TransType_Withdraw:
          return true;
        default:
          return false;
      }
    }, // end ShowBettingAndResult

    // 開啟視窗
    OpenWindow: function () {
      CommUtility.WebShowAlertboxForm('BettingRecordDetailForm');
    }, // end OpenWindow

    // 關閉彈窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm('BettingRecordDetailForm');
    } // end CloseWindow
  },
  mounted: function () {
    $('#scroll_income').perfectScrollbar();
    $('#scroll_box').perfectScrollbar();
  },

  watch: {
    // 開啟彈窗
    BettingRecord: function () {
      this.BetType = this.BettingRecord.BetType;
      this.GameResult = this.BettingRecord.GameResult;
    } // end BettingRecord
  }
};
</script>
