<template>
  <div
    class="live-content"
    :style="{
      background:
        'url(' +
        $ResourceCDN +
        '/EditionImg/LamborFormal/images/' +
        $MessageLang +
        $BannerPath.Images.LiveBgImages +
        ') -265px -21px no-repeat'
    }"
  >
    <div
      class="live-content-banner"
      :style="{
        background: $BannerPath.Images.LiveImages
          ? 'url(' +
            $ResourceCDN +
            '/EditionImg/LamborFormal/images/' +
            $MessageLang +
            $BannerPath.Images.LiveImages +
            ')no-repeat'
          : ''
      }"
    >
      <video
        v-if="$BannerPath.Video.LiveVideo"
        :class="'sy' + $VersionNumber + '-live-video'"
        :src="$ResourceCDN + $BannerPath.Video.LiveVideo"
        class="live-content-video"
        autoplay="autoplay"
        width="100%"
        loop="loop"
        muted
      ></video>
      <!-- <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web/flash/video.mp4'" class="live-content-video sy60-live-video" autoplay="autoplay" width="100%" loop="loop" muted></video>
			<video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web15/flash/liveVideo.mp4'" class="live-content-video sy15-live-video" autoplay="autoplay" width="100%" loop="loop" muted></video>
      <video :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web28/flash/electronic.mp4'" class="live-content-video sy28-live-video" autoplay="autoplay" width="100%" loop="loop" muted></video>-->
    </div>
    <div class="live-logo-page" :class="'live-logo-page-' + $MessageLang">
      <div class="live-logo-banner">
        <video src autoplay="autoplay" width="100%" loop="loop" muted></video>
      </div>
      <div class="live-logo-top">
        <h2>{{ $t("message.nav_live") }}</h2>
        <p v-if="$MessageLang != 'en'">LIVE VIDEO</p>
      </div>
      <!-- <div class="live-logo-lists-bg">
        <ul class="live-logo-lists clearfix">
          <li class="live-logo-li" v-for="(list,index) in this.VideoList">
            <i class="game-maintain" v-if="list.GameTypeState == 703"></i>
            <a v-on:click="PlayGame(list);">
              <img :src="$ResourceCDN+'/PartnerLogo/bgdeep/v-logo'+list.GameApiNo+'.png'" />
            </a>
          </li>
        </ul>
      </div>-->
      <livevideo-content ref="livevideoContent" :PageCount="PageCount" :pageSize="pageSize"></livevideo-content>
      <footer class="live-logo-footer"></footer>
    </div>
  </div>
</template>

<script>
import { liveVideo } from "@/mod/k19/assets/scripts/comTest/main/liveVideo/liveVideo.js"
export default {
  mixins: [liveVideo]
}
</script>
