<template>
  <div class="content-layout top_slide test-css">
    <div class="about_tuwen">
      <img
        class="about_fonts_bg"
        :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/about_fonts_bg.jpg?VersionCode'"
      />
      <div class="about_descr">
        <div class="about_p1">
          <img
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/about_title_textq.png?VersionCode'"
          />
          <p>{{$t('message.abouts_casino')}}{{$t('message.abouts_most_exciting')}}</p>
          <p>{{$t('message.abouts_legal')}}</p>
        </div>
      </div>
      <div class="about_descr">
        <div class="about_p1">
          <img
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/about_title2.png?VersionCode'"
          />
          <p>{{$t('message.abouts_secrecy')}}</p>
        </div>
      </div>
    </div>
    <div class="about_list_block">
      <img
        :src="$ResourceCDN+'/EditionImg/LamborFormal/images/web00/lang/'+this.$MessageLang+'/about_title3.png?VersionCode'"
        style="margin-left:40px !important;"
      />
      <ul class="about_list">
        <li class="first_li">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason1.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_authority')}}</p>
          <p class="p_2">{{$t('message.abouts_platform')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason2.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_lean_forward')}}</p>
          <p class="p_2">{{$t('message.abouts_ranking')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason3.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_security')}}</p>
          <p class="p_2">{{$t('message.abouts_capital')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason4.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_free')}}</p>
          <p class="p_2">{{$t('message.abouts_draw')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason5.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_awesome')}}</p>
          <p class="p_2">{{$t('message.abouts_activity')}}</p>
        </li>
      </ul>
      <ul class="about_list">
        <li class="first_li">
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason6.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_ensure')}}</p>
          <p class="p_2">{{$t('message.abouts_enough_security')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason9.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_intimate')}}</p>
          <p class="p_2">{{$t('message.abouts_service')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason7.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_service')}}</p>
          <p class="p_2">{{$t('message.abouts_vip')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason8.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_simple')}}</p>
          <p class="p_2">{{$t('message.abouts_operation')}}</p>
        </li>
        <li>
          <img
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/about/icon_reason10.png?VersionCode'"
          />
          <p class="p_1">{{$t('message.abouts_legitimate')}}</p>
          <p class="p_2">{{$t('message.abouts_business')}}</p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      LogoName: localStorage.getItem('LogoName')
    };
  }
};
</script>
