<template>
  <!--已参与活动列表弹出窗-->
  <div
    id="withdrawActivityListForm"
    class="alert_box_content withdraw_alert_box re_h"
    :class="'withdrawActivityListForm_' + $MessageLang"
    style="position: fixed;"
  >
    <span class="alert_close" @click="HideWithdraw()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.member_activity_list')}}
      </h2>
      <!--<div class="descr_title">
            <p>已参与活动列表</p>
            <a class="icon_close" @click="CommUtility.WebCloseUniqueForm('withdrawActivityListForm');" href="javascript:void(0);"></a>
      </div>-->
      <div class="descr_p" style="padding: 0;">
        <ul class="alert_pb_list">
          <li class="first_li">
            <div class="div1">{{$t('message.agency_order_number')}}</div>
            <div>{{$t('message.member_exercise')}}</div>
            <div>{{$t('message.member_hour')}}</div>
            <div>{{$t('message.index_deposit')}}</div>
            <div :class="'first_lilast'+$MessageLang">{{$t('message.member_target_wash')}}</div>
          </li>
          <li v-for="(Item, index) in this.DepositHistorList">
            <div class="div1">{{index + 1}}</div>
            <div v-if="Item.ActivityName != ''">{{Item.ActivityName}}</div>
            <div v-else>{{$t('message.member_dividend_setting')}}</div>
            <div>{{Item.UpdateTick | utcTicksToLocalTime('YYYY/MM/DD')}}</div>
            <div>{{Item.VDepositAmt}}</div>
            <div>{{Item.RakeAmt}}</div>
          </li>
        </ul>
      </div>
      <div class="total_block">
        <span>{{$t('message.member_totalize')}}</span>
        <ul>
          <li>{{DepositHistoryData.VTotalDepositAmt}}</li>
          <li>{{DepositHistoryData.TotalTargetRakeAmount}}</li>
        </ul>
      </div>
      <paginate :PageCount="PageInfo.PageCount"></paginate>
    </div>
  </div>
</template>

<style scoped lang="less">
.withdrawActivityListForm_vi,
.withdrawActivityListForm_en {
  .alert_pb_list li.first_li div {
    white-space: normal;
    font-size: 12px !important;
    line-height: 15px !important;
  }
}
</style>

<script>
import CommUtility from '@/assets/scripts/common/CommUtility.js';
import EventBus from '@/assets/scripts/common/EventBus.js';
import Paginate from '@/mod/k04/components/sub/paginate.vue';

export default {
  props: {
    DepositHistoryData: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      CommUtility: CommUtility,

      //  2018.12.03 SeyoChen 分页
      PageInfo: {
        PageNo: 1,
        PageSize: 10,
        PageCount: 0,
        TotalCount: 0
      },
      DepositHistorList: {}
      //  2018.12.03 SeyoChen 分页 end
    };
  },
  methods: {
    ShowHistoryForm: function() {
      CommUtility.WebShowAlertboxForm('withdrawActivityListForm');
    },
    // 關閉彈窗
    HideWithdraw: function() {
      CommUtility.WebClosealertboxForm('withdrawActivityListForm');
    }, // end HideEditPhone

    // 获取分页对应页面的数据 2018.12.03 SeyoChen
    GetPageData: function(pageNo) {
      const start = (pageNo - 1) * this.PageInfo.PageSize;
      const end = pageNo * this.PageInfo.PageSize;

      this.PageInfo.PageCount = Math.ceil(
        this.DepositHistoryData.ActivityLogList.length / this.PageInfo.PageSize
      );
      this.DepositHistorList = this.DepositHistoryData.ActivityLogList.slice(
        start,
        end
      );
      EventBus.$emit('Paginate_ResetPageNo', pageNo);
    },
    // 倒序  2018.12.03 SeyoChen
    ReverseData: function() {
      this.DepositHistoryData.ActivityLogList = this.DepositHistoryData.ActivityLogList.reverse();
    },
    // 获取跳页 page  2018.12.03 SeyoChen
    GetCurrentPageData: function(page) {
      this.GetPageData(page);
    }
    //  2018.12.03 SeyoChen 分页 end
  },
  components: {
    Paginate
  },
  watch: {
    //  2018.12.03 SeyoChen 分页
    DepositHistoryData: function() {
      this.ReverseData();
      this.GetPageData(1);
    }
    //  2018.12.03 SeyoChen 分页 end
  }
};
</script>
