<template>
  <div id="StartUsingForm" class="alert_box_content rake_alert_box re_h agency-alert">
    <span class="alert_close" @click="CloseStartUsingWindow()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_information_tips')}}
      </h2>
      <p
        class="stopUse-tip"
        style="text-align:center"
      >{{$t('message.agency_successful_enablation')}}！</p>
      <div class="record_query">
        <a
          class="cancle-searchBtn"
          href="javascript:void(0);"
          @click="CloseStartUsingWindow()"
        >{{$t('message.login_close')}}</a>
        <!-- <a class="common-searchBtn" href="javascript:void(0);" @click="StartUsingMethod()">{{$t('message.member_ascertain')}}</a> -->
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from "@/assets/scripts/common/CommUtility.js"

export default {
  props: {
    MemberDetailID: undefined
  },
  data() {
    return {}
  },
  mounted() {},
  methods: {
    StartUsingMethod: function () {},
    // 開啟視窗
    StartUsingOpenWindow: function () {
      CommUtility.WebShowAlertboxForm("StartUsingForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseStartUsingWindow: function () {
      this.$parent.$parent.$parent.GetMessageType(1)
      CommUtility.WebClosealertboxForm("StartUsingForm")
    } // end CloseWindow
    // filedsCommon: function () {
    //   this.fieldsCommon = true;
    // }
  }
}
</script>
