<template>
  <div class="rechargeRecord">
    <h2 class="agency-main-title">
      <span>{{ $t("message.agency_recharge_record") }}</span>
    </h2>
    <div>
      <div class="agencyDetailed-cont-nav">
        <div class="nav-p1">
          <span class="p1-name">{{ $t("message.member_hour") }}</span>
          <!--<input class="p1-put" type="text" />-->
          <datepicker
            class="p1-put"
            :class="'recordPut' + $MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.StartTick"
            format="yyyy/MM/dd"
            calendar-class="startdate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_start_time')"
            @selected="selectedStart"
          ></datepicker>
          <span class="p1-line">—</span>
          <datepicker
            class="p1-put"
            :class="'recordPut' + $MessageLang"
            :language="this.$MessageLang"
            v-model="DisplayRechargeObj.EndTick"
            format="yyyy/MM/dd"
            calendar-class="enddate_calendar"
            :disabled="this.CalendarDisabled"
            :placeholder="$t('message.member_ending_time')"
            @selected="selectedEnd"
          ></datepicker>
        </div>
        <div class="nav-p1">
          <span class="p1-name">{{ $t("message.agency_consumer") }}</span>
          <input
            class="p1-userPut"
            :class="'recorduserPut' + $MessageLang"
            v-model="DisplayRechargeObj.AgencyUser"
            v-validate="{ rules: { regex: Reg.LoginAccount } }"
            name="AgencyAcct"
            type="text"
          />
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsNextLayer = Number(checkedSubordinate)"
            v-model="checkedSubordinate"
          >{{ $t("message.agency_subordinate") }}</el-checkbox>
        </div>
        <div class="nav-p1">
          <el-checkbox
            @change="DisplayRechargeObj.IsDatalessUsers = Number(checkedDatalessUsers)"
            v-model="checkedDatalessUsers"
          >{{ $t("message.dataless_users") }}</el-checkbox>
        </div>
        <span class="renovate" @click="ResetClick('true')">
          <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
        </span>
        <a
          class="search"
          :class="'search' + $MessageLang"
          href="javascript:;"
          @click="UpdateDetailCondition()"
        >
          {{
          $t("message.member_search")
          }}
        </a>
      </div>
      <div class="record_agency_error">
        <span
          class="tip1"
          v-show="errors.has('AgencyAcct') && fields.AgencyAcct.touched"
          style="top: 2px; left: 322px;"
        >{{ $t("message.login_english_letters") }}</span>
        <span
          class="tip1"
          v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
          style="left: 30px; top: 2px;"
        >{{ $t("message.member_greater_than") }}</span>
      </div>
    </div>
    <div>
      <div class="table-block-common" v-if="IsShowAccount">
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td width="20%">{{ $t("message.agency_consumer") }}</td>
              <td width="20%">{{ $t("message.agency_identity") }}</td>
              <td width="25%">{{ $t("message.agency_time_interval") }}</td>
              <td width="15%">{{ $t("message.agency_teams_number") }}</td>
              <td width="20%">{{ $t("message.agency_total_invest") }}</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(reList, index) in IBDepositListData" :key="index">
              <!-- <td>{{index+1}}</td> -->
              <td>
                <span class="prefix-text" v-if="reList.Hierarchy != -1">{{ reList.Prefix }}</span>
                {{ reList.LoginID }}
              </td>
              <td
                v-text="reList.MemberType === 3 ? $t('message.agency_agent') : $t('message.index_member')"
              ></td>
              <td>
                {{ reList.StartTick | utcTicksToLocalTime("YYYY/MM/DD") }}-{{
                reList.EndTick | utcTicksToLocalTime("YYYY/MM/DD")
                }}
              </td>
              <td>
                <span v-if="reList.MemberType === 3">{{ reList.TeamCount }}</span>
                <span v-else>-</span>
              </td>
              <td>{{ reList.VDepositSum }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table-total" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td width="20%">{{ $t("message.agency_subtotal") }}：</td>
              <td width="60%" colspan="4"></td>
              <!-- <td width="15%">{{SubTeamCount}}</td> -->
              <td width="20%">{{ SubTotalSum }}</td>
            </tr>
            <tr>
              <td width="20%">{{ $t("message.member_totalize") }}：</td>
              <td width="60%" colspan="4"></td>
              <!-- <td width="15%">{{TeamCount}}</td> -->
              <td width="20%">{{ TotalSum }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <agency-recharge-account
        :RechargeAccountList="RechargeAccountList"
        :RechargeAccountTotalSum="RechargeAccountTotalSum"
        :HistoricalPathName="HistoricalPathName"
        v-else
      ></agency-recharge-account>
    </div>
    <!--分页-->
    <paginate :PageCount="this.PageCount" :PageNo="this.PagingInfo.PageNo"></paginate>
    <div class="maxtip" v-if="IsShowTip">{{ $t("message.agency_operation_failed") }}</div>
    <div v-show="resigerWord" class="maxtip">{{ $t("message.agency_successful_reset") }}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{ $t("message.agency_operation_failed") }}</div>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
import Regex from "scripts/common/CommDef"
// import BLDef from 'scripts/common/BLDef';
import AgencyRechargeAccount from "@/components/sub/agency/rechargeRecord/agencyRechargeAccount"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import EventBus from "scripts/common/EventBus"
import CommUtility from "scripts/common/CommUtility"
import Paginate from "@/mod/k19/components/sub/paginate"

export default {
  data() {
    return {
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      PageCount: 0,
      IsShowAccount: true,
      RechargeAccountList: [],
      RechargeAccountTotalSum: "",
      HierarchyNum: undefined,
      textSucc: undefined,
      IsShowTip: false,
      // 正則表達式類別
      Reg: Regex.Regex,
      Submitted: false,
      TimeSequenceInvalid: false,
      DisplayRechargeObj: {
        AgencyUser: "",
        StartTick: new Date(),
        EndTick: new Date(),
        IsNextLayer: 0,
        IsDatalessUsers: 0
      },
      CalendarDisabled: {
        to: new Date(moment().add(-90, "days").format("YYYY/MM/DD")), // Disable all dates after specific date
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds"))
      },
      checkedSubordinate: false,
      checkedDatalessUsers: false,
      resigerWord: false,
      IBDepositListData: [],
      RechargeTotalSum: "",
      HistoricalPathName: "",
      RechargeSubTotalSum: "",
      TotalSum: "",
      TeamCount: "",
      SubTotalSum: "",
      SubTeamCount: "",
      IsShowErrorFlag: false
    }
  },
  created: function () {
    this.ResetClick()
    this.UpdateDetailCondition()
  },
  mounted: function () {
    EventBus.$on("Recharge_IsShowAgencyHtml", (data) => {
      this.IsShowAccount = data
    })
    $(".rechargeRecord").perfectScrollbar()
  },
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      let startDate = new Date(this.dateFormat(date) + " 00:00:00")
      this.DisplayRechargeObj.StartTick = startDate
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      let endDate = new Date(this.dateFormat(date) + " 23:59:59")
      this.DisplayRechargeObj.EndTick = endDate
      this.CheckFied()
    },
    // 分页 20190517 LMX
    GetCurrentPageData: async function (pageNo) {
      console.log(pageNo)
      console.log(this.QueryType)
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo
      }
      this.AgencyRecharge(pageNo, "false")
    }, // end GetCurrentPageData
    // 时间限制
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      // this.dateTimeInterval = false;

      // 開始時間未選
      if (this.DisplayRechargeObj.StartTick === undefined) {
        anyInvalid = true
      }
      // 結束時間未選
      if (this.DisplayRechargeObj.EndTick === undefined) {
        anyInvalid = true
      }
      // 開始日期大於結束日期
      if (this.DisplayRechargeObj.StartTick !== undefined && this.DisplayRechargeObj.EndTick !== undefined) {
        if (new Date(this.DisplayRechargeObj.StartTick) > new Date(this.DisplayRechargeObj.EndTick)) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }
      // 類型未選
      return anyInvalid
    },
    UpdateDetailCondition: async function () {
      this.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      // 时间限制
      this.Submitted = true
      const anyFieldInvalid = this.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      if (result === false) {
        return
      }
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      this.AgencyRecharge(1, "false")
    },
    // 充值
    AgencyRecharge: async function (pageNo) {
      this.PagingInfo.PageNo = pageNo
      // 切换到充值或者点击搜索时   如果是会员的话就隐藏  显示全部
      this.IsShowAgencyHtml = true
      EventBus.$emit("Recharge_IsShowAgencyHtml", this.IsShowAgencyHtml)
      console.log(this.dateFormat(this.DisplayRechargeObj.EndTick))
      console.log(this.DisplayRechargeObj.EndTick)

      const inputObj = {
        IBMemberID: localStorage.getItem("CorrelationIBMemberId"), // 代理ID
        StartTick: CommUtility.LocalTimeToUtcTicks(this.dateFormat(this.DisplayRechargeObj.StartTick) + " 00:00:00"), // 必选 - 》默认选择当月
        EndTick: CommUtility.LocalTimeToUtcTicks(
          this.DisplayRechargeObj.EndTick,

          false,
          true
        ),
        LoginID: this.DisplayRechargeObj.AgencyUser, // 用户名
        IsLookMember: 1, // 是否查询会员
        PagingInfo: {
          PageSize: this.PagingInfo.PageSize,
          PageNo: this.PagingInfo.PageNo
        },
        IsNextLayer: this.DisplayRechargeObj.IsNextLayer,
        IsContainsZero: this.DisplayRechargeObj.IsDatalessUsers // 是否包含0数据（0：否，1：是，前端请默认初始传0参数来请求）
      }
      const data = await AgencyCenterService.AgencyRechargeList(inputObj)
      if (data.Ret === 0) {
        this.IBDepositListData = data.Data.IBDepositList
        this.TotalSum = data.Data.VDepositSum_Total
        this.TeamCount = data.Data.TeamCount_Total
        this.SubTotalSum = data.Data.VDepositSum_SubTotal
        this.SubTeamCount = data.Data.TeamCount_SubTotal
        this.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / this.PagingInfo.PageSize)
      } else {
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
      }
    },
    ResetClick: async function (val) {
      console.log(val)
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours()
      const minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
      const seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds()
      const startDate = year + "-" + month + "-01 " + hours + ":" + minutes + ":" + seconds
      this.DisplayRechargeObj.StartTick = startDate
      this.DisplayRechargeObj.EndTick = new Date()
      this.DisplayRechargeObj.AgencyUser = ""
      this.DisplayRechargeObj.IsNextLayer = 0
      this.DisplayRechargeObj.IsDatalessUsers = 0
      this.checkedSubordinate = false
      this.checkedDatalessUsers = false
      this.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      console.log(this.dateFormat(this.DisplayRechargeObj.StartTick))
      console.log(this.dateFormat(this.DisplayRechargeObj.EndTick))
      this.CheckFied()
      if (val == "true") {
        // this.succeededText = data.Message;
        this.resigerWord = true
        setTimeout(() => {
          this.resigerWord = false
        }, 1000)
      }
      // }
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    }
  },
  components: {
    AgencyRechargeAccount,
    Datepicker,
    Paginate
  }
}
</script>
