<template>
  <div class="agentTransfer-content">
    <h2 class="agency-main-title">
      <span>{{$t('message.agency_transfer_operation')}}</span>
    </h2>
    <div class="agency-balance">
      <p :title="$t('message.agency_agent_wallet')">{{$t('message.agency_agent_wallet')}}</p>
      <p style="text-align: left;margin-top: 10px;">{{MemberBalance}}</p>
      <a @click="AgencyWithdrawal()">{{$t('message.agency_drawing')}}</a>
    </div>
    <div class="agent_transfer_choose">
      <span
        class="transfer_in"
        :title="$t('message.agency_transfer_user')"
      >{{$t('message.agency_transfer_user')}}</span>
      <input
        type="text"
        v-model="DisplayQueryObj.MemberName"
        :placeholder="$t('message.agency_enter_account')"
        name="MemberName"
        v-validate="{ rules: { regex:Reg.LoginAccount }}"
        class="transfer_in_account"
      />
      <span class="transfer_in" style="margin-left: 12px;">{{$t('message.agency_identity')}}</span>
      <div class="down record-drop" style="width: 80px;float: left;">
        <div class="d_course" @click="ShowDropDown()">
          <span v-if="DisplayQueryObj.To_MemberType === -1">{{$t('message.agency_please_choose')}}</span>
          <span v-else-if="DisplayQueryObj.To_MemberType === 3">{{$t('message.agency_agent')}}</span>
          <span v-if="DisplayQueryObj.To_MemberType === 4">{{$t('message.index_member')}}</span>
        </div>
        <img
          :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
        />
        <div class="down_box">
          <a class="down_list" @click="SelectType(-1)">{{$t('message.agency_please_choose')}}</a>
          <a class="down_list" @click="SelectType(3)">{{$t('message.agency_agent')}}</a>
          <a class="down_list" @click="SelectType(4)">{{$t('message.index_member')}}</a>
        </div>
      </div>
      <span class="transfer_time">{{$t('message.agency_transfer_time')}}</span>
      <datepicker
        class="common-query-put message-query-put"
        v-model="DisplayQueryObj.StartTime"
        :language="$MessageLang"
        format="yyyy/MM/dd"
        :disabled="this.CalendarDisabled"
        calendar-class="startdate_calendar"
        :placeholder="$t('message.member_start_time')"
      ></datepicker>
      <span class="transfer-query-name line">—</span>
      <datepicker
        class="common-query-put message-query-put"
        :language="$MessageLang"
        v-model="DisplayQueryObj.EndTime"
        format="yyyy/MM/dd"
        :disabled="this.CalendarDisabled"
        calendar-class="enddate_calendar"
        :placeholder="$t('message.member_ending_time')"
      ></datepicker>
      <span class="renovate" style="float: left;cursor: pointer;" @click="ResetClick()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'" />
      </span>
      <a
        class="transfer_search_btn"
        href="javascript:void(0);"
        style="margin-left: 0;color:#fff"
        @click="BackToOnePage()"
      >{{$t('message.member_search')}}</a>
      <a
        class="transfer_in_btn"
        href="javascript:void(0);"
        style="color:#fff"
        @click="ShowIncome()"
      >{{$t('message.agency_transfer_accounts')}}</a>

      <i
        class="tip1"
        style="position:absolute; left: 68px;top: 40px;"
        v-show="errors.has('MemberName') && fields.MemberName.touched"
      >{{$t('message.reg_english_letters')}}</i>
      <i
        class="tip1"
        style="position:absolute; left: 410px;top: 40px;"
        v-show="ShowTimeError"
      >{{$t('message.member_greater_than')}}</i>
    </div>

    <!--tabel-->
    <div class="transfer_in_table table-block-common">
      <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="w_1 pl" style="width: 14%;">{{$t('message.agency_order_number')}}</th>
            <th class="w_1" style="width: 7%;">{{$t('message.agency_transfer_user')}}</th>
            <th class="w_2" style="width: 15%;">{{$t('message.agency_identity')}}</th>
            <th class="w_2" style="width: 15%;">{{$t('message.member_transfer_amount')}}</th>
            <th class="w_2" style="width: 15%;">{{$t('message.agency_transfer_balance')}}</th>
            <th
              class="w_3"
              style="padding: 0 35px;width: 16%;"
            >{{$t('message.agency_remarks_information')}}</th>
            <th class="w_2 pr" style="width: 22%">{{$t('message.agency_turnIn_time')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in this.AuthorizeUserTransactionList">
            <td
              class="transfer_list_num w_1 pl"
            >{{DisplayQueryObj.PagingData.PageNo * DisplayQueryObj.PagingData.PageSize - (DisplayQueryObj.PagingData.PageSize - index) + 1}}</td>
            <td class="w_1">{{item.To_MemberLoginID}}</td>
            <td class="w_2" v-if="item.To_MemberType === 3">{{$t('message.agency_agent')}}</td>
            <td class="w_2" v-if="item.To_MemberType === 4">{{$t('message.index_member')}}</td>
            <td class="w_2">{{item.VAmount}}</td>
            <td class="w_2">{{item.VTo_Member_AfterBalance}}</td>
            <td class="w_3 bty" style="padding: 0 35px;" :title="item.Remark">{{item.Remark}}</td>
            <td class="transfer_list_time w_2 pr">
              <span>
                <i>{{$t('message.agency_peking')}}</i>
                {{item.CreateDateTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
              </span>
              <span>
                <i>{{$t('message.agency_america_east')}}</i>
                {{item.NewTime | utcTicksToLocalTime('YYYY/MM/DD HH:mm:ss')}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <!--分页-->
      <paginate
        :PageCount="this.PageCount"
        :PageNo="DisplayQueryObj.PagingData.PageNo"
        ref="PageNoSet"
      ></paginate>
    </div>

    <agency-transfer-table :MemberBalance="this.MemberBalance"></agency-transfer-table>
    <agency-transfer-withdrawal :IsProfitLoss="false" :MemberBalance="this.MemberBalance"></agency-transfer-withdrawal>
    <agency-transfer-pwd-confirm :transferName="transferName"></agency-transfer-pwd-confirm>
  </div>
</template>

<script>
import moment from "moment"
import Datepicker from "@/components/main/common/datePicker"
// import Datepicker from 'vuejs-datepicker';
import Regex from "@/assets/scripts/common/CommDef"
import CommUtility from "scripts/common/CommUtility"
import AgencyCenterService from "@/assets/scripts/businessLogic/agencyCenterService"
import EventBus from "@/assets/scripts/common/EventBus"
import Paginate from "@/mod/k06/components/sub/paginate"
import AgencyTransferTable from "@/components/sub/agency/transferAccounts/agencyTransferTable"
import AgencyTransferWithdrawal from "@/mod/k06/components/sub/agency/transferAccounts/agencyTransferWithdrawal"
import AgencyTransferPwdConfirm from "@/components/sub/agency/transferAccounts/agencyTransferPwdConfirm"
export default {
  data() {
    return {
      CalendarDisabled: {
        from: new Date(moment().utcOffset(480).add(1, "days").format("YYYY/MM/DD")) // Disable all dates after specific date
      },
      AuthorizeUserTransactionList: [],
      Reg: Regex.Regex,
      DisplayQueryObj: {
        MemberName: "",
        StartTime: moment().isoWeekday(1).format("YYYY-MM-DD"),
        EndTime: new Date(),
        PagingData: {
          PageSize: 7,
          TotalCount: 0,
          PageNo: 1
        },
        To_MemberType: -1
      },
      MemberBalance: 0,
      TipsShow: {
        Accont: false,
        MemberPsw: false
      },
      ShowTip: undefined,
      PageCount: undefined,
      ShowTimeError: false,
      DropDowning: false,
      PwdErrCntNum: undefined,
      transferName: undefined
    }
  },
  components: {
    Datepicker,
    Paginate,
    AgencyTransferTable,
    AgencyTransferWithdrawal,
    AgencyTransferPwdConfirm
  },
  mounted: function () {
    this.TransferOperationQuery()
    this.TransferOperationErrePaw()
  },
  methods: {
    // 選取紀錄類型
    SelectType: function (item) {
      this.DisplayQueryObj.To_MemberType = item
      $(".down_box").slideUp(300)
      this.DropDowning = false
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this.DropDowning === false) {
        $(".down_box").slideDown(300)
        this.DropDowning = true
      } else {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    ResetClick: function () {
      this.DisplayQueryObj.To_MemberType = -1
      this.DisplayQueryObj.MemberName = ""
      this.ShowTimeError = false
      this.DisplayQueryObj.StartTime = moment().isoWeekday(1).format("YYYY-MM-DD")
      this.DisplayQueryObj.EndTime = new Date()
    },
    // 提款
    AgencyWithdrawal: function () {
      this.TransferOperationErrePaw()
      this.transferName = this.$t("message.index_withdraw")
      // EventBus.$emit('AgencyWithdrawalStep');
      CommUtility.WebShowAlertboxForm("agency_transfer_widthdrawal")
    },

    // 開啟彈窗
    ShowIncome: async function () {
      this.TransferOperationErrePaw()
      this.transferName = this.$t("message.agency_transfer_accounts")
      // EventBus.$emit('ShowIncomeStep');
      CommUtility.WebShowAlertboxForm("agency_transfer")
    }, // end ShowEditPhone
    // 点击搜索分页返回第一页
    BackToOnePage: function () {
      this.$refs.PageNoSet.RetSetPageNo()
      console.log("=============================================")
      console.log(this.DisplayQueryObj.PagingData.PageNo)
      // EventBus.$emit('Paginate_ResetPageNo');
      this.TransferOperationQuery()
      this.TransferOperationErrePaw()
    },
    TransferOperationErrePaw: async function () {
      const Data = await AgencyCenterService.LoadMemberBalance_FrontEnd()
      console.log("Data11111111111111111")
      console.log(Data)
      console.log("Data11111111111111111")
      if (Data.Ret === 0) {
        this.MemberBalance = Data.Data.MemberBalance
        this.PwdErrCntNum = Data.Data.PwdErrCnt
        localStorage.setItem("PwdErrCntNum", Data.Data.PwdErrCnt)
      }
    },
    TransferOperationQuery: async function () {
      Object.keys(this.fields).forEach((key) => {
        this.fields[key].touched = true
      })
      const result = await this.$validator.validateAll()
      // 当起始时间大于结束时间 -- error
      if (moment(this.DisplayQueryObj.StartTime).valueOf() > moment(this.DisplayQueryObj.EndTime).valueOf()) {
        this.ShowTimeError = true
      } else {
        this.ShowTimeError = false
      }
      if (!result || this.ShowTimeError) return
      this.DisplayQueryObj.PagingData.PageNo = 1
      EventBus.$emit("GlobalLoadingTrigger", true)

      const retData = await AgencyCenterService.AuthorizeUserTransactionList(this.DisplayQueryObj)
      EventBus.$emit("GlobalLoadingTrigger", false)
      if (retData.Ret === 0) {
        this.AuthorizeUserTransactionList = retData.Data.AuthorizeUserTransactionList
        this.PageCount = Math.ceil(retData.Data.PagingInfo.TotalCount / this.DisplayQueryObj.PagingData.PageSize)
        for (let i = 0; this.AuthorizeUserTransactionList.length > i; i++) {
          this.AuthorizeUserTransactionList[i].NewTime =
            moment(this.AuthorizeUserTransactionList[i].CreateDateTime).valueOf() - 43200000
        }
        console.log("--------请求成功--------")
        console.log(this.AuthorizeUserTransactionList)
      } else {
        console.log("--------请求失败--------")
      }
    },
    GetCurrentPageData: async function (pageNo) {
      this.DisplayQueryObj.PagingData.PageNo = pageNo
      const retData = await AgencyCenterService.AuthorizeUserTransactionList(this.DisplayQueryObj)
      if (retData.Ret === 0) {
        this.AuthorizeUserTransactionList = retData.Data.AuthorizeUserTransactionList
        for (let i = 0; this.AuthorizeUserTransactionList.length > i; i++) {
          this.AuthorizeUserTransactionList[i].NewTime =
            moment(this.AuthorizeUserTransactionList[i].CreateDateTime).valueOf() - 43200000
        }
        console.log("--------请求成功--------")
      } else {
        console.log("--------请求失败--------")
      }
      EventBus.$emit("PrivateMessage_UpdatePageNo", pageNo)
    } // end GetCurrentPageData
  }
}
</script>
