<template>
  <div class="service">
    <!--34版-->
    <div class="customService-wrap">
      <div class="service-freeTrial">
        <!--旧版客服 文字形式 SeyoChen 20191205-->
        <!-- <a class="service-freeTrial-online" @click="OpenNewBox34($ServeLink)">
          <img
            :src="$ResourceCDN+'/EditionImg/LamborFormal/images/'+$MessageLang+'/web34/service-freeTrial-online.png'"
          />
          <div class="service-contact" v-show="IsCustomerServiceShowing">
            <div class="service-contact-qq">
              <a
                :title="QQInfo.Name"
                v-for="QQInfo in CustomerService.CustomerServiceSettingInfoList"
                @click="CallQQClient(QQInfo.QQAcct)"
              >
                <p class="service-contact-text">
                  <img :src="$ResourceCDN+'/EditionImg/lambor34.0/images/web/w_18.png'" />
                  {{QQInfo.Name}}
                </p>
              </a>
              <div class="service-contact-hotLine">
                <h2>{{$t('message.customer_service_hotline')}}</h2>
                <p class="phone">{{CustomerService.CustomerServicePhoneNo}}</p>
              </div>
            </div>
          </div>
        </a>-->

        <!--新版客服 二维码形式 SeyoChen 20191205-->
        <div class="service-code">
          <img
            @click="OpenNewBox34($ServeLink)"
            class="service-img"
            :src="$ResourceCDN + '/Customized/VND/images/serve/serve_' + $MessageLang + '.png'"
          />
          <div class="service-list">
            <div class="service-list-bg">
              <h2 class="clearfix">
                <img class="fl" onerror="src=''" :src="$ResourceCDN + '/Customized/VND/images/serve/app_icon.png'"/>
                <p class="fl">{{$t('message.down_app')}}</p>
              </h2>
              <img
                onerror="src=''"
                :src="$ResourceCDN + '/Customized/VND/images/serve/serve_app.png'"
              />
            </div>
            <div class="service-list-bg">
              <h2 class="clearfix">
                <img class="fl" onerror="src=''" :src="$ResourceCDN + '/Customized/VND/images/serve/wechat_icon.png'"/>
                <p class="fl">WECHAT</p>
              </h2>
              <img
                onerror="src=''"
                :src="$ResourceCDN + '/Customized/VND/images/serve/serve_wechat.png'"
              />
            </div>
            <div class="service-list-bg">
              <h2 class="clearfix">
                <img class="fl" onerror="src=''" :src="$ResourceCDN + '/Customized/VND/images/serve/zalo_icon.png'"/>
                <p class="fl">ZALO</p>
              </h2>
              <img
                onerror="src=''"
                :src="$ResourceCDN + '/Customized/VND/images/serve/serve_zalo.png'"
              />
            </div>
            <div class="service-list-bg">
              <h2 class="clearfix">
                <img class="fl" onerror="src=''" :src="$ResourceCDN + '/Customized/VND/images/serve/line_icon.png'"/>
                <p class="fl">LINE</p>
              </h2>
              <img
                onerror="src=''"
                :src="$ResourceCDN + '/Customized/VND/images/serve/serve_line.png'"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less">
@import '@/assets/cdn.less';

.customService-wrap {
  right: 20px !important;
  top: 50% !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  .service-freeTrial {
    width: auto !important;

    .service-code {
      .service-list {
        padding-bottom: 10px;
        width: 161px !important;
        // background: #fff !important;
        .service-list-bg{
          margin-left: -15px;
          padding: 0 10px;
          width: 141px;
          height: 162px;

          h2{
            padding: 10px 0;
            font-weight: normal;
            img{
              margin-right: 10px;
              margin-left: 5px;
            }
          }
        }

        p {
          padding-top: 10px;
          height: 26px;
          line-height: 26px;
          font-size: 16px;
          color: #fff;
          // font-weight: bold;
          text-align: center;
        }
        img {
          margin: 0 auto;
          display: block;
          max-width: 90px;
          height: auto;
        }
      }
      .service-img {
        width: 160px;
        cursor: pointer;
      }
    }
  }
}
</style>

<script>
import { initService34 } from '@/mod/k04/assets/scripts/comTest/public/sy34/frameSide.js';
export default {
  mixins: [initService34]
};
</script>
