<template>
  <div class="header-marquee" v-if="marqueeShowList.length>0">
    <i class="header-marquee-icon"></i>
    <div class="notice dowebok" style="overflow: hidden;">
      <div class="slideTxtBox">
        <div class="bd">
          <ul>
            <li v-for="item in marqueeShowList">
              <a :title="item.Msg">{{item.Msg}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { initMarquee } from '@/mod/k04/assets/scripts/comTest/public/marquee.js';
export default {
  mixins: [initMarquee]
};
</script>
