<template>
  <div>
    <div id="PersonalWithdrawForm" name="PersonalWithdrawForm">
      <div class="improve_bank_msg purple_cont member_new_tip">
        <div class="withDraw-bankBox clearfix">
          <div class="online_cont clearfix">
            <p class="input_lf_withdraw fl">
              {{$t('message.member_withdrawal_method')}}
              <!--{{$t('message.withdraw_bank_select')}}{{$t('message.member_or')}}{{$t('message.payment_VirtualCurrency')}}-->
              ：
            </p>
            <a
              v-for="(item, index) in this.WithdrawDataList.AcctList"
              :key="index"
              @click="SelectPayType(item.Value, item.Key, index)"
              v-if="item.Value !== '3'"
            >
              <span :class="GetType == index?'on online-select':'online-select'">{{item.Name}}</span>
            </a>
          </div>

          <div class="clearfix">
            <p class="input_lf_withdraw fl">{{$t('message.withdraw_bank_select')}}：</p>
            <ul class="withDraw-bankBox-list fl">
              <li
                v-for="(list,index) in BankListDatas"
                :key="index"
                :class="list.ID == MessageTypeID?'on':''"
                @click="SelectType(list)"
              >{{list.BankName}} {{list.BankAcct}} {{list.CardName}}</li>
            </ul>
          </div>

          <div class="withDraw-input">
            <ul class="input_field">
              <li style="height: 60px;">
                <div class="input_lf_withdraw fl">{{$t('message.member_withdrawal_amount')}}：</div>
                <div class="input_rt">
                  <input
                    type="text"
                    name="WithdrawApplyAmt"
                    :placeholder="$t('message.member_lowest_amount') + RealVMinLimit + ','+$t('message.member_highest') + RealVMaxLimit"
                    v-model="ApplyAmount"
                    autocomplete="off"
                    v-validate="{ rules: { regex:Reg.MoneyAmount, between:[RealMinLimit, RealMaxLimit] , required: true }}"
                    @focus="TipShow()"
                    @blur="TipHide()"
                  />
                  <i
                    class="tip-box"
                    v-show="errors.has('WithdrawApplyAmt') && fields.WithdrawApplyAmt.touched"
                  ></i>
                  <i
                    class="tip-error"
                    v-show="errors.has('WithdrawApplyAmt') && fields.WithdrawApplyAmt.touched"
                  ></i>
                  <i
                    class="tip1"
                    style="display: block;"
                    :style="{lineHeight:$MessageLang==='en'?'20px':''}"
                    v-show="errors.has('WithdrawApplyAmt') && this.TipsShow.WithdrawApplyAmt == true"
                  >{{$t('message.member_digital_range')}}{{RealVMinLimit}}-{{RealVMaxLimit}}</i>
                </div>
              </li>
              <li class="clearfix">
                <div class="input_lf_withdraw fl">{{$t('message.reg_withdrawal_password')}}：</div>
                <div class="input_rt">
                  <input
                    type="password"
                    :placeholder="$t('message.member_Enterwithdrawal_password')"
                    name="WithdrawApplyWithdrawPwd"
                    v-model="WithdrawData.WithdrawPwd"
                    v-validate="{ rules: { regex:Reg.WithdrawPwd, required: true }}"
                    @focus="TipShowPwd()"
                    @blur="TipHidePwd()"
                  />
                  <a
                    class="forget_pw psw_forget fr"
                    @click="ResetPwdForm();OpenNewBox($ServeLink)"
                    href="javascript:void(0);"
                  >{{$t('message.login_forget_password')}}</a>
                  <i
                    class="tip-box"
                    v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
                  ></i>
                  <i
                    class="tip-error"
                    v-show="errors.has('WithdrawApplyWithdrawPwd') && fields.WithdrawApplyWithdrawPwd.touched"
                  ></i>
                  <i
                    class="tip1 tip_wrong"
                    v-show="errors.has('WithdrawApplyWithdrawPwd') && this.TipsShow.WithdrawApplyWithdrawPwd == true"
                  >{{$t('message.reg_use_numbers')}}</i>
                  <i
                    class="tip1 tip_wrong"
                    v-show="CurrentWithdrawPwdErrCnt>0 && CurrentWithdrawPwdErrCnt<=3 && NoClear === true"
                  >
                    *{{$t('message.member_input_error')}}
                    <em>{{CurrentWithdrawPwdErrCnt}}</em>
                    {{$t('message.member_error_times')}}
                  </i>
                </div>
              </li>
            </ul>
            <div class="pub_btn_both style3">
              <a
                class="btn1 alert_click3 hasblock"
                @click="SubmitWithdraw();"
                href="javascript:void(0);"
              >{{$t('message.member_submit_application')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 切换银行卡下拉弹出提示 -->
    <member-bank-select-window></member-bank-select-window>

    <!-- 取款密码错误后弹出账户锁定 -->
    <div id="pwdErrorForm" class="alert_box_content tel_alert_box re_h" style="position: fixed;">
      <span class="alert_close" @click="ClosePwdWindow('pwdErrorForm')">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" href="javascript:void(0);" @click="CommUtility.WebClosealertboxForm('pwdErrorForm');"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_red">{{$t('message.member_account_lockout')}}</p>
        <p>
          {{$t('message.member_mistaken')}}
          <br />
          {{$t('message.member_withdrawal_function')}}
        </p>
      </div>
      <div class="alert_btn_both">
        <a
          class="btn1"
          @click="ClosePwdWindow('pwdErrorForm');OpenNewBox($ServeLink);pswErrorCountFlag = false"
        >{{$t('message.member_contact_service')}}</a>
      </div>
    </div>

    <!-- 取款对应的资料没有填写 -->
    <div id="widthdrawData" class="alert_box_content tel_alert_box re_h" style="position: fixed;">
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" @click="CloseWindow()"></a>
      </div>-->
      <div class="descr_p">
        <p v-if="PostWithdrawData != '3'">
          {{$t('message.member_account_information')}}
          <br />
          {{$t('message.member_make_withdrawals')}}
        </p>
        <p v-else>
          {{$t('message.member_cybermoney')}}
          <br />
          {{$t('message.member_make_withdrawals')}}
        </p>
      </div>
      <div class="pub_btn_both style4" style="padding-left: 0px;text-align: center;">
        <a
          style="float: none;"
          v-if="PostWithdrawData != '3'"
          class="btn1 hasblock enter_deposit"
          @click="TransWidthdrawType('1')"
        >{{$t('message.member_perfecting_accounts')}}</a>
        <a
          style="float: none;"
          v-else
          class="btn1 hasblock enter_deposit"
          @click="TransWidthdrawType('3')"
        >{{$t('message.member_perfecting_accounts')}}</a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.online-select,
.online-select.on {
  background-position: center left !important;
}
</style>

<script>
import Vue from 'vue';
import Regex from 'scripts/common/CommDef';
import EventBus from 'scripts/common/EventBus';
import BLDef from 'scripts/common/BLDef';
import CommUtility from 'scripts/common/CommUtility';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import MemberBankSelectWindow from '@/components/sub/memberNew/withdrawal/memberBankSelectWindow';
export default {
  props: {
    WithdrawDataList: undefined
  },
  data () {
    return {
      DropDowning: false,
      Reg: Regex.Regex,
      ApplyAmount: undefined,
      RealMinLimit: undefined,
      RealVMinLimit: undefined,
      RealMaxLimit: undefined,
      RealVMaxLimit: undefined,

      PostWithdrawData: undefined,
      PostWithdrawKey: 'true', // 判断当前选择的取款方式是否已经完善资料 20190725 SeyoChen
      TipsShow: {
        WithdrawApplyAmt: false,
        WithdrawApplyWithdrawPwd: false
      },
      WithdrawObj: {
        AcctID: 155484,
        ID: null,
        Amt: 10,
        WithdrawPwd: '123456',
        WithdrawMode: '1',
        TodayDate: null,
        TodayDateTicks: null,
        TimeDiff: 0,
        TodayStartTime: null,
        TodayEndTime: null,
        BankID: 353
      },
      MessageTypeName: undefined,
      BankListDatas: [], // 银行卡列表数据
      MessageTypeID: undefined,

      WithdrawData: {
        WithdrawPwd: '',
        WithdrawMode: undefined,
        BankID: undefined,
        AcctList: []
      },
      CurrentWithdrawPwdErrCnt: undefined,
      GetType: 0, // 取款方式选择
      NoClear: false // 是否显示提示语
    };
  },
  created: function () {
    this.LoadBankPage();
  },
  mounted: function () {
    this.BindingEvent();
  },
  methods: {
    // 弹出新窗口
    OpenNewBox: function (aa) {
      return window.open(
        aa,
        'newindow',
        'height=565,width=357,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no'
      );
    },

    // 重置取款密碼表單
    ResetPwdForm: function () {
      this.NoClear = false;
      this.ApplyAmount = undefined;
      this.WithdrawData.WithdrawPwd = undefined;
      this.$validator.reset();
    },

    // 选择银行卡
    SelectBankCard: function (ID) {
      this.MessageTypeID = ID;
    },

    // 發送取款申請
    SubmitWithdraw: async function () {
      if (this.BankListDatas.length == 0) {
        CommUtility.WebShowAlertboxForm('widthdrawData'); // 弹出提示未完善信息
        return;
      }

      Object.keys(this.fields).forEach(key => {
        this.fields[key].touched = true;
      });
      const result = await this.$validator.validateAll();
      if (result === false) {
        return;
      }

      if (this.ProcessingFlag === true) {
        return;
      }

      this.ProcessingFlag = true;
      this.WithdrawData.Amt = this.ApplyAmount;
      this.WithdrawData.WithdrawMode = parseInt(this.PostWithdrawData);
      this.WithdrawData.BankID = this.MessageTypeID;
      EventBus.$emit('GlobalLoadingTrigger', true);
      const data = await PersonalCenterService.WithdrawApply_Add(
        this.WithdrawData
      );
      console.log('data取款密码');
      console.log(this.WithdrawData);
      console.log(data);
      console.log('data取款密码');
      EventBus.$emit('GlobalLoadingTrigger', false);

      this.ProcessingFlag = false;

      const notifyData = {
        NotifyMessage: data.Message
      };
      console.log('111dhsiafhskfds');
      console.log(data);
      if (data.Ret !== 0) {
        this.NoClear = true;
        // 取款密碼錯誤
        if (data.Ret == BLDef.ErrorRetType.COMM_PWD_CONFIRM_FAIL) {
          this.CurrentWithdrawPwdErrCnt = data.Data.PwdErrCnt;
          if (data.Data.PwdErrCnt >= 3) {
            // this.ResetPwdForm();
            CommUtility.WebShowAlertboxForm('pwdErrorForm');
          } else {
            EventBus.$emit('showNotifyMemberMessage', notifyData);
            setTimeout(() => {
              this.ResetPwdForm();
            }, 3000);
          }
        } else {
          // 其他錯誤
          this.ResetPwdForm();
          EventBus.$emit('showNotifyMemberMessage', notifyData);
        }
      } else {
        // 成功
        this.NoClear = false;
        this.$parent.GetWithdrawData(); // 取款成功从新获取资料
        this.ResetPwdForm();

        notifyData.NotifySubMessage =
          '' +
          this.$t('message.agency_drawing') +
          this.$t('message.agency_successful_operation') +
          '，' +
          this.$t('message.member_order_number') +
          ' : ' +
          data.Data.OrderNo +
          '';
        notifyData.NotifyTipMessage = this.$t(
          'message.member_to_view_the_record'
        );
        notifyData.CloseFunction = this.WithdrawalReset;
        EventBus.$emit('showNotifyMemberMessage', notifyData);

        // 通知顶部金额进行刷新 20190918 SeyoChen
        EventBus.$emit('memberHeaderUpdateBalance');
      }
    },

    BindingEvent: function () {
      document.addEventListener('click', this.HideDropDown);
    },
    // 银行卡列表数据
    LoadBankPage: async function () {
      const inputObj = {
        IsBankList: 0 // 0取款列表  1银行卡列表
      };
      const data = await PersonalCenterService.BankInfo_LoadMainPage(inputObj);
      console.log('==============================测试111111111111');
      console.log(data);
      console.log('==============================测试111111111111');

      if (data.Ret === 0 && data.Data.BankAcctList.length == 0) {
        CommUtility.WebShowAlertboxForm('widthdrawData'); // 弹出提示未完善信息
        this.MessageTypeName = this.$t('message.member_bank_no_cards');
        return;
      }

      if (data.Ret === 0) {
        this.BankListDatas = data.Data.BankAcctList;
        this.MessageTypeName =
          data.Data.BankAcctList[0].BankName +
          ' ' +
          data.Data.BankAcctList[0].CardName +
          ' ' +
          data.Data.BankAcctList[0].BankAcct;
        this.MessageTypeID = data.Data.BankAcctList[0].ID;
      }
    },

    TipShow: function () {
      this.TipsShow.WithdrawApplyAmt = true;
    },
    TipHide: function () {
      this.TipsShow.WithdrawApplyAmt = false;
    },
    TipShowPwd: function () {
      this.TipsShow.WithdrawApplyWithdrawPwd = true;
    },
    TipHidePwd: function () {
      this.TipsShow.WithdrawApplyWithdrawPwd = false;
    },
    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm('widthdrawData');
    }, // end CloseWindow

    // 關閉視窗
    ClosePwdWindow: function () {
      this.ResetPwdForm();
      CommUtility.WebClosealertboxForm('pwdErrorForm');
    }, // end CloseWindow

    // 選擇支付方式
    SelectPayType: function (type, key, index) {
      console.log(type);
      this.GetType = index;
      // 2019.04.18 SC 1. 银行入款 2: 虚拟货币
      this.PostWithdrawData = type;
      this.PostWithdrawKey = key; // 判断当前选择的取款方式是否已经完善资料 20190725 SC

      // 判断是否完善资料，未完善弹出消息窗口
      switch (type) {
        case '1':
          if (key == 'false') {
            CommUtility.WebShowAlertboxForm('widthdrawData');
          }
          break;
        case '3':
          if (key == 'false') {
            CommUtility.WebShowAlertboxForm('widthdrawData');
          }
          break;
        default:
          break;
      }
    },

    TransWidthdrawType: function (type) {
      if (type === '3') {
        // this.$router.push({
        //   name: 'webMemberBankData',
        //   params: { Type: type }
        // });
        localStorage.setItem('MemberBankDataType', type);
        this.$store.dispatch('setSwitchNameText', 'webMemberBankData');
        // EventBus.$emit('MemberBankDataType', type);
        this.CloseWindow();
      } else {
        // this.$router.push({ path: 'BankData' } );
        this.$store.dispatch('setSwitchNameText', 'webMemberBankData');
        this.CloseWindow();
      }
    },

    GetWithdrawData: function () {
      this.WithdrawData = this.WithdrawDataList;
      this.RealMinLimit = this.WithdrawDataList.MinLimitAmt;
      this.RealVMinLimit = this.WithdrawDataList.VMinLimitAmt;

      if (
        this.WithdrawDataList.CurrBalance < this.WithdrawDataList.MaxLimitAmt &&
        this.WithdrawDataList.CurrBalance > this.WithdrawDataList.MinLimitAmt
      ) {
        this.RealMaxLimit = this.WithdrawDataList.CurrBalance;
        this.RealVMaxLimit = this.WithdrawDataList.VCurrBalance;
      } else {
        this.RealMaxLimit = this.WithdrawDataList.MaxLimitAmt;
        this.RealVMaxLimit = this.WithdrawDataList.VMaxLimitAmt;
      }
      this.WithdrawDataList.AcctList = this.WithdrawDataList.AcctList;
      // 默认选择 已完善资料的取款方式
      for (let i = 0; i < this.WithdrawDataList.AcctList.length; i++) {
        // 1:银行卡方式   目前只存在银行卡形式
        if (
          this.WithdrawDataList.AcctList[i].Key == 'true' &&
          this.WithdrawDataList.AcctList[i].Value == '1'
        ) {
          this.PostWithdrawData = this.WithdrawDataList.AcctList[i].Value;
          return;
        }
      }
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this.DropDowning === false) {
        $('.down_box').slideDown(300);
        this.DropDowning = true;
      } else {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target);
      if (target.closest('.d_course').length === 0) {
        $('.down_box').slideUp(300);
        this.DropDowning = false;
      }
    },
    // 選取紀錄類型
    SelectType: function (data) {
      EventBus.$emit('MemberBankTrigger', data);
      // this.MessageTypeID = data.ID;
      // this.MessageTypeName =
      //   data.BankName + ' ' + data.CardName + ' ' + data.BankAcct;
      // this.HideDropDown();
    }
  },
  components: {
    MemberBankSelectWindow
  },
  watch: {
    WithdrawDataList: function () {
      this.GetWithdrawData();
    }
  }
};
</script>
