<template>
  <div class="fun-content" :class="'un-content_' + $MessageLang">
    <div class="fun-status clearfix">
      <div class="fs-balance-main fl">
        <p>
          {{$t('message.member_master_amount')}}:
          <span>{{this.MainBalance}}</span>
          <a
            v-show="GetVendorSate===false"
            class="reflash-btn ml10"
            @click="GetBalance()"
            :style="'background: url('+ $ResourceCDN +'/EditionImg/LamborFormal/images/MemberNew/icon/icon-refresh.png) no-repeat center center;'"
          ></a>
          <a
            v-show="GetVendorSate===true"
            class="reflash-btn ml10 on"
            :style="'background: url('+ $ResourceCDN +'/EditionImg/LamborFormal/images/MemberNew/icon/icon-refresh.png) no-repeat center center;'"
          ></a>
          <a
            class="gradual-color-btn ml20 fr"
            @click="OneKeyCashFlowInFo()"
          >{{$t('message.member_oneClick_recovery')}}</a>
        </p>
      </div>
      <div class="fs-balance-game ml50 fl" :class="'fs-balance-game'+$MessageLang">
        <p>
          {{$t('message.member_amount_status')}}：
          <a
            class="gradual-color-btn fr"
            @click="CloseGameListState()"
          >
            <span class="gradual-color-style">{{OpenShow}}</span>
            {{this.OpenShowWord}}
          </a>
        </p>
      </div>
    </div>
    <member-fun-message
      class="fun-game"
      ref="MemberFunMessage"
      :GameVendorList="this.TransGameVendorList"
      :GameVendoeListAlls="this.GameVendorList"
    ></member-fun-message>
  </div>
</template>

<style lang="less" scoped>
.fun-content {
  position: relative;
  min-height: 80px;
  .fun-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    .fs-balance-gamevi {
      margin-left: 30px !important;
    }
    p {
      line-height: 40px;
      font-size: 16px;
      color: #000;
      span {
        padding-left: 15px;
        color: #a03ae8;
      }
    }

    .gradual-color-style {
      display: inline-block;
      padding-left: 0;
      color: #fff;
      min-width: 20px;
      text-align: center;
    }
  }
  .fun-game {
    padding-top: 80px;
  }
}

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml50 {
  margin-left: 50px;
}

// 刷新按钮
.reflash-btn {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  cursor: pointer;

  &.on {
    animation: Rotee 1s linear infinite;
    -moz-animation: Rotee 1s linear infinite; /* Firefox */
    -webkit-animation: Rotee 1s linear infinite; /* Safari and Chrome */
    -o-animation: Rotee 1s linear infinite; /* Opera */
  }
}

@keyframes Rotee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// 渐变色的按钮
.gradual-color-btn {
  padding: 0 15px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  background: -moz-linear-gradient(to right, #7d54ff, #e154ff);
  background: -ms-linear-gradient(to right, #7d54ff, #e154ff);
  background: -webkit-linear-gradient(to right, #7d54ff, #e154ff);
  background: linear-gradient(to right, #7d54ff, #e154ff);
  border-radius: 20px;
  overflow: hidden;
}

// 多语言排版处理
.un-content_vi,.un-content_en{
  .fun-status{
    p{
      font-size: 14px!important;
    }
  }
  .ml50 {
    margin-left: 20px!important;
  }
  .gradual-color-btn{
    font-size: 14px!important;
  }
}

</style>

<script>
import EventBus from 'scripts/common/EventBus';
import CommonService from 'scripts/businessLogic/commonService';
import PersonalCenterService from 'scripts/businessLogic/personalCenterService';
import GameService from 'scripts/businessLogic/gameService';
import MemberFunMessage from '@/components/sub/memberNew/withdrawal/memberFunMessage';

import rotateLoopFun from 'scripts/customJs/web/rotateLoop';

export default {
  data () {
    return {
      GameVendorList: [],
      TransGameVendorList: [],
      FlowInFo: false,
      IsRunning: false,
      MainBalance: undefined,
      GetVendorSate: true, // 是否点击刷新按钮
      OpenShow: '+',
      OpenShowWord: this.$t('message.member_expand')
    };
  },
  mounted: function () {
    setTimeout(() => {
      this.GetBalance();
    }, 4000);
    // this.GetVendorList();

    EventBus.$on('memberHeaderUpdateBalance', () => {
      this.GetBalance();
    });
  },
  methods: {
    // 获取主账户金额（只获取当前主账户）
    GetBalance: async function () {
      this.GetVendorSate = true;
      const data = await CommonService.CashFlow_QueryBalance();
      if (data.Ret === 0) {
        this.MainBalance = data.Data.Balance;
        setTimeout(() => {
          this.GetVendorSate = false;
        }, 1000);
      }
    },

    // 关闭游戏金额状态列表
    CloseGameListState: function () {
      if (this.OpenShow === '-') {
        this.OpenShow = '+';
        this.OpenShowWord = this.$t('message.member_expand');
      } else {
        this.GetVendorList(); // 打开时获取游戏商金额
        this.OpenShow = '-';
        this.OpenShowWord = this.$t('message.member_retract');
      }

      this.$refs.MemberFunMessage.OpenGameBalanceList();
    },

    // 一键取回所有的资金 2019.06.04 SC
    OneKeyCashFlowInFo: async function () {
      if (this.FlowInFo === true) {
        const notifyData = {};
        notifyData.NotifyMessage = this.$t('message.member_wait_seconds');
        EventBus.$emit('showNotifyMemberMessage', notifyData);
        return;
      }
      // 已经在执行接口了 20190618 SC
      if (this.IsRunning === true) {
        return;
      }

      this.$store.dispatch("abortFetch")

      this.IsRunning = true;
      const inputObj = { ReturnAll: true };
      EventBus.$emit('GlobalLoadingTrigger', true);
      const retData = await PersonalCenterService.MemberCashFlowInfo_BackToCWallet(
        inputObj
      );
      EventBus.$emit('GlobalLoadingTrigger', false);
      if (retData.Ret === 0) {
        this.FlowInFo = true;
        const notifyData = {};
        notifyData.NotifyMessage = retData.Message;
        console.log(notifyData);
        EventBus.$emit('showNotifyMemberMessage', notifyData);
        setTimeout(() => {
          this.FlowInFo = false;
        }, 30000);
        EventBus.$emit('ReflashWithdrawData'); // 重新获取初始化数据（主要是刷新可提取金额）
        this.GetBalance(); // 重新获取主账户金额
        this.GetVendorList();
      }
      this.IsRunning = false;
    },

    // 初始化资金状态显示金额
    GetVendorList: async function () {
      // 点击一键取回时，前面接口调用停止 20190924 SC
      const data = await GameService.GetGameMaintainStatus();

      if (data.Ret == 0) {
        const tmpGameVendorList = data.Data.GameAPIVendorMaintainStatusList;
        for (let i = 0; i < tmpGameVendorList.length; i++) {
          tmpGameVendorList[i].VAmount = undefined; // 余额默认为undefined
          tmpGameVendorList[i].BalanceCompleted = false; // 加载中icon显示
        }
        this.TransGameVendorList = tmpGameVendorList;
      }
    }
  },
  components: {
    MemberFunMessage
  }
};
</script>
