<template>
  <contact-us-form :TypeList="TypeList" :LoginStatus="LoginStatus" :Account="Account"></contact-us-form>
</template>

<script>
import { ContactUs } from "@/mod/k03/assets/scripts/comTest/main/contactUs/contactUs.js"
export default {
  mixins: [ContactUs]
}
</script>