.swiper-slid {
    width: 100%;
}

.swiper-slide-btn {
    width: 227px;
    height: 57px;
    border: 2px solid rgba(255, 84, 31, 1);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    text-align: center;

    .img_1 {
        display: block;
    }

    .enter-game {
        display: block;
    }

    img {
        width: 227px;
        height: 57px;
        cursor: pointer;
    }

    &.original {
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, .5);
            border: 2px solid #fff;

            .img_1 {
                display: none;
            }

            .enter-game {
                display: block;
            }
        }
    }
}
