<template>
  <div class="userList-content">
    <h2 class="agency-main-title">
      <span>{{ $t("message.agency_user_list") }}</span>
      <div class="control-bar">
        <img
          class="add-btn"
          :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/add.png?VersionCode'"
          :alt="$t('message.agency_new_button')"
          @click="AddMembers()"
        />
        <img
          class="delete-btn"
          :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/delete.png?VersionCode'"
          @click="DeleteAgents()"
          :alt="$t('message.agency_delete_button')"
        />
      </div>
    </h2>
    <!-- <h5
      style="padding-left: 29px;margin-top: 14px;color:#000"
    >{{$t('message.agency_subordinate_agent')}}</h5>-->
    <div class="purple_cont" style="min-height: 376px;">
      <div class="all_information">
        <div>
          <div class="record_query record_query2" :class="'record_query2_' + $MessageLang">
            <span
              class="record-query-name"
              :class="'record-query-name_' + $MessageLang"
              :title="$t('message.agency_registration_time')"
            >{{ $t("message.agency_registration_time") }}</span>
            <datepicker
              class="common-query-put message-query-put"
              :language="this.$MessageLang"
              v-model="UserDisplayQueryObj.StartTime"
              format="yyyy/MM/dd"
              calendar-class="startdate_calendar"
              :disabled="this.CalendarDisabled"
              :placeholder="$t('message.member_start_time')"
              @selected="selectedStart"
            ></datepicker>
            <span class="record-query-name line">—</span>
            <datepicker
              class="common-query-put message-query-put"
              :language="this.$MessageLang"
              v-model="UserDisplayQueryObj.EndTime"
              format="yyyy/MM/dd"
              calendar-class="enddate_calendar"
              :disabled="this.CalendarDisabled"
              :placeholder="$t('message.member_ending_time')"
              @selected="selectedEnd"
            ></datepicker>
            <span
              class="record-query-name"
              style="margin-left: 12px;"
              :title="$t('message.agency_consumer')"
            >
              {{
              $t("message.agency_consumer")
              }}
            </span>
            <input
              type="text"
              name="PMKeyWord"
              v-model="UserDisplayQueryObj.TitleKeyWord"
              v-validate="{ rules: { regex: Reg.LoginAccount } }"
              :placeholder="$t('message.agency_enter_consumer')"
              class="keyword"
            />
            <!-- <span
              class="record-query-name"
              style="margin-left: 12px;"
              :title="$t('message.agency_agent_hierarchy')"
            >{{$t('message.agency_agent_hierarchy') | simpleContent(10)}}</span>-->
            <!-- <div class="down record-drop">
              <div
                class="d_course"
                v-if="HierarchyList.length ==0 "
                style="text-align: center;"
              >{{$t('message.agency_no_subordinate')}}</div>
              <div
                class="d_course"
                v-else
                @click="ShowDropDown()"
                :title="typeName"
              >{{typeName | simpleContent(24)}}</div>
              <img
                :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/Member/icon_down.png?VersionCode'"
              />
              <keep-alive>
                <div class="down_box">
                  <a
                    class="down_list"
                    v-for="(teamlist,index) in HierarchyList"
                    :key="index"
                    @click="SelectType(teamlist)"
                  >{{teamlist.val}}</a>
                </div>
              </keep-alive>
            </div>-->
            <span class="record-query-name" style="margin-left: 12px;">
              <el-checkbox v-model="checked" @change="userSubordinate()">
                {{
                $t("message.agency_subordinate")
                }}
              </el-checkbox>
            </span>
            <span class="renovate" @click="ResetClick('true')">
              <img
                :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/agencyCenter/a_reset.png'"
              />
            </span>
            <a class="common-searchBtn" href="javascript:void(0);" @click="UpdateQueryCondition()">
              {{
              $t("message.member_search")
              }}
            </a>
          </div>
          <div class="record_agency_error">
            <span
              class="tip1"
              v-show="this.Submitted === true && this.TimeSequenceStart === true"
              style="left: 88px; top: 5px;"
            >{{ $t("message.member_starting_date") }}</span>
            <span
              class="tip1"
              v-show="this.Submitted === true && this.TimeSequenceInvalid === true"
              style="left: 88px; top: 5px;"
            >{{ $t("message.member_greater_than") }}</span>
            <span
              class="tip1"
              v-show="this.Submitted === true && this.TimeSequenceEnd === true"
              style="left: 226px; top: 5px;"
            >{{ $t("message.member_end_date") }}</span>
            <span
              class="tip1"
              v-show="errors.has('PMKeyWord') && fields.PMKeyWord.touched"
              style="top: 5px; left: 396px;"
            >{{ $t("message.login_english_letters") }}</span>
            <!-- <span
              class="tip1"
              v-show="this.Submitted === true && this.dateTimeInterval === true"
              style="left: 485px;top:5px"
            >提示：查询时间间隔不能超过31天</span>-->
          </div>
        </div>
        <user-list-table
          :ReadStatusList="this.ReadStatusList"
          :TotalCount="this.TotalCount"
          :PagingInfo="PagingInfo"
          :HistoricalPath="HistoricalPath"
          :UserDisplayQueryObj="UserDisplayQueryObj"
        ></user-list-table>
      </div>
      <!--分页-->
      <paginate :PageCount="this.PageCount" :PageNo="PagingInfo.PageNo"></paginate>
    </div>
    <add-members ref="AddMembersFun"></add-members>
    <delete-agent ref="DeleteAgentFun"></delete-agent>
    <user-look-detail ref="UserLookDetailFun"></user-look-detail>
    <div class="maxtip" v-if="IsShowAddMember">{{ $t("message.agency_added_successfully") }}</div>
    <div v-show="resigerWord" class="maxtip">{{ $t("message.agency_successful_reset") }}</div>
    <div class="maxtip" v-if="IsShowErrorFlag">{{ errorText }}</div>
  </div>
</template>

<script>
import moment from "moment"
import RegEx from "scripts/common/CommDef"
import EventBus from "scripts/common/EventBus"
import Datepicker from "@/components/main/common/datePicker"
// import Datepicker from 'vuejs-datepicker';
import BLDef from "scripts/common/BLDef"
import AgencyCenterService from "scripts/businessLogic/agencyCenterService"
import CommUtility from "scripts/common/CommUtility"
import Paginate from "@/mod/k19/components/sub/paginate"
import UserListTable from "@/components/sub/agency/userList/userListTable"
import AddMembers from "@/mod/k19/components/sub/agency/userList/addMembers"
import DeleteAgent from "@/components/sub/agency/userList/deleteAgent"
import UserLookDetail from "@/components/sub/agency/userList/userLookDetail"
export default {
  data() {
    return {
      // 正則表達式
      Reg: RegEx.Regex,
      Submitted: false,
      DropDowning: false,
      TimeSequenceInvalid: false,
      TimeSequenceStart: false,
      TimeSequenceEnd: false,
      // dateTimeInterval: false,
      UserDisplayQueryObj: {
        TitleKeyWord: "",
        StartTime: undefined,
        EndTime: undefined,
        MessageType: {},
        StartTick: "",
        EndTick: ""
      },
      PagingInfo: {
        PageSize: 10,
        PageNo: 1
      },
      MessageTypeList: [],
      ReadStatusList: [],
      HierarchyList: [],
      AgentName: [],
      CalendarDisabled: {
        from: new Date(moment().set("hour", 0).set("minute", 0).set("second", 0).add(1, "days").add(-1, "seconds")) // Disable all dates after specific date
      },
      typeName: "",
      // typeId: -1,
      TotalCount: undefined,
      PageCount: undefined,
      HistoricalPath: [
        {
          LoginID: localStorage.getItem("Acct"),
          MemberID: localStorage.getItem("CorrelationIBMemberId")
        }
      ],
      IsShowAddMember: false,
      resigerWord: false,
      fieldsCheck: false,
      IsShowErrorFlag: false,
      errorText: undefined,
      OldHierarchyList: {}, // 存储旧的
      checked: false,
      checkedNextLayer: 0
      // IBListDatas: [],
      // AddMemberName: undefined,
      // AddMemberAcctID: undefined
    }
  },
  mounted: function () {
    this.BindingEvent()
    this.GetMessageType(1)
    CommUtility.BindEnterTrigger("PrivateMessageQueryForm", this.UpdateQueryCondition)
    // 操作失败
    EventBus.$on("UserIsShowError", () => {
      this.errorText = this.$t("message.agency_operation_failed")
      this.IsShowErrorFlag = true
      setTimeout(() => {
        this.IsShowErrorFlag = false
      }, 1000)
    })
    // 监听用户列表数据改变
    EventBus.$on("UseList_ResetReadStatusList", (data) => {
      console.log(data)
      if (localStorage.getItem("typeLevelName")) {
        this.typeName = localStorage.getItem("typeLevelName")
      } else {
        this.typeName = this.$t("message.agency_selection_agent")
      }
      this.ReadStatusList = data.IBUserList
      this.PageCount = Math.ceil(data.PagingInfo.TotalCount / this.PagingInfo.PageSize)
      for (let i = 0; this.ReadStatusList.length > i; i++) {
        this.ReadStatusList[i].NewTime = moment(this.ReadStatusList[i].CreateDateTimeTick).valueOf() - 43200000
      }
    })
    // 监听会员添加成功
    EventBus.$on("UserAddMemberSucc", () => {
      this.IsShowAddMember = true
      setTimeout(() => {
        this.IsShowAddMember = false
      }, 1000)
    })
    // console.log(this.agencyName());
  },
  // 解决点击侧边导航不加载
  computed: {
    agencyName() {
      return this.$store.state.agencyName
    }
  },
  watch: {
    agencyName(val) {
      console.log(val)
      if (val == "webUserList") {
        this.GetMessageType()
      }
    }
  },
  // 解决点击侧边导航不加载
  methods: {
    // 选中开始时间
    selectedStart(date) {
      this.Submitted = true
      let startDate = new Date(this.dateFormat(date) + " 00:00:00")
      this.UserDisplayQueryObj.StartTime = startDate
      this.CheckFied()
    },
    // 选中结束时间
    selectedEnd(date) {
      this.Submitted = true
      let endDate = new Date(this.dateFormat(date) + " 23:59:59")
      this.UserDisplayQueryObj.EndTime = endDate
      this.CheckFied()
    },
    BindingEvent: function () {
      document.addEventListener("click", this.HideDropDown)
    },
    /* 时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化 */
    dateFormat: function (time) {
      const date = new Date(time)
      const year = date.getFullYear()
      /* 在日期格式中，月份是从0开始的，因此要加0
       * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
       * */
      const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
      const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
      // const hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      // const minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      // const seconds = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      /* 拼接 */
      /* return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds; */
      return year + "-" + month + "-" + day
    },
    GetMessageType: async function (PageNo) {
      console.log("11111111111111111111")

      const self = this
      // if (localStorage.getItem('typeLevelID')) {
      //   self.typeId = JSON.parse(localStorage.getItem('typeLevelID'));
      // } else {
      //   self.typeId = -1;
      // }
      self.PagingInfo.PageNo = PageNo
      EventBus.$emit("Paginate_ResetPageNo", self.PagingInfo.PageNo)
      // self.HierarchyList = [];
      const inputObj = {
        ParentID: localStorage.getItem("CorrelationIBMemberId"),
        LoginID: this.UserDisplayQueryObj.TitleKeyWord,
        IsNextLayer: this.checkedNextLayer,
        StartTick: CommUtility.LocalTimeToUtcTicks(self.dateFormat(self.UserDisplayQueryObj.StartTime) + " 00:00:00"),
        EndTick: CommUtility.LocalTimeToUtcTicks(self.dateFormat(self.UserDisplayQueryObj.EndTime) + " 23:59:59", true),
        PagingInfo: {
          PageSize: self.PagingInfo.PageSize,
          PageNo: self.PagingInfo.PageNo
        }
      }
      const data = await AgencyCenterService.IBUserList_Query(inputObj)
      console.log("------------------用户列表数据")
      console.log(self.dateFormat(self.UserDisplayQueryObj.StartTime))
      console.log(self.dateFormat(self.UserDisplayQueryObj.EndTime))
      console.log(inputObj)
      console.log(data)
      console.log("------------------用户列表数据")
      if (data.Ret === BLDef.ErrorRetType.SUCCESS) {
        self.ReadStatusList = data.Data.IBUserList
        // let name = {};
        // let list = [];
        // list = data.Data.HierarchyList;
        // list.unshift(-1);

        // list.forEach(item => {
        //   if (item == -1) {
        //     name = {
        //       id: item,
        //       val: self.$t('message.agency_selection_agent')
        //     };
        //   } else {
        //     name = {
        //       id: item,
        //       val: item + self.$t('message.agency_level_agent')
        //     };
        //   }
        //   self.HierarchyList.push(name);
        // });
        // self.fieldsCheck = false;
        // EventBus.$emit('fieldsCheck', self.fieldsCheck);
        // if (localStorage.getItem('typeLevelName')) {
        //   self.typeName = localStorage.getItem('typeLevelName');
        // } else {
        //   self.typeName = self.HierarchyList[0].val;
        // }
        self.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / self.PagingInfo.PageSize)
        for (let i = 0; self.ReadStatusList.length > i; i++) {
          self.ReadStatusList[i].NewTime = moment(self.ReadStatusList[i].CreateDateTimeTick).valueOf() - 43200000
        }
      } else {
        this.errorText = this.$t("message.agency_operation_failed")
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
      }
    },
    // 新增会员
    AddMembers: function () {
      this.$refs.AddMembersFun.AddMembersOpenWindow()
      // AddMembers.methods.AddMembersOpenWindow();
    },
    // 删除会员
    DeleteAgents: function () {
      this.$refs.DeleteAgentFun.DeleteAgentOpenWindow()
      // DeleteAgent.methods.DeleteAgentOpenWindow();
    },
    // 顯示紀錄類型選單
    ShowDropDown: function () {
      if (this.DropDowning === false) {
        $(".down_box").slideDown(300)
        this.DropDowning = true
      } else {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    // 隱藏紀錄類型選單
    HideDropDown: function (event) {
      const target = $(event.target)
      if (target.closest(".d_course").length === 0) {
        $(".down_box").slideUp(300)
        this.DropDowning = false
      }
    },
    // 選取紀錄類型
    // SelectType: function (item) {
    //   console.log(item);
    //   this.typeName = item.val;
    //   this.typeId = item.id;
    // },
    // 點擊搜索，更新搜尋條件
    UpdateQueryCondition: async function () {
      const self = this
      self.Submitted = true
      const anyFieldInvalid = self.CheckFied()
      if (anyFieldInvalid === true) {
        return
      } // end if
      // localStorage.setItem('typeLevelName', this.typeName);
      // localStorage.setItem('typeLevelID', this.typeId);
      // self.HierarchyList = [];
      self.PagingInfo.PageNo = 1
      EventBus.$emit("Paginate_ResetPageNo", self.PagingInfo.PageNo)
      console.log(self.PagingInfo.PageNo)
      // self.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];
      self.Submitted = true

      const inputObj = {
        ParentID: localStorage.getItem("CorrelationIBMemberId"),
        LoginID: this.UserDisplayQueryObj.TitleKeyWord,
        IsNextLayer: this.checkedNextLayer,
        StartTick: CommUtility.LocalTimeToUtcTicks(self.dateFormat(self.UserDisplayQueryObj.StartTime) + " 00:00:00"),
        EndTick: CommUtility.LocalTimeToUtcTicks(self.dateFormat(self.UserDisplayQueryObj.EndTime) + " 23:59:59", true),
        PagingInfo: {
          PageSize: self.PagingInfo.PageSize,
          PageNo: self.PagingInfo.PageNo
        }
      }
      console.log("------------------用户列表搜索查询的数据")
      const data = await AgencyCenterService.IBUserList_Query(inputObj)
      console.log("------------------用户列表搜索查询的数据")
      console.log(inputObj)
      console.log(self.dateFormat(self.UserDisplayQueryObj.StartTime))
      console.log(self.dateFormat(self.UserDisplayQueryObj.EndTime))
      console.log(data)
      if (data.Ret === 0) {
        self.ReadStatusList = data.Data.IBUserList
        // this.HierarchyList = data.Data.HierarchyList;
        // this.HierarchyList.unshift(-1);
        // let name = {};
        // let list = [];
        // list = data.Data.HierarchyList;
        // list.unshift(-1);
        // self.HierarchyList = [];
        // list.forEach(item => {
        //   if (item == -1) {
        //     name = {
        //       id: item,
        //       val: self.$t('message.agency_selection_agent')
        //     };
        //   } else {
        //     name = {
        //       id: item,
        //       val: item + self.$t('message.agency_level_agent')
        //     };
        //   }
        //   self.HierarchyList.push(name);
        // });

        // self.typeName = self.HierarchyList[0].id;
        self.PageCount = Math.ceil(data.Data.PagingInfo.TotalCount / self.PagingInfo.PageSize)
        for (let i = 0; self.ReadStatusList.length > i; i++) {
          self.ReadStatusList[i].NewTime = moment(self.ReadStatusList[i].CreateDateTimeTick).valueOf() - 43200000
        }
      } else {
        this.errorText = this.$t("message.agency_operation_failed")
        this.IsShowErrorFlag = true
        setTimeout(() => {
          this.IsShowErrorFlag = false
        }, 1000)
      }
    },
    // 驗證搜尋欄位正確性
    CheckFied: function () {
      let anyInvalid = false
      this.TimeSequenceInvalid = false
      this.TimeSequenceStart = false
      this.TimeSequenceEnd = false
      // this.dateTimeInterval = false;
      // 開始日期大於結束日期
      // 開始時間未選
      // if (this.UserDisplayQueryObj.StartTime === undefined) {
      //   anyInvalid = true;
      // }
      // 結束時間未選
      // if (this.UserDisplayQueryObj.EndTime === undefined) {
      //   anyInvalid = true;
      // }
      if (this.UserDisplayQueryObj.StartTime !== undefined && this.UserDisplayQueryObj.EndTime === undefined) {
        this.TimeSequenceEnd = true
        anyInvalid = true
      }
      if (this.UserDisplayQueryObj.StartTime === undefined && this.UserDisplayQueryObj.EndTime !== undefined) {
        this.TimeSequenceStart = true
        anyInvalid = true
      }

      // 開始日期大於結束日期
      if (this.UserDisplayQueryObj.StartTime !== undefined && this.UserDisplayQueryObj.EndTime !== undefined) {
        // const st = new Date(this.UserDisplayQueryObj.StartTime).getTime();
        // const dt = new Date(this.UserDisplayQueryObj.EndTime).getTime();
        // const day = dt - st;
        // if (Math.floor(day / (24 * 3600 * 1000)) > 31) {
        //   this.dateTimeInterval = true;
        //   anyInvalid = true;
        // }

        if (
          new Date(this.UserDisplayQueryObj.StartTime).getTime() > new Date(this.UserDisplayQueryObj.EndTime).getTime()
        ) {
          this.TimeSequenceInvalid = true
          anyInvalid = true
        }
      }

      // 類型未選
      // if (this.DisplayQueryObj.Type.Value === '-2') {
      //     anyInvalid = true;
      // }
      return anyInvalid
    },
    // 用户列表分页 20190517 LMX
    GetCurrentPageData: async function (pageNo) {
      console.log(pageNo)
      if (pageNo !== undefined) {
        this.PagingInfo.PageNo = pageNo
      }
      this.GetMessageType(pageNo)
    }, // end GetCurrentPageData
    // 重置
    ResetClick: async function (val) {
      console.log(val)

      this.UserDisplayQueryObj.StartTime = undefined
      this.UserDisplayQueryObj.EndTime = undefined
      this.TimeSequenceInvalid = false
      this.TimeSequenceStart = false
      this.TimeSequenceEnd = false
      this.UserDisplayQueryObj.TitleKeyWord = ""
      this.PagingInfo.PageNo = 1
      this.checked = false
      this.checkedNextLayer = 0
      EventBus.$emit("Paginate_ResetPageNo", this.PagingInfo.PageNo)
      // this.HistoricalPath = [
      //   {
      //     LoginID: localStorage.getItem('Acct'),
      //     MemberID: localStorage.getItem('CorrelationIBMemberId')
      //   }
      // ];

      // this.typeName = this.HierarchyList[0].val;
      // this.typeId = -1;

      console.log(this.dateFormat(this.UserDisplayQueryObj.StartTime))
      console.log(this.dateFormat(this.UserDisplayQueryObj.EndTime))
      if (val == "true") {
        // this.succeededText = data.Message;
        this.resigerWord = true
        setTimeout(() => {
          this.resigerWord = false
        }, 1000)
      }
      // if (this.QueryType === 'BettingRecord') {
      //   this.AgencyBetting(1, val);
      // } else if (this.QueryType === 'Recharge') {
      //   this.AgencyRecharge(1, val);
      // } else if (this.QueryType === 'Withdrawal') {
      //   this.AgencyWithdrawal(1, val);
      // } else if (this.QueryType === 'zhanCheng') {
      //   this.AgencyZCheng(1, val);
      // } else if (this.QueryType === 'CodeCommission') {
      //   this.AgencyCodeCommission(1, val);
      // }
    },
    userSubordinate: function () {
      console.log(this.checked)
      if (this.checked) {
        this.checkedNextLayer = 1
      } else {
        this.checkedNextLayer = 0
      }
    }
  },
  beforeDestroy: function () {
    localStorage.removeItem("typeLevelName")
    localStorage.removeItem("typeLevelID")
  },
  components: {
    UserListTable,
    Datepicker,
    Paginate,
    AddMembers,
    DeleteAgent,
    UserLookDetail
  }
}
</script>
