<template>
  <div id="selfTreatmentForm" class="alert_box_content rake_alert_box re_h agency-selfTreatment">
    <span class="alert_close" @click="CloseSelfTreatmentForm()">
      <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
    </span>
    <div class="purple_cont">
      <h2 class="phone_title">
        <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/MemberNew/p_line.png'" />
        {{$t('message.agency_programme_details')}}
      </h2>
      <!-- 自身待遇 -->
      <self-treatment ref="treatment"></self-treatment>
    </div>
  </div>
</template>

<script>
import EventBus from "@/assets/scripts/common/EventBus.js"
import CommUtility from "@/assets/scripts/common/CommUtility.js"
import SelfTreatment from "@/mod/k14/components/sub/agency/treatment/selfTreatment.vue"
export default {
  data() {
    return {
      userMementID: undefined
    }
  },
  mounted() {
    EventBus.$on("lookOverDetail", (data) => {
      this.$refs["treatment"].loadSelfPage(data.MemberID)
      this.StartSelfTreatmentMethod()
    })
  },
  components: {
    SelfTreatment
  },
  methods: {
    // 開啟視窗
    StartSelfTreatmentMethod: function () {
      CommUtility.WebShowAlertboxForm("selfTreatmentForm")
    }, // end OpenWindow

    // 關閉彈窗
    CloseSelfTreatmentForm: function () {
      CommUtility.WebClosealertboxForm("selfTreatmentForm")
    } // end CloseWindow
    // filedsCommon: function () {
    //   this.fieldsCommon = true;
    // }
  }
}
</script>
