<template>
    <div class="item1" >
        <ul class="novice_left_nav tab_click fl">
            <div class="novice_top"></div>
            <li class="Skill_LiBaccarat" :class="SkillType == BettingTipsType.Baccarat ? 'hasSelece' : ''">
                <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Baccarat; PageNo = 1;Slide('Skill_LiBaccarat')"><i class="novice_icon_1"></i>{{$t('message.tutorial_baccarat')}}</a>
            </li>
            <li class="Skill_LiRoulette" :class="SkillType == BettingTipsType.Roulette ? 'hasSelece' : ''">
                <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Roulette; PageNo = 1;Slide('Skill_LiRoulette')"><i class="novice_icon_4"></i>{{$t('message.tutorial_roulette')}}</a>
            </li>
            <li class="Skill_LiSicbo" :class="SkillType == BettingTipsType.Sicbo ? 'hasSelece' : ''">
                <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Sicbo; PageNo = 1;Slide('Skill_LiSicbo')"><i class="novice_icon_3"></i>{{$t('message.tutorial_cussec')}}</a>
            </li>
            <li class="Skill_LiSports" :class="SkillType == BettingTipsType.Sports ? 'hasSelece' : ''">
              <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Sports; PageNo = 1;Slide('Skill_LiSports');GetContent('SportRules/4.SportBettingRules/SportBettingRules');GetFirstList('.SkillLiSport_Rules');"><i class="novice_icon_6"></i>{{$t('message.nav_lottery')}}</a>
              <ul class="explain_down">
                <li>
                  <h3 class="SkillLiSport_Rules"
                      @click="GetContent('SportRules/4.SportBettingRules/SportBettingRules');
                                ChildSlide('SkillLiSport_Rules')">{{$t('message.tutorial_rules_betting')}}</h3>
                  <h3 class="SkillLiSport_Explain"
                      @click="GetContent('SportRules/0.Precautions/Precautions');
                                ChildSlide('SkillLiSport_Explain');GetFirstList('1', '.Notification')">{{$t('message.tutorial_sports_description')}}</h3>
                  <ul class="explain_list">
                      <li>
                          <h3 class="Notification" @click="ChildSlide('Notification');GetContent('SportRules/0.Precautions/Precautions')">{{$t('message.tutorial_points_attention')}}</h3>
                          <h3 class="RegularRules" @click="ChildSlide('RegularRules');GetContent('SportRules/1.RegularRules/1.1GeneralRules/GeneralRules');GetFirstList('.RegularRules_GeneralRules');">{{$t('message.tutorial_rules_regulations')}}</h3>
                          <ul class="explain_list explain_list2">
                            <li>
                              <h3 class="RegularRules_GeneralRules"
                                  @click="GetContent('SportRules/1.RegularRules/1.1GeneralRules/GeneralRules');
                                  ChildSlide('RegularRules_GeneralRules');">{{$t('message.tutorial_general_rules')}}</h3>
                              <h3 class="RegularRules_TerminationAndDelay"
                                  @click="GetContent('SportRules/1.RegularRules/1.2TerminationAndDelay/TerminationAndDelay');
                                  ChildSlide('RegularRules_TerminationAndDelay')">{{$t('message.tutorial_discontinue')}}</h3>
                              <h3 class="RegularRules_SiteChange"
                                  @click="GetContent('SportRules/1.RegularRules/1.3SiteChange/SiteChange');
                                  ChildSlide('RegularRules_SiteChange')">{{$t('message.tutorial_site_change')}}</h3>
                              <h3 class="RegularRules_GamePlayingTime"
                                  @click="GetContent('SportRules/1.RegularRules/1.4GamePlayingTime/GamePlayingTime');
                                  ChildSlide('RegularRules_GamePlayingTime')">{{$t('message.tutorial_match_time')}}</h3>
                              <h3 class="RegularRules_GameResult"
                                  @click="GetContent('SportRules/1.RegularRules/1.5GameResult/GameResult');
                              ChildSlide('RegularRules_GameResult')">{{$t('message.tutorial_amidithion')}}</h3>
                              <h3 class="RegularRules_AutoClockAcceptFunction"
                                  @click="GetContent('SportRules/1.RegularRules/1.6AutoClockAcceptFunction/AutoClockAcceptFunction');
                                  ChildSlide('RegularRules_AutoClockAcceptFunction')">{{$t('message.tutorial_acceptance_function')}}</h3>
                            </li>
                          </ul>
                          <h3 class="BettingRules" @click="ChildSlide('BettingRules');GetContent('SportRules/2.BettingRules/2.1GeneralRules/1ChampionBetting/ChampionBetting');GetFirstList('.BettingRules_GeneralRules');">{{$t('message.tutorial_gambling_plate')}}</h3>
                          <ul class="explain_list explain_list2">
                            <li>
                              <h3 class="BettingRules_GeneralRules" @click="ChildSlide('BettingRules_GeneralRules');GetContent('SportRules/2.BettingRules/2.1GeneralRules/1ChampionBetting/ChampionBetting');">{{$t('message.tutorial_general_rules')}}</h3>
                              <div class="explain_list explain_list31">
                                <h3 class="BettingRules_GeneralRules_ChampionBetting" :class="ATagHasSelectFlag == 'ChampionBetting'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/1ChampionBetting/ChampionBetting');
                                      ChangeHasSelect('ChampionBetting')">{{$t('message.tutorial_champion_betting')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'WinningBetting'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/2WinningBetting/WinningBetting');
                                      ChangeHasSelect('WinningBetting')">{{$t('message.tutorial_winningLosing_plate')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'HDP'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/3HDP/HDP');
                                      ChangeHasSelect('HDP')">{{$t('message.tutorial_ball_plate')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'SmallOrBig'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/4SmallOrBig/SmallOrBig');
                                      ChangeHasSelect('SmallOrBig')">{{$t('message.tutorial_size_plate')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'OE'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/5OE/OE');
                                      ChangeHasSelect('OE')">{{$t('message.tutorial_singleDouble_disks')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'SingleTeamOE'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/6SingleTeamOE/SingleTeamOE');
                                      ChangeHasSelect('SingleTeamOE')">{{$t('message.tutorial_single_team')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'GameOE'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/7GameOE/GameOE');
                                      ChangeHasSelect('GameOE')">{{$t('message.tutorial_stadium')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'MixParlays'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.1GeneralRules/8MixParlays/MixParlays');
                                      ChangeHasSelect('MixParlays')">{{$t('message.tutorial_mix_parlays')}}</h3>
                              </div>

                              <h3 class="BettingRules_SoccerBettingType" @click="ChildSlide('BettingRules_SoccerBettingType');GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/0General/General');">{{$t('message.tutorial_football_betting')}}</h3>
                              <div class="explain_list explain_list3" >
                                <h3 class="BettingRules_GeneralRules_Explain" :class="ATagHasSelectFlag == 'General'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/0General/General');
                                      ChangeHasSelect('General')">{{$t('message.tutorial_explain')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Wave'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/1Wave/Wave');
                                      ChangeHasSelect('Wave')">{{$t('message.tutorial_wave_bladder')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Goal'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/2Goal/Goal');
                                      ChangeHasSelect('Goal')">{{$t('message.tutorial_goal')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'SmallOrBig'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/3SmallOrBig/SmallOrBig');
                                      ChangeHasSelect('SmallOrBig')">{{$t('message.tutorial_size_plate')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'PenaltyKick'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/4PenaltyKick/PenaltyKick');
                                      ChangeHasSelect('PenaltyKick')">{{$t('message.tutorial_penalty_kick')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Score'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/5Score/Score');
                                      ChangeHasSelect('Score')">{{$t('message.tutorial_score')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Victory'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/6Victory/Victory');
                                      ChangeHasSelect('Victory')">{{$t('message.tutorial_triumph')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'HDP'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/7HDP/HDP');
                                      ChangeHasSelect('HDP')">{{$t('message.tutorial_allow_parting')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Forecast'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/8Forecast/Forecast');
                                      ChangeHasSelect('Forecast')">{{$t('message.tutorial_forecast')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'CertainTimeBetting'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/9CertainTimeBetting/CertainTimeBetting');
                                      ChangeHasSelect('CertainTimeBetting')">{{$t('message.tutorial_specific_time')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Team'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/10Team/Team');
                                      ChangeHasSelect('Team')">{{$t('message.tutorial_ranks')}}</h3>
                                <h3 :class="ATagHasSelectFlag == 'Others'?'hasSelect':''"
                                   @click="GetContent('SportRules/2.BettingRules/2.2SoccerBettingType/11Others/Others');
                                      ChangeHasSelect('Others')">{{$t('message.tutorial_other')}}</h3>
                              </div>
                            </li>
                          </ul>
                          <h3 class="CertainGameRules" @click="ChildSlide('CertainGameRules');GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/1Soccer/Soccer');GetFirstList('.CertainGameRules_BallGameRules');">{{$t('message.tutorial_specific_events')}}</h3>
                          <ul class="explain_list explain_list4">
                            <li>
                              <h3 class="CertainGameRules_BallGameRules" @click="ChildSlide('CertainGameRules_BallGameRules');GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/1Soccer/Soccer');">{{$t('message.tutorial_ball_rule')}}</h3>
                              <div class="explain_list explain_list5">
                                <a :class="ATagHasSelectFlag == 'Soccer'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/1Soccer/Soccer');
                                    ChangeHasSelect('Soccer')">{{$t('message.tutorial_football')}}</a>
                                <a :class="ATagHasSelectFlag == 'Basketball'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/2Basketball/Basketball');
                                    ChangeHasSelect('Basketball')">{{$t('message.tutorial_basketball')}}</a>
                                <a :class="ATagHasSelectFlag == 'BaseBall'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/3BaseBall/BaseBall');
                                    ChangeHasSelect('BaseBall')">{{$t('message.tutorial_baseball')}}</a>
                                <a :class="ATagHasSelectFlag == 'Tennis'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/4Tennis/Tennis');
                                    ChangeHasSelect('Tennis')">{{$t('message.tutorial_tennis')}}</a>
                                <a :class="ATagHasSelectFlag == 'Badminton'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/5Badminton/Badminton');
                                    ChangeHasSelect('Badminton')">{{$t('message.tutorial_badminton')}}</a>
                                <a :class="ATagHasSelectFlag == 'TableTennis'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/6TableTennis/TableTennis');
                                    ChangeHasSelect('TableTennis')">{{$t('message.tutorial_table_tennis')}}</a>
                                <a :class="ATagHasSelectFlag == 'ValleyballAndSandValleyBall'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/7ValleyballAndSandValleyBall/ValleyballAndSandValleyBall');
                                    ChangeHasSelect('ValleyballAndSandValleyBall')">{{$t('message.tutorial_beach_volleyball')}}</a>
                                <a :class="ATagHasSelectFlag == '8Hockey'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/8Hockey/Hockey');
                                    ChangeHasSelect('8Hockey')">{{$t('message.tutorial_hockey_ball')}}</a>
                                <a :class="ATagHasSelectFlag == 'SnookerAndBilliards'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/9SnookerAndBilliards/SnookerAndBilliards');
                                    ChangeHasSelect('SnookerAndBilliards')">{{$t('message.tutorial_billiards')}}</a>
                                <a :class="ATagHasSelectFlag == 'Golf'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/10Golf/Golf');
                                    ChangeHasSelect('Golf')">{{$t('message.tutorial_golf')}}</a>
                                <a :class="ATagHasSelectFlag == 'HandBall'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/11HandBall/HandBall');
                                    ChangeHasSelect('HandBall')">{{$t('message.tutorial_handball')}}</a>
                                <a :class="ATagHasSelectFlag == 'WaterBall'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/12WaterBall/WaterBall');
                                    ChangeHasSelect('WaterBall')">{{$t('message.tutorial_water_polo')}}</a>
                                <a :class="ATagHasSelectFlag == 'Cricket'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/13Cricket/Cricket');
                                    ChangeHasSelect('Cricket')">{{$t('message.tutorial_cricket')}}</a>
                                <a :class="ATagHasSelectFlag == 'RugbyUnion'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/14RugbyUnion/RugbyUnion');
                                    ChangeHasSelect('RugbyUnion')">{{$t('message.tutorial_rugby_union')}}</a>
                                <a :class="ATagHasSelectFlag == 'Squash'?'hasSelect':''"
                                   @click="GetContent('SportRules/3.CertainGameBettingRules/3.1BallGameRules/15Squash/Squash');
                                    ChangeHasSelect('Squash')">{{$t('message.tutorial_squash')}}</a>
                              </div>
                              <h3 class="CertainGameRules_OthersSportRules"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.2OthersSportRules/OthersSportRules');
                                ChildSlide('CertainGameRules_OthersSportRules')">{{$t('message.tutorial_sport_event')}}</h3>
                              <h3 class="CertainGameRules_WinterOlympicRules"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.3WinterOlympicRules/WinterOlympicRules');
                                ChildSlide('CertainGameRules_WinterOlympicRules')">{{$t('message.tutorial_winter_olympics')}}</h3>
                              <h3 class="CertainGameRules_Olympic"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.4Olympic/Olympic');
                                ChildSlide('CertainGameRules_Olympic')">{{$t('message.tutorial_olympic_games')}}</h3>
                              <h3 class="CertainGameRules_UKAndIrelandFixedOddsRacing"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.5UKAndIrelandFixedOddsRacing/UKAndIrelandFixedOddsRacing');
                                ChildSlide('CertainGameRules_UKAndIrelandFixedOddsRacing')">{{$t('message.tutorial_fixed_odds')}}</h3>
                              <h3 class="CertainGameRules_RacingCar"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.6RacingCar/RacingCar');
                                ChildSlide('CertainGameRules_RacingCar')">{{$t('message.tutorial_racing')}}</h3>
                              <h3 class="CertainGameRules_RacingHorseSpecialBetting"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.7RacingHorseSpecialBetting/RacingHorseSpecialBetting');
                                ChildSlide('CertainGameRules_RacingHorseSpecialBetting')">{{$t('message.tutorial_special_bets')}}</h3>
                              <h3 class="CertainGameRules_ElectronicGames"
                                  @click="GetContent('SportRules/3.CertainGameBettingRules/3.8ElectronicGames/ElectronicGames');
                                ChildSlide('CertainGameRules_ElectronicGames')">{{$t('message.tutorial_electronic_sports')}}</h3>
                            </li>
                          </ul>
                      </li>
                  </ul>

                </li>
              </ul>
            </li>
            <li class="Skill_LiLottery" :class="SkillType == BettingTipsType.Lottery ? 'hasSelece' : ''">
              <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Lottery; PageNo = 1;Slide('Skill_LiLottery');GetContent('LotterySkills/0.KenoSkills/KenoSkills');GetFirstList('.SkillLiLottery_Keno');"><i class="novice_icon_7"></i>{{$t('message.nav_betting')}}</a>
              <ul class="explain_down">
                <li>
                  <h3 class="SkillLiLottery_Keno"
                      @click="GetContent('LotterySkills/0.KenoSkills/KenoSkills');
                                ChildSlide('SkillLiLottery_Keno')">{{$t('message.tutorial_happy_lust')}}</h3>
                  <h3 class="SkillLiLottery_SSC"
                      @click="GetContent('LotterySkills/1.EveryColorSkills/EveryColorSkills');
                                ChildSlide('SkillLiLottery_SSC')">{{$t('message.tutorial_XJSSC')}}</h3>
                  <h3 class="SkillLiLottery_PK10"
                      @click="GetContent('LotterySkills/2.PK10/PK10');
                                ChildSlide('SkillLiLottery_PK10')">{{$t('message.tutorial_PKTen')}}</h3>
                  <h3 class="SkillLiLottery_HK"
                      @click="GetContent('LotterySkills/3.HongKongLottery/HongKongLottery');
                                ChildSlide('SkillLiLottery_HK')">{{$t('message.tutorial_lotto')}}</h3>
                </li>
              </ul>
            </li>

            <li class="Skill_LiOther" :class="SkillType == BettingTipsType.Other ? 'hasSelece' : ''">
                <a href="javascript:void(0);" @click="SkillType = BettingTipsType.Other; PageNo = 1;Slide('Skill_LiOther')"><i class="novice_icon_5"></i>{{$t('message.tutorial_other')}}</a>
            </li>
        </ul>

        <div class="novice_right_course fr">
            <!--百家乐-->
            <div class="kn_item n_item1" v-show="SkillType == BettingTipsType.Baccarat">
                <!--第一页-->
                <ul id="Page1" class="news_list_box news_list_box_1" v-show="PageNo == 1">
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(1)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_control_yourself')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_betting_chips')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(2)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_game_mode')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_nonProfessional_players')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(3)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_player_selection')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_self_condition')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(4)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_insurance_betting')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_insurance')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(5)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_double_betting')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_great_number')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(6)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_single_technique')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_psychological_construction')}}
                            </p>
                        </div>
                    </li>
                </ul>

                <!--第二页-->
                <ul id="Page2" class="news_list_box news_list_box_1" v-show="PageNo == 2">
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(7)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_advancedPurchase_method')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_buying_methods')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(8)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_card_table')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_continuous_transportation')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(9)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_strategic_skills')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_dedicated_betting')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(10)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_five_smallRounds')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_gambling_party')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(11)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_twoStar_code')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_commodities')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(12)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_grade_up')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_staircase_cable')}}
                            </p>
                        </div>
                    </li>
                </ul>
                <!--分页-->
                <ul class="news_page_block" style="width: 80px;">
                    <a href="javascript:void(0);" @click="PageNo = 1"><li :class="PageNo == 1 ? 'first_li active' : 'first_li'">1</li></a>
                    <a href="javascript:void(0);" @click="PageNo = 2"><li :class="PageNo == 2 ? 'active' : ''">2</li></a>
                </ul>
            </div>

            <!--轮盘-->
            <div class="kn_item n_item2" v-show="SkillType == BettingTipsType.Roulette">
                <ul class="news_list_box news_list_box_1">
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(1)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_repeated_betting')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_money_roulette')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(2)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_prove_effective')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_minor_points')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(3)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_tenths_certain')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_online_games')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(4)">
                            <p class="news_p_1 novice_title"> {{$t('message.tutorial_average_bet')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_redBlack_trend')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(5)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_snatches_treasures')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_patient_urgency')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(6)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_most_practical')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_dozen_play')}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--骰宝-->
            <div class="kn_item n_item3" v-show="SkillType == BettingTipsType.Sicbo">
                <ul class="news_list_box news_list_box_1">
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(1)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_three_risks')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_summarize_experience')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(2)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_roll_dice')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_dice_game')}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--体育博彩-->
            <div class="kn_item n_item4" v-show="SkillType == BettingTipsType.Sports">
              <div class="skill_course skill-sport-course fl" v-html="this.SkillContent"></div>
            </div>

            <!--彩票投注-->
            <div class="kn_item n_item5" v-show="SkillType == BettingTipsType.Lottery">
              <div class="skill_course skill-lottery-course fl" v-html="this.SkillContent"></div>
            </div>

            <!--其他-->
            <div class="kn_item n_item6" v-show="SkillType == BettingTipsType.Other">
                <ul class="news_list_box news_list_box_1">
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(1)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_texas')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_three_categories')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(2)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_secret_books')}} </p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_defensive_strategies')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(3)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_baccarat_experience')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_gambler')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(4)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_chronological_colour')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_cCapital_chain')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(5)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_arbitrarily')}}</p>
                            <p class="news_p_2">
                               {{$t('message.tutorial_great_many')}}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="news_list_right news_list_right_1" @click="Record(6)">
                            <p class="news_p_1 novice_title">{{$t('message.tutorial_double_bet')}}</p>
                            <p class="news_p_2">
                                {{$t('message.tutorial_lottery_enthusiast')}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
import URLService from 'scripts/common/URLService';
import HttpService from 'scripts/common/HttpService';

export default {

    data() {
        return {
            SkillType: 'Baccarat',

            BettingTipsType: {
                Baccarat: 'Baccarat',
                Roulette: 'Roulette',
                Sicbo: 'Sicbo',
                Sports: 'Sports',
                Lottery: 'Lottery',
                Other: 'Other',
            },
            SkillContent: undefined, // 体育博彩跟彩票投注的内容展示区
            ATagHasSelectFlag: undefined,

            PageNo: 1,

            // 錨點暫存物件
            AnchorDataObject: {
                Anchor: undefined,
                SkillType: undefined,
                PageNo: undefined,
                FromDetail: false,
            },
        };
    },

    created: function () {
        this.GoToAnchor();
    },

    methods: {
        // 獲得內容
        GetContent: async function (target) {
          const path = '/static/TutorialSkills/' + target + '.html?VersionCode';
          const temp = await HttpService.GetContent(path);
          this.SkillContent = temp;
        }, // end GetContent
        // 左侧导航进入有下层级的 默认打开第一阶
        GetFirstList: function (targetClass1, targetClass2) {
          $(targetClass1).addClass('hasSelect').siblings('h3').removeClass('hasSelect');
          $(targetClass2).addClass('hasSelect').siblings('h3').removeClass('hasSelect');
        }, // end GetFirstList
        Slide: function (targetClass) {
          $('.' + targetClass).children('.explain_down').stop();
          if ($('.' + targetClass).hasClass('hasSelece')) {
            // $('.' + targetClass).removeClass('hasSelece');
            $('.' + targetClass).siblings('li').children('.explain_down').slideUp();
            $('.' + targetClass).find('.hasSelect').siblings('.explain_list').slideUp();
          } else {
            $('.explain_list').slideUp();
            // $('.' + targetClass).addClass('hasSelece').siblings('.hasSelece').removeClass('hasSelece');
            $('.' + targetClass).children('.explain_down').slideDown();
            $('.' + targetClass).siblings('li').children('.explain_down').slideUp();
          }
        }, // end Slide

        // 子項目下拉動作
        ChildSlide: function (targetClass) {
          // $('.' + targetClass).siblings('.explain_list').stop();
          // if ($('.' + targetClass).hasClass('hasSelect')) {
          //   // $('.' + targetClass).removeClass('hasSelect');
          //   $('.' + targetClass).next('ul').removeClass('hasSelect');
          //   $('.' + targetClass).siblings('.explain_list').slideUp();
          //   $('.' + targetClass).next('.explain_list').slideDown().stop();
          //   return;
          // } else {
          //   console.log('==============================' + this.FirstListNum);
          //   $('.' + targetClass).addClass('hasSelect');
          //   $('.' + targetClass).siblings('.explain_list').slideUp();
          //   // $('.' + targetClass).siblings('.explain_list').children('ul').children('.explain_list').slideUp();
          //   $('.' + targetClass).siblings('.explain_list').find('.explain_list').slideUp();
          //   // $('.' + targetClass).parents('.explain_list').slideDown().stop();
          //   $('.' + targetClass).siblings('h3').removeClass('hasSelect');
          //   $('.' + targetClass).siblings('.explain_list').find('h3').removeClass('hasSelect');
          //   // $('.' + targetClass).parents('.explain_list').stop();
          //   // $('.explain_list').slideUp();
          //   $('.' + targetClass).next('.explain_list').slideDown();
          // }

          if ($('.' + targetClass).hasClass('hasSelect')) {
            // $('.' + targetClass).removeClass('hasSelect');
            $('.' + targetClass).siblings('.explain_list').find('.explain_list').slideUp();
          } else {
            $('.novice_left_nav>li .explain_down li ul li ul li div h3').removeClass('hasSelect');
            $('.' + targetClass).addClass('hasSelect');
            $('.' + targetClass).siblings('h3').removeClass('hasSelect');
            $('.' + targetClass).siblings('.explain_list').slideUp();
            $('.' + targetClass).next('.explain_list').slideDown();
            $('.' + targetClass).next('.explain_list').find('.explain_list31').slideDown();
            // $('.' + targetClass).siblings('.explain_list').find('.explain_list').slideUp();
          }
        }, // end ChildSlide

      ChildChildSlide: function (targetClass) {
        if ($('.' + targetClass).hasClass('hasSelect')) {
          // $('.' + targetClass).removeClass('hasSelect');
        } else {
          $('.' + targetClass).addClass('hasSelect');
          $('.' + targetClass).siblings('h3').removeClass('hasSelect');
          $('.' + targetClass).next('.explain_list').slideDown();
          $('.' + targetClass).siblings('.explain_list').find('.explain_list').slideUp();
        }
      },

        // 切換子項目被選擇的旗標
        ChangeHasSelect: function (targetTag) {
          this.ATagHasSelectFlag = targetTag;
        }, // end ChangeHasSelect


        // 紀錄錨點資料
        Record: function (item) {
            console.log('1111111111111111111111111111111111111111111111111111111111111111111111111111111' );
            console.log($(window).scrollTop());
            this.AnchorDataObject.Anchor = $(window).scrollTop();
            this.AnchorDataObject.PageNo = this.PageNo;
            this.AnchorDataObject.SkillType = this.SkillType;
            localStorage.setItem('tutorialListAnchor', URLService.GetUrlParameterFromObj(this.AnchorDataObject));
            this.$router.push( { name: 'webTutorialSkillsDetail', params: { BettingTipsType: this.SkillType, Item: item } });
        }, // end Record

        // 移至錨點
        GoToAnchor: function () {
            if (localStorage.getItem('tutorialListAnchor')) {
                const tempObj = URLService.GetObjFromUrlParameter(localStorage.getItem('tutorialListAnchor'));
                if (tempObj.FromDetail) {
                    const self = this;
                    setTimeout(function () {
                        console.log('1111111111111111111111111111111111111111111111111111111111111111111111111111111' );
                        console.log(tempObj);
                        self.PageNo = tempObj.PageNo;
                        self.SkillType = tempObj.SkillType;
                        $(window).scrollTop( tempObj.Anchor);
                        localStorage.removeItem('tutorialListAnchor');
                    }, 0);
                } // end if
            } // end if
        }, // end GoToAnchor
    }

};
</script>
