<template>
  <div class="item2">
    <ul class="novice_left_nav novice_left_nav2 fl">
      <div class="novice_top"></div>
      <li :class="GameRuleNum == GameRuleType.Baccarat ? 'hasSelece' : ''">
        <a href="javascript:void(0);" @click="GameRuleNum = GameRuleType.Baccarat">
          <i class="novice_icon_1"></i>
          {{$t('message.tutorial_baccarat')}}
        </a>
      </li>
      <li :class="GameRuleNum == GameRuleType.DragonAndTiger ? 'hasSelece' : ''">
        <a href="javascript:void(0);" @click="GameRuleNum = GameRuleType.DragonAndTiger">
          <i class="novice_icon_2"></i>
          {{$t('message.tutorial_dragon_tiger')}}
        </a>
      </li>
      <li :class="GameRuleNum == GameRuleType.Roulette ? 'hasSelece' : ''">
        <a href="javascript:void(0);" @click="GameRuleNum = GameRuleType.Roulette">
          <i class="novice_icon_4"></i>
          {{$t('message.tutorial_roulette')}}
        </a>
      </li>
      <li :class="GameRuleNum == GameRuleType.Sicbo ? 'hasSelece' : ''">
        <a href="javascript:void(0);" @click="GameRuleNum = GameRuleType.Sicbo">
          <i class="novice_icon_3"></i>
          {{$t('message.tutorial_cussec')}}
        </a>
      </li>
    </ul>

    <div class="novice_right_course fr">
      <div class="n_item n_item1" v-show="GameRuleNum == GameRuleType.Baccarat">
        <div class="nov_tab_content">
          <div class="novice_fonts_1">
            <p class="fonts_1_1">{{$t('message.tutorial_baccarat')}}</p>
            <p class="fonts_1_2">BACCARAT</p>
          </div>
          <p
            class="novice_fonts_2"
          >{{$t('message.tutorial_traditional_baccarat')}}{{this.LogoName}}{{$t('message.tutorial_super_baccarat')}}</p>
          <!--画面截图-->
          <img
            class="nov_pic"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/pic_1.jpg?VersionCode'"
          />

          <p class="novice_fonts_3 first_p">{{$t('message.tutorial_howTo_win')}}</p>
          <p class="novice_fonts_4">{{$t('message.tutorial_two_cards')}}</p>
          <p class="novice_fonts_3">{{$t('message.tutorial_guidelines_notes')}}</p>
          <ul class="big_project">
            <li class="first_li">
              <div class="novice_fonts_5">1</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_click_footnote')}}</p>
                  <p>{{$t('message.tutorial_place_Abet')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">2</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_leisure_farmer')}}</p>
                  <p>{{$t('message.tutorial_totality')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">3</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_bob_roberts')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">4</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_dispatch_cards')}}</p>
                  <p>{{$t('message.tutorial_replacement_rule')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">5</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_exceed_threeofakind')}}</p>
                </div>
              </div>
            </li>
          </ul>
          <p class="novice_fonts_3">{{$t('message.tutorial_gamePlay')}}</p>
          <div class="novice_fonts_4_p">
            <p>{{$t('message.tutorial_game_cards')}}</p>
            <p>{{$t('message.tutorial_licensing_case')}}</p>
            <p>{{$t('message.tutorial_peace_bureau')}}</p>
          </div>
          <p class="novice_fonts_3">{{$t('message.tutorial_game_rules')}}</p>
          <div class="btn_left">
            <a href="javascript:void(0);">{{$t('message.tutorial_point_counting')}}</a>
          </div>
          <p class="novice_fonts_4 fonts_top_1">{{$t('message.tutorial_value_display')}}</p>
          <img
            class="puke_1"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/puke_1.png?VersionCode'"
          />
          <p class="novice_fonts_4 fonts_top_1">{{$t('message.tutorial_points')}}</p>
          <img
            class="puke_1"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/puke_2.png?VersionCode'"
          />
          <p class="novice_fonts_4 fonts_top_1">{{$t('message.tutorial_tally_zero')}}</p>
          <img
            class="puke_1"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/puke_3.png?VersionCode'"
          />
          <div class="novice_fonts_4_p fonts_top_1">
            <p>{{$t('message.tutorial_chamillionaire')}}</p>
            <p>{{$t('message.tutorial_boarding_rules')}}</p>
          </div>
          <img
            class="puke_1"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/puke_4.png?VersionCode'"
          />
          <div class="btn_left">
            <a href="javascript:void(0);">{{$t('message.tutorial_regulation')}}</a>
          </div>
          <!--规则表格-->
          <div class="rule_block rule_block_1 fonts_top_1">
            <ul class="rule_ul_1">
              <li class="first_li both_p">
                <p>{{$t('message.tutorial_cards_leisure')}}</p>
                <p>{{$t('message.tutorial_total_points')}}</p>
              </li>
              <li>{{$t('message.index_zero')}}</li>
              <li>{{$t('message.index_one')}}</li>
              <li>{{$t('message.index_two')}}</li>
              <li>{{$t('message.index_three')}}</li>
              <li>{{$t('message.index_four')}}</li>
              <li>{{$t('message.index_five')}}</li>
              <li>{{$t('message.index_six')}}</li>
              <li>{{$t('message.index_seven')}}</li>
              <li>{{$t('message.index_eight')}}</li>
              <li>{{$t('message.index_nine')}}</li>
            </ul>
            <ul class="rule_ul_1">
              <li class="first_li">（{{$t('message.tutorial_leisure_home')}}）</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_notTo_cards')}}</li>
              <li>{{$t('message.tutorial_notTo_cards')}}</li>
              <li>{{$t('message.tutorial_win_lose')}}</li>
              <li>{{$t('message.tutorial_win_lose')}}</li>
            </ul>
            <ul class="rule_ul_1">
              <li class="first_li both_p">
                <p>{{$t('message.tutorial_zhuangliangpai')}}</p>
                <p>{{$t('message.tutorial_total_points')}}</p>
              </li>
              <li>{{$t('message.index_zero')}}</li>
              <li>{{$t('message.index_one')}}</li>
              <li>{{$t('message.index_two')}}</li>
              <li>{{$t('message.index_three')}}</li>
              <li>{{$t('message.index_four')}}</li>
              <li>{{$t('message.index_five')}}</li>
              <li>{{$t('message.index_six')}}</li>
              <li>{{$t('message.index_seven')}}</li>
              <li>{{$t('message.index_eight')}}</li>
              <li>{{$t('message.index_nine')}}</li>
            </ul>
            <ul class="rule_ul_2">
              <li class="first_li">（{{$t('message.tutorial_banker')}}）</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_necessary_cards')}}</li>
              <li>{{$t('message.tutorial_casual_family')}}</li>
              <li>
                <p class="long_p">{{$t('message.tutorial_dealer_shall')}}</p>
              </li>
              <li>
                <p class="long_p">{{$t('message.tutorial_third_card')}}</p>
              </li>
              <li>{{$t('message.tutorial_family_wins')}}</li>
              <li>{{$t('message.tutorial_notTo_cards')}}</li>
              <li>{{$t('message.tutorial_win_lose')}}</li>
              <li>{{$t('message.tutorial_win_lose')}}</li>
            </ul>
          </div>
          <p class="novice_fonts_3">{{$t('message.tutorial_lottery_odds')}}</p>
          <div class="novice_fonts_4_p">
            <p>{{$t('message.tutorial_noServant_baccarat')}}</p>
            <p>{{$t('message.tutorial_types_betting')}}</p>
            <p>{{$t('message.tutorial_payout')}}</p>
          </div>

          <!--百家乐表格-->
          <div class="novice_fonts_7">
            <p>{{$t('message.tutorial_baccarat')}}</p>
          </div>
          <div class="rule_block rule_block_2 rule_top">
            <ul class="rule_ul_1">
              <li class="first_li">{{$t('message.tutorial_gamble_on')}}</li>
              <li>{{$t('message.tutorial_leisure_home')}}</li>
              <li>{{$t('message.tutorial_banker')}}</li>
              <li>{{$t('message.tutorial_drawn_game')}}</li>
              <li>{{$t('message.tutorial_idle_couples')}}</li>
              <li>{{$t('message.tutorial_banker_pair')}}</li>
              <li>{{$t('message.tutorial_large')}}</li>
              <li>{{$t('message.tutorial_small')}}</li>
            </ul>
            <ul class="rule_ul_1 green_p">
              <li class="first_li">{{$t('message.tutorial_odds')}}</li>
              <li>1：1{{$t('message.tutorial_opening_closing')}}</li>
              <li>1：0.95{{$t('message.tutorial_opening_closing')}}</li>
              <li>1：8</li>
              <li>1：11</li>
              <li>1：11</li>
              <li>1：0.5</li>
              <li>1：1.5</li>
            </ul>
          </div>

          <!--免佣百家乐表格-->
          <div class="novice_fonts_7">
            <p>{{$t('message.tutorial_servant_baccarat')}}</p>
          </div>
          <div class="rule_block rule_block_2 rule_top">
            <ul class="rule_ul_1">
              <li class="first_li">{{$t('message.tutorial_gamble_on')}}</li>
              <li>{{$t('message.tutorial_leisure_home')}}</li>
              <li>{{$t('message.tutorial_banker')}}</li>
              <li>{{$t('message.tutorial_drawn_game')}}</li>
              <li>{{$t('message.tutorial_idle_couples')}}</li>
              <li>{{$t('message.tutorial_banker_pair')}}</li>
              <li>{{$t('message.tutorial_large')}}</li>
              <li>{{$t('message.tutorial_small')}}</li>
            </ul>
            <ul class="rule_ul_1 green_p">
              <li class="first_li">{{$t('message.tutorial_odds')}}</li>
              <li>1：1{{$t('message.tutorial_opening_closing')}}</li>
              <li>
                <p class="long_p">1：1{{$t('message.tutorial_half_loss')}}</p>
              </li>
              <li>1：8</li>
              <li>1：11</li>
              <li>1：11</li>
              <li>1：0.5</li>
              <li>1：1.5</li>
            </ul>
          </div>

          <div class="novice_fonts_8 fonts_top_1">
            <p class="fonts_b">{{$t('message.tutorial_antithetical')}}</p>
            <p>
              <span class="fonts_b">[{{$t('message.tutorial_size')}}]</span>
              {{$t('message.tutorial_basis')}}
            </p>
            <p>
              <span class="fonts_b">[{{$t('message.tutorial_phrases')}}]</span>
              {{$t('message.tutorial_no_fancy')}}
            </p>
          </div>

          <p class="novice_fonts_3">{{$t('message.tutorial_points_attention')}}</p>
          <div class="novice_fonts_8 rule_top">
            <p>1. {{$t('message.tutorial_size_betting')}}</p>
            <p>2. {{$t('message.tutorial_play_limitRed')}}</p>
            <p>3. {{$t('message.tutorial_rescan')}}</p>
            <p>4. {{$t('message.tutorial_settlement_error')}}</p>
          </div>
        </div>
      </div>
      <div class="n_item n_item2" v-show="GameRuleNum == GameRuleType.DragonAndTiger">
        <div class="nov_tab_content">
          <div class="novice_fonts_1">
            <p class="fonts_1_1">{{$t('message.tutorial_dragon_tiger')}}</p>
            <p class="fonts_1_2">DRAGON TIGER</p>
          </div>
          <p class="novice_fonts_2">{{$t('message.tutorial_entertainment_platform')}}</p>

          <!--画面截图-->
          <img
            class="nov_pic"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/pic_2.jpg?VersionCode'"
          />

          <p class="novice_fonts_3 first_p">{{$t('message.tutorial_howTo_win')}}</p>
          <p class="novice_fonts_4">{{$t('message.tutorial_count_win')}}</p>
          <p class="novice_fonts_3">{{$t('message.tutorial_operational_guidelines')}}</p>
          <ul class="big_project">
            <li class="first_li">
              <div class="novice_fonts_5">1</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_click_footnote')}}</p>
                  <p>{{$t('message.tutorial_dragonTiger_draw')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">2</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_number_plate')}}</p>
                  <p>{{$t('message.tutorial_mutual')}}</p>
                </div>
              </div>
            </li>
          </ul>

          <p class="novice_fonts_3">{{$t('message.tutorial_game_rules')}}</p>
          <div class="novice_fonts_4_p">
            <p>{{$t('message.tutorial_ratio_points')}}</p>
            <p>{{$t('message.tutorial_win_decisively')}}</p>
          </div>

          <div class="rule_block rule_block_2" style="margin-top: 120px;">
            <ul class="rule_ul_1">
              <li class="first_li">{{$t('message.tutorial_gamble_on')}}</li>
              <li>{{$t('message.tutorial_dragon')}}</li>
              <li>{{$t('message.tutorial_tiger')}}</li>
              <li>{{$t('message.tutorial_drawn_game')}}</li>
            </ul>
            <ul class="rule_ul_1 green_p">
              <li class="first_li">{{$t('message.tutorial_odds')}}</li>
              <li>1：1{{$t('message.tutorial_opening_closing')}}</li>
              <li>1：1{{$t('message.tutorial_opening_closing')}}</li>
              <li>1：8</li>
            </ul>
          </div>

          <p class="novice_fonts_3">{{$t('message.tutorial_points_attention')}}</p>
          <div class="novice_fonts_8 rule_top">
            <p>1. {{$t('message.tutorial_play_limitRed')}}</p>
            <p>2. {{$t('message.tutorial_win_decisively')}}</p>
            <p>3. {{$t('message.tutorial_settlement_error')}}</p>
          </div>
        </div>
      </div>
      <div class="n_item n_item3" v-show="GameRuleNum == GameRuleType.Roulette">
        <div class="nov_tab_content">
          <div class="novice_fonts_1">
            <p class="fonts_1_1">{{$t('message.tutorial_roulette')}}</p>
            <p class="fonts_1_2">ROULETTE</p>
          </div>
          <p class="novice_fonts_2">{{this.LogoName}}{{$t('message.tutorial_human_wheel')}}</p>

          <!--画面截图-->
          <img
            class="nov_pic"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/pic_3.jpg?VersionCode'"
          />

          <p class="novice_fonts_3 first_p">{{$t('message.tutorial_howTo_win')}}</p>
          <p class="novice_fonts_4">{{$t('message.tutorial_Ivory_ball')}}</p>
          <p class="novice_fonts_3">{{$t('message.tutorial_guidelines_notes')}}</p>
          <ul class="big_project">
            <li class="first_li">
              <div class="novice_fonts_5">1</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_new_bureau')}}</p>
                  <p>{{$t('message.tutorial_deposit_chips')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">2</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_end_reciprocal')}}</p>
                  <p>{{$t('message.tutorial_rotating_disc')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">3</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_result_figures')}}</p>
                  <p>{{$t('message.tutorial_player_screen')}}</p>
                </div>
              </div>
            </li>
          </ul>

          <p class="novice_fonts_3">{{$t('message.tutorial_game_rules')}}</p>
          <div class="novice_fonts_4_p">
            <p>{{$t('message.tutorial_counter')}}</p>
            <p>{{$t('message.tutorial_stake')}}</p>
          </div>
          <p class="novice_fonts_3">{{$t('message.tutorial_lottery_odds')}}</p>
          <p class="novice_fonts_4">{{$t('message.tutorial_type')}}</p>

          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_1.jpg?VersionCode'"
          />

          <p class="novice_fonts_3">{{$t('message.tutorial_french_bet')}}</p>
          <div class="novice_fonts_8 rule_top" style="text-align: center;">
            <p>
              {{$t('message.tutorial_ellipse')}}
              <br />
              <span style="margin-left: 65px;">{{$t('message.tutorial_corona')}}</span>
            </p>
            <p>
              {{$t('message.tutorial_french_chips')}}
              <br />
              <span>{{$t('message.tutorial_legal_betting')}}</span>
            </p>
          </div>

          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_2.jpg?VersionCode'"
          />

          <p class="novice_fonts_3">{{$t('message.tutorial_points_attention')}}</p>
          <div class="novice_fonts_8 rule_top">
            <p>1. {{$t('message.tutorial_play_limitRed')}}</p>
            <!-- <p>
                        2. 骰子摇动后，偶有稳定后无法判读点数状况时，此时荷官将重摇骰，直到能够完整判读(如遇故障因素将注销所有相关注单/派彩)。
            </p>-->
            <p>2.{{$t('message.tutorial_settlement_error')}}</p>
          </div>
        </div>
      </div>
      <div class="n_item n_item4" v-show="GameRuleNum == GameRuleType.Sicbo">
        <div class="nov_tab_content">
          <div class="novice_fonts_1">
            <p class="fonts_1_1">{{$t('message.tutorial_cussec')}}</p>
            <p class="fonts_1_2">SICBO</p>
          </div>
          <div class="novice_fonts_4_p" style="margin-top: 30px;">
            <p>{{$t('message.tutorial_immortal_game')}}</p>
            <p>{{$t('message.tutorial_new_feelings')}}</p>
            <p>{{$t('message.tutorial_includes')}}</p>
            <p>{{$t('message.tutorial_attractive_odds')}}</p>
          </div>

          <!--画面截图-->
          <img
            class="nov_pic"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/pic_4.jpg?VersionCode'"
          />

          <p class="novice_fonts_3 first_p">{{$t('message.tutorial_howTo_win')}}</p>
          <p class="novice_fonts_4">{{$t('message.tutorial_player_bet')}}</p>
          <p class="novice_fonts_3">{{$t('message.tutorial_guidelines_notes')}}</p>
          <ul class="big_project">
            <li class="first_li">
              <div class="novice_fonts_5">1</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_reciprocal')}}</p>
                  <p>{{$t('message.tutorial_predictive_chips')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">2</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_noMore_bet')}}</p>
                  <p>{{$t('message.tutorial_mechanical_rolling')}}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="novice_fonts_5">3</div>
              <div class="novice_fonts_6">
                <div class="nov_p_box">
                  <p>{{$t('message.tutorial_lighting_up')}}</p>
                </div>
              </div>
            </li>
          </ul>

          <p class="novice_fonts_3">{{$t('message.tutorial_game_rules')}}</p>
          <div class="novice_fonts_4_p">
            <p>{{$t('message.tutorial_counter')}}</p>
            <p>{{$t('message.tutorial_stake')}}</p>
          </div>
          <p class="novice_fonts_3">{{$t('message.tutorial_lottery_odds')}}</p>

          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_3.jpg?VersionCode'"
          />

          <div class="novice_fonts_7">
            <p>{{$t('message.tutorial_single_note')}}</p>
          </div>
          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_4.jpg?VersionCode'"
            style="margin-top: 10px;"
          />

          <div class="novice_fonts_7">
            <p>{{$t('message.tutorial_three_dices')}}</p>
          </div>
          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_5.jpg?VersionCode'"
            style="margin-top: 10px;"
          />

          <div class="novice_fonts_7">
            <p>{{$t('message.tutorial_three_dices')}}</p>
          </div>
          <img
            class="rule_img"
            :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/rule_img_6.jpg?VersionCode'"
            style="margin-top: 10px;"
          />

          <p class="novice_fonts_3">注意事项</p>
          <div class="novice_fonts_8 rule_top">
            <p>1. {{$t('message.tutorial_play_limitRed')}}</p>
            <p>2. {{$t('message.tutorial_heavy_dice')}}</p>
            <p>3. {{$t('message.tutorial_settlement_error')}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      GameRuleNum: 'Baccarat',

      GameRuleType: {
        Baccarat: 'Baccarat',
        DragonAndTiger: 'DragonAndTiger',
        Roulette: 'Roulette',
        Sicbo: 'Sicbo'
      },
      LogoName: localStorage.getItem('LogoName')
    };
  }
};
</script>
