<template>
  <div class="item3">
    <ul class="novice_left_nav fl">
      <div class="novice_top"></div>
      <li :class="CommProblemNum == CommProblemType.DepositProblem ? 'hasSelece' : ''">
        <a
          href="javascript:void(0);"
          @click="CommProblemNum = CommProblemType.DepositProblem"
          :title="$t('message.tutorial_deposit_problem')"
        >
          <i class="novice_icon_1"></i>
          {{$t('message.tutorial_deposit_problem') | simpleContent(10)}}
        </a>
      </li>
      <li :class="CommProblemNum == CommProblemType.WithdrawalProblem ? 'hasSelece' : ''">
        <a
          href="javascript:void(0);"
          @click="CommProblemNum = CommProblemType.WithdrawalProblem"
          :title="$t('message.tutorial_drawing_money')"
        >
          <i class="novice_icon_2"></i>
          {{$t('message.tutorial_drawing_money') | simpleContent(10)}}
        </a>
      </li>
      <li :class="CommProblemNum == CommProblemType.GameProblem ? 'hasSelece' : ''">
        <a
          href="javascript:void(0);"
          @click="CommProblemNum = CommProblemType.GameProblem"
          :title="$t('message.tutorial_game_questions')"
        >
          <i class="novice_icon_3"></i>
          {{$t('message.tutorial_game_questions') | simpleContent(10)}}
        </a>
      </li>
      <li :class="CommProblemNum == CommProblemType.AccountProblem ? 'hasSelece' : ''">
        <a
          href="javascript:void(0);"
          @click="CommProblemNum = CommProblemType.AccountProblem"
          :title="$t('message.tutorial_account_issues')"
        >
          <i class="novice_icon_4"></i>
          {{$t('message.tutorial_account_issues') | simpleContent(10)}}
        </a>
      </li>
    </ul>

    <div class="novice_right_course fr">
      <div class="help_box">
        <div
          class="n_problems_item n_problems_item1"
          v-show="CommProblemNum == CommProblemType.DepositProblem"
        >
          <h2 class="box_title">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+this.$MessageLang+'/helpCenter_title1.png?VersionCode'"
            />
          </h2>

          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_howTo_deposit')}}</h2>
            <p class="help_course">{{$t('message.tutorial_deposit_method')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_deposit_requirements')}}</h2>
            <p class="help_course">{{this.LogoName}}{{$t('message.tutorial_prompt_notification')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_service_charge')}}</h2>
            <p class="help_course">{{$t('message.tutorial_company_income')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_payable')}}</h2>
            <p class="help_course">{{$t('message.tutorial_legal_registration')}}</p>
          </div>
        </div>

        <div
          class="n_problems_item n_problems_item2"
          v-show="CommProblemNum == CommProblemType.WithdrawalProblem"
        >
          <h2 class="box_title">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+this.$MessageLang+'/helpCenter_title2.png?VersionCode'"
            />
          </h2>

          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_withdraw_money')}}</h2>
            <p class="help_course">{{$t('message.tutorial_application_withdrawal')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_amount_withdrawal')}}</h2>
            <p class="help_course">{{$t('message.tutorial_single_withdrawal')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_maximum_withdrawal')}}</h2>
            <p class="help_course">{{$t('message.tutorial_number_withdrawals')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_withdrawal_commission')}}</h2>
            <p class="help_course">{{this.LogoName}}{{$t('message.tutorial_target_washQuantity')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_payment_date')}}</h2>
            <p class="help_course">{{$t('message.tutorial_membership_center')}}</p>
          </div>
        </div>

        <div
          class="n_problems_item n_problems_item3"
          v-show="CommProblemNum == CommProblemType.GameProblem"
        >
          <h2 class="box_title">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+this.$MessageLang+'/helpCenter_title3.png?VersionCode'"
            />
          </h2>

          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_login')}}</h2>
            <p class="help_course">{{$t('message.tutorial_login_mode')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_immortal')}}</h2>
            <p class="help_course">{{$t('message.tutorial_redLimit_selection')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_video_picture')}}</h2>
            <p class="help_course">{{$t('message.tutorial_video_line')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_broken_line')}}</h2>
            <p class="help_course">{{$t('message.tutorial_note_list')}}</p>
          </div>
          <!-- <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_game_client')}}</h2>
            <p class="help_course">{{$t('message.tutorial_app_download')}}</p>
          </div>-->
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_input_message')}}</h2>
            <p class="help_course">{{$t('message.tutorial_message_box')}}</p>
          </div>
          <!-- <div class="help_list">
            <h2
              class="help_title"
            >{{$t('message.tutorial_free_trial')}}{{this.LogoName}}{{$t('message.tutorial_game_interface')}}</h2>
            <p
              class="help_course"
            >{{$t('message.tutorial_need_permission')}}{{this.LogoName}}{{$t('message.tutorial_dialog_box')}}</p>
          </div>-->
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_loading_game')}}</h2>
            <p class="help_course">{{$t('message.tutorial_adobeFlash_player')}}</p>
          </div>
        </div>

        <div
          class="n_problems_item n_problems_item4"
          v-show="CommProblemNum == CommProblemType.AccountProblem"
        >
          <h2 class="box_title">
            <img
              :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/'+this.$MessageLang+'/helpCenter_title4.png?VersionCode'"
            />
          </h2>

          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_establish_account')}}</h2>
            <p class="help_course">{{$t('message.tutorial_account_number')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_forget_password')}}</h2>
            <p class="help_course">{{$t('message.tutorial_hotline')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_modify_password')}}</h2>
            <p class="help_course">{{$t('message.tutorial_password_modification')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_guarantee_account')}}</h2>
            <p class="help_course">{{$t('message.tutorial_account_stolen')}}</p>
          </div>
          <div class="help_list">
            <h2 class="help_title">{{$t('message.tutorial_account_funds')}}</h2>
            <p class="help_course">{{$t('message.tutorial_manual_audit')}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      CommProblemNum: 'DepositProblem',

      CommProblemType: {
        DepositProblem: 'DepositProblem',
        WithdrawalProblem: 'WithdrawalProblem',
        GameProblem: 'GameProblem',
        AccountProblem: 'AccountProblem'
      },
      LogoName: localStorage.getItem('LogoName')
    };
  },

  created: function () {
    this.init();
  },

  methods: {
    init: function () {
      this.$parent.TabType = 'CommProblem';
    }
  }
};
</script>
