<template>
    <div class=" content-news_details content_skill">
        <div class="details_title_up">
            <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/novice/skill_details_title.png?VersionCode'" />
            <a href="javascript:void(0);" @click="ReturnBack();">
                <img :src="$ResourceCDN+'/EditionImg/Lambor1.0/images/web/promotion/details_return.png?VersionCode'" />{{$t('message.activity_return')}}
            </a>
        </div>

        <div class="more_news">
            <!--百家樂Detail-->
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 1">
                <p class="details_title">{{$t('message.tutorial_control_yourself')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_betting_chips')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_negative_pursuit')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_poor_condition')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_trance')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 2">
                <p class="details_title">{{$t('message.tutorial_game_mode')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_non_professional')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_strategies')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_minus_injection')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 3">
                <p class="details_title">{{$t('message.tutorial_good_choice')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_first_note')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_annotation')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 4">
                <p class="details_title">{{$t('message.tutorial_insurance_betting')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_investment_principle')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_high_points')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_village_insurance')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_leisure_insurance')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_banker_bohe')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_win_victory')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 5">
                <p class="details_title">{{$t('message.tutorial_double_betting')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_great_number')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_winning_skills')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_gambling_skills')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 6">
                <p class="details_title">{{$t('message.tutorial_single_technique')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_mentality')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_OneTime_betting')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_threeKey_points')}}
                    </div>
                    <div>
                        １　{{$t('message.tutorial_excellent_grasp')}}
                    </div>
                    <div>
                        ２　{{$t('message.tutorial_gambling')}}
                    </div>
                    <div>
                        ３　{{$t('message.tutorial_greedy')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 7">
                <p class="details_title">{{$t('message.tutorial_advancedPurchase_method')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_buying_methods')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_combination')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_shop_licence')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_wang_men')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_zhuangxian_change')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 8">
                <p class="details_title">{{$t('message.tutorial_card_table')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_chasing_dragon')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_turn_defeat')}}
                    </div>
                    <div>
                        １　{{$t('message.tutorial_patient_observation')}}
                    </div>
                    <div>
                        ２　{{$t('message.tutorial_opportunity')}}
                    </div>
                    <div>
                        ３　{{$t('message.tutorial_continuous_transportation')}}
                    </div>
                    <div>
                        ４　{{$t('message.tutorial_continuation_bet')}}
                    </div>
                    <div>
                        ５　{{$t('message.tutorial_observation_note')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_rational_use')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 9">
                <p class="details_title">{{$t('message.tutorial_strategic_skills')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_player_experience')}}
                    </div>
                    <div>
                        一　{{$t('message.tutorial_high_winningRate')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_high_profit')}}
                    </div>
                    <div>
                        二　{{$t('message.tutorial_annotation_method')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_overweight')}}
                    </div>
                    <div>
                        三　{{$t('message.tutorial_risk_management')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_time_use')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 10">
                <p class="details_title">{{$t('message.tutorial_Gamblers')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_cutting_gambling')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_overcharge_opportunity')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_coding_mechanism')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_gambler_pressure')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 11">
                <p class="details_title">{{$t('message.tutorial_twoStar_code')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_length_explanation')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_bad_conditions')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_tortured_hands')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_threeStar_code')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Baccarat && DetailIndex == 12">
                <p class="details_title">{{$t('message.tutorial_grade_up')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_staircase')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_amount_bets')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_betting_mode')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_input_retreat')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_repeatedly_advancing')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_modification')}}
                    </div>
                </div>
            </div>
            <!--輪盤Detail-->
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 1">
                <p class="details_title">{{$t('message.tutorial_repeated_betting')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_money_roulette')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_gambling_money')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 2">
                <p class="details_title">{{$t('message.tutorial_prove_effective')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_regional_betting')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_locking_data')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_classification_note')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_digital_sort')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_bigSmall_black')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_bigSmall_red')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_winning_prize')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_follow_up')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_practise_fraud')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 3">
                <p class="details_title">{{$t('message.tutorial_dozen_methods')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_human_gambling')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_silver')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_rules_custody')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 4">
                <p class="details_title">{{$t('message.tutorial_average_bet')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_trend_chart')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_red_notes')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_corner_bet')}}
                    </div>
                    <div>
                       {{$t('message.tutorial_winning_probability')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_interval_betting')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 5">
                <p class="details_title">{{$t('message.tutorial_grab_treasure')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_accumulate_steadily')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_Linea_A')}}
                    </div>
                    <div>
                       {{$t('message.tutorial_Linea_B')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_Linea_C')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_base_code')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Roulette && DetailIndex == 6">
                <p class="details_title">{{$t('message.tutorial_most_practical')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_dozen_play')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_singleDouble_method')}}
                    </div>
                </div>
            </div>
            <!--骰寶Detail-->
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Sicbo && DetailIndex == 1">
                <p class="details_title">{{$t('message.tutorial_three_risks')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_summarize_experience')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_low_risk')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_bottom_pour')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_medium_risk')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_combination_bet')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_unit_annotation')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_the_totalTwelve')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_aAffordability')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_highRisk_betting')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_high_return')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_the_totalEight')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_the_totalThirteen')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_guess_sum')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Sicbo && DetailIndex == 2">
                <p class="details_title">{{$t('message.tutorial_roll_dice')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_chinese_dice')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_betting_project')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_dice_roller')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_grasp')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_hawker')}}
                    </div>
                </div>
            </div>
            <!--otherDetail-->
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 1">
                <p class="details_title">{{$t('message.tutorial_texas')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_texas_poker')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_limit_texas')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_even_bets')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_pot_limit')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_players_bets')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_no_limit')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_multiple_betting')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 2">
                <p class="details_title">{{$t('message.tutorial_secret_book')}} </p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_offensive_strategies')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_beginning_formula')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_song_beginning')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_loose_tight')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_rent_debt')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_ladder_player')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_redouble')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_connect_flowers')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_levels_stability')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_not_bad')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_game_tight')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_extra_income')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_enjoy_market')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 3">
                <p class="details_title">{{$t('message.tutorial_baccarat_experience')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_baccarat_gambling')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_trueMoney_baccarat')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_card_transport')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_happy_card')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_positive_ideas')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_gambling_game')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 4">
                <p class="details_title">{{$t('message.tutorial_chronological_colour')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_capital_chain')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_stop_loss')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_optimism')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_shortTerm_winnings')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 5">
                <p class="details_title">{{$t('message.tutorial_arbitrarily')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_great_many')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_constantly')}}
                    </div>
                </div>
            </div>
            <div class="more_course" v-show="DetailBettingTipsType == BettingTipsType.Other && DetailIndex == 6">
                <p class="details_title">{{$t('message.tutorial_double_bet')}}</p>
                <div class="news-course-p">
                    <div>
                        {{$t('message.tutorial_dichroic_ball')}}
                    </div>
                    <div>
                        {{$t('message.tutorial_multiple_bets')}}
                        <div>
                            {{$t('message.tutorial_careful_selection')}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</template>

<script>
import URLService from 'scripts/common/URLService';

export default {
    data() {
        return {
            DetailBettingTipsType: this.$route.params.BettingTipsType,

            BettingTipsType: {
                Baccarat: 'Baccarat',
                Roulette: 'Roulette',
                Sicbo: 'Sicbo',
                Other: 'Other',
            },

            DetailIndex: this.$route.params.Item,
        };
    },

    methods: {

        // 回上一頁
        ReturnBack: function () {
            if (localStorage.getItem('tutorialListAnchor') == undefined) {
                window.history.go(-1);
            } else {
                const tempObj = URLService.GetObjFromUrlParameter(localStorage.getItem('tutorialListAnchor'));
                tempObj.FromDetail = true;
                localStorage.setItem('tutorialListAnchor', URLService.GetUrlParameterFromObj(tempObj));
                this.$router.push({ name: 'TutorialSkills' });
            } // end if
        }, // end ReturnBack
    },
};
</script>

