<template>
  <div class="main main_index number">
    <!--banner-->
    <slide-banner></slide-banner>
    <!--content-->
    <div class="content">
      <div class="content-layout index_content">
        <!-- 公告 -->
        <lambor-marquee></lambor-marquee>

        <div class="active_log_reg">
          <!--优惠活动-->
          <easy-activity></easy-activity>
          <!--快速入口-->
          <fast-entrance></fast-entrance>
        </div>
        <!--热门游戏-->
        <hot-game></hot-game>
        <!--我們的優勢-->
        <advantage></advantage>
      </div>
    </div>

    <!-- 盈利榜 -->
    <main-suspension></main-suspension>
  </div>
</template>

<script type="text/javascript">
import SlideBanner from '@/components/sub/index/slideBanner';
import EasyActivity from '@/components/sub/index/easyActivity';
// import FastEntrance from '@/components/sub/index/fastEntrance';
import FastEntrance from '@/mod/k05/components/sub/index/fastEntrance';
import HotGame from '@/components/sub/index/hotGameNew'; // 引入新版热门游戏
import Advantage from '@/components/sub/index/advantage';
import LamborMarquee from '@/components/public/marquee';
import mainSuspension from '@/components/public/mainSuspension';

export default {
  components: {
    SlideBanner,
    EasyActivity,
    HotGame,
    FastEntrance,
    Advantage,
    mainSuspension,
    LamborMarquee
  }
};
</script>
