<template>
  <div class="clearfix t_part">
    <h2 class="rows">
      <span>你好，{{LoadMainPageDataModel.Acct}}</span>
      <router-link to="/" class="backbtn fr">>>返回首页</router-link>
    </h2>
  </div>
</template>

<script>
import { html5HaDr } from '../../../assets/scripts/comTest/sub/ptHtml5Lobby/ptHtml5LobbyHeader.js';
export default {
  mixins: [html5HaDr]
};
</script>
