.swiper-slid {
  width: 100%;
}

.swiper-slide-btn {
  width: 227px;
  height: 57px;
  border-radius: 30px;
  border: 2px solid rgba(255, 84, 31, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;

  .img_1 {
    display: block;
  }

  .athleticsMaintenance {
    cursor: default;

    img {
      width: 100%;
      height: 100%;
      margin-top: 6px;
      cursor: default;
    }
  }

  .enter-game {
    display: block;

    &.original {
      cursor: pointer;
      width: 240px;
      height: 57px;
      border-radius: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      color: #fff;
      text-align: center;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;

        .img_1 {
          display: none;
        }

        .enter-game {
          display: block;
        }
      }
    }
  }

  img {
    width: 227px;
    height: 57px;
    cursor: pointer;
  }
}
