<template>
  <div class="withdraw_apply">
    <a class="blue_sm add_apply" @click="$parent.SwitchMode(1)" href="javascript:void(0);">{{
      $t("message.activity_return")
    }}</a>
    <div class="apply_table table_block purple_cont">
      <div class="table5_h_cont" id="scroll_table5">
        <table cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="w_2">{{ $t("message.member_application_time") }}</th>
              <th class="w_2">{{ $t("message.member_withdrawal_amount") }}</th>
              <th class="w_2">{{ $t("message.member_order_number") }}</th>
              <th class="w_2">{{ $t("message.member_state") }}</th>
              <th class="w_2">{{ $t("message.agent_remarks") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="Item in WithdrawPageList">
              <td>
                <p>{{ Item.CreateTick | utcTicksToLocalTime("YYYY/MM/DD HH:mm") }}</p>
              </td>
              <td>{{ Item.VAmt }}</td>
              <td>{{ Item.ID }}</td>
              <td
                v-if="
                  Item.Status.Value === '1201' ||
                  Item.Status.Value === '1202' ||
                  Item.Status.Value === '1209' ||
                  Item.Status.Value === '1210'
                "
              >
                {{ $t("message.member_processing") }}
              </td>
              <td v-else>{{ Item.Status.Name }}</td>
              <td>
                <a
                  v-show="Item.IsCancel !== true && Item.Status.Value === '1201'"
                  class="alert_click1"
                  @click="TriggerCancelForm(Item)"
                  href="javascript:void(0);"
                  >{{ $t("message.member_withdrawal_application") }}</a
                >
                <a
                  style="color: #7b7a7b; cursor: default;"
                  v-show="Item.IsCancel == true && Item.Status.Value === '1201'"
                  class="alert_click1 hasblock"
                  href="javascript:void(0);"
                  >{{ $t("message.member_withdraw") }}</a
                >
                <a class="remark-content" v-show="Item.Status.Value !== '1201'" :title="Item.RejectRemark">{{
                  Item.RejectRemark
                }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <paginate :PageCount="PageInfo.PageCount"></paginate>
    </div>
    <div class="purple_tip">{{ $t("message.member_this_page_is_calculated_by_beijing_time") }}</div>
    <div id="withdrawCancelForm" class="alert_box_content tel_alert_box re_h">
      <span class="alert_close" @click="CloseWindow()">
        <img :src="$ResourceCDN + '/EditionImg/Lambor1.0/images/web/MemberNew/btn-close.png'" />
      </span>
      <!-- <div class="descr_title no_line clearfix">
                <a class="icon_close" @click="CommUtility.WebCloseUniqueForm('withdrawCancelForm')" href="javascript:void(0);"></a>
      </div>-->
      <div class="descr_p">
        <p class="p_blue" style="margin-bottom: 0;">{{ $t("message.member_determine_cancellation") }}</p>
      </div>
      <div class="alert_btn_both">
        <a class="btn1" @click="CancelWithdrawApply()" href="javascript:void(0);">{{
          $t("message.member_ascertain")
        }}</a>
      </div>
    </div>
  </div>
</template>

<script>
import CommUtility from "scripts/common/CommUtility"
import EventBus from "scripts/common/EventBus"
import Paginate from "@/mod/k19/components/sub/paginate"
import PersonalCenterService from "scripts/businessLogic/personalCenterService"

export default {
  data() {
    return {
      CommUtility: CommUtility,
      WithdrawApplyLogList: [],
      ProcessingFlag: false,
      CurrentCancelItem: {},

      //  2018.12.03 SeyoChen 分页
      PageInfo: {
        PageNo: 1,
        PageSize: 10,
        PageCount: 0,
        TotalCount: 0
      },
      WithdrawPageList: {}
      //  2018.12.03 SeyoChen 分页 end
    }
  },
  created: function () {
    this.LoadApplyList(1) //  2018.12.03 SeyoChen 分页
    const self = this
    EventBus.$on("SignalR_UpdateWithdrawalList", () => {
      self.LoadApplyList()
    })
  },
  methods: {
    // 載入取款申請列表
    LoadApplyList: async function (pageNo) {
      const inputObj = {
        PagingInfo: {
          PageNo: -1,
          PageSize: -1
        }
      }
      const data = await PersonalCenterService.WithdrawApply_LoadMainPage(inputObj)
      if (data.Ret === 0) {
        for (let i = 0; i < data.Data.WithdrawApplyLogList.length; i++) {
          data.Data.WithdrawApplyLogList[i].IsCancel = false
        }
        this.WithdrawApplyLogList = data.Data.WithdrawApplyLogList
      }

      //  2018.12.03 SeyoChen 分页
      const start = (pageNo - 1) * this.PageInfo.PageSize
      const end = pageNo * this.PageInfo.PageSize

      this.PageInfo.PageCount = Math.ceil(this.WithdrawApplyLogList.length / this.PageInfo.PageSize)
      this.WithdrawPageList = this.WithdrawApplyLogList.slice(start, end)
      EventBus.$emit("Paginate_ResetPageNo", pageNo)
      //  2018.12.03 SeyoChen 分页 end
    },
    // 获取跳页 page  2018.12.03 SeyoChen
    GetCurrentPageData: function (page) {
      this.LoadApplyList(page)
    },
    //  2018.12.03 SeyoChen 分页 end

    // 關閉視窗
    CloseWindow: function () {
      CommUtility.WebClosealertboxForm("withdrawCancelForm")
    }, // end CloseWindow

    // 觸發取款彈窗
    TriggerCancelForm: function (Item) {
      this.CurrentCancelItem = Item
      CommUtility.WebShowAlertboxForm("withdrawCancelForm")
    },
    // 取消取款申請
    CancelWithdrawApply: async function () {
      CommUtility.WebClosealertboxForm("withdrawCancelForm")
      if (this.ProcessingFlag === true) {
        return
      }

      this.ProcessingFlag = true

      const inputObj = {
        ID: this.CurrentCancelItem.ID,
        Reason: this.$t("message.member_cancellation_oneself")
      }

      EventBus.$emit("GlobalLoadingTrigger", true)
      const data = await PersonalCenterService.WithdrawApply_Cancel(inputObj)
      EventBus.$emit("GlobalLoadingTrigger", false)

      this.ProcessingFlag = false
      if (data.Ret === 0) {
        this.CurrentCancelItem.IsCancel = true
        // EventBus.$emit('memberHeaderUpdateBalance');
      }

      const notifyData = {
        NotifyMessage: data.Message
      }

      EventBus.$emit("showNotifyMemberMessage", notifyData)
    }
  },
  beforeDestroy() {
    EventBus.$off("SignalR_UpdateWithdrawalList")
  },
  components: {
    Paginate
  },
  mounted() {
    // 滚动条
    $("#scroll_table5").perfectScrollbar()
  }
}
</script>
