<template>
  <div style="text-align:center"
       v-if="this.PageCount>0">
    <paginate ref="paginate"
              :page-count="PageCount"
              :page-range="5"
              :click-handler="$parent.GetCurrentPageData"
              :prev-text="'前一页'"
              :next-text="'后一页'"
              :container-class="'paginate'"
              v-if="!paginateType"></paginate>
    <div class="paginate"
         v-else>
      <el-pagination :class="{'changePaginateStyle_paginate':changePaginateStyle}"
                     ref="paginate"
                     layout="prev, pager, next"
                     :total="PageCount*pageSize"
                     :page-size='pageSize'
                     @current-change="$parent.GetCurrentPageData"
                     prev-text="上一页"
                     next-text='下一页'>
      </el-pagination>
    </div>
  </div>
</template>

<style lang="less" rel="stylesheet/less">
/* lottery页面修改element-ui分页组件 */
/* poker页面修改element-ui分页组件 */
/* liveVideo页面修改element-ui分页组件 */
#changeDefaultStyle(changePaginateStyle);

#changeDefaultStyle(@pageName) {
  .paginate .@{pageName}_paginate {
    button {
      background: rgba(51, 51, 51, 1);
      color: rgba(255, 255, 255, 1);
      border-radius: 4px;
      &.btn-next {
        color: #fff;
        margin-left: 10px;
      }
      &.btn-prev {
        color: #fff;
      }
    }
    .el-pager li {
      border: 1px solid rgba(51, 51, 51, 1);
      margin-left: 10px;
      background: rgba(51, 51, 51, 1);
      color: rgba(255, 255, 255, 1);
      border-radius: 4px;
      &.active {
        background: rgba(255, 255, 255, 1);
        color: rgba(51, 51, 51, 1);
      }
    }
  }
}
</style>

<script>
import Paginate from 'vuejs-paginate';
import EventBus from 'scripts/common/EventBus';

export default {
  props: {
    PageCount: 0,
    PageNo: undefined,
    paginateType: {
      type: String,
      default: ""
    },
    pageSize: {
      type: Number,
      default: 10
    },
    changePaginateStyle: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Paginate
  },
  created: function () {
    const self = this;
    EventBus.$on('Paginate_ResetPageNo', data => {
      if (self.$refs.paginate === undefined) {
        return;
      }

      if (data === undefined) {
        self.$refs.paginate.selected = 0;
      } else {
        self.$refs.paginate.selected = data - 1;
      }
    });
  },
  methods: {
    RetSetPageNo: function () {
      if (this.PageCount > 0) {
        this.$refs.paginate.selected = 0;
      }
    }
  },
  beforeDestroy () {
    EventBus.$off('Paginate_ResetPageNo');
  }
};
</script>
